Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

chore(capacitor agent): add release notes v1.6.7
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-167.mdx
Owners: none

chore(flutter agent): add release notes v1.2.7
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-127.mdx
Owners: none

chore(react-native agent): add release notes v1.8.5
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-185.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

chore: update android agent 7.7.6
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-124.mdx
Owners: none

Update chart-types.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
Owners: none

Update NextJs example app link for Node APM instrumentation
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
Owners: none

Create go-agent-3-44-1.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-44-1.mdx
Owners: none

feat(srx): updated docs set 10.51.1 as base version for SRX net integration
  src/content/docs/vulnerability-management/applications/overview.mdx
  src/content/docs/vulnerability-management/getting-started/integrations/overview.mdx
Owners: none

feat(srx): revert to previous value for accuracy
  src/content/docs/vulnerability-management/applications/overview.mdx
Owners: none

feat: Add release notes for NRDOT 1.18.0
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2026-06-22.mdx
Owners: none

Update newrelic-agent.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-agent.mdx
Owners: none

Removed staging link.
  src/content/docs/ebpf/troubleshooting/no-ui-data.mdx
Owners: none

WIP
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-service-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-user-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-workload-identity-federation.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-google-cloud-platform-services-new-relic.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/gcp-integration-metrics.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/introduction-google-cloud-platform-integrations.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/understand-your-gcp-data.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/troubleshooting/gcp-integration-api-authentication-errors.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/troubleshooting/troubleshooting-gcp-integrations.mdx
  src/nav/infrastructure.yml
Owners: none

fix: ecs running task config
  src/content/docs/opentelemetry/integrations/ecs-monitoring/ecs-ec2.mdx
  src/content/docs/opentelemetry/integrations/ecs-monitoring/ecs-fargate.mdx
Owners: none

updated the screenshots, eventFilters field and other fixes
  src/content/docs/browser/new-relic-browser/configuration/configure-ajax-request-events.mdx
  src/content/docs/browser/new-relic-browser/configuration/obfuscate-browser-agent-data.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/troubleshoot-ajax-data-collection.mdx
  static/images/session_replay_player.webp
Owners: none

fixes the nominclature
  src/content/docs/apis/nerdgraph/examples/browser-monitoring-config-nerdgraph.mdx
  src/content/docs/browser/new-relic-browser/configuration/configure-ajax-request-events.mdx
  src/content/docs/browser/new-relic-browser/configuration/obfuscate-browser-agent-data.mdx
Owners: none

Add gauge screenshot and finalize settings labels per viz.gauge schema
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  static/images/queries-nrql_screenshot_gauge-chart.webp
Owners: none

fix(agent-control): fix extra indentation in troubleshoot log config snippet
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
Owners: none

1-min polling information added
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-service-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-workload-identity-federation-terraform.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-workload-identity-federation.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/integrations-custom-roles.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/polling-intervals-gcp-integrations.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/understand-your-gcp-data.mdx
  src/nav/infrastructure.yml
Owners: none

fixed the cross-references and enhanced the IA
  src/content/docs/apis/nerdgraph/examples/browser-monitoring-config-nerdgraph.mdx
  src/content/docs/browser/new-relic-browser/configuration/configure-ajax-request-events.mdx
  src/content/docs/browser/new-relic-browser/configuration/obfuscate-browser-agent-data.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/troubleshoot-ajax-data-collection.mdx
Owners: none

fixes
  gatsby-config.js
  scripts/search/build-search-index.js
  src/components/CustomSearch/SearchModal.js
Owners: @newrelic/docs-engineering

Made minor changes to the doc
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-workload-identity-federation-terraform.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-workload-identity-federation.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-google-cloud-platform-services-new-relic.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/introduction-google-cloud-platform-integrations.mdx
  src/nav/infrastructure.yml
Owners: none

worked on the IA of the document
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-service-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-user-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-workload-identity-federation.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-google-cloud-platform-services-new-relic.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/gcp-integration-metrics.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/integrations-custom-roles.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/introduction-google-cloud-platform-integrations.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/polling-intervals-gcp-integrations.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/understand-your-gcp-data.mdx
  src/nav/infrastructure.yml
Owners: none

search fix
  scripts/search/build-search-index.js
Owners: @newrelic/docs-engineering

Updates
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-service-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-user-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-workload-identity-federation.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/gcp-integration-metrics.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/integrations-custom-roles.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/introduction-google-cloud-platform-integrations.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/polling-intervals-gcp-integrations.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/understand-your-gcp-data.mdx
Owners: none

Edit go-agent-3-44-1 release note per style guide
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-44-1.mdx
Owners: none

Updates
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-service-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-gcp-user-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/integrations-custom-roles.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/agentic-ai/mcp/overview.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

Add What's New post: Advanced Capabilities Now Included in Core Observability
  src/content/whats-new/2026/06/whats-new-06-18-core-observability.md
Owners: @john-withers, @aalfano7

Changes made to the structure
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/gcp-integration-metrics.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-service-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-user-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-workload-identity-federation-terraform.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-workload-identity-federation.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/integrations-custom-roles.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/introduction-google-cloud-platform-integrations.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/troubleshooting/troubleshooting-gcp-integrations.mdx
  src/nav/infrastructure.yml
Owners: none

Updates
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-workload-identity-federation.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/integrations-custom-roles.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/polling-intervals-gcp-integrations.mdx
Owners: none

update title
  src/content/whats-new/2026/06/whats-new-06-18-core-observability.md
Owners: @john-withers, @aalfano7

Folder structure
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-service-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-user-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-workload-identity-federation.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/integrations-custom-roles.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/introduction-google-cloud-platform-integrations.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/view-your-data/polling-intervals-gcp-integrations.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/view-your-data/view-and-query-your-gcp-data.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/troubleshooting/troubleshooting-gcp-integrations.mdx
  src/nav/infrastructure.yml
Owners: none

Update Core Observability post: link features, drop Documentation column
  src/content/whats-new/2026/06/whats-new-06-18-core-observability.md
Owners: @john-withers, @aalfano7

implemented review comments
  src/content/docs/apis/nerdgraph/examples/browser-monitoring-config-nerdgraph.mdx
  src/content/docs/browser/new-relic-browser/configuration/configure-ajax-request-events.mdx
  src/content/docs/browser/new-relic-browser/configuration/obfuscate-browser-agent-data.mdx
Owners: none

Format PREDICT as bold instead of code in Core Observability post
  src/content/whats-new/2026/06/whats-new-06-18-core-observability.md
Owners: @john-withers, @aalfano7

Remove learnMoreLink from Core Observability post frontmatter
  src/content/whats-new/2026/06/whats-new-06-18-core-observability.md
Owners: @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
