Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

feat(APM): Python Agent v11.1.0 corrections (part 2)
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110001.mdx
Owners: none

Update src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110001.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110001.mdx
Owners: none

Update src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110001.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110001.mdx
Owners: none

Update src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110001.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110001.mdx
Owners: none

feat(APM): Python Agent v11.1.0 corrections (part 3)
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110001.mdx
Owners: none

Update src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110001.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110001.mdx
Owners: none

chore(APM): Add notice that v11.0.0 has been yanked
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110000.mdx
Owners: none

Troubleshooting for k8s apm auto-attach & non-rails
  src/content/docs/apm/agents/ruby-agent/troubleshooting/no-data-kubernetes-auto-attach.mdx
Owners: none

Update src/content/docs/apm/agents/ruby-agent/troubleshooting/no-data-kubernetes-auto-attach.mdx
  src/content/docs/apm/agents/ruby-agent/troubleshooting/no-data-kubernetes-auto-attach.mdx
Owners: none

new image
  static/images/errors-inbox_screenshot-full_users-impacted.webp
Owners: none

feat: measure-content-retention
  package.json
  scripts/measure_content_retention.py
Owners: @newrelic/docs-engineering

fix: verify-mdx errors
  package.json
  src/i18n/content/pt/docs/cci/configure-cci/general-setting.mdx
Owners: @newrelic/docs-engineering

fix: verify-mdx errors
  src/i18n/content/es/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/fr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/kr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/pt/docs/alerts/get-notified/notification-integrations.mdx
Owners: none

fix: mdx error
  src/i18n/content/pt/docs/cci/configure-cci/general-setting.mdx
Owners: none

fixing-error
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

Update query-account-audit-logs-nrauditevent.mdx
  src/content/docs/accounts/accounts/account-maintenance/query-account-audit-logs-nrauditevent.mdx
Owners: none

chore [fix]: For customers on compute pricing plan, user type setup is not required
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
Owners: none

fix: solve merge issues
  src/content/docs/logs/log-collectors/log-collector-management.mdx
  src/content/docs/new-relic-control/getting-started.mdx
  src/nav/new-relic-control.yml
Owners: none

chore:[doc-fix]: Removed the NrCustomerMTDConsumption attribute as suggested by PM
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
Owners: none

Update compute-management.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-management.mdx
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

chore: Adds Node.js agent v13.4.0 release notes.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-13-4-0.mdx
Owners: none

chore(APM): Fix typos in v11.0.0 release notes
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110000.mdx
Owners: none

Update query-account-audit-logs-nrauditevent.mdx
  src/content/docs/accounts/accounts/account-maintenance/query-account-audit-logs-nrauditevent.mdx
Owners: none

feat(NR-447407): add linux hosts documentation (PP)
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/overview.mdx
  src/content/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/content/docs/new-relic-control/agent-control/upgrading.mdx
  src/content/docs/new-relic-control/getting-started.mdx
Owners: none

fix: solve merge issues
  src/content/docs/new-relic-control/agent-control/agent-types.mdx
  src/content/docs/new-relic-control/agent-control/architecture.mdx
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/monitoring.mdx
  src/content/docs/new-relic-control/agent-control/overview.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/content/docs/new-relic-control/agent-control/upgrading.mdx
  src/nav/new-relic-control.yml
Owners: none

feat(NR-447407): integrate changes from PR #21761 for consistent GA/PP messaging
  src/content/docs/logs/log-collectors/log-collector-management.mdx
  src/content/docs/new-relic-control/agent-control/overview.mdx
  src/content/docs/new-relic-control/getting-started.mdx
Owners: none

feat: Add release notes for Kubernetes integration v3.45.3
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-45-3.mdx
Owners: none

feat(NR-442406): add blog post announcement
  src/content/whats-new/2025/09/whats-new-30-09-agent-control-releases.md
Owners: @john-withers, @aalfano7

fix(NR-NR-445734): fix wording to comply with legal review
  src/content/docs/logs/log-collectors/log-collector-management.mdx
  src/content/docs/new-relic-control/agent-control/agent-types.mdx
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/monitoring.mdx
  src/content/docs/new-relic-control/agent-control/overview.mdx
  src/content/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/content/docs/new-relic-control/agent-control/upgrading.mdx
  src/content/docs/new-relic-control/getting-started.mdx
Owners: none

fix: solve merge issues
  src/content/docs/logs/log-collectors/log-collector-management.mdx
  src/content/docs/new-relic-control/agent-control/agent-types.mdx
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/monitoring.mdx
  src/content/docs/new-relic-control/agent-control/overview.mdx
  src/content/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/content/docs/new-relic-control/agent-control/upgrading.mdx
  src/content/docs/new-relic-control/getting-started.mdx
  src/nav/new-relic-control.yml
Owners: none

feat(NR441141): review docs for agent control GA (kubernetes)
  src/content/docs/logs/log-collectors/log-collector-management.mdx
  src/content/docs/new-relic-control/agent-control/agent-types.mdx
  src/content/docs/new-relic-control/agent-control/architecture.mdx
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/monitoring.mdx
  src/content/docs/new-relic-control/agent-control/overview.mdx
  src/content/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/content/docs/new-relic-control/agent-control/upgrading.mdx
  src/content/docs/new-relic-control/getting-started.mdx
  src/nav/new-relic-control.yml
  static/images/agent-control-architecture.png
Owners: none

incorporated Fleet Control GA announcement
  src/content/whats-new/2025/09/whats-new-30-09-agent-control-releases.md
  src/content/whats-new/2025/09/whats-new-30-09-new-relic-control.md
Owners: @john-withers, @aalfano7

The initial docs update for NR Fleet Control K8s GA and Hosts PP.
  src/content/docs/new-relic-control/fleet-control/authentication.mdx
  src/content/docs/new-relic-control/fleet-control/manage-fleets.mdx
  src/content/docs/new-relic-control/fleet-control/overview.mdx
  src/content/docs/new-relic-control/fleet-control/security.mdx
  src/content/docs/new-relic-control/fleet-control/setup.mdx
  src/content/docs/new-relic-control/fleet-control/troubleshooting.mdx
  src/content/docs/new-relic-control/getting-started.mdx
  src/nav/new-relic-control.yml
  static/images/fleet-control-security-diagram.webp
  static/images/fleet-control-summary.webp
  static/images/fleet-control-troubleshooting.webp
Owners: none

Updated manage-fleets.mdx and security.mdx based on legal's recommendatons. I also scrubbed several screenshots for additional info like account name, agent IDs, etc.
  src/content/docs/new-relic-control/fleet-control/manage-fleets.mdx
  src/content/docs/new-relic-control/fleet-control/security.mdx
  static/images/fleet-control-add-me-deployment.webp
  static/images/fleet-control-agent-options.webp
  static/images/fleet-control-agents-page.webp
  static/images/fleet-control-auto-upgrade-banner.webp
  static/images/fleet-control-canary-action.webp
  static/images/fleet-control-deployment-pane-gke.webp
  static/images/fleet-control-me-unassigned-tab.webp
  static/images/fleet-control-remove-me.webp
Owners: none

Made a few styleguide-related edits
  src/content/docs/new-relic-control/fleet-control/manage-fleets.mdx
  src/content/docs/new-relic-control/fleet-control/overview.mdx
  src/content/docs/new-relic-control/fleet-control/security.mdx
  src/content/docs/new-relic-control/fleet-control/setup.mdx
Owners: none

Update getting-started.mdx
  src/content/docs/new-relic-control/getting-started.mdx
Owners: none

chore[live URLs]: live URLs can only be managed by NerdGraph API. Updated the callout to reflect it correctly
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-externally.mdx
Owners: none

Annount `newrelic deployments` deprecation
  src/content/docs/apm/agents/ruby-agent/features/record-deployments-ruby-agent.mdx
Owners: none

Add infra-agent 1.69.0 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1690.mdx
Owners: none
