Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

chore: hopefully cosmetic changes should work now?
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: hopefully cosmetic changes should work now?
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: hopefully cosmetic changes should work now?
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: more cosmetic changes
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: more cosmetic changes
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: probably the final set of cosmetic changes to logs
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: introduce immediate change to test parallel build that will break
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
Owners: @john-withers, @aalfano7

chore: workflow concurrency test 1
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: workflow concurrency test 1, change to trigger concurrency
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
Owners: @john-withers, @aalfano7

chore: revert concurrency logic, revisit tomorrow
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
Owners: @john-withers, @aalfano7

chore: revert concurrency logic, revisit tomorrow
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: concurrency test v2
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: concurrency test v2, trigger concurrency now
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
Owners: @john-withers, @aalfano7

chore: revert concurrency strategy v2
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
Owners: @john-withers, @aalfano7

chore: revert concurrency strategy v2 This reverts commit 62c2af49367a3f5bc15e15d63bbcbdac06dd34f0.
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

improve example
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

Enhance Kubernetes job manager configuration details
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

Update new-relic.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/new-relic.mdx
Owners: none

Apply suggestion from @pranav-new-relic
  src/content/docs/data-apis/manage-data/migrate-drop-rules-to-pipeline-cloud-rules.mdx
Owners: none

Update migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/content/docs/data-apis/manage-data/migrate-drop-rules-to-pipeline-cloud-rules.mdx
Owners: none

Update update-serverless-monitoring-aws-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/update-serverless-monitoring-aws-lambda.mdx
Owners: none

added the new mutations and remaining review comments
  src/content/docs/change-tracking/config/nerdgraph.mdx
Owners: none

Update update-serverless-monitoring-aws-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/update-serverless-monitoring-aws-lambda.mdx
Owners: none

remove additional pages and nav config
  src/content/docs/distributed-tracing/infinite-tracing-on-premise/infinite-tracing-introduction.mdx
  src/nav/distributed-tracing.yml
Owners: none

new sythetic examples
  src/content/eol/2025/11/eol-chrome-140-node-22-synthetics.md
Owners: none

Updated the indentation and fixed other issues
  src/content/docs/distributed-tracing/infinite-tracing-on-premise/bring-your-own-cache.mdx
Owners: none

chore: rename NRDOT agent type
  src/i18n/content/es/docs/infrastructure-as-code/terraform/agent-control.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/agent-control.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/agent-control.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/agent-control.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/agent-control.mdx
Owners: none

chore(agent-control): rename NRDOT agent type
  src/content/docs/infrastructure-as-code/terraform/agent-control.mdx
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/i18n/content/es/docs/new-relic-control/agent-control/configuration.mdx
  src/i18n/content/fr/docs/new-relic-control/agent-control/configuration.mdx
  src/i18n/content/jp/docs/new-relic-control/agent-control/configuration.mdx
  src/i18n/content/kr/docs/new-relic-control/agent-control/configuration.mdx
  src/i18n/content/pt/docs/new-relic-control/agent-control/configuration.mdx
Owners: none

feat(mcp): added more troubleshooting content
  src/content/docs/agentic-ai/mcp/overview.mdx
  src/content/docs/agentic-ai/mcp/setup.mdx
  src/content/docs/agentic-ai/mcp/troubleshoot.mdx
Owners: none

fix the nav strcuture
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/java-extensions-k8s-auto-attach.mdx
  src/nav/kubernetes-pixie.yml
Owners: none

1st draft
  src/content/docs/vulnerability-management/cloud-misconfig-prioritization.mdx
  src/content/docs/vulnerability-management/cloud-misconfig-remediation.mdx
  src/content/docs/vulnerability-management/cloud-misconfig-setup.mdx
  src/content/docs/vulnerability-management/cloud-workflow-misconfig.mdx
  src/content/docs/vulnerability-management/security-workflow-cloud-misconfig.mdx
  src/nav/vuln-management.yml
Owners: none

Added image
  static/images/notebooks-navigation.webp
Owners: none

fixed the link
  src/content/docs/query-your-data/explore-query-data/notebooks/introduction-notebooks.mdx
Owners: none

Add documentation release notes for November 2 - November 7, 2025
  src/content/docs/release-notes/docs-release-notes/docs-11-07-2025.mdx
Owners: none

added new information
  src/content/docs/ebpf/k8s-installation.mdx
  src/content/docs/ebpf/linux-installation.mdx
  src/content/docs/ebpf/overview.mdx
Owners: none

feat: Add release notes for Kubernetes integration v3.50.0
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-50-0.mdx
Owners: none

Update kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Owners: none

new fixes
  src/content/docs/ebpf/best-practices.mdx
  src/content/docs/ebpf/dashboard.mdx
  src/content/docs/ebpf/k8s-installation.mdx
  src/content/docs/ebpf/linux-installation.mdx
  src/content/docs/ebpf/network-metrics.mdx
  src/content/docs/ebpf/overview.mdx
  src/content/docs/ebpf/requirements.mdx
  src/content/docs/ebpf/troubleshooting/no-ui-data.mdx
  src/content/docs/ebpf/troubleshooting/troubleshoot-k8s.mdx
  src/nav/ebpf.yml
Owners: none

new fixes
  src/nav/kubernetes-pixie.yml
Owners: none

nav-fix
  src/content/docs/ebpf/k8s-installation.mdx
  src/content/docs/ebpf/linux-installation.mdx
  src/nav/ebpf.yml
Owners: none
