Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

update kevin release notes
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-486.mdx
Owners: none

feat(mdx): add script for docs freshness check
  package.json
  scripts/listMdxFreshness.mjs
Owners: @newrelic/docs-engineering

changed doc link flask.pocoo.org > palletsProjects
  src/content/docs/apm/agents/python-agent/getting-started/instrumented-python-packages.mdx
Owners: none

flask.palletsprojects.com
  src/content/docs/apm/agents/python-agent/getting-started/instrumented-python-packages.mdx
Owners: none

feat: add product updates call out
  src/pages/eol.js
  src/pages/whats-new.js
Owners: @newrelic/docs-engineering

feat: add patent notice in the footer
  package.json
  src/layouts/HomePageLayout.js
  yarn.lock
Owners: @newrelic/docs-engineering

Hide notebooks feature from navigation
  src/nav/dashboards.yml
Owners: none

added new troubleshooting information as received from PM
  src/content/docs/ebpf/troubleshooting/no-ui-data.mdx
  src/content/docs/ebpf/troubleshooting/troubleshoot-k8s.mdx
Owners: none

Updated links
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/search-filter-entities.mdx
Owners: none

add Kotlin Coroutines to supported frameworks and libraries
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Owners: none

chore(ruby agent): Update config docs
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Owners: none

chore(ruby agent): add release notes
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-9-23-0.mdx
Owners: none

Update compatibility-requirements-browser-monitoring.mdx
  src/content/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
Owners: none

Update php-agent-installation-ubuntu-debian.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-ubuntu-debian.mdx
Owners: none

Update install-new-relic-php-agent-gae-flexible-environment.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/install-new-relic-php-agent-gae-flexible-environment.mdx
Owners: none

Update install-new-relic-php-agent-gae-flexible-environment.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/install-new-relic-php-agent-gae-flexible-environment.mdx
Owners: none

chore: Clarify session storage in consent mode docs
  src/content/docs/browser/new-relic-browser/configuration/consent-mode.mdx
Owners: none

chore: Add .NET 10 to the list of supported versions for the .NET agent
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Owners: none

Indentation changes
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8250.mdx
Owners: none

Update php-agent-installation-ubuntu-debian.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-ubuntu-debian.mdx
Owners: none

Update nerdgraph-synthetics-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
Owners: none

Updated the path of the image
  src/content/whats-new/2025/11/whats-new-11-13-AI-Log-Alert-Summarization.md
Owners: @john-withers, @aalfano7

Added screenshot and did changes in info as per SME
  src/content/docs/alerts/incident-management/response-intelligence-ai.mdx
  static/images/ai-log-summary.webp
Owners: none

SME feedback
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/feature-control-manager.mdx
Owners: none

Enhance Kubernetes job manager configuration details
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

remove duplicate content, move config to the top
  src/content/docs/distributed-tracing/infinite-tracing-on-premise/bring-your-own-cache.mdx
Owners: none

remove additional pages and nav config
  src/content/docs/distributed-tracing/infinite-tracing-on-premise/infinite-tracing-introduction.mdx
  src/nav/distributed-tracing.yml
Owners: none

include latest config
  src/content/docs/distributed-tracing/infinite-tracing-on-premise/bring-your-own-cache.mdx
Owners: none

feat(mcp): added more troubleshooting content
  src/content/docs/agentic-ai/mcp/overview.mdx
  src/content/docs/agentic-ai/mcp/setup.mdx
  src/content/docs/agentic-ai/mcp/troubleshoot.mdx
Owners: none

wip
  src/content/docs/query-your-data/explore-query-data/notebooks/add-queries-to-notebooks.mdx
  src/content/docs/query-your-data/explore-query-data/notebooks/introduction-notebooks.mdx
  src/content/docs/query-your-data/explore-query-data/notebooks/notebooks-examples.mdx
  src/content/docs/query-your-data/explore-query-data/notebooks/share-notebooks.mdx
  src/content/docs/query-your-data/explore-query-data/notebooks/visualizations-in-notebooks.mdx
  src/nav/dashboards.yml
Owners: none

Update opentelemetry-get-started-intro.mdx
  src/content/docs/opentelemetry/get-started/opentelemetry-get-started-intro.mdx
Owners: none

improve example
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

Update update-serverless-monitoring-aws-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/update-serverless-monitoring-aws-lambda.mdx
Owners: none

Fixed review comments
  src/content/docs/query-your-data/explore-query-data/notebooks/add-queries-to-notebooks.mdx
  src/content/docs/query-your-data/explore-query-data/notebooks/introduction-notebooks.mdx
  src/nav/dashboards.yml
Owners: none

chore: rename NRDOT agent type
  src/i18n/content/es/docs/infrastructure-as-code/terraform/agent-control.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/agent-control.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/agent-control.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/agent-control.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/agent-control.mdx
Owners: none

Update new-relic.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/new-relic.mdx
Owners: none

new sythetic examples
  src/content/eol/2025/11/eol-chrome-140-node-22-synthetics.md
Owners: none

updates
  src/content/docs/query-your-data/explore-query-data/notebooks/introduction-notebooks.mdx
Owners: none

chore(agent-control): rename NRDOT agent type
  src/content/docs/infrastructure-as-code/terraform/agent-control.mdx
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/i18n/content/es/docs/new-relic-control/agent-control/configuration.mdx
  src/i18n/content/fr/docs/new-relic-control/agent-control/configuration.mdx
  src/i18n/content/jp/docs/new-relic-control/agent-control/configuration.mdx
  src/i18n/content/kr/docs/new-relic-control/agent-control/configuration.mdx
  src/i18n/content/pt/docs/new-relic-control/agent-control/configuration.mdx
Owners: none

wip
  src/content/docs/query-your-data/explore-query-data/notebooks/add-queries-to-notebooks.mdx
  src/content/docs/query-your-data/explore-query-data/notebooks/introduction-notebooks.mdx
Owners: none
