Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

fix: Updated images
  static/images/otel-kafka-k8s-strimzi-architecture.webp
  static/images/otel-kafka-self-host-architecture.webp
Owners: none

Update requirements for managing NerdGraph groups
  src/content/docs/apis/nerdgraph/examples/nerdgraph-manage-groups.mdx
Owners: none

Add fedramp config guide + text
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp.mdx
Owners: none

Remove comment text
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp.mdx
Owners: none

Update whats-new-02-24-collector-observability.md
  src/content/whats-new/2026/02/whats-new-02-24-collector-observability.md
Owners: @john-withers, @aalfano7

Update OpenTelemetry API documentation for Ruby
  src/content/docs/apm/agents/manage-apm-agents/opentelemetry-api-support.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-10-2-0.mdx
Owners: none

docs: align PP docs with LP version
  src/content/docs/opentelemetry/collector-observability/collector-observability.mdx
Owners: none

Move exclude list bullet to callout
  src/content/docs/apm/agents/manage-apm-agents/opentelemetry-api-support.mdx
Owners: none

fix: Fixed architecture heading
  src/content/docs/opentelemetry/integrations/kafka/kubernetes-strimzi.mdx
  src/content/docs/opentelemetry/integrations/kafka/self-hosted.mdx
Owners: none

Release docs for infra-agent 1.72.6
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1726.mdx
Owners: none

Update new-relic-infrastructure-agent-1726.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1726.mdx
Owners: none

chore: add translations
  src/i18n/content/es/docs/opentelemetry/integrations/kafka/kubernetes-strimzi.mdx
  src/i18n/content/fr/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.4.mdx
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/kr/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.mdx
Owners: none

Fix typo in infrastructure agent requirements link
  src/content/docs/infrastructure/host-integrations/host-integrations-list/flex-integration-tool-build-your-own-integration.mdx
Owners: none

Fix grammatical error in manage-app-permissions.mdx
  src/content/docs/new-relic-solutions/tutorials/manage-app-permissions.mdx
Owners: none

Fix typo in mobile apps alerting documentation
  src/content/docs/mobile-apps/alerting-new-relic-mobile-apps.mdx
Owners: none

Fix formatting of fluent-bit version update note
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1726.mdx
Owners: none

added the new section for eapm to apm transition
  src/content/docs/ebpf/overview.mdx
Owners: none

Fix typo in diagram title for pricing billing
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Owners: none

Fix capitalization of 'Windows' in release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1726.mdx
Owners: none

fix(mdx-errors): fix verify mdx issues
  src/i18n/content/es/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/release-notes/docs-release-notes/docs-4-11-2025.mdx
  src/i18n/content/fr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/kafka/kubernetes-strimzi.mdx
  src/i18n/content/fr/docs/release-notes/docs-release-notes/docs-4-11-2025.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/release-notes/docs-release-notes/docs-4-11-2025.mdx
  src/i18n/content/kr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/kr/docs/release-notes/docs-release-notes/docs-4-11-2025.mdx
  src/i18n/content/pt/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/pt/docs/release-notes/docs-release-notes/docs-4-11-2025.mdx
Owners: none

Update overhead considerations section in documentation
  src/content/docs/opentelemetry/collector-observability/collector-observability.mdx
Owners: none

chore: Update Attribute Dictionary JSON
  src/data/attribute-dictionary-en.json
Owners: none

fix(mdx-errors): fix verify mdx issues
  src/i18n/content/es/docs/opentelemetry/integrations/kafka/kubernetes-strimzi.mdx
Owners: none

update heading
  src/content/docs/opentelemetry/integrations/kafka/kubernetes-strimzi.mdx
  src/content/docs/opentelemetry/integrations/kafka/self-hosted.mdx
Owners: none

fix(mdx-errors): fix verify mdx issues
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

Update teams.mdx
  src/content/docs/service-architecture-intelligence/teams/teams.mdx
Owners: none

Update manage-teams.mdx
  src/content/docs/service-architecture-intelligence/teams/manage-teams.mdx
Owners: none

wip
  src/content/docs/accounts/accounts/account-maintenance/account-email-settings.mdx
Owners: none

wip
  src/content/docs/accounts/accounts/account-maintenance/account-email-settings.mdx
Owners: none

docs: add array support for .NET agent custom attributes
  src/content/docs/apm/agents/net-agent/attributes/custom-attributes-net.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/net-agent-api.mdx
Owners: none

Updated the patch release docs
  src/content/docs/release-notes/sap-patch-release/index.mdx
  src/content/docs/release-notes/sap-patch-release/patch-release-v3.0-sp4.mdx
  src/content/docs/release-notes/sap-patch-release/patch-release-v3.0-sp5.mdx
  src/content/docs/release-notes/sap-patch-release/patch-release-v3.0-sp6.mdx
  src/content/docs/release-notes/sap-patch-release/patch-release-v3.0-sp7.mdx
  src/content/docs/release-notes/sap-patch-release/patch-release-v3.0-sp8.mdx
  src/content/docs/release-notes/sap-patch-release/patch-release-v3.0-sp9.mdx
  src/content/docs/release-notes/sap-release-notes/index.mdx
  src/content/docs/release-notes/sap-release-notes/nr-note-1215.mdx
  src/content/docs/release-notes/sap-release-notes/nr-note-1229.mdx
  src/content/docs/release-notes/sap-release-notes/nr-note-1231.mdx
  static/images/NR_SAP_ABAP_WS.webp
Owners: none

new updates in nm and logs
  src/content/docs/ebpf/logs.mdx
  src/content/docs/ebpf/network-metrics.mdx
Owners: none

fix: Data dictionary reload/crash bug
  src/hooks/useActiveHash.js
Owners: @newrelic/docs-engineering

docs(gcp): Add Cloud Run Service entity documentation
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-run-monitoring-integration.mdx
Owners: none

docs(gcp): Add Apigee monitoring integration documentation
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-apigee-monitoring-integration.mdx
Owners: none

udpated the docs as per comments
  src/content/docs/ebpf/logs.mdx
Owners: none

Release notes for latest versions of node-api-runtime and node-browser-runtime
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.11.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.11.mdx
Owners: none

Add documentation release notes for February 23 - February 27, 2026
  src/content/docs/release-notes/docs-release-notes/docs-2-27-2026.mdx
Owners: none

feat(whats-new): Add Windows host support and enhanced agent selection announcement
  src/content/whats-new/2026/02/whats-new-23-02-windows-support.md
Owners: @john-withers, @aalfano7

docs(agent-control): Address PR review comments for Windows host support
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/upgrading.mdx
Owners: none
