Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

docs: update last supported version
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1731.mdx
Owners: none

chore: remove edge functions to avoid unnecessary costs
  netlify.toml
  netlify/edge-functions/inject-country.js
Owners: @newrelic/docs-engineering

Update next steps
  src/content/docs/opentelemetry/integrations/ecs-monitoring/overview.mdx
Owners: none

update table structure
  src/content/docs/opentelemetry/integrations/ecs-monitoring/ecs-ec2.mdx
  src/content/docs/opentelemetry/integrations/ecs-monitoring/ecs-fargate.mdx
Owners: none

PM feedback
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/windows.mdx
  src/install/kubernetes/guided/install-guided.mdx
  src/install/kubernetes/helm/install-helm.mdx
  src/install/kubernetes/manifest/install-manifest.mdx
  src/install/kubernetes/prepare-install.mdx
  static/images/k8s_windows_guided.webp
Owners: none

update with dnt tag
  src/content/docs/opentelemetry/integrations/ecs-monitoring/find-and-query-your-data.mdx
Owners: none

update table
  src/content/docs/opentelemetry/integrations/ecs-monitoring/ecs-ec2.mdx
  src/content/docs/opentelemetry/integrations/ecs-monitoring/ecs-fargate.mdx
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

feat(whats-new): mobile session replay is now GA
  src/content/whats-new/2026/whats-new-4-28-mobile-session-replay-ga.md
Owners: @john-withers, @aalfano7

Typo fix in OpenTelemetry data in NewRelic
  src/content/docs/opentelemetry/best-practices/opentelemetry-data-overview.mdx
Owners: none

fix typos
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1731.mdx
Owners: none

fix: public runtime version
  src/content/docs/synthetics/synthetic-monitoring/private-locations/runtime-transition-guide.mdx
Owners: none

feat(php): update support/install versions
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
Owners: none

Update src/content/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
Owners: none

Revert "Pbeckwith/grafana translator"
  src/content/docs/infrastructure/prometheus-integrations/view-query-data/grafana-to-nr-dashboard-translation-rest-api.mdx
  src/content/docs/infrastructure/prometheus-integrations/view-query-data/supported-promql-features.mdx
  static/images/grafana_dashboard_translator_action_items.webp
Owners: none

fix: indentation
  src/content/docs/infrastructure/other-infrastructure-integrations/monitoring-jenkins-ot.mdx
Owners: none

feat: add MDX auto-fix workflow and test files
  .github/workflows/verify-mdx-enhanced.yml
  package.json
  scripts/fix-mdx-errors.js
  src/content/docs/release-notes/test-agent/test-missing-releasedate.mdx
  src/content/docs/test-mdx-errors/README.md
  src/content/docs/test-mdx-errors/test-block-comments.mdx
  src/content/docs/test-mdx-errors/test-combined-errors.mdx
  src/content/docs/test-mdx-errors/test-escaped-comments.mdx
  src/content/docs/test-mdx-errors/test-html-comments.mdx
  src/content/docs/test-mdx-errors/test-translated-style-errors.mdx
Owners: @newrelic/docs-engineering

docs: add comprehensive test plan for MDX auto-fix workflow
  TEST-PLAN.md
Owners: none

Release_ping_and_kevin
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-525.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.65.0.mdx
Owners: none

feat: Add caching to reduce bandwidth usage
  netlify.toml
Owners: none

improve sentence structure
  src/content/docs/opentelemetry/nrdot/atp/host.mdx
Owners: none

chore: add translations
  src/i18n/content/kr/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

chore: Adds Node.js agent v13.19.1 release notes.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-13-19-1.mdx
Owners: none

fix(haproxy): Replace nri-apache references with nri-haproxy in install config
  src/install/haproxy/default-configuration.mdx
  src/install/haproxy/default-install-linux.mdx
  src/install/haproxy/linux/install-linux.mdx
Owners: none

Second last draft
  src/content/docs/sap-solutions/install-and-configure/additional-configuration.mdx
  src/content/docs/sap-solutions/install-and-configure/install-service-pack.mdx
  src/content/docs/sap-solutions/install-and-configure/obtain-service-key/from-api-management.mdx
  src/content/docs/sap-solutions/install-and-configure/obtain-service-key/from-cloudalm-api-instance.mdx
  src/content/docs/sap-solutions/install-and-configure/obtain-service-key/process-integration-runtime.mdx
  src/content/docs/sap-solutions/install-and-configure/setup-system-workload.mdx
  src/content/docs/sap-solutions/monitor/data-providers-reference.mdx
  src/content/docs/sap-solutions/monitor/monitor-data-collection-process.mdx
  src/content/docs/sap-solutions/reference/network-accessibility.mdx
  src/content/docs/sap-solutions/reference/pre-installation-checklist.mdx
  src/content/docs/sap-solutions/reference/sap-tables-monitoring.mdx
  src/content/docs/sap-solutions/reference/transaction-code.mdx
  src/content/docs/sap-solutions/uninstall/uninstall-procedure.mdx
  src/content/docs/sap-solutions/upgrade/install-upgrade-package.mdx
  src/nav/sap-solutions.yml
  static/images/sap-cloud-management-api.webp
  static/images/sap-cloud-roles-api.webp
  static/images/sap-cloud-servicekey-api.webp
Owners: none

wip
  src/nav/apm.yml
Owners: none

chore: Add Browser agent v1.313.0 release notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.313.0.mdx
Owners: none

wip
  src/content/docs/apm/agents/nodejs-agent/configuration/codestream-integration.mdx
  src/content/docs/apm/agents/nodejs-agent/configuration/distributed-tracing-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/configuration/enable-source-maps.mdx
  src/content/docs/apm/agents/nodejs-agent/configuration/es-modules.mdx
  src/content/docs/apm/agents/nodejs-agent/configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/get-started/apm-agent-security-nodejs.mdx
  src/content/docs/apm/agents/nodejs-agent/get-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/get-started/introduction-new-relic-nodejs.mdx
  src/content/docs/apm/agents/nodejs-agent/get-started/monitor-your-nodejs-app.mdx
  src/content/docs/apm/agents/nodejs-agent/get-started/nodejs-agent-eol-policy.mdx
  src/content/docs/apm/agents/nodejs-agent/installation/install-nodejs-agent-azure-site-extension.mdx
  src/content/docs/apm/agents/nodejs-agent/installation/install-nodejs-agent-docker.mdx
  src/content/docs/apm/agents/nodejs-agent/installation/install-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation/uninstall-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation/update-nodejs-agent.mdx
  src/content/docs/apm/agents/php-agent/getting-started/introduction-new-relic-php.mdx
  src/content/docs/apm/agents/php-agent/getting-started/new-relic-daemon-processes.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-arm64.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-overview.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-tar-file.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-ubuntu-debian.mdx
  src/nav/apm.yml
Owners: none

Update flutter-agent-1122.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-1122.mdx
Owners: none

add docs for owner attributes of replicaset
  src/data/attribute-dictionary-en.json
Owners: none

chore(.net agent): Update compatibility docs for latest Dotty package versions
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Owners: none

test: add realistic MDX errors based on translation PR research
  src/content/docs/release-notes/test-agent/test-missing-releasedate.mdx
  src/content/docs/test-mdx-errors/test-block-comments.mdx
  src/content/docs/test-mdx-errors/test-combined-errors.mdx
  src/content/docs/test-mdx-errors/test-escaped-comments.mdx
  src/content/docs/test-mdx-errors/test-html-comments.mdx
  src/content/docs/test-mdx-errors/test-translated-style-errors.mdx
Owners: none

fix: remove edge functions directory
  netlify/edge-functions/inject-country.js
Owners: @newrelic/docs-engineering

fix: remove traces of edge function
  netlify.toml
Owners: none

chore: add translations
  src/i18n/content/kr/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Owners: none

chore: add translations
  src/i18n/content/kr/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Owners: none

Updated the image for Workflow Automation
  static/images/log_attributes.webp
Owners: none

Added DNT tags to the document
  src/content/docs/release-notes/sap-release-notes/nr-note-1215.mdx
  src/content/docs/release-notes/sap-release-notes/nr-note-1229.mdx
  src/content/docs/release-notes/sap-release-notes/nr-note-1231.mdx
  src/content/docs/sap-solutions/additional-resources/btp-cloud-integration.mdx
  src/content/docs/sap-solutions/additional-resources/calm-registry-entries.mdx
  src/content/docs/sap-solutions/before-you-begin.mdx
  src/content/docs/sap-solutions/install-and-configure/additional-configuration.mdx
  src/content/docs/sap-solutions/install-and-configure/configure-new-relic-abap-add-on-package.mdx
  src/content/docs/sap-solutions/install-and-configure/install-new-relic-sap-abap-add-on-package.mdx
  src/content/docs/sap-solutions/install-and-configure/install-out-of-the-box.mdx
  src/content/docs/sap-solutions/install-and-configure/obtain-service-key/from-api-management.mdx
  src/content/docs/sap-solutions/install-and-configure/obtain-service-key/from-cloudalm-api-instance.mdx
  src/content/docs/sap-solutions/install-and-configure/obtain-service-key/process-integration-runtime.mdx
  src/content/docs/sap-solutions/install-and-configure/schedule-jobs.mdx
  src/content/docs/sap-solutions/install-and-configure/setup-system-workload.mdx
  src/content/docs/sap-solutions/install-and-configure/supplementary-packages.mdx
  src/content/docs/sap-solutions/monitor/data-providers-reference.mdx
  src/content/docs/sap-solutions/monitor/monitor-data-collection-process.mdx
  src/content/docs/sap-solutions/overview.mdx
  src/content/docs/sap-solutions/reference/network-accessibility.mdx
  src/content/docs/sap-solutions/reference/pre-installation-checklist.mdx
  src/content/docs/sap-solutions/reference/sap-tables-monitoring.mdx
  src/content/docs/sap-solutions/reference/sizing-dedicated-monitoring-system.mdx
  src/content/docs/sap-solutions/reference/transaction-code.mdx
  src/content/docs/sap-solutions/reference/variants-and-jobs-before-sp03.mdx
  src/content/docs/sap-solutions/troubleshooting.mdx
  src/content/docs/sap-solutions/uninstall/uninstall-procedure.mdx
  src/content/docs/sap-solutions/upgrade/install-upgrade-package.mdx
Owners: none

feat(whats-new): K8s Windows nodes GA
  src/content/whats-new/2026/04/whats-new-4-16-windows-ga.md
Owners: @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
