Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

Update whats-new-07-30-public-dash-pass-protection.md
  src/content/whats-new/2025/07/whats-new-07-30-public-dash-pass-protection.md
Owners: @john-withers, @aalfano7

Update whats-new-06-31-dash-nested-variables.md
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
Owners: @john-withers, @aalfano7

Update diagnostics-cli-360.mdx‎
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-360.mdx‎
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

Updated the callout
  src/install/mysql/amazonECS/requirements-amazonECS.mdx
  src/install/mysql/k8/requirements-k8.mdx
  src/install/mysql/linux/requirements.mdx
  src/install/mysql/windows/requirements-win.mdx
Owners: none

Update developer-program.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-developer-edition/developer-program.mdx
Owners: none

Update browser-spa-v2.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/browser-spa-v2.mdx
Owners: none

Create diagnostics-cli-360.mdx‎
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-360.mdx‎
Owners: none

Update spa-data-collection.mdx
  src/content/docs/browser/single-page-app-monitoring/use-spa-data/spa-data-collection.mdx
Owners: none

Add comprehensive outlier detection documentation
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/content/docs/alerts/create-alert/set-thresholds/outlier-detection.mdx
Owners: none

fixed the mdx issue
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
Owners: none

fix: build errors
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
Owners: @john-withers, @aalfano7

fix: build errors
  package.json
Owners: @newrelic/docs-engineering

fix: build errors
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
  src/content/whats-new/2025/07/whats-new-07-30-public-dash-pass-protection.md
  src/content/whats-new/2025/07/whats-new-7-31-augmenting-user-experiences-browser.md
Owners: @john-withers, @aalfano7

configurable vizier port change
  src/content/docs/ebpf/k8s-installation.mdx
  src/content/docs/ebpf/linux-installation.mdx
Owners: none

fix: build errors
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
  src/content/whats-new/2025/07/whats-new-07-30-public-dash-pass-protection.md
  src/content/whats-new/2025/07/whats-new-7-31-augmenting-user-experiences-browser.md
Owners: @john-withers, @aalfano7

Correct capitalization of 'API key' in release notes
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-360.mdx‎
Owners: none

new best practice and troubleshooting
  src/content/docs/ebpf/best-practices.mdx
  src/content/docs/ebpf/troubleshooting/no-ui-data.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/eapm.mdx
  src/nav/ebpf.yml
Owners: none

new troubleshooting and best practice information
  src/content/docs/ebpf/best-practices.mdx
  src/content/docs/ebpf/troubleshooting/file-descriptor-limit.mdx
  src/content/docs/ebpf/troubleshooting/k8s.mdx
  src/content/docs/ebpf/troubleshooting/no-ui-data.mdx
  src/nav/ebpf.yml
Owners: none

Added public preview callout and modified the left nav
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/content/docs/alerts/create-alert/set-thresholds/outlier-detection.mdx
  src/nav/alerts.yml
Owners: none

review comments are addressed
  src/content/docs/service-architecture-intelligence/github-integrations/github-enterprise-integration.mdx
Owners: none

minor enhancements
  src/content/docs/service-architecture-intelligence/github-integrations/github-enterprise-integration.mdx
Owners: none

8.21.0 MemoryLeak changes
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8210.mdx
Owners: none

Mark the Netty Reactor changes as a bug fix.
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8220.mdx
Owners: none

New Relic iOS agent 7.6.0 release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-760.mdx
Owners: none

fix format
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-760.mdx
Owners: none

feat(APM): Python Agent Release v11.1.0 Notes, part 1
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110100.mdx
Owners: none

[NR-480911] Android agent v7.6.12 release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-7612.mdx
Owners: none

Delete src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/New-Relic-Observability-Platform-CRM.xlsx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/New-Relic-Observability-Platform-CRM.xlsx
Owners: none

Delete src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/New-Relic-Observability-Platform-Moderate-CRM-Worksheet.pdf
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/New-Relic-Observability-Platform-Moderate-CRM-Worksheet.pdf
Owners: none

Add files via upload
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/New Relic Observability Platform - Public CRM - Moderate CRM Matrix.pdf
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/New Relic Observability Platform - Public CRM Matrix.xlsx
Owners: none

Delete src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/New Relic Observability Platform - Public CRM - Moderate CRM Matrix.pdf
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/New Relic Observability Platform - Public CRM - Moderate CRM Matrix.pdf
Owners: none

Add files via upload
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/New Relic Observability Platform - Public CRM Matrix.pdf
Owners: none

Update fedramp.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp.mdx
Owners: none

Add more to release notes
  src/content/docs/apm/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110100.mdx
Owners: none

Add links into summary
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110100.mdx
Owners: none

chore(APM): Fix MDX error by removing possessive case
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110100.mdx
Owners: none

chore(APM): Fix typo
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110100.mdx
Owners: none

Add nav entry for K8s APM auto-attach troubleshooting
  src/nav/apm.yml
Owners: none

Create docs-10-26-2025.mdx
  src/content/docs/release-notes/docs-release-notes/docs-10-26-2025.mdx
Owners: none
