Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

added the frontmatters
  src/content/docs/opentelemetry/database/oracle/adb.mdx
  src/content/docs/opentelemetry/database/oracle/cncf.mdx
  src/content/docs/opentelemetry/database/oracle/host-cdb.mdx
  src/content/docs/opentelemetry/database/oracle/host-pdb.mdx
  src/content/docs/opentelemetry/database/oracle/multi-receiver.mdx
  src/content/docs/opentelemetry/database/oracle/rds.mdx
Owners: none

remvoed the oracle old file from the nav
  src/content/docs/opentelemetry/database/oracle/adb.mdx
  src/content/docs/opentelemetry/database/oracle/config-reference.mdx
  src/content/docs/opentelemetry/database/oracle/host-cdb.mdx
  src/content/docs/opentelemetry/database/oracle/host-pdb.mdx
  src/content/docs/opentelemetry/database/oracle/introduction.mdx
  src/content/docs/opentelemetry/database/oracle/multi-receiver.mdx
  src/content/docs/opentelemetry/database/oracle/rds.mdx
  src/content/docs/opentelemetry/database/oracle/troubleshooting.mdx
  src/nav/opentelemetry.yml
Owners: none

Update manage-your-dashboard.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
Owners: none

update link
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-14-5-0.mdx
Owners: none

fix: update linkerd docs
  src/content/docs/opentelemetry/integrations/linkerd/find-and-query-your-data.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-kubernetes.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-overview.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-setup.mdx
  src/nav/opentelemetry.yml
Owners: none

update frontmatter
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.228.mdx
Owners: none

fix: remove otlp duplication
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-kubernetes.mdx
Owners: none

fix: add apm limitation note
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-kubernetes.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/jp/docs/new-relic-solutions/get-started/networks.mdx
  src/i18n/content/jp/docs/nrql/get-started/charts-and-dashboards-with-nrql.mdx
  src/i18n/content/jp/docs/nrql/get-started/introduction-nrql-new-relics-query-language.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/i18n/content/kr/docs/nrql/get-started/introduction-nrql-new-relics-query-language.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

update frontmatter
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-26-09-17.mdx
Owners: none

Final CVE fixes
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-625.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.278.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.234.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.83.0.mdx
Owners: none

Revert "Whats new 09 16 improved facet linking dashboards"
  src/content/whats-new/2026/09/whats-new-09-16-selfentity-dashboard-variable.md
Owners: @john-withers, @aalfano7

updated the left nav
  src/nav/opentelemetry.yml
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

[Workflow Automation] - Added definition/schedule tags
  src/content/docs/workflow-automation/workflow-automation-apis/create-schedule.mdx
  src/content/docs/workflow-automation/workflow-automation-apis/create-workflow-definition.mdx
Owners: none

Revert "Update filter-new-relic-one-dashboards-facets.mdx to document the use of a new {{selfEntity}} variable in facet linking"
  src/content/docs/query-your-data/explore-query-data/dashboards/filter-new-relic-one-dashboards-facets.mdx
Owners: none

docs: note default address-matching limits on DB-APM correlation page
  src/content/docs/opentelemetry/database/capabilities/db-apm.mdx
Owners: none

docs(pathpoint): port LP doc improvements and correct duplicate semantics (NR-615729)
  src/content/docs/apis/nerdgraph/examples/nerdgraph-pathpoint-flows.mdx
  src/content/docs/pathpoint/create-manage-pathpoints.mdx
Owners: none

docs(agent-types): mark host Fluent Bit support as partial, not unsupported
  src/content/docs/new-relic-control/agent-control/agent-types.mdx
Owners: none

docs(pathpoint): drop the Terraform link and align the intro with LP (NR-615729)
  src/content/docs/apis/nerdgraph/examples/nerdgraph-pathpoint-flows.mdx
Owners: none

docs(pathpoint): correct the scope and stages requirements on create (NR-615729)
  src/content/docs/apis/nerdgraph/examples/nerdgraph-pathpoint-flows.mdx
Owners: none

docs: note default address-matching limits on DB-APM correlation page
  src/content/docs/opentelemetry/database/capabilities/db-apm.mdx
Owners: none

update image and callout
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  static/images/dashboards_screenshot-crop_dashboard-settings-tvmode.webp
Owners: none

Fall back to English markdown for Copy for LLM/View as Markdown on translated pages
  src/components/MdxLlmTools.js
  src/templates/docPage.js
Owners: @newrelic/docs-engineering

[Workflow Automation] - New Relic Alerts actions
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/actions-catalog.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-create-baseline-nrql-condition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-create-muting-rule.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-create-policy.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-create-static-nrql-condition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-delete-condition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-delete-muting-rule.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-delete-policy.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-get-muting-rule.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-get-nrql-condition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-get-policy.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-list-compound-conditions.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-list-muting-rules.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-search-as-nrql-conditions.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-search-nrql-conditions.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-search-policies.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-update-baseline-nrql-condition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-update-muting-rule.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-update-policy.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts-update-static-nrql-condition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-alerts.mdx
  src/nav/workflow-automation.yml
Owners: none

[Workflow Automation] - New Relic Alerts actions
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/actions-catalog.mdx
Owners: none

fix: resolve MDX validation errors
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

Merge pull request #25772 from newrelic/llms-txt
  src/components/MdxLlmTools.js
  src/templates/docPage.js
Owners: @newrelic/docs-engineering

chore(dotnet): Update Azure function documentation specific to the .NET agent to reflect latest supported runtimes
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/container.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/windows.mdx
Owners: none

fix: inline standalone <code> tag breaking FR/KR/JP builds
  src/i18n/content/fr/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/jp/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/kr/docs/vulnerability-management/agent/overview.mdx
Owners: none

fix: inline standalone <code> tag breaking FR/KR/JP builds
  src/i18n/content/fr/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/jp/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/kr/docs/vulnerability-management/agent/overview.mdx
Owners: none

Final cve changes
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.234.mdx
Owners: none

Update new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Owners: none

fix: setup navigation
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-overview.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-setup.mdx
  src/nav/opentelemetry.yml
Owners: none

fix: metrics reference
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-metrics-reference.mdx
Owners: none

frontmatter update
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-625.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.278.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.234.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.83.0.mdx
Owners: none

docs(ebpf): note that eBPF agent install/upgrade overwrites newrelic-infra.repo on yum-based hosts
  src/content/docs/ebpf/linux-installation.mdx
Owners: none

Updated the navigation and added the folder structure
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/actions-catalog.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/agent/newrelic-agent.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-create-baseline-nrql-condition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-create-muting-rule.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-create-policy.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-create-static-nrql-condition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-delete-condition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-delete-muting-rule.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-delete-policy.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-get-muting-rule.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-get-nrql-condition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-get-policy.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-list-compound-conditions.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-list-muting-rules.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-search-as-nrql-conditions.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-search-nrql-conditions.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-search-policies.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-update-baseline-nrql-condition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-update-muting-rule.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-update-policy.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts-update-static-nrql-condition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/alerts/newrelic-alerts.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/ingest/newrelic-ingest.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/issue/newrelic-issue.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/lens/newrelic-lens.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/nerdgraph/newrelic-nerdgraph.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/notification/newrelic-notification.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/nrdb/newrelic-nrdb.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/service-level/newrelic-service-level.mdx
  src/nav/workflow-automation.yml
Owners: none

[NR-603491] Add per-agent configuration examples for PCG cluster-local endpoint
  src/content/docs/new-relic-control/pipeline-control/gateway/modify-agent-configuration.mdx
Owners: none

feat(pipeline control): remove eBPF gate comment
  src/content/docs/new-relic-control/pipeline-control/gateway/modify-agent-configuration.mdx
Owners: none
