Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

Refine job execution reliability enhancement wording
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-565.mdx
Owners: none

Updated the heading
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-service-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-user-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-workload-identity-federation.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/integrations-custom-roles.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/introduction-google-cloud-platform-integrations.mdx
Owners: none

Use imperative heading for agent update section
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-52-0.mdx
Owners: none

docs(haproxy): Added OTel haproxy otel documentation
  src/content/docs/opentelemetry/integrations/haproxy/find-and-query-data.mdx
  src/content/docs/opentelemetry/integrations/haproxy/kubernetes.mdx
  src/content/docs/opentelemetry/integrations/haproxy/metrics-reference.mdx
  src/content/docs/opentelemetry/integrations/haproxy/overview.mdx
  src/content/docs/opentelemetry/integrations/haproxy/self-hosted.mdx
  src/content/docs/opentelemetry/opentelemetry-integrations-list.mdx
  src/nav/opentelemetry.yml
Owners: none

Release notes for Synthetics SJM and runtimes
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-568.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.26.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.26.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.72.0.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/agentic-ai/mcp/overview.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

feat (whats-new): New export enhancements for Dashboards
  src/content/whats-new/2026/06/whats-new-0626-dashboards.md
Owners: @john-withers, @aalfano7

Updates made for the PM
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-workload-identity-federation.mdx
Owners: none

Updates
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/introduction-google-cloud-platform-integrations.mdx
Owners: none

Updated screenshots
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  static/images/crop-insights-histogram-chart.webp
  static/images/heatmaps-countrycode.webp
  static/images/nrql-heatmap-TIMESERIES.webp
  static/images/nrql-query-facet-countryCode.webp
  static/images/nrql_screenshot-crop_line-type-chart.webp
  static/images/nrql_screenshot-crop_pie_chart.webp
  static/images/queries-nrql_screenshot-crop_area-type-chart.webp
  static/images/queries-nrql_screenshot-crop_bar-type-chart.webp
  static/images/queries-nrql_screenshot-crop_bullet-type-chart.webp
  static/images/queries-nrql_screenshot-crop_funnel-chart.webp
  static/images/queries-nrql_screenshot-crop_heatmap-chart.webp
Owners: none

Update queries-nrql_screenshot-crop_area-type-chart.webp
  static/images/queries-nrql_screenshot-crop_area-type-chart.webp
Owners: none

added RDS linux and updated the download curl commands for windows and linux
  src/content/docs/opentelemetry/database/otel-mssql.mdx
Owners: none

feat(search): adapt /search-results page to SearchGPT search() contract
  src/pages/search-results.js
Owners: @newrelic/docs-engineering

updated avaiable metric list
  src/content/docs/opentelemetry/database/otel-mssql.mdx
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

chore: Adds Node.js agent v14.1.2 release notes.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-14-1-2.mdx
Owners: none

chore: append ios-agent PR #783 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

updated grands
  src/content/docs/opentelemetry/database/otel-mssql.mdx
Owners: none

chore(ruby agent): add release notes
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-10-6-0.mdx
Owners: none

chore(ruby agent): Update config docs
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Owners: none

feat(IBM MQ): restructure OpenTelemetry guides into overview and platform config pages
  src/content/docs/opentelemetry/integrations/ibm-mq/ibm-mq-kubernetes-config.mdx
  src/content/docs/opentelemetry/integrations/ibm-mq/ibm-mq-linux-config.mdx
  src/content/docs/opentelemetry/integrations/ibm-mq/ibm-mq-otel.mdx
Owners: none

chore(ruby agent): polish 10.6.0 bugfix release note wording
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-10-6-0.mdx
Owners: none

fix: Updated the OTel Oracle database installation steps
  src/content/docs/opentelemetry/database/otel-oracledb.mdx
Owners: none

docs: restructure Vertex AI integration with WIF dimensional metrics
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-vertexai-monitoring-integration.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/agentic-ai/mcp/overview.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

docs: add GCP API Gateway integration with WIF dimensional metric
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-api-gateway-monitoring-integration.mdx
Owners: none

chore(nodejs agent): fix dangling support statement links in 14.1.2 notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-14-1-2.mdx
Owners: none

remove colon
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-14-1-2.mdx
Owners: none

chore(deps): bump gatsby-theme-newrelic to 9.16.0 for SearchGPT search()
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

update version
  src/content/docs/vulnerability-management/getting-started/integrations/overview.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX syntax errors in translation files
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
