Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

feat:release notes dot net specific support
  src/content/docs/release-notes/logs-release-notes/logs-25-11-04.mdx
Owners: none

update release notes for rc builds in node-browser-runtime
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.0.mx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.1.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.2.mdx
Owners: none

update release notes for rc builds in node-browser-runtime
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.0.mdx
Owners: none

feat(outlier detection): alert thresholds image update
  static/images/alerts_screenshot-crop_set-a-threshold-for-an-alert-condition.webp
Owners: none

feat: Add release notes for Kubernetes integration v3.49.0
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-49-0.mdx
Owners: none

chore: Update Attribute Dictionary JSON
  src/data/attribute-dictionary-en.json
Owners: none

Fix typos in Android 7.6.12 release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-7612.mdx
Owners: none

Improved sentence structure
  src/content/docs/release-notes/logs-release-notes/logs-25-11-04.mdx
Owners: none

Legal feedback implementation
  src/content/eol/2025/08/pre-insights.md
Owners: none

Updated the date and subject
  src/content/eol/2025/11/pre-insights.md
Owners: none

docs: update agent control old yamls
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
Owners: none

Fix capitalization of Chrome in release notes
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.0.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.1.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.2.mdx
Owners: none

Update security-bulletin-nr18-08.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-08.mdx
Owners: none

updates
  src/content/docs/query-your-data/explore-query-data/notebooks/introduction-notebooks.mdx
Owners: none

Updated AWS region tags
  src/content/docs/service-architecture-intelligence/catalogs/infrastructure-catalog.mdx
Owners: none

draft for mobile session replay
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-session-replay.mdx
  src/nav/mobile-monitoring.yml
  static/images/mobile-session-replay-application.webp
  static/images/mobile-session-replay-default.webp
  static/images/mobile-session-replay-enable.webp
  static/images/mobile-session-replay-errors.webp
  static/images/mobile-session-replay-images.webp
  static/images/mobile-session-replay-input.webp
  static/images/mobile-session-replay-listing.webp
  static/images/mobile-session-replay-mode.webp
  static/images/mobile-session-replay-override.webp
  static/images/mobile-session-replay-player.webp
  static/images/mobile-session-replay-sampling.webp
  static/images/mobile-session-replay-strategy.webp
Owners: none

Update migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/content/docs/data-apis/manage-data/migrate-drop-rules-to-pipeline-cloud-rules.mdx
Owners: none

Update fedramp page
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp.mdx
Owners: none

Update hipaa page
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/hipaa.mdx
Owners: none

Update mobile-session-replay.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-session-replay.mdx
Owners: none

Create whats-new-09-26-browser-user-journeys
  src/content/whats-new/2025/09/whats-new-09-26-browser-user-journeys
Owners: @john-withers, @aalfano7

Updated the information
  src/content/docs/cci/financial-intelligence/nrql-for-cci.mdx
Owners: none

Error inbox updates
  src/content/docs/streaming-video-&-ads/view-data-in-newrelic/streaming-video-&-ads-single-application-view/error-inbox-media-streaming/group-error.mdx
  src/content/docs/streaming-video-&-ads/view-data-in-newrelic/streaming-video-&-ads-single-application-view/error.mdx
  src/nav/streaming-video-&-ads.yml
  static/images/error-profile-media-streaming.webp
  static/images/error-profiles-media-streaming.webp
  static/images/group-filter.webp
Owners: none

new updates
  src/content/docs/ebpf/k8s-installation.mdx
  src/content/docs/ebpf/linux-installation.mdx
  src/content/docs/ebpf/overview.mdx
  src/content/docs/ebpf/troubleshooting/file-descriptor-limit.mdx
  src/content/docs/ebpf/troubleshooting/k8s.mdx
Owners: none

Updated the navigation
  src/content/docs/cci/financial-intelligence/nrql-for-cci.mdx
Owners: none

Update nrql-for-cci.mdx
  src/content/docs/cci/financial-intelligence/nrql-for-cci.mdx
Owners: none

eol for synthetics
  src/content/eol/2025/11/eol-chrome-140-node-22-synthetics.md
Owners: none

fix: build errors
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
  src/content/whats-new/2025/07/whats-new-07-30-public-dash-pass-protection.md
  src/content/whats-new/2025/07/whats-new-7-31-augmenting-user-experiences-browser.md
Owners: @john-withers, @aalfano7

fix: build errors
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
  src/content/whats-new/2025/07/whats-new-07-30-public-dash-pass-protection.md
  src/content/whats-new/2025/07/whats-new-7-31-augmenting-user-experiences-browser.md
Owners: @john-withers, @aalfano7

Updated SME feedback
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/data-access-control.mdx
  static/images/add-data-policy-.webp
  static/images/add-data-policy.webp
Owners: none

Create diagnostics-cli-360.mdx‎
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-360.mdx‎
Owners: none

Update data-access-control.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/data-access-control.mdx
Owners: none

fix: build errors
  package.json
Owners: @newrelic/docs-engineering

Correct capitalization of 'API key' in release notes
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-360.mdx‎
Owners: none

fix: build errors
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
Owners: @john-withers, @aalfano7

configurable vizier port change
  src/content/docs/ebpf/k8s-installation.mdx
  src/content/docs/ebpf/linux-installation.mdx
Owners: none

Update browser-spa-v2.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/browser-spa-v2.mdx
Owners: none

Updates for FGA GA
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/data-access-control.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-data-access-control.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/logs/get-started/logging-best-practices.mdx
  src/content/docs/logs/get-started/new-relics-log-management-security-privacy.mdx
  src/content/docs/logs/ui-data/data-partitions.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  static/images/add-data-policy-.webp
Owners: none

Add data access control documentation for GA release
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/data-access-control.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-data-access-control.mdx
  src/nav/accounts.yml
  src/nav/telemetry-data-platform.yml
Owners: none

Updated editorial review comment
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/data-access-control.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
