Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

Update response-intelligence-ai.mdx
  src/content/docs/alerts/alert-event-management/response-intelligence-ai.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/agentic-ai/mcp/overview.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

license updates
  src/content/docs/licenses/product-or-service-licenses/new-relic-browser/new-relic-browser-licenses.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/agentic-ai/mcp/overview.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix(i18n): resolve MDX validation errors in jp/kr HT - Pattern B: restore Callout indentation in jp/notification-integrations - Pattern A: remove double braces in jp/kr nrql-syntax-clauses-functions
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix(i18n): resolve MDX validation errors in es MT (Aug 30) - Pattern A/G/MySQL-Callout: restore 5 stale es files from develop - Removed es/nginx-otel-host (deleted on develop)
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/es/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix(i18n): restore stale fr files from develop
  src/i18n/content/fr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mysql/rds.mdx
Owners: none

fix(i18n): restore stale fr files from develop
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix(i18n): restore additional stale jp/kr/fr files from develop
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
Owners: none

fix(i18n): restore additional stale jp/kr/fr files from develop
  src/i18n/content/jp/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

introduction page
  src/content/docs/opentelemetry/integrations/elasticsearch/introduction.mdx
Owners: none

Fix content-quality gaps in llms.txt markdown export
  plugins/gatsby-plugin-llms-txt/__tests__/gatsby-node.test.js
  plugins/gatsby-plugin-llms-txt/gatsby-node.js
Owners: @newrelic/docs-engineering

Update src/content/docs/logs/ui-data/data-partitions.mdx
  src/content/docs/logs/ui-data/data-partitions.mdx
Owners: none

chore: add docs release notes for August 24-28, 2026
  src/content/docs/release-notes/docs-release-notes/docs-8-28-2026.mdx
Owners: none

Apply suggestion from @adutta-newrelic
  src/content/docs/data-apis/ingest-apis/metric-api/cardinality-management.mdx
Owners: none

Apply suggestion from @adutta-newrelic
  src/content/docs/data-apis/ingest-apis/metric-api/cardinality-management.mdx
Owners: none

Apply suggestion from @adutta-newrelic
  src/content/docs/data-apis/ingest-apis/metric-api/cardinality-management.mdx
Owners: none

Apply suggestion from @adutta-newrelic
  src/content/docs/data-apis/ingest-apis/metric-api/cardinality-management.mdx
Owners: none

chore: rephrase new docs bullets for better readability
  src/content/docs/release-notes/docs-release-notes/docs-8-28-2026.mdx
Owners: none

Update definition-schema.mdx
  src/content/docs/workflow-automation/workflow-automation-apis/definition-schema.mdx
Owners: none

chore: improve readability of new docs bullet points
  src/content/docs/release-notes/docs-release-notes/docs-8-28-2026.mdx
Owners: none

Apply batched suggestions from code review
  src/content/whats-new/2026/08/whats-new-08-26-otel-ai-monitoring.md
Owners: @john-withers, @aalfano7

Update whats-new-08-26-otel-ai-monitoring.md
  src/content/whats-new/2026/08/whats-new-08-26-otel-ai-monitoring.md
Owners: @john-withers, @aalfano7

Update agent-types.mdx
  src/content/docs/new-relic-control/agent-control/agent-types.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

new dev comments on service command and config updates
  src/content/docs/opentelemetry/database/mssql/cncf.mdx
  src/content/docs/opentelemetry/database/mssql/config-reference.mdx
  src/content/docs/opentelemetry/database/mssql/linux-hosted.mdx
  src/content/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/content/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/content/docs/opentelemetry/database/mssql/windows-rds.mdx
Owners: none

Update src/content/docs/alerts/alert-event-management/response-intelligence-ai.mdx
  src/content/docs/alerts/alert-event-management/response-intelligence-ai.mdx
Owners: none

Updated the changes made to the document
  src/content/docs/release-notes/docs-release-notes/docs-8-28-2026.mdx
Owners: none

fix(i18n): resolve MDX validation errors in jp/kr HT - Pattern B: restore Callout indentation in jp/notification-integrations - Pattern A: remove double braces in jp/kr nrql-syntax-clauses-functions
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

Final updates to the grammer and sentence making
  src/content/docs/release-notes/docs-release-notes/docs-8-28-2026.mdx
Owners: none

feat(php): release 12.10
  src/content/docs/apm/agents/php-agent/frameworks-libraries/guzzle.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-12-10-0-39.mdx
Owners: none

Changed the wording of the release notes to make it more meaningful to the end user
  src/content/docs/release-notes/docs-release-notes/docs-8-28-2026.mdx
Owners: none

GA docs updates: Ground Truth intro, new tools, setup guide refactor, FCM restructure
  src/content/docs/agentic-ai/mcp/overview.mdx
  src/content/docs/agentic-ai/mcp/setup.mdx
  src/content/docs/agentic-ai/mcp/tool-reference.mdx
  src/content/docs/agentic-ai/mcp/troubleshoot.mdx
Owners: none

MCP setup guide: Antigravity CLI, Kiro API key, VS Code and Claude Desktop fixes
  src/content/docs/agentic-ai/mcp/setup.mdx
Owners: none

Removed emdash and made the sentence short
  src/content/docs/release-notes/docs-release-notes/docs-8-28-2026.mdx
Owners: none

updated the localhost reference
  src/content/docs/opentelemetry/database/mssql/cncf.mdx
  src/content/docs/opentelemetry/database/mssql/config-reference.mdx
  src/content/docs/opentelemetry/database/mssql/linux-hosted.mdx
  src/content/docs/opentelemetry/database/mssql/windows-hosted.mdx
Owners: none

Remove draft files and FCM screenshot
  src/content/docs/agentic-ai/mcp/overview.draft.mdx
  src/content/docs/agentic-ai/mcp/setup.draft.mdx
  src/content/docs/agentic-ai/mcp/tool-reference.draft.mdx
  src/content/docs/agentic-ai/mcp/troubleshoot.draft.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

Apply suggestion from @lavarou
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-12-10-0-39.mdx
Owners: none

fix
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-12-10-0-39.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
