Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

docs: add section on handling delayed data and older timestamps for outlier detection
  src/content/docs/alerts/create-alert/set-thresholds/outlier-detection.mdx
Owners: none

Update Release notes and config docs
  src/content/docs/apm/agents/java-agent/configuration/java-agent-config-file-template.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-930.mdx
Owners: none

formatting fix
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-930.mdx
Owners: none

Update Java agent compatibility documentation
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Owners: none

Update remediation.mdx
  src/content/docs/vulnerability-management/cloud/remediation.mdx
Owners: none

chore: code in backticks
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_set_error_group_callback.mdx
Owners: none

feat: add JP data center metric API endpoints to docs
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/data-apis/ingest-apis/metric-api/introduction-metric-api.mdx
  src/content/docs/data-apis/ingest-apis/metric-api/report-metrics-metric-api.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-remote-write/set-your-prometheus-remote-write-integration.mdx
  src/content/docs/mlops/bring-your-own/getting-started-byo.mdx
Owners: none

Fix formatting of logs in context bullet point list
  src/content/docs/logs/troubleshooting/no-log-data-appears-ui.mdx
Owners: none

feat: add JP data center trace API endpoint to trace-api requirements doc
  src/content/docs/distributed-tracing/trace-api/trace-api-general-requirements-limits.mdx
Owners: none

docs: improve IA and add permissions callout for Agent Control without Flux
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/nav/new-relic-control.yml
Owners: none

feat: add JP data center references to trace API format docs
  src/content/docs/distributed-tracing/trace-api/report-new-relic-format-traces-trace-api.mdx
  src/content/docs/distributed-tracing/trace-api/report-zipkin-format-traces-trace-api.mdx
Owners: none

Address stakeholder feedback: fix value prop framing, anchor links, and version
  src/content/docs/new-relic-control/pipeline-control/cloud-rules/api-reference.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/data-schema-differences.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/install-gateway-without-flux.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/overview.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/set-up-and-deploy-pipeline-control.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/sizing-and-scaling.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/yaml-overview.mdx
  src/content/docs/new-relic-control/pipeline-control/overview.mdx
  src/content/docs/new-relic-control/pipeline-control/troubleshooting/gateway-issues.mdx
Owners: none

added the new topic to the side nav
  src/nav/new-relic-control.yml
Owners: none

changed pcg config file name
  src/content/docs/new-relic-control/pipeline-control/gateway/install-gateway-without-flux.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX validation errors
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

feat: add JP data center event API endpoints to docs
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/data-apis/ingest-apis/event-api/introduction-event-api.mdx
  src/content/docs/mlops/integrations/openai-integration.mdx
Owners: none

feat: add JP data center OTLP endpoints to eBPF and OpenTelemetry docs
  src/content/docs/ebpf/requirements.mdx
  src/content/docs/ebpf/troubleshooting/no-ui-data.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-otlp.mdx
Owners: none

feat: add JP data center OTLP endpoints to collector observability and Docker monitoring docs
  src/content/docs/opentelemetry/collector-observability/collector-observability.mdx
  src/content/docs/opentelemetry/integrations/docker-monitoring/self-hosted.mdx
Owners: none

Release notes update
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-930.mdx
Owners: none

feat: add JP data center OTLP endpoints to OpenTelemetry integration docs
  src/content/docs/new-relic-solutions/get-started/networks.mdx
  src/content/docs/opentelemetry/integrations/docker-monitoring/troubleshooting.mdx
  src/content/docs/opentelemetry/integrations/kafka/kubernetes-strimzi.mdx
  src/content/docs/opentelemetry/integrations/kafka/self-hosted.mdx
  src/content/docs/opentelemetry/integrations/nginx-plus/nginx-plus-otel.mdx
  src/content/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/content/docs/opentelemetry/integrations/rabbitmq/kubernetes.mdx
  src/content/docs/opentelemetry/integrations/rabbitmq/self-hosted.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/lambda-opentelemetry-dotnet.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/lambda-opentelemetry-java.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/otel-adot-log-ingestion-serverless.mdx
Owners: none

Fix typo
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-930.mdx
Owners: none

docs: update domain validation rules to reflect PublicSuffix-based detection
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
Owners: none

Update new-relic-android-5420.mdx‎
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/‎src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5420.mdx‎
Owners: none

Updated the em dash and updated the folder
  src/content/whats-new/2026/07/whats-new-05-20-scheduledsearch.md
Owners: @john-withers, @aalfano7

Updated the structure
  src/content/whats-new/2026/07/whats-new-05-20-scheduledsearch.md
Owners: @john-withers, @aalfano7

Added a PP callout snippet
  src/components/Snippets.js
  src/components/snippets/pp-callout/public-preview.mdx
  src/content/docs/accounts/content-diff-sample.mdx
Owners: @newrelic/docs-engineering

add jp app info
  src/content/docs/alerts/get-notified/notification-integrations.mdx
Owners: none

Revert "Create new-relic-android-5420.mdx‎"
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/‎src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5420.mdx‎
Owners: none

Update java-agent-930.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-930.mdx
Owners: none

Release notes fix
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5420.mdx‎
Owners: none

fixed the path issue in the release notes
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5420.mdx
Owners: none

Update remediation.mdx
  src/content/docs/vulnerability-management/cloud/remediation.mdx
Owners: none

Update remediation.mdx
  src/content/docs/vulnerability-management/cloud/remediation.mdx
Owners: none

addressing legal and sme changes
  src/content/docs/new-relic-control/pipeline-control/gateway/filter-processor.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/install-gateway-without-flux.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/overview.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/set-up-and-deploy-pipeline-control.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/yaml-overview.mdx
  src/i18n/content/es/docs/new-relic-control/pipeline-control/gateway/filter-processor.mdx
  src/i18n/content/es/docs/new-relic-control/pipeline-control/gateway/yaml-overview.mdx
  src/i18n/content/fr/docs/new-relic-control/pipeline-control/gateway/filter-processor.mdx
  src/i18n/content/fr/docs/new-relic-control/pipeline-control/gateway/yaml-overview.mdx
  src/i18n/content/jp/docs/new-relic-control/pipeline-control/gateway/filter-processor.mdx
  src/i18n/content/jp/docs/new-relic-control/pipeline-control/gateway/yaml-overview.mdx
  src/i18n/content/kr/docs/new-relic-control/pipeline-control/gateway/filter-processor.mdx
  src/i18n/content/kr/docs/new-relic-control/pipeline-control/gateway/yaml-overview.mdx
  src/i18n/content/pt/docs/new-relic-control/pipeline-control/gateway/filter-processor.mdx
  src/i18n/content/pt/docs/new-relic-control/pipeline-control/gateway/yaml-overview.mdx
Owners: none

Fix frontmatter formatting to resolve GraphQL build error
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-930.mdx
Owners: none

sme inputs
  src/content/docs/new-relic-control/pipeline-control/gateway/install-gateway-without-flux.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/set-up-and-deploy-pipeline-control.mdx
  src/content/docs/new-relic-control/pipeline-control/ingest-pipeline.mdx
  static/images/ingest-pipeline.webp
Owners: none

feat: add JP data center cloud-collector endpoint to Lambda env variables doc
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
Owners: none

feat: add JP data center sourcemaps endpoint to browser source maps API doc
  src/content/docs/browser/new-relic-browser/browser-pro-features/upload-source-maps-api.mdx
Owners: none

kushagra's changes addressed
  src/content/docs/new-relic-control/pipeline-control/gateway/install-gateway-without-flux.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/set-up-and-deploy-pipeline-control.mdx
Owners: none
