Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

added the metadata as per new release notes templates
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-7111.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-131.mdx
Owners: none

linguistic udpates
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-131.mdx
Owners: none

minor linguistic updates
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-7111.mdx
Owners: none

Updated the metadata as per new release notes template
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-191.mdx
Owners: none

chore(ruby agent): add release notes
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-10-8-0.mdx
Owners: none

chore(ruby agent): Update config docs
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Owners: none

Update fedramp.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp.mdx
Owners: none

Update hipaa.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/hipaa.mdx
Owners: none

chore: append ios-agent PR #885 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

chore: Add Browser agent v1.322.0 release notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.322.0.mdx
Owners: none

change: ios compat docs
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/get-started/new-relic-ios-compatibility-requirements.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/tvos/new-relic-tvos-compatibility-requirements.mdx
Owners: none

feat: Add release notes for NRDOT 2.5.0
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2-5-0.mdx
Owners: none

Update intelligent-workload-ui.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/intelligent-workload-ui.mdx
Owners: none

update options
  src/content/docs/infrastructure/oracle-cloud/introduction.mdx
Owners: none

updated the link
  src/content/whats-new/2026/09/whats-new-09-15-ground-truth.md
Owners: @john-withers, @aalfano7

Address review feedback on Lens GA docs
  src/content/docs/new-relic-lens/materialized-views.mdx
  src/content/docs/new-relic-lens/overview.mdx
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

Split permission/capability terminology by context in Lens permissions doc
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

Update New Relic Lens docs for GA (PP to GA transition)
  src/content/docs/new-relic-lens/materialized-views.mdx
  src/content/docs/new-relic-lens/overview.mdx
  src/content/docs/new-relic-lens/query-data.mdx
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

Add TIMESERIES multi-series query example to Lens docs
  src/content/docs/new-relic-lens/query-data.mdx
Owners: none

Restructure Lens permission tables to match capability batches exactly
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

Document UI-based method for granting Lens permissions
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

Fix AWS connector setup journey and external-ID wording in set-up-connectors.mdx
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

Update src/content/docs/new-relic-lens/query-data.mdx
  src/content/docs/new-relic-lens/query-data.mdx
Owners: none

Simplify Lens overview intro and connector setup wording
  src/content/docs/new-relic-lens/overview.mdx
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

Restructure Lens docs into intro/setup shape, fix pricing table and query-data example
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/new-relic-lens/materialized-views.mdx
  src/content/docs/new-relic-lens/overview.mdx
  src/content/docs/new-relic-lens/query-data.mdx
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

Add BigQuery connector to Lens set-up-connectors docs
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

Fix heading hierarchy and index categorization in llms.txt export
  plugins/gatsby-plugin-llms-txt/__tests__/gatsby-node.test.js
  plugins/gatsby-plugin-llms-txt/gatsby-node.js
Owners: @newrelic/docs-engineering

[Workflow Automation] - Dashboard snapshot email attachment
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-notification.mdx
Owners: none

chore: style improvements
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/fleet-control/security.mdx
Owners: none

Add APM ↔ Elasticsearch distributed tracing correlation docs
  src/content/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-install.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-overview.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/find-and-query-data.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/troubleshooting.mdx
Owners: none

Incorporate Legal edits, naming consistency, and final gap fixes
  src/content/docs/agentic-ai/mcp/overview.mdx
  src/content/docs/agentic-ai/mcp/setup.mdx
  src/content/docs/agentic-ai/mcp/tool-reference.mdx
  src/content/docs/agentic-ai/mcp/troubleshoot.mdx
Owners: none

Update get-started-pathpoint.mdx
  src/content/docs/pathpoint/get-started-pathpoint.mdx
Owners: none

Updates
  src/content/docs/apis/nerdgraph/examples/nerdgraph-pathpoint-flows.mdx
Owners: none

add scrape interval
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-setup.mdx
Owners: none

Split Release Notes/What's New into nested hubs, fix a fresh-build crash, and rename 4 mistyped whats-new files
  plugins/gatsby-plugin-llms-txt/__tests__/gatsby-node.test.js
  plugins/gatsby-plugin-llms-txt/gatsby-node.js
  src/content/whats-new/2022/03/whats-new-3-28-pagerduty-integration.md
  src/content/whats-new/2023/04/whats-new-04-13-spring-kafka-streams.md
  src/content/whats-new/2023/06/Interactive-scorecards.md
  src/content/whats-new/2026/02/whats-new-02-25-dynamic-runbooks.md
Owners: @newrelic/docs-engineering, @john-withers, @aalfano7

Open "View as Markdown" in a new tab instead of navigating away
  src/components/MdxLlmTools.js
Owners: @newrelic/docs-engineering

Fix two build-breaking bugs: unknown-API export validation and invalid markdownAST GraphQL field
  plugins/gatsby-plugin-llms-txt/__tests__/gatsby-node.test.js
  plugins/gatsby-plugin-llms-txt/gatsby-node.js
  plugins/gatsby-plugin-llms-txt/lib/helpers.js
Owners: @newrelic/docs-engineering

done linguistic changes
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/configure-eas-build-react-native.mdx
Owners: none

linguistic change
  src/content/docs/new-relic-control/fleet-control/manage-fleets.mdx
Owners: none

done linguistic changes
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-10-8-0.mdx
Owners: none
