Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

Update php-agent-installation-aws-linux-redhat-centos.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
Owners: none

Update php-agent-installation-rpm-key-rotation.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-rpm-key-rotation.mdx
Owners: none

Update apm.yml
  src/nav/apm.yml
Owners: none

Final
  .idea/copilot.data.migration.ask2agent.xml
  .idea/prettier.xml
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-509.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.61.0.mdx
Owners: none

fix(workflows): fix manually add translation workflows
  scripts/actions/add-files-to-translation-queue.js
  scripts/actions/manual-add-files-to-translation-queue.js
Owners: @newrelic/docs-engineering

fix(workflows): fix manually add translation workflows
  scripts/actions/add-files-to-translation-queue.js
  scripts/actions/add-untranslated-files-to-translation-queue.js
  scripts/actions/manual-add-files-to-translation-queue.js
Owners: @newrelic/docs-engineering

Delete .idea/copilot.data.migration.ask2agent.xml
  .idea/copilot.data.migration.ask2agent.xml
Owners: none

Delete .idea/prettier.xml
  .idea/prettier.xml
Owners: none

Final edits after the SME feedback
  src/content/docs/new-relic-lens/materialized-views.mdx
  src/content/docs/new-relic-lens/overview.mdx
  src/content/docs/new-relic-lens/query-data.mdx
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

minor change
  src/content/docs/new-relic-lens/materialized-views.mdx
Owners: none

Whats new post for New Relic Homepage
  src/content/whats-new/2026/02/.gitkeep
  src/content/whats-new/2026/02/whats-new-02-24-new-home-page.md
Owners: @john-withers, @aalfano7

fix: mdx errors
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
Owners: none

fix: mdx errors
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
Owners: none

fix: mdx errors
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
Owners: none

feat: Add SAP Monitoring Icon
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/software.js
Owners: @newrelic/docs-engineering

Whats New post for No code Parsing
  src/content/whats-new/2026/02/.gitkeep
  src/content/whats-new/2026/02/whats-new-02-19-no-code-parsing.md
Owners: @john-withers, @aalfano7

Revert "Ruby Release Notes"
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-10-2-0.mdx
Owners: none

wip
  src/content/docs/new-relic-solutions/new-relic-one/workloads/create-intelligent-workload.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/intelligent-workload-kpis.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/intelligent-workload-ui.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/workloads-overview.mdx
  static/images/access-intelligent-workloads.webp
  static/images/create_intelligent_workload.webp
  static/images/intelligent-workload-manage-kpis.webp
  static/images/intelligent-workload-select-entity.webp
  static/images/workloads_overview.webp
Owners: none

Update whats-new-02-24-collector-observability.md
  src/content/whats-new/2026/02/whats-new-02-24-collector-observability.md
Owners: @john-withers, @aalfano7

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

update structure
  src/content/docs/opentelemetry/integrations/rabbitmq/find-and-query-data.mdx
  src/content/docs/opentelemetry/integrations/rabbitmq/kubernetes.mdx
  src/content/docs/opentelemetry/integrations/rabbitmq/self-hosted.mdx
Owners: none

Updates
  src/content/docs/logs/ui-data/parsing.mdx
  static/images/matching_pattern.webp
Owners: none

NR-523735 Added the code samples for swift and objective-c
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/pause-replay.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-replay.mdx
Owners: none

Update parsing.mdx
  src/content/docs/logs/ui-data/parsing.mdx
Owners: none

Add Fleet Control APIs and CLI documentation and enhance existing pages
  src/content/docs/new-relic-control/fleet-control/apis-and-cli.mdx
  src/content/docs/new-relic-control/fleet-control/manage-fleets.mdx
  src/content/docs/new-relic-control/fleet-control/overview.mdx
  src/nav/new-relic-control.yml
Owners: none

Final updates
  src/content/docs/new-relic-lens/materialized-views.mdx
  src/content/docs/new-relic-lens/overview.mdx
  src/content/docs/new-relic-lens/query-data.mdx
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

APM(chore): Change release date for v11.5.0
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110500.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

Added the rest of the information
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/pause-replay.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-replay.mdx
Owners: none

Fixed typo
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-replay.mdx
Owners: none

Typo fix
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-replay.mdx
Owners: none

Typo fix 3
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/pause-replay.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-replay.mdx
Owners: none

NR-526257: modify mobile-logs.mdx for clarity
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-logs.mdx
Owners: none

fix typo
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-logs.mdx
Owners: none

Add import hook bug
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110500.mdx
Owners: none

Update authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Owners: none

Apply suggestions from code review
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110500.mdx
Owners: none

Add more features
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110500.mdx
Owners: none

Update Fleet Control permissions screenshot alt text
  src/content/docs/new-relic-control/fleet-control/manage-fleets.mdx
Owners: none

Update src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110500.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110500.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
