Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

new what's new changes
  src/content/whats-new/2026/03/whats-new-03-12-change-tracking
  static/images/CT_2.png
Owners: @john-withers, @aalfano7

Rename whats-new-03-12-change-tracking to whats-new-03-12-change-tracking.md
  src/content/whats-new/2026/03/whats-new-03-12-change-tracking.md
Owners: @john-withers, @aalfano7

remove content
  src/content/docs/agentic-ai/sre-agent/use-sre-agent.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

address comments
  src/content/docs/agentic-ai/sre-agent/overview.mdx
  src/content/docs/agentic-ai/sre-agent/sre-agent-setup.mdx
  src/content/docs/agentic-ai/sre-agent/use-sre-agent.mdx
Owners: none

Update newrelic-notification example
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-notification.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

Feat: Add AI agent monitoring documentation
  src/content/docs/ai-monitoring/explore-ai-data/view-ai-agents.mdx
Owners: none

Update: Add preview callout and navigation for AI agent monitoring
  src/content/docs/ai-monitoring/explore-ai-data/view-ai-agents.mdx
  src/nav/ai-monitoring.yml
Owners: none

chore(.net agent): Update compatibility docs for latest Dotty package versions
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Owners: none

Update to HT pages top contributors
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Owners: none

Update overview.mdx
  src/content/docs/agentic-ai/mcp/overview.mdx
Owners: none

Update setup.mdx
  src/content/docs/agentic-ai/mcp/setup.mdx
Owners: none

Update tool-reference.mdx
  src/content/docs/agentic-ai/mcp/tool-reference.mdx
Owners: none

Update new-relic-ai.mdx
  src/content/docs/agentic-ai/new-relic-ai.mdx
Owners: none

Update anomaly-detection.mdx
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
Owners: none

Update alert-event-workflows.mdx
  src/content/docs/alerts/get-notified/alert-event-workflows.mdx
Owners: none

Update muting-rules-suppress-notifications.mdx
  src/content/docs/alerts/get-notified/muting-rules-suppress-notifications.mdx
Owners: none

Update notification-integrations.mdx
  src/content/docs/alerts/get-notified/notification-integrations.mdx
Owners: none

Update net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Owners: none

Update using-phpinfo-verify-php.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/using-phpinfo-verify-php.mdx
Owners: none

Update python-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
Owners: none

Update ruby-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Owners: none

Update aws-privatelink.mdx
  src/content/docs/data-apis/custom-data/aws-privatelink.mdx
Owners: none

Update collect-custom-attributes.mdx
  src/content/docs/data-apis/custom-data/custom-events/collect-custom-attributes.mdx
Owners: none

Update terraform-intro.mdx
  src/content/docs/infrastructure-as-code/terraform/terraform-intro.mdx
Owners: none

Update oracle-database-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
Owners: none

Update introduction-log-api.mdx
  src/content/docs/logs/log-api/introduction-log-api.mdx
Owners: none

Update env-variables-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
Owners: none

Update introduction-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
Owners: none

Python Agent v12.0.0 release notes
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-120000.mdx
Owners: none

Docs changes for removal of CAT and Python 3.8
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
  src/content/docs/apm/transactions/cross-application-traces/introduction-cross-application-traces.mdx
Owners: none

Updates
  src/content/docs/apm/agents/python-agent/getting-started/instrumented-python-packages.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-120000.mdx
Owners: none

docs: remove http/rpc page from collector o11y
  src/content/docs/opentelemetry/collector-observability/collector-observability.mdx
  static/images/otel_collector_o11y-httprpc.webp
Owners: none

docs: remove http/rpc page from collector o11y
  src/content/docs/opentelemetry/collector-observability/collector-observability.mdx
  static/images/otel_collector_o11y-httprpc.webp
Owners: none

fix(translations): fix es translation builds
  src/i18n/content/es/docs/workflow-automation/setup-and-configure/actions-catalog/aws/aws-systemsmanager.mdx
Owners: none

remove the preview callout from eBPF
  src/content/docs/change-tracking/overview.mdx
  src/content/docs/ebpf/best-practices.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

fix(trigger-i18n): fix trigger i18n merge workflows
  .github/workflows/trigger-i18n-merge.yml
  scripts/actions/trigger-i18n-merge.js
Owners: @newrelic/docs-engineering

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
