Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

Create Terraform-guide
  src/content/docs/new-relic-solutions/new-relic-one/workloads/Terraform-guide
Owners: none

feat: Add release notes for NRDOT Host Monitoring 2.4.3
  src/content/docs/release-notes/nrdot-release-notes/nrdot-host-2-4-3.mdx
Owners: none

Added the left nav
  src/nav/workflow-automation.yml
Owners: none

Fix more silent content-loss bugs in llms.txt markdown export
  plugins/gatsby-plugin-llms-txt/__tests__/gatsby-node.test.js
  plugins/gatsby-plugin-llms-txt/gatsby-node.js
Owners: @newrelic/docs-engineering

Added OKE and supported versions range for mariadb and aurora
  src/content/docs/ebpf/requirements.mdx
Owners: none

chore(deps): security updates — js-yaml, tmp, ws, diff, eslint, react-use, hast-util-select
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

revert: eslint back to ^7.7.0 — babel-eslint incompatible with eslint 8 ESM internals
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

Update hosted.mdx
  src/content/docs/opentelemetry/database/postgresql/hosted.mdx
Owners: none

Updated rds.mdx
  src/content/docs/opentelemetry/database/postgresql/rds.mdx
Owners: none

Update hosted.mdx
  src/content/docs/opentelemetry/database/mysql/hosted.mdx
Owners: none

feat: Add Linkerd Otel instrumentation docs
  src/content/docs/opentelemetry/integrations/linkerd/find-and-query-your-data.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-metrics-reference.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-overview.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-setup.mdx
  src/nav/opentelemetry.yml
Owners: none

Update hosted.mdx
  src/content/docs/opentelemetry/database/mysql/hosted.mdx
Owners: none

Update rds.mdx
  src/content/docs/opentelemetry/database/mysql/rds.mdx
Owners: none

Create node-browser-runtime-3.0.220.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.220.mdx
Owners: none

Create ping-runtime-1.82.0.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.82.0.mdx
Owners: none

Create node-api-runtime-1.2.272.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.272.mdx
Owners: none

Create job-manager-release-623.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/job-manager-release-623.mdx
Owners: none

Create job-manager-release-623.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-623.mdx
Owners: none

Delete src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/job-manager-release-623.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/job-manager-release-623.mdx
Owners: none

chore(deps): bump uuid 9→14 and gatsby-transformer-remark 5.24→5.25.1
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

Added the left nav, and updated the doc to mdx format
  src/content/docs/new-relic-solutions/new-relic-one/workloads/terraform-guide.mdx
  src/nav/workloads.yml
Owners: none

fix(distributed-tracing): update UI doc to match redesigned DT interface
  src/content/docs/distributed-tracing/ui-data/understand-use-distributed-tracing-ui.mdx
Owners: none

fix(distributed-tracing): add updated screenshots for redesigned DT UI
  src/content/docs/distributed-tracing/ui-data/understand-use-distributed-tracing-ui.mdx
  static/images/distributed-tracing_screenshot-full_trace-group-scatter-plot.webp
  static/images/distributed-tracing_screenshot-full_trace-list-ui.webp
Owners: none

Update hosted.mdx
  src/content/docs/opentelemetry/database/mysql/hosted.mdx
Owners: none

Update rds.mdx
  src/content/docs/opentelemetry/database/mysql/rds.mdx
Owners: none

Update hosted.mdx
  src/content/docs/opentelemetry/database/mysql/hosted.mdx
Owners: none

Update rds.mdx
  src/content/docs/opentelemetry/database/mysql/rds.mdx
Owners: none

Update hosted.mdx
  src/content/docs/opentelemetry/database/postgresql/hosted.mdx
Owners: none

Update rds.mdx
  src/content/docs/opentelemetry/database/postgresql/rds.mdx
Owners: none

Update rds.mdx
  src/content/docs/opentelemetry/database/mysql/rds.mdx
Owners: none

Update hosted.mdx
  src/content/docs/opentelemetry/database/mysql/hosted.mdx
Owners: none

Updated the language and structure of the document
  src/content/docs/new-relic-solutions/new-relic-one/workloads/terraform-guide.mdx
  src/nav/workloads.yml
Owners: none

Update filter-new-relic-one-dashboards-facets.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/filter-new-relic-one-dashboards-facets.mdx
Owners: none

fix: downgrade uuid from ^14 to ^11.1.1 — ESM compat with Netlify
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

Updated the navigation at the bottom
  src/content/docs/new-relic-solutions/new-relic-one/workloads/terraform-guide.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

feat(whats-new): Reference the current dashboard from anywhere with {{selfEntity}}
  src/content/whats-new/2026/10/whats-new-10-16-selfentity-dashboard-variable.md
Owners: @john-withers, @aalfano7

update frontmatter
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2-4-3.mdx
Owners: none

remove meta description
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2-4-3.mdx
Owners: none

Update whats-new-10-16-selfentity-dashboard-variable.md
  src/content/whats-new/2026/10/whats-new-10-16-selfentity-dashboard-variable.md
Owners: @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
