Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

enroll to preview removal
  src/content/docs/opentelemetry/database/capabilities/db-apm.mdx
  src/content/docs/opentelemetry/database/mssql/introduction.mdx
  src/content/docs/opentelemetry/database/mssql/linux-hosted.mdx
  src/content/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/content/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/content/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/content/docs/opentelemetry/database/mysql/compatibility.mdx
  src/content/docs/opentelemetry/database/mysql/hosted.mdx
  src/content/docs/opentelemetry/database/mysql/introduction.mdx
  src/content/docs/opentelemetry/database/mysql/rds.mdx
  src/content/docs/opentelemetry/database/oracle/adb.mdx
  src/content/docs/opentelemetry/database/oracle/host-cdb.mdx
  src/content/docs/opentelemetry/database/oracle/host-pdb.mdx
  src/content/docs/opentelemetry/database/oracle/rds.mdx
  src/content/docs/opentelemetry/database/postgresql/compatibility.mdx
  src/content/docs/opentelemetry/database/postgresql/hosted.mdx
  src/content/docs/opentelemetry/database/postgresql/introduction.mdx
  src/content/docs/opentelemetry/database/postgresql/rds.mdx
Owners: none

removed guided orphan file
  src/content/docs/opentelemetry/database/mysql/guided.mdx
Owners: none

Updated the feedback by the developer
  src/content/docs/nrql/nrql-examples/browserspa-nrql-query-examples.mdx
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/content/docs/nrql/nrql-tutorials/nrql-tutorial-advanced-functions.mdx
  src/content/docs/nrql/nrql-tutorials/nrql-tutorial-process-your-data.mdx
Owners: none

updated the release notes
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.244.mdx
Owners: none

docs: add Debian 13 (Trixie) and Windows Server 2025 (LTSC) support for logging (OS list + Fluent Bit 5.0.8 notes)
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-26-06-30.mdx
  src/content/docs/release-notes/logs-release-notes/logs-26-06-30.mdx
Owners: none

fix: add --scope user to claude mcp add command in MCP setup doc
  src/content/docs/agentic-ai/mcp/setup.mdx
Owners: none

Add locale-aware snippet translation (Problem B)
  scripts/__tests__/generate-snippets.test.js
  scripts/actions/__esm-tests__/fetch-and-deserialize.test.mjs
  scripts/actions/fetch-and-deserialize.mjs
  scripts/generate-snippets.js
  src/components/Snippets.js
  src/components/snippets/.generated/ApmNodejsPrerequisites.en.js
  src/components/snippets/.generated/ApmSharedPrerequisites.en.js
  src/components/snippets/.generated/PpCalloutPublicPreview.en.js
  src/components/snippets/.generated/ReuseableWarning.en.js
  src/components/snippets/README.md
Owners: @newrelic/docs-engineering

Updated the information from the dashboard ui team
  src/content/docs/query-your-data/explore-query-data/dashboards/share-dashboards-publicly.mdx
Owners: none

Add a throwaway canary snippet to verify the translation round-trip live
  src/components/Snippets.js
  src/components/snippets/.generated/CanaryTranslationTest.en.js
  src/components/snippets/canary-translation-test.mdx
Owners: @newrelic/docs-engineering

kerberos auth tag
  src/content/docs/synthetics/synthetic-monitoring/private-locations/synthetics-kerberos-auth-support.mdx
Owners: none

docs(aws-logs): add steps to update the Lambda forwarder's code from the AWS console
  src/content/docs/logs/forward-logs/guidelines-to-upgrade-to-new-lambda.mdx
Owners: none

[Workflow Automation] - Added Azure Cosmos DB actions to the actions catalog
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/actions-catalog.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/azure/azure-cosmos-db.mdx
  src/nav/workflow-automation.yml
Owners: none

Restore "Whats new 09 16 improved facet linking dashboards"
  src/content/whats-new/2026/09/whats-new-09-16-selfentity-dashboard-variable.md
Owners: @john-withers, @aalfano7

chore: add translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

Update releaseDate to 2026-09-29 per confirmed publish date
  src/content/whats-new/2026/09/whats-new-09-16-selfentity-dashboard-variable.md
Owners: @john-withers, @aalfano7

release date changed
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.244.mdx
Owners: none

fix: resolve MDX validation errors in HT #25898
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

[Workflow Automation] - AWS Resource Groups Tagging API actions
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/actions-catalog.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/resourcetagging/aws-resourcetagging.mdx
  src/nav/workflow-automation.yml
Owners: none

Add nav entry for Kerberos auth doc, convert placeholder table to HTML
  src/content/docs/synthetics/synthetic-monitoring/private-locations/synthetics-kerberos-auth-support.mdx
  src/nav/synthetics.yml
Owners: none

fix: remove broken jp onboarding template files
  src/i18n/content/jp/docs/ja-JP/templates/onboarding/onboarding-install.mdx
  src/i18n/content/jp/docs/ja-JP/templates/onboarding/onboarding-intro.mdx
Owners: none

docs: add documentation release notes for September 21 - 25, 2026
  src/content/docs/release-notes/docs-release-notes/docs-9-25-2026.mdx
Owners: none

Update choose-infra-install-method.mdx
  src/content/docs/infrastructure/choose-infra-install-method.mdx
Owners: none

fix(release-notes): fix curly quote in java-agent-950.mdx releaseDate
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-950.mdx
Owners: none

fixed meta data
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-1211.mdx
Owners: none

Revert "Java Agent v9.5.0 release notes"
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-950.mdx
Owners: none

restored the preview callout
  src/content/docs/new-relic-control/agent-control/agent-types.mdx
Owners: none

docs(agent-control): document permissions for configuration-only mode
  src/content/docs/new-relic-control/agent-control/overview.mdx
Owners: none

docs(release-notes): restore Java agent v9.5.0 release notes with quotes fixed
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-950.mdx
Owners: none

Update java-agent-950.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-950.mdx
Owners: none

Language updates
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Owners: none

Wrap Part 1 steps in collapsers, fix passive voice in step 6 callout
  src/content/docs/synthetics/synthetic-monitoring/private-locations/synthetics-kerberos-auth-support.mdx
Owners: none

docs: document NEW_RELIC_LICENSE_KEY for guided install and fix Windows support note
  src/content/docs/infrastructure/infrastructure-agent/new-relic-guided-install-overview.mdx
Owners: none

[NR-617902] Android agent v7.8.3 release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-783.mdx
Owners: none

feat(whats-new): call out config approval workflows as their own feature
  src/content/whats-new/2026/09/whats-new-09-29-host-support-ga.md
Owners: @john-withers, @aalfano7

chore(ruby agent): add release notes
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-10-9-0.mdx
Owners: none

chore(ruby agent): Update config docs
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Owners: none

remove duplicate content
  src/content/docs/infrastructure/oci/introduction.mdx
  src/content/docs/infrastructure/oci/metrics-reference.mdx
Owners: none

added to left nav
  src/content/docs/opentelemetry/database/mysql/guided.mdx
  src/nav/opentelemetry.yml
Owners: none
