Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

docs(agent-control): upgrade through Fleet Control, add pre-GA install callout
  src/content/docs/new-relic-control/agent-control/upgrading.mdx
Owners: none

OCI whats new
  src/content/whats-new/2026/09/whats-new-09-30-oci-ga.md
Owners: @john-withers, @aalfano7

removed duplicate content
  src/content/whats-new/2026/09/whats-new-09-30-oci-ga.md
Owners: @john-withers, @aalfano7

fix: add missing release-notes frontmatter arrays
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-26-09-29.mdx
Owners: none

Update set-up-connectors.mdx
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

minor fix in summary
  src/content/whats-new/2026/09/whats-new-09-30-oci-ga.md
Owners: @john-withers, @aalfano7

Update increase-user-engagement.mdx
  src/content/docs/website-performance-monitoring/increase-user-engagement.mdx
Owners: none

chore: append ios-agent PR #906 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

Tighten agent-control 1.19.0 release notes to match template
  src/content/docs/release-notes/agent-control-release-notes/newrelic-agent-control-1-19-0.mdx
Owners: none

feat(Agent Control): automate installation at scale without a 12h identity re-issue
  src/content/docs/new-relic-control/agent-control/automated-installation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/nav/new-relic-control.yml
Owners: none

chore: append ios-agent PR #904 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

updated cdb and pdf files along with config-reference for them
  src/content/docs/opentelemetry/database/oracle/config-reference.mdx
  src/content/docs/opentelemetry/database/oracle/host-cdb.mdx
  src/content/docs/opentelemetry/database/oracle/host-pdb.mdx
Owners: none

minor fixes
  src/content/docs/infrastructure/oci/metrics-reference.mdx
  src/content/docs/infrastructure/oci/troubleshoot.mdx
  src/content/docs/infrastructure/oci/uninstall.mdx
Owners: none

updated the oracle rds and its full feature configuration
  src/content/docs/opentelemetry/database/oracle/config-reference.mdx
  src/content/docs/opentelemetry/database/oracle/rds.mdx
Owners: none

adb updates
  src/content/docs/opentelemetry/database/oracle/adb.mdx
  src/content/docs/opentelemetry/database/oracle/config-reference.mdx
Owners: none

updated the cncf, callouts for adb, cdb, pdb, and rds files
  src/content/docs/opentelemetry/database/oracle/adb.mdx
  src/content/docs/opentelemetry/database/oracle/cncf.mdx
  src/content/docs/opentelemetry/database/oracle/host-cdb.mdx
  src/content/docs/opentelemetry/database/oracle/host-pdb.mdx
  src/content/docs/opentelemetry/database/oracle/rds.mdx
Owners: none

metrics udpates
  src/content/docs/opentelemetry/database/capabilities/sql-query-receiver.mdx
  src/content/docs/opentelemetry/database/oracle/metrics-reference.mdx
Owners: none

sepearation of configuration for both hosted and rds in mysql and created config-reference file for full-feature config
  src/content/docs/opentelemetry/database/mysql/config-reference.mdx
  src/content/docs/opentelemetry/database/mysql/hosted.mdx
  src/content/docs/opentelemetry/database/mysql/rds.mdx
Owners: none

udpated the nav file
  src/nav/opentelemetry.yml
Owners: none

Add 10.x to support table
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
Owners: none

Port beta sampler-related documentation to docs site
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/distributed-tracing/distributed-trace-sampling.mdx
  src/content/docs/apm/distributed-tracing/sampler-configuration-examples.mdx
Owners: none

update freshnessvalidatedDate
  src/content/docs/infrastructure/oci/introduction.mdx
  src/content/docs/infrastructure/oci/metrics-reference.mdx
  src/content/docs/infrastructure/oci/troubleshoot.mdx
  src/content/docs/infrastructure/oci/uninstall.mdx
Owners: none

added mysql config updates
  src/content/docs/opentelemetry/database/capabilities/sql-query-receiver.mdx
  src/content/docs/opentelemetry/database/mysql/advanced-config.mdx
  src/content/docs/opentelemetry/database/mysql/config-reference.mdx
  src/content/docs/opentelemetry/database/mysql/hosted.mdx
  src/content/docs/opentelemetry/database/mysql/multi-receiver.mdx
  src/content/docs/opentelemetry/database/mysql/rds.mdx
Owners: none

Add fill-in-the-blank templates for conditionals; remove canary test file
  src/components/Snippets.js
  src/components/snippets/.generated/CanaryTranslationTest.en.js
  src/components/snippets/README.md
  src/components/snippets/canary-translation-test.mdx
Owners: @newrelic/docs-engineering

Apply docs style review fixes to OCI GA what's new
  src/content/whats-new/2026/09/whats-new-09-30-oci-ga.md
Owners: @john-withers, @aalfano7

updated the frontmatter
  src/content/docs/opentelemetry/database/mssql/ansible.mdx
  src/content/docs/opentelemetry/database/mssql/chef.mdx
  src/content/docs/opentelemetry/database/mssql/cli.mdx
  src/content/docs/opentelemetry/database/mssql/cncf.mdx
  src/content/docs/opentelemetry/database/mssql/docker.mdx
  src/content/docs/opentelemetry/database/mssql/helm.mdx
  src/content/docs/opentelemetry/database/mssql/linux-hosted.mdx
  src/content/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/content/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/content/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/content/docs/opentelemetry/database/mysql/ansible.mdx
  src/content/docs/opentelemetry/database/mysql/chef.mdx
  src/content/docs/opentelemetry/database/mysql/cli.mdx
  src/content/docs/opentelemetry/database/mysql/docker.mdx
  src/content/docs/opentelemetry/database/mysql/helm.mdx
  src/content/docs/opentelemetry/database/mysql/hosted.mdx
  src/content/docs/opentelemetry/database/mysql/introduction.mdx
  src/content/docs/opentelemetry/database/mysql/rds.mdx
  src/content/docs/opentelemetry/database/oracle/introduction.mdx
  src/content/docs/opentelemetry/database/postgresql/ansible.mdx
  src/content/docs/opentelemetry/database/postgresql/chef.mdx
  src/content/docs/opentelemetry/database/postgresql/cli.mdx
  src/content/docs/opentelemetry/database/postgresql/docker.mdx
  src/content/docs/opentelemetry/database/postgresql/helm.mdx
  src/content/docs/opentelemetry/database/postgresql/hosted.mdx
  src/content/docs/opentelemetry/database/postgresql/introduction.mdx
  src/content/docs/opentelemetry/database/postgresql/rds.mdx
  src/nav/opentelemetry.yml
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

Revert "OCI GA docs"
  src/content/docs/infrastructure/oci/introduction.mdx
  src/content/docs/infrastructure/oci/metrics-reference.mdx
  src/content/docs/infrastructure/oci/troubleshoot.mdx
  src/content/docs/infrastructure/oci/uninstall.mdx
  src/content/docs/logs/forward-logs/oci-log-forwarder-observability.mdx
  src/nav/infrastructure.yml
  src/nav/logs.yml
Owners: none

Revert "OCI whats new"
  src/content/whats-new/2026/09/whats-new-09-30-oci-ga.md
Owners: @john-withers, @aalfano7

chore(infrastructure agent): add release notes for v1.80.5
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1805.mdx
Owners: none

feat: improve AC docs
  src/content/docs/new-relic-control/agent-control/agent-types.mdx
  src/content/docs/new-relic-control/agent-control/overview.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
Owners: none

Revert "Revert "OCI GA docs""
  src/content/docs/infrastructure/oci/introduction.mdx
  src/content/docs/infrastructure/oci/metrics-reference.mdx
  src/content/docs/infrastructure/oci/troubleshoot.mdx
  src/content/docs/infrastructure/oci/uninstall.mdx
  src/content/docs/logs/forward-logs/oci-log-forwarder-observability.mdx
  src/nav/infrastructure.yml
  src/nav/logs.yml
Owners: none

Revert "Revert "OCI whats new""
  src/content/whats-new/2026/09/whats-new-09-30-oci-ga.md
Owners: @john-withers, @aalfano7

docs: add What's New post for new trace map experience
  src/content/whats-new/2026/09/whats-new-09-28-trace-map-clustering.md
Owners: @john-withers, @aalfano7

docs(whats-new): apply review suggestions, drop AWS Secrets Manager, fix link
  src/content/whats-new/2026/09/whats-new-09-29-host-support-ga.md
Owners: @john-withers, @aalfano7

docs: document updated entity map experience in trace details
  src/content/docs/distributed-tracing/ui-data/trace-details.mdx
  static/images/distributed-tracing-trace-details-page-latency-view.webp
  static/images/distributed-tracing-trace-details-page-map-view.webp
  static/images/distributed-tracing_screenshot-crop_focus-on-example.webp
Owners: none

Update new-relic-infrastructure-agent-1805.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1805.mdx
Owners: none

docs(agent-control): apply Dan's writing-style review to automated installation guide
  src/content/docs/new-relic-control/agent-control/automated-installation.mdx
Owners: none

[Workflow Automation] - NR tagging actions
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/actions-catalog.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/tagging/newrelic-tagging-addtags.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/tagging/newrelic-tagging-deletetags.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/tagging/newrelic-tagging-deletetagvalues.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/tagging/newrelic-tagging-replacetags.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/tagging/newrelic-tagging.mdx
  src/nav/workflow-automation.yml
Owners: none

docs(gcp): add Distributed Cloud Edge monitoring integration page
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-distributed-cloud-edge-monitoring-integration.mdx
  src/nav/infrastructure.yml
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
