Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

docs: agent-control remove reference to JWT Credentials from the setup
  src/content/docs/new-relic-control/agent-control/setup.mdx
Owners: none

include latest config
  src/content/docs/distributed-tracing/infinite-tracing-on-premise/bring-your-own-cache.mdx
Owners: none

wip
  src/content/docs/infrastructure/infrastructure-alerts/alert-infrastructure-processes.mdx
Owners: none

chore: Update Attribute Dictionary JSON
  src/data/attribute-dictionary-en.json
Owners: none

Update migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/content/docs/data-apis/manage-data/migrate-drop-rules-to-pipeline-cloud-rules.mdx
Owners: none

Fixed review comments
  src/content/docs/service-architecture-intelligence/github-integration.mdx
Owners: none

Update migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/content/docs/data-apis/manage-data/migrate-drop-rules-to-pipeline-cloud-rules.mdx
Owners: none

updated the docker image version
  src/content/eol/2025/11/eol-chrome-140-node-22-synthetics.md
Owners: none

removed comma
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
Owners: none

fix: callout, p handlers for serialisation
  scripts/actions/utils/handlers.mjs
Owners: @newrelic/docs-engineering

wip
  src/content/docs/query-your-data/explore-query-data/notebooks/add-queries-to-notebooks.mdx
  src/content/docs/query-your-data/explore-query-data/notebooks/introduction-notebooks.mdx
Owners: none

Apply suggestions from code review
  src/content/docs/query-your-data/explore-query-data/notebooks/add-queries-to-notebooks.mdx
Owners: none

wip
  src/content/docs/query-your-data/explore-query-data/notebooks/add-queries-to-notebooks.mdx
  src/content/docs/query-your-data/explore-query-data/notebooks/introduction-notebooks.mdx
Owners: none

docs: update secrets providers field name
  src/content/docs/new-relic-control/agent-control/configuration.mdx
Owners: none

added steps correction
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/java-extensions-k8s-auto-attach.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

fixed review comments
  src/content/docs/query-your-data/explore-query-data/notebooks/add-queries-to-notebooks.mdx
  src/content/docs/query-your-data/explore-query-data/notebooks/introduction-notebooks.mdx
Owners: none

fix the formatting issue
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/java-extensions-k8s-auto-attach.mdx
Owners: none

Add files via upload
  src/content/whats-new/2025/11/whats-new-11-05-MCP SERVER.md
Owners: @john-withers, @aalfano7

remove duplicate content, move config to the top
  src/content/docs/distributed-tracing/infinite-tracing-on-premise/bring-your-own-cache.mdx
Owners: none

chore: build break test with 31st June
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
Owners: @john-withers, @aalfano7

chore: add translations
  src/i18n/content/es/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/fr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.mdx
  src/i18n/content/jp/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.mdx
  src/i18n/content/kr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/kr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.297.mdx
  src/i18n/content/kr/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.mdx
  src/i18n/content/kr/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.mdx
  src/i18n/content/pt/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/pt/docs/cci/configure-cci/general-setting.mdx
  src/i18n/content/pt/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.297.mdx
  src/i18n/content/pt/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.mdx
  src/i18n/content/pt/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.mdx
Owners: none

fix: mdx errors
  src/i18n/content/es/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/fr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/kr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/pt/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/pt/docs/cci/configure-cci/general-setting.mdx
Owners: none

fix(mdx-issues): resolve verify mdx issues
  src/i18n/content/es/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/fr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/kr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/pt/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/pt/docs/cci/configure-cci/general-setting.mdx
Owners: none

chore: AI experiment to revamp netlify build comment workflow
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: Update Attribute Dictionary JSON
  src/data/attribute-dictionary-en.json
Owners: none

chore: add translations
  src/i18n/content/jp/docs/alerts/create-alert/set-thresholds/set-thresholds-alert-condition.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/jp/docs/infrastructure/infrastructure-agent/linux-installation/package-manager-install.mdx
  src/i18n/content/jp/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
  src/i18n/content/jp/docs/nrql/get-started/introduction-nrql-how-nrql-works.mdx
  src/i18n/content/jp/docs/nrql/get-started/introduction-nrql-new-relics-query-language.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer.mdx
  src/i18n/content/kr/docs/infrastructure/infrastructure-agent/linux-installation/package-manager-install.mdx
  src/i18n/content/kr/docs/nrql/get-started/introduction-nrql-how-nrql-works.mdx
  src/i18n/content/kr/docs/nrql/get-started/introduction-nrql-new-relics-query-language.mdx
Owners: none

chore: try making the workflow more resilient?
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: breaking the infinite loop of build, by splitting build and deploy commands
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

Update opentelemetry-get-started-intro.mdx
  src/content/docs/opentelemetry/get-started/opentelemetry-get-started-intro.mdx
Owners: none

chore: test PR v2, build break test with 31st June: DO NOT MERGE
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: optimize workflow?
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: fix forked member check part of the workflow?
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: working so good so far, optimize timestamp diff logic
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: works as expected, some cosmetic changes
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: works as expected, some cosmetic changes, probably final?
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: remove the build failure inducer to test success flow
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
Owners: @john-withers, @aalfano7

chore: more cosmetics, timezone changes, informative PR comments
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: tiny fixes
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: tiny fixes
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering
