Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

fix: resolve MDX validation errors
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

Update whats-new-10-16-selfentity-dashboard-variable.md
  src/content/whats-new/2026/10/whats-new-10-16-selfentity-dashboard-variable.md
Owners: @john-withers, @aalfano7

update frontmatter
  src/content/docs/release-notes/nrdot-release-notes/nrdot-host-2-4-3.mdx
Owners: none

linguistic updates
  src/content/docs/query-your-data/explore-query-data/dashboards/filter-new-relic-one-dashboards-facets.mdx
Owners: none

Add files via upload
  src/content/whats-new/2026/09/whats-new-09-16-selfentity-dashboard-variable.md
Owners: @john-withers, @aalfano7

linguistic update
  src/content/docs/query-your-data/explore-query-data/dashboards/filter-new-relic-one-dashboards-facets.mdx
Owners: none

Update whats-new-09-16-selfentity-dashboard-variable.md
  src/content/whats-new/2026/09/whats-new-09-16-selfentity-dashboard-variable.md
Owners: @john-withers, @aalfano7

update subject
  src/content/docs/release-notes/nrdot-release-notes/nrdot-host-2-4-3.mdx
Owners: none

chore(deps): bulk security batch 3 — js-yaml 3→4, trim resolutions
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

chore: Adds Node.js agent v14.4.0 release notes.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-14-4-0.mdx
Owners: none

fix: replace yaml.safeLoad/safeDump with yaml.load/dump for js-yaml 4.x
  scripts/actions/utils/handlers.mjs
  scripts/createSingleNav.js
  scripts/getNavForTranslation.js
  scripts/utils/frontmatter.js
  src/utils/sortIndexPage.js
Owners: @newrelic/docs-engineering

add title
  src/content/docs/release-notes/nrdot-release-notes/nrdot-host-2-4-3.mdx
Owners: none

update frontmatter
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-623.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.272.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.220.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.82.0.mdx
Owners: none

chore: append ios-agent PR #891 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

fix capitalization
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.220.mdx
Owners: none

chore: append ios-agent PR #886 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

Rename get_error_statistics to analyze_errors, fix OAuth scopes, update VS Code API key config
  src/content/docs/agentic-ai/mcp/overview.mdx
  src/content/docs/agentic-ai/mcp/setup.mdx
  src/content/docs/agentic-ai/mcp/tool-reference.mdx
Owners: none

Update VS Code API key config: remove inputs block, use plain API key placeholder
  src/content/docs/agentic-ai/mcp/setup.mdx
Owners: none

Fix OAuth scopes: update from openid to observability:read, offline, offline_access
  src/content/docs/agentic-ai/mcp/overview.mdx
Owners: none

Update personal data request submission details and links
  src/content/docs/security/security-privacy/data-privacy/new-relic-personal-data-requests.mdx
Owners: none

fix: correct AgentConfig import path in locale mssql/windows-hosted.mdx files
  src/i18n/content/es/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mssql/windows-hosted.mdx
Owners: none

fix: remove dead AgentConfig import from locale mssql/windows-hosted.mdx files
  src/i18n/content/es/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mssql/windows-hosted.mdx
Owners: none

Update system-identities.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/system-identities.mdx
Owners: none

docs: clarify GCP WIF pool/provider name flexibility
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-workload-identity-federation.mdx
Owners: none

endpoint fix
  src/content/docs/infrastructure/prometheus-integrations/view-query-data/grafana.mdx
Owners: none

feat(.net agent): Document kafka metrics configuration settings
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Owners: none

docs(change-tracking): clarify REST deployment API EOL and migration path
  src/content/docs/apis/rest-api-v2/migrate-to-nerdgraph.mdx
  src/content/docs/apm/apm-ui-pages/events/record-deployments.mdx
  src/content/docs/change-tracking/config/nerdgraph.mdx
  src/content/docs/change-tracking/view-analyze-data.mdx
  src/content/eol/2026/07/eol-07-31-26-rest-api-v2.md
Owners: none

Fix incomplete tag sanitization in llms.txt Collapser-title cleanup
  plugins/gatsby-plugin-llms-txt/__tests__/gatsby-node.test.js
  plugins/gatsby-plugin-llms-txt/gatsby-node.js
Owners: @newrelic/docs-engineering

change indentataion for helm and manifest
  src/content/docs/opentelemetry/integrations/elasticsearch/advanced-configuration.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/install-configure/kubernetes/nrdot-helm-install.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/install-configure/kubernetes/nrdot-manifest-install.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/install-configure/kubernetes/prometheus-receiver.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/introduction.mdx
  src/nav/opentelemetry.yml
Owners: none

minor updates
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-workload-identity-federation.mdx
Owners: none

remove extra info
  src/content/docs/opentelemetry/integrations/elasticsearch/install-configure/self-hosted/nrdot.mdx
Owners: none

fix self hosted nrdot doc gaps
  src/content/docs/opentelemetry/integrations/elasticsearch/install-configure/self-hosted/nrdot.mdx
Owners: none

fix nrdot otel doc gaps
  src/content/docs/opentelemetry/integrations/elasticsearch/install-configure/self-hosted/otel-collector-contrib.mdx
Owners: none

[NRQL] - Updated the Rate limit for NRQL
  src/content/docs/nrql/using-nrql/rate-limits-nrql-queries.mdx
Owners: none

fix self hosted prometheus doc gaps
  src/content/docs/opentelemetry/integrations/elasticsearch/install-configure/self-hosted/otel-collector-contrib.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/install-configure/self-hosted/prometheus-receiver.mdx
Owners: none

docs(gcp): add callout for GCP dashboard/alert migration tool
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/introduction-google-cloud-platform-integrations.mdx
Owners: none

metadata fix
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2-4-3.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

linguistic updates
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/introduction-google-cloud-platform-integrations.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
