Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

fixed the troubleshooting guide
  src/content/docs/opentelemetry/database/postgresql/troubleshooting.mdx
Owners: none

chore: Add Browser agent v1.320.1 release notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.320.1.mdx
Owners: none

fixed the verify-mdx error
  src/content/docs/opentelemetry/database/postgresql/explain-permissions.mdx
  src/content/docs/opentelemetry/database/postgresql/hosted.mdx
Owners: none

updated the titles for mysql
  src/content/docs/opentelemetry/database/mysql/hosted.mdx
  src/content/docs/opentelemetry/database/mysql/multi-receiver.mdx
  src/content/docs/opentelemetry/database/mysql/rds.mdx
Owners: none

fixed the linter error
  src/components/OTelConfig.js
Owners: @newrelic/docs-engineering

Update manage-teams.mdx
  src/content/docs/service-architecture-intelligence/teams/manage-teams.mdx
Owners: none

Remove translationType: machine from Mobile User Journeys doc
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/user-journeys.mdx
Owners: none

add install page
  src/content/docs/opentelemetry/integrations/docker/install-configure.mdx
  src/content/docs/opentelemetry/integrations/docker/introduction.mdx
  src/content/docs/opentelemetry/integrations/docker/metrics-reference.mdx
  src/content/docs/opentelemetry/integrations/docker/self-hosted.mdx
  src/content/docs/opentelemetry/integrations/docker/troubleshooting.mdx
  src/nav/opentelemetry.yml
Owners: none

Address review feedback: fix org product admin wording, drop redundant callout duplicate, revert what's new edit
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/whats-new/2025/02/whats-new-02-18-new-access-management.md
Owners: @john-withers, @aalfano7

Update manage-teams.mdx
  src/content/docs/service-architecture-intelligence/teams/manage-teams.mdx
Owners: none

make separate tabs for nrdot and opentel
  src/content/docs/opentelemetry/integrations/docker/install-configure.mdx
Owners: none

updated the autopilot docs for browser implementation
  src/content/docs/agentic-ai/autopilot/overview.mdx
  src/content/docs/agentic-ai/autopilot/use-autopilot.mdx
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

chore: Adds Node.js agent v14.3.8 release notes.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-14-3-8.mdx
Owners: none

chore: append ios-agent PR #871 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

feat: Add release notes for NRDOT 2.2.0
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2026-08-19.mdx
Owners: none

docs: add NRDOT release notes 2.2.0
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2026-08-19-01.mdx
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2026-08-19-02.mdx
Owners: none

nav updates
  src/nav/new-relic-solutions.yml
  src/nav/pathpoint.yml
  src/nav/root.yml
Owners: none

added collapsers to windows domain authentication
  src/content/docs/opentelemetry/database/mssql/windows-hosted.mdx
Owners: none

added doctile for db-apm link
  src/content/docs/opentelemetry/database/postgresql/hosted.mdx
  src/content/docs/opentelemetry/database/postgresql/introduction.mdx
Owners: none

Added release notes for job manager 612
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-612.mdx
Owners: none

Update react-native-agent-190.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-190.mdx
Owners: none

Added release notes for job manager 612
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-612.mdx
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-612.mdx
Owners: none

Update job-manager-release-612.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-612.mdx
Owners: none

Addded missing cve list to node-browser
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.203.mdx
Owners: none

Update private-location-capabilities.mdx
  src/content/docs/synthetics/synthetic-monitoring/guides/private-location-capabilities.mdx
Owners: none

Update private-location-capabilities.mdx
  src/content/docs/synthetics/synthetic-monitoring/guides/private-location-capabilities.mdx
Owners: none

Update private-location-capabilities.mdx
  src/content/docs/synthetics/synthetic-monitoring/guides/private-location-capabilities.mdx
Owners: none

Update private-location-capabilities.mdx
  src/content/docs/synthetics/synthetic-monitoring/guides/private-location-capabilities.mdx
Owners: none

docs(synthetics): style pass on private location capabilities guide
  src/content/docs/synthetics/synthetic-monitoring/guides/private-location-capabilities.mdx
Owners: none

Update synthetics.yml
  src/nav/synthetics.yml
Owners: none

Apply style review edits to synthetic monitoring use cases guide
  src/content/docs/synthetics/synthetic-monitoring/guides/synthetic-monitoring-use-cases.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/agentic-ai/mcp/overview.mdx
  src/i18n/content/jp/docs/alerts/create-alert/create-alert-condition/create-nrql-alert-conditions.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/alerts/scale-automate/rest-api/rest-api-calls-alerts.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/jp/docs/data-apis/custom-data/aws-privatelink.mdx
  src/i18n/content/jp/docs/data-apis/ingest-apis/event-api/introduction-event-api.mdx
  src/i18n/content/jp/docs/infrastructure/choose-infra-install-method.mdx
  src/i18n/content/jp/docs/infrastructure/infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/i18n/content/jp/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/i18n/content/jp/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/private-locations/private-locations-overview-monitor-internal-sites-add-new-locations.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

Update nrdot-2026-08-19-02.mdx
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2026-08-19-02.mdx
Owners: none

Updated the document with comments from PM
  src/content/docs/cci/configure-cci/custom-facets.mdx
Owners: none

added cncf and docs as per dev provided new configurations
  src/content/docs/opentelemetry/database/mssql/cncf.mdx
  src/content/docs/opentelemetry/database/mssql/config-reference.mdx
  src/content/docs/opentelemetry/database/mssql/introduction.mdx
  src/content/docs/opentelemetry/database/mssql/linux-hosted.mdx
  src/content/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/content/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/content/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/nav/opentelemetry.yml
Owners: none

fix(i18n): resolve MDX validation errors in jp/kr HT - Pattern B: restore Callout indentation in jp/notification-integrations - Pattern A: remove double braces in jp/kr nrql-syntax-clauses-functions
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

Updates
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/azure/azure-devops-api.mdx
Owners: none

implemented the dev changes
  src/content/docs/opentelemetry/database/postgresql/compatibility.mdx
  src/content/docs/opentelemetry/database/postgresql/explain-permissions.mdx
  src/content/docs/opentelemetry/database/postgresql/hosted.mdx
  src/content/docs/opentelemetry/database/postgresql/metrics-reference.mdx
  src/content/docs/opentelemetry/database/postgresql/rds.mdx
Owners: none

Updates
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-lens.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
