Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

docs(whats-new): add cross-account query limit increase (5 to 30) post
  src/content/whats-new/2026/09/whats-new-09-22-cross-account-query-limit-30.md
  static/images/multi-account-query.webp
Owners: @john-withers, @aalfano7

docs(whats-new): clean up link formatting for API reference
  src/content/whats-new/2026/09/whats-new-09-22-cross-account-query-limit-30.md
Owners: @john-withers, @aalfano7

docs(whats-new): fix comma after introductory "However"
  src/content/whats-new/2026/09/whats-new-09-22-cross-account-query-limit-30.md
Owners: @john-withers, @aalfano7

fix: resolve MDX syntax errors in PR #25817 translation files
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

add CLI, Ansible, Chef, and Helm chart install methods for Oracle NRDOT monitoring
  src/content/docs/opentelemetry/database/oracle/ansible.mdx
  src/content/docs/opentelemetry/database/oracle/chef.mdx
  src/content/docs/opentelemetry/database/oracle/cli.mdx
  src/content/docs/opentelemetry/database/oracle/helm.mdx
  src/content/docs/opentelemetry/database/oracle/introduction.mdx
Owners: none

add ADB support to Oracle CLI, Ansible, and Chef NRDOT install docs
  src/content/docs/opentelemetry/database/oracle/ansible.mdx
  src/content/docs/opentelemetry/database/oracle/chef.mdx
  src/content/docs/opentelemetry/database/oracle/cli.mdx
Owners: none

add log forwarder doc and other structure updates
  src/content/docs/infrastructure/oci/introduction.mdx
  src/content/docs/infrastructure/oci/metrics-reference.mdx
  src/content/docs/infrastructure/oci/troubleshoot.mdx
  src/content/docs/infrastructure/oci/uninstall.mdx
  src/content/docs/logs/forward-logs/oci-log-forwarder-observability.mdx
  src/nav/infrastructure.yml
  src/nav/logs.yml
Owners: none

docs(pathpoint): address review comments on Pathpoint 2.0 docs (NR-621075)
  src/content/docs/pathpoint/create-manage-pathpoints.mdx
  src/content/docs/pathpoint/get-started-pathpoint.mdx
  src/content/docs/pathpoint/health-indicators.mdx
  src/content/docs/pathpoint/kpis.mdx
  src/content/docs/pathpoint/pathpoint-view.mdx
Owners: none

docs(pathpoint): rename slugs to flow-view and create-manage-flows (NR-621075)
  src/content/docs/apis/nerdgraph/examples/nerdgraph-pathpoint-flows.mdx
  src/content/docs/pathpoint/create-manage-flows.mdx
  src/content/docs/pathpoint/flow-view.mdx
  src/content/docs/pathpoint/get-started-pathpoint.mdx
  src/content/docs/pathpoint/health-indicators.mdx
  src/content/docs/pathpoint/kpis.mdx
  src/nav/new-relic-solutions.yml
Owners: none

docs: Add Python Agent 13.6.1 release notes
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-130601.mdx
Owners: none

Updated the question format
  src/content/docs/cci/faq.mdx
Owners: none

new files for linkerd
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-nrdot-helm.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-nrdot-manifest.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-otelcol-helm.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-overview.mdx
Owners: none

fix: inline standalone <code> tag in all locale builds (fr/kr/jp/pt)
  src/i18n/content/fr/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/jp/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/kr/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/pt/docs/vulnerability-management/agent/overview.mdx
Owners: none

fix: inline standalone <code> tag in all locale builds (fr/kr/jp/pt)
  src/i18n/content/fr/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/jp/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/kr/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/pt/docs/vulnerability-management/agent/overview.mdx
Owners: none

fix: inline standalone <code> tag in all locale builds (fr/kr/jp/pt)
  src/i18n/content/fr/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/jp/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/kr/docs/vulnerability-management/agent/overview.mdx
  src/i18n/content/pt/docs/vulnerability-management/agent/overview.mdx
Owners: none

address comments for log forwarder
  src/content/docs/infrastructure/oci/troubleshoot.mdx
  src/content/docs/infrastructure/oci/uninstall.mdx
  src/content/docs/logs/forward-logs/oci-log-forwarder-observability.mdx
Owners: none

fix: merge vendor-split paragraphs around inline JSX in deserialization
  scripts/actions/__esm-tests__/deserialize-html.test.mjs
  scripts/actions/deserialize-html.mjs
Owners: @newrelic/docs-engineering

[Workflow Automation] - Autoflow RCA Email
  src/content/docs/workflow-automation/workflow-examples/integrations/autopilot-email-rca.mdx
  src/content/docs/workflow-automation/workflow-examples/workflow-examples.mdx
  src/nav/workflow-automation.yml
Owners: none

fix: resolve MDX errors blocking machine translation for 4 files
  src/content/docs/opentelemetry/database/oracle/rds.mdx
  src/content/docs/opentelemetry/integrations/haproxy/distributed-tracing.mdx
  src/content/docs/opentelemetry/integrations/nginx/nginx-otel-distributed-tracing.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/container.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX validation errors in HT #25830
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX errors, JSX-APOS, remove deleted-on-develop files for MT #25831
  src/i18n/content/es/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.4.mdx
  src/i18n/content/es/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.mdx
  src/i18n/content/es/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.mdx
  src/i18n/content/fr/docs/fr-FR/templates/release-notes-template.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.mdx
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.4.mdx
  src/i18n/content/jp/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.mdx
  src/i18n/content/jp/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.mdx
  src/i18n/content/kr/docs/ebpf/troubleshooting/troubleshoot-k8s.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.4.mdx
  src/i18n/content/kr/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.mdx
  src/i18n/content/kr/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/haproxy/metrics-reference.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.4.mdx
  src/i18n/content/pt/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.mdx
  src/i18n/content/pt/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.mdx
Owners: none

Updated the heading structure
  src/content/docs/cci/faq.mdx
Owners: none

Updated the 12 and 24 to 48 hours
  src/content/docs/cci/get-started/aws/manual-integrate-aws-account.mdx
  src/content/docs/cci/get-started/azure-cci.mdx
Owners: none

fix: preserve MT linux-rds translations — convert Callout bullets to paragraphs
  src/i18n/content/es/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mssql/linux-rds.mdx
Owners: none

add Docker install method for MySQL, PostgreSQL, MSSQL, and Oracle NRDOT monitoring
  src/content/docs/opentelemetry/database/mssql/cli.mdx
  src/content/docs/opentelemetry/database/mssql/docker.mdx
  src/content/docs/opentelemetry/database/mssql/introduction.mdx
  src/content/docs/opentelemetry/database/mysql/cli.mdx
  src/content/docs/opentelemetry/database/mysql/docker.mdx
  src/content/docs/opentelemetry/database/mysql/introduction.mdx
  src/content/docs/opentelemetry/database/oracle/docker.mdx
  src/content/docs/opentelemetry/database/oracle/host-cdb.mdx
  src/content/docs/opentelemetry/database/oracle/host-pdb.mdx
  src/content/docs/opentelemetry/database/oracle/introduction.mdx
  src/content/docs/opentelemetry/database/postgresql/cli.mdx
  src/content/docs/opentelemetry/database/postgresql/docker.mdx
  src/content/docs/opentelemetry/database/postgresql/introduction.mdx
Owners: none

docs: agent control agent type
  src/content/docs/new-relic-control/agent-control/agent-types.mdx
Owners: none

docs: modify the instrumentation in agent-control to cover greenfield or brownfield migration
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/instrumentation.mdx
Owners: none

manifest-otel updates
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-nrdot-helm.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-nrdot-manifest.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-otelcol-helm.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-otelcol-manifest.mdx
Owners: none

Updated the left nav
  src/content/docs/workflow-automation/workflow-examples/integrations/autopilot-email-rca.mdx
  src/content/docs/workflow-automation/workflow-examples/integrations/autopilot-rca.mdx
  src/content/docs/workflow-automation/workflow-examples/integrations/autopilot-slack-rca.mdx
  src/content/docs/workflow-automation/workflow-examples/workflow-examples.mdx
  src/nav/workflow-automation.yml
Owners: none

docs: remove old reinstruentation translations no longer present
  src/i18n/content/es/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/i18n/content/fr/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/i18n/content/jp/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/i18n/content/kr/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/i18n/content/pt/docs/new-relic-control/agent-control/reinstrumentation.mdx
Owners: none

multi-receiver configuration for mssql
  src/content/docs/opentelemetry/database/mssql/multi-receiver.mdx
  src/nav/opentelemetry.yml
Owners: none

update synthetics jp endpoint
  src/content/docs/data-apis/custom-data/aws-privatelink.mdx
Owners: none

docs: add What's New post for Compound Alerts
  src/content/whats-new/2026/09/whats-new-09-22-compound-alerts.md
Owners: @john-withers, @aalfano7

false commit for CLA check
  src/content/docs/opentelemetry/database/mssql/multi-receiver.mdx
Owners: none

docs(release-notes): add required features/enhancements/bugs/security metadata
  src/content/docs/release-notes/streaming-browser-release-notes/streaming-browser-agent-hlsjs-26-09-22.mdx
Owners: none

docs(release-notes): add required features/enhancements/bugs/security metadata
  src/content/docs/release-notes/streaming-browser-release-notes/streaming-browser-agent-videojs-26-09-17.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

docs: add release notes for Flutter agent v1.2.11
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-1211.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
