Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

restarting cla
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/introduction-google-cloud-platform-integrations.mdx
Owners: none

fix the structure
  src/content/docs/opentelemetry/integrations/elasticsearch/advanced-configuration.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/install-configure/kubernetes/nrdot-helm-install.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/install-configure/kubernetes/nrdot-manifest-install.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/install-configure/kubernetes/otel-collector-contrib.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/install-configure/kubernetes/prometheus-receiver.mdx
Owners: none

fix: resolve MDX errors and serializer gaps blocking machine translation
  scripts/actions/utils/handlers.mjs
  src/content/docs/apis/nerdgraph/examples/nerdgraph-streaming-export.mdx
  src/content/docs/browser/new-relic-browser/configuration/configure-ajax-request-events.mdx
  src/content/docs/ebpf/troubleshooting/troubleshoot-k8s.mdx
  src/content/docs/opentelemetry/database/capabilities/sql-query-receiver.mdx
  src/content/docs/opentelemetry/database/otel-oracledb.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/troubleshooting.mdx
  src/content/docs/opentelemetry/integrations/haproxy/self-hosted.mdx
  src/content/docs/opentelemetry/integrations/ibm-mq/troubleshooting.mdx
  src/content/docs/vulnerability-management/cloud/setup.mdx
Owners: @newrelic/docs-engineering

fix: resolve additional MDX/component errors surfaced in a later translation run
  scripts/actions/utils/docs-content-tools/i18n-exclusions.yml
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/react-native-agent-js-error-reporting.mdx
  src/content/docs/new-relic-solutions/get-started/networks.mdx
  templates/onboarding/onboarding-install.template.mdx
  templates/onboarding/onboarding-intro.template.mdx
Owners: @newrelic/docs-engineering

fix: resolve MDX validation errors, JSX-APOS corruption, and remove deleted-on-develop files
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/es/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/i18n/content/es/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/es/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/fr-FR/templates/release-notes-template.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/ko-KR/templates/release-notes-template.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/pt-BR/templates/release-notes-template.mdx
Owners: none

fix: remove es-LA locale template placeholder (deleted on develop, breaks MDX)
  src/i18n/content/es/docs/es-LA/templates/release-notes-template.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

feat: add Slack reporting to the machine-translate pipeline
  .github/workflows/send-content-to-machine-translate.yml
  scripts/actions/send-and-update-translation-queue.mjs
Owners: @newrelic/docs-engineering

fix: resolve MDX syntax errors in PR #25672 translation files
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/es/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/ko-KR/templates/release-notes-template.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: resolve MDX syntax errors in PR #25674 translation files
  src/i18n/content/es/docs/es-LA/templates/release-notes-template.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/es/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/fr-FR/templates/release-notes-template.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/ko-KR/templates/release-notes-template.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/pt-BR/templates/release-notes-template.mdx
Owners: none

fix: resolve MDX syntax errors in PR #25667 translation files
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX syntax errors in PR #25673 translation files
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX syntax errors in PR #25671 translation files
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

added a nav entry for workload UI
  src/nav/workloads.yml
Owners: none

Add documentation release notes for September 06 - September 13, 2026
  src/content/docs/release-notes/docs-release-notes/docs-9-13-2026.mdx
Owners: none

updated the minor/major category
  src/content/docs/release-notes/docs-release-notes/docs-9-13-2026.mdx
Owners: none

minor update
  src/content/docs/release-notes/docs-release-notes/docs-9-13-2026.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/agentic-ai/mcp/overview.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fixed the description for rns
  src/content/docs/release-notes/docs-release-notes/docs-9-13-2026.mdx
Owners: none

feat(agent-control): update value providers docs
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/overview.mdx
  src/content/docs/new-relic-control/fleet-control/manage-fleets.mdx
  src/content/docs/new-relic-control/fleet-control/security.mdx
Owners: none

ground-truth-whats-app
  src/content/whats-new/2026/09/whats-new-09-15-ground-truth.md
Owners: @john-withers, @aalfano7

fix: resolve MDX validation errors and JSX-APOS corruption
  src/i18n/content/es/docs/opentelemetry/integrations/haproxy/metrics-reference.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/haproxy/metrics-reference.mdx
Owners: none

chore(capacitor agent): add release notes v1.6.12
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-1612.mdx
Owners: none

chore(unity agent): add release notes v1.7.1
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-171.mdx
Owners: none

Apply suggestion from @WriteMayur
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-1612.mdx
Owners: none

Apply batched suggestions from code review
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-171.mdx
Owners: none

chore(flutter agent): add release notes v1.3.1
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-131.mdx
Owners: none

chore(react-native agent): add release notes v1.9.1
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-191.mdx
Owners: none

docs: add release notes for Cordova agent v7.1.11 and .NET MAUI agent v1.3.1
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-7111.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-131.mdx
Owners: none

docs(gcp): document GCPSERVICEATTACHMENT and GCPPRIVATESERVICECONNECTENDPOINT entities
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-compute-engine-monitoring-integration.mdx
Owners: none

fix: remove stale pt/es/fr/kr release-notes-template.mdx placeholders
  src/i18n/content/es/docs/es-LA/templates/release-notes-template.mdx
  src/i18n/content/fr/docs/fr-FR/templates/release-notes-template.mdx
  src/i18n/content/kr/docs/ko-KR/templates/release-notes-template.mdx
  src/i18n/content/pt/docs/pt-BR/templates/release-notes-template.mdx
Owners: none

fix: point webdriver CI tests at the live production URL
  scripts/actions/webdriver-desktop.mjs
  scripts/actions/webdriver-mobile.mjs
Owners: @newrelic/docs-engineering

fix: point webdriver CI tests at the live production URL
  scripts/actions/webdriver-desktop.mjs
  scripts/actions/webdriver-mobile.mjs
Owners: @newrelic/docs-engineering

fix: dismiss cookie consent banner before mobile tile click
  scripts/actions/webdriver-mobile.mjs
Owners: @newrelic/docs-engineering

chore: append ios-agent PR #894 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

fix: propagate file deletions to i18n locale branches
  scripts/actions/trigger-i18n-merge.js
Owners: @newrelic/docs-engineering

fix: use the banner's actual aria-label to dismiss it
  scripts/actions/webdriver-mobile.mjs
Owners: @newrelic/docs-engineering

added metadata as per new rn templates
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-131.mdx
Owners: none

resolve the mdx error
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-7111.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
