Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

remove callouts and nergraph page
  src/content/docs/service-level-management/facet-slm/analyze.mdx
  src/content/docs/service-level-management/facet-slm/configure.mdx
  src/content/docs/service-level-management/facet-slm/intro.mdx
  src/content/docs/service-level-management/maintenance-windows-slm/intro.mdx
  src/content/docs/service-level-management/maintenance-windows-slm/nerdgraph.mdx
  src/content/docs/service-level-management/maintenance-windows-slm/schedule.mdx
  src/nav/service-level-management.yml
Owners: none

Add files via upload
  whats-new-07-15-schedule-nrql-searches-ga.md
Owners: none

Update whats-new-05-12-performance-risks-inbox.md
  src/content/whats-new/2026/05/whats-new-05-12-performance-risks-inbox.md
Owners: @john-withers, @aalfano7

Rename whats-new-05-12-performance-risks-inbox.md to whats-new-05-14-performance-risks-inbox.md
  src/content/whats-new/2026/05/whats-new-05-14-performance-risks-inbox.md
Owners: @john-withers, @aalfano7

improve intro sentences in facet SLM docs
  src/content/docs/service-level-management/facet-slm/analyze.mdx
  src/content/docs/service-level-management/facet-slm/intro.mdx
Owners: none

remove callout
  src/content/docs/apis/nerdgraph/examples/nerdgraph-maintenance-windows-slm.mdx
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

add more apollo docs
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/apollo-server-plugin-nodejs.mdx
Owners: none

fixed versions and dataes
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.20.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.20.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.68.0.mdx
Owners: none

feat: Add release notes for NRDOT Host Monitoring 1.15.1
  src/content/docs/release-notes/nrdot-release-notes/nrdot-host-2026-05-14.mdx
Owners: none

fix: resolve MDX validation errors in kr and jp translation files
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

chore(ruby agent): add release notes
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-10-5-0.mdx
Owners: none

Update requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
Owners: none

chore(ruby agent): Update config docs
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Owners: none

Centralize Chrome version references to Latest
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/runtime-upgrade-troubleshooting.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/new-runtime.mdx
  src/nav/synthetics.yml
Owners: none

feat(whats-new): add SLM maintenance windows and facet compliance post
  src/content/whats-new/2026/05/whats-new-05-15-slm-maintenance-windows-facet-compliance.md
Owners: @john-withers, @aalfano7

Update new-relic-android-5419.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5419.mdx
Owners: none

docs: add GCP AlloyDB Database dimensional metrics to AlloyDB integration page
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-alloydb-monitoring-integration.mdx
Owners: none

chore(whats-new): rename SLM post to 05-18 and update body
  src/content/whats-new/2026/05/whats-new-05-15-slm-maintenance-windows-facet-compliance.md
  src/content/whats-new/2026/05/whats-new-05-18-slm-maintenance-windows-facet-compliance.md
Owners: @john-withers, @aalfano7

chore(whats-new): tweak SLM post title and learn more formatting
  src/content/whats-new/2026/05/whats-new-05-18-slm-maintenance-windows-facet-compliance.md
Owners: @john-withers, @aalfano7

update typo
  src/content/whats-new/2026/05/whats-new-05-18-slm-maintenance-windows-facet-compliance.md
Owners: @john-withers, @aalfano7

Update requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
Owners: none

Update runtime-upgrade-ui.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/i18n/content/jp/docs/infrastructure/prometheus-integrations/view-query-data/supported-promql-features.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetics-scripted-api-monitors-to-node-22.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/security/security-privacy/information-security/security-bulletins.mdx
Owners: none

fix: add explicit minimum permissions to GitHub Actions workflows
  .github/workflows/add-slugs-to-translate-queue.yml
  .github/workflows/add-untranslated-files-to-translation-queue.yml
  .github/workflows/agent-release-notes.yml
  .github/workflows/auto-assign-reviewer.yml
  .github/workflows/auto-comment.yml
  .github/workflows/build-notification.yml
  .github/workflows/check-for-broken-links.yml
  .github/workflows/check-for-keys.yml
  .github/workflows/check-images.yml
  .github/workflows/check-translations-and-deserialize.yml
  .github/workflows/final-manual-deploy-comment.yml
  .github/workflows/gaurab-manual-preview-deploy.yml
  .github/workflows/manual-add-files-to-translation-queue.yml
  .github/workflows/manual-deploy-comment.yml
  .github/workflows/pr-comment-action.yml
  .github/workflows/protected-file-comment.yml
  .github/workflows/release.yml
  .github/workflows/send-content-to-machine-translate.yml
  .github/workflows/send-content-to-translate.yml
  .github/workflows/trigger-i18n-merge.yml
  .github/workflows/update-attribute-dictionary-json.yml
  .github/workflows/update-whats-new-ids.yml
  .github/workflows/vale-lint.yml
  .github/workflows/validate-pr.yml
  .github/workflows/validate-release-notes-json.yml
  .github/workflows/verify-mdx.yml
  .github/workflows/webdriver.yml
Owners: @newrelic/docs-engineering

add feature availability callout to Lens pages
  src/content/docs/new-relic-lens/materialized-views.mdx
  src/content/docs/new-relic-lens/overview.mdx
  src/content/docs/new-relic-lens/query-data.mdx
  src/content/docs/new-relic-lens/set-up-connectors.mdx
Owners: none

remove unnecessary docs
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/apollo-server-plugin-nodejs.mdx
Owners: none

add feature availability callout to Infinite Tracing pages
  src/content/docs/apis/nerdgraph/examples/configure-infinite-tracing-graphql.mdx
  src/content/docs/distributed-tracing/infinite-tracing-on-premise/bring-your-own-cache.mdx
  src/content/docs/distributed-tracing/infinite-tracing/infinite-tracing-configure-proxy-support.mdx
  src/content/docs/distributed-tracing/infinite-tracing/infinite-tracing-configure-random-trace-filter.mdx
  src/content/docs/distributed-tracing/infinite-tracing/infinite-tracing-configure-span-attribute-trace-filter.mdx
  src/content/docs/distributed-tracing/infinite-tracing/infinite-tracing-configure-trace-observer-monitoring.mdx
  src/content/docs/distributed-tracing/infinite-tracing/introduction-infinite-tracing.mdx
  src/content/docs/distributed-tracing/infinite-tracing/set-trace-observer.mdx
  src/content/docs/distributed-tracing/other-requirements/infinite-tracing-configuring-ssl-java-7-8.mdx
  src/content/docs/distributed-tracing/troubleshooting/infinite-tracing-trace-configuration-conflicts.mdx
Owners: none

add feature availability callout to Pixie pages
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/custom-image-registry.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-memory.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/get-started-auto-telemetry-pixie.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/pixie-data-security-overview.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/get-pixie-integration-version.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/get-pixie-logs.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/high-memory-consumption.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/pods-frequently-oomkilled.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/pods-stuck-pending.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/dashboard-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/explore-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/live-debugging-with-pixie.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/overview.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/pixie-entities.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/query-pixie-data.mdx
  src/content/docs/licenses/product-or-service-licenses/auto-telemetry-with-pixie/auto-telemetry-with-pixie-licenses.mdx
Owners: none

Update set-up-session-replay.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-session-replay/set-up-session-replay.mdx
Owners: none

add feature availability callout to Log Patterns page
  src/content/docs/logs/ui-data/find-unusual-logs-log-patterns.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/i18n/content/jp/docs/infrastructure/prometheus-integrations/view-query-data/supported-promql-features.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetics-scripted-api-monitors-to-node-22.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/security/security-privacy/information-security/security-bulletins.mdx
Owners: none

add feature availability callout to Insights Query API page
  src/content/docs/apis/insights-apis/query-insights-event-data-api.mdx
Owners: none

add feature availability callout to REST API v2 pages
  src/content/docs/apis/rest-api-v2/account-examples-v2/listing-users-your-account.mdx
  src/content/docs/apis/rest-api-v2/api-explorer-v2/introduction-new-relics-rest-api-explorer.mdx
  src/content/docs/apis/rest-api-v2/api-explorer-v2/retrieve-metric-timeslice-data-your-app-explorer.mdx
  src/content/docs/apis/rest-api-v2/api-explorer-v2/use-api-explorer.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/application-error-rate-example-v2.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/application-reporting-health-status-v2.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/average-response-time-examples-v2.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/change-alias-your-application-v2.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/get-average-cpu-usage-host-app.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/get-average-throughput-app-v2.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/get-host-memory-used-application.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/get-web-transaction-time-data-v2.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/getting-apdex-data-apps-or-browsers-v2.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/list-apps-host-ids-instance-ids.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/list-your-app-id-metric-timeslice-data-v2.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/summary-data-examples-v2.mdx
  src/content/docs/apis/rest-api-v2/basic-functions/api-overload-protection-handling-429-errors.mdx
  src/content/docs/apis/rest-api-v2/basic-functions/calculate-average-metric-values-summarize.mdx
  src/content/docs/apis/rest-api-v2/basic-functions/extract-metric-timeslice-data.mdx
  src/content/docs/apis/rest-api-v2/basic-functions/pagination-api-output.mdx
  src/content/docs/apis/rest-api-v2/basic-functions/set-custom-user-agent.mdx
  src/content/docs/apis/rest-api-v2/basic-functions/specify-time-range-v2.mdx
  src/content/docs/apis/rest-api-v2/browser-examples-v2/add-or-list-browser-apps-api-v2.mdx
  src/content/docs/apis/rest-api-v2/browser-examples-v2/average-browser-end-user-page-throughput-example-v2.mdx
  src/content/docs/apis/rest-api-v2/browser-examples-v2/average-browser-page-load-time-example-v2.mdx
  src/content/docs/apis/rest-api-v2/browser-examples-v2/obtaining-browser-end-user-page-load-time-data-v2.mdx
  src/content/docs/apis/rest-api-v2/get-started/admin-users-api-key-partnerships.mdx
  src/content/docs/apis/rest-api-v2/get-started/get-app-other-ids-new-relic-one.mdx
  src/content/docs/apis/rest-api-v2/get-started/introduction-new-relic-rest-api-v2.mdx
  src/content/docs/apis/rest-api-v2/get-started/list-application-id-host-id-instance-id.mdx
  src/content/docs/apis/rest-api-v2/labels-examples-v2/create-labels-apps-v2.mdx
  src/content/docs/apis/rest-api-v2/migrate-to-nrql.mdx
  src/content/docs/apis/rest-api-v2/mobile-examples-v2/mobile-crash-count-crash-rate-example-v2.mdx
  src/content/docs/apis/rest-api-v2/troubleshooting/301-response-rest-api-calls.mdx
  src/content/docs/apis/rest-api-v2/troubleshooting/500-error-when-starting-api-explorer.mdx
  src/content/docs/apis/rest-api-v2/troubleshooting/http-200-status-api-explorer.mdx
Owners: none

add feature availability callout to CodeStream licenses page
  src/content/docs/licenses/product-or-service-licenses/codestream/codestream-licenses.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/i18n/content/jp/docs/infrastructure/prometheus-integrations/view-query-data/supported-promql-features.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetics-scripted-api-monitors-to-node-22.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/security/security-privacy/information-security/security-bulletins.mdx
Owners: none

Link newrelic-ebpf-agent.yaml to GitHub source
  src/content/docs/ebpf/linux-installation.mdx
Owners: none

Update eol-chrome-140-node-22-synthetics.md
  src/content/eol/2025/11/eol-chrome-140-node-22-synthetics.md
Owners: none

Update runtime-upgrade-ui.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
