Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

uninstall info
  src/content/docs/opentelemetry/database/otel-mssql.mdx
Owners: none

update yaml
  src/content/docs/agentic-ai/sre-agent/overview.mdx
  src/nav/agentic-ai.yml
Owners: none

Update mobile-monitoring-email-notifications.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/mobile-monitoring-email-notifications.mdx
Owners: none

new info
  src/content/docs/opentelemetry/database/database-service-identification.mdx
  src/content/docs/opentelemetry/database/otel-mssql.mdx
  src/content/docs/opentelemetry/database/otel-oracledb.mdx
Owners: none

remove redundant content
  src/content/docs/agentic-ai/sre-agent/overview.mdx
Owners: none

fix the links
  src/content/docs/opentelemetry/database/database-service-identification.mdx
Owners: none

update overview and setup pages
  src/content/docs/agentic-ai/sre-agent/overview.mdx
  src/content/docs/agentic-ai/sre-agent/sre-agent-setup.mdx
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

update use-sre-agent file
  src/content/docs/agentic-ai/sre-agent/use-sre-agent.mdx
Owners: none

update links
  src/content/docs/agentic-ai/sre-agent/sre-agent-setup.mdx
  src/content/docs/agentic-ai/sre-agent/use-sre-agent.mdx
Owners: none

chore: Adds Node.js agent v13.16.0 release notes.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-13-16-0.mdx
Owners: none

chore(cordova agent): add release notes v7.1.0
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-710.mdx
Owners: none

docs: Update Change Tracking dataHandlingRules field docs
  src/content/docs/change-tracking/config/change-tracking-events.mdx
  src/content/docs/change-tracking/config/nerdgraph.mdx
Owners: none

jvm and protocol related
  src/content/docs/ebpf/k8s-installation.mdx
  src/content/docs/ebpf/linux-installation.mdx
  src/content/docs/ebpf/requirements.mdx
Owners: none

remove staging link
  src/content/docs/ebpf/overview.mdx
  src/content/docs/ebpf/requirements.mdx
Owners: none

pushed the avm new support info
  src/content/docs/ebpf/requirements.mdx
Owners: none

feat(nginx): add support for monitoring NGINX using NRDOT collector
  src/content/docs/opentelemetry/integrations/nginx-plus/nginx-plus-otel.mdx
  src/content/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/content/docs/opentelemetry/integrations/nginx/nginx-otel-kubernetes.mdx
  static/images/opentelemetry_screenshot-nginx-dashboard.webp
Owners: none

Fix: Address review feedback for partial granularity docs
  src/content/docs/distributed-tracing/core-tracing/configure-low-granularity-tracing.mdx
  src/content/docs/distributed-tracing/core-tracing/cost-optimization-strategies.mdx
  src/content/docs/distributed-tracing/core-tracing/introduction-core-tracing.mdx
Owners: none

Implemented SME feedback on navigation
  src/content/docs/infrastructure/amazon-integrations/aws-integration-for-metrics/aws-multi-account.mdx
Owners: none

ebpf nm what's new post
  src/content/whats-new/2026/03/whats-new-03-11-ebpf-ga-enhancements.md
Owners: @john-withers, @aalfano7

Revert "docs: Update Change Tracking dataHandlingRules field docs"
  src/content/docs/change-tracking/config/change-tracking-events.mdx
  src/content/docs/change-tracking/config/nerdgraph.mdx
Owners: none

Revert "Revert "docs: Update Change Tracking dataHandlingRules field docs""
  src/content/docs/change-tracking/config/change-tracking-events.mdx
  src/content/docs/change-tracking/config/nerdgraph.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

fix(translation): prevent code block indentation inside JSX components
  scripts/actions/deserialize-html.mjs
  scripts/actions/serialize-mdx.mjs
Owners: @newrelic/docs-engineering

fix(translation): prevent code block indentation inside JSX components
  __snapshots__/serialize-mdx/kitchen-sink
  __snapshots__/serialize-mdx/serialize-tabs-components
  __snapshots__/serialize-mdx/serializes-button-to-html
  __snapshots__/serialize-mdx/serializes-buttonlink-to-html
  __snapshots__/serialize-mdx/serializes-callouts-with-title-to-html
  __snapshots__/serialize-mdx/serializes-callouts-without-title-to-html
  __snapshots__/serialize-mdx/serializes-collapser-with-jsx-title-to-html
  __snapshots__/serialize-mdx/serializes-collapser-with-plain-text-title-to-html
  __snapshots__/serialize-mdx/serializes-collapsergroup-to-html
  __snapshots__/serialize-mdx/serializes-donottranslate-to-html
  __snapshots__/serialize-mdx/serializes-donottranslate-wrapping-a-collapser
  __snapshots__/serialize-mdx/serializes-externallink-to-html
  __snapshots__/serialize-mdx/serializes-landingpagetile-to-html
  __snapshots__/serialize-mdx/serializes-landingpagetilegrid-to-html
  __snapshots__/serialize-mdx/serializes-link-to-html
  __snapshots__/serialize-mdx/serializes-side-components-to-html
  __snapshots__/serialize-mdx/serializes-sidebyside-to-html
  __snapshots__/serialize-mdx/serializes-table-to-html
  __snapshots__/serialize-mdx/serializes-techtilegrid-to-html
  __snapshots__/serialize-mdx/serializes-video-with-title-to-html
  __snapshots__/serialize-mdx/serializing-components-with-apostrophes-in-their-props
  __snapshots__/serialize-mdx/serializing-components-with-apostrophes-in-their-props-2
  scripts/actions/__tests__/kitchen-sink.mdx
Owners: @newrelic/docs-engineering

fix(translations): fix es translation builds
  src/i18n/content/es/docs/workflow-automation/setup-and-configuration/actions-catalog/aws/aws-systemsmanager.mdx
Owners: none

new updates
  src/content/docs/change-tracking/config/change-tracking-events.mdx
  src/content/docs/change-tracking/config/nerdgraph.mdx
Owners: none

address comments
  src/content/docs/agentic-ai/sre-agent/overview.mdx
  src/content/docs/agentic-ai/sre-agent/sre-agent-setup.mdx
  src/content/docs/agentic-ai/sre-agent/use-sre-agent.mdx
Owners: none

include gen ai point in overview page
  src/content/docs/agentic-ai/sre-agent/overview.mdx
Owners: none

update link
  src/nav/agentic-ai.yml
Owners: none

fix typo
  src/content/docs/opentelemetry/integrations/nginx-plus/nginx-plus-otel.mdx
Owners: none

docs: Adds infar 1.72.8 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1728.mdx
Owners: none

docs(alerts): add examples for anomaly detection seasonality settings
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
Owners: none

Added multiple release notes and patches
  src/content/docs/release-notes/sap-patch-release/index.mdx
  src/content/docs/release-notes/sap-release-notes/nr-note-1231.mdx
  src/content/docs/release-notes/sap-release-notes/patch-release-v3.0-sp1.mdx
  src/content/docs/release-notes/sap-release-notes/patch-release-v3.0-sp10.mdx
  src/content/docs/release-notes/sap-release-notes/patch-release-v3.0-sp11.mdx
  src/content/docs/release-notes/sap-release-notes/patch-release-v3.0-sp2.mdx
  src/content/docs/release-notes/sap-release-notes/patch-release-v3.0-sp3.mdx
  src/content/docs/release-notes/sap-release-notes/patch-release-v3.0-sp4.mdx
  src/content/docs/release-notes/sap-release-notes/patch-release-v3.0-sp5.mdx
  src/content/docs/release-notes/sap-release-notes/patch-release-v3.0-sp6.mdx
  src/content/docs/release-notes/sap-release-notes/patch-release-v3.0-sp7.mdx
  src/content/docs/release-notes/sap-release-notes/patch-release-v3.0-sp8.mdx
  src/content/docs/release-notes/sap-release-notes/patch-release-v3.0-sp9.mdx
  src/content/docs/release-notes/sap-release-notes/sap-release-v3.0.mdx
  src/nav/sap-solutions.yml
  static/images/delete-configuration.webp
  static/images/hana-database-queries.webp
  static/images/monitoring-group-v25.webp
  static/images/new-installation-menu.webp
  static/images/rfc-destination-check-output.webp
  static/images/rfc-destination-check.webp
  static/images/setup-abap-connection.webp
  static/images/upgrade-sp10-to-sp11.webp
Owners: none

Modified with more relatable links and images
  src/content/docs/synthetics/synthetic-monitoring/private-locations/manage-private-location-keys.mdx
  static/images/synthetic_screenshot-crop_private-location-edit-page.webp
  static/images/synthetic_screenshot-crop_private-location-list.webp
  static/images/synthetic_screenshot-crop_private-location-metadata-tags.webp
Owners: none

false commit to restart cla check
  src/content/whats-new/2026/03/whats-new-03-12-change-tracking
Owners: @john-withers, @aalfano7

fix the syntax
  src/content/whats-new/2026/03/whats-new-03-12-change-tracking
Owners: @john-withers, @aalfano7

fix the syntax
  src/content/whats-new/2026/03/whats-new-03-12-change-tracking
Owners: @john-withers, @aalfano7

Add files via upload
  static/images/CT_2.png
Owners: none

Create whats-new-03-12-change-tracking
  src/content/whats-new/2026/03/whats-new-03-12-change-tracking
Owners: @john-withers, @aalfano7
