Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

Clarify monitor-specific queries description in synthetics API docs
  src/content/docs/apis/nerdgraph/examples/synthetics-api/overview.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/query-synthetics-data.mdx
Owners: none

Remove Comprehensive Query Documentation callout from synthetics API overview
  src/content/docs/apis/nerdgraph/examples/synthetics-api/overview.mdx
Owners: none

Add DNT tags to API mutation names and query filters in synthetics API docs
  src/content/docs/apis/nerdgraph/examples/synthetics-api/broken-links-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/certificate-check-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/monitor-downtimes.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/ping-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/private-locations.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/query-synthetics-data.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/scripted-api-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/scripted-browser-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/secure-credentials.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/simple-browser-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/step-monitor.mdx
Owners: none

Replace hyphens with colons in Quick Navigation callout for uniformity
  src/content/docs/apis/nerdgraph/examples/synthetics-api/query-synthetics-data.mdx
Owners: none

Fix parallelism in Quick Navigation callout descriptions
  src/content/docs/apis/nerdgraph/examples/synthetics-api/query-synthetics-data.mdx
Owners: none

Replace hyphens with colons in prose descriptions for uniformity
  src/content/docs/apis/nerdgraph/examples/synthetics-api/query-synthetics-data.mdx
Owners: none

Replace gerund heading 'Supporting entity queries' with 'Entity support queries'
  src/content/docs/apis/nerdgraph/examples/synthetics-api/query-synthetics-data.mdx
Owners: none

Change H4 to H3 for Input parameters and Sample query subheadings
  src/content/docs/apis/nerdgraph/examples/synthetics-api/query-synthetics-data.mdx
Owners: none

Add backticks to MONITOR_ID placeholder references in table descriptions
  src/content/docs/apis/nerdgraph/examples/synthetics-api/query-synthetics-data.mdx
Owners: none

Updated the table and the introduction of the document
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/gcp-integration-metrics.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/i18n/content/jp/docs/agentic-ai/mcp/tool-reference.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/jp/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
  src/i18n/content/jp/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
  src/i18n/content/kr/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

text index
  gatsby-node.js
  package.json
  scripts/build.sh
  scripts/search/build-all-search-indexes.js
  scripts/search/build-search-index.js
  scripts/search/test-search.js
  src/@newrelic/gatsby-theme-newrelic/components/GlobalHeader.js.backup
  src/@newrelic/gatsby-theme-newrelic/components/GlobalSearch.js
  src/components/CustomSearch.backup/CustomSearchInput.js
  src/components/CustomSearch.backup/CustomSearchModal.js
  src/components/CustomSearch/SearchInput.js
  src/components/CustomSearch/SearchModal.js
  src/components/CustomSearch/index.js
  src/components/GlobalKeyboardShortcuts.js
  src/hooks/useKeyboardShortcut.js
  src/layouts/HomePageLayout.js
  src/layouts/MainLayout.js
  src/pages/search-component-test.js
  src/pages/search-test-simple.js
  src/pages/search-test.js.backup
  src/pages/search-unified-test.js
  src/utils/search/SearchEngine.js
  src/utils/search/searchApi.js
  src/utils/search/useSearch.js
Owners: @newrelic/docs-engineering

Added the whats new post for NRAI Knowledge
  src/content/whats-new/2026/06/whats-new-06-08-knowledge.md
Owners: @john-withers, @aalfano7

docs: apply doc team review suggestions to parent-account cancellation callout
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
Owners: none

feat(ac): jp support
  src/content/docs/new-relic-control/agent-control/configuration.mdx
Owners: none

Updated the heading
  src/content/whats-new/2026/06/whats-new-06-08-knowledge.md
Owners: @john-withers, @aalfano7

feat(ac): jp support
  src/content/docs/new-relic-control/agent-control/configuration.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

wip
  src/content/docs/release-notes/docs-release-notes/docs-6-5-2026.mdx
Owners: none

Fixed broken links
  src/content/docs/release-notes/docs-release-notes/docs-6-5-2026.mdx
Owners: none

phase 2
  gatsby-node.js
  scripts/search/build-search-index.js
  src/components/CustomSearch/SearchInput.js
  src/components/CustomSearch/SearchModal.js
Owners: @newrelic/docs-engineering

chore: Add new JP region in upload-dsyms-bitcode-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/upload-dsyms-bitcode-apps.mdx
Owners: none

chore: Update android-agent-crash-reporting.mdx with new JP endpoint
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/android-agent-crash-reporting.mdx
Owners: none

phase clean-up
  scripts/search/build-all-search-indexes.js
  scripts/search/test-search.js
  src/@newrelic/gatsby-theme-newrelic/components/GlobalHeader.js.backup
  src/components/CustomSearch.backup/CustomSearchInput.js
  src/components/CustomSearch.backup/CustomSearchModal.js
  src/components/CustomSearch/index.js
  src/components/GlobalKeyboardShortcuts.js
  src/hooks/useKeyboardShortcut.js
  src/layouts/HomePageLayout.js
  src/layouts/MainLayout.js
  src/pages/search-component-test.js
  src/pages/search-test-simple.js
  src/pages/search-test.js.backup
  src/pages/search-unified-test.js
  src/utils/search/searchApi.js
  src/utils/search/useSearch.js
Owners: @newrelic/docs-engineering

add sre release notes
  src/content/docs/release-notes/index.mdx
  src/content/docs/release-notes/sre-agent-release-notes/index.mdx
  src/content/docs/release-notes/sre-agent-release-notes/sre-agent-26-06-08.mdx
  src/content/docs/release-notes/sre-agent-release-notes/sre-agent-26-06-09.mdx
Owners: none

Create new-relic-android-5421.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5421.mdx
Owners: none

clean up
  gatsby-config.js
  package.json
  scripts/build.sh
Owners: @newrelic/docs-engineering

Updated the release notes
  src/content/docs/release-notes/streaming-browser-release-notes/streaming-browser-agent-shaka-26-02-18.mdx
  src/content/docs/release-notes/streaming-browser-release-notes/streaming-browser-agent-shaka-26-03-09.mdx
  src/content/docs/release-notes/streaming-browser-release-notes/streaming-browser-agent-videojs-26-05-13.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-05-02.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-26-02-10.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-26-03-31.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-26-04-22.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-26-05-21.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-26-02-02.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-26-02-17.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-26-03-31.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-26-04-22.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-26-05-20.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-26-05-21.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-26-06-05.mdx
  src/content/docs/release-notes/streaming-others-release-notes/streaming-others-agent-26-04-09.mdx
  src/content/docs/release-notes/streaming-others-release-notes/streaming-others-agent-26-05-14.mdx
Owners: none

update eu with eu01
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/android-agent-crash-reporting.mdx
  src/content/docs/new-relic-control/agent-control/configuration.mdx
Owners: none

Added release notes for fluent-bit and logs for fluent bit 5.0.6
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-26-06-09.mdx
  src/content/docs/release-notes/logs-release-notes/logs-26-06-09.mdx
Owners: none

fixes
  src/content/docs/release-notes/docs-release-notes/docs-6-5-2026.mdx
Owners: none

fixes
  src/content/docs/release-notes/docs-release-notes/docs-6-5-2026.mdx
Owners: none

feat: Add release notes for Kubernetes integration v4.3.0
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-4-3-0.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/i18n/content/jp/docs/agentic-ai/mcp/tool-reference.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/jp/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
  src/i18n/content/jp/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
  src/i18n/content/kr/docs/infrastructure/prometheus-integrations/view-query-data/grafana-to-nr-dashboard-translation-rest-api.mdx
  src/i18n/content/kr/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

NR-572481: Document NEW_RELIC_APP_NAME support for Lambda APM mode
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/group-lambdas-single-apm-entity.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/set-lambda-apm-entity-name.mdx
  src/nav/serverless-function-monitoring.yml
Owners: none

feat: add CodeStream EOL callout to install and what-is-codestream pages
  src/content/docs/codestream/start-here/install-codestream.mdx
  src/content/docs/codestream/start-here/what-is-codestream.mdx
Owners: none

Rewrite intro of set-lambda-apm-entity-name with value proposition
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/set-lambda-apm-entity-name.mdx
Owners: none

NR-572481: Consolidate NEW_RELIC_APP_NAME docs into env-variables page
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/group-lambdas-single-apm-entity.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/set-lambda-apm-entity-name.mdx
  src/nav/serverless-function-monitoring.yml
Owners: none

Apply suggestion from @WriteMayur
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5421.mdx
Owners: none

feat: Add release notes for NRDOT 1.16.0
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2026-06-09.mdx
Owners: none
