Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

Updated the requirement section
  src/content/docs/workflow-automation/workflow-examples/advanced/api-gateway-rollback.mdx
  src/content/docs/workflow-automation/workflow-examples/advanced/deployment-rollback.mdx
  src/content/docs/workflow-automation/workflow-examples/advanced/ec2-management.mdx
  src/content/docs/workflow-automation/workflow-examples/advanced/nrql-alerting.mdx
  src/content/docs/workflow-automation/workflow-examples/basic-patterns/http-get-post.mdx
  src/content/docs/workflow-automation/workflow-examples/basic-patterns/json-parsing.mdx
  src/content/docs/workflow-automation/workflow-examples/integrations/aws-sqs.mdx
  src/content/docs/workflow-automation/workflow-examples/integrations/rest-api-polling.mdx
  src/content/docs/workflow-automation/workflow-examples/integrations/slack.mdx
Owners: none

client removal changes for host env
  src/content/docs/ebpf/linux-installation.mdx
Owners: none

client removal changes for k8s env
  src/content/docs/ebpf/k8s-installation.mdx
Owners: none

Updates
  src/content/docs/workflow-automation/setup-and-configuration/create-destinations.mdx
  src/content/docs/workflow-automation/workflow-examples/basic-patterns/conditional-logic.mdx
  src/content/docs/workflow-automation/workflow-examples/basic-patterns/data-passing.mdx
  src/content/docs/workflow-automation/workflow-examples/basic-patterns/http-get-post.mdx
  src/content/docs/workflow-automation/workflow-examples/basic-patterns/loops.mdx
  src/content/docs/workflow-automation/workflow-examples/basic-patterns/workflow-inputs.mdx
  src/content/docs/workflow-automation/workflow-examples/integrations/slack.mdx
Owners: none

Update Nuxt.js integration docs for Nuxt 3+ and improve formatting
  src/content/docs/browser/browser-integrations/nuxt-js-integration.mdx
Owners: none

Update snowflake-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
Owners: none

docs(nginx): add comment for customizable display name
  src/content/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix(deps): bump node-forge to 1.3.2
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

fix: verify mdx errors
  src/i18n/content/es/docs/apm/transactions/workload-performance-monitoring/transaction-workloads.mdx
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/security/new-relic-security/security-bulletins/security-bulletin-nr25-02.mdx
  src/i18n/content/fr/docs/apm/transactions/workload-performance-monitoring/transaction-workloads.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/security/new-relic-security/security-bulletins/security-bulletin-nr25-02.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/security/new-relic-security/security-bulletins/security-bulletin-nr25-02.mdx
  src/i18n/content/kr/docs/apm/transactions/workload-performance-monitoring/transaction-workloads.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/security/new-relic-security/security-bulletins/security-bulletin-nr25-02.mdx
  src/i18n/content/pt/docs/apm/transactions/workload-performance-monitoring/transaction-workloads.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/security/new-relic-security/security-bulletins/security-bulletin-nr25-02.mdx
Owners: none

fix: verify mdx errors
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
Owners: none

fix: yam rendering issue
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
Owners: none

fix: yam rendering issue
  package.json
  src/i18n/content/kr/docs/apm/agents/go-agent/installation/install-new-relic-go.mdx
Owners: @newrelic/docs-engineering

docs(nginx): update configuration and endpoint guidance
  src/content/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

docs(nginx): add logging reference link to step 5
  src/content/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

docs(nginx): improve troubleshooting and configuration guidance
  src/content/docs/opentelemetry/nginx-plus/nginx-plus-otel.mdx
  src/content/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/content/docs/opentelemetry/nginx/nginx-otel-kubernetes.mdx
  src/content/docs/opentelemetry/nginx/test.mdx
  src/install/nginx/whatsNext.mdx
Owners: none

test commit
  src/content/docs/opentelemetry/nginx/find-and-query-your-data.mdx
Owners: none

PHP Agent 12.4.0.29 release notes
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-12-4-0-29.mdx
Owners: none

feat(whats-new): read-only capabilities
  static/images/dashboard_capabilities.webp
Owners: none

feat(whats-new): New dashboards read only capabilities
  src/content/whats-new/2026/01/whats-new-01-19-read-only-dashboards.md
Owners: @john-withers, @aalfano7

Update Workflow Automation link for user permissions
  src/content/docs/nrql/using-nrql/schedule-nrql-searches.mdx
Owners: none

Apply suggestions from code review
  src/content/docs/apm/agents/ruby-agent/getting-started/migration-10x-guide.mdx
Owners: none

Reorder sections
  src/content/docs/apm/agents/ruby-agent/getting-started/migration-10x-guide.mdx
Owners: none

Apply suggestions from code review
  src/content/docs/apm/agents/ruby-agent/getting-started/migration-10x-guide.mdx
Owners: none

Update authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Owners: none

made content and structure changes for the OTEL-based authoring of gateway pipelines
  src/content/docs/new-relic-control/pipeline-control/archive-v1/data-dropping-gateway.mdx
  src/content/docs/new-relic-control/pipeline-control/cloud-rules/api-reference.mdx
  src/content/docs/new-relic-control/pipeline-control/cloud-rules/create-pipeline-rules.mdx
  src/content/docs/new-relic-control/pipeline-control/cloud-rules/nrql-functions.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway-v2-documentation.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/aws-alb.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/dns-certificate.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/load-balancer-for-gateway.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/modify-agent-configuration.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/overview.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/set-up-and-deploy-pipeline-control.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/sizing-and-scaling.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/ui-guide.mdx
  src/content/docs/new-relic-control/pipeline-control/gateway/yaml-overview.mdx
  src/content/docs/new-relic-control/pipeline-control/overview.mdx
  src/nav/new-relic-control.yml
Owners: none

Improved agent installation process
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Owners: none

minor correction
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Owners: none

Add documentation release notes for January 05 - January 09, 2026
  src/content/docs/release-notes/docs-release-notes/docs-1-09-2026.mdx
Owners: none

feat(nginx): update nginx plus otel config identation
  src/content/docs/opentelemetry/nginx-plus/nginx-plus-otel.mdx
  src/content/docs/opentelemetry/nginx/find-and-query-your-data.mdx
  src/content/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/content/docs/opentelemetry/nginx/nginx-otel-kubernetes.mdx
Owners: none

Updated the dates and added the .gitkeep file
  src/content/whats-new/2026/01/.gitkeep
  src/content/whats-new/2026/01/whats-new-01-19-read-only-dashboards.md
Owners: @john-withers, @aalfano7

added the double quote marks
  src/content/whats-new/2026/01/whats-new-01-19-read-only-dashboards.md
Owners: @john-withers, @aalfano7

Updated the vale linter errors
  src/content/whats-new/2026/01/whats-new-01-19-read-only-dashboards.md
Owners: @john-withers, @aalfano7

datatype fixes
  src/content/docs/ebpf/k8s-installation.mdx
Owners: none

unlinked spans config for host and k8s
  src/content/docs/ebpf/k8s-installation.mdx
  src/content/docs/ebpf/linux-installation.mdx
Owners: none

chore: Updated the config
  src/content/docs/infrastructure/host-integrations/host-integrations-list/docker-container-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/docker-monitoring/otel-integration.mdx
Owners: none

docs[Release note]: 4-9 jan, 2026
  src/content/docs/release-notes/docs-release-notes/docs-1-09-2026.mdx
Owners: none

added missing pages to yaml
  src/nav/browser.yml
  src/nav/infrastructure.yml
Owners: none

Updated the review comments by the PM
  src/content/docs/cci/financial-intelligence/cci-recommendations.mdx
Owners: none

Add Pipeline Control Gateway v2.0 documentation
  src/content/docs/new-relic-control/pipeline-control/gateway-v2-documentation.mdx
Owners: none

Clarify UI vs YAML configuration approaches
  src/content/docs/new-relic-control/pipeline-control/gateway-v2-documentation.mdx
Owners: none
