Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

docs(maps): remove unshipped bypass content, add Legend row, update map view screenshot (NR-610325)
  src/content/docs/service-architecture-intelligence/maps/advanced-maps.mdx
  static/images/new-map-view.webp
Owners: none

remove unnecessary info
  src/content/docs/release-notes/docs-release-notes/docs-9-13-2026.mdx
Owners: none

minor change
  src/content/docs/new-relic-control/agent-control/configuration.mdx
Owners: none

Remove tip about direct-to-live-archive namespace in live archives doc
  src/content/docs/logs/get-started/live-archives.mdx
Owners: none

feat: Add release notes for Kubernetes integration v4.7.3
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-4-7-3.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/agentic-ai/mcp/overview.mdx
  src/i18n/content/jp/docs/agentic-ai/mcp/setup.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

linguistic update
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-10-8-0.mdx
Owners: none

Removed the collapsers and fixed minor issues
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-notification.mdx
Owners: none

linguistic update
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.322.0.mdx
Owners: none

Add What's New draft for New Relic Lens GA
  src/content/whats-new/2026/09/whats-new-09-15-nr-lens-ga.md
Owners: @john-withers, @aalfano7

minor changes
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/newrelic-notification.mdx
Owners: none

Refine ES↔APM correlation docs from K8s validation
  src/content/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-install.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/troubleshooting.mdx
Owners: none

Simplify cluster-name matching guidance to a plain caution
  src/content/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-install.mdx
  src/content/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
Owners: none

Add reusable content snippet system (NR-593512)
  gatsby-node.js
  package.json
  scripts/__tests__/generate-snippets.test.js
  scripts/generate-snippets.js
  scripts/watch-snippets.js
  src/components/MDXContainer.js
  src/components/PageMetaContext.js
  src/components/Snippets.js
  src/components/snippets/README.md
  src/components/snippets/ReuseableWarning.mdx
  src/components/snippets/apm/nodejs/prerequisites.mdx
  src/components/snippets/apm/shared/prerequisites.mdx
  src/components/snippets/pp-callout/public-preview.mdx
  src/templates/docPage.js
Owners: @newrelic/docs-engineering

add frontmatter
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2-5-0.mdx
Owners: none

chore: recover secrets management section
  src/content/docs/new-relic-control/agent-control/configuration.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

Add Copy for LLM / View as Markdown toolbar to What's New and EOL pages
  src/templates/eolAnnouncement.js
  src/templates/whatsNew.js
Owners: @newrelic/docs-engineering

fix: resolve MDX errors, JSX-APOS corruption, and remove schema-poisoning templates
  src/i18n/content/es/docs/es-LA/templates/release-notes-template.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/haproxy/metrics-reference.mdx
  src/i18n/content/fr/docs/fr-FR/templates/release-notes-template.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/ko-KR/templates/release-notes-template.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/haproxy/metrics-reference.mdx
  src/i18n/content/pt/docs/pt-BR/templates/release-notes-template.mdx
Owners: none

fix: resolve MDX validation errors, JSX-APOS corruption, and remove schema-poisoning templates
  src/i18n/content/es/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/es/docs/es-LA/templates/release-notes-template.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/haproxy/metrics-reference.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/fr-FR/templates/release-notes-template.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/fr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/ko-KR/templates/release-notes-template.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/haproxy/metrics-reference.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/pt-BR/templates/release-notes-template.mdx
Owners: none

chore: change title back
  src/content/docs/new-relic-control/fleet-control/security.mdx
Owners: none

Fix CI test failure: generate generatedNav.yml before running llms-txt tests
  plugins/gatsby-plugin-llms-txt/__tests__/gatsby-node.test.js
Owners: @newrelic/docs-engineering

fix: restore fr/jp ebpf/troubleshoot-k8s from develop (stale holdover — Callout indent)
  src/i18n/content/fr/docs/ebpf/troubleshooting/troubleshoot-k8s.mdx
  src/i18n/content/jp/docs/ebpf/troubleshooting/troubleshoot-k8s.mdx
Owners: none

chore(.net agent): Update compatibility docs for latest supported library versions
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Owners: none

Changed Compute Consumption unit to Compute Capacity Unit
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-budgets/account-level.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-budgets/compute-user-limits.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-budgets/organization-level-budgets.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-budgets/overview.mdx
Owners: none

docs(new-relic-control): remove public preview language for host GA
  src/content/docs/new-relic-control/agent-control/agent-types.mdx
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/mirror-setup.mdx
  src/content/docs/new-relic-control/agent-control/monitoring.mdx
  src/content/docs/new-relic-control/agent-control/overview.mdx
  src/content/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/content/docs/new-relic-control/agent-control/upgrading.mdx
  src/content/docs/new-relic-control/fleet-control/apis-and-cli.mdx
  src/content/docs/new-relic-control/fleet-control/manage-fleets.mdx
  src/content/docs/new-relic-control/fleet-control/overview.mdx
  src/content/docs/new-relic-control/fleet-control/security.mdx
  src/content/docs/new-relic-control/fleet-control/setup.mdx
  src/content/docs/new-relic-control/fleet-control/troubleshooting.mdx
  src/content/docs/new-relic-control/getting-started.mdx
Owners: none

chore: append ios-agent PR #895 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

chore: append ios-agent PR #829 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

feat: Add release notes for NRDOT Host Monitoring 2.5.0
  src/content/docs/release-notes/nrdot-release-notes/nrdot-host-2-5-0.mdx
Owners: none

docs: add clarification on saving deny list changes for NPM-installed agents
  src/content/docs/browser/new-relic-browser/configuration/configure-ajax-request-events.mdx
Owners: none

chore: append ios-agent PR #898 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

chore: append ios-agent PR #897 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

linguistic fixes
  src/content/docs/apis/rest-api-v2/migrate-to-nerdgraph.mdx
  src/content/docs/apm/apm-ui-pages/events/record-deployments.mdx
  src/content/docs/change-tracking/config/nerdgraph.mdx
  src/content/eol/2026/07/eol-07-31-26-rest-api-v2.md
Owners: none

linguistic updates
  src/content/docs/apm/apm-ui-pages/events/record-deployments.mdx
  src/content/docs/change-tracking/config/nerdgraph.mdx
Owners: none

eol linguistic updates
  src/content/eol/2026/07/eol-07-31-26-rest-api-v2.md
Owners: none

update broken link
  src/content/whats-new/2026/09/whats-new-09-16-selfentity-dashboard-variable.md
Owners: @john-withers, @aalfano7

Add NGINX distributed tracing documentation
  src/content/docs/opentelemetry/integrations/nginx/find-and-query-your-data.mdx
  src/content/docs/opentelemetry/integrations/nginx/nginx-otel-distributed-tracing.mdx
  src/content/docs/opentelemetry/integrations/nginx/nginx-otel-overview.mdx
  src/nav/opentelemetry.yml
Owners: none

linguistic change
  src/content/whats-new/2026/09/whats-new-09-16-selfentity-dashboard-variable.md
Owners: @john-withers, @aalfano7

Update setup.mdx
  src/content/docs/agentic-ai/mcp/setup.mdx
Owners: none

fix: escape {{selfEntity}} as JSX string literal to prevent MDX render crash
  src/content/docs/query-your-data/explore-query-data/dashboards/filter-new-relic-one-dashboards-facets.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
