Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

Update go-agent-3-43-3.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-43-3.mdx
Owners: none

docs: replace BoringSSL with BoringCrypto
  src/content/docs/opentelemetry/nrdot/nrdot-fips.mdx
Owners: none

docs: simplify language
  src/content/docs/opentelemetry/nrdot/nrdot-fips.mdx
Owners: none

Update whats-new-04-28-cci-ga.md
  src/content/whats-new/2026/04/whats-new-04-28-cci-ga.md
Owners: @john-withers, @aalfano7

v1
  src/content/docs/accounts/content-diff-sample.mdx
Owners: none

v2
  scripts/grandma.mdx
Owners: @newrelic/docs-engineering

Add reusable content snippet system for MDX files
  .gitignore
  package.json
  scripts/generate-snippets.js
  scripts/watch-snippets.js
  src/components/MDXContainer.js
  src/components/snippets/README.md
  src/components/snippets/ReuseableWarning.mdx
  src/components/snippets/TestReuse.mdx
  src/content/docs/agentic-ai/new-relic-ai.mdx
  yarn.lock
Owners: @newrelic/docs-engineering

Add nested folder support for reusable snippets and commit generated file
  .gitignore
  scripts/generate-snippets.js
  src/components/MDXContainer.js
  src/components/Snippets.js
  src/components/snippets/README.md
  src/components/snippets/apm/nodejs/prerequisites.mdx
  src/content/docs/agentic-ai/new-relic-ai.mdx
Owners: @newrelic/docs-engineering

v1
  scripts/grandma.mdx
Owners: @newrelic/docs-engineering

Skip Snippets.js write when output is unchanged, add testPageMeta snippet and pageMeta test pages
  scripts/generate-snippets.js
  src/components/Snippets.js
  src/components/snippets/testPageMeta.mdx
  src/content/docs/agentic-ai/new-relic-ai.mdx
  src/content/docs/agentic-ai/tools.mdx
Owners: @newrelic/docs-engineering

Enhance reusable snippet system with MDX component support and safety checks
  scripts/generate-snippets.js
  src/components/MDXContainer.js
  src/components/Snippets.js
  src/components/snippets/README.md
  src/components/snippets/TestSnippet.mdx
  src/components/snippets/apm/nodejs/prerequisites.mdx
  src/components/snippets/apm/shared/prerequisites.mdx
  src/content/docs/agentic-ai/new-relic-ai.mdx
  src/content/docs/agentic-ai/tools.mdx
Owners: @newrelic/docs-engineering

Add page-aware conditionals, ordered lists, inline code, and link support to snippet system
  gatsby-node.js
  scripts/generate-snippets.js
  src/components/MDXContainer.js
  src/components/PageMetaContext.js
  src/components/snippets/README.md
  src/templates/docPage.js
Owners: @newrelic/docs-engineering

v2
  src/content/docs/accounts/content-diff-sample.mdx
Owners: none

refactor: restructure public sharing docs with inline access management
  src/content/docs/apis/nerdgraph/examples/manage-live-chart-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/manage-live-dashboard-urls-via-api.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/get-started-sharing-dashboards-publicly.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/prerequisites-to-share-dashboards-charts.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-publicly.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-dashboards-publicly.mdx
  src/nav/dashboards.yml
Owners: none

docs: restore use-case narrative in get-started public sharing page
  src/content/docs/query-your-data/explore-query-data/dashboards/get-started-sharing-dashboards-publicly.mdx
Owners: none

docs: rename get-started page to Overview of public sharing
  src/content/docs/query-your-data/explore-query-data/dashboards/get-started-sharing-dashboards-publicly.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-publicly.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-dashboards-publicly.mdx
  src/nav/dashboards.yml
Owners: none

wip
  src/content/docs/apm/agents/php-agent/getting-started/introduction-new-relic-php.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-overview.mdx
  src/nav/apm.yml
Owners: none

docs: rename overview to Introduction to public sharing; restore availability callout
  src/content/docs/query-your-data/explore-query-data/dashboards/get-started-sharing-dashboards-publicly.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-publicly.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-dashboards-publicly.mdx
  src/nav/dashboards.yml
Owners: none

SJM and run times version upgrade
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-528.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.18.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.18.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.67.0.mdx
Owners: none

Fix pricing table: mark Advanced Compute column ❌ for SAI features
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Owners: none

Fix pricing table: mark Advanced Compute column ❌ for SAI features
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Owners: none

Updated versions info
  src/content/docs/apis/nerdgraph/examples/synthetics-api/scripted-browser-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/simple-browser-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/step-monitor.mdx
Owners: none

docs: add viewer experience section to Introduction to public sharing
  src/content/docs/query-your-data/explore-query-data/dashboards/get-started-sharing-dashboards-publicly.mdx
Owners: none

docs: remove duplicate viewer experience from share-dashboards page
  src/content/docs/query-your-data/explore-query-data/dashboards/share-dashboards-publicly.mdx
Owners: none

wip
  src/content/docs/apm/agents/php-agent/advanced-installation/docker-other-container-environments-install-php-agent.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/silent-mode-install-script-advanced.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/starting-php-daemon-advanced.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/proxy-daemon-newreliccfg-settings.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-overview.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-tar-file.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-ubuntu-debian.mdx
  src/nav/apm.yml
Owners: none

wip
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-directory-ini-settings.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/kr/docs/infrastructure/prometheus-integrations/view-query-data/grafana-to-nr-dashboard-translation-rest-api.mdx
Owners: none

docs(ebpf): add eBPF agent attributes reference page
  src/content/docs/ebpf/attributes-reference.mdx
  src/content/docs/ebpf/ebpf-apm.mdx
  src/content/docs/ebpf/network-metrics.mdx
  src/content/docs/ebpf/overview.mdx
  src/nav/ebpf.yml
Owners: none

Update interaction.mdx with targetPageLoad
  src/content/docs/browser/new-relic-browser/browser-apis/interaction.mdx
Owners: none

performance risk inbox updates
  src/content/docs/errors-inbox/performance-risks/access-and-use.mdx
  src/content/docs/errors-inbox/performance-risks/introduction.mdx
  src/nav/errors-inbox.yml
  static/images/performance-risks-inbox.webp
Owners: none

new references added
  src/content/docs/errors-inbox/performance-risks/access-and-use.mdx
Owners: none

Update java-agent-920.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-920.mdx
Owners: none

feat: Add release notes for NRDOT 1.14.0
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2026-04-29.mdx
Owners: none

chore:hybrid agent release
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-121.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-122.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-122.mdx
Owners: none

wip
  src/content/docs/apm/agents/php-agent/configuration/attribute-settings.mdx
  src/content/docs/apm/agents/php-agent/configuration/daemon-ini-settings.mdx
  src/content/docs/apm/agents/php-agent/configuration/error-collector-settings.mdx
  src/content/docs/apm/agents/php-agent/configuration/general-settings.mdx
  src/content/docs/apm/agents/php-agent/configuration/logs-in-context-settings.mdx
  src/content/docs/apm/agents/php-agent/configuration/other-settings.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/transaction-tracer-settings.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-arm64.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-overview.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-ubuntu-debian.mdx
  src/nav/apm.yml
Owners: none

wip
  src/content/docs/accounts/accounts/account-maintenance/account-email-settings.mdx
Owners: none

test commit
  src/content/docs/accounts/accounts/account-maintenance/account-email-settings.mdx
Owners: none

CLA issue resolve
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-920.mdx
Owners: none

wip
  src/content/docs/apm/agents/php-agent/advanced-installation/docker-other-container-environments-install-php-agent.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/silent-mode-install-script-advanced.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Owners: none

Updates
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-121.mdx
Owners: none
