Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

docs: cleanup
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

chore: Add resource quota mapping for OTEL
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-otel-metrics.mdx
Owners: none

fix: update with latest changes to actions and APIs
  src/content/docs/workflow-automation/create-a-workflow-automation/start-schedule.mdx
  src/content/docs/workflow-automation/create-a-workflow-automation/use-a-template.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog.mdx
  src/content/docs/workflow-automation/workflow-automation-apis/create-schedule.mdx
  src/content/docs/workflow-automation/workflow-automation-apis/definition-schema.mdx
  src/content/docs/workflow-automation/workflow-automation-apis/get-action-definitions.mdx
  src/content/docs/workflow-automation/workflow-automation-apis/get-workflow-definition.mdx
  src/content/docs/workflow-automation/workflow-automation-apis/start-workflow-run.mdx
  src/content/docs/workflow-automation/workflow-automation-apis/using-workflow-automation-api.mdx
  src/content/docs/workflow-automation/workflow-automation-apis/validate-workflow-definition.mdx
Owners: none

fix: invalid markdown
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-otel-metrics.mdx
Owners: none

What's New - NR Control GA page: update intro with launch copy, refine bullets, misc tweaks
  src/content/whats-new/2025/09/whats-new-30-09-new-relic-control.md
Owners: @john-withers, @aalfano7

fix: links
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

docs: add back some details
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

add in missing content
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

Call out has been removed.
  src/content/docs/browser/browser-monitoring/browser-pro-features/user-journeys.mdx
Owners: none

fix: add input params old commit and new commit
  package.json
  scripts/measure_content_retention.py
Owners: @newrelic/docs-engineering

fix: add input params old commit and new commit
  package.json
Owners: @newrelic/docs-engineering

fix: add input params old commit and new commit
  scripts/measure_content_retention.py
Owners: @newrelic/docs-engineering

Add bulk import users section to user management docs
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
Owners: none

Updated the Pre requisite to include new information
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-budgets/overview.mdx
Owners: none

chore: Update Attribute Dictionary JSON
  src/data/attribute-dictionary-en.json
Owners: none

Updatd the GCP document
  src/content/docs/cci/google-cloud-platform-cci.mdx
Owners: none

updated the GCP instructions
  src/content/docs/cci/google-cloud-platform-cci.mdx
Owners: none

Dan's changes for what's new
  src/content/whats-new/2025/09/whats-new-30-09-new-relic-control.md
Owners: @john-withers, @aalfano7

Add documentation release notes for Oct 10 - Oct 10, 2025
  src/content/docs/release-notes/docs-release-notes/docs-10-10-2025.mdx
Owners: none

Update docs release notes with browser marks and measures documentation from PR #21876
  src/content/docs/release-notes/docs-release-notes/docs-10-10-2025.mdx
Owners: none

Add major changes section with BrowserTiming deprecation updates from PR #21883
  src/content/docs/release-notes/docs-release-notes/docs-10-10-2025.mdx
Owners: none

Add link to Attribute dictionary in major changes section
  src/content/docs/release-notes/docs-release-notes/docs-10-10-2025.mdx
Owners: none

Updated the steps and the playable gif
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/advanced-session-replay.mdx
Owners: none

Minor enhancements
  src/content/docs/new-relic-control/agent-control/setup.mdx
Owners: none

Updated the title
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/advanced-session-replay.mdx
Owners: none

wip
  src/content/docs/release-notes/docs-release-notes/docs-10-10-2025.mdx
Owners: none

Fix BrowserTiming backticks and add minor change for pricing terminology update from PR #21865
  src/content/docs/release-notes/docs-release-notes/docs-10-10-2025.mdx
Owners: none

[NR-474797] Android agent v7.6.10 release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-7610.mdx
Owners: none

Add major and minor changes from PRs #21807, #21854, #21886, #21895
  src/content/docs/release-notes/docs-release-notes/docs-10-10-2025.mdx
Owners: none

wip
  src/content/docs/release-notes/docs-release-notes/docs-10-10-2025.mdx
Owners: none

Add new troubleshooting documentation for Kubernetes APM auto-attach from PR #21864
  src/content/docs/release-notes/docs-release-notes/docs-10-10-2025.mdx
Owners: none

[DO NOT MERGE] Update Dynamic Flow Map documentation for GA
  src/content/docs/service-architecture-intelligence/maps/dynamic-flow-map.mdx
Owners: none

chore: hybrid agent releases
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-1511.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-708.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-709.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-710.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-1115.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-1112.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-1511.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-1410.mdx
Owners: none

Update kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Owners: none

Update role name from NR Control to New Relic Control in agent-control.mdx
  src/content/docs/infrastructure-as-code/terraform/agent-control.mdx
Owners: none

Update user-management-ui-and-tasks.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
Owners: none

config name update
  src/content/docs/ebpf/linux-installation.mdx
Owners: none

Update overview.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-budgets/overview.mdx
Owners: none

Improve language clarity in NerdGraph synthetics tutorial
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
Owners: none

Removed the images as it was not bringing additional usage
  src/content/docs/alerts/get-notified/notification-integrations.mdx
Owners: none
