Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

Reverted back to Org Admin in prereq
  src/content/docs/apis/nerdgraph/examples/nerdgraph-teams-custom-role-tutorial.mdx
Owners: none

Minor enhancements
  src/content/docs/apm/agents/php-agent/troubleshooting/phpunit-incompatibility.mdx
Owners: none

Add documentation release notes for November 17 - November 21, 2025
  src/content/docs/release-notes/docs-release-notes/docs-11-21-2025.mdx
Owners: none

Docs release note from 17 to 21st Nov.
  src/content/docs/release-notes/docs-release-notes/docs-11-21-2025.mdx
Owners: none

Added the laravel doc to the left nav and did editorial corrections
  src/content/docs/apm/agents/php-agent/frameworks-libraries/laravel.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/nav/apm.yml
Owners: none

Update nerdgraph-api-notifications-channels.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-notifications-channels.mdx
Owners: none

Update capacitor-agent-1512.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-1512.mdx
Owners: none

fixed broken links
  src/content/docs/release-notes/docs-release-notes/docs-11-21-2025.mdx
Owners: none

docs: Restructure Security RX documentation for improved navigation
  src/content/docs/vulnerability-management/advanced/data-structure.mdx
  src/content/docs/vulnerability-management/advanced/manage-vulnerability-status.mdx
  src/content/docs/vulnerability-management/advanced/query-examples.mdx
  src/content/docs/vulnerability-management/advanced/set-up-alerts.mdx
  src/content/docs/vulnerability-management/applications/manage-organization-vulnerabilities.mdx
  src/content/docs/vulnerability-management/applications/monitor-entity-security.mdx
  src/content/docs/vulnerability-management/applications/overview.mdx
  src/content/docs/vulnerability-management/getting-started/integrations/aws.mdx
  src/content/docs/vulnerability-management/getting-started/integrations/fossa.mdx
  src/content/docs/vulnerability-management/getting-started/integrations/overview.mdx
  src/content/docs/vulnerability-management/getting-started/integrations/snyk-troubleshooting.mdx
  src/content/docs/vulnerability-management/getting-started/integrations/snyk.mdx
  src/content/docs/vulnerability-management/getting-started/integrations/trivy.mdx
  src/content/docs/vulnerability-management/getting-started/overview.mdx
  src/content/docs/vulnerability-management/getting-started/prerequisites.mdx
  src/content/docs/vulnerability-management/getting-started/prioritization.mdx
  src/content/docs/vulnerability-management/infrastructure/manage-infrastructure-vulnerabilities.mdx
  src/content/docs/vulnerability-management/infrastructure/monitor-host-security.mdx
  src/content/docs/vulnerability-management/infrastructure/overview.mdx
Owners: none

docs: Add 'What's Next' navigation sections to all Security RX pages
  src/content/docs/vulnerability-management/advanced/manage-vulnerability-status.mdx
  src/content/docs/vulnerability-management/advanced/set-up-alerts.mdx
  src/content/docs/vulnerability-management/applications/manage-organization-vulnerabilities.mdx
  src/content/docs/vulnerability-management/applications/monitor-entity-security.mdx
  src/content/docs/vulnerability-management/getting-started/integrations/overview.mdx
  src/content/docs/vulnerability-management/getting-started/overview.mdx
  src/content/docs/vulnerability-management/getting-started/prerequisites.mdx
  src/content/docs/vulnerability-management/getting-started/prioritization.mdx
  src/content/docs/vulnerability-management/infrastructure/manage-infrastructure-vulnerabilities.mdx
  src/content/docs/vulnerability-management/infrastructure/monitor-host-security.mdx
Owners: none

The infra release had some issue. Replaced the corupt file with a new one.
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1711.mdx
Owners: none

docs: Update Security RX navigation structure in vuln-management.yml
  src/nav/vuln-management.yml
Owners: none

Fix update Pipeline Cloud Rule name in the docs
  .idea/copilot.data.migration.agent.xml
  .idea/copilot.data.migration.ask.xml
  .idea/copilot.data.migration.ask2agent.xml
  .idea/copilot.data.migration.edit.xml
  .idea/thriftCompilerAssist.xml
  src/content/docs/new-relic-control/pipeline-control/cloud-rules-api.mdx
Owners: none

Update src/content/docs/apm/agents/php-agent/frameworks-libraries/laravel.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/laravel.mdx
Owners: none

Update src/content/docs/apm/agents/php-agent/frameworks-libraries/laravel.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/laravel.mdx
Owners: none

Update src/content/docs/apm/agents/php-agent/frameworks-libraries/laravel.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/laravel.mdx
Owners: none

Update src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Owners: none

Update src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Owners: none

Update src/content/docs/apm/agents/php-agent/frameworks-libraries/laravel.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/laravel.mdx
Owners: none

Update code-of-conduct.mdx
  src/content/docs/licenses/open-source/code-of-conduct.mdx
Owners: none

Update apm.yml
  src/nav/apm.yml
Owners: none

Update Java agent compatibility documentation
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Owners: none

docs: Convert markdown tables to HTML table components in Security RX docs
  src/content/docs/vulnerability-management/advanced/data-structure.mdx
  src/content/docs/vulnerability-management/applications/overview.mdx
  src/content/docs/vulnerability-management/infrastructure/overview.mdx
Owners: none

bug(pipeline control): deleted co-pilot files
  .idea/copilot.data.migration.agent.xml
  .idea/copilot.data.migration.ask.xml
  .idea/copilot.data.migration.ask2agent.xml
  .idea/copilot.data.migration.edit.xml
  .idea/thriftCompilerAssist.xml
Owners: none

Added "isSharable" attribute to the queries
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-secret-management-service.mdx
Owners: none

Update external-services.mdx
  src/content/docs/tutorial-improve-app-performance/external-services.mdx
Owners: none

feat: Add release notes for Kubernetes integration v3.50.2
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-50-2.mdx
Owners: none

chore: Update Attribute Dictionary JSON
  src/data/attribute-dictionary-en.json
Owners: none

wip
  src/content/docs/vulnerability-management/advanced/manage-vulnerability-status.mdx
  src/content/docs/vulnerability-management/advanced/set-up-alerts.mdx
  src/content/docs/vulnerability-management/applications/manage-organization-vulnerabilities.mdx
  src/content/docs/vulnerability-management/applications/monitor-entity-security.mdx
  src/content/docs/vulnerability-management/getting-started/integrations/overview.mdx
  src/content/docs/vulnerability-management/getting-started/overview.mdx
  src/content/docs/vulnerability-management/getting-started/prerequisites.mdx
  src/content/docs/vulnerability-management/getting-started/prioritization.mdx
  src/content/docs/vulnerability-management/infrastructure/manage-infrastructure-vulnerabilities.mdx
  src/content/docs/vulnerability-management/infrastructure/monitor-host-security.mdx
Owners: none

wip
  src/content/docs/vulnerability-management/getting-started/overview.mdx
  src/i18n/translations/en/translation.json
  src/i18n/translations/es/translation.json
  src/i18n/translations/fr/translation.json
  src/i18n/translations/jp/translation.json
  src/i18n/translations/kr/translation.json
  src/i18n/translations/pt/translation.json
Owners: none

First draft
  src/nav/vuln-management.yml
Owners: none

Update tisax
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/tisax.mdx
Owners: none

Update fedramp
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp.mdx
Owners: none

chore: revisit running deploy block mechanism
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

new description and updates for network metrics
  src/content/docs/ebpf/network-metrics.mdx
  src/content/docs/ebpf/overview.mdx
Owners: none

chore: revert failure case
  src/content/whats-new/2025/06/whats-new-06-31-dash-nested-variables.md
Owners: @john-withers, @aalfano7

enhanced the network-metrics doc
  src/content/docs/ebpf/network-metrics.mdx
Owners: none

fixed the alignment
  src/content/docs/ebpf/overview.mdx
Owners: none

chore: small scale cosmetic fixes to dates
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering

chore: small scale cosmetic fixes
  .github/workflows/final-manual-deploy-comment.yml
Owners: @newrelic/docs-engineering
