Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

docs: rename local auth to service principal auth for Azure log forwarding
  src/content/docs/logs/forward-logs/azure-log-forwarding.mdx
Owners: none

fix: resolve MDX validation errors
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX validation errors
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX validation errors in jp/kr translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX validation errors in jp/kr translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX validation errors across all locales
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: resolve Pattern A MDX error in pt/nrql
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX validation errors across all locales
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

Scheduled Search - LogsUI
  static/images/scheduledSearch-LogsUI.webp
Owners: none

feat(whats-new): Scheduled Search
  src/content/whats-new/2026/05/whats-new-05-20-scheduledSearch.md
Owners: @john-withers, @aalfano7

feat(whats-new): add image for scheduledSearch Logs UI
  static/images/scheduledSearch-LogsUI.webp
Owners: none

NR_567072, NR_565773 logs doc update
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/logs-context/aws-logs-in-context.mdx
  yarn.lock
Owners: @newrelic/docs-engineering

Fix Vale linter errors: remove spaces around em dashes and fix typo
  src/content/whats-new/2026/05/whats-new-05-20-scheduledSearch.md
Owners: @john-withers, @aalfano7

docs: add Related topics sections to NerdGraph public sharing API pages
  src/content/docs/apis/nerdgraph/examples/manage-live-chart-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/manage-live-dashboard-urls-via-api.mdx
Owners: none

docs: clarify SAI capabilities are free with no consumption cost
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/service-architecture-intelligence/getting-started.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/i18n/content/jp/docs/infrastructure/prometheus-integrations/view-query-data/supported-promql-features.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetics-scripted-api-monitors-to-node-22.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/security/security-privacy/information-security/security-bulletins.mdx
Owners: none

remove unwanted *
  src/content/eol/2026/05/eol-05-18-26-node-16-chrome-134-runtimes.md
Owners: none

insert comma
  src/content/eol/2026/05/eol-05-18-26-node-16-chrome-134-runtimes.md
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

fix: verify mdx errrors
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: verify mdx errors
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: verify mdx errrors
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: verify mdx errrors
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: verify mdx errrors
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: verify mdx errrors
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

Update set-max-event-pool-size.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-pool-size.mdx
Owners: none

fix: verify mdx errrors
  src/i18n/content/es/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
  src/i18n/content/fr/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
  src/i18n/content/kr/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
Owners: none

fix: verify mdx errrors
  src/i18n/content/es/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
  src/i18n/content/fr/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
  src/i18n/content/kr/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
Owners: none

fix: verify mdx errrors
  src/i18n/content/es/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
  src/i18n/content/fr/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
  src/i18n/content/kr/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
Owners: none

chore: append ios-agent PR #737 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

Update set-max-event-pool-size.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-pool-size.mdx
Owners: none

Revert yarn changes
  yarn.lock
Owners: @newrelic/docs-engineering

Updated the Custom widget to Media Streaming
  src/content/docs/streaming-video-&-ads/bitrate-metrics.mdx
  src/content/docs/streaming-video-&-ads/custom-widget-support.mdx
  src/content/docs/streaming-video-&-ads/view-data-in-newrelic/streaming-video-&-ads-features.mdx
Owners: none

docs: clarify parent-account cancellation cascades to sub-accounts
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
Owners: none

Update callout
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-pool-size.mdx
Owners: none

updating release notes for node-api and node-browserrc1.21
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.21.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.21.mdx
Owners: none

fix indentation
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.21.mdx
Owners: none

Add list_entity_performance_risk_groups tool to MCP tool reference
  src/content/docs/agentic-ai/mcp/tool-reference.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/agentic-ai/mcp/overview.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

insert EOL callout for codestream
  src/content/docs/codestream/start-here/what-is-codestream.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
