Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

Updated the left nav
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/actions-catalog.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/notification/newrelic-notification-createsignalurl.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/notification/newrelic-notification-send.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/notification/newrelic-notification-sendemail.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/notification/newrelic-notification-sendmicrosoftteams.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/notification/newrelic-notification-sendslack.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/notification/newrelic-notification.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/notification/newrelic-workflowautomation-startworkflowrun.mdx
  src/nav/workflow-automation.yml
Owners: none

[Workflow Automation] - AWS EC2 Action
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/actions-catalog.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/aws-ec2.mdx
Owners: none

Apply style review fixes to docs release notes for Sep 14-18, 2026
  src/content/docs/release-notes/docs-release-notes/docs-9-18-2026.mdx
Owners: none

Updated the information
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/autoscaling/aws-autoscaling.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/bedrock/aws-bedrock.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/cloudwatch/aws-cloudwatch.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/ec2/aws-ec2.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/eventbridge/aws-eventbridge.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/execute-api/aws-execute-api.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/lambda/aws-lambda.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/s3/aws-s3.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/sns/aws-sns.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/sqs/aws-sqs.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/systemsmanager/aws-systemsmanager.mdx
Owners: none

Old actions catalog structure
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/actions-catalog.mdx
Owners: none

linguistic change and remove unwanted notes
  src/content/docs/release-notes/docs-release-notes/docs-9-18-2026.mdx
Owners: none

Update left nav to match AWS subdirectory restructuring and add missing azure-functions-invoke entry
  src/nav/workflow-automation.yml
Owners: none

Updated the comments by the developer
  src/content/docs/nrql/nrql-examples/browserspa-nrql-query-examples.mdx
  src/content/docs/nrql/nrql-tutorials/nrql-tutorial-process-your-data.mdx
Owners: none

Create new-relic-android-5438.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5438.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/agentic-ai/mcp/overview.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix(haproxy): improve IA and prose in distributed tracing docs
  src/content/docs/opentelemetry/integrations/haproxy/distributed-tracing.mdx
Owners: none

fix: resolve MDX validation errors
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX errors, JSX-APOS, remove schema-poisoning templates
  src/i18n/content/es/docs/es-LA/templates/onboarding/onboarding-install.mdx
  src/i18n/content/es/docs/es-LA/templates/onboarding/onboarding-intro.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/ebpf/troubleshooting/troubleshoot-k8s.mdx
  src/i18n/content/fr/docs/fr-FR/templates/onboarding/onboarding-install.mdx
  src/i18n/content/fr/docs/fr-FR/templates/onboarding/onboarding-intro.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/fr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/ebpf/troubleshooting/troubleshoot-k8s.mdx
  src/i18n/content/jp/docs/ja-JP/templates/onboarding/onboarding-install.mdx
  src/i18n/content/jp/docs/ja-JP/templates/onboarding/onboarding-intro.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/jp/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/ebpf/troubleshooting/troubleshoot-k8s.mdx
  src/i18n/content/kr/docs/ko-KR/templates/onboarding/onboarding-install.mdx
  src/i18n/content/kr/docs/ko-KR/templates/onboarding/onboarding-intro.mdx
  src/i18n/content/kr/docs/ko-KR/templates/release-notes-template.mdx
  src/i18n/content/kr/docs/ko-KR/templates/whats-new-template.mdx
  src/i18n/content/kr/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/haproxy/metrics-reference.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/ebpf/troubleshooting/troubleshoot-k8s.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/pt/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/haproxy/metrics-reference.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/pt-BR/templates/onboarding/onboarding-install.mdx
  src/i18n/content/pt/docs/pt-BR/templates/onboarding/onboarding-intro.mdx
  src/i18n/content/pt/docs/pt-BR/templates/release-notes-template.mdx
  src/i18n/content/pt/docs/pt-BR/templates/whats-new-template.mdx
Owners: none

false commit to restart the verify mdx check
  src/content/docs/opentelemetry/database/oracle/cncf.mdx
Owners: none

Update whats-new-09-15-nr-lens-ga.md
  src/content/whats-new/2026/09/whats-new-09-15-nr-lens-ga.md
Owners: @john-withers, @aalfano7

fix: remove empty HTML comment blocks in es/kr/pt docs-4-11-2025.mdx (stale holdover)
  src/i18n/content/es/docs/release-notes/docs-release-notes/docs-4-11-2025.mdx
  src/i18n/content/kr/docs/release-notes/docs-release-notes/docs-4-11-2025.mdx
  src/i18n/content/pt/docs/release-notes/docs-release-notes/docs-4-11-2025.mdx
Owners: none

minor enhancement
  src/content/docs/release-notes/docs-release-notes/docs-9-18-2026.mdx
Owners: none

fix(docs-release-notes): populate features metadata for Sept 18 digest
  src/content/docs/release-notes/docs-release-notes/docs-9-18-2026.mdx
Owners: none

linguistic updates
  src/content/docs/opentelemetry/integrations/nginx/nginx-otel-distributed-tracing.mdx
Owners: none

add multi-instance monitoring docs for MSSQL, MySQL, PostgreSQL, and Oracle NRDOT installs
  src/content/docs/opentelemetry/database/mssql/ansible.mdx
  src/content/docs/opentelemetry/database/mssql/chef.mdx
  src/content/docs/opentelemetry/database/mssql/cli.mdx
  src/content/docs/opentelemetry/database/mssql/helm.mdx
  src/content/docs/opentelemetry/database/mysql/ansible.mdx
  src/content/docs/opentelemetry/database/mysql/chef.mdx
  src/content/docs/opentelemetry/database/mysql/cli.mdx
  src/content/docs/opentelemetry/database/mysql/helm.mdx
  src/content/docs/opentelemetry/database/otel-oracledb.mdx
  src/content/docs/opentelemetry/database/postgresql/ansible.mdx
  src/content/docs/opentelemetry/database/postgresql/chef.mdx
  src/content/docs/opentelemetry/database/postgresql/cli.mdx
  src/content/docs/opentelemetry/database/postgresql/helm.mdx
Owners: none

update manual integration and uninstall page
  src/content/docs/infrastructure/oracle-cloud/introduction.mdx
  src/content/docs/infrastructure/oracle-cloud/troubleshooting.mdx
  src/content/docs/infrastructure/oracle-cloud/uninstall-oci-integration.mdx
Owners: none

chore: append ios-agent PR #902 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

Update cross-account query limit to 30 accounts (NR-620920)
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
  src/content/docs/accounts/accounts/account-maintenance/query-account-audit-logs-nrauditevent.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/original-pricing-plan-queries.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-dashboards.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-nrql-tutorial.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/nrql/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/nrql/using-nrql/rate-limits-nrql-queries.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/introduction-query-builder.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/use-advanced-nrql-mode-query-data.mdx
Owners: none

docs: Python Agent 13.6.0 release notes
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-130600.mdx
Owners: none

rename files and add left nav
  src/content/docs/infrastructure/oracle-cloud-infrastructure/introduction.mdx
  src/content/docs/infrastructure/oracle-cloud-infrastructure/metrics-reference.mdx
  src/content/docs/infrastructure/oracle-cloud-infrastructure/troubleshoot.mdx
  src/content/docs/infrastructure/oracle-cloud-infrastructure/uninstall-oci-integration.mdx
  src/nav/infrastructure.yml
Owners: none

metadata udpates
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5438.mdx
Owners: none

update urls in related articles section
  src/content/docs/infrastructure/oracle-cloud-infrastructure/introduction.mdx
  src/content/docs/infrastructure/oracle-cloud-infrastructure/metrics-reference.mdx
  src/content/docs/infrastructure/oracle-cloud-infrastructure/troubleshoot.mdx
  src/content/docs/infrastructure/oracle-cloud-infrastructure/uninstall-oci-integration.mdx
Owners: none

Updated the content that got removed by the merge
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/ec2/aws-ec2.mdx
Owners: none

Updated the Required and Optional section to Description
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/actions-catalog.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/aws/stepfunctions/aws-stepfunctions.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/azure/azure-aks-scalepool.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/azure/azure-appservice-restart.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/azure/azure-devops-api.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/azure/azure-execute-api.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/azure/azure-functions-invoke.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/azure/azure-vm-restart.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/azure/azure-vm-stop.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/github/github-issue-comment.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/github/github-issue-create.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/github/github-issue-get.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/github/github-issue-list.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/github/github-issue-lock.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/github/github-issue-unlock.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/github/github-issue-update.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/http/http-delete.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/http/http-get.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/http/http-post.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/http/http-put.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/jira/jira-issue-create.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/jira/jira-issue-dotransition.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/jira/jira-issue-get.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/jira/jira-issue-gettransitions.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/jira/jira-issue-search.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/jira/jira-issue-update.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/ai/newrelic-agent.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/newrelic/ai/newrelic-autopilot.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/servicenow/servicenow-incident-create.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/servicenow/servicenow-incident-get.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/servicenow/servicenow-incident-list.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/servicenow/servicenow-incident-resolve.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/servicenow/servicenow-incident-update.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/utils/script-run.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/utils/utils-datetime.mdx
  src/content/docs/workflow-automation/setup-and-configure/actions-catalog/utils/utils-transform.mdx
  src/nav/workflow-automation.yml
Owners: none

update nav with oci
  src/content/docs/infrastructure/oci/introduction.mdx
  src/content/docs/infrastructure/oci/metrics-reference.mdx
  src/content/docs/infrastructure/oci/troubleshoot.mdx
  src/content/docs/infrastructure/oci/uninstall.mdx
  src/nav/infrastructure.yml
Owners: none

fix(Agent Control): drop the dependency on newrelic-auth-rs#254, closed and not shipping
  src/content/docs/new-relic-control/agent-control/automated-installation.mdx
Owners: none

Replace hand-rolled markdown parser with the real MDX compiler (Plan C)
  gatsby-node.js
  scripts/__tests__/generate-snippets.test.js
  scripts/generate-snippets.js
  src/components/Snippets.js
  src/components/snippets/.generated/ApmNodejsPrerequisites.js
  src/components/snippets/.generated/ApmSharedPrerequisites.js
  src/components/snippets/.generated/PpCalloutPublicPreview.js
  src/components/snippets/.generated/ReuseableWarning.js
  src/components/snippets/README.md
  src/components/snippets/apm/nodejs/prerequisites.mdx
  src/components/snippets/apm/shared/prerequisites.mdx
Owners: @newrelic/docs-engineering

fix: format instrumentation flow
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-distributed-tracing.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-overview.mdx
  src/content/docs/opentelemetry/integrations/linkerd/linkerd-otel-setup.mdx
  src/nav/opentelemetry.yml
Owners: none

Removed the Real-time cost estimate information from Intelligent Summary
  src/content/docs/cci/financial-intelligence/intelligent-summary.mdx
Owners: none

Updated minor changes
  src/content/docs/cci/cci-pricing.mdx
  src/content/docs/cci/overview.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/infrastructure/prometheus-integrations/view-query-data/grafana-to-nr-dashboard-translation-rest-api.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

Updated the pricing info for Ground Truth
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Owners: none

[CCI] - Added the 48 hours
  src/content/docs/cci/faq.mdx
Owners: none

docs(dashboards): re-add {{selfEntity}} facet-linking content as its own section
  src/content/docs/query-your-data/explore-query-data/dashboards/filter-new-relic-one-dashboards-facets.mdx
Owners: none

docs: modify setup to cover only basic installation and modify the name of reinstrumentation to instrumentation.
  src/content/docs/new-relic-control/agent-control/instrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/nav/new-relic-control.yml
Owners: none
