Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

feat: Blog for supporting otel upgrade
  src/content/whats-new/2025/10/whats-new-10-13-support-aws-otel10-format.md
Owners: @john-withers, @aalfano7

feat: Blog for supporting otel upgrade
  src/content/whats-new/2025/10/whats-new-10-13-support-aws-otel10-format.md
Owners: @john-withers, @aalfano7

feat: Blog for supporting otel upgrade
  src/content/whats-new/2025/10/whats-new-10-13-support-aws-otel10-format.md
Owners: @john-withers, @aalfano7

feat: Blog for supporting otel upgrade
  src/content/whats-new/2025/10/whats-new-10-13-support-aws-otel10-format.md
Owners: @john-withers, @aalfano7

Update linux-installation.mdx
  src/content/docs/ebpf/linux-installation.mdx
Owners: none

chore: Update Attribute Dictionary JSON
  src/data/attribute-dictionary-en.json
Owners: none

Update linux-installation.mdx
  src/content/docs/ebpf/linux-installation.mdx
Owners: none

Update k8s-installation.mdx
  src/content/docs/ebpf/k8s-installation.mdx
Owners: none

Update New Relic Control documentation for K8s Infrastructure GA release
  src/content/docs/logs/log-collectors/log-collector-management.mdx
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/content/docs/new-relic-control/agent-control/upgrading.mdx
  src/content/docs/new-relic-control/fleet-control/manage-fleets.mdx
  src/content/docs/new-relic-control/fleet-control/setup.mdx
  src/content/docs/new-relic-control/pipeline-control/sizing-and-scaling.mdx
  src/content/docs/release-notes/docs-release-notes/docs-9-04-2025.mdx
Owners: none

Added prerequisite and improved doc
  src/content/docs/service-architecture-intelligence/catalogs/infrastructure-catalog.mdx
  src/content/docs/service-architecture-intelligence/catalogs/repository-catalog.mdx
  src/nav/service-architecture-intelligence.yml
  static/images/infracatalogs.webp
Owners: none

Update react-native-agent-1511.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-1511.mdx
Owners: none

Update metric-api-limits-restricted-attributes.mdx
  src/content/docs/data-apis/ingest-apis/metric-api/metric-api-limits-restricted-attributes.mdx
Owners: none

wip
  src/nav/apm.yml
Owners: none

updated image in dark mode
  src/content/docs/service-architecture-intelligence/catalogs/infrastructure-catalog.mdx
  static/images/infra-1.webp
Owners: none

Address Review comments
  src/content/whats-new/2025/10/whats-new-10-13-support-aws-otel10-format.md
Owners: @john-withers, @aalfano7

Address Review comments
  src/content/whats-new/2025/10/whats-new-10-13-support-aws-otel10-format.md
Owners: @john-withers, @aalfano7

feat(math-equations): add support for math equations
  gatsby-browser.js
  gatsby-config.js
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

fix(maths-equation): fix maths equations in job manager configuration
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

feat: Add release notes for Kubernetes integration v3.46.0
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-46-0.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/introduction-new-relic-nodejs.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/installation/php-agent-installation-overview.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
  src/i18n/content/jp/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/page-load-timing-resources/instrumentation-browser-monitoring.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
  src/i18n/content/jp/docs/new-relic-solutions/solve-common-issues/find-help-get-support.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
Owners: none

Update dynamic-flow-map.mdx
  src/content/docs/service-architecture-intelligence/maps/dynamic-flow-map.mdx
Owners: none

implementing review feedback
  src/content/docs/change-tracking/config/cli.mdx
  src/content/docs/change-tracking/config/nerdgraph.mdx
  src/content/docs/change-tracking/overview.mdx
  src/content/docs/change-tracking/query-data.mdx
  src/content/docs/change-tracking/view-analyze-data.mdx
  src/i18n/translations/en/translation.json
Owners: none

syntax fixed
  src/content/docs/change-tracking/config/nerdgraph.mdx
Owners: none

Update dynamic-flow-map.mdx
  src/content/docs/service-architecture-intelligence/maps/dynamic-flow-map.mdx
Owners: none

fix: remove \text and replace with \mathrm
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

minor formatting tweak
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

Add data access control documentation for GA release
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/data-access-control.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-data-access-control.mdx
  src/nav/accounts.yml
  src/nav/telemetry-data-platform.yml
Owners: none

Update data-access-control.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/data-access-control.mdx
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

chore: Adds Node.js agent v13.5.0 release notes.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-13-5-0.mdx
Owners: none

Final draft for github cloud
  src/content/docs/service-architecture-intelligence/github-integration.mdx
Owners: none

Updated Manage your secure credentials section
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
Owners: none

feat: Add fine-grained access control documentation for secrets management
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-secret-management-service.mdx
Owners: none

chore(math-equations): minor code changes
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Owners: none

Updates
  src/content/docs/cci/cci-azure.mdx
  src/content/docs/cci/overview.mdx
Owners: none

Update the numbering
  src/content/docs/cci/google-cloud-platform-cci.mdx
Owners: none

Minor updates
  src/content/docs/cci/cci-azure.mdx
  src/content/docs/cci/google-cloud-platform-cci.mdx
Owners: none

Final updates'
  src/content/docs/cci/google-cloud-platform-cci.mdx
Owners: none

Update migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/content/docs/data-apis/manage-data/migrate-drop-rules-to-pipeline-cloud-rules.mdx
Owners: none

feat: Create 8tcol bring your own cache config
  src/content/docs/distributed-tracing/infinite-tracing-on-premise/bring-your-own-cache.mdx
  src/content/docs/distributed-tracing/infinite-tracing-on-premise/infinite-tracing-introduction.mdx
Owners: none
