Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

flask.palletsprojects.com
  src/content/docs/apm/agents/python-agent/getting-started/instrumented-python-packages.mdx
Owners: none

chore: Adds Node.js agent v13.6.3 release notes.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-13-6-3.mdx
Owners: none

update compatible java agent versions to include 25
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Owners: none

Indentation changes
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8250.mdx
Owners: none

feat: add patent notice in the footer
  package.json
  src/layouts/HomePageLayout.js
  yarn.lock
Owners: @newrelic/docs-engineering

Added screenshot and did changes in info as per SME
  src/content/docs/alerts/incident-management/response-intelligence-ai.mdx
  static/images/ai-log-summary.webp
Owners: none

Add bookmarks to all headings for navigation
  src/content/docs/alerts/incident-management/response-intelligence-ai.mdx
Owners: none

Add AI log summarization documentation for log-based alerts
  src/content/docs/alerts/incident-management/response-intelligence-ai.mdx
Owners: none

fix: merge conflicts
  src/i18n/content/es/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.122.mdx
  src/i18n/content/es/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.39.mdx
  src/i18n/content/kr/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.134.mdx
  src/i18n/content/kr/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.50.mdx
Owners: none

fix: verify-mdx conflicts
  src/i18n/content/es/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/fr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/kr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/pt/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/pt/docs/cci/configure-cci/general-setting.mdx
Owners: none

fix: merge conflicts
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.122.mdx
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.39.mdx
Owners: none

chore: add translations
  src/i18n/content/fr/docs/licenses/product-or-service-licenses/codestream/codestream-licenses.mdx
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

chore: Adds Node.js agent v13.6.4 release notes.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-13-6-4.mdx
Owners: none

Update eol-chrome-140-node-22-synthetics.md
  src/content/eol/2025/11/eol-chrome-140-node-22-synthetics.md
Owners: none

Update alerts-slm.mdx
  src/content/docs/service-level-management/alerts-slm.mdx
Owners: none

Update change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/alerts/organize-alerts/change-applied-intelligence-correlation-logic-decisions.mdx
Owners: none

feat(whats-new): add AI Logs Alert Summary images
  static/images/AI-Log-Alert-Summarization.webp
Owners: none

update Deprecations list
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8250.mdx
Owners: none

wip
  .claude/commands/doc-concept.md
  .claude/commands/doc-map.md
  .claude/commands/doc-reference.md
  .claude/commands/doc-reuse.md
  .claude/commands/doc-review.md
  .claude/commands/doc-task.md
  .claude/json-prompt-guide.md
  .claude/prompt-engineering-cheatsheet.md
  .claude/security-rx-example-prompt.json
  src/content/docs/nrql/nrql-examples/security-nrql-query-examples.mdx
  src/content/docs/vulnerability-management/integrations/aws.mdx
  src/content/docs/vulnerability-management/overview.mdx
  src/nav/nrql.yml
Owners: none

Update user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Owners: none

Update user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Owners: none

Fix random typos in release notes
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-110100.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-81001.mdx
Owners: none

Retrieving Permissions is not a Mutation
  src/content/docs/apis/nerdgraph/examples/nerdgraph-manage-groups.mdx
Owners: none

Update migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/content/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
Owners: none

feat: update banners in product updates
  src/pages/eol.js
  src/pages/whats-new.js
Owners: @newrelic/docs-engineering

feat: update banners in product updates
  src/pages/eol.js
Owners: @newrelic/docs-engineering

Update and rename whats-new-11-05-Outlier Detection.md to whats-new-11-05-outlier-detection.md
  src/content/whats-new/2025/11/whats-new-11-05-outlier-detection.md
Owners: @john-withers, @aalfano7

Update and rename whats-new-11-05-MCP SERVER.md to whats-new-11-05-mcp-server.md
  src/content/whats-new/2025/11/whats-new-11-05-MCP SERVER.md
  src/content/whats-new/2025/11/whats-new-11-05-mcp-server.md
Owners: @john-withers, @aalfano7

Update whats-new-11-05-outlier-detection.md
  src/content/whats-new/2025/11/whats-new-11-05-outlier-detection.md
Owners: @john-withers, @aalfano7

Update whats-new-11-05-mcp-server.md
  src/content/whats-new/2025/11/whats-new-11-05-mcp-server.md
Owners: @john-withers, @aalfano7

Update whats-new-11-05-mcp-server.md
  src/content/whats-new/2025/11/whats-new-11-05-mcp-server.md
Owners: @john-withers, @aalfano7

Update whats-new-11-10-logs-fga.md
  src/content/whats-new/2025/11/whats-new-11-10-logs-fga.md
Owners: @john-withers, @aalfano7

Updated the indentation
  src/content/docs/workflow-automation/create-a-workflow-automation/create-your-own.mdx
  src/content/docs/workflow-automation/create-a-workflow-automation/managing-workflow.mdx
  src/content/docs/workflow-automation/create-a-workflow-automation/start-schedule.mdx
  src/content/docs/workflow-automation/create-a-workflow-automation/use-a-template.mdx
  src/content/docs/workflow-automation/introduction-to-workflow.mdx
  src/content/docs/workflow-automation/limitations-and-faq/workflow-best-practices.mdx
  src/content/docs/workflow-automation/limitations-and-faq/workflow-limits.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/actions-catalog.mdx
  src/content/docs/workflow-automation/setup-and-configuration/create-destinations.mdx
  src/content/docs/workflow-automation/setup-and-configuration/set-up-aws-credentials.mdx
  src/content/docs/workflow-automation/troubleshooting.mdx
  src/content/docs/workflow-automation/workflow-examples.mdx
Owners: none

feat: update banners in product updates
  src/pages/eol.js
  src/pages/whats-new.js
Owners: @newrelic/docs-engineering

Update whats-new-11-05-outlier-detection.md
  src/content/whats-new/2025/11/whats-new-11-05-outlier-detection.md
Owners: @john-withers, @aalfano7

Update whats-new-11-10-scheduled-search.md
  src/content/whats-new/2025/11/whats-new-11-10-scheduled-search.md
Owners: @john-withers, @aalfano7

wip
  src/content/docs/vulnerability-management/cloud-misconfig-remediation.mdx
  src/content/docs/vulnerability-management/cloud-misconfig-setup.mdx
  src/content/docs/vulnerability-management/cloud-workflow-misconfig.mdx
  src/content/docs/vulnerability-management/security-workflow-cloud-misconfig.mdx
  static/images/aws-account-misconfigurations-view.webp
  static/images/aws-integration-setup.webp
  static/images/s3-bucket-misconfiguration-remediation.webp
  static/images/security-rx-misconfigurations-list.webp
  static/images/security-rx-overview-dashboard.webp
  static/images/security-rx-resources-dashboard.webp
Owners: none

[NR-486561] android agent v7.6.13 release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-7613.mdx
Owners: none

Doc release notes
  src/content/docs/release-notes/docs-release-notes/docs-11-14-2025.mdx
Owners: none
