Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

minor updates
  src/content/docs/opentelemetry/integrations/elasticsearch/distributed-tracing.mdx
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

chore: Adds Node.js agent v14.5.1 release notes.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-14-5-1.mdx
Owners: none

Create go-agent-3-45-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-45-0.mdx
Owners: none

minor linguistic fixes
  src/content/docs/new-relic-control/agent-control/agent-types.mdx
Owners: none

NR-622199 updating max event pool size doc to mention minimum
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-pool-size.mdx
Owners: none

linguistic updates
  src/content/docs/new-relic-control/agent-control/instrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
Owners: none

Apply batched suggestions from code review
  src/content/docs/new-relic-control/agent-control/instrumentation.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
Owners: none

Apply batched suggestions from code review
  src/content/docs/new-relic-control/agent-control/setup.mdx
Owners: none

docs(opentelemetry): add collector observability two-mode UI, KPI reference, and setup guide
  src/content/docs/opentelemetry/collector-observability/collector-observability-kpis.mdx
  src/content/docs/opentelemetry/collector-observability/collector-observability-setup.mdx
  src/content/docs/opentelemetry/collector-observability/collector-observability.mdx
  src/nav/opentelemetry.yml
  static/images/otel_collector_o11y-infra.webp
  static/images/otel_collector_o11y-kpi-drawer.webp
  static/images/otel_collector_o11y-kpi-tiles.webp
  static/images/otel_collector_o11y-process.webp
  static/images/otel_collector_o11y-settings.webp
  static/images/otel_collector_o11y-sidecar-tabs.webp
  static/images/otel_collector_o11y-summary-infra.webp
  static/images/otel_collector_o11y-summary.webp
Owners: none

docs(gcp): clarify domain restriction constraint scope
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-service-account.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/install-and-configure/connect-gcp-workload-identity-federation.mdx
Owners: none

add DT link
  src/content/docs/opentelemetry/integrations/elasticsearch/distributed-tracing.mdx
Owners: none

add DNT tag for metrics and logs
  src/content/docs/infrastructure/oci/introduction.mdx
Owners: none

minor linguistic updates
  src/content/docs/new-relic-control/fleet-control/access-management.mdx
  src/content/docs/new-relic-control/fleet-control/overview.mdx
  src/content/docs/new-relic-control/fleet-control/security.mdx
  src/content/docs/new-relic-control/getting-started.mdx
Owners: none

Fix translation build breaking on any snippet component name (Problem A)
  scripts/actions/__esm-tests__/deserialize-html.test.mjs
  scripts/actions/__esm-tests__/serialize-mdx.test.mjs
  scripts/actions/deserialize-html.mjs
  scripts/actions/serialize-mdx.mjs
  scripts/generate-snippets.js
Owners: @newrelic/docs-engineering

fix(Agent Control): use NR_AUTH_API_KEY instead of --api-key across the guide
  src/content/docs/new-relic-control/agent-control/automated-installation.mdx
Owners: none

add multi-instance instances-file support to MSSQL Windows Domain Auth/gMSA docs
  src/content/docs/opentelemetry/database/mssql/ansible.mdx
  src/content/docs/opentelemetry/database/mssql/chef.mdx
  src/content/docs/opentelemetry/database/mssql/cli.mdx
Owners: none

linguistic updates to access management page
  src/content/docs/new-relic-control/fleet-control/access-management.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

docs: fix logging text in windows and APM callout
  src/content/docs/new-relic-control/agent-control/instrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
Owners: none

removed the summary from the access management page
  src/content/docs/new-relic-control/fleet-control/access-management.mdx
Owners: none

feat(whats-new): add host support GA post
  src/content/whats-new/2026/09/whats-new-09-29-host-support-ga.md
Owners: @john-withers, @aalfano7

fix: resolve MDX validation errors in HT #25874
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX errors, remove deleted-on-develop files for MT #25875
  src/i18n/content/es/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/es/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/es/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/es/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.4.mdx
  src/i18n/content/es/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.mdx
  src/i18n/content/es/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/fr/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.4.mdx
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.mdx
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mysql/hosted.mdx
  src/i18n/content/jp/docs/opentelemetry/database/mysql/rds.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.4.mdx
  src/i18n/content/jp/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.mdx
  src/i18n/content/jp/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.mdx
  src/i18n/content/kr/docs/opentelemetry/database/otel-oracledb.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.4.mdx
  src/i18n/content/kr/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.mdx
  src/i18n/content/kr/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/elasticsearch/elasticsearch-otel-integration-k8-install.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.4.mdx
  src/i18n/content/pt/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.mdx
  src/i18n/content/pt/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.mdx
Owners: none

fix: remove empty HTML comment blocks in es/docs-4-11-2025.mdx
  src/i18n/content/es/docs/release-notes/docs-release-notes/docs-4-11-2025.mdx
Owners: none

chore: append ios-agent PR #905 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

address comments parallesim and formatting
  src/content/docs/infrastructure/oci/introduction.mdx
  src/content/docs/infrastructure/oci/troubleshoot.mdx
Owners: none

docs(supportability-metrics): add mobile supportability metrics page
  src/content/docs/mobile-monitoring/supportability-metrics/introduction.mdx
  src/nav/mobile-monitoring.yml
Owners: none

docs(supportability-metrics): fix stale links and misnamed agent files
  src/content/docs/apm/supportability-metrics/go-agent-supportability-metrics.mdx
  src/content/docs/apm/supportability-metrics/introduction.mdx
  src/content/docs/apm/supportability-metrics/php-agent-supportability-metrics.mdx
  src/content/docs/apm/supportability-metrics/ruby-agent-supportability-metrics.mdx
Owners: none

feat: Update Flutter and MAUI
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/handled-exceptions-analyze-trends-prevent-crashes.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
Owners: none

chrome version upgrade
  src/content/docs/synthetics/synthetic-monitoring/private-locations/synthetics-kerberos-auth-support.mdx
Owners: none

kerberos auth support in synthetics
  src/content/docs/synthetics/synthetic-monitoring/private-locations/synthetics-kerberos-auth-support.mdx
Owners: none

feat: Add info on Flutter and MAUI symbolication
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/handled-exceptions-analyze-trends-prevent-crashes.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
Owners: none

feat: Update copy
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/handled-exceptions-analyze-trends-prevent-crashes.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/i18n/content/jp/docs/agentic-ai/mcp/overview.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX validation errors in HT #25881
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

chore: add translations
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

Update new-relic-api-keys.mdx
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Owners: none

fix: resolve MDX validation errors in HT #25882
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

remove the preview callout step
  src/content/docs/opentelemetry/database/capabilities/db-apm.mdx
  src/content/docs/opentelemetry/database/capabilities/sql-query-receiver.mdx
  src/content/docs/opentelemetry/database/mssql/introduction.mdx
  src/content/docs/opentelemetry/database/mssql/linux-hosted.mdx
  src/content/docs/opentelemetry/database/mssql/linux-rds.mdx
  src/content/docs/opentelemetry/database/mssql/metrics-reference.mdx
  src/content/docs/opentelemetry/database/mssql/multi-receiver.mdx
  src/content/docs/opentelemetry/database/mssql/troubleshooting.mdx
  src/content/docs/opentelemetry/database/mssql/windows-hosted.mdx
  src/content/docs/opentelemetry/database/mssql/windows-rds.mdx
  src/content/docs/opentelemetry/database/mysql/advanced-config.mdx
  src/content/docs/opentelemetry/database/mysql/compatibility.mdx
  src/content/docs/opentelemetry/database/mysql/guided.mdx
  src/content/docs/opentelemetry/database/mysql/hosted.mdx
  src/content/docs/opentelemetry/database/mysql/introduction.mdx
  src/content/docs/opentelemetry/database/mysql/metrics-reference.mdx
  src/content/docs/opentelemetry/database/mysql/multi-receiver.mdx
  src/content/docs/opentelemetry/database/mysql/rds.mdx
  src/content/docs/opentelemetry/database/mysql/troubleshooting.mdx
  src/content/docs/opentelemetry/database/oracle/adb.mdx
  src/content/docs/opentelemetry/database/oracle/cncf.mdx
  src/content/docs/opentelemetry/database/oracle/host-cdb.mdx
  src/content/docs/opentelemetry/database/oracle/host-pdb.mdx
  src/content/docs/opentelemetry/database/oracle/introduction.mdx
  src/content/docs/opentelemetry/database/oracle/metrics-reference.mdx
  src/content/docs/opentelemetry/database/oracle/multi-receiver.mdx
  src/content/docs/opentelemetry/database/oracle/rds.mdx
  src/content/docs/opentelemetry/database/oracle/troubleshooting.mdx
  src/content/docs/opentelemetry/database/postgresql/compatibility.mdx
  src/content/docs/opentelemetry/database/postgresql/explain-permissions.mdx
  src/content/docs/opentelemetry/database/postgresql/hosted.mdx
  src/content/docs/opentelemetry/database/postgresql/introduction.mdx
  src/content/docs/opentelemetry/database/postgresql/metrics-reference.mdx
  src/content/docs/opentelemetry/database/postgresql/multi-receiver.mdx
  src/content/docs/opentelemetry/database/postgresql/rds.mdx
  src/content/docs/opentelemetry/database/postgresql/troubleshooting.mdx
Owners: none
