Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

added the userActions events data for browser monitoing
  src/content/docs/data-apis/understand-data/event-data/events-reported-browser-monitoring.mdx
Owners: none

fixing the redirect issue
  src/content/docs/ebpf/k8s-installation.mdx
Owners: none

Remove reference to single char strings
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: indentation
  src/content/docs/distributed-tracing/infinite-tracing-on-premise/bring-your-own-cache.mdx
Owners: none

fix: indentation
  src/content/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
Owners: none

fix: indentation
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/java-extensions-k8s-auto-attach.mdx
Owners: none

chore: capitalize NRQL clauses
  src/content/docs/query-your-data/explore-query-data/notebooks/notebooks-examples.mdx
Owners: none

chore: capitalize NRQL clauses
  src/content/docs/query-your-data/explore-query-data/notebooks/visualizations-in-notebooks.mdx
Owners: none

fix: remove whitespace in language identifier
  src/content/docs/infrastructure/host-integrations/db-entity-tags.mdx
Owners: none

chore: fix indentation
  src/install/microsoft-sql/windows/query.mdx
Owners: none

Refine user management roles descriptions
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Owners: none

chore(.net agent): Add .NET Agent release notes for v10.47.1.
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-47-1.mdx
Owners: none

Wrap unique count hash collision warning in a Callout tag
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

Update software license
  src/content/docs/licenses/license-information/distributed-licenses/new-relic-agent-software-notice.mdx
Owners: none

Updated the content
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/actions-catalog.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/aws.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/aws/aws-cloudwatch.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/aws/aws-execute-api.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/newrelic/newrelic-notification.mdx
Owners: none

fixing the syntax error to correctly populate hyperlinks
  src/content/docs/licenses/license-information/distributed-licenses/new-relic-agent-software-notice.mdx
Owners: none

fix(mdx-freshness): update script to generate csv
  scripts/listMdxFreshness.mjs
Owners: @newrelic/docs-engineering

fix(mdx-issues): fix verify-mdx issues
  src/i18n/content/kr/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Owners: none

chore: Updated data plus retention days to 120
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Owners: none

updated from depth to step
  src/content/docs/service-architecture-intelligence/maps/advanced-maps.mdx
Owners: none

Clarify distinction between simulation and real-time correlation in decisions
  src/content/docs/alerts/organize-alerts/change-applied-intelligence-correlation-logic-decisions.mdx
Owners: none

Added Windows 2022-2025 support for .NET
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Owners: none

fix the syntax
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Owners: none

fix the broken link issue
  src/content/docs/licenses/license-information/distributed-licenses/new-relic-agent-software-notice.mdx
Owners: none

Update change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/alerts/organize-alerts/change-applied-intelligence-correlation-logic-decisions.mdx
Owners: none

[NR-496810] android v7.6.14 release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-7614.mdx
Owners: none

updated the page view and added new user impact page to document frustration signal and performance impact functionality
  src/content/docs/browser/new-relic-browser/browser-pro-features/page-views-examine-page-performance.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/user-impact.mdx
Owners: none

added new user-impact doc to navigation file
  src/nav/browser.yml
Owners: none

Updated Catalogs-Application, Infra, and Repo pages
  src/content/docs/service-architecture-intelligence/catalogs/applications-catalog.mdx
  src/content/docs/service-architecture-intelligence/catalogs/catalogs.mdx
  src/content/docs/service-architecture-intelligence/catalogs/infrastructure-catalog.mdx
  src/content/docs/service-architecture-intelligence/catalogs/repository-catalog.mdx
Owners: none

Updated the content
  src/content/docs/workflow-automation/create-a-workflow-automation/create-your-own.mdx
  src/content/docs/workflow-automation/create-a-workflow-automation/start-schedule.mdx
  src/content/docs/workflow-automation/limitations-and-faq/workflow-best-practices.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/aws/aws-execute-api.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/aws/aws-lambda.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/aws/aws-systemsmanager.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/http/http-delete.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/http/http-get.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/http/http-post.mdx
  src/content/docs/workflow-automation/setup-and-configuration/actions-catalog/http/http-put.mdx
  src/content/docs/workflow-automation/setup-and-configuration/create-destinations.mdx
  src/content/docs/workflow-automation/setup-and-configuration/set-up-aws-credentials.mdx
  src/content/docs/workflow-automation/troubleshooting.mdx
  src/content/docs/workflow-automation/workflow-automation-apis/create-workflow-definition.mdx
  src/nav/workflow-automation.yml
Owners: none

Removed saved view from limitation
  src/content/docs/service-architecture-intelligence/catalogs/repository-catalog.mdx
Owners: none

Images updated
  src/content/docs/vulnerability-management/cloud/security-workflow.mdx
  static/images/security_app-overview.png
  static/images/security_cloud-overview.webp
  static/images/security_infra_entity_overview.webp
  static/images/security_screenshot-entity_security-overview.webp
  static/images/security_screenshot-full_security-overview.webp
  static/images/security_screenshot-infra.webp
Owners: none

feat(whats-new): SAI github integration
  src/content/whats-new/2025/12/whats-new-12-09-sai .md
Owners: @john-withers, @aalfano7

feat(whats-new): SAI github integration
  src/content/whats-new/2025/12/whats-new-12-09-sai .md
Owners: @john-withers, @aalfano7

feat(whats-new): SAI github integration
  src/content/whats-new/2025/12/whats-new-12-09-sai.md
Owners: @john-withers, @aalfano7

feat(whats-new): SAI github integration
  src/content/whats-new/2025/12/whats-new-12-09-sai.md
Owners: @john-withers, @aalfano7

Release notes for latest versions
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.3.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-rc1.4.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-rc1.4.mdx
Owners: none

Update github-integration.mdx
  src/content/docs/service-architecture-intelligence/github-integration.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
