Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

chore: append ios-agent PR #918 to next release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-next.mdx
Owners: none

chore(.net agent): Add .NET Agent release notes for v10.56.0.
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-56-0.mdx
Owners: none

docs: mobile agents send only W3C trace headers (NR-630340)
  src/content/docs/distributed-tracing/concepts/distributed-tracing-planning-guide.mdx
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
  src/content/docs/distributed-tracing/troubleshooting/missing-trace-data.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-and-dt.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/get-started/new-relic-ios-and-dt.mdx
Owners: none

chore(ruby agent): add release notes
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-10-9-1.mdx
Owners: none

fix(deps): patch critical/high form-data, sharp, js-yaml and adm-zip alerts
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

fix(deps): patch transitive express, socket.io, ws, semver and related alerts
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

chore(deps): bump gatsby 4.25.7 -> 4.25.9 (last v4 release)
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

fix(deps): patch axios, qs, xml2js, tmp, undici, sanitize-html and related transitive alerts
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

fix: address PR review comments on API keys audit table
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Owners: none

fix(deps): remove unused aws-sdk, webdriver-manager, htmltojsx and patch katex, serialize-javascript, js-cookie, uuid, esbuild
  package.json
  yarn.lock
Owners: @newrelic/docs-engineering

Add Kerberos authentication section to private location capabilities
  src/content/docs/synthetics/synthetic-monitoring/guides/private-location-capabilities.mdx
Owners: none

docs(whats-new): add Triage Inbox navigation label announcement
  src/content/whats-new/2026/10/whats-new-10-08-triage-inbox-nav-label.md
  static/images/triage-inbox-nav-label.png
Owners: @john-withers, @aalfano7

Update src/content/whats-new/2026/10/whats-new-10-08-triage-inbox-nav-label.md
  src/content/whats-new/2026/10/whats-new-10-08-triage-inbox-nav-label.md
Owners: @john-withers, @aalfano7

Update src/content/whats-new/2026/10/whats-new-10-08-triage-inbox-nav-label.md
  src/content/whats-new/2026/10/whats-new-10-08-triage-inbox-nav-label.md
Owners: @john-withers, @aalfano7

fix(whats-new): rename file to remove invalid trailing character
  src/content/whats-new/2026/10/whats-new-10-08-performance-risks-inbox.md
Owners: @john-withers, @aalfano7

Add missing enhancements field per release-notes-template.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-14-6-0.mdx
Owners: none

Add missing enhancements field per release-notes-template.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-56-0.mdx
Owners: none

Add missing enhancements field per release-notes-template.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-10-9-1.mdx
Owners: none

Update src/content/whats-new/2026/10/whats-new-10-08-performance-risks-inbox.md
  src/content/whats-new/2026/10/whats-new-10-08-performance-risks-inbox.md
Owners: @john-withers, @aalfano7

Remove rendundant image
  src/content/docs/opentelemetry/collector-observability/collector-observability-kpis.mdx
Owners: none

docs(whats-new): use GIF for Triage Inbox navigation image
  src/content/whats-new/2026/10/whats-new-10-08-triage-inbox-nav-label.md
  static/images/triage-inbox-nav-label.gif
  static/images/triage-inbox-nav-label.png
Owners: @john-withers, @aalfano7

chore: add translations
  src/i18n/content/jp/docs/agentic-ai/mcp/overview.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

fix: resolve MDX validation errors in HT #26108
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/kr/docs/nrql/nrql-syntax-clauses-functions.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

docs(workloads): add AI Insights page for Intelligent Workloads, remove preview callout for GA
  src/content/docs/new-relic-solutions/new-relic-one/workloads/create-intelligent-workload.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/intelligent-workload-ai-monitoring.mdx
  src/nav/workloads.yml
  static/images/intelligent-workload-ai-insights.webp
Owners: none

Updates made to the doc
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Owners: none

Updates
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Owners: none

docs: revert edits to published 5.0.8 release notes; add Logs 260923 release note for Debian 13 and Windows Server 2025
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-26-06-30.mdx
  src/content/docs/release-notes/logs-release-notes/logs-26-06-30.mdx
  src/content/docs/release-notes/logs-release-notes/logs-26-09-23.mdx
Owners: none

Updates made by pallavi
  src/content/docs/cci/configure-cci/cci-permissions.mdx
Owners: none

Fix dangling step 7 sentences in Replace key collapsers
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Owners: none

docs(workloads): remove AI Insights section from Intelligent Workloads
  src/content/docs/new-relic-solutions/new-relic-one/workloads/intelligent-workload-ai-monitoring.mdx
  src/nav/workloads.yml
  static/images/intelligent-workload-ai-insights.webp
Owners: none

fix podman size causing chrome crashes
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-job-manager.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-synthetics-dual-stack-podman.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/runtime-transition-guide.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/troubleshoot-private-locations.mdx
Owners: none

Add to Python Agent v13.7.0 release notes
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-130700.mdx
Owners: none

fix(.net agent): Correct AppDomain caching troubleshooting page for .NET Core
  src/content/docs/apm/agents/net-agent/troubleshooting/lock-contention-appdomain-getdata.mdx
  src/nav/apm.yml
Owners: none

docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Owners: none

chore: Adds Node.js agent v14.7.0 release notes.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-14-7-0.mdx
Owners: none

fix(.net agent): Set affected agent versions to 10.54.0 through 10.56.0
  src/content/docs/apm/agents/net-agent/troubleshooting/lock-contention-appdomain-getdata.mdx
Owners: none

Update sdk-based-instrumentation.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/sdk-based-instrumentation.mdx
Owners: none

docs: add flutter and maui symbolication guides
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/symbolicate-dart-errors.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/symbolicate-csharp-errors.mdx
  src/nav/mobile-monitoring.yml
  static/images/flutter_screenshot-crop_symbolicate-build-id-mismatch.webp
  static/images/flutter_screenshot-crop_symbolicate-result.webp
  static/images/flutter_screenshot-crop_symbolicate-upload.webp
  static/images/maui_screenshot-crop_symbolicate-result.webp
  static/images/maui_screenshot-crop_symbolicate-upload.webp
Owners: none

docs: drop unconfirmed maui file size note
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/symbolicate-csharp-errors.mdx
Owners: none

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7
