Repository newrelic/docs-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/docs-engineering, @john-withers, @aalfano7

.github/CODEOWNERS:

# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# Changes to yarn.lock & package.json file
package.json @newrelic/docs-engineering
yarn.lock @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

/plugins/ @newrelic/docs-engineering

# .github directory & its subdirectories
/scripts/ @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @john-withers @aalfano7

Fixed review comments
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-session-replay/advanced-session-replay.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-session-replay/configure-privacy-settings.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-session-replay/introduction.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-session-replay/set-up-session-replay.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-session-replay/troubleshooting.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-session-replay/view-session-replays.mdx
Owners: none

add quick start guide links
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
Owners: none

wip
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-overview.mdx
Owners: none

Update whats-new-4-16-windows-ga.md
  src/content/whats-new/2026/04/whats-new-4-16-windows-ga.md
Owners: @john-withers, @aalfano7

Updated the alignment and removed the additional space
  src/content/whats-new/2026/04/whats-new-4-16-windows-ga.md
Owners: @john-withers, @aalfano7

Update whats-new-4-16-windows-ga.md
  src/content/whats-new/2026/04/whats-new-4-16-windows-ga.md
Owners: @john-withers, @aalfano7

wip
  src/content/docs/ai-monitoring/custom-instrumentation-ai-monitoring.mdx
  src/nav/ai-monitoring.yml
Owners: none

update headings
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
Owners: none

Create go-agent-3-43-2.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-43-2.mdx
Owners: none

chore(whats-new-ids): updated ids
  src/data/whats-new-ids.json
Owners: none

improve chart explanation and reduce content redundancy
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
Owners: none

improve UI workflow and user-friendly explanations
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
Owners: none

chore(ruby agent): add release notes
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-10-4-0.mdx
Owners: none

enhance anomaly detection workflow and content flow
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
Owners: none

improve content organization with progressive disclosure
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
Owners: none

implement hybrid approach for better document navigation
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
Owners: none

add anomaly detection chart images
  static/images/alerts_screenshot-crop_try-anomaly-thresholds.webp
  static/images/anomalydetectionchart.webp
Owners: none

reorder document sections to match Quick Start Guide flow
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
Owners: none

shorten section headings for better scannability
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
Owners: none

docs: add NRDOT fips docs
  src/content/docs/opentelemetry/nrdot/nrdot-fips.mdx
Owners: none

fix: verify mdx errors
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: verify mdx errors
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

fix: verify mdx errors
  src/i18n/content/es/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/es/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/es/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/fr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/fr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/jp/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/jp/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/kr/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/kr/docs/opentelemetry/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/infrastructure-as-code/terraform/migrate-drop-rules-to-pipeline-cloud-rules.mdx
  src/i18n/content/pt/docs/opentelemetry/integrations/nginx/nginx-otel-host.mdx
  src/i18n/content/pt/docs/opentelemetry/nginx/nginx-otel-host.mdx
Owners: none

Updated nerdgraph api details related synthetics eol runtimes
  src/content/docs/apis/nerdgraph/examples/synthetics-api/scripted-api-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/scripted-browser-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/simple-browser-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/step-monitor.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetics-scripted-browser-monitors-to-chrome-latest.mdx
Owners: none

Update url
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-43-2.mdx
Owners: none

Updated config from .conf to .yaml and updated fields
  src/content/docs/ebpf/linux-installation.mdx
Owners: none

fix: correct bash exit code handling and remove old workflow
  .github/workflows/verify-mdx-enhanced.yml
  .github/workflows/verify-mdx.yml
Owners: @newrelic/docs-engineering

fix: use PIPESTATUS to capture yarn exit code correctly
  .github/workflows/verify-mdx-enhanced.yml
Owners: @newrelic/docs-engineering

Minor fixes
  src/content/docs/ebpf/k8s-installation.mdx
  src/content/docs/ebpf/network-metrics.mdx
  src/content/docs/ebpf/requirements.mdx
  src/content/docs/ebpf/troubleshooting/file-descriptor-limit.mdx
  src/content/docs/ebpf/troubleshooting/no-ui-data.mdx
  src/content/docs/ebpf/troubleshooting/troubleshoot-k8s.mdx
Owners: none

chore: add translations
  src/i18n/content/kr/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/prometheus-integrations/view-query-data/grafana-to-nr-dashboard-translation-rest-api.mdx
  src/i18n/content/kr/docs/infrastructure/prometheus-integrations/view-query-data/supported-promql-features.mdx
  src/i18n/content/kr/docs/security/security-privacy/information-security/security-bulletins.mdx
Owners: none

Updated nerdgraph api details for script api
  src/content/docs/apis/nerdgraph/examples/synthetics-api/scripted-api-monitor.mdx
Owners: none

Removed legacy runtimes information
  src/content/docs/apis/nerdgraph/examples/synthetics-api/scripted-api-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/scripted-browser-monitor.mdx
  src/content/docs/apis/nerdgraph/examples/synthetics-api/simple-browser-monitor.mdx
Owners: none

fix(metric API): remove DPM limit from limits reference page
  src/content/docs/data-apis/ingest-apis/metric-api/metric-api-limits-restricted-attributes.mdx
Owners: none

fix(metric API): remove DatapointsPerMinute rate limit error
  src/content/docs/data-apis/ingest-apis/metric-api/troubleshoot-nrintegrationerror-events.mdx
Owners: none

fix(data governance): remove DPM limit references
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-optimize-ingest-guide.mdx
Owners: none

fix(optimize telemetry): remove DPM limit references
  src/content/docs/tutorial-optimize-telemetry/data-optimize-techniques.mdx
Owners: none

fix(prometheus): remove DPM from remote write error docs
  src/content/docs/infrastructure/prometheus-integrations/install-configure-remote-write/remote-write-errors-error-messages.mdx
Owners: none

Add Hybrid Agent settings
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
Owners: none

Add clarifying information for Python
  src/content/docs/apm/agents/manage-apm-agents/opentelemetry-api-support.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
Owners: none

Update customize-nerdpacks.mdx
  src/content/docs/new-relic-solutions/tutorials/customize-nerdpacks.mdx
Owners: none
