Repository newrelic/docs-website, pull requests merged in 2020-12, with the labels that each got.

#334 Clarify that all issues are public-facing, consistency edits to issues
  .github/ISSUE_TEMPLATE/content-bug.md
  .github/ISSUE_TEMPLATE/content-enhancement.md
  .github/ISSUE_TEMPLATE/site-bug-report.md
  .github/ISSUE_TEMPLATE/site-enhancement.md
Labels: documentation

#354 fix: update theme
  COMPONENT_GUIDE.md
  package.json
  yarn.lock
Labels: enhancement

#367 chore: Issue template change
  .github/ISSUE_TEMPLATE/site-bug-report.md
  .github/ISSUE_TEMPLATE/site-enhancement.md
  .github/PULL_REQUEST_TEMPLATE/research_PR_template.md
  .github/pull_request_template.md
  README.md
Labels: documentation

#402 fix: updated what's new section
  CONTRIBUTING.md
Labels: documentation

#420 chore: updated pr template
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: documentation

#413 chore: added stalebot config
  .github/stale.yml
Labels: automation

#449 fix: removed recent posts
  plugins/gatsby-source-nav/gatsby-node.js
Labels: enhancement
