Repository newrelic/docs-website, pull requests merged in 2021-06, with the labels that each got.

#2531 OpsGenie schema needed to have a syntax update
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/incident-intelligence-destination-examples.mdx
Labels: content, internal

#2517 DOC-6939 - New dummy doc technique
  src/content/docs/style-guide/processes-procedures/include-a-doc-in-multiple-menus.mdx
Labels: content, internal

#2427 Some FSO and TDP nav work
  src/content/docs/apis/intro-apis/introduction-new-relic-apis.mdx
  src/content/docs/full-stack-observability/instrument-everything/develop-own-integrations/flex-integration-dummy.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/flex-integration-tool-build-your-own-integration.mdx
  src/nav/full-stack-observability.yml
  src/nav/telemetry-data-platform.yml
Labels: content

#2533 DOC-6915 - Updated example JSON
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, internal

#2529 DOC-6893 Review Insights deprecation
  src/content/docs/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/agents/go-agent/features/create-custom-events-go.mdx
  src/content/docs/agents/go-agent/get-started/apm-agent-security-go.mdx
  src/content/docs/agents/java-agent/api-guides/guide-using-java-agent-api.mdx
  src/content/docs/agents/java-agent/features/real-time-profiling-java-using-jfr-metrics.mdx
  src/content/docs/agents/java-agent/getting-started/apm-agent-security-java.mdx
  src/content/docs/agents/manage-apm-agents/agent-data/agent-attributes.mdx
  src/content/docs/agents/manage-apm-agents/agent-data/collect-custom-metrics.mdx
  src/content/docs/agents/manage-apm-agents/agent-data/real-time-streaming.mdx
  src/content/docs/agents/manage-apm-agents/app-naming/use-multiple-names-app.mdx
  src/content/docs/agents/nodejs-agent/index.mdx
  src/content/docs/agents/php-agent/attributes/enable-or-disable-attributes.mdx
  src/content/docs/agents/php-agent/getting-started/apm-agent-security-php.mdx
  src/content/docs/agents/php-agent/php-agent-api/newreliccustommetric-php-agent-api.mdx
  src/content/docs/agents/python-agent/api-guides/guide-using-python-agent-api.mdx
  src/content/docs/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/agents/python-agent/getting-started/apm-agent-security-python.mdx
  src/content/docs/agents/ruby-agent/attributes/ruby-agent-attributes.mdx
  src/content/docs/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/agents/ruby-agent/index.mdx
  src/content/docs/apis/intro-apis/introduction-new-relic-apis.mdx
  src/content/docs/distributed-tracing/ui-data/span-attributes.mdx
  src/content/docs/integrations/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/content/docs/integrations/kubernetes-integration/kubernetes-events/install-kubernetes-events-integration.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/api-guides/android-sdk-api-guide.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/api-guides/ios-agent-configuration-feature-flags.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/api-guides/ios-sdk-api-guide.mdx
  src/content/docs/new-relic-one/use-new-relic-one/ui-data/new-relic-feature-end-life-announcements-july-2020.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/measure-devops-success/establish-objectives-baselines-define-team-slos.mdx
  src/content/docs/query-your-data/explore-query-data/browse-data/images/browse_data_explorer.png
  src/content/docs/query-your-data/explore-query-data/browse-data/images/data_explorer_new.png
  src/content/docs/query-your-data/explore-query-data/browse-data/images/data_explorer_updated.png
  src/content/docs/query-your-data/explore-query-data/browse-data/images/dataexplorer02.png
  src/content/docs/query-your-data/explore-query-data/browse-data/images/explore-data-icon.png
  src/content/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/query-builder-basic-mode.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/use-advanced-promql-style-mode-query-data.mdx
  src/content/docs/style-guide/quick-reference/ui-paths.mdx
  src/content/docs/telemetry-data-platform/understand-data/metric-data/query-apm-metric-timeslice-data-nrql.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/glossary.mdx
  src/nav/new-relic-in-practice.yml
Labels: content, internal

#2532 Incorrect tip
  src/content/docs/integrations/host-integrations/host-integrations-list/microsoft-sql-server-monitoring-integration.mdx
Labels: content, internal

#2448 DOC-6891: EOL Synthetics Label API
  src/content/docs/apis/nerdgraph/examples/nerdgraph-tagging-api-tutorial.mdx
  src/content/docs/apis/synthetics-rest-api/label-examples/use-synthetics-label-apis.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, internal

#2525 Fix translation workflow
  scripts/actions/deserialize-html.js
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/i18n/content/jp/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/i18n/content/jp/docs/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/i18n/content/jp/docs/agents/java-agent/installation/include-java-agent-jvm-argument.mdx
  src/i18n/content/jp/docs/agents/java-agent/installation/install-java-agent.mdx
  src/i18n/content/jp/docs/agents/manage-apm-agents/app-naming/use-multiple-names-app.mdx
  src/i18n/content/jp/docs/agents/net-agent/getting-started/introduction-new-relic-net.mdx
  src/i18n/content/jp/docs/agents/net-agent/installation/install-net-agent-windows.mdx
  src/i18n/content/jp/docs/agents/net-agent/installation/introduction-net-agent-install.mdx
  src/i18n/content/jp/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
  src/i18n/content/jp/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/i18n/content/jp/docs/using-new-relic/cross-product-functions/install-configure/install-new-relic.mdx
  src/i18n/content/jp/docs/using-new-relic/welcome-new-relic/get-started/introduction-new-relic.mdx
Labels: eng, internal

#2547 Small nav file fix
  src/nav/telemetry-data-platform.yml
Labels: content

#2548 Improvement to 'Insights' glossary entry
  src/content/docs/using-new-relic/welcome-new-relic/get-started/glossary.mdx
Labels: content

#2550 Improvement to SAML/SCIM requirements
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content

#2545 Adds release notes for Node.js agent v7.5.0.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-7-5-0.mdx
Labels: FSO, content, internal

#2541 nri-oracle: document usage of `tablespaces` argument
  src/content/docs/integrations/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
Labels: FSO, content, internal

#2549 Delete "archive Locate exact metric names"
  src/content/docs/archive-locate-exact-metric-names.mdx
Labels: content, internal

#2554 Small formatting and readability fix
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Labels: content

#2551 Add order of precedence callout to ruby config
  src/content/docs/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Labels: FSO, content, internal

#2513 feat: updates to release notes workflow
  .github/workflows/release.yml
  scripts/actions/release-notes.py
Labels: deven services, eng, internal

#2556 Some user mgmt liaison fixes to 'migrate users' doc
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content

#2572 Fix sort order for Browser AMP doc
  src/nav/full-stack-observability.yml
Labels: content, internal

#2578 chore: now compares last release to latest develop
  .github/workflows/release.yml
  scripts/actions/release-notes.py
Labels: eng, internal

#2557 Fixes & updates to translation workflow
  scripts/actions/check-job-progress.js
  scripts/actions/utils/vendor-request.js
Labels: eng, internal

#2473 DOC 6909 - Ability to query APM tags
  src/content/docs/apis/nerdgraph/examples/nerdgraph-tagging-api-tutorial.mdx
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/apm-best-practices-guide.mdx
Labels: content, internal

#2520 Updates for upcoming ruby agent release 7.1.0
  src/content/docs/agents/ruby-agent/features/new-relic-browser-ruby-agent.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-710.mdx
Labels: content, internal

#2544 fix: bump theme to version that handles blocked cookies
  package.json
  yarn.lock
Labels: eng

#2481 Edits to NRQL reference page for DOC-6863
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
  src/content/docs/telemetry-data-platform/understand-data/metric-data/query-metric-data-type.mdx
Labels: Jira'd, content, internal

#2585 Query format fix
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
Labels: content

#2587 Some small edits to 'Query tags' section
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
Labels: content

#2568 Improve SAML and SCIM docs - DOC-6834
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-managing-users.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-saml-scim.mdx
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/roles-permissions-automated-user-management.mdx
  src/content/docs/accounts/accounts/saml-single-sign/add-users-saml-accounts.mdx
  src/content/docs/accounts/accounts/saml-single-sign/saml-service-providers.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/nav/accounts.yml
  src/nav/alerts-and-applied-intelligence.yml
Labels: content

#2583 Doc 6895 php zts
  src/content/docs/agents/php-agent/advanced-installation/php-agent-installation-non-standard-php-advanced.mdx
  src/content/docs/agents/php-agent/advanced-installation/use-newrelic-install-script-php.mdx
  src/content/docs/agents/php-agent/troubleshooting/php-installation-fails-os-x-1011-el-capitan.mdx
Labels: Jira'd, content, internal

#2560 DOC-6871 - Nested queries limitation
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, internal

#2595 Typo fixes
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-saml-scim.mdx
Labels: content

#2586 Assorted changes related to account structure
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/general-account-settings/introduction-account-settings.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-users/new-relic-account-structure.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/Master-Sub_Hierarchy.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/mastersub-account-structure.mdx
  src/nav/accounts.yml
Labels: content

#2582 Update dotnet agent installation instructions for Linux based Azure Web Apps
  src/content/docs/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
Labels: FSO, content, internal

#2414 Update set-proactive-alerts-align-teams-tools-processes-incident-resp…
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-solutions/optimize-your-cloud-native-environment/set-proactive-alerts-align-teams-tools-processes-incident-response.mdx
Labels: content, external

#2590 Dm UI fix retention info
  src/content/docs/telemetry-data-platform/manage-data/manage-data-retention.mdx
Labels: content, internal

#2606 Add entity synthesis section and restricted attributes
  src/content/docs/distributed-tracing/trace-api/trace-api-general-requirements-limits.mdx
  src/content/docs/logs/log-management/log-api/introduction-log-api.mdx
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/what-entity-new-relic.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/introduction-event-api.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/metric-api-limits-restricted-attributes.mdx
Labels: content, from_internal

#2601 Add Python Agent release notes v6.4.1.158 
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-60401158.mdx
Labels: content, from_internal

#2591 Added additional command to step 2
  src/content/docs/integrations/host-integrations/host-integrations-list/monitor-services-running-amazon-ecs.mdx
Labels: content, from_internal

#2353 add new agent config
  gatsby-config.js
  src/content/docs/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#2523 part of EOL effort - Mobile TLS
  src/content/docs/using-new-relic/cross-product-functions/install-configure/networks.mdx
Labels: content, from_internal

#2610 fix: destination path reference for K8s CPM custom modules
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-configuration.mdx
Labels: content, from_internal

#2607 Update java-agent-configuration-config-file.mdx
  src/content/docs/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#2608 Follow-up to hero issue 2461 ECS
  src/content/docs/integrations/host-integrations/host-integrations-list/monitor-services-running-amazon-ecs.mdx
Labels: content, from_internal

#2515 DOC-6727 Entity relationships description
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/what-entity-new-relic.mdx
Labels: content, from_internal

#2593 DOC-6983 GH workflow docs
  src/content/docs/style-guide/writer-workflow/github-intro.mdx
  src/content/docs/style-guide/writer-workflow/github-troubleshooting.mdx
  src/content/docs/style-guide/writer-workflow/peer-editor-workflow.mdx
  src/content/docs/style-guide/writer-workflow/tech-writer-workflow.mdx
  src/nav/style-guide.yml
Labels: content, from_internal

#2609 Add ErrorGroupsPerDay to NrIntegrationError docs
  src/content/docs/telemetry-data-platform/ingest-apis/troubleshoot-nrintegrationerror-events.mdx
Labels: content, from_internal

#2588 Add http request headers capture feature
  src/content/docs/agents/net-agent/attributes/net-agent-attributes.mdx
  src/content/docs/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-84000.mdx
Labels: content, from_internal, pg_FSO

#2624 Update "View your OpenTelemetry data in New Relic" page
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/explorer_filter_1.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/explorer_filter_2.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/explorer_otel_services.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/view-your-opentelemetry-data-new-relic.mdx
Labels: content, from_internal, pg_FSO

#2625 Fix image name to resolve broken link
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/native_otlp_with_collector.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-quick-start.mdx
Labels: content, from_internal, pg_FSO

#2628 Fixed link for Kafka config options
  src/content/docs/integrations/kubernetes-integration/link-apps-services/monitor-services-running-kubernetes.mdx
Labels: content, from_internal

#2621 Assorted edits to 'Overview of pricing and user model' doc, per liaisonship
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
Labels: content, from_tw, pg_CAP

#2622 Fixing that Get started link in the left nav (hero request)
  src/nav/full-stack-observability.yml
Labels: from_internal, pg_FSO

#2637 Small edits to pricing doc
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
Labels: content, from_tw, pg_CAP

#2633 Some SCIM and SAML fixes
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/scim-support-automated-user-management.mdx
Labels: content, from_tw, pg_CAP

#2639 Update requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_tw, pg_FSO

#2616 Update from private docs site: Changes to What's new template tips
  src/content/docs/style-guide/article-templates/images/pixie-whats-new-example.png
  src/content/docs/style-guide/article-templates/whats-new-style-guidelines.mdx
Labels: content, from_internal

#2617 Changed image title from filename to meaningful title.
  src/content/docs/distributed-tracing/concepts/introduction-distributed-tracing.mdx
Labels: content, from_internal

#2574 Update java-agent-configuration-config-file.mdx
  src/content/docs/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#2626 Refactor Realtime Profiling doc
  src/content/docs/agents/java-agent/features/real-time-profiling-java-using-jfr-metrics.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-700.mdx
Labels: content, from_internal, pg_FSO

#2644 New K8s supported versions (1.20-1.21)
  src/content/docs/integrations/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal, pg_FSO

#2645 AWS metric streams: New EU endpoint and clarification on output format
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-metric-stream.mdx
Labels: content, from_internal, pg_FSO

#2630 Add "creator" to the list of people in a PR/issue
  src/content/docs/style-guide/writer-workflow/github-intro.mdx
  src/content/docs/style-guide/writer-workflow/peer-editor-workflow.mdx
  src/content/docs/style-guide/writer-workflow/tech-writer-workflow.mdx
Labels: content, from_tw

#2651 Fixes some broken links
  src/content/docs/telemetry-data-platform/custom-data/custom-events/apm-report-custom-events-attributes.mdx
Labels: content, from_internal, pg_FSO

#2650 Added text for .NET Core on Linux support that has been released as a…
  src/content/docs/agents/net-agent/installation/introduction-net-agent-install.mdx
Labels: content, from_internal, pg_FSO

#2652 Update install-browser-monitoring-agent.mdx
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
Labels: content, from_tw, pg_FSO

#2654 This behavior also shows up in SPA data
  src/content/docs/browser/new-relic-browser/troubleshooting/not-seeing-specific-page-or-endpoint-names-browser-data.mdx
Labels: content, from_internal, pg_FSO

#2656 Updated doc to add response code -3
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/synthetic-monitoring-response-codes.mdx
Labels: content, from_internal, pg_FSO

#2658 Removed Insights reference
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
Labels: content, from_tw

#2660 fix(mssql): outdated metrics description
  src/content/docs/infrastructure/manage-your-data/data-instrumentation/host-integrations-metrics.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/microsoft-sql-server-monitoring-integration.mdx
Labels: content, from_internal

#2662 infra-agent: new memory metrics for linux hosts
  src/data-dictionary/events/SystemSample/memoryCachedBytes.md
  src/data-dictionary/events/SystemSample/memorySharedBytes.md
  src/data-dictionary/events/SystemSample/memorySlabBytes.md
Labels: content, from_internal, pg_FSO

#2666 Ottey hero fixes
  src/content/docs/integrations/infrastructure-integrations/cloud-integrations/configure-polling-frequency-data-collection-cloud-integrations.mdx
  src/content/docs/style-guide/writing-guidelines/five-questions-help-write-docs.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/synthetic-monitoring-response-codes.mdx
Labels: content, from_tw

#2669 Updated PageAction limit to 120
  src/content/docs/browser/new-relic-browser/browser-agent-spa-api/add-page-action.mdx
  src/content/docs/telemetry-data-platform/custom-data/custom-events/report-browser-monitoring-custom-events-attributes.mdx
Labels: content, from_tw, pg_FSO

#2670 Add broken links and certificate monitors to table
  src/content/docs/synthetics/synthetic-monitoring/getting-started/types-synthetic-monitors.mdx
Labels: content, from_tw, pg_FSO

#2673 Fixed link to fedramp settings for Infrastructure (under Log API)
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_internal, pg_TDP

#2646 REST API (v2) adds apps with limited instrumentation
  src/content/docs/apis/rest-api-v2/browser-examples-v2/add-or-list-browser-apps-api-v2.mdx
Labels: content, from_tw, pg_TDP

#2676 Removed Insights from left panel
  src/nav/new-relic-in-practice.yml
Labels: content, from_tw

#2680 Re-publish the EKS Fargate beta docs
  src/content/docs/integrations/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/integrations/kubernetes-integration/installation/install-fargate-integration.mdx
  src/content/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/nav/integrations.yml
Labels: content, from_internal

#2643 Inserted more meaningful OpenTelemetry image title as a test of the private repo.
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-architecture-recipes.mdx
Labels: content, from_tw

#2642 Corrected image title as a test of the private repo.
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/introduction-opentelemetry-new-relic.mdx
Labels: content, from_tw

#2681 Additions to auth domain doc
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content

#2573 Remove Drupal migration dummy doc redirection file
  src/content/docs/integrations/intro-integrations/get-started/introduction-new-relic-integrations-0.mdx
  src/nav/integrations.yml
Labels: content, from_internal

#2684 Morning merge to main 6/14/2021
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/apis/rest-api-v2/browser-examples-v2/add-or-list-browser-apps-api-v2.mdx
  src/content/docs/integrations/intro-integrations/get-started/introduction-new-relic-integrations-0.mdx
  src/content/docs/integrations/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/integrations/kubernetes-integration/installation/install-fargate-integration.mdx
  src/content/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/introduction-opentelemetry-new-relic.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-architecture-recipes.mdx
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
  src/nav/integrations.yml
  src/nav/new-relic-in-practice.yml
Labels: content, from_internal

#2671 Made fixes for broken links found by the Fargate team.
  src/content/docs/integrations/infrastructure-integrations/get-started/introduction-infrastructure-integrations.mdx
  src/nav/full-stack-observability.yml
Labels: content, from_internal, pg_FSO

#2679 chore: add infinite lineWidth to yaml deserializer
  scripts/actions/deserialize-html.js
Labels: deven services, eng

#2686 Morning merge to main #2 6/14/2021
  scripts/actions/deserialize-html.js
  src/content/docs/integrations/infrastructure-integrations/get-started/introduction-infrastructure-integrations.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3750.mdx
  src/nav/full-stack-observability.yml
Labels: content, from_internal

#2688 DOC-6943 Update DT Diagrams
  src/content/docs/distributed-tracing/concepts/images/intro-span.svg
  src/content/docs/distributed-tracing/concepts/images/span-diagram.png
  src/content/docs/distributed-tracing/concepts/introduction-distributed-tracing.mdx
  src/content/docs/distributed-tracing/images/distributed-architecture-2.png
  src/content/docs/distributed-tracing/images/index-intro.svg
  src/content/docs/distributed-tracing/index.mdx
Labels: content, from_tw

#2691 Some slight changes around REST API admin
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/content/docs/apis/rest-api-v2/api-explorer-v2/introduction-new-relics-rest-api-explorer.mdx
  src/content/docs/apis/rest-api-v2/api-explorer-v2/use-api-explorer.mdx
Labels: content, from_tw, pg_GPE

#2701 Evening merge to main 6/14/2021
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/content/docs/apis/rest-api-v2/api-explorer-v2/introduction-new-relics-rest-api-explorer.mdx
  src/content/docs/apis/rest-api-v2/api-explorer-v2/use-api-explorer.mdx
  src/content/docs/distributed-tracing/concepts/images/intro-span.svg
  src/content/docs/distributed-tracing/concepts/images/span-diagram.png
  src/content/docs/distributed-tracing/concepts/introduction-distributed-tracing.mdx
  src/content/docs/distributed-tracing/images/distributed-architecture-2.png
  src/content/docs/distributed-tracing/images/index-intro.svg
  src/content/docs/distributed-tracing/index.mdx
Labels: content, from_internal

#2702 Explanation for editing Azure credentials
  src/content/docs/integrations/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
Labels: content, from_internal

#2703 Added table with chart errors
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
Labels: content, from_tw

#2704 Update oracle-database-monitoring-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
Labels: content, from_internal

#2677 DOC6861 - Updated links
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-appsync-monitoring-integration.mdx
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-cloudtrail-monitoring-integration.mdx
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-iot-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-app-engine-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-bigquery-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-load-balancing-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-pubsub-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-spanner-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-sql-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-storage-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-compute-engine-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-kubernetes-engine-monitoring-integration.mdx
  src/content/docs/integrations/infrastructure-integrations/get-started/introduction-infrastructure-integrations.mdx
  src/content/docs/integrations/infrastructure-integrations/get-started/use-integration-data-new-relic-dashboards.mdx
Labels: content, from_tw, pg_TDP

#2687 Small clarification to v1 basic user upgrade request section
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/login-multiple-accounts-found.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
Labels: content, from_tw

#2705 Adding link to doc
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
Labels: content, from_internal

#2706 Line 731 404 error
  src/content/docs/telemetry-data-platform/understand-data/new-relic-data-types.mdx
Labels: content, from_internal

#2697 Add caution about removing users from the Heroku add-on
  src/content/docs/accounts/install-new-relic/partner-based-installation/heroku-install-new-relic-add.mdx
Labels: content, from_internal, pg_FSO

#2707 Line 2362 "set verbose to 2 ito use the smart verbose mode logging."
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#2698 Add sentence case policy for diagrams
  src/content/docs/style-guide/quick-reference/capitalization.mdx
  src/content/docs/style-guide/writing-guidelines/screenshots-images.mdx
Labels: content, from_tw

#2685 Added labels section to style guide
  src/content/docs/style-guide/writer-workflow/github-intro.mdx
Labels: content, from_tw

#2708 release note for version 3.11.0
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-400.mdx
Labels: content, from_internal

#2712 Mid-afternoon merge to main 6/15/2021
  src/content/docs/accounts/install-new-relic/partner-based-installation/heroku-install-new-relic-add.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/login-multiple-accounts-found.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-appsync-monitoring-integration.mdx
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-cloudtrail-monitoring-integration.mdx
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-iot-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-app-engine-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-bigquery-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-load-balancing-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-pubsub-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-spanner-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-sql-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-storage-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-compute-engine-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-kubernetes-engine-monitoring-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
  src/content/docs/integrations/infrastructure-integrations/get-started/introduction-infrastructure-integrations.mdx
  src/content/docs/integrations/infrastructure-integrations/get-started/use-integration-data-new-relic-dashboards.mdx
  src/content/docs/integrations/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-400.mdx
  src/content/docs/style-guide/quick-reference/capitalization.mdx
  src/content/docs/style-guide/writer-workflow/github-intro.mdx
  src/content/docs/style-guide/writing-guidelines/screenshots-images.mdx
  src/content/docs/telemetry-data-platform/understand-data/new-relic-data-types.mdx
Labels: content, from_internal

#2693 Manual add-in of @rbayersdorfer-newrelic's edits
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: Jira'd, content, from_internal

#2718 CPM Release Notes for Version 3.0.47
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3047.mdx
Labels: content, from_internal

#2716 Java agent Release 7.0.1
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-700.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-701.mdx
Labels: content, from_internal

#2719 Evening merge to main 6/15/2021
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-700.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-701.mdx
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3047.mdx
Labels: content, from_internal

#2678 Fix release notes for Infrastructure Agent versions 1.13.2, 1.16.0, 1.16.1, 1.16.2, 1.16.3
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1132.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1160.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1161.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1162.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1163.mdx
Labels: content, from_internal, pg_FSO

#2721 Added contact support line.
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
Labels: content, from_tw, pg_GPE

#2709 Adding v2 user impact to user model overview doc
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/content/docs/fedramp-endpoint-logs-metrics.mdx
Labels: content, from_tw, pg_GPE

#2695 Trying to fix 404 from link on integrations auto-generated page.
  src/nav/integrations.yml
Labels: content, eng, from_internal

#2724 Updating postgresql-monitoring-integration
  src/content/docs/integrations/host-integrations/host-integrations-list/postgresql-monitoring-integration.mdx
Labels: content, from_internal

#2730 Update aws-elasticsearch-monitoring-integration.mdx
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-elasticsearch-monitoring-integration.mdx
Labels: content, from_external, pg_TDP

#2720 Update fedramp browser copy/paste instructions
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_external

#2728 Removed "beta" from heading in EKS Fargate doc
  src/content/docs/integrations/kubernetes-integration/installation/install-fargate-integration.mdx
Labels: content, from_internal

#2739 CHORE: Update introduction-log-api.mdx
  src/content/docs/logs/log-management/log-api/introduction-log-api.mdx
Labels: content, from_internal

#2733 SCIM and SAML updates
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
Labels: content, from_tw, pg_GPE

#2740 Mid-day merge to main 6/17/2021
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
  src/content/docs/logs/log-management/log-api/introduction-log-api.mdx
Labels: content, from_internal

#2745 Release note for Android mobile app
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-3111.mdx
Labels: content, from_internal, pg_FSO

#2744 Create xcframework-agent-732.mdx
  src/content/docs/release-notes/mobile-release-notes/xcframework-release-notes/xcframework-agent-732.mdx
Labels: content, from_internal, pg_FSO

#2734 Sending logs from OpenTelemetry
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-logs.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/view-your-opentelemetry-data-new-relic.mdx
  src/content/docs/logs/log-management/get-started/get-started-log-management.mdx
  src/nav/integrations.yml
Labels: content, from_internal, pg_TDP

#2717 Added changes from docs channel request about Errors inbox.
  src/content/docs/apm/apm-ui-pages/errors-inbox/errors-inbox.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/our-eu-us-region-data-centers.mdx
Labels: content, from_tw

#2694 Update ruby agent configuration
  src/content/docs/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Labels: content, from_internal

#2750 Evening merge to main 6/17/2021
  src/content/docs/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/apm-ui-pages/errors-inbox/errors-inbox.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-endpoints.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-logs.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/view-your-opentelemetry-data-new-relic.mdx
  src/content/docs/logs/log-management/get-started/get-started-log-management.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-3111.mdx
  src/content/docs/release-notes/mobile-release-notes/xcframework-release-notes/xcframework-agent-732.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/our-eu-us-region-data-centers.mdx
  src/nav/integrations.yml
Labels: content, from_tw

#2741 Some more SAML, SCIM, and billing updates
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
Labels: content, from_tw, pg_GPE

#2759 Infrastructure agent 1.18.2 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1182.mdx
Labels: content, from_internal, pg_FSO

#2761 Fixed link to NR Platform
  src/content/docs/new-relic-solutions/new-relic-solutions/optimize-your-cloud-native-environment/adopt-cloud-services.mdx
Labels: content, from_tw

#2736 Tip about Windows Service recovery settings
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/install-infrastructure-monitoring-agent-windows.mdx
Labels: content, from_internal, pg_FSO

#2754 AWSHealth now publishes NR1 events
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-health-monitoring-integration.mdx
Labels: content, from_internal

#2762 Doc 6989 oma alerts
  src/content/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/alert-quality-management-tutorial.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/images/aqm-tutorial-webhook.png
  src/nav/new-relic-solutions.yml
Labels: content, from_tw, pg_GPE

#2748 Added new section on ingest faceting.
  src/content/docs/telemetry-data-platform/manage-data/images/data-facet.png
  src/content/docs/telemetry-data-platform/manage-data/manage-data-coming-new-relic.mdx
  src/content/docs/telemetry-data-platform/manage-data/manage-your-data.mdx
Labels: content, from_tw

#2726 Create check for out of date translated files
  .github/workflows/fetch-swiftype-content.yml
  .github/workflows/update-whats-new-ids.yml
  .github/workflows/validate-pr.yml
  package.json
  scripts/actions/__tests__/check-for-outdated-translations.test.js
  scripts/actions/add-files-to-translation-queue.js
  scripts/actions/check-for-outdated-translations.js
  scripts/utils/constants.js
  yarn.lock
Labels: localization

#2780 Typo in applications
  src/content/docs/apm/apm-ui-pages/errors-inbox/errors-inbox.mdx
Labels: content, from_external

#2781 DOC-6984 DT header attributes
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
Labels: content, from_tw, pg_FSO

#2784 Update real-time-profiling-java-using-jfr-metrics.mdx
  src/content/docs/agents/java-agent/features/real-time-profiling-java-using-jfr-metrics.mdx
Labels: content, from_internal, pg_FSO

#2782 New K8s release
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-2-5-0.mdx
Labels: content, from_internal, pg_FSO

#2783 Create kubernetes-integration-2-6-0.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-2-6-0.mdx
Labels: content, from_internal, pg_FSO

#2787 Update new-relic-solutions.yml
  src/nav/new-relic-solutions.yml
Labels: content, from_tw, pg_CAP

#2797 Update redis-monitoring-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/redis-monitoring-integration.mdx
Labels: content, from_internal

#2798 Update install-net-agent-azure-web-apps.mdx
  src/content/docs/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
Labels: content, from_internal

#2711 Whats-New-6-22-Errors-Inbox
  src/content/whats-new/2021/04/Error Tracking Screenshot.png
  src/content/whats-new/2021/04/What's New - Errors Inbox
Labels: content, from_internal

#2800 Added Slack Integration section and made other minor updates
  src/content/docs/apm/apm-ui-pages/errors-inbox/errors-inbox.mdx
Labels: content, from_internal

#2808 Fix errors what's new post
  src/content/whats-new/2021/06/errors-inbox.md
  src/content/whats-new/2021/06/images/error.png
Labels: content, from_tw

#2809 Add python agent release notes for v6.04.03.160.
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-60403160.mdx
Labels: content, from_internal, pg_FSO

#2810 update install steps to include required pieces
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-legacy.mdx
Labels: content, from_internal, pg_FSO

#2812 Remove references to Insights in Mobile HTTP errors
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/http-errors-network-failure-analysis.mdx
Labels: content, from_internal, pg_FSO

#2737 DOC6516 - Added Metric API link to Prometheus doc
  src/content/docs/integrations/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
Labels: content, from_tw

#2521 EOL health maps
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/new-relic-explorer-view-performance-across-apps-services-hosts.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/monitor-apps-hosts-health-maps.mdx
Labels: content, from_internal

#2820 Errors inbox image fix
  src/content/whats-new/2021/06/errors-inbox.md
Labels: content, from_tw

#2813 New attribute to address issue
  src/data-dictionary/events/PageViewTiming/cumulativeLayoutShift.md
Labels: content, from_tw, pg_TDP

#2821 Fix embeded video
  src/content/whats-new/2021/06/errors-inbox.md
Labels: content, from_tw

#2692 Update incident intelligence destination examples
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/incident-intelligence-destination-examples.mdx
Labels: content, from_tw
