Repository newrelic/docs-website, pull requests merged in 2021-07, with the labels that each got.

#2883 #2879 Fixed broken link
  src/content/docs/integrations/kubernetes-integration/kubernetes-events/install-kubernetes-events-integration.mdx
Labels: content, from_tw, pg_FSO

#2903 Update jmx-monitoring-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/jmx-monitoring-integration.mdx
Labels: content, from_internal

#2902 Create monitoring-amazon-eks-on-aws-fargate
  src/content/whats-new/2021/06/monitoring-amazon-eks-on-aws-fargate.md
Labels: content, from_internal

#2904 Fix typos in query
  src/content/docs/apis/nerdgraph/examples/nerdgraph-data-partition-rules-tutorial.mdx
Labels: content, from_internal

#2906 Emphasis Log patterns note regarding EU region
  src/content/docs/logs/log-management/ui-data/find-unusual-logs-log-patterns.mdx
Labels: content, from_internal

#2908 Fixed a couple of page heading links
  src/content/docs/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_external, pg_FSO

#2909 Fix malformed links
  src/content/docs/security/security-privacy/data-privacy/data-privacy-new-relic.mdx
Labels: content, from_tw, pg_other

#2911 chore: update gatsby to 3.8
  package.json
  yarn.lock
Labels: docs-liaison, eng, sp:2

#2919 Update monitoring-amazon-eks-on-aws-fargate.md
  src/content/whats-new/2021/06/images/fargate_eks.gif
  src/content/whats-new/2021/06/monitoring-amazon-eks-on-aws-fargate.md
Labels: content, from_internal

#2910 Docs in conflict with community on Insights depreciation
  src/content/docs/apis/insights-apis/insights-dashboard-api.mdx
Labels: content, from_internal, pg_GPE

#2916 Update users-roles-original-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
Labels: content, from_internal, pg_AI

#2917 Whats-New-6-30-Ingest-Drill-Down
  src/content/whats-new/2021/06/data-ingest-drill-down.md
  src/content/whats-new/2021/06/images/ingest_drill_down_1_of_2.png
  src/content/whats-new/2021/06/images/ingest_drill_down_2_of_2.png
Labels: content, from_internal

#2925 Adding or changing limit to limit max
  src/content/docs/telemetry-data-platform/manage-data/query-limits.mdx
Labels: content, from_internal

#2923 Tiny fix for DOC-6136
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/mobile-monitoring-best-practices-guide.mdx
Labels: content, from_tw, pg_other

#2795 [DOC-6980] revised Channels-in-NerdGraph docs
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alerts-nerdgraph/nerdgraph-api-notification-channels.mdx
Labels: content, from_internal, pg_AI

#2907 #2758 Added link to Infra status API
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent.mdx
Labels: content, from_tw, pg_FSO

#2882 [DOC-7053] Transaction sub-types.
  src/content/docs/apm/transactions/intro-transactions/transactions-new-relic-apm.mdx
Labels: content, from_tw, pg_FSO

#2755 DOC-6980 Alerts notification channel NerdGraph tutorial
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alerts-nerdgraph/nerdgraph-api-alerts-policies.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alerts-nerdgraph/nerdgraph-api-notification-channels.mdx
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_tw, pg_AI

#2941 Moved some info into a callout to make it more visible in Amazon VPC monitoring integration
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-vpc-monitoring-integration.mdx
Labels: content, from_tw

#2939 Fixed broken link
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/what-entity-new-relic.mdx
Labels: content, from_tw

#2849 [DOC-6974] Dashboards and charts import/export
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/images/20210628_chart_menu.png
  src/content/docs/query-your-data/explore-query-data/dashboards/images/20210628_dashboard_menu.png
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/nav/new-relic-in-practice.yml
Labels: content, from_tw, pg_GPE

#2944 Removing unsupported Ubuntu in manual instructions
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
Labels: content, from_internal

#2942 Fixed broken image in NRQL syntax, clauses, and functions
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#2922 Edit of 'Maps in context' doc - DOC-7013
  src/content/docs/new-relic-one/use-new-relic-one/ui-data/maps-in-context.mdx
Labels: content, from_tw, pg_GPE

#2930 Update java-agent-configuration-config-file.mdx
  src/content/docs/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#2948 Fix for DOC-6415
  src/content/docs/style-guide/writing-guidelines/voice-strategies-docs-sound-new-relic.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/our-eu-us-region-data-centers.mdx
Labels: content, from_tw

#2946 Fix some busted links from DOC-6322
  src/content/docs/browser/new-relic-browser/guides/guide-using-browser-spa-apis.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/glossary.mdx
  src/data-dictionary/events/BrowserInteraction/BrowserInteraction.event-definition.md
Labels: content, from_tw, pg_FSO

#2938 Remove handful of old permissions callouts for DOC-6138
  src/content/docs/agents/manage-apm-agents/configuration/server-side-agent-configuration.mdx
  src/content/docs/agents/manage-apm-agents/configuration/view-config-values-your-app.mdx
  src/content/docs/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/mobile-apps/new-relic-mobile-apps/authentication-alerts/alerting-new-relic-mobile-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-proguard-or-dexguard-android-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/upgrade-new-relic-mobiles-android-sdk.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/legacy/install-android-apps-android-22-support.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/tvos/tvos-installation-configuration.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/tvos/upgrading-new-relic-mobiles-tvos-sdk.mdx
  src/content/docs/using-new-relic/user-interface-functions/share-your-data/ticketing-integrations.mdx
Labels: content, from_tw

#2937 Remove old links to dead storefront pricing pages
  src/content/docs/accounts/accounts/saml-single-sign/set-sso.mdx
  src/content/docs/accounts/original-accounts-billing/product-based-pricing/overview-data-retention-components.mdx
  src/content/docs/accounts/original-accounts-billing/product-based-pricing/trial-lite-accounts-deprecated.mdx
  src/content/docs/accounts/original-accounts-billing/product-pricing/product-based-pricing.mdx
  src/content/docs/agents/go-agent/index.mdx
  src/content/docs/agents/nodejs-agent/index.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/cloud-adoption/modern-cloud-services.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/measure-devops-success/guide-measuring-devops-success.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/measure-devops-success/incident-learning-retrospectives.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/optimize-your-cloud-native-environment/manage-your-containerized-environment.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/plan-your-cloud-adoption/guide-planning-your-cloud-adoption-strategy.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/plan-your-cloud-adoption/identify-application-dependencies-inventory.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/plan-your-cloud-adoption/identify-issues-roadblocks.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/plan-your-cloud-adoption/optimize-customer-experience.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/plan-your-cloud-adoption/optimize-your-cloud-spend.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/plan-your-cloud-adoption/perform-migration-acceptance-testing.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/plan-your-cloud-adoption/refactor-your-applications.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/plan-your-cloud-adoption/validate-cloud-improvements.mdx
Labels: content, from_tw

#2952 fix: MINION_VSE_PASSPHRASE
  src/content/docs/synthetics/synthetic-monitoring/private-locations/verified-script-execution-private-locations.mdx
Labels: content, from_internal

#2956 release note for hotfix 3.12.1
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-3121.mdx
Labels: content, from_internal

#2961 Fixed broken link
  src/content/docs/integrations/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
Labels: content, from_tw

#2964 Added v7 upgrade guide
  src/content/docs/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
Labels: content, from_internal

#2962 Reviewing orphan docs
  src/content/docs/adduserattribute-python-agent-api.mdx
  src/content/docs/agents/c-sdk/instrumentation/instrument-errors-c-sdk.mdx
  src/content/docs/agents/c-sdk/instrumentation/instrument-transactions-c-sdk.mdx
  src/content/docs/agents/net-agent/other-installation/net-agent-install-resources.mdx
  src/content/docs/azure-cosmos-db-document-db-monitoring-integration-deprecated.mdx
  src/content/docs/correlate-load-balancer-application-metrics-workloads.mdx
  src/content/docs/images/New-Relic-account-usage-Insights.png
  src/content/docs/images/workloads_load-balancers.png
  src/content/docs/insights-usage-ui-page.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/images/WindowsServicesOHI.png
  src/content/docs/integrations/host-integrations/host-integrations-list/images/nr1-ohi-windows-services-metric.png
  src/content/docs/integrations/host-integrations/host-integrations-list/windows-services-integration.mdx
  src/content/docs/new-relic-titanium.mdx
  src/content/docs/recommended-alerts-aws-services.mdx
  src/content/docs/upgrade-beta-rootless-agent-ga.mdx
  src/nav/full-stack-observability.yml
  src/nav/integrations.yml
Labels: content, from_tw, pg_XD

#2965 Updating to 370 integrations
  src/components/RootNavigation.js
  src/pages/index.js
Labels: content, from_tw, pg_XD

#2966 Moved content about BETA doc into a callout for visibility
  src/content/docs/browser/new-relic-browser/installation/monitor-amp-pages-new-relic-browser.mdx
Labels: content, from_tw

#2968 Merge to main
  src/components/RootNavigation.js
  src/content/docs/adduserattribute-python-agent-api.mdx
  src/content/docs/agents/c-sdk/instrumentation/instrument-errors-c-sdk.mdx
  src/content/docs/agents/c-sdk/instrumentation/instrument-transactions-c-sdk.mdx
  src/content/docs/agents/net-agent/other-installation/net-agent-install-resources.mdx
  src/content/docs/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
  src/content/docs/azure-cosmos-db-document-db-monitoring-integration-deprecated.mdx
  src/content/docs/browser/new-relic-browser/installation/monitor-amp-pages-new-relic-browser.mdx
  src/content/docs/correlate-load-balancer-application-metrics-workloads.mdx
  src/content/docs/images/New-Relic-account-usage-Insights.png
  src/content/docs/images/workloads_load-balancers.png
  src/content/docs/insights-usage-ui-page.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/images/WindowsServicesOHI.png
  src/content/docs/integrations/host-integrations/host-integrations-list/images/nr1-ohi-windows-services-metric.png
  src/content/docs/integrations/host-integrations/host-integrations-list/windows-services-integration.mdx
  src/content/docs/integrations/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/content/docs/new-relic-titanium.mdx
  src/content/docs/recommended-alerts-aws-services.mdx
  src/content/docs/upgrade-beta-rootless-agent-ga.mdx
  src/nav/full-stack-observability.yml
  src/nav/integrations.yml
  src/pages/index.js
Labels: content, from_tw

#2970 Edited EOL notice
  src/content/docs/browser/new-relic-browser/installation/monitor-amp-pages-new-relic-browser.mdx
Labels: content, from_tw

#2950 Redoing borked PR :)
  src/content/docs/integrations/prometheus-integrations/install-configure/remote-write-drop-data.mdx
  src/content/docs/telemetry-data-platform/manage-data/drop-data-using-nerdgraph.mdx
  src/nav/integrations.yml
Labels: content, from_internal, from_tw

#2958 fix for stalled workflows
  .github/workflows/update-whats-new-ids.yml
Labels: eng, enhancement

#2959 Follow up to update verified-script-execution-private-locations.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/verified-script-execution-private-locations.mdx
Labels: content, from_tw

#2789 Added a title to distributed tracing how-to doc image.
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
Labels: content, from_internal

#2921 Add alerts examples to actionIdentifier attribute
  src/data-dictionary/events/NrAuditEvent/actionIdentifier.md
Labels: content, from_tw

#2977 Fixing typo
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-metric-stream.mdx
Labels: content, from_internal

#2980 Afternoon merge to main 070621
  .github/workflows/update-whats-new-ids.yml
  src/content/docs/browser/new-relic-browser/installation/monitor-amp-pages-new-relic-browser.mdx
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-metric-stream.mdx
  src/content/docs/integrations/prometheus-integrations/install-configure/remote-write-drop-data.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1191.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/verified-script-execution-private-locations.mdx
  src/content/docs/telemetry-data-platform/manage-data/drop-data-using-nerdgraph.mdx
  src/data-dictionary/events/NrAuditEvent/actionIdentifier.md
  src/nav/integrations.yml
Labels: content, from_tw

#2978 Update pass-command-line-options-nrdiag.mdx
  src/content/docs/using-new-relic/cross-product-functions/diagnostics-cli-nrdiag/pass-command-line-options-nrdiag.mdx
Labels: content, from_tw

#2901 Creating or rewriting 6 alert doc intros
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/images/policy-alerts-UI.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/select-product-targets-alert-condition.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/delete-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/test-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/update-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/incident-preference.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/alerts-concepts-workflow.mdx
Labels: content, from_tw

#2988 Increase max layout column of a widget
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-api.mdx
Labels: content, from_internal

#2986 update minimum version to collect topic data
  src/content/docs/integrations/host-integrations/host-integrations-list/kafka-monitoring-integration.mdx
Labels: content, from_internal

#2992 Morning merge to main 070721
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/images/policy-alerts-UI.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/select-product-targets-alert-condition.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/delete-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/test-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/update-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/incident-preference.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/alerts-concepts-workflow.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/kafka-monitoring-integration.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-api.mdx
  src/content/docs/using-new-relic/cross-product-functions/diagnostics-cli-nrdiag/pass-command-line-options-nrdiag.mdx
Labels: content, from_tw

#2976 Python Agent Release v6.4.4.161
  src/content/docs/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-60404161.mdx
Labels: content, from_internal

#2975 Workflow Draft
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/images/jira.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/images/servicenow.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/images/variables.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/images/webhook.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_tw

#2990 Java agent 7.1.0 release notes
  src/content/docs/agents/java-agent/custom-instrumentation/java-xml-instrumentation-examples.mdx
  src/content/docs/agents/java-agent/frameworks/scala-installation-java.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-710.mdx
Labels: content, from_internal

#2993 DOC-6866 minor fix for phrasing issues
  src/content/docs/telemetry-data-platform/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#2995 DOC-7506: Remove dead links
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#2699 DOC-6804 Initial draft
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/condition-recommendations.mdx
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_tw, pg_AI

#2989 Handle paginated results from the Github API
  scripts/actions/add-files-to-translation-queue.js
  scripts/actions/check-for-outdated-translations.js
  scripts/actions/utils/__tests__/github-api-helpers.test.js
  scripts/actions/utils/github-api-helpers.js
Labels: eng

#2991 chore: added v7.5.2 release notes for node.js agent
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-7-5-2.mdx
Labels: content, from_internal

#2972 First wave of edits and additions for DOC-7050
  src/content/docs/security/index.mdx
  src/content/docs/security/security-privacy/compliance/hipaa-readiness-new-relic.mdx
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
  src/content/docs/security/security-privacy/data-privacy/data-privacy-new-relic.mdx
  src/content/whats-new/2021/07/hipaa-enabled-observability.md
  src/content/whats-new/2021/07/images/hipaa.png
  src/content/whats-new/2021/07/images/hipaa1.png
  src/nav/new-relic-security.yml
Labels: content, from_tw

#3012 Update install-containerized-private-minions-cpms.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
Labels: content, from_internal

#3013 update ksm version supported on nri-kubernetes
  src/content/docs/integrations/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal, pg_FSO

#3014 Update of GKE versions supported
  src/content/docs/integrations/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal, pg_FSO

#2984 Orphan docs - part 2
  src/content/docs/agents/c-sdk/get-started/introduction-c-sdk.mdx
  src/content/docs/agents/python-agent/python-agent-api/python-agent-api-different-call-forms.mdx
  src/content/docs/csp-v2-error-inline-javascript-not-allowed.mdx
  src/content/docs/csp-v2-host-install-browser-agent.mdx
  src/content/docs/csp-v2-monitor-salesforce.mdx
  src/content/docs/integrations/prometheus-integrations/install-configure-remote-write/prometheus-remote-write-integration.mdx
  src/content/docs/introduction-new-relic-agent-sdk.mdx
  src/content/docs/introduction-new-relic-mobile-unity.mdx
  src/nav/full-stack-observability.yml
  src/nav/integrations.yml
Labels: content, from_tw, pg_XD

#2996 Ubuntu 20 is supported for log-fwd in infra-agent
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#3000 DOC-7038 eol announce
  src/content/docs/agents/net-agent/api-guides/guide-using-net-agent-api.mdx
  src/content/docs/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/agents/net-agent/installation/introduction-net-agent-install.mdx
  src/content/docs/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/apm-ui-pages/error-analytics/errors-page-find-fix-verify-problems.mdx
  src/content/docs/browser/new-relic-browser/installation/monitor-amp-pages-new-relic-browser.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/query-builder-basic-mode.mdx
Labels: Jira'd, content, from_tw, pg_FSO

#3019 Fixes a link and a minor typo
  src/content/docs/security/security-privacy/compliance/hipaa-readiness-new-relic.mdx
Labels: content, from_tw

#3020 Fix errors inbox table in reg audit
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
Labels: content, from_tw

#2983 Add new Python Agent runtime metrics page.
  src/content/docs/agents/python-agent/supported-features/python-runtime-metrics.mdx
  src/nav/full-stack-observability.yml
Labels: content, from_internal

#2971 Whats-New-7-8-Real-Time-Profiling-Java
  src/content/whats-new/2021/07/images/jfr_flamegraphs.png
  src/content/whats-new/2021/07/whats-new-july-8-realtime-profiling-java.md
Labels: content, from_internal

#2998 Added changes based on new JFR "on-by-default."
  src/content/docs/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_tw

#2997 Update query-syntax-logs.mdx
  src/content/docs/logs/log-management/ui-data/query-syntax-logs.mdx
Labels: content, from_tw, pg_TDP

#2981 HIPAA - changes to support plans page
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_internal

#3028 Remove circular link
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_internal

#2982 enable translation workflow to handle 'sending' documents that dont exist
  .prettierrc.js
  scripts/actions/__tests__/send-and-update-translation-queue.test.js
  scripts/actions/send-and-update-translation-queue.js
Labels: eng, from_internal, translations

#3031 Added caution callout about removing tags from hosts
  src/content/docs/infrastructure/infrastructure-alerts/infrastructure-alert-conditions/create-infrastructure-host-not-reporting-condition.mdx
Labels: content, from_internal

#3033 Added Quick find reference to docs
  src/content/docs/new-relic-one/use-new-relic-one/ui-data/basic-ui-features.mdx
Labels: content, from_tw

#3025 DOC-6787 Adding some useful info about a gap filling limitation
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alerts-nerdgraph/nerdgraph-api-loss-signal-gap-filling.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/streaming-alerts-key-terms-concepts.mdx
Labels: content, from_tw, pg_AI

#3037 increase max number of topics
  src/content/docs/integrations/host-integrations/host-integrations-list/kafka-monitoring-integration.mdx
Labels: content, from_internal

#3039 delete aqm prototype
  src/content/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/alert-quality-management-tutorial.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/images/aqm-tutorial-webhook.png
Labels: content, from_tw

#3038 Email Deprecation Notice
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_internal

#3040 Add Synthetics CPM 3.0.48 release notes
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3048.mdx
Labels: content, from_internal

#3042 DOC-5717: Updates outdated images thread profiler images
  src/content/docs/apm/apm-ui-pages/events/images/thread-profile-view_0.png
  src/content/docs/apm/apm-ui-pages/events/images/thread-profiler-session.png
  src/content/docs/apm/apm-ui-pages/events/images/thread-profiler-start_1.png
  src/content/docs/apm/apm-ui-pages/events/thread-profiler-tool.mdx
Labels: content, from_tw

#3055 Removed extra faceted query example
  src/content/docs/telemetry-data-platform/understand-data/metric-data/query-apm-metric-timeslice-data-nrql.mdx
Labels: content, from_tw

#2951 Some removals of 'Account settings UI page' references
  src/content/docs/accounts/accounts-billing/account-setup/new-relic-license-key.mdx
  src/content/docs/accounts/accounts/saml-single-sign/delete-sso-configuration.mdx
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/introduction-event-api.mdx
Labels: content, from_tw

#3036 fix: change release tag to timezone
  .github/workflows/release.yml
Labels: eng, from_internal

#3065 chore: Updated .NET NLog config instructions
  src/content/docs/logs/enable-log-management-new-relic/logs-context-net/net-configure-nlog.mdx
Labels: content, from_internal

#3057 Updates to Java agent API annotations
  src/content/docs/agents/java-agent/api-guides/java-agent-api-instrument-using-annotation.mdx
Labels: content, from_internal

#3060 Doc 6994 EOL of StatsD v1
  src/content/docs/integrations/host-integrations/host-integrations-list/images/NR-StatsD-integration-diagram.png
  src/content/docs/integrations/host-integrations/host-integrations-list/statsd-monitoring-integration-version-2.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/statsd-monitoring-integration.mdx
  src/nav/integrations.yml
Labels: content, from_tw

#3079 Use space between list items in release note preview
  src/templates/releaseNoteLandingPage.js
Labels: content, from_internal

#3082 Remove export single-paged dashboards
  src/content/docs/apis/nerdgraph/examples/export-dashboards-pdfpng-using-api.mdx
Labels: content, from_internal, pg_UXP

#3081 DOC-6314 - Provider account ID now visible in the UI
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-billing-monitoring-integration.mdx
Labels: content, from_tw

#3058 [DOC-7078] Review of intro to querying
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
Labels: content, from_tw, pg_XD

#3066 v1 basic users can auto-upgrade to full users DOC-7055
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
Labels: content, from_tw

#3029 Update oracle-database-monitoring-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
Labels: content, from_tw, pg_observability

#3090 Add in ios mobile app release note for version 3.76.0
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3760.mdx
Labels: content, from_internal

#3059 Update manage data retention doc
  src/content/docs/telemetry-data-platform/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#3096 Update nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal, pg_observability

#3098 Pixie beta users doc
  src/content/docs/full-stack-observability/observe-everything/get-started/pixie-account-link.mdx
  src/nav/full-stack-observability.yml
Labels: content, from_tw, pg_TDP

#3083 Adding benefits to AUM docs
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-saml-scim.mdx
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
Labels: content, from_tw

#3026 Added release notes for .NET Agent 8.40.1
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-84010.mdx
Labels: content, from_internal

#3072 Rewriting alerts best practices doc
  src/content/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/alerts-best-practices.mdx
Labels: content, from_tw

#3114 Add new collapser
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
Labels: content, from_internal

#3109 chore: Update Java compatibility of the JFR daemon
  src/content/docs/agents/java-agent/features/real-time-profiling-java-using-jfr-metrics.mdx
Labels: content, from_internal

#3116 Revert "Add new collapser"
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
Labels: content, from_tw

#3117 Optimize image size
  src/content/docs/agents/net-agent/other-installation/install-net-agent-docker-container.mdx
Labels: content, from_external

#3115 Add Community Cloud for Pixie
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
Labels: content, from_internal

#3111 Update infrastructure-alerts-add-edit-or-view-host-alert-information.mdx
  src/content/docs/infrastructure/new-relic-infrastructure/infrastructure-alert-conditions/infrastructure-alerts-add-edit-or-view-host-alert-information.mdx
Labels: content, from_internal

#3084 Rewriting when alerts create incidents doc
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/by-condition.svg
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/by-policy.svg
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/by-signal.svg
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/example-condition-incident.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/example-policy-incident.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/example-target-incident.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/incident-preference-UI.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/incident-preference-options.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/incident-preference.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
Labels: content, from_tw

#3100 Doc6597 - Updated Find help and use the Support portal doc
  src/content/docs/using-new-relic/welcome-new-relic/get-started/find-help-use-support-portal.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/images/docs-csat-widget.png
  src/content/docs/using-new-relic/welcome-new-relic/get-started/images/docs_feedback.png
Labels: content, from_tw

#2973 OpenTelemetry docs refactor
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/native_otlp.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/native_otlp.svg
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/native_otlp_with_collector.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/native_otlp_with_collector.svg
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/introduction-opentelemetry-new-relic.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-architecture-recipes.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-concepts.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-endpoints.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-legacy-new-relic-exporters.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-logs.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-quick-start.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/troubleshooting/troubleshoot-opentelemetry-exporter.mdx
  src/nav/integrations.yml
Labels: content, from_internal

#3099 Added missing requirements for VMware Tanzu
  src/content/docs/integrations/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal

#3118 Removing 'sub-account' language
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-users/usage-queries-alerts.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/apm-host-based-subscription-usage.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/insights-subscription-usage.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/mobile-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/agents/manage-apm-agents/configuration/enable-configurable-security-policies.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/notification-channels-control-where-send-alerts.mdx
  src/content/docs/apis/intro-apis/introduction-new-relic-apis.mdx
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/content/docs/apm/transactions/cross-application-traces/troubleshoot-cross-application-tracing.mdx
  src/content/docs/integrations/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
  src/content/docs/integrations/prometheus-integrations/install-configure-remote-write/set-your-prometheus-remote-write-integration.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/new-relic-data-usage-limits-policies.mdx
  src/content/docs/new-relic-partnerships/partner-integration-guide/partner-account-maintenance/partner-api.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-legacy.mdx
  src/content/docs/telemetry-data-platform/custom-data/custom-events/data-requirements-limits-custom-event-data.mdx
  src/content/docs/telemetry-data-platform/manage-data/view-system-limits.mdx
  src/content/docs/telemetry-data-platform/understand-data/event-data/query-account-audit-logs-nrauditevent.mdx
Labels: content, from_tw

#3127 Updated version to 7.1.1 per Java team.
  src/content/whats-new/2021/07/whats-new-july-8-realtime-profiling-java.md
Labels: content, from_tw

#3128 Late afternoon merge-to-main 7/15/2021
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-users/usage-queries-alerts.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/apm-host-based-subscription-usage.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/insights-subscription-usage.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/mobile-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/agents/manage-apm-agents/configuration/enable-configurable-security-policies.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/notification-channels-control-where-send-alerts.mdx
  src/content/docs/apis/intro-apis/introduction-new-relic-apis.mdx
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/content/docs/apm/transactions/cross-application-traces/troubleshoot-cross-application-tracing.mdx
  src/content/docs/integrations/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/native_otlp.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/native_otlp.svg
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/native_otlp_with_collector.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/native_otlp_with_collector.svg
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/introduction-opentelemetry-new-relic.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-architecture-recipes.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-concepts.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-endpoints.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-legacy-new-relic-exporters.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-logs.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-quick-start.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/troubleshooting/troubleshoot-opentelemetry-exporter.mdx
  src/content/docs/integrations/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
  src/content/docs/integrations/prometheus-integrations/install-configure-remote-write/set-your-prometheus-remote-write-integration.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/new-relic-data-usage-limits-policies.mdx
  src/content/docs/new-relic-partnerships/partner-integration-guide/partner-account-maintenance/partner-api.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-legacy.mdx
  src/content/docs/telemetry-data-platform/custom-data/custom-events/data-requirements-limits-custom-event-data.mdx
  src/content/docs/telemetry-data-platform/manage-data/view-system-limits.mdx
  src/content/docs/telemetry-data-platform/understand-data/event-data/query-account-audit-logs-nrauditevent.mdx
  src/content/whats-new/2021/07/whats-new-july-8-realtime-profiling-java.md
  src/nav/integrations.yml
Labels: content, from_tw

#2924 Updates based on GitHub issue about TracingBytes
  src/content/docs/telemetry-data-platform/manage-data/manage-data-coming-new-relic.mdx
Labels: from_tw, pg_observability

#3129 chore: Java agent release 7.1.1
  src/content/docs/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-710.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-711.mdx
Labels: content, from_internal

#3136 Fixing broken and relative links
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/browser-monitoring-best-practices-guide.mdx
Labels: content, from_tw, pg_observability

#3137 Revert "Updated version to 7.1.1 per Java team."
  src/content/whats-new/2021/07/whats-new-july-8-realtime-profiling-java.md
Labels: content, from_tw

#3132 Per-account trace rate limits
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
  src/content/docs/distributed-tracing/trace-api/trace-api-general-requirements-limits.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/new-relic-data-usage-limits-policies.mdx
Labels: content, from_tw

#3131 Change distributed tracing image to png
  src/content/docs/distributed-tracing/concepts/images/intro-DT.png
  src/content/docs/distributed-tracing/concepts/images/intro-span.svg
  src/content/docs/distributed-tracing/concepts/introduction-distributed-tracing.mdx
Labels: content, from_tw

#3139 NRO/accounts-billing/usage-queries-alerts - Fix anchor link
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-users/usage-queries-alerts.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-pricing-users/usage-queries-alerts.mdx
Labels: content, from_external

#3142 Fixed link to list of Public IPs
  src/content/docs/synthetics/synthetic-monitoring/administration/new-synthetic-public-minion-ips.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
Labels: content, from_internal

#3145 Fix typo (`upate` s/be `update`) | Pixie security doc
  src/content/docs/auto-telemetry-pixie/pixie-data-security-overview.mdx
Labels: content, from_tw

#3138 Doc 7094 cosmetic
  src/content/docs/new-relic-solutions/observability-maturity/aqm-implementation-guide.mdx
Labels: content, from_tw, pg_growth

#3147 Changing a typo in Alerts best practices doc
  src/content/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/alerts-best-practices.mdx
Labels: content, from_tw

#3140 Removing stupid 'Insights' mentions
  src/content/docs/browser/new-relic-browser/browser-agent-spa-api/finished.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/nagios-monitoring-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/varnish-cache-monitoring-integration.mdx
  src/content/docs/integrations/infrastructure-integrations/get-started/use-integration-data-new-relic-dashboards.mdx
  src/content/docs/integrations/kubernetes-integration/troubleshooting/get-logs-version.mdx
  src/content/docs/integrations/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
  src/content/docs/integrations/microsoft-azure-integrations/azure-integrations-list/azure-sql-database-monitoring-integration.mdx
  src/content/docs/integrations/microsoft-azure-integrations/azure-integrations-list/azure-virtual-machines-scale-sets-monitoring-integration.mdx
  src/content/docs/integrations/new-relic-integrations/getting-started/integration-dashboards-infrastructure-beta-transition-guide.mdx
  src/content/docs/licenses/license-information/product-definitions/legacy-product-definitions.mdx
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/aws-firelens-plugin-log-forwarding.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/handled-exceptions-analyze-trends-prevent-crashes.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/introduction-mobile-handled-exceptions.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/mobile-crash-event-trail.mdx
Labels: content, from_tw

#3073 Support searching by attribute name in data dictionary
  src/components/DataDictionaryFilter.js
  src/pages/attribute-dictionary.js
Labels: eng

#3146 DOC-7116 -- fixing small odds and ends for fast-follow
  src/content/docs/security/security-privacy/compliance/hipaa-readiness-new-relic.mdx
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
Labels: content, from_tw

#3153 Update rest-api-calls-new-relic-infrastructure-alerts.mdx
  src/content/docs/infrastructure/new-relic-infrastructure/infrastructure-alert-conditions/rest-api-calls-new-relic-infrastructure-alerts.mdx
Labels: content, from_internal, pg_observability

#3157 Fixed typo in Query limits doc
  src/content/docs/telemetry-data-platform/manage-data/query-limits.mdx
Labels: content, from_tw, pg_TDP

#3034 DOC6301 - Troubleshooting page for New Relic infrastructure agent
  src/content/docs/infrastructure/new-relic-infrastructure/troubleshooting/agent-not-starting-windows.mdx
  src/nav/full-stack-observability.yml
Labels: content, from_tw

#3158 Orphan docs - part 3
  src/content/docs/cloud-instance-optimizer-find-underused-virtual-machines.mdx
Labels: content, from_tw, pg_XD

#3149 Correcting badness around browser pro, lite, pro+spa agent types
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/browser/new-relic-browser/configuration/browser-app-settings-page.mdx
  src/content/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
  src/content/docs/browser/new-relic-browser/installation/update-browser-agent.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/install-single-page-app-monitoring.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/introduction-single-page-app-monitoring.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/browser-monitoring-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/images/best01_spapro.png
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/images/best02_apmcp.png
  src/nav/full-stack-observability.yml
Labels: content, from_tw

#3141 Fix a few stray references to New Relic Mobile
  src/content/docs/licenses/product-or-service-licenses/new-relic-mobile/android-sdk-new-relic-mobile-licenses.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-mobile/ios-sdk-new-relic-mobile-licenses.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/android-agent-crash-reporting.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/introduction-mobile-monitoring.mdx
  src/data-dictionary/events/Mobile/Mobile.event-definition.md
  src/data-dictionary/events/MobileSession/MobileSession.event-definition.md
  src/data-dictionary/events/MobileSession/platform.md
  src/nav/new-relic-in-practice.yml
Labels: content, from_tw

#3159 Update references to the entity-definitions repository
  src/content/docs/apis/nerdgraph/examples/golden-metrics-entities-nerdgraph-api-tutorial.mdx
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/new-relic-explorer-view-performance-across-apps-services-hosts.mdx
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/what-entity-new-relic.mdx
  src/content/whats-new/2021/03/kubernetes-whats-new.md
  src/i18n/content/jp/docs/new-relic-one/use-new-relic-one/core-concepts/new-relic-explorer-view-performance-across-apps-services-hosts.mdx
  src/i18n/content/jp/docs/new-relic-one/use-new-relic-one/core-concepts/what-entity-new-relic.mdx
Labels: content, from_external, pg_observability

#3112 chore: sort top level nav list before comparison
  plugins/gatsby-source-nav/gatsby-node.js
Labels: eng

#3161 More browser pro/lite changes
  src/content/docs/apis/nerdgraph/tutorials/provisions-your-subscriptions-nerdgraph.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/ajax-page-identify-time-consuming-calls.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-traces-explore-webpages-life-cycle.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/upload-source-maps-un-minify-js-errors.mdx
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-data-distributed-tracing.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-error-profiles-find-error-causes.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/filterable-geography-webpage-metrics-location.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/intro-to-browser-pro-features.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/upload-source-maps-api.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/troubleshooting-session-trace-collection.mdx
  src/nav/full-stack-observability.yml
Labels: content, from_tw

#3165 Correct minimum AGP version as 3.4
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-compatibility-requirements.mdx
Labels: content, from_internal, pg_observability

#3169 Better style guidelines for What's New and Release Notes | style guide
  src/content/docs/style-guide/article-templates/create-release-notes.mdx
  src/content/docs/style-guide/processes-procedures/use-content-types-text-formats.mdx
  src/content/docs/style-guide/writing-guidelines/images/whats-new.png
  src/nav/style-guide.yml
Labels: content, from_tw, pg_XD

#3167 Update tvOS CocoaPods instructions
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/tvos/cocoapods-tvos-installation-configuration.mdx
Labels: content, from_internal, pg_observability

#3173 Adding requirement for Keys
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
Labels: content, from_internal, pg_observability

#3174 Updated Infra related time limits
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-violations/how-alert-condition-violations-are-closed.mdx
Labels: content, from_internal, pg_observability

#3179 #3177 Fixing header link
  src/content/docs/integrations/microsoft-azure-integrations/azure-integrations-list/azure-service-bus-monitoring-integration.mdx
Labels: content, from_tw

#3089 Removing a nested nav in NR in practice
  src/nav/new-relic-in-practice.yml
Labels: content, from_internal

#3113 Remove chunky table from Prometheus doc
  src/content/docs/integrations/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
Labels: content, from_tw

#3172 Updated title for distributed tracing quick start
  src/content/docs/distributed-tracing/enable-configure/quick-start.mdx
Labels: content, from_tw

#2905 DOC 6997 - Update step monitor doc with new steps
  src/content/docs/synthetics/synthetic-monitoring/getting-started/types-synthetic-monitors.mdx
Labels: content, from_tw

#3185 Clarifying Metric API timestamp units accepted
  src/content/docs/telemetry-data-platform/ingest-apis/report-metrics-metric-api.mdx
Labels: content, from_tw

#3184 Small edits to data dictionary style guide doc
  src/content/docs/style-guide/article-templates/data-dictionary-style-guidelines.mdx
Labels: content, from_tw

#3188 Update NRQL query order-of-operations section
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_internal
