Repository newrelic/docs-website, pull requests merged in 2021-10, with the labels that each got.

#4143 Minor Update to AWS Cloudwatch Metric stream doc
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-metric-stream.mdx
Labels: content, from_internal

#4144 Upgrade supported K8s versions
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#4152 Fix(user mgmt): Add instructions on editing user type
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/add-manage-users-groups-roles.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/images/user-management-edit-user-type.png
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/tutorial-add-new-user-groups-roles-new-relic-one-user-model.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
Labels: content, from_tw

#4145 chore(networks): Update last modified date for IPs
  src/content/docs/using-new-relic/cross-product-functions/install-configure/networks.mdx
Labels: content, from_tw

#4155 Update violation-event-attributes.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/violation-event-attributes.mdx
Labels: content, from_internal

#4138 DOC-7252 New aggregation methods
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-users/usage-queries-alerts.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/alerts-conditions-api-field-names.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/rest-api-calls-alerts.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/streaming-alerts-key-terms-concepts.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/violation-event-attributes.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, pg_AI, from_tw

#4158 chore(Logs): Logs in context
  src/content/docs/logs/index.mdx
  src/content/docs/logs/logs-context/annotate-logs-logs-context-using-apm-agent-apis.mdx
  src/content/docs/logs/logs-context/c-sdk-configure-logs-context.mdx
  src/content/docs/logs/logs-context/configure-logs-context-apm-agents.mdx
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
  src/content/docs/logs/logs-context/configure-logs-context-php.mdx
  src/content/docs/logs/logs-context/configure-logs-context-python.mdx
  src/content/docs/logs/logs-context/configure-logs-context-ruby.mdx
  src/content/docs/logs/logs-context/images/LogsInContext-Log4Net.jpg
  src/content/docs/logs/logs-context/images/LogsInContext-NLog.jpg
  src/content/docs/logs/logs-context/images/LogsInContext-Serilog.jpg
  src/content/docs/logs/logs-context/images/new-relic-logs-in-context-diagram.jpg
  src/content/docs/logs/logs-context/java-configure-logs-context-all.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
  src/nav/full-stack-observability.yml
Labels: content, pg_TDP, from_tw

#4161 AWS Lambda monitoring update
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-your-own.mdx
Labels: content, from_tw

#4163 RHEL 6 end of life
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#4164 Edited Webhooks section in Networks doc
  src/content/docs/using-new-relic/cross-product-functions/install-configure/networks.mdx
Labels: content, from_tw

#4165 Minor fix: anchor identifier
  src/content/docs/telemetry-data-platform/understand-data/event-data/nrauditevent-event-data-query-examples.mdx
Labels: content, from_internal

#4114 What's new PUBLISH 10/04
  src/content/whats-new/2021/09/Ruby 8.0.0 update
Labels: content, from_internal

#4167 fix(user type table): change bg color
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
Labels: content, from_tw

#4169 Update ibm-websphere-application-server.mdx
  src/content/docs/agents/java-agent/additional-installation/ibm-websphere-application-server.mdx
Labels: content, from_internal, pg_observability

#4168 Update compatibility-requirements-java-agent.mdx
  src/content/docs/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal, pg_observability

#4171 Update list of container orchestrators
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
Labels: content, from_internal, pg_observability

#4170 Fix(auth domain): Clarify how full user requests are handled
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content, from_tw

#4009 add info about aggregation_delay, aggregation_method, and aggregation_timer fields
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/alerts-conditions-api-field-names.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/glossary.mdx
Labels: content, from_internal, pg_AI

#4173 fix: I/O change beta to preview
  src/content/docs/full-stack-observability/observe-everything/get-started/new-relic-quickstarts-overview.mdx
Labels: content, from_tw

#4112 What's New: PUBLISH 10/05
  src/content/whats-new/2021/09/net-9-0-0-0-update.md
Labels: content, from_internal

#4176 Small change to wording
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_internal, pg_AI

#4178 Add benchmark example for ARM64
  src/content/docs/infrastructure/install-infrastructure-agent/manage-your-agent/infrastructure-agent-performance-overhead.mdx
Labels: content, from_internal, pg_observability

#4179 Upgrade K8s minimum version
  src/content/docs/integrations/kubernetes-integration/link-apps-services/monitor-services-running-kubernetes.mdx
Labels: content, from_internal, pg_observability

#4186 fix(okta): make more clear about managing user type
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
Labels: content, from_tw

#4175 Remove mobile legacy cat
  README.md
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/http-requests-page.mdx
Labels: content, from_internal, pg_observability

#4189 chore: update theme version
  package.json
  yarn.lock
Labels: eng

#4188 Updated entry title for HIPAA regulatory status
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
Labels: pg_legal, content, from_internal

#4191 Updated links
  src/content/docs/using-new-relic/welcome-new-relic/get-started/glossary.mdx
Labels: content, from_internal, pg_XD

#4110 What's New: PUBLISH 10/06
  src/content/whats-new/2021/10/python-update -7.0.0.166.md
Labels: content, from_internal

#4202 AWS metric stream inventory not available
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-metric-stream.mdx
Labels: content, from_internal

#4157 style(PR/issue templates): Simplify issue templates and switch to H2s
  .github/ISSUE_TEMPLATE/content-issue.md
  .github/ISSUE_TEMPLATE/site-bug-report.md
  .github/ISSUE_TEMPLATE/site-enhancement.md
  .github/pull_request_template.md
Labels: content, from_tw

#4200 Revert "fix: Adds examples"
  src/content/docs/using-new-relic/welcome-new-relic/get-started/introduction-new-relic.mdx
Labels: content, from_tw

#4206 Browser Agent v1211 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1211.mdx
Labels: content, from_internal

#4109 Add Browser Filter AjaxRequest Event doc
  src/content/docs/browser/new-relic-browser/configuration/filter-ajax-request-events.mdx
  src/nav/full-stack-observability.yml
Labels: content, from_internal, pg_UXP

#4113 Whats New: PUBLISH 10/07
  src/content/whats-new/2021/10/node.js-8.3-update.md
Labels: content, from_internal

#4219 Update image dirs to match conventional naming
  src/content/docs/network-performance-monitoring/get-started/images/NPM_architecture.png
  src/content/docs/network-performance-monitoring/get-started/images/overview_navigator.jpg
  src/content/docs/network-performance-monitoring/get-started/npm-introduction.mdx
  src/content/docs/network-performance-monitoring/monitoring-network-data/images/dashboard_Data_Ingest_and_Cardinality.png
  src/content/docs/network-performance-monitoring/monitoring-network-data/images/dashboard_Routers_and_Switches.png
  src/content/docs/network-performance-monitoring/monitoring-network-data/images/flow_data_dashboard.png
  src/content/docs/network-performance-monitoring/monitoring-network-data/images/open_viz.png
  src/content/docs/network-performance-monitoring/monitoring-network-data/images/quickstarts_network.png
  src/content/docs/network-performance-monitoring/monitoring-network-data/images/snmp_dashboard.png
  src/content/docs/network-performance-monitoring/monitoring-network-data/visualize-network-data.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/images/network-flows-guided-install.png
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/images/snmp-guided-install.png
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal

#4229 fix: remove old support emails
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/accounts/accounts/account-maintenance/change-passwords-user-preferences.mdx
Labels: content, from_tw

#4233 docs(Alerts): NRQL alert condition doc refinements
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_internal

#4231 fix(Logs): Get started docs
  src/content/docs/logs/forward-logs/kubernetes-plugin-log-forwarding.mdx
  src/content/docs/logs/log-management/get-started/get-started-log-management.mdx
  src/content/docs/logs/log-management/get-started/new-relics-log-management-security-privacy.mdx
  src/content/docs/logs/log-management/log-api/introduction-log-api.mdx
Labels: content, pg_TDP, from_tw

#4243 fix(synth): edit to UI & req sections
  src/content/docs/synthetics/synthetic-monitoring/private-locations/private-locations-overview-monitor-internal-sites-add-new-locations.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
Labels: content, from_tw

#4248 Morning merge to main 10/8/2021
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/alert-custom-violation-descriptions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/images/alerts_condition_description_field.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-loss-signal-gap-filling.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-nrql-condition-alerts.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/streaming-alerts-key-terms-concepts.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/view-entity-health-status-find-entities-without-alert-conditions.mdx
  src/content/docs/logs/forward-logs/kubernetes-plugin-log-forwarding.mdx
  src/content/docs/logs/log-management/get-started/get-started-log-management.mdx
  src/content/docs/logs/log-management/get-started/new-relics-log-management-security-privacy.mdx
  src/content/docs/logs/log-management/log-api/introduction-log-api.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/advanced-config.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/app-data-nrql-query-examples.mdx
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/private-locations-overview-monitor-internal-sites-add-new-locations.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
Labels: content, from_tw

#4250 docs(Alerts): add NerdGraph example for searching Alert Policies by name
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-alerts-policies.mdx
Labels: content, from_internal

#4261 chore: updating with trap support of v1 and v3
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/advanced-config.mdx
Labels: content, from_internal

#4275 fix(WN-ruby-1004): page in wrong folder with wrong file format
  src/content/whats-new/2021/10/nodejs-8-3-update.md
  src/content/whats-new/2021/10/python-update -7-0-0-166.md
  src/content/whats-new/2021/10/ruby-8-0-0-update.md
Labels: content, pg_UXP, from_tw, what's new

#4265 docs(Alerts): more updates related to Streaming Methods release
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-nrql-condition-alerts.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/alerts-conditions-api-field-names.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/update-or-disable-policies-conditions.mdx
Labels: content, from_internal

#4278 fix(Intro doc): Removed stray period
  src/content/docs/using-new-relic/welcome-new-relic/get-started/introduction-new-relic.mdx
Labels: content, pg_UXP, from_tw

#4287 chore: adds release notes for Node.js agent v8.5.0.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-8-5-0.mdx
Labels: content, from_internal

#4280 Update nr1-automap.md
  src/content/whats-new/2021/10/nr1-automap.md
Labels: content, from_internal

#4293 Adding clarification tip
  src/content/docs/integrations/host-integrations/host-integrations-list/mysql-monitoring-integration.mdx
Labels: content, from_internal

#4298 I/O Fast follows
  src/components/NetworkPerformanceMonitoringBannerGA.js
  src/content/docs/full-stack-observability/observe-everything/get-started/new-relic-quickstarts-overview.mdx
  src/images/NPM_banner.png
Labels: content, from_tw

#4309 Adding ARM64 support limitation
  src/content/docs/integrations/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
Labels: content, from_internal

#4311 2021-10-14 early merge to main
  src/content/docs/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
  src/content/docs/integrations/mlops-integrations/images/superwise01.png
  src/content/docs/integrations/mlops-integrations/images/superwise1.png
  src/content/docs/integrations/mlops-integrations/images/superwise2.png
  src/content/docs/integrations/mlops-integrations/superwise-mlops-integration.mdx
  src/nav/integrations.yml
Labels: content, from_tw

#4306 chore: change Transactions heading id
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/view-your-opentelemetry-data-new-relic.mdx
Labels: content, from_internal

#4318 feat (lowDataMode): minor corrections
  src/content/docs/integrations/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
Labels: content, from_internal

#4322 fix(Logs): Clarify requirements
  src/content/docs/logs/log-management/ui-data/find-unusual-logs-log-patterns.mdx
  src/content/docs/logs/logs-context/configure-logs-context-ruby.mdx
  src/content/docs/release-notes/logs-release-notes/logs-21-08-30.mdx
Labels: content, pg_TDP, from_tw

#4301 feat(Docs): Clarified the purpose of the frontmatter tags.
  src/content/docs/style-guide/processes-procedures/use-content-types-text-formats.mdx
Labels: content, from_tw, pg_other

#4328 fix(synthetics): customer request to call out some things
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests.mdx
Labels: content, from_external, pg_growth

#4329 feat(EOL notices Q3): EOL notices for 4 capabilities
  src/content/docs/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/integrations/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_tw

#4347 Update 2000 to 20000
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/scripted-browser-examples.mdx
Labels: content, from_internal

#4352 Release notes for Android mobile app release 3.16.0
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-3160.mdx
Labels: content, from_internal

#4345 chore(distributed trace): Fix dark-mode-unfriendly icons
  src/content/docs/distributed-tracing/ui-data/images/distributed-tracing-browser-span-icon.png
  src/content/docs/distributed-tracing/ui-data/images/new-relic-distributed-tracing-anomalous-icon.png
  src/content/docs/distributed-tracing/ui-data/images/new-relic-distributed-tracing-client-server-time-indicator.png
  src/content/docs/distributed-tracing/ui-data/images/new-relic-distributed-tracing-databases-icon.png
  src/content/docs/distributed-tracing/ui-data/images/new-relic-distributed-tracing-external-icon.png
  src/content/docs/distributed-tracing/ui-data/images/new-relic-distributed-tracing-inprocess-icon.png
  src/content/docs/distributed-tracing/ui-data/images/new-relic-distributed-tracing-lambda-icon.png
  src/content/docs/distributed-tracing/ui-data/images/new-relic-distributed-tracing-lines-image.png
  src/content/docs/distributed-tracing/ui-data/images/new-relic-distributed-tracing-orphan-icon.png
  src/content/docs/distributed-tracing/ui-data/images/new-relic-distributed-tracing-service-icon.png
Labels: content, from_tw

#4343 fix: formatting changes and extra links to infrastructure agent
  src/content/docs/logs/log-management/ui-data/parsing.mdx
Labels: content, from_internal

#4339 fix: Included example of graphql request and response
  src/content/docs/apis/nerdgraph/examples/nerdgraph-log-parsing-rules-tutorial.mdx
Labels: content, from_internal

#4359 add API names
  src/content/docs/synthetics/synthetic-monitoring/getting-started/types-synthetic-monitors.mdx
Labels: content, from_internal

#4365 fix(folders): cleaning up some folders
  src/content/docs/accounts/accounts/saml-single-sign/configure-saml-multiple-accounts.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/apm-cu-based-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/apm-host-based-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/images/New-Relic-usage-UI.png
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/infrastructure-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/insights-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/introduction-new-relic-subscription-usage-data.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/mobile-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/synthetics-subscription-usage.mdx
  src/i18n/content/jp/docs/alerts/new-relic-alerts/rules-limits-glossary/alerts-glossary.mdx
  src/i18n/content/jp/docs/insights/event-data-sources/custom-events/data-requirements-limits-custom-event-data.mdx
  src/i18n/content/jp/docs/insights/event-data-sources/default-events/events-reported-apm.mdx
  src/i18n/content/jp/docs/insights/event-data-sources/default-events/events-reported-browser-monitoring.mdx
  src/i18n/content/jp/docs/insights/event-data-sources/default-events/events-reported-mobile-monitoring.mdx
  src/i18n/content/jp/docs/insights/event-data-sources/default-events/infrastructure-events.mdx
  src/i18n/content/jp/docs/insights/event-data-sources/insights-api/query-insights-event-data-api.mdx
  src/i18n/content/jp/docs/insights/images/insights-landing-page-prototype1-072020.png
  src/i18n/content/jp/docs/insights/use-insights-ui/explore-data/metric-explorer-search-chart-metric-timeslice-data.mdx
  src/i18n/content/jp/docs/insights/use-insights-ui/getting-started/introduction-new-relic-insights.mdx
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/chart-types.mdx
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/chart_area.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/chart_bar.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/chart_billboard.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/chart_bullet.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/chart_heatmap.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/chart_line.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/chart_pie.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/chart_table.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/crop-insights-attribute-sheet-chart.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/crop-insights-event-chart.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/crop-insights-gauge-chart_0.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/crop-insights-histogram-chart.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/crop-insights-list-chart.png
  src/i18n/content/jp/docs/insights/use-insights-ui/manage-dashboards/images/temp-funnel-chart.png
  src/nav/accounts.yml
Labels: content, from_tw

#4358 chore(agile handbook): Fix typo
  src/content/docs/agile-handbook/heroing/managing-the-github-boards.mdx
Labels: content, from_tw

#4368 Used wrong word in recommendation
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/rest-api-calls-alerts.mdx
Labels: content, from_internal

#4377 fix(home page): removing TDP and FSO
  src/i18n/translations/en/translation.json
  src/pages/index.js
Labels: content, from_tw

#4313 feat: add customizable root nav bar
  gatsby-node.js
  plugins/gatsby-source-nav/gatsby-node.js
  src/components/RootNavigation.js
  src/content/docs/style-guide/processes-procedures/understand-edit-docs-site-structure.mdx
  src/nav/integrations.yml
  src/nav/licenses.yml
  src/nav/root.yml
  src/nav/style-guide.yml
Labels: eng, from_internal

#4374 docs: Add in 2.1.0 release note for New Relic Apple TV app.
  src/content/docs/licenses/product-or-service-licenses/mobile-app-licenses/tvos-application-licenses.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-tvos-release-notes/newrelic-tvos-2010.mdx
Labels: content, from_internal

#4385 feat(REST API alerts):Removed deprecated methods in favor of the new ones
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/rest-api-calls-alerts.mdx
Labels: content, from_tw

#4389 fix broken link to azure-integrations-list
  src/content/docs/integrations/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
Labels: content, from_internal, pg_UXP

#4372 Android agent v6.3.0 & v6.3.1 release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-630.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-631.mdx
Labels: content, from_internal

#4398 Whats-New-10-12-Ajax-Requests
  src/content/whats-new/2021/10/images/browser-with-ajax-highlighted.png
  src/content/whats-new/2021/10/wn-ajax-defaults-on.md
  src/images/Browser - AJAX Settings Highlighted.png
Labels: content, from_internal, pg_UXP, what's new

#4409 Update release notes with link
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-630.mdx
Labels: content, from_internal

#4364 feat: upgrade to Node 16
  .github/workflows/fetch-swiftype-content.yml
  .github/workflows/update-whats-new-ids.yml
  .github/workflows/validate-pr.yml
  .nvmrc
  CONTRIBUTING.md
Labels: eng, from_internal

#4438 Docs site(fix): remove TDP mentions
  src/content/docs/auto-telemetry-pixie/pixie-data-security-overview.mdx
  src/content/docs/integrations/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
  src/content/docs/licenses/license-information/referenced-policies/service-level-availability-commitment.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-one/preview-access-new-relic-one.mdx
  src/content/docs/logs/index.mdx
  src/content/docs/network-performance-monitoring/get-started/npm-introduction.mdx
  src/content/docs/new-relic-solutions/index.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/new-relic-global-performance-data-sets.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1122.mdx
  src/content/docs/security/security-privacy/compliance/data-encryption.mdx
  src/content/docs/security/security-privacy/data-privacy/data-privacy-new-relic.mdx
  src/content/docs/style-guide/processes-procedures/edit-homepage.mdx
  src/content/docs/telemetry-data-platform/convert-to-metrics/analyze-monitor-data-trends-metrics.mdx
  src/content/docs/telemetry-data-platform/convert-to-metrics/create-metrics-other-data-types.mdx
  src/content/docs/telemetry-data-platform/get-started/introduction-new-relic-data-ingest-apis-sdks.mdx
  src/content/docs/telemetry-data-platform/get-started/nrdb-horsepower-under-hood.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/introduction-event-api.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/metric-api/introduction-metric-api.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/metric-api/metric-api-limits-restricted-attributes.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/metric-api/report-metrics-metric-api.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/metric-api/troubleshoot-nrintegrationerror-events.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/telemetry-sdks-report-custom-telemetry-data.mdx
  src/content/docs/telemetry-data-platform/manage-data/manage-data-coming-new-relic.mdx
  src/content/docs/telemetry-data-platform/manage-data/manage-your-data.mdx
  src/content/docs/telemetry-data-platform/manage-data/query-limits.mdx
  src/content/docs/telemetry-data-platform/manage-data/view-system-limits.mdx
  src/content/docs/telemetry-data-platform/understand-data/metric-data/metric-data-type.mdx
  src/content/docs/telemetry-data-platform/understand-data/new-relic-data-types.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/introduction-new-relic.mdx
  src/nav/full-stack-observability.yml
Labels: content, from_tw

#4440 Update create-edit-content.mdx
  src/content/docs/style-guide/writing-guidelines/create-edit-content.mdx
Labels: content, from_internal

#4490 chore(frontmatter): Fix two duplicate redirects
  src/content/docs/infrastructure/amazon-integrations/troubleshooting/aws-service-specific-api-rate-limiting.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-manual-install-infrastructure-agent-linux.mdx
Labels: content, from_tw

#4625 Observability maturity enhancements. Tweaks to capitalization, wording
  src/content/docs/new-relic-solutions/observability-maturity/index.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_internal

#4607 feat(nerdgraph-tutorials): add anomaly detector configurations API tu…
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/nerdgraph-anomaly-detector-configurations-api-tutorial.mdx
Labels: content, from_internal

#4626 Moving 'query/charts' stuff into 'Data & APIs'
  src/content/docs/apm/agents/nodejs-agent/getting-started/introduction-new-relic-nodejs.mdx
  src/content/docs/apm/agents/php-agent/getting-started/introduction-new-relic-php.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-concepts.mdx
  src/nav/new-relic-in-practice.yml
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#4632 fix(Licenses): Delete Priority Support doc+pdf
  src/content/docs/licenses/license-information/special-services-licenses/new-relic-priority-support.mdx
  src/content/docs/licenses/license-information/special-services-licenses/priority-support-price-list-08012019-final-v3.pdf
Labels: content, from_tw

#4624 style(homepage): Re-organize homepage left nav
  src/nav/root.yml
Labels: content, from_tw

#4631 fix(php agent): removed some formatting
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-arm64.mdx
Labels: content, from_tw

#4633 chore: errors inbox updates
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content, from_tw

#4574 chore(errors inbox): Copyedit formatting and style
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content, from_tw
