Repository newrelic/docs-website, pull requests merged in 2021-04, with the labels that each got.

#1377 Update ssl-or-connection-errors-java.mdx
  src/content/docs/agents/java-agent/troubleshooting/ssl-or-connection-errors-java.mdx
Labels: content

#1619 Added detail on notification of IP changes
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
Labels: content

#1606 Update docs logo
  src/@newrelic/gatsby-theme-newrelic/components/Logo.js
Labels: content

#1640 Script for fetching all translated content (serialized)
  scripts/actions/utils/handlers.js
  scripts/utils/migrate/get-serialized-i18n-content.js
Labels: eng, translations

#1645 Clarifying restrictions for 'user' notification channel
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/notification-channels-control-where-send-alerts.mdx
  src/content/docs/mobile-apps/new-relic-mobile-apps/authentication-alerts/alerting-new-relic-mobile-apps.mdx
Labels: content

#1653 Added synthetics info to Retention settings table
  src/content/docs/telemetry-data-platform/ingest-manage-data/manage-data/manage-data-retention.mdx
Labels: content

#1655 chore: Update rest-api-calls-new-relic-infrastructure-alerts.mdx
  src/content/docs/infrastructure/new-relic-infrastructure/infrastructure-alert-conditions/rest-api-calls-new-relic-infrastructure-alerts.mdx
Labels: content

#1659 Tweak PR and issue templates
  .github/ISSUE_TEMPLATE/content-issue.md
  .github/pull_request_template.md
Labels: content

#1658 Fix broken link to attribute dictionary
  src/content/docs/browser/new-relic-browser/guides/guide-using-browser-spa-apis.mdx
Labels: content

#1644 Document how to associate entities / infra with logs
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/fluent-bit-plugin-log-forwarding.mdx
Labels: content

#1650 chore: add logging to help find cache errors
  plugins/gatsby-plugin-auto-index-pages/utils/generate-html.js
Labels: eng

#1662 chore(diagnostics-cli-11235): add release notes for diagnostics cli 1…
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-11235.mdx
Labels: content

#1535 Restore "Single page apps" to left navigation panel
  src/content/docs/browser/index.mdx
  src/nav/full-stack-observability.yml
Labels: content

#1688 Restore java/.net what's new
  src/content/whats-new/2021/04/java-net.md
Labels: content

#1579 Updated APM docs
  src/content/docs/agents/java-agent/getting-started/images/guided-install-cli.png
  src/content/docs/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/content/docs/agents/java-agent/installation/images/guided-install-cli.png
  src/content/docs/agents/java-agent/installation/install-java-agent.mdx
  src/content/docs/agents/net-agent/getting-started/introduction-new-relic-net.mdx
  src/content/docs/agents/net-agent/installation/install-net-agent-windows.mdx
  src/content/docs/agents/net-agent/installation/introduction-net-agent-install.mdx
  src/content/docs/full-stack-observability/observe-everything/get-started/new-relic-guided-install-overview.mdx
  src/content/docs/using-new-relic/cross-product-functions/install-configure/install-new-relic.mdx
Labels: content

#1651 Remove 'use multiple accounts' doc
  src/content/docs/accounts/accounts-billing/account-structure/mastersub-account-structure.mdx
  src/content/docs/accounts/install-new-relic/account-setup/use-multiple-accounts.mdx
  src/nav/accounts.yml
Labels: content

#1538 Rename "By condition and entity" to "By condition and signal"
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/scope-alert-thresholds-specific-instances.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/040315incident-pref_0.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/images/example-target-incident.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
Labels: content

#1694 Update Filter Function Description
  package.json
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
  src/data/whats-new-ids.json
Labels: content

#1713 fix: make rss guids deterministic
  plugins/gatsby-plugin-release-note-rss/gatsby-node.js
Labels: eng

#1712 Image style guide updates
  src/content/docs/style-guide/processes-procedures/embed-images.mdx
Labels: content

#1716 Doc 6673 improve user permissions and capabilities details
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/add-manage-users-groups-roles.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/images/New-Relic-capabilities-UI-screenshot.png
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/tutorial-add-new-user-groups-roles-new-relic-one-user-model.mdx
  src/content/docs/new-relic-one/use-new-relic-one/build-new-relic-one/build-custom-new-relic-one-application.mdx
Labels: content

#1732 Re-rank to put get started up front
  src/content/docs/using-new-relic/welcome-new-relic/get-started/introduction-new-relic.mdx
Labels: content

#1652 Typo fix
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Labels: content

#1701 fix/correct api key header key
  src/content/docs/apis/rest-api-v2/account-examples-v2/listing-users-your-account.mdx
Labels: content

#1723 DOC-6684 Workloads updates
  src/content/docs/new-relic-one/use-new-relic-one/workloads/images/1_workload_health_tab.png
  src/content/docs/new-relic-one/use-new-relic-one/workloads/images/2_workload_health_tab_with_not_operational.png
  src/content/docs/new-relic-one/use-new-relic-one/workloads/images/workloads_activity_tab.png
  src/content/docs/new-relic-one/use-new-relic-one/workloads/use-workloads.mdx
  src/content/docs/new-relic-one/use-new-relic-one/workloads/workloads-isolate-resolve-incidents-faster.mdx
Labels: content

#1742 Slight improvements/clarifications to capabilities and roles info based on SME feedback
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-managing-users.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
Labels: content

#1750 Adding note requested in issue #1704
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-metric-stream.mdx
Labels: content

#1755 Fix create drop filter screenshot
  src/content/docs/logs/log-management/ui-data/drop-data-drop-filter-rules.mdx
  src/content/docs/logs/log-management/ui-data/images/new-relic-logs-create-drop-filter.png
Labels: content

#1752 DOC-6682: Making some improvements to user mgmt concepts doc
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/add-manage-users-groups-roles.mdx
Labels: content

#1746 Fixing the restoration of API do taxonomy
  src/nav/telemetry-data-platform.yml
Labels: content

#1762 DOC-6673: Small clarification for user capabilities doc
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
Labels: content

#1767 Logs pattern restoration
  src/content/docs/logs/log-management/ui-data/find-unusual-logs-log-patterns-beta.mdx
  src/content/docs/logs/log-management/ui-data/find-unusual-logs-log-patterns.mdx
  src/content/docs/logs/log-management/ui-data/images/log-patterns-beta-example1.png
  src/content/docs/logs/log-management/ui-data/images/log-patterns-beta-more-details.png
  src/content/docs/logs/log-management/ui-data/images/log-patterns-beta-sort-uncategorized.png
  src/content/docs/logs/log-management/ui-data/images/log-patterns-beta-ui-icon.png
  src/content/docs/logs/log-management/ui-data/images/log-patterns-beta-uncategorized.png
  src/content/docs/logs/log-management/ui-data/images/log-patterns-beta-wildcard.png
  src/content/docs/logs/log-management/ui-data/images/log-patterns-example1.png
  src/content/docs/logs/log-management/ui-data/images/log-patterns-logs-without-a-pattern.png
  src/content/docs/logs/log-management/ui-data/images/log-patterns-main-ui-2.png
  src/content/docs/logs/log-management/ui-data/images/log-patterns-main-ui.png
  src/content/docs/logs/log-management/ui-data/images/log-patterns-more-details.png
  src/content/docs/logs/log-management/ui-data/images/log-patterns-ui-nav.png
  src/content/docs/logs/log-management/ui-data/images/log-patterns-wildcard.png
  src/content/docs/logs/log-management/ui-data/images/new-relic-logs-create-drop-filter.png
  src/nav/full-stack-observability.yml
Labels: content

#1780 Clarifying agent versions vs. subscription roles
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/data/whats-new-ids.json
Labels: content

#1348 Fixed typos
  src/content/docs/style-guide/processes-procedures/tech-writer-workflow.mdx
Labels: content

#1642 remove hero image, regen whats-new-ids.json
  src/content/docs/licenses/images/docs-search-licenses_0.png
  src/content/docs/licenses/index.mdx
Labels: content

#1748 Doc 6691 fix 404s part 1
  src/data/taxonomy-redirects.json
Labels: content

#1812 Incorporating peer edits for user migration work DOC-6682
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content

#1813 DOC 6653 Data dictionary edits
  src/components/DataDictionaryFilter.js
Labels: content

#1821 Update no-data-reporting-microsoft-application-insights.mdx
  src/content/docs/agents/net-agent/azure-troubleshooting/no-data-reporting-microsoft-application-insights.mdx
Labels: content

#1806 Add additional pre-condition for log4j1.x Usage
  src/content/docs/logs/enable-log-management-new-relic/logs-context-java/java-configure-log4j-1x.mdx
Labels: content, internal

#1794 This makes it easier to copy and paste these API headers
  src/content/docs/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
Labels: content

#1828 Adds documentation for DEBUG_LOGGING_ENABLED environment variable configuration in aws-log-ingestion lambda
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/aws-lambda-sending-cloudwatch-logs.mdx
Labels: content, internal

#1831 Some small infinite tracing requirements additions
  src/content/docs/distributed-tracing/enable-configure/integrations-enable-distributed-tracing.mdx
  src/content/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
  src/content/docs/distributed-tracing/infinite-tracing/introduction-infinite-tracing.mdx
Labels: content, internal

#1830 Small updates to data dictionary intro wording
  src/i18n/translations/en/translation.json
Labels: content, internal

#1826 Updated how to get the AppID
  src/content/docs/apis/rest-api-v2/get-started/get-app-other-ids-new-relic-one.mdx
  src/content/docs/apis/rest-api-v2/get-started/images/2021-04-14_getAppId.gif
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/mobile-apps-index.mdx
Labels: Jira'd, content, internal

#1840 Add release notes for .NET Agent 8.39.2
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-83902.mdx
Labels: content, internal

#1837 chore: adds release notes for Node.js agent v7.3.1.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-7-3-1.mdx
Labels: content, internal

#1852 Added pre-release promotions.
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/introduction-opentelemetry-new-relic.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-architecture-recipes.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-quick-start.mdx
Labels: content

#1857 Release for Github tags / deployment markers
  .github/workflows/release.yml
Labels: eng

#1858 Step monitor go live
  src/content/docs/synthetics/synthetic-monitoring/getting-started/types-synthetic-monitors.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors.mdx
Labels: content

#1836 Update logs-ui-enhancements.md
  src/content/whats-new/2021/04/logs-ui-enhancements.md
Labels: content, internal

#1860 Tweak WN post title to use sentence case
  src/content/whats-new/2021/04/alert-conditions-from-any-chart.md
Labels: content

#1835 Distributed Tracing for Mobile
  src/content/whats-new/2021/04/distributed-tracing-mobile.md
Labels: content, internal

#1832 Small addition related to making free tier more explicit
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/licenses/license-information/faq/new-relic-one-pricing-plan-frequently-asked-questions.mdx
Labels: content, internal

#1851 Doc 6682 - Some more edits to user migration workflow
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content

#1842 DOC-6568 Incident Intelligence docs reorg
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/eu-us-datacenters-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
  src/nav/alerts-and-applied-intelligence.yml
Labels: content

#1862 Update windows-services-integration.mdx
  src/content/docs/windows-services-integration.mdx
Labels: content, internal

#1866 4-16-native-support-opentelemetry
  src/content/whats-new/2021/04/images/otlp.png
  src/content/whats-new/2021/04/native-support-opentelemetry.md
Labels: content, internal

#1872 Doc 6677 - Improvements to NerdGraph intro and nav
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alerts-nerdgraph/nerdgraph-api-alerts-policies.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alerts-nerdgraph/nerdgraph-api-examples.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alerts-nerdgraph/nerdgraph-api-loss-signal-gap-filling.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alerts-nerdgraph/nerdgraph-api-nrql-condition-alerts.mdx
  src/content/docs/apis/get-started/intro-apis/introduction-new-relic-apis.mdx
  src/content/docs/apis/nerdgraph/examples/configure-infinite-tracing-graphql.mdx
  src/content/docs/apis/nerdgraph/examples/create-widgets-dashboards-api.mdx
  src/content/docs/apis/nerdgraph/examples/export-dashboards-pdfpng-using-api.mdx
  src/content/docs/apis/nerdgraph/examples/export-import-dashboards-using-api.mdx
  src/content/docs/apis/nerdgraph/examples/golden-metrics-entities-nerdgraph-api-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-cloud-integrations-api-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-distributed-trace-data-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-entities-api-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-nrql-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-relationships-api-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-tagging-api-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/use-nerdgraph-manage-license-keys-user-keys.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/tutorials/nerdgraph-workloads-api-tutorials.mdx
  src/content/docs/apis/nerdgraph/tutorials/provisions-your-subscriptions-nerdgraph.mdx
  src/nav/alerts-and-applied-intelligence.yml
  src/nav/telemetry-data-platform.yml
Labels: content

#1876 Small typo fixes and improvements in license category
  src/content/docs/licenses/license-information/product-definitions/legacy-product-definitions.mdx
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
Labels: content

#1883 Update language-agents-enable-distributed-tracing.mdx
  src/content/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
Labels: content, internal

#1882 Update create-metrics-other-data-types.mdx
  src/content/docs/telemetry-data-platform/ingest-manage-data/convert-data-metrics/create-metrics-other-data-types.mdx
Labels: content, internal

#1888 TDP header typo
  src/content/docs/telemetry-data-platform/index.mdx
Labels: content, internal

#1889 feat(k8sReleaseNotes): updated for 2.4.0
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-2-4-0.mdx
Labels: content, internal

#1853 DOC-6696 Update contributor guides
  CONTRIBUTING.md
  src/content/docs/style-guide/writing-guidelines/create-edit-content.mdx
Labels: content, internal

#1893 Removed New Relic Connect document
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/alerts/new-relic-alerts/managing-notification-channels/images/Servuce_Now_Connect.png
  src/content/docs/alerts/new-relic-alerts/managing-notification-channels/new-relic-connect.mdx
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, internal

#1891 Fixing wrong link in auth domain doc
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content

#1901 Fix broken data dictionary links in default events docs
  src/content/docs/infrastructure/manage-your-data/data-instrumentation/default-infrastructure-monitoring-data.mdx
  src/content/docs/insights/event-data-sources/default-events/default-events-reported-new-relic-products.mdx
  src/content/docs/insights/event-data-sources/default-events/events-reported-apm.mdx
  src/content/docs/insights/event-data-sources/default-events/events-reported-browser-monitoring.mdx
  src/content/docs/insights/event-data-sources/default-events/events-reported-mobile-monitoring.mdx
  src/content/docs/insights/event-data-sources/default-events/events-reported-synthetic-monitoring.mdx
  src/content/docs/insights/event-data-sources/default-events/nrauditevent-event-data-query-examples.mdx
  src/content/docs/insights/event-data-sources/default-events/query-account-audit-logs-nrauditevent.mdx
Labels: content

#1909 Adds new req for new version infra-agent
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, internal

#1910 docs: added release notest for infra agent 1.16.4
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1164.mdx
Labels: content, internal

#1912 Elasticsearch integration: Add the description for the new flag maste…
  src/content/docs/integrations/host-integrations/host-integrations-list/elasticsearch-monitoring-integration.mdx
Labels: content, internal

#1875 Documenting create condition from a chart
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/images/in-context-demo.gif
Labels: content, internal

#1918 Add link to user migration doc in original user model doc
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
Labels: content

#1917 Just a small formatting fix
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/notification-channels-control-where-send-alerts.mdx
Labels: content

#1927 Moved definition next to first mention of entities
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/what-entity-new-relic.mdx
Labels: content

#1929 Adding redirect for broken link, and erasing Feb 2021 what's new entry in json file
  src/content/docs/insights/event-data-sources/custom-events/data-requirements-limits-custom-event-data.mdx
  src/data/whats-new-ids.json
Labels: content

#1934 Main changes to fix too many notes and callouts.
  src/content/docs/integrations/grafana-integrations/get-started/grafana-support-prometheus-promql.mdx
  src/content/docs/integrations/grafana-integrations/set-configure/configure-new-relic-prometheus-data-source-grafana.mdx
Labels: content

#1937 docs: infrastructure-agent release-notes 1.16.5
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1165.mdx
Labels: content, internal

#1939 Fixed link as reported in #1938
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests.mdx
Labels: content, internal

#1935 Add documentation for PHP 9.17 release
  src/content/docs/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9170300.mdx
Labels: content, internal

#1949 newrelic/docs-website#1947: Deleting a Deployment Rewording
  src/content/docs/apm/new-relic-apm/maintenance/record-monitor-deployments.mdx
  src/i18n/content/jp/docs/apm/new-relic-apm/maintenance/record-monitor-deployments.mdx
Labels: content

#1950 Added changes to make Agents into "APM agents"
  src/content/docs/integrations/open-source-telemetry-integrations/elixir/elixir-open-source-agent.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/roku/roku-open-source-video-agent.mdx
  src/data/whats-new-ids.json
  src/nav/agents.yml
  src/nav/integrations.yml
  src/nav/new-relic-partnerships.yml
  src/nav/new-relic-security.yml
  src/nav/new-relic-solutions.yml
Labels: content

#1952 Added New Relic One to the left nav on the home page
  src/nav/new-relic-one.yml
Labels: content

#1941 feat: Add data partitions doc page
  src/content/docs/logs/log-management/ui-data/data-partitions.mdx
  src/content/docs/logs/log-management/ui-data/images/create-partition.png
  src/content/docs/logs/log-management/ui-data/images/data-partition.png
  src/content/docs/logs/log-management/ui-data/images/select-partitions.png
  src/data/swiftype-resources.json
Labels: content, internal

#1930 DOC-6581 - New WorkloadStatus event and attributes
  gatsby-config.js
  src/data-dictionary/events/NrAuditEvent/scopeId.md
  src/data-dictionary/events/NrAuditEvent/scopeType.md
  src/data-dictionary/events/NrAuditEvent/targetType.md
  src/data-dictionary/events/Span/entity.name.md
  src/data-dictionary/events/Span/timestamp.md
  src/data-dictionary/events/TransactionError/timestamp.md
  src/data-dictionary/events/WorkloadStatus/WorkloadStatus.event-definition.md
  src/data-dictionary/events/WorkloadStatus/statusValue.md
  src/data-dictionary/events/WorkloadStatus/statusValueCode.md
  src/data-dictionary/events/WorkloadStatus/timestamp.md
  src/data-dictionary/events/WorkloadStatus/workloadGuid.md
Labels: content

#1940 AWS metric stream integration: post-ga updates
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-metric-stream.mdx
Labels: content, internal

#1959 Update language-agents-enable-distributed-tracing.mdx
  src/content/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
Labels: content, internal

#1907 Update references to New Relic's language-specific exporters for OpenTelemetry
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/exporters_infinite_tracing_1.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/no_collector_introduction_0.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/introduction-opentelemetry-new-relic.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-architecture-recipes.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-quick-start.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/troubleshooting/troubleshoot-opentelemetry-exporter.mdx
Labels: content, internal

#1958 Fixing link
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-legacy.mdx
Labels: content, internal

#1946 Update to gatsby v3
  gatsby/wrap-page-element.js
  package.json
  patches/@react-spring+animated+9.0.0-rc.3.patch
  patches/@react-spring+core+9.0.0-rc.3.patch
  patches/@react-spring+shared+9.0.0-rc.3.patch
  patches/gatsby-plugin-meta-redirect+1.1.1.patch
  patches/turndown+6.0.0.patch
  setup-test-env.js
  src/@newrelic/gatsby-theme-newrelic/components/Logo.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/caret-up.js
  src/components/DataDictionaryFilter.js
  src/components/LandingPageHero.js
  src/components/LandingPageTile.js
  src/components/LandingPageTileGrid.js
  src/components/MDXButton.js
  src/components/MDXButtonGroup.js
  src/components/MDXTechTileGrid.js
  src/components/MobileHeader.js
  src/components/PageTitle.js
  src/components/Select.js
  src/components/SkewedContainer.js
  src/components/SubNavigation.js
  src/components/TableOfContents.js
  src/components/TableOfContentsContainer.js
  src/components/TechTile.js
  src/components/TechTileGrid.js
  src/components/Timeline/Item.js
  src/components/Timeline/Timeline.js
  src/components/Watermark.js
  src/layouts/MainLayout.js
  src/pages/attribute-dictionary.js
  src/pages/index.js
  src/pages/whats-new.js
  src/templates/docPage.js
  src/templates/landingPage.js
  src/templates/releaseNote.js
  src/templates/releaseNoteLandingPage.js
  src/templates/tableOfContents.js
  src/templates/whatsNew.js
  yarn.lock
Labels: eng

#1843 Update configuring-your-ssl-certificates.mdx
  src/content/docs/agents/java-agent/configuration/configuring-your-ssl-certificates.mdx
Labels: content, internal

#1972 Add syntax highlighting and fix indentation on code block
  src/content/docs/agents/ruby-agent/background-jobs/resque-instrumentation.mdx
Labels: content, internal

#1969 Updating data dictionary guidelines and making some edits to WorkloadStatus attributes
  gatsby-config.js
  src/content/docs/style-guide/article-templates/data-dictionary-style-guidelines.mdx
  src/data-dictionary/events/NrAuditEvent/timestamp.md
  src/data-dictionary/events/Span/newRelic.ingestPoint.md
  src/data-dictionary/events/Transaction/tripId.md
  src/data-dictionary/events/WorkloadStatus/statusValueCode.md
  src/data-dictionary/events/WorkloadStatus/timestamp.md
Labels: content

#1990 Add what's new post PHP agent image
  src/content/whats-new/2021/04/images/php-agent.png
Labels: content

#1999 fix: referrer field not being sent on sign up
  package.json
  yarn.lock
Labels: eng

#1844 Improve index page sort order
  plugins/gatsby-plugin-auto-index-pages/gatsby-node.js
  src/utils/__tests__/findDeepIndex.text.js
  src/utils/__tests__/sortIndexPage.test.js
  src/utils/findDeepIndex.js
  src/utils/sortIndexPage.js
Labels: eng

#2006 Parsing and log patterns
  src/content/docs/logs/log-management/ui-data/find-unusual-logs-log-patterns.mdx
  src/content/docs/logs/log-management/ui-data/parsing.mdx
Labels: content

#1996 Java Agent release 6.5.0
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-650.mdx
Labels: content

#2005 New AI integration (DOC-6785)
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/integrations/mlops-integrations/algorithmia-mlops-integration.mdx
  src/content/docs/integrations/mlops-integrations/images/algorithmia-flow.png
  src/nav/integrations.yml
Labels: content

#2014 MLops release
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/integrations/mlops-integrations/algorithmia-mlops-integration.mdx
  src/content/docs/integrations/mlops-integrations/images/algorithmia-flow.png
  src/nav/integrations.yml
Labels: content

#2003 NR21-02 Security Bulletin
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-02.mdx
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
  src/nav/new-relic-security.yml
Labels: content

#1956 new limits page
  src/content/docs/telemetry-data-platform/ingest-manage-data/manage-data/images/limits-dashboard.png
  src/content/docs/telemetry-data-platform/ingest-manage-data/manage-data/query-limits.mdx
  src/nav/telemetry-data-platform.yml
Labels: content

#1984 add software development lifecycle and nav
  src/content/docs/security/security-privacy/information-security/software-development-lifecycle.mdx
  src/nav/new-relic-security.yml
Labels: content

#2012 link to CloudWatch docs for AWS namespace support
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-metric-stream.mdx
Labels: content

#2019 chore: removed deployment marker
  .github/workflows/release.yml
Labels: eng

#1993 Add clarifying wording to runner container labels
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-maintenance-monitoring.mdx
Labels: content, internal

#2025 Urgent: important links added for instructions
  src/content/docs/integrations/mlops-integrations/algorithmia-mlops-integration.mdx
Labels: content, internal

#2008 Create whats new ID workflow
  .github/workflows/build-with-swiftype-content.yml
  .github/workflows/update-whats-new-ids.yml
  gatsby-node.js
  package.json
  scripts/actions/generate-whats-new-ids.js
Labels: eng

#1936 feat(containerSample): add swap and storage metrics
  src/data-dictionary/events/ContainerSample/StorageDataAvailableBytes.md
  src/data-dictionary/events/ContainerSample/StorageDataTotalBytes.md
  src/data-dictionary/events/ContainerSample/StorageDataUsagePercent.md
  src/data-dictionary/events/ContainerSample/StorageDataUsedBytes.md
  src/data-dictionary/events/ContainerSample/StorageMetadataAvailableBytes.md
  src/data-dictionary/events/ContainerSample/StorageMetadataTotalBytes.md
  src/data-dictionary/events/ContainerSample/StorageMetadataUsagePercent.md
  src/data-dictionary/events/ContainerSample/StorageMetadataUsedBytes.md
  src/data-dictionary/events/ContainerSample/cpuShares.md
  src/data-dictionary/events/ContainerSample/memoryKernelUsageBytes.md
  src/data-dictionary/events/ContainerSample/memoryResidentSizeBytes.md
  src/data-dictionary/events/ContainerSample/memorySoftLimitBytes.md
  src/data-dictionary/events/ContainerSample/memorySwapLimitBytes.md
  src/data-dictionary/events/ContainerSample/memorySwapLimitUsagePercent.md
  src/data-dictionary/events/ContainerSample/memorySwapOnlyUsageBytes.md
  src/data-dictionary/events/ContainerSample/memorySwapUsageBytes.md
  src/data-dictionary/events/ContainerSample/memoryUsageBytes.md
  src/data-dictionary/events/ContainerSample/memoryUsageLimitPercent.md
  src/data/whats-new-ids.json
Labels: content, internal

#2031 adding release note for release version 3.9.0 of NewRelic for Android
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-390.mdx
Labels: content, internal

#1850 update managed policies for ecs integration
  src/content/docs/integrations/amazon-integrations/get-started/integrations-managed-policies.mdx
Labels: content, internal

#1973 DOC-6763 - Copyright notice sweep
  src/content/docs/agents/net-agent/troubleshooting/net-agent-reports-handled-errors.mdx
  src/content/docs/ios-device-id-obfuscation.mdx
  src/content/docs/licenses/product-or-service-licenses/mobile-app-licenses/android-application-licenses.mdx
  src/content/docs/licenses/product-or-service-licenses/mobile-app-licenses/ios-application-licenses.mdx
  src/content/docs/licenses/product-or-service-licenses/mobile-app-licenses/tvos-application-licenses.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-apm/python-agent-licenses.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-logs/logs-plugin-licenses.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-synthetics/new-relic-synthetics-licenses.mdx
Labels: content, internal

#2038 Bb doc6729
  src/content/docs/logs/log-management/ui-data/data-partitions.mdx
  src/content/docs/logs/log-management/ui-data/drop-data-drop-filter-rules.mdx
  src/content/docs/logs/log-management/ui-data/find-unusual-logs-log-patterns.mdx
  src/content/docs/logs/log-management/ui-data/images/log-drop-filter-create.png
  src/content/docs/logs/log-management/ui-data/images/log-drop-filter042721.png
  src/content/docs/logs/log-management/ui-data/images/log-parsing-rule-ui.png
  src/content/docs/logs/log-management/ui-data/images/log-parsing-rules-list.png
  src/content/docs/logs/log-management/ui-data/images/log-parsing-rules.png
  src/content/docs/logs/log-management/ui-data/images/log-partitions-crop.png
  src/content/docs/logs/log-management/ui-data/images/log-partitions.png
  src/content/docs/logs/log-management/ui-data/images/log-summary-query.png
  src/content/docs/logs/log-management/ui-data/images/logs-ui-042721-summary.png
  src/content/docs/logs/log-management/ui-data/parsing.mdx
  src/content/docs/logs/log-management/ui-data/query-syntax-logs.mdx
  src/content/docs/logs/log-management/ui-data/use-logs-ui.mdx
Labels: content, internal

#2002 DOC 6811 - FedRAMP compliance for Trace API
  src/content/docs/distributed-tracing/trace-api/trace-api-general-requirements-limits.mdx
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
Labels: content

#2004 Edit to NrAuditEvent timestamp definition
  src/data-dictionary/events/NrAuditEvent/timestamp.md
Labels: content

#1989 Some important fixes to pricing docs
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
Labels: content, internal

#2040 updated winlog example
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, internal

#2043 Small edit to account ID doc, correcting wrongness
  src/content/docs/accounts/accounts-billing/account-setup/account-id.mdx
Labels: content

#1985 Update config docs for Ruby Agent
  src/content/docs/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Labels: content

#2049 DOC-6774: Topology work
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/apis/nerdgraph/examples/images/topology-example.png
  src/content/docs/apis/nerdgraph/examples/topology-nerdgraph-tutorial.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/nav/telemetry-data-platform.yml
Labels: content

#2054 Update README and Contributing.md links
  CONTRIBUTING.md
  README.md
  src/content/docs/style-guide/writing-guidelines/create-edit-content.mdx
Labels: content

#2056 Fix to SAML docs; we were lacking context about using IDP apps
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content

#2064 Doc 6031 - Updated screenshots
  src/content/docs/agents/ruby-agent/features/garbage-collection.mdx
  src/content/docs/agents/ruby-agent/features/images/breakdown_table_0.png
  src/content/docs/agents/ruby-agent/features/images/garbage_collection_close.png
  src/content/docs/agents/ruby-agent/features/images/garbage_collection_overview.png
  src/content/docs/agents/ruby-agent/features/images/messages_tab_0.png
  src/content/docs/agents/ruby-agent/features/images/screen-Dev-app-GC091412_0.png
  src/content/docs/agents/ruby-agent/features/images/screen-ruby-gc-select-transaction.png
  src/content/docs/agents/ruby-agent/features/images/trace_details.png
  src/content/docs/agents/ruby-agent/features/images/trace_summary.png
  src/content/docs/agents/ruby-agent/features/images/transaction_trace_1_0.png
  src/content/docs/agents/ruby-agent/features/images/transactions_page.png
  src/content/docs/agents/ruby-agent/features/message-queues.mdx
  src/content/docs/agents/ruby-agent/instrumented-gems/images/overview_graph_0.png
  src/content/docs/agents/ruby-agent/instrumented-gems/images/trace_summary.png
  src/content/docs/agents/ruby-agent/instrumented-gems/images/transaction_graph.png
  src/content/docs/agents/ruby-agent/instrumented-gems/images/transaction_trace_0.png
  src/content/docs/agents/ruby-agent/instrumented-gems/images/transactions_page.png
  src/content/docs/agents/ruby-agent/instrumented-gems/images/web_transactions.png
  src/content/docs/agents/ruby-agent/instrumented-gems/rack-middlewares.mdx
Labels: content, internal

#1987 DOC-6728 Updates for NR1 Intro
  src/content/docs/new-relic-one/use-new-relic-one/get-started/images/NR1-dashboards-1.png
  src/content/docs/new-relic-one/use-new-relic-one/get-started/images/NR1-explorer-intro.png
  src/content/docs/new-relic-one/use-new-relic-one/get-started/images/NR1-query-builder.png
  src/content/docs/new-relic-one/use-new-relic-one/get-started/introduction-new-relic-one.mdx
Labels: content, internal

#2080 Corrected two broken links to external sites.
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/introduction-opentelemetry-new-relic.mdx
Labels: content, internal
