Repository newrelic/docs-website, pull requests merged in 2021-09, with the labels that each got.

#3696 Change to avoid conflation of span.kind with the New Relic concept of process boundaries.
  src/data-dictionary/events/Span/span.kind.md
Labels: content, from_tw

#3736 Update compatibility-requirements-java-agent.mdx
  src/content/docs/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#3738 Fixes some front matter weirdness in lambda doc
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-legacy.mdx
  yarn.lock
Labels: content, pg_observability, from_tw

#3737 Python v3.9 added to compatibility
  src/content/docs/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
Labels: content, from_tw

#3740 Solutions - remove link and update nav name
  src/nav/new-relic-solutions.yml
Labels: content, from_tw, pg_other

#3735 Compliance space improvements - Key management for encryption at rest page
  src/content/docs/security/security-privacy/compliance/key-management-encryption-rest.mdx
Labels: content, from_tw

#3622 Clarifying fedramp status for cloud & on-host integrations
  src/content/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
  src/nav/integrations.yml
Labels: content, from_tw

#3742 Fix Typo In SCIM Documentation
  src/content/docs/accounts/accounts/automated-user-management/tutorial-manage-users-groups-scim.mdx
Labels: content, from_external

#3554 nri-kubernetes: improve helm installation guide and remove custom manifests
  src/content/docs/integrations/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/content/docs/integrations/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/integrations/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/content/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/nav/integrations.yml
Labels: content, from_internal

#3692 TTL 30 days to 3 days
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_internal, pg_AI

#3693 30 days TTL to 3 days
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-violations/how-alert-condition-violations-are-closed.mdx
Labels: content, from_internal, pg_AI

#3743 Fix the hostname attribute for win services
  src/content/docs/integrations/host-integrations/host-integrations-list/windows-services-integration.mdx
Labels: content, from_internal

#3753 Adding Python. 3.9 support to requirements
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/compatibility-requirements-aws-lambda-monitoring.mdx
Labels: content, from_internal

#3751 Updated AQM Impl Guide
  src/content/docs/new-relic-solutions/observability-maturity/aqm-implementation-guide.mdx
Labels: content, from_internal

#3739 chore: adjusting nginx config and content
  src/content/docs/integrations/host-integrations/host-integrations-list/nginx-monitoring-integration.mdx
Labels: content, from_internal

#3757 Fixed typo & remove unsupported NodeJS version
  src/content/docs/infrastructure/install-infrastructure-agent/macos-installation/install-infrastructure-monitoring-agent-macos.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/compatibility-requirements-aws-lambda-monitoring.mdx
Labels: content, from_tw

#3733 solution taxonomy test
  src/content/docs/new-relic-solutions/observability-maturity/index.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/aqm-implementation-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/slm-implementation-guide.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#3759 Update windows-services-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/windows-services-integration.mdx
Labels: content, from_internal

#3727 chore: fix related resources leading slash
  scripts/actions/utils/related-resources-helpers.js
  yarn.lock
Labels: eng

#3754 Updates to Okta SCIM guide, with 'manage users' - DOC-7296
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/images/okta-add-user-type-to-profile.png
  src/content/docs/accounts/accounts/automated-user-management/images/okta-define-user-type.png
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
  src/content/docs/style-guide/processes-procedures/understand-edit-docs-site-structure.mdx
Labels: content, from_tw

#3765 Typo fix
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
Labels: content, from_tw

#3766 Making 'license key' lower case
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
Labels: content, from_tw

#3761 OMA bb khickey
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/bofta-implementation-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/cx-improve-page-load.mdx
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/cx-improve-web-uptime.mdx
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/cx-botfa-car_insurance.png
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/cx-botfa-dashboard.png
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/cx-botfa-ecommerce.png
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/cx-botfa-kpi-tracking.png
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/cx-botfa-pages-actions.png
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/cx-what-you-can-measure-nr.png
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/cx_page_load_render_timings.png
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/cx_qf_dashboard.png
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/cx_qf_kpi_progress.png
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/cx_segment_whitelist_investigation.png
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/oma-v-drivers.png
  src/content/docs/new-relic-solutions/observability-maturity/index.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/images/nrAQMIncidentFlow.png
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/images/nrSLMAttainment.png
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/images/nrSLMDependencyMap.png
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/images/nrSLMServiceMap.png
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/images/nrSLMTransactionBreakdown.png
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/images/nrSLMp95Overview.png
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/images/oma-v-drivers.png
  src/nav/new-relic-solutions.yml
Labels: content, pg_growth, from_tw

#3749 DOC-7267 A variety of Alerts docs fixes
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/update-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/view-or-update-user-email-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/create-edit-or-find-alert-policy.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/update-or-disable-policies-conditions.mdx
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, pg_AI, from_tw

#3772 Update configure-logs-context-apm-agents.mdx
  src/content/docs/logs/enable-log-management-new-relic/configure-logs-context/configure-logs-context-apm-agents.mdx
Labels: content, pg_TDP, from_tw

#3763 DOC-7263 - Implementing CrazyEgg
  src/components/SEO.js
Labels: sp:1, eng

#3773 Small addition to user type capabilities list
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
Labels: content, from_tw

#3768 chore: improve redis config and content
  src/content/docs/integrations/host-integrations/host-integrations-list/redis-monitoring-integration.mdx
Labels: content, from_internal

#3774 fixed a typo.
  src/content/docs/accounts/accounts/account-maintenance/change-passwords-user-preferences.mdx
Labels: content, from_tw

#3769 Add allow and deny list examples for remote write
  src/content/docs/integrations/prometheus-integrations/install-configure-remote-write/set-your-prometheus-remote-write-integration.mdx
Labels: content, from_internal

#3778 Update ruby-agent-requirements-supported-frameworks.mdx
  src/content/docs/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
Labels: content, from_internal

#3780 Minor spelling error
  src/content/docs/infrastructure/new-relic-infrastructure/infrastructure-ui-pages/events-heatmap-examine-patterns-time-range.mdx
Labels: content, from_internal

#3782 Release notes for Go Agent v3.15.0
  src/content/docs/agents/go-agent/get-started/go-agent-compatibility-requirements.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-15-0.mdx
Labels: content, from_tw

#3762 chore: add quick_starts to related resources
  gatsby-config.js
Labels: eng

#3770 Update to auth domain UI about managing user type via SCIM API
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
Labels: content, from_tw

#3786 chore: adjusting varnish config and content
  src/content/docs/integrations/host-integrations/host-integrations-list/varnish-cache-monitoring-integration.mdx
Labels: content, from_internal, pg_observability

#3791 Revert "chore: adjusting varnish config and content"
  src/content/docs/integrations/host-integrations/host-integrations-list/varnish-cache-monitoring-integration.mdx
Labels: content, from_internal

#3787 chore: improve apache config and content
  src/content/docs/integrations/host-integrations/host-integrations-list/apache-monitoring-integration.mdx
Labels: content, from_internal, pg_observability

#3795 updating to add more descriptive overview of the problem and solution
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-troubleshooting-no-devices.mdx
Labels: content, from_internal, pg_observability

#3785 Spelling Correction in Services and Endpoints scrape behaviour Section
  src/content/docs/integrations/prometheus-integrations/install-configure-openmetrics/configure-prometheus-openmetrics-integrations.mdx
Labels: content, from_external, pg_TDP

#3796 Update php-agent-compatibility-requirements.mdx
  src/content/docs/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#3798 Fix wrong data in Varnish doc
  src/content/docs/integrations/host-integrations/host-integrations-list/varnish-cache-monitoring-integration.mdx
Labels: content, from_internal

#3784 Redirected broken mobile toc link
  src/content/docs/mobile-monitoring/index.mdx
  yarn.lock
Labels: content, pg_observability, from_tw

#3790 fix(style guide): Clarify how to refer to the docs site itself
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/alert-custom-violation-descriptions.mdx
  src/content/docs/browser/new-relic-browser/browser-agent-spa-api/setcustomattribute-browser-agent-api.mdx
  src/content/docs/integrations/prometheus-integrations/install-configure-remote-write/prometheus-remote-write-integration.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
  src/content/docs/new-relic-partnerships/partner-integration-guide/getting-started/support-resources-new-relic-partners.mdx
  src/content/docs/security/index.mdx
  src/content/docs/style-guide/article-templates/basic-doc-template.mdx
  src/content/docs/style-guide/article-templates/create-release-notes.mdx
  src/content/docs/style-guide/article-templates/whats-new-style-guidelines.mdx
  src/content/docs/style-guide/processes-procedures/docs-site-edit-checklist.mdx
  src/content/docs/style-guide/processes-procedures/embed-videos.mdx
  src/content/docs/style-guide/processes-procedures/use-content-types-text-formats.mdx
  src/content/docs/style-guide/quick-reference/callouts.mdx
  src/content/docs/style-guide/quick-reference/tables.mdx
  src/content/docs/style-guide/quick-reference/usage-dictionary.mdx
  src/content/docs/style-guide/writing-guidelines/create-edit-content.mdx
  src/content/docs/style-guide/writing-guidelines/docs-translation.mdx
  src/content/docs/style-guide/writing-guidelines/five-questions-help-write-docs.mdx
  src/content/docs/style-guide/writing-guidelines/hyperlinks.mdx
  src/content/docs/style-guide/writing-guidelines/levels-headings.mdx
  src/content/docs/style-guide/writing-guidelines/screenshots-images.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/find-help-use-support-portal.mdx
Labels: content, from_tw

#3792 Clarification to basic user info
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
Labels: content, from_tw

#3808 Small edit to user type capabilities
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
Labels: content, from_tw

#3802 Adding `yarn.lock` back to the repository
  yarn.lock
Labels: eng, from_internal

#3809 Update compatibility-requirements-java-agent.mdx
  src/content/docs/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_tw

#3816 Added Pixie integration network requirements
  src/content/docs/using-new-relic/cross-product-functions/install-configure/networks.mdx
Labels: content, from_internal

#3805 fix: update language on step 4
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
Labels: content, from_internal

#3804 Ohi mssql improvements
  src/content/docs/integrations/host-integrations/host-integrations-list/microsoft-sql-server-monitoring-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/mysql-monitoring-integration.mdx
Labels: content, from_internal, pg_observability

#3818 Removing old beta watermark for Trusted Advisor integration
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-trusted-advisor-integration.mdx
Labels: content, from_internal

#3800 chore: improve mysql config and content
  src/content/docs/integrations/host-integrations/host-integrations-list/mysql-monitoring-integration.mdx
Labels: content, from_internal

#3819 Ohi oracle improvements
  src/content/docs/integrations/host-integrations/host-integrations-list/microsoft-sql-server-monitoring-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
Labels: content, from_internal

#3821 Update create-nrql-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_internal

#3806 Add release notes for Java agent 7.2.0
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-720.mdx
Labels: content, from_internal

#3814 Typo Update visualize-network-data.mdx
  src/content/docs/network-performance-monitoring/monitoring-network-data/visualize-network-data.mdx
Labels: content, from_internal

#3815 Small change to FedRAMP info in table
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
Labels: content, from_tw

#3820 Kafka v4 config samples and improvements
  src/content/docs/integrations/host-integrations/host-integrations-list/kafka-monitoring-integration.mdx
Labels: content, from_internal

#3825 chore: improve elasticsearch config and content
  src/content/docs/integrations/host-integrations/host-integrations-list/elasticsearch-monitoring-integration.mdx
Labels: content, from_internal

#3827 Updates Messaging to better explain RabbitMQ support
  src/content/docs/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#3826 Update newrelic_notice_error.mdx
  src/content/docs/agents/php-agent/php-agent-api/newrelic_notice_error.mdx
Labels: content, from_internal

#3834 [DOC-7243] Remove watermarks I
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/add-manage-users-groups-roles.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-managing-users.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/tutorial-add-new-user-groups-roles-new-relic-one-user-model.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-mgmt-videos.mdx
  src/content/docs/accounts/accounts/account-maintenance/set-session-timeouts.mdx
  src/content/docs/accounts/accounts/roles-permissions/bulk-user-actions-add-delete-or-update-batches-users.mdx
  src/content/docs/accounts/accounts/saml-single-sign/add-users-saml-accounts.mdx
  src/content/docs/accounts/accounts/saml-single-sign/delete-sso-configuration.mdx
  src/content/docs/accounts/accounts/saml-single-sign/maintain-sso-settings.mdx
  src/content/docs/accounts/accounts/saml-single-sign/new-relic-partners-saml-sso.mdx
  src/content/docs/accounts/accounts/saml-single-sign/saml-service-providers.mdx
  src/content/docs/accounts/accounts/saml-single-sign/set-sso.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/apm-cu-based-subscription-usage.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/apm-host-based-subscription-usage.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/infrastructure-subscription-usage.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/insights-subscription-usage.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/introduction-new-relic-subscription-usage-data.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/mobile-subscription-usage.mdx
  src/content/docs/accounts/new-relic-account-usage/getting-started-usage/synthetics-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-data-retention/event-data-retention-original-pricing-plan.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/browser-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/original-account-structure.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/parent-child-account-structure.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/product-based-pricing/overview-data-retention-components.mdx
  src/content/docs/accounts/original-accounts-billing/product-based-pricing/trial-lite-accounts-deprecated.mdx
  src/content/docs/gateway-api-import-data-other-observability-platforms.mdx
  src/content/docs/instrumentation-editor-instrument-net-ui.mdx
Labels: content, pg_XD, from_tw

#3836 RabbitMQ adapt documentation to config V4
  src/content/docs/integrations/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
Labels: content, from_internal

#3840 Fixed broken link
  src/content/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_tw

#3839 Minor change in macOS install command
  src/content/docs/infrastructure/install-infrastructure-agent/macos-installation/install-infrastructure-monitoring-agent-macos.mdx
Labels: content, from_internal

#3835 [DOC-7243] Remove watermarks II
  src/content/docs/accounts-partnerships/accounts/saml-single-sign/configure-saml-multiple-accounts.mdx
  src/content/docs/accounts/original-accounts-billing/product-pricing/product-based-pricing.mdx
  src/content/docs/agents/manage-apm-agents/configuration/enable-configurable-security-policies.mdx
  src/content/docs/agents/net-agent/troubleshooting/new-relic-net-status-monitor.mdx
  src/content/docs/agents/net-agent/troubleshooting/technical-support-net-framework-40-or-lower.mdx
  src/content/docs/agents/ruby-agent/features/developer-mode.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/proactive-detection/expanded-anomaly-detection.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/condition-recommendations.mdx
  src/content/docs/apis/nerdgraph/tutorials/nerdgraph-workloads-api-tutorials.mdx
  src/content/docs/apis/rest-api-v1-deprecated/new-relic-rest-api-v1/working-new-relic-rest-api-v1-deprecated.mdx
  src/content/docs/apis/rest-api-v2/labels-examples-v2/create-labels-apps-v2.mdx
  src/content/docs/infrastructure/manage-your-data/data-instrumentation/host-integrations-metrics.mdx
  src/content/docs/integrations/amazon-integrations/get-started/aws-integrations-metrics.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-bigtable-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-composer-monitoring-integration.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-memorystore-memcached.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/gcp-integrations-list/google-memorystore-redis.mdx
  src/content/docs/integrations/google-cloud-platform-integrations/get-started/gcp-integration-metrics.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/windows-services-integration.mdx
  src/content/docs/integrations/kubernetes-integration/installation/install-kubernetes-integration-windows.mdx
  src/content/docs/integrations/microsoft-azure-integrations/azure-integrations-list/azure-virtual-machines-scale-sets-monitoring-integration.mdx
  src/content/docs/integrations/microsoft-azure-integrations/get-started/azure-integration-metrics.mdx
  src/content/docs/licenses/license-information/usage-plans/product-based-pricing-usage-new-relic-platform-pricing-usage-plan.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/map-page-mobile-apps-deprecated.mdx
  src/content/docs/plugins/plugins-new-relic/custom-dashboards-custom-views/custom-dashboards-v2-legacy.mdx
  src/content/docs/plugins/plugins-new-relic/custom-dashboards-custom-views/custom-views-deprecated.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/query-infrastructure-dimensional-metrics-nrql.mdx
  src/content/docs/style-guide/article-templates/create-release-notes.mdx
  src/content/docs/style-guide/processes-procedures/use-content-types-text-formats.mdx
  src/content/docs/style-guide/quick-reference/callouts.mdx
  src/content/docs/style-guide/quick-reference/capitalization.mdx
  src/content/docs/style-guide/quick-reference/usage-dictionary.mdx
  src/content/docs/synthetics/new-relic-synthetics/synthetics-api/synthetics-rest-api-version-1.mdx
Labels: content, pg_XD, from_tw

#3843 chore: improve cassandra config and content
  src/content/docs/integrations/host-integrations/host-integrations-list/cassandra-monitoring-integration.mdx
Labels: content, from_internal

#3841 chore: improve mongodb config and content
  src/content/docs/integrations/host-integrations/host-integrations-list/mongodb-monitoring-integration.mdx
Labels: content, from_internal

#3828 Additions to 'docs site structure' style guide
  src/content/docs/style-guide/processes-procedures/understand-edit-docs-site-structure.mdx
Labels: content, from_tw

#3844 chore: improve consul config and content
  src/content/docs/integrations/host-integrations/host-integrations-list/hashicorp-consul-monitoring-integration.mdx
Labels: content, from_internal

#3850 chore: added release notes for Node Agent v8.2.0 and v8.3.0
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-8-2-0.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-8-3-0.mdx
Labels: content, from_internal

#3758 [DOC-7242] Lambda env var
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-example.mdx
  src/nav/full-stack-observability.yml
Labels: content, pg_observability, from_tw

#3666 [DOC-7183] NRQL console
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/nrql-console.mdx
  src/nav/new-relic-in-practice.yml
Labels: content, pg_TDP, from_tw

#3846 feat: adding new dashboard to npm visualization instructions
  src/content/docs/network-performance-monitoring/get-started/npm-introduction.mdx
  src/content/docs/network-performance-monitoring/monitoring-network-data/img/dashboard_Data_Ingest_and_Cardinality.png
  src/content/docs/network-performance-monitoring/monitoring-network-data/img/dashboard_Routers_and_Switches.png
  src/content/docs/network-performance-monitoring/monitoring-network-data/visualize-network-data.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal

#3855 Postgresql v4 config docs
  src/content/docs/integrations/host-integrations/host-integrations-list/postgresql-monitoring-integration.mdx
Labels: content, from_internal

#3856 chore: improve couchbase config and content
  src/content/docs/integrations/host-integrations/host-integrations-list/couchbase-monitoring-integration.mdx
Labels: content, from_internal

#3857 Nagios config in V4 format
  src/content/docs/integrations/host-integrations/host-integrations-list/nagios-monitoring-integration.mdx
Labels: content, from_internal

#3849 Update manage-synthetics-monitors-rest-api.mdx
  src/content/docs/apis/synthetics-rest-api/monitor-examples/manage-synthetics-monitors-rest-api.mdx
Labels: content, from_external

#3861 Fixed problem with KPI reference.
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/aqm-implementation-guide.mdx
Labels: content, from_internal

#3860 Memcached config in V4 format
  src/content/docs/integrations/host-integrations/host-integrations-list/memcached-monitoring-integration.mdx
Labels: content, from_internal

#3867 Update ruby-agent-requirements-supported-frameworks.mdx
  src/content/docs/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
Labels: content, from_internal

#3862 chore: improve HAProxy config and content
  src/content/docs/integrations/host-integrations/host-integrations-list/haproxy-monitoring-integration.mdx
Labels: content, from_internal

#3871 chore: add node agent env vars
  src/content/docs/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#3876 Added link to latest function
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, pg_TDP, from_tw

#3877 fix typo in oracle integration doc
  src/content/docs/integrations/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
Labels: content, from_internal, pg_observability

#3609 Update docs for otel span errors and exceptions
  src/content/docs/distributed-tracing/ui-data/understand-use-distributed-tracing-ui.mdx
Labels: content, from_internal

#3884 fix(User management): Invalid Markdown syntax was breaking this link
  src/content/docs/accounts/accounts-billing/account-structure/account-id.mdx
  src/content/docs/accounts/accounts-billing/account-structure/add-accounts.mdx
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/add-manage-users-groups-roles.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-managing-users.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-saml-scim.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/original-account-structure.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/parent-child-account-structure.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/new-relic-partnerships/partner-integration-guide/partner-account-maintenance/partner-api.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-account-object.mdx
  src/content/docs/style-guide/quick-reference/usage-dictionary.mdx
  src/content/docs/telemetry-data-platform/manage-data/manage-data-coming-new-relic.mdx
  src/content/docs/telemetry-data-platform/manage-data/manage-data-retention.mdx
  src/content/docs/telemetry-data-platform/manage-data/manage-your-data.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/glossary.mdx
Labels: content, pg_UXP, from_tw

#3882 Fix: adding 'view usage' to list of UIs, fixing links
  src/content/docs/accounts/accounts-billing/general-account-settings/introduction-account-settings.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-users/usage-queries-alerts.mdx
Labels: content, from_tw

#3887 Fixing broken link for AuthO NR integration
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content, from_tw

#3776 Oma qf bb khickey
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/quality-foundation-implementation-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/index.mdx
  src/nav/new-relic-solutions.yml
Labels: content, pg_growth, from_tw

#3829 Release Notes JSON Description Field
  gatsby-config.js
Labels: eng, from_external

#3868 chore: updating gatsby-plugin-mdx
  package.json
  yarn.lock
Labels: eng, deven services

#3891 note about tags limitation for metric streams
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-metric-stream.mdx
Labels: content, from_internal, pg_observability

#3892 Removing beta and adding note about all AWS metrics supported
  src/content/docs/integrations/amazon-integrations/get-started/aws-integrations-metrics.mdx
Labels: content, from_internal, pg_observability

#3357 New content for span events.
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/explorer_otel_services.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/span-events-exceptions.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/view-span-errors.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/view-span-events.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-legacy-new-relic-exporters.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/view-your-opentelemetry-data-new-relic.mdx
Labels: content, from_tw

#3888 chore: deprecate CAT in Node.js agent documentation.
  src/content/docs/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#3900 Fix: add nerdgraph task to 'remove apps' docs
  src/content/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
Labels: content, from_tw

#3886 Fix: additions related to SQL Server requirements
  src/content/docs/integrations/host-integrations/host-integrations-list/microsoft-sql-server-monitoring-integration.mdx
Labels: content, from_tw

#3902 Add "tagging" method
  src/content/docs/infrastructure/infrastructure-alerts/infrastructure-alert-conditions/create-infrastructure-host-not-reporting-condition.mdx
Labels: content, from_internal, pg_observability

#3893 chore: Updating gRPC compatibility
  src/content/docs/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal, pg_UXP

#3906 new release note for version 3.14.7
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-3147.mdx
Labels: content, from_internal, pg_observability

#3905 chore - update Firehose docs
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/stream-logs-using-kinesis-data-firehose.mdx
Labels: content, from_internal, pg_TDP

#3908 docs: provide additional instructions to users on update 3.9.0
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-390.mdx
Labels: content, from_internal, pg_UXP

#3909 Fixing Infra proxy settings example
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, pg_observability, from_tw

#3833 Pixie updates - moved install info to new page and updated
  src/content/docs/auto-telemetry-pixie/get-started-auto-telemetry-pixie.mdx
  src/content/docs/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
  src/nav/full-stack-observability.yml
Labels: content, from_tw

#3901 User migration procedure: clarify number of accounts requirement
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-saml-scim.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content, from_tw

#3914 fix(Pixie): updates around using same email address and other edits.
  src/content/docs/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
Labels: content, from_tw, pg_pixie

#3915 fix(SCIM): clarify how 'manage user type via SCIM' works
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content, from_tw

#3917 Clarifying after chat w/ Siva
  src/content/docs/infrastructure/infrastructure-alerts/infrastructure-alert-conditions/create-infrastructure-host-not-reporting-condition.mdx
Labels: content, from_internal

#3918 chore: java configuration - removing conflicting duplicate entry
  src/content/docs/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content

#3851 Security-policy.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-policy.mdx
Labels: content, from_internal

#3135 Update AJAX Request property descriptions to note that all AJAX Reque…
  src/content/docs/telemetry-data-platform/understand-data/event-data/events-reported-browser-monitoring.mdx
  src/data-dictionary/events/AjaxRequest/timeToLastCallbackEnd.md
  src/data-dictionary/events/AjaxRequest/timeToSettle.md
  src/data-dictionary/events/BrowserInteraction/jsDuration.md
Labels: content, from_internal, pg_observability

#3824 Created OE Quadrant and SC Use Case
  src/content/docs/new-relic-solutions/observability-maturity/index.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-databases.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-error-attributes.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-external-services.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-service-diagram.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-summary-client.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-summary-components.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-synthetics-menu.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-transaction-attributes.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-transaction-breakdown-histogram-non-normal.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-transaction-breakdown-histogram-normal.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-transaction-breakdown-weighted.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-transaction-breakdown.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-transaction-components.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-transaction-nrql-custom-attributes.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/oma-oe-sc-transaction-nrql-feature-flag.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/sc-implementation-guide.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_internal, pg_growth

#3931 Update of the supported Kubernetes versions
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal, pg_observability

#3898 Explaining metric streams vs API polling
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-metric-stream.mdx
  src/content/docs/integrations/amazon-integrations/get-started/connect-aws-govcloud-new-relic.mdx
  src/content/docs/integrations/amazon-integrations/get-started/connect-aws-new-relic-infrastructure-monitoring.mdx
  src/content/docs/integrations/amazon-integrations/get-started/integrations-managed-policies.mdx
  src/content/docs/integrations/amazon-integrations/get-started/introduction-aws-integrations.mdx
  src/content/docs/integrations/amazon-integrations/get-started/polling-intervals-aws-integrations.mdx
  src/content/docs/integrations/amazon-integrations/troubleshooting/no-data-appears-aws-integrations.mdx
  src/content/docs/integrations/amazon-integrations/troubleshooting/no-data-metric-streams.mdx
  src/nav/integrations.yml
Labels: content, from_internal, pg_observability

#3930 JMX : Add config V4 examples and reformat args
  src/content/docs/integrations/host-integrations/host-integrations-list/jmx-monitoring-integration.mdx
Labels: content, from_internal, pg_observability

#3933 Update synthetic-monitoring-aggregate-monitor-metrics.mdx
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-aggregate-monitor-metrics.mdx
Labels: content, from_internal, pg_observability

#3936 fix(security): SOC2 now for programmability
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
Labels: content, from_internal

#3938 fix(thread profiler tool): image wrongness
  src/content/docs/apm/apm-ui-pages/events/thread-profiler-tool.mdx
Labels: content, from_tw

#3943 Add Python Release v6.10.0.165
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-61000165.mdx
Labels: content, from_external

#3940 Remove "need to change environment" bullet point
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
Labels: content, from_internal

#3771 feat(Licenses): Added new security guide.
  src/content/docs/licenses/license-information/referenced-policies/security-guide.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-policy.mdx
  src/nav/licenses.yml
Labels: content, from_tw

#3811 Net agent v9.0 doc changes.
  src/content/docs/agents/net-agent/attributes/custom-attributes-net.mdx
  src/content/docs/agents/net-agent/attributes/enable-disable-attributes-net.mdx
  src/content/docs/agents/net-agent/attributes/net-agent-attributes.mdx
  src/content/docs/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/agents/net-agent/getting-started/8x-to-9x-agent-migration-guide.mdx
  src/content/docs/agents/net-agent/net-agent-api/addcustomparameter-net-agent-api.mdx
  src/content/docs/agents/net-agent/net-agent-api/idistributedtracepayload-net-agent-api.mdx
  src/content/docs/agents/net-agent/net-agent-api/itransaction.mdx
  src/content/docs/agents/net-agent/net-agent-api/set-user-parameters.mdx
  src/nav/full-stack-observability.yml
Labels: content, from_internal

#3912 chore: improve SNMP config and content
  src/content/docs/integrations/host-integrations/host-integrations-list/snmp-monitoring-integration.mdx
Labels: content, from_internal

#3947 feat: add new data partition rules mutation on nerdgraph
  src/content/docs/apis/nerdgraph/examples/nerdgraph-data-partition-rules-tutorial.mdx
Labels: content, from_internal, pg_UXP

#3948 Add a disclaimer to clarify the content of the page only applies to t…
  src/content/docs/integrations/host-integrations/host-integrations-list/windows-services-integration.mdx
Labels: content, from_internal, pg_observability

#3949 add VARNISH_NAME
  src/content/docs/integrations/host-integrations/host-integrations-list/varnish-cache-monitoring-integration.mdx
Labels: content, from_internal, pg_observability

#3945 fix(data retention): added more detail to the metric rollup info.
  src/content/docs/telemetry-data-platform/manage-data/manage-data-retention.mdx
Labels: content, pg_TDP, from_tw

#3950 Added limitation regarding control planes
  src/content/docs/integrations/kubernetes-integration/installation/configure-control-plane-monitoring.mdx
Labels: content, from_internal, pg_UXP

#3955 Update docs for infinite tracing FedRAMP support
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_internal

#3952 Update last modified date on page
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
Labels: pg_legal, content, from_external

#3958 Update Python instrumented packages with GraphQL frameworks.
  src/content/docs/agents/python-agent/getting-started/instrumented-python-packages.mdx
Labels: content, from_internal

#3957 Removed broken RSS feed
  src/content/docs/licenses/license-information/referenced-policies/security-guide.mdx
Labels: content, from_internal

#3956 fix(data management): tweaked wording fixed typo
  src/content/docs/telemetry-data-platform/manage-data/manage-data-retention.mdx
Labels: content, from_internal, pg_TDP

#3959 Evening merge to main 9/17/2021
  src/content/docs/agents/python-agent/getting-started/instrumented-python-packages.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-guide.mdx
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
  src/content/docs/telemetry-data-platform/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#3963 chore: 'update the newrelic.yml' named anchor shown on subtitle
  src/content/docs/agents/ruby-agent/installation/ruby-agent-installation-rails-plugin.mdx
Labels: content, from_external

#3965 add nri-kubernetes 2.7.1 release
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-2-7-1.mdx
Labels: content, from_external

#3964 add missing config nri-postgres
  src/content/docs/integrations/host-integrations/host-integrations-list/postgresql-monitoring-integration.mdx
Labels: content, from_internal

#3967 Specify how to use attributes configuration parameter to set up logtype of log records
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#3968 Adding AWS VPC the list of special integrations
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-metric-stream.mdx
  src/content/docs/integrations/amazon-integrations/get-started/introduction-aws-integrations.mdx
Labels: content, from_internal

#3954 Whats-New-9-20-Errors-Inbox-APM-Slack
  src/content/whats-new/2021/09/images/apm-screen-errors-inbox.png
  src/content/whats-new/2021/09/whats-new-errors-inbox-slack-apm.md
Labels: marketing, content, from_internal, what's new

#3975 feat(synth): add example proxy setting
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/set-proxy-settings-properties-scripted-monitors.mdx
Labels: content, from_tw

#3980 feat: Synthetics CPM Version 3.0.49 Notes
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3049.mdx
Labels: content, from_internal

#3981 chore(Logs): Move doc in taxonomy
  src/content/docs/logs/log-management/troubleshooting/json-message-not-parsed.mdx
  src/nav/full-stack-observability.yml
Labels: content, pg_TDP, from_tw

#3985 Added maximum time interval for alert conditions
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/set-thresholds-alert-condition.mdx
Labels: content, pg_AI, from_tw

#3986 Add Azure log forwarding docs
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/azure-log-forwarding.mdx
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/images/azure-tile.png
  src/nav/full-stack-observability.yml
Labels: content, from_internal

#3966 chore: improve OHI configuration files to adhere to new recommended f…
  src/content/docs/create-integrations/infrastructure-integrations-sdk/specifications/host-integration-configuration-overview.mdx
  src/content/docs/create-integrations/infrastructure-integrations-sdk/specifications/host-integration-files.mdx
  src/content/docs/create-integrations/infrastructure-integrations-sdk/specifications/host-integrations-legacy-configuration-format.mdx
  src/content/docs/create-integrations/infrastructure-integrations-sdk/specifications/host-integrations-newer-configuration-format.mdx
  src/content/docs/create-integrations/infrastructure-integrations-sdk/specifications/host-integrations-standard-configuration-format.mdx
  src/nav/full-stack-observability.yml
Labels: content, from_external

#3750 Android agent documents update
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/set-max-event-buffer-time.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/set-max-event-pool-size.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/set-max-event-buffer-time.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/set-max-event-pool-size.mdx
Labels: content, from_internal, pg_observability

#3961 fix(Pixie): added info on exclude parameters
  src/content/docs/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
Labels: content, from_tw, pg_pixie
