Repository newrelic/docs-website, pull requests merged in 2021-03, with the labels that each got.

#1090 Use htmlAST instead of html in whats-new json
  gatsby-config.js
  plugins/gatsby-plugin-generate-json/gatsby-node.js
Labels: eng

#1052 Fix minor style guide issues
  src/content/docs/style-guide/article-templates/create-release-notes.mdx
  src/content/docs/style-guide/article-templates/event-data-dictionary-style-guidelines.mdx
  src/content/docs/style-guide/article-templates/whats-new-style-guidelines.mdx
  src/content/docs/style-guide/processes-procedures/publication-checklist.mdx
  src/content/docs/style-guide/processes-procedures/rename-or-redirect-document.mdx
  src/content/docs/style-guide/quick-reference/code-examples.mdx
  src/content/docs/style-guide/quick-reference/example-box-clamshell.mdx
  src/content/docs/style-guide/quick-reference/images/tables-example.png
  src/content/docs/style-guide/writing-guidelines/code-formatting-guidelines-var-mark.mdx
  src/nav/style-guide.yml
Labels: content

#1094 PR for any tech writers: Updated TOC in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: content

#1104 Add python-agent-620156.mdx.
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-620156.mdx
Labels: content

#1075 updated contributor guide
  CONTRIBUTING.md
Labels: documentation

#1097 chore: Gitignore idea, and hyperlink the local server
  .gitignore
  CONTRIBUTING.md
Labels: eng

#1108 Add missing ruby release notes redirect
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/index.mdx
Labels: content

#1091 Bugfix: Grafana spelled "Graphana"
  src/content/docs/integrations/grafana-integrations/set-configure/configure-new-relic-prometheus-data-source-grafana.mdx
Labels: content

#1114 Remove windows installation instructions
  src/content/docs/integrations/host-integrations/host-integrations-list/snmp-monitoring-integration.mdx
Labels: content

#1115 Remove Windows installation instructions
  src/content/docs/integrations/host-integrations/host-integrations-list/apache-monitoring-integration.mdx
Labels: content

#1116 Remove windows installation instructions
  src/content/docs/integrations/host-integrations/host-integrations-list/cassandra-monitoring-integration.mdx
Labels: content

#1118 Remove windows install instructions
  src/content/docs/integrations/host-integrations/host-integrations-list/nginx-monitoring-integration.mdx
Labels: content

#1127 AUM edits
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
Labels: content

#1122 Link to blog post from banner, update end date
  src/announcements/docs-ga-banner.mdx
Labels: content

#1117 Remove windows install instructions
  src/content/docs/integrations/host-integrations/host-integrations-list/mysql-monitoring-integration.mdx
Labels: content

#1068 Peer feedback on style guide docs: landing page, navigation, embed images, and multiple menu docs
  src/content/docs/style-guide/article-templates/landing-page-template.mdx
  src/content/docs/style-guide/processes-procedures/embed-images.mdx
  src/content/docs/style-guide/processes-procedures/images/NR1-dashboards-image.png
  src/content/docs/style-guide/processes-procedures/images/icon-settings.png
  src/content/docs/style-guide/processes-procedures/images/translation-info.png
  src/content/docs/style-guide/processes-procedures/update-left-navigation-pane.mdx
  src/nav/style-guide.yml
Labels: content

#1084 Added schema definition for `grid_column_count`
  src/content/docs/insights/event-data-sources/insights-api/insights-dashboard-api.mdx
Labels: content

#1131 Add redirect to browser API page
  src/content/docs/browser/new-relic-browser/browser-agent-spa-api/index.mdx
Labels: content

#1120 Update tvOS instructions to match new workflow
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/tvos/cocoapods-tvos-installation-configuration.mdx
Labels: content

#1089 Combine redundant security bulletins
  src/content/docs/security/new-relic-security/security-bulletins/covid-19.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr20-01.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr20-02.mdx
  src/content/docs/security/new-relic-security/security-bulletins/solarwinds-orion.mdx
  src/nav/new-relic-security.yml
Labels: content

#854 DOC-6245 style guide edits
  src/manual-edits/content/docs/new-relic-only/tech-writer-style-guide/writing-guidelines/api-tutorial-template.mdx
  src/manual-edits/content/docs/new-relic-only/tech-writer-style-guide/writing-guidelines/apistyleguidelines-example-agent-api.mdx
Labels: content, waiting on contributor

#848 Style guide changes - DOC-6450
  src/manual-edits/content/docs/new-relic-only/tech-writer-style-guide/article-templates/agent-api-guide-template.mdx
  src/manual-edits/content/docs/new-relic-only/tech-writer-style-guide/article-templates/attribute-definition-template.mdx
  src/manual-edits/content/docs/new-relic-only/tech-writer-style-guide/article-templates/graphql-api-tutorial-template.mdx
  src/manual-edits/content/docs/new-relic-only/tech-writer-style-guide/article-templates/html-template.mdx
  src/manual-edits/content/docs/new-relic-only/tech-writer-style-guide/article-templates/troubleshooting-docs-guide.mdx
Labels: content, question, waiting on contributor

#1135 Ensure srcset property uses absolute image path
  rehype-plugins/utils/addAbsoluteImagePath.js
Labels: eng

#1140 Create redirects for data dictionary event pages
  plugins/gatsby-source-data-dictionary/gatsby-node.js
Labels: eng

#1141 Update theme to latest version
  package.json
  yarn.lock
Labels: eng

#1139 chore: added gitub action for issue routing
  .github/workflows/issue-pr-triage.yml
Labels: automation

#1146 fix: compatibility link in win installation page
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/zip-manual-install-infrastructure-agent-windows.mdx
Labels: content

#1153 Test Edit to test Github Action
  src/content/docs/logs/log-management/get-started/get-started-log-management.mdx
Labels: content, localization

#1150 Billing Alerts Update
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-billing-monitoring-integration.mdx
Labels: content

#1137 Bring in final style guide docs (I hope)
  src/content/docs/new-relic-only/tech-writer-style-guide/article-templates/graphql-api-tutorial-template.mdx
  src/content/docs/new-relic-only/tech-writer-style-guide/article-templates/html-template.mdx
  src/content/docs/style-guide/article-templates/agent-api-guide-template.mdx
  src/content/docs/style-guide/article-templates/api-tutorial-template.mdx
  src/content/docs/style-guide/article-templates/apistyleguidelines-example-agent-api.mdx
  src/content/docs/style-guide/article-templates/attribute-definition-template.mdx
  src/content/docs/style-guide/article-templates/create-release-notes.mdx
  src/content/docs/style-guide/article-templates/event-data-dictionary-style-guidelines.mdx
  src/content/docs/style-guide/article-templates/graphql-api-tutorial-template.mdx
  src/content/docs/style-guide/article-templates/troubleshooting-docs-guide.mdx
  src/content/docs/style-guide/article-templates/whats-new-style-guidelines.mdx
  src/nav/style-guide.yml
Labels: content

#1033 Plugin to check links
  gatsby-config.js
  plugins/gatsby-plugin-check-links/gatsby-node.js
  plugins/gatsby-plugin-check-links/package.json
  plugins/gatsby-plugin-check-links/utils/check-nav-links.js
  plugins/gatsby-plugin-check-links/utils/get-page-response.js
  plugins/gatsby-plugin-check-links/utils/links-visitors.js
Labels: eng

#1157 Sentence case attribute dictionary
  src/nav/attribute-dictionary.yml
Labels: content

#1171 DOC-6619 edits to pricing/billing
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Labels: content

#1155 Adding missing agent RN redirects
  src/content/docs/release-notes/agent-release-notes/c-sdk-release-notes/index.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/index.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/index.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/index.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/index.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/index.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/index.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/index.mdx
Labels: content

#1162 typo in php agent attributes
  src/content/docs/agents/php-agent/attributes/php-agent-attributes.mdx
Labels: content

#1172 Reduces the space between timeline events
  src/pages/whats-new.js
  src/templates/releaseNoteLandingPage.js
Labels: eng

#1183 Doc 6628 style guide work
  src/content/docs/style-guide/article-templates/agent-api-guide-template.mdx
  src/content/docs/style-guide/article-templates/api-tutorial-template.mdx
  src/content/docs/style-guide/article-templates/apistyleguidelines-example-agent-api.mdx
  src/content/docs/style-guide/article-templates/attribute-definition-template.mdx
  src/content/docs/style-guide/article-templates/basic-doc-template.mdx
  src/content/docs/style-guide/article-templates/create-release-notes.mdx
  src/content/docs/style-guide/article-templates/event-data-dictionary-style-guidelines.mdx
  src/content/docs/style-guide/article-templates/graphql-api-tutorial-template.mdx
  src/content/docs/style-guide/article-templates/troubleshooting-docs-guide.mdx
  src/content/docs/style-guide/article-templates/whats-new-style-guidelines.mdx
  src/content/docs/style-guide/get-started/introduction-style-guide.mdx
  src/content/docs/style-guide/processes-procedures/delete-document.mdx
  src/content/docs/style-guide/processes-procedures/docs-site-edit-checklist.mdx
  src/content/docs/style-guide/processes-procedures/edit-images.mdx
  src/content/docs/style-guide/processes-procedures/embed-images.mdx
  src/content/docs/style-guide/processes-procedures/embed-videos.mdx
  src/content/docs/style-guide/processes-procedures/include-a-doc-in-multiple-menus.mdx
  src/content/docs/style-guide/processes-procedures/rename-or-redirect-document.mdx
  src/content/docs/style-guide/processes-procedures/tech-writer-workflow.mdx
  src/content/docs/style-guide/processes-procedures/use-content-types-text-formats.mdx
  src/content/docs/style-guide/quick-reference/bold-or-code-not-italics.mdx
  src/content/docs/style-guide/quick-reference/callouts.mdx
  src/content/docs/style-guide/quick-reference/capitalization.mdx
  src/content/docs/style-guide/quick-reference/code-examples.mdx
  src/content/docs/style-guide/quick-reference/collapsers.mdx
  src/content/docs/style-guide/quick-reference/lists.mdx
  src/content/docs/style-guide/quick-reference/tables.mdx
  src/content/docs/style-guide/quick-reference/ui-paths.mdx
  src/content/docs/style-guide/quick-reference/usage-dictionary.mdx
  src/content/docs/style-guide/writing-guidelines/code-formatting-guidelines-var-mark.mdx
  src/content/docs/style-guide/writing-guidelines/create-edit-content.mdx
  src/content/docs/style-guide/writing-guidelines/docs-translation.mdx
  src/content/docs/style-guide/writing-guidelines/five-questions-help-write-docs.mdx
  src/content/docs/style-guide/writing-guidelines/formatting-terminal-commands.mdx
  src/content/docs/style-guide/writing-guidelines/hyperlinks.mdx
  src/content/docs/style-guide/writing-guidelines/levels-headings.mdx
  src/content/docs/style-guide/writing-guidelines/more-help-section.mdx
  src/content/docs/style-guide/writing-guidelines/screenshots-images.mdx
  src/content/docs/style-guide/writing-guidelines/voice-strategies-docs-sound-new-relic.mdx
  src/nav/style-guide.yml
Labels: content

#1185 Important: Fixing bad redirects in pricing docs
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/original-accounts-billing/product-pricing/product-based-pricing.mdx
  src/content/docs/style-guide/processes-procedures/edit-images.mdx
Labels: content

#1107 Generate JSON for release notes
  gatsby-config.js
  src/utils/getAgentName.js
Labels: eng

#1170 Provides wrapper around buttons in mdx docs
  src/components/MDXButton.js
  src/components/MDXButtonGroup.js
  src/components/MDXContainer.js
  src/content/docs/agents/c-sdk/get-started/introduction-c-sdk.mdx
  src/content/docs/agents/go-agent/get-started/introduction-new-relic-go.mdx
  src/content/docs/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/content/docs/agents/python-agent/getting-started/introduction-new-relic-python.mdx
  src/content/docs/agents/ruby-agent/getting-started/introduction-new-relic-ruby.mdx
  src/content/docs/integrations/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/content/docs/integrations/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
Labels: eng

#1149 Doc 6573 dashboards as json
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
Labels: content

#1205 Force trailing slashes + i18n updates
  gatsby-config.js
  gatsby-node.js
  package.json
  plugins/gatsby-plugin-auto-index-pages/gatsby-node.js
  plugins/gatsby-source-nav/gatsby-node.js
  src/pages/404.js
  src/pages/attribute-dictionary.js
  src/templates/tableOfContents.js
  yarn.lock
Labels: eng

#1085 integrations/kubernetes: add clarifications to update instructions
  src/content/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content

#1228 Removed redirect pointing to same doc
  src/content/docs/accounts/original-accounts-billing/product-pricing/product-based-pricing.mdx
Labels: content

#1159 DOC-6499 AI - Root cause analysis for March 10th
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/images/root-cause-analysis.png
Labels: content

#1230 DOC-6629 Fixing broken UI pathing
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
Labels: content

#1238 Update New Relic One link
  src/content/docs/understand-dependencies/distributed-tracing/infinite-tracing/set-trace-observer.mdx
Labels: content

#1243 Update report-new-relic-format-traces-trace-api.mdx
  src/content/docs/understand-dependencies/distributed-tracing/trace-api/report-new-relic-format-traces-trace-api.mdx
Labels: content

#1239 Revert "Revert "[DOC-6181] Mention inventory platform limitations""
  src/content/docs/create-integrations/infrastructure-integrations-sdk/troubleshooting/not-seeing-attributes.mdx
  src/nav/full-stack-observability.yml
Labels: content

#1248 Removed redirect from original pricing plan to new pricing plan
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Labels: content

#1232 chore: changes triage logic
  .github/workflows/issue-pr-triage.yml
Labels: automation, eng

#1240 New what's new post: Nerdlog weekly roundup
  src/content/whats-new/2021/03/nerdlog-weekly-roundup.md
Labels: content

#1257 DOC-6629 Alerts/AI March release
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/images/topology-1.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/images/topology-2.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/images/topology-3.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/images/topology-4.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/images/topology-5.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/proactive-detection/proactive-detection-applied-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/index.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/introduction-applied-intelligence.mdx
  src/nav/alerts-and-applied-intelligence.yml
  src/nav/full-stack-observability.yml
Labels: content

#1244 remove subscription callout tip
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/interactions-page.mdx
Labels: content

#1253 chore: adds release notes for node agent v7.1.3
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-713.mdx
Labels: content

#1265 K8s link fix
  src/content/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content

#1256 Ensure existing redirects are preserved
  src/content/docs/style-guide/processes-procedures/delete-document.mdx
Labels: content

#1266 Fix issue/PR triage when they are open
  .github/workflows/issue-pr-triage.yml
Labels: eng

#1277 Remove unneeded escape characters from NRQL function doc collapsers
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content

#1177 Added one step in install process due to UI changes
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
Labels: content

#1081 Renders inline jsx as children of component for collapsers and tech tiles
  codemods/utils/mdxast.js
  plugins/gatsby-plugin-generate-doc-json/gatsby-node.js
  plugins/gatsby-plugin-generate-doc-json/utils/handlers.js
  plugins/gatsby-plugin-generate-doc-json/utils/jsxImagesToChildren.js
Labels: eng

#1229 Update factors-affecting-access
  src/content/docs/accounts/accounts-billing/general-account-settings/factors-affecting-access-features-data.mdx
Labels: content

#1284 Create What's New Post for AIOps Made Easy
  src/content/whats-new/2021/03/AIOps-made-easy.md
  src/content/whats-new/2021/03/images/alerts-overview.gif
  src/content/whats-new/2021/03/images/anomaly-overview.gif
  src/content/whats-new/2021/03/images/find-anomalies.png
  src/data/whats-new-ids.json
Labels: content

#1288 fixes link to certificate glossary term
  src/content/docs/agents/java-agent/configuration/configuring-your-ssl-certificates.mdx
Labels: content

#1282 Fixed the last broken Kubernetes image
  gatsby-config.js
  src/content/docs/integrations/prometheus-integrations/install-configure-openmetrics/configure-prometheus-openmetrics-integrations.mdx
  src/content/docs/integrations/prometheus-integrations/install-configure-openmetrics/images/img-integration-k8.png
  src/content/docs/integrations/prometheus-integrations/install-configure-openmetrics/install-update-or-uninstall-your-prometheus-openmetrics-integration.mdx
  src/content/docs/integrations/prometheus-integrations/troubleshooting/get-logs-prometheus-integration.mdx
  src/content/docs/integrations/prometheus-integrations/troubleshooting/get-scraper-metrics-prometheus-integration.mdx
  src/content/docs/integrations/prometheus-integrations/troubleshooting/images/img-integration-k8.png
  src/content/docs/integrations/prometheus-integrations/troubleshooting/no-data-appears-prometheus-integration.mdx
  src/content/docs/integrations/prometheus-integrations/view-query-data/images/img-integration-k8.png
  src/content/docs/integrations/prometheus-integrations/view-query-data/view-query-your-prometheus-data.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-maintenance-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/images/img-integration-k8.png
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-maintenance-monitoring.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/private-locations/images/img-integration-k8.png
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
Labels: content

#1290 Updates and rewording fixing #1261
  src/content/docs/accounts/accounts-billing/account-setup/new-relic-license-key.mdx
Labels: content

#1297 Minor: Restore missing colon
  src/nav/style-guide.yml
Labels: content

#1231 Adding back the Windows installation instructions
  src/content/docs/integrations/host-integrations/host-integrations-list/snmp-monitoring-integration.mdx
Labels: content

#1295 Only run build in PR validation for merges to develop, not main
  .github/workflows/validate-pr.yml
Labels: eng

#1300 Create browser-agent-v1208.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1208.mdx
Labels: content

#1291 fix: set nri-jmx defaults for user and pass to empty string
  src/content/docs/integrations/host-integrations/host-integrations-list/jmx-monitoring-integration.mdx
Labels: content

#1301 Issue-1299-Fixing-OT-bad-link
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-quick-start.mdx
Labels: content

#1270 Added reference to csv export
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
Labels: content

#1262 chore: contributor-update
  CONTRIBUTING.md
Labels: documentation

#1241 chore: adds label props
  src/pages/attribute-dictionary.js
  src/templates/docPage.js
Labels: eng

#1319 Links now point to lists
  src/nav/full-stack-observability.yml
Labels: content

#1327 Update setcustomattribute-browser-agent-api.mdx
  src/content/docs/browser/new-relic-browser/browser-agent-spa-api/setcustomattribute-browser-agent-api.mdx
Labels: content

#1344 Style and link fixes to data dictionary
  src/content/docs/style-guide/article-templates/data-dictionary-style-guidelines.mdx
Labels: content

#1325 Update real-time-profiling-java-using-jfr-metrics.mdx
  src/content/docs/agents/java-agent/features/real-time-profiling-java-using-jfr-metrics.mdx
Labels: content

#1334 Cpm Release Notes
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3038.mdx
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3039.mdx
Labels: content

#1328 Various hero fixes
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/add-manage-users-groups-roles.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/content/docs/alerts/new-relic-alerts/managing-notification-channels/new-relic-connect.mdx
Labels: content

#1330 Add in ios mobile app release 3.70.1
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-3701.mdx
Labels: content

#1364 Remove superfluous `},`
  src/content/docs/apis/rest-api-v2/account-examples-v2/listing-users-your-account.mdx
Labels: content

#1360 Add swiftype document_type to whats new page
  src/pages/whats-new.js
  src/utils/constants.js
Labels: eng

#1312 Added latest release link in .NET agent's install doc
  src/content/docs/agents/net-agent/installation/introduction-net-agent-install.mdx
Labels: content

#1350 add section to create-nrql-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content

#1357 Update unavailable features
  src/content/docs/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
Labels: content

#1359 Android Agent 6.0.0 release notes
  src/content/docs/mobile-monitoring/new-relic-mobile-android/api-guides/android-agent-configuration-feature-flags.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-compatibility-requirements.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-new-relic-gradle-plugin.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-600.mdx
Labels: content

#1254 chore: adds vscode settings to gitignore file.
  .gitignore
Labels: eng

#1323 DOC-6627 Creating a variety of guided install links/buttons
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/cassandra-monitoring-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/couchbase-monitoring-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/elasticsearch-monitoring-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/haproxy-monitoring-integration.mdx
Labels: content

#1376 Doc 6617 mobile dt
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/images/mobile-icon.png
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-mobile-and-dt.mdx
  src/content/docs/understand-dependencies/distributed-tracing/enable-configure/overview-enable-distributed-tracing.mdx
  src/content/docs/understand-dependencies/distributed-tracing/get-started/how-new-relic-distributed-tracing-works.mdx
  src/nav/full-stack-observability.yml
Labels: content

#1372 Insights for Android v3.2.1 release notes
  src/content/docs/release-notes/mobile-apps-release-notes/insights-android-release-notes/insights-android-3112.mdx
Labels: content

#1374 Update README.md
  README.md
Labels: content

#1383 Update android-600.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-600.mdx
Labels: content

#1389 Updated the Contributing doc and removed style_guide doc
  CONTRIBUTING.md
  STYLE_GUIDE.md
Labels: content

#1371 Fix broken link in Tip callout
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/scripted-browser-examples.mdx
Labels: content

#1378 Update configuring-your-ssl-certificates.mdx
  src/content/docs/agents/java-agent/configuration/configuring-your-ssl-certificates.mdx
Labels: content

#1373 Update enable-serverless-monitoring-using-lambda-layer.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-using-lambda-layer.mdx
Labels: content

#1382 removed tabs and whitespace from filenames
  src/data-dictionary/events/NrIntegrationError/apiKeyPrefix.md
  src/data-dictionary/events/NrIntegrationError/requestId.md
Labels: content

#1384 Update configure-new-relic-gradle-plugin.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-new-relic-gradle-plugin.mdx
Labels: content

#1380 Add release notes for .NET Agent 8.39.1
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-83901.mdx
Labels: content

#1379 Adding release note for android mobile app version 3.4.0
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-340.mdx
Labels: content

#1369 Change obscure "epoch milliseconds" to "unix time"
  src/content/docs/alerts-applied-intelligence/applied-intelligence/proactive-detection/proactive-detection-applied-intelligence.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-distributed-trace-data-tutorial.mdx
  src/content/docs/understand-dependencies/distributed-tracing/trace-api/report-new-relic-format-traces-trace-api.mdx
  src/data-dictionary/events/SyntheticCheck/timestamp.md
  src/data-dictionary/events/TransactionError/timestamp.md
Labels: content

#1308 [Snyk] Upgrade: gatsby, gatsby-image, gatsby-plugin-manifest, gatsby-plugin-offline, gatsby-plugin-react-helmet, gatsby-plugin-sharp, gatsby-remark-autolink-headers, gatsby-remark-copy-linked-files, gatsby-source-filesystem, gatsby-transformer-json, gatsby-transformer-remark, gatsby-transformer-yaml
  package.json
  yarn.lock
Labels: snyk

#1399 DUE 3/18 BY 9AM: Added root cause analysis what's new
  src/content/whats-new/2021/03/root-cause-analysis.md
  src/data/whats-new-ids.json
Labels: content

#1395 Fix indentation for Java yaml infinite_tracing config
  src/content/docs/understand-dependencies/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
Labels: content

#1321 Update scim-support-automated-user-management.mdx
  src/content/docs/accounts/accounts/automated-user-management/scim-support-automated-user-management.mdx
Labels: content

#1411 Add missing IDs to remove apps doc
  src/content/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
Labels: content

#1351 Condense JP section of PR template
  .github/pull_request_template.md
Labels: content

#1310 [Snyk] Upgrade @emotion/core from 10.0.35 to 10.1.1
  package.json
  yarn.lock
Labels: snyk

#1309 [Snyk] Upgrade react-use from 15.3.4 to 15.3.8
  package.json
  yarn.lock
Labels: snyk

#1427 Update create-nrql-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content

#1402 I added these attributes to the Span data type.
  gatsby-config.js
  src/data-dictionary/events/Span/bytes.received.md
  src/data-dictionary/events/Span/bytes.sent.md
  src/data-dictionary/events/Span/connection.type.md
  src/data-dictionary/events/Span/device.size.md
  src/data-dictionary/events/Span/error.type.md
  src/data-dictionary/events/Span/mobileApp.name.md
  src/data-dictionary/events/Span/networkError.code.md
  src/data-dictionary/events/Span/networkError.md
  src/data-dictionary/events/Span/request.path.md
  src/data-dictionary/events/Span/response.body.md
Labels: content

#1407 Sweep to replace Entity Explorer
  src/content/docs/accounts/accounts-billing/account-setup/account-id.mdx
  src/content/docs/agents/java-agent/features/real-time-profiling-java-using-jfr-metrics.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/alert-custom-violation-descriptions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/view-entity-health-status-find-entities-without-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-incidents/view-violation-event-details-incidents.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-violations/view-alert-violations-our-products.mdx
  src/content/docs/apm/apm-ui-pages/error-analytics/apm-error-profiles-troubleshoot-trends.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/apm-summary-page-view-transaction-apdex-usage-data.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/databases-page-view-operations-throughput-response-time.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/external-services-page-view-web-cloud-network-data.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/transactions-page-find-specific-performance-problems.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/view-slow-query-details.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/view-your-applications-index.mdx
  src/content/docs/apm/new-relic-apm/apdex/change-your-apdex-settings.mdx
  src/content/docs/apm/new-relic-apm/apdex/view-your-apdex-score.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/content/docs/apm/new-relic-apm/getting-started/view-app-alert-information-apm.mdx
  src/content/docs/apm/transactions/intro-transactions/monitor-background-processes-other-non-web-transactions.mdx
  src/content/docs/apm/transactions/intro-transactions/transactions-new-relic-apm.mdx
  src/content/docs/apm/transactions/transaction-traces/introduction-transaction-traces.mdx
  src/content/docs/integrations/elastic-container-service-integration/get-started/introduction-amazon-ecs-integration.mdx
  src/content/docs/integrations/elastic-container-service-integration/troubleshooting/ecs-integration-troubleshooting-no-data-appears.mdx
  src/content/docs/integrations/elastic-container-service-integration/understand-use-data/understand-use-ecs-data.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/monitor-services-running-amazon-ecs.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
  src/content/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/dropwizard/dropwizard-reporter.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/istio/istio-adapter.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/kamon/kamon-reporter.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/micrometer/micrometer-metrics-registry.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opencensus/opencensus-exporter.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/troubleshooting/troubleshoot-opentelemetry-exporter.mdx
  src/content/docs/logs/log-management/ui-data/use-logs-ui.mdx
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/new-relic-explorer-view-performance-across-apps-services-hosts.mdx
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/new-relic-lookout-monitor-your-estate-glance.mdx
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
  src/content/docs/new-relic-one/use-new-relic-one/get-started/introduction-new-relic-one.mdx
  src/content/docs/new-relic-one/use-new-relic-one/ui-data/explore-downstream-dependencies-new-relic-one.mdx
  src/content/docs/new-relic-one/use-new-relic-one/ui-data/metric-normalization-rules.mdx
  src/content/docs/new-relic-one/use-new-relic-one/ui-data/new-relic-feature-end-life-announcements-july-2020.mdx
  src/content/docs/new-relic-one/use-new-relic-one/workloads/workload-status-views-notifications.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/apm-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/plan-your-cloud-adoption/prioritize-migration-order.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-using-lambda-layer.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/ui-data/understand-lambda-monitoring-ui.mdx
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-summary.mdx
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitors-index.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/view-ping-monitor-results.mdx
  src/content/docs/telemetry-data-platform/ingest-manage-data/ingest-apis/introduction-metric-api.mdx
  src/content/docs/understand-dependencies/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
  src/content/docs/understand-dependencies/distributed-tracing/ui-data/understand-use-distributed-tracing-ui.mdx
  src/content/docs/understand-dependencies/understand-system-dependencies/service-maps/how-use-service-maps.mdx
  src/content/docs/understand-dependencies/understand-system-dependencies/service-maps/introduction-service-maps.mdx
  src/content/whats-new/2020/10/new-relic-one-now-has-new-ui-opentelemetry.md
  src/data/swiftype-resources.json
  src/i18n/content/jp/docs/new-relic-one/use-new-relic-one/core-concepts/new-relic-explorer-view-performance-across-apps-services-hosts.mdx
  src/i18n/content/jp/docs/telemetry-data-platform/ingest-manage-data/ingest-apis/introduction-metric-api.mdx
Labels: content

#1434 Release Notes for Go Agent v3.11.0
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3110.mdx
Labels: content

#1416 Update analyze-monitor-data-trends-metrics.mdx
  src/content/docs/telemetry-data-platform/ingest-manage-data/convert-data-metrics/analyze-monitor-data-trends-metrics.mdx
Labels: content

#1341 6566 insights tg bb
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/transition-new-relic-one-insights.mdx
Labels: content

#1429 Set Insights to not display in the main nav
  src/nav/insights.yml
Labels: content

#1388 Restored lost preparation section that was dropped in the Gatsby migration
  src/content/docs/integrations/host-integrations/host-integrations-list/kafka-monitoring-integration.mdx
Labels: content

#1446 Update set-thresholds-alert-condition.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/set-thresholds-alert-condition.mdx
Labels: content

#1111 feat: Overhaul Lambda monitoring docs
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-legacy.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-using-lambda-layer.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/index.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-example.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-your-own.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/architecture.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/compatibility-requirements-aws-lambda-monitoring.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/monitoring-aws-lambda-serverless-monitoring.mdx
  src/nav/full-stack-observability.yml
Labels: content

#1423 Add 3.0.40 CPM release notes
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3040.mdx
Labels: content

#1447 Update create-nrql-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content

#1362 Create insights-ios-1134.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/insights-ios-release-notes/insights-ios-1134.mdx
Labels: content

#1387 Added the windowLoad attribute to PageViewTiming
  src/data-dictionary/events/PageViewTiming/windowLoad.md
Labels: content

#1445 Fixed mangled link that was 404ing
  src/content/docs/agents/java-agent/heroku/java-agent-heroku.mdx
  src/content/docs/agents/java-agent/heroku/java-agent-scala-heroku.mdx
  src/content/docs/agents/nodejs-agent/hosting-services/nodejs-agent-heroku.mdx
  src/content/docs/agents/php-agent/advanced-installation/php-agent-heroku.mdx
  src/content/docs/agents/python-agent/hosting-services/python-agent-heroku.mdx
  src/content/docs/agents/ruby-agent/installation/ruby-agent-heroku.mdx
Labels: content

#1450 chore: add requirements section, add log format callout
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/heroku-log-forwarding.mdx
Labels: content

#1456 Release 3.70.3 of the iOS app
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3703.mdx
Labels: content

#1333 Added line explaining buffer period between release notes PR and public build
  src/content/docs/style-guide/article-templates/create-release-notes.mdx
Labels: content

#1461 Added Ruby Agent 7.0 Migration Guide
  src/content/docs/agents/ruby-agent/getting-started/migration-7x-guide.mdx
  src/nav/agents.yml
Labels: content

#1468 fix: Broken Links in Enable Lambda Monitoring Page
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/index.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-example.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/monitoring-aws-lambda-serverless-monitoring.mdx
Labels: content

#1430 DOC-6647 - Improvements to AI topology doc.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
Labels: content

#1474 Small improvements to 'Query metric data' section in general NRQL ref doc.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content

#1471 Fix Android Agent v6.0.0 Release Notes Formatting
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-600.mdx
Labels: content

#1488 Fixed link in Ruby agent 7.0 migration guide
  src/content/docs/agents/ruby-agent/getting-started/migration-7x-guide.mdx
Labels: content

#1432 DOC-6656 guided install infrastructure
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/images/guided-install-cli.png
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/images/guided-install-cli.png
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent.mdx
Labels: content

#1491 Replaced failed scald images from Drupal migration.
  src/content/docs/agents/manage-apm-agents/troubleshooting/get-environment-data-about-your-apm-app.mdx
  src/content/docs/agents/manage-apm-agents/troubleshooting/images/troubleshooting-apm-environment.png
  src/content/docs/agents/net-agent/troubleshooting/azure-pipelines-wipes-out-newrelicazurewebsitesextension-directories.mdx
  src/content/docs/agents/net-agent/troubleshooting/images/azure-pipeline.png
  src/content/docs/agents/php-agent/troubleshooting/checking-loaded-configuration-files-directory.mdx
  src/content/docs/agents/php-agent/troubleshooting/images/doc_example_phpinfo_core_0.png
  src/content/docs/agents/php-agent/troubleshooting/images/doc_example_phpinfo_top_0.png
  src/content/docs/agents/php-agent/troubleshooting/images/phpinfo_nr_0.png
  src/content/docs/agents/php-agent/troubleshooting/missing-php-module.mdx
  src/content/docs/agents/php-agent/troubleshooting/using-phpinfo-verify-php.mdx
  src/content/docs/integrations/amazon-integrations/troubleshooting/authentication-issues.mdx
  src/content/docs/integrations/amazon-integrations/troubleshooting/images/aws-permission-errors.png
  src/content/docs/integrations/amazon-integrations/troubleshooting/images/aws-status.png
  src/content/docs/integrations/infrastructure-integrations/cloud-integrations/images/screen-metric-gap.png
  src/content/docs/integrations/infrastructure-integrations/cloud-integrations/metric-data-gaps-cloud-integrations.mdx
Labels: content

#1452 Hero DT troubleshoot images
  src/content/docs/understand-dependencies/distributed-tracing/troubleshooting/images/broken-trace.png
  src/content/docs/understand-dependencies/distributed-tracing/troubleshooting/images/exporter-deployed.png
  src/content/docs/understand-dependencies/distributed-tracing/troubleshooting/images/missing-exporter.png
  src/content/docs/understand-dependencies/distributed-tracing/troubleshooting/images/upgraded-agent.png
  src/content/docs/understand-dependencies/distributed-tracing/troubleshooting/missing-trace-data.mdx
Labels: content

#1496 Fixed link to CPM RN
  src/nav/full-stack-observability.yml
Labels: content

#1306 [Snyk] Upgrade @splitsoftware/splitio-react from 1.2.0 to 1.2.4
  package.json
  yarn.lock
Labels: help wanted, snyk

#1490 Enable automatic translation workflow
  .github/workflows/check-translations-and-deserialize.yml
  .github/workflows/send-content-to-translate.yml
Labels: eng

#1513 Bandaids for get started/intro docs
  src/content/docs/using-new-relic/welcome-new-relic/get-started/introduction-new-relic.mdx
  src/content/docs/using-new-relic/welcome-new-relic/index.mdx
  src/nav/new-relic-in-practice.yml
  src/pages/index.js
Labels: content

#1489 Fix taxonomy redirects
  plugins/gatsby-source-nav/gatsby-node.js
  src/components/SEO.js
  src/data/taxonomy-redirects.json
  src/templates/indexPage.js
Labels: eng

#1415 DOC-6579 Partnership API changes
  src/content/docs/new-relic-partnerships/partner-integration-guide/partner-account-maintenance/partner-api.mdx
  src/content/docs/new-relic-partnerships/partner-integration-guide/partner-account-maintenance/partnership-accounts-users-subscriptions.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partner-api-reference.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-account-object.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-keys.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-sub-account-object.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-subscription-object.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-user-object.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-billing-integration-api.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/product-buckets.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/typical-integration-example.mdx
  src/nav/new-relic-partnerships.yml
Labels: content

#1470 Replaced link for reserved words
  src/content/docs/agents/java-agent/attributes/java-agent-attributes.mdx
  src/content/docs/agents/net-agent/net-agent-api/addcustomparameter-net-agent-api.mdx
  src/content/docs/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
  src/content/docs/agents/php-agent/php-agent-api/newrelic_add_custom_parameter.mdx
  src/content/docs/agents/php-agent/php-agent-api/newrelicaddcustomspanparameter-php-agent-api.mdx
  src/content/docs/agents/python-agent/attributes/python-agent-attributes.mdx
  src/content/docs/agents/python-agent/python-agent-api/addcustomparameter-python-agent-api.mdx
  src/content/docs/agents/python-agent/python-agent-api/addcustomparameters-python-agent-api.mdx
  src/content/docs/agents/python-agent/python-agent-api/addcustomspanattribute-python-agent-api.mdx
  src/content/docs/agents/python-agent/python-agent-api/recordcustomevent-python-agent-api.mdx
  src/content/docs/agents/ruby-agent/attributes/ruby-agent-attributes.mdx
  src/content/docs/browser/new-relic-browser/browser-agent-spa-api/add-page-action.mdx
  src/content/docs/insights/event-data-sources/custom-events/apm-report-custom-events-attributes.mdx
Labels: content

#1529 docs: infrastructure agent release notes update
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1160.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1161.mdx
Labels: content

#1532 Fixed COMPARE WITH description
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content

#1542 Small edits to pricing FAQs.mdx
  src/content/docs/licenses/license-information/faq/new-relic-one-pricing-plan-frequently-asked-questions.mdx
Labels: content

#1546 Update enable-log-management-new-relic.mdx
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/enable-log-management-new-relic.mdx
Labels: content

#1307 [Snyk] Upgrade: babel-jest, jest
  package.json
  yarn.lock
Labels: help wanted, invalid, snyk
