Repository newrelic/docs-website, pull requests merged in 2021-02, with the labels that each got.

#806 chore: update to stale bot config
  .github/stale.yml
Labels: automation

#824 chore: referenced theme component docs
  COMPONENT_GUIDE.md
Labels: documentation

#832 chore: updated component guide
  COMPONENT_GUIDE.md
Labels: documentation

#825 Cleaning up titles used in navigation
  scripts/utils/migrate/create-nav-structure.js
  src/nav/alerts-and-applied-intelligence.yml
  src/nav/full-stack-observability.yml
  src/nav/insights.yml
  src/nav/integrations.yml
  src/nav/new-relic-in-practice.yml
Labels: help wanted

#920 EP-1704 Improve definition for update tags:
  src/content/docs/apis/nerdgraph/examples/nerdgraph-tagging-api-tutorial.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/nerdgraph-tagging-api-tutorial.mdx
Labels: on hold

#1018 Removed the style guide from the left nav
  src/nav/style-guide.yml
Labels: waiting on contributor

#982 Re-rank FSO nav more sensibly
  src/nav/full-stack-observability.yml
Labels: waiting on contributor
