Repository newrelic/docs-website, pull requests merged in 2021-01, with the labels that each got.

#510 chore: updated documentation
  CONTRIBUTING.md
  README.md
  README_agent.md
Labels: documentation

#625 chore: added Austin's colon
  src/pages/attribute-dictionary.js
Labels: bug

#628 chore: adds att dict to main nav
  src/nav/attribute-dictionary.yml
Labels: enhancement

#581 Github action to send content to translation vendor
  .github/workflows/send-content-to-translate.yml
  package.json
  scripts/actions/add-files-to-translation-queue.js
  scripts/actions/send-and-update-translation-queue.js
  scripts/actions/utils/save-to-db.js
  scripts/actions/utils/vendor-request.js
Labels: eng

#648 added page title and path
  src/nav/attribute-dictionary.yml
Labels: bug

#653 chore: removed docs migration count
  src/announcements/beta-banner.mdx
Labels: bug
