Repository newrelic/docs-website, pull requests merged in 2021-11, with the labels that each got.

#4543 Nov 1 pricing changes
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/scim-support-automated-user-management.mdx
  src/content/docs/accounts/accounts/automated-user-management/tutorial-manage-users-groups-scim.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/release-notes/org-user-mgmt-release-notes/org-users-21-11-01.mdx
Labels: content, from_tw

#4636 fix(Licenses): Premium Support
  src/content/docs/licenses/license-information/special-services-licenses/new-relic-premium-support.mdx
  src/content/docs/licenses/license-information/special-services-licenses/new-relic-priority-support.mdx
  src/content/docs/licenses/license-information/special-services-licenses/priority-support-price-list-08012019-final-v3.pdf
  src/nav/licenses.yml
Labels: content, from_tw

#4637 fix: broken link in CodeStream nav
  src/content/docs/codestream/codestream-ui-overview/images/MyOrgBlameMap.png
  src/content/docs/codestream/codestream-ui-overview/images/MyOrgInvite.png
  src/content/docs/codestream/codestream-ui-overview/images/MyOrgMembers.png
  src/content/docs/codestream/codestream-ui-overview/images/MyOrgMenu.png
  src/content/docs/codestream/codestream-ui-overview/my-organization.mdx
  src/nav/codestream.yml
Labels: content, from_external

#4641 Small format fixes to 'data and apis' nav
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#4646 Browser Agent Endpoint update
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_internal

#4614 Taxonomy fixes: Moved parent-node content to child nodes
  src/content/docs/agile-handbook/sprint-mechanics/sprint-workflow-and-jira-boards.mdx
  src/content/docs/apm/agents/index.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/guide-using-net-agent-api.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/guide-using-php-agent-api.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/index.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/guide-using-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/index.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/android-agent-configuration-feature-flags.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/android-sdk-api-guide.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/index.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/index.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/ios-agent-configuration-feature-flags.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/ios-sdk-api-guide.mdx
  src/nav/apm.yml
  src/nav/mobile.yml
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#4649 A few small edits to the trigger descriptions
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/streaming-alerts-key-terms-concepts.mdx
Labels: content, from_internal

#4608 feat(drop-rules): Add beta feature documentation to drop attributes on aggregates
  src/content/docs/data-apis/manage-data/drop-data-using-nerdgraph.mdx
Labels: content, from_internal, pg_TDP

#4650 Whats-New-11-2-PowerDNS-Integration
  src/content/whats-new/2021/11/images/PowerDNS-NR.png
  src/content/whats-new/2021/11/whats-new-powerdns.md
Labels: content, from_internal

#4660 docs:add TV and iOS release notes
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3804.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-tvos-release-notes/newrelic-tvos-2011.mdx
Labels: content, from_internal

#4665 Infrastructure-agent release-notes 1.20.7
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1207.mdx
Labels: content, from_internal

#4616 Use-case doc for streaming aggregation methods
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/choose-your-aggregation-method.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/images/signal-consistency.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/images/time-series-data-points.png
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_internal

#4655 fix(Browser monitoring): Removed references to old UI capabilities th…
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-traces-explore-webpages-life-cycle.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/javascript-errors-page-detect-analyze-errors.mdx
Labels: content, from_tw

#4673 Adding content to hipaa.mdx for DOC-7436.
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/hipaa.mdx
Labels: content, from_internal

#4674 Adding content to fedramp-moderate.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp-moderate.mdx
Labels: content, from_internal

#4675 Adding content to iso.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/iso.mdx
Labels: content, from_internal

#4676 Adding content to soc2.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/soc2.mdx
Labels: content, from_internal

#4672 Update content for regulatory-audits-new-relic-services.mdx in DOC-7436
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
Labels: content, from_internal

#4670 Link to NRQL Rate Limits from NerdGraph NRQL Tutorial
  src/content/docs/apis/nerdgraph/examples/nerdgraph-nrql-tutorial.mdx
Labels: content, from_internal

#4677 fix(PagerDuty EOL): Updated notice re: Oct 2021 EOL
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/incident-intelligence-destination-examples.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-incidents/view-violation-event-details-incidents.mdx
Labels: content, from_tw

#4592 Addressing some post-release docs issues (DOC-7481)
  src/content/docs/codestream/start-here/images/QS-FeedbackRequest2.png
  src/content/docs/codestream/start-here/install-codestream.mdx
  src/content/docs/codestream/start-here/what-is-codestream.mdx
Labels: content, from_tw

#4679 Adjusting verbiage to the pages
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp-moderate.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/hipaa.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/iso.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/soc2.mdx
Labels: content, from_internal

#4678 add callout
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/choose-your-aggregation-method.mdx
Labels: content, from_internal

#4682 Update hipaa.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/hipaa.mdx
Labels: content, from_internal

#4681 .NET Agent 9.1.1 release
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9100.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9110.mdx
Labels: content, from_internal

#4671 fix(user mgmt): combine original saml docs
  src/content/docs/accounts/accounts/saml-single-sign/add-users-saml-accounts.mdx
  src/content/docs/accounts/accounts/saml-single-sign/configure-saml-multiple-accounts.mdx
  src/content/docs/accounts/accounts/saml-single-sign/delete-sso-configuration.mdx
  src/content/docs/accounts/accounts/saml-single-sign/maintain-sso-settings.mdx
  src/content/docs/accounts/accounts/saml-single-sign/new-relic-partners-saml-sso.mdx
  src/content/docs/accounts/accounts/saml-single-sign/saml-service-providers.mdx
  src/content/docs/accounts/accounts/saml-single-sign/set-sso.mdx
  src/nav/accounts.yml
Labels: content, from_tw

#4595 fix(Azure Cosmos DB page): Removing note/link to deprecated feat/page
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-cosmos-db-document-db-monitoring-integration.mdx
Labels: content, pg_observability, from_tw

#4691 Adding links + removal of text
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/hipaa.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/iso.mdx
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
Labels: pg_legal, content, from_internal

#4659 Left navigation follow ups
  src/nav/apm.yml
  src/nav/mobile.yml
Labels: content, from_tw

#4686 feat(Logs): How to see logs in context
  src/content/docs/apm/apm-ui-pages/monitoring/apm-summary-page-view-transaction-apdex-usage-data.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/content/docs/distributed-tracing/ui-data/understand-use-distributed-tracing-ui.mdx
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/forward-logs/images/infrastructure-lic.png
  src/content/docs/logs/logs-context/configure-logs-context-apm-agents.mdx
  src/content/docs/logs/logs-context/images/logs-in-context-traces.png
  src/nav/logs.yml
Labels: content, from_tw

#4666 Improve use-the-ui section
  src/content/docs/codestream/start-here/codestream-new-relic.mdx
  src/content/docs/codestream/start-here/images/connect-repo1.png
Labels: content, from_internal

#4627 fix: add blank line to auto-comment bot for clarity
  .github/workflows/auto-comment.yml
Labels: content, from_tw

#4630 fix: Add pre-IA history access instructions
  src/content/docs/style-guide/writer-workflow/github-intro.mdx
Labels: content, from_tw

#4698 Fixing the anchor
  src/content/docs/apm/agents/net-agent/install-guides/install-net-agent-using-nuget.mdx
Labels: content, from_internal, pg_observability

#4695 chore: adds release notes for Node.js agent v8.5.1.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-8-5-1.mdx
Labels: content, from_internal, pg_UXP

#4694 fix(Style guide): Embed images
  src/content/docs/data-apis/ingest-apis/telemetry-sdks-report-custom-telemetry-data.mdx
  src/content/docs/data-apis/understand-data/metric-data/query-metric-data-type.mdx
  src/content/docs/distributed-tracing/enable-configure/images/istiologo.png
  src/content/docs/distributed-tracing/enable-configure/integrations-enable-distributed-tracing.mdx
  src/content/docs/distributed-tracing/enable-configure/overview-enable-distributed-tracing.mdx
  src/content/docs/distributed-tracing/enable-configure/quick-start.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/istio/istio-adapter.mdx
  src/content/docs/style-guide/processes-procedures/embed-images.mdx
Labels: content, pg_XD, from_tw

#4664 Update incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_internal

#4663 [DOC-7503] MLOps Comet
  src/content/docs/alerts-applied-intelligence/applied-intelligence/mlops-integrations/comet-mlops-integration.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/mlops-integrations/images/comet01.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/mlops-integrations/images/comet02.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/mlops-integrations/images/comet03.png
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_tw

#4618 [DOC-7436] Security audits docs revamp
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp-moderate.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/hipaa.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/iso.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/soc2.mdx
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
  src/nav/new-relic-security.yml
Labels: content, from_tw

#4706 2021-11-04 Morning merge to main
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/mlops-integrations/comet-mlops-integration.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/mlops-integrations/images/comet01.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/mlops-integrations/images/comet02.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/mlops-integrations/images/comet03.png
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp-moderate.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/hipaa.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/iso.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/soc2.mdx
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
  src/nav/alerts-and-applied-intelligence.yml
  src/nav/new-relic-security.yml
Labels: content, from_tw

#4707 Fixing Aporia ref
  src/content/docs/alerts-applied-intelligence/applied-intelligence/mlops-integrations/comet-mlops-integration.mdx
Labels: content, from_tw

#4711 fix(original models): combining original pricing/user docs
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/eligibility-guidelines-new-relic-nonprofit-program.mdx
  src/content/docs/accounts/accounts/roles-permissions/bulk-user-actions-add-delete-or-update-batches-users.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/apm-cu-based-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/apm-host-based-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/browser-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/infrastructure-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/insights-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/introduction-new-relic-subscription-usage-data.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/mobile-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-pricing-plan-usage/synthetics-subscription-usage.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/images/New-Relic-usage-UI.png
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/introduction-new-relic-subscription-usage-data.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/nav/accounts.yml
Labels: content, from_tw

#4713 Changing callout on infra-agent tarball install
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
Labels: content, from_internal

#4715 clean up grammar
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_internal

#4714 chore:Quality foundation image updates and text formatting
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/cx_qf_dashboard.png
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/images/cx_qf_kpi_progress.png
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/quality-foundation-implementation-guide.mdx
Labels: content, from_internal

#4712 Update slm-implementation-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/slm-implementation-guide.mdx
Labels: content, from_internal

#4723 fix(agents): replacing a pr due to nav changes
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
Labels: content, from_internal

#4722 docs: clarify webhoook metadata format
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/customize-your-webhook-payload.mdx
Labels: content, from_internal

#4719 chore(NPM): Add links to the guided install in docs
  src/content/docs/network-performance-monitoring/get-started/npm-introduction.mdx
Labels: content, from_internal

#4709 Added link to post on 3 strikes rule
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-troubleshoot-downtime.mdx
Labels: content, from_internal

#4700 Updating Kubernetes CPM Configuration Options Displayed
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-configuration.mdx
Labels: content, from_external

#4688 Added details on agent type for Google Web Vitals
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details.mdx
Labels: content, from_tw

#4705 Changing Algorithmia Name
  src/content/docs/alerts-applied-intelligence/applied-intelligence/mlops-integrations/datarobot-mlops-integration.mdx
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_internal

#4729 docs: improved infrastructure agent smart verbose documentation
  src/content/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-logs/infrastructure-agent-logging-behavior.mdx
Labels: content, from_internal

#4731 Fixing wrong link to CLI doc
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/update-serverless-monitoring-aws-lambda.mdx
Labels: content, from_tw

#4727 DT - Java agent config fix
  src/content/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
Labels: content, from_tw

#4701 chore(Java agent API): Highlighted info on headers
  src/content/docs/apm/agents/java-agent/api-guides/guide-using-java-agent-api.mdx
Labels: content, from_tw

#4740 Replace NRQL in GET example with working query
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests.mdx
Labels: content, from_internal

#4744 1:50 PM Merge to main 11/5/2021
  src/content/docs/logs/log-management/log-api/introduction-log-api.mdx
  src/content/docs/logs/log-management/ui-data/long-logs-blobs.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests.mdx
Labels: content, from_tw

#4733 Fix mistake observability maturity conflict override
  src/content/docs/new-relic-solutions/observability-maturity/introduction.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#4760 Changed Operating system for Android to be 5.0
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-compatibility-requirements.mdx
Labels: content, from_internal

#4763 5:00 PM Merge to main 11/5/2021
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-compatibility-requirements.mdx
  src/content/docs/new-relic-solutions/observability-maturity/introduction.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#4766 Update language-agents-enable-distributed-tracing.mdx
  src/content/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
Labels: content, from_internal

#4769 Adding timeout info for new monitors
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors.mdx
Labels: content, from_tw

#4741 Correct Java agent configuration file examples using inconsistent indentation
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_tw

#4746 Remove ampersand in left navigation
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#4739 style(CodeStream): Copyedited the CodeStream docs to bring them in line with our New Relic style (DOC-7321)
  src/content/docs/codestream/codestream-integrations/msteams-integration.mdx
  src/content/docs/codestream/codestream-integrations/notifications.mdx
  src/content/docs/codestream/codestream-integrations/slack-integration.mdx
  src/content/docs/codestream/codestream-settings/account-settings.mdx
  src/content/docs/codestream/codestream-settings/team-administration.mdx
  src/content/docs/codestream/codestream-ui-overview/activity-feed.mdx
  src/content/docs/codestream/codestream-ui-overview/codemarks-section.mdx
  src/content/docs/codestream/codestream-ui-overview/codestream-keyboard-shortcuts.mdx
  src/content/docs/codestream/codestream-ui-overview/codestream-sidebar.mdx
  src/content/docs/codestream/codestream-ui-overview/feedback-requests-section.mdx
  src/content/docs/codestream/codestream-ui-overview/filter-search.mdx
  src/content/docs/codestream/codestream-ui-overview/issues-section.mdx
  src/content/docs/codestream/codestream-ui-overview/my-organization.mdx
  src/content/docs/codestream/codestream-ui-overview/observability-section.mdx
  src/content/docs/codestream/codestream-ui-overview/permalinks.mdx
  src/content/docs/codestream/how-use-codestream/discuss-code.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/how-use-codestream/pull-requests.mdx
  src/content/docs/codestream/how-use-codestream/request-feedback.mdx
  src/content/docs/codestream/how-use-codestream/start-work.mdx
  src/content/docs/codestream/start-here/codestream-new-relic.mdx
  src/content/docs/codestream/start-here/codestream-user-guide.mdx
  src/content/docs/codestream/start-here/install-codestream.mdx
  src/content/docs/codestream/start-here/sign-up-codestream.mdx
  src/content/docs/codestream/start-here/what-is-codestream.mdx
  src/content/docs/codestream/troubleshooting/client-logs.mdx
  src/content/docs/codestream/troubleshooting/git-issues.mdx
  src/content/docs/codestream/troubleshooting/github-org-repos.mdx
  src/content/docs/codestream/troubleshooting/glsm-version.mdx
  src/content/docs/codestream/troubleshooting/jira-server-integration.mdx
  src/content/docs/codestream/troubleshooting/jira-server-version.mdx
  src/content/docs/codestream/troubleshooting/keychain-issues.mdx
  src/content/docs/codestream/troubleshooting/proxy-support.mdx
Labels: content, from_tw

#4775 fix(vsphere VM): Added "sample" to entity names where it was missing
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
Labels: content, from_tw

#4771 fix(user migration): add user assets
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content, from_tw

#4772 fix(aum): add info to okta about creating groups
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/roles-permissions-automated-user-management.mdx
Labels: content, from_tw

#4777 Fix typo in containerId example paragraph
  src/content/docs/data-apis/manage-data/drop-data-using-nerdgraph.mdx
Labels: content, from_internal

#4575 chore(style guide): Doc lists wrong icon library
  src/content/docs/style-guide/writing-guidelines/screenshots-images.mdx
Labels: content, from_tw

#4782 feat(Logs in context xrefs): More xrefs in APM docs
  src/content/docs/apm/apm-ui-pages/error-analytics/errors-page-find-fix-verify-problems.mdx
  src/content/docs/apm/apm-ui-pages/error-analytics/images/logs-in-context-errors.png
  src/content/docs/apm/apm-ui-pages/error-analytics/manage-error-data.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/transactions-page-find-specific-performance-problems.mdx
  src/content/docs/apm/transactions/transaction-traces/configure-transaction-traces.mdx
  src/content/docs/apm/transactions/transaction-traces/images/logs-in-context-traces.png
  src/content/docs/apm/transactions/transaction-traces/introduction-transaction-traces.mdx
  src/content/docs/apm/transactions/transaction-traces/transaction-traces-summary-page.mdx
  src/content/docs/apm/transactions/transaction-traces/transaction-traces-trace-details-page.mdx
  src/content/docs/infrastructure/manage-your-data/data-instrumentation/apm-data-infrastructure-monitoring.mdx
Labels: content, from_tw

#4787 feat(C and Go agents): Add logs in context info
  src/content/docs/apm/agents/c-sdk/get-started/introduction-c-sdk.mdx
  src/content/docs/apm/agents/c-sdk/install-configure/c-sdk-configuration.mdx
  src/content/docs/apm/agents/c-sdk/instrumentation/enable-distributed-tracing-your-c-applications.mdx
  src/content/docs/apm/agents/c-sdk/instrumentation/images/logs-in-context-errors.png
  src/content/docs/apm/agents/c-sdk/instrumentation/images/logs-in-context-traces.png
  src/content/docs/apm/agents/c-sdk/instrumentation/instrument-errors-c-sdk.mdx
  src/content/docs/apm/agents/go-agent/configuration/go-agent-logging.mdx
  src/content/docs/apm/agents/go-agent/features/enable-distributed-tracing-your-go-applications.mdx
  src/content/docs/apm/agents/go-agent/features/images/logs-in-context-traces.png
  src/content/docs/apm/agents/go-agent/get-started/introduction-new-relic-go.mdx
  src/content/docs/apm/agents/go-agent/instrumentation/images/logs-in-context-errors.png
  src/content/docs/apm/agents/go-agent/instrumentation/instrument-go-transactions.mdx
Labels: content, from_tw

#4774 fix(style guide): Revised intro to be less docs-only
  src/content/docs/style-guide/get-started/introduction-style-guide.mdx
  src/content/docs/style-guide/writing-guidelines/organize-doc.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#4779 feat: Add new relic mobile apps to the front index page of docs
  src/content/docs/mobile-apps/new-relic-mobile-apps/android-app/introduction-new-relic-android-app.mdx
  src/content/docs/mobile-apps/new-relic-mobile-apps/ios-app/install-new-relic-ios-mobile-app.mdx
  src/data/homepage.yml
  src/i18n/translations/en/translation.json
  src/i18n/translations/jp/translation.json
  src/pages/index.js
Labels: content, from_internal

#4790 Removing links to Unity
  src/content/docs/apis/intro-apis/introduction-new-relic-apis.mdx
  src/i18n/content/jp/docs/apis/get-started/intro-apis/introduction-new-relic-apis.mdx
  src/i18n/content/jp/docs/apis/intro-apis/introduction-new-relic-apis.mdx
Labels: content, from_internal

#4791 Doc7477 java net nodejs
  src/content/docs/apm/agents/java-agent/configuration/java-agent-error-configuration.mdx
  src/content/docs/apm/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/content/docs/apm/agents/java-agent/installation/install-java-agent.mdx
  src/content/docs/apm/agents/net-agent/getting-started/introduction-new-relic-net.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/introduction-new-relic-nodejs.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
  src/content/docs/distributed-tracing/concepts/introduction-distributed-tracing.mdx
  src/content/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
Labels: content, from_tw

#4689 nri-jmx configuration through K8s annotations
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-integration.mdx
Labels: content, from_internal

#4781 chore(codestream): Change line wraps to match rest of site, tweak formatting
  src/content/docs/codestream/codestream-integrations/msteams-integration.mdx
  src/content/docs/codestream/codestream-integrations/notifications.mdx
  src/content/docs/codestream/codestream-integrations/slack-integration.mdx
  src/content/docs/codestream/codestream-settings/account-settings.mdx
  src/content/docs/codestream/codestream-settings/team-administration.mdx
  src/content/docs/codestream/codestream-ui-overview/activity-feed.mdx
  src/content/docs/codestream/codestream-ui-overview/codemarks-section.mdx
  src/content/docs/codestream/codestream-ui-overview/codestream-sidebar.mdx
  src/content/docs/codestream/codestream-ui-overview/feedback-requests-section.mdx
  src/content/docs/codestream/codestream-ui-overview/filter-search.mdx
  src/content/docs/codestream/codestream-ui-overview/issues-section.mdx
  src/content/docs/codestream/codestream-ui-overview/my-organization.mdx
  src/content/docs/codestream/codestream-ui-overview/observability-section.mdx
  src/content/docs/codestream/codestream-ui-overview/permalinks.mdx
  src/content/docs/codestream/codestream-ui-overview/pull-requests-section.mdx
  src/content/docs/codestream/how-use-codestream/discuss-code.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/how-use-codestream/pull-requests.mdx
  src/content/docs/codestream/how-use-codestream/request-feedback.mdx
  src/content/docs/codestream/how-use-codestream/start-work.mdx
  src/content/docs/codestream/start-here/codestream-new-relic.mdx
  src/content/docs/codestream/start-here/codestream-user-guide.mdx
  src/content/docs/codestream/start-here/install-codestream.mdx
  src/content/docs/codestream/start-here/sign-up-codestream.mdx
  src/content/docs/codestream/start-here/what-is-codestream.mdx
  src/content/docs/codestream/troubleshooting/client-logs.mdx
  src/content/docs/codestream/troubleshooting/git-issues.mdx
  src/content/docs/codestream/troubleshooting/github-org-repos.mdx
  src/content/docs/codestream/troubleshooting/glsm-version.mdx
  src/content/docs/codestream/troubleshooting/jira-server-integration.mdx
  src/content/docs/codestream/troubleshooting/jira-server-version.mdx
  src/content/docs/codestream/troubleshooting/keychain-issues.mdx
  src/content/docs/codestream/troubleshooting/proxy-support.mdx
Labels: content, from_tw

#4789 Initial cleanup of "Learn New Relic" category
  src/content/docs/using-new-relic/index.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/get-started-full-stack-observability.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/introduction-new-relic-integrations.mdx
  src/nav/new-relic-in-practice.yml
  src/nav/root.yml
Labels: content, from_tw

#4669 [DOC-7491] Add section for OpenTelemetry troubleshooting
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/images/otlp-troubleshooting-facet-query.png
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-concepts.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-troubleshooting.mdx
  src/nav/integrations.yml
Labels: content, from_internal

#4765 chore(Logs): Log management IA
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/logs/get-started/new-relics-log-management-security-privacy.mdx
  src/content/docs/logs/log-api/introduction-log-api.mdx
  src/content/docs/logs/log-api/log-event-data.mdx
  src/content/docs/logs/log-api/use-tcp-endpoint-forward-logs-new-relic.mdx
  src/content/docs/logs/troubleshooting/find-issues-cause-or-impact-surrounding-logs.mdx
  src/content/docs/logs/troubleshooting/json-message-not-parsed.mdx
  src/content/docs/logs/troubleshooting/log-message-truncated.mdx
  src/content/docs/logs/troubleshooting/no-log-data-appears-ui.mdx
  src/content/docs/logs/troubleshooting/view-log-messages-real-time-live-tail.mdx
  src/content/docs/logs/ui-data/built-log-parsing-rules.mdx
  src/content/docs/logs/ui-data/data-partitions.mdx
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/content/docs/logs/ui-data/find-unusual-logs-log-patterns.mdx
  src/content/docs/logs/ui-data/images/NRDB2.png
  src/content/docs/logs/ui-data/images/create-partition.png
  src/content/docs/logs/ui-data/images/crop-log-add-dashboard.png
  src/content/docs/logs/ui-data/images/data-partition.png
  src/content/docs/logs/ui-data/images/ingest-pipeline.png
  src/content/docs/logs/ui-data/images/log-blob-query.png
  src/content/docs/logs/ui-data/images/log-drop-filter-create.png
  src/content/docs/logs/ui-data/images/log-drop-filter042721.png
  src/content/docs/logs/ui-data/images/log-parsing-rule-ui.png
  src/content/docs/logs/ui-data/images/log-parsing-rules-list.png
  src/content/docs/logs/ui-data/images/log-parsing-rules.png
  src/content/docs/logs/ui-data/images/log-partitions-crop.png
  src/content/docs/logs/ui-data/images/log-partitions.png
  src/content/docs/logs/ui-data/images/log-patterns-beta-ui.png
  src/content/docs/logs/ui-data/images/log-patterns-example1.png
  src/content/docs/logs/ui-data/images/log-patterns-logs-without-a-pattern.png
  src/content/docs/logs/ui-data/images/log-patterns-main-ui-2.png
  src/content/docs/logs/ui-data/images/log-patterns-main-ui.png
  src/content/docs/logs/ui-data/images/log-patterns-more-details.png
  src/content/docs/logs/ui-data/images/log-patterns-ui-nav.png
  src/content/docs/logs/ui-data/images/log-patterns-wildcard.png
  src/content/docs/logs/ui-data/images/log-summary-click.png
  src/content/docs/logs/ui-data/images/log-summary-query.png
  src/content/docs/logs/ui-data/images/logs-details022521.png
  src/content/docs/logs/ui-data/images/logs-ui-042721-summary.png
  src/content/docs/logs/ui-data/images/logs-ui022421.png
  src/content/docs/logs/ui-data/images/manage-parsing.png
  src/content/docs/logs/ui-data/images/new-relic-logs-create-drop-filter.png
  src/content/docs/logs/ui-data/images/saved-view.png
  src/content/docs/logs/ui-data/images/select-partitions.png
  src/content/docs/logs/ui-data/long-logs-blobs.mdx
  src/content/docs/logs/ui-data/parsing.mdx
  src/content/docs/logs/ui-data/query-syntax-logs.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/nav/logs.yml
Labels: content, from_tw

#4797 Improve documentation for .NET agent configuration
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal, from_tw

#4799 fix: update macos supported versions
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#4785 add code owners
  .github/CODEOWNERS
Labels: eng

#4802 chore(using NR): Remove plugins redirects
  src/content/docs/using-new-relic/welcome-new-relic/get-started/get-started-full-stack-observability.mdx
Labels: content, from_tw

#4804 chore: added Node.js agent v8.5.2 release notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-8-5-2.mdx
Labels: content, from_internal

#4809 Update global-technical-support-offerings.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_internal

#4720 Browser Agent v1212 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1212.mdx
Labels: content, from_internal

#4814 Improve windows .net core docker example
  src/content/docs/apm/agents/net-agent/other-installation/install-net-agent-docker-container.mdx
Labels: content, from_internal

#4803 chore(solutions): Fix a broken link
  src/content/docs/new-relic-solutions/index.mdx
Labels: content, from_tw

#4792 feat: add ecs external launch type installation
  src/content/docs/infrastructure/elastic-container-service-integration/installation/install-ecs-integration.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/installation/uninstall-ecs-integration.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/understand-use-data/understand-use-ecs-data.mdx
Labels: content, from_internal

#4801 fix(pricing): change 'plan' to 'model'
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/general-account-settings/introduction-account-settings.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-managing-users.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/content/docs/accounts/accounts/account-maintenance/set-session-timeouts.mdx
  src/content/docs/accounts/accounts/automated-user-management/tutorial-manage-users-groups-scim.mdx
  src/content/docs/accounts/accounts/saml-single-sign/saml-service-providers.mdx
  src/content/docs/accounts/original-accounts-billing/original-data-retention/event-data-retention-original-pricing-plan.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/introduction-new-relic-subscription-usage-data.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/original-account-structure.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/product-based-pricing/overview-data-retention-components.mdx
  src/content/docs/accounts/original-accounts-billing/product-based-pricing/trial-lite-accounts-deprecated.mdx
  src/content/docs/accounts/original-accounts-billing/product-pricing/product-based-pricing.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/rules-limits-alerts.mdx
  src/content/docs/apis/intro-apis/introduction-new-relic-apis.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/tutorials/provisions-your-subscriptions-nerdgraph.mdx
  src/content/docs/apm/agents/manage-apm-agents/configuration/high-security-mode.mdx
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
  src/content/docs/data-apis/manage-data/manage-your-data.mdx
  src/content/docs/distributed-tracing/infinite-tracing/introduction-infinite-tracing.mdx
  src/content/docs/licenses/index.mdx
  src/content/docs/licenses/license-information/faq/new-relic-one-pricing-plan-frequently-asked-questions.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
  src/content/docs/licenses/license-information/product-definitions/legacy-product-definitions.mdx
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
  src/content/docs/licenses/license-information/usage-plans/product-based-pricing-usage-new-relic-platform-pricing-usage-plan.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-developer-edition/developer-edition.mdx
  src/content/docs/new-relic-partnerships/partner-integration-guide/partner-account-maintenance/partner-api.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-account-object.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-subscription-object.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/product-buckets.mdx
  src/content/docs/style-guide/writing-guidelines/pricing-language-guidelines.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/user-roles-synthetic-monitoring.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/glossary.mdx
Labels: content, from_tw

#4745 Whats-New-11-10-TISAX-ISO-compliance
  src/content/whats-new/2021/11/What's New - TISAX.md
  src/content/whats-new/2021/11/images/tisax-and-iso-27001.png
Labels: content, from_internal

#4817 Add Newrelic CLI steps to convert integrations config files
  src/content/docs/infrastructure/host-integrations/infrastructure-integrations-sdk/specifications/host-integrations-standard-configuration-format.mdx
Labels: content, from_internal

#4794 ESA-83 document manual relationships
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/what-entity-new-relic.mdx
Labels: content, from_internal

#4824 Remove spaces in whats new filename post
  src/content/whats-new/2021/11/whats-new-TISAX-11-10.md
Labels: content, from_tw

#4762 Fix 404s
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/rest-api-calls-alerts.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/your-first-nrql-condition.mdx
  src/content/docs/apis/synthetics-rest-api/monitor-examples/manage-synthetics-monitors-rest-api.mdx
  src/content/docs/apm/transactions/key-transactions/introduction-key-transactions.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/identify-synthetic-monitoring-requests-your-app.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/user-roles-synthetic-monitoring.mdx
  src/content/docs/using-new-relic/data/customize-data/collect-custom-attributes.mdx
  src/content/docs/using-new-relic/index.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/get-started-full-stack-observability.mdx
Labels: content, from_tw

#4821 Adding support for EKS-Anywhere
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal

#4826 small typo
  src/content/docs/kubernetes-pixie/kubernetes-integration/newrelic-hpa-metrics-adapter/newrelic-metrics-adapter.mdx
Labels: content, from_internal, pg_TDP

#4820 Adding support for EKS-Anywhere
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_internal, pg_UXP

#4461 feat: add scripts for adding/removing redirects from files
  package.json
  scripts/utils/docs-content-tools/add-remove-redirects.js
  scripts/utils/docs-content-tools/handlers.js
Labels: eng

#4828 docs: Add in new release of the iOS app 3.81.0
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-1020.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-1100.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-1200.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-1500.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-2000.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-2010.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-2020.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-2100.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-2200.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3000.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3010.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3020.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3030.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3040.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3050.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3100.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3150.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3160.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3180.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3200.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3220.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3230.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3250.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3260.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3300.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3310.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3320.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3330.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3340.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3350.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3810.mdx
Labels: content, from_internal, pg_UXP

#4778 [Mobile-7360] Clarify information for agent version support
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-compatibility-requirements.mdx
Labels: content, from_internal, pg_UXP

#4761 Fix: Update Proxy with PAC
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/set-proxy-settings-properties-scripted-monitors.mdx
Labels: content, from_internal

#4839 add missing escape character
  src/content/docs/apis/rest-api-v2/browser-examples-v2/add-or-list-browser-apps-api-v2.mdx
Labels: content, from_internal

#4840 Update java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#4844 infra-agent: hostname resolution internal in windows
  src/content/docs/infrastructure/new-relic-infrastructure/troubleshooting/incorrect-host-name-reported.mdx
Labels: content, from_internal

#4834 Add additional user key information
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_internal, pg_growth

#4848 chore: bump theme to 3.4.2
  package.json
  yarn.lock
Labels: eng

#4835 Remove Istio nav link since content directory is already gone
  src/nav/integrations.yml
Labels: content, from_tw

#4743 feat(AI/Alerts): DOC-7516+DOC-7525 new AI work
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/images/destinations-filter.png
  src/content/docs/alerts-applied-intelligence/notifications/images/destinations-overview.png
  src/content/docs/alerts-applied-intelligence/notifications/images/jira-custom-variables.png
  src/content/docs/alerts-applied-intelligence/notifications/images/jira-test-notification.png
  src/content/docs/alerts-applied-intelligence/notifications/images/notification-custom-variables.png
  src/content/docs/alerts-applied-intelligence/notifications/images/notification-payload-template.png
  src/content/docs/alerts-applied-intelligence/notifications/images/servicenow-destination.png
  src/content/docs/alerts-applied-intelligence/notifications/images/servicenow-test-notification.png
  src/content/docs/alerts-applied-intelligence/notifications/images/slack-authorization.png
  src/content/docs/alerts-applied-intelligence/notifications/images/slack-destination.png
  src/content/docs/alerts-applied-intelligence/notifications/images/slack-sign-in.png
  src/content/docs/alerts-applied-intelligence/notifications/images/webhook-notification-template.png
  src/content/docs/alerts-applied-intelligence/notifications/intro-notifications.mdx
  src/content/docs/alerts-applied-intelligence/notifications/message-templates.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_internal

#4849 fix: add yarn-verify example
  src/content/docs/style-guide/writer-workflow/github-troubleshooting.mdx
Labels: content, from_tw

#4860 feat(AI): Added link to XML file
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_tw

#4863 Chore, troubleshooting access
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
Labels: content, pg_UXP, from_tw

#4864 Added a link to the signup page
  src/content/docs/data-apis/get-started/introduction-new-relic-data-ingest-apis-sdks.mdx
Labels: content, pg_TDP, from_tw

#4856 added a couple of edits
  src/content/docs/style-guide/processes-procedures/embed-videos.mdx
Labels: content, pg_XD, from_tw

#4836 feat(Improve structure and content of NRQL math page)
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-math-using-select.mdx
Labels: content, pg_TDP, from_tw

#4843 Link to Metrics API
  src/content/docs/apm/agents/go-agent/instrumentation/create-custom-metrics-go.mdx
Labels: content, from_tw

#4867 Change above to below
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-aggregate-monitor-metrics.mdx
Labels: content, from_internal

#4871 feat: add launchtype to ecs docs.
  src/content/docs/infrastructure/elastic-container-service-integration/understand-use-data/understand-use-ecs-data.mdx
Labels: content, from_internal

#4847 chore: rename workflow file and yarn command
  .github/workflows/add-slugs-to-translate-queue.yml
  package.json
Labels: eng

#4845 ESA-675 Add delete restrictions to the public documentation
  src/content/docs/apis/nerdgraph/examples/nerdgraph-entities-api-tutorial.mdx
Labels: content, from_internal

#4873 feat: add graviton note to nri-ecs deployment
  src/content/docs/infrastructure/elastic-container-service-integration/installation/install-ecs-integration.mdx
Labels: content, from_internal

#4874 Add no_dedup_engine_id flag explanation
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/advanced-config.mdx
Labels: content, from_internal

#4875 chore: Add new supported regions for Firelens log forwarding
  src/content/docs/logs/forward-logs/aws-firelens-plugin-log-forwarding.mdx
Labels: content, from_internal

#4858 feat/npm new troubleshooting
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-kentik-default.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-no-devices.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-polling-missing-metrics.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-walk.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal, pg_incubator

#4851 update translation testing, models
  scripts/actions/translation_workflow/models/job.js
  scripts/actions/translation_workflow/models/translation.js
  scripts/actions/translation_workflow/models/typedefs.js
  scripts/actions/translation_workflow/testing/creation_and_cleanup.sql
Labels: eng

#4829 Disregard: new(core users): add draft for core pricing & user type draft
  src/content/docs/accounts/accounts-billing/account-setup/create-your-new-relic-account.mdx
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/general-account-settings/introduction-account-settings.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/core-users-release.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/add-manage-users-groups-roles.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/groups-roles-capabilities.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/images/capability-restrictions.png
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-managing-users.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/scim-support-automated-user-management.mdx
  src/content/docs/accounts/accounts/automated-user-management/tutorial-manage-users-groups-scim.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/data-apis/understand-data/event-data/nrauditevent-event-data-query-examples.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
  src/content/docs/release-notes/org-user-mgmt-release-notes/org-users-21-09-01.mdx
  src/content/docs/style-guide/writing-guidelines/pricing-language-guidelines.mdx
  src/content/docs/style-guide/writing-guidelines/user-related-language-guidelines.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/user-roles-synthetic-monitoring.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/get-started-full-stack-observability.mdx
  src/content/whats-new/2021/10/instant-observability-10-13-21.md
  src/nav/accounts.yml
Labels: content, from_tw

#4878 Revert "Disregard: new(core users): add draft for core pricing & user type draft"
  src/content/docs/accounts/accounts-billing/account-setup/create-your-new-relic-account.mdx
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/general-account-settings/introduction-account-settings.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/core-users-release.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/add-manage-users-groups-roles.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/groups-roles-capabilities.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/images/capability-restrictions.png
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-managing-users.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/scim-support-automated-user-management.mdx
  src/content/docs/accounts/accounts/automated-user-management/tutorial-manage-users-groups-scim.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/data-apis/understand-data/event-data/nrauditevent-event-data-query-examples.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
  src/content/docs/release-notes/org-user-mgmt-release-notes/org-users-21-09-01.mdx
  src/content/docs/style-guide/writing-guidelines/pricing-language-guidelines.mdx
  src/content/docs/style-guide/writing-guidelines/user-related-language-guidelines.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/user-roles-synthetic-monitoring.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/get-started-full-stack-observability.mdx
  src/content/whats-new/2021/10/instant-observability-10-13-21.md
  src/nav/accounts.yml
Labels: content, from_tw

#4865 chore(multiple): adding Nerdbyte vids to docs.
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/tutorial-add-new-user-groups-roles-new-relic-one-user-model.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/outlier-detection-nrql-alert.mdx
  src/content/docs/data-apis/manage-data/drop-data-using-nerdgraph.mdx
  src/content/docs/infrastructure/host-integrations/installation/secrets-management.mdx
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
Labels: content, from_tw

#4857 fix: update useless errors link
  src/content/docs/browser/new-relic-browser/browser-agent-spa-api/noticeerror-browser-agent-api.mdx
Labels: content, pg_UXP, from_tw

#4879 chore: Added links to steps in Establish current state, improvement p…
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/sc-implementation-guide.mdx
Labels: content, from_internal

#4876 Observability maturity enhancements - added NRU links to introduction, SLM, AQM guides. Moved content into collapsable groups in the intro. This is to support the growing links there. Changed retention wording in CX docs per NRU's suggestion. Consolidated redundant KPI wording at the top of the SLM guide.
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/bofta-implementation-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/quality-foundation-implementation-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/introduction.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/aqm-implementation-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/slm-implementation-guide.mdx
Labels: content, from_internal

#4881 Add release notes for New Relic for iOS 3.81.1
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3811.mdx
Labels: content, from_internal

#4888 Update incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_internal

#4887 feat: Add documentation for DelayedJob custom attributes
  src/content/docs/apm/agents/ruby-agent/background-jobs/delayedjob-instrumentation.mdx
Labels: content, from_external

#4872 Updated billboards with new feat
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/images/billboards_color.png
Labels: content, from_tw

#4890 docs: add additional php troubleshooting guide when using Symfony 4.4
  src/content/docs/apm/agents/php-agent/troubleshooting/symfony44-performance.mdx
  src/nav/apm.yml
Labels: content, from_internal

#4866 add, update workflows for machine translation
  .github/workflows/add-slugs-to-translate-queue.yml
  .github/workflows/check-translations-and-deserialize.yml
  .github/workflows/send-content-to-machine-translate.yml
Labels: eng

#4893 fix(NPM): Moved content outside collapser
  src/content/docs/network-performance-monitoring/monitoring-network-data/visualize-network-data.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-kentik-default.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-no-devices.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-polling-missing-metrics.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-walk.mdx
Labels: content, from_tw

#4900 Added '-r newrelic' startup script to install docs
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
Labels: content, from_internal, pg_UXP

#4897 feat(AI/Alerts/CodeStream): Added sign-up calls to action on several …
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/proactive-detection/proactive-detection-applied-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/introduction-applied-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/your-first-nrql-condition.mdx
  src/content/docs/codestream/start-here/codestream-user-guide.mdx
  src/content/docs/codestream/start-here/install-codestream.mdx
  src/content/docs/codestream/start-here/sign-up-codestream.mdx
  src/content/docs/codestream/start-here/what-is-codestream.mdx
Labels: content, pg_AI, from_tw

#4906 applied-intelligence-notifications docs update
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/images/destinations-filter.png
  src/content/docs/alerts-applied-intelligence/notifications/images/destinations-overview.png
  src/content/docs/alerts-applied-intelligence/notifications/images/email_settings.png
  src/content/docs/alerts-applied-intelligence/notifications/images/filter-destinations.png
  src/content/docs/alerts-applied-intelligence/notifications/images/jira-custom-variables.png
  src/content/docs/alerts-applied-intelligence/notifications/images/jira-template.png
  src/content/docs/alerts-applied-intelligence/notifications/images/jira-test-notification.png
  src/content/docs/alerts-applied-intelligence/notifications/images/jira_destination.png
  src/content/docs/alerts-applied-intelligence/notifications/images/notification-custom-variables.png
  src/content/docs/alerts-applied-intelligence/notifications/images/serviceNow_destination.png
  src/content/docs/alerts-applied-intelligence/notifications/images/serviceNow_message-template.png
  src/content/docs/alerts-applied-intelligence/notifications/images/servicenow-destination.png
  src/content/docs/alerts-applied-intelligence/notifications/images/servicenow-test-notification.png
  src/content/docs/alerts-applied-intelligence/notifications/images/slack-authorization.png
  src/content/docs/alerts-applied-intelligence/notifications/images/slack-destination.png
  src/content/docs/alerts-applied-intelligence/notifications/images/slack_authentication_completed.png
  src/content/docs/alerts-applied-intelligence/notifications/images/slack_channel-test-notification.png
  src/content/docs/alerts-applied-intelligence/notifications/images/slack_destination-authentication.png
  src/content/docs/alerts-applied-intelligence/notifications/images/slack_destination_allow_access.png
  src/content/docs/alerts-applied-intelligence/notifications/images/slack_message-template-user-not-authenticated.png
  src/content/docs/alerts-applied-intelligence/notifications/images/webhook-preview-error.png
  src/content/docs/alerts-applied-intelligence/notifications/intro-notifications.mdx
  src/content/docs/alerts-applied-intelligence/notifications/message-templates.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#4909 fix: update generate-doc-json
  plugins/gatsby-plugin-generate-doc-json/gatsby-node.js
Labels: eng

#4911 Update custom-variables-incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
Labels: content, from_internal

#4907 Removing CloudFormation doc
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-cloudformation-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#4905 Update understand-use-data-infrastructure-integrations.mdx
  src/content/docs/infrastructure/infrastructure-integrations/get-started/understand-use-data-infrastructure-integrations.mdx
Labels: content, from_internal

#4912 notifications-docs fixes
  src/content/docs/alerts-applied-intelligence/notifications/images/email_settings.png
  src/content/docs/alerts-applied-intelligence/notifications/images/filter-destinations.png
  src/content/docs/alerts-applied-intelligence/notifications/intro-notifications.mdx
Labels: content, from_internal, pg_AI
