Repository newrelic/docs-website, pull requests merged in 2021-12, with the labels that each got.

#5096 style(homepage): Change nav to refer to "log management"
  src/nav/logs.yml
  src/nav/root.yml
Labels: content, from_tw

#5083 Update winservices-config.yml to match Github
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
Labels: content, from_internal

#5100 Daily release/11-30-21 evening
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
  src/content/docs/infrastructure/infrastructure-integrations/get-started/introduction-infrastructure-integrations.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/manage-pixie-data.mdx
  src/nav/logs.yml
  src/nav/root.yml
Labels: content, from_internal

#5011 SLM API doc
  src/content/docs/apis/nerdgraph/examples/nerdgraph-slm.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#5035 SLM in public docs
  src/content/docs/apm/reports/service-level-agreements/apm-sla-reports.mdx
  src/content/docs/service-levels-management/consume-slm.mdx
  src/content/docs/service-levels-management/create-slm.mdx
  src/content/docs/service-levels-management/faqs-slm.mdx
  src/content/docs/service-levels-management/images/set-slo.png
  src/content/docs/service-levels-management/images/sli_card.png
  src/content/docs/service-levels-management/images/slm1_1.png
  src/content/docs/service-levels-management/images/slm2_1.png
  src/content/docs/service-levels-management/images/slm_edit_menu.png
  src/content/docs/service-levels-management/images/slm_service_level_menu.png
  src/content/docs/service-levels-management/images/slm_setup.png
  src/content/docs/service-levels-management/intro-slm.mdx
  src/data/homepage.yml
  src/i18n/translations/en/translation.json
  src/nav/root.yml
  src/nav/service-levels-management.yml
Labels: content, from_tw

#5103 2021-12-01 SLM merge to main
  src/content/docs/apis/nerdgraph/examples/nerdgraph-slm.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/apm/reports/service-level-agreements/apm-sla-reports.mdx
  src/content/docs/service-levels-management/consume-slm.mdx
  src/content/docs/service-levels-management/create-slm.mdx
  src/content/docs/service-levels-management/faqs-slm.mdx
  src/content/docs/service-levels-management/images/set-slo.png
  src/content/docs/service-levels-management/images/sli_card.png
  src/content/docs/service-levels-management/images/slm1_1.png
  src/content/docs/service-levels-management/images/slm2_1.png
  src/content/docs/service-levels-management/images/slm_edit_menu.png
  src/content/docs/service-levels-management/images/slm_service_level_menu.png
  src/content/docs/service-levels-management/images/slm_setup.png
  src/content/docs/service-levels-management/intro-slm.mdx
  src/data/homepage.yml
  src/i18n/translations/en/translation.json
  src/nav/root.yml
  src/nav/service-levels-management.yml
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#5101 Update example (linux) Dockerfiles to use current .NET versions
  src/content/docs/apm/agents/net-agent/other-installation/install-net-agent-docker-container.mdx
Labels: content, from_internal

#5061 feat: exclusion file and tests
  loadershim.js
  scripts/actions/__tests__/add-files-to-translation-queue.test.js
  scripts/actions/add-files-to-translation-queue.js
  scripts/actions/translation_workflow/testing/script.sh
  scripts/actions/utils/constants.js
  scripts/actions/utils/docs-content-tools/i18n-exclusions.yml
  scripts/actions/utils/helpers.js
Labels: eng

#5106 Update custom-variables-incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
Labels: content, from_internal

#5104 infra_agent: SystemSample disk information across all devices
  src/data-dictionary/events/SystemSample/diskFreePercent.md
  src/data-dictionary/events/SystemSample/diskTotalBytes.md
  src/data-dictionary/events/SystemSample/diskUsedBytes.md
  src/data-dictionary/events/SystemSample/diskUsedPercent.md
Labels: content, from_internal

#5107 Adding provider details for cluster data
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-ecsecr-monitoring-integration.mdx
Labels: content, from_tw

#5109 SLM - Updating urls for UI
  src/content/docs/apm/reports/service-level-agreements/apm-sla-reports.mdx
  src/content/docs/service-level-management/consume-slm.mdx
  src/content/docs/service-level-management/create-slm.mdx
  src/content/docs/service-level-management/faqs-slm.mdx
  src/content/docs/service-level-management/images/set-slo.png
  src/content/docs/service-level-management/images/sli_card.png
  src/content/docs/service-level-management/images/slm1_1.png
  src/content/docs/service-level-management/images/slm2_1.png
  src/content/docs/service-level-management/images/slm_edit_menu.png
  src/content/docs/service-level-management/images/slm_service_level_menu.png
  src/content/docs/service-level-management/images/slm_setup.png
  src/content/docs/service-level-management/intro-slm.mdx
  src/data/homepage.yml
  src/nav/root.yml
  src/nav/service-level-management.yml
  src/nav/service-levels-management.yml
Labels: content, from_tw

#5113 chore: bump theme to v4.0.5
  package.json
  yarn.lock
Labels: eng

#5087 fix: add home page left nav info
  src/content/docs/style-guide/writing-docs/processes-procedures/edit-homepage.mdx
Labels: content, from_tw

#5114 Small update with example for Varnish 6
  src/content/docs/infrastructure/host-integrations/host-integrations-list/varnish-cache-monitoring-integration.mdx
Labels: content, from_internal

#5116 fix(metric normalization): adding 'Terminate'
  src/content/docs/new-relic-one/use-new-relic-one/ui-data/metric-normalization-rules.mdx
Labels: content, from_tw

#5091 Porting fix from PR 4697 that is not signed
  src/content/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
Labels: content, from_tw

#5102 Remove all references to OpenCensus per prod management
  src/content/docs/apm/agents/go-agent/get-started/introduction-new-relic-go.mdx
  src/content/docs/apm/agents/python-agent/getting-started/introduction-new-relic-python.mdx
  src/content/docs/data-apis/custom-data/intro-custom-data.mdx
  src/content/docs/data-apis/ingest-apis/metric-api/introduction-metric-api.mdx
  src/content/docs/data-apis/ingest-apis/telemetry-sdks-report-custom-telemetry-data.mdx
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
  src/content/docs/distributed-tracing/enable-configure/integrations-enable-distributed-tracing.mdx
  src/content/docs/distributed-tracing/enable-configure/overview-enable-distributed-tracing.mdx
  src/content/docs/distributed-tracing/infinite-tracing/set-trace-observer.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/get-started/introduction-new-relics-open-source-telemetry-integrations.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opencensus/opencensus-exporter.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/introduction-opentelemetry-new-relic.mdx
  src/nav/integrations.yml
Labels: content, from_tw

#5122 style(support offerings): Simplify and clarify callout language
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_tw

#5125 fix(Style guide): Diff a file
  src/content/docs/style-guide/writing-docs/writer-workflow/github-intro.mdx
Labels: content, from_tw

#5118 fix: update errors inbox title
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/nav/errors-inbox.yml
Labels: content, from_tw

#5135 Whats new113021 kdowns
  src/content/whats-new/2021/11/InfraV2-WhatsNew.md
  src/content/whats-new/2021/11/images/NewInfraUI.png
  src/content/whats-new/2021/11/images/RootCause.png
Labels: content, from_tw, what's new

#5132 Includes a note regarding FedRAMP compliance
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-troubleshooting.mdx
Labels: content, from_internal

#5130 Update FedRamp section with actual endpoint URL
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-quick-start.mdx
Labels: content, from_internal

#5138 Added link to Explorers Hub post
  src/content/docs/apis/nerdgraph/tutorials/nerdgraph-workloads-api-tutorials.mdx
Labels: content, from_tw

#5134 Update whats-new-style-guidelines.mdx
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-style-guidelines.mdx
Labels: content, from_tw

#5115 chore(style guide): Clarify GH labels for PRs/issues
  src/content/docs/style-guide/writing-docs/writer-workflow/github-intro.mdx
Labels: content, from_tw

#5143 fix(Docs homepage): Updated NRQL chart link
  src/data/homepage.yml
Labels: content, pg_UXP, from_tw

#5140 fix(apm): add APM screenshot
  src/content/docs/apm/new-relic-apm/getting-started/images/apm-screenshot.png
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
Labels: content, from_tw

#5146 call out for ingest increase
  src/content/docs/apm/agents/java-agent/configuration/automatic-application-naming.mdx
Labels: content, from_internal

#5150 Update requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#5151 Update start-stop-restart-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/manage-your-agent/start-stop-restart-infrastructure-agent.mdx
Labels: content, from_internal

#5155 fix: update notes on querying Prometheus histogram data
  src/content/docs/infrastructure/prometheus-integrations/view-query-data/view-query-your-prometheus-data.mdx
Labels: content, from_internal

#5105 feat(OHI): Added new docs for NGINX and mySQL
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/images/ecs.png
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/images/kubernetes-k8.png
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/images/windows.png
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-advanced-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/images/ecs.png
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/images/kubernetes-k8.png
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/images/windows.png
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-advanced-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
  src/content/docs/infrastructure/infrastructure-integrations/get-started/understand-use-data-infrastructure-integrations.mdx
  src/i18n/content/jp/docs/infrastructure/infrastructure-integrations/get-started/understand-use-data-infrastructure-integrations.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#5108 Updating Java agent version example
  src/content/docs/apm/agents/java-agent/additional-installation/install-java-agent-using-maven.mdx
Labels: content, from_tw

#5156 Missing Double Quote in Pixie Command
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/manage-pixie-data.mdx
Labels: content, from_internal

#5133 Update proactive-detection-applied-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/proactive-detection/proactive-detection-applied-intelligence.mdx
Labels: content, from_internal

#5148 fix(integrations): fix broken OSS sdk links
  src/content/docs/data-apis/ingest-apis/telemetry-sdks-report-custom-telemetry-data.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/get-started/introduction-new-relics-open-source-telemetry-integrations.mdx
Labels: content, from_tw

#5136 feat(Networks firewall): Fixed for DOC-7534
  src/content/docs/using-new-relic/cross-product-functions/install-configure/networks.mdx
Labels: content, from_tw

#5141 style(Serverless): Cleaned up some language, made it less mean
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/architecture.mdx
Labels: content, pg_observability, from_tw

#5158 Clarify that logs in context isn't available in APM UI for PHP
  src/content/docs/apm/agents/php-agent/getting-started/introduction-new-relic-php.mdx
  src/content/docs/logs/logs-context/annotate-logs-logs-context-using-apm-agent-apis.mdx
  src/content/docs/logs/logs-context/configure-logs-context-php.mdx
Labels: content, from_tw

#5145 style(glossary): Fix minor formatting issues
  src/content/docs/using-new-relic/welcome-new-relic/get-started/glossary.mdx
Labels: content, from_tw

#5117 chore(ticketing integrations): Delete ticketing integrations doc
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/http-errors-network-failure-analysis.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/measure-devops-success/incident-orchestration-align-teams-tools-processes.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/measure-devops-success/operations-review-assess-optimize-team-progress.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/optimize-your-cloud-native-environment/set-proactive-alerts-align-teams-tools-processes-incident-response.mdx
  src/content/docs/style-guide/formatting/callouts.mdx
  src/content/docs/using-new-relic/cross-product-functions/install-configure/networks.mdx
  src/content/docs/using-new-relic/user-interface-functions/share-your-data/ticketing-integrations.mdx
  src/nav/apm.yml
Labels: content, from_tw

#5166 style(homepage): Improve homepage links
  src/data/homepage.yml
Labels: content, from_tw

#5169 Update errors-inbox.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content, from_external

#5171 fix(partnership): clarifying Insights requirement
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-subscription-object.mdx
Labels: content, from_tw

#5172 fix(browser): mention limits are per account
  src/content/docs/browser/new-relic-browser/browser-pro-features/upload-source-maps-api.mdx
Labels: content, from_tw

#5174 fix(infra): remove EAP callout
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-ui-entities.mdx
Labels: content, from_tw

#5137 [DOC-7459] MLOps: Intro + Sagemaker doc
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/mlops/bring-your-own/mlops-byo.mdx
  src/content/docs/alerts-applied-intelligence/mlops/get-started/intro-mlops.mdx
  src/content/docs/alerts-applied-intelligence/mlops/integrations/aporia-mlops-integration.mdx
  src/content/docs/alerts-applied-intelligence/mlops/integrations/aws-sagemaker-mlops-integration.mdx
  src/content/docs/alerts-applied-intelligence/mlops/integrations/comet-mlops-integration.mdx
  src/content/docs/alerts-applied-intelligence/mlops/integrations/dagshub-mlops-integration.mdx
  src/content/docs/alerts-applied-intelligence/mlops/integrations/datarobot-mlops-integration.mdx
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/algorithmia-flow.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/aporia1.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/aporia2.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/aporia3.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/aws-sm-02.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/aws-sm-03.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/aws-sm-04.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/aws-sm-flow.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/comet01.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/comet02.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/comet03.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/dagshub1.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/mona01.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/mona02.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/mona03.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/superwise01.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/superwise1.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/superwise2.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/truera_alerts.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/truera_dash1.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/images/truera_step4.png
  src/content/docs/alerts-applied-intelligence/mlops/integrations/mona-mlops-integration.mdx
  src/content/docs/alerts-applied-intelligence/mlops/integrations/superwise-mlops-integration.mdx
  src/content/docs/alerts-applied-intelligence/mlops/integrations/truera-mlops-integration.mdx
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_tw

#5177 Update security-guide.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-guide.mdx
Labels: content, from_internal

#5176 fix(data-dict): fix typo
  src/data-dictionary/events/PageView/webAppDuration.md
Labels: content, from_tw

#5175 fix(browser): increase limits
  src/content/docs/browser/new-relic-browser/browser-pro-features/upload-source-maps-api.mdx
Labels: content, from_tw

#5173 Adding demo videos
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#5184 chore(Forward logs): Taxonomy
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/nav/logs.yml
Labels: content, from_tw

#5191 Link addition
  src/content/docs/alerts-applied-intelligence/mlops/bring-your-own/mlops-byo.mdx
Labels: content, from_internal

#5188 Release notes for Go Agent v3.15.2
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-15-2.mdx
Labels: content, from_internal

#5189 Minimum K8s version required changed
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/configure-control-plane-monitoring.mdx
Labels: content, from_internal, pg_observability

#5160 Update wn-codestream-1021.md
  src/content/whats-new/2021/10/wn-codestream-1021.md
Labels: from_internal, what's new

#5180 minor fixups
  scripts/actions/translation_workflow/testing/script.sh
  scripts/actions/utils/constants.js
Labels: content

#5197 fix(HSM): clarifying for v2 user model
  src/content/docs/apm/agents/manage-apm-agents/configuration/high-security-mode.mdx
Labels: content, from_tw

#5205 Update wordpress-specific-functionality.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/wordpress-specific-functionality.mdx
Labels: content, pg_observability, from_tw

#5198 fix typo
  src/content/docs/browser/browser-monitoring/getting-started/browser-summary-page.mdx
  src/content/docs/browser/browser-monitoring/getting-started/images/browser_summary_page.png
Labels: content, from_internal

#5214 Add translation disclaimer
  src/content/docs/licenses/translated-documentation/translation-disclaimer.mdx
  src/nav/licenses.yml
Labels: content, from_internal

#5129 Clarify conventional commit types and scope for contributors
  CONTRIBUTING.md
Labels: content, from_tw

#5159 Whats-new-12-1-ml-ops-mpm
  src/content/whats-new/2021/12/images/MLOps-whats-new-screen120621.png
  src/content/whats-new/2021/12/whats-new-12-1-MLOps-MPM.md
Labels: from_internal, pg_observability, what's new

#5218 fix(home page): add MLOps
  src/nav/root.yml
Labels: content, from_tw

#5208 feat: New NPM profiles document
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-profiles.mdx
Labels: content, from_internal, pg_TDP

#5192 Update mlops-byo.mdx
  src/content/docs/alerts-applied-intelligence/mlops/bring-your-own/mlops-byo.mdx
Labels: content, from_internal

#5170 Applied-Intelligence 'Notifications' docs - new custom helper for handlebars
  src/content/docs/alerts-applied-intelligence/notifications/message-templates.mdx
Labels: content, from_internal

#5225 fix(sagemaker): edits to name and correct image
  src/content/docs/mlops/integrations/aws-sagemaker-mlops-integration.mdx
  src/content/docs/mlops/integrations/images/aws-sm-flow.png
Labels: content, from_internal

#5226 fix(mlops): edit nav file a bit
  src/nav/mlops.yml
Labels: content, from_tw

#5222 chore(style guide): Consistent punctuation in usage dictionary
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#5230 Fixed incorrect statement
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_internal

#5231 feat(Alerts): Added a new video explaining streaming alerts aggregation methods
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/streaming-alerts-key-terms-concepts.mdx
Labels: content, from_tw

#5229 Applied-Intelligence 'Notifications' docs - new Email Integration and minors
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/message-templates.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, pg_AI

#5234 fix: capitalization
  src/content/docs/query-your-data/explore-query-data/dashboards/filter-new-relic-one-dashboards-facets.mdx
Labels: content, from_internal

#5235 Minor edits/changes
  src/content/docs/mlops/integrations/aporia-mlops-integration.mdx
Labels: content, from_internal

#5236 Update Comet MLOps Doc
  src/content/docs/mlops/integrations/comet-mlops-integration.mdx
Labels: content, from_internal

#5237 Update DagsHub Doc
  src/content/docs/mlops/integrations/dagshub-mlops-integration.mdx
Labels: content, from_internal

#5239 Superwise doc revisions
  src/content/docs/mlops/integrations/superwise-mlops-integration.mdx
Labels: content, from_internal

#5238 Updated Mona docs
  src/content/docs/mlops/integrations/mona-mlops-integration.mdx
Labels: content, from_internal

#5241 docs: fixed broken otel integrations link
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
Labels: content, from_internal

#5246 fix(Kubernetes): Fixed link
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-not-seeing-data.mdx
Labels: content, from_tw

#5247 Adding one missing explicit delay for AWS ELB
  src/content/docs/infrastructure/amazon-integrations/troubleshooting/metric-data-delays-amazon-aws-integrations.mdx
Labels: content, from_internal

#5206 feat(Kubernetes Helm): Uninstall procedure
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
Labels: content, pg_TDP, from_tw

#5251 Add handlebar support to code fences
  gatsby-config.js
Labels: from_external

#5254 chore: Java agent release notes 6.5.1 and 7.4.1
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-651.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-741.mdx
Labels: content, from_internal, pg_observability

#5257 CVE 2021 44228
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-03.mdx
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
  src/nav/new-relic-security.yml
Labels: content, from_internal

#5259 Update security-bulletin-nr21-03.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-03.mdx
Labels: content, from_internal

#5263 add tip about accountId
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, from_internal

#5266 Update aws-sagemaker-mlops-integration.mdx
  src/content/docs/mlops/integrations/aws-sagemaker-mlops-integration.mdx
Labels: content, from_internal

#5262 Update custom-variables-incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
Labels: content, from_internal

#5252 chore/update npm config options and add troubleshooting doc
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-health.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-management.mdx
  src/content/docs/network-performance-monitoring/advanced/snmp-profiles.mdx
  src/content/docs/network-performance-monitoring/get-started/npm-introduction.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/advanced-config.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal, pg_TDP

#5269 fix(Accounts): Fixed broken nav link
  src/nav/accounts.yml
Labels: content, from_tw

#5270 chore(CPM release note): Add mdx to filename
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3055.mdx
Labels: content, from_tw

#5271 Change security bulletin date of release
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-03.mdx
Labels: content, from_tw

#5185 fix(nav): add licenses directory to home page left nav
  src/nav/root.yml
Labels: content, from_tw

#5277 Daily release/12-13-21-noon
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
  src/content/docs/mlops/integrations/aws-sagemaker-mlops-integration.mdx
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-health.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-management.mdx
  src/content/docs/network-performance-monitoring/advanced/snmp-profiles.mdx
  src/content/docs/network-performance-monitoring/get-started/npm-introduction.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/advanced-config.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-651.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-741.mdx
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3055.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-03.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
  src/nav/accounts.yml
  src/nav/network-performance-monitoring.yml
Labels: content, from_tw

#5275 chore(mobile apps): Remove duplicate paragraph
  src/content/docs/mobile-apps/ios-app/introduction-ios-mobile-app.mdx
Labels: content, from_tw

#5280 chore: java-agent adding more info on recent release notes
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-651.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-741.mdx
Labels: content, from_internal

#5276 feat(APM/CodeStream): Add links to CodeStream env variables DOC-7574
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/codestream/start-here/codestream-new-relic.mdx
Labels: content, from_tw

#5278 chore: Updates supported versions of .NET Agent NServiceBus
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#5283 chore: java-agent - rectifying mitigation procedures
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-651.mdx
Labels: content, from_internal

#5285 Daily release/12-13-21-evening
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/codestream/start-here/codestream-new-relic.mdx
  src/content/docs/mobile-apps/ios-app/introduction-ios-mobile-app.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-651.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-741.mdx
  src/nav/root.yml
Labels: content, from_tw

#5284 Log4j 1203 update
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-03.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-04.mdx
  src/nav/new-relic-security.yml
Labels: content, from_tw, pg_other

#5274 chore(networks doc): Clarify what "last updated" means
  src/content/docs/using-new-relic/welcome-new-relic/get-started/networks.mdx
Labels: content, from_tw

#5286 fix: JSON bugs and add steps
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, from_internal

#5289 fix(DT):Fixed link
  src/content/docs/distributed-tracing/infinite-tracing/introduction-infinite-tracing.mdx
Labels: content, from_tw

#5288 Update custom-variables-incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
Labels: content, from_internal

#5245 Add self-serve instructions for "What's new"
  src/content/docs/style-guide/writing-docs/article-templates/images/cla-signature.png
  src/content/docs/style-guide/writing-docs/article-templates/images/commit-changes-content.png
  src/content/docs/style-guide/writing-docs/article-templates/images/commit-changes-images.png
  src/content/docs/style-guide/writing-docs/article-templates/images/content-folder.png
  src/content/docs/style-guide/writing-docs/article-templates/images/create-a-branch-2.png
  src/content/docs/style-guide/writing-docs/article-templates/images/create-a-branch.png
  src/content/docs/style-guide/writing-docs/article-templates/images/create-pull-request-button.png
  src/content/docs/style-guide/writing-docs/article-templates/images/create-pull-request.png
  src/content/docs/style-guide/writing-docs/article-templates/images/delete-branch-1.png
  src/content/docs/style-guide/writing-docs/article-templates/images/delete-branch-2.png
  src/content/docs/style-guide/writing-docs/article-templates/images/delete-branch-3.png
  src/content/docs/style-guide/writing-docs/article-templates/images/drag-files-content.png
  src/content/docs/style-guide/writing-docs/article-templates/images/drag-files-images.png
  src/content/docs/style-guide/writing-docs/article-templates/images/edit-live-pr-button-1.png
  src/content/docs/style-guide/writing-docs/article-templates/images/edit-live-pr-button-2.png
  src/content/docs/style-guide/writing-docs/article-templates/images/edit-page-button.png
  src/content/docs/style-guide/writing-docs/article-templates/images/edit-pencil-icon.png
  src/content/docs/style-guide/writing-docs/article-templates/images/fetch-upstream.png
  src/content/docs/style-guide/writing-docs/article-templates/images/find-live-post.png
  src/content/docs/style-guide/writing-docs/article-templates/images/fork.png
  src/content/docs/style-guide/writing-docs/article-templates/images/propose-changes.png
  src/content/docs/style-guide/writing-docs/article-templates/images/src-folder.png
  src/content/docs/style-guide/writing-docs/article-templates/images/upload-files-content.png
  src/content/docs/style-guide/writing-docs/article-templates/images/upload-files-image.png
  src/content/docs/style-guide/writing-docs/article-templates/images/whats-new-folder.png
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-style-guidelines.mdx
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-template.mdx
  src/nav/style-guide.yml
Labels: content, from_internal

#5290 Daily release/12-14-21-morning
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
  src/content/docs/distributed-tracing/infinite-tracing/introduction-infinite-tracing.mdx
  src/content/docs/style-guide/writing-docs/article-templates/images/cla-signature.png
  src/content/docs/style-guide/writing-docs/article-templates/images/commit-changes-content.png
  src/content/docs/style-guide/writing-docs/article-templates/images/commit-changes-images.png
  src/content/docs/style-guide/writing-docs/article-templates/images/content-folder.png
  src/content/docs/style-guide/writing-docs/article-templates/images/create-a-branch-2.png
  src/content/docs/style-guide/writing-docs/article-templates/images/create-a-branch.png
  src/content/docs/style-guide/writing-docs/article-templates/images/create-pull-request-button.png
  src/content/docs/style-guide/writing-docs/article-templates/images/create-pull-request.png
  src/content/docs/style-guide/writing-docs/article-templates/images/delete-branch-1.png
  src/content/docs/style-guide/writing-docs/article-templates/images/delete-branch-2.png
  src/content/docs/style-guide/writing-docs/article-templates/images/delete-branch-3.png
  src/content/docs/style-guide/writing-docs/article-templates/images/drag-files-content.png
  src/content/docs/style-guide/writing-docs/article-templates/images/drag-files-images.png
  src/content/docs/style-guide/writing-docs/article-templates/images/edit-live-pr-button-1.png
  src/content/docs/style-guide/writing-docs/article-templates/images/edit-live-pr-button-2.png
  src/content/docs/style-guide/writing-docs/article-templates/images/edit-page-button.png
  src/content/docs/style-guide/writing-docs/article-templates/images/edit-pencil-icon.png
  src/content/docs/style-guide/writing-docs/article-templates/images/fetch-upstream.png
  src/content/docs/style-guide/writing-docs/article-templates/images/find-live-post.png
  src/content/docs/style-guide/writing-docs/article-templates/images/fork.png
  src/content/docs/style-guide/writing-docs/article-templates/images/propose-changes.png
  src/content/docs/style-guide/writing-docs/article-templates/images/src-folder.png
  src/content/docs/style-guide/writing-docs/article-templates/images/upload-files-content.png
  src/content/docs/style-guide/writing-docs/article-templates/images/upload-files-image.png
  src/content/docs/style-guide/writing-docs/article-templates/images/whats-new-folder.png
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-style-guidelines.mdx
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-template.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/networks.mdx
  src/nav/style-guide.yml
Labels: content

#5291 Update incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_internal

#5292 Add recommended SLIs for OTel services
  src/content/docs/service-level-management/create-slm.mdx
Labels: content, from_internal

#5293 chore(Security bulletins summary): Add 21-04 log4j CPM
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
Labels: content, from_tw, pg_other

#5256 style(CodeStream): DOC-7565 Added video, images, captions to this intro doc
  src/content/docs/codestream/start-here/images/error-ide.png
  src/content/docs/codestream/start-here/what-is-codestream.mdx
  src/nav/codestream.yml
Labels: content, from_tw

#5302 chore: Java agent 7.4.2 release notes
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-742.mdx
Labels: content, from_internal, pg_observability

#5298 CPM Release Notes version 3.0.56
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3056.mdx
Labels: content, from_internal, pg_observability

#5301 Update InfraV2-WhatsNew.md
  src/content/whats-new/2021/11/InfraV2-WhatsNew.md
Labels: content, from_internal, what's new

#5299 "What's new" Infra EC2 Lower Costs
  src/content/whats-new/2021/12/whats-new-12-15-InfraEC2LowerCosts.md
Labels: content, what's new

#5307 Update security-bulletin-nr21-03.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-03.mdx
Labels: content, from_tw, pg_other

#5300 chore/npm advanced config
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-health.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-management.mdx
Labels: content, from_internal, pg_TDP

#5308 Update security-bulletin-nr21-04.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-04.mdx
Labels: content, from_tw, pg_other

#5297 Some integration-related fixes
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/content/docs/apis/intro-apis/introduction-new-relic-apis.mdx
  src/content/docs/data-apis/custom-data/intro-custom-data.mdx
  src/content/docs/data-apis/ingest-apis/telemetry-sdks-report-custom-telemetry-data.mdx
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
  src/content/docs/distributed-tracing/infinite-tracing/introduction-infinite-tracing.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/get-started/introduction-new-relics-open-source-telemetry-integrations.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/get-started-full-stack-observability.mdx
  src/nav/integrations.yml
Labels: content, from_tw

#5320 chore:create doc that coveres history and deleted docs
  src/content/docs/style-guide/writing-docs/writer-workflow/github-history.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/github-intro.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#5318 Update whats-new-template.mdx
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-template.mdx
Labels: content, from_internal

#5312 Update vmware-vsphere-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
Labels: content, from_external

#5322 Update forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#5315 chore: Java agent release 6.5.2
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-652.mdx
Labels: content, from_internal

#5331 docs: clarify the array of status codes are ints
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#5333 chore: adding point release to the Java compatibility table
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#5335 Updated link
  src/content/docs/mlops/get-started/intro-mlops.mdx
Labels: content, from_internal

#5336 fix: Replace links to Instrument Everything page
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
Labels: content, from_internal

#5339 Create kubernetes-integration-2-8-1.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-2-8-1.mdx
Labels: content, from_internal

#5340 Create kubernetes-integration-2-8-2.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-2-8-2.mdx
Labels: content, from_internal

#5341 Create kubernetes-integration-2-8-3.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-2-8-3.mdx
Labels: content, from_internal

#5346 Daily release/12-16-21 morning
  .github/workflows/add-slugs-to-translate-queue.yml
  .github/workflows/check-translations-and-deserialize.yml
  .github/workflows/send-content-to-machine-translate.yml
  gatsby-node.js
  loadershim.js
  package.json
  scripts/actions/__tests__/__snapshots__/serialize-mdx.test.js.snap
  scripts/actions/__tests__/add-files-to-translation-queue.test.js
  scripts/actions/__tests__/deserialize-html.test.js
  scripts/actions/__tests__/kitchen-sink.mdx
  scripts/actions/__tests__/serialize-mdx.test.js
  scripts/actions/add-files-to-translation-queue.js
  scripts/actions/check-job-progress.js
  scripts/actions/configuration.js
  scripts/actions/deserialize-html.js
  scripts/actions/send-and-update-translation-queue.js
  scripts/actions/translation_workflow/database.js
  scripts/actions/translation_workflow/models/job.js
  scripts/actions/translation_workflow/models/translation.js
  scripts/actions/translation_workflow/models/typedefs.js
  scripts/actions/translation_workflow/testing/Dockerfile
  scripts/actions/translation_workflow/testing/README.md
  scripts/actions/translation_workflow/testing/cleanup.sh
  scripts/actions/translation_workflow/testing/config/config.json
  scripts/actions/translation_workflow/testing/connection_info.json
  scripts/actions/translation_workflow/testing/creation_and_cleanup.sql
  scripts/actions/translation_workflow/testing/docker-compose.yml
  scripts/actions/translation_workflow/testing/migrations/20211201221649-test.js
  scripts/actions/translation_workflow/testing/pgadmin_query.png
  scripts/actions/translation_workflow/testing/script.sh
  scripts/actions/utils/constants.js
  scripts/actions/utils/docs-content-tools/i18n-exclusions.yml
  scripts/actions/utils/handlers.js
  scripts/actions/utils/helpers.js
  scripts/actions/utils/serialization-helpers.js
  src/@newrelic/gatsby-theme-newrelic/icons/feather.js
  src/components/MDXContainer.js
  src/components/MachineTranslationCallout.js
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
  src/content/docs/licenses/translated-documentation/translation-disclaimer.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/mlops/get-started/intro-mlops.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-health.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-652.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-2-8-1.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-2-8-2.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-2-8-3.mdx
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-template.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/github-history.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/github-intro.mdx
  src/i18n/translations/en/translation.json
  src/i18n/translations/jp/translation.json
  src/nav/style-guide.yml
  src/templates/docPage.js
  yarn.lock
Labels: content, from_tw

#5345 fix(TDP nav): fixing bad order of intro docs
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#5316 Update glossary.mdx
  src/content/docs/glossary/glossary.mdx
Labels: content, pg_XD, from_tw

#5344 Deprecation notice: Kubernetes v1.15 and lower
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/deprecation-notice-v1.15andlower.mdx
Labels: content, from_internal

#5350 OpenTelemetry Introduction: Confusion is not efficient
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/introduction-opentelemetry-new-relic.mdx
Labels: content, from_internal

#5355 Update security-bulletin-nr21-04.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-04.mdx
Labels: content, from_internal, pg_other

#5354 Update security-bulletin-nr21-03.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-03.mdx
Labels: content, from_tw, pg_other

#5356 Update security-bulletins.mdx
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
Labels: content, from_tw, pg_other

#5357 Daily release/12-16-21 evening
  scripts/actions/__tests__/__snapshots__/serialize-mdx.test.js.snap
  scripts/actions/__tests__/deserialize-html.test.js
  scripts/actions/__tests__/serialize-mdx.test.js
  scripts/actions/utils/handlers.js
  src/content/docs/glossary/glossary.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/get-started/new-relic-ios-compatibility-requirements.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/introduction-opentelemetry-new-relic.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/deprecation-notice-v1.15andlower.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-03.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-04.mdx
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#5362 fix(Java log4j): Correction
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-03.mdx
Labels: content, from_tw, pg_other

#5361 chore(java-agent): Updating download link to latest point release
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#5303 fix: use img html tag with import inside collapser
  src/content/docs/infrastructure/prometheus-integrations/view-query-data/translate-promql-queries-nrql.mdx
Labels: content, from_internal, pg_other

#5375 docs: format code blocks and fix example code error
  src/content/docs/apm/agents/net-agent/net-agent-api/itransaction.mdx
Labels: content, from_internal

#5372 chore: adding notes on aws secret management
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal

#5378 docs: fix typo, add last missing filetype
  src/content/docs/apm/agents/net-agent/net-agent-api/itransaction.mdx
Labels: content, from_internal
