Repository newrelic/docs-website, pull requests merged in 2021-05, with the labels that each got.

#2092 DOC-6177 - Service name updated
  src/content/docs/integrations/host-integrations/host-integrations-list/monitor-services-running-amazon-ecs.mdx
Labels: content, internal

#2001 Link image to original
  gatsby-config.js
Labels: eng

#2069 Add FedRAMP pdf
  src/content/docs/security/security-privacy/compliance/New-Relic-FedRAMP-Customer-Responsibility-Matrix.pdf
Labels: content

#2053 Lambda category changes
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-legacy.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-example.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-your-own.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/update-serverless-monitoring-aws-lambda.mdx
  src/nav/full-stack-observability.yml
Labels: content

#2096 Release notes for Go Agent v3.12.0
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-12-0.mdx
Labels: content, internal

#2108 chore: documenting docs branch protection
  CONTRIBUTING.md
  src/images/Docs_site_branch_protection_workflow.png
Labels: content, internal

#2109 Update mysql-monitoring-integration.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/mysql-monitoring-integration.mdx
Labels: content, internal

#2115 Corrected Node and PHP links and removed URL prefixes in other links
  src/content/docs/agents/manage-apm-agents/agent-data/agent-attributes.mdx
Labels: content, internal

#2114 Editing pricing 'tier' to 'edition'
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/content/docs/accounts/accounts-billing/account-structure/mastersub-account-structure.mdx
  src/content/docs/accounts/accounts-billing/general-account-settings/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-users/new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/add-manage-users-groups-roles.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/tutorial-add-new-user-groups-roles-new-relic-one-user-model.mdx
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/agents/manage-apm-agents/configuration/high-security-mode.mdx
  src/content/docs/apm/new-relic-apm/getting-started/apm-agent-data-security.mdx
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/distributed-tracing/infinite-tracing/introduction-infinite-tracing.mdx
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/new-relic-lookout-monitor-your-estate-glance.mdx
  src/content/docs/style-guide/quick-reference/usage-dictionary.mdx
  src/content/docs/telemetry-data-platform/ingest-manage-data/manage-data/manage-data-retention.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/glossary.mdx
Labels: content, internal

#2107 Working on issue #2105
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/images/incidents_timeline.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
Labels: content, internal

#2124 Issue 2121 - workloads updates
  src/content/docs/new-relic-one/use-new-relic-one/workloads/workload-status-views-notifications.mdx
Labels: content, internal

#2126 feat(nri-prometheus): updated docs with new config option
  src/content/docs/integrations/prometheus-integrations/install-configure-openmetrics/configure-prometheus-openmetrics-integrations.mdx
Labels: content, internal

#2128 chore: Update Availabilty section text
  src/content/docs/logs/log-management/ui-data/find-unusual-logs-log-patterns.mdx
Labels: content, internal

#2134 fix: clear up confusion
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/compatibility-requirements-aws-lambda-monitoring.mdx
Labels: content, internal

#2125 Update account-linking.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking.mdx
Labels: content, internal

#2135 Afternoon merge to main 050521
  src/content/docs/integrations/prometheus-integrations/install-configure-openmetrics/configure-prometheus-openmetrics-integrations.mdx
  src/content/docs/logs/log-management/ui-data/find-unusual-logs-log-patterns.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/compatibility-requirements-aws-lambda-monitoring.mdx
Labels: content, internal

#2100 Sdlc update
  src/content/docs/security/security-privacy/information-security/software-development-lifecycle.mdx
Labels: content, internal

#1868 Create title style guide doc
  src/content/docs/style-guide/quick-reference/titles.mdx
  src/nav/style-guide.yml
Labels: content, internal

#2131 Fixed headings
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, internal

#2142 Updated AWS Billing feature
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-billing-monitoring-integration.mdx
  src/content/docs/integrations/amazon-integrations/get-started/integrations-managed-policies.mdx
Labels: content, internal

#2138 Moving and editing chart types doc - DOC-6819
  src/content/docs/insights/use-insights-ui/manage-dashboards/chart-types.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/images/crop-insights-attribute-sheet-chart.png
  src/content/docs/insights/use-insights-ui/manage-dashboards/images/crop-insights-event-chart.png
  src/content/docs/insights/use-insights-ui/manage-dashboards/images/crop-insights-gauge-chart_0.png
  src/content/docs/insights/use-insights-ui/manage-dashboards/images/crop-insights-list-chart.png
  src/content/docs/insights/use-insights-ui/manage-dashboards/images/crop-pie-chart-uniquecount.png
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/images/chart_area.png
  src/content/docs/query-your-data/explore-query-data/use-charts/images/chart_bar.png
  src/content/docs/query-your-data/explore-query-data/use-charts/images/chart_billboard.png
  src/content/docs/query-your-data/explore-query-data/use-charts/images/chart_bullet.png
  src/content/docs/query-your-data/explore-query-data/use-charts/images/chart_heatmap.png
  src/content/docs/query-your-data/explore-query-data/use-charts/images/chart_line.png
  src/content/docs/query-your-data/explore-query-data/use-charts/images/chart_pie.png
  src/content/docs/query-your-data/explore-query-data/use-charts/images/chart_table.png
  src/content/docs/query-your-data/explore-query-data/use-charts/images/crop-insights-histogram-chart.png
  src/nav/insights.yml
  src/nav/new-relic-in-practice.yml
Labels: content, internal

#2149 Fix a spelling error
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-maintenance-monitoring.mdx
Labels: content, internal

#2154 CPM 3.0.46 Release Notes.
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3046.mdx
Labels: content, internal

#2140 Corrected "last_value" for API and borrowed descriptions from the UI doc.
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names.mdx
Labels: content, internal

#2153 Release notes for New Relic for Android v3.10.0
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-3100.mdx
Labels: content, internal

#2155 DOC-6865 - Emergency additions to self-serve pricing and user model migrations
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/nav/accounts.yml
Labels: content

#2159 Update log-part.md
  src/content/whats-new/2021/04/log-part.md
Labels: content, internal

#2161 Update log-patterns.md
  src/content/whats-new/2021/04/log-patterns.md
Labels: content, internal

#2162 Update nerdlog-weekly-roundup-march-25.md
  src/content/whats-new/2021/03/nerdlog-weekly-roundup-march-25.md
Labels: content, internal

#2163 Update root-cause-analysis.md
  src/content/whats-new/2021/03/root-cause-analysis.md
Labels: content, internal

#2164 Update nerdlog-weekly-roundup-march-11.md
  src/content/whats-new/2021/03/nerdlog-weekly-roundup-march-11.md
Labels: content, internal

#2165 Update nerdlog-weekly-roundup-march-8.md
  src/content/whats-new/2021/03/nerdlog-weekly-roundup-march-8.md
Labels: content, internal

#2166 Update nerdlog-weekly-roundup-feb-24.md
  src/content/whats-new/2021/02/nerdlog-weekly-roundup-feb-24.md
Labels: content, internal

#2175 Small fixes to user mgmt docs
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/add-manage-users-groups-roles.mdx
Labels: content, internal

#2160 Small fix to recent changes in 'Overview of pricing and user model changes' doc
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
Labels: content, internal

#2167 Update nerdlog-featured-weekly-releases.md
  src/content/whats-new/2021/02/nerdlog-featured-weekly-releases.md
Labels: content, internal

#2156 DOC-6700: Updates to the overview page to match the current UI
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/alerts-ai-overview-page.mdx
Labels: content, internal

#2168 Update check-out-nerdlog.md
  src/content/whats-new/2021/02/check-out-nerdlog.md
Labels: content, internal

#2169 Update nerdlog-weekly-roundup-march-11.md
  src/content/whats-new/2021/03/nerdlog-weekly-roundup-march-11.md
Labels: content, internal

#2170 Update nerdlog-weekly-roundup-march-25.md
  src/content/whats-new/2021/03/nerdlog-weekly-roundup-march-25.md
Labels: content, internal

#2171 Update new-logs-table-widget-0316.md
  src/content/whats-new/2021/03/new-logs-table-widget-0316.md
Labels: content, internal

#2136 Removed deprecated configuration
  src/content/docs/agents/nodejs-agent/troubleshooting/troubleshooting-large-memory-usage-nodejs.mdx
Labels: content, internal

#2104 Refactor documentation for native OTLP endpoint
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/native_otlp.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/images/native_otlp_collector.png
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-quick-start.mdx
Labels: content, internal

#2181 ESA-163 Add documentation about entity delete
  src/content/docs/apis/nerdgraph/examples/nerdgraph-entities-api-tutorial.mdx
Labels: content, internal

#2172 Update fedramp-logs-metrics.md
  src/content/whats-new/2021/03/fedramp-logs-metrics.md
Labels: content, internal

#2123 Add RSS feed for security bulletins
  gatsby-config.js
  plugins/gatsby-plugin-security-bulletins-rss/gatsby-node.js
  plugins/gatsby-plugin-security-bulletins-rss/package.json
  src/content/docs/security/index.mdx
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
Labels: eng, internal

#2185 Use `type` instead of `contentType`
  src/content/docs/style-guide/processes-procedures/use-content-types-text-formats.mdx
Labels: content

#2174 increase and document nav nesting levels
  src/content/docs/style-guide/processes-procedures/update-left-navigation-pane.mdx
  src/layouts/MainLayout.js
Labels: eng, internal

#2194 Missing code syntax in payload
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/incident-intelligence-destination-examples.mdx
Labels: content, internal

#2152 DOC 6819 - Insights work - some restructuring of docs and deletion of one doc
  src/content/docs/insights/use-insights-ui/manage-dashboards/export-insights-data-csv-file.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/images/browse_data_explorer.png
  src/content/docs/query-your-data/explore-query-data/get-started/images/data_explorer_new.png
  src/content/docs/query-your-data/explore-query-data/get-started/images/dataexplorer02.png
  src/content/docs/query-your-data/explore-query-data/get-started/images/explore-data-icon.png
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-data-explorer.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/introduction-query-builder.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/nav/new-relic-in-practice.yml
  src/nav/telemetry-data-platform.yml
Labels: content, internal

#2202 Removed apostrophe from all Explorers Hub instances
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-440.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-470.mdx
  src/content/docs/style-guide/writing-guidelines/five-questions-help-write-docs.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests.mdx
Labels: content

#2118 DOC-6833 MLOps update
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/integrations/mlops-integrations/algorithmia-mlops-integration.mdx
Labels: content, internal

#2209 Adding missing redirect
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
Labels: content

#2183 DOC-5716 - Service maps screenshot update
  src/content/docs/understand-dependencies/understand-system-dependencies/service-maps/images/crop-service-map-app-group.png
  src/content/docs/understand-dependencies/understand-system-dependencies/service-maps/service-maps-apm.mdx
Labels: content, internal

#2214 Update 'APM metric alert conditions' to reflect improved features
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/apm-metric-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/images/external-calls-query.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/images/external_service_graph_2.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/images/nrql_condition_builder_modal.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/images/remove_nrql_clauses.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/images/response_time_query.png
Labels: content, internal

#2219 Fix the GM reset query
  src/content/docs/apis/nerdgraph/examples/golden-metrics-entities-nerdgraph-api-tutorial.mdx
Labels: content, internal

#2206 Cut intro paragraph to just focus on content edits
  src/content/docs/style-guide/writing-guidelines/create-edit-content.mdx
Labels: internal

#2151 Add Heroku Log Streaming and Syslog
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/enable-log-management-new-relic.mdx
Labels: content, internal

#2212 chore: corrects the google site verfication string
  src/components/SEO.js
Labels: eng, internal

#2224 Remove unsupported Ubuntu 14 (EOL)
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, internal

#2227 Added missing redirect
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, internal

#2221 Some small changes to user mgmt doc titles
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
Labels: content

#2099 feat: Update theme to include split(a/b) testing
  gatsby-config.js
  package.json
  yarn.lock
Labels: eng

#2228 Deprecating Insights - last chunk of work
  src/content/docs/apis/insights-apis/insights-dashboard-api.mdx
  src/content/docs/apis/insights-apis/query-insights-event-data-api.mdx
  src/content/docs/insights/images/insights-landing-page-prototype1-072020.png
  src/content/docs/insights/index.mdx
  src/content/docs/insights/use-insights-ui/explore-data/data-explorer-query-chart-event-data.mdx
  src/content/docs/insights/use-insights-ui/explore-data/metric-explorer-search-chart-metric-timeslice-data.mdx
  src/content/docs/insights/use-insights-ui/explore-data/query-page-create-edit-nrql-queries.mdx
  src/content/docs/insights/use-insights-ui/explore-data/simulate-sql-join-functions-insights.mdx
  src/content/docs/insights/use-insights-ui/getting-started/introduction-new-relic-insights.mdx
  src/content/docs/insights/use-insights-ui/guides/new-relic-insights-best-practices-guide.mdx
  src/content/docs/insights/use-insights-ui/manage-account-data/data-formatter-set-default-formats-numeric-values.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/add-customize-metric-charts.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/add-customize-nrql-charts.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/chart-refresh-intervals.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/copy-chart-another-insights-accounts-dashboard.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/copy-insights-dashboards-charts.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/data-apps-build-collections-linked-dashboards.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/delete-dashboards-charts.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/filter-insights-dashboards.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/images/Insights_copy_dashbaord.png
  src/content/docs/insights/use-insights-ui/manage-dashboards/images/icon-link-widget.png
  src/content/docs/insights/use-insights-ui/manage-dashboards/images/insights-copy-dashboard-button.jpg
  src/content/docs/insights/use-insights-ui/manage-dashboards/images/temp-funnel-chart.png
  src/content/docs/insights/use-insights-ui/manage-dashboards/insights-dashboard-permissions.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/set-time-range-insights-dashboards-charts.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/troubleshoot-pie-chart-uniquecount-over-100.mdx
  src/content/docs/insights/use-insights-ui/manage-dashboards/view-organize-share-insights-dashboards.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/measure-devops-success/establish-team-dashboards-gather-visualize-key-metrics.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-data-explorer.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/introduction-query-builder.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/nested-aggregation-make-ordered-computations-single-query.mdx
  src/content/docs/telemetry-data-platform/get-started/get-know-telemetry-data-platform.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/introduction-event-api.mdx
  src/content/docs/telemetry-data-platform/manage-data/drop-data-using-nerdgraph.mdx
  src/content/docs/telemetry-data-platform/manage-data/manage-data-coming-new-relic.mdx
  src/content/docs/telemetry-data-platform/manage-data/manage-data-retention.mdx
  src/content/docs/telemetry-data-platform/understand-data/event-data/events-reported-apm.mdx
  src/content/docs/telemetry-data-platform/understand-data/event-data/events-reported-browser-monitoring.mdx
  src/content/docs/telemetry-data-platform/understand-data/event-data/events-reported-mobile-monitoring.mdx
  src/content/docs/telemetry-data-platform/understand-data/event-data/nrauditevent-event-data-query-examples.mdx
  src/content/docs/telemetry-data-platform/understand-data/event-data/query-account-audit-logs-nrauditevent.mdx
  src/content/docs/telemetry-data-platform/understand-data/metric-data/metric-data-type.mdx
  src/content/docs/telemetry-data-platform/understand-data/metric-data/query-metric-data-type.mdx
  src/nav/insights.yml
  src/nav/telemetry-data-platform.yml
Labels: content, internal

#2216 Update custom-instrumentation-attributes-net.mdx
  src/content/docs/agents/net-agent/custom-instrumentation/custom-instrumentation-attributes-net.mdx
Labels: content, internal

#2245 Fixing #2244
  src/content/docs/telemetry-data-platform/manage-data/query-limits.mdx
Labels: content, internal

#2247 Adding a few redirects for Insights docs
  src/content/docs/apis/nerdgraph/examples/create-widgets-dashboards-api.mdx
Labels: content, internal

#2248 Extraordinary merge to main
  src/content/docs/apis/nerdgraph/examples/create-widgets-dashboards-api.mdx
  src/content/docs/telemetry-data-platform/manage-data/query-limits.mdx
Labels: content, internal

#2250 Fixing eternal redirect
  src/content/docs/telemetry-data-platform/manage-data/manage-data-retention.mdx
Labels: content

#2230 [PASS-3442] Documentation for the set hipaa compliance nerdgraph muta…
  src/content/docs/apis/nerdgraph/tutorials/configure-your-account-for-hipaa-compliance.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, internal

#2256 docs: add logstash max retries configuration
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/logstash-plugin-log-forwarding.mdx
Labels: content, internal

#2246 DOC-5601 - Fixing optional arguments for `nri-discovery-kubernetes`
  src/content/docs/integrations/kubernetes-integration/link-apps-services/monitor-services-running-kubernetes.mdx
Labels: content, internal

#2251 Add pie chart troubleshooting to pie chart section
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
Labels: content

#2257 Bb issue2254
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
Labels: content, feedback-issue, internal

#2267 Adding MS Teams example
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/customize-your-webhook-payload.mdx
Labels: content, internal

#2268 Missing few Insights redirects
  src/content/docs/apis/insights-apis/insights-dashboard-api.mdx
  src/content/docs/apis/insights-apis/query-insights-event-data-api.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-data-explorer.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/introduction-event-api.mdx
  src/content/docs/telemetry-data-platform/understand-data/new-relic-data-types.mdx
Labels: content, internal

#2279 chore: changed Trace API link
  src/content/docs/distributed-tracing/infinite-tracing/introduction-infinite-tracing.mdx
Labels: content, internal

#2281 Fix broken link to the Ingest APIs overview page
  src/content/docs/telemetry-data-platform/ingest-apis/telemetry-sdks-report-custom-telemetry-data.mdx
Labels: content, internal

#2282 Updated Addl Considerations Link
  src/content/docs/telemetry-data-platform/ingest-apis/metric-api-limits-restricted-attributes.mdx
Labels: content, internal

#2283 Fixed typo in Monitor services running on Kubernetes
  src/content/docs/integrations/kubernetes-integration/link-apps-services/monitor-services-running-kubernetes.mdx
Labels: content, internal

#2259 Addition to 'Convert to new account models' doc
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
Labels: Jira'd, content, internal

#2284 Added missing japanese image files
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/Go-Logo_Aqua.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/arrow-step-diagram-trans.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/awslambdalogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/awsxraylogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/browserlogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/clogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/dotnetlogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/gologo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/identify-services.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/istiologo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/javalogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/kamonlogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/language-icon-list.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/mobilelogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/newreliclogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/nodejslogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/opentelemetrylogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/phplogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/pythonlogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/rubylogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/zipkinlogo.png
Labels: content, internal

#2276 May 12 2021: Translation merge only
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/customize-your-webhook-payload.mdx
  src/content/docs/distributed-tracing/infinite-tracing/introduction-infinite-tracing.mdx
  src/content/docs/integrations/kubernetes-integration/link-apps-services/monitor-services-running-kubernetes.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/metric-api-limits-restricted-attributes.mdx
  src/content/docs/telemetry-data-platform/ingest-apis/telemetry-sdks-report-custom-telemetry-data.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/i18n/content/jp/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/i18n/content/jp/docs/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/i18n/content/jp/docs/agents/java-agent/installation/include-java-agent-jvm-argument.mdx
  src/i18n/content/jp/docs/agents/java-agent/installation/install-java-agent.mdx
  src/i18n/content/jp/docs/agents/manage-apm-agents/app-naming/use-multiple-names-app.mdx
  src/i18n/content/jp/docs/agents/net-agent/getting-started/introduction-new-relic-net.mdx
  src/i18n/content/jp/docs/agents/net-agent/installation/install-net-agent-windows.mdx
  src/i18n/content/jp/docs/agents/net-agent/installation/introduction-net-agent-install.mdx
  src/i18n/content/jp/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/Go-Logo_Aqua.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/arrow-step-diagram-trans.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/awslambdalogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/awsxraylogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/browserlogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/clogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/dotnetlogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/gologo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/identify-services.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/istiologo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/javalogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/kamonlogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/language-icon-list.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/mobilelogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/newreliclogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/nodejslogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/opentelemetrylogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/phplogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/pythonlogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/rubylogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/images/zipkinlogo.png
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
  src/i18n/content/jp/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/i18n/content/jp/docs/using-new-relic/cross-product-functions/install-configure/install-new-relic.mdx
  src/i18n/content/jp/docs/using-new-relic/welcome-new-relic/get-started/introduction-new-relic.mdx
Labels: content, internal

#2233 chore: Update simple-scripted-or-scripted-api-non-ping-errors.mdx
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/simple-scripted-or-scripted-api-non-ping-errors.mdx
Labels: content, internal

#2196 Fix code block example to display a tag and not render html link
  src/content/docs/browser/new-relic-browser/browser-agent-spa-api/add-page-action.mdx
Labels: content, internal

#2234 chore: update collapser title
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/non-scripted-monitor-errors.mdx
Labels: content, internal

#2274 Rank homepage integrations in alpha order
  src/data/homepage.yml
Labels: content, internal

#2271 Remove https prefix from bare URLs in link text
  src/content/docs/accounts/accounts-billing/account-setup/new-relic-license-key.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/install-new-relic/partner-based-installation/log-install-new-relic-partners.mdx
  src/content/docs/accounts/install-new-relic/partner-based-installation/rackspace-cloud-load-balancer-plugin.mdx
  src/content/docs/agents/go-agent/installation/install-new-relic-go.mdx
  src/content/docs/agents/python-agent/installation/python-agent-admin-script-advanced-usage.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/muting-rules-suppress-notifications.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names.mdx
  src/content/docs/apis/nerdgraph/examples/configure-infinite-tracing-graphql.mdx
  src/content/docs/apis/nerdgraph/examples/export-dashboards-pdfpng-using-api.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-cloud-integrations-api-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-distributed-trace-data-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-nrql-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-tagging-api-tutorial.mdx
  src/content/docs/apis/rest-api-v2/api-explorer-v2/introduction-new-relics-rest-api-explorer.mdx
  src/content/docs/browser/new-relic-browser/installation/update-browser-agent.mdx
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/update-infrastructure-agent.mdx
  src/content/docs/infrastructure/new-relic-infrastructure/troubleshooting/incorrect-host-name-reported.mdx
  src/content/docs/instrumentation-editor-instrument-net-ui.mdx
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-auto-scaling-monitoring-integration.mdx
  src/content/docs/integrations/grafana-integrations/set-configure/configure-new-relic-prometheus-data-source-grafana.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/statsd-monitoring-integration-version-2.mdx
  src/content/docs/integrations/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
  src/content/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/integrations/open-source-telemetry-integrations/opentelemetry/view-your-opentelemetry-data-new-relic.mdx
  src/content/docs/mobile-apps/new-relic-mobile-apps/authentication-alerts/troubleshoot-sso-accounts-using-mobile-devices.mdx
  src/content/docs/mobile-apps/new-relic-mobile-apps/authentication-alerts/user-settings-authentication.mdx
  src/content/docs/new-relic-partnerships/partner-integration-guide/getting-started/support-resources-new-relic-partners.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/plan-your-cloud-adoption/optimize-your-cloud-spend.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/explore-public-api-performance-dashboard.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-370.mdx
  src/content/docs/security/new-relic-security/security-bulletins/notification-apolloio-security-incident.mdx
  src/content/docs/security/new-relic-security/security-bulletins/solarwinds-orion.mdx
  src/content/docs/style-guide/writing-guidelines/code-formatting-guidelines-var-mark.mdx
  src/content/docs/style-guide/writing-guidelines/hyperlinks.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/glossary.mdx
Labels: content, internal

#2295 Update VPC docs when AWS account linked in 2 modes
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-vpc-flow-logs-monitoring-integration.mdx
Labels: content, internal

#2298 Fixed broken link
  src/content/docs/telemetry-data-platform/manage-data/query-limits.mdx
Labels: content, internal

#2294 The account switcher and account settings
  src/content/docs/using-new-relic/welcome-new-relic/get-started/glossary.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/images/account-dropdowns.png
Labels: content, internal

#2301 DOC 6860 Some additions to the 'Migrate users' doc
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content

#2300 Update "manage your data" left nav path
  src/nav/full-stack-observability.yml
Labels: content, internal

#2055 DOC-6814 NRQL alerts work
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-baseline-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/images/baseline-one-facet.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/images/faceted-baseline-condition-query.png
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/images/new-relic-alerts-baseline-thresholds.png
Labels: content, internal

#2308 Fix redirect loop on /docs/telemetry-data-platform/manage-data/manage…
  src/content/docs/telemetry-data-platform/manage-data/manage-data-coming-new-relic.mdx
Labels: content, internal

#2313 Fixing links in how trace data is stored
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
Labels: content, internal

#2314 chore: fixing Trace API link
  src/content/docs/telemetry-data-platform/get-started/introduction-new-relic-data-ingest-apis-sdks.mdx
Labels: content, internal

#2315 Update eligibility-guidelines-new-relic-nonprofit-program.mdx
  src/content/docs/accounts/accounts/subscription-pricing/eligibility-guidelines-new-relic-nonprofit-program.mdx
Labels: content, internal

#2303 Add in iOS Mobile app release version 3.73.0
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3480-0.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3480.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3730.mdx
Labels: content, internal

#2321 Very small clarification
  src/content/docs/integrations/microsoft-azure-integrations/azure-integrations-list/azure-vms-monitoring-integration.mdx
Labels: content, internal

#2213 DOC-6823: Move agent navigation under the FSO navigation
  src/content/docs/agents/images/clogo.png
  src/content/docs/agents/images/dotnetlogo.png
  src/content/docs/agents/images/gologo.png
  src/content/docs/agents/images/javalogo.png
  src/content/docs/agents/images/nodejslogo.png
  src/content/docs/agents/images/phplogo.png
  src/content/docs/agents/images/pythonlogo.png
  src/content/docs/agents/images/rubylogo.png
  src/content/docs/agents/index.mdx
  src/content/docs/apm/index.mdx
  src/nav/agents.yml
  src/nav/full-stack-observability.yml
  src/nav/integrations.yml
  src/nav/new-relic-in-practice.yml
  src/nav/new-relic-partnerships.yml
Labels: content, internal

#2328 DOC-6872 data explorer doc updates
  src/content/docs/query-your-data/explore-query-data/get-started/images/data_explorer_updated.png
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-data-explorer.mdx
Labels: content, internal

#2332 Keyboard shortcut that no longer works
  src/content/docs/style-guide/quick-reference/collapsers.mdx
Labels: content, internal

#2330 Some small changes
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
Labels: content

#2333 Fixing some missing TDP nav file categories
  src/nav/telemetry-data-platform.yml
Labels: content

#2339 Fixing broken link, typo
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
Labels: content

#2338 Edits to 'switch pricing plan' doc
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
Labels: content

#2178 Updating guided install instructions
  src/content/docs/integrations/amazon-integrations/aws-integrations-list/aws-metric-stream.mdx
Labels: content, internal

#2342 Added a tip related to policy condition deletion
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/update-or-disable-policies-conditions.mdx
Labels: content, internal

#2336 Update JavaScriptError Attributes Definitions
  src/data-dictionary/events/JavaScriptError/stackTraceGzip.md
  src/data-dictionary/events/SyntheticCheck/entityGuid.md
Labels: content, internal

#2344 APM apps/services can now be deleted from the UI
  src/content/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
Labels: content, internal

#2356 Fixes to user migration doc doc 6860
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/two-logins.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/user-migration-page-1.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/user-migration-page-2.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/user-migration-page-3.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/user-migration-page-4.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/user-migration-page-5.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/user-migration-page-6.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/user-migration-page-7.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/user-migration-page-8.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content

#2278 DOC-6870 - Sorted NRQL functions into aggregate and non-aggregate
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, internal

#2329 Add mapping tables plus real examples in insights api migration guide
  gatsby-config.js
  src/content/docs/apis/insights-apis/insights-dashboard-api.mdx
  src/content/docs/apis/nerdgraph/examples/create-widgets-dashboards-api.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/dashboards-api-migration-insights-api-nerdgraph.mdx
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/transition-new-relic-one-insights.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/nav/new-relic-one.yml
Labels: content, internal

#2370 Fix for secondary log forwarding requirements
  src/content/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, external

#2358 Adding AI events to pricing glossary doc
  src/content/docs/licenses/license-information/product-definitions/legacy-product-definitions.mdx
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
Labels: content

#2364 Small addition to 'switch pricing plan' guide
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
Labels: content

#2365 Assorted changes related to pricing
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-users/usage-queries-alerts.mdx
  src/content/docs/accounts/accounts/subscription-pricing/eligibility-guidelines-new-relic-nonprofit-program.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
Labels: content

#2346 Added Fedramp exception
  src/content/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
Labels: content, internal

#2277 Doc-6858 Fargate beta
  src/content/docs/integrations/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/integrations/kubernetes-integration/installation/images/fargate-overview.svg
  src/content/docs/integrations/kubernetes-integration/installation/images/fargate-ui.png
  src/content/docs/integrations/kubernetes-integration/installation/images/fargate-workflow.svg
  src/content/docs/integrations/kubernetes-integration/installation/install-fargate-integration.mdx
  src/content/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/nav/integrations.yml
Labels: content, internal

#2367 Temporary fix that removes statement that we don't support Mobile in DT.
  src/content/docs/distributed-tracing/concepts/distributed-tracing-planning-guide.mdx
Labels: content, internal

#2368 Added info on relevant dashboards
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/images/impacted_entities_actions.png
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
Labels: content, internal

#2389 Added link to Browser data for DT
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-data-distributed-tracing.mdx
Labels: content, internal

#2372 DOC 4645 - Add unsupported data types to JMX integration docs
  src/content/docs/integrations/host-integrations/host-integrations-list/jmx-monitoring-integration.mdx
Labels: content, internal

#2390 Fix a couple of typos in Insights API migration guide
  src/content/docs/new-relic-one/use-new-relic-one/core-concepts/dashboards-api-migration-insights-api-nerdgraph.mdx
Labels: content, internal

#2391 Corrected amount of integrations
  src/pages/index.js
Labels: content, internal

#2376 Assorted pricing/user liaison work
  src/content/docs/accounts/accounts-billing/account-setup/create-your-new-relic-account.mdx
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/add-manage-users-groups-roles.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-managing-users.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/nav/accounts.yml
Labels: content

#2378 Removed redirect preventing access to a doc in the left nav
  src/content/docs/integrations/kubernetes-integration/installation/configure-control-plane-monitoring.mdx
Labels: content, internal

#2395 chore: Updating Release workflow to include notes
  .github/workflows/release.yml
Labels: internal, work in progress

#2386 Draft WN post for RSS functionality
  src/content/whats-new/2021/05/images/agent-rss-feed.png
  src/content/whats-new/2021/05/images/whats-new-rss.png
  src/content/whats-new/2021/05/rss.md
Labels: content, internal

#2402 Fix weird link from #2369
  src/content/docs/integrations/infrastructure-integrations/cloud-integrations/configure-polling-frequency-data-collection-cloud-integrations.mdx
Labels: content, internal

#2410 Pulling back Fargate beta for doc-6858
  src/content/docs/integrations/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/integrations/kubernetes-integration/installation/install-fargate-integration.mdx
  src/content/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/nav/integrations.yml
Labels: content, internal

#2417 fix: increase fetch-depth of action
  .github/workflows/release.yml
Labels: eng, internal

#2403 chore: changes cron job
  .github/workflows/send-content-to-translate.yml
Labels: eng

#2357 chore: bump gatsby to 3.5.1
  package.json
  yarn.lock
Labels: eng

#2400 This APM analytics redirect should fix a bunch of broken links
  src/content/docs/apm/apm-ui-pages/error-analytics/errors-page-find-fix-verify-problems.mdx
Labels: content, internal

#2384 chore: Python release notes v6.4.0.157
  src/content/docs/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-60400157.mdx
Labels: content, internal

#2383 Add new python agent notice_error API guide
  src/content/docs/agents/manage-apm-agents/agent-data/manage-errors-apm-collect-ignore-or-mark-expected.mdx
  src/content/docs/agents/python-agent/api-guides/guide-using-python-agent-api.mdx
  src/content/docs/agents/python-agent/attributes/python-agent-attributes.mdx
  src/content/docs/agents/python-agent/installation/update-python-agent.mdx
  src/content/docs/agents/python-agent/python-agent-api/application-python-agent-api.mdx
  src/content/docs/agents/python-agent/python-agent-api/noticeerror-python-agent-api.mdx
  src/content/docs/agents/python-agent/python-agent-api/recordexception-python-agent-api.mdx
  src/nav/full-stack-observability.yml
Labels: content, internal

#2422 Update rss.md
  src/content/whats-new/2021/05/rss.md
Labels: content, internal

#2433 Spelling fix
  src/nav/telemetry-data-platform.yml
Labels: content, external

#2436 Just a broken link fix
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
Labels: content

#2447 Incorporating some peer edits to 'migrate users' doc
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content

#2326 DO NOTE MERGE Pixie docs
  src/content/docs/full-stack-observability/observe-everything/get-started/get-started-auto-telemetry-pixie.mdx
  src/content/docs/full-stack-observability/observe-everything/get-started/images/helm-pixie.png
  src/content/docs/full-stack-observability/observe-everything/get-started/images/pixie-explorer.png
  src/content/docs/integrations/kubernetes-integration/link-your-applications/link-your-applications-kubernetes.mdx
  src/content/docs/integrations/kubernetes-integration/understand-use-data/auto-telemetry-pixie-data-model.mdx
  src/nav/full-stack-observability.yml
  src/nav/integrations.yml
Labels: content, internal

#2460 Errors inbox go live
  src/content/docs/apm/apm-ui-pages/errors-inbox/error-limiting.mdx
  src/content/docs/apm/apm-ui-pages/errors-inbox/errors-inbox.mdx
  src/content/docs/apm/apm-ui-pages/errors-inbox/images/context.png
  src/content/docs/apm/apm-ui-pages/errors-inbox/images/errors-ui.png
  src/nav/full-stack-observability.yml
Labels: content, internal

#2465 StatsD v1 integration EOL June 1st 2021
  src/content/docs/integrations/host-integrations/host-integrations-list/statsd-monitoring-integration.mdx
Labels: content, internal

#2466 Updated NRQL examples
  src/content/docs/integrations/infrastructure-integrations/get-started/use-integration-data-new-relic-dashboards.mdx
Labels: content, internal

#2463 Slightly confusing phrase in WN RSS post
  src/content/whats-new/2021/05/rss.md
Labels: content, internal

#2452 Updating requirements in 'Migrate users' doc
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content

#2467 Update GCP docs required role and permission
  src/content/docs/integrations/google-cloud-platform-integrations/get-started/integrations-custom-roles.mdx
Labels: content, internal

#2443 DOC 6904 - Make 'multiple logins' issue more prominent
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/accounts/accounts-billing/general-account-settings/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-users/new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/images/login-multiple-accounts-found.png
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
Labels: content
