Repository newrelic/docs-website, pull requests merged in 2022-08, with the labels that each got.

#8673 AUGUST 1 2022 - MORNING. Video demo of new email notification capability in 'Workflows'
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#8602 feat(EOL policy update): For NR30807
  src/content/docs/apm/agents/go-agent/get-started/go-agent-eol-policy.mdx
  src/content/docs/apm/agents/java-agent/getting-started/java-agent-eol-policy.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-eol-policy.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-eol-policy.mdx
  src/content/docs/apm/agents/python-agent/getting-started/python-agent-eol-policy.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-eol-policy.mdx
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/infrastructure-agent-eol-policy.mdx
  src/content/docs/licenses/end-of-life/notification-changes-new-relic-saas-features-distributed-software.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/nav/apm.yml
  src/nav/browser.yml
  src/nav/infrastructure.yml
  src/nav/mobile.yml
Labels: content, from_tw

#8695 Add batch to list of code fences
  gatsby-config.js
Labels: content, from_tw

#8681 Update no-data-metric-streams.mdx
  src/content/docs/infrastructure/amazon-integrations/troubleshooting/no-data-metric-streams.mdx
Labels: content, from_external

#8680 [NR-31359] Docs for recordJSErrorException
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/android-sdk-api-guide.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/record-jserror-exception.mdx
  src/nav/mobile.yml
Labels: content, from_internal

#8687 Lame metadesc fixes
  src/content/docs/apis/rest-api-v2/application-examples-v2/change-alias-your-application-v2.mdx
  src/content/docs/apm/agents/c-sdk/install-configure/uninstall-remove-c-sdk.mdx
  src/content/docs/apm/agents/c-sdk/instrumentation/guide-using-c-sdk-api.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/guide-using-net-agent-api.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-tar-file.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/installation/install-ecs-integration.mdx
  src/content/docs/infrastructure/host-integrations/troubleshooting/not-seeing-host-integration-data.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/config-management-tools/configure-infrastructure-agent-puppet.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/config-file-template-newrelic-infrayml.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/uninstall-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/update-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/install-infrastructure-monitoring-agent-windows.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/workload-status-configuration.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/workload-status-views-notifications.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
Labels: content, from_tw

#8707 fix(retention): update Data plus values
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#8583 style(k8s): Fix EU tile name
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_tw

#8617 Create survey banner
  src/announcements/q2-survey.mdx
Labels: content, from_tw

#8708 docs: add info about new env var
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
Labels: content, from_internal

#8713 style(Hero): fix spacing
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
Labels: content, from_tw

#8574 feat(Go): code-level metrics instrumentation
  src/content/docs/apm/agents/go-agent/configuration/go-agent-code-level-metrics-config.mdx
  src/content/docs/apm/agents/go-agent/instrumentation/go-agent-code-level-metrics-instrument.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-codestream-integration.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/nav/apm.yml
Labels: content, from_internal

#8715 style(release notes): Fix tile order, delete tvOS
  src/content/docs/release-notes/index.mdx
Labels: content, from_tw

#8718 docs: Update ios-application-licenses.mdx
  src/content/docs/licenses/product-or-service-licenses/mobile-app-licenses/ios-application-licenses.mdx
Labels: content, from_internal

#8717 Release notes for Go Agent Release v3.18.0
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-18-0.mdx
Labels: content, from_internal

#8709 feat(EOL notices): Q2 FY23 NR-30380
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/notification-channels-control-where-send-alerts.mdx
  src/content/docs/alerts-applied-intelligence/transition-guide.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/how-use-service-maps.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/introduction-service-maps.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/service-maps-apm.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
Labels: content, from_tw

#8721 fix(docs): Fixes step two of React Native setup
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
Labels: content, from_external

#8729 Updating NR parsing docs
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#8719 fix: link to "harvest cycle"
  src/content/docs/apm/transactions/transaction-traces/introduction-transaction-traces.mdx
Labels: content, from_external

#8714 Oma error optimization
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/error-optimization.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_internal

#8733 fix(pricing): clarify some contract wording
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Labels: content, from_tw

#8732 fix: clarified the supported libraries for Node.js automatic log forw…
  src/content/docs/apm/agents/nodejs-agent/getting-started/introduction-new-relic-nodejs.mdx
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
Labels: content, from_internal

#8740 fix(OM): add new error guide to intro
  src/content/docs/new-relic-solutions/observability-maturity/introduction.mdx
Labels: content, from_tw

#8737 Clarify in style guide about deleting/renaming image files
  src/content/docs/style-guide/images/screenshots-images.mdx
  src/content/docs/style-guide/word-choice/pricing-language-guidelines.mdx
  src/content/docs/style-guide/writing-docs/processes-procedures/understand-edit-docs-site-structure.mdx
Labels: content, from_tw

#8726 fix(docs): Rename Baseline to Anomaly
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_external

#8738 docs: fix chars used for double quotes
  src/content/docs/apm/agents/net-agent/getting-started/8x-to-9x-agent-migration-guide.mdx
Labels: content, from_internal

#8736 go agent logurs release
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
Labels: content, from_internal

#8749 Node.js Agent v8.17.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-8-17-1.mdx
Labels: content, from_internal

#8685 fix(k8s): improve openshift docs
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-apm-applications-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_internal

#8746 style(Log forwarders): Table, diagram of options
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/images/log-forwarder-options-080222.png
Labels: content, from_tw

#8759 chore(OT): fixed link
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-comparison.mdx
Labels: content, from_tw

#8756 fix(.net azure): fix var format
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
Labels: content, from_tw

#8725 fix(docs): replace mark with var
  src/content/docs/accounts/accounts-billing/account-setup/choose-your-data-center.mdx
  src/content/docs/apis/nerdgraph/examples/export-dashboards-pdfpng-using-api.mdx
  src/content/docs/apis/nerdgraph/examples/export-import-dashboards-using-api.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-loss-signal-gap-filling.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-cloud-integrations-api-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-entities-api-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-nrql-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-tagging-api-tutorial.mdx
  src/content/docs/apis/rest-api-v2/basic-functions/specify-time-range-v2.mdx
  src/content/docs/apis/rest-api-v2/get-started/introduction-new-relic-rest-api-v2.mdx
  src/content/docs/apm/agents/java-agent/async-instrumentation/java-agent-api-asynchronous-applications.mdx
  src/content/docs/apm/agents/java-agent/instrumentation/instrument-browser-monitoring-java-agent-api.mdx
  src/content/docs/apm/agents/net-agent/custom-instrumentation/add-detail-transactions-xml-net.mdx
  src/content/docs/apm/agents/net-agent/custom-instrumentation/create-transactions-xml-net.mdx
  src/content/docs/apm/agents/net-agent/installation/install-net-agent-windows.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent-docker.mdx
  src/content/docs/apm/agents/ruby-agent/attributes/enable-disable-attributes-ruby.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details.mdx
  src/content/docs/data-apis/convert-to-metrics/create-metrics-other-data-types.mdx
  src/content/docs/data-apis/ingest-apis/metric-api/metric-api-limits-restricted-attributes.mdx
  src/content/docs/data-apis/understand-data/metric-data/query-metric-data-type.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/statsd-monitoring-integration-version-2.mdx
  src/content/docs/infrastructure/host-integrations/installation/container-auto-discovery-host-integrations.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/install-update-or-uninstall-your-prometheus-openmetrics-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-apm-applications-kubernetes.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/logs-context/java-configure-logs-context-all.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/find-build-uuids-unsymbolicated-crashes.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/android-agent-configuration-feature-flags.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/ios-device-id-obfuscation.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/browser-monitoring-best-practices-java.mdx
  src/content/docs/style-guide/formatting/code-examples.mdx
  src/content/docs/style-guide/writing-docs/article-templates/api-tutorial-template.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-maintenance-monitoring.mdx
Labels: content, from_tw

#8735 Reimplement auto assigned review
  .github/auto_assign.yml
  .github/workflows/auto-assign-reviewer.yml
Labels: from_tw

#8700 Adding firehose endpoints for US and EU
  src/content/docs/logs/forward-logs/stream-logs-using-kinesis-data-firehose.mdx
Labels: content, from_internal

#8764 Zach small changes aug 3
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/apm/agents/java-agent/custom-instrumentation/circuit-breaker-java-custom-instrumentation.mdx
  src/content/docs/browser/new-relic-browser/configuration/group-browser-metrics-urls.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/android-sdk-api-guide.mdx
Labels: content, from_tw

#8763 Update mobile-agents-eol-policy.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
Labels: content, from_tw

#8765 Add austin
  .github/auto_assign.yml
Labels: content, from_tw

#8767 docs: add example code
  src/content/docs/apm/agents/net-agent/custom-instrumentation/custom-instrumentation-attributes-net.mdx
Labels: content, from_internal

#8577 fix(mobile): edited screenshot for mobile
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/carriers-page.mdx
  src/images/mobile-carriers.png
Labels: content, from_tw

#8768 Update oldest supported version in Python release notes.
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-71400177.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-71600178.mdx
Labels: content, from_internal

#8761 Update incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
Labels: content, from_internal

#8355 Add description of logging max_samples_stored
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Labels: content, from_tw

#8752 Fix relative link
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/streaming-alerts-key-terms-concepts.mdx
Labels: content, from_tw

#8753 Changes log locations
  src/content/docs/apm/agents/php-agent/troubleshooting/generating-logs-troubleshooting-php.mdx
Labels: content, from_tw

#8776 fix(notifications): add security info
  src/content/docs/alerts-applied-intelligence/notifications/intro-notifications.mdx
Labels: content, from_tw

#8775 fix(welcome doc): new doc
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-sub-account-object.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
Labels: content, from_tw

#8778 feat(Addl EOL from SME): Go, PHP, Python
  src/content/docs/apm/agents/go-agent/get-started/go-agent-eol-policy.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-eol-policy.mdx
  src/content/docs/apm/agents/python-agent/getting-started/python-agent-eol-policy.mdx
Labels: content, from_tw

#8779 fix(custom data): fixing broken link
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
Labels: content, from_tw

#8755 Change api data center
  src/content/docs/accounts/accounts-billing/account-setup/choose-your-data-center.mdx
Labels: content, from_tw

#8724 feat(k8): corrected language & link
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_tw

#8782 Fix(Go agent): corrected release date
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-18-0.mdx
Labels: content, from_internal

#8785 chore(ai): added redirect & fixed link
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_tw

#8770 Node.js Agent v9.0.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-0-0.mdx
Labels: content, from_internal

#8780 Spelling fix
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_external

#8789 daily-release/08-04-22-morning
  gatsby-node.js
  package.json
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-18-0.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-0-0.mdx
  src/nav/alerts-and-applied-intelligence.yml
  yarn.lock
Labels: content

#8772 feat: added node v9 to the update node.js agent page, provided a spec…
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
Labels: content, from_internal

#8786 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#8791 add commonJS support note
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#8795 Document Historical Data Export max inspected limit
  src/content/docs/apis/nerdgraph/examples/nerdgraph-historical-data-export.mdx
Labels: content, from_internal

#8798 daily-release/08-04-2022-noon
  scripts/actions/fetch-and-deserialize.js
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-historical-data-export.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
Labels: content

#8793 Fix(Go agent): corrected EOL version in release notes
  src/content/docs/apm/agents/go-agent/get-started/go-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-17-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-18-0.mdx
Labels: content, from_internal

#8800 fix(infra config): add to SCM options
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/configure-infrastructure-agent.mdx
Labels: content

#8801 fix(Browser DT): W3C
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-data-distributed-tracing.mdx
Labels: content, from_tw

#8805 daily-release/08-04-2022-evening
  src/content/docs/apm/agents/go-agent/get-started/go-agent-eol-policy.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/configure-infrastructure-agent.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-17-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-18-0.mdx
Labels: content

#8790 rsyslog-compression
  src/content/docs/logs/log-api/use-tcp-endpoint-forward-logs-new-relic.mdx
Labels: content, from_internal

#8809 fix(Browser clarify): NR-37606
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content

#8561 docs: Add parsing JSON mixed-up with plain text log message
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#8811 chore(Hero): anchor link
  src/content/docs/apm/agents/java-agent/custom-instrumentation/java-instrumentation-xml.mdx
Labels: content, from_tw

#8812 fix(Hero): Typo, sorry
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_tw

#8803 Delete survey banner
  src/announcements/q2-survey.mdx
Labels: content, from_tw

#8766 Update URLs with new encoding
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_tw

#8821 Update some PHP docs
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_ignore_transaction.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_set_user_attributes.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelicacceptdistributedtracepayload-php-agent-api.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelicacceptdistributedtracepayloadhttpsafe-php-agent-api.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newreliccreatedistributedtracepayload-php-agent-api.mdx
Labels: content, from_internal

#8823 Formatting and language identifiers added to SLO/SLI code
  src/content/docs/apis/nerdgraph/examples/nerdgraph-slm.mdx
  src/content/docs/service-level-management/create-slm.mdx
  src/content/docs/service-level-management/faqs-slm.mdx
Labels: content, from_internal

#8828 docs: update logs in context pages
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
  src/content/docs/logs/logs-context/disable-automatic-logging.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal

#8832 docs: move line for readability
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/metric-normalization-rules.mdx
Labels: content, from_internal

#8838 fix(synth): adjust permission language
  src/content/docs/synthetics/synthetic-monitoring/administration/user-roles-synthetic-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
Labels: content, from_tw

#8818 fix(docs): update iOS requirements
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/get-started/new-relic-ios-compatibility-requirements.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-ios/get-started/new-relic-ios-compatibility-requirements.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-ios/get-started/new-relic-ios-compatibility-requirements.mdx
Labels: content, from_external

#8839 fix(user model): adjust v2 limitations wording
  src/content/docs/accounts/original-accounts-billing/original-users-roles/overview-user-models.mdx
Labels: content, from_tw

#8813 chore(style guide): Update 5Qs w/ new brand values
  src/content/docs/style-guide/writing-strategies/five-questions-help-write-docs.mdx
Labels: content, from_tw

#8845 Update acceptable-use-policy.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/acceptable-use-policy.mdx
Labels: content, from_internal

#8851 Adds a section on how to view entities using tags
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-find-entities.mdx
Labels: content, from_internal

#8844 hero pr 8/15
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/apm/agents/manage-apm-agents/configuration/high-security-mode.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/introduction-new-relic-ruby.mdx
  src/content/docs/distributed-tracing/concepts/introduction-distributed-tracing.mdx
  src/content/docs/errors-inbox/error-external-services.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/diagnostics-cli-nrdiag/diagnostics-cli-nrdiag.mdx
Labels: content, from_tw

#8856 fix(nrql): adding booleans
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#8866 Fix links in php-agent-configuration
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Labels: content, from_internal

#8867 chore(.GITHUB): Remove Recharge Week info
  .github/workflows/auto-comment.yml
Labels: content, from_tw

#8869 Daily release/08-16-22 evening
  .github/workflows/auto-comment.yml
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/errors-inbox/error-external-services.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-4620.mdx
Labels: content, from_tw

#8842 feat(Auto LiC): Known limitations
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
Labels: content, from_tw

#8853 test(Browser): Addl std features category
  src/content/docs/browser/new-relic-browser/additional-standard-features/browser-geography-webpage-performance-location.mdx
  src/content/docs/browser/new-relic-browser/additional-standard-features/browsers-problem-patterns-type-or-platform.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/browsers-problem-patterns-type-or-platform.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/filterable-geography-webpage-metrics-location.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/page-views-examine-page-performance.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/additional-standard-features/browser-geography-webpage-performance-location.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/browser-pro-features/browsers-problem-patterns-type-or-platform.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/browser-pro-features/page-views-examine-page-performance.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/additional-standard-features/browser-geography-webpage-performance-location.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/browser-pro-features/browsers-problem-patterns-type-or-platform.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/browser-pro-features/page-views-examine-page-performance.mdx
  src/images/browser-filter-geos-example.png
  src/images/browser-filterable-geos.png
  src/images/browser-filterable-geos2.png
  src/images/browser_example.png
  src/images/browsers-cwv.png
  src/images/browsers_overview.png
  src/nav/browser.yml
Labels: content, from_tw

#8877 fix: Typo
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_external

#8885 fix: lower case the d in Docs on home page
  src/i18n/translations/en/translation.json
Labels: from_internal

#8888 fix(node agent): add compressed_content_encoding configuration setting
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#8727 nri-f5: add info commonname deprecation
  src/content/docs/infrastructure/host-integrations/host-integrations-list/f5-monitoring-integration.mdx
Labels: content, from_internal

#8886 Clarify supported logging framework versions for in agent log forwarding
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal

#8784 Ruby agent: gRPC instrumentation
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/features/ruby-codestream-integration.mdx
  src/content/docs/apm/agents/ruby-agent/instrumented-gems/grpc-instrumentation.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-8100.mdx
  src/nav/apm.yml
Labels: content, from_internal

#8754 fix(free tier): clarifying what limits free tier has
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/style-guide/word-choice/pricing-language-guidelines.mdx
Labels: content, from_tw

#8883 feat(Browser): Session traces
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-traces-explore-webpages-life-cycle.mdx
  src/images/browser-session-error.png
  src/images/browser_sessiontraces_overview.png
Labels: content, from_tw

#8896 Updated cumulativetodelta/metrics
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
Labels: content, from_internal

#8902 fix(link fixes and apdex removal): Adjustments
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors.mdx
Labels: content, from_internal

#8906 Diagnostics CLI Release Notes 2.2.5
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-225.mdx
Labels: content, from_internal

#8907 style(Browser pageviews): Replace screenshots
  src/content/docs/browser/new-relic-browser/browser-pro-features/page-views-examine-page-performance.mdx
  src/images/browser-pageviews1.png
  src/images/browser-pageviews3.png
Labels: content, from_tw

#8904 Add detail to orgs/accounts section about adding accounts
  src/content/docs/accounts/accounts-billing/account-structure/add-accounts.mdx
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
Labels: content, from_tw

#8913 chore(Browser pageviews): More screenshots
  src/content/docs/browser/new-relic-browser/browser-pro-features/page-views-examine-page-performance.mdx
  src/images/browser-pageviews2.png
  src/images/browser-pageviews4.png
  src/images/browser-pageviews5.png
  src/images/browser-pageviews6.png
Labels: content, from_tw

#8897 Add Go CLM and VS 2022
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/start-here/install-codestream.mdx
Labels: content, from_internal

#8899 Update JS link to correct otlp grpc exporter
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-setup.mdx
Labels: content, from_internal

#8895 GROK parsing variable name restrictions
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#8898 Rename APM cat 1
  src/nav/apm.yml
Labels: content, from_tw

#8909 Fix mysql TLS setting
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-integration.mdx
Labels: content, from_internal

#8915 fix(accounts): add bit about limits
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
Labels: content, from_tw

#8894 NewRelic infrastructure agent 1.28.2 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1282.mdx
Labels: content, from_internal

#8916 Revert "Updated cumulativetodelta/metrics"
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
Labels: content, from_tw

#8917 fix(MetricAPI): NaN and infinity value handling
  src/content/docs/data-apis/ingest-apis/metric-api/metric-api-limits-restricted-attributes.mdx
Labels: content, from_internal

#8918 fix(OTel collector): metrics edit
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
Labels: content, from_tw

#8840 New 'quick launch guide'
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/content/docs/logs/forward-logs/circleci-logs.mdx
  src/content/docs/logs/forward-logs/cloudflare-logpush-forwarding.mdx
  src/content/docs/logs/troubleshooting/no-log-data-appears-ui.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/get-started/quick-launch-guide.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/install-new-relic.mdx
  src/content/docs/new-relic-solutions/observability-maturity/innovation-growth/development-release-quality-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/innovation-growth/improving-development-quality-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/observability-as-code-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/service-characterization-optimize-telemetry-data-guide.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/troubleshooting/not-seeing-data.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#8931 fix(account/org); remove account limits stuff
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
Labels: content, from_tw

#8901 release notes for Go Agent v3.18.1
  src/content/docs/apm/agents/go-agent/get-started/go-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-18-1.mdx
Labels: content, from_internal

#8930 [NR-39298] AGP 7.2.1 breaks transform API, fixed in 7.2.2
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-compatibility-requirements.mdx
Labels: content, from_internal

#8855 new(basic concepts): new alerting concepts doc
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/basic-alerting-concepts.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/your-first-nrql-condition.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/alerts-concepts-workflow.mdx
  src/images/alerting-concepts-diagram.png
  src/nav/alerts-and-applied-intelligence.yml
Labels: from_tw

#8934 fix(logs): remove redundant info
  src/content/docs/logs/troubleshooting/no-log-data-appears-ui.mdx
Labels: content, from_tw

#8926 feat(synthetic IPs): Added details for additional IP ranges
  src/content/docs/synthetics/synthetic-monitoring/administration/new-synthetic-public-minion-ips.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
Labels: content, from_internal

#8638 Add trace context attribute mapping instructions
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-logs.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-troubleshooting.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-logs-page.mdx
Labels: content, from_tw

#8936 Some assorted small fixes
  src/content/docs/new-relic-solutions/get-started/quick-launch-guide.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/install-new-relic.mdx
Labels: content, from_tw

#8937 fix(query data limits): clarify & improve readability
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
Labels: content

#8938 docs: add in release notes for 4.3.0 version of the iOS mobile app
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-4030.mdx
Labels: content, from_internal

#8941 add v9.0.1
  src/content/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
Labels: content, from_internal

#8905 Node.js Agent v9.0.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-0-1.mdx
Labels: content, from_internal

#8948 link swap
  src/content/docs/mlops/bring-your-own/mlops-byo.mdx
Labels: content, from_internal

#8947 change order
  src/content/docs/mlops/get-started/intro-mlops.mdx
Labels: content, from_internal

#8949 fix: Add NetworkSample to list of event types
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
Labels: content, from_internal

#8903 framework updates
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
Labels: content, from_tw

#8953 fix(usage plans): volume, savings
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
Labels: content, from_tw

#8884 Week of 8-22 (check on date): APM > K8s multi-cluster
  src/content/docs/apm/apm-ui-pages/monitoring/kubernetes-summary-page.mdx
  src/images/kubernetesMultipleClusters.png
Labels: content, from_tw

#8962 Update new-relic-pre-release-policy.mdx
  src/content/docs/licenses/license-information/referenced-policies/new-relic-pre-release-policy.mdx
Labels: content, from_internal

#8956 Update install-nodejs-agent-docker.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent-docker.mdx
Labels: content, from_internal

#8963 Update python-codestream-integration.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-codestream-integration.mdx
Labels: content, from_external

#8969 Azul JVM Support Update
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#8966 fix glossary link
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
Labels: content, from_tw

#8850 Add info on how to add custom tags
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
Labels: content, from_internal

#8964 chore: add cf parameters to aws metric stream
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
Labels: content, from_internal

#8983 chore: fix typo, updated workflow something or other
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/apm/agents/ruby-agent/background-jobs/monitor-ruby-background-processes.mdx
Labels: content, from_tw

#8970 Release notes and Documentation Update for React native release 0.0.3
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-003.mdx
Labels: content, from_internal

#8960 add release notes for infra agent 1.28.3
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1283.mdx
Labels: content, from_internal

#8985 Node.js Agent v9.0.2 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-0-2.mdx
Labels: content, from_internal

#8988 Daily release/08-24-22 morning
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/apm/agents/ruby-agent/background-jobs/monitor-ruby-background-processes.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-0-2.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1283.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-003.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/monitor-scheduled-jobs.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/alerts-conditions-api-field-names.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/get-started/condition-recommendations.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/transition-guide.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/nerdgraph-api-nrql-condition-alerts.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/getting-started/python-agent-eol-policy.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/supported-features/python-codestream-integration.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/web-frameworks-servers/daphne.mdx
  src/i18n/content/jp/docs/apm/apm-ui-pages/monitoring/kubernetes-summary-page.mdx
  src/i18n/content/jp/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/i18n/content/jp/docs/logs/ui-data/find-unusual-logs-log-patterns.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-solutions/optimize-cloud-architecture-spend-continuously-improve-your-modern-cloud-environment.mdx
  src/i18n/content/jp/docs/new-relic-solutions/observability-maturity/customer-experience/customer-experience-quality-foundation-guide.mdx
  src/i18n/content/jp/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
  src/i18n/content/jp/docs/new-relic-solutions/overview.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/monitor-scheduled-jobs.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/set-thresholds-alert-condition.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/other-condition-types/create-anomaly-alert-conditions.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/alerts-conditions-api-field-names.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/rest-api-calls-alerts.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-alert-conditions.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/get-started/condition-recommendations.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/transition-guide.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent-docker.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/getting-started/python-agent-eol-policy.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/supported-features/python-codestream-integration.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/web-frameworks-servers/daphne.mdx
  src/i18n/content/kr/docs/apm/apm-ui-pages/monitoring/kubernetes-summary-page.mdx
  src/i18n/content/kr/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/i18n/content/kr/docs/logs/ui-data/find-unusual-logs-log-patterns.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
  src/i18n/content/kr/docs/new-relic-solutions/best-practices-guides/full-stack-observability/apm-best-practices-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/best-practices-guides/full-stack-observability/browser-monitoring-best-practices-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/get-started/glossary.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-solutions/optimize-cloud-architecture-spend-continuously-improve-your-modern-cloud-environment.mdx
  src/i18n/content/kr/docs/new-relic-solutions/observability-maturity/customer-experience/customer-experience-quality-foundation-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/overview.mdx
Labels: content, from_tw

#8971 Added iOS XCFramework Agent version 7.3.8 release notes
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/upload-dsyms-bitcode-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/ios-agent-configuration-feature-flags.mdx
  src/content/docs/release-notes/mobile-release-notes/xcframework-release-notes/xcframework-agent-738.mdx
Labels: content, from_internal

#8991 Daily release/08-24-22 noon
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/upload-dsyms-bitcode-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/ios-agent-configuration-feature-flags.mdx
  src/content/docs/release-notes/mobile-release-notes/xcframework-release-notes/xcframework-agent-738.mdx
Labels: content, from_tw

#8951 Updating requirements information for Partner accounts with V2 user model
  src/content/docs/accounts/original-accounts-billing/original-users-roles/overview-user-models.mdx
Labels: content, from_external

#8997 Daily release/08-24-22 evening
  src/content/docs/accounts/original-accounts-billing/original-users-roles/overview-user-models.mdx
Labels: content, from_tw

#8995 fix(usage plan): formatting
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
Labels: content

#8979 chore(data dictionary): modified terms in data dictionary for alerts&…
  src/data-dictionary/events/NrAiIncident/evaluationType.md
Labels: content, from_tw
