Repository newrelic/docs-website, pull requests merged in 2022-04, with the labels that each got.

#6882 Daily release/03-31-22-evening
  .github/CODEOWNERS
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/images/native_otlp_with_collector.png
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/images/native_otlp_with_collector.svg
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-basic.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-configs.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-intro.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/images/native-otlp-no-collector.png
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/images/native_otlp_with_collector.png
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-best-practices.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-legacy-new-relic-exporters.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-quick-start.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-ref-architecture.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-setup.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-troubleshooting.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-view-your-data.mdx
  src/content/docs/new-relic-solutions/images/nr_solutions.jpg
  src/content/docs/new-relic-solutions/images/solutions-landing-page.png
  src/content/docs/new-relic-solutions/overview.mdx
  src/content/docs/service-level-management/create-slm.mdx
  src/content/whats-new/2022/03/images/whats-new-otel-jvms.png
  src/content/whats-new/2022/03/whats-new-otel-jvm.md
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-best-practices.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-setup.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-view-your-data.mdx
  src/nav/integrations.yml
Labels: content, from_tw

#6883 whats-new: updated ids
  src/data/whats-new-ids.json
Labels: content, from_tw

#6875 Update enable-log-management-new-relic.mdx
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
Labels: content, from_tw

#6844 Update find-issues-cause-or-impact-surrounding-logs.mdx
  src/content/docs/logs/troubleshooting/find-issues-cause-or-impact-surrounding-logs.mdx
Labels: content, from_tw

#6880 chore(images): remove outdated DOC7769
  src/content/docs/apm/apm-ui-pages/error-analytics/errors-page-find-fix-verify-problems.mdx
  src/content/docs/apm/apm-ui-pages/error-analytics/images/logs-in-context-errors.png
  src/content/docs/apm/transactions/transaction-traces/images/logs-in-context-traces.png
  src/content/docs/apm/transactions/transaction-traces/transaction-traces-trace-details-page.mdx
  src/content/docs/logs/forward-logs/cloudflare-logpush-forwarding.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/forward-logs/images/cloudflare-dashboard.png
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/logs/get-started/images/demotron-logs-123021.png
  src/content/docs/logs/get-started/images/demotron-services-logs-123021c.png
  src/content/docs/logs/logs-context/annotate-logs-logs-context-using-apm-agent-apis.mdx
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
  src/content/docs/logs/logs-context/configure-logs-context-php.mdx
  src/content/docs/logs/logs-context/configure-logs-context-python.mdx
  src/content/docs/logs/logs-context/images/demotron-logs-123021.png
  src/content/docs/logs/logs-context/images/logs-in-context-traces.png
  src/content/docs/logs/logs-context/images/new-relic-logs-in-context-diagram.png
  src/content/docs/logs/logs-context/logs-in-context.mdx
  src/content/docs/logs/ui-data/data-partitions.mdx
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/content/docs/logs/ui-data/find-unusual-logs-log-patterns.mdx
  src/content/docs/logs/ui-data/images/create-partition.png
  src/content/docs/logs/ui-data/images/crop-log-add-dashboard.png
  src/content/docs/logs/ui-data/images/data-partition.png
  src/content/docs/logs/ui-data/images/log-blob-query.png
  src/content/docs/logs/ui-data/images/log-drop-filter-create.png
  src/content/docs/logs/ui-data/images/log-drop-filter042721.png
  src/content/docs/logs/ui-data/images/log-parsing-rule-ui.png
  src/content/docs/logs/ui-data/images/log-parsing-rules-list.png
  src/content/docs/logs/ui-data/images/log-parsing-rules.png
  src/content/docs/logs/ui-data/images/log-partitions-crop.png
  src/content/docs/logs/ui-data/images/log-partitions.png
  src/content/docs/logs/ui-data/images/log-patterns-beta-ui.png
  src/content/docs/logs/ui-data/images/log-patterns-example1.png
  src/content/docs/logs/ui-data/images/log-patterns-logs-without-a-pattern.png
  src/content/docs/logs/ui-data/images/log-patterns-main-ui-2.png
  src/content/docs/logs/ui-data/images/log-patterns-main-ui.png
  src/content/docs/logs/ui-data/images/log-patterns-more-details.png
  src/content/docs/logs/ui-data/images/log-patterns-ui-nav.png
  src/content/docs/logs/ui-data/images/log-patterns-wildcard.png
  src/content/docs/logs/ui-data/images/log-summary-click.png
  src/content/docs/logs/ui-data/images/log-summary-query.png
  src/content/docs/logs/ui-data/images/logs-details022521.png
  src/content/docs/logs/ui-data/images/logs-ui-042721-summary.png
  src/content/docs/logs/ui-data/images/logs-ui-123021.png
  src/content/docs/logs/ui-data/images/logs-ui022421.png
  src/content/docs/logs/ui-data/images/manage-parsing.png
  src/content/docs/logs/ui-data/images/new-relic-logs-create-drop-filter.png
  src/content/docs/logs/ui-data/images/saved-view.png
  src/content/docs/logs/ui-data/images/select-partitions.png
  src/content/docs/logs/ui-data/long-logs-blobs.mdx
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
  src/content/docs/logs/ui-data/parsing.mdx
  src/content/docs/logs/ui-data/query-syntax-logs.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
Labels: content, from_tw

#6871 Update intro-slm.mdx
  src/content/docs/service-level-management/intro-slm.mdx
Labels: content, from_internal

#6877 Update errors-inbox.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content, from_internal

#6873 Update arrays-in-nrql.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/arrays-in-nrql.mdx
Labels: content, from_internal

#6878 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#6881 feat(oma-data-gov): Added several needed NRQL patterns for baselining data
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-baselining.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/om-oe-dg-facet-entitytype-example.png
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/images/om-oe-dg-facet-metricname-example.png
Labels: content, from_internal

#6879 fix(what's new): Broken link
  src/content/whats-new/2020/10/monitor-asgi-apps-using-python-agent.md
Labels: content, from_tw

#6855 feat(style guide): Added a note about GitHub permissions
  src/content/docs/style-guide/writing-docs/writer-workflow/tech-writer-workflow.mdx
Labels: content, from_tw

#6895 fix(api keys): user key capabilities
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_tw

#6896 fix(factors access): some improvements to wording
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
Labels: content, from_tw

#6898 Update net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#6893 Whats new 04 04 otel masterclass
  src/content/whats-new/2022/04/images/otel_masterclass.png
  src/content/whats-new/2022/04/whats-new-04-04-otel-masterclass.md
Labels: content, from_internal, what's new

#6892 feat(Final text): APM lic and Logs UI (publish eta 04-04-22)
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/logs/logs-context/logs-in-context.mdx
  src/content/docs/logs/ui-data/data-partitions.mdx
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/content/docs/logs/ui-data/find-unusual-logs-log-patterns.mdx
  src/content/docs/logs/ui-data/images/NRDB2.png
  src/content/docs/logs/ui-data/long-logs-blobs.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/nav/apm.yml
Labels: content, from_tw

#6912 Removed unsupported agent versions from log_file
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_external

#6479 feat(Ruby): TiC draft (publish with 8.6.0 eta 04-04-22)
  src/content/docs/logs/logs-context/configure-logs-context-ruby.mdx
Labels: content, from_tw

#6778 Create troubleshooting article for lock contention in .NET Framework applications (publish with 9.7)
  src/content/docs/apm/agents/net-agent/troubleshooting/lock-contention-appdomain-getdata.mdx
  src/nav/apm.yml
Labels: content, from_internal, pg_UXP

#6767 Add logging configuration information to main .NET agent config page (publish with 9.7.0)
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal, pg_UXP

#6910 fix(licenses): Fixed a broken link
  src/content/docs/licenses/license-information/distributed-licenses/new-relic-agent-software-notice.mdx
Labels: content, from_tw

#6813 feat(NET): APM logs in context (ETA 04-04-22)
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal, pg_UXP

#6835 Ruby agent release 8.6.0 (eta 04-04-22)
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-860.mdx
Labels: content, from_internal, pg_UXP

#6921 Update kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal

#6927 docs(Alerts): Amend 'Api-Key' header to 'X-Api-Key'
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/scope-alert-thresholds-specific-instances.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/disable-enable-alerts-conditions-using-api.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/manage-entities-alerts-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/rest-api-calls-alerts.mdx
Labels: content, from_internal

#6917 fix(guides): removing gone docs, fixing formats
  src/content/docs/new-relic-solutions/new-relic-solutions/create-application-baselines.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/optimize-cloud-architecture-spend-continuously-improve-your-modern-cloud-environment.mdx
  src/content/docs/new-relic-solutions/observability-maturity/introduction.mdx
  src/content/docs/new-relic-solutions/overview.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#6930 Daily release/04-05-22-morning
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/scope-alert-thresholds-specific-instances.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/disable-enable-alerts-conditions-using-api.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/manage-entities-alerts-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/rest-api-calls-alerts.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/whats-new/2022/04/images/slm_ui.png
  src/content/whats-new/2022/04/whats-new-04-05-slm-now-available.md
Labels: content, from_tw

#6935 Daily release/04-05-22 morning 2
  gatsby-config.js
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/create-application-baselines.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/optimize-cloud-architecture-spend-continuously-improve-your-modern-cloud-environment.mdx
  src/content/docs/new-relic-solutions/observability-maturity/introduction.mdx
  src/content/docs/new-relic-solutions/overview.mdx
  src/data/whats-new-ids.json
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#6854 AccountId() NRQL function (not yet ready for publish)
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#6928 chore(oma-data-gov): Refactor images from markdown to HTML
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-baselining.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-optimizing.mdx
  src/images/oma-oe-dg-simple-raw-sum-time-series.png
Labels: content, from_internal

#6943 feat(statsd): add unix socket support
  src/content/docs/infrastructure/host-integrations/host-integrations-list/statsd-monitoring-integration-version-2.mdx
Labels: content, from_internal

#6946 Infrastructure agent 1.24.1 release notes & updates to docs
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/configure-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1241.mdx
Labels: content, from_internal

#6920 "What's new": Postman Integration (Publish date: April 6 at 6:00 am Pacific)
  src/content/whats-new/2022/04/whats-new-04-06-api-monitoring-postman.md
Labels: content, from_internal, what's new

#6857 Sd mobile version trends
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/version-trends-compare-user-adoption-metrics-performance.mdx
  src/images/version-trends-time-picker.png
  src/images/version-trends-ui.png
Labels: content, from_tw

#6950 Change link position for i/o
  src/content/whats-new/2022/04/whats-new-04-06-api-monitoring-postman.md
Labels: content, from_internal

#6811 feat(CodeStream): New draft content
  src/content/docs/codestream/how-use-codestream/images/code-level-charts.png
  src/content/docs/codestream/how-use-codestream/images/code-level-metrics.png
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/start-here/codestream-new-relic.mdx
Labels: content, from_tw

#6937 style(data types): Simplify language, add MELT mentions
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#6940 fix(style): improving nerdgraph style
  src/content/docs/style-guide/word-choice/nerdgraph-doc-guidelines.mdx
  src/content/docs/style-guide/writing-docs/article-templates/graphql-api-tutorial-template.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#6951 fix: Update client span duration text labels
  src/content/docs/distributed-tracing/ui-data/understand-use-distributed-tracing-ui.mdx
Labels: content, from_internal

#6954 Update FedRAMP blurb to fix taxonomy/typo
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-setup.mdx
Labels: content, from_internal

#6899 Update "Additional collector set up examples" link
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-setup.mdx
Labels: content, from_internal

#6949 chore(oma-data-gov): Fix broken code block
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-baselining.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-coe.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-intro.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-optimizing.mdx
Labels: content, from_internal

#6957 Add CodeStream Integration Docs for Python Agent
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-codestream-integration.mdx
  src/nav/apm.yml
Labels: content, from_internal

#6966 fix(CodeStream): Some old markdown syntax slipped through
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/style-guide/writing-strategies/voice-strategies-docs-sound-new-relic.mdx
  src/images/code-level-charts.png
  src/images/code-level-metrics.png
Labels: content, from_tw

#6944 feat(Microsoft SQL server): Revamp of doc
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql-server-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#6971 Update custom-variables-incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
Labels: content, from_internal

#6947 style(logs ui): screenshot
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/images/logs-ui-040622.png
Labels: content, from_tw

#6975 Revert "Update kubernetes-integration-compatibility-requirements.mdx"
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_tw

#6974 Updated TAS supported versions
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-tanzu-monitoring-integration.mdx
Labels: content, from_internal

#6934 Add codestream eu post (Publish date: April 7)
  src/content/whats-new/2022/04/whats-new-4-6-codestream-eu.md
Labels: from_internal, what's new

#6976 feat(obfuscation): add xref
  src/content/docs/security/security-privacy/data-privacy/data-privacy-new-relic.mdx
Labels: content, from_tw

#6987 fix: remove rogue div tags
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-forecasting.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-optimizing.mdx
Labels: eng

#6990 feat(synthetics): Included additional NerdGraph examples
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
Labels: content, from_internal, pg_observability

#6992 feat(Release note): APM lic
  src/content/docs/release-notes/logs-release-notes/logs-22-04-04.mdx
Labels: content, from_tw

#6994 Update store-secure-credentials-scripted-browsers-api-tests.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
Labels: content, from_internal, pg_observability

#6984 Fix broken internal link
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-71000175.mdx
Labels: content, from_tw

#6983 Fix links - missing forward slash
  src/content/docs/apm/agents/python-agent/supported-features/python-codestream-integration.mdx
Labels: content, from_tw

#6962 fix indentation causing invalid yaml
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
Labels: content, from_external

#6969 fix(NG): new subcats, restructure of alerts
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-api/intro-alerts-api.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/alerts-conditions-api-field-names.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/disable-enable-alerts-conditions-using-api.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/manage-entities-alerts-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/rest-api-calls-alerts.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-alerts-policies.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-loss-signal-gap-filling.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-notification-channels.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-nrql-condition-alerts.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/nerdgraph-api-alerts-policies.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/nerdgraph-api-loss-signal-gap-filling.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/nerdgraph-api-notification-channels.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/nerdgraph-api-nrql-condition-alerts.mdx
  src/nav/alerts-and-applied-intelligence.yml
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#6997 Replace incorrect message limit on NoticeError api method
  src/content/docs/apm/agents/net-agent/net-agent-api/noticeerror-net-agent-api.mdx
Labels: content, from_internal

#6998 Fixes grammar error
  src/content/docs/synthetics/synthetic-monitoring/getting-started/types-synthetic-monitors.mdx
Labels: content, from_internal

#6999 feat(AWS Cloudfront): Cloudfront explicit delay increased
  src/content/docs/infrastructure/amazon-integrations/troubleshooting/metric-data-delays-amazon-aws-integrations.mdx
Labels: content, from_internal

#7000 Added data optimization plan template
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-optimizing.mdx
Labels: content, from_internal

#7004 Remove image of signup page
  src/content/docs/codestream/start-here/sign-up-codestream.mdx
Labels: content, from_tw

#7003 Removing the requirement for installing aws-sdk
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-legacy.mdx
Labels: content, from_internal

#7010 no need to capitalize metrics, events, logs, and traces here
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
Labels: content, from_internal

#7013 Update Synthetics EU IP range listing
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
Labels: content, from_internal

#7014 fix(ng sidebar): resolving some prob from conflicts
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#7017 Service Level Management is not a proper noun. Should be lowercase.
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/slm-implementation-guide.mdx
Labels: content, from_internal

#7021 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#6335 Update AWS MQ documentation to include supported MQ Engines
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-mq-integration.mdx
Labels: content, from_external

#7029 Fixing tdp nav file issues
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#7028 Fix config examples in .NET logging doc
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal

#6862 feat(whats-new): HITRUST (publish 04-11-22 a.m.)
  src/content/whats-new/2022/04/whats-new-4-18-HITRUST.md
Labels: content, from_internal, what's new

#7035 Fix name of log fowarding config element
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#7032 Correct .NET Agent Azure Site Extension paths
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
Labels: content, from_internal

#6960 feat(APM logs in context): screenshots
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/images/apm-lic-related040622.png
  src/images/apm-lic2-040622.png
  src/images/apm-lic2a-040622.png
  src/images/apm-lic3-040622.png
  src/images/apm-lic4-040622.png
  src/images/apm-lic5-040622.png
  src/images/view-limits.png
Labels: content, from_tw

#7040 fix(nerdgraph intro): fix broken slm link
  src/content/docs/apis/nerdgraph/examples/nerdgraph-workloads-api-tutorials.mdx
  src/content/docs/apis/nerdgraph/examples/provisions-your-subscriptions-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/provisions-your-subscriptions-nerdgraph.mdx
Labels: content, from_tw

#7043 feat(OpenTelemetry): Add intent to upgrade OTLP notice.
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-best-practices.mdx
Labels: content, from_internal

#7045 Document environment variable options for configuring .NET agent logging features
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal

#7048 No support for non-monotonic delta sums
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-best-practices.mdx
Labels: content, from_internal

#7046 style(UI xrefs): Consistency edit
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/accounts/original-accounts-billing/product-based-pricing/overview-data-retention-components.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/java-agent/troubleshooting/determine-permissions-requirements-java.mdx
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-tanzu-monitoring-integration.mdx
  src/content/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-logs/generate-logs-troubleshooting-infrastructure.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-guide.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-logs/logs-licenses.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-logs/logs-plugin-licenses.mdx
  src/content/docs/logs/forward-logs/aws-firelens-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-logs-s3.mdx
  src/content/docs/logs/forward-logs/azure-log-forwarding.mdx
  src/content/docs/logs/forward-logs/cloudflare-logpush-forwarding.mdx
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/fluentd-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/forward-logs/google-cloud-platform-log-forwarding.mdx
  src/content/docs/logs/forward-logs/heroku-log-forwarding.mdx
  src/content/docs/logs/forward-logs/kubernetes-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/logstash-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/stream-logs-using-kinesis-data-firehose.mdx
  src/content/docs/logs/forward-logs/vector-output-sink-log-forwarding.mdx
  src/content/docs/logs/logs-context/configure-logs-context-php.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
  src/content/docs/logs/troubleshooting/no-log-data-appears-ui.mdx
  src/content/docs/logs/ui-data/data-partitions.mdx
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-troubleshooting.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-optimizing.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/diagnostics-cli-nrdiag/interpret-nrdiag-output.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-2200.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-5160145.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-560135.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-61000165.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1114-0.mdx
  src/content/whats-new/2020/08/ingest-new-relic-logs-directly-amazon-web-services-aws-kinesis-data-firehose.md
  src/content/whats-new/2021/03/Heroku-cloud-integration-log-management-0316.md
Labels: content, from_tw

#7053 fix(OHI): Edited crosslink
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
Labels: content, from_tw

#7054 feat(synthetics): Updated OSS license details
  src/content/docs/licenses/product-or-service-licenses/new-relic-synthetics/new-relic-synthetics-licenses.mdx
Labels: content, from_internal

#7055 Daily release/04-12-22 morning
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/accounts/original-accounts-billing/product-based-pricing/overview-data-retention-components.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/java-agent/troubleshooting/determine-permissions-requirements-java.mdx
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-tanzu-monitoring-integration.mdx
  src/content/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-logs/generate-logs-troubleshooting-infrastructure.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-guide.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-logs/logs-licenses.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-logs/logs-plugin-licenses.mdx
  src/content/docs/logs/forward-logs/aws-firelens-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-logs-s3.mdx
  src/content/docs/logs/forward-logs/azure-log-forwarding.mdx
  src/content/docs/logs/forward-logs/cloudflare-logpush-forwarding.mdx
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/fluentd-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/forward-logs/google-cloud-platform-log-forwarding.mdx
  src/content/docs/logs/forward-logs/heroku-log-forwarding.mdx
  src/content/docs/logs/forward-logs/kubernetes-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/logstash-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/stream-logs-using-kinesis-data-firehose.mdx
  src/content/docs/logs/forward-logs/vector-output-sink-log-forwarding.mdx
  src/content/docs/logs/logs-context/configure-logs-context-php.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
  src/content/docs/logs/troubleshooting/no-log-data-appears-ui.mdx
  src/content/docs/logs/ui-data/data-partitions.mdx
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-best-practices.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-troubleshooting.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-optimizing.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/diagnostics-cli-nrdiag/interpret-nrdiag-output.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-2200.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-5160145.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-560135.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-61000165.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1114-0.mdx
  src/content/whats-new/2020/08/ingest-new-relic-logs-directly-amazon-web-services-aws-kinesis-data-firehose.md
  src/content/whats-new/2021/03/Heroku-cloud-integration-log-management-0316.md
Labels: content, from_tw

#6991 Add frontmatter docs that have associated datasource
  package.json
  scripts/actions/check-datasource-ids.js
  scripts/utils/docs-content-tools/migrate-datasource-ids.js
  scripts/utils/nr-graphql-helpers.js
  src/content/docs/infrastructure/elastic-container-service-integration/get-started/introduction-amazon-ecs-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/f5-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/powerdns-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snmp-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/statsd-monitoring-integration-version-2.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-tanzu-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
  src/content/docs/logs/forward-logs/aws-firelens-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-logs-s3.mdx
  src/content/docs/logs/forward-logs/stream-logs-using-kinesis-data-firehose.mdx
  src/content/docs/mlops/integrations/datarobot-mlops-integration.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/dropwizard/dropwizard-reporter.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/kamon/kamon-reporter.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/micrometer/micrometer-metrics-registry.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/aws-vpc-flow-monitoring.mdx
  yarn.lock
Labels: eng

#7049 fix(user migration): some clarifications
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content, from_tw

#7007 fix(snmp): removing collapsers in intro
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_tw

#7041 feat(synthetics): Updated module import details and expanded NerdGrap…
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/import-nodejs-modules.mdx
Labels: content, from_internal

#7058 Pull back hitrust post since the date for release was changed
  src/content/whats-new/2022/04/whats-new-4-18-HITRUST.md
Labels: from_tw, what's new

#7042 [chore] Update mobile attributes
  src/data-dictionary/events/Mobile/category.md
  src/data-dictionary/events/Mobile/reportedTimestampMs.md
  src/data-dictionary/events/MobileCrash/appToken.md
  src/data-dictionary/events/MobileCrash/crashLocation.md
  src/data-dictionary/events/MobileCrash/crashLocationClass.md
  src/data-dictionary/events/MobileCrash/crashLocationLineNumber.md
  src/data-dictionary/events/MobileCrash/crashLocationMethod.md
  src/data-dictionary/events/MobileCrash/deviceName.md
  src/data-dictionary/events/MobileCrash/memoryUsage.md
  src/data-dictionary/events/MobileCrash/osBuild.md
  src/data-dictionary/events/MobileCrash/screenResolution.md
  src/data-dictionary/events/MobileSession/appBuild.md
  src/data-dictionary/events/MobileSession/carrier.md
  src/data-dictionary/events/MobileSession/countryCode.md
  src/data-dictionary/events/MobileSession/device.md
  src/data-dictionary/events/MobileSession/deviceGroup.md
  src/data-dictionary/events/MobileSession/deviceManufacturer.md
  src/data-dictionary/events/MobileSession/deviceModel.md
  src/data-dictionary/events/MobileSession/deviceType.md
  src/data-dictionary/events/MobileSession/deviceUuid.md
  src/data-dictionary/events/MobileSession/lastInteraction.md
  src/data-dictionary/events/MobileSession/regionCode.md
  src/data-dictionary/events/MobileSession/timeSinceLoad.md
  src/data-dictionary/events/MobileSession/timestamp.md
  src/data-dictionary/events/PageView/city.md
Labels: content, from_internal

#7061 What's new: updated ids
  src/data/whats-new-ids.json
Labels: from_tw, what's new

#7066 Remove Linux system memory bug callout
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
Labels: content, from_internal

#7062 style(Logs UI): Updated screenshots and path info
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/ui-data/find-unusual-logs-log-patterns.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/images/log-debug-details041222.png
  src/images/logs-add-attribute.png
  src/images/logs-dt041222.png
  src/images/logs-hosts041222.png
Labels: content, from_tw

#7070 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#6847 Update server-side-agent-configuration.mdx
  src/content/docs/apm/agents/manage-apm-agents/configuration/server-side-agent-configuration.mdx
Labels: content, from_internal, pg_observability

#7072 Improve 'delete simple org' wording
  src/content/docs/accounts/accounts-billing/account-setup/create-your-new-relic-account.mdx
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
Labels: content, from_tw

#6668 fix(nerdgraph): new add-accounts tutorial
  src/content/docs/accounts/accounts-billing/account-structure/add-accounts.mdx
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/tutorial-add-new-user-groups-roles-new-relic-one-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/parent-child-account-structure.mdx
  src/content/docs/apis/nerdgraph/examples/manage-accounts-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/release-notes/org-user-mgmt-release-notes/org-users-22-04-12.mdx
  src/content/docs/style-guide/word-choice/nerdgraph-doc-guidelines.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#7077 .NET agent 9.7.1 release notes, etc.
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9700.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9710.mdx
Labels: content, from_internal

#7084 MDX adjustments
  src/i18n/content/jp/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: eng

#7089 Update opentelemetry-introduction.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
Labels: content, from_internal

#7092 fix(AI): Updated screenshot
  src/images/NRAI_Decisions_Index.png
Labels: content, from_tw

#7085 Update introduction-new-relic-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
Labels: content, from_tw

#7074 style(Logs UI): Returning screenshots
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/content/docs/logs/logs-context/logs-in-context.mdx
  src/content/docs/logs/ui-data/data-partitions.mdx
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/content/docs/logs/ui-data/find-unusual-logs-log-patterns.mdx
  src/content/docs/logs/ui-data/parsing.mdx
  src/images/log-parsing041422.png
  src/images/log-partition041422.png
  src/images/log-partitions-crop.png
Labels: content, from_tw

#7065 fix(nr apis): fixing out of dateness
  src/content/docs/apis/intro-apis/introduction-new-relic-apis.mdx
Labels: content, from_tw

#7098 fix(whats-new): new data plus one
  src/content/whats-new/2022/04/images/data_plus_comparison.png
  src/content/whats-new/2022/04/whats-new-4-14-data-updates.md
Labels: content, from_tw

#7076 "Whats new" synthetics nextgen runtime (publish ETA 04-14-22)
  src/content/whats-new/2022/04/whats-new-4-14-runtime.md
Labels: what's new

#7110 Fix two OMA typos
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-optimizing.mdx
Labels: content, from_internal

#7112 style(Logs screenshots): Obfuscation, blobs
  src/content/docs/logs/ui-data/long-logs-blobs.mdx
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
  src/images/log-obfuscationUI-041422.png
Labels: content, from_tw

#7101 feat(whats-new): add code level metrics, publish 4/14
  src/content/whats-new/2022/04/whats-new-4-14-codestream-code-level-metrics.md
Labels: content, from_internal

#7106 fix(style guide): Add color around agent vs integration
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#7115 bug fix - we no longer say "Edge"
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#6965 Whats new 04 15 arrays post
  src/content/whats-new/2022/04/images/Arrays.png
  src/content/whats-new/2022/04/whats-new-04-15-arrays.md
Labels: content, from_internal, what's new

#7009 Installation docs experiments DOC-7864
  src/components/HomepageBanner.js
  src/content/docs/new-relic-one/install-configure/install-new-relic.mdx
  src/content/docs/new-relic-one/install-configure/new-relic-guided-install-overview.mdx
  src/content/docs/using-new-relic/welcome-new-relic/get-started/get-started-full-stack-observability.mdx
  src/i18n/content/jp/docs/using-new-relic/welcome-new-relic/get-started/get-started-full-stack-observability.mdx
  src/i18n/translations/en/translation.json
  src/nav/new-relic-in-practice.yml
  src/nav/new-relic-one.yml
  src/nav/root.yml
Labels: content, from_tw

#7103 Added a demo video
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
Labels: content, from_internal

#5665 Errors inbox scoped views and reorg
  src/content/docs/errors-inbox/error-external-services.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/images/scoped.png
  src/nav/errors-inbox.yml
Labels: content, from_tw

#7123 style(LiC): Delete outdated screenshots
  src/content/docs/apm/agents/c-sdk/instrumentation/enable-distributed-tracing-your-c-applications.mdx
  src/content/docs/apm/agents/c-sdk/instrumentation/instrument-errors-c-sdk.mdx
  src/content/docs/apm/agents/go-agent/features/enable-distributed-tracing-your-go-applications.mdx
  src/content/docs/apm/agents/go-agent/instrumentation/instrument-go-transactions.mdx
  src/content/docs/apm/agents/php-agent/features/distributed-tracing-php-agent.mdx
Labels: content, from_tw

#7113 updating nrql length validation while creating a drop rule though ner…
  src/content/docs/data-apis/manage-data/drop-data-using-nerdgraph.mdx
Labels: content, from_internal

#7114 Added PATHEXT env var example for Windows Hosts
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#7125 cpm requirements update for IOPS
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, from_internal

#7132 Update error-external-services.mdx
  src/content/docs/errors-inbox/error-external-services.mdx
Labels: content, from_internal

#7131 Update install-net-agent-azure-web-apps.mdx
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
Labels: content, from_internal

#7034 HIPAA: updated links and product requirements
  src/content/docs/security/security-privacy/compliance/hipaa-readiness-new-relic.mdx
Labels: content, from_internal

#7104 feat(AI): Update decisions UI screenshot
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/images/NRAI_Decisions_Index.png
Labels: content, from_tw

#7100 feat(AI): Update destinations overview image + caption
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
  src/images/destinations-overview.png
Labels: content, from_tw

#7142 Update for the Atlassian-Jira integration doc
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#7139 fix: update commands to new names
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-chrome-100.mdx
Labels: content, from_internal

#7135 style(EOL callout): Q1 FY23
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/apm-summary-page-view-transaction-apdex-usage-data.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/databases-page-view-operations-throughput-response-time.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
Labels: content, from_tw

#7147 Update java-configure-logs-context-all.mdx
  src/content/docs/logs/logs-context/java-configure-logs-context-all.mdx
Labels: content, from_tw

#7143 Changed URL for "Scripted browser reference"
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/introduction-scripted-browser-monitors.mdx
Labels: content, from_external

#7140 in progress
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/images/synthetics-create-monitor.png
  src/images/synthetics-monitor-critical-alert.png
Labels: content, from_internal

#7148 fix(oma-data-gov): Added MobileRequest to NrConsumption table
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-baselining.mdx
Labels: content, from_internal

#7124 fix(definitions): improving 'integration'
  src/content/docs/glossary/glossary.mdx
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#7151 Update error-external-services.mdx
  src/content/docs/errors-inbox/error-external-services.mdx
Labels: content, from_internal

#7144 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#7153 chore(java): Update wording on false positives troubleshooting page
  src/content/docs/apm/agents/java-agent/troubleshooting/large-number-false-positive-security-vulnerabilities.mdx
Labels: content, from_internal

#7152 fix(Synthetics): Added redirect for a broken link
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/new-runtime.mdx
Labels: content, from_tw

#7079 feat(security): Updated intro to reflect new processes, removed FEDRA…
  src/content/docs/security/security-privacy/compliance/key-management-encryption-rest.mdx
Labels: content, from_tw

#7157 Change installation step order
  src/content/docs/infrastructure/install-infrastructure-agent/macos-installation/install-infrastructure-monitoring-agent-macos.mdx
Labels: content, from_internal

#7163 chore(K8s): Fixed link
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_tw

#7165 Update no-data-metric-streams.mdx
  src/content/docs/infrastructure/amazon-integrations/troubleshooting/no-data-metric-streams.mdx
Labels: content, from_internal

#7136 feat(guided install): Moved to on-host integrations section, added redirect
  src/content/docs/infrastructure/host-integrations/installation/new-relic-guided-install-overview.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/installation/new-relic-guided-install-overview.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/installation/new-relic-guided-install-overview.mdx
  src/nav/infrastructure.yml
  src/nav/new-relic-one.yml
Labels: content, from_tw

#7167 Daily release/04-19-22 morning
  .github/workflows/add-slugs-to-translate-queue.yml
  .github/workflows/check-translations-and-deserialize.yml
  .github/workflows/send-content-to-machine-translate.yml
  .github/workflows/send-content-to-translate.yml
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/infrastructure/amazon-integrations/troubleshooting/no-data-metric-streams.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/statsd-monitoring-integration-version-2.mdx
  src/content/docs/infrastructure/host-integrations/installation/new-relic-guided-install-overview.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/macos-installation/install-infrastructure-monitoring-agent-macos.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/i18n/content/jp/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/i18n/content/jp/docs/codestream/troubleshooting/reverse-proxy.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/installation/new-relic-guided-install-overview.mdx
  src/i18n/content/jp/docs/logs/logs-context/logs-in-context.mdx
  src/i18n/content/jp/docs/logs/ui-data/data-partitions.mdx
  src/i18n/content/jp/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/i18n/content/jp/docs/logs/ui-data/long-logs-blobs.mdx
  src/i18n/content/jp/docs/logs/ui-data/obfuscation-ui.mdx
  src/i18n/content/jp/docs/logs/ui-data/parsing.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/i18n/content/jp/docs/new-relic-solutions/observability-maturity/operational-efficiency/dg-optimizing.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/installation/new-relic-guided-install-overview.mdx
  src/i18n/content/kr/docs/logs/logs-context/logs-in-context.mdx
  src/i18n/content/kr/docs/logs/ui-data/data-partitions.mdx
  src/i18n/content/kr/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/i18n/content/kr/docs/logs/ui-data/long-logs-blobs.mdx
  src/i18n/content/kr/docs/logs/ui-data/obfuscation-ui.mdx
  src/i18n/content/kr/docs/logs/ui-data/parsing.mdx
  src/i18n/content/kr/docs/logs/ui-data/use-logs-ui.mdx
  src/nav/infrastructure.yml
  src/nav/new-relic-one.yml
Labels: content, from_tw

#7166 Update kubernetes-summary-page.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/kubernetes-summary-page.mdx
  src/images/kubernetesMultipleClusters.png
Labels: content, from_internal

#7141 Update custom-variables-incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
Labels: content, from_internal

#7129 feat(synthetics): Best practice guide edits
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/images/synthetics-create-monitor.png
  src/images/synthetics-monitor-critical-alert.png
Labels: content, from_tw

#7171 Daily release/04-19-22 noon
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/kubernetes-summary-page.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/images/kubernetesMultipleClusters.png
  src/images/synthetics-create-monitor.png
  src/images/synthetics-monitor-critical-alert.png
Labels: content, from_external

#7172 Remove link to old TOC page for APIs
  src/content/docs/data-apis/ingest-apis/telemetry-sdks-report-custom-telemetry-data.mdx
Labels: content, from_tw

#7176 fix(whats-new): edit to price increase wording
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/whats-new/2022/04/whats-new-4-14-data-updates.md
Labels: content, from_tw
