Repository newrelic/docs-website, pull requests merged in 2022-11, with the labels that each got.

#10109 fix(nrql subqueries): add error message
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/subqueries-in-nrql.mdx
Labels: content, from_tw

#10118 chore(agile handbook): 20 to 21
  src/content/docs/agile-handbook/sprint-mechanics/planning-poker.mdx
Labels: content, from_tw

#10062 Symphony image update: Java branching install doc
  src/images/apm_screenshot-full_java-example-dashboards.png
  src/install/java/intro.mdx
Labels: content, from_tw, symphony

#10125 Sd solutions2 oct 28
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/automaps.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/explore-downstream-dependencies-new-relic-one.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/maps-in-context.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/metric-normalization-rules.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/introduction-service-maps.mdx
  src/images/accounts_icon_configured-health-status.svg
  src/images/solutions_icon_alerting-health-status.svg
  src/images/solutions_icon_anomaly-health-status.svg
  src/images/solutions_icon_application.svg
  src/images/solutions_icon_browser-application.svg
  src/images/solutions_icon_critical-health-status.svg
  src/images/solutions_icon_mobile-application.svg
  src/images/solutions_icon_synthetic.svg
  src/images/solutions_icon_warning-health-status.svg
  src/images/solutions_icon_workload-icon.svg
  src/images/solutions_screenshot-full_automap-controls.png
  src/images/solutions_screenshot-full_automap-tooltip.png
  src/images/solutions_screenshot-full_automap-view-rel3.png
  src/images/solutions_screenshot-full_automap-view.png
  src/images/solutions_screenshot-full_context-map-entity-detail.png
  src/images/solutions_screenshot-full_context-map-three-entities.png
  src/images/solutions_screenshot-full_create-new-rule-window.png
  src/images/solutions_screenshot-full_lager-control-check-boxes.png
  src/images/solutions_screenshot-full_map-view-button.png
  src/images/solutions_screenshot-full_omnimap-dependencies.png
  src/images/solutions_screenshot-full_omnimap-view.png
  src/images/solutions_screenshot-full_service-maps-right-pane.gif
  src/images/solutions_screenshot-full_service-maps-top-nav.png
  src/images/solutions_screenshot-full_service-maps.png
  src/images/solutions_screenshot-full_timewarp.png
Labels: content, from_tw, symphony

#10104 Add Copy workflow id button to docs
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-workflows.mdx
Labels: content, from_internal

#10105 docs: added release notes for infrastructure-agent 1.33.1
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1331.mdx
Labels: content, from_internal

#10064 fix(VM): fix repeated image
  src/content/docs/vulnerability-management/security-workflow.mdx
Labels: content, from_tw

#10133 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#10114 Symphony solutions 2 31oct22
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/new-relic-feature-end-life-announcements-july-2020.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/introduction-service-maps.mdx
  src/images/mapsSolutions_screenshot-full_service-maps-with-omnimap.png
  src/images/solutions_screenshot-full_solutions-get-chart-link.png
Labels: content, from_tw, symphony

#9951 Symphony work 10 20 [errors inbox batch 1]
  src/content/docs/errors-inbox/error-external-services.mdx
  src/content/docs/errors-inbox/errors-email-notifications.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/images/errors-inbox_screenshot-crop_delete-source.png
  src/images/errors-inbox_screenshot-crop_error-context.png
  src/images/errors-inbox_screenshot-crop_jira-button-option.png
  src/images/errors-inbox_screenshot-crop_regression-errors.png
  src/images/errors-inbox_screenshot-crop_unassigned-message.png
  src/images/errors-inbox_screenshot-full_assign-jira.png
  src/images/errors-inbox_screenshot-full_assign-users.png
  src/images/errors-inbox_screenshot-full_bulk-actions.png
  src/images/errors-inbox_screenshot-full_errors-inbox-ui.png
  src/images/errors-inbox_screenshot-full_scoped-browser.png
  src/images/errors-inbox_screenshot-full_scopted-otel.png
Labels: content, from_tw, symphony

#10137 chore(go agent): update EOL version matrix
  src/content/docs/apm/agents/go-agent/get-started/go-agent-eol-policy.mdx
Labels: content, from_internal

#10108 Symphony apm2 31oct22
  src/content/docs/apm/agents/php-agent/getting-started/introduction-new-relic-php.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/checking-loaded-configuration-files-directory.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/missing-php-module.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/using-phpinfo-verify-php.mdx
  src/content/docs/apm/agents/python-agent/configuration/distributed-tracing-python-agent.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/supported-features/cross-application-tracing.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-event-loop-diagnostics.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-message-queues.mdx
  src/images/apm_diagram_client-custom-transport.png
  src/images/apm_diagram_config-settings.png
  src/images/apm_diagram_php-agent-diagram.png
  src/images/apm_diagram_php-info-extension-dir.png
  src/images/apm_diagram_php-info.png
  src/images/apm_diagram_php-nr-license.png
  src/images/apm_diagram_python-diagram-app-tracing.png
  src/images/apm_diagram_python-nonhttp-transport.png
  src/images/apm_logo_python.png
  src/images/apm_screenshot-crop_python-transaction-breakdown-page.png
  src/images/apm_screenshot-crop_rabbit-mq-transaction-trace-summary.png
  src/images/apm_screenshot-crop_rabbitmq-transaction-task.png
  src/images/apm_screenshot-crop_transaction-breakdown-page.png
  src/images/apm_screenshot-crop_transaction-table-breakdown.png
  src/images/apm_screenshot-crop_transaction-trace-rabbitmq.png
  src/images/apm_screenshot-full_find-apm-transaction-table.png
  src/images/apm_screenshot-full_php-summary-page.png
Labels: content, from_tw, symphony

#10076 Flink I/O
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-activemq.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/install-apache-flink.mdx
  src/images/dashboards_screenshot-full_apache-flink-quickstart.png
  src/images/instantobservabilityFlink.png
  src/nav/infrastructure.yml
Labels: content, from_tw

#10048 Symphony updates (NR- 51376)
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/custom-instrumentation/create-transactions-xml-net.mdx
  src/content/docs/apm/agents/net-agent/custom-instrumentation/query-naming.mdx
  src/content/docs/apm/agents/net-agent/getting-started/introduction-new-relic-net.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/azure-pipelines-wipes-out-newrelicazurewebsitesextension-directories.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/message-queues.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-vms-statistics-page.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/distributed-tracing-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/distributed-tracing-php-agent.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/analyze-phpunit-test-data-new-relic.mdx
  src/images/apm_diagram_net-agent-configuration-hierarchy.png
  src/images/apm_diagram_nodejs-agent-configuration-hierarchy.png
  src/images/apm_diagram_php-agent-configuration-hierarchy.png
  src/images/apm_logo_nodejs-logo.png
  src/images/apm_logo_php.png
  src/images/apm_screenshot-crop_messaging-breakdown-table.png
  src/images/apm_screenshot-crop_nodejs-vm-page-overview.png
  src/images/apm_screenshot-crop_overview-of-the-dotnet-agent.png
  src/images/apm_screenshot-crop_php-duration-frequency-dashboard.png
  src/images/apm_screenshot-crop_php-linked-facets-dashboard.png
  src/images/apm_screenshot-crop_php-passing-suites-and-tests-dashboard.png
  src/images/apm_screenshot-crop_php-passing-test-suites-dashboard.png
  src/images/apm_screenshot-crop_php-test-failures-dashboard.png
  src/images/apm_screenshot-crop_php-test-outcomes-dashboard.png
  src/images/apm_screenshot-crop_php-unit-test-dashboard.png
  src/images/apm_screenshot-crop_screenshot-of-transaction-dropdown.png
  src/images/apm_screenshot-crop_screenshot-showing-where-you-would-see-a-custom-query-name.png
  src/images/apm_screenshot-crop_skipaction-in-azure-pipeline.png
  src/images/apm_screenshot-crop_trx-slowest-components.png
Labels: content, from_tw, symphony

#10040 Nov 2 evening: PHP agent, update docs for logging on by default release
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-eol-policy.mdx
  src/content/docs/logs/logs-context/configure-logs-context-php.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-3-0-315.mdx
Labels: content, from_internal

#10128 Sd symphony clean up
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/jenkins/monitoring-jenkins-ot.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
  src/images/2022-11-01_14-30-57.png
  src/images/opentelemetry_screenshot-full_integrations-jenkins-02.png
  src/images/opentelemetry_screenshot-full_integrations-jenkins-03.png
  src/images/opentelemetry_screenshot-full_jenkins-05.png
  src/images/opentelemetry_screenshot-full_jenkis-01.png
  src/images/opentelemetry_screenshot-full_opentelemetry-jenkins-04.png
  src/images/solutions_screenshot-full_tag-filter-query.png
  src/images/solutions_screenshot-full_tag-management.png
Labels: content, from_tw, symphony

#10142 Update new-relic-one-usage-plan-descriptions.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
Labels: content, from_internal

#10124 fix(data retention): remove ambiguous info
  src/content/docs/accounts/original-accounts-billing/original-data-retention/event-data-retention-original-pricing-plan.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#10140 Minor style guide fixes
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#10139 go agent v3.20.0 release
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-20-0.mdx
Labels: content, from_internal

#10096 NR-595593: (mobile) Symbol upload script doc update, Bitcode deprecation doc update
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/retrieve-dsyms-bitcode-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/upload-dsyms-bitcode-apps.mdx
Labels: content, from_internal

#10151 fix(muting rules): delete redundant, bad file
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/accounts_screenshot-full_muting-rules-events
Labels: content, from_tw

#9985 fix(vm): various peer feedback
  src/content/docs/vulnerability-management/dev-workflow.mdx
  src/content/docs/vulnerability-management/integrations/aws.mdx
  src/content/docs/vulnerability-management/integrations/intro.mdx
  src/content/docs/vulnerability-management/security-workflow.mdx
Labels: content, from_tw

#10069 feat(workflow): add BCN writers to auto review action
  .github/auto_assign.yml
Labels: content, from_tw

#10154 fix(saml support): remove links
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content, from_tw

#10147 Clarify session/IP limits and move to better location
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/licenses/license-information/faq/new-relic-one-pricing-plan-frequently-asked-questions.mdx
Labels: content, from_tw

#10155 (mobile) NR-62961: Update EOL doc for iOS version (mobile-agents-eol-policy.mdx)
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
Labels: content, from_internal

#10156 chore: format and add syntax highlighting to code
  src/content/docs/apis/nerdgraph/examples/golden-metrics-entities-nerdgraph-api-tutorial.mdx
Labels: content, from_internal

#10131 feat(npm): gcp vpc flow logs doc
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/cloud-flow-logs/aws-vpc-flow-log-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/cloud-flow-logs/gcp-vpc-flow-log-monitoring.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_tw

#10123 11/04 - Whats new App Runner integration
  src/content/whats-new/2022/11/images/AppRunnerDashboard.png
  src/content/whats-new/2022/11/whats-new-11-04-app-runner.md
Labels: content, from_internal, what's new

#10166 fix(factors access): fixing header
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/nav/accounts.yml
Labels: content, from_tw

#10136 Updated Node.js env vars
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#9680 Update Decision doc contents and images
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/images/2022-11-03_15-57-02.png
  src/images/NRAI_Decisions_Page.png
  src/images/accounts_screenshot-full_decision-builder-topology-.png
  src/images/alerts_diagram_topology-1.png
  src/images/alerts_diagram_topology-2.png
  src/images/alerts_diagram_topology-3.png
  src/images/alerts_diagram_topology-4.png
  src/images/alerts_screenshot-full_decision-builder-.png
  src/images/alerts_screenshot-full_decision-builder-contextual.png
  src/images/alerts_screenshot-full_decision-builder-filter.png
  src/images/alerts_screenshot-full_decision-builder-settings.png
  src/images/alerts_screenshot-full_decision-policy-.png
  src/images/alerts_screenshot-full_new-relic-decisions-page.png
  src/images/alerts_screenshot-full_suggested-decisions-.png
  src/images/decision-builder-contextual.png
  src/images/decision-builder-filter.png
  src/images/decision-builder-name.png
  src/images/decision-builder-settings.png
  src/images/decision-builder-topology.png
  src/images/decision-policy.png
Labels: content, from_internal

#10007 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#10182 chore: add release notes for minion release 3.0.68
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3068.mdx
Labels: content, from_internal

#10186 Fix typo
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/optimize-slm-guide.mdx
Labels: content, from_internal

#10157 NewRelic for Android release note
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-4740.mdx
Labels: content, from_internal

#10169 fix(api keys): clarify user key/account link
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_tw

#9725 Update net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#10187 fix(alerts): removing doc from nav to hide it from users
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_internal

#10165 User record switcher
  src/content/docs/accounts/accounts-billing/account-setup/multiple-logins-found.mdx
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/images/accounts_screenshot-crop_user-record-switcher.png
  src/nav/accounts.yml
Labels: content, from_tw

#10178 chore(infra release notes): Broken update links
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1330.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1331.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1332.mdx
Labels: content, from_tw

#10121 chore(agile handbook): Fix indent issue
  src/content/docs/agile-handbook/heroing/what-is-a-hero.mdx
Labels: content, from_tw

#10193 Python Agent EOL Updates
  src/content/docs/apm/agents/python-agent/getting-started/python-agent-eol-policy.mdx
Labels: content, from_internal

#10195 fix(user record switcher): fix image
  src/images/accounts_screenshot-crop_user-record-switcher.png
Labels: content, from_tw

#10179 chore(pathing): Old "query your data" pathing
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/your-first-nrql-condition.mdx
  src/content/docs/apm/agents/c-sdk/get-started/otel_cpp_example.mdx
  src/content/docs/apm/agents/manage-apm-agents/agent-data/real-time-streaming.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-vm-measurements.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/browser-monitoring-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-one.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/use-advanced-promql-style-mode-query-data.mdx
  src/content/whats-new/2021/06/extract-data-regex.md
Labels: content, from_tw

#10181 fix(data explorer): sweep
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-vm-measurements.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-apprunner.mdx
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
  src/content/docs/infrastructure/infrastructure-integrations/get-started/use-integration-data-new-relic-dashboards.mdx
  src/content/docs/mlops/bring-your-own/mlops-byo.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-troubleshooting.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/infrastructure-monitoring-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
  src/content/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/query-infrastructure-dimensional-metrics-nrql.mdx
  src/content/whats-new/2021/05/whats-new-5-28-in-context-alerting.md
  src/nav/dashboards.yml
Labels: content, from_tw

#10200 Update whats-new-11-04-app-runner.md
  src/content/whats-new/2022/11/whats-new-11-04-app-runner.md
Labels: content, from_internal

#10160 Fix bytecountestimate typo
  src/content/docs/infrastructure/prometheus-integrations/troubleshooting/compare-rw-data-sent-billed-bytes.mdx
Labels: content, from_external

#10207 fix(accounts): replace user record switcher img
  src/images/accounts_screenshot-crop_user-record-switcher.png
Labels: content, from_tw

#10170 chore(ruby): Fix config file step (NR-39797)
  src/content/docs/apm/agents/ruby-agent/installation/install-new-relic-ruby-agent.mdx
Labels: content, from_tw

#10194 feat(apm): revamp overview agent update doc
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/update-new-relic-agent.mdx
  src/images/apm_screenshot-full_groundskeeper-app.png
Labels: content, from_tw

#9861 New docs: iOS mobile android docs parity
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/custom-interaction-name.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/notice-network-failure.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/notice-network-request.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/set-application-build.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/set-application-version.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/start-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/stop-current-interaction.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#10218 Update synth price and details
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/monitor-limits.mdx
Labels: content, from_tw

#10202 NOV. 8TH -- NOON. What's new HCP consul integration
  src/content/whats-new/2022/11/images/whatsnew_hcp_consul_dashboard01.png
  src/content/whats-new/2022/11/whats-new-11-08-hcp-consul-quickstart.md
Labels: content, from_internal, what's new

#10211 fix(roles): clarify they're additive
  src/content/docs/accounts/accounts-billing/account-setup/multiple-logins-found.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Labels: content, from_tw

#10206 fix(navs): flattening some stuff
  src/nav/accounts.yml
  src/nav/alerts-applied-intelligence.yml
  src/nav/apm.yml
  src/nav/browser.yml
  src/nav/codestream.yml
  src/nav/distributed-tracing.yml
  src/nav/infrastructure.yml
  src/nav/kubernetes-pixie.yml
  src/nav/logs.yml
  src/nav/mlops.yml
  src/nav/mobile-monitoring.yml
  src/nav/serverless-function-monitoring.yml
  src/nav/synthetics.yml
Labels: content, from_tw

#10209 fix(screenshots): symphony updates
  src/content/docs/apm/apm-ui-pages/features/analyze-database-instance-level-performance-issues.mdx
  src/images/apm_screenshot-full_database-overview.png
  src/images/apm_screenshot-full_transaction-trace-database-icon-drilldown.png
Labels: content, from_tw

#10214 Updated deployment & security requirements
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
Labels: content, from_internal

#10213 ktranslate for SNMP - support for package deployments
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal

#10216 Update requirements for host-based install
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
Labels: content, from_tw

#10219 Tidy up one limit
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/rules-limits-alerts.mdx
Labels: content, from_internal

#10204 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#9405 Update introduction-new-relic-mobile-ios.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/get-started/introduction-new-relic-mobile-ios.mdx
Labels: content, from_internal

#10221 New 'user menu' information and sweep for 'account dropdown'
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/content/docs/accounts/accounts-billing/account-structure/account-id.mdx
  src/content/docs/accounts/accounts-billing/general-account-settings/default-time-zone-setting.mdx
  src/content/docs/accounts/accounts-billing/general-account-settings/intro-account-settings.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/billing-ui.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/account-user-mgmt-tutorial.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-capabilities.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/content/docs/accounts/accounts/account-maintenance/account-email-settings.mdx
  src/content/docs/accounts/accounts/account-maintenance/change-passwords-user-preferences.mdx
  src/content/docs/accounts/accounts/account-maintenance/change-your-new-relic-account-name.mdx
  src/content/docs/accounts/accounts/account-maintenance/set-session-timeouts.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/billing/view-or-change-account-tax-information.mdx
  src/content/docs/accounts/accounts/saml-single-sign/saml-service-providers.mdx
  src/content/docs/accounts/install-new-relic/partner-based-installation/heroku-install-new-relic-add.mdx
  src/content/docs/accounts/install-new-relic/partner-based-installation/rightscale-users-new-relic.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/introduction-new-relic-subscription-usage-data.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-pricing-models.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/overview-user-models.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/parent-child-account-structure.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/product-based-pricing/overview-data-retention-components.mdx
  src/content/docs/accounts/original-accounts-billing/product-pricing/product-based-pricing.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/advanced-cross-account-environments.mdx
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/content/docs/apis/rest-api-v2/troubleshooting/500-error-when-starting-api-explorer.mdx
  src/content/docs/apm/agents/manage-apm-agents/configuration/high-security-mode.mdx
  src/content/docs/apm/agents/ruby-agent/installation/update-ruby-agent.mdx
  src/content/docs/apm/agents/ruby-agent/troubleshooting/no-data-appears-ruby.mdx
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/content/docs/apm/new-relic-apm/maintenance/record-monitor-deployments.mdx
  src/content/docs/apm/reports/performance-reports.mdx
  src/content/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
  src/content/docs/data-apis/manage-data/manage-your-data.mdx
  src/content/docs/data-apis/manage-data/view-system-limits.mdx
  src/content/docs/logs/logs-context/disable-automatic-logging.mdx
  src/content/docs/mlops/integrations/datarobot-mlops-integration.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/mobile-monitoring-email-notifications.mdx
  src/content/docs/new-relic-partnerships/partner-integration-guide/getting-started/partnership-admin-console.mdx
  src/content/docs/new-relic-partnerships/partner-integration-guide/new-relic-products-features/partner-products-pricing-billing.mdx
  src/content/docs/new-relic-partnerships/partner-integration-guide/new-relic-products-features/single-sign-access-control.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-optimize-ingest-guide.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-heartbleed-vulnerability.mdx
  src/content/docs/security/security-privacy/data-privacy/new-relic-personal-data-requests.mdx
  src/content/docs/style-guide/formatting/ui-paths.mdx
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-template.mdx
  src/content/docs/style-guide/writing-strategies/organize-doc.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/i18n/content/jp/docs/accounts/original-accounts-billing/original-product-based-pricing/introduction-new-relic-subscription-usage-data.mdx
  src/images/accounts_screenshot-crop_usage-ui.png
  src/images/accounts_screenshot-crop_user-menu.png
  src/images/accounts_screenshot-full_user-menu-location.png
Labels: content, from_tw

#10198 fix(PHP agent): Update framework INI options
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Labels: content, from_internal

#10229 Update install-net-agent-azure-web-apps.mdx
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
Labels: content, from_internal

#10231 fix(user mgmt): add detail to 'add users'
  src/content/docs/accounts/accounts-billing/general-account-settings/intro-account-settings.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
Labels: content, from_tw

#10237 Node.js Agent v9.6.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-6-0.mdx
Labels: content, from_internal

#10230 Continuity updates
  src/content/docs/security/security-privacy/compliance/hipaa-readiness-new-relic.mdx
Labels: content, from_internal

#10239 Update whats-new-11-08-hcp-consul-quickstart.md
  src/content/whats-new/2022/11/whats-new-11-08-hcp-consul-quickstart.md
Labels: content, from_internal, what's new

#10235 new: chart settings for Pixie custom registry
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/custom-image-registry.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal

#10241 Update parsing.mdx
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#10233 Whats new 11 10 agent upgrade
  src/content/whats-new/2022/11/images/dt_agent.png
  src/content/whats-new/2022/11/whats-new-11-10-agent-upgrade.md
Labels: content, from_internal

#10232 Updated FB FILTER section
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
Labels: content, from_internal

#10177 Lambda telemetry extension for aws
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-lambda-telemetry.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#10236 fix(php logs): clarify enabled/disabled working
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
  src/content/docs/logs/logs-context/configure-logs-context-php.mdx
  src/content/docs/logs/logs-context/configure-logs-context-python.mdx
  src/content/docs/logs/logs-context/configure-logs-context-ruby.mdx
  src/content/docs/logs/logs-context/java-configure-logs-context-all.mdx
  src/content/docs/logs/logs-context/logs-in-context.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
  src/nav/accounts.yml
  src/nav/logs.yml
Labels: content, from_tw

#10173 fix(streaming data): add aws procedure
  src/content/docs/apis/nerdgraph/examples/nerdgraph-streaming-export.mdx
Labels: content, from_tw

#10223 fix(alerts): edited diagrams and screenshots
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
  src/images/alerts_diagram_by-condition.png
  src/images/alerts_diagram_by-policy.png
  src/images/alerts_diagram_by-signal.png
  src/images/alerts_screenshot-full_incident-preference-options.png
  src/images/alerts_screenshot-full_incident-preference-ui.png
Labels: content, from_tw

#10249 Fix(Go agent): corrected release note metadata
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-20-0.mdx
Labels: content, from_internal

#10250 Clean up terminology
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
Labels: content, from_internal

#10253 Add mention of 'invite' function in user docs
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/nav/accounts.yml
Labels: content, from_tw

#9999 add_custom_parameter(s) deprecation docs update
  src/content/docs/apm/agents/python-agent/attributes/python-agent-attributes.mdx
  src/content/docs/apm/agents/python-agent/getting-started/apm-agent-security-python.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/addcustomattribute-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/addcustomattributes-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/addcustomparameter-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/addcustomparameters-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/guide-using-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-tips-tricks.mdx
  src/content/docs/data-apis/custom-data/custom-events/collect-custom-attributes.mdx
  src/nav/apm.yml
Labels: content, from_internal

#10197 (chore)Style Guide: voice strategies typo fix
  src/content/docs/style-guide/writing-strategies/voice-strategies-docs-sound-new-relic.mdx
Labels: content, from_tw

#10258 Daily release/11/10/2022/noon
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-streaming-export.mdx
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/attributes/python-agent-attributes.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/getting-started/apm-agent-security-python.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/addcustomattribute-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/addcustomattributes-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/addcustomparameter-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/addcustomparameters-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/guide-using-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-tips-tricks.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/content/docs/data-apis/custom-data/custom-events/collect-custom-attributes.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-lambda-telemetry.mdx
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
  src/content/docs/logs/logs-context/configure-logs-context-php.mdx
  src/content/docs/logs/logs-context/configure-logs-context-python.mdx
  src/content/docs/logs/logs-context/configure-logs-context-ruby.mdx
  src/content/docs/logs/logs-context/java-configure-logs-context-all.mdx
  src/content/docs/logs/logs-context/logs-in-context.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-cordova-phonegap/get-started/introduction-new-relic-cordova.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-20-0.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-plugin-600.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/index.mdx
  src/images/alerts_diagram_by-condition.png
  src/images/alerts_diagram_by-policy.png
  src/images/alerts_diagram_by-signal.png
  src/images/alerts_screenshot-full_incident-preference-options.png
  src/images/alerts_screenshot-full_incident-preference-ui.png
  src/nav/accounts.yml
  src/nav/apm.yml
  src/nav/infrastructure.yml
  src/nav/logs.yml
Labels: content, from_tw

#10257 Updated fb example
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
Labels: content, from_internal

#10261 fix(synth): clarify billing doc on synth
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
Labels: content, from_tw

#10260 Removing get started with incident intelligence
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/content/docs/apm/agents/php-agent/configuration/distributed-tracing-php-agent.mdx
  src/images/apm_screenshot-full_logs-in-context-traces.png
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_tw

#10263 fix(node agent): document new grpc.ignore_status_codes flag
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#10267 fix(guides): fixed a diagram
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/optimize-slm-guide.mdx
  src/images/oma-oe-dg_diagram_value-driver-customer.png
  src/images/oma-oe-dg_diagram_value-driver-innovation.png
  src/images/oma-oe-dg_diagram_value-driver-uptime.png
Labels: content, from_tw

#10256 fix(workloads): clarify single-account fxnality
  src/content/docs/service-level-management/create-slm.mdx
Labels: content, from_tw

#10269 fix(symphony): assorted ones
  src/content/docs/apm/agents/java-agent/features/jvms-page-java-view-app-server-metrics-jmx.mdx
  src/content/docs/apm/agents/manage-apm-agents/agent-data/agent-attributes.mdx
  src/content/docs/logs/ui-data/parsing.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-explorer-view-performance-across-apps-services-hosts.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/use-workloads.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/features/jvms-page-java-view-app-server-metrics-jmx.mdx
  src/i18n/content/jp/docs/logs/ui-data/parsing.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/features/jvms-page-java-view-app-server-metrics-jmx.mdx
  src/i18n/content/kr/docs/logs/ui-data/parsing.mdx
  src/images/alerts_screenshot-crop_entity-alert-status-red.png
  src/images/apm_jvm.png
  src/images/apm_screenshot-crop_jvms.png
  src/images/apm_screenshot-crop_request-attributes.png
  src/images/logs_screenshot-full_parsing-ui.png
  src/images/platform_screenshot-crop_filtering-entities.png
  src/images/platform_screenshot-full_New-Relic-Lookout.png
  src/images/platform_screenshot-full_New-Relic-Navigator.png
  src/images/platform_screenshot-full_New-Relic-explorer-with-labels.png
  src/images/workloads_screenshot-full_create-workload.png
  src/images/workloads_screenshot-full_workload-health-tab.png
  src/images/workloads_screenshot-full_workloads-activity-tab-labeled.png
  src/images/workloads_screenshot-full_workloads-dashboard-entities.png
  src/images/workloads_screenshot-full_workloads-omnimap.png
  src/images/workloads_screenshot-full_workloads-owner-tab.png
Labels: content, from_tw

#10272 Update whats-new-11-10-lambda-extensions.md
  src/content/whats-new/2022/11/whats-new-11-10-lambda-extensions.md
Labels: content, from_internal

#10268 Update install/sign docs
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/start-here/install-codestream.mdx
  src/images/codestream_screenshot-crop_create-or-join-team.png
  src/nav/codestream.yml
Labels: content, from_internal

#10274 Update final symphony screenshots
  src/content/docs/browser/single-page-app-monitoring/get-started/introduction-single-page-app-monitoring.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/mobile-http-error-profiles-find-error-causes.mdx
  src/images/browser_screenshot-full_spa-pageview.png
  src/images/mobile_screenshot-full_galaxy-device-example.png
Labels: content, from_tw

#9465 fix(anomalies): anomaly revamp
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/images/alerts_screenshot-full_anomalies-set-upper-and-lower-ranges.png
  src/images/alerts_screenshot-full_configure-your-anomaly-thresholds.png
  src/images/alerts_screenshot-full_faceted-anomalies-two.png
  src/images/alerts_screenshot-full_faceted-anomalies.png
  src/images/alerts_screenshot-full_how-custom-anomalies-work.png
  src/images/anomaly-dashboard.png
  src/images/anomaly-details.png
  src/images/anomaly-slack-notifications.png
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_tw

#10286 Update minimum support Excon version
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
Labels: content, from_internal

#10292 .NET 7.0 updates
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
Labels: content, from_internal

#9641 Add UI instructions to deployment markers (Publish November 14, 2022)
  src/content/docs/apm/apm-ui-pages/events/change-tracking/deployments-page-view-impact-your-app-users.mdx
  src/content/docs/apm/apm-ui-pages/events/change-tracking/record-deployments.mdx
  src/content/docs/apm/apm-ui-pages/events/deployments-page-view-impact-your-app-users.mdx
  src/i18n/content/jp/docs/apm/apm-ui-pages/events/deployments-page-view-impact-your-app-users.mdx
  src/i18n/content/jp/docs/apm/new-relic-apm/maintenance/record-monitor-deployments.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/service-maps-apm.mdx
  src/i18n/content/kr/docs/apm/apm-ui-pages/events/deployments-page-view-impact-your-app-users.mdx
  src/i18n/content/kr/docs/apm/new-relic-apm/maintenance/record-monitor-deployments.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/service-maps-apm.mdx
  src/images/tracking-activity-stream.png
  src/images/tracking-compare-deployments.png
  src/images/tracking-comparison-window.png
  src/images/tracking-deployment-details-page.png
  src/images/tracking-faceted-findings.png
  src/images/tracking-left-nav-deployments.png
  src/images/tracking-root-cause-analysis.png
  src/images/tracking-screenshot-crop_deployment-in-timeseries-chart.png
  src/images/tracking-time-series-charts.png
  src/images/tracking_screenshot-crop_activity-stream-example.png
  src/images/tracking_screenshot-crop_compare-deployments.png
  src/images/tracking_screenshot-crop_comparison-window.png
  src/images/tracking_screenshot-crop_deployment-details.png
  src/images/tracking_screenshot-crop_faceted-findings.png
  src/images/tracking_screenshot-crop_identify-preview.png
  src/images/tracking_screenshot-crop_left-navigation.png
  src/images/tracking_screenshot-crop_root-cause-analysis.png
  src/nav/apm.yml
Labels: content, from_tw

#10294 Add 'lastactive' to user mgmt
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/images/accounts_icon_pending-invite-approval.png
  src/images/accounts_screenshot-crop_user-mgmt-ui.png
Labels: content, from_tw

#10299 Daily release/11/14/2022/mid morning
  scripts/removeUnusedImages.js
  src/content/docs/apm/apm-ui-pages/events/change-tracking/deployments-page-view-impact-your-app-users.mdx
  src/content/docs/apm/apm-ui-pages/events/change-tracking/record-deployments.mdx
  src/content/docs/apm/apm-ui-pages/events/deployments-page-view-impact-your-app-users.mdx
  src/i18n/content/jp/docs/apm/apm-ui-pages/events/deployments-page-view-impact-your-app-users.mdx
  src/i18n/content/jp/docs/apm/new-relic-apm/maintenance/record-monitor-deployments.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/service-maps-apm.mdx
  src/i18n/content/kr/docs/apm/apm-ui-pages/events/deployments-page-view-impact-your-app-users.mdx
  src/i18n/content/kr/docs/apm/new-relic-apm/maintenance/record-monitor-deployments.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/service-maps-apm.mdx
  src/images/tracking-activity-stream.png
  src/images/tracking-compare-deployments.png
  src/images/tracking-comparison-window.png
  src/images/tracking-deployment-details-page.png
  src/images/tracking-faceted-findings.png
  src/images/tracking-left-nav-deployments.png
  src/images/tracking-root-cause-analysis.png
  src/images/tracking-screenshot-crop_deployment-in-timeseries-chart.png
  src/images/tracking-time-series-charts.png
  src/images/tracking_screenshot-crop_activity-stream-example.png
  src/images/tracking_screenshot-crop_compare-deployments.png
  src/images/tracking_screenshot-crop_comparison-window.png
  src/images/tracking_screenshot-crop_deployment-details.png
  src/images/tracking_screenshot-crop_faceted-findings.png
  src/images/tracking_screenshot-crop_identify-preview.png
  src/images/tracking_screenshot-crop_left-navigation.png
  src/images/tracking_screenshot-crop_root-cause-analysis.png
  src/nav/apm.yml
Labels: content, from_tw

#10300 chore: custom parameters -> custom attributes
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_tw

#10283 Follow up symphony images 11nov22
  src/content/docs/distributed-tracing/concepts/quick-start.mdx
  src/content/docs/distributed-tracing/infinite-tracing/set-trace-observer.mdx
  src/content/docs/distributed-tracing/troubleshooting/missing-trace-data.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-maintenance-monitoring.mdx
  src/images/distributed-tracing_diagram_exporter-deployed.png
  src/images/distributed-tracing_diagram_upgraded-agent.png
  src/images/distributed-tracing_screenshot-crop_mobile-lambda-menu-.png
  src/images/distributed-tracing_screenshot-full_distributed-tracing-map.png
  src/images/synthetic_logo_docker-logo.png
  src/images/synthetic_screenshot-crop_monitor-critical-alert.png
Labels: content, from_tw, symphony

#10301 fix(prom): indent issue
  src/content/docs/infrastructure/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
Labels: content, from_tw

#10302 Node.js Agent v9.7.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-7-0.mdx
Labels: content, from_internal

#10273 feat(dashboards): add new templ variables doc
  src/content/docs/query-your-data/explore-query-data/dashboards/add-custom-visualizations-your-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/images/dashboards_screenshot-crop_country-variable-example.png
  src/images/dashboards_screenshot-crop_define-variable.png
  src/images/dashboards_screenshot-full_dashboard-with-template-variables.png
  src/nav/dashboards.yml
Labels: content, from_tw

#10174 chore(symphony): updating random pathing kerfuffles
  src/content/docs/apm/agents/python-agent/supported-features/python-event-loop-diagnostics.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/kubernetes-summary-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/mobile-apps-summary-page.mdx
  src/content/docs/vulnerability-management/dev-workflow.mdx
Labels: content, from_tw

#10290 feat(style guide): updated UI pathing
  src/content/docs/apm/agents/manage-apm-agents/agent-data/agent-attributes.mdx
  src/content/docs/style-guide/formatting/ui-paths.mdx
Labels: content, from_tw, symphony

#10310 fix reference to cloud provider
  src/content/docs/infrastructure/google-cloud-platform-integrations/getting-started/polling-intervals-gcp-integrations.mdx
Labels: content, from_internal

#10311 Update consume service levels page
  src/content/docs/service-level-management/consume-slm.mdx
  src/images/slm-automap.png
  src/images/slm-bad-events.png
  src/images/slm_screenshot-full_automap.png
  src/images/slm_screenshot-full_bad-events.png
Labels: content, from_internal

#10326 fix: limited preview
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/cloud-flow-logs/gcp-vpc-flow-log-monitoring.mdx
Labels: content, from_internal

#10309 chore(release): Update docs for Ruby agent 8.13.0
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-eol-policy.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-8130.mdx
Labels: content, from_internal

#10328 chore: Add instructions for user API key
  src/content/docs/apm/agents/ruby-agent/features/record-deployments-ruby-agent.mdx
Labels: content, from_internal

#10329 Create java agent 7.11.1 file
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-7.11.1.mdx
Labels: content, from_internal

#10330 Update java agent eol
  src/content/docs/apm/agents/java-agent/getting-started/java-agent-eol-policy.mdx
Labels: content, from_internal

#10227 Added a few details about service.name attribute
  src/content/docs/distributed-tracing/trace-api/report-new-relic-format-traces-trace-api.mdx
  src/content/docs/distributed-tracing/trace-api/report-zipkin-format-traces-trace-api.mdx
Labels: content, from_internal

#10336 Indent sub-bullets.
  src/content/docs/style-guide/ui-writing/abbreviations-and-acronyms.mdx
Labels: content, from_internal

#10341 typo in the link for getting started
  src/content/whats-new/2022/11/whats-new-11-15-pixie-entities.md
Labels: content, from_tw

#10304 Update kubernetes-integration-install-configure.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_internal

#10346 feat(style-guide): documented SideBySide
  src/content/docs/style-guide/structure/collapsers.mdx
  src/content/docs/style-guide/structure/side-by-side.mdx
  src/content/docs/style-guide/structure/tables.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#10356 Daily release/nov 16 2022 9 58
  src/content/docs/apis/nerdgraph/examples/nerdgraph-workloads-api-tutorials.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1220.mdx
  src/content/docs/style-guide/structure/collapsers.mdx
  src/content/docs/style-guide/structure/side-by-side.mdx
  src/content/docs/style-guide/structure/tables.mdx
  src/content/whats-new/2022/11/whats-new-11-15-pixie-entities.md
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/i18n/content/jp/docs/apm/apm-ui-pages/events/change-tracking/deployments-page-view-impact-your-app-users.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/browser-agent-spa-api/createtracer-browser-spa-api.mdx
  src/i18n/content/jp/docs/distributed-tracing/concepts/quick-start.mdx
  src/i18n/content/jp/docs/distributed-tracing/troubleshooting/missing-trace-data.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/dashboards/add-custom-visualizations-your-dashboards.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-maintenance-monitoring.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/i18n/content/kr/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
  src/i18n/content/kr/docs/apm/apm-ui-pages/events/change-tracking/deployments-page-view-impact-your-app-users.mdx
  src/i18n/content/kr/docs/apm/apm-ui-pages/events/change-tracking/record-deployments.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/browser-agent-spa-api/createtracer-browser-spa-api.mdx
  src/i18n/content/kr/docs/distributed-tracing/concepts/quick-start.mdx
  src/i18n/content/kr/docs/distributed-tracing/infinite-tracing/set-trace-observer.mdx
  src/i18n/content/kr/docs/distributed-tracing/troubleshooting/missing-trace-data.mdx
  src/i18n/content/kr/docs/infrastructure/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
  src/i18n/content/kr/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/i18n/content/kr/docs/query-your-data/explore-query-data/dashboards/add-custom-visualizations-your-dashboards.mdx
  src/i18n/content/kr/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/i18n/content/kr/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/i18n/content/kr/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-maintenance-monitoring.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#10359 Updated Korean Nav
  src/i18n/nav/kr.json
Labels: translations, from_internal

#10364 Daily release/nov 16 2022 12 04
  .github/CODEOWNERS
  src/i18n/nav/kr.json
Labels: content, from_tw

#10360 fix(vm): account type fix
  src/content/docs/vulnerability-management/overview.mdx
Labels: content

#10362 chore(doc site 65463): fixing links first pass
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/apm/agents/php-agent/getting-started/monitor-your-php-app.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-activemq.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/install-apache-flink.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
  src/content/docs/new-relic-solutions/get-started/implementation-guide-instrument.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/get-started/quick-launch-guide.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/install-new-relic.mdx
  src/content/docs/style-guide/writing-strategies/install-docs-guidance.mdx
  src/content/whats-new/2022/03/whats-new-03-03-azure-gcp-logs-campaign.md
  src/content/whats-new/2022/04/whats-new-04-28-april-io-roundup.md
  src/install/java/download/aws.mdx
Labels: content, from_tw

#10365 Revert accidental locale swap
  src/i18n/nav/kr.json
Labels: content, eng

#10370 Daily release/nov 16 2022 4 10
  gatsby-config.js
  gatsby-node.js
  plugins/gatsby-source-nav/gatsby-node.js
  scripts/createSingleNav.js
  src/components/EnNav.js
  src/components/JpNav.js
  src/components/KrNav.js
  src/components/Navigation.js
  src/components/RootNavigation.js
  src/components/StyleGuideNav.js
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/apm/agents/php-agent/getting-started/monitor-your-php-app.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-lambda-telemetry.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-activemq.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/install-apache-flink.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
  src/content/docs/new-relic-solutions/get-started/implementation-guide-instrument.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/get-started/quick-launch-guide.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/install-new-relic.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-7111.mdx
  src/content/docs/style-guide/writing-strategies/install-docs-guidance.mdx
  src/content/docs/vulnerability-management/overview.mdx
  src/content/whats-new/2022/03/whats-new-03-03-azure-gcp-logs-campaign.md
  src/content/whats-new/2022/04/whats-new-04-28-april-io-roundup.md
  src/i18n/nav/kr.json
  src/install/java/download/aws.mdx
  src/layouts/MainLayout.js
  src/nav/docs-agile-handbook.yml
  src/nav/new-relic-solutions.yml
  src/nav/root.yml
  src/nav/style-guide.yml
  src/pages/attribute-dictionary.js
  src/pages/index.js
  src/pages/install/{installConfig.agentName}.js
  src/pages/whats-new.js
  src/templates/docPage.js
  src/templates/landingPage.js
  src/templates/releaseNote.js
  src/templates/releaseNoteLandingPage.js
  src/templates/whatsNew.js
Labels: content, from_tw

#10293 feat(snowflake) new content for io
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
  src/images/infrastructure_screenshot-full_snowflake-dashboard 12.09.50 PM.png
  src/images/infrastructure_screenshot-full_snowflake-dashboard.png
  src/nav/infrastructure.yml
Labels: content, from_tw

#10355 Adding new supported netflow types
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
Labels: content, from_internal

#10353 Add: Create chtimes-error.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/chtimes-error.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#10354 Add:snmp-data-gaps.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-data-gaps.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#10374 feat(nerdgraph): added notes for operation
  src/content/docs/apis/nerdgraph/examples/nerdgraph-dashboards.mdx
Labels: content, from_tw

#10375 Prometheus empty files
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/install-prometheus-agent.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/calico-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/cockroach-db-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/core-dns-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/etcd-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/ingress-controller-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/integrations-list-intro.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/redis-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/traefik-integration.mdx
Labels: content, from_tw

#10351 Reference the new Log Obfuscation feature in the automatic log obfuscation
  src/content/docs/logs/get-started/new-relics-log-management-security-privacy.mdx
Labels: content, from_internal

#10180 chore(Infrastructure): Mysql ics link fix
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-config.mdx
Labels: content, from_tw

#10339 fix(Pixie): Update docs to highlight new Pixie entities
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/explore-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/overview.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/overview.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/overview.mdx
  src/images/pixie_screenshot-crop_customize-ingest-button.png
  src/images/pixie_screenshot-full_customize-ingest-button.png
  src/images/pixie_screenshot-full_customize-ingest.png
  src/images/pixie_screenshot-full_dns_entity.png
  src/images/pixie_screenshot-full_entities-list.png
Labels: content, from_internal

#10378 fix(mlops): nesting nav
  src/nav/mlops.yml
Labels: content, from_tw

#10380 Daily release/11-17-22 morning
  src/content/docs/apis/nerdgraph/examples/nerdgraph-dashboards.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/install-prometheus-agent.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/calico-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/cockroach-db-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/core-dns-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/etcd-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/ingress-controller-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/integrations-list-intro.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/redis-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/traefik-integration.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/explore-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/overview.mdx
  src/content/docs/logs/get-started/new-relics-log-management-security-privacy.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/chtimes-error.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-data-gaps.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/overview.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/overview.mdx
  src/images/infrastructure_screenshot-full_snowflake-dashboard 12.09.50 PM.png
  src/images/infrastructure_screenshot-full_snowflake-dashboard.png
  src/images/pixie_screenshot-crop_customize-ingest-button.png
  src/images/pixie_screenshot-full_customize-ingest-button.png
  src/images/pixie_screenshot-full_customize-ingest.png
  src/images/pixie_screenshot-full_dns_entity.png
  src/images/pixie_screenshot-full_entities-list.png
  src/nav/infrastructure.yml
  src/nav/mlops.yml
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#10381 Remove outdated video
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/alert-quality-management-guide.mdx
Labels: content, from_tw

#10264 Fix(Go agent): added table of configuration options with environment …
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
Labels: content, from_internal

#10387 Daily release/11/17/2022/noon
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/alert-quality-management-guide.mdx
Labels: content, from_tw

#10386 APM best practice link points to CodeStream
  src/content/docs/new-relic-solutions/get-started/implementation-guide-instrument.mdx
Labels: content, from_external

#10373 fix(transition guide): edited the transition guide
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/new-relic-solutions/new-relic-one/new-navigation-transition-guide.mdx
  src/images/transition-guide_screenshot-full_metrics-and-events.gif
  src/images/transition-guide_screenshot-full_query-builder-ui-redesign.gif
  src/images/transtion-guide_screenshot-full_ui-redesign-customize.gif
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_tw

#10383 Create new-relic-android-4750.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-4750.mdx
Labels: content, from_internal

#10129 External services definition & related references
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
Labels: content, from_internal

#10393 Daily release/11/17/2022/evening
  gatsby-node.js
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/new-relic-solutions/get-started/implementation-guide-instrument.mdx
  src/content/docs/new-relic-solutions/new-relic-one/new-navigation-transition-guide.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-4750.mdx
  src/images/transition-guide_screenshot-full_metrics-and-events.gif
  src/images/transition-guide_screenshot-full_query-builder-ui-redesign.gif
  src/images/transtion-guide_screenshot-full_ui-redesign-customize.gif
  src/nav/alerts-applied-intelligence.yml
  src/templates/releaseNoteLandingPage.js
Labels: content, from_tw

#10388 fix(query limits): fix wrong number
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
Labels: content, from_tw

#10397 fix(last active): clarify a bit
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
Labels: content, from_tw

#10390 Fix DagsHub link (Publish on 11/18/2022)
  src/content/docs/mlops/integrations/dagshub-mlops-integration.mdx
Labels: content, from_external

#9587 Clarify support for OpenTelemetry custom events (Publish on 11/18/2022)
  src/content/docs/more-integrations/open-source-telemetry-integrations/jenkins/monitoring-jenkins-ot.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-comparison.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/jenkins/monitoring-jenkins-ot.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/jenkins/monitoring-jenkins-ot.mdx
  src/images/opentelemetry_screenshot-full_jenkins-01.png
  src/nav/integrations.yml
Labels: content, from_tw
