Repository newrelic/docs-website, pull requests merged in 2022-07, with the labels that each got.

#8252 Clarify Wistia and YouTube options with Video components
  src/content/docs/style-guide/images/embed-videos.mdx
Labels: content, from_tw

#8282 Update data-governance.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/data-governance.mdx
Labels: content, from_internal

#8237 Patch 69
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/other-installation/install-net-agent-aspnet-core.mdx
Labels: content, from_internal

#8117 feat(k8s): updating troubleshooting section
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/certificate-signed-unknown-authority.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-error-messages.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-missing-nodes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-not-seeing-data.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-control-plane-data.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/general-account-settings/view-our-ui-dark-mode.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/installation/install-java-agent.mdx
  src/i18n/content/jp/docs/glossary/glossary.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/get-logs-version.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-data-explorer-query-builder.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-database-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-distributed-tracing-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-errors-inbox-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-errors-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-external-services-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-find-entities.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-jvms-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-logs-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-metrics-explorer-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-summary-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-transactions-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-view-your-data.mdx
  src/i18n/content/jp/docs/new-relic-one/core-concepts/new-relic-explorer-view-performance-across-apps-services-hosts.mdx
  src/i18n/content/jp/docs/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
  src/i18n/content/jp/docs/new-relic-one/core-concepts/what-entity-new-relic.mdx
  src/i18n/content/jp/docs/new-relic-one/install-configure/install-new-relic.mdx
  src/i18n/content/jp/docs/new-relic-one/introduction-new-relic-one.mdx
  src/i18n/content/jp/docs/new-relic-one/ui-data/basic-ui-features.mdx
  src/i18n/content/jp/docs/new-relic-one/ui-data/new-relic-feature-end-life-announcements-july-2020.mdx
  src/i18n/content/jp/docs/using-new-relic/welcome-new-relic/get-started/get-started-full-stack-observability.mdx
  src/i18n/content/jp/docs/using-new-relic/welcome-new-relic/get-started/intro-new-relic.mdx
  src/i18n/content/jp/docs/using-new-relic/welcome-new-relic/get-started/networks.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/get-logs-version.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal

#8286 Update newrelic-metrics-adapter.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/newrelic-metrics-adapter.mdx
Labels: content, from_internal

#8285 Update powerdns-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/powerdns-monitoring-integration.mdx
Labels: content, from_internal

#8284 Update windows-services-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
Labels: content, from_internal

#8289 fix(apm): add missing redirects from apm reorg
  src/content/docs/apm/new-relic-apm/apdex/apdex-measure-user-satisfaction.mdx
  src/content/docs/apm/reports/api-examples-sla-reports.mdx
  src/content/docs/apm/reports/apm-sla-reports.mdx
  src/content/docs/apm/reports/performance-reports.mdx
Labels: content, from_tw

#8290 Specify RabbitMQ version is for client library
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
Labels: content, from_external

#8292 fix(user migration): add mention of billing impact
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content, from_tw

#8293 style(java config): Add syntax highlighting
  src/content/docs/apm/agents/java-agent/configuration/java-agent-config-file-template.mdx
Labels: content, from_tw

#8295 Update aws s3 metric filter instructions
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-s3-monitoring-integration.mdx
Labels: content, from_external

#8297 Unnecessary tags
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
Labels: content, from_internal

#8305 Update nerdgraph-api-workflows.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-workflows.mdx
Labels: content, from_internal

#8302 Removing EU Codestream disclaimer as it now supported in the EU as well
  src/content/docs/accounts/accounts-billing/account-setup/choose-your-data-center.mdx
Labels: content, from_external

#8301 Remove Tracing rate limit documentation as there are no longer limits
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
Labels: content, from_external

#8119 Update tar.gz, zip infra-agent installation with checksums verification
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-assisted-install-infrastructure-agent-linux.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-manual-install-infrastructure-agent-linux.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/zip-assisted-install-infrastructure-agent-windows.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/zip-manual-install-infrastructure-agent-windows.mdx
Labels: content, from_internal

#8320 Daily release/07-05-22 morning
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-violations/how-alert-condition-violations-are-closed.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-assisted-install-infrastructure-agent-linux.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-manual-install-infrastructure-agent-linux.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/zip-assisted-install-infrastructure-agent-windows.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/zip-manual-install-infrastructure-agent-windows.mdx
  src/content/docs/mobile-apps/authentication-alerts/user-settings-authentication.mdx
  src/i18n/content/jp/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/configuration/java-agent-config-file-template.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/other-installation/install-net-agent-aspnet-core.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-s3-monitoring-integration.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/powerdns-monitoring-integration.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/data-governance.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/newrelic-metrics-adapter.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/certificate-signed-unknown-authority.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-error-messages.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-missing-nodes.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-not-seeing-data.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-control-plane-data.mdx
  src/i18n/content/jp/docs/logs/logs-context/disable-automatic-logging.mdx
  src/i18n/content/kr/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/configuration/java-agent-config-file-template.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/installation/update-java-agent.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/other-installation/install-net-agent-aspnet-core.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-s3-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/powerdns-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/redis/redis-enterprise-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/redis/redis-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/data-governance.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/newrelic-metrics-adapter.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/certificate-signed-unknown-authority.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-error-messages.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-missing-nodes.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-not-seeing-data.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-control-plane-data.mdx
  src/i18n/content/kr/docs/logs/logs-context/disable-automatic-logging.mdx
  src/i18n/content/kr/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
Labels: content, from_tw

#8321 Fix broken MELT link
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
Labels: content, from_tw

#8322 fix(capabilities): 'pertains'
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-capabilities.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
Labels: content, from_tw

#8272 Fix deserialization formatting bug
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: eng

#8327 Daily release/07-05-22 noon
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-capabilities.mdx
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/i18n/content/jp/docs/apm/agents/go-agent/get-started/apm-agent-security-go.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/attributes/ruby-agent-attributes.mdx
  src/i18n/content/jp/docs/browser/browser-monitoring/troubleshooting/troubleshoot-your-browser-monitoring-installation.mdx
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
  src/i18n/content/jp/docs/logs/logs-context/configure-logs-context-go.mdx
  src/i18n/content/jp/docs/logs/logs-context/configure-logs-context-php.mdx
  src/i18n/content/jp/docs/logs/logs-context/disable-automatic-logging.mdx
  src/i18n/content/jp/docs/logs/logs-context/logs-in-context.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-setup.mdx
  src/i18n/content/jp/docs/new-relic-solutions/observability-maturity/operational-efficiency/service-characterization-optimize-telemetry-data-guide.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/compatibility-requirements-aws-lambda-monitoring.mdx
Labels: content, from_tw

#8323 fix(cost estimate): remove doc
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/data-apis/manage-data/calculate-data-ingest.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/i18n/content/jp/docs/data-apis/manage-data/calculate-data-ingest.mdx
  src/i18n/content/kr/docs/data-apis/manage-data/calculate-data-ingest.mdx
  src/images/new-relic-data-ingest-cost-estimator.png
Labels: content, from_tw

#8332 Daily release/07-05-22 evening
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/data-apis/manage-data/calculate-data-ingest.mdx
  src/content/docs/distributed-tracing/infinite-tracing/infinite-tracing-configure-proxy-support.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
  src/i18n/content/jp/docs/data-apis/manage-data/calculate-data-ingest.mdx
  src/i18n/content/kr/docs/data-apis/manage-data/calculate-data-ingest.mdx
  src/images/new-relic-data-ingest-cost-estimator.png
  src/images/react-native-java-script-errors.png
  src/nav/mobile.yml
Labels: content, from_tw

#8328 "What's new" NRQL subqueries announcement (Publish 9:00 AM on 7/6/2022)
  src/content/whats-new/2022/07/whats-new-07-06-nrql-subqueries.md
Labels: whats new

#8333 Update advice on cadence alerts for clock skew
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/choose-your-aggregation-method.mdx
Labels: content, from_external

#8335 Daily release/07-06-22 morning
  src/content/whats-new/2022/07/whats-new-07-06-nrql-subqueries.md
Labels: content, from_tw

#8353 fix: Basic User NerdGraph access docs
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
Labels: content, from_internal

#8300 Update capture() regex guidance
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_external

#8362 fix(alerts): fixing broken link
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_tw

#8361 chore(screenshot): update
  src/content/docs/security/overview.mdx
  src/images/docs-site-search.png
Labels: content, from_tw

#8366 Update aws-rds-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-rds-monitoring-integration.mdx
Labels: content, from_internal

#8296 chore(style guide): update voice page with new traits
  src/content/docs/style-guide/writing-strategies/voice-strategies-docs-sound-new-relic.mdx
Labels: content, from_tw

#8358 Add an example POD/container restart NRQL Alerts
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-recommended-alert-policy.mdx
Labels: content, from_internal

#8376 changing New Relic's to New Relic per style guide
  src/content/docs/data-apis/manage-data/manage-your-data.mdx
Labels: content, from_internal

#8380 Updated Impact of Inspected Count rate limit
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
Labels: content, from_internal

#8371 Update .NET explain plan configuration documentation
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#8381 Update factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
Labels: content, from_internal

#8277 Monitor your apps: PHP and Node.js agents
  src/content/docs/apm/agents/nodejs-agent/getting-started/introduction-new-relic-nodejs.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/monitor-your-nodejs-app.mdx
  src/content/docs/apm/agents/php-agent/getting-started/introduction-new-relic-php.mdx
  src/content/docs/apm/agents/php-agent/getting-started/monitor-your-php-app.mdx
  src/nav/apm.yml
Labels: content, from_tw

#8379 Update find-issues-cause-or-impact-surrounding-logs.mdx
  src/content/docs/logs/troubleshooting/find-issues-cause-or-impact-surrounding-logs.mdx
Labels: content, from_tw

#8377 Improve SyntheticRequest page
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, from_internal

#8383 Node.js Agent v8.15.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-8-15-0.mdx
Labels: content, from_internal

#8190 doc: Add in release note for New Relic for iOS version 4.1.0.
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-4010.mdx
Labels: content, from_internal

#8346 fix(node agent): update compatibility requirements with newer features
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#8387 Release notes: New Relic for Android v4.6.0
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-4600.mdx
Labels: content, from_internal

#8347 fix(agile best practices): updated user stories
  src/content/docs/agile-handbook/appendices/ticket-best-practices.mdx
Labels: content, from_tw

#8375 changed "New Relic's" to "the New Relic"
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Labels: content, from_internal

#8205 Add new metrics for k8s 1.23 & 1.24
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-4-0.mdx
Labels: content, from_internal

#8394 Section update - impact of Inspected Count limit
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
Labels: content, from_internal, pg_growth

#8403 fix(Hero): Button label
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
Labels: content, from_tw

#8402 fix(Transactions page): Delete section
  src/content/docs/apm/apm-ui-pages/monitoring/transactions-page-find-specific-performance-problems.mdx
Labels: content, from_tw

#8392 Add links to README.md and THIRD_PARTY_NOTICES.md
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
Labels: content, from_tw

#8393 Updated add/edit monitors doc
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors.mdx
  src/images/create-synthetic-monitor-ui.png
  src/images/delete-synthetic-monitor.png
  src/images/edit-synthetic-monitor.png
  src/images/select-monitor-type.png
Labels: content, from_tw

#8398 Changing sub title
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content, from_internal, pg_growth

#8404 daily-release/07-11-2022-noon
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/transactions-page-find-specific-performance-problems.mdx
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-890.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors.mdx
  src/images/create-synthetic-monitor-ui.png
  src/images/delete-synthetic-monitor.png
  src/images/edit-synthetic-monitor.png
  src/images/select-monitor-type.png
Labels: content, from_tw

#8406 chore(style guide): Tweak doc title to avoid SEO confusion
  src/content/docs/style-guide/writing-strategies/install-docs-guidance.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#8278 feat(Browser intro): Rewrite
  src/content/docs/browser/browser-monitoring/getting-started/browser-summary-page.mdx
  src/content/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring.mdx
Labels: content, from_tw

#8410 Daily release/07 11 2022 evening
  src/content/docs/apis/nerdgraph/examples/nerdgraph-historical-data-export.mdx
  src/content/docs/browser/browser-monitoring/getting-started/browser-summary-page.mdx
  src/content/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring.mdx
  src/content/docs/style-guide/writing-strategies/install-docs-guidance.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#8412 Improve k8s release notes
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-4-0.mdx
Labels: content, from_internal

#8287 Kafka consumer groups with inactive consumers
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
Labels: content, from_internal

#8204 doc: update kafka config to make consumers/producers jmx's name optional
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
Labels: content, from_internal

#8411 Update to Korean human translation workflow.
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/notification-channels-control-where-send-alerts.mdx
  src/content/docs/apm/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/content/docs/apm/agents/java-agent/installation/include-java-agent-jvm-argument.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
  src/content/docs/apm/new-relic-apm/apdex/apdex-measure-user-satisfaction.mdx
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-logs-s3.mdx
Labels: translations

#8413 Update link-apm-applications-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-apm-applications-kubernetes.mdx
Labels: content, from_internal, pg_pixie

#8420 User mgmt - some small changes
  src/content/docs/accounts/accounts/account-maintenance/change-your-new-relic-account-name.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content, from_tw

#8419 Update find-use-your-kubernetes-data.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
Labels: content, from_internal, pg_observability

#8418 Update download dsym section
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/retrieve-dsyms-bitcode-apps.mdx
Labels: content, from_internal, pg_observability

#8423 Update compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal, pg_observability

#8422 Add linux messages built in parsing rule
  src/content/docs/logs/ui-data/built-log-parsing-rules.mdx
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal, pg_TDP

#8426 Correct version that ZTS builds were deprecated in the PHP agent
  src/content/docs/apm/agents/php-agent/advanced-installation/php-agent-installation-non-standard-php-advanced.mdx
Labels: content, from_internal, pg_observability

#8416 Add image
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/images/serviceNow_image.png
Labels: content, from_internal, pg_AI

#8415 Update to fedramp-compliant-endpoint doc
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: pg_legal, content, from_internal

#8407 fix: Diagnostics CLI Release Notes v2.1.1
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-221.mdx
Labels: content, from_internal, pg_other

#8428 Update local setup doc
  src/content/docs/style-guide/writing-docs/writer-workflow/set-up-local.mdx
Labels: content, from_internal, pg_growth

#8432 Update destinations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
Labels: content, from_tw

#8434 daily-release/07-12-2022-evening
  package.json
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/php-agent-installation-non-standard-php-advanced.mdx
  src/content/docs/infrastructure/host-integrations/installation/secrets-management.mdx
  src/content/docs/logs/ui-data/built-log-parsing-rules.mdx
  src/content/docs/logs/ui-data/parsing.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-221.mdx
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/set-up-local.mdx
  src/images/serviceNow_image.png
  yarn.lock
Labels: content

#8439 chore(azure): added redirect
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-service-fabric.mdx
Labels: content, from_tw

#8437 docs: add infra agent release notes 1.27.5
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1275.mdx
Labels: content, from_internal

#8409 fix: more help on log volume mgmt
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-optimize-ingest-guide.mdx
Labels: content, from_internal

#8450 Add image background
  src/images/Infinite_Tracing_Overview.png
Labels: content, from_tw

#8453 fix(APM): Removed embedded Google survey
  src/content/docs/apm/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/content/docs/apm/agents/java-agent/getting-started/monitor-your-java-app.mdx
  src/content/docs/apm/agents/java-agent/installation/java-install-overview.mdx
Labels: content, from_tw

#8454 Daily release/07-13-22 noon
  gatsby-config.js
  package.json
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-optimize-ingest-guide.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1275.mdx
  src/images/Infinite_Tracing_Overview.png
Labels: content, from_tw

#8452 fix(Hero): Prometheus info
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_tw

#8464 Daily release/07-13-22 evening
  .github/CODEOWNERS
  src/content/docs/apm/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/content/docs/apm/agents/java-agent/getting-started/monitor-your-java-app.mdx
  src/content/docs/apm/agents/java-agent/installation/java-install-overview.mdx
  src/content/docs/data-apis/ingest-apis/telemetry-sdks-report-custom-telemetry-data.mdx
  src/content/docs/release-notes/mobile-release-notes/xcframework-release-notes/xcframework-agent-737.mdx
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
  src/i18n/content/kr/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/i18n/content/kr/docs/apis/nerdgraph/examples/nerdgraph-historical-data-export.mdx
  src/i18n/content/kr/docs/apm/apm-ui-pages/monitoring/transactions-page-find-specific-performance-problems.mdx
  src/i18n/content/kr/docs/browser/browser-monitoring/getting-started/browser-summary-page.mdx
  src/i18n/content/kr/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring.mdx
  src/i18n/content/kr/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
Labels: content, from_tw

#8455 Whats New - add data (July 14, 2022, 9am)
  src/content/whats-new/2022/07/images/add_data_darkmode.png
  src/content/whats-new/2022/07/whats-new-07-14-add-data.md
Labels: what's new

#8471 fix: redo dependency upgrades due to revert
  package.json
  yarn.lock
Labels: eng

#8430 feat(whats-new): add fedramp logs WN post (publish 07-14-22)
  src/content/whats-new/2022/07/whats-new-07-14-fedramp-logs-update.md
Labels: whats new

#8472 fix(style guide): Typo
  src/content/docs/style-guide/writing-docs/writer-workflow/set-up-local.mdx
Labels: content, from_tw

#8473 Update java-agent-api-asynchronous-applications.mdx
  src/content/docs/apm/agents/java-agent/async-instrumentation/java-agent-api-asynchronous-applications.mdx
Labels: content, from_internal

#8482 fix(go-agent): add an example of how to import the agent
  src/content/docs/apm/agents/go-agent/installation/install-new-relic-go.mdx
Labels: content, from_internal

#8477 Adding Infrastructure category to NrIntegrationError docs
  src/content/docs/data-apis/manage-data/nrintegrationerror.mdx
Labels: content, from_internal

#8487 Chore/update snmp traps
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal

#8496 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#8494 feat(k8s): new release notes
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-4-1.mdx
Labels: content, from_internal

#8491 feat(whats-new): infra and RUM in context
  src/content/whats-new/2022/07/whats-new-07-15-infra-RUM-in-context.md
Labels: content, from_internal

#8500 fix(cost estimator): replace links
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/content/docs/data-apis/manage-data/calculate-data-ingest.mdx
  src/content/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
  src/content/docs/data-apis/manage-data/manage-your-data.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
Labels: content, from_tw

#8488 feat/sankey flow troubleshooting
  src/content/docs/network-performance-monitoring/troubleshooting/no-device-in-UI.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/sankey-chart-no-data.mdx
  src/images/sankey-no-data-found-error.png
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#8135 Change the MySQL references to PostgreSQL on the page talking about PostgreSQL
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
Labels: content, from_internal

#8435 style(style guide): Minor tweaks to partial build procedure
  src/content/docs/style-guide/writing-docs/writer-workflow/set-up-local.mdx
Labels: content, from_tw

#8476 Updates for new UI
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
  src/images/NewIssueMapUI.png
  src/images/NewIssueTimeline.png
  src/images/NewIssueTimelineGreyLine.png
  src/images/new-issue-page-ui.png
Labels: content, from_internal

#8399 Remove -> Determine if you should migrate users
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content, from_internal

#8516 Updated New Relic name from MT
  src/i18n/content/kr/docs/accounts/accounts/account-maintenance/account-email-settings.mdx
  src/i18n/content/kr/docs/accounts/accounts/saml-single-sign/saml-service-providers.mdx
  src/i18n/content/kr/docs/apis/intro-apis/introduction-new-relic-apis.mdx
  src/i18n/content/kr/docs/apis/rest-api-v2/get-started/introduction-new-relic-rest-api-v2.mdx
  src/i18n/content/kr/docs/apm/agents/ruby-agent/getting-started/migration-7x-guide.mdx
  src/i18n/content/kr/docs/codestream/codestream-settings/account-settings.mdx
  src/i18n/content/kr/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/i18n/content/kr/docs/codestream/start-here/codestream-new-relic.mdx
  src/i18n/content/kr/docs/codestream/start-here/codestream-user-guide.mdx
  src/i18n/content/kr/docs/data-apis/custom-data/get-custom-data-from-any-source.mdx
  src/i18n/content/kr/docs/data-apis/get-started/nrdb-horsepower-under-hood.mdx
  src/i18n/content/kr/docs/distributed-tracing/enable-configure/overview-enable-distributed-tracing.mdx
  src/i18n/content/kr/docs/distributed-tracing/trace-api/trace-api-decorate-spans-attributes.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-cognito-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-albnlb-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-elasticache-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-rds-enhanced-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-route53-resolver-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-trusted-advisor-integration.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/connect/polling-intervals-aws-integrations.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/troubleshooting/cloudwatch-billing-increase.mdx
  src/i18n/content/kr/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-compute-engine-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/infrastructure-integrations/cloud-integrations/configure-polling-frequency-data-collection-cloud-integrations.mdx
  src/i18n/content/kr/docs/infrastructure/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/i18n/content/kr/docs/logs/forward-logs/aws-lambda-sending-logs-s3.mdx
  src/i18n/content/kr/docs/logs/forward-logs/azure-log-forwarding.mdx
  src/i18n/content/kr/docs/mobile-monitoring/mobile-monitoring-ui/crashes/find-build-uuids-unsymbolicated-crashes.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-and-dt.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-apps-gradle-android-studio.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-ios/get-started/new-relic-ios-and-dt.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-traces.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/i18n/content/kr/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
  src/i18n/content/kr/docs/new-relic-solutions/get-started/networks.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/introduction-new-relic-one.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/service-maps-apm.mdx
  src/i18n/content/kr/docs/new-relic-solutions/observability-maturity/customer-experience/customer-experience-quality-foundation-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/observability-maturity/innovation-growth/development-release-quality-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/observability-maturity/innovation-growth/improving-development-quality-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-optimize-ingest-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/observability-maturity/operational-efficiency/observability-as-code-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/observability-maturity/operational-efficiency/service-characterization-optimize-telemetry-data-guide.mdx
  src/i18n/content/kr/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-07.mdx
  src/i18n/content/kr/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-03.mdx
  src/i18n/content/kr/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-04.mdx
Labels: translations

#8512 Add clarifying callout for LoS
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_internal

#8517 Add agent versions …
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
Labels: content, from_internal

#8352 SAP integration: publish ETA July 20, 2022
  src/content/docs/data-apis/custom-data/get-custom-data-from-any-source.mdx
  src/content/docs/data-apis/custom-data/sap-integration.mdx
  src/images/2-SAP-observability.png
  src/images/3-IDOC-resolution.png
  src/images/sapDos.png
  src/images/sapUno.png
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#8519 Update .NET Agent v10.0.0 checksums
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10000.mdx
Labels: content, from_internal

#8520 Updates to rename the New Relic Edge app
  src/content/docs/distributed-tracing/infinite-tracing/infinite-tracing-configure-trace-observer-monitoring.mdx
Labels: content, from_internal

#8521 Updates to rename New Relic Edge app
  src/content/docs/distributed-tracing/infinite-tracing/set-trace-observer.mdx
Labels: content, from_internal

#8522 Updates to rename New Relic Edge app
  src/content/docs/distributed-tracing/infinite-tracing/infinite-tracing-configure-span-attribute-trace-filter.mdx
Labels: content, from_internal

#8530 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#8483 feat: Add documentation/context on cascading and locking for APM log forwarding
  src/content/docs/logs/logs-context/disable-automatic-logging.mdx
  src/images/automatic-logs-disable.png
  src/nav/logs.yml
Labels: content, from_internal

#8538 Clarify workflow test when there's no customer data
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_tw

#8539 Daily release/07-20-22 evening
  package.json
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/logs/logs-context/disable-automatic-logging.mdx
  src/images/automatic-logs-disable.png
  src/nav/logs.yml
  yarn.lock
Labels: content, from_tw

#8540 fix(react native): screenshot replacement
  src/images/react-native-java-script-errors.png
Labels: content, from_tw

#8444 Infra Agent tar.gz package signature process link
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-assisted-install-infrastructure-agent-linux.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-manual-install-infrastructure-agent-linux.mdx
Labels: content, from_internal

#8319 docs: added doc for infra-agent builtin log rotation
  src/content/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-logs/infrastructure-agent-logging-behavior.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#8537 Add Python agent release notes and config updates for logging on by default. (Publish on 07/21/2022)
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-71600178.mdx
Labels: content, from_internal

#6597 Migrate APM distributed tracing steps to the agent docs
  src/content/docs/apm/agents/c-sdk/instrumentation/distributed-tracing-c-sdk.mdx
  src/content/docs/apm/agents/c-sdk/instrumentation/enable-distributed-tracing-your-c-applications.mdx
  src/content/docs/apm/agents/go-agent/configuration/distributed-tracing-go-agent.mdx
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/apm/agents/go-agent/features/enable-distributed-tracing-your-go-applications.mdx
  src/content/docs/apm/agents/java-agent/configuration/distributed-tracing-java-agent.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/net-agent/configuration/distributed-tracing-net-agent.mdx
  src/content/docs/apm/agents/net-agent/configuration/images/dotnetlogo.png
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/distributed-tracing-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/distributed-tracing-php-agent.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/features/distributed-tracing-php-agent.mdx
  src/content/docs/apm/agents/python-agent/configuration/distributed-tracing-python-agent.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/distributed-tracing-ruby-agent.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/distributed-tracing/concepts/quick-start.mdx
  src/content/docs/distributed-tracing/enable-configure/integrations-enable-distributed-tracing.mdx
  src/content/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
  src/content/docs/distributed-tracing/enable-configure/overview-enable-distributed-tracing.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/kamon/kamon-reporter.mdx
  src/i18n/content/jp/docs/apm/agents/c-sdk/instrumentation/distributed-tracing-c-sdk.mdx
  src/i18n/content/jp/docs/apm/agents/go-agent/configuration/distributed-tracing-go-agent.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/configuration/distributed-tracing-php-agent.mdx
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/integrations-enable-distributed-tracing.mdx
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
  src/i18n/content/jp/docs/distributed-tracing/enable-configure/overview-enable-distributed-tracing.mdx
  src/i18n/content/kr/docs/apm/agents/c-sdk/instrumentation/distributed-tracing-c-sdk.mdx
  src/i18n/content/kr/docs/apm/agents/go-agent/configuration/distributed-tracing-go-agent.mdx
  src/i18n/content/kr/docs/apm/agents/php-agent/configuration/distributed-tracing-php-agent.mdx
  src/i18n/content/kr/docs/distributed-tracing/enable-configure/integrations-enable-distributed-tracing.mdx
  src/i18n/content/kr/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
  src/i18n/content/kr/docs/distributed-tracing/enable-configure/overview-enable-distributed-tracing.mdx
  src/images/logs-in-context-traces.png
  src/nav/apm.yml
  src/nav/distributed-tracing.yml
Labels: content, from_tw

#8543 New service levels release note
  src/content/docs/release-notes/service-levels-release-notes/service-levels-20220721.mdx
Labels: content, from_internal

#8513 Minor Pixie updates
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/overview.mdx
  src/images/pixie-integration-hybrid-storage.png
Labels: content, from_internal

#8554 chore(style guide): Clarify version references
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#8550 Fix typo in default value of max_segments_cli in configuration file
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Labels: content, from_tw

#8556 Fix link to legacy tests doc
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests.mdx
Labels: content, from_external, pg_observability

#8558 Daily release/07-21-22 evening
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/infrastructure/prometheus-integrations/troubleshooting/no-data-appears-prometheus-integration.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/overview.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-8-16-0.mdx
  src/content/docs/release-notes/service-levels-release-notes/service-levels-20220721.mdx
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests.mdx
  src/content/whats-new/2022/07/whats-new-07-15-July-2022-EOL-announcements.md
  src/images/pixie-integration-hybrid-storage.png
Labels: content, from_tw

#8485 forwarding.enabled should be false for Option 2
  src/content/docs/logs/logs-context/configure-logs-context-python.mdx
Labels: content, from_external

#8533 Update main logo image
  src/images/javalogo-old.png
  src/images/javalogo.png
Labels: content, from_tw

#8567 Whats new 07 20 new relic4 sap (Publish on 07/22/2022)
  src/content/whats-new/2022/07/images/SAP_or_NonSAP-02.png
  src/content/whats-new/2022/07/whats-new-07-20-New-Relic-4-SAP.md
Labels: whats new

#8553 New .NET agent release notes versioning
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-0-0.mdx
Labels: content, from_internal

#8484 Changes to .NET agent documentation for major version 10.0.0 release
  src/content/docs/apm/agents/net-agent/custom-instrumentation/create-transactions-xml-net.mdx
  src/content/docs/apm/agents/net-agent/installation/install-net-agent-linux.mdx
  src/content/docs/apm/agents/net-agent/installation/uninstall-net-agent.mdx
  src/content/docs/apm/agents/net-agent/installation/update-net-agent.mdx
  src/content/docs/apm/agents/net-agent/other-installation/install-net-agent-docker-container.mdx
  src/content/docs/apm/agents/net-agent/other-installation/net-agent-install-resources.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/debugging-net-core-agent-linux.mdx
Labels: content, from_internal

#8551 Update Python Agent release notes.
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-71600178.mdx
Labels: content, from_internal

#8552 Updates/Image Addition
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
  src/images/IssueLogViewUI.png
  src/images/NewIssueMapUI.png
  src/images/NewIssueMapUIFinal.png
Labels: content, from_internal

#8570 fix(Go): update configuration instructions
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
Labels: content, from_internal

#8573 fix(browser dict): add new item traceSessionId
  src/data-dictionary/events/BrowserInteraction/sessionTraceId.md
Labels: content, from_tw

#8563 Update list of built-in parsing rules
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#8586 Update whats-new-07-20-New-Relic-4-SAP.md
  src/content/whats-new/2022/07/whats-new-07-20-New-Relic-4-SAP.md
Labels: content, from_tw

#8474 fix(Browser summary): Rewrite to reflect current UI
  src/content/docs/browser/browser-monitoring/getting-started/browser-summary-page.mdx
Labels: content, from_tw

#8588 chore: replaces spelling of 'acount' with 'account'.
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
Labels: content, from_internal

#8524 feat(style guide): Clarifying the difference between public I/O and add data in the UI (NR-23312)
  src/content/docs/style-guide/writing-strategies/install-docs-guidance.mdx
Labels: content, from_tw

#6179 docs: reorganize overloads/params table
  src/content/docs/apm/agents/net-agent/net-agent-api/noticeerror-net-agent-api.mdx
Labels: content, from_internal

#8593 Change released type
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-fargate-integration.mdx
Labels: content, from_internal

#8592 Updated OS supported
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
Labels: content, from_internal

#8595 chore(synthetics-monitoring): Fixed broken link
  src/content/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
Labels: content, from_internal

#8527 docs: add infra agent release notes 1.28.0
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1280.mdx
Labels: content, from_internal

#8466 infra-agent logging & troubleshooting improvements
  src/content/docs/infrastructure/host-integrations/troubleshooting/pass-infrastructure-agent-parameters-host-integration.mdx
  src/content/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-logs/generate-logs-troubleshooting-infrastructure.mdx
  src/content/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-logs/infrastructure-agent-logging-behavior.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/content/docs/infrastructure/new-relic-infrastructure/troubleshooting/incorrect-data-reported.mdx
Labels: content, from_internal

#8600 style(style guide): Remove old "NR ONLY" from usage dic
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#8601 Delete service-levels-20220721.mdx
  src/content/docs/release-notes/service-levels-release-notes/service-levels-20220721.mdx
Labels: content, from_internal

#8590 new(async query): new NG doc
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/apis/nerdgraph/examples/async-queries-nrql-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-nrql-tutorial.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#8605 docs: add language identifiers to the shell command
  src/content/docs/apm/agents/net-agent/troubleshooting/resolve-net-scom-conflicts.mdx
Labels: content, from_internal

#7425 Add indentation topic for style guide
  src/content/docs/style-guide/structure/styleguide-markup-indentation.mdx
  src/images/basic-list-indentation-left.png
  src/images/basic-list-indentation-two.png
  src/images/basic-list-indentation.png
  src/images/child-bullet-list.png
  src/images/child-numbered-list.png
  src/images/four-space-indent-child.png
  src/images/image-indentation-1.png
  src/images/indent-extra-line-feed.png
  src/images/indent-left-justified.png
  src/images/indent-snippets-in-lists-2.png
  src/images/indent-snippets-in-lists.png
  src/images/indentation-consec-lists-in-collapser-1.png
  src/images/indentation-consec-lists-in-collapser-2.png
  src/images/nested-bullet-lists-1.png
  src/images/nested-bullet-lists-2.png
  src/images/three-space-indent-child.png
  src/images/two-space-indent-parent.png
  src/nav/style-guide.yml
Labels: content, from_tw

#8607 Zach's small changes branch
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/new-relic-solutions/get-started/networks.mdx
  src/data-dictionary/events/BrowserInteraction/sessionTraceId.md
Labels: content, from_tw

#8599 feat(custom instrumentation): adds database query naming doc for .NET
  src/content/docs/apm/agents/net-agent/custom-instrumentation/query-naming.mdx
  src/images/named_query.png
  src/nav/apm.yml
Labels: content, from_internal
