Repository newrelic/docs-website, pull requests merged in 2022-06, with the labels that each got.

#7743 feature(active sessions): new doc addition
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
Labels: content, from_tw

#7832 fix(license docs): data plus changes
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-pricing-models.mdx
  src/content/docs/accounts/original-accounts-billing/product-pricing/product-based-pricing.mdx
  src/content/docs/licenses/license-information/faq/new-relic-one-pricing-plan-frequently-asked-questions.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/new-relic-data-usage-limits-policies.mdx
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-policy.mdx
  src/content/docs/licenses/license-information/referenced-policies/service-level-availability-commitment.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
  src/content/docs/licenses/overview.mdx
  src/images/nr-billing-order-terms-example.png
  src/nav/licenses.yml
Labels: content, from_tw

#7834 06 01 22 What's New Data Plus available
  src/content/whats-new/2022/04/whats-new-4-14-data-updates.md
  src/content/whats-new/2022/06/images/data_plus_comparison.png
  src/content/whats-new/2022/06/whats-new-6-1-data-plus-available.md
Labels: content, from_internal

#7843 fix(data plus whats-new): fixing images
  src/content/whats-new/2022/04/images/data-plus-comparison.png
  src/content/whats-new/2022/04/images/data_plus_comparison.png
  src/content/whats-new/2022/04/whats-new-4-14-data-updates.md
  src/content/whats-new/2022/06/images/data-plus-comparison.png
  src/content/whats-new/2022/06/images/data_plus_comparison.png
  src/content/whats-new/2022/06/whats-new-6-1-data-plus-available.md
Labels: content, from_tw

#7771 Replace incident intelligence image
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
  src/images/impacted_entities_actions.png
  src/images/issue_entity_map.png
Labels: content, from_tw

#7837 Update errors-inbox.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/images/regression-tag-text.png
Labels: content, from_internal

#7859 Updated the Data Plus comparison table
  src/content/whats-new/2022/06/images/data-plus-comparison.png
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
Labels: content, from_internal

#7607 Add metric/span toggle topic
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-view-your-data.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-database-page.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-distributed-tracing-page.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-errors-inbox-page.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-errors-page.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-external-services-page.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-find-entities.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-jvms-page.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-logs-page.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-metrics-explorer-page.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-summary-page.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-transactions-page.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-view-your-data.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-view-your-data.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-data-explorer-query-builder.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-database-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-distributed-tracing-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-errors-inbox-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-errors-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-external-services-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-find-entities.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-jvms-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-logs-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-metrics-explorer-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-summary-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-transactions-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data copy/opentelemetry-view-your-data.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-database-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-distributed-tracing-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-errors-inbox-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-errors-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-external-services-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-find-entities.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-jvms-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-logs-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-metrics-explorer-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-summary-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-transactions-page.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-view-your-data.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-view-your-data.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-database-page.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-distributed-tracing-page.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-errors-inbox-page.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-errors-page.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-external-services-page.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-find-entities.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-jvms-page.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-logs-page.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-metrics-explorer-page.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-summary-page.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-transactions-page.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-view-your-data.mdx
  src/images/otel-metric-span-toggle-summary.png
  src/nav/integrations.yml
Labels: content, from_tw

#7858 Update whats-new-6-1-data-plus-available.md
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/whats-new/2022/06/whats-new-6-1-data-plus-available.md
Labels: content, from_internal

#7853 fix: query typos
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, from_internal

#7838 Update manage-pixie-memory.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/manage-pixie-memory.mdx
Labels: content, from_internal, pg_TDP

#7855 Add CodeStream span attributes to data dictionary.
  src/data-dictionary/events/Span/code.filepath.md
  src/data-dictionary/events/Span/code.function.md
  src/data-dictionary/events/Span/code.lineno.md
  src/data-dictionary/events/Span/code.namespace.md
Labels: content, from_internal, pg_codestream

#7870 fix(hero): broken link
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/optimize-slm-guide.mdx
Labels: content, from_tw, pg_other

#7872 Release, config, and CLM content for Ruby v8.8.0
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/features/ruby-codestream-integration.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/start-here/codestream-new-relic.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-880.mdx
  src/nav/apm.yml
Labels: content, from_internal, pg_UXP

#7875 chore: add devices.response_time config option
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal, pg_observability

#7876 chore(Hero): Add redirect URLs
  src/content/docs/new-relic-solutions/observability-maturity/introduction.mdx
Labels: content, from_tw

#7877 fix(log obfuscation): clarify some obfuscation already done
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
Labels: content, from_tw

#7881 Zach small edits june 3
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/data-apis/manage-data/calculate-data-ingest.mdx
  src/nav/licenses.yml
Labels: content, from_tw

#7835 chore(k8s): Remove self-referential collapser links
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_tw

#7879 Ruby CodeStream documentation: link update
  src/content/docs/apm/agents/ruby-agent/features/ruby-codestream-integration.mdx
Labels: content, from_internal

#7883 fix(infra): Delete Go Insights and SNMP EoLed integrations
  src/content/docs/infrastructure/host-integrations/host-integrations-list/go-insights-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snmp-monitoring-integration.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/go-insights-integration.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/snmp-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/go-insights-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/snmp-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#7884 fix(style guide): Doc how to delete i18n equivalents
  src/content/docs/style-guide/writing-docs/processes-procedures/delete-document.mdx
Labels: content, from_tw

#7885 Delete insights dashboard api
  src/content/docs/apis/insights-apis/insights-dashboard-api.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/dashboards-api-migration-insights-api-nerdgraph.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/transition-new-relic-one-insights.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-api.mdx
  src/i18n/content/jp/docs/apis/insights-apis/insights-dashboard-api.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/core-concepts/dashboards-api-migration-insights-api-nerdgraph.mdx
  src/i18n/content/kr/docs/apis/insights-apis/insights-dashboard-api.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/core-concepts/dashboards-api-migration-insights-api-nerdgraph.mdx
  src/nav/new-relic-solutions.yml
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#7889 style(Hero): Consistency
  src/content/docs/logs/ui-data/built-log-parsing-rules.mdx
Labels: content, from_tw

#7698 [Mobile-7496] Update dexguard support version (hold for v6.6.0)
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-compatibility-requirements.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-660.mdx
Labels: content, from_internal, pg_observability

#7782 Fix(APM): Broken link
  src/content/docs/apm/agents/manage-apm-agents/app-naming/use-multiple-names-app.mdx
Labels: content, from_tw

#7888 fix(log obfusc): clarifying what feature is
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
Labels: content, from_tw

#7890 fix(retention): clarifying DP retention
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#7811 feat(Logs in dashboards): Release note, minor doc updates
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  src/content/docs/release-notes/logs-release-notes/logs-22-05-18.mdx
  src/images/logs-dashboards-052722.png
Labels: content, from_tw

#7894 Key transaction - remove out-of-date UI procedure
  src/content/docs/apm/transactions/key-transactions/create-update-key-transactions.mdx
  src/content/docs/data-apis/manage-data/drop-data-using-nerdgraph.mdx
  src/content/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
Labels: content, from_tw

#7895 fix(retention): adding edition required
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#7899 fix(data retention): missing info
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#7849 Reference distributed tracing requirement
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/images/code-level-charts.png
Labels: content, from_internal

#7904 Node.js Agent v8.14.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-8-14-0.mdx
Labels: content, from_internal

#7908 Update changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/changes-since-v3.mdx
Labels: content, from_internal

#7910 OS Name
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-arm64.mdx
Labels: content, from_external

#7911 Correct OS name
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_external

#7912 Correct OS name
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
Labels: content, from_external

#7886 style(Trace limits): Added link to h2
  src/content/docs/distributed-tracing/trace-api/trace-api-general-requirements-limits.mdx
Labels: content, from_tw

#7919 fix(rabbitmq): link to explain settings
  src/content/docs/infrastructure/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
Labels: content, from_tw

#7846 Some 'new relic one' edits
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/billing-ui.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/core-users-release.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/introduction-new-relic-subscription-usage-data.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-pricing-models.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/product-based-pricing/overview-data-retention-components.mdx
  src/content/docs/accounts/original-accounts-billing/product-pricing/product-based-pricing.mdx
  src/content/docs/apm/agents/manage-apm-agents/configuration/high-security-mode.mdx
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/data-apis/manage-data/calculate-data-ingest.mdx
  src/content/docs/data-apis/manage-data/drop-data-using-nerdgraph.mdx
  src/content/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
  src/content/docs/distributed-tracing/infinite-tracing/introduction-infinite-tracing.mdx
  src/content/docs/licenses/license-information/product-definitions/legacy-product-definitions.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
  src/content/docs/licenses/license-information/usage-plans/product-based-pricing-usage-new-relic-platform-pricing-usage-plan.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-developer-edition/developer-edition.mdx
  src/content/docs/new-relic-partnerships/partner-integration-guide/partner-account-maintenance/partner-api.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-account-object.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-subscription-object.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
  src/content/docs/style-guide/word-choice/pricing-language-guidelines.mdx
  src/nav/accounts.yml
  src/nav/dashboards.yml
  src/nav/licenses.yml
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#7922 Daily release/06-07-22 morning
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-arm64.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/content/docs/distributed-tracing/trace-api/trace-api-general-requirements-limits.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/flex-integration-tool-build-your-own-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
Labels: content, from_tw

#7926 Zach's small changes june 7
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
Labels: content, from_tw

#7930 chore(Browser API): delete nonexistent page
  src/nav/browser.yml
Labels: content, from_tw

#7924 fix(custom data): edits to custom data doc
  src/content/docs/apis/intro-apis/introduction-new-relic-apis.mdx
  src/content/docs/data-apis/custom-data/get-custom-data-from-any-source.mdx
  src/content/docs/data-apis/custom-data/intro-custom-data.mdx
  src/content/docs/new-relic-solutions/new-relic-one/build-custom-new-relic-one-application.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/install-new-relic.mdx
  src/i18n/content/jp/docs/data-apis/custom-data/get-custom-data-from-any-source.mdx
  src/i18n/content/kr/docs/data-apis/custom-data/get-custom-data-from-any-source.mdx
Labels: content, from_tw

#7929 fix(user mgmt): adding more about bulk edit
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
Labels: content, from_tw

#7933 chore(PHP): Fix messed-up links
  src/content/docs/apm/agents/php-agent/advanced-installation/docker-other-container-environments-install-php-agent.mdx
Labels: content, from_tw

#7927 fix(Logs): Add tip about guided installation and logging.yml
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_tw

#7783 fix(Browser): Insert new row for PageViewTiming
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/instrumentation-browser-monitoring.mdx
Labels: content, from_tw

#7652 Obfuscation Examples
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
  src/i18n/content/jp/docs/logs/ui-data/obfuscation-ui.mdx
  src/i18n/content/kr/docs/logs/ui-data/obfuscation-ui.mdx
  src/images/ObfuscationCreateExpression.png
  src/images/obfuscation-create-expression-ui.png
Labels: content, from_internal, from_tw

#7931 chore:Updated browser best practices to include service levels, sourc…
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/browser-monitoring-best-practices-guide.mdx
  src/images/browser-service-levels-01.png
  src/images/browser-service-levels-02.png
Labels: content, from_internal, pg_observability

#7628 Add docker support for cgroups V2
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/docker-instrumentation-infrastructure-monitoring.mdx
  src/data-dictionary/events/ContainerSample/cpuLimitCores.md
  src/data-dictionary/events/ContainerSample/cpuShares.md
Labels: content, from_internal

#7753 feat: add infra-agent installation instructions for RHEL 9
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
Labels: content, from_internal

#7944 affinity set to false instead on nodeAffinity
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
Labels: content, from_internal, pg_observability

#7945 fix: include cgroupsns field in privileges so examples work properly on cgroup v2
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/docker-container-infrastructure-monitoring.mdx
Labels: content, from_internal, pg_UXP

#7946 Release notes for infrastructure agent 1.27.1
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1271.mdx
Labels: content, from_internal, pg_UXP

#7937 Quick apm best practice nav fix
  src/nav/apm.yml
Labels: content, from_tw

#7949 chore: Adds .NET documentation for code level metrics.
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/other-features/net-codestream-integration.mdx
  src/nav/apm.yml
Labels: content, from_internal, pg_UXP

#7898 feat(Logs query): Example
  src/content/docs/logs/ui-data/query-syntax-logs.mdx
Labels: content, from_tw

#7959 daily-release/06-08-22-noon
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/other-features/net-codestream-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/content/docs/infrastructure/host-integrations/installation/new-relic-guided-install-overview.mdx
  src/content/docs/logs/ui-data/query-syntax-logs.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/optimize-slm-guide.mdx
  src/images/guided-install-cli.png
  src/nav/apm.yml
Labels: content, from_tw

#7891 fix(AI): Removed doc about unused API
  src/content/docs/data-apis/ingest-apis/event-api/incident-event-rest-api.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/rest-api-applied-intelligence.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/rest-api-applied-intelligence.mdx
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_tw

#7951 Add recommended OTel Java agent version
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-find-entities.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-jvms-page.mdx
Labels: content, from_tw

#7956 Release notes for .NET agent 9.9.0
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9900.mdx
Labels: content, from_internal, pg_UXP

#7938 Migrate some 'collect data' dev site content
  src/content/docs/data-apis/custom-data/custom-events/collect-custom-attributes.mdx
  src/content/docs/data-apis/custom-data/custom-events/report-custom-event-data.mdx
  src/content/docs/data-apis/custom-data/get-custom-data-from-any-source.mdx
  src/content/docs/data-apis/ingest-apis/event-api/introduction-event-api.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#7960 Add Python Agent Application Logging Feature Docs
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/logs/logs-context/configure-logs-context-python.mdx
  src/content/docs/logs/logs-context/logs-in-context.mdx
Labels: content, from_internal, pg_UXP

#7964 daily-release/06-08-22-evening
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/data-apis/custom-data/custom-events/collect-custom-attributes.mdx
  src/content/docs/data-apis/custom-data/custom-events/report-custom-event-data.mdx
  src/content/docs/data-apis/custom-data/get-custom-data-from-any-source.mdx
  src/content/docs/data-apis/ingest-apis/event-api/incident-event-rest-api.mdx
  src/content/docs/data-apis/ingest-apis/event-api/introduction-event-api.mdx
  src/content/docs/logs/logs-context/configure-logs-context-python.mdx
  src/content/docs/logs/logs-context/logs-in-context.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-find-entities.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-jvms-page.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9900.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/rest-api-applied-intelligence.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/rest-api-applied-intelligence.mdx
  src/i18n/nav/kr.json
  src/i18n/translations/kr/translation.json
  src/nav/alerts-and-applied-intelligence.yml
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#7955 Add Python Agent Release v7.12.0.176
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-71200176.mdx
Labels: content, from_internal, pg_UXP

#7966 AWS metric stream clarifications
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
Labels: content, from_internal

#7186 fix: remove infra agent traces option
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#7215 feat: new infra agent log options
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#7810 feat(OHI): reworked docs
  src/content/docs/infrastructure/host-integrations/host-integrations-list/elasticsearch/elasticsearch-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/elasticsearch/elasticsearch-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
Labels: content, from_tw

#7962 Data Plus: add to HIPAA and FedRAMP docs
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
  src/content/docs/security/security-privacy/compliance/hipaa-readiness-new-relic.mdx
Labels: content, from_tw

#7961 fix(synthetics): making limits more clear
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/data-apis/manage-data/view-system-limits.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/monitor-limits.mdx
  src/nav/synthetics.yml
Labels: content, from_tw

#7979 docs: improve description of index, summary pages
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
Labels: content, from_internal

#7980 Python Release Notes Corrections
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-71200176.mdx
Labels: content, from_internal

#7953 A few more updates related to New Relic One change
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/images/new-relic-product-relationships.png
Labels: content, from_internal, pg_other

#7985 Node.js Agent v8.14.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-8-14-1.mdx
Labels: content, from_internal

#7982 Update remove-applications-new-relic.mdx
  src/content/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
Labels: content, from_internal

#7727 DOC-7901 Alerts & AI nav reorganization
  src/nav/alerts-and-applied-intelligence.yml
  yarn.lock
Labels: content, pg_AI, from_tw

#7984 (feat)Pixie: add troubleshooting section
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/manage-pixie-memory.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/get-pixie-logs.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/high-memory-consumption.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/pods-frequently-oomkilled.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/pods-stuck-pending.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/get-logs-version.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal

#7990 Updated hyperlink in translation disclaimer
  src/i18n/translations/kr/translation.json
Labels: content, translations, from_internal

#7993 Fix broken CodeStream links.
  src/content/docs/apm/agents/python-agent/supported-features/python-codestream-integration.mdx
  src/data-dictionary/events/Span/code.filepath.md
  src/data-dictionary/events/Span/code.function.md
  src/data-dictionary/events/Span/code.lineno.md
  src/data-dictionary/events/Span/code.namespace.md
Labels: content, from_internal

#7995 feat(aws-health): new fields and remove EOL
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-health-monitoring-integration.mdx
Labels: content, from_internal

#7996 Infra-agent: update supported platforms
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#8001 fix(k8s): augmenting metrics, add periods
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
Labels: content, from_tw

#7986 Dev site migrate: bring over nerdgraph explorer doc
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/get-started/nerdgraph-explorer.mdx
  src/images/create-account.png
  src/images/graphql-documentation.png
  src/images/mutation-example.png
  src/images/tools-menu.png
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#7999 new(k8s whats-new post)
  src/content/whats-new/2022/04/whats-new-04-28-kubernetes-v3.md
Labels: content, from_internal

#7824 update_postgresql_ohi_and_parsing_docs
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
  src/content/docs/logs/ui-data/built-log-parsing-rules.mdx
Labels: content, from_internal, pg_TDP

#8003 Add more links to important cost estimate tool
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/content/docs/data-apis/manage-data/calculate-data-ingest.mdx
  src/content/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
Labels: content, from_tw

#8006 fix(OM data ingest): fixing indent issues
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-optimize-ingest-guide.mdx
Labels: content, from_tw

#8010 Update use-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
Labels: content, from_internal

#8011 Update user-settings.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/user-settings.mdx
Labels: content, from_internal

#8013 style(Python logs in context): xrefs
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/content/docs/logs/logs-context/disable-automatic-logging.mdx
  src/content/docs/logs/logs-context/logs-in-context.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-71200176.mdx
Labels: content, pg_TDP, from_tw

#8015 Updated KR nav file
  src/i18n/nav/kr.json
Labels: content, from_internal

#8020 Cassandra default parsing rule
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cassandra-monitoring-integration.mdx
  src/content/docs/logs/ui-data/built-log-parsing-rules.mdx
Labels: content, from_internal

#8000 fix(Pixie):Add Advanced Configuration section
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-memory.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/high-memory-consumption.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/pods-frequently-oomkilled.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/pods-stuck-pending.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-data.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-memory.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-data.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-memory.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal

#8019 chore(redirects): Update jira shortlink
  src/data/external-redirects.json
Labels: content, from_tw

#7510 new 'NRAI postmortems' doc
  src/content/docs/alerts-applied-intelligence/applied-intelligence/postmortems-applied-intelligence.mdx
  src/images/postmortem-1.png
  src/images/postmortem-2.png
  src/images/postmortem-3.png
  src/images/postmortem-4.png
  src/images/postmortem-5.png
  src/images/postmortem-6.png
  src/images/postmortem-7.png
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_internal

#8023 docs: cmd line formatting
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-vm-measurements.mdx
Labels: content, from_internal

#8025 docs: add semicolons and identifiers
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-v1-custom-instrumentation-legacy.mdx
Labels: content, from_internal

#8031 statsd: added arm64 support
  src/content/docs/infrastructure/host-integrations/host-integrations-list/statsd-monitoring-integration-version-2.mdx
Labels: content, from_internal

#8038 Daily release/06-14-22 morning
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/browser-monitoring-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-v1-custom-instrumentation-legacy.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-vm-measurements.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/statsd-monitoring-integration-version-2.mdx
  src/content/docs/logs/log-api/introduction-log-api.mdx
Labels: from_tw

#8041 Remove bonus "script" reference
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/new-runtime.mdx
Labels: content, from_tw

#8029 Update Technical distributed tracing details
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
Labels: content, from_internal

#8035 Update query to export Dashboard
  src/content/docs/apis/nerdgraph/examples/export-dashboards-pdfpng-using-api.mdx
Labels: content, from_internal

#8042 Replace old logo in image
  src/images/NPM_architecture.png
Labels: content, from_tw

#8040 fix(Java Agent): advanced usage updates pointing to interactive install
  src/content/docs/apm/agents/java-agent/guided-install/java-guided-installation.mdx
Labels: from_internal

#7997 fix(global support): made changes requested by Gayle
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_tw

#8048 Daily release/06-14-22 evening
  package.json
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
  src/content/docs/apis/nerdgraph/examples/export-dashboards-pdfpng-using-api.mdx
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
  src/content/docs/distributed-tracing/concepts/quick-start.mdx
  src/content/docs/distributed-tracing/infinite-tracing/infinite-tracing-configure-random-trace-filter.mdx
  src/content/docs/distributed-tracing/infinite-tracing/introduction-infinite-tracing.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/new-runtime.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/get-started/nerdgraph-explorer.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/supported-features/python-codestream-integration.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-health-monitoring-integration.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
  src/i18n/content/jp/docs/logs/ui-data/built-log-parsing-rules.mdx
  src/i18n/content/kr/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/i18n/content/kr/docs/apis/nerdgraph/get-started/nerdgraph-explorer.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/supported-features/python-codestream-integration.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-health-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
  src/i18n/content/kr/docs/logs/ui-data/built-log-parsing-rules.mdx
  src/i18n/content/kr/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/images/NPM_architecture.png
  yarn.lock
Labels: content, from_tw

#7981 Tiered pricing (Publish on 6/15/2022)
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
Labels: content, from_tw

#8055 Use `minionId` changes to count restarts
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, from_internal

#8070 fix(mysql): slaveRunning has been reintroduced
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-integration.mdx
Labels: content, from_internal, pg_observability

#7954 Update PRs doc and CLM requirements
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/how-use-codestream/pull-requests.mdx
  src/images/PullRequestCommentJetBrains.png
  src/images/PullRequestComments.png
  src/images/PullRequestConversationView.png
  src/images/PullRequestDetails.png
  src/images/PullRequestDiff.png
  src/images/PullRequestViewedState.png
Labels: content, from_internal, pg_codestream

#8065 Create java-agent-780.mdx | Publish 06-16
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-780.mdx
Labels: content, from_internal, pg_observability

#8054 Updates for Java Agent 7.8.0 Release | Merge 6/16
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal, pg_observability

#8018 6/16 Whats new IBM MQ public preview integration
  src/content/whats-new/2022/06/images/IBMMQLightDashboard.png
  src/content/whats-new/2022/06/images/IBMMQLightDashboardTabTwo.png
  src/content/whats-new/2022/06/whats-new-6-16-ibm-mq-public-preview.md
Labels: content, from_internal, what's new

#8059 style(typo): Compatability
  src/content/docs/browser/single-page-app-monitoring/get-started/introduction-single-page-app-monitoring.mdx
  src/content/docs/style-guide/writing-docs/article-templates/api-tutorial-template.mdx
  src/i18n/nav/kr.json
  src/nav/apm.yml
Labels: content, from_tw

#8077 Update violation-event-attributes.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/violation-event-attributes.mdx
Labels: content, from_internal, pg_AI

#8062 Fix typos in docs
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
Labels: content, from_external

#8069 AWS metric streams: notes about filters and useful queries
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
Labels: content, from_internal, pg_observability

#8078 Update closeCause.md to add missing value
  src/data-dictionary/events/NrAiIncident/closeCause.md
Labels: content, from_internal, pg_AI

#8080 Update global-technical-support-offerings.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_tw

#7134 Add instructions for upgrading Windows integrations
  src/content/docs/infrastructure/host-integrations/installation/install-infrastructure-host-integrations.mdx
  src/content/docs/infrastructure/host-integrations/installation/update-infrastructure-host-integration-package.mdx
Labels: content, from_internal

#8082 docs: add language identifiers to code
  src/content/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-microsoft-azure.mdx
Labels: content, from_internal, pg_observability

#8081 .NET Agent - NuGet agent install instructions - add callout regarding logs folder permissions
  src/content/docs/apm/agents/net-agent/install-guides/install-net-agent-using-nuget.mdx
Labels: content, from_internal, pg_observability

#8083 Additional reqs for CLM
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/how-use-codestream/pull-requests.mdx
Labels: content, from_internal, pg_codestream

#8084 Update global-technical-support-offerings.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_tw

#8066 feat(Pixie): Add Upgrade instructions.
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/get-pixie-integration-version.mdx
  src/images/pixie-integration-version-scrubbed.png
  src/images/pixie-integration-version.png
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal, pg_pixie

#7952 change "New Relic One" product name to "New Relic"
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal, pg_other

#7994 feat(dashboards): deleted doc
  src/content/docs/query-your-data/explore-query-data/dashboards/new-relic-global-performance-data-sets.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/dashboards/new-relic-global-performance-data-sets.mdx
  src/i18n/content/kr/docs/query-your-data/explore-query-data/dashboards/new-relic-global-performance-data-sets.mdx
  src/nav/dashboards.yml
Labels: content, from_tw

#8086 improve swap chart
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, from_internal, pg_observability

#8026 Highlight Infinite Tracing
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-data-distributed-tracing.mdx
  src/content/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-and-dt.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/get-started/new-relic-ios-and-dt.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/configure-serverless-monitoring-aws-lambda.mdx
Labels: content, from_tw

#8087 Daily release/06 16 2022 evening
  src/content/docs/apm/agents/net-agent/install-guides/install-net-agent-using-nuget.mdx
  src/content/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-microsoft-azure.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-data-distributed-tracing.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/how-use-codestream/pull-requests.mdx
  src/content/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
  src/content/docs/infrastructure/host-integrations/installation/install-infrastructure-host-integrations.mdx
  src/content/docs/infrastructure/host-integrations/installation/update-infrastructure-host-integration-package.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/get-pixie-integration-version.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-and-dt.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/get-started/new-relic-ios-and-dt.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/new-relic-global-performance-data-sets.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/configure-serverless-monitoring-aws-lambda.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
  src/data-dictionary/events/NrAiIncident/closeCause.md
  src/i18n/content/jp/docs/query-your-data/explore-query-data/dashboards/new-relic-global-performance-data-sets.mdx
  src/i18n/content/kr/docs/query-your-data/explore-query-data/dashboards/new-relic-global-performance-data-sets.mdx
  src/images/pixie-integration-version-scrubbed.png
  src/images/pixie-integration-version.png
  src/nav/dashboards.yml
  src/nav/kubernetes-pixie.yml
Labels: content, from_tw

#8093 feat(style guide): added clarity on docs issue candidate, removed backticks on hero
  src/content/docs/style-guide/writing-docs/writer-workflow/github-intro.mdx
Labels: content, from_tw

#8091 feat(k8sIntegration): adding a diagram to show new arch
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/changes-since-v3.mdx
  src/images/kubernetes-integration-cp-external.png
  src/images/kubernetes-integration-cp.png
  src/images/kubernetes-v3-integration.png
Labels: content, from_internal

#8096 docs: add language identifiers to codeblocks
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
Labels: content, from_internal

#8060 fix(Pixie): fix wording around HTTP and HTTP2 tracing
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/explore-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/overview.mdx
Labels: content, from_internal

#8049 feat(Pixie): Update 'Get to know Pixie' page.
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/get-started-auto-telemetry-pixie.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/auto-telemetry-pixie/get-started-auto-telemetry-pixie.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/auto-telemetry-pixie/get-started-auto-telemetry-pixie.mdx
Labels: content, from_internal

#8102 style(mobile): typo edit
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/introduction-mobile-monitoring.mdx
Labels: content, from_tw

#8103 Correction of wording
  src/content/docs/logs/logs-context/disable-automatic-logging.mdx
Labels: content, from_internal

#8105 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#8109 Merge to main 06-20
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/get-started-auto-telemetry-pixie.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/explore-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/overview.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
  src/content/docs/logs/logs-context/disable-automatic-logging.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/introduction-mobile-monitoring.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1273.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/auto-telemetry-pixie/get-started-auto-telemetry-pixie.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/auto-telemetry-pixie/get-started-auto-telemetry-pixie.mdx
  src/images/kubernetes-integration-cp-external.png
  src/images/kubernetes-integration-cp.png
  src/images/kubernetes-v3-integration.png
Labels: content, from_tw

#8110 GCP: remove inventory references (EOL)
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-app-engine-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-bigquery-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-functions-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-load-balancing-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-pubsub-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-spanner-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-sql-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-storage-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-compute-engine-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-kubernetes-engine-monitoring-integration.mdx
Labels: content, from_internal

#8111 Update monitor-services-running-amazon-ecs.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/monitor-services-running-amazon-ecs.mdx
Labels: content, from_internal

#8112 docs: fixed section links, add language identifiers
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
Labels: content, from_internal

#8114 docs: add language indetifiers
  src/content/docs/apm/agents/go-agent/installation/install-new-relic-go.mdx
Labels: content, from_internal

#8113 docs: add go lang indentifier
  src/content/docs/apm/agents/go-agent/configuration/go-agent-logging.mdx
Labels: content, from_internal

#8107 Adding namespace filters to K8s integration
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
Labels: content, from_internal

#8116 fix: typo in parsing logs
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_external

#8120 Fix Java Agent 7.8.0 download link
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-780.mdx
Labels: content, from_internal
