Repository newrelic/docs-website, pull requests merged in 2022-10, with the labels that each got.

#9566 feat(ibmmq): passwordless authentication
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ibmmq-monitoring-integration.mdx
Labels: content, from_internal

#9581 Update screenshot
  src/images/cloudflare-dashboard.png
Labels: content, from_internal

#9582 feat(OHI): removed troubleshooting section
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cassandra-monitoring-integration.mdx
Labels: content, from_tw

#9514 feat(java): removed redirect to jvm arguments doc
  src/install/config/java.yaml
Labels: content, from_tw

#9558 fix(java): removed weird step from Docker
  src/install/config/java.yaml
Labels: content, from_tw

#9536 PHP agent release 10.2.0 (Maybe publish October 3rd or 4th?)
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-2-0-314.mdx
Labels: content, from_internal

#9586 Update generating-logs-troubleshooting-php.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/generating-logs-troubleshooting-php.mdx
Labels: content, from_internal

#9584 Update pageviewtiming-async-or-dynamic-page-details.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details.mdx
Labels: content, from_internal

#9542 fix(logs tcp): fixing errors
  src/content/docs/logs/log-api/use-tcp-endpoint-forward-logs-new-relic.mdx
Labels: content, from_tw

#9589 Removing reference to Logging's Saved Queries
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-capabilities.mdx
Labels: content, from_internal

#9592 docs: add csharp lang identifier
  src/content/docs/apm/agents/net-agent/custom-instrumentation/query-naming.mdx
Labels: content, from_internal

#9600 docs: Update Jenkins Otel monitoring docs page
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/jenkins/monitoring-jenkins-ot.mdx
  src/images/opentelemetry-integrations-jenkins_05.png
Labels: content, from_internal

#9601 Add EU info to Intro
  src/content/docs/alerts-applied-intelligence/overview.mdx
Labels: content, from_internal

#9603 Add sources to this page
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
Labels: content, from_internal

#9605 Moved IINT terms to Terms page
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/basic-alerting-concepts.mdx
Labels: content, from_internal

#9609 Updated Postmortem Image
  src/content/docs/alerts-applied-intelligence/applied-intelligence/postmortems-applied-intelligence.mdx
  src/images/postmortem-edit.png
Labels: content, from_internal

#9507 docs: infra agent uptime metric
  src/content/docs/infrastructure/manage-your-data/data-instrumentation/host-integrations-metrics.mdx
  src/data-dictionary/events/SystemSample/uptime.md
Labels: content, from_internal

#9608 Update Image on Overview Page
  src/content/docs/alerts-applied-intelligence/overview.mdx
  src/images/issue-feed-for-overview-page.png
Labels: content, from_internal

#9625 chore(nav): removed .mdx extension
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_tw

#9628 fix(synthetics apdex): Removed references for editing Apdex T
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-aggregate-monitor-metrics.mdx
Labels: content, from_internal

#9633 Daily release/10-05-22 morning
  gatsby-config.js
  package.json
  scripts/verifyInstallPage.js
  src/content/docs/alerts-applied-intelligence/overview.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/troubleshooting/troubleshooting-large-memory-usage-nodejs.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/why-when-restart-your-web-server-php.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/ajax-call-fails-cors-redirect-error-message.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/data-apis/custom-data/custom-events/report-browser-monitoring-custom-events-attributes.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-config.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/docker-container-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/prometheus-integrations/view-query-data/view-query-your-prometheus-data.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/fluentd-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/stream-logs-using-kinesis-data-firehose.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
  src/content/docs/logs/ui-data/parsing.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-setup.mdx
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-aggregate-monitor-metrics.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/advanced-cross-account-environments.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/basic-alerting-concepts.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/postmortems-applied-intelligence.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/overview.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/jenkins/monitoring-jenkins-ot.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/advanced-cross-account-environments.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/basic-alerting-concepts.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/postmortems-applied-intelligence.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/overview.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/jenkins/monitoring-jenkins-ot.mdx
  src/images/code-level-diffs.png
  src/images/issue-feed-for-overview-page.png
  src/nav/alerts-and-applied-intelligence.yml
  yarn.lock
Labels: content, from_tw

#9630 feat(synthetics usage): Added queries to view synthetics consumption
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/monitor-limits.mdx
Labels: content, from_internal

#9634 docs: fix two broken otel links
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
Labels: content, from_internal

#9126 Feat(Go agent) document new caching clm features
  src/content/docs/apm/agents/go-agent/configuration/go-agent-code-level-metrics-config.mdx
  src/content/docs/apm/agents/go-agent/instrumentation/go-agent-code-level-metrics-instrument.mdx
Labels: content, from_internal

#9638 Fix redirect
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
Labels: content, from_tw

#9642 Daily release/10-05-22 evening
  scripts/verifyInstallPage.js
  src/content/docs/alerts-applied-intelligence/applied-intelligence/alert-coverage-gaps.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
  src/content/docs/apm/agents/go-agent/configuration/go-agent-code-level-metrics-config.mdx
  src/content/docs/apm/agents/go-agent/instrumentation/go-agent-code-level-metrics-instrument.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/monitor-limits.mdx
  src/images/add-an-alert.png
  src/images/alert-coverage-gaps-homepage.png
  src/images/create-a-policy-coverage-gaps.png
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_tw

#9626 Drop old MSSQL versions
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
Labels: content, from_internal

#9472 NEWRELIC-3118: Node.js Agent ESM support
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/es-modules.mdx
  src/nav/apm.yml
Labels: content, from_internal

#9640 Minor changes to synth nav
  src/nav/synthetics.yml
Labels: content, from_tw

#9648 Daily release/10-06-22 morning
  scripts/actions/__tests__/__snapshots__/serialize-mdx.test.js.snap
  scripts/actions/__tests__/deserialize-html.test.js
  scripts/actions/__tests__/serialize-mdx.test.js
  scripts/actions/utils/docs-content-tools/i18n-exclusions.yml
  scripts/actions/utils/handlers.js
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/es-modules.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-integration.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-events-page-live-feed-every-config-change.mdx
  src/content/whats-new/2022/10/images/ErrorsInbox_preview.png
  src/content/whats-new/2022/10/whats-new-10-06-errors-inbox.md
  src/i18n/content/jp/docs/alerts-applied-intelligence/overview.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/troubleshooting/troubleshooting-large-memory-usage-nodejs.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/troubleshooting/why-when-restart-your-web-server-php.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/troubleshooting/ajax-call-fails-cors-redirect-error-message.mdx
  src/i18n/content/jp/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/i18n/content/jp/docs/data-apis/custom-data/custom-events/report-browser-monitoring-custom-events-attributes.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/i18n/content/jp/docs/infrastructure/prometheus-integrations/view-query-data/view-query-your-prometheus-data.mdx
  src/i18n/content/jp/docs/logs/logs-context/net-configure-logs-context-all.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-aggregate-monitor-metrics.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/overview.mdx
  src/i18n/content/kr/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/i18n/content/kr/docs/data-apis/custom-data/custom-events/report-browser-monitoring-custom-events-attributes.mdx
  src/i18n/content/kr/docs/logs/logs-context/net-configure-logs-context-all.mdx
  src/i18n/content/kr/docs/logs/ui-data/use-logs-ui.mdx
  src/i18n/content/kr/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-aggregate-monitor-metrics.mdx
  src/nav/apm.yml
Labels: content, from_tw

#9647 Revert "Revert "RELEASE: 9/30; ADO.net and C# integration""
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_tw

#9656 Update RestSharp supported versions info.
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#9591 Add release notes for the .Net agent v10.2.0 .
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-2-0.mdx
Labels: content, from_internal

#9662 Update net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#9657 What's new: nerdgraph org user mgmt update
  src/content/whats-new/2022/09/whats-new-09-30-nerdgraph-org-user-mgmt.md
Labels: whats new

#9665 Update .NET documentation for MySQL core technology
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
Labels: content, from_internal

#9664 Update .NET documentation for core technology
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#9661 docs: add info about `shutdown` callback
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
Labels: content, from_internal

#9677 Node.js Agent v9.2.0 Release Notes
  src/content/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-2-0.mdx
Labels: content, from_internal

#9610 1pm Oct 7: Add Cloudfront Logs Integration details to docs
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/choose-your-aggregation-method.mdx
  src/content/docs/alerts-applied-intelligence/transition-guide.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-apprunner.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-s3-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/get-started/integrations-managed-policies.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/content/docs/logs/forward-logs/cloudfront-web-logs.mdx
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/content/docs/logs/ui-data/built-log-parsing-rules.mdx
  src/content/docs/mlops/integrations/aws-sagemaker-mlops-integration.mdx
  src/content/docs/release-notes/infrastructure-release-notes/cloud-integration-release-notes/important-enhancements-gcp-aws-monitoring.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/architecture.mdx
  src/images/cloudfront-custom-parsing.png
  src/images/cloudfront-dashboard.png
  src/nav/logs.yml
Labels: content, from_internal

#9668 fix(Metrics): Fixing time window in query
  src/content/docs/data-apis/convert-to-metrics/create-metrics-other-data-types.mdx
Labels: content, from_internal

#9675 Browser Agent v1220 release notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1220.mdx
Labels: content, from_internal

#9579 Lambda function not instrumented
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking.mdx
Labels: content, from_internal

#9635 Update browser monitoring doc on cookies usage post-v1216 NEWRELIC-4313
  src/content/docs/browser/browser-monitoring/page-load-timing-resources/cookie-collection-session-tracking.mdx
  src/content/docs/browser/browser-monitoring/page-load-timing-resources/new-relic-cookies-used-browser.mdx
  src/content/docs/browser/new-relic-browser/performance-quality/security-browser-monitoring.mdx
  src/nav/browser.yml
Labels: content, from_internal

#9672 feat(Prometheus template): Adding a template
  src/content/docs/style-guide/writing-docs/article-templates/prometheus-template.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#9683 Revert "Revert "RELEASE: 9/30, ActiveMQ integration doc""
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-activemq.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-configuration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/images/activemqLandingPage.png
  src/nav/infrastructure.yml
Labels: content, from_tw

#9684 Update cloudfront-web-logs.mdx
  src/content/docs/logs/forward-logs/cloudfront-web-logs.mdx
Labels: content, from_internal

#9687 Restore old get started with incident intelligence doc
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/nav/alerts-and-applied-intelligence.yml
Labels: content, from_tw

#9685 fix(user count): clarify usage
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/billing-ui.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
Labels: content, from_tw

#9686 fix(parsing): small fixes
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_tw

#9654 feat: new troubleshooting doc for meraki controller
  src/content/docs/network-performance-monitoring/troubleshooting/meraki-controller-no-data.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#9678 Add syntax highlighting to NRQL docs
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/arrays-in-nrql.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-math-using-select.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/subqueries-in-nrql.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/browserspa-nrql-query-examples.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/create-smoother-charts-sliding-windows.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/funnels-evaluate-data-series-related-events.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/improvements-nrql-percentile.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/nested-aggregation-make-ordered-computations-single-query.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/nrql-group-results-across-time.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/nrql-query-examples-mobile-monitoring.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/nrql-segment-your-data-buckets.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/query-infrastructure-dimensional-metrics-nrql.mdx
Labels: content, from_internal

#9690 Testing PRs
  src/content/docs/apm/new-relic-apm/maintenance/record-monitor-deployments.mdx
Labels: content, from_internal

#9691 Added "and data retention" to Billing
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Labels: content, from_internal

#9692 fix(.net docker): improvements
  src/content/docs/apm/agents/net-agent/other-installation/install-net-agent-docker-container.mdx
Labels: content

#9681 Nav and docs changes to encourage use of the new branching doc
  src/content/docs/apm/agents/java-agent/additional-installation/ibm-websphere-application-server.mdx
  src/content/docs/apm/agents/java-agent/additional-installation/install-java-agent-using-gradle.mdx
  src/content/docs/apm/agents/java-agent/additional-installation/install-java-agent-using-maven.mdx
  src/content/docs/apm/agents/java-agent/additional-installation/wildfly-installation-java.mdx
  src/content/docs/apm/agents/java-agent/installation/install-java-agent-java-2-security.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/additional-installation/ibm-websphere-application-server.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/additional-installation/install-java-agent-using-gradle.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/additional-installation/install-java-agent-using-maven.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/additional-installation/wildfly-installation-java.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/installation/install-java-agent-java-2-security.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/additional-installation/ibm-websphere-application-server.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/additional-installation/install-java-agent-using-gradle.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/additional-installation/install-java-agent-using-maven.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/additional-installation/wildfly-installation-java.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/installation/install-java-agent-java-2-security.mdx
  src/install/config/java.yaml
  src/nav/apm.yml
Labels: content, from_tw

#9590 style(NRQL): Update funnels screenshot
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/funnels-evaluate-data-series-related-events.mdx
  src/images/crop-insights-funnels.png
Labels: content, from_tw

#9695 Update aws-apprunner.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-apprunner.mdx
  src/nav/infrastructure.yml
Labels: content

#9570 gh-troubleshooting-revamp
  src/content/docs/style-guide/writing-docs/writer-workflow/github-troubleshooting.mdx
Labels: content, from_tw

#9699 Add python agent v8.2.1 release notes
  src/content/docs/apm/agents/python-agent/getting-started/python-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-80201.mdx
Labels: content, from_internal

#9698 Update Log Parsing Section with new updates
  src/content/docs/logs/ui-data/parsing.mdx
  src/i18n/content/jp/docs/logs/ui-data/parsing.mdx
  src/i18n/content/kr/docs/logs/ui-data/parsing.mdx
  src/images/log-parsing101022.png
Labels: content, from_internal

#9701 docs: Add syntax highlighting to .NET API code
  src/content/docs/apm/agents/net-agent/net-agent-api/ignore-apdex.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/ignore-transaction.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/incrementcounter-net-agent-api.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/recordcustomevent-net-agent-api.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/recordmetric-net-agent-api.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/recordresponsetimemetric-net-agent-api.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/set-application-name.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/set-transaction-uri.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/set-user-parameters.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/start-agent.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/tracemetadata-net-agent-api-0.mdx
Labels: content, from_internal

#9706 Update SLM, move instrumentation features
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-comparison.mdx
Labels: content, from_internal

#9597 docs: added the literal default values
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#9594 docs: put backticks around the entire method name
  src/content/docs/apm/agents/net-agent/troubleshooting/missing-couchbase-metrics-net.mdx
Labels: content, from_internal

#9595 adocs: put code in a block for readability
  src/content/docs/apm/agents/net-agent/troubleshooting/azure-pipelines-wipes-out-newrelicazurewebsitesextension-directories.mdx
Labels: content, from_internal

#9716 fix(active sessions): align w/ IP addresses
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
Labels: content, from_tw

#9620 feat(whats-new): Starting on November 3rd, 2022, when you update to o…
  src/content/whats-new/2022/10/whats-new-10-7-Go-PHP-agent-updates.md
Labels: content, from_internal, what's new

#9721 fix(whats-new): fix releasedate typo
  src/content/whats-new/2022/10/whats-new-10-7-Go-PHP-agent-updates.md
Labels: content, from_tw

#9718 style(style guide): JavaScript capitalization
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#9717 docs: remove duplicate page entry
  src/nav/kubernetes-pixie.yml
Labels: content, from_external

#9671 Several new NRQL features
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#9723 Added React Native Release notes for 0.0.6
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-006.mdx
Labels: content, from_internal

#9655 NEWRELIC-3777 add docs for custom instrumentation in ESM
  src/content/docs/apm/agents/nodejs-agent/api-guides/guide-using-nodejs-agent-api.mdx
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/es-modules.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#9651 Link to supported Java frameworks
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
Labels: content, from_internal

#9670 Added link to "restart your infrastructure agent"
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#9734 chore(content): removed broken link
  src/content/docs/infrastructure/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
Labels: content, from_tw

#9733 Remove instructions to use NerdGraph to delete Browser applications
  src/content/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
Labels: content, from_internal

#9742 fix: remove unnecessary hashes from redirect paths
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
Labels: content, from_tw

#9736 fix(aum): add `suspended` note
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#9569 App launch time new docs
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/android-sdk-api-guide.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/with-application-version.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/with-launch-activity-name.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-app-launch-time-android-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/introduction-app-launch-times.mdx
  src/nav/mobile.yml
Labels: content, from_internal

#9743 Add forward slash before internal urls in links
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
  src/content/docs/alerts-applied-intelligence/transition-guide.mdx
  src/content/docs/apis/nerdgraph/examples/configure-infinite-tracing-graphql.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-log-parsing-rules-tutorial.mdx
  src/content/docs/apm/agents/go-agent/configuration/distributed-tracing-go-agent.mdx
  src/content/docs/apm/agents/java-agent/getting-started/monitor-your-java-app.mdx
  src/content/docs/apm/agents/manage-apm-agents/configuration/high-security-mode.mdx
  src/content/docs/apm/agents/net-agent/custom-instrumentation/create-transactions-xml-net.mdx
  src/content/docs/apm/agents/php-agent/configuration/distributed-tracing-php-agent.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/data-apis/convert-to-metrics/creating-metric-rules-requirements-tips.mdx
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-config.mdx
  src/content/docs/mlops/bring-your-own/mlops-byo.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-group-filter-your-crashes.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/mobile-http-error-profiles-find-error-causes.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/new-relic-solutions/observability-maturity/customer-experience/bottom-funnel-analysis-customer-journey-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-optimize-ingest-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/optimize-slm-guide.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/diagnostics-cli-nrdiag/diagnostics-cli-nrdiag.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-500.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1162.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-600.mdx
  src/content/docs/release-notes/mobile-release-notes/xcframework-release-notes/xcframework-agent-730.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr22-01.mdx
  src/content/docs/style-guide/writing-docs/article-templates/api-tutorial-template.mdx
  src/content/docs/style-guide/writing-strategies/organize-doc.mdx
Labels: content, from_tw

#9585 (Browser) fix:update core web vitals link
  src/content/docs/browser/browser-monitoring/getting-started/browser-summary-page.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details.mdx
Labels: content, from_tw

#9740 fix(usage plan): edits re: APOF
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/accounts/original-accounts-billing/original-data-retention/event-data-retention-original-pricing-plan.mdx
  src/content/docs/licenses/license-information/faq/new-relic-one-pricing-plan-frequently-asked-questions.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
Labels: content, from_tw

#9741 Add gRPC
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
Labels: content, from_internal

#9728 Updates to Java branching doc (NR-56333)
  src/install/config/java.yaml
  src/install/java/agentConfig.mdx
  src/install/java/frameworkInstallation/default.mdx
  src/install/java/frameworkInstallation/jetty.mdx
  src/install/java/license.mdx
  src/install/java/whatsNext.mdx
Labels: content, from_tw

#9762 Update usage-dictionary.mdx
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#9764 fix(api perf dashboard): fixing UI path
  src/content/docs/query-your-data/explore-query-data/dashboards/explore-public-api-performance-dashboard.mdx
Labels: content, from_tw

#9729 test(homepage): Swap data dict for Java install
  src/i18n/translations/en/translation.json
  src/pages/index.js
Labels: content, from_tw

#9731 Omnimap-powered maps experience docs updates
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/automaps.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/explore-downstream-dependencies-new-relic-one.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/maps-in-context.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/how-use-service-maps.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/introduction-service-maps.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/service-maps-apm.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/use-workloads.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/service-maps-apm.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/service-maps-apm.mdx
  src/images/automapOmnimapView.png
  src/images/omnimapAutomapControls.png
  src/images/omnimapAutomapTooltip.png
  src/images/omnimapAutomapView.png
  src/images/omnimapAutomapViewRel3.png
  src/images/omnimapDependencies.png
  src/images/omnimapServiceMaps.png
  src/images/omnimapServiceMapsRightPane.gif
  src/images/omnimapServiceMapsTopNav.png
  src/images/omnimapTimewarp.png
  src/images/omnimapWorkloadsOverview.png
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#9719 Oct 13 morning: Whats-new NRQL improvements
  src/content/whats-new/2022/10/images/NRQL-Productivity-1.png
  src/content/whats-new/2022/10/images/NRQL-Productivity-2.png
  src/content/whats-new/2022/10/whats-new-10-13-nrql-productivity-improvements.md
Labels: content, from_internal

#9772 Spelling correction
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
Labels: content, from_internal

#9768 Update introduction-new-relic-rest-api-v2.mdx
  src/content/docs/apis/rest-api-v2/get-started/introduction-new-relic-rest-api-v2.mdx
Labels: content, from_internal

#9776 docs: put code in backticks
  src/content/docs/apm/agents/nodejs-agent/troubleshooting/troubleshooting-large-memory-usage-nodejs.mdx
Labels: content, from_internal

#9778 fix(java install): fixing curl
  src/install/java/download/default.mdx
  src/install/java/download/docker.mdx
Labels: content, from_tw

#9780 fix(whats-new): fix date
  src/content/whats-new/2022/07/whats-new-07-28-TLS-EOL.md
Labels: content, from_tw

#9782 fix(nrql): add alert mentions
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
Labels: content, from_tw

#9787 Add summary to What's New post on NRQL variables, etc.
  src/content/whats-new/2022/10/whats-new-10-13-nrql-productivity-improvements.md
Labels: content, from_internal

#9786 Metrics/spans, semantic conventions, server/client distinction
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-summary-page.mdx
Labels: content, from_internal

#9785 Note semantic conventions, tweak page descriptions
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-view-your-data.mdx
Labels: content, from_internal

#9791 Daily release/10/13/22/evening
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-find-entities.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-summary-page.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-view-your-data.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/whats-new/2022/10/whats-new-10-13-nrql-productivity-improvements.md
Labels: content, from_tw

#9788 fix(infra release): 1.32.0
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1320.mdx
Labels: content, from_tw

#9713 Neutral double qoutation marks to be used for string defined inside the `include_matching_metrics:`
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_external

#9660 New OMA guide: reliability eng diagnostics (RED)
  src/content/docs/new-relic-solutions/observability-maturity/introduction.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/diagnostics-beginner-guide.mdx
  src/images/PostTo-Slack.png
  src/images/ReplyFromSlack.gif
  src/images/ResolvedOnSlack.png
  src/images/alerts-ai-summary.png
  src/images/oma-upr-pattern-abnormal-compare.png
  src/images/oma-upr-pattern-abnormal.png
  src/images/oma-upr-pattern-normal-percentile.png
  src/images/oma-upr-pattern-normal.png
  src/images/postmortem-7.png
  src/nav/new-relic-solutions.yml
Labels: content, from_internal

#9803 Ruby agent supports Puma 6
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
Labels: content, from_internal

#9804 Add new queues to SyntheticsPrivateLocationStatus
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, from_internal

#9805 docs: +lang identifiers and code in backticks
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
Labels: content, from_internal

#9807 release notes for react-native-agent 0.0.7
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-007.mdx
Labels: content, from_internal

#9812 Updates link for insights query key
  src/content/docs/more-integrations/grafana-integrations/set-configure/configure-new-relic-prometheus-data-source-grafana.mdx
Labels: content, from_internal

#9811 Add a note about Insights query keys
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_internal

#9814 fix(parsing): update definition
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_tw

#9810 chore(agile handbook): Update image import statements
  src/content/docs/agile-handbook/key-concepts/agile-sprints-profusion-of-terms.mdx
  src/content/docs/agile-handbook/sprint-mechanics/sprint-workflow-and-jira-boards.mdx
  src/images/agile-handbook_diagram_communication-lines-in-team.png
  src/images/agile-handbook_diagram_how-to-handle-interruptions.png
Labels: content, from_tw

#9813 Update MSSQL Compatibility Section
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#9816 fix(style guide): Better UI path info, tweak nav
  src/content/docs/style-guide/formatting/ui-paths.mdx
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
  src/content/docs/style-guide/writing-docs/article-templates/apistyleguidelines-example-agent-api.mdx
  src/content/docs/style-guide/writing-docs/article-templates/landing-page-template.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#9815 Alerts pathing cleanup
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/provide-runbook-instructions-alert-activity.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-incidents/acknowledge-alert-incidents.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-incidents/view-violation-event-details-incidents.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/muting-rules-suppress-notifications.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/update-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/create-edit-or-find-alert-policy.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/update-or-disable-policies-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/view-policies-conditions-our-products.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/your-first-nrql-condition.mdx
  src/content/docs/apis/rest-api-v2/get-started/get-app-other-ids-new-relic-one.mdx
  src/content/docs/apm/agents/ruby-agent/features/ruby-vm-measurements.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/get-browser-side-troubleshooting-details-har-file.mdx
  src/content/docs/data-apis/get-started/nrdb-horsepower-under-hood.mdx
  src/content/docs/mlops/integrations/aporia-mlops-integration.mdx
  src/content/docs/mlops/integrations/comet-mlops-integration.mdx
  src/content/docs/mlops/integrations/dagshub-mlops-integration.mdx
  src/content/docs/mlops/integrations/datarobot-mlops-integration.mdx
  src/content/docs/mlops/integrations/mona-mlops-integration.mdx
  src/content/docs/mlops/integrations/superwise-mlops-integration.mdx
  src/content/docs/mlops/integrations/truera-mlops-integration.mdx
Labels: content, from_tw

#9821 feat(checksPending): Explained new attributes
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
  src/data-dictionary/events/SyntheticsPrivateLocationStatus/checksPending.md
  src/data-dictionary/events/SyntheticsPrivateLocationStatus/jobManagerHeavyweightJobs.md
  src/data-dictionary/events/SyntheticsPrivateLocationStatus/minionHeavyweightJobs.md
  src/data-dictionary/events/SyntheticsPrivateLocationStatus/pingJobs.md
Labels: content, from_internal

#9789 feat(whats-new): new ui GA (Publish morning 10/17)
  src/content/whats-new/2022/10/whats-new-10-17-new-ui-ga.md
Labels: what's new

#9824 Correct expected errors behavior
  src/content/docs/apm/agents/java-agent/configuration/java-agent-error-configuration.mdx
Labels: content, from_internal

#9829 add "Order" to available fields and explain that lower number = higher precedence.
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/metric-normalization-rules.mdx
Labels: content, from_internal

#9707 Update alerts-concepts-workflow.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/alerts-concepts-workflow.mdx
Labels: content, from_internal

#9666 An attempt at creating a simple, demo branching doc
  src/content/docs/style-guide/writing-docs/article-templates/branching-doc-guide.mdx
  src/install/config/agent-config/demo-config.yml
  src/install/config/demo.yaml
  src/install/demo/agentConfig.mdx
  src/install/demo/appInfo.mdx
  src/install/demo/dropdown1/default.mdx
  src/install/demo/dropdown1/firstOption.mdx
  src/install/demo/dropdown1/secondOption.mdx
  src/install/demo/dropdown2/default.mdx
  src/install/demo/dropdown2/thirdOption.mdx
  src/install/demo/intro.mdx
  src/install/demo/whatsNext.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#9832 Authorities need to be unique
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-app-launch-time-android-apps.mdx
Labels: content, from_internal

#9840 Adding asnLatitude, asnLongitude attributes to Mobile events to documentation
  src/data-dictionary/events/PageView/asnLatitude.md
  src/data-dictionary/events/PageView/asnLongitude.md
Labels: content, from_internal

#9841 Added mysql windows log template
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-integration.mdx
Labels: content, from_internal

#9547 Rabbitmq Windows logging template docs
  src/content/docs/infrastructure/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
Labels: content, from_internal

#9501 Add info about synth overage cost
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/monitor-limits.mdx
Labels: content, from_tw

#9842 Add language identifiers and fix markdown
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/migration-7x-guide.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/migration-8x-guide.mdx
Labels: content, from_internal

#9526 What's new: OTel metrics-based Transactions
  src/content/whats-new/2022/10/images/otel-txn-metrics-most-time.png
  src/content/whats-new/2022/10/images/otel-txn-metrics-toggle.png
  src/content/whats-new/2022/10/whats-new-otel-txn-metrics.md
Labels: content, from_internal, whats new

#9818 Oct 18 morning: "What's new" Roku agent post
  src/content/whats-new/2022/10/images/Roku-nerdlet.png
  src/content/whats-new/2022/10/whats-new-10-14-roku-agent.md
Labels: content, from_internal, whats new

#9819 fix(rename accounts): add PAPI ref
  src/content/docs/accounts/accounts/account-maintenance/change-your-new-relic-account-name.mdx
Labels: content, from_tw

#9848 fix(node agent): syntax error
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
Labels: content, from_internal

#9849 fix(node agent): custom event limit back to 1000
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#9836 fix(OM RED): some edits
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/diagnostics-beginner-guide.mdx
Labels: content

#9864 NEWRELIC-4620 - Nodejs Agent: correct version for DT enabled by default
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/distributed-tracing-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#9866 docs: added validation step for console logs
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/jenkins/monitoring-jenkins-ot.mdx
Labels: content, from_internal

#9875 Metrics support in Transactions
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-transactions-page.mdx
Labels: content, from_internal

#9506 feat(Azure Flexible Databases): added doc for new integration to Flexible type Azure databases
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-database-mysql-flexible-server-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-database-postgresql-flexible-server-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#9883 added references to oma where needed
  src/content/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/alerts-best-practices.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/apm-best-practices-guide.mdx
Labels: content, from_internal

#9884 fix: NR-58642: Add documentation of the length() function for strings
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#9887 Update opentelemetry-best-practices-metrics.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
Labels: content, from_internal

#9783 DO NOT MERGE | chore(vm): add vulnerability management capability to data plus content
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
Labels: content, from_tw

#9858 Clarifications about role vs user type access
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-capabilities.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
Labels: content, from_tw

#9873 First batch of Codestream screenshots (NR-51379)
  src/content/docs/codestream/codestream-integrations/msteams-integration.mdx
  src/content/docs/codestream/codestream-integrations/notifications.mdx
  src/content/docs/codestream/codestream-integrations/slack-integration.mdx
  src/content/docs/codestream/codestream-settings/account-settings.mdx
  src/content/docs/codestream/codestream-settings/team-administration.mdx
  src/content/docs/codestream/how-use-codestream/discuss-code.mdx
  src/images/codestream_screenshot-crop_account-menu-options.png
  src/images/codestream_screenshot-crop_add-related-codemark-button.png
  src/images/codestream_screenshot-crop_blame-map.png
  src/images/codestream_screenshot-crop_choose-slack-channel.png
  src/images/codestream_screenshot-crop_choose-slack-direct-message.png
  src/images/codestream_screenshot-crop_codemark-add-code-block.png
  src/images/codestream_screenshot-crop_codemark-comment-example.png
  src/images/codestream_screenshot-crop_codemark-context-menu.png
  src/images/codestream_screenshot-crop_codemark-dropdown-menu.png
  src/images/codestream_screenshot-crop_codemark-get-permalink-button.png
  src/images/codestream_screenshot-crop_codemark-inline-image-example.png
  src/images/codestream_screenshot-crop_codemark-issue-example.png
  src/images/codestream_screenshot-crop_codemark-multi-code-block-example.png
  src/images/codestream_screenshot-crop_codemark-on-slack.png
  src/images/codestream_screenshot-crop_codemark-select-code-block-range.png
  src/images/codestream_screenshot-crop_codemark-shared-to-slack-channel.png
  src/images/codestream_screenshot-crop_codemark-sharing-options.png
  src/images/codestream_screenshot-crop_codemark-slack-unauthenticated.png
  src/images/codestream_screenshot-crop_codemark-slack-vs-codestream.png
  src/images/codestream_screenshot-crop_codemark-with-code-diff.png
  src/images/codestream_screenshot-crop_codemark-with-gutter-icon.png
  src/images/codestream_screenshot-crop_codemarks-open-resolved-archived.png
  src/images/codestream_screenshot-crop_codemarks-section-header-icons.png
  src/images/codestream_screenshot-crop_codemarks-spatial-view.png
  src/images/codestream_screenshot-crop_codestream-desktop-notification.png
  src/images/codestream_screenshot-crop_codestream-issue-on-jira.png
  src/images/codestream_screenshot-crop_codestream-pull-request-notification.png
  src/images/codestream_screenshot-crop_compose-codemark.png
  src/images/codestream_screenshot-crop_edit-account-setting-example.png
  src/images/codestream_screenshot-crop_feedback-request-team-settings.png
  src/images/codestream_screenshot-crop_issue-tracking-integrations.png
  src/images/codestream_screenshot-crop_jetbrains-compose-codemark.gif
  src/images/codestream_screenshot-crop_jira-linked-issues.png
  src/images/codestream_screenshot-crop_msteams-add-bot-button.png
  src/images/codestream_screenshot-crop_msteams-codestream-app-page.png
  src/images/codestream_screenshot-crop_msteams-codestream-connect-bot-message.png
  src/images/codestream_screenshot-crop_msteams-codestream-select-channel.png
  src/images/codestream_screenshot-crop_msteams-example-codestream-message.png
  src/images/codestream_screenshot-crop_msteams-token-example.png
  src/images/codestream_screenshot-crop_new-issue-jira-options.png
  src/images/codestream_screenshot-crop_organization-member-list.png
  src/images/codestream_screenshot-crop_organization-menu-options.png
  src/images/codestream_screenshot-crop_organization-menu.png
  src/images/codestream_screenshot-crop_reference-code-blocks.png
  src/images/codestream_screenshot-crop_related-codemark-example.png
  src/images/codestream_screenshot-crop_resolve-codemark-discussion.png
  src/images/codestream_screenshot-crop_show-codemarks-options.png
  src/images/codestream_screenshot-crop_tags-example.png
  src/images/codestream_screenshot-full_vscode-discuss-code.gif
Labels: content, from_tw

#9880 chore(screenshots): infra1
  src/content/docs/infrastructure/amazon-integrations/connect/connect-aws-govcloud-new-relic.mdx
  src/content/docs/infrastructure/amazon-integrations/troubleshooting/authentication-issues.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/introduction-amazon-ecs-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/apache-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cassandra-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/couchbase-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/elasticsearch/elasticsearch-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/haproxy-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/hashicorp-consul-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ibmmq-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-activemq.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/memcached-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nagios-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/redis/redis-enterprise-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/redis/redis-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/statsd-monitoring-integration-version-2.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/varnish-cache-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-tanzu-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
  src/content/docs/infrastructure/host-integrations/infrastructure-integrations-sdk/specifications/host-integration-executable-file-json-specifications.mdx
  src/content/docs/infrastructure/host-integrations/installation/install-infrastructure-host-integrations.mdx
  src/images/infrastructure_diagram_agents-and-nr.png
  src/images/infrastructure_diagram_sdk-data-structure.png
  src/images/infrastructure_diagram_windows-services.png
  src/images/infrastructure_screenshot-crop_activeMQ-JMX-dashboard.png
  src/images/infrastructure_screenshot-crop_aws-account.png
  src/images/infrastructure_screenshot-crop_aws-add-user.png
  src/images/infrastructure_screenshot-crop_aws-create-user.png
  src/images/infrastructure_screenshot-crop_aws-ecs-dashboard.png
  src/images/infrastructure_screenshot-crop_aws-permission-errors.png
  src/images/infrastructure_screenshot-crop_aws-set-permissions.png
  src/images/infrastructure_screenshot-crop_ibmmq-dashboard.png
  src/images/infrastructure_screenshot-crop_redis-enterprise-dashboard.png
  src/images/infrastructure_screenshot-crop_statsd-nrql-alert.png
  src/images/infrastructure_screenshot-crop_statsd-nrql-condition.png
  src/images/infrastructure_screenshot-crop_vmware-sphere-dashboard.png
  src/images/infrastructure_screenshot-crop_vmware-sphere-workloads.png
  src/images/infrastructure_screenshot-crop_vmware-tanzu-alert-chart.png
  src/images/infrastructure_screenshot-crop_vmware-tanzu-dashboard.png
  src/images/infrastructure_screenshot-crop_windows-services-metric.png
  src/images/os_icon_amazon-linux.png
  src/images/os_icon_centos.png
  src/images/os_icon_debian.png
  src/images/os_icon_ecs.png
  src/images/os_icon_k8.png
  src/images/os_icon_linux.png
  src/images/os_icon_redhat.png
  src/images/os_icon_suse.png
  src/images/os_icon_ubuntu.png
  src/images/os_icon_windows.png
Labels: content, from_tw

#9871 feat(style guide): Add image naming conventions
  src/content/docs/style-guide/images/embed-images.mdx
  src/content/docs/style-guide/images/screenshots-images.mdx
Labels: content, from_tw

#9881 test
  src/content/docs/vulnerability-management/dev-workflow.mdx
  src/content/docs/vulnerability-management/integrations/aws.mdx
  src/content/docs/vulnerability-management/integrations/intro.mdx
  src/content/docs/vulnerability-management/integrations/security-data-api.mdx
  src/content/docs/vulnerability-management/overview.mdx
  src/images/apm-screenshot.png
  src/images/cve-detail.png
  src/images/security_screenshot-full_security-overview.png
  src/images/vulnLibrary.png
  src/images/vulnerabilities-assigned.png
  src/images/vulnerability-management_screenshot-full_entity-view.png
  src/install/config/vm.yaml
  src/install/vm/agentConfig.mdx
  src/install/vm/appInfo.mdx
  src/install/vm/deployment/default.mdx
  src/install/vm/deployment/new.mdx
  src/install/vm/deployment/previous.mdx
  src/install/vm/intro.mdx
  src/install/vm/monitor.mdx
  src/install/vm/whatsNext.mdx
  src/nav/vuln-management.yml
Labels: content

#9860 Add CircleCI integration
  src/content/docs/codestream/how-use-codestream/cicd.mdx
  src/content/docs/codestream/how-use-codestream/discuss-code.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/how-use-codestream/pull-requests.mdx
  src/content/docs/codestream/how-use-codestream/request-feedback.mdx
  src/content/docs/codestream/how-use-codestream/start-work.mdx
  src/content/docs/codestream/how-use-codestream/ui-overview.mdx
  src/images/BlameHovers.png
  src/images/CICDBuilds.png
  src/images/CICDConnect.png
  src/nav/codestream.yml
Labels: content, from_internal

#9868 NRQL screenshots (NR-51395)
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-math-using-select.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/create-smoother-charts-sliding-windows.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/funnels-evaluate-data-series-related-events.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/nrql-segment-your-data-buckets.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/query-infrastructure-dimensional-metrics-nrql.mdx
  src/images/queries-nrql_diagram_dimensional-metrics-naming-convention.png
  src/images/queries-nrql_diagram_non-sliding-window-time-series.png
  src/images/queries-nrql_diagram_slide-by-window-time-series.png
  src/images/queries-nrql_screenshot-crop_NRQL-math-clamp.png
  src/images/queries-nrql_screenshot-crop_NRQL-math-floor-ceiling.png
  src/images/queries-nrql_screenshot-crop_attribute-definitions-query-builder.png
  src/images/queries-nrql_screenshot-crop_event-count-in-query-builder.png
  src/images/queries-nrql_screenshot-crop_event-definitions-query-builder.png
  src/images/queries-nrql_screenshot-crop_funnel-NRQL.png
  src/images/queries-nrql_screenshot-crop_nrql-example-timeseries.png
  src/images/queries-nrql_screenshot-crop_view-query-for-chart.png
  src/images/queries-nrql_screenshot-full_apdex-NRQL-query-builder.png
  src/images/queries-nrql_screenshot-full_facet-by-buckets-NRQL-query-builder.png
  src/images/queries-nrql_screenshot-full_filter-NRQL-query-builder.png
  src/images/queries-nrql_screenshot-full_percentile-NRQL-query-builder.png
  src/images/queries-nrql_screenshot-full_timeseries-smoothed-with-slide-by-NRQL-query-builder.png
  src/images/queries-nrql_screenshot-full_timeseries-spiky-NRQL-query-builder.png
Labels: content, from_tw

#9898 Style guide images (NR-57667)
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/content/docs/style-guide/formatting/code-examples.mdx
  src/content/docs/style-guide/images/screenshots-images.mdx
  src/content/docs/style-guide/structure/lists.mdx
  src/content/docs/style-guide/structure/styleguide-markup-indentation.mdx
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-template.mdx
  src/content/docs/style-guide/writing-docs/docs-translation.mdx
  src/content/docs/style-guide/writing-docs/processes-procedures/understand-edit-docs-site-structure.mdx
  src/images/style-guide_diagram_new-relic-product-naming-hierarchy.png
  src/images/style-guide_screenshot-crop_docs-diagram-with-hardcoded-title-example.png
  src/images/style-guide_screenshot-crop_docs-image-caption-example.png
  src/images/style-guide_screenshot-crop_docs-images-without-caption-example.png
  src/images/style-guide_screenshot-crop_example-image-for-alt-text.png
  src/images/style-guide_screenshot-crop_indents-and-images-correct-example.png
  src/images/style-guide_screenshot-crop_indents-and-images-incorrect-example.png
  src/images/style-guide_screenshot-crop_indents-basic-list.png
  src/images/style-guide_screenshot-crop_indents-collapser-with-correct-line-feeds.png
  src/images/style-guide_screenshot-crop_indents-collapser-with-incorrect-line-feeds.png
  src/images/style-guide_screenshot-crop_indents-four-space-bullets.png
  src/images/style-guide_screenshot-crop_indents-images-example-output.png
  src/images/style-guide_screenshot-crop_indents-nested-procedure-correct-example.png
  src/images/style-guide_screenshot-crop_indents-nested-procedure-incorrect-example.png
  src/images/style-guide_screenshot-crop_indents-snippets-in-list-rendered.png
  src/images/style-guide_screenshot-crop_indents-snippets-in-lists.png
  src/images/style-guide_screenshot-crop_indents-two-space-bullets.png
  src/images/style-guide_screenshot-crop_indents-two-space-numbered-list.png
  src/images/style-guide_screenshot-crop_indents-with-extra-line-feeds.png
  src/images/style-guide_screenshot-crop_syntax-highlighting-example-code.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-cla-signature.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-commit-changes-content.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-commit-changes.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-create-a-branch-and-fetch-upstream.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-create-a-branch.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-create-pull-request.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-delete-branch.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-drag-and-drop-files-and-images.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-fetch-upstream.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-find-a-branch.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-fork.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-github-pencil-icon.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-restore-deleted-branch.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-src-folder.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-upload-files-content.png
  src/images/style-guide_screenshot-crop_whats-new-instructions-upload-files.png
  src/images/style-guide_screenshot-full_doc-in-folder-structure.png
Labels: content, from_tw, symphony

#9896 docs: Add open source licenses for New Relic Vulnerability Management
  src/content/docs/licenses/product-or-service-licenses/vulnerability-management/vm-licenses.mdx
Labels: content, from_internal
