Repository newrelic/docs-website, pull requests merged in 2022-05, with the labels that each got.

#7391 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#7392 Update roles for nri-ecs
  src/content/docs/infrastructure/elastic-container-service-integration/installation/install-ecs-integration.mdx
Labels: content, from_internal

#7320 feat(K8sRancher): adding info to monitor rancher CP
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal

#7241 feat: Infrastructure Agent self instrumentation
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/manage-your-agent/infrastructure-agent-self-instrumentation.mdx
  src/images/apm-transactions.png
  src/images/explorer-apm.png
  src/nav/infrastructure.yml
Labels: content, from_internal

#7394 Cloud inventory EOL notes
  src/content/docs/release-notes/infrastructure-release-notes/cloud-integration-release-notes/eol-cloud-inventory.mdx
Labels: content, from_internal

#7398 chore(gh workflows): workflow for eng board
  .github/workflows/pr-docs-eng-board-beta.yml
Labels: eng

#7399 Apply correct classnames for `inline` and `block` images
  plugins/utils/handlers.js
Labels: eng

#7382 [Mobile-7472] Include AGP 7 updates
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-compatibility-requirements.mdx
Labels: content, from_internal

#7356 Rename some best practices pages
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-alerts.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-attributes.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-batching.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-compression.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-logs.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-overview.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-traces.mdx
Labels: content, from_tw

#7219 Install docs experiments (DOC-7865)
  src/content/docs/apm/agents/java-agent/getting-started/monitor-your-java-app.mdx
  src/content/docs/apm/agents/java-agent/installation/install-java-agent.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/installation/install-java-agent.mdx
  src/images/java-apm-example-dashboards.png
  src/nav/apm.yml
Labels: content, from_tw

#7404 fix(Pixie): fix wording in memory docs
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/manage-pixie-memory.mdx
Labels: content, from_internal

#7395 Wha's New April IO Partners Roundup
  src/content/whats-new/2022/04/images/IO-partners-april2022.png
  src/content/whats-new/2022/04/images/cloudflare-dashboard.webp
  src/content/whats-new/2022/04/images/datazoom_dashboard.png
  src/content/whats-new/2022/04/images/glassbox-new-relic-integration.webp
  src/content/whats-new/2022/04/whats-new-04-28-april-io-roundup.md
Labels: content, from_internal

#7242 Adding IBM MQ on-host integration docs - DO NOT MERGE
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ibmmq-monitoring-integration.mdx
  src/images/ibmmqDashboard.png
  src/nav/infrastructure.yml
Labels: content, from_internal

#7411 fix(guides): typos
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/observability-as-code-guide.mdx
  src/content/docs/new-relic-solutions/overview.mdx
  src/data/homepage.yml
Labels: content, from_tw

#7365 Java Agent 7.7.0 updates (HOLD FOR 5/3 PUBLISH!)
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/logs/logs-context/java-configure-logs-context-all.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-770.mdx
Labels: content, from_internal

#6788 Add React Native beta (DOC-7815)
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/react-native-installation.mdx
  src/images/react-native-java-script-errors.png
  src/nav/mobile.yml
Labels: content, from_tw

#7415 Improvements to 'guides' section
  src/content/docs/new-relic-solutions/get-started/networks.mdx
  src/content/docs/new-relic-solutions/new-relic-one/build-custom-new-relic-one-application.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-lookout-monitor-your-estate-glance.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/what-entity-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/explore-downstream-dependencies-new-relic-one.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/metric-normalization-rules.mdx
  src/content/docs/new-relic-solutions/new-relic-one/view-our-ui-dark-mode.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/troubleshooting/metric-grouping-issues.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/view-our-ui-dark-mode.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/view-our-ui-dark-mode.mdx
  src/nav/new-relic-solutions.yml
  src/nav/root.yml
Labels: content, from_tw

#7416 Daily release/05-03-22 noon
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ibmmq-monitoring-integration.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/manage-pixie-memory.mdx
  src/content/docs/logs/logs-context/java-configure-logs-context-all.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/observability-as-code-guide.mdx
  src/content/docs/new-relic-solutions/overview.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-770.mdx
  src/content/whats-new/2022/04/images/IO-partners-april2022.png
  src/content/whats-new/2022/04/images/cloudflare-dashboard.webp
  src/content/whats-new/2022/04/images/datazoom_dashboard.png
  src/content/whats-new/2022/04/images/glassbox-new-relic-integration.webp
  src/content/whats-new/2022/04/whats-new-04-28-april-io-roundup.md
  src/data/homepage.yml
  src/images/ibmmqDashboard.png
  src/nav/infrastructure.yml
Labels: content, from_tw

#7233 chore: Ruby agent: 8.7.0 Release
  src/content/docs/apm/agents/ruby-agent/api-guides/ruby-custom-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/frameworks/metal-controller-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-860.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-870.mdx
Labels: content, from_internal, pg_observability

#7418 fix(guides nav); fix indent
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#7318 Add OTEL logging references to bullet list
  src/content/docs/logs/get-started/get-started-log-management.mdx
Labels: content, from_tw

#7419 Daily release/05-03-22 evening
  src/content/docs/apm/agents/ruby-agent/api-guides/ruby-custom-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/frameworks/metal-controller-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/react-native-installation.mdx
  src/content/docs/new-relic-solutions/get-started/networks.mdx
  src/content/docs/new-relic-solutions/new-relic-one/build-custom-new-relic-one-application.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-lookout-monitor-your-estate-glance.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/what-entity-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/explore-downstream-dependencies-new-relic-one.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/metric-normalization-rules.mdx
  src/content/docs/new-relic-solutions/new-relic-one/view-our-ui-dark-mode.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/troubleshooting/metric-grouping-issues.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-860.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-870.mdx
  src/data/whats-new-ids.json
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/view-our-ui-dark-mode.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/view-our-ui-dark-mode.mdx
  src/images/react-native-java-script-errors.png
  src/nav/mobile.yml
  src/nav/new-relic-solutions.yml
  src/nav/root.yml
Labels: content, from_tw

#7322 GA Kubernetes v3 integration
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-kubernetes-proxy.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-events-integration.mdx
Labels: content, from_internal

#7420 Kubernetes v3 release
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-kubernetes-proxy.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-events-integration.mdx
Labels: content, from_tw

#7421 style(k8): edited style
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/changes-since-v3.mdx
Labels: content, from_tw

#7424 chore(apm): added redirects
  src/content/docs/apm/agents/nodejs-agent/hosting-services/install-new-relic-nodejs-agent-gae-flexible-environment.mdx
  src/content/docs/apm/agents/python-agent/hosting-services/python-agent-heroku.mdx
Labels: content, from_tw

#7428 What's next - enable log forwarding
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-assisted-install-infrastructure-agent-linux.mdx
Labels: content, from_internal

#7429 What's next - enable log forwarding
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-manual-install-infrastructure-agent-linux.mdx
Labels: content, from_internal

#7431 fix(whats-new): some format issues
  src/content/whats-new/2022/04/whats-new-04-28-april-io-roundup.md
Labels: content, from_tw

#7436 fix(whats-new): typo fix
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/optimize-slm-guide.mdx
  src/content/whats-new/2022/04/whats-new-04-28-april-io-roundup.md
Labels: content, from_tw

#7433 feat(new video): as of may 2022
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/logs-context/logs-in-context.mdx
Labels: content, from_tw

#7414 style(inclusive language): This commit is the agreed on content
  src/content/docs/style-guide/writing-strategies/writing-inclusive-content.mdx
  src/nav/style-guide.yml
Labels: content, from_internal

#7443 Remove email notifications coming soon callout
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content, from_internal

#7445 Add nerdgraph query with new fields
  src/content/docs/apis/nerdgraph/examples/nerdgraph-entities-api-tutorial.mdx
Labels: content, from_internal

#7441 fix(account nerdgraph): rolling back edit
  src/content/docs/apis/nerdgraph/examples/manage-accounts-nerdgraph.mdx
  src/content/docs/data-apis/understand-data/event-data/nrauditevent-event-data-query-examples.mdx
  src/content/docs/data-apis/understand-data/event-data/query-account-audit-logs-nrauditevent.mdx
Labels: content, from_tw

#7449 chore(OHI): fixed links
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-config.mdx
Labels: content, from_tw

#7450 Daily-release/05-05-22-morning
  src/content/docs/apis/nerdgraph/examples/manage-accounts-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-entities-api-tutorial.mdx
  src/content/docs/data-apis/understand-data/event-data/nrauditevent-event-data-query-examples.mdx
  src/content/docs/data-apis/understand-data/event-data/query-account-audit-logs-nrauditevent.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content

#7410 Correct NRQL for Infra container
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/get-logs-version.mdx
Labels: content, from_external

#7451 doc: add SKIP_METRICS_GROUPS config
  src/content/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
Labels: content, from_internal, pg_observability

#7453 fix: downgrade gatsby and update theme version
  package.json
  yarn.lock
Labels: eng

#7457 Daily-release/05-05-22-noon
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/get-logs-version.mdx
Labels: content, from_internal

#7351 Inc intel: environment updates
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/images/incident-intelligence-account-team.png
  src/images/incident-intelligence-cross-account-diagram.png
  src/images/incident-intelligence-environment.png
  src/images/incident-intelligence-nerdgraph.png
Labels: content, from_internal, pg_AI

#7452 Only add translation PRs to localization board
  .github/workflows/pr-triage.yml
Labels: eng

#7455 .NET Agent v9.8.0 release with APM logs-in-context forwarding on by default
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/noticeerror-net-agent-api.mdx
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9800.mdx
Labels: content, from_internal, pg_UXP

#7462 chore: specify the maximum value for max_samples_stored
  src/content/docs/logs/logs-context/configure-logs-context-ruby.mdx
Labels: content, from_internal, pg_observability

#7461 Update advanced-config.mdx
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal, pg_observability

#7460 Update network-syslog-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
Labels: content, from_internal, pg_observability

#7276 feat(php): dt by default
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/features/distributed-tracing-php-agent.mdx
Labels: content, from_internal, pg_observability

#7465 fix: intent to upgrade OTLP notice
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-logs.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-overview.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-traces.mdx
Labels: content, from_internal

#7468 chore(java): removing feature that is not supported for those versions
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#7413 chore(style guide): Clarify version number references
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#7472 Zach's daily small changes
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#7440 There are no more sign ups for expanded anomaly detection
  src/content/docs/alerts-applied-intelligence/applied-intelligence/proactive-detection/expanded-anomaly-detection.mdx
Labels: content, from_tw

#7476 Update parsing.mdx
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_tw

#7480 fix/network monitoring clarifications
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
  src/content/docs/network-performance-monitoring/advanced/snmp-profiles.mdx
Labels: content, from_tw

#7478 Log obfuscation - add data plus requirement
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
Labels: content, from_tw

#7483 fix(logs): typos
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
Labels: content, from_tw

#7477 Update obfuscation-ui.mdx
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
Labels: content, from_tw

#7488 update dashboard json example
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, from_internal

#7489 feat: add uninstall procedure for infra-agent beanstalk
  src/content/docs/infrastructure/install-infrastructure-agent/config-management-tools/configure-infrastructure-agent-aws-elastic-beanstalk.mdx
Labels: content, from_internal

#7108 Update errors-inbox.mdx (Publish ~May 9, 2022)
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/images/errors-bulk-actions.png
Labels: content, from_internal

#7493 Scoped view highlight & OTel support
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/images/scopedBrowser.png
  src/images/scopedOtel.png
Labels: content, from_internal

#7497 chore(logs in context) - update .NET config snippets
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal

#7503 Update aws-lambda-sending-logs-s3.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-logs-s3.mdx
Labels: content, from_internal

#7506 Couple small changes
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-basic.mdx
Labels: content, from_tw

#7362 fix(CircleCI): Updated casing to match our style guide
  src/content/docs/logs/forward-logs/circleci-logs.mdx
Labels: content, from_tw

#7463 Rewrite of the Monitoring Performance article
  src/content/docs/codestream/how-use-codestream/discuss-code.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/how-use-codestream/pull-requests.mdx
  src/content/docs/codestream/how-use-codestream/start-work.mdx
  src/content/docs/codestream/start-here/codestream-new-relic.mdx
  src/images/ObservabilitySection-connect1.png
  src/images/ObservabilitySection-connected1.png
  src/images/associate_repos.png
  src/images/code-level-charts.png
  src/images/code-level-metrics.png
  src/images/entity_selection.png
  src/images/pixie_dynamic_logging.png
Labels: content, from_internal

#7508 Replace old terminology with new
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
Labels: content, from_internal

#7512 style(logs)
  src/content/docs/logs/logs-context/configure-logs-context-ruby.mdx
Labels: content, from_tw

#7513 style(core)
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/what-entity-new-relic.mdx
Labels: content, from_tw

#7515 Tiny fix - OpenTelemetry is one word
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content, from_internal

#7517 Daily release/05-10-22 morning
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
  src/content/docs/codestream/how-use-codestream/discuss-code.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/how-use-codestream/pull-requests.mdx
  src/content/docs/codestream/how-use-codestream/start-work.mdx
  src/content/docs/codestream/start-here/codestream-new-relic.mdx
  src/content/docs/logs/forward-logs/circleci-logs.mdx
  src/content/docs/logs/logs-context/configure-logs-context-ruby.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-basic.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-view-your-data.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/what-entity-new-relic.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/get-started-incident-intelligence.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/manage-accounts-nerdgraph.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/nerdgraph-entities-api-tutorial.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/net-agent-api/noticeerror-net-agent-api.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/hosting-services/install-new-relic-nodejs-agent-gae-flexible-environment.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/features/distributed-tracing-php-agent.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/hosting-services/python-agent-heroku.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/frameworks/metal-controller-instrumentation.mdx
  src/i18n/content/jp/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/i18n/content/jp/docs/data-apis/understand-data/event-data/nrauditevent-event-data-query-examples.mdx
  src/i18n/content/jp/docs/data-apis/understand-data/event-data/query-account-audit-logs-nrauditevent.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-config.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-assisted-install-infrastructure-agent-linux.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-kubernetes-proxy.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/get-started/changes-since-v3.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/get-logs-version.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-events-integration.mdx
  src/i18n/content/jp/docs/logs/get-started/get-started-log-management.mdx
  src/i18n/content/jp/docs/logs/logs-context/configure-logs-context-ruby.mdx
  src/i18n/content/jp/docs/logs/logs-context/logs-in-context.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-monitoring-react-native/react-native-installation.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/build-custom-new-relic-one-application.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-lookout-monitor-your-estate-glance.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/ui-data/explore-downstream-dependencies-new-relic-one.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/ui-data/metric-normalization-rules.mdx
  src/i18n/content/jp/docs/new-relic-solutions/observability-maturity/operational-efficiency/observability-as-code-guide.mdx
  src/i18n/content/jp/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/optimize-slm-guide.mdx
  src/i18n/content/jp/docs/new-relic-solutions/solve-common-issues/troubleshooting/metric-grouping-issues.mdx
  src/i18n/content/kr/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/i18n/content/kr/docs/logs/get-started/get-started-log-management.mdx
  src/i18n/content/kr/docs/logs/logs-context/configure-logs-context-ruby.mdx
  src/i18n/content/kr/docs/logs/logs-context/logs-in-context.mdx
  src/images/ObservabilitySection-connect1.png
  src/images/ObservabilitySection-connected1.png
  src/images/associate_repos.png
  src/images/code-level-charts.png
  src/images/code-level-metrics.png
  src/images/entity_selection.png
  src/images/errorgroupOccurences.png
  src/images/pixie_dynamic_logging.png
Labels: content, from_tw

#7495 fix(Browser Ajax): Screenshots
  src/content/docs/browser/browser-monitoring/browser-pro-features/ajax-page-identify-time-consuming-calls.mdx
  src/content/docs/browser/new-relic-browser/configuration/group-browser-metrics-urls.mdx
  src/images/nr-one-ajax-browser.png
  src/images/nr-one-ajax-details.png
  src/nav/browser.yml
Labels: content, from_tw

#6689 eventBridge-docs
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBrdige-channel_create_rule.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBridge-channel_associate-event-source.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBridge-channel_event-template.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBridge-channel_guide.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBridge-channel_rule_detail.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBridge-channel_rule_pattern.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBridge-channel_select-event-source.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventbridge-channel_select-destination.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventbridge-destination.png
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/images/eventBridge-event-pattern.png
Labels: content, from_internal

#7500 Publish 5/10: errors inbox(whats-new): add ei otel post
  src/content/whats-new/2022/05/whats-new-5-10-ei-otel.md
Labels: content, from_internal

#7260 C++ Otel Example
  src/content/docs/apm/agents/c-sdk/get-started/introduction-c-sdk.mdx
  src/content/docs/apm/agents/c-sdk/get-started/otel_cpp_example.mdx
  src/nav/apm.yml
Labels: content, from_internal, pg_TDP

#7482 Fix indentation of snippets and fix link to endpoints
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-basic.mdx
Labels: content, from_tw

#7520 Add Diagnostics Release Notes
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-210.mdx
Labels: content, from_internal

#7521 Daily release/05-10-22 noon
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBrdige-channel_create_rule.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBridge-channel_associate-event-source.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBridge-channel_event-template.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBridge-channel_guide.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBridge-channel_rule_detail.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBridge-channel_rule_pattern.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventBridge-channel_select-event-source.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventbridge-channel_select-destination.png
  src/content/docs/alerts-applied-intelligence/notifications/images/eventbridge-destination.png
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/content/docs/apm/agents/c-sdk/get-started/introduction-c-sdk.mdx
  src/content/docs/apm/agents/c-sdk/get-started/otel_cpp_example.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/ajax-page-identify-time-consuming-calls.mdx
  src/content/docs/browser/new-relic-browser/configuration/group-browser-metrics-urls.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-basic.mdx
  src/content/whats-new/2022/05/whats-new-5-10-ei-otel.md
  src/i18n/content/jp/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/proactive-detection/expanded-anomaly-detection.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/manage-accounts-nerdgraph.mdx
  src/i18n/content/jp/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/i18n/content/jp/docs/logs/ui-data/obfuscation-ui.mdx
  src/i18n/content/jp/docs/logs/ui-data/parsing.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-logs.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-overview.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-traces.mdx
  src/i18n/content/kr/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/i18n/content/kr/docs/logs/ui-data/obfuscation-ui.mdx
  src/i18n/content/kr/docs/logs/ui-data/parsing.mdx
  src/images/eventBridge-event-pattern.png
  src/images/nr-one-ajax-browser.png
  src/images/nr-one-ajax-details.png
  src/nav/apm.yml
  src/nav/browser.yml
Labels: content, from_tw

#7522 Daily release/05-10-22-noon-2
  src/content/docs/new-relic-solutions/solve-common-issues/diagnostics-cli-nrdiag/pass-command-line-options-nrdiag.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-210.mdx
  src/data/whats-new-ids.json
Labels: content, from_tw

#7523 Zach's daily small changes may 10
  src/content/docs/accounts/accounts-billing/account-setup/create-your-new-relic-account.mdx
  src/content/docs/accounts/accounts-billing/account-structure/add-accounts.mdx
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
Labels: content, from_tw

#7526 fix(pricing): edit to deprecation notes
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
Labels: content, from_tw

#6894 fix(user mgmt apis): new doc
  gatsby-config.js
  src/content/docs/apis/nerdgraph/examples/nerdgraph-user-mgmt.mdx
Labels: content, from_tw

#6996 new(account/user mgmt tutorial): new doc
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/account-user-mgmt-tutorial.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
  src/content/docs/accounts/accounts/automated-user-management/scim-support-automated-user-management.mdx
  src/nav/accounts.yml
Labels: content, from_tw

#7529 fix(accounts): add to NG nav & intro
  src/content/docs/apis/nerdgraph/examples/nerdgraph-user-mgmt.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#7487 Slack Private Channels
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#7448 feat(NPM): npm release
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-health.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-management.mdx
  src/content/docs/network-performance-monitoring/advanced/snmp-profiles.mdx
  src/content/docs/network-performance-monitoring/get-started/npm-introduction.mdx
  src/content/docs/network-performance-monitoring/monitoring-network-data/visualize-network-data.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/aws-vpc-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/no-device-in-UI.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-kentik-default.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-no-devices.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-polling-missing-metrics.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-walk.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/install-new-relic.mdx
  src/i18n/content/jp/docs/network-performance-monitoring/get-started/npm-introduction.mdx
  src/images/overviewNpm.png
  src/images/overview_navigator.jpg
  src/nav/network-performance-monitoring.yml
Labels: content, from_tw

#7518 feat(k8): added back content
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-kubernetes-proxy.mdx
Labels: content, from_tw

#7531 fix: correct OTLP attribute value length limit
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-attributes.mdx
Labels: content, from_internal

#7444 Add new page for errors inbox email notifications
  src/content/docs/errors-inbox/errors-email-notifications.mdx
  src/images/errors-inbox-assigned-user.png
  src/images/errors-inbox-unassigned-message.png
  src/nav/errors-inbox.yml
Labels: content, from_internal, pg_observability

#7533 Adding an additional troubleshooting message.
  src/content/docs/errors-inbox/error-limiting.mdx
Labels: content, from_internal

#7534 Update use-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
Labels: content, from_internal

#7537 improve oracledb ohi doc with skip metrics example
  src/content/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
Labels: content, from_internal

#7541 Whats new network monitoring post
  src/content/whats-new/2022/05/images/network_monitoring.png
  src/content/whats-new/2022/05/whats-new-5-12-network-monitoring.md
Labels: content, from_internal, what's new

#7543 05 11 22 morning release
  src/components/SubNavigation.js
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/use-incident-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/content/docs/errors-inbox/error-limiting.mdx
  src/content/docs/errors-inbox/errors-email-notifications.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-kubernetes-proxy.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-attributes.mdx
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-health.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-management.mdx
  src/content/docs/network-performance-monitoring/advanced/snmp-profiles.mdx
  src/content/docs/network-performance-monitoring/get-started/npm-introduction.mdx
  src/content/docs/network-performance-monitoring/monitoring-network-data/visualize-network-data.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/aws-vpc-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/no-device-in-UI.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-kentik-default.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-no-devices.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-polling-missing-metrics.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-walk.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/install-new-relic.mdx
  src/content/whats-new/2022/05/images/network_monitoring.png
  src/content/whats-new/2022/05/whats-new-5-12-network-monitoring.md
  src/i18n/content/jp/docs/network-performance-monitoring/get-started/npm-introduction.mdx
  src/i18n/translations/en/translation.json
  src/i18n/translations/jp/translation.json
  src/i18n/translations/kr/translation.json
  src/images/errors-inbox-assigned-user.png
  src/images/errors-inbox-unassigned-message.png
  src/images/overviewNpm.png
  src/images/overview_navigator.jpg
  src/nav/errors-inbox.yml
  src/nav/network-performance-monitoring.yml
Labels: content, from_tw

#7546 05 11 22 morning release whats new
  src/content/docs/alerts-applied-intelligence/applied-intelligence/proactive-detection/expanded-anomaly-detection.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-intro.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-setup.mdx
  src/data/whats-new-ids.json
Labels: content, from_tw

#7454 Data dictionary code formatting
  src/data-dictionary/events/AjaxRequest/AjaxRequest.event-definition.md
  src/data-dictionary/events/AjaxRequest/eventId.md
  src/data-dictionary/events/AjaxRequest/groupedPageURL.md
  src/data-dictionary/events/AjaxRequest/groupedRequestUrl.md
  src/data-dictionary/events/AjaxRequest/httpMethod.md
  src/data-dictionary/events/AjaxRequest/httpResponseCode.md
  src/data-dictionary/events/AjaxRequest/requestUrl.md
  src/data-dictionary/events/AjaxRequest/timeSinceBrowserInteractionStart.md
  src/data-dictionary/events/AwsLambdaInvocation/AwsLambdaInvocation.event-definition.md
  src/data-dictionary/events/AwsLambdaInvocation/aws.lambda.coldStart.md
  src/data-dictionary/events/AwsLambdaInvocation/request.headers.contentLength.md
  src/data-dictionary/events/AwsLambdaInvocation/request.headers.contentType.md
  src/data-dictionary/events/AwsLambdaInvocation/type.md
  src/data-dictionary/events/BrowserInteraction/BrowserInteraction.event-definition.md
  src/data-dictionary/events/BrowserInteraction/browserInteractionName.md
  src/data-dictionary/events/BrowserInteraction/firstContentfulPaint.md
  src/data-dictionary/events/BrowserInteraction/firstPaint.md
  src/data-dictionary/events/BrowserInteraction/monitorAccountId.md
  src/data-dictionary/events/BrowserInteraction/monitorJobId.md
  src/data-dictionary/events/BrowserInteraction/previousRouteName.md
  src/data-dictionary/events/BrowserInteraction/targetRouteName.md
  src/data-dictionary/events/BrowserInteraction/timeToConnectEnd.md
  src/data-dictionary/events/BrowserInteraction/timeToConnectStart.md
  src/data-dictionary/events/BrowserInteraction/timeToDomComplete.md
  src/data-dictionary/events/BrowserInteraction/timeToDomContentLoadedEventEnd.md
  src/data-dictionary/events/BrowserInteraction/timeToDomContentLoadedEventStart.md
  src/data-dictionary/events/BrowserInteraction/timeToDomInteractive.md
  src/data-dictionary/events/BrowserInteraction/timeToDomLoading.md
  src/data-dictionary/events/BrowserInteraction/timeToDomainLookupEnd.md
  src/data-dictionary/events/BrowserInteraction/timeToDomainLookupStart.md
  src/data-dictionary/events/BrowserInteraction/timeToFetchStart.md
  src/data-dictionary/events/BrowserInteraction/timeToLoadEventEnd.md
  src/data-dictionary/events/BrowserInteraction/timeToLoadEventStart.md
  src/data-dictionary/events/BrowserInteraction/timeToRedirectEnd.md
  src/data-dictionary/events/BrowserInteraction/timeToRedirectStart.md
  src/data-dictionary/events/BrowserInteraction/timeToRequestStart.md
  src/data-dictionary/events/BrowserInteraction/timeToResponseEnd.md
  src/data-dictionary/events/BrowserInteraction/timeToResponseStart.md
  src/data-dictionary/events/BrowserInteraction/timeToSecureConnectionStart.md
  src/data-dictionary/events/BrowserInteraction/timeToUnloadEventEnd.md
  src/data-dictionary/events/BrowserInteraction/timeToUnloadEventStart.md
  src/data-dictionary/events/BrowserInteraction/trigger.md
  src/data-dictionary/events/BrowserTiming/BrowserTiming.event-definition.md
  src/data-dictionary/events/BrowserTiming/browserTimingName.md
  src/data-dictionary/events/BrowserTiming/timeToTracedCallbackStart.md
  src/data-dictionary/events/BrowserTiming/tracedCallbackDuration.md
Labels: content, from_tw

#7547 fix(accounts): clarifying when create accounts
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
Labels: content, from_tw

#7551 Update new-relic-pre-release-policy.mdx
  src/content/docs/licenses/license-information/referenced-policies/new-relic-pre-release-policy.mdx
Labels: pg_legal, content, from_internal

#7475 Add new doc about linking OTEL apps with K8s
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-apm-applications-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-otel-applications-kubernetes.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-intro.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-k8s.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-explorer-view-performance-across-apps-services-hosts.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-explorer-view-performance-across-apps-services-hosts.mdx
  src/images/k8s-otel-validation.png
  src/nav/integrations.yml
  src/nav/kubernetes-pixie.yml
Labels: content, from_tw

#7554 fix: Typo in "Synthetics"
  src/content/docs/apm/transactions/transaction-traces/introduction-transaction-traces.mdx
Labels: content, from_internal, pg_UXP

#7550 Restore earlier nrai-correlation doc
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
Labels: content, from_tw

#7555 fix(user mgmt): new release note for APIs
  src/content/docs/release-notes/org-user-mgmt-release-notes/org-users-22-05-11.mdx
Labels: content, from_tw

#7527 style(nrql syntax): Minor formatting fixes
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#7556 chore(hero): Delete duplicate step
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
Labels: content, from_tw

#7481 OTLP HTTP/JSON support
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-browser.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-overview.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-setup.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-troubleshooting.mdx
  src/nav/integrations.yml
Labels: content, from_internal

#7558 fix(log obfusc): remove whats-new post
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/tutorial-add-new-user-groups-roles-new-relic-one-user-model.mdx
  src/content/whats-new/2022/03/images/obfuscation_ui.png
  src/content/whats-new/2022/03/whats-new-3-31-obfuscation-iu.md
Labels: content, from_tw

#7545 fix(intro to NR): Add references to network monitoring
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
Labels: content, from_tw

#7560 fix(whats-new): clarifying query burst limits
  src/content/whats-new/2022/04/whats-new-4-14-data-updates.md
Labels: content, from_tw

#7562 Update whats-new-5-12-network-monitoring.md
  src/content/whats-new/2022/05/whats-new-5-12-network-monitoring.md
Labels: what's new

#7563 docs: PHP now defaults to 2000 max spans/min
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
Labels: content, from_internal, pg_observability

#7564 docs: correct spelling variable name
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/react-native-installation.mdx
Labels: content, from_external

#7567 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#7568 New details about NRQL console
  src/content/docs/query-your-data/explore-query-data/query-builder/nrql-console.mdx
Labels: content, from_internal

#7458 fix: add docs re: Node.js auto logs in context (Hold for release)
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
Labels: content, from_internal, pg_UXP

#7470 feat(style guide): Removed semicolon from import statement
  src/content/docs/style-guide/images/embed-images.mdx
Labels: content, from_tw

#7572 Clean up bullet list in collector doc for K8s
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-otel-applications-kubernetes.mdx
Labels: content, from_tw

#7577 docs(Alerts): Add 3 new term threshold operators for static NRQL conditions
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/alerts-conditions-api-field-names.mdx
Labels: content, from_internal

#7582 fix(retention): clarifications & fix to anchor link
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
  src/content/whats-new/2022/04/images/data_plus_comparison.png
Labels: content, from_tw

#7474 fix(glossary): added glossary terms
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
Labels: content, from_tw

#7486 Update OpenShift Kubernetes documentation
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-apm-applications-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_external

#7580 style(Nodejs LiC): Update xrefs
  src/content/docs/apm/agents/nodejs-agent/getting-started/introduction-new-relic-nodejs.mdx
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
  src/content/docs/logs/logs-context/disable-automatic-logging.mdx
  src/content/docs/logs/logs-context/logs-in-context.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-8-11-0.mdx
Labels: content, from_tw

#7588 Add: New check_all_ips discovery option
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-no-devices.mdx
Labels: content, from_internal

#7579 fix(php_agent): Improve guidelines for per-directory INI config
  src/content/docs/apm/agents/php-agent/configuration/php-directory-ini-settings.mdx
Labels: content, from_internal

#7557 Restore AI correlation changes in public doc (Publication date TBD)
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
Labels: content, from_tw

#7591 docs(node.js) Add instrumenting already loaded module
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
Labels: content, from_internal

#7592 fix: updated references to Node.js to use the proper branding
  scripts/actions/translation_workflow/testing/README.md
  src/content/docs/data-apis/ingest-apis/telemetry-sdks-report-custom-telemetry-data.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/new-relic-diagnostics-1418.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/new-relic-diagnostics-1524.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/new-relic-diagnostics-1727.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-example.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-your-own.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/compatibility-requirements-aws-lambda-monitoring.mdx
  src/i18n/content/jp/docs/data-apis/ingest-apis/telemetry-sdks-report-custom-telemetry-data.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-example.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/compatibility-requirements-aws-lambda-monitoring.mdx
Labels: content, from_internal

#7553 adding Korean manual translation
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: eng

#7598 fix(add accounts): adding new UI ability
  src/content/docs/accounts/accounts-billing/account-structure/add-accounts.mdx
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/account-user-mgmt-tutorial.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/tutorial-add-new-user-groups-roles-new-relic-one-user-model.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/overview-user-models.mdx
  src/content/docs/apis/nerdgraph/examples/manage-accounts-nerdgraph.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/tutorial-add-new-user-groups-roles-new-relic-one-user-model.mdx
  src/i18n/content/kr/docs/accounts/accounts-billing/new-relic-one-user-management/tutorial-add-new-user-groups-roles-new-relic-one-user-model.mdx
Labels: content, from_tw

#7597 feat(Logs): Obfuscation UI
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
  src/images/log-obfuscation-exp051322.png
Labels: content, from_tw

#7552 Update i18n-exclusions.yml
  scripts/actions/utils/docs-content-tools/i18n-exclusions.yml
Labels: eng

#7601 docs: add language identifiers for xml
  src/content/docs/apm/agents/net-agent/attributes/net-attribute-examples.mdx
Labels: content, from_internal

#7602 docs: add xml language identifiers
  src/content/docs/apm/agents/net-agent/attributes/enable-disable-attributes-net.mdx
Labels: content, from_internal

#7603 docs: add xml lang identifier
  src/content/docs/apm/agents/net-agent/troubleshooting/no-browser-data-appears-net.mdx
Labels: content, from_internal

#7604 docs: add shell cmd lang identifier
  src/content/docs/apm/agents/net-agent/troubleshooting/profiler-conflicts.mdx
Labels: content, from_internal

#7605 docs: format code and add lang identifiers
  src/content/docs/apm/agents/net-agent/troubleshooting/net-agent-reports-handled-errors.mdx
Labels: content, from_internal

#7606 docs: add lang identifier and fix comment
  src/content/docs/apm/agents/net-agent/troubleshooting/browser-injection-health-check-conflict.mdx
Labels: content, from_internal

#7600 fix: indentation of steps
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-legacy.mdx
Labels: content, from_internal

#7609 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#7617 fix(user tutorial): peer edits
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/account-user-mgmt-tutorial.mdx
  src/nav/accounts.yml
Labels: content, from_tw

#7585 fix(browser): Fix errant bracket
  src/content/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring.mdx
Labels: content, from_tw

#7616 feat/npm troubleshooting doc
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-no-devices.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-unexpected-profile.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#7620 chore(heroku_log_forwarding) - Add deletion info
  src/content/docs/logs/forward-logs/heroku-log-forwarding.mdx
Labels: content, from_internal

#7578 docs: Update 'enabled' configuration to 'agent enabled'
  src/content/docs/apm/agents/java-agent/additional-installation/install-new-relic-java-agent-docker.mdx
Labels: content, from_external

#7618 "What's New" New brand launch post for 5-17
  src/content/whats-new/2022/05/images/Brand-inline_image_Data_for_Engineers.jpg
  src/content/whats-new/2022/05/images/Brand-meta_1200x630.png
  src/content/whats-new/2022/05/whats-new-05-17-new-brand-launch.md
Labels: content, from_internal

#7625 infrastructure-agent release-notes 1.24.3
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1243.mdx
Labels: content, from_internal

#7630 feat: add winevtlog to infra-agent logs forwarding
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#7632 Add logs TCP endpoint for EU region accounts
  src/content/docs/logs/log-api/use-tcp-endpoint-forward-logs-new-relic.mdx
Labels: content, from_internal

#7635 feat(nrsolutions): added alternative port
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#7626 brand update
  src/content/docs/licenses/overview.mdx
Labels: content, from_internal
