Repository newrelic/docs-website, pull requests merged in 2022-12, with the labels that each got.

#10531 Metrics and events sweep
  src/content/docs/apm/agents/nodejs-agent/api-guides/guide-using-nodejs-agent-api.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-custom-metrics.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-vm-measurements.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newreliccustommetric-php-agent-api.mdx
  src/content/docs/apm/agents/python-agent/getting-started/introduction-new-relic-python.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/recordcustommetric-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/recordcustommetrics-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-custom-metrics.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-tips-tricks.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/introduction-single-page-app-monitoring.mdx
  src/content/docs/data-apis/understand-data/metric-data/query-apm-metric-timeslice-data-nrql.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
  src/content/docs/infrastructure/amazon-integrations/troubleshooting/no-data-appears-aws-integrations.mdx
  src/content/docs/infrastructure/infrastructure-integrations/get-started/use-integration-data-new-relic-dashboards.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/content/docs/mlops/bring-your-own/mlops-byo.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/dropwizard/dropwizard-reporter.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-troubleshooting.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-view-your-data.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/infrastructure-monitoring-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-explorer-view-performance-across-apps-services-hosts.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-one.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/create-application-baselines.mdx
  src/content/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/images/ui-redesign-naviagation.gif
Labels: content, from_tw

#10545 Update snowflake-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
Labels: content, from_internal

#10541 Update new-relic-one-usage-plan-descriptions.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
Labels: content, from_internal

#10549 Fixing a broken link
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#10546 Update KSM docs
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-4-2.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-5-0.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-6-0.mdx
Labels: content, from_internal

#10542 Update user-count-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
Labels: content, from_internal

#10552 Upgrade KSM v2 quirks
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal

#10553 feat(prom-agent): duplicated data alert
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/setup-prometheus-agent.mdx
Labels: content, from_internal

#10559 chore: clarify the use of `maximumSamplesStored`
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#10557 fix(logs): drop-filter
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/images/logs_screenshot-full_drop-filter-selection.png
Labels: content, from_external

#10459 Nrql revamp intro (65556 and 65587)
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-how-nrql-works.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
  src/images/queries-nrql_screenshot-crop_basic-nrql-query-example.png
  src/nav/dashboards.yml
Labels: content, from_tw

#10561 fix(alerts): dead link redirect
  src/content/docs/alerts-applied-intelligence/overview.mdx
Labels: content, from_tw

#10563 chore: add release notes for minion release 3.0.72
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3072.mdx
Labels: content, from_internal

#10564 chore: Create release notes for 1.1.27 api-runtime
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.1.27.mdx
Labels: content, from_internal

#10562 fix(alerts): gif
  src/images/alerts_diagram_by-policy.png
Labels: content, from_tw

#10565 chore: Add release notes for new browser runtime
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-1.1.74.mdx
Labels: content, from_internal

#10570 chore(prometheus): fixed broken link
  src/content/docs/infrastructure/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
Labels: content, from_tw

#10569 docs: update shell script example
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-assisted-install-infrastructure-agent-linux.mdx
Labels: content, from_internal

#10491 added infra-agent install guide for suse 15.4
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
Labels: content, from_internal

#10464 A new nav best practices doc
  src/content/docs/style-guide/writing-strategies/nav-best-practices.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#10577 fix(infra): remove aws intregration
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-sys-dist.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-sys-dist.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-sys-dist.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#10392 New status icon for support of features by OTel itself
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-comparison.mdx
Labels: content, from_internal

#10515 fix(k8): add redirect
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
Labels: content, from_tw

#10520 fix method name to disable application log forwarding
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
Labels: content, from_external

#10590 Fix develop
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#10527 NR-69920 clarify infinite tracing config Node.js
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#10558 Add section on automated sources of tags
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
Labels: content, from_internal

#10159 Get started synthetic monitoring
  src/content/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/monitor-limits.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/getting-started/monitor-limits.mdx
  src/i18n/content/kr/docs/synthetics/synthetic-monitoring/getting-started/monitor-limits.mdx
  src/nav/synthetics.yml
Labels: content, from_tw

#10589 Style guide addition to Punctuation page.
  src/content/docs/style-guide/ui-writing/punctuation.mdx
Labels: content, from_internal

#10592 Style guide addition to Product, capability page
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#10581 Style guide addition to Usage page.
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#10593 fix(logs): screenshot
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/images/logs_screenshot-full_drop-filter-selection-1.png
Labels: content, from_internal

#10579 Feat: Update "use your charts" doc
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/images/dashboards_screenshot-crop_choose-null-values.png
  src/images/dashboards_screenshot-crop_null-values.png
Labels: content, from_internal

#10601 docs: infra agent 1.35.0 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1350.mdx
Labels: content, from_internal

#10606 feat(content): added redirect
  src/content/docs/synthetics/synthetic-monitoring/getting-started/monitor-limits.mdx
Labels: content, from_tw

#10412 feat(docs): Revamp homepage nav
  src/nav/codestream.yml
  src/nav/dashboards.yml
  src/nav/integrations.yml
  src/nav/new-relic-solutions.yml
  src/nav/root.yml
Labels: content, from_tw

#10608 fix(nerdgraph): update link
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
Labels: content, from_tw

#10609 fix(docs): removed duplicated preview collapser
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#10556 **ON HOLD: WILL LET DOCS TEAM KNOW WHEN READY TO MERGE*** chore: Update .NET Agent release notes for 9.7 to 10.1 with a notice
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-0-0.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-1-0.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9700.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9710.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9800.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9810.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9900.mdx
Labels: content, from_internal

#10604 Style guide addition to Usage page.
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#10602 Updates to VPC flow log install documentation
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/cloud-flow-logs/aws-vpc-flow-log-monitoring.mdx
Labels: content, from_internal

#10603 Style guide addition to Usage page
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#10001 Update user-settings.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/user-settings.mdx
Labels: content, from_internal

#10600 Update user-settings.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/user-settings.mdx
Labels: content, from_internal

#10616 Update change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/images/alerts_screenshot-full_new-relic-decisions-page.png
  src/images/alerts_screenshot-full_suggested-decisions.png
Labels: content, from_internal

#10607 fix(quick launch guide): Remove redundant copy
  src/content/docs/new-relic-solutions/get-started/quick-launch-guide.mdx
Labels: content, from_tw

#10614 docs: update browser release list
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
Labels: content, from_internal

#10615 Update kubernetes-integration-install-configure.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_internal

#10594 Create error-users-impacted
  src/content/docs/errors-inbox/error-users-impacted.mdx
  src/images/errors-inbox_screenshot-full_users-impacted.png
  src/nav/errors-inbox.yml
Labels: content, from_tw

#10582 Release 12/06: Update to SNMP guided install
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
  src/images/network_screenshot-full_snmp-guided-install.png
Labels: content, from_internal

#10584 Release 12/06: Update to Network Flow guided install
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/images/network_screenshot-full_network-flows-guided-install.png
Labels: content, from_internal

#10588 docs: add release dates to v1220 release notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1220.mdx
Labels: content, from_internal

#10215 12/6 Afternoon - Android release notes and EOL updates for v6.9.1
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-691.mdx
Labels: content, from_internal

#10538 Logging context data (custom attributes) documentation
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal

#10629 Daily release/12/06/2022/noon
  src/content/docs/apm/agents/net-agent/troubleshooting/debugging-net-windows.mdx
  src/content/docs/errors-inbox/error-users-impacted.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-691.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1220.mdx
  src/images/errors-inbox_screenshot-full_users-impacted.png
  src/images/network_screenshot-full_network-flows-guided-install.png
  src/images/network_screenshot-full_snmp-guided-install.png
  src/images/network_screenshot-full_syslog-guided-install.png
  src/nav/errors-inbox.yml
Labels: content, from_tw

#10633 Update requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#10636 fix(accounts): removed a repeated word
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
Labels: content, from_tw

#10634 Daily release/12/06/2022/evening
  gatsby-config.js
  gatsby-node.js
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-7-1.mdx
Labels: content, from_tw

#10620 feat(whats-new): add npm new install linux deb/npm (Publish: 12/07/2022 morning)
  src/content/whats-new/2022/12/whats-new-12-06-nm-new-install-methods.md
Labels: content, from_internal

#10638 fix(apm-best-practices): fixed broken link to puppet, chef and added ansible
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/apm-best-practices-guide.mdx
Labels: content, from_internal

#10621 Updated the graphql URL
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
Labels: content, from_internal

#10630 Dotnet release v10.4.0
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-4-0.mdx
Labels: content, from_internal

#10640 fix(errors-inbox): add redirect
  src/content/docs/errors-inbox/error-users-impacted.mdx
Labels: content, from_tw

#10646 Node.js Agent v9.7.2 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-7-2.mdx
Labels: content, from_internal, release notes

#10627 Update kubernetes-integration-install-configure.mdx (Tentative publication dates: 12/7 or 12/12)
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: from_internal, from_tw

#10626 Update install-kubernetes-integration-using-helm.mdx (Tentative publication dates: 12/7 or 12/12)
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
Labels: content, from_internal

#9953 docs(opentelemetry-go-runtime-page): Add new Go runtime documentation
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-go-runtime-page.mdx
  src/nav/integrations.yml
Labels: content, from_internal

#10644 fix(Applied Intelligence): added a redirect for a broken link brought…
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
Labels: content, from_tw

#10176 Python agent release v8.5.0 (Publish on Dec 8, 2022 with morning merge)
  src/content/docs/apm/agents/python-agent/getting-started/python-agent-eol-policy.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/recordlogevent-python-agent-api.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-80500.mdx
  src/nav/apm.yml
Labels: content, from_internal

#10632 Remove quotation marks from ACCOUNT_ID in mutation
  src/content/docs/apis/nerdgraph/examples/nerdgraph-manage-groups.mdx
Labels: content, from_internal

#10647 Add tessen categories
  src/components/InstallFeedback.js
Labels: eng

#10298 Add network settings to mobile setting landing page
  src/content/docs/mobile-monitoring/new-relic-mobile/maintenance/configure-network-request-settings.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/maintenance/configure-settings-for-mobile-monitoring.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile/maintenance/customizing-your-mobile-app-settings.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile/maintenance/customizing-your-mobile-app-settings.mdx
  src/images/mobile_screenshot-crop_allow-hostname.png
  src/images/mobile_screenshot-crop_create-alias.png
  src/images/mobile_screenshot-crop_new-status-rule.png
Labels: content, from_tw

#10660 Error tracking edits: technical details & links to adjacent docs
  src/content/docs/errors-inbox/error-users-impacted.mdx
Labels: content, from_internal

#10673 Update manage-data-retention.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_internal

#10674 chore: fix typo
  src/content/docs/data-apis/custom-data/custom-events/report-browser-monitoring-custom-events-attributes.mdx
Labels: content, from_internal

#10657 Comment out out dated sections
  src/content/docs/mlops/bring-your-own/mlops-byo.mdx
Labels: content, from_internal

#10597 docs: update nerdgraph examples and synthetics monitor docs with apdex info
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-aggregate-monitor-metrics.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors.mdx
Labels: content, from_internal

#10681 Update k8s 3.6.0 docs
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-6-0.mdx
Labels: content, from_internal

#10580 feat(NRQL intro): adding charts and dashboards doc (68350)
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/charts-and-dashboards-with-nrql.mdx
  src/images/queries-nrql_screenshot-crop_dashboard-chart-color.png
  src/nav/dashboards.yml
Labels: content, from_tw

#10643 feat(APIs): added new using custom events section
  src/content/docs/data-apis/custom-data/custom-events/report-custom-event-data.mdx
Labels: content, from_tw

#10596 feat(io): added redpanda content, edited apache flink, updated yml to…
  src/content/docs/infrastructure/host-integrations/host-integrations-list/install-apache-flink.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/redpanda-integration.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/install-apache-flink.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/install-apache-flink.mdx
  src/images/prometheus_screenshot-full_redpanda-integration.png
  src/nav/infrastructure.yml
Labels: content, from_tw

#10687 feat(accounts): add bullet point
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content, from_tw

#10566 feat(Pixie): Update New Relic docs to cover Pixie entities.
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/get-started-auto-telemetry-pixie.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/explore-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/overview.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/pixie-entities.mdx
  src/images/pixie_screenshot-full_amqp_entity.png
  src/images/pixie_screenshot-full_entities-list.png
  src/images/pixie_screenshot-full_kafka_entity.png
  src/images/pixie_screenshot-full_mysql_entity.png
  src/images/pixie_screenshot-full_postgres_entity.png
  src/images/pixie_screenshot-full_redis_entity.png
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal

#10653 Update java-configure-logs-context-all.mdx
  src/content/docs/logs/logs-context/java-configure-logs-context-all.mdx
Labels: content, from_internal

#10690 fix(NRQL): fixed screenshots
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-math-using-select.mdx
  src/images/queries-nrql_screenshot-crop_NRQL-math-clamp.png
  src/images/queries-nrql_screenshot-crop_NRQL-math-floor-ceiling.png
Labels: content, from_internal, from_tw

#10688 Update android crash reporting flag
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/android-agent-configuration-feature-flags.mdx
Labels: content, from_internal

#10695 fix(synthetics-usage): Clarify usage timestamps
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/monitor-limits.mdx
Labels: content, from_internal

#10700 Update nerdgraph-issues-api-via-github.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-issues-api-via-github.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_internal

#10699 fix: Fix broken links on the NRQL intro page
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-one.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
Labels: content, from_internal

#10676 style(logs): Improve structure of "disable log"
  src/content/docs/logs/logs-context/disable-automatic-logging.mdx
Labels: content, from_tw

#10675 fix(accounts): screenshot
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/billing-ui.mdx
  src/images/accounts_screenshot-full_usage-ui.png
Labels: content, from_tw

#10710 fix(infra): typo
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-assisted-install-infrastructure-agent-linux.mdx
Labels: content, from_internal

#10650 (Release 12/12 @ 3pm) feat(PHP agent): Add custom event section
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Labels: content, from_internal

#10703 Update connect-aws-new-relic-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/connect-aws-new-relic-infrastructure-monitoring.mdx
Labels: content, from_internal

#10706 Node.js Agent v9.7.3 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-7-3.mdx
Labels: content, from_internal, release notes

#10712 Daily release/dec 12 2022 3 25
  gatsby-browser.js
  gatsby/should-update-scroll.js
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/billing-ui.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/connect-aws-new-relic-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-assisted-install-infrastructure-agent-linux.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-7-3.mdx
  src/images/accounts_screenshot-full_usage-ui.png
Labels: from_tw

#9271 Update intro notification doc
  src/content/docs/alerts-applied-intelligence/notifications/intro-notifications.mdx
Labels: content, from_internal

#10619 new aiops doc
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/migration-to-workflows.mdx
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_internal

#10685 fix(net): add update callout
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-9900.mdx
Labels: content, from_tw

#10718 Bring your own data V1
  src/content/docs/mlops/bring-your-own/mlops-byo.mdx
Labels: content, from_internal

#10723 Update grok sections
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#10719 feat(php): 10.4 release notes
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-4-0-316.mdx
Labels: content, from_internal

#10725 fix(Java APM agent): fixed a broken link
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal, from_tw

#10735 fix(API docs): fixed broken links
  src/content/docs/data-apis/custom-data/custom-events/report-custom-event-data.mdx
Labels: content, from_tw

#10738 Go Agent 3.20.2 Release
  src/content/docs/apm/agents/go-agent/api-guides/guide-using-go-agent-api.mdx
  src/content/docs/apm/agents/go-agent/instrumentation/instrument-go-transactions.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-20-2.mdx
Labels: content, from_internal

#10711 feat(java install): move maven into collapsers
  src/install/java/download/gradle.mdx
  src/install/java/download/maven.mdx
Labels: content, from_tw

#10714 fix(transition guides): removing old transition guides
  src/content/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/transition-new-relic-one-insights.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/new-relic-feature-end-life-announcements-july-2020.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/alerts-synthetic-monitoring.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/core-concepts/transition-new-relic-one-insights.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/ui-data/new-relic-feature-end-life-announcements-july-2020.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/core-concepts/transition-new-relic-one-insights.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/ui-data/new-relic-feature-end-life-announcements-july-2020.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#10752 feat(ohis): rephrased linux install
  src/content/docs/infrastructure/host-integrations/host-integrations-list/apache-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cassandra-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/couchbase-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/elasticsearch/elasticsearch-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/f5-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/haproxy-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/hashicorp-consul-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ibmmq-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-configuration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/memcached-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nagios-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/powerdns-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/redis/redis-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/varnish-cache-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
Labels: content, from_tw

#10753 Update aws-metric-stream.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
Labels: content, from_internal

#10717 docs: Add troubleshoot section for repetitive FB restarts and configuration file generation
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#10754 Update aws-metric-stream.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
Labels: content, from_internal

#10715 "Introduction to MLOps" changes
  src/content/docs/mlops/get-started/intro-mlops.mdx
Labels: content, from_internal

#10732 Remove "Limited Preview" label (merge before 9am 12/15)
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/cloud-flow-logs/gcp-vpc-flow-log-monitoring.mdx
Labels: content, from_internal

#10631 feat(whats-new): Errors inbox updates (Publication date: 12/15 9am)
  src/content/whats-new/2022/12/whats-new-12-08-errors-inbox-users-impacted-traces-in-context-slack.md
Labels: content, from_internal

#10503 fix(collaboration): added new collaboration documents
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/collaborate/collaborate-with-teammates.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/collaborate/collaboration-slack-integration.mdx
  src/images/close-and-reopen-discussions.png
  src/images/collaboration-comment.png
  src/images/collaboration-discussion-board-new.png
  src/images/collaboration-discussion-board.png
  src/images/collaboration-discussion-tool.png
  src/images/collaboration-slack.png
  src/images/green_dot.png
  src/images/post_on_slack.png
  src/images/slack_app_management.png
  src/images/slack_auth.png
  src/images/slack_channel.png
  src/images/slack_synced.png
Labels: content, from_tw

#10756 Update dashboard permission labels to match UI
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
Labels: content, from_external

#10696 Group vale changes
  .github/styles/Microsoft/Percentages.yml
  .github/styles/Microsoft/Suspended.yml
  .github/styles/new-relic/Accessibility.yml
  .github/styles/new-relic/Adverbs.yml
  .github/styles/new-relic/Avoid.yml
  .github/styles/new-relic/ComplexWords.yml
  .github/styles/new-relic/GenderBias.yml
  .github/styles/new-relic/RangeFormat.yml
  .github/styles/new-relic/Terms.yml
  vale.ini
Labels: content, from_tw

#10645 chore(pathing): Fix APM database path
  src/content/docs/apm/apm-ui-pages/monitoring/databases-page-view-operations-throughput-response-time.mdx
Labels: content, from_tw

#10724 fix(security policy): X-ref to .com page
  src/content/docs/licenses/license-information/referenced-policies/security-policy.mdx
Labels: content, from_tw

#10739 Update browser-monitoring-net-agent.mdx
  src/content/docs/apm/agents/net-agent/other-features/browser-monitoring-net-agent.mdx
Labels: content, from_internal

#10741 chore: fix code examples
  src/content/docs/logs/forward-logs/heroku-log-forwarding.mdx
Labels: content, from_internal

#10655 Add vale ini file and styles
  .github/styles/Microsoft/AMPM.yml
  .github/styles/Microsoft/Accessibility.yml
  .github/styles/Microsoft/Acronyms.yml
  .github/styles/Microsoft/Adverbs.yml
  .github/styles/Microsoft/Auto.yml
  .github/styles/Microsoft/Avoid.yml
  .github/styles/Microsoft/ComplexWords.yml
  .github/styles/Microsoft/Contractions.yml
  .github/styles/Microsoft/Dashes.yml
  .github/styles/Microsoft/DateFormat.yml
  .github/styles/Microsoft/DateNumbers.yml
  .github/styles/Microsoft/DateOrder.yml
  .github/styles/Microsoft/Ellipses.yml
  .github/styles/Microsoft/FirstPerson.yml
  .github/styles/Microsoft/Foreign.yml
  .github/styles/Microsoft/Gender.yml
  .github/styles/Microsoft/GenderBias.yml
  .github/styles/Microsoft/GeneralURL.yml
  .github/styles/Microsoft/HeadingAcronyms.yml
  .github/styles/Microsoft/HeadingColons.yml
  .github/styles/Microsoft/HeadingPunctuation.yml
  .github/styles/Microsoft/Headings.yml
  .github/styles/Microsoft/Hyphens.yml
  .github/styles/Microsoft/Negative.yml
  .github/styles/Microsoft/Ordinal.yml
  .github/styles/Microsoft/OxfordComma.yml
  .github/styles/Microsoft/Passive.yml
  .github/styles/Microsoft/Percentages.yml
  .github/styles/Microsoft/Quotes.yml
  .github/styles/Microsoft/RangeFormat.yml
  .github/styles/Microsoft/RangeTime.yml
  .github/styles/Microsoft/Ranges.yml
  .github/styles/Microsoft/Semicolon.yml
  .github/styles/Microsoft/SentenceLength.yml
  .github/styles/Microsoft/Spacing.yml
  .github/styles/Microsoft/Suspended.yml
  .github/styles/Microsoft/Terms.yml
  .github/styles/Microsoft/URLFormat.yml
  .github/styles/Microsoft/Units.yml
  .github/styles/Microsoft/Vocab.yml
  .github/styles/Microsoft/We.yml
  .github/styles/Microsoft/Wordiness.yml
  .github/styles/Microsoft/meta.json
  .github/styles/Vocab/Docs/accept.txt
  .github/styles/Vocab/Docs/reject.txt
  .github/styles/new-relic/Accessibility.yml
  .github/styles/new-relic/Adverbs.yml
  .github/styles/new-relic/Avoid.yml
  .github/styles/new-relic/ComplexWords.yml
  .github/styles/new-relic/GenderBias.yml
  .github/styles/new-relic/RangeFormat.yml
  .github/styles/new-relic/Terms.yml
  .github/workflows/vale-lint.yml
  vale.ini
Labels: eng

#10760 docs: infra agent 1.36.0 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1360.mdx
Labels: content, from_internal, release notes

#10744 "What's New" Google VPC Flow Logs post (12/15 noon publish)
  src/content/whats-new/2022/12/images/GCP-Flow-Logs-1.png
  src/content/whats-new/2022/12/whats-new-12-15-gcp-vpc-flow-logs.md
Labels: from_internal, what's new

#10713 fix(Ruby): nav reorganization
  src/nav/apm.yml
Labels: content, from_tw

#10761 fix(anomalies): making changes for new release
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
Labels: content, from_tw

#10748 Add back changes
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#10765 Node.js Agent v9.7.4 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-7-4.mdx
Labels: from_internal, release notes

#10768 UI writing style - update - rps
  src/content/docs/style-guide/ui-writing/units-of-measurement.mdx
Labels: content, from_internal

#10694 Removing Alerts Classic references
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/introduction-alerts.mdx
Labels: content, from_internal

#10573 Update no stack trace scenario documentation.
  src/content/docs/apm/agents/apm-no-stack-traces.mdx
Labels: content, from_internal

#10773 Fix(Go Agent): corrected release date
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-20-2.mdx
Labels: content, from_internal

#10770 Revised external trademarks link
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#10774 chore: Fix some misplaced paragraphs
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-math-using-select.mdx
Labels: content, from_internal

#10772 Update anomaly-detection-applied-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/images/ai_screenshot-full_anomaly-workflow-filter.png
  src/images/ai_screenshot-full_notifications-for-anomaly-workflow.png
Labels: content, from_internal

#10429 feat(mysql-integration): branching doc
  src/images/infrastructure_screenshot-crop_install-mysql-dashboard.png
  src/images/infrastructure_screenshot-crop_mysql-dashboard.png
  src/install/assets/install-logos/amazonECS.png
  src/install/assets/install-logos/k8.png
  src/install/assets/install-logos/linux.png
  src/install/assets/install-logos/windows.png
  src/install/config/mysql.yaml
  src/install/mysql/amazonECS/install-amazonECS.mdx
  src/install/mysql/appInfo.mdx
  src/install/mysql/configure-mysql.mdx
  src/install/mysql/default-configuration.mdx
  src/install/mysql/default-install-linux.mdx
  src/install/mysql/default-requirements.mdx
  src/install/mysql/enable-mysql-server.mdx
  src/install/mysql/find-data.mdx
  src/install/mysql/intro.mdx
  src/install/mysql/k8/install-k8.mdx
  src/install/mysql/k8/update-integration-k8.mdx
  src/install/mysql/linux/install-linux.mdx
  src/install/mysql/requirements-amazonECS.mdx
  src/install/mysql/requirements-k8.mdx
  src/install/mysql/update-integration.mdx
  src/install/mysql/whatsNext.mdx
  src/install/mysql/windows/install-windows.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#10777 Release mysql branching
  src/images/infrastructure_screenshot-crop_install-mysql-dashboard.png
  src/images/infrastructure_screenshot-crop_mysql-dashboard.png
  src/install/assets/install-logos/amazonECS.png
  src/install/assets/install-logos/k8.png
  src/install/assets/install-logos/linux.png
  src/install/assets/install-logos/windows.png
  src/install/config/mysql.yaml
  src/install/mysql/amazonECS/install-amazonECS.mdx
  src/install/mysql/appInfo.mdx
  src/install/mysql/configure-mysql.mdx
  src/install/mysql/default-configuration.mdx
  src/install/mysql/default-install-linux.mdx
  src/install/mysql/default-requirements.mdx
  src/install/mysql/enable-mysql-server.mdx
  src/install/mysql/find-data.mdx
  src/install/mysql/intro.mdx
  src/install/mysql/k8/install-k8.mdx
  src/install/mysql/k8/update-integration-k8.mdx
  src/install/mysql/linux/install-linux.mdx
  src/install/mysql/requirements-amazonECS.mdx
  src/install/mysql/requirements-k8.mdx
  src/install/mysql/update-integration.mdx
  src/install/mysql/whatsNext.mdx
  src/install/mysql/windows/install-windows.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#10778 feat(mysql): fixed commands
  src/install/mysql/enable-mysql-server.mdx
  src/install/mysql/linux/install-linux.mdx
  src/install/mysql/windows/install-windows.mdx
Labels: content, from_tw

#10672 fix(Java): Added clarity about annotations and defaults
  src/content/docs/apm/agents/java-agent/api-guides/java-agent-api-instrument-using-annotation.mdx
Labels: content, from_tw

#10782 style(Logs): cleaned up some styling
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_tw

#10787 fix(alerts): nav
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_internal

#10792 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#10793 fix(PHP agent): Clarify newrelic_record_datastore_segment string restrictions
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_record_datastore_segment.mdx
Labels: content, from_internal

#10796 Update manage-data-retention.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_internal

#10776 feat(vulnerability-management): add eventbridge content
  src/content/docs/vulnerability-management/integrations/aws.mdx
Labels: content, from_tw

#10797 docs: Update subqueries-in-nrql.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/subqueries-in-nrql.mdx
Labels: content, from_internal

#10798 docs: fix broken header
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#10800 Clarify warning threshold
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/set-thresholds-alert-condition.mdx
Labels: content, from_internal

#10806 Update introduction-apm.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
Labels: content, from_external

#10807 Update browser.yml
  src/nav/browser.yml
Labels: content, from_tw
