Repository newrelic/docs-website, pull requests merged in 2023-11, with the labels that each got.

#15045 Update real-time-profiling-java-using-jfr-metrics.mdx
  src/content/docs/apm/agents/java-agent/features/real-time-profiling-java-using-jfr-metrics.mdx
Labels: content, from_internal

#15050 Update java-agent-attributes.mdx
  src/content/docs/apm/agents/java-agent/attributes/java-agent-attributes.mdx
Labels: content, from_internal

#14843 fix: Remove irrelevant job timeout error drop down.
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/simple-scripted-or-scripted-api-non-ping-errors.mdx
Labels: content, from_internal

#15054 Update new-relic-personal-data-requests.mdx
  src/content/docs/security/security-privacy/data-privacy/new-relic-personal-data-requests.mdx
Labels: content, from_internal

#15053 Update java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#15056 Update java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#15059 fix(infra): remove invalid metric from metrics list of AWS DynamoDB Integration
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-dynamodb-monitoring-integration.mdx
Labels: content, from_internal

#15060 nri-jmx: fix downloader path
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
Labels: content, from_internal

#15062 fix: yaml syntax, add lang identifiers
  src/content/docs/apm/agents/c-sdk/get-started/otel_cpp_example.mdx
Labels: content, from_internal

#15020 chore: Updating Lookout documentation
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-lookout-monitor-your-estate-glance.mdx
  src/images/lookout-diagnose-related-changes.webp
  src/images/lookout-diagnose-seasonality.webp
  src/images/lookout-diagnose-workload-change.webp
Labels: content, from_internal

#14680 fix(errors inbox): added version tracking
  src/content/docs/errors-inbox/version-tracking.mdx
  src/images/errors-inbox_screenshot-crop_errors-inbox-change-tracking.webp
  src/images/errors-inbox_screenshot-crop_filter-errors-by-versions.webp
  src/images/errors-inbox_screenshot-full_error-date.webp
  src/nav/errors-inbox.yml
Labels: content, from_tw

#14679 Update apm-tab.mdx
  src/content/docs/errors-inbox/apm-tab.mdx
Labels: content, from_tw

#15070 fix: remove whats new image links feature
  gatsby-config.js
Labels: eng

#15082 NR-176087: add list of auto inst class+method, fix link from swift int trace
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/enable-swift-interaction-traces.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/mobile-sdk-api-guide.mdx
Labels: content, from_internal

#14381 fix(errors inbox): added agent version tracking
  src/content/docs/apm/agents/go-agent/configuration/go-agent-code-level-metrics-config.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Labels: content, from_tw

#14428 Update errors-inbox.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content, from_tw

#15061 feat/network flow troubleshooting
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-management.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/network-flow-missing-data.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#15085 Fixing customer feedback
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/use-newrelic-install-script-php.mdx
Labels: content, from_tw

#15064 Metrics: Separate lines with icons in table
  src/content/docs/data-apis/understand-data/metric-data/metric-data-type.mdx
Labels: content, from_internal

#15074 style(alerts): Fix destinations style issues
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
Labels: content, from_tw

#15087 feature: Add MassTransit to .NET supported library lists
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#15078 style(metric normalization): Fix casing
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/metric-normalization-rules.mdx
Labels: content, from_tw

#15075 fix(logs): Clarify add data instructions (NR-69259)
  src/content/docs/logs/forward-logs/azure-log-forwarding.mdx
Labels: content, from_tw

#15092 chore(dependencies): Remove ancient version requirements
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/explore-downstream-dependencies-new-relic-one.mdx
Labels: content, from_tw

#14982 Add env var for building languages individually
  gatsby-config.js
  package.json
Labels: eng

#15098 fix: correct support of gauge types in the metric api
  src/content/docs/data-apis/understand-data/metric-data/metric-data-type.mdx
Labels: content, from_internal

#15099 chore: adding the 'tag' conversion
  src/content/docs/network-performance-monitoring/troubleshooting/understanding-snmp-utilization-calculations.mdx
Labels: content, from_internal

#15097 chore: Update get-started-kubecost.mdx to not preview status
  src/content/docs/kubernetes-pixie/kubecost/get-started-kubecost.mdx
Labels: content, from_internal

#15107 fix: typo
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#15102 Update compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#15103 Magento Business Insights - Updated flex config file
  src/content/docs/apm/agents/php-agent/other-integrations/magento-business-insights.mdx
Labels: content, from_internal

#15112 chore: Update introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
Labels: content, from_internal

#15110 [Chore] Added important callout
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent.mdx
Labels: content, from_internal

#15067 style(nvidia): Code formatting on file type
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nvidia-gpu-integration.mdx
Labels: content, from_tw

#15077 chore(aws): Clarify AWS disconnect procedure (NR-69825)
  src/content/docs/infrastructure/amazon-integrations/connect/connect-aws-new-relic-infrastructure-monitoring.mdx
Labels: content, from_tw

#13508 New 'group admin' role [MERGE 11/07 by EOD]
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/account-user-mgmt-tutorial.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-manage-groups.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-manage-users.mdx
  src/content/docs/new-relic-solutions/get-started/implementation-guide-planning-setup.mdx
Labels: content, from_tw

#15115 Add in release note for New Relic for iOS version 5.8.0.
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-5080.mdx
Labels: content, from_internal

#15106 Add check-image-import script to verify-mdx
  package.json
  scripts/checkForOrphanImports.js
  scripts/utils/image-import-utils.js
  scripts/verify_mdx.js
  src/content/docs/style-guide/writing-docs/writer-workflow/useful-scripts.mdx
  yarn.lock
Labels: eng

#15125 fix(browser): improve table format
  src/content/docs/browser/new-relic-browser/browser-apis/using-browser-apis.mdx
Labels: content, from_tw

#15116 Cleanup image errors
  src/content/docs/apm/agents/python-agent/supported-features/python-mlops.mdx
  src/content/docs/distributed-tracing/ui-data/related-trace-entity-signals.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/service-characterization-optimize-web-telemetry-guide.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/subquery-joins.mdx
  src/content/docs/tutorial-improve-app-performance/problematic-transactions.mdx
  src/content/docs/tutorial-improve-app-performance/root-causes.mdx
  src/content/docs/tutorial-manage-large-log-volume/get-started-managing-large-logs.mdx
  src/content/docs/tutorial-manage-large-log-volume/organize-large-logs.mdx
  src/content/docs/tutorial-reporting-data/capture-web-telemetry.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/supported-features/python-mlops.mdx
  src/i18n/content/jp/docs/distributed-tracing/ui-data/related-trace-entity-signals.mdx
  src/i18n/content/jp/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
  src/i18n/content/jp/docs/new-relic-solutions/observability-maturity/operational-efficiency/service-characterization-optimize-web-telemetry-guide.mdx
  src/i18n/content/jp/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/subquery-joins.mdx
  src/i18n/content/jp/docs/tutorial-improve-app-performance/problematic-transactions.mdx
  src/i18n/content/jp/docs/tutorial-improve-app-performance/root-causes.mdx
  src/i18n/content/jp/docs/tutorial-manage-large-log-volume/get-started-managing-large-logs.mdx
  src/i18n/content/jp/docs/tutorial-manage-large-log-volume/organize-large-logs.mdx
  src/i18n/content/jp/docs/tutorial-reporting-data/capture-web-telemetry.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/supported-features/python-mlops.mdx
  src/i18n/content/kr/docs/distributed-tracing/ui-data/related-trace-entity-signals.mdx
  src/i18n/content/kr/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
  src/i18n/content/kr/docs/new-relic-solutions/observability-maturity/operational-efficiency/service-characterization-optimize-web-telemetry-guide.mdx
  src/i18n/content/kr/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/subquery-joins.mdx
  src/i18n/content/kr/docs/tutorial-improve-app-performance/problematic-transactions.mdx
  src/i18n/content/kr/docs/tutorial-improve-app-performance/root-causes.mdx
  src/i18n/content/kr/docs/tutorial-manage-large-log-volume/get-started-managing-large-logs.mdx
  src/i18n/content/kr/docs/tutorial-manage-large-log-volume/organize-large-logs.mdx
  src/i18n/content/kr/docs/tutorial-reporting-data/capture-web-telemetry.mdx
Labels: eng

#15117 style(python): Remove old link, fix casing
  src/content/docs/apm/agents/python-agent/supported-features/python-runtime-metrics.mdx
Labels: content, from_tw

#14873 docs: Add Confluent.Kafka to the .NET Agent compatibility list.
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#15051 docs: Updates .NET Agent documentation to include support for automatic browser injection in ASP.NET Core 6+ web applications
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/apm/agents/net-agent/other-features/browser-monitoring-net-agent.mdx
Labels: content, from_internal

#15132 fix(browser): remove redirect
  src/content/docs/browser/new-relic-browser/troubleshooting/troubleshoot-graphql-collection.mdx
Labels: content, from_tw

#15136 new relic android app release notes for v5.9 and v5.10
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-51000.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5900.mdx
  src/images/new-relic-android-51000-a.webp
Labels: content, from_internal

#14996 feat: new meraki install doc
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/meraki-api-polling.mdx
  src/images/synthetic_screenshot-full_meraki-dashboard.webp
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#15119 feat: removed ally's old username, removed nati, removed zuluecho
  .github/auto_assign.yml
Labels: content, from_tw

#15073 feat(data): fix icon spacing and OpenTelemetry styling
  src/content/docs/data-apis/understand-data/metric-data/metric-data-type.mdx
Labels: content, from_tw

#15155 chore(synthetic): Remove ancient APM version requirements
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/collect-synthetic-transaction-traces.mdx
Labels: content, from_tw

#15088 chore(OHI): Merge F5 docs (NR-159397)
  src/content/docs/infrastructure/host-integrations/host-integrations-list/f5-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/open-source-host-integrations-list/f5-open-source-integration.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/open-source-host-integrations-list/f5-open-source-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/open-source-host-integrations-list/f5-open-source-integration.mdx
Labels: content, from_tw

#15122 style(NPM): Alphabetical order table
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
Labels: content, from_tw

#15152 [chore] Update mongodb-monitoring-integration-new.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#15146 feat: point k8s nav to correct uninstall doc location
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/uninstall-kubernetes.mdx
Labels: from_tw

#15156 chore Update data-privacy-new-relic.mdx
  src/content/docs/security/security-privacy/data-privacy/data-privacy-new-relic.mdx
Labels: content, from_internal

#15158 fix(browser): Link custom attributes doc (NR-91114)
  src/content/docs/browser/new-relic-browser/browser-apis/noticeerror.mdx
Labels: content, from_tw

#15154 fix(python): Fix callout syntax
  src/content/docs/apm/agents/python-agent/python-agent-api/backgroundtask-python-agent-api.mdx
Labels: content, from_tw

#15038 feat(NR-160660): Jenkins plugin update
  src/content/docs/change-tracking/ci-cd/change-tracking-jenkins.mdx
  src/images/tracking_screenshot-crop_jenkins--addnotification.webp
  src/images/tracking_screenshot-crop_jenkins--credential.webp
  src/images/tracking_screenshot-crop_jenkins--optional.webp
  src/images/tracking_screenshot-crop_jenkins--postbuild.webp
  src/images/tracking_screenshot-crop_jenkins--user.webp
  src/images/tracking_screenshot-crop_jenkins--validcredential.webp
  src/images/tracking_screenshot-crop_jenkins-home-page.webp
  src/images/tracking_screenshot-crop_jenkins-install-notifier.webp
  src/images/tracking_screenshot-crop_jenkins-rollback.webp
Labels: content, from_internal

#15165 fix(network): clarify code sample
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_tw

#15135 (fix)[NRQL]: Addressing ticketed feedback on "Facet results by time" page
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/nrql-group-results-across-time.mdx
Labels: content, from_tw

#15171 (fix)[Agent]: Update infrastructure-agent-configuration-settings.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal, from_tw

#15121 fix(python): Clarify which config file (NR-82924)
  src/content/docs/apm/agents/python-agent/custom-instrumentation/python-custom-instrumentation-config-file.mdx
Labels: content, from_tw

#15049 fix(docs): update browser api docs
  src/content/docs/browser/new-relic-browser/browser-apis/actiontext.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/addrelease.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/addtotrace.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/createtracer.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/end.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/finished.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/getcontext.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/ignore.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/interaction.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/noticeerror.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/onend.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/save.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setApplicationVersion.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setattribute.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setcurrentroutename.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setcustomattribute.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/seterrorhandler.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setname.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setpageviewname.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setuserid.mdx
Labels: content, from_tw

#15142 feat(PHP): PHP 10.14.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-14-0-3.mdx
Labels: content, from_internal

#15069 feat(PHP): Adds log context data documentation
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/logs/logs-context/configure-logs-context-php.mdx
Labels: content, from_internal

#15178 Add new troubleshooting guide for ruby agent
  src/content/docs/apm/agents/ruby-agent/troubleshooting/transactions-named-routeset.mdx
  src/nav/apm.yml
Labels: content, from_internal

#14972 missed punctuation in callout
  src/content/docs/style-guide/writing-strategies/contribute-to-site.mdx
Labels: content, from_tw

#15179 Adds documentation for VMware Tanzu Firehose Nozzle Integration.
  src/content/docs/cloudfoundry/vmware-tanzu/vmware-tanzu-firehose-nozzle-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-tanzu-monitoring-integration.mdx
  src/nav/cloudfoundry.yml
  src/nav/root.yml
Labels: content, from_internal

#15181 Add python agent release notes v9.1.2 (Merge Nov 13th PM)
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-90102.mdx
Labels: content, from_internal

#15182 Chore: Update .NET Agent installation and configuration docs to improve install experience.
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/install/dotnet/installation/dockerWindows.mdx
  src/install/dotnet/installation/windowsNonIisInstall-2.mdx
Labels: content, from_internal

#15185 Whats new 11 14 aim
  src/content/whats-new/2023/11/images/aim-whats-new.png
  src/content/whats-new/2023/11/whats-new-11-14-aim.md
Labels: content, from_internal

#15189 fix: broken link on netflow setup doc
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
Labels: content, from_internal

#15192 chore(synthetics): Removed EOLed feature and deprecation warnings
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-aggregate-monitor-metrics.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-chrome-100.mdx
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/runtime-upgrade-troubleshooting.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/new-runtime.mdx
Labels: content, from_internal

#15139 .NET agent 10.19.1 release notes
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-19-1.mdx
Labels: content, from_internal

#15194 Updating nav
  src/content/docs/more-integrations/cloudfoundry-integrations/vmware-tanzu-firehose-nozzle-integration.mdx
  src/nav/integrations.yml
  src/nav/root.yml
Labels: content, from_tw

#15173 feat(NR-162979): Add change tracking notification settings permissions
  src/content/docs/change-tracking/change-tracking-webhooks.mdx
Labels: content, from_internal

#15183 feat(php): copy edits and structuring to logs in context section
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-14-0-3.mdx
Labels: content, from_tw

#15202 Install java guided install
  src/content/docs/apm/reports/apm-sla-reports.mdx
  src/content/docs/logs/forward-logs/azure-log-forwarding.mdx
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
  src/install/java/intro.mdx
Labels: content, from_tw

#15201 Update infrastructure-events-page-live-feed..mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-events-page-live-feed-every-config-change.mdx
  src/images/infrastructure_screenshot-crop_events-timeline.webp
  src/images/infrastructure_screenshot-crop_events.webp
  src/images/infrastructure_screenshot-full_events-page.webp
Labels: content, from_internal

#15204 Browser Agent v1.247.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.247.0.mdx
Labels: content, from_internal

#15207 Update usage-dictionary.mdx
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#15114 (Publish 11/15/2023) Mobile apps: Add quick actions and new widget docs
  src/content/docs/mobile-apps/android-widgets.mdx
  src/content/docs/mobile-apps/ios-widgets.mdx
  src/content/docs/mobile-apps/quick-actions.mdx
  src/images/mobile-apps_screenshot-full_android-widgets-issue-counts.webp
  src/images/mobile-apps_screenshot-full_android-widgets-nrql-queries.webp
  src/images/mobile-apps_screenshot-full_android-widgets-service-levels.webp
  src/images/mobile-apps_screenshot-full_android-widgets-synthetic-monitors.webp
  src/images/mobile-apps_screenshot-full_iOS-widgets-issue-counts.webp
  src/images/mobile-apps_screenshot-full_iOS-widgets-nrql-queries.webp
  src/images/mobile-apps_screenshot-full_iOS-widgets-service-levels.webp
  src/images/mobile-apps_screenshot-full_iOS-widgets-synthetic-monitors.webp
  src/images/mobile-apps_screenshot_full_android_quick_action.webp
  src/images/mobile-apps_screenshot_full_ios_quick_action.webp
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#15199 Whats new 11-15 mobile quick access
  src/content/whats-new/2023/11/images/mobile-quick-access.png
  src/content/whats-new/2023/11/whats-new-11-15-mobile-app-quick-access.md
Labels: content, from_internal

#15147 chore: add, update Android docs
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-new-relic-gradle-plugin.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-720.mdx
Labels: content, from_internal

#15068 Added an article on a new mobile agents api for tracking http headers
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/add-tracked-headers.mdx
  src/data/attribute-dictionary.json
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#15160 feat(kubernetes): Update docs with k8s 1.28 support and 1.23 deprecation
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/deprecation-notice-v1.23-and-lower.mdx
Labels: content, from_internal

#15221 feat(k8s): add missing redirect from compatability doc
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content

#15227 chore(k8s): Fix title case in left nav
  src/nav/kubernetes-pixie.yml
Labels: content, from_tw

#15225 Update introduction-event-api.mdx
  src/content/docs/data-apis/ingest-apis/event-api/introduction-event-api.mdx
Labels: content, from_internal

#15220 feat(support): update support case language
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_tw

#15198 cloud host metrics
  src/content/whats-new/2023/11/whats-new-11-11-new-metrics.md
Labels: content

#15219 Whats new 11 16 connected experiences
  src/content/whats-new/2023/09/images/datazoom_quickstart.png
  src/content/whats-new/2023/09/images/newrelic_mux_datazoom_logos.png
  src/content/whats-new/2023/11/whats-new-11-16-connected-experiences-charts.md
Labels: content, from_internal

#15234 feat(apm): remove errors tutorial from apm category
  src/nav/apm.yml
Labels: content, from_tw

#15235 Update Issues-and-Incident-management-and-response.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
Labels: content, from_internal

#15238 (chore)[Hero] Redirect broken link
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
Labels: content, from_tw

#15228 fix(alerts): change page title/TOC name
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/update-or-disable-policies-conditions.mdx
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_tw

#15226 fix(NET): title case framework
  src/content/docs/apm/agents/net-agent/other-installation/understanding-net-agent-environment-variables.mdx
Labels: content, from_tw

#15224 fix(alerts): make H3 a H2
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
Labels: content, from_tw

#15229 chore(agents): Broken/confusing links
  src/content/docs/apm/agents/python-agent/python-agent-api/addcustomattribute-python-agent-api.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setcustomattribute.mdx
  src/content/docs/data-apis/custom-data/custom-events/collect-custom-attributes.mdx
Labels: content, from_tw

#15241 Browser Agent v1.248.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.248.0.mdx
Labels: content, from_internal

#15242 Update introduction-style-guide.mdx
  src/content/docs/style-guide/writing-strategies/introduction-style-guide.mdx
Labels: content, from_internal

#15222 style(infra): macOS copyedit
  src/content/docs/infrastructure/install-infrastructure-agent/macos-installation/install-infrastructure-monitoring-agent-macos.mdx
Labels: content, from_tw

#15243 Go Agent release 3.28.0
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-28-0.mdx
Labels: content, from_internal

#15245 chore(Hero): remove preview feature
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
Labels: content, from_internal

#15244 feat(wn): fix incorrect dates in url and body
  src/content/whats-new/2023/11/whats-new-12-1-new-metrics.md
Labels: content, from_tw

#15149 chore:snmp traps
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/meraki-api-polling.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal

#15239 AWS Metric naming revamp
  src/content/docs/infrastructure/amazon-integrations/get-started/aws-integrations-metrics.mdx
Labels: content, from_internal

#15247 fix(Errors Inbox): Fixing broken links from hero duty
  src/content/docs/errors-inbox/version-tracking.mdx
Labels: content, from_external

#15250 feat: Diagnostics CLI 3.2.4 release notes
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-322.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-324.mdx
Labels: content, from_internal

#15259 chore(accounts): Tweak ID to remove dated term
  src/content/docs/accounts/accounts/account-maintenance/account-email-settings.mdx
Labels: content, from_tw

#15266 Update nerdgraph-log-parsing-rules-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-log-parsing-rules-tutorial.mdx
Labels: content, from_tw

#15267 Update incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_tw

#15268 chore: remove redundant links to network prereqs
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal

#15262 chore: Update latest tested versions of .NET core tech libraries
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#15261 Update python-agent-logging.mdx
  src/content/docs/apm/agents/python-agent/troubleshooting/python-agent-logging.mdx
Labels: content, from_internal

#15231 Update opentelemetry-collector-kafka-confluentcloud.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-kafka-confluentcloud.mdx
Labels: content, from_internal

#15274 Update ktranslate-cpu-usage.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/ktranslate-cpu-usage.mdx
Labels: content, from_internal

#15282 feat: Update apm transaction traces page
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/latency.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/stack-trace.js
  src/content/docs/apm/transactions/transaction-traces/transaction-traces-trace-details-page.mdx
  src/images/apm_screenshot-crop_transaction-trace-details.webp
  src/images/latency-icon.webp
  src/images/stack-trace-icon.webp
Labels: content, from_internal

#15283 chore(Java): updating Mule compatibility
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#14987 feat(NRQL): Add new NRQL tutorials
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-tutorial.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-tutorial-advanced-dashboarding.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-tutorial-advanced-functions.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-tutorial-process-your-data.mdx
  src/images/queries-nrql_screenshot-crop-tutorial2-1.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-10.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-11.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-12.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-13.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-14.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-15.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-16.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-17.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-18.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-19.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-2.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-20.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-3.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-4.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-5.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-6.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-7.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-8.webp
  src/images/queries-nrql_screenshot-crop-tutorial2-9.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-1.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-10.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-11.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-12.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-13.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-14.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-15.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-16.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-17.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-18.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-19.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-2.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-3.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-4.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-5.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-6.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-7.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-8.webp
  src/images/queries-nrql_screenshot-crop-tutorial3-9.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-1.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-10.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-11.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-12.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-13.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-14.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-15.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-2.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-3.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-4.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-5.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-6.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-7.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-8.webp
  src/images/queries-nrql_screenshot-crop-tutorial4-9.webp
  src/nav/dashboards.yml
Labels: content, from_tw

#15170 PHP agent: Clarify multiple call behavior
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_add_custom_parameter.mdx
Labels: content, from_tw

#15281 fix(browser): Update browser-app-settings-page
  src/content/docs/browser/new-relic-browser/configuration/browser-app-settings-page.mdx
Labels: content, from_tw

#15294 Fix grey block formatting
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
Labels: content, from_internal

#15307 API/synthetics/password doc changes
  src/content/docs/accounts/accounts/account-maintenance/change-passwords-user-preferences.mdx
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr23-01-security-advisory.mdx
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/private-locations-overview-monitor-internal-sites-add-new-locations.mdx
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/rotate-sensitive-information-synthetic-urls.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
  src/images/accounts_screenshot-crop_admin-page.png
  src/images/apis-and-data_screenshot-crop_add-insights-keys.jpg
  src/images/apis-and-data_screenshot-crop_copy-key.png
  src/images/apis-and-data_screenshot-crop_create-browser-key.png
  src/images/apis-and-data_screenshot-crop_create-key-button.png
  src/images/apis-and-data_screenshot-crop_create-license-key.png
  src/images/apis-and-data_screenshot-crop_create-user-key.png
  src/images/apis-and-data_screenshot-crop_delete-key.png
  src/images/apis-and-data_screenshot-crop_key-deleted.png
  src/images/apis-and-data_screenshot-crop_locate-insights-keys.jpg
  src/images/apis-and-data_screenshot-crop_locate-rest-key.jpg
  src/images/apis-and-data_screenshot-crop_view-insights-keys.jpg
  src/images/synthetic_screenshot-crop-monitor-settings.png
  src/images/synthetic_screenshot-crop_configure-deploy-private-locations.png
  src/images/synthetic_screenshot-crop_delete-private-location.png
  src/images/synthetic_screenshot-crop_edit-monitor-settings-rotate-private-location.png
  src/images/synthetic_screenshot-crop_edit-private-location-rotate.png
  src/images/synthetic_screenshot-crop_edit-secure-credential-key.png
  src/images/synthetic_screenshot-crop_generate-private-location-key.png
  src/images/synthetic_screenshot-crop_private-location-add.png
  src/images/synthetic_screenshot-crop_script-editor.png
  src/images/synthetic_screenshot-crop_secure-credential-edit.png
  src/nav/new-relic-security.yml
  src/nav/synthetics.yml
Labels: content, from_tw

#15310 Update security bulletin subscribe link
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
Labels: content, from_tw

#15312 chore(api keys): Clarify user key rotation guidance
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_tw

#15314 chore: update private job-manager log levels
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-maintenance-monitoring.mdx
Labels: content, from_internal

#15317 Extend info on rotating secure credentials
  src/content/docs/synthetics/synthetic-monitoring/private-locations/private-locations-overview-monitor-internal-sites-add-new-locations.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
  src/images/apis-and-data_screenshot-crop_create-browser-key.png
  src/images/apis-and-data_screenshot-crop_create-license-key.png
  src/images/apis-and-data_screenshot-crop_create-user-key.png
  src/images/apis-and-data_screenshot-crop_locate-insights-keys.jpg
  src/images/apis-and-data_screenshot-crop_locate-rest-key.jpg
  src/images/synthetic_screenshot-crop_configure-deploy-private-locations.png
  src/images/synthetic_screenshot-crop_delete-private-location.png
  src/images/synthetic_screenshot-crop_edit-secure-credential-by-name.png
  src/images/synthetic_screenshot-crop_generate-private-location-key.png
  src/images/synthetic_screenshot-crop_locate-monitor-by-id.png
  src/images/synthetic_screenshot-crop_script-edit-location.png
  src/images/synthetic_screenshot-crop_secure-credential-edit.png
  src/images/synthetic_screenshot-crop_secure-credentials-in-script-example.png
Labels: content, from_tw

#15321 fix(Kubernetes): Fix typo in heading
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/deprecation-notice-v1.23-and-lower.mdx
Labels: content, from_internal

#15319 Minor consistency/cosmetic edits
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/other-condition-types/apm-metric-alert-conditions.mdx
  src/content/docs/distributed-tracing/infinite-tracing/set-trace-observer.mdx
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
  src/content/docs/mobile-apps/ios-widgets.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/explore-downstream-dependencies-new-relic-one.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/private-locations-overview-monitor-internal-sites-add-new-locations.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
  src/content/whats-new/2023/11/whats-new-11-16-connected-experiences-charts.md
  src/images/synthetic_screenshot-crop_locate-monitor-by-id.png
  src/images/synthetic_screenshot-crop_script-edit-location.png
  src/images/synthetic_screenshot-crop_secure-credentials-in-script-example.png
Labels: content, from_tw

#14907 style(style guide): Formatting in usage dictionary
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#15306 [Ready to merge after Doc Freeze] Add tip about order of operations
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
Labels: content, from_internal

#15325 better logging and response handling, point at prod API
  scripts/actions/update-attribute-dictionary-json.mjs
Labels: eng

#15329 Remove deployment marker workflow
  .github/workflows/release.yml
Labels: eng

#15322 Fixing grammar typo per #15316
  src/content/docs/tutorial-create-alerts/create-new-relic-alerts.mdx
Labels: content, from_tw

#15326 fix: Update drop rules doc to specify that JOIN and subqueries cannot be used
  src/content/docs/data-apis/manage-data/drop-data-using-nerdgraph.mdx
Labels: content, from_internal

#15327 Update infrastructure-agent-logging-behavior.mdx
  src/content/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-logs/infrastructure-agent-logging-behavior.mdx
Labels: content, from_internal

#15331 update content per hero request
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_tw

#15320 feat: Update browser agent CSP guidelines
  src/content/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
Labels: content, from_internal

#15296 fix(synthetic): update nrql examples
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-aggregate-monitor-metrics.mdx
Labels: content, from_tw

#15285 fix(php): improve the compatibility page
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_tw

#15279 fix(mobile): update formatting for guided vs. manual install
  src/content/docs/mobile-monitoring/new-relic-mobile-cordova-phonegap/get-started-with-cordova-monitoring.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-xamarin/monitor-your-xamarin-application.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
Labels: content, from_tw

#15338 chore(PHP): Fix link
  src/content/docs/logs/logs-context/configure-logs-context-php.mdx
Labels: content, from_internal

#15339 chore(PHP): Fix INI value
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Labels: content, from_internal

#15337 Update user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Labels: content, from_internal

#15340 chore: remove orphaned i18n files
  src/i18n/content/jp/docs/apm/agents/java-agent/troubleshooting/jboss-and-wildfly-incomplete-telemetry.mdx
  src/i18n/content/jp/docs/cloudfoundry/vmware-tanzu/vmware-tanzu-firehose-nozzle-integration.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile/maintenance/add-custom-data-new-relic-mobile.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/troubleshooting/jboss-and-wildfly-incomplete-telemetry.mdx
  src/i18n/content/kr/docs/cloudfoundry/vmware-tanzu/vmware-tanzu-firehose-nozzle-integration.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile/maintenance/add-custom-data-new-relic-mobile.mdx
Labels: eng

#15342 Daily release/nov 28 2023 11 00
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/airflow/monitoring-airflow-ot.mdx
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-aggregate-monitor-metrics.mdx
  src/images/opentelemetry_screenshot_airflow_01.webp
  src/images/opentelemetry_screenshot_airflow_02.webp
  src/nav/integrations.yml
Labels: content, from_tw

#15270 NR-180031 - docs freshness utils
  .github/workflows/verify-mdx.yml
  scripts/addFreshnessFrontmatter.mjs
  scripts/docsAndLastDateEdited.mjs
  scripts/utils/__tests__/frontmatter.js
  scripts/utils/frontmatter.js
  scripts/verify_mdx.js
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-tanzu-monitoring-integration.mdx
Labels: eng

#15360 chore(ohi): removes VMWARE tanzu translation files
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/vmware-tanzu-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/vmware-tanzu-monitoring-integration.mdx
Labels: content, from_tw

#15101 chore/snmp profiles
  src/content/docs/network-performance-monitoring/advanced/snmp-profiles.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-kentik-default.mdx
Labels: content, from_internal

#15363 document new scripts
  .github/workflows/verify-mdx.yml
  scripts/README.md
Labels: eng
