Repository newrelic/docs-website, pull requests merged in 2023-07, with the labels that each got.

#13687 feat(Dictionary): Added NrAiIssue
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/violation-event-attributes.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/alert-quality-management-guide.mdx
  src/data-dictionary/events/Deployment/entity.guid.md
  src/data-dictionary/events/NrAiIncident/closeCause.md
  src/data-dictionary/events/NrAiIncident/closeTime.md
  src/data-dictionary/events/NrAiIncident/entity.guid.md
  src/data-dictionary/events/NrAiIncident/muted.md
  src/data-dictionary/events/NrAiIncident/priority.md
  src/data-dictionary/events/NrAiIncident/title.md
  src/data-dictionary/events/NrAiIncidentExternal/entity.guid.md
  src/data-dictionary/events/NrAiIncidentExternal/priority.md
  src/data-dictionary/events/NrAiIssue/NrAiIssue.event-definition.md
  src/data-dictionary/events/NrAiIssue/accountIds.md
  src/data-dictionary/events/NrAiIssue/activateTime.md
  src/data-dictionary/events/NrAiIssue/closeCause.md
  src/data-dictionary/events/NrAiIssue/correlated.md
  src/data-dictionary/events/NrAiIssue/correlatedCandidate.md
  src/data-dictionary/events/NrAiIssue/correlationRuleIds.md
  src/data-dictionary/events/NrAiIssue/correlationRuleNames.md
  src/data-dictionary/events/NrAiIssue/createTime.md
  src/data-dictionary/events/NrAiIssue/entitiesCount.md
  src/data-dictionary/events/NrAiIssue/entity.names.md
  src/data-dictionary/events/NrAiIssue/entity.types.md
  src/data-dictionary/events/NrAiIssue/event.md
  src/data-dictionary/events/NrAiIssue/incidentCount.md
  src/data-dictionary/events/NrAiIssue/incidentIds.md
  src/data-dictionary/events/NrAiIssue/isIdle.md
  src/data-dictionary/events/NrAiIssue/issueId.md
  src/data-dictionary/events/NrAiIssue/issueLink.md
  src/data-dictionary/events/NrAiIssue/lastModifiedTime.md
  src/data-dictionary/events/NrAiIssue/parentId.md
  src/data-dictionary/events/NrAiIssue/sources.md
  src/data-dictionary/events/NrAiIssue/timestamp.md
  src/data-dictionary/events/NrAiSignal/entity.guid.md
  src/data-dictionary/events/ServiceLevelSnapshot/entity.guid.md
  src/data-dictionary/events/Span/entity.guid.md
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_tw

#13777 Update php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#13775 feat(SLM NerdGraph): Add example of SLM with `SUM` and wildcard
  src/content/docs/apis/nerdgraph/examples/nerdgraph-slm.mdx
Labels: content, from_internal

#13781 [Product Partnerships] Added DataSync Entity
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-datasync-monitoring-integration.mdx
  src/i18n/content/jp/docs/service-level-management/alerts-slm.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#13765 EOL page component
  gatsby-config.js
  package.json
  scripts/actions/__tests__/__snapshots__/serialize-mdx.test.js.snap
  scripts/actions/__tests__/serialize-mdx.test.js
  scripts/actions/utils/handlers.js
  src/components/EolPage.js
  src/components/MDXContainer.js
  src/content/docs/apm/agents/go-agent/get-started/go-agent-eol-policy.mdx
  src/content/docs/apm/agents/java-agent/getting-started/java-agent-eol-policy.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-eol-policy.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-eol-policy.mdx
  src/content/docs/apm/agents/python-agent/getting-started/python-agent-eol-policy.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-eol-policy.mdx
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/infrastructure-agent-eol-policy.mdx
  src/i18n/content/jp/docs/apm/agents/go-agent/get-started/go-agent-eol-policy.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/getting-started/java-agent-eol-policy.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/getting-started/net-agent-eol-policy.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/getting-started/php-agent-eol-policy.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/getting-started/python-agent-eol-policy.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/getting-started/ruby-agent-eol-policy.mdx
  src/i18n/content/jp/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
  src/i18n/content/jp/docs/infrastructure/infrastructure-monitoring/get-started/infrastructure-agent-eol-policy.mdx
  src/i18n/content/kr/docs/apm/agents/go-agent/get-started/go-agent-eol-policy.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/getting-started/java-agent-eol-policy.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/getting-started/net-agent-eol-policy.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
  src/i18n/content/kr/docs/apm/agents/php-agent/getting-started/php-agent-eol-policy.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/getting-started/python-agent-eol-policy.mdx
  src/i18n/content/kr/docs/apm/agents/ruby-agent/getting-started/ruby-agent-eol-policy.mdx
  src/i18n/content/kr/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
  src/i18n/content/kr/docs/infrastructure/infrastructure-monitoring/get-started/infrastructure-agent-eol-policy.mdx
  yarn.lock
Labels: eng

#13369 Android agent v7.0.0 release notes & doc updates
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-compatibility-requirements.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-new-relic-gradle-plugin.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-proguard-or-dexguard-android-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-700.mdx
Labels: from_internal, from_tw

#13791 Updated zookeeper-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/zookeeper-monitoring-integration.mdx
  src/images/infrastructure_screenshot-full_apache-zookeeper-dashboard.webp
Labels: content, from_internal

#13792 docs: infra agent 1.43.2 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1432.mdx
Labels: content, from_internal

#13786 Document additional CDN in network prereqs
  src/install/npm/network-flow/linux-eu.mdx
  src/install/npm/network-flow/linux-us.mdx
  src/install/npm/snmp/linux-eu.mdx
  src/install/npm/snmp/linux-us.mdx
  src/install/npm/snmp/linux-usfedramp.mdx
  src/install/npm/syslog/linux-eu.mdx
  src/install/npm/syslog/linux-us-fedramp.mdx
  src/install/npm/syslog/linux-us.mdx
Labels: content, from_internal

#13800 rename `attributes` in event definitions to `sharedAttributes`
  scripts/transformDataDictionary.mjs
Labels: eng

#13803 Update browser-javascript-injection-causes-problems-page.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/browser-javascript-injection-causes-problems-page.mdx
Labels: content, from_internal

#13806 fix(Alerts): Fixed code inside the Microsoft Teams example
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/customize-your-webhook-payload.mdx
Labels: content, from_internal

#13808 Add new metrics to nri-postgresql
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
Labels: content, from_internal

#13797 docs: Distributed tracing latency and timeline views
  src/content/docs/distributed-tracing/ui-data/understand-use-distributed-tracing-ui.mdx
  src/images/distributed-tracing-trace-details-page-latency-view.webp
  src/images/distributed-tracing-trace-details-page-timeline-view.webp
Labels: content, from_internal

#13817 fixing url
  src/content/whats-new/2023/06/whats-new-06-13-wpm.md
Labels: content, from_tw

#13809 fix(login): new Github social login
  src/content/docs/accounts/accounts-billing/account-setup/login-options.mdx
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
Labels: content, from_tw

#13823 chore: language identifiers & format code
  src/content/docs/change-tracking/change-tracking-view-analyze.mdx
Labels: content, from_internal

#13822 Additional compatibility edits for the latest v7.0.0 android agent release
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-compatibility-requirements.mdx
Labels: content, from_internal

#13831 fix(org release notes): github login
  src/content/docs/release-notes/org-user-mgmt-release-notes/org-users-23-07-12.mdx
Labels: content, from_tw

#13564 chore(kafka): Remove old version requirement
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
Labels: content, from_tw

#13819 fix(docs): Update link to NPM install info
  src/content/docs/apis/nerdgraph/examples/browser-monitoring-config-nerdgraph.mdx
Labels: content, from_tw

#13838 Clark/attribute dictionary fix
  scripts/actions/update-attribute-dictionary-json.mjs
  scripts/actions/updateAttributeDictionaryJson.mjs
Labels: eng

#13842 add deprecated next to suggested responder
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
Labels: content, from_internal

#13844 fix(attribute-dictionary): apply alpha sort to attribute tables
  src/pages/attribute-dictionary.js
Labels: eng

#13785 Update manage-data-retention.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_internal

#13826 update 3rd party licenses to reflect current release 5.4.1
  src/content/docs/licenses/product-or-service-licenses/mobile-app-licenses/android-application-licenses.mdx
Labels: content, from_internal

#13851 Updated mexn-integration.mdx
  src/content/docs/browser/browser-integrations/mexn-integration.mdx
Labels: content, from_internal

#13850 Updated lampy-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/lampy-integration.mdx
Labels: content, from_internal

#13770 Add production PrivateLink doc
  src/content/docs/data-apis/custom-data/aws-privatelink.mdx
  src/images/accounts_screenshot-full_aws-create-vpc-endpoint-ui.png
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#13861 Update intro-synthetic-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/intro-synthetic-monitoring.mdx
Labels: content, from_tw

#13858 fix(drop data): clarify infra data billable or not
  src/content/docs/data-apis/manage-data/drop-data-using-nerdgraph.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#13871 fix(Dashboards): Updating icon and parameter in the TV mode section
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
Labels: content, from_tw

#13859 fix nav collapser quirk
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/nav-collapse.js
  src/components/MainLayoutContext.js
  src/layouts/HomepageLayout.js
  src/layouts/MainLayout.js
Labels: eng

#13865 Update FedRAMP Compliance Endpoints
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_tw

#13875 Clarify timeslices & dimensional metrics can't be in the same query
  src/content/docs/data-apis/understand-data/metric-data/query-metric-data-type.mdx
Labels: content, from_internal

#13881 fix nav collapser div covering content
  src/layouts/MainLayout.js
Labels: eng

#13878 Remove all code related to embed pages
  gatsby-node.js
  gatsby-ssr.js
  gatsby/on-pre-render-html.js
  src/components/EmbedContext.js
  src/components/HideWhenEmbedded.js
  src/components/MDXContainer.js
  src/layouts/EmbedLayout.js
  src/layouts/index.js
  src/templates/embedPage.js
  src/utils/constants.js
Labels: eng

#12932 chore: add syntax highlighting
  src/content/docs/apm/agents/php-agent/advanced-installation/docker-other-container-environments-install-php-agent.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/php-agent-heroku.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/php-agent-installation-non-standard-php-advanced.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/starting-php-daemon-advanced.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/uninstalling-php-agent.mdx
  src/content/docs/apm/agents/php-agent/attributes/attribute-examples.mdx
  src/content/docs/apm/agents/php-agent/attributes/enable-or-disable-attributes.mdx
  src/content/docs/apm/agents/php-agent/configuration/name-your-php-application.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-directory-ini-settings.mdx
  src/content/docs/apm/agents/php-agent/features/browser-monitoring-php-agent.mdx
  src/content/docs/apm/agents/php-agent/features/multiple-accounts.mdx
  src/content/docs/apm/agents/php-agent/features/recording-deployments-using-php-script.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/analyze-phpunit-test-data-new-relic.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/aws-elastic-beanstalk-installation-php.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/drupal-specific-functionality.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/guzzle.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/php-frameworks-integrate-support-new-relic.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/wordpress-specific-functionality.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-arm64.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-tar-file.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-ubuntu-debian.mdx
  src/content/docs/apm/agents/php-agent/installation/update-php-agent.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_add_custom_parameter.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_add_custom_tracer.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_background_job.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_capture_params.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_disable_autorum.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_end_of_transaction.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_end_transaction.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_get_browser_timing_footer.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_get_browser_timing_header.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_ignore_apdex.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_name_transaction.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_notice_error.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_record_custom_event.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_record_datastore_segment.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_set_appname.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_start_transaction.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelicacceptdistributedtraceheaders.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelicacceptdistributedtracepayload-php-agent-api.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelicaddcustomspanparameter-php-agent-api.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newreliccustommetric-php-agent-api.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelicgetlinkingmetadata.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelicgettracemetadata.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelicinsertdistributedtraceheaders.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelicissampled.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/performance-issues-long-running-task.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/submitting-troubleshooting-results-php.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/transactions-named-indexphp-or-unknown.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/using-phpinfo-verify-php.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/verifying-php-daemon.mdx
Labels: content, from_internal

#13887 fix nav collapser position for small widths
  src/layouts/MainLayout.js
Labels: eng

#13883 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#13890 whats-new: NRUG Summer Series
  src/content/whats-new/2023/07/summer_series_WN.md
Labels: content, from_internal

#13886 Create diagnostics-cli-262.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-262.mdx
Labels: content, from_internal

#13180 docs: add details about .NET AddCustomAttributes parameters
  src/content/docs/apm/agents/net-agent/getting-started/9x-to-10x-agent-migration-guide.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/ispan.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/itransaction.mdx
Labels: content, from_internal

#13896 docs: infra agent 1.44.0 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1440.mdx
Labels: content, from_internal

#13816 PUBLISH: 7/18 Migrate from polling to AWS metric streams
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
Labels: content, from_internal

#13818 PUBLISH: 7/18; Release notes: Create AWS-polling-to-AWS-CW-MetricStreams-Migration
  src/content/docs/release-notes/infrastructure-release-notes/cloud-integration-release-notes/AWS-polling-to-AWS-CW-MetricStreams-Migration
Labels: content, from_internal

#13885 fix(APM): fixing broken link
  src/content/docs/apm/agents/net-agent/troubleshooting/minimal-api-duplicate-routes-net.mdx
Labels: content, from_tw

#13888 Update eligibility-guidelines-new-relic-nonprofit-program.mdx to reflect addition of a new validation partner, Percent
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/eligibility-guidelines-new-relic-nonprofit-program.mdx
Labels: content, from_internal

#13874 (Publish 7/18 noon) feat(APM apps naming): Add information about some naming convention, replacing some symbols
  src/content/docs/apm/agents/manage-apm-agents/app-naming/name-your-application.mdx
Labels: content, from_internal

#13891 Added a section on how to test webhooks without writing code
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_external

#13899 fix(apm summary): some title changes
  src/content/docs/apm/agents/manage-apm-agents/agent-data/triage-run-diagnostics.mdx
Labels: content, from_tw

#13901 chore: .NET Agent release 10.13.0
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-13-0.mdx
Labels: content, from_internal

#13906 fix: SLES signature validation improvements
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
Labels: content, from_internal

#13907 Updated the dashboard image.
  src/images/apm_screenshot-full_magento-dashboard-overview.webp
Labels: content, from_internal

#13914 Updated the Sonarqube dashboard image and configuration document changes.
  .gitignore
  src/content/docs/infrastructure/host-integrations/host-integrations-list/sonarqube-monitoring-integration.mdx
  src/images/infrastructure_screenshot_full-sonarqube-dashboard.webp
Labels: content, from_internal

#13916 fix(homepage): updated quickstart number
  src/i18n/translations/en/translation.json
Labels: content, from_tw

#13917 fix(errors inbox): added java
  src/content/docs/apm/agents/manage-apm-agents/agent-data/manage-errors-apm-collect-ignore-or-mark-expected.mdx
Labels: content, from_tw

#13862 Bytecountestimate - new docs
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/content/docs/infrastructure/prometheus-integrations/troubleshooting/compare-rw-data-sent-billed-bytes.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
Labels: content, from_tw

#13910 fix(retention): clarify browser
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
  src/content/docs/data-apis/understand-data/event-data/default-events-reported-new-relic-products.mdx
  src/content/docs/data-apis/understand-data/event-data/events-reported-browser-monitoring.mdx
Labels: content, from_tw

#13903 fix(user type): rewording 'override' wording
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-capabilities.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
Labels: content, from_tw

#13913 fix(billable users): tip on time zone
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/account-user-mgmt-tutorial.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
Labels: content, from_tw

#13696 chore(glossary): Link to intro doc, not signup
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
Labels: content, from_tw

#13832 chore(kubernetes): Remove old version # warning
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
Labels: content, from_tw

#13928 Updated the Apache Hadoop dashboard image.
  src/images/infrastructure_screenshot-full_apache-hadoop-dashboard.webp
Labels: content, from_internal

#13749 .NET Agent: add exception for Alpine Linux under ARM64 support statement
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
Labels: content, from_internal

#13902 New browser install flow
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/browser/new-relic-browser/configuration/change-browser-agent-type.mdx
  src/content/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/instrumentation-browser-monitoring.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/install-single-page-app-monitoring.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/introduction-single-page-app-monitoring.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/spa-compatibility-requirements.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/compare-page-load-performance-browser-synthetic-monitoring.mdx
  src/i18n/content/jp/docs/browser/single-page-app-monitoring/get-started/spa-compatibility-requirements.mdx
  src/i18n/content/kr/docs/browser/single-page-app-monitoring/get-started/spa-compatibility-requirements.mdx
  src/images/browser_screenshot-crop_install-browser.webp
  src/nav/browser.yml
Labels: content, from_tw

#13934 Update advanced-config.mdx
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal

#13936 Update opentelemetry-tutorial-java.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-java.mdx
Labels: content, from_internal

#13938 fix: invalid yaml example
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking.mdx
Labels: content, from_internal

#13912 changing wording to make clear the difference between Security Hub an…
  src/content/docs/vulnerability-management/integrations/aws.mdx
Labels: content, from_internal

#13943 Update new-relic-android-compatibility-requirements.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-compatibility-requirements.mdx
Labels: content, from_internal

#13948 chore(typo): fix typo in opentelemetry-collector-squid
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-squid.mdx
Labels: content, from_internal

#13947 Update onramps-style-guide.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/onramps-style-guide.mdx
Labels: content, from_internal

#13946 fix(azure): highlighted line
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
Labels: content, from_tw

#13952 Update nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#13864 Improvements to synth cat
  src/content/docs/apis/synthetics-rest-api/monitor-examples/manage-synthetics-monitors-rest-api.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-monitoring-audit-log-track-changes-made-users.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetics-api.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/user-roles-synthetic-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/monitor-limits.mdx
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitors-index.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/intro-synthetic-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/new-runtime.mdx
  src/images/synthetic_screenshot-full_index-page.webp
  src/nav/synthetics.yml
Labels: content, from_tw

#13932 fix(user mgmt): updating for changes
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-manage-groups.mdx
  src/images/accounts_screenshot-crop_user-mgmt-ui.webp
Labels: content, from_tw

#13956 Update summer_series_WN.md
  src/content/whats-new/2023/07/summer_series_WN.md
Labels: content, from_internal

#13955 fix: browser monitoring is off by default
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#13957 Update introduction-new-relic-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
Labels: content, from_internal

#13958 feat(style): add label syntax + style guide structure edits
  src/content/docs/style-guide/writing-docs/processes-procedures/create-edit-content.mdx
  src/content/docs/style-guide/writing-docs/processes-procedures/understand-edit-docs-site-structure.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#13960 fix: Remove event query param for attribute dictionary link
  src/content/docs/change-tracking/change-tracking-view-analyze.mdx
Labels: content, from_internal

#13961 Update no-data-appears-java.mdx
  src/content/docs/apm/agents/java-agent/troubleshooting/no-data-appears-java.mdx
Labels: content, from_internal

#13751 fix(imgs): updated images
  src/images/accounts_screenshot-full_user-menu-location.webp
  src/images/browser_screenshot-full_filtered-web-vitals.webp
  src/images/browser_screenshot-full_page-url-view.webp
  src/images/queries-nrql_screenshot-crop_event-count-in-query-builder.webp
  src/images/queries-nrql_screenshot-full_query-builder.webp
Labels: content, from_tw

#13898 chore(nav): update nav for tutorials
  src/nav/alerts-applied-intelligence.yml
  src/nav/apm.yml
  src/nav/browser.yml
  src/nav/logs.yml
  src/nav/new-relic-solutions.yml
  src/nav/root.yml
  src/nav/tutorial-create-alerts.yml
Labels: content, from_tw

#13959 feat(survey): add survey banner
  src/announcements/docs-q2-survey.mdx
Labels: content, from_tw

#13926 chore(auto-assign): Remove stumblefiend
  .github/auto_assign.yml
Labels: from_tw

#13923 Update browser-tab.mdx
  src/content/docs/errors-inbox/browser-tab.mdx
Labels: content, from_internal

#13964 fix(survey): change survey link
  src/announcements/docs-q2-survey.mdx
Labels: content, from_tw

#13970 Infra Agent 1.45.0 Release Notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1450.mdx
Labels: content, from_internal

#13839 chore(log management): Update docs for log level filtering in the .NET Agent.
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#13904 fix(apm summary page): added summary tiles
  src/content/docs/apm/agents/manage-apm-agents/agent-data/triage-run-diagnostics.mdx
  src/images/apm_screenshot-crop_alerts-deployment-marker.webp
  src/images/apm_screenshot-crop_apm-service-levels-summary-tile.webp
  src/images/apm_screenshot-crop_apm-summary-tiles.webp
  src/images/apm_screenshot-crop_apm-vulnerabilities-tile.webp
  src/images/apm_screenshot-crop_deployment-summary-tile.webp
  src/images/apm_screenshot-crop_issues-summary-tile.webp
Labels: content, from_tw

#13939 style(alerts tutorial): Fix missing bold
  src/content/docs/tutorial-create-alerts/improve-with-alerts.mdx
Labels: content, from_tw

#13978 NewRelic iOS Agent 7.4.6b (release notes script fix)
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/spm-installation.mdx
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-746.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-ios/installation/spm-installation.mdx
Labels: content, from_internal

#13977 Couple small changes July 24
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-historical-data-export.mdx
Labels: content, from_tw

#13984 Updated the Sonarqube document.
  src/content/docs/infrastructure/host-integrations/host-integrations-list/sonarqube-monitoring-integration.mdx
  src/images/infrastructure_screenshot_full-sonarqube-dashboard.webp
Labels: content, from_internal

#13971 feat(Dashboards): Added back the 'Explore the public API performance …
  src/content/docs/data-apis/custom-data/explore-public-api-performance-dashboard.mdx
  src/images/dashboards_screenshot-full_public-API-perform-gpd.webp
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#13933 feat: otel host monitoring updates
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
Labels: content, from_internal

#13856 [Product Partnerships] Added SimpleWorkFlow Entity
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-simpleworkflow-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#13990 gracefully fail if the update doesn't return results
  .git-blame-ignore-revs
  scripts/actions/check-job-progress.js
Labels: eng

#13992 fix quotes, use non-zero exit code if updates fail
  scripts/actions/check-job-progress.js
Labels: eng

#13981 fix(js errors): fixed screenshots
  src/content/docs/browser/new-relic-browser/browser-pro-features/javascript-errors-page-detect-analyze-errors.mdx
  src/content/docs/tutorial-app-performance/reduce-javascript-errors.mdx
  src/images/browser_screenshot-crop_error-eventlog-stacktrace-overview-1.webp
  src/images/browser_screenshot-crop_error-overview-1.webp
  src/images/browser_screenshot-crop_event-trails.webp
  src/images/browser_screenshot-full_error-overview-1.webp
  src/images/browser_screenshot-full_js-error-summary-1.webp
Labels: content, from_tw

#13993 Update update-or-disable-policies-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/update-or-disable-policies-conditions.mdx
Labels: content, from_internal

#13996 Added missing recipes on guided install page
  src/content/docs/infrastructure/host-integrations/installation/new-relic-guided-install-overview.mdx
Labels: content, from_internal

#13976 fix(Explorer): remove faulty explorer language
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/automatic-anomalies.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/alert-custom-violation-descriptions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-incidents/view-violation-event-details-incidents.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-violations/view-alert-violations-our-products.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-historical-data-export.mdx
  src/content/docs/apm/agents/java-agent/features/real-time-profiling-java-using-jfr-metrics.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/databases-page-view-operations-throughput-response-time.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/external-services/external-services-ui.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/kubernetes-summary-page.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/transactions-page-find-specific-performance-problems.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/view-slow-query-details.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/view-your-applications-index.mdx
  src/content/docs/apm/applications-menu/events/view-alert-history.mdx
  src/content/docs/apm/new-relic-apm/getting-started/view-app-alert-information-apm.mdx
  src/content/docs/apm/transactions/intro-transactions/transactions-new-relic-apm.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/introduction-amazon-ecs-integration.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/troubleshooting/ecs-integration-troubleshooting-no-data-appears.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/monitor-services-running-amazon-ecs.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-ui-entities.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/manage-your-agent/infrastructure-agent-self-instrumentation.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/integrations-list-intro.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/logs-context/get-started-logs-context.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/mobile-apps-index.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/dropwizard/dropwizard-reporter.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/kamon/kamon-reporter.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/micrometer/micrometer-metrics-registry.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/different-entity-same-ip.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/no-device-in-UI.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/apm-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/get-started/implementation-guide-organize-data.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-explorer-view-performance-across-apps-services-hosts.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-lookout-monitor-your-estate-glance.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/what-entity-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/new-navigation-transition-guide.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/metric-normalization-rules.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/create-workloads.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/workloads-isolate-resolve-incidents-faster.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/optimize-slm-guide.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/ui-data/understand-lambda-monitoring-ui.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/content/docs/style-guide/word-choice/nerdgraph-doc-guidelines.mdx
  src/content/docs/style-guide/writing-docs/article-templates/prometheus-template.mdx
  src/content/docs/style-guide/writing-strategies/organize-doc.mdx
  src/images/solutions_screenshot-crop_entity-explorer-sections.webp
  src/images/solutions_screenshot-crop_entity-list-view.png
  src/images/solutions_screenshot-crop_entity-list-view.webp
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#13995 Update acceptable-use-policy.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/acceptable-use-policy.mdx
Labels: content, from_internal

#13989 fix(accounts): clarify account name unique
  src/content/docs/accounts/accounts/account-maintenance/change-your-new-relic-account-name.mdx
Labels: content, from_tw

#14000 Create java-agent-8.5.0.mdx - Java agent Release 8.5.0 release notes
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8.5.0.mdx
Labels: content, from_internal

#13985 feat:Add service characterization instructions for browser
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/service-characterization-optimize-service-telemetry-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/service-characterization-optimize-telemetry-data-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/service-characterization-optimize-web-telemetry-guide.mdx
  src/images/oma-oe-sc_screenshot-browser-errorlog.png
  src/images/oma-oe-sc_screenshot-browser-errors.png
  src/images/oma-oe-sc_screenshot-poor-ajax-grouping.png
  src/images/oma-oe-sc_screenshot-poor-pageview-grouping.png
  src/nav/new-relic-solutions.yml
Labels: content, from_internal

#14008 Update compare-rw-data-sent-billed-bytes.mdx
  src/content/docs/infrastructure/prometheus-integrations/troubleshooting/compare-rw-data-sent-billed-bytes.mdx
Labels: content, from_internal

#13980 Add max height on MDX images
  src/components/MDXContainer.js
Labels: eng

#14010 chore(OMA): Remove old "Coming soon" section
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-forecast-ingest-guide.mdx
Labels: content, from_tw

#14011 Update query-metric-data-type.mdx
  src/content/docs/data-apis/understand-data/metric-data/query-metric-data-type.mdx
Labels: content, from_internal

#14009 feat: Document cdfPercentage and getCdfCount NRQL functions
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#14012 chore: add Node.js Agent v10.6.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-10-6-0.mdx
Labels: content, from_internal

#14013 Update networks.mdx
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#14019 Revert "Add max height on MDX images"
  src/components/MDXContainer.js
Labels: eng

#13975 fix(alerts): updated icons
  src/images/accounts_icon_alerts-green.webp
  src/images/accounts_icon_alerts-red.webp
  src/images/accounts_icon_alerts-yellow.webp
  src/images/accounts_logo_alerts-gray.webp
Labels: content, from_tw

#14006 feat(content): adding deep link docs
  src/content/docs/style-guide/formatting/hyperlinks.mdx
Labels: content, from_tw

#14016 chore(Java): rename release notes
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-653.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-850.mdx
Labels: content, from_internal

#14015 "What's new" Widget Packs
  src/content/whats-new/2023/07/whats-new-7-27-labs-widget-packs.md
Labels: content, from_internal

#14022 Postfix: Update postfix-monitoring-integration.mdx based on testing
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postfix-monitoring-integration.mdx
Labels: content, from_internal

#13924 fix(DST): new DST ui page
  src/content/docs/distributed-tracing/ui-data/span-attributes.mdx
  src/content/docs/distributed-tracing/ui-data/trace-details.mdx
  src/content/docs/distributed-tracing/ui-data/understand-use-distributed-tracing-ui.mdx
  src/i18n/content/jp/docs/distributed-tracing/ui-data/span-attributes.mdx
  src/i18n/content/kr/docs/distributed-tracing/ui-data/span-attributes.mdx
  src/images/distributed-tracing_screenshot-crop_fragmented-trace.webp
  src/images/new-relic-distributed-tracing-multiapp-icon.webp
  src/nav/distributed-tracing.yml
Labels: content, from_tw

#14017 chore(Java): Kafka Connect
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/java-agent/instrumentation/java-agent-instrument-kafka-message-queues.mdx
Labels: content, from_internal

#14027 fix(usage dict): AWS guidance addition
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#13998 fix(browser): edit install procedure
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/tutorial-app-slow/root-causes.mdx
Labels: content

#14033 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#13963 Update global-technical-support-offerings.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_internal

#14024 NR-145977 - Update domain whitelist for CodeStream client
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#14031 Remove sum's incorrect "ignored" argument reference
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#14034 Python Agent v8.9.0 release notes
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-80900.mdx
Labels: content, from_internal

#14039 Fix migration-from-polling anchor
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
Labels: content, from_internal

#14038 Sendmail - Update sendmail-monitoring-integration.mdx based on testing inputs…
  src/content/docs/infrastructure/host-integrations/host-integrations-list/sendmail-monitoring-integration.mdx
Labels: content, from_internal

#14036 Update azure-public-ip-address-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-public-ip-address-monitoring-integration.mdx
Labels: content, from_internal

#14042 Browser Agent v1.237.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.237.0.mdx
Labels: content, from_internal

#13935 feat(Sonic): New AQM tutorial doc (145305)
  src/content/docs/tutorial-create-alerts/create-new-relic-alerts.mdx
  src/content/docs/tutorial-create-alerts/improve-with-alerts.mdx
  src/content/docs/tutorial-create-alerts/manage-alert-quality.mdx
  src/nav/tutorial-create-alerts.yml
Labels: content, from_tw

#14048 fix(release notes): fixed heading
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-ndk-103.mdx
Labels: content, from_tw

#14054 Updated zookeeper-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/zookeeper-monitoring-integration.mdx
Labels: content, from_internal

#14053 Update apache-hadoop-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/apache-hadoop-monitoring-integration.mdx
Labels: content, from_internal

#14056 Update mongodb-monitoring-integration-new.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#13997 [Product Partnerships] Added AWS Elastic Transcoder Entity
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-elastictranscoder-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#14062 Update mongodb-migration-guide.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-migration-guide.mdx
Labels: content, from_internal

#13873 Errors tutorial 2.0
  src/content/docs/tutorial-errors/respond-outages.mdx
  src/content/docs/tutorial-errors/route-teams.mdx
  src/content/docs/tutorial-errors/solve-critical-errors.mdx
  src/images/apm_screenshot-crop_all_entities.webp
  src/images/apm_screenshot-crop_api-gateway-summary.webp
  src/images/apm_screenshot-crop_errors-IDE.webp
  src/images/apm_screenshot-crop_errors-anomaly.webp
  src/images/apm_screenshot-crop_errors-assignment.webp
  src/images/apm_screenshot-crop_errors-details.webp
  src/images/apm_screenshot-crop_errors-inbox-page.webp
  src/images/apm_screenshot-crop_errors-logs-zoomed.webp
  src/images/apm_screenshot-crop_errors-logs.webp
  src/images/apm_screenshot-crop_errors-stack-traces.webp
  src/images/apm_screenshot-crop_errors-status.webp
  src/images/apm_screenshot-crop_errors-triage.webp
  src/nav/root.yml
  src/nav/tutorial-errors.yml
Labels: content, from_tw

#14063 add manual serialize/deserialize script
  package.json
  scripts/serde.js
Labels: eng

#14065 fix(entity): fix link
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/what-entity-new-relic.mdx
Labels: content, from_tw

#14051 feat: What's New post for cdf NRQL functions
  src/content/whats-new/2023/07/images/cdf.png
  src/content/whats-new/2023/07/whats-new-07-31-cdf-nrql-functions.md
Labels: content, from_internal

#14070 update-agents
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-15-2.mdx
Labels: content, from_internal
