Repository newrelic/docs-website, pull requests merged in 2023-01, with the labels that each got.

#10889 Update security-policy.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-policy.mdx
Labels: content, from_internal

#10892 Daily release/01/03/2023/morning
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
  src/content/docs/new-relic-solutions/observability-maturity/introduction.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/observability-coe.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/charts-and-dashboards-with-nrql.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-how-nrql-works.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
Labels: content, from_tw

#10891 Enable DSG
  gatsby-node.js
Labels: eng

#10784 fix: upgrade `gatsby` to 4.21.0 to fix Firefox dev
  package.json
  yarn.lock
Labels: bug

#10893 fix(api keys): clarifying copying keys
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_tw

#10810 Conditionally add install steps
  plugins/gatsby-source-install-config/gatsby-node.js
  src/install/config/demo.yaml
  src/install/demo/dropdown2/addStep.mdx
  src/pages/install/{installConfig.agentName}.js
Labels: eng

#10897 Daily release/01/03/2023/evening
  package.json
  plugins/gatsby-source-install-config/gatsby-node.js
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/install/config/demo.yaml
  src/install/demo/dropdown2/addStep.mdx
  src/pages/install/{installConfig.agentName}.js
  yarn.lock
Labels: content, from_tw

#10472 Improvement of logs intro stuff
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/logs/get-started/new-relics-log-management-security-privacy.mdx
  src/content/docs/logs/logs-context/disable-automatic-logging.mdx
  src/content/docs/logs/logs-context/logs-in-context.mdx
Labels: content, from_tw

#10896 clarifying message to reader, New Relic style & voice
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
Labels: content, from_internal

#10463 new(apm no stack traces): new doc
  src/content/docs/apm/agents/apm-no-stack-traces.mdx
Labels: content, from_internal

#10757 Update parsing to include CSV parsing (on hold)
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#10903 NrAuditEvent edits
  src/content/docs/accounts/accounts/account-maintenance/query-account-audit-logs-nrauditevent.mdx
  src/content/docs/data-apis/understand-data/event-data/query-account-audit-logs-nrauditevent.mdx
  src/i18n/content/jp/docs/accounts/accounts/account-maintenance/query-account-audit-logs-nrauditevent.mdx
  src/i18n/content/jp/docs/data-apis/understand-data/event-data/nrauditevent-event-data-query-examples.mdx
  src/i18n/content/kr/docs/accounts/accounts/account-maintenance/query-account-audit-logs-nrauditevent.mdx
  src/i18n/content/kr/docs/data-apis/understand-data/event-data/nrauditevent-event-data-query-examples.mdx
  src/nav/accounts.yml
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#10899 Update to the JP and KR Nav
  src/i18n/nav/jp.json
  src/i18n/nav/kr.json
Labels: translations

#10902 Update condition-recommendations.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/condition-recommendations.mdx
Labels: content, from_internal

#10907 fix(retention): clarify caps
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#10900 Updating style guide with placeholder/highlight-code guidance
  src/content/docs/style-guide/formatting/code-examples.mdx
  src/images/apis-and-data_screenshot-crop_code-highlight.png
Labels: content, from_tw

#10808 chore(nr solutions) fix typo
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/update-new-relic-agent.mdx
  src/images/alerts_screenshot-full_faceted-baseline-condition-query.png
  src/images/alerts_screenshot-full_new-relic-alerts-baseline-thresholds.png
Labels: content, from_tw

#10908 fix(collaboration): fixing link
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/collaborate/collaborate-with-teammates.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/collaborate/collaboration-slack-integration.mdx
Labels: content, from_tw

#10886 Updates to Debian
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
Labels: content, from_internal

#10912 Update errors-inbox.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/images/errors-inbox_screenshot-crop_error-context2.png
Labels: content, from_internal

#10720 chore: fix xml indentation, add lang identifier
  src/content/docs/apm/agents/java-agent/heroku/java-agent-heroku.mdx
Labels: content, from_internal

#10910 feat(aws): broken link
  src/content/docs/vulnerability-management/integrations/aws.mdx
Labels: content, from_tw

#10916 fix: update option from bar to area chart for units
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
Labels: content, from_internal

#10922 fix mobile settings link
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#10919 Revert "Updated the graphql URL"
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
Labels: content, from_internal

#10894 Remove 'core user release transition' and related edits
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/core-users-release.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-pricing-billing/core-users-release.mdx
  src/i18n/content/kr/docs/accounts/accounts-billing/new-relic-one-pricing-billing/core-users-release.mdx
Labels: content, from_tw

#10920 Updating certification date
  src/content/docs/security/security-privacy/compliance/hitrust.mdx
Labels: content, from_internal

#10917 OM section: move out web perf and page load docs into Best Practices
  src/content/docs/new-relic-solutions/best-practices-guides/cx-improve-page-load.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/cx-improve-web-uptime.mdx
  src/i18n/content/jp/docs/new-relic-solutions/best-practices-guides/cx-improve-page-load.mdx
  src/i18n/content/jp/docs/new-relic-solutions/best-practices-guides/cx-improve-web-uptime.mdx
  src/i18n/content/kr/docs/new-relic-solutions/best-practices-guides/cx-improve-page-load.mdx
  src/i18n/content/kr/docs/new-relic-solutions/best-practices-guides/cx-improve-web-uptime.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#10924 fix(extract timeslice): trying to fix links
  src/content/docs/apis/rest-api-v2/basic-functions/extract-metric-timeslice-data.mdx
Labels: content, from_tw

#10817 Create trivy.mdx
  src/content/docs/vulnerability-management/integrations/trivy.mdx
  src/nav/vuln-management.yml
Labels: content, from_internal

#10884 Update newrelic_record_custom_event.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_record_custom_event.mdx
Labels: content, from_internal

#10921 Update MacOS infra agent filepath
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/configure-infrastructure-agent.mdx
Labels: content, from_internal

#10911 Adding and updating templates
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/migration-to-workflows.mdx
Labels: content, from_internal

#10904 fix(apm): add stack trace doc to taxonomy
  src/content/docs/apm/agents/apm-no-stack-traces.mdx
  src/nav/apm.yml
Labels: content, from_tw

#10939 fixed a typo
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/migration-to-workflows.mdx
Labels: content, from_external

#10938 fix: NR-77864 Add sumOfSquares to the list of timeslice fields for getField()
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#10948 Update agent-nrintegrationerrors-appear-insights.mdx
  src/content/docs/apm/agents/manage-apm-agents/troubleshooting/agent-nrintegrationerrors-appear-insights.mdx
Labels: content, from_internal

#10945 consistent capitalization for terms and acronyms per New Relic style
  src/content/docs/browser/single-page-app-monitoring/get-started/introduction-single-page-app-monitoring.mdx
Labels: content, from_internal

#10935 AM JANUARY 9 -- chore: Update Ruby agent documentation for 8.15.0 release
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-eol-policy.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-8150.mdx
Labels: content, from_internal

#10949 multiple app names doc: remove 'manage insights data'
  src/content/docs/apm/agents/manage-apm-agents/app-naming/use-multiple-names-app.mdx
Labels: content, from_tw

#10662 chore: Browser Agent 1221 Release - 1/9 12pm
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1221.mdx
Labels: content, from_internal

#10933 Delete 'pricing faqs' doc, and improve general pricing doc
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/content/docs/licenses/license-information/faq/new-relic-one-pricing-plan-frequently-asked-questions.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
Labels: content, from_tw

#10914 feat(vm): update agent compatability
  src/content/docs/vulnerability-management/integrations/intro.mdx
Labels: content, from_tw

#10958 Style guide addition to Products and capabilities page
  src/content/docs/browser/browser-monitoring/getting-started/browser-summary-page.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/content/whats-new/2020/08/real-user-monitoring-support-w3c-trace-context-google-core-web-vitals.md
Labels: from_internal

#10963 Daily release/jan 9 2023 4 05
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/automatic-anomalies.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/other-condition-types/create-anomaly-alert-conditions.mdx
  src/content/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/content/docs/browser/browser-monitoring/getting-started/browser-summary-page.mdx
  src/content/docs/licenses/license-information/faq/new-relic-one-pricing-plan-frequently-asked-questions.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-one-usage-plan-descriptions.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/content/docs/vulnerability-management/integrations/intro.mdx
  src/content/whats-new/2020/08/real-user-monitoring-support-w3c-trace-context-google-core-web-vitals.md
  src/nav/alerts-applied-intelligence.yml
  src/templates/docPage.js
Labels: from_tw

#10721 Azure monitor
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
  src/images/azure-monitor.png
  src/nav/infrastructure.yml
Labels: content, from_tw

#10781 fix(custom metrics): improving the page
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-custom-metrics.mdx
  src/content/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer.mdx
  src/images/queries-nrql_screenshot-crop_metrics-events-chart-area.png
  src/images/queries-nrql_screenshot-crop_metrics-events-nrql-display.png
  src/images/queries-nrql_screenshot-crop_metrics-events-query-area.png
  src/images/queries-nrql_screenshot-crop_metrics-events-share-export.png
  src/images/queries-nrql_screenshot-crop_timeslice-metrics-link.png
  src/images/queries-nrql_screenshot-full_metrics-events-data-explorer.png
Labels: content, from_tw

#10967 Om diag guide fixes
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/diagnostics-beginner-guide.mdx
Labels: content, from_tw

#10944 Whats new 01-10 collaboration public preview
  src/content/whats-new/2023/01/whats-new-01-10-collaboration-public-preview.md
Labels: content, from_internal, what's new

#10972 Service maps now supported for OTel services
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-comparison.mdx
Labels: content, from_internal

#10977 fix(vm): Remove .net roadmap
  src/content/docs/vulnerability-management/integrations/intro.mdx
Labels: content, from_tw

#10530 feat(io): edits to Snowflake IO page and created blazor web assembly page
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/browser-monitoring-integrations/blazor-webassembly.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/browser-monitoring-integrations/nuxt-js-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/browser-monitoring-integrations/nuxt-js-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/browser-monitoring-integrations/nuxt-js-integration.mdx
  src/images/infrastructure_screenshot-full_Blazor-WebAssembly-dashboard.png
  src/nav/infrastructure.yml
Labels: content, from_tw

#10978 fix(alerts): removing redirect
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/introduction-alerts.mdx
Labels: content, from_tw

#10909 [NR-76990] V6.9.2 release notes, EOL and DG docs update
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/notice-network-failure.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-proguard-or-dexguard-android-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-692.mdx
Labels: content, from_internal

#10984 Added new terms to Usage page
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#10986 fix(API): There was a letter outside the code formatting
  src/content/docs/apis/rest-api-v2/application-examples-v2/get-average-throughput-app-v2.mdx
Labels: content, from_tw

#10988 Daily release/jan 11 2023 1 50
  src/content/docs/apis/rest-api-v2/application-examples-v2/get-average-throughput-app-v2.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb-monitoring-integration.mdx
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content

#10961 Nextcloud io
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nextcloud-integration.mdx
  src/images/infrastructure_screenshot-full_Nextcloud-integration.png
  src/nav/infrastructure.yml
Labels: content, from_tw

#10989 cordova 6.0.1 release
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-plugin-601.mdx
Labels: content, from_internal, release notes

#10991 fix(pricing): small typos
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#10994 Daily release/jan 11 2023 4 37
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nextcloud-integration.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-plugin-601.mdx
  src/images/infrastructure_screenshot-full_Nextcloud-integration.png
  src/nav/infrastructure.yml
Labels: content

#10959 Add unsupported asgi page & rename existing to wsgi
  src/content/docs/apm/agents/python-agent/python-agent-api/guide-using-python-agent-api.mdx
  src/install/config/python.yaml
  src/install/python/python-options/python-agent-daphne.mdx
  src/install/python/python-options/python-agent-fastapi.mdx
  src/install/python/python-options/python-agent-hypercorn.mdx
  src/install/python/python-options/python-agent-starlette.mdx
  src/install/python/python-options/python-agent-unsupported-asgi-frameworks.mdx
  src/install/python/python-options/python-agent-unsupported-wsgi-frameworks.mdx
  src/install/python/python-options/python-agent-uvicorn.mdx
Labels: content, from_internal

#10996 Removed EOL callout
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/install-update-or-uninstall-your-prometheus-openmetrics-integration.mdx
Labels: content, from_internal

#10997 Updated versions supported
  src/content/docs/infrastructure/host-integrations/host-integrations-list/haproxy-monitoring-integration.mdx
Labels: content, from_internal

#10998 Added Prometheus Agent
  src/content/docs/more-integrations/grafana-integrations/get-started/grafana-support-prometheus-promql.mdx
Labels: content, from_internal

#10999 Fixed links
  src/content/docs/infrastructure/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
Labels: content, from_internal

#11000 Remove old deprecation callout
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
Labels: content, from_internal

#11001 Improving example
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
Labels: content, from_internal

#11002 Small typo
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal

#10987 Update obfuscation-ui.mds
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
Labels: content, from_internal

#11007 Logs intro: add screenshot
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/images/logs_screenshot-full_main-logs-ui.png
Labels: content, from_tw

#11009 Java branching: Re-add step 2 for maven and gradle selections
  src/install/config/java.yaml
Labels: content, from_tw

#11008 docs: infra agent 1.36.1 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1361.mdx
Labels: content, from_internal

#11006 Remove not supporting ARM callout
  src/content/docs/infrastructure/host-integrations/host-integrations-list/powerdns-monitoring-integration.mdx
Labels: content, from_internal

#11012 Daily release/01/12/2023/noon
  src/components/AppInfoConfigOption.js
  src/content/docs/infrastructure/host-integrations/host-integrations-list/haproxy-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/install-update-or-uninstall-your-prometheus-openmetrics-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/more-integrations/grafana-integrations/get-started/grafana-support-prometheus-promql.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-plugin-100.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/index.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-plugin-601.mdx
  src/i18n/content/jp/docs/apis/rest-api-v2/application-examples-v2/get-average-throughput-app-v2.mdx
  src/i18n/content/jp/docs/apis/rest-api-v2/get-started/list-application-id-host-id-instance-id.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/custom-instrumentation/java-instrumentation-xml.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/custom-instrumentation/troubleshooting-java-custom-instrumentation.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/custom-instrumentation/create-transactions-xml-net.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-custom-metrics.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-microsoft-azure.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/frameworks-libraries/aws-elastic-beanstalk-installation-php.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/frameworks-libraries/guzzle.mdx
  src/i18n/content/jp/docs/apm/apm-ui-pages/monitoring/lookout-signals.mdx
  src/i18n/content/jp/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/i18n/content/jp/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
  src/i18n/content/jp/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
  src/i18n/content/jp/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/diagnostics-beginner-guide.mdx
  src/i18n/content/kr/docs/apis/rest-api-v2/application-examples-v2/get-average-throughput-app-v2.mdx
  src/i18n/content/kr/docs/apis/rest-api-v2/get-started/list-application-id-host-id-instance-id.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/custom-instrumentation/java-instrumentation-xml.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/custom-instrumentation/troubleshooting-java-custom-instrumentation.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/instrumentation/monitor-deployments-java-agent.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/custom-instrumentation/create-transactions-xml-net.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-custom-metrics.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-microsoft-azure.mdx
  src/i18n/content/kr/docs/apm/agents/php-agent/frameworks-libraries/aws-elastic-beanstalk-installation-php.mdx
  src/i18n/content/kr/docs/apm/agents/php-agent/frameworks-libraries/guzzle.mdx
  src/i18n/content/kr/docs/apm/apm-ui-pages/features/analyze-database-instance-level-performance-issues.mdx
  src/i18n/content/kr/docs/apm/apm-ui-pages/monitoring/lookout-signals.mdx
  src/i18n/content/kr/docs/apm/new-relic-apm/getting-started/get-started-logs-context.mdx
  src/i18n/content/kr/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
  src/i18n/content/kr/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
  src/i18n/content/kr/docs/logs/ui-data/use-logs-ui.mdx
  src/i18n/content/kr/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/diagnostics-beginner-guide.mdx
  src/i18n/content/kr/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer.mdx
  src/images/logs_screenshot-full_main-logs-ui.png
  src/install/config/java.yaml
  src/install/java/appInfo-1.mdx
  src/install/java/appInfo-2.mdx
  src/nav/mobile-monitoring.yml
  src/pages/install/{installConfig.agentName}.js
Labels: from_tw

#11013 Update net-agent-eol-policy.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-eol-policy.mdx
Labels: content, from_internal

#11011 fix(org release note): NG add/delete users
  src/content/docs/release-notes/org-user-mgmt-release-notes/org-users-22-11-22.mdx
Labels: content, from_tw

#11014 Add Release Notes for .NET Agent v10.5.0
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-5-0.mdx
Labels: content, from_internal

#11018 Daily release/01/12/2023/evening
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-eol-policy.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/powerdns-monitoring-integration.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-5-0.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1361.mdx
  src/content/docs/release-notes/org-user-mgmt-release-notes/org-users-22-11-22.mdx
  src/content/whats-new/2023/01/whats-new-01-12-async-local-storage-context-mgr.md
Labels: content, from_tw

#11017 fix: add caveat regarding facet selection for COMPARE WITH queries
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#11022 Assorted small fixes
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/account-user-mgmt-tutorial.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/parent-child-account-structure.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/your-first-nrql-condition.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-nrql-tutorial.mdx
  src/content/docs/apm/agents/c-sdk/get-started/otel_cpp_example.mdx
  src/content/docs/data-apis/manage-data/manage-your-data.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/install-prometheus-agent.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/get-pixie-integration-version.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/http-errors-network-failure-analysis.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
Labels: content, from_tw

#11005 fix(auth domain): UI changes
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/nav/accounts.yml
Labels: content, from_tw

#11025 Org release note for auth domain changes
  src/content/docs/release-notes/org-user-mgmt-release-notes/org-users-23-01-13.mdx
Labels: content, from_tw

#11004 feat(logging): Add warning about nested capture groups support
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
Labels: content, from_internal

#11027 Add translate functionality to nav footer
  src/components/NavFooter.js
  src/i18n/translations/en/translation.json
  src/i18n/translations/jp/translation.json
  src/i18n/translations/kr/translation.json
Labels: eng

#11031 Update anomaly-detection-applied-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
Labels: content, from_internal

#10842 feat(Infrastructure): dojo doc (72805)
  src/content/docs/infrastructure/host-integrations/host-integrations-list/dojo-io-integration.mdx
  src/images/infrastructure_screenshot-crop_dojo-dashboard.png
  src/nav/infrastructure.yml
Labels: content, from_tw

#11035 fix(collaboration): fixed some minor things
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/collaborate/collaborate-with-teammates.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/collaborate/collaboration-slack-integration.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_internal

#11021 chore(Alerts): reviewed the Anomaly detection with applied intelligen…
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/images/alerts_screenshot-full_anomaly-dashboard.png
  src/images/alerts_screenshot-full_anomaly-details.png
  src/images/alerts_screenshot-full_anomaly-slack-notifications.png
Labels: content, from_tw

#10973 Add clarifying callout
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/muting-rules-suppress-notifications.mdx
Labels: content, from_internal

#10964 fix(anomalies): fixing small error
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
Labels: content, from_tw

#10985 feat(vm): updates for GA
  src/content/docs/vulnerability-management/dev-workflow.mdx
  src/content/docs/vulnerability-management/integrations/intro.mdx
  src/content/docs/vulnerability-management/integrations/trivy.mdx
  src/content/docs/vulnerability-management/overview.mdx
  src/content/docs/vulnerability-management/security-workflow.mdx
  src/images/security_screenshot-full_security-overview.png
  src/images/vmVulnTab.png
  src/images/vuln-assign.png
  src/images/vulnLibrary.png
  src/images/vulnerabilities-assigned.png
  src/nav/vuln-management.yml
Labels: content, from_tw

#11042 Update blazor-webassembly.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/browser-monitoring-integrations/blazor-webassembly.mdx
Labels: content, from_internal

#11038 chore: Update workflow variables
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
Labels: content, from_internal

#11015 clarifying that the new payload is handlebar
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/migration-to-workflows.mdx
Labels: content, from_internal

#11039 feat(ibmmq): adding windows support
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ibmmq-monitoring-integration.mdx
Labels: content, from_internal

#11044 chore(Prometheus): Changed the k8s and docker icons
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/configure-prometheus-openmetrics-integrations.mdx
  src/images/os_icon_docker.png
  src/images/os_icon_k8.png
Labels: content, from_tw

#11041 fix(Destinations): Add more information regarding destination statuses
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
Labels: content, from_internal

#9575 .NET branch install
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-cloud-services.mdx
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-service-fabric.mdx
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/custom-instrumentation/create-transactions-xml-net.mdx
  src/content/docs/apm/agents/net-agent/getting-started/introduction-new-relic-net.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/apm/agents/net-agent/install-guides/install-overview.mdx
  src/content/docs/apm/agents/net-agent/installation/install-net-agent-linux.mdx
  src/content/docs/apm/agents/net-agent/installation/install-net-agent-windows.mdx
  src/content/docs/apm/agents/net-agent/installation/introduction-net-agent-install.mdx
  src/content/docs/apm/agents/net-agent/other-installation/install-net-agent-aspnet-core.mdx
  src/content/docs/apm/agents/net-agent/other-installation/install-net-agent-docker-container.mdx
  src/content/docs/apm/agents/net-agent/other-installation/install-net-agent-windows-communication-foundation-wcf.mdx
  src/content/docs/apm/agents/net-agent/other-installation/net-agent-install-resources.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/cocreate-errors-no-event-log.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/cocreateinstance-errors-no-profiler-log.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/debugging-net-core-agent-linux.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/debugging-net-windows.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/install-new-relic.mdx
  src/content/docs/style-guide/structure/lists.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/installation/install-net-agent-linux.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/installation/install-net-agent-windows.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/installation/introduction-net-agent-install.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/other-installation/install-net-agent-aspnet-core.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/installation/install-net-agent-linux.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/installation/install-net-agent-windows.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/installation/introduction-net-agent-install.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/other-installation/install-net-agent-aspnet-core.mdx
  src/install/config/agent-config/dotnet-newrelic.xml
  src/install/config/dotnet.yaml
  src/install/config/java.yaml
  src/install/dotnet/agentConfig.mdx
  src/install/dotnet/appInfo-1.mdx
  src/install/dotnet/appInfo-2.mdx
  src/install/dotnet/guidedInstall.mdx
  src/install/dotnet/installation/aws-lambda.mdx
  src/install/dotnet/installation/azure-web-apps.mdx
  src/install/dotnet/installation/dockerLinux.mdx
  src/install/dotnet/installation/dockerWindows.mdx
  src/install/dotnet/installation/linuxInstall1.mdx
  src/install/dotnet/installation/linuxInstall2.mdx
  src/install/dotnet/installation/linuxInstall3-enable-agent.mdx
  src/install/dotnet/installation/nuget.mdx
  src/install/dotnet/installation/windowsIisInstall-2.mdx
  src/install/dotnet/installation/windowsInstall.mdx
  src/install/dotnet/installation/windowsInstallNonIisEnable.mdx
  src/install/dotnet/installation/windowsNonIisInstall-2.mdx
  src/install/dotnet/intro.mdx
  src/install/dotnet/moveDirectory.mdx
  src/install/dotnet/outro.mdx
  src/install/dotnet/whatsNext.mdx
  src/nav/apm.yml
Labels: content, from_tw

#11045 Assorted small edits
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/logs/ui-data/parsing.mdx
  src/content/docs/release-notes/org-user-mgmt-release-notes/org-users-22-11-08.mdx
  src/content/docs/release-notes/org-user-mgmt-release-notes/org-users-22-11-22.mdx
Labels: content, from_tw

#11048 fix(branch .net): some small agent edits
  src/content/docs/apis/rest-api-v2/get-started/list-application-id-host-id-instance-id.mdx
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
  src/content/docs/apm/agents/net-agent/installation/update-net-agent.mdx
  src/content/docs/apm/agents/net-agent/other-features/browser-monitoring-net-agent.mdx
  src/content/docs/apm/agents/net-agent/other-installation/net-agent-install-resources.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/debugging-net-windows.mdx
Labels: content, from_tw

#10979 fix(alerts): removed two outdated docs and added relevant information…
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/alerts-concepts-workflow.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/introduction-alerts.mdx
  src/content/docs/alerts-applied-intelligence/overview.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/alerts-concepts-workflow.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/introduction-alerts.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/alerts-concepts-workflow.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/introduction-alerts.mdx
Labels: content, from_tw

#11054 .NET install: delete couple files for i18n
  src/i18n/content/jp/docs/apm/agents/net-agent/install-guides/install-overview.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/install-guides/install-overview.mdx
Labels: content

#11047 chore: Update .NET local log decoration JSON instructions
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal

#11051 fix(azure): add public preview and missing entities
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
Labels: content, from_tw

#11056 Remove Rails7 callout
  src/content/docs/apm/agents/ruby-agent/api-guides/ignoring-specific-transactions.mdx
  src/content/docs/apm/agents/ruby-agent/api-guides/ruby-custom-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/api-guides/ruby-custom-metrics.mdx
  src/content/docs/apm/agents/ruby-agent/api-guides/sending-handled-errors-new-relic.mdx
Labels: content, from_internal

#10974 Redmine io
  src/content/docs/infrastructure/host-integrations/host-integrations-list/redmine-integration.mdx
  src/images/infrastructure_screenshot-crop_redmine-io-dash.png
Labels: content, from_tw

#11058 docs: drop unsupported version
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
Labels: content, from_internal

#11062 Set no-cache on all page headers
  gatsby-config.js
Labels: eng

#11067 Downgrade gatsby and turn off dsg
  gatsby-node.js
  package.json
  yarn.lock
Labels: eng

#11071 Update customize-your-webhook-payload.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/customize-your-webhook-payload.mdx
Labels: content, from_internal

#11077 fix(branch net): edit linux content
  src/install/dotnet/installation/linuxInstall1.mdx
  src/install/dotnet/installation/linuxInstall2.mdx
Labels: content, from_tw

#11075 Remove `simple definitions` distinction in entity list
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
Labels: content, from_internal

#11076 Fix typo in alert-custom-violation-descriptions.mdx.
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/alert-custom-violation-descriptions.mdx
Labels: content, from_tw

#11069 feat(vsu): update front page tiles
  src/i18n/translations/en/translation.json
  src/pages/index.js
Labels: content, from_tw

#11074 Browser Agent release v1222
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1221.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1222.mdx
Labels: content, from_internal

#11078 Style guide addition to Usage page
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#11084 Update uninstall-net-agent.mdx
  src/content/docs/apm/agents/net-agent/installation/uninstall-net-agent.mdx
Labels: content, from_tw

#11081 chore: add syntax highlighting to terminal cmds
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/docker-container-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/docker-instrumentation-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/linux-agent-running-modes.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-manual-install-infrastructure-agent-linux.mdx
Labels: content, from_internal

#11087 docs: Clarifying pageHide & windowUnload events (BA v1222 rls)
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details.mdx
  src/data-dictionary/events/PageViewTiming/pageHide.md
  src/data-dictionary/events/PageViewTiming/windowUnload.md
Labels: content, from_internal

#11068 feat(syntheticIPs): Clarified documentation and highlighted upcoming …
  src/content/docs/synthetics/synthetic-monitoring/administration/new-synthetic-public-minion-ips.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/administration/new-synthetic-public-minion-ips.mdx
  src/i18n/content/kr/docs/synthetics/synthetic-monitoring/administration/new-synthetic-public-minion-ips.mdx
  src/nav/synthetics.yml
Labels: content, from_internal

#11099 updates elasticsearch supported versions
  src/content/docs/infrastructure/host-integrations/host-integrations-list/elasticsearch/elasticsearch-integration.mdx
Labels: content, from_internal

#11092 feat(Azure): Clarified how youlog infor the first time if you're using Azure Native
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/azure-native.mdx
Labels: content, from_tw

#11101 New release note about Azure Monitor
  src/content/docs/release-notes/infrastructure-release-notes/cloud-integration-release-notes/new-azure-monitor-metrics-integration.mdx
Labels: content, from_internal

#11059 Update manage-data-retention.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_internal

#11095 Add files via upload
  src/content/whats-new/2023/01/whats-new-1-18-23-VM-GA-Offer.md
Labels: content, from_internal, whats new

#11104 Some Azure Native edits: add Azure docs link, more
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/azure-native.mdx
Labels: content, from_tw

#11094 docs: update browser support statement NEWRELIC-3831
  src/content/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
Labels: content, from_internal

#11109 Fix link to "Organize your page" doc
  src/content/docs/style-guide/writing-strategies/introduction-style-guide.mdx
Labels: content, from_internal

#11090 fix(PAPI): clarify limitations for adding accounts
  src/content/docs/new-relic-partnerships/partner-integration-guide/partner-account-maintenance/partner-api.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-account-object.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-sub-account-object.mdx
Labels: content, from_tw

#11103 Update incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_internal

#11111 chore: add language identifiers
  src/content/docs/apis/rest-api-v2/application-examples-v2/application-error-rate-example-v2.mdx
Labels: content, from_internal

#11112 docs: update EOL and release notes for cordova 6.0.2
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-plugin-602.mdx
Labels: content, from_internal

#11114 fix: updated links to node-newrelic api docs to strip /docs
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
  src/content/docs/apm/agents/nodejs-agent/attributes/nodejs-agent-attributes.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/attributes/nodejs-agent-attributes.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
  src/i18n/content/jp/docs/logs/logs-context/configure-logs-context-nodejs.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/attributes/nodejs-agent-attributes.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
  src/i18n/content/kr/docs/logs/logs-context/configure-logs-context-nodejs.mdx
Labels: content, from_internal

#11115 Update supported version for .NET MySQL compatibility
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#11119 fix browser release notes duplicate
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1222.mdx
Labels: content, from_tw

#11120 fix(alerts): remove circular redirect
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
Labels: content, from_tw

#10583 fix(apm): update key transaction pathing
  src/content/docs/apm/transactions/key-transactions/create-update-key-transactions.mdx
  src/content/docs/apm/transactions/key-transactions/introduction-key-transactions.mdx
  src/content/docs/apm/transactions/key-transactions/tag-key-transactions.mdx
Labels: content, from_tw

#11096 feat(Security): Added SOC 2 url
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/soc2.mdx
Labels: content, from_tw

#11126 Fixed broken links
  src/content/docs/infrastructure/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
Labels: content, from_internal

#10975 docs: updating OTLP metrics support for FedRAMP
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-setup.mdx
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_internal

#11130 fix(data center): remove log patterns
  src/content/docs/accounts/accounts-billing/account-setup/choose-your-data-center.mdx
Labels: content, from_tw

#11131 Daily release/jan 20 2023 10 55
  src/content/docs/apm/transactions/key-transactions/create-update-key-transactions.mdx
  src/content/docs/apm/transactions/key-transactions/introduction-key-transactions.mdx
  src/content/docs/apm/transactions/key-transactions/tag-key-transactions.mdx
  src/content/docs/infrastructure/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-setup.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/soc2.mdx
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/installation/uninstall-net-agent.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/getting-started/php-agent-eol-policy.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/linux-installation/docker-container-infrastructure-monitoring.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/linux-installation/docker-instrumentation-infrastructure-monitoring.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/linux-installation/linux-agent-running-modes.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/alert-custom-violation-descriptions.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/customize-your-webhook-payload.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/installation/uninstall-net-agent.mdx
  src/i18n/content/kr/docs/apm/agents/php-agent/getting-started/php-agent-eol-policy.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/linux-installation/docker-instrumentation-infrastructure-monitoring.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/linux-installation/linux-agent-running-modes.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-manual-install-infrastructure-agent-linux.mdx
Labels: content

#11129 Azure Native: some liaison improvements
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/azure-native.mdx
  src/content/whats-new/2022/04/whats-new-4-14-data-updates.md
Labels: content, from_tw

#10993 fix(Java): adding toc frontmatter
  src/content/docs/apm/agents/java-agent/installation/include-java-agent-jvm-argument.mdx
Labels: content

#11137 Daily release/jan 20 2023 1 55
  gatsby-node.js
  plugins/gatsby-plugin-generate-doc-json/gatsby-node.js
  scripts/actions/utils/handlers.js
  src/content/docs/accounts/accounts-billing/account-setup/choose-your-data-center.mdx
  src/content/docs/apm/agents/java-agent/installation/include-java-agent-jvm-argument.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/azure-native.mdx
  src/content/whats-new/2022/04/whats-new-4-14-data-updates.md
  src/templates/docPage.js
  src/utils/constants.js
Labels: content

#11124 Sd combine anomalies
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/other-condition-types/create-anomaly-alert-conditions.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/other-condition-types/create-anomaly-alert-conditions.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/other-condition-types/create-anomaly-alert-conditions.mdx
Labels: content, from_tw

#11121 Update title of document
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-violations/how-alert-condition-violations-are-closed.mdx
Labels: content, from_internal

#10969 MLOps Doc Updates
  src/content/docs/mlops/bring-your-own/getting-started-byo.mdx
  src/content/docs/mlops/bring-your-own/mlops-byo.mdx
  src/images/model-performance-monitoring_screenshot-full_feature-distribution.png
  src/images/model-performance-monitoring_screenshot-full_model-features.png
  src/images/model-performance-monitoring_screenshot-full_model-performance-tab.png
  src/images/model-performance-monitoring_screenshot-full_performance-drift.png
  src/images/model-performance-monitoring_screenshot-full_predictions.png
  src/images/model-performance-monitoring_screenshot-full_standard-deviation.png
  src/nav/mlops.yml
Labels: content, from_internal

#11089 style(Sonic): Optimized the getting started doc for VSU…
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
Labels: content, from_tw
