Repository newrelic/docs-website, pull requests merged in 2023-12, with the labels that each got.

#15383 feat(security): Update NR23-01 bulletin
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr23-01-security-advisory.mdx
Labels: content, from_tw

#15377 fix(api keys): Clarify original key behavior/name
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_tw

#15385 fix(bulletin): Add missing link
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr23-01-security-advisory.mdx
Labels: content, from_tw

#15379 [Bug] Fix yaml syntax in Kubernetes installation docs
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_internal

#15384 feat(synthetics): removed x2 screenshots, import statements, embeds
  src/content/docs/synthetics/synthetic-monitoring/private-locations/private-locations-overview-monitor-internal-sites-add-new-locations.mdx
  src/images/synthetic_screenshot-full_find-private-location-button.webp
  src/images/synthetic_screenshot-full_private-location-page.webp
Labels: content, from_tw

#15355 Update synthetic-monitoring-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
Labels: content, from_internal

#15375 Update definition of upstream and downstream
  src/content/docs/distributed-tracing/ui-data/related-trace-entity-signals.mdx
Labels: content, from_internal

#15373 chore(Hero): fixing broken links
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/update-or-disable-policies-conditions.mdx
  src/content/docs/apis/rest-api-v1-eol/new-relic-rest-api-v1/working-new-relic-rest-api-v1-eol.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-breadcrumb.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-events.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
  src/content/docs/tutorial-error-tracking/solve-critical-errors.mdx
  src/content/docs/tutorial-kubernetes-learn/tutorial-k8s-services.mdx
  src/content/docs/tutorial-troubleshoot-external-services-apis/solve-external.mdx
  src/content/docs/tutorial-troubleshoot-infra-hosts/create-metrics-dashboards.mdx
Labels: content, from_tw

#15390 Remove outdated section from transactions UI docs
  src/content/docs/apm/transactions/transaction-traces/transaction-traces-trace-details-page.mdx
Labels: content, from_internal

#15381 Updated the nextcloud integration document.
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nextcloud-integration.mdx
Labels: content, from_internal

#14890 style(Java): Removed redundant additional/also netlify test
  src/content/docs/apm/agents/java-agent/async-instrumentation/introduction-java-async-instrumentation.mdx
Labels: content, from_tw

#15367 chore(nrql): change "initiative" to "initiated"
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
Labels: content, from_tw

#15351 chore: add Node.js Agent v11.6.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-6-0.mdx
Labels: content, from_internal

#14764 fix(API): Fixed image on metric api normalization doc
  src/images/solutions_screenshot-full_create-new-rule-window.webp
Labels: content, from_tw

#15065 chore: add language identifiers to C docs
  src/content/docs/apm/agents/c-sdk/get-started/apm-security-c-sdk.mdx
  src/content/docs/apm/agents/c-sdk/get-started/introduction-c-sdk.mdx
  src/content/docs/apm/agents/c-sdk/install-configure/install-c-sdk-compile-link-your-code.mdx
  src/content/docs/apm/agents/c-sdk/install-configure/uninstall-remove-c-sdk.mdx
  src/content/docs/apm/agents/c-sdk/instrumentation/distributed-tracing-c-sdk.mdx
  src/content/docs/apm/agents/c-sdk/instrumentation/guide-using-c-sdk-api.mdx
  src/content/docs/apm/agents/c-sdk/instrumentation/instrument-transactions-c-sdk.mdx
  src/content/docs/apm/agents/c-sdk/troubleshooting/generate-logs-troubleshooting-c-sdk.mdx
Labels: content, from_internal

#15196 Remove vertical tabs
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
  src/content/docs/style-guide/structure/tabs.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
Labels: content, from_tw

#15393 fix(NRQL): customer feedback
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#15382 fix: mislabeled table
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#15395 Update browser.yml
  src/nav/browser.yml
Labels: content, from_internal

#15127 feat: infrastructure agent network issues troubleshooting
  src/content/docs/infrastructure/new-relic-infrastructure/troubleshooting/network-connection-issues.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#15398 GKE support information update
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal

#15399 Update install-update-or-uninstall-your-prometheus-openmetrics-integr…
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/install-update-or-uninstall-your-prometheus-openmetrics-integration.mdx
Labels: content, from_internal

#15406 Update create-custom-events-go.mdx
  src/content/docs/apm/agents/go-agent/features/create-custom-events-go.mdx
Labels: content, from_internal

#15409 Add feedback modal
  package.json
  src/components/FeedbackModal/Agreeance.js
  src/components/FeedbackModal/FeedbackModal.js
  src/components/FeedbackModal/NumberRater.js
  src/components/FeedbackModal/index.js
  src/components/SEO.js
  src/i18n/translations/en/translation.json
  src/pages/index.js
  src/templates/docPage.js
  src/utils/constants.js
  yarn.lock
Labels: eng

#14913 Accounts: Add caveats about consumption
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
Labels: content, from_tw

#15058 feat: Add Monitor Downtime Docs
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
Labels: content, from_internal

#15411 Update punctuation.mdx
  src/content/docs/style-guide/ui-writing/punctuation.mdx
Labels: content, from_internal

#15369 AWS EKS add on update
  src/content/docs/infrastructure/amazon-integrations/connect/eks-add-on.mdx
Labels: content, from_internal

#15416 Fix modal not being dismissed upon route change
  src/components/FeedbackModal/FeedbackModal.js
Labels: eng

#15380 Whats New For EKS Addon
  src/content/whats-new/2023/12/images/aws-newrelic-eks-addon.webp
  src/content/whats-new/2023/12/whats-new-12-1-eks-addon.md
Labels: content, from_internal

#15113 feat(OMA): New OMA landing page
  src/content/docs/new-relic-solutions/observability-maturity/introduction.mdx
  src/images/observability-maturity_diagram_oma-v-drivers.webp
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#15402 Remove new user homepage & VSU cleanup
  gatsby-node.js
  scripts/actions/webdriver-desktop.mjs
  scripts/actions/webdriver-mobile.mjs
  src/components/HomepageVideo.js
  src/components/IntroductionApm/FeaturedContent.js
  src/components/IntroductionApm/SectionWrapper.js
  src/components/IntroductionApm/SmallStackedContent.js
  src/components/IntroductionApm/StackedContent.js
  src/components/IntroductionApm/TitleBlock.js
  src/components/IntroductionApm/index.js
  src/components/ToggleView/ToggleSelector.js
  src/components/ToggleView/ToggleView.js
  src/components/ToggleView/ToggleViewContext.js
  src/components/ToggleView/index.js
  src/i18n/translations/en/translation.json
  src/i18n/translations/jp/translation.json
  src/i18n/translations/kr/translation.json
  src/nav/apm.yml
  src/pages/index.js
  src/pages/introduction-apm.js
Labels: eng

#15421 Update OTLP limits doc
  src/content/docs/data-apis/understand-data/metric-data/cumulative-metrics.mdx
Labels: content, from_internal

#15419 Updating our public-facing CIS/CRM Worksheet
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/2022.SSP.Attachment.09-New.Relic.FedRAMP.Moderate.CIS.Workbook.xlsx.-.CIS.Worksheet.pdf
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/New.Relic.FedRAMP.CIS.CRM.pdf
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp-moderate.mdx
Labels: content, from_internal

#15364 feat(mobile): new doc for monitoring GraphQL requests
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/graphql-mobile-requests.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/images/mobile_screenshot-crop_group-by-dropdown.webp
  src/images/mobile_screenshot-crop_request-details.webp
  src/images/mobile_screenshot-full_mobile-graphql-requests.webp
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#15341 fix(php): update phrasing on compatibility page
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_tw

#15434 fix(ohi): Remove confusing links
  src/content/docs/infrastructure/host-integrations/installation/install-infrastructure-host-integrations.mdx
Labels: content, from_tw

#15286 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#15447 Update incident-event-attributes.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/incident-event-attributes.mdx
Labels: content, from_tw

#15387 chore(npm): add eu guided install link
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/cloud-flow-logs/aws-vpc-flow-log-monitoring.mdx
Labels: content, from_tw

#14456 Lookup retention
  src/content/docs/logs/ui-data/lookup-tables-ui.mdx
Labels: content, from_internal

#15140 Updated Magento Business Insights docs
  src/content/docs/apm/agents/php-agent/other-integrations/magento-business-insights.mdx
Labels: content, from_internal

#15430 feat: Release notes for Synthetics 12/6
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-310.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-315.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-321.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.5.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.1.5.mdx
Labels: content, from_internal

#15435 chore: add Node.js Agent v11.6.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-6-1.mdx
Labels: content, from_internal

#15438 Update azure-ad-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/azure-ad-scimsso-application-configuration.mdx
Labels: content, from_internal

#15457 Update new-relic-personal-data-requests.mdx
  src/content/docs/security/security-privacy/data-privacy/new-relic-personal-data-requests.mdx
Labels: content, from_internal

#15456 feat(mobile): add missing redirect
  src/content/docs/mobile-apps/alerting-new-relic-mobile-apps.mdx
Labels: content, from_tw

#14505 Update user-type.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
Labels: content, from_tw

#15465 fix(style guide): Clarify alphabetizing of .NET
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#15464 infra-agent macos version support
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#15422 Release date December 11th: Create diagnostics-cli-325.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-325.mdx
Labels: content, from_internal

#15468 chore: Update aws-elastic-beanstalk-installation-java.mdx
  src/content/docs/apm/agents/java-agent/additional-installation/aws-elastic-beanstalk-installation-java.mdx
Labels: content, from_internal

#15164 chore(style guide): Usage dictionary formatting
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#14490 feat(ServiceNow): Updated the ServiceNow integration
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/images/accounts_screenshot-crop_servicenow-create-destination.webp
  src/images/accounts_screenshot-crop_webhook-destination.webp
  src/images/accounts_screenshot-crop_webhook-serviceNowFields.webp
Labels: content, from_tw

#14584 Limit MDX image height
  package.json
  src/components/MDXContainer.js
  src/content/docs/style-guide/images/embed-images.mdx
  yarn.lock
Labels: eng

#15466 [Publish 12/12 AM] feat(whats new): transaction traces UI
  src/content/whats-new/2023/12/whats-new-12-12-transaction-traces-ui.md
Labels: content, from_internal

#15472 fix(NRQL): revamping intro tutorial screenshot structure
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-tutorial.mdx
  src/images/queries-nrql_screenshot-crop-tutorial-1.webp
  src/images/queries-nrql_screenshot-crop-tutorial-10.webp
  src/images/queries-nrql_screenshot-crop-tutorial-11.webp
  src/images/queries-nrql_screenshot-crop-tutorial-12.webp
  src/images/queries-nrql_screenshot-crop-tutorial-13.webp
  src/images/queries-nrql_screenshot-crop-tutorial-14.webp
  src/images/queries-nrql_screenshot-crop-tutorial-15.webp
  src/images/queries-nrql_screenshot-crop-tutorial-16.webp
  src/images/queries-nrql_screenshot-crop-tutorial-17.webp
  src/images/queries-nrql_screenshot-crop-tutorial-18.webp
  src/images/queries-nrql_screenshot-crop-tutorial-19.webp
  src/images/queries-nrql_screenshot-crop-tutorial-2.webp
  src/images/queries-nrql_screenshot-crop-tutorial-20.webp
  src/images/queries-nrql_screenshot-crop-tutorial-3.webp
  src/images/queries-nrql_screenshot-crop-tutorial-4.webp
  src/images/queries-nrql_screenshot-crop-tutorial-5.webp
  src/images/queries-nrql_screenshot-crop-tutorial-6.webp
  src/images/queries-nrql_screenshot-crop-tutorial-7.webp
  src/images/queries-nrql_screenshot-crop-tutorial-8.webp
  src/images/queries-nrql_screenshot-crop-tutorial-9.webp
Labels: content, from_tw

#15448 feat(php): fix table cell formatting and grammer
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_tw

#15475 fix: nvidiagpu integration default event name
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nvidia-gpu-integration.mdx
Labels: content, from_internal

#15477 fix: Remove duplicated section for logging_retry_limit in Infrastructure Agent Configuration Docs
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_external

#15481 Update configure-logs-context-go.mdx
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
Labels: content, from_internal

#15488 fix(NRQL): screenshot refresh
  src/content/docs/query-your-data/explore-query-data/query-builder/nrql-console.mdx
  src/images/queriesNrql_screenshot-full_nrql-console.webp
Labels: content, from_tw

#15480 chore(HordeIPs): Update post
  src/content/whats-new/2023/11/whats-new-11-17-synthetic-locations.md
Labels: content, from_internal

#15305 [Release Date: 12/12/23 AM] iOS agent 7.4.8 Release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-748.mdx
Labels: content, from_internal

#15491 fix(tracing): removes header styling from tab labels
  src/content/docs/distributed-tracing/ui-data/trace-details.mdx
Labels: content, from_tw

#15487 Typo Fixes For Go Agent release/some docs
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-28-1.mdx
Labels: content, from_internal

#15404 Cross-product updates: Begin to update guided installation URLs
  src/content/docs/apm/agents/go-agent/installation/install-new-relic-go.mdx
  src/content/docs/apm/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/content/docs/apm/agents/net-agent/getting-started/introduction-new-relic-net.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
  src/content/docs/apm/agents/php-agent/getting-started/introduction-new-relic-php.mdx
  src/content/docs/apm/agents/python-agent/getting-started/introduction-new-relic-python.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/introduction-new-relic-ruby.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ansible-controller-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/apache-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cassandra-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/couchbase-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/haproxy-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/memcached-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nagios-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/redis/redis-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/varnish-cache-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/installation/new-relic-guided-install-overview.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/config-management-tools/configure-infrastructure-agent-using-chef.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/install-infrastructure-monitoring-agent-windows.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_tw

#15476 fix: We made color changes for the flamegraph based on the call count
  src/content/docs/apm/agents/java-agent/features/real-time-profiling-java-using-jfr-metrics.mdx
  src/images/apm_screenshot-full_Java-jfr-flamegraphs.webp
Labels: content, from_internal

#15499 Update agent links to Code-level Metrics
  src/content/docs/apm/agents/go-agent/configuration/go-agent-code-level-metrics-config.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/features/java-codestream-integration.mdx
  src/content/docs/apm/agents/net-agent/other-features/net-codestream-integration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/codestream-integration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/features/php-code-level-metrics.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-codestream-integration.mdx
  src/content/docs/apm/agents/ruby-agent/features/ruby-codestream-integration.mdx
Labels: content, from_internal

#15500 fix formatting in mlops doc
  src/content/docs/mlops/bring-your-own/mlops-byo.mdx
Labels: content, from_tw

#15501 Update use-logs-ui.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
Labels: content, from_tw

#15504 Fix codeblock indent
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-tutorial.mdx
Labels: content, from_tw

#15506 chore: put long cli command in codeblock
  src/content/docs/logs/forward-logs/aws-firelens-plugin-log-forwarding.mdx
Labels: content, from_internal

#15509 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#15511 new nri-bundle release
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3.24.0
Labels: content, from_internal

#15361 docs: Update latest supported version of Elasticsearch and NLog.
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#15502 Add in 6.0.0 release note for iOS mobile app
  src/content/docs/licenses/product-or-service-licenses/mobile-app-licenses/ios-application-licenses.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6000.mdx
Labels: content, from_internal

#15507 style(NRQL): Fix title capitalization
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-tutorial-advanced-dashboarding.mdx
Labels: content, from_tw

#15513 release notes for node-browser runtime deploy 2.1.10
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.1.10.mdx
Labels: content, from_internal

#15512 feat(monitorDowntime): Synthetics monitor downtime updates
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/monitor-downtimes-disable-monitoring-during-scheduled-maintenance-times.mdx
  src/content/whats-new/2023/12/whats-new-12-13-monitor-downtime-updates.md
Labels: content, from_internal

#15520 Update workload-status-configuration.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/workload-status-configuration.mdx
Labels: content, from_internal

#15265 fix(new relic ai): added to the nav + added new doc
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-ai.mdx
  src/images/grok_screenshot-crop_ask-grok.webp
  src/images/grok_screenshot-full_nrql-console.webp
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#15510 Update manage-data-coming-new-relic.mdx
  src/content/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
Labels: content, from_tw

#15524 Update networks.mdx
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#15523 Browser Agent v1.249.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.249.0.mdx
Labels: content, from_internal

#15527 Update .NET logging framework compatability info
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal

#15530 fix: repairing broken meraki links
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal

#15533 chore: additional .NET agent support for .NET 8.0/ASP.NET Core 8.0
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
Labels: content, from_internal

#15531 go agent release notes v3.29.0
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-29-0.mdx
Labels: content, from_internal

#15536 feat(support): update wording from delete to rotate
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_tw

#15539 fix(links): Fix multiple markdown links
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
  src/content/whats-new/2023/11/whats-new-11-17-synthetic-locations.md
  src/content/whats-new/2023/12/whats-new-12-13-monitor-downtime-updates.md
Labels: content, from_internal

#15537 Release note for android update v5.11.1
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5901.mdx
Labels: content, from_internal

#15522 Update manage-your-dashboard.mdx to fix issue #15521
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
Labels: content, from_external

#15542 Clean up Logs features by user type
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
Labels: content, from_internal

#15469 (Publish on 12/15/2023) Accounts: Clarify EOL for product-based pricing
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/original-pricing-plan-queries.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-pricing-models.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
Labels: content, from_tw

#15543 The output is named `newrelic`
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
Labels: content, from_internal

#15548 chore(monitorIDMapping): Added example query
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
Labels: content, from_internal

#15290 [Ready to merge after Doc Freeze] Document Cloud metrics with multiple dimension combinations
  src/content/docs/infrastructure/amazon-integrations/get-started/aws-integrations-metrics.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/azure-integration-metrics.mdx
Labels: content, from_internal

#15553 APIs: Remove link to outdated video.
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
Labels: content, from_tw

#15545 Update configure-polling-frequency-data-collection-cloud-integrations…
  src/content/docs/infrastructure/infrastructure-integrations/cloud-integrations/configure-polling-frequency-data-collection-cloud-integrations.mdx
Labels: content, from_internal

#15551 NRQL: Correct lookup anchor
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_external

#15558 [chore] Update opentelemetry-collector-infra-hosts.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
Labels: content, from_internal

#15565 Some minor .NET Agent compatibility updates
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#15566 Some minor .NET Agent compatibility updates
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
Labels: content, from_internal

#15567 Document UTF-16LE handling
  src/content/docs/logs/forward-logs/fluentd-plugin-log-forwarding.mdx
Labels: content, from_internal

#15535 Clark/secret key scanner action
  .github/workflows/check-for-keys.yml
  scripts/README.md
  scripts/actions/check-for-keys.sh
  src/content/docs/apm/agents/python-agent/hosting-services/python-agent-heroku.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/change-ktranslate-versions.mdx
  src/content/docs/style-guide/formatting/code-examples.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/hosting-services/python-agent-heroku.mdx
  src/i18n/content/jp/docs/network-performance-monitoring/troubleshooting/change-ktranslate-versions.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/hosting-services/python-agent-heroku.mdx
  src/i18n/content/kr/docs/network-performance-monitoring/troubleshooting/change-ktranslate-versions.mdx
Labels: eng

#15574 docs: fix data-optimize-techniques.mdx
  src/content/docs/tutorial-optimize-telemetry/data-optimize-techniques.mdx
Labels: content, from_external

#15568 Browser: Remove js errors doc
  src/content/docs/browser/new-relic-browser/browser-pro-features/javascript-errors-page-detect-analyze-errors.mdx
  src/content/docs/errors-inbox/browser-tab.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/browser-pro-features/javascript-errors-page-detect-analyze-errors.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/browser-pro-features/javascript-errors-page-detect-analyze-errors.mdx
  src/nav/browser.yml
Labels: content, from_tw

#15573 Fix: ruby code block
  src/content/docs/apm/agents/ruby-agent/background-jobs/monitor-ruby-background-processes.mdx
Labels: content, from_external

#15528 Customize autolink headers
  gatsby-config.js
  plugins/gatsby-remark-autolink-headers-custom/README.md
  plugins/gatsby-remark-autolink-headers-custom/gatsby-browser.js
  plugins/gatsby-remark-autolink-headers-custom/gatsby-node.js
  plugins/gatsby-remark-autolink-headers-custom/gatsby-ssr.js
  plugins/gatsby-remark-autolink-headers-custom/index.js
  plugins/gatsby-remark-autolink-headers-custom/package.json
  src/components/HeaderLink.js
  src/components/MDXContainer.js
Labels: eng

#15580 Update kafka-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
Labels: content, from_internal

#15581 Whats new 12 20 apm kafka
  src/content/whats-new/2023/12/images/apm_kafka.png
  src/content/whats-new/2023/12/whats-new-12-20-apmkafka.md
Labels: content, from_internal

#15590 Update consume-slm.mdx
  src/content/docs/service-level-management/consume-slm.mdx
Labels: content, from_internal

#15591 Update uninstrumented-entities-service-maps.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/uninstrumented-entities-service-maps.mdx
Labels: content, from_internal

#15596 chore(tables): Add missing thead / tbody
  src/content/docs/apis/lookups-service-api/lookups-service-api.mdx
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
Labels: content, from_tw

#15550 (Publish on 12-21-2023?) What's new: errors inbox mobile grouping
  src/content/whats-new/2023/12/whats-new-12-21-errorsinbox-mobilegrouping.md
Labels: content, from_internal

#15610 chore(MS SQL): Clarify permissions steps (NR-167084)
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
Labels: content, from_tw

#15609 chore(alerts): Remove redundant bullet list
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/create-edit-or-find-alert-policy.mdx
Labels: content, from_tw

#15608 chore(k8s): Clarify logs options (NR-164018)
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_tw

#15604 fix(OTEL): broken link
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-set-up-your-app.mdx
Labels: content, from_tw

#15603 fix(concepts): add link to use NRQL query builder as alternative
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/search-filter-entities.mdx
Labels: content, from_tw

#15555 fix(Burndown): burndown fixes
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/connect-aws-new-relic-infrastructure-monitoring.mdx
Labels: content, from_tw

#15606 fix(infra): add link to best practices guide
  src/content/docs/infrastructure/host-integrations/installation/new-relic-guided-install-overview.mdx
Labels: content, from_tw

#15605 Update introduction-apm.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
Labels: content, from_internal

#15583 hybrid agent release notes and docs update
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/add-tracked-headers.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-133.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-624.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-625.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-106.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-003.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-134.mdx
  src/content/docs/release-notes/mobile-release-notes/xamarin-release-notes/xamarin-agent-002.mdx
Labels: content, from_internal

#15397 Added Azure arc documentation
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/azure-arc-integration.mdx
  src/images/Azure-Arc-Metrics.webp
  src/images/Azure-arc-extension.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#15601 [Product Partnerships] Added AWS IOT Twinmaker
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-iot-twinmaker-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#15595 Update create-an-alert.mdx
  src/content/docs/tutorial-create-alerts/create-an-alert.mdx
Labels: content, from_tw

#15611 Create migration-8x-guide.mdx
  src/content/docs/apm/agents/java-agent/getting-started/migration-8x-guide.mdx
  src/nav/apm.yml
Labels: content, from_internal

#15557 [Publish 12/20 after verify with devs] Whats new nrai public preview
  src/content/whats-new/2023/12/images/all_entities_ask_ai.png
  src/content/whats-new/2023/12/whats-new-12-21-NRAI-pp.md
Labels: content, from_internal

#15552 Update change-tracking-cli.mdx
  src/content/docs/change-tracking/change-tracking-cli.mdx
Labels: content, from_tw

#15365 Replace Grok with AI
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/automatic-anomalies.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/acceptable-use-policy.mdx
  src/content/docs/licenses/license-information/usage-plans/product-based-pricing-usage-new-relic-platform-pricing-usage-plan.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5900.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_tw

#15628 fix(errors): replace old link with instructions on adding a new user
  src/content/docs/errors-inbox/errors-email-notifications.mdx
Labels: content, from_tw

#15625 fix(nerdgraph): extra bracket in code sample
  src/content/docs/apis/nerdgraph/examples/nerdgraph-cloud-integrations-api-tutorial.mdx
Labels: content, from_tw

#15623 fix(solutions): remove outdated video
  src/content/docs/new-relic-solutions/tutorials/new-relic-cli.mdx
Labels: content, from_tw

#15621 fix(PHP): incorrect link
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_tw

#15626 fix(IAST): update UI link to /all-capabilities
  src/content/docs/iast/use-iast.mdx
Labels: content, from_tw

#15620 Update debugging-agent-azure.mdx
  src/content/docs/apm/agents/net-agent/azure-installation/debugging-agent-azure.mdx
Labels: content, from_internal

#15627 fix(tags): add note about changing tag names
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
Labels: content, from_tw

#15632 fix(SynthListPrice): Fixed link to list price collapser
  src/content/docs/synthetics/synthetic-monitoring/getting-started/monitor-limits.mdx
Labels: content, from_internal

#15622 fix(OTEL): formatted <steps> component, updated links
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-set-up-your-app.mdx
Labels: content, from_tw

#15634 Another minor .NET Agent compatibility update
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
Labels: content, from_internal

#15633 Another minor .NET Agent compatibility update
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#15631 Added Autopilot support to GKE compatibility info
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal

#15636 fix(new relic solutions): removed slack collaboration
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/collaborate/collaborate-with-teammates.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/collaborate/collaboration-slack-integration.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/ui-data/collaborate/collaboration-slack-integration.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/ui-data/collaborate/collaboration-slack-integration.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#15639 (chore)Alerts: update image positioning
  src/content/docs/tutorial-create-alerts/create-new-relic-alerts.mdx
Labels: content, from_tw

#15645 fix(logs): minor style fixes
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_tw

#15647 fix(errors): update static link
  src/content/docs/errors-inbox/version-tracking.mdx
Labels: content, from_tw

#15650 fix(azure): broken link, ui pathing
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
Labels: content, from_tw

#15651 fix(mobile): add callout about platform-specific methods
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/name-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-application-build-number.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-application-version.mdx
Labels: content, from_tw
