Repository newrelic/docs-website, pull requests merged in 2023-04, with the labels that each got.

#12428 adjust language before <InlineSignup /> component
  src/content/docs/apm/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/content/docs/business-observability/install-pathpoint.mdx
  src/content/docs/change-tracking/change-tracking-introduction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/introduction-mobile-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
Labels: content, from_internal

#12413 fix(errors inbox): adding user tracking
  src/content/docs/errors-inbox/error-users-impacted.mdx
Labels: content, from_tw

#12380 fix(errors inbox): fingerprinting changes
  src/content/docs/apm/agents/manage-apm-agents/agent-data/manage-errors-apm-collect-ignore-or-mark-expected.mdx
  src/content/docs/apm/agents/ruby-agent/api-guides/sending-handled-errors-new-relic.mdx
Labels: content, from_tw

#12437 (chore) Updating ga and eol date
  src/content/docs/data-apis/understand-data/metric-data/cumulative-metrics.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/cumulative-metrics-transition-guide.mdx
Labels: content, from_internal

#12438 fix(.net install): remove redundant g install
  src/install/dotnet/appInfo-2.mdx
Labels: content, from_tw

#11893 New AWS Internet Monitor integration doc
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-internet-monitor-integration.mdx
  src/content/whats-new/2023/02/images/cw-internet-monitor.png
  src/content/whats-new/2023/02/images/cwim-nr1-db.png
  src/content/whats-new/2023/02/images/cwim-nr1-metrics.png
  src/content/whats-new/2023/02/whats-new-02-aws-cw-internet-monitor-integration.md
  src/nav/infrastructure.yml
Labels: content, from_tw

#11876 (Publish date: on hold) - Cumulative metrics transition guide
  src/content/docs/data-apis/understand-data/metric-data/cumulative-metrics.mdx
  src/content/docs/data-apis/understand-data/metric-data/metric-data-type.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/cumulative-metrics-transition-guide.mdx
  src/nav/integrations.yml
Labels: content, from_tw

#12443 security lake monitoring integration
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-security-lake-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#12454 I removed the exclamation point and mentioned some other repositories
  src/content/docs/style-guide/writing-strategies/introduction-style-guide.mdx
Labels: content, from_internal

#12459 feat: Install the Diag CLI and release 2.4.1
  src/content/docs/new-relic-solutions/solve-common-issues/diagnostics-cli-nrdiag/diagnostics-cli-nrdiag.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/diagnostics-cli-nrdiag/run-diagnostics-cli-nrdiag.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-241.mdx
Labels: content, from_internal

#12453 fix(aws, hashicorp): cleaning up some cloud ints
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-ecsecr-monitoring-integration.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/introduction-amazon-ecs-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/hashicorp-consul-monitoring-integration.mdx
  src/content/docs/infrastructure/infrastructure-integrations/cloud-integrations/hcp-consul-monitoring.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#12464 Node.js Agent v9.15.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-15-0.mdx
Labels: content, from_internal

#12261 updates for AWS Systems Manager Distributor
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-sys-dist.mdx
Labels: content, from_internal

#12469 User mgmt capabilities edits
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-capabilities.mdx
Labels: content, from_tw

#12470 Changed the setUserId description for iOS and Android
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/set-user-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/set-user-id.mdx
Labels: content, from_internal

#12477 feat: improve mongodb relabel example
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#12478 docs: infra agent 1.39.2 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1392.mdx
Labels: content, from_internal

#12472 fix: ensures children is an array for DocTiles
  package.json
  src/components/DocTile.js
  yarn.lock
Labels: eng

#12462 Update required Jenkins fields for change tracking
  src/content/docs/change-tracking/ci-cd/change-tracking-jenkins.mdx
Labels: content, from_tw

#12460 Add noindex for staging env
  src/components/SEO.js
Labels: eng

#12440 PHP agent release 10.9 - [04/05]
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-9-0-324.mdx
Labels: content, from_internal

#12473 Update kubernetes-integration-troubleshooting-error-messages.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-error-messages.mdx
Labels: content, from_internal

#12482 fix: remove `$` from cmds
  src/content/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-heroku.mdx
Labels: content, from_internal

#12483 chore: add language identifiers
  src/content/docs/apm/agents/nodejs-agent/hosting-services/install-new-relic-nodejs-agent-gae-flexible-environment.mdx
  src/content/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-microsoft-azure.mdx
  src/content/docs/apm/agents/nodejs-agent/troubleshooting/troubleshoot-message-consumers.mdx
  src/content/docs/apm/agents/nodejs-agent/troubleshooting/troubleshoot-your-nodejs-installation.mdx
Labels: content, from_internal

#12486 feat(nrdiag): 2.4.2 release
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-242.mdx
Labels: content, from_internal

#12487 chore: add language identifiers for syntax highlighting
  src/content/docs/infrastructure/host-integrations/installation/new-relic-guided-install-overview.mdx
Labels: content, from_internal

#12488 feat: 4-4 Synthetics release notes
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-222.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-231.mdx
Labels: content, from_internal

#12492 Update kubernetes-integration-troubleshooting-error-messages.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-error-messages.mdx
Labels: content, from_internal

#12479 feat(azure): added callout
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/azure-extensions-infrastructure.mdx
Labels: content, from_tw

#12489 style(security): Remove stray period
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
Labels: content, from_tw

#12495 simple typo fix
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
Labels: content, from_external

#12497 chore: Remove @kupsand from WN reviewers
  .github/CODEOWNERS
Labels: eng, from_tw

#12502 Use gatsby env var prefix
  src/components/SEO.js
Labels: eng

#12468 Bring back video homepage layout
  src/components/HomepageVideo.js
  src/components/ToggleView/ToggleSelector.js
  src/i18n/translations/en/translation.json
  src/layouts/index.js
  src/pages/index.js
Labels: eng

#12509 Addition to the style guide Usage dictionary
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#12508 chore: Add docs for sjm release-232
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-232.mdx
Labels: content, from_internal

#12512 Updated screenshot, instructions for new Alerts UI
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/provide-runbook-instructions-alert-activity.mdx
  src/images/accounts_screenshot-full_alerts-runbook.png
Labels: content, from_tw

#12522 fix(Sonic): fixing tile paths using lab tile structure
  src/content/docs/journey-performance/fixing-high-latency.mdx
  src/content/docs/journey-performance/guide-to-monitoring-core-web-vitals.mdx
  src/content/docs/journey-performance/reduce-javascript-errors.mdx
Labels: content, from_tw

#12516 fix(user count): clarifying user upgrade rules
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
Labels: content, from_tw

#12519 Clarify LIKE operator
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#11978 Update current-session-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/current-session-id.mdx
Labels: content, from_internal

#12526 Update whats-new-03-28-windows-services-integration.md
  src/content/whats-new/2023/03/whats-new-03-28-windows-services-integration.md
Labels: content, from_internal

#12529 updated introduction & images
  src/content/docs/new-relic-solutions/business-observability/introduction-business-observability.mdx
  src/content/docs/new-relic-solutions/business-observability/troubleshoot-pathpoint.mdx
  src/images/pathpoint_screenshot_activated-drop-filter.png
  src/images/pathpoint_screenshot_activated-flame-filter.png
  src/images/pathpoint_screenshot_active-canary-filter.png
  src/images/pathpoint_screenshot_download-file.png
  src/images/pathpoint_screenshot_example-touchpoint-query.png
  src/images/pathpoint_screenshot_install-pathpoint.png
  src/images/pathpoint_screenshot_stages-types.png
  src/images/pathpoint_screenshot_stages.png
  src/images/pathpoint_screenshot_steps.png
  src/images/pathpoint_screenshot_test-touchpoint.png
  src/images/pathpoint_screenshot_touchpoint-nrql-query.png
  src/images/pathpoint_screenshot_touchpoint-threshold.png
  src/images/pathpoint_screenshot_touchpoints.png
  src/images/pathpoint_screenshot_turn-off-touchpoint.png
  src/images/pathpoint_screenshot_upload-json.png
  src/images/pathpoint_screenshot_view-query.png
Labels: content, from_internal

#12535 chore: add language identifiers
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
Labels: content, from_internal

#12538 fix(Java): adding redirect
  src/content/docs/apm/agents/java-agent/additional-installation/include-java-agent-jvm-argument.mdx
Labels: content, from_tw

#12447 new(NRQL comments): new docs, & link
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-how-nrql-works.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#12530 Add warning about winevtlog log type compatibility
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_tw

#12536 Update Java supported logging frameworks
  src/content/docs/logs/logs-context/java-configure-logs-context-all.mdx
Labels: content, from_internal

#12545 Added AWS Static IP blocks for Outbound ALERT notifications
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#12445 Update install-browser-monitoring-agent.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-capabilities.mdx
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-data-distributed-tracing.mdx
  src/content/docs/browser/new-relic-browser/configuration/browser-app-settings-page.mdx
  src/content/docs/browser/new-relic-browser/configuration/change-browser-agent-type.mdx
  src/content/docs/browser/new-relic-browser/configuration/filter-ajax-request-events.mdx
  src/content/docs/browser/new-relic-browser/configuration/group-browser-metrics-urls.mdx
  src/content/docs/browser/new-relic-browser/configuration/monitor-or-block-specific-domains-subdomains.mdx
  src/content/docs/browser/new-relic-browser/configuration/rename-browser-apps.mdx
  src/content/docs/browser/new-relic-browser/configuration/view-browser-apps-alert-information.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/instrumentation-browser-monitoring.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/browser-monitoring-best-practices-guide.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/configuration/browser-app-settings-page.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/configuration/browser-app-settings-page.mdx
  src/images/browser_screenshot-full_install-step-1.png
  src/images/browser_screenshot-full_install-step-2.png
  src/images/browser_screenshot-full_install-step-3.png
  src/images/browser_screenshot-full_install-step-4.png
  src/images/browser_screenshot-full_install-step-5.png
  src/nav/browser.yml
Labels: content, from_tw

#12550 fixed line break error on last PR
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#12375 add nav animations
  package.json
  src/@newrelic/gatsby-theme-newrelic/components/NavItem.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/nav-collapse.js
  src/components/DocPageBanner.js
  src/components/Layout/Layout.js
  src/components/Layout/Sidebar.js
  src/components/Layout/index.js
  src/components/NavFooter.js
  src/components/Navigation.js
  src/layouts/HomepageLayout.js
  src/layouts/MainLayout.js
  src/templates/docPage.js
  yarn.lock
Labels: eng

#12531 Browser agent v1.230.0 APIs update
  src/content/docs/browser/new-relic-browser/browser-apis/setcustomattribute.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setuserid.mdx
  src/nav/browser.yml
Labels: content, from_internal

#12537 Browser Agent v1.230.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.230.0.mdx
Labels: content, from_internal

#12546 Improve HTTP errors page based on feedback
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/http-errors-network-failure-analysis.mdx
Labels: content, from_tw

#12553 Update browser-agent-eol-policy.mdx
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
Labels: content, from_internal

#12494 fix(billing ingest): new data plus table
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
Labels: content

#12562 [Synthetics Job Manager] adds release notes for sjm and node-browser-runtime
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-233.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-1.1.108.mdx
Labels: content, from_internal

#12558 Create issues-with-istio
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/issues-with-istio.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal

#12551 feat(mongoDB): loadbalance=true support
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#11866 Update newrelic_record_custom_event.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_record_custom_event.mdx
Labels: content, from_internal

#12574 Update whats-new-03-27-querying-custom-infra-attributes-and-tags.md
  src/content/whats-new/2023/03/whats-new-03-27-querying-custom-infra-attributes-and-tags.md
Labels: content, from_internal

#12570 fix: capitalize `EXCLUDE` in env var
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal

#12385 Infrastructure host UI revamp (Publish date: TBD)
  src/content/docs/infrastructure/infrastructure-ui-pages/hosts-new-view.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-hosts-page.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-ui-entities.mdx
  src/images/infrastructure_icon_export-csv.png
  src/images/infrastructure_icon_saved-views-bttn.png
  src/images/infrastructure_screenshot-full_host-new-containers.png
  src/images/infrastructure_screenshot-full_host-new-network.png
  src/images/infrastructure_screenshot-full_host-new-processes.png
  src/images/infrastructure_screenshot-full_host-new-storage.png
  src/images/infrastructure_screenshot-full_host-new-system.png
  src/images/infrastructure_screenshot-full_hosts-new-summary.png
  src/nav/infrastructure.yml
Labels: content, from_tw

#12542 April 12: (whats-new): NRQL comments
  src/content/whats-new/2023/04/images/nrql_comments.png
  src/content/whats-new/2023/04/whats-new-04-12-nrql-comments.md
Labels: content, from_internal

#12540 fix(Mobile apps): Combine iOS and Android into one introduction
  src/content/docs/mobile-apps/ios.mdx
  src/content/docs/mobile-apps/mobile-apps-intro.mdx
  src/i18n/content/jp/docs/mobile-apps/ios.mdx
  src/i18n/content/kr/docs/mobile-apps/ios.mdx
  src/images/mobile-app_screenshot-crop_ios-qr-code.png
  src/images/mobile-app_screenshot-crop_mobile-app-android-qr-code.png
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#12557 Clarify Android compatibility
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-compatibility-requirements.mdx
Labels: content, from_tw

#12586 Update guide-to-monitoring-core-web-vitals.mdx
  src/content/docs/journey-performance/guide-to-monitoring-core-web-vitals.mdx
Labels: content, from_tw

#12549 Update intro-to-browser-pro-features.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-features.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/intro-to-browser-pro-features.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/browser-pro-features/intro-to-browser-pro-features.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/browser-pro-features/intro-to-browser-pro-features.mdx
  src/nav/browser.yml
Labels: content, from_tw

#12579 chore: add example to app pool section
  src/content/docs/apm/agents/net-agent/configuration/name-your-net-application.mdx
Labels: content, from_tw

#12592 Update scripted browser example
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
Labels: content, from_internal

#12577 fix(Synthetics): Fixed all urls
  src/content/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/introduction-scripted-browser-monitors.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetics-scripted-browser-reference-monitor-versions-050.mdx
Labels: content, from_tw

#12589 feat: Document GUI Configuration Option (Pathpoint)
  src/content/docs/new-relic-solutions/business-observability/configure-pathpoint.mdx
  src/images/pathpoint_screenshot_download-file.png
  src/images/pathpoint_screenshot_gui_editor.png
  src/images/pathpoint_screenshot_open-file.png
  src/images/pathpoint_screenshot_stage_editor.png
  src/images/pathpoint_screenshot_step_editor.png
  src/images/pathpoint_screenshot_touchpoint_editor.png
  src/images/pathpoint_screenshot_upload-json.png
Labels: content, from_internal

#12265 ~Apr 13: Java agent Kafka Streams [DO NOT MERGE UNTIL 8.1 AGENT RELEASE]
  src/content/docs/apm/agents/java-agent/instrumentation/java-agent-instrument-kafka-message-queues.mdx
Labels: content, from_internal

#12422 (4/13) Java agent error groups
  docs-website.iml
  src/content/docs/apm/agents/java-agent/api-guides/guide-using-java-agent-api.mdx
  src/content/docs/apm/agents/java-agent/api-guides/java-agent-api-custom-instrumentation-annotation-example-app.mdx
  src/content/docs/apm/agents/java-agent/api-guides/java-agent-api-register-error-group-callback-to-set-fingerprint.mdx
  src/content/docs/apm/agents/java-agent/attributes/java-agent-attributes.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#12583 Chore: Add NetMon troubleshooting doc - Duplicate IP
  src/content/docs/network-performance-monitoring/troubleshooting/different-entity-same-ip.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#12603 fix(collaboration): removing video
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/collaborate/collaborate-with-teammates.mdx
Labels: content, from_tw

#12611 chore: add language identifiers
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-aggregate-monitor-metrics.mdx
Labels: content, from_internal

#12609 fix: Reword JSON file docs (Pathpoint)
  src/content/docs/new-relic-solutions/business-observability/configure-pathpoint.mdx
Labels: content, from_internal

#12521 chore: update info for sec lake
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-security-lake-monitoring-integration.mdx
Labels: content, from_internal

#12595 Add new cloud_provider option for infrastructure-agent config
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#12605 Update message-templates.mdx
  src/content/docs/alerts-applied-intelligence/notifications/message-templates.mdx
Labels: content, from_tw

#12576 Improve MongoDB Atlas requirements
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#12608 Address incorrect Python links
  src/content/docs/apm/agents/nodejs-agent/hosting-services/install-new-relic-nodejs-agent-gae-flexible-environment.mdx
  src/content/docs/apm/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
Labels: content, from_tw

#12620 fix: update tags and metaDescription (configuring Pathpoint Page)
  src/content/docs/new-relic-solutions/business-observability/configure-pathpoint.mdx
Labels: content, from_internal

#12622 Remove unnecessary redirect.
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/shut-down.mdx
Labels: content, from_tw

#12627 fix: bring back tessen tracking on default homepage SearchInput
  src/pages/index.js
Labels: eng

#12628 Fix two broken links related to Go fingerprinting
  src/content/docs/apm/agents/go-agent/api-guides/guide-using-go-agent-api.mdx
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/apm/agents/manage-apm-agents/agent-data/manage-errors-apm-collect-ignore-or-mark-expected.mdx
Labels: content, from_tw

#12625 Add recommendations center page
  src/content/docs/apm/apm-ui-pages/monitoring/apm-recommendations-center.mdx
  src/nav/apm.yml
Labels: content, from_tw

#12629 Updated comparison table: Codestream and number of integrations
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
Labels: content, from_tw

#12633 documenting elastic search master only config (NR-106992)
  src/content/docs/infrastructure/host-integrations/host-integrations-list/elasticsearch/elasticsearch-integration.mdx
Labels: content, from_internal

#12636 Update_winevtlog_winlog_config_examples
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#12597 Add troubleshooting section for MongoDB
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#12640 docs(logging): Fix sample grok parsing rule
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#12639 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#12638 fix(QueryBuilder): Update PromQL link
  src/content/docs/query-your-data/explore-query-data/query-builder/introduction-query-builder.mdx
Labels: content, from_internal

#12619 Tabatha/quickstart chooser bugs
  src/components/QuickstartChooser.js
Labels: eng

#12572 Remove obsolete links to clones and templates
  src/content/docs/style-guide/writing-docs/processes-procedures/create-edit-content.mdx
Labels: content, from_tw

#12593 Add traces in context to triage tab of errors inbox
  src/content/docs/errors-inbox/apm-tab.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/images/errors-inbox_screenshot-crop_list-of-traces.png
  src/images/errors-inbox_screenshot-crop_trace-for-error.png
Labels: content, from_tw

#11867 feat: include otel-collector hivemq docs
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-hivemq.mdx
  src/nav/integrations.yml
Labels: content, from_internal

#12548 Add browser-monitoring-performance-impact.mdx to browser.yml
  src/nav/browser.yml
Labels: content, from_tw

#12649 chore(ruby agent): Update docs for 9.2.0 release
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-eol-policy.mdx
Labels: content, from_internal

#12652 include jpgs in webp conversion script
  scripts/convertPNGs.mjs
Labels: eng

#12590 Convert to WebP & pre-commit hook
  .husky/pre-commit
  package.json
  scripts/convertPNGs.mjs
  scripts/pre-commit.mjs
  scripts/verify_mdx.js
  yarn.lock
Labels: eng

#12656 fix(Synthetics): fixing broken links
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-04x-or-lower.mdx
Labels: content, from_tw

#12654 fix: Adjust TileLogo css
  src/components/TileSelect/TileOption.js
Labels: eng

#12653 MobileBreadcrumb is now a New Relic event
  src/content/docs/data-apis/understand-data/event-data/events-reported-mobile-monitoring.mdx
Labels: content, from_internal

#12642 Small changes apr 17
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/data-dictionary/events/Transaction/http.statusCode.md
  src/data-dictionary/events/Transaction/httpResponseCode.md
Labels: content, from_tw

#12637 docs(logging): remove NR_LOGGING_ENDPOINT env
  src/content/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/content/docs/logs/log-api/introduction-log-api.mdx
Labels: content, from_internal

#12135 feat(LAMPy): new LAMPy integration
  src/content/docs/infrastructure/host-integrations/host-integrations-list/lampy-integration.mdx
  src/images/infrastructure_screenshot-full_lampy-dashboard-1.png
  src/images/infrastructure_screenshot-full_lampy-dashboard.png
Labels: content, from_tw

#12641 fix(new doc for aerospike): created new doc
  src/content/docs/infrastructure/host-integrations/host-integrations-list/aerospike-integration.mdx
  src/images/infrastructure_screenshot-full_aerospike-dashboard.png
  src/nav/infrastructure.yml
Labels: content, from_tw

#12665 Added file to HT
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/observability-coe.mdx
Labels: from_internal

#12661 feat: include mongodb docker-openmetrics guide
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#12657 Update pagetools width and move edit button
  package.json
  src/pages/attribute-dictionary.js
  src/pages/install/{installConfig.agentName}.js
  src/templates/docPage.js
  yarn.lock
Labels: eng

#12648 Update format/references of Issues UI page
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
Labels: content, from_tw

#12646 fix(logs in context): updating based on solutions feedback
  src/content/docs/logs/troubleshooting/no-log-data-appears-ui.mdx
Labels: content, from_tw

#12670 feat(accounts): update deletion info
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
Labels: content, from_external

#12664 Remove "preview" from left nav reference
  src/content/docs/change-tracking/change-tracking-view-analyze.mdx
Labels: content, from_tw

#12643 iOS agent 7.4.4 release notes (publish 4/18 evening merge)
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-744.mdx
Labels: content, from_internal

#12071 ~April 18 [iOS] Docs page for the shutdown api in the iOS agent (publish 4/18 evening merge)
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/shut-down.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#12631 04/18 9am - feat(whats-new) : APM recommendation center post
  src/content/whats-new/2023/04/images/rec-center.png
  src/content/whats-new/2023/04/whats-new-04-18-APM-rec-center.md
Labels: content, from_internal

#12474 feat: .NET Agent environment variables explainer doc
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-cloud-services.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/install-guides/install-net-agent-using-nuget.mdx
  src/content/docs/apm/agents/net-agent/other-installation/understanding-net-agent-environment-variables.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/debugging-net-core-agent-linux.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/debugging-net-windows.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/profiler-conflicts.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/resolve-net-scom-conflicts.mdx
  src/nav/apm.yml
Labels: content, from_internal

#12275 Change feature name
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_internal

#12682 fix cluster documentation config for rabbitmq integration
  src/content/docs/infrastructure/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
Labels: content, from_internal

#12683 migrated NPM lab from developer site
  src/content/docs/network-performance-monitoring/get-started/network-performance-monitoring-guide.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#12684 rabbitmq queue size limitation (NR-107429)
  src/content/docs/infrastructure/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal

#12680 chore(Net agent): Removed the trailing slash on the nav path
  src/nav/apm.yml
Labels: content, from_tw

#12688 fix(Infrastructure integrations): Add doc to the nav
  src/nav/infrastructure.yml
Labels: content, from_tw

#12690 chore: code in backticks & lang identifiers
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#12687 Update ajax-page-identify-time-consuming-calls.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/ajax-page-identify-time-consuming-calls.mdx
Labels: content, from_internal

#12559 Address feedback on infra log forwarder doc
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_tw

#12695 chore: Adds Node.js agent v10.0.0 release notes.
  src/content/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-10-0-0.mdx
Labels: content, from_internal

#12697 Updated broken link ref.
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
Labels: content, from_internal

#12679 Persist nav open/close state
  src/content/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
  src/i18n/content/kr/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
  src/layouts/HomepageLayout.js
  src/layouts/MainLayout.js
  src/layouts/index.js
  src/templates/docPage.js
  src/utils/navState.js
Labels: eng

#12693 Update Issues-and-Incident-management-and-response.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-capabilities.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
Labels: content, from_tw

#12699 fix(Mobile monitoring): Fixed broken link
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-apps-gradle-android-studio.mdx
Labels: content, from_tw

#12698 Updated broken link
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors.mdx
Labels: content, from_internal

#12700 Fixup docs
  src/content/docs/apm/agents/python-agent/back-end-services/python-agent-celery.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/registerapplication-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/troubleshooting/activate-application-warning-python.mdx
  src/install/python/python-agent-non-web-apps.mdx
Labels: content, from_internal

#12681 (Publish with first build on 04/20/2023) Whats new mobile dashboard template variables
  src/content/whats-new/2023/04/images/dashboard-variables.png
  src/content/whats-new/2023/04/whats-new-04-20-mobile-dashboard-template-variables.md
Labels: content, from_internal

#12702 (Publish 04/20 9am) Whats new GitHub integration
  src/content/whats-new/2023/04/images/gh_action_passed_failed.png
  src/content/whats-new/2023/04/images/gh_nr_conditions.png
  src/content/whats-new/2023/04/images/gh_settings_configure.png
  src/content/whats-new/2023/04/images/newrelic_github_logos.png
  src/content/whats-new/2023/04/whats-new-04-20-github-integration.md
Labels: content, from_internal

#12713 Update whats-new-04-20-github-integration.md
  src/content/whats-new/2023/04/whats-new-04-20-github-integration.md
Labels: content, from_tw

#12708 Added redirect link for old Alerts and AI URL
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/alerts-ai-overview-page.mdx
  src/content/docs/browser/new-relic-browser/configuration/view-browser-apps-alert-information.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-monitoring-alert-information.mdx
  src/data/homepage.yml
Labels: content, from_tw

#12686 (Publish TBD) Whats new: lookout visualization update
  src/content/whats-new/2023/04/images/lookoutsquarevisualization.png
  src/content/whats-new/2023/04/whats-new-04-20-lookout-visualization-update.md
Labels: content, from_internal

#12726 chore: Create release notes for new browser and ping runtimes.
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-release-notes/node-browser-runtime-1.1.113.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.17.0.mdx
Labels: content, from_internal

#12722 fix(Browser): Update short title to match longer title
  src/nav/browser.yml
Labels: content, from_tw

#12711 Update php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#12724 parameters added for Security Lake
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-security-lake-monitoring-integration.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-security-logs-s3.mdx
Labels: content, from_internal

#12706 chore: Remove Process sample netio metrics
  src/data-dictionary/events/ProcessSample/netIoTotalReceivedPackets.md
  src/data-dictionary/events/ProcessSample/netIoTotalSentPackets.md
Labels: content, from_internal

#12728 fixed typo
  src/content/docs/alerts-applied-intelligence/overview.mdx
Labels: content, from_internal

#12659 feat(Dictionary): Added the first 14 words to Vuln Management
  src/data-dictionary/events/VulnerabilityManagement/VulnerabilityManagement.event-definition.md
  src/data-dictionary/events/VulnerabilityManagement/cve.md
  src/data-dictionary/events/VulnerabilityManagement/cvss.score.md
  src/data-dictionary/events/VulnerabilityManagement/cvss.vector.md
  src/data-dictionary/events/VulnerabilityManagement/description.md
  src/data-dictionary/events/VulnerabilityManagement/disclosureUrl.md
  src/data-dictionary/events/VulnerabilityManagement/entity.guid.md
  src/data-dictionary/events/VulnerabilityManagement/entityGuid.md
  src/data-dictionary/events/VulnerabilityManagement/entityLookupValue.md
  src/data-dictionary/events/VulnerabilityManagement/entityType.md
  src/data-dictionary/events/VulnerabilityManagement/issue.id.md
  src/data-dictionary/events/VulnerabilityManagement/issue.type.md
  src/data-dictionary/events/VulnerabilityManagement/issue.vendor.id.md
  src/data-dictionary/events/VulnerabilityManagement/issueId.md
  src/data-dictionary/events/VulnerabilityManagement/issueInstanceKey.md
  src/data-dictionary/events/VulnerabilityManagement/issueType.md
  src/data-dictionary/events/VulnerabilityManagement/message.md
  src/data-dictionary/events/VulnerabilityManagement/package.md
  src/data-dictionary/events/VulnerabilityManagement/package.version.md
  src/data-dictionary/events/VulnerabilityManagement/rawPayload.md
  src/data-dictionary/events/VulnerabilityManagement/remediation.exists.md
  src/data-dictionary/events/VulnerabilityManagement/remediation.upgradeAction.md
  src/data-dictionary/events/VulnerabilityManagement/remediationExists.md
  src/data-dictionary/events/VulnerabilityManagement/scan.id.md
  src/data-dictionary/events/VulnerabilityManagement/severity.md
  src/data-dictionary/events/VulnerabilityManagement/source.md
  src/data-dictionary/events/VulnerabilityManagement/timestamp.md
  src/data-dictionary/events/VulnerabilityManagement/title.md
Labels: content, from_tw
