Repository newrelic/docs-website, pull requests merged in 2023-03, with the labels that each got.

#11814 Hero - please merge when ready. Fix(retention): edit to enforced rules
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#11817 fix: section IDs duplicates corrected
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#11815 Update account-user-mgmt-tutorial.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/account-user-mgmt-tutorial.mdx
Labels: content, from_internal

#11820 Daily release/02/28/2023/evening
  .github/workflows/check-translations-and-deserialize.yml
  .github/workflows/update-whats-new-ids.yml
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/alerts-ai.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/apm.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/browser.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/infrastructure.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/logs.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/mobile.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/network-monitoring.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/vulnerability-management.js
  src/components/NavFooter.js
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/reports/apm-sla-reports.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/device-emulation.mdx
  src/data/nav-footer-cta.json
  src/i18n/translations/en/translation.json
Labels: content, from_tw

#11811 Hero - merge when ready - Update accountId in response
  src/content/docs/apis/nerdgraph/examples/nerdgraph-historical-data-export.mdx
Labels: content, from_internal

#11796 feat(vm): available in eu
  src/content/docs/vulnerability-management/overview.mdx
Labels: content, from_tw

#11790 chore(Java agent): Added JVM argument to the nav file
  src/content/docs/apm/agents/java-agent/additional-installation/include-java-agent-jvm-argument.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/additional-installation/include-java-agent-jvm-argument.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/additional-installation/include-java-agent-jvm-argument.mdx
  src/nav/apm.yml
Labels: content, from_tw

#11810 Update logging-best-practices.mdx
  src/content/docs/logs/get-started/logging-best-practices.mdx
Labels: content, from_tw

#11804 March 1 morning - iOS agent 7.4.3 Release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-743.mdx
Labels: content, from_internal

#11824 fix(PHP agent): Correct minimum glibc version supported
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#11728 feat(sonic): rough nav and content rework for intro docs
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
  src/nav/new-relic-solutions.yml
  src/nav/root.yml
Labels: content, from_tw

#11828 chore: Add release notes for diag cli v2.3.0
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-230.mdx
Labels: content, from_internal

#11832 Daily release/03/01/2023/noon
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-230.mdx
Labels: content, from_tw

#11829 NerdGraph: Correct alerts query based on SME feedback
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-nrql-condition-alerts.mdx
Labels: content, from_internal

#11835 Remove unsupported Python agent versions from EOL table.
  src/content/docs/apm/agents/python-agent/getting-started/python-agent-eol-policy.mdx
Labels: content, from_internal

#11773 typo: Update typo in NRQL Introduction
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-how-nrql-works.mdx
Labels: content, from_external

#11838 Addition to Usage dictionary
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#11823 feat(mysql): removed old docs & edits
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mysql-config.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-config.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-integration.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/installation/advanced-install-new-relic-python-agent.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/installation/standard-python-agent-install.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-config.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/mySQL/mysql-integration.mdx
  src/images/infrastructure_screenshot-crop_mysql-dashboard.png
  src/install/mysql/whatsNext.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#11841 Add metadata backfill to Python Agent
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-60401158.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-60402159.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-60403160.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-60404161.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-60800163.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-61000165.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-70000166.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-70200167.mdx
Labels: content, from_internal

#11842 Android app release notes
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5100.mdx
Labels: content, from_internal

#11844 Added link to performance metrics config sample
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
Labels: content, from_internal

#11846 fix(edition): changing links
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-saml-scim.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-mgmt-videos.mdx
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/parent-child-account-structure.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-manage-groups.mdx
  src/content/docs/apm/agents/manage-apm-agents/configuration/high-security-mode.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-lookout-monitor-your-estate-glance.mdx
  src/content/docs/style-guide/word-choice/pricing-language-guidelines.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/monitor-limits.mdx
Labels: content, from_tw

#11833 fix(sonic): inline signup to intro doc
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/get-started/quick-launch-guide.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/install-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
  src/i18n/content/jp/docs/new-relic-solutions/get-started/quick-launch-guide.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/install-configure/install-new-relic.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
  src/i18n/content/kr/docs/new-relic-solutions/get-started/quick-launch-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/install-configure/install-new-relic.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
Labels: content, from_tw

#11852 Add missing space in `Use workloads`
  src/content/docs/new-relic-solutions/new-relic-one/workloads/use-workloads.mdx
Labels: content, from_internal

#11851 fix(.net): remove docker doc
  src/content/docs/apm/agents/net-agent/other-installation/install-net-agent-docker-container.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/other-installation/install-net-agent-docker-container.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/other-installation/install-net-agent-docker-container.mdx
  src/install/config/dotnet.yaml
Labels: content, from_tw

#11855 fix(sonic): point intro to apm nav to correct file
  src/nav/apm.yml
Labels: content, from_tw

#11805 chore: Angular troubleshooting for browser agent
  src/content/docs/browser/new-relic-browser/troubleshooting/ajax-call-fails-cors-redirect-error-message.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/spa-compatibility-requirements.mdx
  src/content/docs/browser/single-page-app-monitoring/troubleshooting/angular-truncated-copy-paste-snippet.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/troubleshooting/ajax-call-fails-cors-redirect-error-message.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/troubleshooting/ajax-call-fails-cors-redirect-error-message.mdx
  src/nav/browser.yml
Labels: content, from_internal

#11857 fix: added missing line items for supported aws services
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#11770 Moving some integrations out of OHI section
  src/content/docs/accounts/accounts-billing/account-structure/add-accounts.mdx
  src/content/docs/browser/browser-integrations/blazor-webassembly.mdx
  src/content/docs/browser/browser-integrations/flutter-web-integration.mdx
  src/content/docs/browser/browser-integrations/nuxt-js-integration.mdx
  src/i18n/content/jp/docs/browser/browser-integrations/blazor-webassembly.mdx
  src/i18n/content/jp/docs/browser/browser-integrations/flutter-web-integration.mdx
  src/i18n/content/jp/docs/browser/browser-integrations/nuxt-js-integration.mdx
  src/i18n/content/kr/docs/browser/browser-integrations/blazor-webassembly.mdx
  src/i18n/content/kr/docs/browser/browser-integrations/flutter-web-integration.mdx
  src/i18n/content/kr/docs/browser/browser-integrations/nuxt-js-integration.mdx
  src/nav/browser.yml
  src/nav/infrastructure.yml
Labels: content, from_tw

#11860 [Chore] Update scale-prometheus-instances.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/scale-prometheus-instances.mdx
Labels: content, from_internal

#11853 feat(sonic): add inline signup to synthetics
  src/content/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
Labels: content, from_tw

#11859 "What's New" Synthetics Device Emulation post
  src/content/whats-new/2023/02/images/device.png
  src/content/whats-new/2023/02/whats-new-2-28-device-emulation.md
Labels: content, from_internal

#11643 migrated NR CLI doc from developer site
  src/content/docs/new-relic-solutions/tutorials/build-hello-world-app.mdx
  src/content/docs/new-relic-solutions/tutorials/new-relic-cli.mdx
  src/images/build-with-nr-screenshot-add-app.png
  src/images/build-with-nr-screenshot-add-data.png
  src/images/build-with-nr-screenshot-apps.png
  src/images/build-with-nr-screenshot-empty-catalog-description.png
  src/images/build-with-nr-screenshot-find-and-click-nerdpack.png
  src/images/build-with-nr-screenshot-hello-world-output-local.png
  src/images/build-with-nr-screenshot-launcher.png
  src/images/build-with-nr-screenshot-overview-view.png
  src/images/build-with-nr-screenshot-update-account.png
  src/images/build-with-nr-screenshot-whats-inside-view.png
  src/nav/new-relic-solutions.yml
Labels: content, from_internal

#11868 feat(GCP): added role mention
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-google-cloud-platform-services-new-relic.mdx
Labels: content, from_tw

#11364 feat(Alerts): Updating the alerts best practices page
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/alerts-best-practices.mdx
Labels: content, from_tw

#11869 feat(msysql): h3 to h2
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mysql-config.mdx
Labels: content, from_tw

#11871 feat(GCP): role mention
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-google-cloud-platform-services-new-relic.mdx
Labels: content, from_tw

#11634 Lighttpd Image Update
  src/content/docs/infrastructure/host-integrations/host-integrations-list/lighttpd-integration.mdx
  src/images/lnfrastructure_screenshot-full_Lighttptd-dashboard.png
Labels: content, from_internal

#11777 Go agent release metadata update
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-12-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-13-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-14-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-14-1.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-15-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-15-1.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-15-2.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-16-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-16-1.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-17-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-18-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-18-1.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-18-2.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-19-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-19-1.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-19-2.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-20-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-20-1.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-20-2.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-20-3.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3100.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3110.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-340.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-350.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-360.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-370.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-380.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-381.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-390.mdx
Labels: content, from_internal

#11843 docs: Update K8s cluster overview dash
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/images/kubernetes_screenshot-full_cluster-dashboard-detail_030223.png
Labels: content, from_internal

#11875 fix(SynthCheckAttrs): Documented additional attributes
  src/data-dictionary/events/SyntheticCheck/deviceOrientation.md
  src/data-dictionary/events/SyntheticCheck/deviceType.md
  src/data-dictionary/events/SyntheticCheck/hasUserDefinedHeaders.md
  src/data-dictionary/events/SyntheticCheck/isMuted.md
  src/data-dictionary/events/SyntheticCheck/monitorExtendedType.md
  src/data-dictionary/events/SyntheticCheck/runtimeType.md
  src/data-dictionary/events/SyntheticCheck/runtimeTypeVersion.md
  src/data-dictionary/events/SyntheticCheck/scriptLanguage.md
  src/data-dictionary/events/SyntheticCheck/secureCredentials.md
Labels: content, from_internal

#11878 Update tracing-gap-aws-x-ray-integration.md
  src/content/whats-new/2020/08/tracing-gap-aws-x-ray-integration.md
Labels: content, from_internal

#11883 (fix)whats new post
  src/content/whats-new/2023/02/whats-new-2-28-device-emulation.md
Labels: content, from_tw

#11837 fix(lighttpd): making changes to syntax
  src/content/docs/infrastructure/host-integrations/host-integrations-list/lighttpd-integration.mdx
Labels: content, from_tw

#11884 fix: Update new-relic-api-keys.mdx
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_internal

#11458 Create internet-monitor.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-internet-monitor-integration.mdx
  src/content/whats-new/2023/02/images/cw-internet-monitor.png
  src/content/whats-new/2023/02/images/cwim-nr1-db.png
  src/content/whats-new/2023/02/images/cwim-nr1-metrics.png
  src/content/whats-new/2023/02/whats-new-02-aws-cw-internet-monitor-integration.md
  src/nav/infrastructure.yml
Labels: content, from_internal

#11880 wrap layouts with `LoggedInProvider`
  package.json
  src/layouts/MainLayout.js
  src/templates/docPage.js
  yarn.lock
Labels: eng

#11891 Add 'enrichments' to free tier limitations
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_tw

#11754 AWS Verified Access integration - new doc
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-verified-access-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#11780 new(style guide): create video doc
  src/content/docs/style-guide/images/create-videos.mdx
  src/content/docs/style-guide/images/embed-videos.mdx
  src/images/style-guide_screenshot-crop_camtasia-editing.png
  src/images/style-guide_screenshot-full_camtasia-blur.png
  src/nav/style-guide.yml
Labels: content, from_tw

#11887 New Relic Solutions: Add container registry
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_tw

#11902 chore: Add correct class prefix to class method
  src/content/docs/apm/agents/ruby-agent/api-guides/sending-handled-errors-new-relic.mdx
Labels: content, from_internal

#11881 fix: Update choose-your-aggregation-method.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/choose-your-aggregation-method.mdx
Labels: content, from_internal

#11905 Infra Agent 1.38.0 Release Notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1380.mdx
Labels: content, from_internal

#11906 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#11907 Update update-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/update-alert-notification-channels.mdx
Labels: content, from_internal

#11908 Update test-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/test-alert-notification-channels.mdx
Labels: content, from_internal

#11909 Update delete-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/delete-alert-notification-channels.mdx
Labels: content, from_internal

#11912 move security api
  src/content/docs/data-apis/ingest-apis/security-data-api.mdx
  src/content/docs/vulnerability-management/integrations/trivy.mdx
  src/i18n/content/jp/docs/data-apis/ingest-apis/security-data-api.mdx
  src/i18n/content/kr/docs/data-apis/ingest-apis/security-data-api.mdx
  src/nav/telemetry-data-platform.yml
  src/nav/vuln-management.yml
Labels: content, from_internal

#11879 create popovers.json for different popover types
  src/data/popovers.json
Labels: eng

#11858 NR-93424 Added api pages for enable and disable feature
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/disable-features.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/enable-features.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#11914 fix(IntroLink): Fixed scripted browser intro link
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-04x-or-lower.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-chrome-100.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetics-scripted-browser-reference-monitor-versions-050.mdx
  src/nav/synthetics.yml
Labels: content, from_internal

#11916 Update Java Agent Compatibility Page
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#11900 Adds topic about CodeStream NodeJS agent
  src/content/docs/codestream/troubleshooting/security.mdx
Labels: content, from_internal

#11920 Update EOL page for iOS agent 7.4.3
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
Labels: content, from_internal

#11737 Update intro-slm.mdx
  src/content/docs/service-level-management/intro-slm.mdx
Labels: content, from_internal

#11930 chore: format graphql & add syntax highlighting
  src/content/docs/apis/nerdgraph/examples/nerdgraph-distributed-trace-data-tutorial.mdx
Labels: content, from_internal

#11929 chore(sonic): markdown error
  src/content/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
Labels: content, from_tw

#11940 chore: include scrape_timeout config field in prometheus-based on-hos…
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ibmmq-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/powerdns-monitoring-integration.mdx
Labels: content, from_internal

#11923 Release 03/08 - Php agent 10.7.0 release
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-7-0-319.mdx
Labels: content, from_internal

#11641 Update update-net-agent.mdx
  src/content/docs/apm/agents/net-agent/installation/update-net-agent.mdx
Labels: content, from_external

#11944 feat(sonic): hide nav
  src/content/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
Labels: content, from_tw

#11758 Update create-slm.mdx
  src/content/docs/service-level-management/create-slm.mdx
Labels: content, from_internal

#11948 Typo
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-error-messages.mdx
Labels: content, from_external

#11904 Style guide: Add Swiftype initial draft
  src/content/docs/style-guide/writing-docs/writer-workflow/swiftype-search.mdx
  src/images/style-guide_screenshot-crop_new-relic-ui-question-mark.png
  src/images/style-guide_screenshot-crop_ui-search-string.png
  src/nav/style-guide.yml
Labels: content, from_tw

#11954 Node.js Agent v9.11.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-11-0.mdx
Labels: content, from_internal

#11957 Fix: release date for last cpm release
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3072.mdx
Labels: content, from_internal

#11949 Adding new synthetics release notes after a deploy
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-227.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.1.38.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-1.1.102.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.13.0.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.14.0.mdx
Labels: content, from_internal

#11951 docs: Add in mobile app for iOS release 4.7.1
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-4071.mdx
Labels: content, from_internal

#11947 Change tracking: Move setup higher on the page.
  src/content/docs/change-tracking/change-tracking-introduction.mdx
Labels: content, from_tw

#11952 Update NRQL-high-cardinality-metrics.mdx
  src/content/docs/data-apis/ingest-apis/metric-api/NRQL-high-cardinality-metrics.mdx
Labels: from_external

#11960 fix(style-guide): Use en dashes as described
  src/content/docs/style-guide/ui-writing/punctuation.mdx
  src/content/docs/style-guide/ui-writing/ranges-and-spans.mdx
Labels: content, from_internal

#11961 Fix synthetic alert syntax error
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_internal

#11958 Add 6x agent to eol policy
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-eol-policy.mdx
Labels: content, from_internal

#11966 feat(OHI): clarified installation
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
Labels: content, from_tw

#11967 feat(style-guide): fixed code snippet
  src/content/docs/style-guide/structure/collapsers.mdx
Labels: content, from_tw

#11922 Backticks in attributes/queries
  src/content/docs/data-apis/custom-data/custom-events/data-requirements-limits-custom-event-data.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-how-nrql-works.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#11956 chore: remove InlineSignup CTA text
  src/components/InlineSignup.js
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/migration-to-workflows.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/rest-api-calls-alerts.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/notification-channels-control-where-send-alerts.mdx
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/intro-notifications.mdx
  src/content/docs/alerts-applied-intelligence/overview.mdx
  src/content/docs/apis/synthetics-rest-api/monitor-examples/manage-synthetics-monitors-rest-api.mdx
  src/content/docs/apm/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/content/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/page-load-timing-process.mdx
  src/content/docs/change-tracking/change-tracking-graphql.mdx
  src/content/docs/change-tracking/change-tracking-view-analyze.mdx
  src/content/docs/distributed-tracing/concepts/distributed-tracing-planning-guide.mdx
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
  src/content/docs/distributed-tracing/concepts/introduction-distributed-tracing.mdx
  src/content/docs/distributed-tracing/concepts/quick-start.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/connect-aws-new-relic-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/install-infrastructure-monitoring-agent-windows.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/log-api/introduction-log-api.mdx
  src/content/docs/logs/logs-context/logs-in-context.mdx
  src/content/docs/logs/ui-data/parsing.mdx
  src/content/docs/logs/ui-data/query-syntax-logs.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/content/docs/mlops/get-started/intro-mlops.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-apps-gradle-android-studio.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/network-performance-monitoring/get-started/npm-introduction.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
  src/content/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/introduction-query-builder.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-tutorial.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/nrql-group-results-across-time.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-aws-lambda-monitoring.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-legacy.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/monitoring-aws-lambda-serverless-monitoring.mdx
  src/content/docs/serverless-function-monitoring/overview.mdx
  src/content/docs/service-level-management/intro-slm.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/monitor-limits.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests.mdx
  src/i18n/translations/en/translation.json
Labels: eng

#11969 Added a callout explaining not to use recordHandledException with Swift
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/disable-features.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/enable-features.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/record-handled-exception.mdx
Labels: content, from_internal

#11950 Update nerdgraph-api-workflows.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-workflows.mdx
Labels: content, from_internal

#11976 Distributed tracing: Update navigation directions
  src/content/docs/distributed-tracing/ui-data/understand-use-distributed-tracing-ui.mdx
Labels: content, from_tw

#11979 (Merge 3/9 afternoon) feat(content): adding redirect
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/introduction-scripted-browser-monitors.mdx
  src/nav/synthetics.yml
Labels: content, from_tw

#11980 chore: add language identifiers
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-your-own.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/update-serverless-monitoring-aws-lambda.mdx
Labels: content, from_internal

#11981 [chore] Update kubernetes-components.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-components.mdx
Labels: content, from_internal

#11991 fix: remove lang identifier
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-your-own.mdx
Labels: content, from_internal

#11986 (Merge 3/9 in afternoon) Feat: go agent 3-20-4 release
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/apm/agents/go-agent/get-started/go-agent-eol-policy.mdx
  src/content/docs/apm/agents/manage-apm-agents/agent-data/manage-errors-apm-collect-ignore-or-mark-expected.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-20-4.mdx
Labels: content, from_internal

#11428 3.9 Afternoon - Android Agent 6.10.0 release notes & doc updates
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/android-sdk-api-guide.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/notice-network-failure.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/shut-down.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/with-launch-activity-name.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/new-relic-android-and-dt.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-new-relic-gradle-plugin.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-6100.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#11989 Revert "AWS Verified Access integration - new doc"
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-verified-access-monitoring-integration.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-verified-access-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-verified-access-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#12004 docs: fix typos in change tracking links
  src/content/docs/apm/apm-ui-pages/events/record-deployments.mdx
Labels: content, from_external

#12013 feat(node agent): add Prisma as another supported datastore
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#12017 feat(synth): Support custom job timeouts on Job Manager
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-transition-guide.mdx
Labels: content, from_internal

#12015 chore: Update ruby-custom-metrics.mdx
  src/content/docs/apm/agents/ruby-agent/api-guides/ruby-custom-metrics.mdx
Labels: content, from_internal

#11977 chore(php agent): Add note to relnotes for 10.7.0.319
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-7-0-319.mdx
Labels: content, from_internal

#11931 sonic: get started synthetic monitor tutorial
  src/content/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
  src/images/synthetic_screenshot-crop_Step-monitor-summary-page.png
  src/images/synthetic_screenshot-full_Results-page-for-simple-browser-monitor.png
Labels: content, from_tw

#11970 fix(Sonic): browser intro iteration (92764)
  src/content/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring.mdx
Labels: content, from_tw

#12010 feat(sonic): updating NR Lookout
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-lookout-monitor-your-estate-glance.mdx
Labels: content, from_tw

#11996 fix(style guide): adding a video
  src/content/docs/style-guide/writing-docs/processes-procedures/create-edit-content.mdx
  src/content/docs/style-guide/writing-strategies/introduction-style-guide.mdx
Labels: content, from_tw

#12020 How to contribute to existing branch
  src/content/docs/style-guide/writing-docs/processes-procedures/create-edit-content.mdx
Labels: content, from_tw

#12007 feat: add animation to `DocTile`s
  src/components/DocTile.js
Labels: eng

#12025 fixing quotes on contains
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/arrays-in-nrql.mdx
Labels: content, from_internal

#12024 removed content about Alert Condition Consolidation
  src/content/docs/alerts-applied-intelligence/transition-guide.mdx
Labels: content, from_internal

#11633 Adding ENV var NEW_RELIC_METADATA_RELEASE_TAG
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
Labels: content, from_internal

#12029 fix(Alerts): Removing a duplicated screenshot
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_tw

#11927 fix(Networks): Added missing space
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_tw

#11890 fix(alerts): Fixed broken link
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/view-entity-health-status-find-entities-without-alert-conditions.mdx
Labels: content, from_tw

#11934 fix(alerts and applied intelligence ): removing outdated doc
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/introduction-applied-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/overview.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/get-started/introduction-applied-intelligence.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/get-started/introduction-applied-intelligence.mdx
Labels: content, from_tw

#12016 fix(node agent): update our EOL dates
  src/content/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
Labels: content, from_internal

#12031 feat: update docker compatibility requirements
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/docker-instrumentation-infrastructure-monitoring.mdx
Labels: content, from_internal

#12033 fix(node agent): add Prisma supported version to table
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#11985 style(Alerts): Made some changes to the intro sentences
  src/content/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/alerts-best-practices.mdx
Labels: content, from_tw

#11932 Browser agent v1227 release notes, EOL, and new INP and longTask info
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1227.mdx
  src/data-dictionary/events/PageViewTiming/interactionToNextPaint.md
  src/data-dictionary/events/PageViewTiming/longTask.md
Labels: content, from_internal

#12011 Php Agent Metadata
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-2-0-314.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-3-0-315.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-4-0-316.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-5-0-317.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-6-0-318.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-1000312.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-1010313.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9100262.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9101263.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9110267.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9120268.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9130270.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9170300.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9171301.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9181303.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9190309.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9200310.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9210311.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-980259.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-990260.mdx
Labels: content, from_internal

#12040 Updated node eol v9.12.0
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
Labels: content, from_internal

#11888 fix(Dashboards): Updated the template variables page
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/i18n/content/kr/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/images/dashboards_screenshot-crop_add-multivalue.png
  src/images/dashboards_screenshot-crop_add-var-dynamic-grouping.png
  src/images/dashboards_screenshot-crop_add-var-dynamic-percentile.png
  src/images/dashboards_screenshot-crop_add-var-facet.png
  src/images/dashboards_screenshot-crop_add-var-like-filter.png
  src/images/dashboards_screenshot-crop_add-var-release-version.png
  src/images/dashboards_screenshot-crop_add-widget-aparse.png
  src/images/dashboards_screenshot-crop_add-widget-capture.png
  src/images/dashboards_screenshot-crop_add-widget-dynamic-grouping.png
  src/images/dashboards_screenshot-crop_add-widget-dynamic-percentile.png
  src/images/dashboards_screenshot-crop_add-widget-facet.png
  src/images/dashboards_screenshot-crop_add-widget-like-filter.png
  src/images/dashboards_screenshot-crop_add-widget-multiple-variable.png
  src/images/dashboards_screenshot-crop_country-variable-example.png
  src/images/dashboards_screenshot-crop_default-values-null.png
  src/images/dashboards_screenshot-crop_define-variable-like-filter.png
  src/images/dashboards_screenshot-crop_example-add-widget.png
  src/images/dashboards_screenshot-crop_nrql-error.png
  src/images/dashboards_screenshot-crop_variable-country-example.png
  src/images/dashboards_screenshot-crop_variables-to-filter.png
  src/images/dashboards_screenshot-full_add-variables.png
  src/images/dashboards_screenshot-full_multivalue-add-widget.png
  src/images/dashboards_screenshot-full_with-template-variables.png
Labels: content, from_tw

#12002 feat(Dasboards): improving the dashboards pages
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/images/dashboards_screenshot-crop_multi-page-dashboard.png
  src/images/dashboards_screenshot-crop_sort-menu.png
  src/images/dashboards_screenshot-full_dashboard-index.png
  src/images/dashboards_screenshot-full_duplicate.png
  src/images/dashboards_screenshot-full_multi-page-dashboard.png
Labels: content, from_tw

#12039 Feat: New network troubleshooting doc
  src/content/docs/network-performance-monitoring/troubleshooting/change-ktranslate-versions.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#12027 feat: added pathpoint documentation
  src/content/docs/business-observability/configure-pathpoint.mdx
  src/content/docs/business-observability/install-pathpoint.mdx
  src/content/docs/business-observability/introduction-business-observability.mdx
  src/content/docs/business-observability/pathpoint.mdx
  src/content/docs/business-observability/touchpoints.mdx
  src/content/docs/business-observability/troubleshoot-pathpoint.mdx
  src/images/business-observability-screenshot-activate-drop-filter.png
  src/images/business-observability-screenshot-activate-flame-filter.png
  src/images/business-observability-screenshot-activated-drop-filter.png
  src/images/business-observability-screenshot-activated-flame-filter.png
  src/images/business-observability-screenshot-active-canary-filter.png
  src/images/business-observability-screenshot-add-pathpoint-app.png
  src/images/business-observability-screenshot-canary-filter.png
  src/images/business-observability-screenshot-download-file.png
  src/images/business-observability-screenshot-example-touchpoint-query.png
  src/images/business-observability-screenshot-install-job.png
  src/images/business-observability-screenshot-install-pathpoint.png
  src/images/business-observability-screenshot-json-config.png
  src/images/business-observability-screenshot-jsonfile.png
  src/images/business-observability-screenshot-off-touchpoint.png
  src/images/business-observability-screenshot-open-file.png
  src/images/business-observability-screenshot-overview.png
  src/images/business-observability-screenshot-pathpoint-config.png
  src/images/business-observability-screenshot-pathpoint-credentials.png
  src/images/business-observability-screenshot-pathpoint-general-config.png
  src/images/business-observability-screenshot-stages-types.png
  src/images/business-observability-screenshot-stages.png
  src/images/business-observability-screenshot-steps.png
  src/images/business-observability-screenshot-test-touchpoint.png
  src/images/business-observability-screenshot-touchpoint-nrql-query.png
  src/images/business-observability-screenshot-touchpoint-test-validated.png
  src/images/business-observability-screenshot-touchpoint-threshold.png
  src/images/business-observability-screenshot-touchpoints.png
  src/images/business-observability-screenshot-tune-update-touchpoint.png
  src/images/business-observability-screenshot-turn-off-touchpoint.png
  src/images/business-observability-screenshot-upload-json.png
  src/images/business-observability-screenshot-view-query.png
  src/images/canary-icon.png
  src/images/fire-icon.png
  src/images/tear-drop-icon.png
  src/images/three-lines.png
  src/nav/business-observability.yml
  src/nav/root.yml
Labels: content, from_internal

#12018 (Publish 3/14 in AM) "What's new" GPT3 launch post
  src/content/whats-new/2023/03/images/newrelic_openai_integration_dashboard.png
  src/content/whats-new/2023/03/whats-new-3-14-new-relic-openai-integration.md
Labels: content, from_internal

#12034 Add video to alerts page
  src/content/docs/mobile-apps/alerting-new-relic-mobile-apps.mdx
Labels: content, from_tw

#12030 New 'account mgmt UI' video
  src/content/docs/accounts/accounts-billing/general-account-settings/intro-account-settings.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-mgmt-videos.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
  src/images/accounts_screenshot-crop_user-menu.png
Labels: content, from_tw

#12037 android-sdk-api Add note to recordCustomEvent parameters - eventAttributes
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/recordcustomevent-android-sdk-api.mdx
Labels: content, from_external

#11993 feat(on-host integrations): MExN integration
  src/content/docs/browser/browser-integrations/mexn-integration.mdx
  src/images/browser_screenshot-full_mean-mern-integtration-dashboard.png
  src/images/infrastructure_screenshot-full_mean-mern-integration-dashboard.png
  src/nav/browser.yml
Labels: content, from_tw

#11898 fix(sonic): Make tabs non-headers
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
Labels: content, from_tw

#12072 Updates for .NET Agent 10.8.0
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-eol-policy.mdx
Labels: content, from_internal

#12073 Add more supported Restsharp versions
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#12075 Fix broken anchor link
  src/content/docs/codestream/how-use-codestream/pull-requests.mdx
Labels: content, from_internal

#12076 chore: add more clear prompt to workflow description
  .github/workflows/manual-add-files-to-translation-queue.yml
Labels: eng

#12078 fix: Broken links on NRQL reference page
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#12080 changes for New Relic style and brand voice
  src/content/docs/business-observability/introduction-business-observability.mdx
Labels: content, from_internal

#12083 Remove Spring Boot support designation
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#12077 Release notes for .NET Agent 10.8.0
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-8-0.mdx
Labels: content, from_internal

#12050 03.15 morning - Whats new jfrog integration
  src/content/whats-new/2023/03/images/JFrog_Xray_dash.png
  src/content/whats-new/2023/03/whats-new-03-15-jfrog-integration.md
Labels: content, from_internal

#12068 (Publish 3/15 in AM) "What's new" GPT3 launch post
  src/content/whats-new/2023/03/images/newrelic_openai_integration_dashboard.png
  src/content/whats-new/2023/03/whats-new-3-14-new-relic-openai-integration.md
Labels: content, from_external

#12067 fix(NRQL): Link was missing an initial /
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-tutorial.mdx
Labels: content, from_tw

#12088 fix(user model): clarify how u know which on
  src/content/docs/accounts/original-accounts-billing/original-users-roles/overview-user-models.mdx
Labels: content, from_tw

#12086 feat(Mlops): Added OpenAI integration
  src/content/docs/mlops/integrations/openai-integration.mdx
  src/images/model-performance-monitoring_screenshot-crop_openai-dashboard.png
  src/nav/mlops.yml
Labels: content, from_internal

#12094 Update mlops.yml
  src/nav/mlops.yml
Labels: content, from_tw

#12092 fix(Alerts): Fixed typo
  src/content/docs/alerts-applied-intelligence/applied-intelligence/alert-coverage-gaps.mdx
Labels: content, from_tw

#12099 Update to file
  src/i18n/content/jp/docs/logs/forward-logs/aws-firelens-plugin-log-forwarding.mdx
Labels: content, from_internal

#12102 Node Agent release notes v9.12.1
  src/content/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-12-0.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-12-1.mdx
Labels: content, from_internal
