Repository newrelic/docs-website, pull requests merged in 2023-08, with the labels that each got.

#14071 Go agent version 3.24.0 release notes
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-24-0.mdx
Labels: content, from_internal

#14073 .NET Agent: Update verified compatible versions of Elastic clients
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#14076 Postfix: Update postfix-monitoring-integration.mdx based on findings
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postfix-monitoring-integration.mdx
Labels: content, from_internal

#13937 Update documentation for the new Entity header
  src/content/docs/apis/nerdgraph/examples/export-dashboards-pdfpng-using-api.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/images/dashboards_screenshot-crop_chart-action-menu.webp
  src/images/dashboards_screenshot-crop_dashboard-metadata.webp
  src/images/dashboards_screenshot-crop_dashboard-settings-menu.webp
  src/images/dashboards_screenshot-crop_dashboard-settings-options.webp
  src/images/dashboards_screenshot-crop_dashboard-settings-tvmode.webp
  src/images/dashboards_screenshot-crop_dashboard-tags.webp
  src/images/dashboards_screenshot-crop_sort-menu.webp
  src/images/dashboards_screenshot-crop_time-picker.webp
  src/images/dashboards_screenshot-full_dashboard-index.webp
  src/images/dashboards_screenshot-full_duplicate.webp
  src/images/dashboards_screenshot-full_multi-page-dashboard.webp
Labels: content, from_internal

#14080 chore: add Node.js Agent v10.6.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-10-6-1.mdx
Labels: content, from_internal

#14047 use `eval` to parse MDX prop object string
  scripts/actions/__tests__/__snapshots__/serialize-mdx.test.js.snap
  scripts/actions/__tests__/serialize-mdx.test.js
  scripts/actions/utils/serialization-helpers.js
Labels: eng

#14068 fix(npm): removing npm uses
  src/content/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
  src/content/docs/network-performance-monitoring/get-started/network-performance-monitoring-guide.mdx
  src/content/docs/new-relic-solutions/get-started/networks.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-optimize-ingest-guide.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/soc2.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/content/docs/style-guide/writing-docs/article-templates/intro-branch-install-doc.mdx
  src/content/docs/style-guide/writing-strategies/install-docs-guidance.mdx
Labels: content, from_tw

#14082 fix(infra): fix broken link
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/identify-root-causes-guide.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infra-hosts-ui-page.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/azure-native.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
Labels: content, from_tw

#14089 docs: Updates release notes in the 5.3.x series
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-5032.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-5033.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-5035.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-5036.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-5037.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-tvos-release-notes/newrelic-tvos-2030.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-tvos-release-notes/newrelic-tvos-2032.mdx
Labels: content, from_internal

#14091 Update agent versions for Go and Node
  src/content/docs/apm/agents/go-agent/configuration/go-agent-code-level-metrics-config.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/codestream-integration.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
Labels: content, from_internal

#13190 NR-110985: opentelemetry collector docker docs
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-docker.mdx
  src/images/infrastructure_screenshot-crop_docker-otel-dashboard.webp
  src/nav/integrations.yml
Labels: content, from_internal

#13949 NR-120579: include OpenTelemetry collector StatsD docs
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-statsd.mdx
  src/nav/integrations.yml
Labels: content, from_internal

#14069 Update networks doc - improved organization
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_tw

#14104 fix(networks): slight reworking of header
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_tw

#14108 chore: Add kubernetes release notes 3.15.3
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-15-3.mdx
Labels: content, from_internal

#14050 NR-118734 docs for entity signals component
  src/content/docs/distributed-tracing/ui-data/related-trace-entity-signals.mdx
  src/images/distributed-tracing_entity-signal-insight-horizontal.webp
  src/images/distributed-tracing_entity-summaries-when-no-trace-data-present.webp
  src/images/distributed-tracing_signal-summaries-with-all-clear-example.webp
  src/images/distributed-tracing_single-entity-card-with-legend.webp
Labels: content, from_internal

#14102 Create Other Category of Troubleshooting Kubernetes Integration Issues
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/other.mdx
Labels: content, from_internal

#13866 Security Data API: Correct curl command to make it runnable
  src/content/docs/data-apis/ingest-apis/security-data-api.mdx
Labels: content, from_tw

#14110 chore(Java): updating supported Java / agent mapping
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#14097 [Product Partnerships] Addition of AWS snapstart feature in the docs
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/monitoring-aws-lambda-serverless-monitoring.mdx
Labels: content, from_internal

#14096 Update ruby-custom-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/api-guides/ruby-custom-instrumentation.mdx
Labels: content, from_external

#14109 Update monitoring-jenkins-ot.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/jenkins/monitoring-jenkins-ot.mdx
Labels: content, from_internal

#14114 Whats new 08 04 mongodb
  src/content/whats-new/2023/08/images/whats-new-08-04-mongodb.png
  src/content/whats-new/2023/08/whats-new-08-04-mongodb.md
Labels: content, from_internal

#14101 fix(entity TTL): clarifying expiration time
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-entities-api-tutorial.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/what-entity-new-relic.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
  src/content/docs/security/security-privacy/data-privacy/data-privacy-new-relic.mdx
  src/images/platform_screenshot-crop_entities-view.webp
Labels: content, from_tw

#14103 Android release note catchup
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5400.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5500.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5700.mdx
Labels: content, from_internal

#14099 fix(logs): rename tutorial
  src/content/docs/tutorial-large-logs/get-started-managing-large-logs.mdx
  src/nav/tutorial-large-logs.yml
Labels: content, from_tw

#14087 Update nrql-group-results-across-time.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#14115 Update errors-inbox.yml
  src/nav/errors-inbox.yml
Labels: content, from_tw

#14083 chore(NRQL): Fix casing on WHERE clause
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-tutorial.mdx
Labels: content, from_tw

#14120 fix(infra filter sets): remove 'filter sets'
  src/content/docs/infrastructure/amazon-integrations/connect/connect-aws-new-relic-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/infrastructure-alerts/infrastructure-alert-conditions/create-infrastructure-host-not-reporting-condition.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/content/docs/infrastructure/manage-your-data/data-instrumentation/default-infrastructure-monitoring-data.mdx
  src/content/docs/infrastructure/new-relic-infrastructure/infrastructure-alert-conditions/infrastructure-alerts-add-edit-or-view-host-alert-information.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-events-integration.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/infrastructure-monitoring-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-optimize-ingest-guide.mdx
Labels: content, from_tw

#14119 Whats new 08 04 apmlogforwarding
  src/content/whats-new/2023/08/images/apm_logforwarding.png
  src/content/whats-new/2023/08/whats-new-08-04-apmlogforwarding.md
Labels: content, from_internal

#14126 hybrid agent release notes, EOL update and .net maui support change
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-121.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-130.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-622mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-623.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-102.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-002.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-130.mdx
Labels: content, from_tw

#14128 Synthetics Release Notes
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3085.mdx
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3091.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-286.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.1.50.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.0.29.mdx
Labels: content, from_tw

#14058 Post-release mobile sdk doc edits
  src/content/docs/apis/intro-apis/introduction-new-relic-apis.mdx
  src/content/docs/apm/agents/manage-apm-agents/agent-data/collect-custom-metrics.mdx
  src/content/docs/data-apis/custom-data/custom-events/collect-custom-attributes.mdx
  src/content/docs/data-apis/custom-data/custom-events/report-mobile-monitoring-custom-events-attributes.mdx
  src/content/docs/data-apis/understand-data/event-data/events-reported-mobile-monitoring.mdx
  src/content/docs/data-apis/understand-data/event-data/new-relic-event-limits-sampling.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/handled-exceptions-analyze-trends-prevent-crashes.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/mobile-crash-event-trail.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-cordova-phonegap/get-started-with-cordova-monitoring.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/troubleshoot/firebase-incompatibility.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-xamarin/monitor-your-xamarin-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/security-mobile-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/maintenance/add-custom-data-new-relic-mobile.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/create-attribute.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/cross-app-tracing.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/current-session-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/increment-session-attribute-count.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/mobile-sdk-api-guide.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/name-android-activity.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/name-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/network-request-failures.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/network-request-success.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-breadcrumb.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-events.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-metrics.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-errors.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-handled-exceptions.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/remove-all-attributes.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/remove-attribute.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-application-build-number.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-custom-user-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-buffer-time.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-pool-size.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/shut-down-agent.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/start-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/stop-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/test-crash-reporting.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/mobile-monitoring-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-optimize-ingest-guide.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/cross-app-tracing.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/cross-app-tracing.mdx
  src/nav/mobile-monitoring.yml
Labels: content, eng, from_tw

#14116 feat(MongoDB): Added the Quick start section
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
  src/images/infrastructure_screenshot-crop_mongodb-dashboard.webp
Labels: content, from_tw

#14137 [Product Partnerships] Added Documentation For AWS GameLift & AWS WorkSpace
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-gamelift-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-workspaces-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#14138 feat(Apache Traffic Server): adding new integration doc.
  src/content/docs/infrastructure/host-integrations/host-integrations-list/apache-traffic-server-monitoring-integration.mdx
  src/images/infrastructure_screenshot-full_apache-traffic-server-dashboard.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#14132 remove redirect
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/service-characterization-optimize-web-telemetry-guide.mdx
Labels: content, from_tw

#14133 fix(mobile): restructuring of config nav section
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/get-started/introduction-new-relic-mobile-ios.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/ios-manual-installation.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-monitoring-alert-information.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/maintenance/add-custom-data-new-relic-mobile.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/maintenance/configure-settings-for-mobile-monitoring.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/maintenance/viewing-your-application-token.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/mobile-sdk-api-guide.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-ios/installation/ios-manual-installation.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile/maintenance/add-custom-data-new-relic-mobile.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile/maintenance/viewing-your-application-token.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-ios/installation/ios-manual-installation.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile/maintenance/add-custom-data-new-relic-mobile.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile/maintenance/viewing-your-application-token.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#14142 chore: add Node.js Agent v10.6.2 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-10-6-2.mdx
Labels: content, from_internal

#14148 Update github-intro.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/github-intro.mdx
Labels: content, from_tw

#14153 Update magento-business-insights.mdx
  src/content/docs/apm/agents/php-agent/other-integrations/magento-business-insights.mdx
Labels: content, from_internal

#14149 Code-level metrics anomaly detection
  src/content/docs/codestream/codestream-integrations/notifications.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/images/codestream_screenshot-crop_associate-repos-button.png
  src/images/codestream_screenshot-crop_code-level-anomalies.png
  src/images/codestream_screenshot-crop_observability-section.png
Labels: content, from_internal

#14158 chore(php): update compatibility support callout
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#14147 Clark/update attribute dict action
  .github/workflows/update-attribute-dictionary-json.yml
  scripts/actions/update-attribute-dictionary-json.mjs
Labels: eng

#14156 fix(otlp metrics): clarify startTimeUnixNanos behavior for cumulative metrics
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
Labels: content, from_internal

#14161 Infra inventory page: clarify where data comes from
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-events-page-live-feed-every-config-change.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-inventory-page-search-your-entire-infrastructure.mdx
Labels: content, from_tw

#14164 Update networks.mdx include IPs for whitelisting
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#14176 fix(Alerts): Fixed a typo
  src/content/docs/alerts-applied-intelligence/applied-intelligence/alert-coverage-gaps.mdx
Labels: content, from_tw

#14163 Add note on GraphQL usage limits
  src/content/docs/apis/nerdgraph/nerdgraph-usage-limits.mdx
  src/content/docs/data-apis/manage-data/view-system-limits.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_internal

#14180 link redirect
  src/content/docs/tutorial-create-alerts/create-an-alert.mdx
Labels: content, from_tw

#14181 feat: Add documentation for cdf functionality in service levels
  src/content/docs/service-level-management/create-slm.mdx
Labels: content, from_internal

#14175 feat(Data Dictionary): Add entityGuid to more Browser events
  src/data/attribute-dictionary.json
Labels: content, from_internal

#14186 fix(infra): fix screenshot
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
  src/images/infrastructure_screenshot-full_main_infra_hosts_ui.webp
Labels: content, from_tw

#14162 fix(docs): format to other troubleshooting docs, add to .yml
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/helm-configurations-not-applied.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/other.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/other.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_tw

#14183 Updated required agent versions for CLM
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
Labels: content, from_internal

#14192 fix(errors inbox): added suggestions
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content, from_tw

#14187 Preserved traces
  src/content/docs/distributed-tracing/ui-data/understand-use-distributed-tracing-ui.mdx
  src/images/distributed-tracing_screenshot-crop_preserved-trace.webp
Labels: content, from_tw

#14194 Release notes for Python Agent v8.10.0
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-81000.mdx
Labels: content, from_internal

#14196 Synthetics Release Notes for SJM Release-291
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-291.mdx
Labels: content, from_internal

#14199 Update introduction-new-relic-mobile-ios.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/get-started/introduction-new-relic-mobile-ios.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_internal, from_tw

#14208 fix(docs): Remove broken link
  src/nav/apm.yml
Labels: content, from_tw

#14206 chore(SecureCreds): Include credential protection section
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
Labels: content, from_internal

#14210 Update java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#13836 fix(mobile): removed iOS install content
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/introduction-new-relic-mobile-android.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-android-gradle-android-studio.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-apps-gradle-android-studio.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-new-relic-plugin-android-instant-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/upgrade-new-relic-mobiles-android-sdk.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/legacy/install-android-apps-android-22-support.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-cordova-phonegap/get-started-with-cordova-monitoring.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/get-started/introduction-new-relic-mobile-ios.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/cocoapods-installation.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/spm-installation.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/upgrade-new-relic-mobiles-ios-sdk.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-xamarin/monitor-your-xamarin-application.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-android/legacy/install-android-apps-android-22-support.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-ios/installation/cocoapods-installation.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-ios/installation/spm-installation.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-android/legacy/install-android-apps-android-22-support.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-ios/installation/cocoapods-installation.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-ios/installation/spm-installation.mdx
  src/images/accounts_screenshot-full_aws-create-vpc-endpoint-ui-53a48cdf2c7350acd0ac211854d1187b.webp
  src/images/mobile_screenshot-full_flutter-summary.webp
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#14139 New style guide doc on documenting UI components/page
  src/content/docs/style-guide/writing-strategies/guidelines-documenting-ui.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#14197 (publish 8/11) "What's new" Export logs
  src/content/whats-new/2023/08/images/whats-new-export-logs.png
  src/content/whats-new/2023/08/whats-new-08-10-export-logs.md
Labels: content, from_internal

#14193 go agent release notes v3.24.1
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-24-1.mdx
Labels: content, from_internal

#14177 feat(Alerts): Added the other metrics option
  src/content/docs/tutorial-create-alerts/create-an-alert.mdx
  src/images/alerts_screenshot-crop_other-metrics.webp
Labels: content, from_tw

#14232 Update magento-business-insights.mdx
  src/content/docs/apm/agents/php-agent/other-integrations/magento-business-insights.mdx
Labels: content, from_internal

#14242 fix: remove plain text escape chars `\`
  src/content/docs/codestream/how-use-codestream/pull-requests.mdx
  src/content/docs/codestream/troubleshooting/jira-server-integration.mdx
Labels: content, from_internal

#14212 Update .NET agent compatibility docs with new compatible library versions
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#14220 feat: Add Kubecost documentation to docs
  src/content/docs/kubernetes-pixie/kubecost/get-started-kubecost.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal

#14249 fix(Hero): fixing some bits and bobs
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/get-started/introduction-new-relic-mobile-ios.mdx
  src/content/whats-new/2023/08/whats-new-08-10-export-logs.md
  src/nav/mobile-monitoring.yml
Labels: content, from_internal, from_external

#14198 JMX: Clarify wording about Kubernetes
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-configuration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/monitor-services-running-kubernetes.mdx
Labels: content, from_tw

#14251 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#14241 OpenTelemetry: Update getting started section to include Python
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-get-started-intro.mdx
Labels: content, from_tw

#14215 Log Export Doc
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/images/logs_export.webp
Labels: content, from_internal

#14209 fix(ui paths): remaining ui path updates
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/view-policies-conditions-our-products.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/content/docs/apm/agents/manage-apm-agents/app-naming/name-your-application.mdx
  src/content/docs/apm/agents/net-agent/other-features/net-performance-metrics.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/external-services/external-services-ui.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/view-slow-query-details.mdx
  src/content/docs/apm/transactions/transaction-traces/introduction-transaction-traces.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/introduction-single-page-app-monitoring.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-datasync-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-elastictranscoder-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-gamelift-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-simpleworkflow-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-workspaces-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-rekognition-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infra-hosts-ui-page.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infra-ui-overview.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-events-page-live-feed-every-config-change.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-inventory-page-search-your-entire-infrastructure.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/upgrade-new-relic-mobiles-android-sdk.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/dropwizard/dropwizard-reporter.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/kamon/kamon-reporter.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/micrometer/micrometer-metrics-registry.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/introduction-service-maps.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/ui-data/understand-lambda-monitoring-ui.mdx
  src/content/docs/style-guide/formatting/ui-paths.mdx
Labels: content, from_tw

#14035 add: config option for 8T span resevoir
  src/content/docs/apm/agents/net-agent/install-guides/install-net-agent-using-nuget.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/distributed-tracing/troubleshooting/missing-trace-data.mdx
Labels: content, from_internal

#14265 docs: Add in release notes for version 5.4.0 of the iOS app
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-5040.mdx
Labels: content, from_internal

#14257 Whats new 08 16 dockerstatsd.md
  src/content/whats-new/2023/08/images/otel_docker_statsd.png
  src/content/whats-new/2023/08/whats-new-08-16-dockerstatsd.md
Labels: content, from_internal

#14184 feat: nvidia gpu integration
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nvidia-gpu-integration.mdx
  src/images/infrastructure_screenshot-full_NVIDIA-GPU-dashboard.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#14066 chore: add language identfiers to android docs
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/android-agent-crash-reporting.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-app-launch-time-android-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-new-relic-gradle-plugin.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-proguard-or-dexguard-android-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-apps-gradle-android-studio.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-new-relic-plugin-android-instant-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/troubleshoot/no-data-appears-android.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-java.mdx
Labels: content, from_internal

#14281 fix: typo
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/browser-monitoring-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent-docker.mdx
Labels: content, from_internal

#14282 Updated supported runtimes list for lambdas.
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/compatibility-requirements-aws-lambda-monitoring.mdx
Labels: content, from_internal

#14272 [Product Partnerships] Added AWS Inspector Entity
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-inspector-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#14040 ASAP: AWS EC2 instance monitoring through Infrastructure Agent
  src/content/whats-new/2023/08/images/ec2_metrics_from_agent.webp
  src/content/whats-new/2023/08/images/nr_agent_installation_logs.webp
  src/content/whats-new/2023/08/whats-new-08-08-automatic-ec2-monitoring-through-nr-agent.md
Labels: content, from_internal

#14286 Publish August 17 with 14269: Browser Agent v1.238.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.238.0.mdx
Labels: content, from_internal

#14269 Publish August 17 with 14286: update browser agent size stats
  src/content/docs/browser/new-relic-browser/performance-quality/browser-monitoring-performance-impact.mdx
Labels: content, from_internal

#14173 feat(docs): add npm best practices guide
  src/content/docs/network-performance-monitoring/get-started/network-monitoring-best-practices.mdx
  src/images/network_diagram_common-architecture.webp
  src/nav/network-performance-monitoring.yml
Labels: content, from_tw

#14295 fix: Spelling in monitor-your-react-native-application.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
Labels: content, from_internal

#14294 fix: One more attempt to differentiate ORDER BY and FACET ... ORDER BY
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#14250 Steps headers in PageTools
  gatsby-node.js
  package.json
  yarn.lock
Labels: eng

#14264 Update introduction-new-relic-net.mdx
  src/content/docs/apm/agents/net-agent/getting-started/introduction-new-relic-net.mdx
Labels: content, from_internal

#14152 [Product Partnerships] Added Amazon CodeBuild
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-codebuild-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#14299 Update change-tracking-cli.mdx
  src/content/docs/change-tracking/change-tracking-cli.mdx
Labels: content, from_external

#14301 [Product Partnerships] Aws cw internet monitor
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-internet-monitor-integration.mdx
Labels: content, from_internal

#14302 fix: details about identifying infra agent versions in the customer environment
  src/content/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/update-infrastructure-agent.mdx
Labels: content, from_internal

#14296 automate mobile EOL pages
  scripts/releaseNotes.mjs
  src/components/EolPage.js
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/utils/getAgentName.js
Labels: eng

#14290 feat: add documentation for setApplicationVersion
  src/content/docs/browser/new-relic-browser/browser-apis/setApplicationVersion.mdx
  src/nav/browser.yml
Labels: content, from_internal

#14307 fix(user mgmt): detail about user records
  src/content/docs/accounts/accounts-billing/account-setup/login-options.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Labels: content, from_tw

#14317 fix(whats-new): ec2 edits
  src/content/whats-new/2023/08/whats-new-08-08-automatic-ec2-monitoring-through-nr-agent.md
Labels: content, from_tw

#14311 fix: typo
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
Labels: content, from_internal

#14310 fix: typo
  src/content/docs/apm/transactions/key-transactions/introduction-key-transactions.mdx
Labels: content, from_internal

#14315 [Product Partnerships] Update aws-sys-dist.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-sys-dist.mdx
Labels: content, from_internal

#14306 Chef/ansible config mgmt: various readability improvements
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/config-management-tools/configure-infrastructure-agent-puppet.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/config-management-tools/configure-infrastructure-agent-using-chef.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#14318 fix(OHI): some SME edits
  src/content/docs/infrastructure/host-integrations/host-integrations-list/apache-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/elasticsearch/elasticsearch-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ibmmq-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/monitor-services-running-amazon-ecs.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
  src/content/docs/infrastructure/host-integrations/installation/install-infrastructure-host-integrations.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/monitor-services-running-kubernetes.mdx
  src/install/mysql/default-install-linux.mdx
  src/install/mysql/linux/install-linux.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#14320 Revert "fix(user mgmt): detail about user records"
  src/content/docs/accounts/accounts-billing/account-setup/login-options.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Labels: content, from_tw

#14288 chore: add identifiers to graphql
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
Labels: content, from_internal

#14326 fix: update dotnet enum
  scripts/releaseNotes.mjs
Labels: eng

#14332 (Publish 8/23) chore(Horde): Update target date for IP range changes
  src/content/docs/new-relic-solutions/get-started/networks.mdx
  src/content/whats-new/2023/06/whats-new-06-23-synthetics-horde-ip-changes.md
Labels: content, from_tw

#14323 More detail on user record tracking/counting
  src/content/docs/accounts/accounts-billing/account-setup/login-options.mdx
  src/content/docs/accounts/accounts-billing/account-setup/multiple-user-records.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/account-setup/multiple-user-records.mdx
  src/i18n/content/kr/docs/accounts/accounts-billing/account-setup/multiple-user-records.mdx
Labels: content, from_tw

#14338 fix(datadog): fix bad mistakes
  src/content/docs/tutorial-dd-migration/making-the-switch.mdx
Labels: content, from_tw

#14331 docs: new flags in newrelic-infrastructure-agent troubleshooting
  src/content/docs/infrastructure/install-infrastructure-agent/manage-your-agent/troubleshoot-running-infrastructure-agent.mdx
Labels: content, from_internal

#14335 feat: add eolDate frontmatter type
  gatsby-node.js
  scripts/releaseNotes.mjs
  src/components/EolPage.js
Labels: eng

#14239 docs: Add explicit eolDate to frontmatter for .NET Agent v6.26.0 (publish with EOL dev feature from doc eng)
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-62600.mdx
Labels: content, from_internal

#14339 docs: .NET Agent error correction
  src/content/docs/apm/agents/net-agent/other-installation/understanding-net-agent-environment-variables.mdx
Labels: content, from_internal

#14351 fix(login options): add bitbucket
  src/content/docs/accounts/accounts-billing/account-setup/login-options.mdx
Labels: content, from_tw

#14352 fix(pending users): update info
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-managing-users.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/images/accounts_screenshot-crop_user-mgmt-ui.webp
Labels: content, from_tw

#14344 [Product Partnerships] Updated Amazon Codebuild
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-codebuild-monitoring-integration.mdx
Labels: content, from_internal

#14325 Browser: Add GraphQL option for grouping segments
  src/content/docs/apis/nerdgraph/examples/browser-monitoring-config-nerdgraph.mdx
  src/content/docs/browser/new-relic-browser/configuration/group-browser-metrics-urls.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/browser-monitoring-best-practices-guide.mdx
Labels: content, from_tw

#14365 docs: infrastructure agent 1.46.0 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1460.mdx
Labels: content, from_internal

#14369 fix(docs): typo
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-tech-writer-tasks.mdx
Labels: content, from_tw

#14343 Add back manual install content to mobile docs
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-apps-gradle-android-studio.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-new-relic-plugin-android-instant-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-cordova-phonegap/get-started-with-cordova-monitoring.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/cocoapods-installation.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/spm-installation.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-xamarin/monitor-your-xamarin-application.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#14366 fix(Hero): fixing broken link
  src/nav/browser.yml
Labels: content, from_internal, from_tw

#14376 chore: Update browser troubleshooting
  src/content/docs/browser/single-page-app-monitoring/troubleshooting/nextjs-app-router-links-broken.mdx
Labels: content, from_internal

#14361 Trim attribute dictionary info that was migrated to Enterprise
  src/content/docs/style-guide/writing-docs/article-templates/data-dictionary-style-guidelines.mdx
Labels: content, from_tw

#14395 Use backticks
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#14397 Update install-nodejs-agent-docker.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent-docker.mdx
Labels: content, from_internal

#14396 chore: add Node.js Agent v11.0.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-0-0.mdx
Labels: content, from_internal

#14399 Add release notes for python 9.0.0 - Please merge Aug 28 PM
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-81000.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-90000.mdx
Labels: content, from_internal

#14390 fix(capabilities): language shift
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/account-user-mgmt-tutorial.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-managing-users.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-mgmt-videos.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
  src/content/docs/alerts-applied-intelligence/overview.mdx
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-slm.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-streaming-export.mdx
  src/content/docs/apis/synthetics-rest-api/monitor-examples/manage-synthetics-monitors-rest-api.mdx
  src/content/docs/data-apis/custom-data/sap-integration.mdx
  src/content/docs/data-apis/manage-data/drop-data-using-nerdgraph.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
  src/content/docs/distributed-tracing/infinite-tracing/introduction-infinite-tracing.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/content/docs/service-level-management/create-slm.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/content/docs/style-guide/word-choice/user-related-language-guidelines.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/user-roles-synthetic-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
  src/i18n/content/kr/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
  src/nav/accounts.yml
Labels: content, from_tw

#14402 Fix wording in Azure log forwarding integrations docs
  src/content/docs/logs/forward-logs/azure-log-forwarding.mdx
Labels: content, from_internal

#14407 chore: Add eolDate override for .NET Agent v6.27.0.0 release notes.
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-62700.mdx
Labels: content, from_internal

#14405 docs: release notes for infra agent 1.47.0
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1470.mdx
Labels: content, from_internal

#14412 fix(assorted): capitalizations
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/configuration/distributed-tracing-python-agent.mdx
  src/content/docs/codestream/how-use-codestream/discuss-code.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-5130.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-7-1.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-890.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/hipaa.mdx
  src/content/docs/tutorial-dd-migration/making-the-switch.mdx
  src/content/docs/tutorial-errors/solve-critical-errors.mdx
  src/content/docs/tutorial-optimize-telemetry/data-reduction-techniques.mdx
Labels: content, from_tw

#14413 chore: release notes for runtimes deploy on 8/21
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.1.52.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.0.32.mdx
Labels: content, from_internal

#14414 Update jp.json
  src/i18n/nav/jp.json
Labels: content, from_internal

#14391 New-Release-Versions
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/version-trends-compare-user-adoption-metrics-performance.mdx
Labels: content, from_internal

#14279 [DO NOT MERGE] feat: Add documentation for streaming export compression
  src/content/docs/apis/nerdgraph/examples/nerdgraph-streaming-export.mdx
Labels: content, from_internal

#14321 feat: updated node versions to support 20 and drop 14. Added v11 with all the details
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/es-modules.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
Labels: content, from_internal

#14400 PUB Morning 8.30: Whats new infrastructure GA Post
  src/content/whats-new/2023/08/images/Infrastructure_GA.webp
  src/content/whats-new/2023/08/images/infrastucturega.webp
  src/content/whats-new/2023/08/whats-new-8-30-Infrastruture-GA.md
Labels: content, from_internal

#14417 Update transaction-traces-summary-page.mdx
  src/content/docs/apm/transactions/transaction-traces/transaction-traces-summary-page.mdx
Labels: content, from_internal

#14421 Sles 15.5 was added.
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#14416 Update jmx-monitoring-configuration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-configuration.mdx
Labels: content, from_internal

#14143 Network monitoring: Add supported Linux versions
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_tw

#14388 [DO NOT MERGE YET] Openstack controller integration docs
  src/content/docs/infrastructure/host-integrations/host-integrations-list/openstack-controller-integration.mdx
  src/images/infrastructure_screenshot-full_openstack-controller-dashboard.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#14404 On host integrations structure overhaul
  src/content/docs/data-apis/custom-data/get-custom-data-from-any-source.mdx
  src/content/docs/infrastructure/host-integrations/get-started/introduction-host-integrations.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/monitor-services-running-amazon-ecs.mdx
  src/content/docs/infrastructure/host-integrations/infrastructure-integrations-sdk/specifications/host-integration-configuration-overview.mdx
  src/content/docs/infrastructure/host-integrations/installation/install-infrastructure-host-integrations.mdx
  src/content/docs/infrastructure/host-integrations/installation/update-infrastructure-host-integration-package.mdx
  src/content/docs/infrastructure/host-integrations/troubleshooting/run-integrations-manually.mdx
  src/content/docs/infrastructure/host-integrations/understand-use-data/host-integration-data-collection-reporting.mdx
  src/content/docs/infrastructure/host-integrations/understand-use-data/remote-monitoring-host-integrations.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/monitor-services-running-kubernetes.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/dojo/dojo-io-integration.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/lampy/lampy-integration.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/statsd/statsd-monitoring-integration.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/wordpress/wordpress-fullstack-integration.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/dojo/dojo-io-integration.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/lampy/lampy-integration.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/statsd/statsd-monitoring-integration.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/wordpress/wordpress-fullstack-integration.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/dojo/dojo-io-integration.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/lampy/lampy-integration.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/statsd/statsd-monitoring-integration.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/wordpress/wordpress-fullstack-integration.mdx
  src/nav/infrastructure.yml
  src/nav/integrations.yml
  src/nav/root.yml
Labels: content, from_tw

#14074 Chore: add language identifiers to mobile ios docs
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/enable-swift-interaction-traces.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/ios-device-id-obfuscation.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/ios-tvos-crash-reporting.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/upload-dsyms-bitcode-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/cocoapods-installation.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/spm-installation.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/upgrade-new-relic-mobiles-ios-sdk.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/troubleshoot/no-data-appears-ios.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/troubleshoot/swiftui-appdelegate.mdx
Labels: content, from_internal
