Repository newrelic/docs-website, pull requests merged in 2023-09, with the labels that each got.

#14442 fix: default for browser monitoring
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#14444 Update get-logs-version.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
Labels: content, from_internal

#14445 Update uninstall-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/uninstall-kubernetes.mdx
Labels: content, from_internal

#14446 Update kubernetes-integration-predefined-alert-policy.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/kubernetes-integration-predefined-alert-policy.mdx
Labels: content, from_internal

#14284 feat(Sonic): Customer Experience tutorial
  src/content/docs/tutorial-customer-experience/bottom-funnel-analysis.mdx
  src/content/docs/tutorial-customer-experience/establish-current-state.mdx
  src/content/docs/tutorial-customer-experience/improve-customer-experience.mdx
  src/content/docs/tutorial-customer-experience/intro-to-customer-experience.mdx
  src/content/docs/tutorial-optimize-telemetry/detect-anomalies.mdx
  src/content/docs/tutorial-optimize-telemetry/intro-to-optimal-telemetry.mdx
  src/images/cx_diagram_what-you-can-measure-nr.webp
  src/nav/root.yml
  src/nav/tutorial-customer-experience.yml
Labels: content

#14378 fix(docs): fix mobile SDK examples, syntax and Description
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/current-session-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/network-request-failures.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/network-request-success.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-breadcrumb.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-events.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-metrics.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/remove-attribute.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-breadcrumb.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-breadcrumb.mdx
Labels: content, from_tw

#14459 fix: typo and startup instructions
  src/content/docs/apm/agents/nodejs-agent/getting-started/monitor-your-nodejs-app.mdx
Labels: content, from_internal

#14457 Add webdriver test to github actions
  .github/workflows/webdriver.yml
  package.json
  scripts/actions/webdriver-desktop.mjs
  scripts/actions/webdriver-mobile.mjs
  yarn.lock
Labels: eng

#14462 Update upgrading-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/upgrading-kubernetes.mdx
Labels: content, from_internal

#14463 docs: Add in release note for version 5.5.0 of the NR for iOS app
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-5050.mdx
Labels: content, from_internal

#14476 fix(tutorials): small fixes
  src/content/docs/tutorial-kubernetes-learn/tutorial-k8s-intro.mdx
Labels: content, from_internal

#14477 fix(usage plan): format couple terms
  src/content/docs/licenses/license-information/usage-plans/new-relic-usage-plan.mdx
Labels: content, from_tw

#14336 Sept 5: Standard edition shift
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/content/docs/accounts/accounts-billing/account-structure/add-accounts.mdx
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/eligibility-guidelines-new-relic-nonprofit-program.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/account-user-mgmt-tutorial.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-saml-scim.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-manage-groups.mdx
  src/content/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
  src/content/docs/data-apis/ingest-apis/metric-api/metric-api-limits-restricted-attributes.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/azure-native.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-usage-plan.mdx
  src/content/docs/licenses/overview.mdx
  src/content/docs/new-relic-solutions/get-started/implementation-guide-planning-setup.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/uninstall-agent.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/find-help-use-support-portal.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/architecture.mdx
  src/content/docs/style-guide/word-choice/pricing-language-guidelines.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/monitor-limits.mdx
Labels: content, from_tw

#14468 Update pixie-data-security-overview.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/pixie-data-security-overview.mdx
Labels: content, from_internal

#14467 Update data-governance.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/data-governance.mdx
Labels: content, from_internal

#14466 Update link-otel-applications-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-otel-applications-kubernetes.mdx
Labels: content, from_internal

#14464 Update changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/changes-since-v3.mdx
Labels: content, from_internal

#14470 Update get-started-kubecost.mdx
  src/content/docs/kubernetes-pixie/kubecost/get-started-kubecost.mdx
Labels: content, from_internal

#14473 fix: update the query for suggested success sli
  src/content/docs/service-level-management/create-slm.mdx
Labels: content, from_internal

#14482 release note for 5.7.3
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5703.mdx
Labels: content, from_internal

#14485 fix(nav): fix some entries
  src/nav/accounts.yml
  src/nav/infrastructure.yml
Labels: content, from_tw

#14481 chore: update to reflect changes to agent
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal

#14394 Accounts: Add target type query
  src/content/docs/accounts/accounts/account-maintenance/query-account-audit-logs-nrauditevent.mdx
Labels: content, from_tw

#14486 feat: add 1.239.1 release notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.239.1.mdx
Labels: content, from_internal

#14461 fix(fargate): Update EKS Fargate documentation
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/install-fargate-integration.mdx
Labels: content, from_internal

#14491 fix(inspected count): improve screenshot
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
  src/images/queries-nrql_screenshot-crop_event-count-in-query-builder.webp
Labels: content, from_tw

#14430 Change tracking: Add web transaction impacts
  src/content/docs/change-tracking/change-tracking-view-analyze.mdx
  src/images/tracking_screenshot-crop_impacts_to_web-transactions.webp
Labels: content, from_external

#14495 Update addcustomattributes-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/addcustomattributes-python-agent-api.mdx
Labels: content, from_external

#14489 fix(UI): quick find
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
  src/images/accounts_screenshot-crop_search_1.webp
Labels: content, from_tw

#14497 docs: updated version compatibility for Jedis with Java Agent
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#14498 fix(max query duration): adjust/improve
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/apis/nerdgraph/examples/async-queries-nrql-tutorial.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
Labels: content, from_tw

#14501 Update set-custom-user-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-custom-user-id.mdx
Labels: content, from_tw

#14500 docs: update OTLP FedRAMP support
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-set-up-your-app.mdx
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_internal

#14510 fix(user mgmt concepts): move section to user type
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
Labels: content, from_tw

#14426 chore: Update browser ajax data troubleshooting
  src/content/docs/browser/new-relic-browser/troubleshooting/troubleshoot-ajax-data-collection.mdx
  src/nav/browser.yml
Labels: content, from_internal

#14514 chore(java): Java agent release 8.6.0
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/java-agent/instrumentation/java-agent-instrument-kafka-message-queues.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-860.mdx
Labels: content, from_internal

#14515 Add note about Grok multiline
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#14518 fix(user type): remove faulty check
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
Labels: content, from_tw

#14519 chore: add Node.js Agent v11.1.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-1-0.mdx
Labels: content, from_internal

#14517 Update install-infrastructure-monitoring-agent-linux.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
Labels: content, from_internal

#14458 Updated docs for VMware Tanzu Firehose Nozzle integration version 2.8.0.
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-tanzu-monitoring-integration.mdx
Labels: content, from_internal

#14523 chore(java): removing unimportant item from release notes
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-860.mdx
Labels: content, from_internal

#14524 fix(usage queries): remove NrUsage
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-usage-plan.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
  src/content/docs/style-guide/word-choice/pricing-language-guidelines.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/monitor-limits.mdx
Labels: content, from_tw

#14529 removing old note per PR 12922
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/container-infrastructure-monitoring.mdx
Labels: content, from_tw

#14527 Update magento-business-insights.mdx
  src/content/docs/apm/agents/php-agent/other-integrations/magento-business-insights.mdx
Labels: content, from_internal

#14504 feat(tutorials): k8 iteration
  src/content/docs/tutorial-kubernetes-learn/tutorial-k8s-intro.mdx
  src/content/docs/tutorial-kubernetes-learn/tutorial-k8s-layers.mdx
  src/nav/tutorial-understand-k8s.yml
Labels: content, from_tw

#14522 add a Jboss troubleshooting doc for classloading errors
  src/content/docs/apm/agents/java-agent/troubleshooting/jboss-and-wildfly-incomplete-telemetry.mdx
Labels: content, from_internal

#14543 feat(diag-cli): Diagnostics CLI 3.2.0
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-300.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-320.mdx
Labels: content, from_internal

#14503 Remove non-o11y features
  src/content/docs/codestream/codestream-integrations/msteams-integration.mdx
  src/content/docs/codestream/codestream-integrations/notifications.mdx
  src/content/docs/codestream/codestream-settings/team-administration.mdx
  src/content/docs/codestream/how-use-codestream/discuss-code.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/codestream/how-use-codestream/ui-overview.mdx
  src/content/docs/codestream/start-here/install-codestream.mdx
  src/content/docs/codestream/start-here/what-is-codestream.mdx
  src/content/docs/codestream/troubleshooting/github-org-repos.mdx
  src/content/docs/codestream/troubleshooting/security.mdx
  src/images/codestream_screenshot-connect-msteams.webp
  src/images/codestream_screenshot-crop_msteams-token-example.webp
  src/images/codestream_screenshot-crop_msteams-welcome.webp
  src/images/codestream_screenshot-marketplace-vsc-clm.webp
  src/images/codestream_screenshot-marketplace-vsc-slt.webp
  src/nav/codestream.yml
Labels: content, from_internal

#14538 Update incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_internal

#14537 Update destinations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/destinations.mdx
Labels: content, from_internal

#14526 Charts: Add related experiences preview
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  src/images/viz_screenshot-crop_chart-hover.webp
  src/images/viz_screenshot-crop_chart-with-spikes.webp
  src/images/viz_screenshot-crop_list-of-associated-entities.webp
  src/images/viz_screenshot-crop_list-of-related-experiences.webp
Labels: content, from_tw

#14429 (Publish by 9:00 AM on 09/12/2023) User management: Pending invite UI
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
  src/images/accounts_screenshot-crop_user-mgmt-ui.webp
Labels: content, from_tw

#14552 Webdrive Testing
  .github/workflows/webdriver.yml
  scripts/actions/webdriver-desktop.mjs
Labels: eng

#14434 (Publish TBD) Stripe Integration documentation
  src/content/docs/infrastructure/host-integrations/host-integrations-list/stripe-integration.mdx
  src/images/infrastructure_screenshot-stripe-dashboard.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#14549 [Product Partnerships] Added Azure Machine Learning Integration
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-machine-learning-monitor-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#14535 Fixed broken replication slave link
  src/install/mysql/whatsNext.mdx
Labels: content, from_internal

#14512 feat(logging): new configuration options for JSON grok type
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#14548 Sd prebuilt dashboards
  src/content/docs/query-your-data/explore-query-data/dashboards/prebuilt-dashboards.mdx
  src/images/dashboards_screenshot-full_dashboard-index-01.webp
  src/images/dashboards_screenshot-full_prebuilt-search-01.webp
  src/images/dashboards_screenshot-full_prebuilt-view-all-01.webp
  src/images/dashboards_screenshot-full_tell-us-about-your-stack.webp
Labels: content, from_tw

#14566 Update fedramp-compliant-endpoints.mdx
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_internal

#14555 [MERGE 9/13] Updates guzzle.mdx agent support info
  src/content/docs/apm/agents/php-agent/frameworks-libraries/guzzle.mdx
Labels: content, from_internal

#14545 [MERGE 9/13] feat(lookup tables): Add CSV Value Parsing section
  src/content/docs/logs/ui-data/lookup-tables-ui.mdx
Labels: content, from_internal

#14562 Browser Agent v1.240.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.240.0.mdx
Labels: content, from_internal

#14540 (Publish on 9/13/2023) What's new: add recommended dashboards post
  src/content/whats-new/2023/09/whats-new-09-13-recommended-dashboards.md
Labels: content, from_internal

#14565 fix: add a sleep to home page url
  scripts/actions/webdriver-desktop.mjs
Labels: eng

#13116 Update networks.mdx
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_tw

#14572 Update data-privacy-new-relic.mdx
  src/content/docs/security/security-privacy/data-privacy/data-privacy-new-relic.mdx
Labels: content, from_internal

#14575 chore: add details on meraki_config.preferences.hide_uplink_usage setting
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal

#14579 Java agent jboss troubleshooting
  src/content/docs/apm/agents/java-agent/troubleshooting/incomplete-telemetry-from-boss-and-wildfly.mdx
  src/nav/apm.yml
Labels: content, from_internal

#14583 Update nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal, from_tw

#14560 Update kubernetes-components.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-components.mdx
Labels: content, from_internal

#14586 Update muting-rules-suppress-notifications.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/muting-rules-suppress-notifications.mdx
Labels: content, from_internal

#14567 [Merge 9/14 morning] Whats new 09 14 mobile release versions
  src/content/whats-new/2023/09/images/mobile-versions-landing.png
  src/content/whats-new/2023/09/whats-new-09-14-mobile-release-versions.md
Labels: content, from_internal

#14564 09/14 in the afternoon feat(whats-new): video analytics integrations
  src/content/whats-new/2023/09/images/datazoom_quickstart.webp
  src/content/whats-new/2023/09/images/newrelic_mux_datazoom_logos.webp
  src/content/whats-new/2023/09/whats-new-09-14-video-analytics-datazoom-mux.md
Labels: content, from_internal

#14590 fix(shortcuts): fix global search key
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
Labels: content, from_tw

#14541 fix(tutorials): fix broken button
  src/content/docs/tutorial-dd-migration/installing-monitor.mdx
  src/content/docs/tutorial-dd-migration/migrating-from-dd.mdx
Labels: content, from_tw

#14581 feat(tutorial): follow ups from first iteration, optimized titles
  src/content/docs/tutorial-error-tracking/respond-outages.mdx
  src/content/docs/tutorial-error-tracking/route-teams.mdx
  src/content/docs/tutorial-error-tracking/solve-critical-errors.mdx
  src/i18n/content/jp/docs/tutorial-error-tracking/respond-outages.mdx
  src/i18n/content/jp/docs/tutorial-error-tracking/route-teams.mdx
  src/i18n/content/jp/docs/tutorial-error-tracking/solve-critical-errors.mdx
  src/i18n/content/kr/docs/tutorial-error-tracking/respond-outages.mdx
  src/i18n/content/kr/docs/tutorial-error-tracking/route-teams.mdx
  src/i18n/content/kr/docs/tutorial-error-tracking/solve-critical-errors.mdx
  src/nav/root.yml
  src/nav/tutorial-error-tracking.yml
  src/nav/tutorial-errors.yml
Labels: content, from_tw

#14601 Clark/webdriver increase sleep
  scripts/actions/webdriver-desktop.mjs
  scripts/actions/webdriver-mobile.mjs
Labels: eng

#14593 fix(docs): typo
  src/content/docs/infrastructure/new-relic-infrastructure/troubleshooting/agent-not-starting-windows.mdx
Labels: content, from_tw

#14600 chore: add logging library version numbers
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#14602 feat(kubernetes): Update KSM documentation
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/monitor-services-running-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/newrelic-metrics-adapter.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/deprecation-notice-v1.22-and-lower.mdx
  src/content/docs/tutorial-peak-demand/autoscale-your-infra.mdx
Labels: content, from_internal

#14372 Infra tutorial
  src/content/docs/tutorial-troubleshoot-infra-hosts/collect-your-data.mdx
  src/content/docs/tutorial-troubleshoot-infra-hosts/create-metrics-dashboards.mdx
  src/content/docs/tutorial-troubleshoot-infra-hosts/diagnose-app-infra-data.mdx
  src/content/docs/tutorial-troubleshoot-infra-hosts/investigate-your-resources.mdx
  src/images/infrastructure_screenshot-crop_create_view.webp
  src/images/infrastructure_screenshot-crop_hosts-summary-page.webp
  src/images/infrastructure_screenshot-crop_load.webp
  src/images/infrastructure_screenshot-crop_search_view.webp
  src/images/infrastructure_screenshot-crop_view.webp
  src/images/infrastructure_screenshot-find-app.webp
  src/images/infrastructure_screenshot-full_cpu.webp
  src/images/infrastructure_screenshot-full_custom-dash.webp
  src/images/infrastructure_screenshot-full_find-views.webp
  src/images/infrastructure_screenshot-full_hosts-alert-critical.webp
  src/images/infrastructure_screenshot-full_hosts-app-tile.webp
  src/images/infrastructure_screenshot-full_hosts-filtered-app.webp
  src/images/infrastructure_screenshot-full_hosts-summary-page.webp
  src/images/infrastructure_screenshot-full_hosts-updated-summary-table.webp
  src/images/infrastructure_screenshot-full_infra_Dash.webp
  src/images/infrastructure_screenshot-full_infra_network-timeseries.webp
  src/images/infrastructure_screenshot-full_infra_processes.webp
  src/images/infrastructure_screenshot-full_infra_view-query.webp
  src/images/infrastructure_screenshot-full_metrics-explorer.webp
  src/images/infrastructure_screenshot-full_metrics-time1.webp
  src/images/infrastructure_screenshot-full_metrics-time2.webp
  src/images/infrastructure_screenshot-full_process.webp
  src/images/infrastructure_screenshot-full_save-views.webp
  src/images/infrastructure_screenshot-full_summary-table-alerting.webp
  src/images/infrastructure_screenshot-full_table-ordered.webp
  src/images/infrastructure_screenshot-full_updated-summary.webp
  src/images/infrastructure_screenshot-full_view-all-dash.webp
  src/images/infrastructure_screenshot-service-maps-app.webp
  src/nav/root.yml
  src/nav/tutorial-troubleshoot-infra-hosts.yml
Labels: content, from_tw

#14603 fix: improve documentation around Metric API double precision limits
  src/content/docs/data-apis/ingest-apis/metric-api/metric-api-limits-restricted-attributes.mdx
Labels: content, from_internal

#14604 feat: Added release notes for Kubernetes integration
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-16-0.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-17-0.mdx
Labels: content, from_internal

#14605 Fixed wrong cutoff time for Trace API span ingestion
  src/content/docs/apm/distributed-tracing/trace-api/troubleshooting-missing-trace-api-data.mdx
Labels: content, from_internal

#14611 [fix] OTel host.id is disabled by default
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
Labels: content, from_internal

#14612 docs: infra agent 1.47.1 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1471.mdx
Labels: content, from_internal

#14578 (Publish TBA) What's new: add recommended dashboards post
  src/content/whats-new/2023/09/whats-new-09-13-recommended-dashboards.md
Labels: content, from_internal

#14597 fix(docs): minor edits to what's new post (post-release)
  src/content/whats-new/2023/09/whats-new-09-14-mobile-release-versions.md
Labels: content, from_tw

#14628 Updated apache-traffic-server integration doc's
  src/content/docs/infrastructure/host-integrations/host-integrations-list/apache-traffic-server-monitoring-integration.mdx
Labels: content, from_internal

#14625 chore: add language identifiers to code blocks
  src/content/docs/apm/agents/java-agent/instrumentation/extension-additional-instrumentation-modules.mdx
  src/content/docs/apm/agents/java-agent/instrumentation/ignore-transactions-using-api.mdx
  src/content/docs/apm/agents/java-agent/instrumentation/java-agent-instrument-kafka-message-queues.mdx
  src/content/docs/apm/agents/java-agent/instrumentation/monitor-deployments-java-agent.mdx
  src/content/docs/apm/agents/java-agent/instrumentation/transaction-naming-protocol.mdx
Labels: content, from_internal

#14627 Update snowflake-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
Labels: content, from_internal

#14631 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#14634 Browser Agent v1.241.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.241.0.mdx
Labels: content, from_internal

#14513 (Sonic) Innovation and growth tutorial
  src/content/docs/tutorial-innovation-and-growth/development-quality-mgmt.mdx
  src/content/docs/tutorial-innovation-and-growth/innovate-with-new-relic.mdx
  src/content/docs/tutorial-innovation-and-growth/release-quality-mgmt.mdx
  src/content/docs/tutorial-optimize-telemetry/data-optimize-techniques.mdx
  src/content/docs/tutorial-optimize-telemetry/develop-optimize-plan.mdx
  src/content/docs/tutorial-optimize-telemetry/intro-to-optimal-telemetry.mdx
  src/i18n/content/jp/docs/tutorial-optimize-telemetry/data-reduction-techniques.mdx
  src/i18n/content/kr/docs/tutorial-optimize-telemetry/data-reduction-techniques.mdx
  src/images/inno_diagram_improvement-pipeline.webp
  src/nav/root.yml
  src/nav/tutorial-data-ingest-gov.yml
  src/nav/tutorial-innovation.yml
Labels: content, from_tw

#14645 feature: update dashboard example json
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, from_internal

#14643 Adding to style guide
  src/content/docs/style-guide/writing-docs/docs-translation.mdx
Labels: content, from_tw

#14640 [MERGE 9/20] feat(php-agent): 10.12 Release Notes
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-12-0-1.mdx
Labels: content, from_internal

#14460 [MERGE 9/20] feat(php-agent): Errors Inbox Improvement API Documentation
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_set_error_group_callback.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_set_user_id.mdx
  src/nav/apm.yml
Labels: from_internal

#14650 fix(docs): update limit statement
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_tw

#14651 fix: `dataSource` check for filter
  src/components/DataDictionaryFilter.js
Labels: eng

#14623 create validate-release-note-json gh action
  .github/workflows/validate-release-notes-json.yml
  scripts/releaseNotes.mjs
Labels: eng

#14585 Add documentation for Python ML functionality
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/recordcustomevent-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/recordmlevent-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/wrapmlmodel-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-mlops.mdx
  src/images/python-ml-APM-All-Entities.png
  src/images/python-ml-APM-model-summary-view1.png
  src/images/python-ml-APM-model-summary-view2.png
  src/images/python-ml-APM-models-view.png
  src/nav/apm.yml
Labels: content, from_internal

#14660 chore(entity): fix callout fatigue
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/what-entity-new-relic.mdx
Labels: content, from_tw

#14656 infra tutorial gtm
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/install-infrastructure-monitoring-agent-windows.mdx
  src/content/docs/infrastructure/manage-your-data/data-instrumentation/default-infrastructure-monitoring-data.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/infrastructure-monitoring-best-practices-guide.mdx
  src/content/docs/tutorial-troubleshoot-infra-hosts/collect-your-data.mdx
  src/content/docs/tutorial-troubleshoot-infra-hosts/create-metrics-dashboards.mdx
  src/content/docs/tutorial-troubleshoot-infra-hosts/diagnose-app-infra-data.mdx
  src/content/docs/tutorial-troubleshoot-infra-hosts/investigate-your-resources.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#14666 [chore] Update default-infrastructure-monitoring-data.mdx
  src/content/docs/infrastructure/manage-your-data/data-instrumentation/default-infrastructure-monitoring-data.mdx
Labels: content, from_internal

#14667 Add callout to privacy settings
  src/content/docs/apm/agents/python-agent/supported-features/python-mlops.mdx
Labels: content

#14648 react native agent release
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-132.mdx
Labels: content, from_internal

#14646 feat(Alerts): Added content in the "Set up a Slack destination" section
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_tw

#14616 chore(docs): update Wistia access content
  src/content/docs/style-guide/images/embed-videos.mdx
Labels: content, from_tw

#14674 chore(tutorials): add k8s tutorial to k8s doc
  src/nav/kubernetes-pixie.yml
Labels: content, from_tw

#14438 (Publish 9/25 AM) feat: Update create NRQL condition docs
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
  src/content/docs/tutorial-create-alerts/create-an-alert.mdx
  src/images/alerts_screenshot-crop_NRQL-query.webp
  src/images/alerts_screenshot-crop_condition-details.webp
  src/images/alerts_screenshot-crop_golden-metric-entities.webp
  src/images/alerts_screenshot-crop_golden-metrics.webp
  src/images/alerts_screenshot-crop_other-metrics.webp
  src/images/alerts_screenshot-crop_set-thresholds.webp
  src/images/alerts_screenshot-crop_signal-select.webp
  src/images/alerts_screenshot-crop_signal-tune.webp
  src/images/queries-nrql_screenshot-crop_create-alert-condition.webp
  src/images/queries-nrql_screenshot-full_fine-tune-signals.webp
  src/images/queries-nrql_screenshot-full_signal-loss-ui.webp
Labels: content, from_internal

#14618 errors tutorial iteration
  src/content/docs/apm/agents/manage-apm-agents/agent-data/manage-errors-apm-collect-ignore-or-mark-expected.mdx
  src/content/docs/apm/apm-ui-pages/error-analytics/errors-page-find-fix-verify-problems.mdx
  src/content/docs/tutorial-error-tracking/respond-outages.mdx
  src/content/docs/tutorial-error-tracking/route-teams.mdx
  src/content/docs/tutorial-error-tracking/solve-critical-errors.mdx
  src/data/popovers_en.json
  src/images/apm_screenshot-crop_errors-IDE.webp
  src/images/apm_screenshot-crop_errors-anomaly.webp
  src/images/apm_screenshot-crop_errors-assignment.webp
  src/images/apm_screenshot-crop_errors-inbox-page.webp
  src/images/apm_screenshot-crop_errors-logs.webp
  src/images/apm_screenshot-crop_errors-status.webp
  src/images/apm_screenshot-crop_errors-triage.webp
  src/nav/apm.yml
  src/nav/errors-inbox.yml
  src/nav/root.yml
  src/nav/tutorial-error-tracking.yml
Labels: content, from_internal

#14624 (Publish on 09/25/2023) Android agent v7.1.0 release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-710.mdx
Labels: content, from_internal

#14420 (PUBLISH 9/25 - check with SME before publishing) Add documentation for streaming export compression
  src/content/docs/apis/nerdgraph/examples/nerdgraph-streaming-export.mdx
Labels: content, from_internal

#14684 [Product Partnerships] Added Amazon CloudSearch Entity
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-cloudsearch-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#14691 Add release notes for python agent v9.1.0 (PLEASE MERGE SEPT 26TH AM)
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-90100.mdx
Labels: content, from_internal

#14693 [publish time: 09/26 morning or afternoon] Whats new session replay limited preview
  src/content/whats-new/2023/09/images/rewind-replay-resolve-v2.png
  src/content/whats-new/2023/09/whats-new-09-26-session-replay-limited-preview.md
Labels: content, from_internal

#14696 added release notes for react native agent
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-133.mdx
Labels: content, from_internal

#14701 sd-recommended-dashboards
  src/content/docs/query-your-data/explore-query-data/dashboards/prebuilt-dashboards.mdx
  src/nav/dashboards.yml
Labels: content, from_tw

#14704 Remove Segment IO from dependency list
  src/content/docs/licenses/product-or-service-licenses/mobile-app-licenses/android-application-licenses.mdx
Labels: content, from_internal

#14705 docs: Minor streaming export compression correction
  src/content/docs/apis/nerdgraph/examples/nerdgraph-streaming-export.mdx
Labels: content, from_internal

#14703 update top 404s with redirects to proper docs
  src/content/docs/alerts-applied-intelligence/overview.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/noticeerror.mdx
  src/content/docs/browser/new-relic-browser/installation/update-browser-agent.mdx
  src/content/docs/data-apis/convert-to-metrics/analyze-monitor-data-trends-metrics.mdx
  src/content/docs/data-apis/custom-data/get-custom-data-from-any-source.mdx
  src/content/docs/distributed-tracing/concepts/quick-start.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infra-hosts-ui-page.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/container-instrumentation-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/manage-your-data/data-instrumentation/default-infrastructure-monitoring-data.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/introduction-azure-monitoring-integrations.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/get-started/introduction-new-relic-mobile-android.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/cocoapods-installation.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/mobile-sdk-api-guide.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/update-new-relic-agent.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/content/docs/style-guide/writing-strategies/introduction-style-guide.mdx
  src/content/docs/tutorial-create-alerts/create-new-relic-alerts.mdx
  src/content/docs/tutorial-innovation-and-growth/development-quality-mgmt.mdx
Labels: content, from_tw

#14708 feat: add start api doc page
  src/content/docs/browser/new-relic-browser/browser-apis/start.mdx
  src/nav/browser.yml
Labels: content, from_internal

#14620 fix(on host integrations ): changed cassandra, haproxy
  src/content/docs/infrastructure/host-integrations/host-integrations-list/apache-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cassandra-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/couchbase-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/elasticsearch/elasticsearch-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/elasticsearch/elasticsearch-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/haproxy-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/hashicorp-consul-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-configuration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/elasticsearch/elasticsearch-config.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-configuration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/elasticsearch/elasticsearch-config.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-configuration.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#14699 chore(NRQL): Formatting for aparse
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#14716 Update net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
Labels: content, from_internal

#14715 Update custom-instrumentation-attributes-net.mdx
  src/content/docs/apm/agents/net-agent/custom-instrumentation/custom-instrumentation-attributes-net.mdx
Labels: content, from_internal

#14719 [Product Partnerships] Updated Azure Machine Learning Doc
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-machine-learning-monitor-integration.mdx
Labels: content, from_internal

#14718 chore(WN): Fix preserved traces screenshot
  src/content/whats-new/2023/08/whats-new-08-15-preserved-traces.md
  src/content/whats-new/2023/08/whats-new-08-23-ei-fingerprinting.md
Labels: content, from_tw

#14720 Update microsoft-sql-server-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
Labels: content, from_internal

#14610 [MERGE: AFTERNOON - 9/28] New docs on Lookups Service API
  src/content/docs/apis/lookups-service-api/lookups-service-api.mdx
  src/content/docs/logs/ui-data/lookup-tables-ui.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_internal

#14724 Update user-settings.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/user-settings.mdx
Labels: content, from_internal

#14725 fix: Removes outdated info, clarifies meaning of gray status
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/view-entity-health-status-find-entities-without-alert-conditions.mdx
Labels: content, from_internal

#14653 chore: updating multiple netmon pages
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal

#14730 Update windows-services-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
Labels: content, from_internal

#14728 docs: New Relic iOS 5.6.0 and license update
  src/content/docs/licenses/product-or-service-licenses/mobile-app-licenses/ios-application-licenses.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-5060.mdx
Labels: content, from_internal

#14729 Update Go Agent release notes for 3.26.0
  src/content/docs/apm/agents/go-agent/get-started/go-agent-compatibility-requirements.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-25-0.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-25-1.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-26-0.mdx
Labels: content, from_internal

#14731 Infra Agent 1.47.2 Release Notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1472.mdx
Labels: content, from_internal

#14733 fix(Logs): Removed a confused text about the limit
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_tw

#14736 some light content edits
  src/content/docs/tutorial-app-performance/fixing-high-latency.mdx
  src/content/docs/tutorial-app-performance/instrument-your-site.mdx
  src/content/docs/tutorial-app-performance/performance-benchmarks.mdx
  src/content/docs/tutorial-app-performance/reduce-javascript-errors.mdx
Labels: content, from_tw

#14741 adding a line per gh issue
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/update-serverless-monitoring-aws-lambda.mdx
Labels: content, from_tw

#14690 feat(Sonic): Service Characterization tutorial
  src/content/docs/tutorial-innovation-and-growth/release-quality-mgmt.mdx
  src/content/docs/tutorial-reporting-data/capture-service-telemetry.mdx
  src/content/docs/tutorial-reporting-data/capture-the-right-data.mdx
  src/content/docs/tutorial-reporting-data/capture-web-telemetry.mdx
  src/images/capture_diagram_data-reporting-optimization-path.webp
  src/nav/root.yml
  src/nav/tutorial-reporting-data.yml
Labels: content, from_tw
