Repository newrelic/docs-website, pull requests merged in 2023-10, with the labels that each got.

#14737 SEO updates
  src/content/docs/tutorial-large-logs/get-started-managing-large-logs.mdx
Labels: content, from_tw

#14748 feat(NRQL): Added important note about E2M rules
  src/content/docs/data-apis/convert-to-metrics/create-metrics-other-data-types.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#14749 added infra agent troubleshooting for entity name change
  src/content/docs/infrastructure/new-relic-infrastructure/troubleshooting/host-name-changes.mdx
  src/content/docs/infrastructure/new-relic-infrastructure/troubleshooting/incorrect-host-name-reported.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#14743 [Publish Mon, Oct 2, check with contributor] chore: New Alert pages
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/create-edit-or-find-alert-policy.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/update-or-disable-policies-conditions.mdx
  src/images/accounts_icon_condition-off.webp
  src/images/accounts_icon_condition-on.webp
  src/images/alerts_screenshot-crop_incident-preference-options.webp
  src/images/alerts_screenshot-full_incident-preference-ui.webp
Labels: content, from_internal

#14753 nvidia gpu integration added to on-host integrations nav
  src/nav/infrastructure.yml
Labels: content, from_internal

#14754 fix(Tutorial): Fixed a typo
  src/content/docs/tutorial-innovation-and-growth/innovate-with-new-relic.mdx
Labels: content, from_tw

#14759 feat: Diagnostics CLI 3.2.1 release
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-310.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-321.mdx
Labels: content, from_internal

#14740 [Publish 10/03/2023] feat(php-agent): PHP Agent Release 10.13
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-13-0-2.mdx
Labels: content, from_internal

#14738 [Publish 10/03/2023] chore(PHP agent): Adds log decoration docs
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/logs/logs-context/configure-logs-context-php.mdx
Labels: content, from_internal

#14762 Terraform: Fix broken links and edit text
  src/content/docs/more-integrations/terraform/terraform-modules.mdx
  src/content/docs/more-integrations/terraform/terragrunt.mdx
Labels: content, from_internal

#14761 adding facet example
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
Labels: content, from_internal

#13733 fix(AWS): Fixed incorrect AWS steps
  src/content/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
Labels: content, from_tw

#14766 Update custom-ssl-certificates-ruby.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/custom-ssl-certificates-ruby.mdx
Labels: content, from_internal

#14755 Remove the need of restarting infrastructure agent
  src/content/docs/infrastructure/host-integrations/host-integrations-list/apache-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cassandra-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/couchbase-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/elasticsearch/elasticsearch-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/f5-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/haproxy-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/hashicorp-consul-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ibmmq-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/memcached-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nagios-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/powerdns-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/redis/redis-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/varnish-cache-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
Labels: content, from_internal

#14779 Browser Agent v1.243.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.243.0.mdx
Labels: content, from_internal

#14770 fix(Java agent): Removed Java 5 and Java 6
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_tw

#14781 Browser Agent v1.243.1 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.243.1.mdx
Labels: content, from_internal

#14783 chore: Add Job Manager release notes for release 296, 297
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-296.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-297.mdx
Labels: content, from_internal

#14788 feat(nrdiag): Diagnostics CLI 3.2.2 Release
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-320.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-322.mdx
Labels: content, from_internal

#14792 fix: re-group ntp
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#14793 Synthetics node-browser-runtime-2.0.35 release notes
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.0.35.mdx
Labels: content, from_internal

#14767 chore: add language identifiers
  src/content/docs/apm/agents/python-agent/installation/python-agent-admin-script-advanced-usage.mdx
Labels: content, from_internal

#14795 Create new-relic-android-5801.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5801.mdx
Labels: content, from_internal

#14672 docs: Add browser monitoring proxy page
  src/content/docs/browser/new-relic-browser/configuration/browser-app-settings-page.mdx
  src/content/docs/browser/new-relic-browser/configuration/proxy-agent-requests.mdx
  src/nav/browser.yml
Labels: content, from_internal

#14769 [Product Partnerships] Added Amazon MediaTailor Entity
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-elemental-mediatailor-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#14797 Adding Historical Data Export limitations
  src/content/docs/apis/nerdgraph/examples/nerdgraph-historical-data-export.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp-moderate.mdx
Labels: content, from_internal

#14800 [Product Partnerships] Added Amazon Keyspaces Entity
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-keyspaces-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#14772 Update sendmail-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/sendmail-monitoring-integration.mdx
Labels: content, from_internal

#14807 Update opentelemetry-best-practices-resources.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
Labels: content, from_internal

#14809 Add restrictions for percentiles to HistEx docs
  src/content/docs/apis/nerdgraph/examples/nerdgraph-historical-data-export.mdx
Labels: content, from_internal

#14812 Update opentelemetry-tutorial-java.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-java.mdx
Labels: content, from_internal

#14814 Add video to whats new
  src/content/whats-new/2023/10/whats-new-10-02-incident.md
Labels: content, from_tw

#14816 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#14819 chore(infrastructure): Remove uninstall instructions for CLI fleet deployment
  src/content/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/uninstall-infrastructure-agent.mdx
Labels: content, from_internal

#14822 Update report-metrics-metric-api.mdx
  src/content/docs/data-apis/ingest-apis/metric-api/report-metrics-metric-api.mdx
Labels: content, from_internal

#14533 Remove unused deps & 1 unused import
  gatsby-config.js
  package.json
  plugins/gatsby-plugin-whats-new-rss/gatsby-node.js
  yarn.lock
Labels: eng

#14771 [Product Partnerships] Added Amazon Transfer Entity
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-transfer-family-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#14827 capacitor agent release 1.3.1 and 1.3.2
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-131.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-132.mdx
Labels: content, from_internal

#14818 Update new-relic-personal-data-requests.mdx
  src/content/docs/security/security-privacy/data-privacy/new-relic-personal-data-requests.mdx
Labels: content, from_internal

#14804 feat(apm): added explanation to clarify note in APM UI
  src/content/docs/apm/agents/manage-apm-agents/app-naming/name-your-application.mdx
Labels: content, from_tw

#14805 feat(apm): clarified action for containerized environment with example
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/configure-infrastructure-agent.mdx
Labels: content, from_tw

#14821 fix(kafka): clarifying docs
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
Labels: content, from_internal

#14838 Change phrasing of the browser proxy doc
  src/content/docs/browser/new-relic-browser/configuration/proxy-agent-requests.mdx
Labels: content, from_tw

#14851 style(api keys): Un-collapser core content
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_tw

#14854 Update new-relic-personal-data-requests.mdx
  src/content/docs/security/security-privacy/data-privacy/new-relic-personal-data-requests.mdx
Labels: content, from_internal

#14850 Accounts: Clarify core users are unlimited in free edition
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Labels: content, from_tw

#14858 Alerts: Correct duration end
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/streaming-alerts-key-terms-concepts.mdx
Labels: content, from_tw

#14861 docs: added release notes for flutter 1.0.4
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-103.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-104.mdx
Labels: content, from_internal

#14862 fix: Fix Arguments to Python error_group_callback
  src/content/docs/apm/agents/python-agent/python-agent-api/seterrrorgroupcallback-python-agent-api.mdx
Labels: content, from_internal

#14865 UPDATE: apache-monitoring-integration.mdx to add clarity
  src/content/docs/infrastructure/host-integrations/host-integrations-list/apache-monitoring-integration.mdx
Labels: content, from_external

#14845 Set max width of left-justified images
  src/content/docs/change-tracking/change-tracking-view-analyze.mdx
Labels: content, from_tw

#14866 Update user-type.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
Labels: content, from_internal

#14652 chore(docs): add new script from latest ios release
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/cocoapods-installation.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/spm-installation.mdx
Labels: content, from_tw

#14874 fix(homepage): updated the number of quickstarts
  src/i18n/translations/en/translation.json
Labels: content, from_internal

#14876 chore(redirects): clangclangclang
  src/data/external-redirects.json
Labels: from_internal

#14859 Removing FedRAMP restriction from VM Get Started Page
  src/content/docs/vulnerability-management/overview.mdx
Labels: content, from_internal

#14881 fix(tutorials): Typo and formatting issue
  src/content/docs/tutorial-reporting-data/capture-web-telemetry.mdx
Labels: content, from_tw

#14882 add back release note landing pages
  gatsby-node.js
Labels: eng

#14888 fix: Node agent compatibility typo
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#14887 chore: add release notes for synthetics job manager release-299
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-299.mdx
Labels: content, from_internal

#14892 chore: update env var options for meraki
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-management.mdx
Labels: content, from_internal

#14894 style(tutorial): Number formatting
  src/content/docs/tutorial-create-alerts/create-an-alert.mdx
Labels: content, from_tw

#14875 chore(admin): Change jira shortcut link
  src/data/external-redirects.json
Labels: from_tw

#14886 Fix left nav tutorials
  src/content/docs/browser/new-relic-browser/browser-pro-features/upload-source-maps-api.mdx
  src/content/docs/tutorial-improve-app-performance/create-benchmarks.mdx
  src/content/docs/tutorial-improve-app-performance/external-services.mdx
  src/content/docs/tutorial-improve-app-performance/problematic-transactions.mdx
  src/content/docs/tutorial-improve-app-performance/root-causes.mdx
  src/content/docs/tutorial-improve-app-performance/slow-database-queries.mdx
  src/content/docs/tutorial-improve-site-performance/fixing-high-latency.mdx
  src/content/docs/tutorial-improve-site-performance/guide-to-monitoring-core-web-vitals.mdx
  src/content/docs/tutorial-improve-site-performance/improve-website-performance.mdx
  src/content/docs/tutorial-improve-site-performance/performance-benchmarks.mdx
  src/content/docs/tutorial-improve-site-performance/reduce-javascript-errors.mdx
  src/i18n/content/jp/docs/tutorial-improve-app-performance/create-benchmarks.mdx
  src/i18n/content/jp/docs/tutorial-improve-app-performance/external-services.mdx
  src/i18n/content/jp/docs/tutorial-improve-app-performance/problematic-transactions.mdx
  src/i18n/content/jp/docs/tutorial-improve-app-performance/root-causes.mdx
  src/i18n/content/jp/docs/tutorial-improve-app-performance/slow-database-queries.mdx
  src/i18n/content/kr/docs/tutorial-improve-app-performance/create-benchmarks.mdx
  src/i18n/content/kr/docs/tutorial-improve-app-performance/external-services.mdx
  src/i18n/content/kr/docs/tutorial-improve-app-performance/problematic-transactions.mdx
  src/i18n/content/kr/docs/tutorial-improve-app-performance/root-causes.mdx
  src/i18n/content/kr/docs/tutorial-improve-app-performance/slow-database-queries.mdx
  src/nav/tutorial-app-performance.yml
  src/nav/tutorial-app-slow.yml
  src/nav/tutorial-customer-experience.yml
  src/nav/tutorial-external-services.yml
  src/nav/tutorial-improve-app-performance.yml
  src/nav/tutorial-improve-customer-experience.yml
  src/nav/tutorial-improve-site-performance.yml
  src/nav/tutorial-large-logs.yml
  src/nav/tutorial-manage-large-log-volume.yml
  src/nav/tutorial-troubleshoot-external-services-apis.yml
  src/nav/tutorials.yml
Labels: content, from_internal

#14739 Update prometheus install docs
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-prometheus.mdx
Labels: content, from_tw

#14826 Update authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content, from_internal

#14808 feat: Update browser api docs for npm
  src/content/docs/browser/new-relic-browser/browser-apis/actiontext.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/addrelease.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/addtotrace.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/createtracer.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/end.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/finished.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/getcontext.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/ignore.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/interaction.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/noticeerror.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/onend.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/save.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setApplicationVersion.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setattribute.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setcurrentroutename.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setcustomattribute.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/seterrorhandler.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setname.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setpageviewname.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setuserid.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/start.mdx
Labels: content, from_internal

#14908 feat: Add support for boolean values in setCustomAttribute api
  src/content/docs/browser/new-relic-browser/browser-apis/setcustomattribute.mdx
Labels: content, from_internal

#14898 consolidate frontmatter dependencies, improve errors
  package.json
  scripts/actions/__tests__/add-files-to-translation-queue.test.js
  scripts/actions/add-files-to-translation-queue.js
  scripts/releaseNotes.mjs
  scripts/transformDataDictionary.mjs
  scripts/utils/__tests__/frontmatter.js
  scripts/utils/frontmatter.js
  scripts/validate-install/schema.js
  scripts/verify_mdx.js
  yarn.lock
Labels: eng

#14910 Browser Agent v1.245.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.245.0.mdx
Labels: content, from_internal

#14732 fix(Alerts): Modified the overview page
  src/content/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/alert-coverage-gaps.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/basic-alerting-concepts.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/view-entity-health-status-find-entities-without-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/create-edit-or-find-alert-policy.mdx
  src/content/docs/alerts-applied-intelligence/overview.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-implementation-guide.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/alerts-best-practices.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/browser-monitoring-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
  src/content/docs/tutorial-create-alerts/create-an-alert.mdx
  src/i18n/content/jp/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/alert-coverage-gaps.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/basic-alerting-concepts.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/view-entity-health-status-find-entities-without-alert-conditions.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-alert-conditions.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/create-edit-or-find-alert-policy.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-implementation-guide.mdx
  src/i18n/content/jp/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/alerts-best-practices.mdx
  src/i18n/content/jp/docs/new-relic-solutions/best-practices-guides/full-stack-observability/browser-monitoring-best-practices-guide.mdx
  src/i18n/content/jp/docs/new-relic-solutions/get-started/glossary.mdx
  src/i18n/content/jp/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
  src/i18n/content/jp/docs/tutorial-create-alerts/create-an-alert.mdx
  src/i18n/content/kr/docs/accounts/original-accounts-billing/original-users-roles/users-roles-original-user-model.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/alert-coverage-gaps.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/basic-alerting-concepts.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/understand-technical-concepts/view-entity-health-status-find-entities-without-alert-conditions.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-alert-conditions.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/create-edit-or-find-alert-policy.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-implementation-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/alerts-best-practices.mdx
  src/i18n/content/kr/docs/new-relic-solutions/best-practices-guides/full-stack-observability/browser-monitoring-best-practices-guide.mdx
  src/i18n/content/kr/docs/new-relic-solutions/get-started/glossary.mdx
  src/i18n/content/kr/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
  src/i18n/content/kr/docs/tutorial-create-alerts/create-an-alert.mdx
  src/images/alerts_screenshot-crop_create-alert-policy.webp
  src/images/alerts_screenshot-crop_create-new-workflow.webp
  src/images/alerts_screenshot-crop_example-set-thresholds.webp
  src/images/alerts_screenshot-crop_name-your-alert-condition.webp
  src/images/alerts_screenshot-full_alerts-and-ai-overview-page.webp
  src/images/alerts_screenshot-full_new-alert-condition-button.webp
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_tw

#14919 feat(diagcli): Diagnostics CLI Release 3.2.3
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-321.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-323.mdx
Labels: content, from_internal

#14853 Create PR template for Engineering reviews
  .github/PULL_REQUEST_TEMPLATE/eng_pr_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: eng

#14920 chore: add minimal config example
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal

#14917 feat: update AJAX docs to describe new GQL properties
  src/content/docs/browser/browser-monitoring/browser-pro-features/ajax-page-identify-time-consuming-calls.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/troubleshoot-graphql-collection.mdx
  src/data/attribute-dictionary.json
  src/nav/browser.yml
Labels: content, from_internal

#14921 feat: release 3.27.0 go agent:
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-27-0.mdx
Labels: content, from_internal

#14669 simplify kubecost instructions
  src/content/docs/kubernetes-pixie/kubecost/get-started-kubecost.mdx
Labels: content, from_external

#14924 ping-runtime-1.33.0 Release notes
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.33.0.mdx
Labels: content, from_internal

#14824 feat(Sonic): NRQL revamp
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-tutorial.mdx
  src/content/docs/tutorial-optimize-telemetry/data-optimize-techniques.mdx
  src/nav/dashboards.yml
Labels: content, from_tw

#14922 fix(docs): add old components doc link as redirect, replace other references w/ more relevant doc link
  src/content/docs/apis/nerdgraph/examples/manage-live-chart-urls-via-api.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/transactions-page-find-specific-performance-problems.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/content/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/manage-live-chart-urls-via-api.mdx
  src/i18n/content/kr/docs/apis/nerdgraph/examples/manage-live-chart-urls-via-api.mdx
Labels: content, from_tw

#14934 chore: add language identifiers to codeblocks
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-apm-applications-kubernetes.mdx
Labels: content, from_internal

#14933 Update get-started-kubecost.mdx
  src/content/docs/kubernetes-pixie/kubecost/get-started-kubecost.mdx
Labels: content, from_internal

#14943 Update name-your-net-application.mdx
  src/content/docs/apm/agents/net-agent/configuration/name-your-net-application.mdx
Labels: content, from_internal

#14929 Whats new 10/23 apm databases
  src/content/whats-new/2023/10/images/aws_databases.png
  src/content/whats-new/2023/10/whats-new-10-21-apm-databases.md
Labels: content, from_internal

#14945 chore: add Node.js Agent v11.3.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-3-0.mdx
Labels: content, from_internal

#14946 Update compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#14947 Update how-new-relic-distributed-tracing-works.mdx - added Trace Limi…
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
Labels: content, from_internal

#14950 [fix] Update setup-prometheus-agent.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/setup-prometheus-agent.mdx
Labels: content, from_internal

#14911 feat: confluent cloud update
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-kafka-confluentcloud.mdx
Labels: content, from_internal

#14828 Create edit doc updates
  src/content/docs/style-guide/writing-docs/processes-procedures/create-edit-content.mdx
  src/content/docs/style-guide/writing-strategies/contribute-to-site.mdx
  src/images/style-guide_screenshot-crop_edit-button.webp
  src/images/style-guide_screenshot-crop_edit-clone-fork.webp
  src/images/style-guide_screenshot-crop_edit-commit-changes.webp
  src/images/style-guide_screenshot-crop_edit-commit-message.webp
  src/images/style-guide_screenshot-crop_edit-doc.webp
  src/images/style-guide_screenshot-crop_edit-files-changed.webp
  src/images/style-guide_screenshot-crop_edit-fork-modal.webp
  src/images/style-guide_screenshot-crop_edit-fork-repo.webp
  src/images/style-guide_screenshot-crop_edit-ghd-base-compare.webp
  src/images/style-guide_screenshot-crop_edit-ghd-new-branch.webp
  src/images/style-guide_screenshot-crop_edit-manage-project-status.webp
  src/images/style-guide_screenshot-crop_edit-manage-project-status2.webp
  src/images/style-guide_screenshot-crop_edit-pr-page.webp
  src/nav/style-guide.yml
Labels: content, from_tw

#14925 [NR-149337] Add MobileUserAction event type
  src/content/docs/data-apis/understand-data/event-data/events-reported-mobile-monitoring.mdx
Labels: content, from_internal

#14963 fix: groupID to groupId
  src/content/docs/change-tracking/change-tracking-graphql.mdx
Labels: content, from_internal

#14961 docs: Add in release notes for iOS mobile app 5.7.1
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-5071.mdx
Labels: content, from_internal

#14958 Browser Agent v1.246.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.246.0.mdx
Labels: content, from_internal

#14959 chore: format output lines in bash codeblock
  src/content/docs/browser/new-relic-browser/browser-pro-features/upload-source-maps-api.mdx
Labels: content, from_internal

#14869 NR-160945: Update snippet for Magento Business Insights
  src/content/docs/apm/agents/php-agent/other-integrations/magento-business-insights.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/other-integrations/magento-business-insights.mdx
  src/i18n/content/kr/docs/apm/agents/php-agent/other-integrations/magento-business-insights.mdx
Labels: content, from_internal

#14965 chore: format the terminal errors as output instead of input
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/enable-source-maps.mdx
Labels: content, from_internal

#14964 chore: update code examples
  src/content/docs/logs/forward-logs/vector-output-sink-log-forwarding.mdx
Labels: content, from_internal

#14951 Update the python opentelemetry example to use current environment variable values
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-python.mdx
Labels: content, from_external

#14953 feat: add obfuscation documentation
  src/content/docs/browser/new-relic-browser/configuration/browser-app-settings-page.mdx
  src/content/docs/browser/new-relic-browser/configuration/obfuscate-browser-agent-data.mdx
  src/nav/browser.yml
Labels: content, from_internal

#14976 docs: release notes for infra agent 1.48.0
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1480.mdx
Labels: content, from_internal

#14973 fix: update browser-tab.mdx - fixed typo in word "error"
  src/content/docs/errors-inbox/browser-tab.mdx
Labels: content, from_external

#14978 feat: Update api summary page to include new info and links to relevant pages
  src/content/docs/browser/new-relic-browser/browser-apis/using-browser-apis.mdx
Labels: content, from_internal

#14977 fix: varnish configuration description typo
  src/content/docs/infrastructure/host-integrations/host-integrations-list/varnish-cache-monitoring-integration.mdx
Labels: content, from_internal

#14980 fix: inp shows as seconds in NR1 not ms
  src/data/attribute-dictionary.json
Labels: content, from_internal

#14979 Update install-net-agent-azure-web-apps.mdx
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
Labels: content, from_internal

#14990 chore: add Node.js Agent v11.4.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-4-0.mdx
Labels: content, from_internal

#14986 chore: netmon docs updates
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/meraki-controller-no-data.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-no-devices.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-polling-missing-metrics.mdx
Labels: content, from_internal

#14722 chore(k8s): create skeleton nav for future work
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-version2-kubernetes-integration-windows.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-with-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/reduce-ingest.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/uninstall-kubernetes.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-go.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/installation/install-version2-kubernetes-integration-windows.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/installation/install-with-operator.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/uninstall-kubernetes.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/installation/install-version2-kubernetes-integration-windows.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/installation/install-with-operator.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/uninstall-kubernetes.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_tw

#14984 Javaagent release 8.7.0 [DO NOT MERGE UNTIL 10/26]
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/java-agent/troubleshooting/classloading-issues-from-jboss-and-wildfly.mdx
  src/content/docs/apm/agents/java-agent/troubleshooting/incomplete-telemetry-from-boss-and-wildfly.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-870.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/troubleshooting/incomplete-telemetry-from-boss-and-wildfly.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/troubleshooting/incomplete-telemetry-from-boss-and-wildfly.mdx
  src/nav/apm.yml
Labels: content, from_internal

#14995 Remove not supported fluent-bit config options
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
Labels: content, from_internal

#14955 (Hero) Update global-technical-support-offerings.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_internal

#15005 Update_log_drop_rules_docs
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/images/logs_screenshot-full_drop-filter-selection-2.webp
  src/images/logs_screenshot-full_drop-filter-view2.webp
Labels: content, from_internal

#15011 .NET agent: update verified compatible versions of core tech libraries
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#15009 Clark/docs by last date edited
  package.json
  scripts/README.md
  scripts/docsAndLastDateEdited.mjs
  yarn.lock
Labels: eng

#15021 Update OTLP support
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
Labels: content, from_internal

#15025 chore: add Node.js Agent v11.5.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-5-0.mdx
Labels: content, from_internal

#15022 Update what APIs support what metric types
  src/content/docs/data-apis/understand-data/metric-data/metric-data-type.mdx
Labels: content, from_internal

#15023 Update data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
Labels: content, from_internal

#15013 NVIDIA-DCGM integration docs
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nvidia-dcgm-integration.mdx
  src/images/infrastructure_screenshot-full_nvidia-dcgm-dashboard.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#15014 fix: infra-agent settings in beanstalk docs
  src/content/docs/infrastructure/install-infrastructure-agent/config-management-tools/configure-infrastructure-agent-aws-elastic-beanstalk.mdx
Labels: content, from_internal

#15027 feat/snmp calculations
  src/content/docs/network-performance-monitoring/troubleshooting/change-ktranslate-versions.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/chtimes-error.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/different-entity-same-ip.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/ktranslate-cpu-usage.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/meraki-controller-no-data.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/no-device-in-UI.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-data-gaps.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-kentik-default.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-no-devices.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-discovery-unexpected-profile.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/snmp-walk.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/understanding-snmp-utilization-calculations.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#15036 Update search-filter-entities.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/search-filter-entities.mdx
Labels: content, from_internal

#15040 Aardvark branch akri
  src/content/docs/apm/agents/java-agent/installation/update-java-agent.mdx
  src/content/docs/logs/logs-context/java-configure-logs-context-all.mdx
Labels: content, from_tw

#15041 Update usage-dictionary.mdx
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#15039 chore(docs): address customer feedback by linking to a troubleshooting doc
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_tw

#15043 Update java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#14072 Add FreshService Notification Integration steps
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal
