Repository newrelic/docs-website, pull requests merged in 2023-05, with the labels that each got.

#12799 May 1: Update login-options.mdx
  src/content/docs/accounts/accounts-billing/account-setup/login-options.mdx
Labels: content, from_internal

#12252 ~May 1: Add google auth limitation for domain capture
  src/content/docs/accounts/accounts-billing/account-setup/domain-capture.mdx
Labels: content, from_tw

#12821 Add 2k default span limit and links
  src/content/docs/data-apis/manage-data/view-system-limits.mdx
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
  src/content/docs/distributed-tracing/ui-data/understand-use-distributed-tracing-ui.mdx
Labels: content, from_tw

#12843 PUBLICATION: MAY 1; Add ruby agent 9.2.1 to agent eol page for upcoming release
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-eol-policy.mdx
Labels: content, from_internal

#12761 Tabatha/gh actions deprecations
  .github/workflows/add-slugs-to-translate-queue.yml
  .github/workflows/check-translations-and-deserialize.yml
  .github/workflows/manual-add-files-to-translation-queue.yml
  .github/workflows/release.yml
  .github/workflows/send-content-to-machine-translate.yml
  .github/workflows/send-content-to-translate.yml
  .github/workflows/update-whats-new-ids.yml
  .github/workflows/vale-lint.yml
  .github/workflows/validate-datasource.yml
  .github/workflows/validate-pr.yml
  scripts/actions/check-job-progress.js
  scripts/actions/translation_workflow/testing/README.md
  src/content/docs/agile-handbook/appendices/backlog-review.mdx
Labels: eng

#12759 Networks doc: add missing info and reorganize
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_tw

#12854 chore: Update workflow variables state and status
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
Labels: content, from_internal

#12860 fix: Add K8sCronjobSample, K8sJobSample to Find and Use your K8s data page
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
Labels: content, from_internal

#12864 fix: typo
  src/content/docs/apm/agents/net-agent/custom-instrumentation/add-detail-transactions-xml-net.mdx
Labels: content, from_internal

#12866 fix: typos & add lang identifiers
  src/content/docs/apm/agents/python-agent/python-agent-api/acceptdistributedtraceheaders-python-agent-api.mdx
Labels: content, from_internal

#12863 May 2 morning: whats-new, google auth
  src/content/whats-new/2023/05/whats-new-05-01-google-authentication.md
Labels: content, from_internal

#12857 chore: Release notes for CPM 3.0.83
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3083.mdx
Labels: content, from_internal

#12865 chore(ruby): Add row for version 9.2.2
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-eol-policy.mdx
Labels: content, from_internal

#12872 fix: NR-112909 Add missing datetime functions and format argument
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/nrql-group-results-across-time.mdx
Labels: content, from_internal

#12873 feat(ai): replaced img
  src/images/accounts_screenshot-crop_new-issue-page.webp
Labels: content, from_tw

#12819 Adding several known changes
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/migration-to-workflows.mdx
Labels: content, from_internal

#12884 fix(network): fix endpoint typos
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_tw

#12883 fix(whats-new): remove sentence
  src/content/whats-new/2023/05/whats-new-05-01-google-authentication.md
Labels: content, from_tw

#12886 Update whats-new-05-01-google-authentication.md
  src/content/whats-new/2023/05/whats-new-05-01-google-authentication.md
Labels: content, from_internal

#12881 Update java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#12855 Update custom-variables-incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
Labels: content, from_internal

#12880 fix (node agent): mention Nest.js as another supported framework
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content

#12887 [chore] - Update get-pixie-logs to updated pixie diag repo
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/get-pixie-logs.mdx
Labels: content, from_internal

#12875 May 3 - Update compatibility-requirements-java-agent.mdx to list Java 20 support
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#12882 feat: docs for amazon kinesis mux streaming
  src/content/docs/logs/forward-logs/mux-video-streaming-firehose.mdx
  src/nav/logs.yml
Labels: content, from_internal

#12879 fix: unify UI name of Issues & activity page
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/alerts-ai-overview-page.mdx
Labels: content, from_tw

#12878 feat(style guide): Dark mode for screenshots
  src/content/docs/style-guide/images/screenshots-images.mdx
Labels: content, from_tw

#12889 Java agent 8.2.0 release (Aiming for May 3, 2024)
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/java-agent/getting-started/java-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-811.mdx
Labels: content, from_internal

#12898 Rename java-agent-811.mdx to java-agent-820.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-820.mdx
Labels: content, from_internal

#12792 Update change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/images/alerts_screenshot-crop_advanced-decision-builder-correlate-attributes.webp
  src/images/alerts_screenshot-crop_advanced-decision-builder-filter-data.webp
  src/images/alerts_screenshot-crop_advanced-decision-builder-name-decision.webp
  src/images/alerts_screenshot-crop_advanced-decision-builder-related-entities.webp
  src/images/alerts_screenshot-crop_basic-decision-builder-correlate-attributes.webp
  src/images/alerts_screenshot-crop_basic-decision-builder-filter-related-entities.webp
  src/images/alerts_screenshot-crop_basic-decision-builder-filter-values.webp
  src/images/alerts_screenshot-crop_basic-decision-builder-name-describe.webp
  src/images/alerts_screenshot-crop_basic-decision-builder-run-simulation.webp
Labels: content, from_internal

#12842 chore: format/highlight scala
  src/content/docs/apm/agents/java-agent/additional-installation/include-java-agent-jvm-argument.mdx
  src/content/docs/apm/agents/java-agent/heroku/java-agent-scala-heroku.mdx
  src/content/docs/apm/agents/java-agent/instrumentation/instrument-browser-monitoring-java-agent-api.mdx
Labels: content, from_internal

#12896 chore: fix code block, +language identifier
  src/content/docs/apm/agents/go-agent/api-guides/guide-using-go-agent-api.mdx
  src/content/docs/apm/agents/go-agent/configuration/go-agent-code-level-metrics-config.mdx
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
Labels: content, from_internal

#12136 chore(metric resets): Add section on cumulative metric resets
  src/content/docs/data-apis/understand-data/metric-data/cumulative-metrics.mdx
Labels: content, from_internal

#12900 chore(ruby): Add unicorn troubleshooting doc
  src/content/docs/apm/agents/ruby-agent/troubleshooting/incorrect-data-unicorn.mdx
  src/nav/apm.yml
Labels: content, from_internal

#12906 Java agent eol old versions
  src/content/docs/apm/agents/java-agent/getting-started/java-agent-eol-policy.mdx
Labels: content, from_internal

#12894 Fix large code snippet in "What's new" instructions
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-template.mdx
Labels: content, from_tw

#12849 Update lighttpd-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/lighttpd-integration.mdx
Labels: content, from_internal

#12911 Update Issues-and-Incident-management-and-response.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
Labels: content, from_internal

#12891 feat(browser): npm nerdgraph tutorial
  src/content/docs/apis/nerdgraph/examples/browser-monitoring-config-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/examples/combining-npm-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-vm-measurements.mdx
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/browser/browser-monitoring/tutorials/combining-npm-nerdgraph.mdx
  src/images/browser_screenshot-full_copy-entity-guid.png
  src/images/browser_screenshot-full_nerdgraph-explorer-app-config.png
  src/images/browser_screenshot-full_open-browser-metadata.png
  src/nav/browser.yml
  src/nav/telemetry-data-platform.yml
Labels: content, from_internal

#12913 Update Issues-and-Incident-management-and-response.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
Labels: content, from_internal

#12912 Updated the snowflake docs
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
Labels: content, from_internal

#12905 Remove 2k limit
  src/content/docs/data-apis/ingest-apis/event-api/introduction-event-api.mdx
Labels: content, from_internal

#12904 Android NDK agent v1.0.2 release notes(Target to release: 5/4/23)
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-ndk-102.mdx
Labels: content, from_internal

#12914 fix(decision builder); add image
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/images/alerts_screenshot-crop_basic-decision-builder-time-range.webp
Labels: content

#12915 fix(nerdgraph): add 'agent config' cat
  src/content/docs/apis/nerdgraph/examples/browser-monitoring-config-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/examples/mobile-monitoring-config-nerdgraph.mdx
  src/nav/telemetry-data-platform.yml
Labels: content

#12798 Updated System Reqs
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#12924 fix(APM): (79687) added callout to .net agent
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_tw

#12931 chore: add release notes for synthetics job manager release-246
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-246.mdx
Labels: content, from_internal

#12934 Updated the snowflake docs
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
Labels: content, from_internal

#12935 fix(NerdGraph): Removed an outdated video
  src/content/docs/apis/nerdgraph/examples/export-dashboards-pdfpng-using-api.mdx
Labels: content, from_tw

#12938 fix: change page to path so link works
  src/nav/browser.yml
Labels: content, from_internal

#12937 Updated Flutter Web monitoring docs
  src/content/docs/browser/browser-integrations/flutter-web-integration.mdx
Labels: content, from_internal

#12908 fix: Make cardinality() doc more clear and consistent
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#12942 fix(decision builder): add detail to time range
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
  src/images/alerts_screenshot-crop_basic-decision-builder-time-range.webp
Labels: content, from_tw

#12933 Use @actions/core to set github output from script
  package.json
  scripts/actions/check-job-progress.js
  yarn.lock
Labels: eng

#12944 fix(browser NG): typo & slight edits
  src/content/docs/apis/nerdgraph/examples/browser-monitoring-config-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/examples/combining-npm-nerdgraph.mdx
  src/content/docs/browser/browser-monitoring/tutorials/combining-npm-nerdgraph.mdx
Labels: content, from_tw

#12618 fix(oma): typo fix
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/diagnostics-beginner-guide.mdx
Labels: content, from_tw

#12793 Add supported datastore client versions for Elasticsearch
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#12797 clarifying how to convert a slide by NRQL to alert
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_internal

#12604 fix(infrastructure): editing nri-prometheus
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/install-update-or-uninstall-your-prometheus-openmetrics-integration.mdx
Labels: content, from_tw

#12735 feat(Sonic): Migration from Datadog UJ
  src/content/docs/journey-app-slow/create-benchmarks.mdx
  src/content/docs/journey-app-slow/external-services.mdx
  src/content/docs/journey-migration/making-the-switch.mdx
  src/content/docs/journey-migration/migrating-apm.mdx
  src/content/docs/journey-migration/migrating-dashboards.mdx
  src/content/docs/journey-migration/migrating-from-dd.mdx
  src/content/docs/journey-migration/migrating-infra.mdx
  src/content/docs/journey-migration/migrating-logs.mdx
  src/images/apm_screenshot-crop_guided-install.png
  src/images/apm_screenshot-crop_journey-dash-two.png
  src/images/apm_screenshot-crop_journey-dash.png
  src/images/apm_screenshot-crop_overview.png
  src/images/apm_screenshot-crop_precon-alerts.png
  src/images/apm_screenshot-crop_premade-alerts.png
  src/images/browser_screenshot-crop_guided-setup.png
  src/images/browser_screenshot-crop_premade-dashboards.png
  src/images/dashboards_screenshot-crop_journey-dash-and-alerts.png
  src/images/infrastructure_screenshot-crop_guided-docker.png
  src/images/infrastructure_screenshot-crop_guided-kubernetes.png
  src/images/infrastructure_screenshot-crop_guided-linux.png
  src/images/infrastructure_screenshot-crop_guided-macOS.png
  src/images/infrastructure_screenshot-crop_guided-windows.png
  src/images/infrastructure_screenshot-crop_journey-guided-azure-dash.png
  src/images/infrastructure_screenshot-crop_journey-network-dash.png
  src/images/infrastructure_screenshot-crop_migration-dashboard.png
  src/images/infrastructure_screenshot-crop_premade-dashboards.png
  src/images/journey_diagram_full-stack-monitoring.svg
  src/images/logs_screenshot-crop_guided-installs.png
  src/images/logs_screenshot-crop_journey-dash-two.png
  src/images/logs_screenshot-crop_journey-dash.png
  src/images/logs_screenshot-crop_journey-install.png
  src/images/migrate_image-crop_our-philosophy.png
  src/nav/journey-migration.yml
  src/nav/root.yml
Labels: content, from_tw

#12950 Adding the Browser method
  src/content/docs/errors-inbox/error-users-impacted.mdx
Labels: content, from_internal

#12951 [chore] Update changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/changes-since-v3.mdx
Labels: content, from_internal

#12954 Update install-net-agent-azure-web-apps.mdx
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
Labels: content, from_internal

#12955 Update debugging-agent-azure.mdx
  src/content/docs/apm/agents/net-agent/azure-installation/debugging-agent-azure.mdx
Labels: content, from_internal

#12956 docs: Update setErrorHandler api for EI fingerprinting
  src/content/docs/browser/new-relic-browser/browser-apis/seterrorhandler.mdx
Labels: content, from_internal

#12957 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#12928 Fix some links to apm methods
  src/content/docs/apm/agents/manage-apm-agents/agent-data/manage-errors-apm-collect-ignore-or-mark-expected.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Labels: content, from_internal

#12796 feat(Alert): Added recommended conditions
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/queries-nrql_screenshot-full_nrql-alert-conditions
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-vms-statistics-page.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/apm-summary-page-view-transaction-apdex-usage-data.mdx
  src/content/docs/apm/reports/performance-reports.mdx
  src/content/docs/apm/transactions/key-transactions/introduction-key-transactions.mdx
  src/content/docs/browser/browser-monitoring/getting-started/browser-summary-page.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/geography-webpage-metrics-location.mdx
  src/content/docs/browser/single-page-app-monitoring/use-spa-data/view-spa-data-browser-ui.mdx
  src/content/docs/distributed-tracing/infinite-tracing/infinite-tracing-configure-trace-observer-monitoring.mdx
  src/content/docs/distributed-tracing/infinite-tracing/set-trace-observer.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-group-filter-your-crashes.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/handled-exceptions-analyze-trends-prevent-crashes.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/mobile-apps-summary-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/carriers-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/connection-types-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/http-requests-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/usage-pages/versions-analysis.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/introduction-mobile-monitoring.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/update-new-relic-agent.mdx
  src/content/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/subqueries-in-nrql.mdx
  src/content/docs/synthetics/new-relic-synthetics/pages/synthetics-results-access-individual-monitor-runs.mdx
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-summary.mdx
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-troubleshoot-downtime.mdx
  src/content/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-understand-load-times.mdx
  src/content/whats-new/2023/04/images/AWS Verified Access.png
  src/content/whats-new/2023/04/images/AWS Verified Access.webp
  src/content/whats-new/2023/04/whats-new-04-28-aws-verified-access.md
  src/images/browser_screenshot-crop_browser-add-alert.webp
  src/images/browser_screenshot-full_browser-alert-conditions.webp
  src/images/browser_screenshot-full_browser-summary.webp
  src/images/mobile_screenshot-crop_browser-add-alert.webp
  src/images/mobile_screenshot-crop_mobile-add-alert.webp
  src/images/mobile_screenshot-crop_version-dropdown.webp
  src/images/mobile_screenshot-full_mobile-alert-conditions.webp
  src/images/mobile_screenshot-full_mobile-summary.webp
Labels: content, from_tw

#12936 Updated the Nuxt-js docs
  src/content/docs/browser/browser-integrations/nuxt-js-integration.mdx
Labels: content, from_internal

#12958 NEWRELIC-5968 Add containerd support
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/container-infrastructure-monitoring.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/linux-installation/container-infrastructure-monitoring.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/linux-installation/container-infrastructure-monitoring.mdx
Labels: content, from_internal

#12960 fix(biz obs): move image, style
  src/content/docs/new-relic-solutions/business-observability/intro-pathpoint.mdx
  src/content/docs/new-relic-solutions/business-observability/introduction-business-observability.mdx
Labels: content, from_tw

#12964 fix: add back tessen tracking to nav open/close clicks
  src/layouts/MainLayout.js
Labels: eng

#12766 (feat): Magento integration doc
  src/content/docs/apm/agents/php-agent/other-integrations/magento-business-insights.mdx
  src/images/apm_screenshot-full_magento-dashboard-overview.png
  src/nav/apm.yml
Labels: content, from_tw

#12965 Fix missing quote and add a helpful query
  src/content/docs/logs/troubleshooting/log-message-truncated.mdx
Labels: content, from_internal

#12968 chore: Adds Node.js agent v10.1.0 release notes.
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-10-1-0.mdx
Labels: content, from_internal

#12967 Update Issues-and-Incident-management-and-response.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
Labels: content, from_internal

#12973 feat(ai): added screenshot
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
  src/images/accounts_screenshot-full_issue-summary.webp
Labels: content, from_tw

#12747 fix(platform UI): fixing links to it
  src/content/docs/apm/applications-menu/events/view-alert-history.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/alerts-page-mobile-apps.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/devices-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/interactions-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/mobile-apps-summary-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/os-versions-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/carriers-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/connection-types-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/geography-page-mobile-apps.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/usage-pages/monthly-uniques-report.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/usage-pages/versions-analysis.mdx
Labels: content, from_tw

#12977 feat:update session behavior description
  src/content/docs/browser/browser-monitoring/page-load-timing-resources/cookie-collection-session-tracking.mdx
Labels: content, from_internal

#12969 chore(fix): update diagram for dark mode compatibility
  src/content/docs/apm/agents/php-agent/getting-started/introduction-new-relic-php.mdx
  src/images/apm_diagram_php-agent-diagram.png
  src/images/apm_diagram_php-agent-diagram.webp
Labels: content, from_tw

#12979 fix:update browser EOL list
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
Labels: content, from_internal

#12982 remove redirects to same page URL
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Labels: content, from_internal

#12983 migrated browser pro lab from developer site
  src/content/docs/browser/new-relic-browser/lab/debug-errors.mdx
  src/content/docs/browser/new-relic-browser/lab/debug-slowness.mdx
  src/content/docs/browser/new-relic-browser/lab/install-browser-agent.mdx
  src/content/docs/browser/new-relic-browser/lab/over-view.mdx
  src/content/docs/browser/new-relic-browser/lab/set-up-env.mdx
  src/images/browser-lab-screenshot-LCP.webp
  src/images/browser-lab-screenshot-add-data.webp
  src/images/browser-lab-screenshot-adjust-timeline.webp
  src/images/browser-lab-screenshot-backend.webp
  src/images/browser-lab-screenshot-browser-code-snippet.webp
  src/images/browser-lab-screenshot-cart-error-details.webp
  src/images/browser-lab-screenshot-cart-error.webp
  src/images/browser-lab-screenshot-checkout.webp
  src/images/browser-lab-screenshot-choose-restaurant.webp
  src/images/browser-lab-screenshot-enable-browser.webp
  src/images/browser-lab-screenshot-error-instances.webp
  src/images/browser-lab-screenshot-expand-stack-trace.webp
  src/images/browser-lab-screenshot-find-file.webp
  src/images/browser-lab-screenshot-frontend-vs-backend.webp
  src/images/browser-lab-screenshot-frontend.webp
  src/images/browser-lab-screenshot-homepage.webp
  src/images/browser-lab-screenshot-image-trace-detail.webp
  src/images/browser-lab-screenshot-image-trace.webp
  src/images/browser-lab-screenshot-initial-page-load.webp
  src/images/browser-lab-screenshot-js-errors.webp
  src/images/browser-lab-screenshot-most-time-consuming-page-detail.webp
  src/images/browser-lab-screenshot-most-time-consuming-page.webp
  src/images/browser-lab-screenshot-navigate-to-js-errors.webp
  src/images/browser-lab-screenshot-navigate-to-trace-detail.webp
  src/images/browser-lab-screenshot-newrelic-browser.webp
  src/images/browser-lab-screenshot-no-errors.webp
  src/images/browser-lab-screenshot-page-load-detail.webp
  src/images/browser-lab-screenshot-page-load-graph.webp
  src/images/browser-lab-screenshot-page-rendering.webp
  src/images/browser-lab-screenshot-page-views.webp
  src/images/browser-lab-screenshot-page-with-js-errors.webp
  src/images/browser-lab-screenshot-place-order.webp
  src/images/browser-lab-screenshot-relicstaurants-browser-app.webp
  src/images/browser-lab-screenshot-relicstaurants-browser-errors.webp
  src/images/browser-lab-screenshot-restaurant-list.webp
  src/images/browser-lab-screenshot-select-deployment-method.webp
  src/images/browser-lab-screenshot-select-food.webp
  src/images/browser-lab-screenshot-session-traces.webp
  src/images/browser-lab-screenshot-sort-pages.webp
  src/images/browser-lab-screenshot-sorted-session-traces.webp
  src/images/browser-lab-screenshot-stack-trace.webp
  src/images/browser-lab-screenshot-thank-you.webp
  src/images/browser-lab-screenshot-trace-time-window-detail.webp
  src/images/browser-lab-screenshot-trace.webp
  src/images/browser-lab-screenshot-tweet.webp
  src/images/browser-lab-screenshot-un-minified.webp
  src/images/browser-lab-screenshot-view-relicstaurants.webp
  src/nav/browser.yml
Labels: content, from_internal

#12989 Improve nginx docs for logs use case
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
Labels: content, from_internal

#12991 Update generate-logs-troubleshooting-net.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/generate-logs-troubleshooting-net.mdx
Labels: content, from_internal

#12992 Update change-applied-intelligence-correlation-logic-decisions.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
Labels: content, from_internal

#12995 added release notes for infra-agent 1.41.0
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1410.mdx
Labels: content, from_internal

#12986 feat: Adds Security to list of data ingest sources
  src/content/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
Labels: content, from_internal

#12996 Update syntax for AWS secret manager settings
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal

#12997 fix(custom instr): fixing links
  src/content/docs/apm/agents/java-agent/custom-instrumentation/java-custom-instrumentation.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/transactions-page-find-specific-performance-problems.mdx
  src/content/docs/apm/new-relic-apm/maintenance/disable-apm-agent.mdx
  src/content/docs/apm/transactions/intro-transactions/transactions-new-relic-apm.mdx
  src/content/docs/apm/transactions/transaction-traces/configure-transaction-traces.mdx
  src/content/docs/apm/transactions/transaction-traces/troubleshooting-not-seeing-transaction-traces.mdx
  src/content/docs/distributed-tracing/troubleshooting/missing-trace-data.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/troubleshooting-missing-entities-service-maps.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/create-application-baselines.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/service-characterization-optimize-telemetry-data-guide.mdx
Labels: content, from_tw

#13008 feat(ai): updated example
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/customize-your-webhook-payload.mdx
Labels: content, from_tw

#13009 infra-agent release notes 1.41.0 patch
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1410.mdx
Labels: content, from_internal

#13011 chore: Typo in dev-workflow.mdx
  src/content/docs/vulnerability-management/dev-workflow.mdx
Labels: content, from_internal

#13021 Update networks.mdx
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_tw

#13026 feat(ai): fixed screenshots
  src/images/accounts_screenshot-full_issue-feed.webp
  src/images/accounts_screenshot-full_issue-summary.webp
Labels: content, from_tw

#13029 Updating supported Amazon Linux versions
  src/content/docs/infrastructure/install-infrastructure-agent/config-management-tools/configure-infrastructure-agent-aws-elastic-beanstalk.mdx
Labels: content, from_internal

#13030 Update lighttpd-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/lighttpd-integration.mdx
Labels: content, from_internal

#13015 FedRamp feature flag
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/android-agent-configuration-feature-flags.mdx
Labels: content, from_internal

#13016 fix(decision builder): add video
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/change-applied-intelligence-correlation-logic-decisions.mdx
Labels: content, from_tw

#13032 Update use-workloads.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/use-workloads.mdx
Labels: content, from_internal

#13037 chore(azure): added syntax highlighting
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
Labels: content, from_tw

#13038 Vkasanneni/updating synthetics release notes
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-257.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.0.2.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.19.0.mdx
Labels: content, from_internal

#13040 docs: updated readme to include more libraries we support
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/apollo-server-plugin-nodejs.mdx
Labels: content, from_internal

#13045 Revert "Vkasanneni/updating synthetics release notes"
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-257.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.0.2.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.19.0.mdx
Labels: content, from_tw

#13041 fix: updated screenshots
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-python.mdx
  src/images/opentelemetry_screenshot-crop_find-trace-group.png
  src/images/opentelemetry_screenshot-crop_python-attributes-tab.png
  src/images/opentelemetry_screenshot-crop_python-distributed-tracing-error.png
  src/images/opentelemetry_screenshot-crop_python-exception-on-span-event.png
  src/images/opentelemetry_screenshot-crop_python-in-process-spans.png
  src/images/opentelemetry_screenshot-crop_python-intro.png
  src/images/opentelemetry_screenshot-crop_python-metrics-explorer-dimensions.png
  src/images/opentelemetry_screenshot-crop_python-metrics-explorer-main.png
  src/images/opentelemetry_screenshot-full_python-log-captured-in-trace-span.png
  src/images/opentelemetry_screenshot-full_python-log-details-with-trace.png
  src/images/opentelemetry_screenshot-full_python-logs-in-terminal.png
  src/images/opentelemetry_screenshot-full_python-main-logs-page.png
  src/images/opentelemetry_screenshot-full_python-trace-related-to-log.png
  src/images/opentelemetry_screenshot-full_python-trace-waterfall-from-log.png
Labels: content, from_internal

#13049 Update error-users-impacted.mdx
  src/content/docs/errors-inbox/error-users-impacted.mdx
Labels: content, from_internal

#13053 chore(ai): removed screenshot
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
Labels: content, from_tw

#13051 Update Issues-and-Incident-management-and-response.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-intelligence/Issues-and-Incident-management-and-response.mdx
  src/images/accounts_screenshot-crop_issue-feed-filter-icon.webp
  src/images/accounts_screenshot-full_issue-feed-20222.webp
Labels: content, from_internal

#13054 infra-agent new setting: async_inventory_handler_enabled
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#13058 chore: add Node.js Agent v10.1.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-10-1-1.mdx
Labels: content, from_internal

#13059 feat(ChromeUpgrade): Upgrade Chrome version used in Synthetics
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/import-nodejs-modules.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
  src/data-dictionary/events/SyntheticCheck/browserVersion.md
Labels: content, from_internal

#13046 Update http-errors-network-failure-analysis.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/http-errors-network-failure-analysis.mdx
Labels: content, from_internal

#13057 Update change-tracking-github-actions.mdx
  src/content/docs/change-tracking/ci-cd/change-tracking-github-actions.mdx
Labels: content, from_internal

#13065 feat(infra): updated imgs & path
  src/content/docs/infrastructure/infrastructure-ui-pages/hosts-new-view.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-hosts-page.mdx
  src/images/infrastructure_icon_export-csv.webp
  src/images/infrastructure_screenshot-full_host-new-containers.webp
  src/images/infrastructure_screenshot-full_host-new-network.webp
  src/images/infrastructure_screenshot-full_host-new-processes.webp
  src/images/infrastructure_screenshot-full_host-new-storage.webp
  src/images/infrastructure_screenshot-full_host-new-system.webp
  src/images/infrastructure_screenshot-full_hosts-new-summary.webp
Labels: content, from_tw

#13067 Update jmx-monitoring-activemq.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-activemq.mdx
Labels: content, from_internal

#13062 EKS Fargate: Add logging options
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/install-fargate-integration.mdx
Labels: content, from_tw

#13071 Android agent v6.11.1 release notes and EOL(target release 5/16/23)
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-6111.mdx
Labels: content, from_internal

#13076 fix(Metrics): Fix broken link
  src/content/whats-new/2023/03/whats-new-03-14-cumulative-metrics.md
Labels: content, from_internal

#13070 SCIM is required after SCIM setup
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
Labels: content, from_tw

#12927 feat(NRQL): Add Subquery JOINs to NRQL Syntax doc
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/subquery-joins.mdx
  src/images/nrql-join-tutorial-aggregates-joined.webp
  src/images/nrql-join-tutorial-aggregates-sidebyside.webp
  src/images/nrql-join-tutorial-calculations-joined.webp
  src/images/nrql-join-tutorial-calculations-sidebyside.webp
  src/images/nrql-join-tutorial-rows-joined.webp
  src/images/nrql-join-tutorial-rows-sidebyside.webp
  src/images/nrql_screenshot-crop_example-columnar-inner-join.webp
  src/images/nrql_screenshot-crop_example-faceted-inner-join.webp
  src/images/nrql_screenshot-crop_example-faceted-left-join.webp
  src/images/nrql_screenshot-crop_example-joined-median.webp
  src/images/nrql_screenshot-crop_example-joined-percentile.webp
  src/nav/dashboards.yml
Labels: content, from_internal

#13078 (Fix) k8s windows version 2 integration document
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-version2-kubernetes-integration-windows.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/installation/install-version2-kubernetes-integration-windows.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/installation/install-version2-kubernetes-integration-windows.mdx
Labels: content, from_internal

#13075 chore: sec lake updates
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-security-lake-monitoring-integration.mdx
Labels: content, from_internal

#13077 fix(infra ui): edits to screenshots
  src/content/docs/infrastructure/infrastructure-ui-pages/hosts-new-view.mdx
  src/images/dataism.webp
  src/images/infrastructure_screenshot-full_host-new-containers.webp
  src/images/infrastructure_screenshot-full_host-new-network.webp
  src/images/infrastructure_screenshot-full_host-new-processes.webp
  src/images/infrastructure_screenshot-full_host-new-storage.webp
  src/images/infrastructure_screenshot-full_host-new-system.webp
  src/images/infrastructure_screenshot-full_hosts-new-summary.webp
Labels: content, from_tw

#13082 feat(data dictionary): Add new K8sPodSample, K8sContainerSample attri…
  src/data-dictionary/events/K8sContainerSample/daemonsetName.md
  src/data-dictionary/events/K8sContainerSample/jobName.md
  src/data-dictionary/events/K8sContainerSample/replicasetName.md
  src/data-dictionary/events/K8sContainerSample/statefulsetName.md
  src/data-dictionary/events/K8sPodSample/daemonsetName.md
  src/data-dictionary/events/K8sPodSample/jobName.md
  src/data-dictionary/events/K8sPodSample/replicasetName.md
  src/data-dictionary/events/K8sPodSample/statefulsetName.md
Labels: content, from_internal

#13081 fix: use image aliased syntax
  src/components/QuickstartChooser.js
Labels: eng

#12794 Update EOL doc for 10.10.0 release
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-eol-policy.mdx
Labels: content, from_internal

#13064 feat: add documentation for new Azure entities (cohort 3) supported by Azure Monitor
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-app-service-environment-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-application-insights-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-automation-account-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-cdn-profile-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-cloud-services-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-cognitive-search-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-data-box-edge-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-data-explorer-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-data-lake-analytic-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-data-lake-storage-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-data-share-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-device-provisioning-service-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-hdinsight-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-integration-service-environment-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-iot-hub-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-peering-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-peering-service-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-purview-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-stream-analytics-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-synapse-analytics-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-time-series-insights-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#13085 chore(sonic): Fix typo
  src/content/docs/journey-migration/migrating-infra.mdx
Labels: content, from_tw

#13043 fix(infra): known limitations
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/query-infrastructure-dimensional-metrics-nrql.mdx
Labels: content, from_tw

#13088 fix: remove out of context sign-up note
  src/content/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/update-infrastructure-agent.mdx
Labels: content, from_internal

#13080 [fix] Corrected the location for changing the alias of an app
  src/content/docs/browser/new-relic-browser/configuration/rename-browser-apps.mdx
Labels: content, from_internal

#12601 fix(workflows): adjusting capabilities
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_tw

#13095 Update elixir-open-source-agent.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/elixir/elixir-open-source-agent.mdx
Labels: content, from_internal

#13096 Browser Agent v1.232.1 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.232.1.mdx
Labels: content, from_internal

#13099 Update browser-agent-eol-policy.mdx
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
Labels: content, from_internal

#13102 Update SLA language for SNMP profiles
  src/content/docs/network-performance-monitoring/advanced/snmp-profiles.mdx
Labels: content, from_internal

#13104 Hybrid mobile agent releases may 17 2023
  src/content/docs/mobile-monitoring/new-relic-mobile-cordova-phonegap/get-started-with-cordova-monitoring.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-plugin-120.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-plugin-620.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-100.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-120.mdx
Labels: content, from_internal

#13103 chore: update Node.js APM EOL page
  src/content/docs/apm/agents/nodejs-agent/getting-started/nodejs-agent-eol-policy.mdx
Labels: content, from_internal

#13105 fix: address typo in migrating-apm.mdx
  src/content/docs/journey-migration/migrating-apm.mdx
Labels: content

#13106 What's new connected infra and apm post | Release 5/18 morning
  src/content/whats-new/2023/05/images/infra-ui.webp
  src/content/whats-new/2023/05/whats-new-05-18-connected-infra-and-apm
Labels: content, from_internal

#13109 13106 release
  src/content/whats-new/2023/05/images/infra-ui.webp
  src/content/whats-new/2023/05/whats-new-05-18-connected-infra-and-apm
Labels: content, from_tw

#13108 fix: correcting typo in filename for Azure integration doc
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-iot-central-application-monitoring-integration.mdx
  src/i18n/content/jp/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-iot-central-application-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-iot-central-application-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#13110 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#13111 fix(Whats-new): Fixed title
  src/content/whats-new/2023/05/whats-new-05-18-connected-infra-and-apm.md
Labels: content, from_tw

#13115 New use-ansi config parameter for infra-agent and Fluent Bit
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#13122 Adds in iOS mobile app release notes
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-5010.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-5011.mdx
Labels: content, from_internal

#13123 Update net-configure-logs-context-all.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal

#13098 `excerpt` -> `body` on releaseNoteLandingPage
  src/templates/releaseNote.js
  src/templates/releaseNoteLandingPage.js
Labels: eng

#13120 fix(usage): update image
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/billing-ui.mdx
  src/images/accounts_screenshot-full_usage-ui.png
  src/images/accounts_screenshot-full_usage-ui.webp
Labels: content, from_tw
