Repository newrelic/docs-website, pull requests merged in 2023-02, with the labels that each got.

#11321 Daily release/jan 31 2023 4 33
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1223.mdx
Labels: content

#11323 .NET Agent: Add 2.19.0 to list of verified compatible MongoDB.Driver versions
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#11328 chore(OT): fixed broken link
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
Labels: content, from_tw

#11315 fix(usage plan): finance/legal updates
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-usage-plan.mdx
  src/nav/licenses.yml
Labels: content, from_tw

#10926 OM section: improve intro section
  src/content/docs/new-relic-solutions/observability-maturity/introduction.mdx
Labels: content, from_tw

#11334 fix: clean up references to require("newrelic") in favor of -r
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/browser-monitoring-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-custom-instrumentation.mdx
  src/content/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-heroku.mdx
  src/content/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-microsoft-azure.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent-docker.mdx
  src/content/docs/apm/agents/nodejs-agent/troubleshooting/troubleshoot-your-nodejs-installation.mdx
Labels: content, from_internal

#11337 fix: Updates Security API docs to reflect internal API
  src/content/docs/vulnerability-management/integrations/security-data-api.mdx
  src/i18n/content/jp/docs/vulnerability-management/integrations/security-data-api.mdx
  src/i18n/content/kr/docs/vulnerability-management/integrations/security-data-api.mdx
Labels: content, from_internal

#11340 Additional Obfuscation Expressions
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
Labels: content, from_internal

#11336 fix(Azure): Fixed a misspelling
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
Labels: content, from_tw

#11338 Update the 8.0.0 release notes
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-800.mdx
Labels: content, from_internal

#11343 FIX(Go agent) Release notes for 3.20.3 metadata correction
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-20-3.mdx
Labels: content, from_internal

#11339 feat: add `LicenseKey` serializer & deserializer
  scripts/actions/__tests__/__snapshots__/serialize-mdx.test.js.snap
  scripts/actions/__tests__/deserialize-html.test.js
  scripts/actions/__tests__/serialize-mdx.test.js
  scripts/actions/utils/handlers.js
Labels: eng

#10511 feat(kubernetes): create an installation section
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/install-auto-telemetry-pixie.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-kubernetes-proxy.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/create-your-own-manifest.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-components.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-using-helm.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/install-kubernetes-integration-windows.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/upgrading-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-events-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/uninstall-kubernetes.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_tw

#11311 style(infra-alerts): syntax edits
  src/content/docs/infrastructure/infrastructure-alerts/infrastructure-alert-conditions/create-infrastructure-host-not-reporting-condition.mdx
Labels: content, from_tw

#11309 style(infra-agent-win): syntax edits
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/install-infrastructure-monitoring-agent-windows.mdx
Labels: content, from_tw

#11333 Add the ServiceLevelSnapshot event
  src/data-dictionary/events/ServiceLevelSnapshot/ServiceLevelSnapshot.event-definition.md
  src/data-dictionary/events/ServiceLevelSnapshot/entity.guid.md
  src/data-dictionary/events/ServiceLevelSnapshot/entity.name.md
  src/data-dictionary/events/ServiceLevelSnapshot/remainingErrorBudget.md
  src/data-dictionary/events/ServiceLevelSnapshot/sliCompliance.md
  src/data-dictionary/events/ServiceLevelSnapshot/timestamp.md
Labels: content, from_internal

#11350 chore: bump theme to 6.16.0
  package.json
  yarn.lock
Labels: eng

#11354 fix(azure): fixing front matter issue
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
Labels: content, from_tw

#11357 docs: correct typo in nerdgraph docs
  src/content/docs/apis/nerdgraph/examples/nerdgraph-nrql-tutorial.mdx
Labels: content, from_external

#11358 whats new: tls eol feb2 23
  src/content/whats-new/2023/02/what-new-02-01-tls-eol.md
Labels: from_internal, what's new, whats new

#11344 Update errors-inbox.mdx
  src/content/docs/apm/errors-inbox/errors-inbox-ui.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content, from_internal

#11348 feat(Dashboards): Added the <LIKE> and <RLIKE> example
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/images/dashboards_screenshot-crop_define-variable-like-filter.png
Labels: content, from_tw

#11345 Adding getting started page to errors inbox
  src/content/docs/errors-inbox/getting-started.mdx
  src/images/errors-inbox_screenshot-full_create-a-workload-step-1.png
  src/images/errors-inbox_screenshot-full_create-a-workload-step-2.png
  src/images/errors-inbox_screenshot-full_create-a-workload-step-3.png
  src/images/errors-inbox_screenshot-full_global-view.png
  src/images/errors-inbox_screenshot-full_scoped-view.png
  src/nav/errors-inbox.yml
Labels: content, from_internal

#11365 Adds support for ISO8601 timestamps in logs
  src/content/docs/logs/log-api/introduction-log-api.mdx
Labels: content, from_internal

#11366 chore(synthetics): updated module versions
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
Labels: content, from_internal

#11361 style(K8s): Fixed anchor links
  src/content/docs/kubernetes-pixie/kubernetes-integration/uninstall-kubernetes.mdx
Labels: content, from_tw

#11152 Include OTLP Events documentation
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-events.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-view-your-data.mdx
  src/images/otel-events.png
  src/nav/integrations.yml
Labels: content, from_internal

#11370 Daily release/02/03/2023/morning
  src/content/docs/apm/errors-inbox/errors-inbox-ui.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/content/docs/errors-inbox/getting-started.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/uninstall-kubernetes.mdx
  src/content/docs/logs/log-api/introduction-log-api.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-events.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-view-your-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
  src/images/dashboards_screenshot-crop_define-variable-like-filter.png
  src/images/errors-inbox_screenshot-full_create-a-workload-step-1.png
  src/images/errors-inbox_screenshot-full_create-a-workload-step-2.png
  src/images/errors-inbox_screenshot-full_create-a-workload-step-3.png
  src/images/errors-inbox_screenshot-full_global-view.png
  src/images/errors-inbox_screenshot-full_scoped-view.png
  src/images/otel-events.png
  src/nav/errors-inbox.yml
  src/nav/integrations.yml
Labels: content, from_tw

#11374 Daily release/02/03/2023/noon
  src/i18n/content/jp/docs/apm/agents/manage-apm-agents/agent-data/real-time-streaming.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/extend-your-instrumentation/browser-monitoring-nodejs-agent.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-heroku.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-microsoft-azure.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent-docker.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/troubleshooting/troubleshoot-your-nodejs-installation.mdx
  src/i18n/content/jp/docs/change-tracking/change-tracking-introduction.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
  src/i18n/content/jp/docs/new-relic-solutions/observability-maturity/introduction.mdx
  src/i18n/content/kr/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/i18n/content/kr/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
  src/i18n/content/kr/docs/apis/intro-apis/new-relic-api-keys.mdx
  src/i18n/content/kr/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/installation/include-java-agent-jvm-argument.mdx
  src/i18n/content/kr/docs/apm/agents/manage-apm-agents/agent-data/real-time-streaming.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/extend-your-instrumentation/browser-monitoring-nodejs-agent.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-custom-instrumentation.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-heroku.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-microsoft-azure.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent-docker.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/troubleshooting/troubleshoot-your-nodejs-installation.mdx
  src/i18n/content/kr/docs/apm/new-relic-apm/apdex/apdex-measure-user-satisfaction.mdx
  src/i18n/content/kr/docs/change-tracking/change-tracking-introduction.mdx
  src/i18n/content/kr/docs/data-apis/understand-data/new-relic-data-types.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/linux-installation/docker-container-infrastructure-monitoring.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
  src/i18n/content/kr/docs/infrastructure/prometheus-integrations/view-query-data/view-query-your-prometheus-data.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/i18n/content/kr/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/i18n/content/kr/docs/logs/logs-context/java-configure-logs-context-all.mdx
  src/i18n/content/kr/docs/logs/ui-data/parsing.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-set-up-your-app.mdx
  src/i18n/content/kr/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/i18n/content/kr/docs/new-relic-solutions/observability-maturity/introduction.mdx
  src/i18n/content/kr/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#11367 [FIX] CSP recommendations in Browser Compatibility Document
  src/content/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
Labels: content, from_tw

#11369 chore: add language identifiers/format code
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/lambda-opentelemetry-dotnet.mdx
Labels: content, from_internal

#11306 feat (agent release notes): add new fields
  gatsby-config.js
  gatsby-node.js
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-8150.mdx
Labels: content, from_internal

#11319 style(Sonic): Initial pass on optimizing tutorial
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-tutorial.mdx
Labels: content

#11373 feat(Sonic): adding CTA to NRQL syntax
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content

#11377 Updated CLM implementation
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/images/codestream_screenshot-crop_code-level-charts.png
  src/images/codestream_screenshot-crop_code-level-diffs.png
  src/images/codestream_screenshot-crop_code-level-metrics-example.png
Labels: content, from_internal

#11305 fix(ECS integration): Updated steps to match the new UI
  src/content/docs/infrastructure/elastic-container-service-integration/understand-use-ecs-data.mdx
Labels: content, from_tw

#11352 fix(NRQL): Fixed what seems like a typo
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#11384 chore: add syntax highlighting
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-x-ray-monitoring-integration.mdx
Labels: content, from_internal

#11382 docs: Fixed a broken link due to invalid Markdown syntax.
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
Labels: content, from_external

#11383 Update errors-inbox.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: from_internal

#11386 Daily release/02/03/2023/evening
  gatsby-config.js
  gatsby-node.js
  src/content/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
  src/content/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-x-ray-monitoring-integration.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/understand-use-ecs-data.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-tutorial.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-8150.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/lambda-opentelemetry-dotnet.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
  src/images/codestream_screenshot-crop_code-level-charts.png
  src/images/codestream_screenshot-crop_code-level-diffs.png
  src/images/codestream_screenshot-crop_code-level-metrics-example.png
Labels: content, from_tw

#11387 Updating the notification migration timeline
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/migration-to-workflows.mdx
Labels: content, from_internal

#11389 docs: Change curl command destination
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
Labels: content, from_external

#11150 Improvements to login-related docs
  src/content/docs/accounts/accounts-billing/account-setup/create-your-new-relic-account.mdx
  src/content/docs/accounts/accounts-billing/account-setup/login-options.mdx
  src/content/docs/accounts/accounts-billing/account-setup/multiple-logins-found.mdx
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
  src/nav/accounts.yml
Labels: content, from_tw

#11375 feat(style-guide): add steps guide
  src/content/docs/style-guide/structure/steps.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#11390 (docs): nodejs agent regex url obfuscation
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/url-obfuscation/configure-url-obfuscation-nodejs.mdx
Labels: content, from_internal

#11381 style change- UI writing capitalization
  src/content/docs/style-guide/capitalization/capitalization.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/content/docs/style-guide/ui-writing/capitalization.mdx
Labels: content, from_tw

#11397 chore: update change tracking gha documentation
  src/content/docs/change-tracking/ci-cd/change-tracking-github-actions.mdx
Labels: content, from_internal

#11372 style(Nav): Updated nav to match title casing in UI
  src/nav/root.yml
Labels: content, from_tw

#11380 fix(solutions): Fixed broken link
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-baseline-ingest-guide.mdx
Labels: content, from_tw

#10728 fix: remove extra install feedback form
  src/i18n/content/kr/docs/apm/agents/php-agent/installation/php-agent-installation-overview.mdx
Labels: eng

#11393 Assorted customer feedback changes
  src/content/docs/apis/nerdgraph/examples/manage-accounts-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-manage-groups.mdx
  src/content/docs/apm/agents/net-agent/installation/update-net-agent.mdx
Labels: content, from_tw

#11394 fix(PHP agent): Add Codestream/CLM to compat page
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#11398 Node.js Agent v9.9.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-9-0.mdx
Labels: content, from_internal

#11406 feat(content): update typo
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/ios-sdk-api/start-interaction.mdx
Labels: content, from_tw

#11322 chore (ruby agent): Content for version 8.16.0
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-8160.mdx
Labels: content, from_internal

#11413 Update aws-metric-stream-setup.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
Labels: content, from_internal

#11417 Daily release/feb 7 2023 8 14
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
Labels: content, from_tw

#11399 Fix logs in context doc
  src/content/docs/logs/logs-context/upgrade-to-automatic-logs-context.mdx
Labels: content, from_tw

#11415 fix(.net); add links to Docker installs
  src/content/docs/apm/agents/net-agent/other-installation/install-net-agent-docker-container.mdx
Labels: content, from_tw

#11423 docs: Add in 4.5.0 release notes for iOS
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-4040.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-4042.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-4050.mdx
Labels: content, from_internal, release notes

#11426 Daily release/feb 7 2023 11 20
  src/content/docs/apm/agents/net-agent/other-installation/install-net-agent-docker-container.mdx
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/browser/new-relic-browser/installation/update-browser-agent.mdx
  src/content/docs/logs/logs-context/upgrade-to-automatic-logs-context.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-4040.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-4042.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-4050.mdx
  src/content/docs/vulnerability-management/integrations/intro.mdx
  src/i18n/content/jp/docs/apm/errors-inbox/errors-inbox-ui.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
  src/i18n/content/jp/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/i18n/content/jp/docs/errors-inbox/getting-started.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-x-ray-monitoring-integration.mdx
  src/i18n/content/jp/docs/infrastructure/elastic-container-service-integration/understand-use-ecs-data.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/uninstall-kubernetes.mdx
  src/i18n/content/jp/docs/logs/log-api/introduction-log-api.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-events.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-view-your-data.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/i18n/content/jp/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-tutorial.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/lambda-opentelemetry-dotnet.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
  src/i18n/content/kr/docs/apis/nerdgraph/examples/nerdgraph-nrql-tutorial.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
  src/i18n/content/kr/docs/codestream/how-use-codestream/performance-monitoring.mdx
  src/i18n/content/kr/docs/errors-inbox/errors-inbox.mdx
  src/i18n/content/kr/docs/errors-inbox/getting-started.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-x-ray-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/elastic-container-service-integration/understand-use-ecs-data.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/uninstall-kubernetes.mdx
  src/i18n/content/kr/docs/logs/log-api/introduction-log-api.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-events.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-view-your-data.mdx
  src/i18n/content/kr/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/i18n/content/kr/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/i18n/content/kr/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-tutorial.mdx
  src/i18n/content/kr/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/lambda-opentelemetry-dotnet.mdx
  src/i18n/content/kr/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
Labels: content, from_tw

#11419 fix(pricing): edits to 'pricing model' mentions
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/accounts/accounts/account-maintenance/set-session-timeouts.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
Labels: content, from_tw

#11420 fix(retention): add link to change tracking
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#11400 Post-release updates to logging-best-practices.mdx
  src/content/docs/logs/get-started/logging-best-practices.mdx
  src/images/logs_screenshot-full_parsing-example.png
Labels: content, from_tw

#11421 Php 55 56 eol
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#11433 chore: bump theme to 6.16.4
  package.json
  yarn.lock
Labels: eng

#11402 fix(alerts): improving create your first alert
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/your-first-nrql-condition.mdx
Labels: content, from_tw

#11436 Changes 'tip' to cover third use-case
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
Labels: content, from_external

#11418 docs: update rabbitmq node_name_override docs
  src/content/docs/infrastructure/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
Labels: content, from_internal

#11432 fix(Alerts): Fixed some broken links
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/create-edit-or-find-alert-policy.mdx
Labels: content, from_tw

#11327 fix(Dashboards): Updated the content of the page
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/images/dashboards_screenshot-crop_chart-action-menu.png
  src/images/dashboards_screenshot-crop_dashboard-metadata.png
  src/images/dashboards_screenshot-crop_dashboard-settings-menu.png
  src/images/dashboards_screenshot-crop_dashboard-settings-options.png
  src/images/dashboards_screenshot-crop_dashboard-settings-tvmode.png
  src/images/dashboards_screenshot-crop_time-picker.png
  src/images/dashboards_screenshot-full_multi-page-dashboard.png
Labels: content, from_tw

#11442 EOL callout for POMI in K8s
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/install-update-or-uninstall-your-prometheus-openmetrics-integration.mdx
Labels: content, from_internal

#11443 Added trap_only to network config example
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal

#11445 Update manage-data-retention.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_internal

#11263 Remove unwanted link in Node.js agent to distributed tracing introduction
  src/nav/apm.yml
Labels: content, from_tw

#11448 Browser agent release v1224
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1224.mdx
Labels: content, from_internal

#11446 fix(Solutions): Fixed broken link
  src/content/docs/new-relic-solutions/get-started/implementation-guide-organize-data.mdx
Labels: content, from_tw

#11453 feat(nrql):fixed example
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#11450 Remove wording from beta.
  src/content/docs/change-tracking/ci-cd/change-tracking-jenkins.mdx
Labels: content, from_internal

#11457 Update getting-started.mdx
  src/content/docs/errors-inbox/getting-started.mdx
Labels: content, from_internal

#11379 style(PHP APM): Rewrote a sentence for clarity
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_set_appname.mdx
Labels: content, from_tw

#11454 fix(APM): Added missing video that the doc references
  src/content/docs/apm/new-relic-apm/apdex/apdex-measure-user-satisfaction.mdx
Labels: content, from_tw

#11469 bump theme to 6.16.7
  package.json
  yarn.lock
Labels: eng

#11466 Updating the ISO page with info
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/iso.mdx
Labels: content, from_internal

#11467 Release notes and EOL update for browser agent v1225
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1224.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1225.mdx
Labels: content, from_internal

#11456 Node.js Agent v9.10.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-10-0.mdx
Labels: content, from_internal

#11468 chore: addd release notes for browser runtime.
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-1.1.90.mdx
Labels: content, from_internal

#11473 Service levels alerts typo
  src/content/docs/service-level-management/alerts-slm.mdx
Labels: content, from_internal

#11438 Updates deployment markers support for OTel
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-comparison.mdx
Labels: content, from_internal

#11439 feat(Muting Rules): Updated the page
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/muting-rules-suppress-notifications.mdx
  src/images/accounts_screenshot-full_muting-rules-open-incidents-.png
  src/images/accounts_screenshot-full_muting-rules.png
  src/images/accounts_screenshot-full_rules-incident-violations.png
Labels: content, from_tw

#11225 Feb 10 AM: new Python Release 8.6.0 docs
  src/content/docs/apm/agents/python-agent/getting-started/python-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-80600.mdx
Labels: content, from_internal

#10992 browser.nav updates
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
  src/content/docs/browser/browser-monitoring/page-load-timing-resources/cookie-collection-session-tracking.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/page-load-timing-process.mdx
  src/nav/browser.yml
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#11481 docs: React Native Agent release 1.0.0
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-100.mdx
Labels: content, from_internal

#11485 Daily release/02/10/2023/noon
  scripts/actions/__tests__/__snapshots__/serialize-mdx.test.js.snap
  scripts/actions/__tests__/deserialize-html.test.js
  scripts/actions/__tests__/serialize-mdx.test.js
  scripts/actions/utils/handlers.js
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
  src/content/docs/browser/browser-monitoring/page-load-timing-resources/cookie-collection-session-tracking.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/page-load-timing-process.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-100.mdx
  src/nav/browser.yml
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#11486 Updated proxy config requirements for .NET agent
  src/content/docs/distributed-tracing/infinite-tracing/infinite-tracing-configure-proxy-support.mdx
Labels: content, from_internal

#11275 test(sonic): Test instruqt embed
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/identify-root-causes-guide.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#11351 Change tracking: Add download steps for Jenkins HPI file
  src/content/docs/change-tracking/ci-cd/change-tracking-jenkins.mdx
  src/content/docs/change-tracking/ci-cd/newrelic-deployment-notifier.hpi
Labels: content, from_tw

#11474 Whats new 02 13 key transactions
  src/content/whats-new/2023/02/images/key_transactions.png
  src/content/whats-new/2023/02/whats-new-02-13-key-transactions.md
Labels: content, from_internal, what's new

#11475 Sd key transactions revamp v1
  src/content/docs/apm/transactions/key-transactions/create-update-key-transactions.mdx
  src/content/docs/apm/transactions/key-transactions/introduction-key-transactions.mdx
  src/content/docs/apm/transactions/key-transactions/tag-key-transactions.mdx
  src/i18n/content/jp/docs/apm/transactions/key-transactions/create-update-key-transactions.mdx
  src/i18n/content/jp/docs/apm/transactions/key-transactions/tag-key-transactions.mdx
  src/i18n/content/kr/docs/apm/transactions/key-transactions/create-update-key-transactions.mdx
  src/i18n/content/kr/docs/apm/transactions/key-transactions/tag-key-transactions.mdx
  src/images/apm_screenshot-full_key-transactions-track-changes.png
  src/images/apm_screenshot-full_lookout-and-key-transactions.png
  src/images/apm_screenshot-full_make-a-key-transaction.png
  src/images/apm_screenshot-full_service-maps-and-key-transactions.png
  src/images/apm_screenshot-full_tag-a-key-transaction.png
  src/images/apm_screenshot-full_workloads-and-key-transactions.png
  src/nav/apm.yml
Labels: content, from_tw

#11324 Sd ansible controller 1
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ansible-controller-integration.mdx
  src/images/infrastructure_screenshot-full_ansible-controller-dashboard.png
  src/images/infrastructure_screenshot-full_ansible-controller.png
Labels: content, from_tw

#11462 fix(intro platform): new overhauled doc
  src/content/docs/new-relic-solutions/get-started/implementation-guide-intro.mdx
  src/content/docs/new-relic-solutions/get-started/implementation-guide-organize-data.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/get-started/quick-launch-guide.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-explorer-view-performance-across-apps-services-hosts.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-lookout-monitor-your-estate-glance.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/what-entity-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-one.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/basic-ui-features.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
  src/i18n/content/kr/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
  src/images/accounts_screenshot-crop_account-switcher-wide.png
  src/images/accounts_screenshot-crop_entity-explorer.png
  src/images/accounts_screenshot-crop_lookout.png
  src/images/accounts_screenshot-crop_navigator.png
  src/images/accounts_screenshot-crop_search.png
  src/images/apm_screenshot-crop_chart-options.png
  src/images/apm_screenshot-crop_trace-waterfall.png
  src/images/apm_screenshot-full_service-map.png
  src/images/workloads_screenshot-full_workload-map.png
  src/nav/new-relic-solutions.yml
  src/nav/root.yml
Labels: content, from_tw

#11501 Edit out an incorrect release note
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1225.mdx
Labels: content, from_internal

#11503 Update browser-app-settings-page.mdx
  src/content/docs/browser/new-relic-browser/configuration/browser-app-settings-page.mdx
Labels: content, from_tw

#11444 Release 2/13: Php agent release 10.6
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-eol-policy.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-6-0-318.mdx
Labels: content, from_internal

#11507 fix: dupe screenshot
  src/images/oma-oe-dg_screenshot-full_data-ingest-gov-baseline-browser.png
Labels: content, from_internal

#11489 Style guide addition to Usage page
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#11514 Node.js Agent v9.10.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-9-10-1.mdx
Labels: content, from_internal

#11098 Publish 02/14/2023. Added new file for MongoDB
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-migration-guide.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration.mdx
  src/images/infrastructure_screenshot-crop_mongodb-dashboard.png
  src/nav/infrastructure.yml
Labels: content, from_tw

#11494 feat(whats-new): new relic mobile app intro - 02/14 morning
  src/content/whats-new/2023/02/whats-new-02-14-newrelic-mobile-app.md
Labels: content, from_internal, what's new

#11502 Change tracking: Add Jenkins restart step and image
  src/content/docs/change-tracking/ci-cd/change-tracking-jenkins.mdx
  src/images/tracking_screenshot-crop_restart-jenkins.png
Labels: content, from_internal

#11492 Fix link to labels doc for Prometheus
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/migration-guide.mdx
Labels: content, from_internal

#11476 Fix variable syntax for IN
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
Labels: content, from_tw

#11520 minor changes for New Relic style
  src/content/whats-new/2023/02/whats-new-02-14-newrelic-mobile-app.md
Labels: content, from_internal

#11523 chore: lots of minor improvements
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Labels: content, from_internal

#11522 Update disable-automatic-logging.mdx
  src/content/docs/logs/logs-context/disable-automatic-logging.mdx
Labels: content, from_internal

#11524 Corrected use of "New Relic"
  src/content/docs/style-guide/ui-writing/button-labels.mdx
Labels: content, from_internal

#11509 fix(best practice guides): new overview doc
  src/content/docs/new-relic-solutions/best-practices-guides/cx-improve-page-load.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/cx-improve-web-uptime.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/overview-best-practices.mdx
  src/content/docs/new-relic-solutions/overview.mdx
  src/nav/alerts-applied-intelligence.yml
  src/nav/apm.yml
  src/nav/browser.yml
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#9639 Embeddable docs content
  gatsby-node.js
  gatsby-ssr.js
  gatsby/on-pre-render-html.js
  package.json
  src/components/EmbedContext.js
  src/components/HideWhenEmbedded.js
  src/components/MDXContainer.js
  src/layouts/EmbedLayout.js
  src/layouts/index.js
  src/templates/embedPage.js
  src/utils/constants.js
Labels: eng

#11526 Releasing .NET Agent 10.7.0
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-eol-policy.mdx
Labels: content, from_internal

#11527 fix(APM): Fixed minor pathing issue
  src/content/docs/apm/apm-ui-pages/monitoring/apm-summary-page-view-transaction-apdex-usage-data.mdx
Labels: content, from_tw

#11534 OpenTelemetry: Fix link to Java tutorial from intro to setup
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-get-started-intro.mdx
Labels: content, from_external

#11539 Deduping few lines
  src/content/docs/mobile-monitoring/new-relic-mobile-android/android-sdk-api/set-max-event-pool-size.mdx
Labels: content, from_internal

#11540 Fixed broken links
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-migration-guide.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#11536 Add release notes for .net agent 10.7.0
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-7-0.mdx
Labels: content, from_internal

#11496 Language correction
  src/content/docs/infrastructure/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/install-update-or-uninstall-your-prometheus-openmetrics-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/setup-prometheus-agent.mdx
Labels: content, from_internal

#11516 fix(intro platform): test wistia timestamp
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
Labels: content, from_tw

#11385 PUBLISH 2/15 (TBD): Update docs for log data partition UI
  src/content/docs/apis/nerdgraph/examples/nerdgraph-data-partition-rules-tutorial.mdx
  src/content/docs/logs/ui-data/data-partitions.mdx
  src/images/logs_screenshot-crop_log-partition-view.png
  src/images/logs_screenshot-crop_log-partitions.png
Labels: content, from_internal

#11510 Pub 2/15: feat: Add what's new for logging partitions improvements
  src/content/whats-new/2023/02/images/data-partitions-improvements.png
  src/content/whats-new/2023/02/whats-new-02-13-data-partitions-improvements.md
Labels: content, from_internal

#11531 feat(Sonic): Adding embed sign-up form (88206)
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/agile-handbook/appendices/ticket-best-practices.mdx
  src/content/docs/alerts-applied-intelligence/overview.mdx
  src/content/docs/apis/intro-apis/introduction-new-relic-apis.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/content/docs/apm/agents/java-agent/installation/include-java-agent-jvm-argument.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/introduction-new-relic-nodejs.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/docker-other-container-environments-install-php-agent.mdx
  src/content/docs/apm/agents/php-agent/getting-started/introduction-new-relic-php.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/python-agent/getting-started/introduction-new-relic-python.mdx
  src/content/docs/apm/new-relic-apm/apdex/apdex-measure-user-satisfaction.mdx
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/codestream/start-here/what-is-codestream.mdx
  src/content/docs/data-apis/ingest-apis/event-api/introduction-event-api.mdx
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
  src/content/docs/distributed-tracing/concepts/introduction-distributed-tracing.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/manage-your-agent/start-stop-restart-infrastructure-agent.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/logs/log-api/introduction-log-api.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/get-started/quick-launch-guide.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/install-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/style-guide/structure/styleguide-markup-indentation.mdx
Labels: content, from_tw

#11530 feat (agent release notes): Remove ingest field and add downloadLink resolver
  gatsby-config.js
  gatsby-node.js
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-70600173.mdx
Labels: eng

#11544 chore(MongoDB): Added a redirect
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#11545 Update azure-extensions-infrastructure.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/azure-extensions-infrastructure.mdx
Labels: content, from_internal

#11156 ArgoCD, Velero and Harbor docs
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/argocd-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/harbor-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/velero-integration.mdx
  src/images/kubernetes_screenshot-crop_argocd-dashboard.png
  src/images/kubernetes_screenshot-crop_harbor-dashboard.png
  src/images/kubernetes_screenshot-crop_velero-dashboard.png
Labels: content, from_internal

#11552 docs: React Native Agent release 1.0.1
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-agents-eol-policy.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-101.mdx
Labels: content, from_internal

#11533 Change tracking: Fix issues based on SME feedback
  src/content/docs/change-tracking/change-tracking-cli.mdx
  src/content/docs/change-tracking/change-tracking-graphql.mdx
  src/content/docs/change-tracking/change-tracking-introduction.mdx
  src/content/docs/change-tracking/change-tracking-view-analyze.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/service-characterization-optimize-telemetry-data-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/alert-quality-management-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/optimize-slm-guide.mdx
Labels: content, from_internal

#11561 chore: add syntax highlighting to code
  src/content/docs/apm/agents/ruby-agent/installation/ruby-agent-heroku.mdx
Labels: content, from_internal

#11564 feat(amazonECS): structure edits
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-ecsecr-monitoring-integration.mdx
Labels: content, from_tw

#11542 Small edits feb 15
  src/content/docs/apis/nerdgraph/examples/nerdgraph-historical-data-export.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/troubleshooting/no-data-appears-ruby.mdx
  src/content/docs/infrastructure/host-integrations/infrastructure-integrations-sdk/get-started/compatibility-requirements-infrastructure-integrations-sdk.mdx
  src/content/docs/logs/logs-context/disable-automatic-logging.mdx
  src/content/docs/logs/logs-context/get-started-logs-context.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/diagnostics-cli-nrdiag/interpret-nrdiag-output.mdx
Labels: content, from_tw

#11566 fix(Prometheus): Fixing some errors, urls, typos, etc.
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/argocd-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/harbor-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/integrations-list-intro.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/velero-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/troubleshooting/no-data-appears-prometheus-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#11568 Fixed typo in introduction-apm.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
Labels: content, from_external

#11565 updates on ansible automation controller
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ansible-controller-integration.mdx
Labels: content, from_internal

#11548 fix: Update uninstrumented-entities-service-maps.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/service-maps/uninstrumented-entities-service-maps.mdx
Labels: content, from_internal

#11546 Add files via upload
  src/content/docs/service-level-management/faqs-slm.mdx
  src/images/slm-alert-policy.png
Labels: content, from_internal

#11504 Update browser.yml
  src/nav/browser.yml
Labels: content, from_tw

#11575 fix(OHIs): fix nav links
  src/nav/infrastructure.yml
Labels: content, from_tw

#11553 Add capacitor docs to release notes
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/release-notes/index.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-plugin-100.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#11556 chore(welcome-nr): Remove video, clean up links
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
Labels: content, from_tw

#11586 chore: add NEWRELIC_LOG_DIRECTORY env var
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#11558 feat: create QuickstartChooser component
  src/components/QuickstartChooser.js
  src/i18n/translations/en/translation.json
  src/images/dataism.png
Labels: eng
