Repository newrelic/docs-website, pull requests merged in 2024-02, with the labels that each got.

#16008 Update rules-limits-alerts.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/learn-alerts/rules-limits-alerts.mdx
Labels: content, from_internal

#15994 Update alert-custom-incident-descriptions.mdx - documentation bug
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/alert-custom-incident-descriptions.mdx
Labels: content, from_internal

#15463 Added Mendix cloud documentation
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mendix-cloud-integration.mdx
  src/i18n/nav/jp.json
  src/nav/infrastructure.yml
Labels: content, from_internal

#16017 fix(postgresql): clarify collection_list
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-config.mdx
Labels: content, from_internal

#15695 feat(Service Level Management): Include timeslice data examples
  src/content/docs/service-level-management/create-slm.mdx
Labels: content, from_internal

#16029 Update view-system-limits.mdx - Removed unused limit
  src/content/docs/data-apis/manage-data/view-system-limits.mdx
Labels: content, from_internal

#16020 fix(PHP): typo
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Labels: content, from_tw

#15972 synthetics release notes: bring release notes for job manager and node browser runtime up to date
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-325.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-326.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-332.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-1.1.113.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.1.12.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.2.1.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.2.10.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.2.2.mdx
Labels: content, from_internal

#16036 chore(docs): add synthetics job manager env var documentation and update kubernetes resource recommendations
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-job-manager.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Labels: content, from_internal

#15966 Ruby agent release notes and instrumentation updates
  src/content/docs/apm/agents/ruby-agent/api-guides/ruby-custom-instrumentation.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-9-7-0.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-9-7-1.mdx
Labels: content, from_internal

#15968 chore: Update .NET Agent compatibility requirements.
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#16044 Update alerts-slm.mdx
  src/content/docs/service-level-management/alerts-slm.mdx
Labels: content, from_internal

#16045 Create service-levels-20240202.mdx
  src/content/docs/release-notes/service-levels-release-notes/service-levels-20240202.mdx
Labels: content, from_internal

#16032 chore(nrql): clarify that average is mean average
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#16048 Update Java agent 8.9.0 release notes
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-890.mdx
Labels: content, from_internal

#16046 Update kubernetes-integration-install-configure.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_internal

#16049 fix: add backticks around spans
  src/content/docs/nrql/using-nrql/query-time-range.mdx
Labels: content

#16039 docs: Promethus CRD example code is incomplete
  src/content/docs/infrastructure/prometheus-integrations/install-configure-remote-write/set-your-prometheus-remote-write-integration.mdx
Labels: content, from_internal

#16005 fix(UI): fixing "top 5" table descriptions
  src/content/docs/apm/apm-ui-pages/monitoring/transactions-page-find-specific-performance-problems.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/handled-exceptions-analyze-trends-prevent-crashes.mdx
Labels: content, from_tw

#16033 chore(logs): add permissions details for lookup tables
  src/content/docs/logs/ui-data/lookup-tables-ui.mdx
Labels: content, from_tw

#16066 Update Limits Value
  src/content/docs/apis/insights-apis/query-insights-event-data-api.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-historical-data-export.mdx
  src/content/docs/apm/agents/manage-apm-agents/agent-data/collect-custom-metrics.mdx
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/content/docs/nrql/using-nrql/subqueries-in-nrql.mdx
  src/content/docs/nrql/using-nrql/subquery-joins.mdx
Labels: content, from_internal

#16067 fix(SyntheticsAlerts): Multiple updates
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/alerts-synthetic-monitoring.mdx
Labels: content, from_internal

#16078 feat: Remaining updates for NRQL result limit change to 5k
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
Labels: content, from_internal

#16062 chore: update kubernetes docs
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/setup-prometheus-agent.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/images/infrastructure_screenshot-crop_prometheus-scrape-only-metrics.webp
Labels: content, from_internal

#16081 Chore: Update mongodb-monitoring-integration-new.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#15967 Changes per release 15.1
  src/content/docs/codestream/codestream-settings/account-settings.mdx
  src/content/docs/codestream/observability/code-level-metrics.mdx
  src/content/docs/codestream/observability/error-investigation.mdx
  src/content/docs/codestream/observability/performance-monitoring.mdx
  src/content/docs/codestream/troubleshooting/client-logs.mdx
  src/images/codestream_screenshot-crop_associate-repos-button.webp
  src/images/codestream_screenshot-crop_code-level-anomalies.webp
  src/images/codestream_screenshot-crop_marketplace-vsc-slt.webp
  src/images/codestream_screenshot-crop_o11y.webp
Labels: content, from_internal

#15969 docs: 6.1.0 - Adds in latest ios release notes
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6010.mdx
Labels: content, from_internal

#16085 Update incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_internal

#16034 chore(alerts): replace link with steps to create an alert
  src/content/docs/infrastructure/new-relic-infrastructure/infrastructure-alert-conditions/alert-infrastructure-processes.mdx
Labels: content, from_tw

#16086 release notes for CPM release 3.1.5
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-315.mdx
Labels: content, from_internal

#16080 chore(docs): add release notes for synthetics job manager release-337
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-337.mdx
Labels: content, from_internal

#16090 docs: add release notes for infra agent 1.48.5
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1485.mdx
Labels: content, from_internal

#16094 chore(synthetics): Update node-browser-runtime release notes (v2.2.22)
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.2.22
Labels: content, from_internal

#16099 feat(StepMonitors): Supported in Chrome 100+ runtime
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-transition-guide.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/new-runtime.mdx
Labels: content, from_internal

#16103 chore: Add release notes for ping-runtime:1.38.0
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.30.0.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.38.0.mdx
Labels: content, from_internal

#16098 chore: add Node.js Agent v11.10.3 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-10-3.mdx
Labels: content, from_internal

#16095 Create java-agent-891.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-891.mdx
Labels: content, from_internal

#16105 Update .NET agent troubleshooting doc with .NET 8 diagnostics settings info
  src/content/docs/apm/agents/net-agent/troubleshooting/no-data-appears-net.mdx
Labels: content, from_internal

#16106 Update php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#16108 Update metric-normalization-rules.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/metric-normalization-rules.mdx
Labels: content, from_internal

#16093 [Product Partnerships] Added AWS Workspaces Web
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-workspaces-web-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#16110 fix(HordeIPRanges): Removed old callout
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_tw

#16051 style(nav): Remove hyphens from yaml, tweak titles
  src/nav/dashboards.yml
  src/nav/new-relic-security.yml
  src/nav/nrql.yml
Labels: content, from_tw

#16115 CHORE: Fix Typo Update incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_internal

#16119 Remove <dd> and </dd> tags across site
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/apm/agents/go-agent/instrumentation/go-agent-attributes.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/instrumentation/instrument-browser-monitoring-java-agent-api.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-app-engine-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-bigquery-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-load-balancing-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-pubsub-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-spanner-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-sql-monitoring-integration.mdx
  src/content/docs/mobile-crash-rest-api-v1.mdx
  src/content/docs/style-guide/formatting/ui-paths.mdx
Labels: content, from_tw

#15953 Update overview.mdx
  src/content/docs/alerts-applied-intelligence/overview.mdx
Labels: content, from_tw

#16102 chore(dashboards): add anchor names, clarify limitations around expor…
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/troubleshooting-chart-errors.mdx
  src/images/dashboards_screenshot-crop_export-csv.webp
  src/images/dashboards_screenshot-full_export-pdf.webp
  src/nav/dashboards.yml
  src/nav/nrql.yml
Labels: content, from_tw

#16116 Update create-nrql-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
Labels: content, from_tw

#16131 fix: update typo on snmpv3 setting
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal

#15992 Fix Terraform Alert docs
  src/content/docs/more-integrations/terraform/terraform-intro.mdx
Labels: content, from_external

#16111 fix(SynthUsage): Added clarifications
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
Labels: content, from_internal

#16126 adding example of two joins in a subqery
  src/content/docs/nrql/using-nrql/subquery-joins.mdx
Labels: content, from_tw

#16148 chore: update docs on using cloud secrets
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-management.mdx
Labels: content, from_internal

#16150 Browser Agent v1.252.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.252.0.mdx
Labels: content, from_internal

#16146 Update addpageaction.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
Labels: content, from_internal

#16137 Minor AZ/AWS metrics changes
  src/content/docs/infrastructure/amazon-integrations/get-started/aws-integrations-metrics.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/azure-integration-metrics.mdx
Labels: content, from_internal

#16104 Monday, 2/12: What's New - New Query UI Post
  src/content/whats-new/2024/02/images/query-your-data-try.png
  src/content/whats-new/2024/02/whats-new-02-21-new-query-experience.md
Labels: content, from_internal

#16151 docs: release notes for infra agent 1.49.0
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1490.mdx
Labels: content, from_internal

#15984 chore(browser): Session replay updates
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/images/browser_screenshot-full_errors-inbox-session-replay.webp
  src/images/browser_screenshot-full_session-replay-details.gif
  src/images/browser_screenshot-full_text-masking-example.webp
  src/nav/browser.yml
Labels: content, from_tw

#16121 Up to date the .NET Lambda monitoring with OTEL and support .NET 6 runtime
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/compatibility-requirements-aws-lambda-monitoring.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/lambda-opentelemetry-dotnet.mdx
Labels: content, from_internal

#16165 Daily release/feb 13 2024 9 40
  src/content/docs/agile-handbook/heroing/what-is-a-hero.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/compatibility-requirements-aws-lambda-monitoring.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/lambda-opentelemetry-dotnet.mdx
  src/content/docs/style-guide/writing-docs/processes-procedures/use-content-types-text-formats.mdx
  src/data/whats-new-ids.json
Labels: content, from_tw

#16128 Update docs for logs/queries
  src/content/docs/codestream/code-discussion/slack-integration.mdx
  src/content/docs/codestream/observability/code-level-metrics.mdx
  src/content/docs/codestream/observability/log-search.mdx
  src/content/docs/codestream/observability/performance-monitoring.mdx
  src/content/docs/codestream/observability/query-builder.mdx
  src/content/docs/codestream/observability/repo-association.mdx
  src/content/docs/codestream/observability/transactions.mdx
  src/content/docs/codestream/start-here/what-is-codestream.mdx
  src/images/codestream_screenshot-crop_anomalous-duration.webp
  src/images/codestream_screenshot-crop_connect-repositories.webp
  src/images/codestream_screenshot-crop_log-line-search.webp
  src/images/codestream_screenshot-crop_log-search-results.webp
  src/images/codestream_screenshot-crop_log-search.webp
  src/images/codestream_screenshot-crop_nrql-file.webp
  src/images/codestream_screenshot-crop_o11y.webp
  src/images/codestream_screenshot-crop_query-builder.webp
  src/nav/codestream.yml
Labels: content, from_internal

#16139 feat: rollup bundle troubleshooting
  src/content/docs/browser/new-relic-browser/troubleshooting/rollup-unresolved-import.mdx
  src/nav/browser.yml
Labels: content, from_internal

#16161 Update whats-new-02-21-new-query-experience.md
  src/content/whats-new/2024/02/whats-new-02-21-new-query-experience.md
Labels: content, from_tw

#16157 style(nav): Surface NRQL getting started at L1 lvl
  src/nav/nrql.yml
Labels: content, from_tw

#16138 Update export logs limit to new NRDB query limit
  src/content/docs/logs/ui-data/use-logs-ui.mdx
Labels: content, from_internal

#16160 add workaround for i18n link bug
  env.js
  gatsby-config.js
  src/@newrelic/gatsby-theme-newrelic/components/MDXLink.js
Labels: eng

#16135 Sd collaboration updates
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/collaborate/collaborate-with-teammates.mdx
Labels: content, from_tw

#16163 Use actual name of script
  .github/workflows/trigger-i18n-merge.yml
Labels: eng

#16168 [Product Partnerships] Added AWS Certificate Manager
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-certificate-manager-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#16158 chore: add Node.js Agent v11.10.4 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-10-4.mdx
Labels: content, from_internal

#16170 docs: Add instructions for enabling browser auto-instrumentation for NET Core v6+ web apps in the .NET Agent.
  src/content/docs/apm/agents/net-agent/other-features/browser-monitoring-net-agent.mdx
Labels: content, from_internal

#16175 Update nerdgraph-explorer.mdx
  src/content/docs/apis/nerdgraph/get-started/nerdgraph-explorer.mdx
Labels: content, from_tw

#16143 Update link-apm-applications-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-apm-applications-kubernetes.mdx
Labels: content, from_internal

#16181 Update script path
  package.json
Labels: eng

#16179 chore: add language identifier
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-compression.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-basic.mdx
Labels: content, from_internal

#16185 Add_example_for_json_parsing
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#16176 feat(php-agent): add php to list of agents supporting error fingerprinting
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content, from_internal

#16149 Dashboards: Add permalink pruning routine.
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
Labels: content, from_tw

#16190 Use opensource bot token instead of github
  scripts/actions/trigger-i18n-merge.js
Labels: eng

#16193 Update python-agent-admin-script-advanced-usage.mdx
  src/content/docs/apm/agents/python-agent/installation/python-agent-admin-script-advanced-usage.mdx
Labels: content, from_tw

#16162 Synthetics Release Notes 13 FEB 2024
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-339.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.34.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.2.22.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.2.28.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.39.0.mdx
Labels: content, from_internal

#16174 feat: Update classic alerts docs
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/define-custom-metrics-alert-condition.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/multi-location-synthetic-monitoring-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/scope-alert-thresholds-specific-instances.mdx
  src/content/docs/tutorial-create-alerts/create-an-alert.mdx
  src/images/alerts_screenshot-crop_alert-builder.webp
  src/images/alerts_screenshot-crop_custom-metrics.webp
  src/images/alerts_screenshot-crop_synthetics-Alerts.webp
  src/images/alerts_screenshot-crop_thresholds-instances.webp
Labels: content, from_internal

#16101 Logs: Add generic path to certificate
  src/content/docs/logs/log-api/use-tcp-endpoint-forward-logs-new-relic.mdx
Labels: content, from_tw

#16182 fix(IAST): Updated APM versions on the intro page
  src/content/docs/iast/introduction.mdx
Labels: content, from_tw

#16171 Nr 101608: break apart AWS metrics tables
  src/content/docs/infrastructure/amazon-integrations/get-started/aws-integrations-metrics.mdx
Labels: content, from_tw

#16187 [Publish: 02/16/2024] Update values for host GUIDs for OpenTelemetry
  src/content/whats-new/2024/02/whats-new-02-16-infra-otel-guids.md
Labels: content, from_internal

#16132 Apache OHI rewrite
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/apache-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/apache-monitoring-integration.mdx
  src/install/apache/appInfo.mdx
  src/install/apache/default-configuration.mdx
  src/install/apache/default-install-linux.mdx
  src/install/apache/default-requirements.mdx
  src/install/apache/find-data.mdx
  src/install/apache/guided.mdx
  src/install/apache/install-infra.mdx
  src/install/apache/intro.mdx
  src/install/apache/linux/install-apt.mdx
  src/install/apache/linux/install-linux.mdx
  src/install/apache/linux/install-tarball.mdx
  src/install/apache/linux/install-yum.mdx
  src/install/apache/linux/install-zypper.mdx
  src/install/apache/whatsNext.mdx
  src/install/apache/windows/install-msi.mdx
  src/install/apache/windows/install-windows.mdx
  src/install/config/apache.yaml
  src/nav/infrastructure.yml
Labels: content, from_internal

#16196 fix(Logs in context): Clarified that it's the agent configuration that needs to be updated
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_tw

#16192 go agent 3.30.0 release notes
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-30-0.mdx
Labels: content, from_internal

#16202 Fix: add response headers to ensure referrer it sent to signup page events
  netlify.toml
Labels: eng

#16203 Update to the O4G offering docs page
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/eligibility-guidelines-new-relic-nonprofit-program.mdx
Labels: content, from_internal

#16189 chore(Dashboards): Adding template variable content
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/images/dashboards_screenshot-crop_example-form.webp
  src/images/dashboards_screenshot-crop_example-time-picker.webp
Labels: content, from_internal

#16195 Accounts: Add student program
  src/content/docs/accounts/accounts-billing/account-setup/student-program.mdx
  src/nav/accounts.yml
Labels: content, from_tw

#16213 Infra Agent 1.49.1 Release Notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1491.mdx
Labels: content, from_internal

#16206 Spelling error correction - removed Techsoup
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/eligibility-guidelines-new-relic-nonprofit-program.mdx
Labels: content, from_internal

#16178 Remove freetext and increase chance to show
  src/components/FeedbackModal/FeedbackModal.js
Labels: eng

#16222 Update whats-new-01-09-nrql-limit-increases.md
  src/content/whats-new/2024/01/whats-new-01-09-nrql-limit-increases.md
Labels: content, from_tw

#16218 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#16210 Whats new 02 20 codestreamlogs
  src/content/whats-new/2024/02/images/log_search.png
  src/content/whats-new/2024/02/images/query_new.png
  src/content/whats-new/2024/02/whats-new-02-20-codestreamlogs.md
Labels: content, from_internal

#16219 fix(Mobile): Removed stray square bracket
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/introduction-mobile-monitoring.mdx
Labels: content, from_tw

#16229 add check for install config yaml redirects
  scripts/createNetlifyRedirects.mjs
Labels: eng

#16220 Try github token for api call
  .github/workflows/trigger-i18n-merge.yml
  scripts/actions/trigger-i18n-merge.js
Labels: eng

#16230 updating caps for ping release notes
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.38.0.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.39.0.mdx
Labels: content, from_tw

#16231 chore: update version numbers
  src/content/docs/iast/introduction.mdx
Labels: content, from_tw

#16232 docs: DESIRED_RUNTIMES
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Labels: content, from_internal

#16224 PUBLISH: TBD chore(PHP): update configuration page with new package detection INI option
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Labels: content, from_internal

#16241 adding missing noun
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
Labels: content, from_tw

#16242 Updating link about AWS sidecar
  src/content/docs/infrastructure/elastic-container-service-integration/install-ecs-integration.mdx
Labels: content, from_tw

#16244 Accounts: Add docs for Compute Add On
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/add-on-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-ui.mdx
  src/content/docs/accounts/original-accounts-billing/product-based-pricing/overview-data-retention-components.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
  src/content/docs/iast/exploitable-vulns.mdx
  src/content/docs/iast/iast-billing.mdx
  src/content/docs/iast/introduction.mdx
  src/content/docs/iast/testing-status.mdx
  src/content/docs/iast/troubleshooting.mdx
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-usage-plan.mdx
  src/content/docs/logs/get-started/live-archives-billing.mdx
  src/content/docs/logs/get-started/live-archives.mdx
  src/content/docs/nrql/using-nrql/rate-limits-nrql-queries.mdx
  src/images/2024-02-19_22-13-03.webp
  src/images/accounts_diagram_pricing-diagram.webp
  src/images/iast_screenshot-crop_facet-example.webp
  src/images/iast_screenshot-crop_test-run.webp
  src/images/iast_screenshot-full_compute-management-users.webp
  src/images/iast_screenshot-full_compute-management.webp
  src/images/iast_screenshot-full_results-app-build.webp
  src/images/iast_screenshot-full_tested-apis.webp
  src/images/logs_diagram_data-retention.webp
  src/images/logs_screenshot-crop_create-a-partition-using-live-archives.webp
  src/images/logs_screenshot-crop_edit-data-partition-using-live-archives.webp
  src/images/logs_screenshot-crop_edit-data-retention-live-archives.webp
  src/images/logs_screenshot-crop_edit-data-retention-live-archives.webp.webp
  src/images/logs_screenshot-crop_lucene-live-archives.webp
  src/images/logs_screenshot-crop_query-live-archives-nrql.webp
  src/nav/accounts.yml
  src/nav/iast.yml
  src/nav/logs.yml
Labels: content, from_tw

#16159 [Publish 2-21 after PM confirmation] What's new: Live archives
  src/content/whats-new/2024/02/logs-live-archives-retention.png
  src/content/whats-new/2024/02/whats-new-02-21-live-archives.md
Labels: content, from_internal

#16246 Accounts: Correct anchor link and fix add-on wording
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/add-on-billing.mdx
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
Labels: content, from_tw

#16247 fix(partners): Remove old support email alias
  src/content/docs/new-relic-partnerships/partner-integration-guide/getting-started/partners-contact-new-relic.mdx
Labels: content, from_tw

#16248 fix(nav): Remove duplicate nav entry
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#16251 Update live-archives.mdx
  src/content/docs/logs/get-started/live-archives.mdx
Labels: content, from_tw

#16258 Add notranslate class to InlinePopover component
  scripts/actions/__tests__/__snapshots__/serialize-mdx.test.js.snap
  scripts/actions/utils/handlers.js
Labels: eng

#16250 Update eligibility-guidelines-new-relic-nonprofit-program.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/eligibility-guidelines-new-relic-nonprofit-program.mdx
Labels: content, from_internal

#16243 Update data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
Labels: content, from_internal

#16261 feat(APM): Clarified slow response time is in milliseconds
  src/content/docs/apm/apm-ui-pages/monitoring/view-slow-query-details.mdx
Labels: content, from_tw

#16255 php/correct_DT_disable_docs
  src/content/whats-new/2022/06/whats-new-06-09-PHP-9-21-update.md
Labels: content, from_internal

#16264 feat(infra): add anchor tag, update language for clarity
  src/content/docs/infrastructure/infrastructure-alerts/infrastructure-alert-conditions/create-infrastructure-host-not-reporting-condition.mdx
Labels: content, from_tw

#16268 Add python release notes for v9.7.0 -- merge Feb 22 PM
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-90700.mdx
Labels: content, from_internal

#16214 Upgrade GKE Autopilot instructions
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_internal

#16273 Update google-compute-engine-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-compute-engine-monitoring-integration.mdx
Labels: content, from_internal

#16274 Update gcp-integration-metrics.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/gcp-integration-metrics.mdx
Labels: content, from_internal

#16064 docs: Add section on delaying browser agent loader
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
Labels: content, from_internal

#16269 fix(images): Replaced unreadable image file with readable rework re: #14830
  src/images/style-guide_diagram_new-relic-product-naming-hierarchy.webp
Labels: content, from_external

#16270 Update aws-billing-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-billing-monitoring-integration.mdx
Labels: content, from_internal

#16272 Update whats-new-12-1-new-metrics.md
  src/content/whats-new/2023/11/whats-new-12-1-new-metrics.md
Labels: content, from_internal

#16267 Release notes for v5.15.0 New Relic for android
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-51500.mdx
Labels: content, from_internal

#16235 [Product Partnerships] Added AWS Network Firewall
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-network-firewall-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#16226 feat(apm):go security agent v1.0.0 documentation
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
Labels: content, from_internal

#16260 style(nrql): Remove colons from headers
  src/content/docs/nrql/using-nrql/rate-function.mdx
Labels: content, from_tw

#16280 Update fluent-bit-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
Labels: content, from_internal

#16263 fix(Dashboards): Cleaned up some language
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
Labels: content, from_internal

#16100 Infra/cloud uninstall note
  src/content/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/uninstall-infrastructure-agent.mdx
Labels: content, from_tw

#16285 Update vague language in otel doc
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-set-up-your-app.mdx
Labels: content, from_tw

#16186 feat(OHI PostgreSQL): Added branching doc structure
  src/images/infrastructure_screenshot-full_install-postgresql-dashboard.webp
  src/install/config/postgresql.yaml
  src/install/postgresql/appInfo.mdx
  src/install/postgresql/create-user.mdx
  src/install/postgresql/default-install-linux.mdx
  src/install/postgresql/default-requirements.mdx
  src/install/postgresql/find-data.mdx
  src/install/postgresql/install-amazonECS.mdx
  src/install/postgresql/install-infra.mdx
  src/install/postgresql/install-k8s.mdx
  src/install/postgresql/intro.mdx
  src/install/postgresql/linux/install-apt.mdx
  src/install/postgresql/linux/install-linux.mdx
  src/install/postgresql/linux/install-tarball.mdx
  src/install/postgresql/linux/install-yum.mdx
  src/install/postgresql/linux/install-zypper.mdx
  src/install/postgresql/requirements-amazonECS.mdx
  src/install/postgresql/requirements-k8s.mdx
  src/install/postgresql/whatsNext.mdx
  src/install/postgresql/windows/install-msi.mdx
  src/install/postgresql/windows/install-windows.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#16183 feat(OHI IBM MQ): Added branching doc structure
  src/install/config/ibm-mq.yaml
  src/install/ibm-mq/appInfo.mdx
  src/install/ibm-mq/default-install.mdx
  src/install/ibm-mq/default-requirements.mdx
  src/install/ibm-mq/find-data.mdx
  src/install/ibm-mq/install-infra.mdx
  src/install/ibm-mq/intro.mdx
  src/install/ibm-mq/linux/install-apt.mdx
  src/install/ibm-mq/linux/install-linux.mdx
  src/install/ibm-mq/linux/install-tarball.mdx
  src/install/ibm-mq/linux/install-yum.mdx
  src/install/ibm-mq/linux/install-zypper.mdx
  src/install/ibm-mq/linux/requirements-linux.mdx
  src/install/ibm-mq/linux/requirements-tarball.mdx
  src/install/ibm-mq/whatsNext.mdx
  src/install/ibm-mq/windows/install-msi.mdx
  src/install/ibm-mq/windows/install-windows.mdx
  src/install/ibm-mq/windows/requirements-windows.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#16299 feat(Azure): Added clarification about what an activemessage is
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-service-bus-monitoring-integration.mdx
Labels: content, from_tw

#16302 fix(Browser): Updated JavaScript and Ajax frequency
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/instrumentation-browser-monitoring.mdx
Labels: content, from_tw

#16303 feat(OMA): Removed data quality collapser
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/optimize-slm-guide.mdx
Labels: content, from_tw

#16166 feat(Cassandra): Added branching doc structure
  src/images/infrastructure_screenshot-full_cassandra-dashboard.webp
  src/install/cassandra/default-requirements.mdx
  src/install/cassandra/ecs/install-ecs.mdx
  src/install/cassandra/ecs/requirements-ecs.mdx
  src/install/cassandra/find-data.mdx
  src/install/cassandra/guided.mdx
  src/install/cassandra/install-infra.mdx
  src/install/cassandra/intro.mdx
  src/install/cassandra/kubernetes/install-k8s.mdx
  src/install/cassandra/kubernetes/requirements-k8s.mdx
  src/install/cassandra/linux/install-apt.mdx
  src/install/cassandra/linux/install-linux.mdx
  src/install/cassandra/linux/install-tarball.mdx
  src/install/cassandra/linux/install-yum.mdx
  src/install/cassandra/linux/install-zypper.mdx
  src/install/cassandra/linux/requirements-linux.mdx
  src/install/cassandra/whatsNext.mdx
  src/install/config/cassandra.yaml
  src/nav/infrastructure.yml
Labels: content, from_tw

#16306 Synthetics Node Browser Runtime 2.2.33 release notes
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.2.33.mdx
Labels: content, from_internal

#16207 Whats new: 2/27 @ 9AM, hardware sentry integration
  src/content/whats-new/2024/02/images/hardware_sentry_quickstart.png
  src/content/whats-new/2024/02/whats-new-02-27-hardware-sentry-integration.md
Labels: content, from_internal

#16294 Update obfuscation-ui.mdx
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
Labels: content, from_internal

#16311 Add new permission elasticache:DescribeCacheClusters
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
Labels: content, from_internal

#16283 chore: Documents new configuration options for the .NET agent
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#16319 chore: add Node.js Agent v11.11.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-11-0.mdx
Labels: content, from_internal

#16320 fix(whatsnew): update learn more link
  src/content/whats-new/2024/01/whats-new-01-22-deprecating-ic-limits.md
Labels: content, from_tw
