Repository newrelic/docs-website, pull requests merged in 2024-08, with the labels that each got.

#18217 feat(Whats New): New WN post related to an eol (Publish morning of August 1, 2024)
  src/content/whats-new/2024/08/whats-new-8-01-eol-fid.md
Labels: content, from_tw

#18216 chore: Updated release date for Node 16, and removed unused `@newrelic/next`
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-microsoft-azure.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent-docker.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
Labels: content, from_internal

#18225 chore(Java): update Java agent's Kafka compatibility
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#18168 Update requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_external

#17837 chore(apm/php): cleanup compatibility requirements table
  src/content/docs/apm/agents/php-agent/advanced-installation/docker-other-container-environments-install-php-agent.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-arm64.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-aws-linux-redhat-centos.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-tar-file.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-ubuntu-debian.mdx
  src/content/docs/apm/agents/php-agent/installation/update-php-agent.mdx
  src/nav/apm.yml
Labels: content, from_internal

#18172 feat: Added documentation for vmware-tanzu-nginx-buildpack-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cloudfoundry-integrations/vmware-tanzu-dotnet-buildpack-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cloudfoundry-integrations/vmware-tanzu-nginx-buildpack-integration.mdx
  src/images/integrations_screenshot-full_Nginx-Integration-Buildpack-for-VMware-Tanzu.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#17928 Refactor distributed tracing instructions
  src/content/docs/apm/agents/go-agent/configuration/distributed-tracing-go-agent.mdx
  src/content/docs/apm/agents/java-agent/configuration/distributed-tracing-java-agent.mdx
  src/content/docs/apm/agents/net-agent/configuration/distributed-tracing-net-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/distributed-tracing-nodejs-agent.mdx
  src/content/docs/apm/agents/php-agent/configuration/distributed-tracing-php-agent.mdx
  src/content/docs/apm/agents/python-agent/configuration/distributed-tracing-python-agent.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/distributed-tracing-ruby-agent.mdx
Labels: content, from_tw

#18227 fix(Pathpoint): Fixed some heading styles
  src/content/docs/new-relic-solutions/business-observability/intro-pathpoint.mdx
Labels: content, from_internal

#18222 Target release date: 8/1/24 - android agent v7.5.1 release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-751.mdx
Labels: content, from_internal

#18201 Accounts: Remove all the Partnership API docs and leave one stub doc
  src/content/docs/apis/nerdgraph/examples/provisions-your-subscriptions-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/new-relic-partnerships/partner-integration-guide/partner-account-maintenance/partner-api.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partner-api-reference.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-account-object.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-keys.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-sub-account-object.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-subscription-object.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-user-object.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/partnership-billing-integration-api.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/product-buckets.mdx
  src/content/docs/new-relic-partnerships/partnerships/partner-api/typical-integration-example.mdx
  src/i18n/content/es/docs/apis/nerdgraph/examples/provisions-your-subscriptions-nerdgraph.mdx
  src/i18n/content/es/docs/new-relic-partnerships/partnerships/partner-api/partner-api-reference.mdx
  src/i18n/content/es/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-account-object.mdx
  src/i18n/content/es/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-keys.mdx
  src/i18n/content/es/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-sub-account-object.mdx
  src/i18n/content/es/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-subscription-object.mdx
  src/i18n/content/es/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-user-object.mdx
  src/i18n/content/es/docs/new-relic-partnerships/partnerships/partner-api/partnership-billing-integration-api.mdx
  src/i18n/content/es/docs/new-relic-partnerships/partnerships/partner-api/product-buckets.mdx
  src/i18n/content/es/docs/new-relic-partnerships/partnerships/partner-api/typical-integration-example.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/provisions-your-subscriptions-nerdgraph.mdx
  src/i18n/content/jp/docs/new-relic-partnerships/partnerships/partner-api/partner-api-reference.mdx
  src/i18n/content/jp/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-account-object.mdx
  src/i18n/content/jp/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-keys.mdx
  src/i18n/content/jp/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-sub-account-object.mdx
  src/i18n/content/jp/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-subscription-object.mdx
  src/i18n/content/jp/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-user-object.mdx
  src/i18n/content/jp/docs/new-relic-partnerships/partnerships/partner-api/partnership-billing-integration-api.mdx
  src/i18n/content/jp/docs/new-relic-partnerships/partnerships/partner-api/product-buckets.mdx
  src/i18n/content/jp/docs/new-relic-partnerships/partnerships/partner-api/typical-integration-example.mdx
  src/i18n/content/kr/docs/apis/nerdgraph/examples/provisions-your-subscriptions-nerdgraph.mdx
  src/i18n/content/kr/docs/new-relic-partnerships/partnerships/partner-api/partner-api-reference.mdx
  src/i18n/content/kr/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-account-object.mdx
  src/i18n/content/kr/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-keys.mdx
  src/i18n/content/kr/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-sub-account-object.mdx
  src/i18n/content/kr/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-subscription-object.mdx
  src/i18n/content/kr/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-user-object.mdx
  src/i18n/content/kr/docs/new-relic-partnerships/partnerships/partner-api/partnership-billing-integration-api.mdx
  src/i18n/content/kr/docs/new-relic-partnerships/partnerships/partner-api/product-buckets.mdx
  src/i18n/content/kr/docs/new-relic-partnerships/partnerships/partner-api/typical-integration-example.mdx
  src/i18n/content/pt/docs/apis/nerdgraph/examples/provisions-your-subscriptions-nerdgraph.mdx
  src/i18n/content/pt/docs/new-relic-partnerships/partnerships/partner-api/partner-api-reference.mdx
  src/i18n/content/pt/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-account-object.mdx
  src/i18n/content/pt/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-keys.mdx
  src/i18n/content/pt/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-sub-account-object.mdx
  src/i18n/content/pt/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-subscription-object.mdx
  src/i18n/content/pt/docs/new-relic-partnerships/partnerships/partner-api/partnership-api-user-object.mdx
  src/i18n/content/pt/docs/new-relic-partnerships/partnerships/partner-api/partnership-billing-integration-api.mdx
  src/i18n/content/pt/docs/new-relic-partnerships/partnerships/partner-api/product-buckets.mdx
  src/i18n/content/pt/docs/new-relic-partnerships/partnerships/partner-api/typical-integration-example.mdx
Labels: content, from_tw

#18245 fix(Infrastructure): NGINX should always be all-caps
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cloudfoundry-integrations/vmware-tanzu-nginx-buildpack-integration.mdx
Labels: content, from_tw

#18246 Docs release notes aug 2 2024
  src/content/docs/release-notes/docs-release-notes/docs-8-2-2024.mdx
Labels: content, from_tw

#18252 fix(REST): Wrong procedure to get IDs (NR-289803)
  src/content/docs/apis/rest-api-v2/get-started/get-app-other-ids-new-relic-one.mdx
Labels: content, from_tw

#18233 fix: incorrect code sample
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
Labels: content, from_internal

#18244 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: from_internal, documentation

#18255 chore(logs): Fix missing redirects from #17851
  src/install/config/aws-logs.yaml
Labels: content, from_tw

#18195 feat: Added aws cw app signals docs
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-cloudwatch-application-signals.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#18240 Update forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#18237 Fix example code in Python AWS lambda docs
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/enable-serverless-monitoring-aws-lambda-layerless.mdx
Labels: content, from_internal

#18241 docs(notifications): added note about handlebars
  src/content/docs/alerts/get-notified/message-templates.mdx
Labels: content, from_internal

#18250 chore: improve examples
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/containerized-images.mdx
Labels: content, from_internal

#18256 chore: clarify format values
  src/content/docs/nrql/nrql-references/nrql-group-results-across-time.mdx
Labels: from_internal

#18186 APM Java agent: Change "third-party-integrations" folder to "related-integrations"
  src/content/docs/apm/agents/java-agent/related-integrations/dropwizard/dropwizard-reporter.mdx
  src/content/docs/apm/agents/java-agent/related-integrations/kamon/kamon-reporter.mdx
  src/content/docs/apm/agents/java-agent/related-integrations/micrometer/micrometer-metrics-registry.mdx
  src/content/docs/apm/agents/java-agent/related-integrations/vertx/vertx-eventbus-integration.mdx
  src/content/docs/apm/agents/java-agent/related-integrations/vertx/vertx-extensions-integration.mdx
  src/i18n/content/es/docs/apm/agents/java-agent/third-party-integrations/dropwizard/dropwizard-reporter.mdx
  src/i18n/content/es/docs/apm/agents/java-agent/third-party-integrations/kamon/kamon-reporter.mdx
  src/i18n/content/es/docs/apm/agents/java-agent/third-party-integrations/micrometer/micrometer-metrics-registry.mdx
  src/i18n/content/es/docs/apm/agents/java-agent/third-party-integrations/vertx/vertx-eventbus-integration.mdx
  src/i18n/content/es/docs/apm/agents/java-agent/third-party-integrations/vertx/vertx-extensions-integration.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/third-party-integrations/dropwizard/dropwizard-reporter.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/third-party-integrations/kamon/kamon-reporter.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/third-party-integrations/micrometer/micrometer-metrics-registry.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/third-party-integrations/vertx/vertx-eventbus-integration.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/third-party-integrations/vertx/vertx-extensions-integration.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/third-party-integrations/dropwizard/dropwizard-reporter.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/third-party-integrations/kamon/kamon-reporter.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/third-party-integrations/micrometer/micrometer-metrics-registry.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/third-party-integrations/vertx/vertx-eventbus-integration.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/third-party-integrations/vertx/vertx-extensions-integration.mdx
  src/i18n/content/pt/docs/apm/agents/java-agent/third-party-integrations/dropwizard/dropwizard-reporter.mdx
  src/i18n/content/pt/docs/apm/agents/java-agent/third-party-integrations/kamon/kamon-reporter.mdx
  src/i18n/content/pt/docs/apm/agents/java-agent/third-party-integrations/micrometer/micrometer-metrics-registry.mdx
  src/i18n/content/pt/docs/apm/agents/java-agent/third-party-integrations/vertx/vertx-eventbus-integration.mdx
  src/i18n/content/pt/docs/apm/agents/java-agent/third-party-integrations/vertx/vertx-extensions-integration.mdx
  src/nav/apm.yml
Labels: content, from_tw

#18257 fix(licenses): remove outdated tile
  src/content/docs/licenses/overview.mdx
Labels: content, from_tw

#18232 feat(EOL): Added initial EOL content that's active and announced in Q2
  src/content/docs/browser/new-relic-browser/browser-apis/createtracer.mdx
  src/content/eol/2024/04/eol-04-22-24.md
  src/content/eol/2024/04/eol-04-24-24-createtracer.md
  src/content/eol/2024/04/eol-04-24-24-polling-api.md
  src/content/eol/2024/06/eol-06-30-24-sample-page.md
  src/content/eol/2024/07/eol-07-10-24-sample-page.md
  src/content/eol/2024/07/eol-07-21-24-sample-page.md
  src/content/eol/2024/08/eol-08-01-24.md
Labels: content, eng, from_tw

#18248 Accounts: Remove selected references to CodeStream
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
Labels: content, from_tw

#18219 (PLANNED FOR 8/5) Release go 3.34.0
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-34-0.mdx
Labels: content, from_internal

#18265 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18263 chore: infra-agent 1.55.2 release doc
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1552.mdx
Labels: content, from_internal

#18266 chore(PHP): Corrects Dockerfile example
  src/content/docs/apm/agents/php-agent/advanced-installation/docker-other-container-environments-install-php-agent.mdx
Labels: content, from_tw

#18270 Update downgradecancel-account.mdx
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
Labels: content, from_internal

#18269 Synthetics Minion 3.1.17 release notes
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3117.mdx
Labels: content, from_internal

#18273 fix(Docs): Wanted to avoid using EOL in titles
  src/content/eol/2024/08/eol-08-01-24.md
Labels: content, eng, from_tw

#18275 chore: add license page for synthetics node-browser-runtime
  src/content/docs/licenses/product-or-service-licenses/new-relic-synthetics/new-relic-synthetics-node-browser-runtime-licenses.mdx
  src/nav/licenses.yml
Labels: content, from_internal

#18271 feat: change page_action refs to generic_events as per new browser agent version change
  src/content/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/finished.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/start.mdx
  src/i18n/content/es/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
  src/i18n/content/es/docs/browser/new-relic-browser/browser-apis/finished.mdx
  src/i18n/content/es/docs/browser/new-relic-browser/browser-apis/start.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/browser-apis/finished.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/browser-apis/start.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/browser-apis/finished.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/browser-apis/start.mdx
  src/i18n/content/pt/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
  src/i18n/content/pt/docs/browser/new-relic-browser/browser-apis/finished.mdx
  src/i18n/content/pt/docs/browser/new-relic-browser/browser-apis/start.mdx
Labels: content, from_internal

#18286 fix: indentation issues
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
Labels: eng

#18287 chore: format code blocks
  src/content/docs/opentelemetry/best-practices/opentelemetry-manage-data-ingest-volume.mdx
Labels: content, from_internal

#18280 fix indentation and numbering
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Labels: content, from_internal

#18282 Update dashboards-charts-import-export-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
Labels: content, from_internal

#18277 feat: Mark Entity as reserved event
  src/content/docs/data-apis/custom-data/custom-events/data-requirements-limits-custom-event-data.mdx
Labels: content, from_internal

#18278 feat(Docs): Added some guidance about whats new github action
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-tech-writer-tasks.mdx
Labels: content, from_tw

#18292 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18298 fix: small typos on markdown links
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#18297 chore(style guide): Delete docs library service info
  src/content/docs/style-guide/writing-docs/writer-workflow/swiftype-search.mdx
Labels: content, from_tw

#18307 fix(Title template): adjust example based on feedback
  src/content/docs/alerts/create-alert/condition-details/title-template.mdx
Labels: content, from_internal

#18235 feat(MultiBrowser): Added Firefox support
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/introduction-scripted-browser-monitors.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/set-proxy-settings-properties-scripted-monitors.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-chrome-100.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/device-emulation.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/intro-synthetic-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
Labels: content, from_internal

#18311 Python Release notes v9.13.0
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-91300.mdx
Labels: content, from_internal

#18310 chore(PHP): Adds note for API call
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Labels: content, from_internal

#18312 fix(Data and APIs): Added missing header tag
  src/content/docs/data-apis/custom-data/custom-events/data-requirements-limits-custom-event-data.mdx
Labels: content, from_tw

#18158 (Release: TBH) feat(docs): update to nrql alert conditions docs
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/content/docs/alerts/create-alert/create-alert-condition/create-nrql-alert-conditions.mdx
  src/content/docs/alerts/create-alert/create-alert-condition/create-nrql-host-not-reporting-conditions.mdx
  src/content/docs/alerts/create-alert/set-thresholds/set-thresholds-alert-condition.mdx
  src/content/docs/alerts/your-first-nrql-condition.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-loss-signal-gap-filling.mdx
  src/content/docs/infrastructure/infrastructure-alerts/infrastructure-alert-conditions/create-infrastructure-host-not-reporting-condition.mdx
  src/images/alerts_screenshot-crop_host-not-reporting-selection.webp
  src/images/alerts_screenshot-crop_set-condition-thresholds.webp
  src/images/alerts_screenshot-crop_signals-lost-options.webp
  src/images/alerts_screenshot-crop_tell-us-where-to-look.webp
  src/images/queriesnrqlSignalLossOptions.webp
  src/nav/alerts.yml
Labels: content, from_internal

#18319 Docs release notes aug 9 2024
  src/content/docs/release-notes/docs-release-notes/docs-8-2-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-8-9-2024.mdx
Labels: content, from_tw

#18296 EOL updates
  src/components/EolTable/EolTable.js
  src/components/EolTable/TableHeader.js
  src/i18n/translations/en/translation.json
  src/pages/eol.js
  src/templates/eolAnnouncement.js
Labels: eng

#18318 fix: updated latest version details in vmware-tanzu-nginx-buildpack-integrat…
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cloudfoundry-integrations/vmware-tanzu-nginx-buildpack-integration.mdx
Labels: content, from_internal

#17565 Create Agentless monitoring and standardized entity creation
  src/content/docs/release-notes/infrastructure-release-notes/cloud-integration-release-notesagentless-monitoring-and-standardized-entity-creation.mdx
Labels: content

#18279 chore: update whats-new information and replaces mentions of GC
  CONTRIBUTING.md
  TRANSLATION_WORKFLOW.md
  scripts/README.md
  src/content/docs/agile-handbook/heroing/what-is-a-hero.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/github-troubleshooting.mdx
Labels: eng

#18323 fix: indentation issues
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: eng

#18325 docs: Update use-multiple-names-app.mdx
  src/content/docs/apm/agents/manage-apm-agents/app-naming/use-multiple-names-app.mdx
Labels: content, from_internal

#18327 docs: improve Lambda monitoring steps
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
Labels: content, from_internal

#18330 docs(billing): fixed workflows limit
  src/content/docs/accounts/accounts-billing/account-structure/create-manage-accounts.mdx
Labels: content, from_internal

#18326 fix(Docs): Minor tweak to an unsatisfying sentence
  src/content/docs/release-notes/docs-release-notes/docs-8-9-2024.mdx
Labels: content, from_tw

#18335 Added support for Ubuntu 24.04
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#18339 Daily release/08 12 24 morning
  src/content/docs/accounts/accounts-billing/account-structure/create-manage-accounts.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-migration-guide.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/release-notes/docs-release-notes/docs-8-9-2024.mdx
  src/data/attribute-dictionary.json
  src/i18n/content/es/docs/alerts/create-alert/condition-details/title-template.mdx
  src/i18n/content/es/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-migration-guide.mdx
  src/i18n/content/es/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
  src/i18n/content/es/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration.mdx
  src/i18n/content/es/docs/new-relic-solutions/business-observability/intro-pathpoint.mdx
  src/i18n/content/es/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/containerized-images.mdx
  src/i18n/content/jp/docs/alerts/create-alert/condition-details/title-template.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-migration-guide.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration.mdx
  src/i18n/content/jp/docs/new-relic-solutions/business-observability/intro-pathpoint.mdx
  src/i18n/content/kr/docs/alerts/create-alert/condition-details/title-template.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-migration-guide.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration.mdx
  src/i18n/content/kr/docs/new-relic-solutions/business-observability/intro-pathpoint.mdx
  src/i18n/content/pt/docs/alerts/create-alert/condition-details/title-template.mdx
  src/i18n/content/pt/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/pt/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-migration-guide.mdx
  src/i18n/content/pt/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
  src/i18n/content/pt/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration.mdx
  src/i18n/content/pt/docs/new-relic-solutions/business-observability/intro-pathpoint.mdx
  src/install/config/mongodb.yaml
Labels: content, from_tw

#18340 fix(Docs): Fixed node browser runtime version
  src/content/docs/release-notes/docs-release-notes/docs-8-9-2024.mdx
Labels: content, from_tw

#18346 Remove vwo
  src/components/SEO.js
Labels: eng

#18352 clang/remove unused gatsby plugin deps
  gatsby-config.js
  package.json
  yarn.lock
Labels: eng

#18353 fix(aim): Removed AND condition from the drop sensitive-data file
  src/content/docs/ai-monitoring/drop-sensitive-data.mdx
Labels: content, from_internal

#18344 chore: add Node.js Agent v12.1.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-1-0.mdx
Labels: content, from_internal

#18228 fix: grammar and wording
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/cloud-watch-fallback.mdx
Labels: content, from_internal

#18321 fix(Infra): adding missing command to Ubuntu
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
Labels: content, from_tw

#18309 chore(DT): fixing API doc
  src/content/docs/distributed-tracing/trace-api/report-new-relic-format-traces-trace-api.mdx
Labels: content, from_tw

#18355 chore: infra-agent 1.56.0 release doc
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1600.mdx
Labels: content, from_internal

#18349 fix(Infra): Fixed directory mix up
  src/content/docs/release-notes/infrastructure-release-notes/cloud-integration-release-notes/agentless-monitoring-and-standardized-entity-creation.mdx
Labels: content, from_tw

#18343 NR-294934 alert deprecation
  src/content/docs/tutorial-dd-migration/installing-monitor.mdx
  src/content/docs/tutorial-dd-migration/migrating-dashboards.mdx
  src/install/kubernetes/find-data.mdx
Labels: content, from_internal

#18370 feat: add missing release notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.263.0.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.264.0.mdx
Labels: content, from_internal

#18369 Instrumented view based on time picker
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
Labels: content, from_internal

#18373 style(Release notes): Fixed capitalizaton
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1600.mdx
Labels: content, from_tw

#18354 Updated snowflake docs
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
Labels: content, from_internal

#18055 Feat: new EOL Comms pages
  gatsby-config.js
  gatsby-node.js
  plugins/gatsby-plugin-eol-rss/gatsby-node.js
  plugins/gatsby-plugin-eol-rss/package.json
  scripts/actions/utils/docs-content-tools/i18n-exclusions.yml
  scripts/utils/verify-mdx-utils.js
  src/components/EolTable/EolTable.js
  src/components/EolTable/TableBody.js
  src/components/EolTable/TableHeader.js
  src/components/EolTable/index.js
  src/content/eol/2024/04/eol-04-22-24.md
  src/content/eol/2024/04/eol-04-24-24-createtracer.md
  src/content/eol/2024/04/eol-04-24-24-polling-api.md
  src/content/eol/2024/08/eol-08-01-24.md
  src/i18n/translations/en/translation.json
  src/nav/root.yml
  src/pages/eol.js
  src/templates/eolAnnouncement.js
  src/utils/constants.js
Labels: eng

#18379 feat(style guide): Using script to delete orphans
  src/content/docs/style-guide/writing-docs/processes-procedures/delete-document.mdx
Labels: content, from_tw

#18155 chore(OHIs): Delete vestigial JMX doc
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/i18n/content/es/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/i18n/content/pt/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/install/config/jmx.yaml
Labels: content, from_tw

#16172 style(sweep): Remove slash used as "or" or "and"
  src/content/docs/apm/agents/java-agent/additional-installation/include-java-agent-jvm-argument.mdx
  src/content/docs/apm/agents/ruby-agent/features/ruby-codestream-integration.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/observability-coe.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/diagnostics-beginner-guide.mdx
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/content/docs/nrql/nrql-tutorials/nrql-tutorial-process-your-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-job-manager.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
  src/content/docs/tutorial-reporting-data/capture-service-telemetry.mdx
  src/content/docs/tutorial-reporting-data/capture-web-telemetry.mdx
  src/install/java/frameworkInstallation/jboss.mdx
Labels: content, from_tw

#17486 style(API nav): Improve doc/section titles
  src/content/docs/apis/nerdgraph/examples/combining-npm-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/examples/create-widgets-dashboards-api.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-alerts-policies.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-notifications-channels.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-notifications-destinations.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-dashboards.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-distributed-trace-data-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-historical-data-export.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-issues-api-via-github.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-slm.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-streaming-export.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#18396 fix(Whats new): Fixed some minor style issues
  src/content/whats-new/2024/08/whats-new-8-15-one-step-AWS.md
Labels: content, from_tw

#18377 fix(Style guide): Updated the new image name convention
  src/content/docs/style-guide/images/embed-images.mdx
  src/content/docs/style-guide/structure/side-by-side.mdx
Labels: content, from_tw

#18341 Collapser group for config step
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
Labels: content, from_internal

#18394 docs: Correct wording on MacOS agent update steps
  src/content/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/update-infrastructure-agent.mdx
Labels: content, from_internal

#18393 Update k8s-otel.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-otel.mdx
Labels: content, from_internal

#18398 Update whats-new-template.mdx
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-template.mdx
Labels: content, from_internal

#18391 Update whats-new-07-03-logs-in-context-data-partition-selector.md
  src/content/whats-new/2024/07/whats-new-07-03-logs-in-context-data-partition-selector.md
Labels: content, from_internal

#18390 feat: update pageaction apis that mention limit
  src/content/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
  src/content/docs/data-apis/custom-data/custom-events/report-browser-monitoring-custom-events-attributes.mdx
Labels: content, from_internal

#18392 chore: add Node.js Agent v12.1.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-1-1.mdx
Labels: content, from_internal

#18380 chore(php): rework php compatibility table
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#18400 style(AWS): Modified the first sentence under connect AWS and NR
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
Labels: content, from_tw

#18405 Docs release notes aug 16 2024
  src/content/docs/release-notes/docs-release-notes/docs-8-16-2024.mdx
Labels: content, from_tw

#18383 feat(API keys): EOL about API key UI change
  src/content/eol/2024/08/eol-08-14-24.md
Labels: content, from_tw

#18401 Fix automation markers
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#18360 chore(php): rework framework compatibility table
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_tw

#18374 fix(K8s): Updated the Explore your Kubernetes data category
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-events-integration.mdx
  src/content/docs/logs/forward-logs/kubernetes-plugin-log-forwarding.mdx
  src/install/kubernetes/guided/install-guided.mdx
  src/nav/kubernetes-pixie.yml
  static/images/kubernetes_screenshot-crop_gather-log-data.webp
  static/images/kubernetes_screenshot-crop_guided-install-command.webp
  static/images/kubernetes_screenshot-crop_see-pod-details-link.webp
  static/images/kubernetes_screenshot-crop_view-events-categories.webp
  static/images/kubernetes_screenshot-crop_view-events.webp
  static/images/kubernetes_screenshot-full_dashboard.webp
  static/images/kubernetes_screenshot-full_navigator-alerts.webp
  static/images/kubernetes_screenshot-full_navigator-filtering.webp
  static/images/kubernetes_screenshot-full_navigator-options.webp
Labels: content, from_tw

#18395 (PUBLISH 8/19/2024) config incident titles
  src/content/whats-new/2024/08/Configure_incident_titles.md
  src/nav/alerts.yml
  static/images/whats-new_screenshot-full_config-incident-titles.webp
Labels: content, from_internal

#18389 docs(events-api): added caution and reworded aggregation explanation
  src/content/docs/data-apis/ingest-apis/event-api/incident-event-rest-api.mdx
Labels: content, from_internal

#18302 feat( Serverless lambda layer): Log ingestion solution for ADOT layer
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/otel-adot-log-ingestion-serverless.mdx
  src/nav/serverless-function-monitoring.yml
Labels: content, from_tw

#18424 fix(Serverless): Fixed typo in title
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/otel-adot-log-ingestion-serverless.mdx
Labels: content, from_tw

#18422 fix code block
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Labels: content, from_internal

#18425 Daily release/8 19 24 afternoon
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/otel-adot-log-ingestion-serverless.mdx
Labels: content, from_tw

#18415 Infra Agent 1.56.1 Release Notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1561.mdx
Labels: content, from_internal

#18416 NR 298654 - The Infrastructure Agent now supports Ubuntu 24.04 and SUSE 15.5(x86_64).
  src/content/docs/release-notes/logs-release-notes/logs-24-08-12.mdx
Labels: content, from_internal

#18427 fix(infra-agent): Update supported OS
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#18440 Update opentelemetry-apm-ui.mdx
  src/content/docs/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-ui.mdx
Labels: content, from_internal

#18439 fix: removing the ability to set replicaCount in helm chart, so updating docs to reflect
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Labels: content, from_internal

#18438 iOS agent 7.5.1 release notes: [Release asap on 8-21-2024]
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-751.mdx
Labels: content, from_internal

#18294 docs(dotnet): Update Lambda docs to include auto-instrumented function types
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-approaches-lambda.mdx
Labels: content, from_internal

#18445 Add Java agent 8.14.0 release notes and compatibility docs
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8140.mdx
Labels: content, from_internal

#18446 NR-304043: The support of browser and mobile logs brings a new set of reserved attributes (`instrumentation.*`)
  src/content/docs/logs/log-api/log-event-data.mdx
Labels: content, from_internal

#18444 Target release date: 8/21/24 - Android NDK agent release notes v1.1.2
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-ndk-112.mdx
Labels: content, from_internal

#18437 INFOSEC-10276 Update report-security-vulnerabilities.mdx
  src/content/docs/security/security-privacy/information-security/report-security-vulnerabilities.mdx
Labels: content, from_internal

#18442 Update fluentd-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/fluentd-plugin-log-forwarding.mdx
Labels: content, from_internal

#18421 Update muting-rules-suppress-notifications.mdx
  src/content/docs/alerts/get-notified/muting-rules-suppress-notifications.mdx
Labels: content, from_internal

#18450 fix(browser): Added missing header anchor tags
  src/content/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
Labels: content, from_tw

#18451 fix(PHP agent): Added missing header tag
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_tw

#18466 Update fluentd-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/fluentd-plugin-log-forwarding.mdx
Labels: content, from_internal

#18455 infra agent: RH 7 minimum support 7.9
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#18464 i18n links
  src/i18n/translations/es/translation.json
  src/i18n/translations/jp/translation.json
  src/i18n/translations/kr/translation.json
  src/i18n/translations/pt/translation.json
Labels: content, from_internal

#18449 Update use-nerdgraph-manage-license-keys-user-keys.mdx
  src/content/docs/apis/nerdgraph/examples/use-nerdgraph-manage-license-keys-user-keys.mdx
Labels: content, from_internal

#18347 docs:adding mobile logs syntax and example for all native and hybrid …
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-logs.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/troubleshoot/sentry-incompatibility-android.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-151.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-112.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-111.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-143mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#18472 Docs release notes aug 23 2024
  src/content/docs/release-notes/docs-release-notes/docs-8-23-2024.mdx
Labels: content, from_tw

#18471 fix(logs): Added missing header anchor tag
  src/content/docs/logs/forward-logs/fluentd-plugin-log-forwarding.mdx
Labels: content, from_tw

#18436 fix: broken in page link
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
Labels: content, from_internal

#18477 Update monitor-your-php-app.mdx
  src/content/docs/apm/agents/php-agent/getting-started/monitor-your-php-app.mdx
Labels: content, from_internal

#18109 Chore(infra logs): Updated docker image for log forwarding
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/nav/iast.yml
Labels: content, from_tw

#18470 chore: add identifiers to codeblocks
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/uninstall-kubernetes.mdx
Labels: content, from_internal

#18475 No new legacy monitors
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
  src/content/docs/apis/synthetics-rest-api/monitor-examples/manage-synthetics-monitors-rest-api.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-maintenance-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-transition-guide.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-04x-or-lower.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetics-scripted-browser-reference-monitor-versions-050.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests-legacy.mdx
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/runtime-upgrade-troubleshooting.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/new-runtime.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
Labels: content, from_internal

#18480 chore(PHP): Relnotes for PHP agent release 11.1.0.14
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-11-1-0-14.mdx
Labels: content, from_internal

#18486 Fix OTLP endpoint in micrometer-metrics-registry.mdx
  src/content/docs/apm/agents/java-agent/related-integrations/micrometer/micrometer-metrics-registry.mdx
Labels: content, from_internal

#18488 fix: add handler for `span`
  scripts/actions/utils/handlers.mjs
Labels: eng

#18429 [NR-303342] Update manual install steps for Android plugin
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-agent-gradle.mdx
Labels: content, from_internal

#18456 Revert "NR-304043: The support of browser and mobile logs brings a new set of reserved attributes (`instrumentation.*`)"
  src/content/docs/logs/log-api/log-event-data.mdx
Labels: content, from_internal

#18485 Update 'splash' image on Pathpoint docs page
  src/content/docs/new-relic-solutions/business-observability/intro-pathpoint.mdx
  static/images/pathpoint_v2_splash_screenshot.webp
Labels: content, from_internal

#18491 chore: remove redundant workflow
  .github/workflows/issue-triage.yml
  .github/workflows/pr-triage.yml
Labels: eng

#18448 chore: Updated all references to internal api docs and point to the g…
  src/content/docs/apm/agents/nodejs-agent/api-guides/guide-using-nodejs-agent-api.mdx
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-custom-instrumentation.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-custom-metrics.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-v1-custom-instrumentation-legacy.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/apm-agent-security-nodejs.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/distributed-tracing-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/es-modules.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
  src/i18n/content/es/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-v1-custom-instrumentation-legacy.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-v1-custom-instrumentation-legacy.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-v1-custom-instrumentation-legacy.mdx
  src/i18n/content/pt/docs/apm/agents/nodejs-agent/extend-your-instrumentation/nodejs-v1-custom-instrumentation-legacy.mdx
  src/nav/apm.yml
Labels: content, from_internal

#18218 feat(php): add seg fault troubleshooting page
  src/content/docs/apm/agents/php-agent/troubleshooting/segmentation-faults.mdx
  src/nav/apm.yml
Labels: content, from_internal

#18386 Golang: Document new automation tool
  src/content/docs/apm/agents/go-agent/installation/install-automation-new-relic-go.mdx
  src/nav/apm.yml
Labels: content, from_tw

#18500 chore: add Node.js Agent v12.3.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-3-0.mdx
Labels: content, from_internal

#18501 fix: correct addToTrace documentation
  src/content/docs/browser/new-relic-browser/browser-apis/addtotrace.mdx
Labels: content, from_internal

#18484 Updating Support Doc
  src/content/docs/new-relic-solutions/solve-common-issues/find-help-get-support.mdx
  src/i18n/content/es/docs/new-relic-solutions/solve-common-issues/find-help-use-support-portal.mdx
  src/i18n/content/jp/docs/new-relic-solutions/solve-common-issues/find-help-use-support-portal.mdx
  src/i18n/content/kr/docs/new-relic-solutions/solve-common-issues/find-help-use-support-portal.mdx
  src/i18n/content/pt/docs/new-relic-solutions/solve-common-issues/find-help-use-support-portal.mdx
  static/images/solutions_screenshot-crop_product-support.webp
Labels: content, from_internal

#18514 chore: format codeblock
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
Labels: content, from_internal

#18515 What's new: Add deleted placeholder directories
  src/content/whats-new/2024/09/.gitkeep
  src/content/whats-new/2024/10/.gitkeep
  src/content/whats-new/2024/11/.gitkeep
  src/content/whats-new/2024/12/.gitkeep
Labels: content, from_tw

#18522 Update downgradecancel-account.mdx
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
Labels: content, from_internal

#18511 chore: Updating support home page file support case section
  src/content/docs/new-relic-solutions/solve-common-issues/find-help-get-support.mdx
  static/images/solutions_screenshot-crop_create-ticket.webp
Labels: content, from_internal

#18529 Docs release notes aug 30 2024
  src/content/docs/release-notes/docs-release-notes/docs-8-30-2024.mdx
Labels: content, from_tw

#18518 chore(Serverless monitoring): Fixed a broken link
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
Labels: content, from_tw
