Repository newrelic/docs-website, pull requests merged in 2024-09, with the labels that each got.

#18441 fix(K8s): Updating Alerts inside K8s
  src/content/docs/alerts/organize-alerts/specify-when-alerts-create-incidents.mdx
  src/content/docs/alerts/troubleshooting/missing-alert-notifications.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-notifications-channels.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/windows-linux-hybrid-cluster.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/create-alerts.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-recommended-alert-policy.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/predefined-alert-policy.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/recommended-alert-policy.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/security/security-privacy/data-privacy/data-privacy-new-relic.mdx
  src/content/whats-new/2021/03/kubernetes-whats-new.md
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/windows-linux-hybrid-cluster.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-prebuilt-alert-policies.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-recommended-alert-policies.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/windows-linux-hybrid-cluster.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-prebuilt-alert-policies.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-recommended-alert-policies.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/windows-linux-hybrid-cluster.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-prebuilt-alert-policies.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-recommended-alert-policies.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/windows-linux-hybrid-cluster.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-prebuilt-alert-policies.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-recommended-alert-policies.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/install/config/kubernetes.yaml
  src/install/kubernetes/find-data.mdx
  src/install/kubernetes/prebuilt-resources.mdx
  src/nav/kubernetes-pixie.yml
  static/images/kubernetes_screenshot-crop_add-alerts.webp
  static/images/kubernetes_screenshot-crop_add-dashboards.webp
  static/images/kubernetes_screenshot-crop_create_alert_condition.webp
  static/images/kubernetes_screenshot-crop_create_alert_policy.webp
  static/images/kubernetes_screenshot-crop_default-alert-policy.webp
  static/images/kubernetes_screenshot-crop_new-alert-condition-button.webp
  static/images/kubernetes_screenshot-crop_new-alert-policy-button.webp
  static/images/kubernetes_screenshot-crop_pre-built-resources.webp
  static/images/kubernetes_screenshot-crop_recommended-alert-policies.webp
Labels: content, from_tw

#18509 (Publish 09/03/2024) Whats new: loss of signal standalone
  src/content/whats-new/2024/09/.gitkeep
  src/content/whats-new/2024/09/whats-new-09-03-loss-of-signal-standalone.md
  static/images/whats-new-signal-loss-standalone.webp
Labels: content, from_internal

#18299 NerdGraph: Switch to <Steps> components, adjust heading levels, and add transitions
  src/content/docs/apis/nerdgraph/examples/nerdgraph-streaming-export.mdx
Labels: content, from_tw

#18534 Dashboards: Clarify update mutation
  src/content/docs/apis/nerdgraph/examples/nerdgraph-dashboards.mdx
Labels: content, from_tw

#18474 docs:update hybrid documentation for android plugin portal
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-unity/monitor-your-unity-application.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-151.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-111.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-143mdx
Labels: content, from_internal

#18549 fix(Alerts): update title template and description template to use tags
  src/content/docs/alerts/create-alert/condition-details/alert-custom-incident-descriptions.mdx
  src/content/docs/alerts/create-alert/condition-details/title-template.mdx
Labels: content, from_internal

#18548 fix(SyntheticsS3): Added S3 network endpoints
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#18552 fix(.NET): add back migration guides
  src/content/docs/apm/agents/net-agent/getting-started/8x-to-9x-agent-migration-guide.mdx
  src/content/docs/apm/agents/net-agent/getting-started/9x-to-10x-agent-migration-guide.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-0-0.mdx
  src/nav/apm.yml
Labels: content, from_tw

#18544 docs: infrastructure agent v1.57.0
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1570.mdx
Labels: content, from_internal

#18543 executionDuration and code 41
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, from_internal

#18541 docs: update combining-npm-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/examples/combining-npm-nerdgraph.mdx
Labels: content, from_internal

#18545 feat(K8s): Added k8s-otel doc to the nav
  src/nav/kubernetes-pixie.yml
Labels: content, from_tw

#18530 fix(OHI Elastic): Fixed errors in the installation doc
  src/install/elasticsearch/default-install-linux.mdx
  src/install/elasticsearch/find-data.mdx
  src/install/elasticsearch/linux/install-apt.mdx
  src/install/elasticsearch/linux/install-linux.mdx
  src/install/elasticsearch/linux/install-yum.mdx
  src/install/elasticsearch/linux/install-zypper.mdx
  src/install/elasticsearch/whatsNext.mdx
  src/install/elasticsearch/windows/install-msi.mdx
  src/install/elasticsearch/windows/install-windows.mdx
Labels: content, from_tw

#18505 docs: `exclude_matching_metrics` config option for infrastructure-agent
  src/content/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/no-data-appears-infrastructure.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infra-hosts-ui-page.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-hosts-page.mdx
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-ui-entities.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/content/docs/infrastructure/new-relic-infrastructure/infrastructure-alert-conditions/alert-infrastructure-processes.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-optimize-ingest-guide.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1120.mdx
  src/i18n/content/es/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/no-data-appears-infrastructure.mdx
  src/i18n/content/es/docs/infrastructure/infrastructure-ui-pages/infra-hosts-ui-page.mdx
  src/i18n/content/es/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/i18n/content/es/docs/infrastructure/new-relic-infrastructure/infrastructure-alert-conditions/alert-infrastructure-processes.mdx
  src/install/elasticsearch/default-install-linux.mdx
  src/install/elasticsearch/find-data.mdx
  src/install/elasticsearch/linux/install-apt.mdx
  src/install/elasticsearch/linux/install-linux.mdx
  src/install/elasticsearch/linux/install-yum.mdx
  src/install/elasticsearch/linux/install-zypper.mdx
  src/install/elasticsearch/whatsNext.mdx
  src/install/elasticsearch/windows/install-msi.mdx
  src/install/elasticsearch/windows/install-windows.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal

#18559 docs:hybrid docs update for default configuration
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
Labels: content, from_internal

#18561 chore: add Node.js Agent v12.3.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-3-1.mdx
Labels: content, from_internal

#18563 Browser Agent v1.265.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.265.0.mdx
Labels: content, from_internal

#18567 chore(apm/php): update Joomla compatibility
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#18564 docs: Add in release notes for version 6.7.0 of the iOS mobile app.
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6070.mdx
Labels: content, from_internal

#18577 fix(Style Guide): Fixed error in the navigation file
  src/nav/style-guide.yml
Labels: content, from_tw

#18570 Accounts: Add multi-tenancy docs
  src/content/docs/accounts/accounts-billing/account-structure/multi-tenancy/delegated-administration.mdx
  src/content/docs/accounts/accounts-billing/account-structure/multi-tenancy/intro-to-multi-tenancy.mdx
  src/content/docs/accounts/accounts-billing/account-structure/multi-tenancy/org-creation.mdx
  src/content/docs/accounts/accounts-billing/account-structure/multi-tenancy/share-accounts.mdx
  src/nav/accounts.yml
  static/images/accounts_diagram_high-touch-no-view.webp
  static/images/accounts_diagram_high-touch-overview.webp
  static/images/accounts_diagram_low-touch-overview.webp
  static/images/accounts_diagram_multi-tenancy-overview.webp
Labels: content, from_tw

#18414 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18409 Update nerdgraph-synthetics-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
Labels: content, from_external

#18579 docs: Clarify AWS cross account setup
  src/content/docs/infrastructure/amazon-integrations/connect/aws-multi-account.mdx
Labels: content, from_internal

#18542 Update kubernetes-summary-page.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/kubernetes-summary-page.mdx
Labels: content, from_internal

#18585 feat(Docs): Draft release notes
  src/content/docs/release-notes/docs-release-notes/docs-9-6-2024.mdx
Labels: content, from_tw

#18581 docs: add cordova release notes
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-701.mdx
Labels: content, from_internal

#18590 Browser Agent v1.265.1 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.265.1.mdx
Labels: content, from_internal

#18580 [NR-298871] Android NDK agent release notes update due to incompatibility
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-ndk-112.mdx
Labels: content, from_internal

#18583 Create new-relic-android-52402.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-52402.mdx
Labels: content, from_internal

#18589 Logs: Clarify warning about reserved attributes
  src/content/docs/logs/log-api/log-event-data.mdx
Labels: content, from_tw

#18587 Update dashboards-charts-import-export-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
Labels: content, from_internal

#18513 fix(mobile): Flutter doc improvements
  src/content/docs/browser/browser-integrations/flutter-web-integration.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-unity/monitor-your-unity-application.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
Labels: content, from_tw

#18592 Update additional section that references log partitions
  src/content/docs/tutorial-manage-large-log-volume/organize-large-logs.mdx
Labels: content, from_internal

#18568 Feat: AWS Application Migration Services docs
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-application-migration-services-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#18566 feat(browser): LP to PP release of browser SPA
  src/content/docs/browser/single-page-app-monitoring/get-started/browser-spa-v2.mdx
  src/nav/browser.yml
Labels: content, from_tw

#18601 Describe AWS monitoring and source accounts for AWS cross account
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-billing-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-multi-account.mdx
Labels: content, from_internal

#18605 Extend NR's EOL of FID to end of 2024
  src/content/whats-new/2024/08/whats-new-8-01-eol-fid.md
Labels: content, from_internal

#18603 Chore: minor changes to ams
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-application-migration-service-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#18597 fix(OTEL): add missing parentheses
  src/content/docs/opentelemetry/best-practices/opentelemetry-best-practices-traces.mdx
Labels: content, from_tw

#18573 fix: [NR-171881] Clearly indicate FedRAMP is not supported for AWS Kinesis Firehose
  src/content/docs/logs/forward-logs/stream-logs-using-kinesis-data-firehose.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp.mdx
Labels: content, from_internal

#18540 (9/9/24) fix: Update vmware-tanzu-firehose-nozzle-integration.mdx
  src/content/docs/infrastructure/other-infrastructure-integrations/cloudfoundry-integrations/vmware-tanzu-firehose-nozzle-integration.mdx
Labels: content, from_internal

#18608 feat(SyntheticsFirefox): Added proxy support
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/set-proxy-settings-properties-scripted-monitors.mdx
Labels: content, from_internal

#18610 Update downgradecancel-account.mdx
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
Labels: content, from_internal

#18574 (Merge 9/10 AM) Update dashboard-template-variables.mdx to include information about the "Include variable" new feature
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
Labels: content, from_internal

#18595 (Merge 9/10 AM) Whats new insight variable
  src/content/whats-new/2024/09/whats-new-09-07-include-variable.md
  static/images/include_variable1.webp
  static/images/include_variable2.webp
Labels: content, from_internal

#18615 style(Dashboards): Added steps component and TW edits
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
Labels: content, from_tw

#18617 nb extra release template variables
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/content/whats-new/2024/09/whats-new-09-07-include-variable.md
  static/images/include_variable1.webp
  static/images/include_variable2.webp
Labels: content, from_tw

#18584 fix(Dashboards): Updated Chart refresh rates
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-refresh-rates.mdx
  static/images/crop-insights-histogram-chart.webp
  static/images/dashboards_screenshot-crop_choose-null-values.webp
  static/images/dashboards_screenshot-crop_customize-chart-units.webp
  static/images/dashboards_screenshot-crop_dashboard-chart-color.webp
  static/images/queries-nrql_screenshot-crop_area-type-chart.webp
  static/images/queries-nrql_screenshot-crop_bullet-type-chart.webp
  static/images/queries-nrql_screenshot-crop_heatmap-chart.webp
  static/images/queries-nrql_screenshot-crop_refresh-rate.webp
  static/images/queries-nrql_screenshot-full_chart-type.webp
  static/images/queries-nrql_screenshot-full_custom-chart-date-format.webp
  static/images/queries-nrql_screenshot-full_custom-chart-decimals.webp
  static/images/queries-nrql_screenshot-full_custom-chart-legend.webp
  static/images/queries-nrql_screenshot-full_custom-chart-others.webp
  static/images/queries-nrql_screenshot-full_custom-chart-timestamp.webp
Labels: content, from_tw

#18626 Update_parsing_docs_regex_support
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#18621 Accounts: Change max duration
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/nrql/using-nrql/rate-limits-nrql-queries.mdx
Labels: content, from_tw

#18622 Update manage-accounts-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/examples/manage-accounts-nerdgraph.mdx
Labels: content, from_internal

#18624 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18633 fix(OTEL): typo
  src/content/docs/opentelemetry/best-practices/opentelemetry-best-practices-traces.mdx
Labels: content, from_tw

#18632 fix(Synthetics): Minor style guide edit
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/set-proxy-settings-properties-scripted-monitors.mdx
Labels: content, from_tw

#18598 Target to release 9/10/24 - Android agent v7.6.0 release notes and feature flags
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-760.mdx
Labels: content, from_internal

#18630 fix(K8s): Fixed a couple of minor style guide things
  src/content/docs/apm/apm-ui-pages/monitoring/kubernetes-summary-page.mdx
Labels: content, from_tw

#18636 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18637 chore: add Node.js Agent v12.4.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-4-0.mdx
Labels: content, from_internal

#18638 fix(Licenses): Fixed a broken link
  src/content/docs/licenses/product-or-service-licenses/new-relic-developer-edition/developer-program.mdx
Labels: content, from_tw

#18613 chore: catch up release notes for sjm and runtimes
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-403.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-404.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.86.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.88.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.94.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.4.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.7.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.46.0.mdx
Labels: content, from_internal

#18607 fix(Android): removing duplicate sentence
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-agent-gradle.mdx
Labels: content, from_tw

#18606 fix(Node.js): Clarifying note
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_tw

#18602 fix(K8s): Fixed typo errors
  src/content/docs/apm/apm-ui-pages/monitoring/kubernetes-summary-page.mdx
Labels: content, from_tw

#18629 fix(AWS): Fixed some non-standard procedural steps
  src/content/docs/infrastructure/amazon-integrations/connect/aws-multi-account.mdx
Labels: content, from_tw

#18525 docs(dotnet): Update Oracle compatibility
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#18639 chore: Updates PHP api docs for newrelic_notice_error()
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_notice_error.mdx
Labels: content, from_internal

#18651 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_tw, documentation

#18652 chore: add Node.js Agent v12.5.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-5-0.mdx
Labels: content, from_internal

#18653 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#18654 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#18657 chore: Update .NET compatibility/support docs with latest tested versions of instrumented libraries
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#18655 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#18631 fix(Browser): Swapped upgraded for updated
  src/content/docs/browser/single-page-app-monitoring/get-started/browser-spa-v2.mdx
Labels: content, from_tw

#18660 Updated envoy and nextcloud documentation
  src/content/docs/infrastructure/host-integrations/host-integrations-list/envoy-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nextcloud-integration.mdx
Labels: content, from_internal

#18659 docs: updated release notes and amazon linux 2023 arm64 docs
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/release-notes/logs-release-notes/logs-24-09-11.mdx
Labels: content, from_internal

#18662 Docs release notes 9 13 24
  src/content/docs/release-notes/docs-release-notes/docs-9-13-2024.mdx
Labels: content, from_tw

#18623 Whats new 9 12 alerts enhancements
  src/content/whats-new/2024/09/alerts-slack-notification-enhancements.md
  static/images/slack-channel-broadcast.png
  static/images/slack-notification-overrides-checkbox.png
Labels: content, from_tw

#18643 chore(WN): fixes to EOL announcement formatting
  src/content/whats-new/2024/08/whats-new-8-01-eol-fid.md
Labels: content, from_tw

#18663 fix(.NET): fixing old references to core/framework
  src/content/docs/ai-monitoring/compatibility-requirements-ai-monitoring.mdx
  src/content/docs/apm/agents/manage-apm-agents/configuration/support-arm-graviton-x86-64.mdx
  src/content/docs/apm/agents/net-agent/azure-installation/debugging-agent-azure.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/getting-started/introduction-new-relic-net.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/net-agent/installation/update-net-agent.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/debugging-net-windows.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-83500.mdx
  src/content/docs/release-notes/docs-release-notes/docs-4-12-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-5-24-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-5-3-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-6-14-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-6-21-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-7-12-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-7-19-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-8-2-2024.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr20-01.mdx
Labels: content, from_tw

#18649 fix(browser): replace (new) with "Preview" label
  src/nav/browser.yml
Labels: content, from_tw

#18644 feat(nri-vsphere): update docs to match previous page
  src/install/config/vsphere.yaml
  src/install/vsphere/default-requirements.mdx
  src/install/vsphere/intro.mdx
  src/install/vsphere/linux/install-apt.mdx
  src/install/vsphere/linux/install-yum.mdx
  src/install/vsphere/linux/install-zypper.mdx
  src/install/vsphere/prepare.mdx
  src/install/vsphere/users.mdx
Labels: content, from_internal

#18656 Update whats-new-8-01-eol-fid.md
  src/content/whats-new/2024/08/whats-new-8-01-eol-fid.md
Labels: content, from_internal

#18667 fix(Docs): Fixed broken link
  src/content/docs/release-notes/docs-release-notes/docs-9-13-2024.mdx
Labels: content, from_tw

#18666 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18664 fix: Updated nextcloud documentation
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nextcloud-integration.mdx
Labels: content, from_internal

#18677 chore: add infra-agent 1.57.1 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1571.mdx
Labels: content, from_internal

#18676 Update to aws-logs-ingestion Lambda function
  src/content/docs/release-notes/logs-release-notes/logs-24-09-12.mdx
  src/install/aws-logs/cloudwatch/basic-cloudwatch.mdx
Labels: content, from_internal

#18681 chore(Docs): Added akristen back to auto-reviewer list
  .github/auto_assign.yml
Labels: from_tw

#18678 feat(whats-new): fixing md images in whats new post from 9/12
  src/content/whats-new/2024/09/alerts-slack-notification-enhancements.md
Labels: content, from_tw

#18682 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18576 feat(Alerts): Updated the Muting rules: Suppress notifications doc
  src/content/docs/alerts/get-notified/muting-rules-suppress-notifications.mdx
  static/images/alerts_screenshot-crop_incidents-muted-icon.webp
  static/images/alerts_screenshot-crop_issue-critical-incident-muted.webp
  static/images/alerts_screenshot-crop_issues-muted-icon.webp
  static/images/alerts_screenshot-crop_schedule-muting window.webp
  static/images/alerts_screenshot-crop_suppress-notifications.webp
  static/images/alerts_screenshot-crop_violation-filter.webp
  static/images/alerts_screenshot-full_muting-rules.webp
Labels: content, from_tw

#18673 [9/17] feat(whats-new): add refresh rates post
  src/content/whats-new/2024/09/whats-new-09-17-chart-refresh-rate.md
Labels: content, from_internal

#18671 Removing inaccurate datacenter note
  src/content/docs/alerts/overview.mdx
Labels: content, from_internal

#18696 feat(apm): update api docs to go to helpful places
  src/content/docs/logs/logs-context/annotate-logs-logs-context-using-apm-agent-apis.mdx
Labels: content, from_tw

#18697 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#18689 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18688 Browser Agent v1.266.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.266.0.mdx
Labels: content, from_internal

#18687 fix(K8s): Fixed title case according to our style guide
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/deprecation-notice-kubernetes-v17-or-lower.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-1110.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-1160.mdx
  src/content/docs/tutorial-kubernetes-learn/tutorial-k8s-intro.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/i18n/content/es/docs/tutorial-kubernetes-learn/tutorial-k8s-intro.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/i18n/content/jp/docs/tutorial-kubernetes-learn/tutorial-k8s-intro.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/i18n/content/kr/docs/tutorial-kubernetes-learn/tutorial-k8s-intro.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/i18n/content/pt/docs/tutorial-kubernetes-learn/tutorial-k8s-intro.mdx
Labels: content, from_tw

#18701 fix(Alerts): Reverting modifications, the feature is not live yet
  src/content/docs/alerts/get-notified/muting-rules-suppress-notifications.mdx
Labels: content, from_tw

#18691 Refactor links
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/accounts/original-accounts-billing/original-users-roles/user-migration.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/apis/nerdgraph/get-started/nerdgraph-explorer.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/first-chart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/custom-visualizations/build-visualization.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nerdpack-file-structure.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nerdstorage.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nerdstoragevault.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nr1-cli/nr1-common.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/query-and-store-data.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/intro-to-sdk.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/new-relic-solutions/new-relic-one/build-nr-apps/serve.mdx
  src/content/docs/new-relic-solutions/new-relic-one/build-nr-apps/set-up-dev-env.mdx
  src/content/docs/new-relic-solutions/tutorials/build-hello-world-app.mdx
  src/content/docs/new-relic-solutions/tutorials/build-react-hooks-app.mdx
  src/content/docs/new-relic-solutions/tutorials/customize-nerdpacks.mdx
  src/content/docs/new-relic-solutions/tutorials/map-pageviews-region.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/content/whats-new/2020/10/store-data-encrypted-storage-solution-nerdstoragevault.md
Labels: content, from_internal

#18684 fix(K8s): Updated the See your data section
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  static/images/kubernetes_screenshot-crop_control-plane.webp
Labels: content, from_tw

#18642 [9/18] Whats new logs in context in kubernetes deployments
  src/content/whats-new/2024/09/whats-new-09-11-logs-in-context-in-kubernetes-deployments
  static/images/WhatsNewLogsInContextKubernetesDeployment.webp
  static/images/WhatsNewMiniOverviewWidgetInKubernetesDeploymentSummaryPage.webp
Labels: content, from_internal

#18690 add ocsf integration
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ocsf-integration.mdx
  src/nav/infrastructure.yml
  static/images/infrastructure_screenshot-full_ocsf-dashboard.webp
Labels: content, from_internal

#18700 NR-307459 Added a section about watchOS compatibility
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/get-started/new-relic-ios-compatibility-requirements.mdx
Labels: content, from_internal

#18705 chore: format codeblock
  src/content/docs/codestream/observability/code-level-metrics.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-cosmos-db-document-db-monitoring-integration.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/private-locations-overview-monitor-internal-sites-add-new-locations.mdx
Labels: content, from_internal

#18704 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18716 fix(K8s): fixing what's new
  src/content/whats-new/2024/09/whats-new-09-11-logs-in-context-in-kubernetes-deployments.md
Labels: content, from_tw

#18718 fix(K8s): last fix
  src/content/whats-new/2024/09/whats-new-09-11-logs-in-context-in-kubernetes-deployments.md
Labels: content, from_tw

#18725 fix(K8s): fixing date
  src/content/whats-new/2024/09/whats-new-09-18-logs-in-context-in-kubernetes-deployments.md
Labels: content, from_tw

#18713 docs:hybrid update release and Log Instrumentation Documentation
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/mobile-sdk-api-guide.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-152.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-702.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-113.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-145.mdx
Labels: content, from_internal

#18720 fix(Infra): Fixed capitalization
  src/nav/infrastructure.yml
Labels: content, from_tw

#18709 chore(Docs): Added Abhilash and removed Bradley from the auto-reviewe…
  .github/auto_assign.yml
Labels: from_tw

#18714 chore: clarify storage sample docs (NR-312536)
  src/content/docs/infrastructure/manage-your-data/data-instrumentation/default-infrastructure-monitoring-data.mdx
Labels: content, from_internal

#18703 fix(All site): Fixed urls, format and missing /
  src/content/docs/alerts/create-alert/condition-details/title-template.mdx
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/api-guides/guide-using-nodejs-agent-api.mdx
  src/content/docs/apm/agents/ruby-agent/api-guides/ruby-custom-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/api-guides/sending-handled-errors-new-relic.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/log.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/wraplogger.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/browser-spa-v2.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
  src/content/docs/distributed-tracing/ui-data/related-trace-entity-signals.mdx
  src/content/docs/errors-inbox/browser-tab.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/temporal-cloud-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/temporal-monitoring-integration.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/other-infrastructure-integrations/cloudfoundry-integrations/vmware-tanzu-service-broker-integration.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-developer-edition/developer-program-resources.mdx
  src/content/docs/logs/get-started/live-archives.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/customize-nrql.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/navigation.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/nerdstorage.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/nerdstoragevault.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/nrql.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/third-party-data.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/custom-visualizations/add-to-dashboard-nerdgraph.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/query-and-store-data.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/query-and-storage/NrqlQuery.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/find-help-get-support.mdx
  src/content/docs/new-relic-solutions/tutorials/add-tables.mdx
  src/content/docs/new-relic-solutions/tutorials/attach-nerdlet-entity.mdx
  src/content/docs/new-relic-solutions/tutorials/map-pageviews-region.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-manage-data-ingest-volume.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-otlp.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
Labels: content, from_tw

#18727 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#18723 chore: update alert link, backticks around nrql
  src/content/docs/infrastructure/elastic-container-service-integration/ecs-integration-recommended-alert-conditions.mdx
  src/content/docs/infrastructure/new-relic-infrastructure/infrastructure-alert-conditions/rest-api-calls-new-relic-infrastructure-alerts.mdx
Labels: content, from_internal

#18712 feat(RuntimeUpgrade): Added additional troubleshooting scenarios
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/runtime-upgrade-troubleshooting.mdx
Labels: content, from_internal

#18707 feat(Docs): Draft release notes
  src/content/docs/release-notes/docs-release-notes/docs-9-20-2024.mdx
Labels: content, from_tw

#18717 feat: Added databricks integration docs
  src/content/docs/infrastructure/other-infrastructure-integrations/databricks-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#18730 feat(OHI OCSF): exploded the OCSF acronym
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ocsf-integration.mdx
Labels: content, from_tw

#18728 fix(.NET): fixing links in compatibility doc
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_tw

#18692 feat(errors): new request errors page for mobile monitoring
  src/content/docs/errors-inbox/group-request-errors.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/http-errors-page.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/introduction-mobile-monitoring.mdx
  src/i18n/content/es/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/http-errors-page.mdx
  src/i18n/content/jp/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/http-errors-page.mdx
  src/i18n/content/kr/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/http-errors-page.mdx
  src/i18n/content/pt/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/http-errors-page.mdx
  src/nav/errors-inbox.yml
  src/nav/mobile-monitoring.yml
  static/images/errors-inbox_screenshot-crop_group-request-errors-tab.webp
  static/images/errors-inbox_screenshot-crop_request-errors-attributes.webp
  static/images/errors-inbox_screenshot-crop_request-errors-details-page.webp
  static/images/errors-inbox_screenshot-crop_request-errors-distributed-trace.webp
  static/images/errors-inbox_screenshot-crop_request-errors-event-trail.webp
  static/images/errors-inbox_screenshot-crop_request-errors-overview.webp
  static/images/errors-inbox_screenshot-crop_request-errors-profiles.webp
  static/images/errors-inbox_screenshot-crop_request-errors-response.webp
  static/images/errors-inbox_screenshot-crop_request-errors-triage-page.webp
Labels: content, from_tw

#18722 Updating intro to AWS doc
  src/content/docs/infrastructure/amazon-integrations/connect/cloudwatch-metric-streams/aws-metric-stream-setup.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/cloudwatch-metric-streams/aws-metric-stream.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/connect-aws-govcloud-new-relic.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/ec2-quickstart.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/eks-add-on.mdx
  src/content/docs/infrastructure/amazon-integrations/get-started/aws-integrations-metrics.mdx
  src/content/docs/infrastructure/amazon-integrations/get-started/integrations-managed-policies.mdx
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
  src/content/docs/infrastructure/amazon-integrations/manage-aws-data/aws-integrations-metrics.mdx
  src/content/docs/infrastructure/amazon-integrations/manage-aws-data/aws-multi-account.mdx
  src/content/docs/infrastructure/amazon-integrations/manage-aws-data/polling-intervals-aws-integrations.mdx
  src/i18n/content/es/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/i18n/content/es/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
  src/i18n/content/es/docs/infrastructure/amazon-integrations/connect/aws-multi-account.mdx
  src/i18n/content/es/docs/infrastructure/amazon-integrations/connect/polling-intervals-aws-integrations.mdx
  src/i18n/content/es/docs/infrastructure/amazon-integrations/get-started/aws-integrations-metrics.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/connect/aws-multi-account.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/connect/polling-intervals-aws-integrations.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/connect/aws-multi-account.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/connect/polling-intervals-aws-integrations.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/get-started/aws-integrations-metrics.mdx
  src/i18n/content/pt/docs/infrastructure/amazon-integrations/connect/aws-metric-stream-setup.mdx
  src/i18n/content/pt/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
  src/i18n/content/pt/docs/infrastructure/amazon-integrations/connect/aws-multi-account.mdx
  src/i18n/content/pt/docs/infrastructure/amazon-integrations/connect/polling-intervals-aws-integrations.mdx
  src/i18n/content/pt/docs/infrastructure/amazon-integrations/get-started/aws-integrations-metrics.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#18741 chore: add Node.js Agent v12.5.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-5-1.mdx
Labels: content, from_internal

#18740 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#18755 Add AWS Firehose troubleshooting docs
  src/content/docs/infrastructure/amazon-integrations/troubleshooting/no-data-metric-streams.mdx
Labels: content, from_internal

#18762 fix(infra-agent): failed releases note
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1570.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1571.mdx
Labels: content, from_internal

#18765 Infra Agent 1.57.2 Release Notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1572.mdx
Labels: content, from_internal

#18742 NR-305631 iOS agent 7.5.2 release notes Release Wednesday 9/25/24
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-752.mdx
Labels: content, from_internal

#18779 feat(security): add new section
  src/content/docs/security/security-privacy/data-privacy/data-privacy-new-relic.mdx
  static/images/nr1_screenshot-full_Find-user-activity-data-in-Metrics-and-events.webp
  static/images/nr1_screenshot-full_Find-user-activity-data-in-nrql.webp
Labels: content, from_tw

#18745 updating Microsoft SQL integration including contributor edits
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/i18n/content/es/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-config.mdx
  src/i18n/content/es/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-config.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-config.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/i18n/content/pt/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-config.mdx
  src/i18n/content/pt/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
  src/install/config/microsoft-sql.yaml
  src/install/microsoft-sql/appInfo.mdx
  src/install/microsoft-sql/default-install.mdx
  src/install/microsoft-sql/default-requirements.mdx
  src/install/microsoft-sql/enable/default.mdx
  src/install/microsoft-sql/enable/gmsa.mdx
  src/install/microsoft-sql/enable/sql.mdx
  src/install/microsoft-sql/enable/windows-domain.mdx
  src/install/microsoft-sql/install-infra.mdx
  src/install/microsoft-sql/intro.mdx
  src/install/microsoft-sql/linux/install-apt.mdx
  src/install/microsoft-sql/linux/install-linux.mdx
  src/install/microsoft-sql/linux/install-tarball.mdx
  src/install/microsoft-sql/linux/install-yum.mdx
  src/install/microsoft-sql/linux/install-zypper.mdx
  src/install/microsoft-sql/whatsNext.mdx
Labels: content, from_tw

#18524 chore: minor corrections/typos
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/alerts/create-alert/create-alert-condition/create-nrql-alert-conditions.mdx
  src/content/docs/infrastructure/infrastructure-integrations/get-started/understand-use-data-infrastructure-integrations.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
Labels: content, from_internal

#18766 Update screenshot errors inbox
  src/content/docs/errors-inbox/error-users-impacted.mdx
  static/images/errors-inbox_screenshot-full_users-impacted.webp
Labels: content, from_tw

#18683 feat(K8s): Updated the Configure and deploy the OpenTelemetry collect…
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-otel-applications-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  static/images/kubernetes_screenshot-crop_navigator-toggle.webp
Labels: content, from_tw

#18729 fix(Dashboards): calling out broken billboard chart issue
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
Labels: content, from_tw

#18789 fix(on-host): Replace cp with copy for Windows instructions
  src/content/docs/infrastructure/host-integrations/host-integrations-list/couchbase-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/hashicorp-consul-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nagios-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/varnish-cache-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
  src/install/postgresql/windows/install-windows.mdx
  src/install/rabbitmq/windows/install-windows.mdx
Labels: content, from_tw

#18735 Add python agent release notes for 10.0.0 - PLEASE MERGE SEPTEMBER 27th 2024 AM
  src/content/docs/apm/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
  src/content/docs/apm/agents/python-agent/hosting-services/install-python-agent-gae-flexible-environment.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/initialize-python-agent-api.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-100000.mdx
Labels: content, from_internal

#18710 feat(Alerts): Updated the Muting rules: Suppress notifications doc
  src/content/docs/alerts/get-notified/muting-rules-suppress-notifications.mdx
Labels: content, from_tw

#18774 Update set-max-offline-storage.mdx (updating the feature flag command from disable to enable)
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-offline-storage.mdx
Labels: content, from_internal

#18778 feat(whats-new): add cardinality management post
  src/content/whats-new/2024/09/whats-new-09-30-cardinality-management.md
Labels: content, from_internal

#18495 feat(K8s): Updating the K8s troubleshooting section
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/errors.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/troubleshooting.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/troubleshooting/missing-nodes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/upgrade-v2.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/common-error-messages/error-messages.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/common-error-messages/error-sending-events.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/common-error-messages/failed-discover-kube.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/common-error-messages/installation-error-dockerhub-registry.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/common-error-messages/invalid-nr-license.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/common-error-messages/pod-not-starting.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/common-error-messages/repo-newrelic-not-found.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/common-error-messages/unable-connect-server.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/helm-configurations-not-applied.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/issues-with-istio.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-error-messages.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-missing-nodes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-not-seeing-data.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/missing-nodes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-control-plane-data.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-data.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/overview.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/troubleshooting/missing-nodes.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-error-messages.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/missing-nodes.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-data.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/troubleshooting/missing-nodes.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-error-messages.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/missing-nodes.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-data.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/troubleshooting/missing-nodes.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-error-messages.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/missing-nodes.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-data.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/troubleshooting/missing-nodes.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-error-messages.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/missing-nodes.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-data.mdx
  src/install/kubernetes/find-data.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_tw

#18736 data-and-apis: Add cardinality UI page
  src/content/docs/data-apis/ingest-apis/metric-api/cardinality-management.mdx
  src/nav/telemetry-data-platform.yml
  static/images/apis-and-data_screenshot-crop_metric-attributes.webp
  static/images/apis-and-data_screenshot-crop_metric-cardinality-breakdown.webp
  static/images/apis-and-data_screenshot-crop_metrics-table.webp
  static/images/apis-and-data_screenshot-crop_name-pruning-rule.webp
  static/images/apis-and-data_screenshot-crop_select-attributes-for-pruning-rule.webp
  static/images/apis-and-data_screenshot-crop_usage-over-time.webp
  static/images/apis-and-data_screenshot-crop_view-pruning-rules.webp
Labels: content, from_tw

#18787 chore(styleGuide): add OpenTelemetry to product capitalization
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_tw

#18769 chore:Add compatibility notes for .NET Memcached support.
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#18796 fix(docs): update integrations & agents reference
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nvidia-triton-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/recommended-alert-policy.mdx
  src/install/kubernetes/prebuilt-resources.mdx
Labels: content, from_tw

#18754 Add in release mobile app for iOS 6.8.0 release notes
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6080.mdx
Labels: content, from_internal
