Repository newrelic/docs-website, pull requests merged in 2024-05, with the labels that each got.

#17153 fix(Docs): Removed trailing slashes from nav
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#17134 APM Java agent: Link to the storefront report about Java usage
  src/content/docs/apm/agents/java-agent/getting-started/introduction-new-relic-java.mdx
Labels: content, from_tw

#17108 Kubernetes: Add persistence setting
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_tw

#17162 chore: Update compatible versions for several supported frameworks
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#17164 Go agent 3.33
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-33-0.mdx
Labels: content, from_internal

#17167 update: Webassembly syntax
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Labels: content, from_internal

#17157 chore(errorsInbox): update screenshots at PM request
  src/content/docs/errors-inbox/apm-tab.mdx
  src/images/apm_screenshot-full_attribute_profiles.webp
  src/images/apm_screenshot-full_error-profiles_2.webp
  src/images/apm_screenshot-full_group-errors-tab.webp
  src/images/apm_screenshot-full_triage-errors.webp
  src/images/errors-inbox_screenshot-crop_error-context.webp
  src/images/errors-inbox_screenshot-crop_expected-errors-tag.webp
  src/images/errors-inbox_screenshot-crop_regression-errors.webp
  src/images/errors-inbox_screenshot-crop_trace-for-error.webp
  src/images/errors-inbox_screenshot-full_assign-users.webp
  src/images/errors-inbox_screenshot-full_bulk-actions.webp
  src/images/errors-inbox_screenshot-full_create-a-workload-step-1.webp
  src/images/errors-inbox_screenshot-full_create-a-workload-step-2.webp
  src/images/errors-inbox_screenshot-full_create-a-workload-step-3.webp
  src/images/errors-inbox_screenshot-full_global-view.webp
  src/images/errors-inbox_screenshot-full_scoped-view.webp
Labels: content, from_tw

#17179 fix(style guide): fixing dollar signs
  src/content/docs/style-guide/ui-writing/numbers-dates-and-times.mdx
Labels: content, from_tw

#16902 Licenses: Add EU reference to CCUs
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
Labels: content, from_tw

#17154 feat: Added s3 storage lens docs
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-s3-storagelens-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#17180 fix(browser): removing old errors inbox link/replacing with new link
  src/content/docs/browser/new-relic-browser/browser-pro-features/upload-source-maps-api.mdx
Labels: content, from_tw

#17171 fix(serverless): adding redirect
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/containerized-images.mdx
Labels: content, from_tw

#17176 chore(browser): remove old troubleshooting doc
  src/content/docs/browser/new-relic-browser/troubleshooting/view-detailed-error-logs-browser.mdx
  src/content/docs/errors-inbox/browser-tab.mdx
  src/i18n/content/es/docs/browser/new-relic-browser/troubleshooting/view-detailed-error-logs-browser.mdx
  src/i18n/content/es/docs/errors-inbox/browser-tab.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/troubleshooting/view-detailed-error-logs-browser.mdx
  src/i18n/content/jp/docs/errors-inbox/browser-tab.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/troubleshooting/view-detailed-error-logs-browser.mdx
  src/i18n/content/kr/docs/errors-inbox/browser-tab.mdx
  src/i18n/content/pt/docs/browser/new-relic-browser/troubleshooting/view-detailed-error-logs-browser.mdx
  src/i18n/content/pt/docs/errors-inbox/browser-tab.mdx
  src/nav/browser.yml
Labels: content, from_tw

#17174 fix(mobile): add hybrid agents to mobile landing page
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/introduction-mobile-monitoring.mdx
Labels: content, from_tw

#17155 fix(ConfigDocs): Modified doc structure
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Labels: content, from_internal

#17139 fix: dynamically set text width based on parent width
  src/components/ProductTile.js
Labels: eng

#17196 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#17197 docs: infrastructure-agent 1.52.1 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1521.mdx
Labels: content, from_internal

#17177 fix(charts): add link to import/share charts doc
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
Labels: content, from_tw

#17194 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#17202 feat: added examples of API usage
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
Labels: content, from_internal

#17145 PHP Agent 10.20.0 release (5/6/2024)
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/features/browser-monitoring-php-agent.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/drupal-specific-functionality.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/wordpress-specific-functionality.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-20-0-10.mdx
Labels: content, from_internal

#17161 What's new: Add images directories and insert .gitkeep files
  src/content/whats-new/2024/05/images/.gitkeep
  src/content/whats-new/2024/06/images/.gitkeep
  src/content/whats-new/2024/07/images/.gitkeep
  src/content/whats-new/2024/08/images/.gitkeep
  src/content/whats-new/2024/09/images/.gitkeep
  src/content/whats-new/2024/10/images/.gitkeep
  src/content/whats-new/2024/11/images/.gitkeep
  src/content/whats-new/2024/12/images/.gitkeep
Labels: content, from_tw

#17190 fix: make content right padding wider, remove border on nav, fix footer
  src/components/Layout/Sidebar.js
  src/layouts/MainLayout.js
Labels: eng

#16955 fix(logs): Add information about Grok 'datetime' pattern strings
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#17204 chore: Update account-email-settings.mdx
  src/content/docs/accounts/accounts/account-maintenance/account-email-settings.mdx
Labels: content, from_internal

#17182 chore(mobile): add description of what build ids are
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-new-relic-gradle-plugin.mdx
Labels: content, from_tw

#17205 update: add CyberArk REST API details
  src/content/docs/infrastructure/host-integrations/installation/secrets-management.mdx
Labels: content, from_internal

#17119 feat: Added pages for java Vertx-eventbus and Vertx-extensions integration
  src/content/docs/more-integrations/java-integrations/vertx-eventbus-integration.mdx
  src/content/docs/more-integrations/java-integrations/vertx-extensions-integration.mdx
Labels: content, from_internal

#17169 Rework and consolidate OTLP configuration related pages
  CONTRIBUTING.md
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-attributes.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-batching.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-compression.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-overview.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-traces.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-versions.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-implementation-guide.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-otlp-troubleshooting.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-otlp.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-set-up-your-app.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-java.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-python.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-attributes.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-batching.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-compression.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-overview.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-versions.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-attributes.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-batching.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-compression.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-overview.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-versions.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-attributes.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-batching.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-compression.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-overview.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-versions.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-attributes.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-batching.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-compression.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-overview.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-versions.mdx
  src/nav/opentelemetry.yml
Labels: content, from_internal

#17208 fix: broken link, reformat some code blocks
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
Labels: content, from_internal

#17183 (Merge 5/7 EOD) Session Trace - Add billable banner, sampling, view consumption, and how to disable
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-traces-explore-webpages-life-cycle.mdx
  src/images/browser_screenshot-full_configure-session-trace-sampling-rate.webp
  src/images/browser_screenshot-full_daily-session-trace-consumption-query.webp
  src/images/browser_screenshot-full_monthly-session-trace-consumption-query.webp
  src/images/browser_screenshot-full_session-traces-index.webp
Labels: content, from_tw

#17222 always link to /whats-new/feed.xml
  src/pages/whats-new.js
Labels: eng

#17165 Page background color
  package.json
  src/layouts/HomePageLayout.js
  src/pages/index.js
  yarn.lock
Labels: eng

#17178 feat(ibmmq): clarify required persmissions
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ibmmq-monitoring-integration.mdx
Labels: content, from_internal

#17221 fix: Fix "CodeLense" typo
  src/content/docs/codestream/observability/query-builder.mdx
Labels: content, from_internal

#17234 fix(OTEL): move version support section to the bottom
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-otlp.mdx
Labels: content, from_tw

#17233 Browser Agent v1.259.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.259.0.mdx
Labels: content, from_internal

#17188 Improve OpenTelemetry entity documentation
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
Labels: content, from_internal

#17239 Revert "Improve OpenTelemetry entity documentation"
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
Labels: content, from_tw

#17242 "Improve OpenTelemetry entity documentation""
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
Labels: content, from_tw

#17237 feat(logs): Add descriptions of JSON action dropAttributes and isEscaped
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#16556 chore(docs): update kafka docs and related ones
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-install.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
  src/content/docs/infrastructure/host-integrations/installation/update-infrastructure-host-integration-package.mdx
  src/install/jmx/linux/install-linux.mdx
  src/install/jmx/windows/install-windows.mdx
  src/install/mysql/default-install-linux.mdx
  src/install/mysql/linux/install-linux.mdx
  src/install/mysql/windows/install-windows.mdx
Labels: content, from_internal

#17217 Update dashboard-template-variables rules
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
Labels: content, from_internal

#17220 (WHAT'S NEW: 5/8; time TBD): session traces
  src/content/whats-new/2024/05/images/whats-new-05-08-sessiontraces.md
Labels: content, from_internal

#17235 Update feedback and PageTools styles
  package.json
  src/components/InstallFeedback.js
  src/pages/attribute-dictionary.js
  src/pages/install/{installConfig.agentName}.js
  src/templates/docPage.js
  yarn.lock
Labels: eng

#17137 feat(Migration developer): Added account picker and button from SDK s…
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/controls/account-picker.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/controls/button.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/intro-to-sdk.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#17192 fix(global support): made first round of edits to this support doc
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_tw

#17241 chore: add notes on creating negative lookahead
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal

#17259 Update nerdgraph-api-workflows.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-workflows.mdx
Labels: content, from_internal

#17258 Update parsing.mdx
  src/content/docs/logs/ui-data/parsing.mdx
Labels: content, from_internal

#17200 fix(Docs): Cleaned up part of the nav
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#17215 PUBLISH: 5/10 Adding release notes for new cloud api validations
  src/content/docs/release-notes/infrastructure-release-notes/cloud-integration-release-notes/integrations-api-value-validations.mdx
Labels: content, from_internal

#17252 Update sonarqube-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/sonarqube-monitoring-integration.mdx
Labels: content, from_internal

#17077 Add missing install paths to nav
  src/nav/infrastructure.yml
Labels: content, from_tw

#17219 Unix and Port Monitoring integration migrations
  src/content/docs/infrastructure/host-integrations/host-integrations-list/port-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/unix-monitoring-integration.mdx
  src/images/infrastructure_screenshot-crop_port-monitoring-dashboard.webp
  src/images/infrastructure_screenshot-crop_unix-dashboard.webp
Labels: content, from_tw

#17256 fix: update nav id in webdriver references
  scripts/actions/webdriver-desktop.mjs
  scripts/actions/webdriver-mobile.mjs
Labels: eng

#17253 generate RSS feed at i18n paths
  plugins/gatsby-plugin-whats-new-rss/gatsby-node.js
Labels: eng

#16922 Update manage-data-retention.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_internal

#17264 fix: Correct urls
  src/content/docs/errors-inbox/otel-tab.mdx
Labels: content, from_internal

#17267 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#17268 fix: wrap import in `""`
  src/content/docs/apm/agents/go-agent/installation/install-new-relic-go.mdx
Labels: content, from_internal

#17261 Various hero edits
  src/content/docs/logs/ui-data/parsing.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/containerized-images.mdx
Labels: content, from_internal

#17270 Add gov-aws-api.newrelic.com to fedramp endpoints
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_internal

#17279 Infra Agent 1.52.2 Release Notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1522.mdx
Labels: content, from_internal

#17251 fix(mobile): replace <DocTile> with <TechTile>, add new logos for hybrid platforms
  src/@newrelic/gatsby-theme-newrelic/icons/logo.js
  src/@newrelic/gatsby-theme-newrelic/icons/logo/capacitor.js
  src/@newrelic/gatsby-theme-newrelic/icons/logo/cordova.js
  src/@newrelic/gatsby-theme-newrelic/icons/logo/dotnet-maui.js
  src/@newrelic/gatsby-theme-newrelic/icons/logo/flutter.js
  src/@newrelic/gatsby-theme-newrelic/icons/logo/unity.js
  src/@newrelic/gatsby-theme-newrelic/icons/logo/unreal-engine.js
  src/@newrelic/gatsby-theme-newrelic/icons/logo/xamarin.js
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/introduction-mobile-monitoring.mdx
Labels: content, from_tw

#17286 Add in iOS apps release notes for 6.3.0 and 6.2.0
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6020.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6030.mdx
Labels: content, from_internal

#17284 fix(Unreal): add guided install section
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
Labels: content, from_tw

#17291 feat(Docs): Docs release notes May 3-9, 2024
  src/content/docs/release-notes/docs-release-notes/docs-5-10-2024.mdx
Labels: content, from_tw

#17288 (Update): Legal recommended changes to change-vulnerability-status.mdx
  src/content/docs/vulnerability-management/change-vulnerability-status.mdx
Labels: content, from_internal

#17285 fix(data-apis): Restore the table for data plus comparisons
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#17296 chore(errorsInbox): move version tracking content
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/content/docs/errors-inbox/version-tracking.mdx
  src/nav/errors-inbox.yml
Labels: content, from_tw

#17294 Browser Agent v1.260.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.260.0.mdx
Labels: content, from_internal

#17303 Update nerdgraph-cloud-integrations-api-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-cloud-integrations-api-tutorial.mdx
Labels: content, from_internal

#17304 Update hcp-consul-monitoring.mdx
  src/content/docs/infrastructure/infrastructure-integrations/cloud-integrations/hcp-consul-monitoring.mdx
Labels: content, from_internal

#17305 Revert "(PUBLISH: 5-14) Session replay GA"
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
Labels: content, from_internal, from_tw

#17307 (MERGE 5/15 9AM) feat(Browser): re-added session replay GA doc changes
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
Labels: content, from_internal, from_tw

#17312 Fixed typo in dashboards-charts-import-export-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
Labels: content, from_external

#17313 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#17276 (Publish 15 May 2024 at 9:00 AM) Logs: Add query time parsing rules
  src/content/docs/logs/ui-data/query-time-parsing.mdx
  src/images/logs_screenshot-crop_alert-query-builder.webp
  src/images/logs_screenshot-crop_delete-query-time-rule.webp
  src/images/logs_screenshot-crop_editor-shows-parsed-data-preview.webp
  src/images/logs_screenshot-crop_example-log-record-to-highlight.webp
  src/images/logs_screenshot-crop_extract-values-in-parser-rule.webp
  src/images/logs_screenshot-crop_nrql-behind-query-rule.webp
  src/images/logs_screenshot-crop_parsing-attributes-view.webp
  src/images/logs_screenshot-crop_query-behind-parsing-rule.webp
  src/images/logs_screenshot-crop_rule-manager.webp
  src/images/logs_screenshot-full_log-table-results.webp
  src/images/logs_screenshot-full_logs-detail-entry-point.webp
  src/images/logs_screenshot-full_logs-table-entry-point.webp
  src/images/logs_screenshot-full_open-query-time-parsing-editor.webp
  src/images/logs_screenshot-full_query-time-search-bar.webp
  src/images/logs_screenshot-full_view-results-in-log-details-view.webp
  src/nav/logs.yml
Labels: content, from_tw

#17316 style(k8s): Make "What's next?" the last section of doc
  src/content/docs/logs/forward-logs/kubernetes-plugin-log-forwarding.mdx
Labels: content, from_tw

#17318 Fix typos on OpenTelemetry APM Monitoring page
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-intro.mdx
Labels: content, from_internal

#17327 Whats new 05-16 Query Tabs
  src/content/whats-new/2024/05/images/query-tabs.webp
  src/content/whats-new/2024/05/whats-new-05-16-query-tabs.md
Labels: content, from_internal

#17320 Update opentelemetry-errors-inbox-page.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-errors-inbox-page.mdx
Labels: content, from_internal

#17333 fix: remove nav that doesn't exist any longer
  scripts/actions/webdriver-mobile.mjs
Labels: eng

#17308 Update message-templates.mdx
  src/content/docs/alerts-applied-intelligence/notifications/message-templates.mdx
Labels: content, from_internal

#17334 Adding patch notes for Synthetics Job Manager release-380, CPM releases 3.1.12 and 3.1.13
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3112.mdx
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3113.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-380.mdx
Labels: content, from_internal

#17330 Update azure-log-forwarding.mdx with size constraint
  src/content/docs/logs/forward-logs/azure-log-forwarding.mdx
Labels: content, from_internal

#17322 feat(Docs): Migrated content from developer to docs site
  src/content/docs/new-relic-solutions/tutorials/add-time-picker.mdx
  src/content/docs/new-relic-solutions/tutorials/attach-nerdlet-entity.mdx
  src/content/docs/new-relic-solutions/tutorials/customize-nerdpacks.mdx
  src/content/docs/new-relic-solutions/tutorials/manage-app-permissions.mdx
  src/content/docs/new-relic-solutions/tutorials/map-pageviews-region.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#17309 feat(Docs): Release notes May 10-16, 2024 (in progress)
  src/content/docs/release-notes/docs-release-notes/docs-5-17-2024.mdx
Labels: content, from_tw

#17275 add scripted api test
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-chrome-100.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests.mdx
Labels: content, from_internal

#17211 Update NR Customer-Facing Docs Hosting and data storage Sections
  src/content/docs/security/security-privacy/data-privacy/security-controls-privacy.mdx
Labels: content, from_internal

#17359 fix(security): fixing header and docs link
  src/content/docs/security/security-privacy/data-privacy/security-controls-privacy.mdx
Labels: content, from_tw

#17117 feat: Apache Mesos documentation
  src/content/docs/infrastructure/host-integrations/host-integrations-list/apache-mesos-integration.mdx
  src/images/infrastructure_screenshot_full-apache-mesos-dashboard.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#17356 docs: Simplify .NET agent install steps for YUM.
  src/install/dotnet/installation/linuxInstall2.mdx
Labels: content, from_internal

#17361 fix(errorsInbox): add missing "/" in Node.js link
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content, from_tw

#17351 User count queries section was missing a link label
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
Labels: content, from_internal

#17354 Add Python 3.12 to python agent compatibility docs.
  src/content/docs/apm/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
Labels: content, from_internal

#17310 chore(errorsInbox): replace light mode screenshots with dark mode
  src/content/docs/errors-inbox/errors-inbox.mdx
  src/images/errors-inbox_screenshot-crop_error-context2.webp
  src/images/errors-inbox_screenshot-crop_list-of-traces.webp
  src/images/errors-inbox_screenshot-full_users-impacted.webp
Labels: content, from_tw

#17357 feat(php): release 10.21.0.11
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-21-0-11.mdx
Labels: content, from_internal

#17297 chore(sessionReplay): update GIF, other fixes for GA
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/images/browser_screenshot-full_session-replay-details.gif
Labels: content, from_internal

#17321 chore: Update Node.js compatibility doc
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#17226 Create release note for android app update 5.18.0
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5180.mdx
Labels: content, from_internal

#17345 docs: Adds instructions for installing the .NET agent on AWS Elastic Beanstalk
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/install-guides/install-net-agent-on-aws-elastic-beanstalk.mdx
  src/nav/apm.yml
Labels: content, from_internal

#17370 (NR-270991) Add new regions to privatelink documentation
  src/content/docs/data-apis/custom-data/aws-privatelink.mdx
Labels: content, from_internal

#17378 fix(logs): fixing typo
  src/content/docs/logs/get-started/live-archives.mdx
Labels: content, from_tw

#17376 fix(severless): adding diagram and environment variables
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/containerized-images.mdx
  src/images/serverless_diagram_containerized-images-with-lambda.webp
Labels: content, from_tw

#17375 feat(Licenses): Added minor wording around the savings plan
  src/content/docs/licenses/license-information/usage-plans/new-relic-usage-plan.mdx
Labels: content, from_tw

#17366 feat(Docs): Developer site migration continues
  src/content/docs/new-relic-solutions/build-nr-ui/build-nr-app.mdx
  src/content/docs/new-relic-solutions/tutorials/add-nerdgraphquery.mdx
  src/content/docs/new-relic-solutions/tutorials/add-query-mutate-nerdstorage.mdx
  src/content/docs/new-relic-solutions/tutorials/add-tables.mdx
  src/content/docs/new-relic-solutions/tutorials/add-visualization-dashboard.mdx
  src/content/docs/new-relic-solutions/tutorials/custom-visualization-config.mdx
  src/content/docs/new-relic-solutions/tutorials/custom-visualization-sdk.mdx
  src/i18n/content/es/docs/new-relic-solutions/build-nr-ui/build-nr-app.mdx
  src/i18n/content/jp/docs/new-relic-solutions/build-nr-ui/build-nr-app.mdx
  src/i18n/content/kr/docs/new-relic-solutions/build-nr-ui/build-nr-app.mdx
  src/i18n/content/pt/docs/new-relic-solutions/build-nr-ui/build-nr-app.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#17374 delete eol v1
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/apis/rest-api-v1-eol/new-relic-rest-api-v1/working-new-relic-rest-api-v1-eol.mdx
  src/i18n/content/es/docs/apis/rest-api-v1-eol/new-relic-rest-api-v1/working-new-relic-rest-api-v1-eol.mdx
  src/i18n/content/jp/docs/apis/rest-api-v1-eol/new-relic-rest-api-v1/working-new-relic-rest-api-v1-eol.mdx
  src/i18n/content/kr/docs/apis/rest-api-v1-eol/new-relic-rest-api-v1/working-new-relic-rest-api-v1-eol.mdx
  src/i18n/content/pt/docs/apis/rest-api-v1-eol/new-relic-rest-api-v1/working-new-relic-rest-api-v1-eol.mdx
Labels: content, from_tw

#17385 add: instructions for CyberArk REST API for MSSQL
  src/content/docs/infrastructure/host-integrations/installation/secrets-management.mdx
Labels: content, from_internal

#17391 Update user-permissions.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
Labels: content, from_internal

#17289 feat(infra): Install infrastructure doc
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-ubuntu-debian.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-sys-dist.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postfix-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vmware-vsphere-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
  src/content/docs/infrastructure/host-integrations/infrastructure-integrations-sdk/specifications/host-integration-executable-file-json-specifications.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/choose-infra-install-method.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/infrastructure-agent-eol-policy.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/config-management-tools/configure-infrastructure-agent-using-ansible.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/container-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/container-instrumentation-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-configuration-management-tools.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/macos-installation/install-infrastructure-monitoring-agent-macos.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/install-infrastructure-monitoring-agent-windows.mdx
  src/content/docs/infrastructure/manage-your-data/data-instrumentation/default-infrastructure-monitoring-data.mdx
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
  src/content/docs/logs/logs-context/configure-logs-context-python.mdx
  src/content/docs/new-relic-solutions/new-relic-one/install-configure/configure-new-relic-agents.mdx
  src/content/docs/release-notes/logs-release-notes/logs-21-07-28.mdx
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
  src/i18n/content/es/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-sys-dist.mdx
  src/i18n/content/es/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent.mdx
  src/i18n/content/pt/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent.mdx
  src/images/infrastructure_screenshot-full_main_infra_hosts_ui.webp
  src/images/infrastructure_screenshot-overview.webp
  src/install/rabbitmq/ansible/requirements-ansible.mdx
  src/install/vsphere/whatsNext.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#17248 feat(temporal-cloud): Added new integration document to Temporal cloud.
  src/content/docs/infrastructure/host-integrations/host-integrations-list/temporal-cloud-integration.mdx
  src/images/infrastructure_screenshot-full_temporal_cloud-dashboard.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#17389 fix(Docs): Fixed some odd Developer site cruft
  src/content/docs/new-relic-solutions/new-relic-one/build-nr-apps/catalog.mdx
Labels: content, from_tw

#17398 Update use-your-charts.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
Labels: content, from_internal

#17393 updated screenshot with blurred host names
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
  src/images/infrastructure_screenshot-overview.webp
Labels: content, from_tw

#17400 feat(Developer migration): Added the Contribute to quickstarts
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/contribute-quickstart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/create-a-dashboard.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/create-alerts.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/deploy-your-application.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/send-events.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/send-logs.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/send-metrics.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/send-telemetry-to-nr.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/send-traces.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_internal

#17403 chore(styleGuide): add commands for i18n file management
  src/content/docs/style-guide/writing-docs/docs-translation.mdx
Labels: content, from_tw

#17394 Frontmatter style guide fixes
  src/content/docs/style-guide/formatting/hyperlinks.mdx
  src/content/docs/style-guide/images/image-annotations.mdx
  src/content/docs/style-guide/images/screenshots-images.mdx
  src/content/docs/style-guide/structure/levels-headings.mdx
  src/content/docs/style-guide/word-choice/nerdgraph-doc-guidelines.mdx
  src/content/docs/style-guide/word-choice/pricing-language-guidelines.mdx
  src/content/docs/style-guide/word-choice/user-related-language-guidelines.mdx
  src/content/docs/style-guide/writing-docs/article-templates/agent-release-notes-template-123.mdx
  src/content/docs/style-guide/writing-docs/article-templates/apistyleguidelines-example-agent-api.mdx
  src/content/docs/style-guide/writing-docs/article-templates/prometheus-template.mdx
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-tech-writer-tasks.mdx
  src/content/docs/style-guide/writing-docs/article-templates/whats-new-template.mdx
  src/content/docs/style-guide/writing-docs/docs-translation.mdx
  src/content/docs/style-guide/writing-docs/processes-procedures/create-preview-document.mdx
  src/content/docs/style-guide/writing-docs/processes-procedures/create-release-notes.mdx
  src/content/docs/style-guide/writing-docs/processes-procedures/frontmatter-page-templates.mdx
  src/content/docs/style-guide/writing-docs/processes-procedures/use-content-types-text-formats.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/github-history.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/github-intro.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/github-troubleshooting.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/onramps-style-guide.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/peer-editor-workflow.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/set-up-local.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/swiftype-search.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/tech-writer-workflow.mdx
  src/content/docs/style-guide/writing-strategies/contribute-to-site.mdx
  src/content/docs/style-guide/writing-strategies/five-questions-help-write-docs.mdx
  src/content/docs/style-guide/writing-strategies/guidelines-documenting-ui.mdx
  src/content/docs/style-guide/writing-strategies/how-to-write-intros.mdx
  src/content/docs/style-guide/writing-strategies/install-docs-guidance.mdx
  src/content/docs/style-guide/writing-strategies/introduction-style-guide.mdx
  src/content/docs/style-guide/writing-strategies/organize-doc.mdx
  src/content/docs/style-guide/writing-strategies/voice-strategies-docs-sound-new-relic.mdx
  src/content/docs/style-guide/writing-strategies/writing-inclusive-content.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#17402 Update account-email-settings.mdx
  src/content/docs/accounts/accounts/account-maintenance/account-email-settings.mdx
Labels: content, from_internal

#17401 Logs not supported yet on ubuntun 24.04
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1523.mdx
Labels: content, from_internal

#17348 Fix required service and host resource attributes
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
Labels: content, from_internal

#16642 chore: add links and update some wording
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_internal

#17416 Update networks.mdx for IAST endpoints
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#17414 style(Charts): Replaced DoNotTranslate with an important note
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
Labels: content, from_tw

#17420 docs: Update Elastic Beanstalk instructions for .NET agent
  src/content/docs/apm/agents/net-agent/install-guides/install-net-agent-on-aws-elastic-beanstalk.mdx
Labels: content, from_internal

#17388 chore: add language identifiers, minor fixes
  src/content/docs/infrastructure/amazon-integrations/get-started/integrations-managed-policies.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-agent-gradle.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-unity/monitor-your-unity-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-metrics.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/micrometer/micrometer-metrics-registry.mdx
Labels: content, from_internal

#17392 Docs: Added tip about monitoring multiple SNMP trap versions on one host
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal

#17411 chore: Removed a deprecated package from intro and linked to our example applications and next.js and apollo server packages
  src/content/docs/apm/agents/nodejs-agent/getting-started/introduction-new-relic-nodejs.mdx
Labels: content, from_internal

#17412 Update install-containerized-private-minions-cpms.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
Labels: content, from_internal

#17405 docs: Update snmp-performance-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal

#17404 Fixed New Relic name
  src/content/docs/new-relic-solutions/tutorials/add-tables.mdx
Labels: content, from_internal

#17424 Adding .NET agent to AIM compatibility list
  src/content/docs/ai-monitoring/compatibility-requirements-ai-monitoring.mdx
Labels: content, from_internal

#17426 fix(Logs): Added missing header id
  src/content/docs/logs/get-started/live-archives-billing.mdx
Labels: content, from_tw

#17363 [PUBLISH: THURS. 5/23] Initial release of Java support for AI Monitoring
  src/content/docs/ai-monitoring/compatibility-requirements-ai-monitoring.mdx
  src/content/docs/ai-monitoring/customize-agent-ai-monitoring.mdx
  src/content/docs/apm/agents/java-agent/api-guides/ai-monitoring.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/nav/apm.yml
Labels: content, from_internal

#17396 (ETA: 5/23) Add release notes for java agent v8.12.0
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8120.mdx
Labels: content, from_internal

#17432 fix(Node.js APM agent): Added missing header ID
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_tw

#17431 docs: Update .NET agent install docs to reference the .NET agent samples repo
  src/content/docs/apm/agents/net-agent/install-guides/install-net-agent-on-aws-elastic-beanstalk.mdx
  src/content/docs/apm/agents/net-agent/install-guides/install-net-agent-using-nuget.mdx
  src/install/dotnet/installation/dockerLinux.mdx
Labels: content, from_internal

#17415 feat(Migration developer): Added the build quickstart section
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/build-quickstart/add-alerts.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/build-quickstart/add-dashboard.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/build-quickstart/add-data-source.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/build-quickstart/contribute-quickstart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/build-quickstart/understand-quickstart.mdx
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#17428 fix(Alerts): Updated text to match UI
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_tw

#17443 fix: bump that sleep
  scripts/actions/webdriver-mobile.mjs
Labels: eng

#17427 chore(browser): Fix typo in install doc
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
Labels: content, from_tw

#17450 chore(style guide): Fix table formatting
  src/content/docs/style-guide/structure/tables.mdx
Labels: content, from_tw

#17410 fix(serverless): adding ruby for containerized functions
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/configure-serverless-monitoring-aws-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/containerized-images.mdx
  src/images/serverless_diagram_containerized-images-with-lambda.webp
Labels: content, from_tw

#17440 fix(MLOps): Link AIM doc from OpenAI doc
  src/content/docs/mlops/integrations/openai-integration.mdx
Labels: content, from_tw

#17437 Update what-entity-new-relic.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/what-entity-new-relic.mdx
Labels: content, from_internal

#17449 chore: Release notes for Synthetics runtimes
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.77.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.3.28.mdx
Labels: content, from_internal

#17448 chore: add syntax identifiers
  src/content/docs/logs/forward-logs/kubernetes-plugin-log-forwarding.mdx
Labels: content, from_internal

#17457 Update snmp-performance-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal
