Repository newrelic/docs-website, pull requests merged in 2024-07, with the labels that each got.

#17775 (Publish morning of July 1, 2024) GB price changes
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-usage-plan.mdx
Labels: content, from_tw

#17844 fix(OTEL): Update doc link from NR to OTEL
  src/content/docs/apm/apm-ui-pages/monitoring/external-services/external-services-setup.mdx
Labels: content, from_tw

#17710 feat(.NET): Azure troubleshooting left nav move
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-cloud-services.mdx
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-service-fabric.mdx
  src/content/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
  src/i18n/content/es/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-cloud-services.mdx
  src/i18n/content/es/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-service-fabric.mdx
  src/i18n/content/es/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-cloud-services.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-service-fabric.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-cloud-services.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-service-fabric.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
  src/i18n/content/pt/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-cloud-services.mdx
  src/i18n/content/pt/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-service-fabric.mdx
  src/i18n/content/pt/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
  src/install/config/dotnet.yaml
  src/install/dotnet/installation/azure-app-add.mdx
  src/install/dotnet/installation/azure-app-services.mdx
  src/install/dotnet/installation/azure-cloud-view-performance.mdx
  src/install/dotnet/installation/azure-custom-config-file.mdx
  src/install/dotnet/installation/azure-nuget-cloud.mdx
  src/install/dotnet/installation/azure-nuget-core-install.mdx
  src/install/dotnet/installation/azure-nuget-framework-install.mdx
  src/install/dotnet/installation/azure-site-extension.mdx
  src/install/dotnet/installation/azure-view-performance.mdx
  src/install/dotnet/installation/azure-web-role.mdx
  src/install/dotnet/installation/azure-worker-role.mdx
  src/nav/apm.yml
Labels: content, from_tw

#17773 style(chart types): Collapsers to H2s for SEO
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
Labels: content, from_tw

#17853 docs:react native agent release
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-142.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-139.mdx
Labels: content, from_internal

#17850 fix(OTEL): remove floating bullet point
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-intro.mdx
Labels: content, from_tw

#17859 some repo cleanup
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-logs.mdx
  src/data-dictionary/events/NrAiIssue/NrAiIssue.event-definition.md
  src/data-dictionary/events/NrAiIssue/accountIds.md
  src/data-dictionary/events/NrAiIssue/activateTime.md
  src/data-dictionary/events/NrAiIssue/closeCause.md
  src/data-dictionary/events/NrAiIssue/correlated.md
  src/data-dictionary/events/NrAiIssue/correlatedCandidate.md
  src/data-dictionary/events/NrAiIssue/correlationRuleIds.md
  src/data-dictionary/events/NrAiIssue/correlationRuleNames.md
  src/data-dictionary/events/NrAiIssue/createTime.md
  src/data-dictionary/events/NrAiIssue/entitiesCount.md
  src/data-dictionary/events/NrAiIssue/entity.names.md
  src/data-dictionary/events/NrAiIssue/entity.types.md
  src/data-dictionary/events/NrAiIssue/event.md
  src/data-dictionary/events/NrAiIssue/incidentCount.md
  src/data-dictionary/events/NrAiIssue/incidentIds.md
  src/data-dictionary/events/NrAiIssue/isIdle.md
  src/data-dictionary/events/NrAiIssue/issueId.md
  src/data-dictionary/events/NrAiIssue/issueLink.md
  src/data-dictionary/events/NrAiIssue/lastModifiedTime.md
  src/data-dictionary/events/NrAiIssue/parentId.md
  src/data-dictionary/events/NrAiIssue/sources.md
  src/data-dictionary/events/NrAiIssue/timestamp.md
Labels: eng

#17800 Update punctuation.mdx
  src/content/docs/style-guide/punctuation.mdx
Labels: content, from_internal

#17832 chore: add regex/json syntax highlighting
  src/content/docs/logs/ui-data/long-logs-blobs.mdx
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
  src/content/docs/logs/ui-data/timestamp-support.mdx
Labels: content, from_internal

#17842 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#17779 Update security-data-api.mdx
  src/content/docs/data-apis/ingest-apis/security-data-api.mdx
Labels: content, from_internal

#17865 Update cacti-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cacti-integration.mdx
Labels: content, from_internal

#17871 Browser Agent v1.261.2 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.261.2.mdx
Labels: content, from_internal

#17863 chore: Update .NET Lambda layerless approach to not require the layer.
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-layerless.mdx
Labels: content, from_internal

#17860 chore: Add AWS Lambda no data appears troubleshooting document.
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/troubleshooting/troubleshoot-no-data-appears.mdx
  src/nav/serverless-function-monitoring.yml
Labels: content, from_internal

#17856 Whats new 07 02 apmk8s
  src/content/whats-new/2024/07/images/whats-new-07-02-apmk8s.md
Labels: content, from_internal

#17874 fix: broken links
  src/content/docs/logs/forward-logs/heroku-log-forwarding.mdx
Labels: content, from_internal

#17875 use file for release notes commit message
  .github/workflows/release.yml
  scripts/actions/github-release-notes.mjs
  scripts/actions/release-notes.py
Labels: eng

#17876 update MT banner number to account for space
  src/i18n/translations/en/translation.json
  src/i18n/translations/es/translation.json
  src/i18n/translations/jp/translation.json
  src/i18n/translations/kr/translation.json
  src/i18n/translations/pt/translation.json
Labels: eng

#17543 chore(ruby-agent): Add a section about turning off the agent
  src/content/docs/apm/agents/ruby-agent/troubleshooting/control-when-ruby-agent-starts.mdx
Labels: content, from_internal

#17877 fix: `-XDELETE` -> `-X DELETE` typo in curl cmd
  src/content/docs/logs/forward-logs/heroku-log-forwarding.mdx
Labels: content, from_internal

#17870 Update high-security-mode.mdx
  src/content/docs/apm/agents/manage-apm-agents/configuration/high-security-mode.mdx
Labels: content, from_internal

#17872 fix(Component SDK): Removed private methods
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/platform-apis/logger.mdx
Labels: content, from_tw

#17854 update search instrumentation
  package.json
  src/components/HomepageBanner.js
  src/layouts/MainLayout.js
  yarn.lock
Labels: eng

#17843 Browser and OpenTelemetry: Fix indentation for redirects and add anchors.
  src/content/docs/browser/new-relic-browser/browser-apis/log.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/wraplogger.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-intro.mdx
Labels: content, from_internal

#17885 chore(sweep): Remove all inline signup forms
  src/content/docs/alerts/get-notified/incident-workflows.mdx
  src/content/docs/alerts/get-notified/intro-notifications.mdx
  src/content/docs/alerts/get-notified/migration-to-workflows.mdx
  src/content/docs/alerts/scale-automate/rest-api/rest-api-calls-alerts.mdx
  src/content/docs/apm/new-relic-apm/apdex/apdex-measure-user-satisfaction.mdx
  src/content/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/page-load-timing-process.mdx
  src/content/docs/change-tracking/change-tracking-graphql.mdx
  src/content/docs/change-tracking/change-tracking-introduction.mdx
  src/content/docs/distributed-tracing/concepts/distributed-tracing-planning-guide.mdx
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
  src/content/docs/distributed-tracing/concepts/introduction-distributed-tracing.mdx
  src/content/docs/distributed-tracing/concepts/quick-start.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/connect-aws-new-relic-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/container-infrastructure-monitoring.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/log-api/introduction-log-api.mdx
  src/content/docs/logs/logs-context/logs-in-context.mdx
  src/content/docs/logs/ui-data/parsing.mdx
  src/content/docs/logs/ui-data/query-syntax-logs.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
  src/content/docs/mlops/get-started/intro-mlops.mdx
  src/content/docs/network-performance-monitoring/get-started/npm-introduction.mdx
  src/content/docs/new-relic-solutions/business-observability/install-pathpoint.mdx
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-lookout-monitor-your-estate-glance.mdx
  src/content/docs/nrql/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/nrql/nrql-references/nrql-group-results-across-time.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-aws-lambda-monitoring.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-layerless.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/monitoring-aws-lambda-serverless-monitoring.mdx
  src/content/docs/serverless-function-monitoring/overview.mdx
  src/content/docs/service-level-management/intro-slm.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetics-api.mdx
  src/content/docs/synthetics/synthetic-monitoring/getting-started/get-started-synthetic-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/intro-synthetic-monitoring.mdx
  src/install/npm/intro.mdx
Labels: content, from_tw

#17880 Go Agent Release
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-33-1.mdx
Labels: content, from_internal

#17818 fix(alerts): editing notifications per SME
  src/content/docs/alerts/get-notified/notification-integrations.mdx
  src/images/alerts_screenshot-crop_thread-broadcast.webp
Labels: content, from_internal

#17750 (fix): Updated the temporal docs.
  src/content/docs/infrastructure/host-integrations/host-integrations-list/temporal-monitoring-integration.mdx
Labels: content, from_internal

#17892 Update snmp-performance-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal

#17891 Update network-syslog-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
Labels: content, from_internal

#17890 Update network-flow-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
Labels: content, from_internal

#17889 Update requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#17888 Update k8s-agent-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: content, from_internal

#17864 Left navigation: Correct alphabetization
  src/nav/root.yml
Labels: content, from_tw

#17898 NerdGraph Default Timeout rate-limits-nrql-queries.mdx
  src/content/docs/nrql/using-nrql/rate-limits-nrql-queries.mdx
Labels: content, from_internal

#17838 feat(kubernetes): Add support for K8s 1.29 and 1.30
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/deprecation-notice-v1.25-and-lower.mdx
Labels: content, from_internal

#17899 feat: Whats new post for logs in context data partition menu
  src/content/whats-new/2024/07/images/APM_screenshot-full_logs-in-context-data-partition-selection-menu.webp
  src/content/whats-new/2024/07/images/hosts_screenshot-full_logs-in-context-data-partition-selection-menu.webp
  src/content/whats-new/2024/07/images/traces_screenshot-full_logs-in-context-data-partition-selection-menu.webp
  src/content/whats-new/2024/07/images/transactions_screenshot-full_logs-in-context-data-partition-selection-menu.webp
  src/content/whats-new/2024/07/whats-new-07-03-logs-in-context-data-partition-selector.md
Labels: content, from_internal

#17819 (Publish July 8, 2024: morning build) What's new: Logs in Context for APM Transactions
  src/content/whats-new/2024/07/images/WhatsNewAPMLogsInContextTransactionTrace.webp
  src/content/whats-new/2024/07/whats-new-07-08-apm-logs-in-context-transaction-trace-details.md
Labels: content, from_internal

#17881 [Publish 7/8 AM] Update transaction-traces-trace-details-page.mdx
  src/content/docs/apm/transactions/transaction-traces/transaction-traces-trace-details-page.mdx
Labels: content, from_internal

#17861 fix(mobile): post-release fixes to ANR doc
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/application-not-responding.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/maintenance/configure-settings-for-mobile-monitoring.mdx
  src/images/mobile_screenshot-crop_anr-setting-toggle.webp
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#17883 theme bump
  package.json
  yarn.lock
Labels: eng

#17918 add execute permission to `github-release-notes`
  scripts/actions/github-release-notes.mjs
Labels: eng

#17895 fix:added missing page for broken link
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/android-agent-native-crash-reporting.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#17916 Update nvidia-jetson-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nvidia-jetson-integration.mdx
Labels: content, from_internal

#17914 docs(infra-agent): add new setting
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#17904 Update k8s-agent-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: content, from_internal

#17908 fix: Update kubernetes-components.mdx and changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-components.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/changes-since-v3.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-components.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/changes-since-v3.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-components.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/changes-since-v3.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-components.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/changes-since-v3.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-components.mdx
Labels: content, from_external

#17923 Fix broken link
  src/content/docs/logs/logs-context/java-configure-logs-context-all.mdx
Labels: content, from_tw

#17922 Add missing redirect to infra troubleshooting
  src/content/docs/infrastructure/host-integrations/infrastructure-integrations-sdk/troubleshooting/not-seeing-infrastructure-integration-data.mdx
  src/content/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/no-data-appears-infrastructure.mdx
Labels: content, from_tw

#17935 add hashbang
  scripts/actions/github-release-notes.mjs
Labels: eng

#17868 feat: Traceloop Integration Documentation
  src/content/docs/opentelemetry/get-started/traceloop-llm-observability/traceloop-llm-observability-intro.mdx
  src/images/llm-traceloop-attributes_screenshot.webp
  src/images/llm-traceloop-details_screenshot.webp
  src/images/llm-traceloop_screenshot.webp
  src/nav/ai-monitoring.yml
  src/nav/opentelemetry.yml
Labels: content, from_internal

#17647 style(NET): Copyedit checksum doc
  src/content/docs/apm/agents/net-agent/other-installation/how-verify-checksum-net-agent-downloads.mdx
  src/nav/apm.yml
Labels: content, from_tw

#17937 Add VSC extension requirement for PHP
  src/content/docs/codestream/observability/code-level-metrics.mdx
Labels: content, from_internal

#17932 Update k8s-agent-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: content, from_external

#17946 feat(K8s): Added the important note about the yaml file
  src/install/kubernetes/helm/install-helm.mdx
Labels: content, from_tw

#17927 Update remove-applications-new-relic.mdx
  src/content/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
Labels: content, from_internal

#17942 fix(Cloud integrations): Uncapitalized a word in the doc title
  src/content/docs/more-integrations/dbt-cloud/dbt-cloud-integration.mdx
Labels: content, from_tw

#17953 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#17975 Restore collector infra redirect links
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-intro.mdx
Labels: content, from_internal

#17982 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#17993 fix(K8s): Fixed numbering
  src/install/kubernetes/helm/install-helm.mdx
Labels: content, from_tw

#17998 feat(Docs): Docs release notes July 12, 2024
  src/content/docs/release-notes/docs-release-notes/docs-7-12-2024.mdx
Labels: content, from_tw

#18005 fix method call to get commits
  scripts/actions/github-release-notes.mjs
Labels: eng

#17977 feat(.NET): adding remaining install paths
  src/content/docs/apm/agents/net-agent/other-installation/install-net-agent-windows-communication-foundation-wcf.mdx
  src/i18n/content/es/docs/apm/agents/net-agent/install-guides/install-net-agent-on-aws-elastic-beanstalk.mdx
  src/i18n/content/es/docs/apm/agents/net-agent/install-guides/install-net-agent-using-nuget.mdx
  src/i18n/content/es/docs/apm/agents/net-agent/other-installation/install-net-agent-windows-communication-foundation-wcf.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/install-guides/install-net-agent-on-aws-elastic-beanstalk.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/install-guides/install-net-agent-using-nuget.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/other-installation/install-net-agent-windows-communication-foundation-wcf.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/install-guides/install-net-agent-on-aws-elastic-beanstalk.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/install-guides/install-net-agent-using-nuget.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/other-installation/install-net-agent-windows-communication-foundation-wcf.mdx
  src/i18n/content/pt/docs/apm/agents/net-agent/install-guides/install-net-agent-on-aws-elastic-beanstalk.mdx
  src/i18n/content/pt/docs/apm/agents/net-agent/install-guides/install-net-agent-using-nuget.mdx
  src/i18n/content/pt/docs/apm/agents/net-agent/other-installation/install-net-agent-windows-communication-foundation-wcf.mdx
  src/install/config/dotnet.yaml
  src/install/dotnet/installation/aws-elastic.mdx
  src/install/dotnet/installation/nuget.mdx
  src/install/dotnet/installation/nuget2.mdx
  src/install/dotnet/installation/wcf-enable.mdx
  src/install/dotnet/installation/wcf.mdx
  src/nav/apm.yml
Labels: content, from_tw

#18007 fix(Lambda): added redirects
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/containerized-images.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/enable-serverless-monitoring-aws-lambda-layerless.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/instrument-your-own.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/update-serverless-monitoring-aws-lambda.mdx
  src/nav/serverless-function-monitoring.yml
Labels: content, from_tw

#18010 fix: typo
  src/content/docs/apm/agents/net-agent/custom-instrumentation/custom-instrumentation-attributes-net.mdx
Labels: content, from_tw

#18017 infra-agent: EOL updates - Debian 10
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
Labels: content, from_internal

#17974 Update histogram() documentation
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#18020 AWS Lambda: Add indentation for redirects
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/containerized-images.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/enable-serverless-monitoring-aws-lambda-layerless.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/instrument-your-own.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/update-serverless-monitoring-aws-lambda.mdx
Labels: content, from_tw

#18026 chore: add language identifiers to codeblocks
  src/content/docs/apm/agents/java-agent/configuration/automatic-application-naming.mdx
  src/content/docs/apm/agents/java-agent/configuration/configuring-your-ssl-certificates.mdx
  src/content/docs/apm/agents/java-agent/configuration/distributed-tracing-java-agent.mdx
  src/content/docs/apm/agents/java-agent/configuration/name-your-java-application.mdx
  src/content/docs/distributed-tracing/infinite-tracing/set-trace-observer.mdx
Labels: content, from_internal

#17826 fix(Style guide): Modified the preview callout title
  src/content/docs/alerts/incident-management/postmortems-applied-intelligence.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/atlassian-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ibmmq-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/powerdns-monitoring-integration.mdx
  src/content/docs/instrumentation-editor-instrument-net-ui.mdx
  src/content/docs/kubernetes-pixie/kubecost/get-started-kubecost.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/newrelic-metrics-adapter.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-eks-fargate.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-windows.mdx
  src/content/docs/nrql/using-nrql/query-infrastructure-dimensional-metrics-nrql.mdx
  src/content/docs/style-guide/structure/callouts.mdx
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
  src/install/ibm-mq/intro.mdx
Labels: content, from_tw

#17987 Node.js agent: Add link from Node docker to main Node instructions
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/install-nodejs-agent-docker.mdx
Labels: content, from_tw

#18032 fix(AWS): Fixed broken links
  src/content/docs/accounts/original-accounts-billing/product-based-pricing/overview-data-retention-components.mdx
  src/content/docs/apm/reports/api-examples-sla-reports.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-ec2-monitoring-integration.mdx
Labels: content, from_internal

#17970 fix(NRQL Dashboards): Updated charts and dashboard page
  src/content/docs/nrql/get-started/charts-and-dashboards-with-nrql.mdx
Labels: content, from_tw

#18033 Fix 2 typos
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nfs-monitoring-integration.mdx
Labels: content, from_internal

#18041 Homepage: Remove "other capabilities" section
  src/i18n/translations/en/translation.json
Labels: content, from_tw

#18038 fix(OTEL): fix misbehaving redirects
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-intro.mdx
Labels: content, from_tw

#18039 chore: code cleanup in new Lambda docs
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/cloud-watch-fallback.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/containerized-images.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/enable-serverless-monitoring-aws-lambda-layerless.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/instrument-your-own.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/update-serverless-monitoring-aws-lambda.mdx
Labels: content, from_internal

#18044 Update heroku-log-forwarding.mdx
  src/content/docs/logs/forward-logs/heroku-log-forwarding.mdx
Labels: content, from_internal

#18046 feat(NR-292090): Updated prometheus install framework link
  src/content/docs/infrastructure/prometheus-integrations/install-configure-remote-write/set-your-prometheus-remote-write-integration.mdx
Labels: content, from_internal

#18054 fix(Style guide): Fixed a sentence in the preview callout
  src/content/docs/style-guide/structure/callouts.mdx
Labels: content, from_tw

#17965 Create EOL comms UI overview and template page
  gatsby-node.js
  scripts/actions/utils/docs-content-tools/i18n-exclusions.yml
  scripts/utils/verify-mdx-utils.js
  src/components/EolTable/EolTable.js
  src/components/EolTable/TableBody.js
  src/components/EolTable/TableHeader.js
  src/components/EolTable/index.js
  src/content/eol/2024/06/eol-06-30-24-sample-page.md
  src/content/eol/2024/06/images/.gitkeep
  src/content/eol/2024/07/eol-07-10-24-sample-page.md
  src/content/eol/2024/07/eol-07-21-24-sample-page.md
  src/content/eol/2024/07/images/.gitkeep
  src/i18n/translations/en/translation.json
  src/pages/eol.js
  src/templates/eolAnnouncement.js
  src/utils/constants.js
Labels: eng

#18031 infra agent: added config option process_container_decoration
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#18053 Remove KSM parameter from Helm command
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: content, from_internal

#17985 NR-172722 added docs for manually installing the agent
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/installation/xcframework-installation.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#18051 Update heroku-log-forwarding.mdx
  src/content/docs/logs/forward-logs/heroku-log-forwarding.mdx
Labels: content, from_internal

#18024 chore(dotnet): Reworks .NET agent compatibility docs
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#18025 Python Agent: Add callout for High Security Mode in affected settings
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/guide-using-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/recordcustomevent-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/recordlogevent-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/recordmlevent-python-agent-api.mdx
Labels: content, from_internal

#18059 fix(OTEL): add missing redirect
  src/content/docs/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-ui.mdx
Labels: content, from_tw

#17988 Data APIs: Fix spurious link
  src/content/docs/data-apis/custom-data/custom-events/report-custom-event-data.mdx
Labels: content, from_tw

#17941 PHP agent: Remove the doc about using a PHP script to record deployments
  src/content/docs/apm/agents/php-agent/features/recording-deployments-using-php-script.mdx
  src/content/docs/change-tracking/change-tracking-introduction.mdx
  src/i18n/content/es/docs/apm/agents/php-agent/features/recording-deployments-using-php-script.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-cloud-services.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-service-fabric.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/features/recording-deployments-using-php-script.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-cloud-services.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-service-fabric.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
  src/i18n/content/kr/docs/apm/agents/php-agent/features/recording-deployments-using-php-script.mdx
  src/i18n/content/pt/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-cloud-services.mdx
  src/i18n/content/pt/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-service-fabric.mdx
  src/i18n/content/pt/docs/apm/agents/net-agent/azure-installation/install-net-agent-azure-web-apps.mdx
  src/i18n/content/pt/docs/apm/agents/php-agent/features/recording-deployments-using-php-script.mdx
  src/nav/apm.yml
Labels: content, from_tw

#18042 AWS Lambda: Replace image
  src/images/serverless_diagram_non-containerized-lambda-function.webp
Labels: content, from_tw

#18064 fix(Infra): Added a hyphen to title
  src/content/docs/infrastructure/host-integrations/host-integrations-list/temporal-monitoring-integration.mdx
Labels: content, from_tw

#18070 Update notification-integrations.mdx
  src/content/docs/alerts/get-notified/notification-integrations.mdx
Labels: content, from_internal

#17994 feat(K8s): Added changes for gather info related to v2
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/errors.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/overview.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/troubleshooting.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/upgrade-v2.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/monitor-services-running-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/tutorial-monitor-redis-running-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/windows-linux-hybrid-cluster.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/reduce-ingest.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/uninstall-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/helm-configurations-not-applied.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-error-messages.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-missing-nodes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/kubernetes-integration-troubleshooting-not-seeing-data.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-control-plane-data.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-1150.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-0-0.mdx
  src/content/whats-new/2022/04/whats-new-04-28-kubernetes-v3.md
  src/content/whats-new/2022/05/whats-new-05-18-k8s-v3-integration.md
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/changes-since-v3.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/monitor-services-running-kubernetes.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/tutorial-monitor-redis-running-kubernetes.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/windows-linux-hybrid-cluster.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-control-plane-data.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/changes-since-v3.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/monitor-services-running-kubernetes.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/tutorial-monitor-redis-running-kubernetes.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/windows-linux-hybrid-cluster.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-control-plane-data.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/changes-since-v3.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/monitor-services-running-kubernetes.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/tutorial-monitor-redis-running-kubernetes.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/windows-linux-hybrid-cluster.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-control-plane-data.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/configure-control-plane-monitoring.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/get-logs-version.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/changes-since-v3.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/monitor-services-running-kubernetes.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/tutorial-monitor-redis-running-kubernetes.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/windows-linux-hybrid-cluster.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/not-seeing-control-plane-data.mdx
  src/install/cassandra/kubernetes/requirements-k8s.mdx
  src/install/jmx/kubernetes/requirements-k8s.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_tw

#17966 chore(Infra): added missing header anchors
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cacti-integration.mdx
Labels: content, from_tw

#18058 broken link
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_internal

#17840 chore(dotnet): Add Amazon SQS support and compatibility statement
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#18011 chore: format code blocks
  src/content/docs/infrastructure/new-relic-infrastructure/infrastructure-alert-conditions/rest-api-calls-new-relic-infrastructure-alerts.mdx
Labels: content, from_internal

#18065 Update Documentation to reflect the inability to rotate a REST API key.
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_internal

#18062 feat: add rss feed for eol posts
  gatsby-config.js
  plugins/gatsby-plugin-eol-rss/gatsby-node.js
  plugins/gatsby-plugin-eol-rss/package.json
Labels: eng

#17903 Add account deletion section.
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/content/docs/apis/nerdgraph/examples/manage-accounts-nerdgraph.mdx
Labels: content, from_tw

#18078 Security: Add new bulletin for NR24-02
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr24-02.mdx
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
  src/nav/new-relic-security.yml
Labels: content, from_tw

#18077 Update troubleshoot-new-relics-password-email-address-login-problems.mdx
  src/content/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems.mdx
Labels: content, from_internal

#17939 fix(tutorial): Fix broken header ID
  src/content/docs/tutorial-dd-migration/installing-monitor.mdx
Labels: content, from_tw

#18088 Docs release notes july 19 2024
  src/content/docs/release-notes/docs-release-notes/docs-7-19-2024.mdx
Labels: content, from_tw

#18074 feat(Browser): Clarified browser install doc to include four installation methods
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
Labels: content, from_tw

#18092 fix(infra): update screenshot with new menu
  src/images/infrastructure_screenshot-full_infrastructure-main-ui.webp
Labels: content, from_tw

#18075 chore(styleGuide): add a new topic on OTEL examples
  src/content/docs/style-guide/writing-strategies/opentelemetry-examples
  src/nav/style-guide.yml
Labels: content, from_tw

#18093 feat(Browser): Renamed a tab, added link to npm page
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
Labels: content, from_tw

#18080 synthetics - remove invalid webelement methods
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-chrome-100.mdx
Labels: content, from_internal

#18034 feat(AWS): Added new doc for AWS multi-account observability
  src/content/docs/infrastructure/amazon-integrations/connect/aws-multi-account.mdx
  src/images/infrastructure_screenshot-crop_aws-account-status-dashboard.webp
  src/images/infrastructure_screenshot-crop_aws-add-account.webp
  src/images/infrastructure_screenshot-crop_aws-explore-data-link.webp
  src/images/infrastructure_screenshot-crop_aws-see-account-status-dashboard.webp
  src/nav/infrastructure.yml
Labels: content, from_tw

#17990 style(NET): Style ".NET performance metrics" doc
  src/content/docs/apm/agents/net-agent/other-features/net-performance-metrics.mdx
Labels: content, from_tw

#18087 chore(Docs): Removed person from reviewer autoassign list
  .github/auto_assign.yml
Labels: content, from_tw

#18100 chore: Clarify our cadence of dropping EOL versions of Node.js
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_tw

#18105 Fix (accounts): Removed Duplicate bullet point
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
Labels: content, from_internal

#18103 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18104 chore: add Node.js Agent v11.23.2 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-23-2.mdx
Labels: content, from_internal

#18095 K8s OTel preview docs
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/changes-since-v3.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-otel.mdx
  src/content/docs/opentelemetry/opentelemetry-introduction.mdx
  src/images/infrastructure_diagram_k8s-otel-stack.png
  src/images/infrastructure_diagram_k8s-otel-stack.webp
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal

#18110 fix(infra-agent): Note about APM inventory data not being collected on the agent
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-inventory-page-search-your-entire-infrastructure.mdx
Labels: content, from_internal

#18086 Update set-thresholds-alert-condition.mdx
  src/content/docs/alerts/create-alert/set-thresholds/set-thresholds-alert-condition.mdx
Labels: content, from_internal

#18102 style(mobile): Alpha order on tiles
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/introduction-mobile-monitoring.mdx
Labels: content, from_tw

#18111 New infrastructure agent release 1.55.1 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1551-0.mdx
Labels: content, from_internal

#17972 Revised Pathpoint docs for V2 re-launch
  src/content/docs/new-relic-solutions/business-observability/configure-pathpoint.mdx
  src/content/docs/new-relic-solutions/business-observability/install-pathpoint.mdx
  src/content/docs/new-relic-solutions/business-observability/intro-pathpoint.mdx
  src/content/docs/new-relic-solutions/business-observability/troubleshoot-pathpoint.mdx
  src/content/docs/new-relic-solutions/business-observability/working-with-touchpoints.mdx
  src/i18n/content/es/docs/new-relic-solutions/business-observability/configure-pathpoint.mdx
  src/i18n/content/es/docs/new-relic-solutions/business-observability/install-pathpoint.mdx
  src/i18n/content/es/docs/new-relic-solutions/business-observability/troubleshoot-pathpoint.mdx
  src/i18n/content/es/docs/new-relic-solutions/business-observability/working-with-touchpoints.mdx
  src/i18n/content/jp/docs/new-relic-solutions/business-observability/configure-pathpoint.mdx
  src/i18n/content/jp/docs/new-relic-solutions/business-observability/install-pathpoint.mdx
  src/i18n/content/jp/docs/new-relic-solutions/business-observability/troubleshoot-pathpoint.mdx
  src/i18n/content/jp/docs/new-relic-solutions/business-observability/working-with-touchpoints.mdx
  src/i18n/content/kr/docs/new-relic-solutions/business-observability/configure-pathpoint.mdx
  src/i18n/content/kr/docs/new-relic-solutions/business-observability/install-pathpoint.mdx
  src/i18n/content/kr/docs/new-relic-solutions/business-observability/troubleshoot-pathpoint.mdx
  src/i18n/content/kr/docs/new-relic-solutions/business-observability/working-with-touchpoints.mdx
  src/i18n/content/pt/docs/new-relic-solutions/business-observability/configure-pathpoint.mdx
  src/i18n/content/pt/docs/new-relic-solutions/business-observability/install-pathpoint.mdx
  src/i18n/content/pt/docs/new-relic-solutions/business-observability/troubleshoot-pathpoint.mdx
  src/i18n/content/pt/docs/new-relic-solutions/business-observability/working-with-touchpoints.mdx
  src/images/pathpoint_v2_screenshot_add_signals.webp
  src/images/pathpoint_v2_screenshot_add_stages.webp
  src/images/pathpoint_v2_screenshot_add_steps.webp
  src/images/pathpoint_v2_screenshot_flow_kpis.webp
  src/images/pathpoint_v2_screenshot_install_pathpoint.webp
  src/images/pathpoint_v2_screenshot_playback.webp
  src/images/pathpoint_v2_screenshot_signals.webp
  src/images/pathpoint_v2_screenshot_stages.webp
  src/images/pathpoint_v2_screenshot_steps.webp
  src/images/pathpoint_v2_signal_details.webp
  src/nav/new-relic-solutions.yml
Labels: content, from_internal

#18099 chore(apm/php): update steps to verify apt repo signature
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-ubuntu-debian.mdx
Labels: content, from_internal

#18118 fix(styleGuide): make file mdx
  src/content/docs/style-guide/writing-strategies/opentelemetry-examples.mdx
Labels: content, from_internal

#17915 Add OpenTelemetry manage ingest volume page
  src/content/docs/opentelemetry/best-practices/opentelemetry-data-overview.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-manage-data-ingest-volume.mdx
  src/nav/opentelemetry.yml
Labels: content, from_internal

#18119 Please can we post this Whats New
  src/content/whats-new/2024/07/images/OtelK8s.webp
  src/content/whats-new/2024/07/whats-new-7-23-OtelK8s-PP.md
Labels: content, from_internal

#18057 chore(prometheus): Fix old "add data" link
  src/content/whats-new/2020/08/create-grafana-dashboards-prometheus-data-stored-new-relic.md
Labels: content, from_tw

#18125 Include Export as PDF limitations
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
Labels: content, from_internal

#18123 fix(K8s): Fixed content according to SME
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-otel.mdx
Labels: content, from_tw

#18124 Update requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#18126 Nb extra release k8s
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-otel.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
  src/content/whats-new/2020/08/create-grafana-dashboards-prometheus-data-stored-new-relic.md
Labels: content, from_tw

#18128 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#18090 fix(nrql): change note callout format
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#18133 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18134 Update logs-in-context video
  src/content/docs/logs/logs-context/logs-in-context.mdx
Labels: content, from_internal

#17851 AWS logs branching migration
  src/content/docs/logs/forward-logs/aws-firelens-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/i18n/content/es/docs/logs/forward-logs/aws-firelens-plugin-log-forwarding.mdx
  src/i18n/content/es/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/i18n/content/es/docs/logs/forward-logs/aws-lambda-sending-security-logs-s3.mdx
  src/i18n/content/jp/docs/alerts/create-alert/create-alert-condition/create-alert-conditions.mdx
  src/i18n/content/jp/docs/logs/forward-logs/aws-firelens-plugin-log-forwarding.mdx
  src/i18n/content/jp/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/i18n/content/jp/docs/logs/forward-logs/aws-lambda-sending-security-logs-s3.mdx
  src/i18n/content/kr/docs/logs/forward-logs/aws-firelens-plugin-log-forwarding.mdx
  src/i18n/content/kr/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/i18n/content/kr/docs/logs/forward-logs/aws-lambda-sending-security-logs-s3.mdx
  src/i18n/content/pt/docs/logs/forward-logs/aws-firelens-plugin-log-forwarding.mdx
  src/i18n/content/pt/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/i18n/content/pt/docs/logs/forward-logs/aws-lambda-sending-security-logs-s3.mdx
  src/install/aws-logs/agent/basic-agent.mdx
  src/install/aws-logs/appInfo_EC2.mdx
  src/install/aws-logs/appInfo_ECS.mdx
  src/install/aws-logs/appInfo_EKS.mdx
  src/install/aws-logs/appInfo_Other.mdx
  src/install/aws-logs/appInfo_service.mdx
  src/install/aws-logs/cloudwatch/basic-cloudwatch.mdx
  src/install/aws-logs/cloudwatch/cloudwatch-lambda.mdx
  src/install/aws-logs/cloudwatch/configure-retries.mdx
  src/install/aws-logs/cloudwatch/view-log-data.mdx
  src/install/aws-logs/firehose/basic-firehose.mdx
  src/install/aws-logs/firehose/firehose-eu.mdx
  src/install/aws-logs/firehose/firehose-view.mdx
  src/install/aws-logs/firelens/basic-firelens.mdx
  src/install/aws-logs/firelens/firelens-configure.mdx
  src/install/aws-logs/firelens/firelens-eu.mdx
  src/install/aws-logs/firelens/firelens-view.mdx
  src/install/aws-logs/intro.mdx
  src/install/aws-logs/k8s/basic-k8s.mdx
  src/install/aws-logs/security_lake/intro_securitylake.mdx
  src/install/aws-logs/whatsNext.mdx
  src/install/config/aws-logs.yaml
  src/nav/logs.yml
Labels: content, from_tw

#18098 Update docs for selenium web-driver getText() method
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-chrome-100.mdx
Labels: content, from_internal

#18142 fix: Updated mdx file
  src/content/docs/infrastructure/host-integrations/host-integrations-list/aerospike-integration.mdx
Labels: content, from_internal

#18138 fix(infra-agent): centOS stream 8 reached EOL
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#18140 fix(infra-agent): Explain status_server is enabled by default when using guided install (install recipe)
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#18130 Minor cleanup of recent Pathpoint V2 doc release
  src/content/docs/new-relic-solutions/business-observability/intro-pathpoint.mdx
Labels: content, from_internal

#18106 (Scheduled for 7/25) feat(cloudIntegrations): add navigation instructions for finding new UI pages
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/introduction-google-cloud-platform-integrations.mdx
  src/content/docs/infrastructure/infrastructure-integrations/get-started/understand-use-data-infrastructure-integrations.mdx
  src/images/infrastructure_screenshot-crop_dashboards-example.webp
Labels: content, from_tw

#18148 docs(dotnet): Update .NET agent compatibility versions
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#18136 Target release date: 7/25/24 - Android NDK agent release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-ndk-111.mdx
Labels: content, from_internal

#18146 chore: Minor updates for temporal cloud
  src/content/docs/infrastructure/host-integrations/host-integrations-list/temporal-cloud-integration.mdx
Labels: content, from_internal

#18145 Update microsoft-sql-server-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
Labels: content, from_internal

#18040 chore: Add approaches for .NET AWS Lambda monitoring.
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-approaches-lambda.mdx
  src/nav/apm.yml
Labels: content, from_internal
