Repository newrelic/docs-website, pull requests merged in 2024-12, with the labels that each got.

#19412 fix(mobile): Updated the link
  src/content/docs/nrql/nrql-examples/nrql-query-examples-mobile-monitoring.mdx
Labels: content, from_tw

#19396 Updated the support date for Azure SQL database
  src/content/eol/2024/04/eol-04-24-24-polling-api.md
Labels: content, from_internal

#19419 fix(Advance-config): Fixed the link directing to the entity definitions repo
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
Labels: content, from_tw

#19390 Add direct install link to Pathpoint
  src/content/docs/new-relic-solutions/business-observability/intro-pathpoint.mdx
Labels: content, from_internal

#19416 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#19420 whats new section updated for fossa
  src/content/whats-new/2024/12/whats-new-12-03-fossa.md
Labels: content, from_tw

#19402 Podman Support for SJM.
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-418.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.12.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-job-manager.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-maintenance-monitoring.mdx
  static/images/synthetic_logo_podman.webp
Labels: content, from_internal

#19410 feat: added New Relic Service Broker Support for TAS 6.0
  src/content/docs/infrastructure/other-infrastructure-integrations/cloudfoundry-integrations/vmware-tanzu-service-broker-integration.mdx
  static/images/vmware-service-broker-import-10.webp
  static/images/vmware-service-broker-import-11.webp
  static/images/vmware-service-broker-import-12.webp
  static/images/vmware-service-broker-import-13.webp
  static/images/vmware-service-broker-import-14.webp
  static/images/vmware-service-broker-import-15.webp
  static/images/vmware-service-broker-import-16.webp
  static/images/vmware-service-broker-import-17.webp
  static/images/vmware-service-broker-import-18.webp
  static/images/vmware-service-broker-import-2.webp
  static/images/vmware-service-broker-import-3.webp
  static/images/vmware-service-broker-import-4.webp
  static/images/vmware-service-broker-import-5.webp
  static/images/vmware-service-broker-import-6.webp
  static/images/vmware-service-broker-import-8.webp
  static/images/vmware-service-broker-import-9.webp
  static/images/vmware-service-broker-import.webp
Labels: content, from_internal

#19421 updated the doc as we don't support all the azure resource for azure monitor
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
Labels: content, from_internal

#19418 Create new-relic-android-5261.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5261.mdx
Labels: content, from_internal

#19356 NR-334798 Created docs that explain the new auto collected logs in the iOS agent (December 3rd)
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/ios-remote-logging.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-753.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#19426 Deprecated the Snowflake integration doc
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
  src/i18n/content/es/docs/infrastructure/new-relic-infrastructure/troubleshooting/agent-not-starting-there-are-no-logs.mdx
  src/i18n/content/es/docs/infrastructure/new-relic-infrastructure/troubleshooting/incorrect-data-reported.mdx
  src/i18n/content/es/docs/infrastructure/new-relic-infrastructure/troubleshooting/reduce-infrastructure-agents-cpu-footprint.mdx
  src/i18n/content/es/docs/infrastructure/new-relic-infrastructure/troubleshooting/time-gaps-missing-data.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-manual-install-infrastructure-agent-linux.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/macos-installation/install-infrastructure-monitoring-agent-macos.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/uninstall-infrastructure-agent.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/uninstall-infrastructure-integrations.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/windows-installation/zip-assisted-install-infrastructure-agent-windows.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/windows-installation/zip-manual-install-infrastructure-agent-windows.mdx
  src/i18n/content/jp/docs/infrastructure/new-relic-infrastructure/troubleshooting/agent-not-starting-there-are-no-logs.mdx
  src/i18n/content/jp/docs/infrastructure/new-relic-infrastructure/troubleshooting/incorrect-data-reported.mdx
  src/i18n/content/jp/docs/infrastructure/new-relic-infrastructure/troubleshooting/reduce-infrastructure-agents-cpu-footprint.mdx
  src/i18n/content/jp/docs/infrastructure/new-relic-infrastructure/troubleshooting/time-gaps-missing-data.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-manual-install-infrastructure-agent-linux.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/macos-installation/install-infrastructure-monitoring-agent-macos.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/uninstall-infrastructure-agent.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/uninstall-infrastructure-integrations.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/update-infrastructure-agent.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/windows-installation/zip-assisted-install-infrastructure-agent-windows.mdx
  src/i18n/content/kr/docs/infrastructure/install-infrastructure-agent/windows-installation/zip-manual-install-infrastructure-agent-windows.mdx
  src/i18n/content/kr/docs/infrastructure/new-relic-infrastructure/troubleshooting/agent-not-starting-there-are-no-logs.mdx
  src/i18n/content/kr/docs/infrastructure/new-relic-infrastructure/troubleshooting/incorrect-data-reported.mdx
  src/i18n/content/kr/docs/infrastructure/new-relic-infrastructure/troubleshooting/reduce-infrastructure-agents-cpu-footprint.mdx
  src/i18n/content/kr/docs/infrastructure/new-relic-infrastructure/troubleshooting/time-gaps-missing-data.mdx
  src/i18n/content/pt/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/i18n/content/pt/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-manual-install-infrastructure-agent-linux.mdx
  src/i18n/content/pt/docs/infrastructure/install-infrastructure-agent/macos-installation/install-infrastructure-monitoring-agent-macos.mdx
  src/i18n/content/pt/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/uninstall-infrastructure-agent.mdx
  src/i18n/content/pt/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/uninstall-infrastructure-integrations.mdx
  src/i18n/content/pt/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/update-infrastructure-agent.mdx
  src/i18n/content/pt/docs/infrastructure/install-infrastructure-agent/windows-installation/zip-assisted-install-infrastructure-agent-windows.mdx
  src/i18n/content/pt/docs/infrastructure/install-infrastructure-agent/windows-installation/zip-manual-install-infrastructure-agent-windows.mdx
  src/i18n/content/pt/docs/infrastructure/new-relic-infrastructure/troubleshooting/agent-not-starting-there-are-no-logs.mdx
  src/i18n/content/pt/docs/infrastructure/new-relic-infrastructure/troubleshooting/incorrect-data-reported.mdx
  src/i18n/content/pt/docs/infrastructure/new-relic-infrastructure/troubleshooting/reduce-infrastructure-agents-cpu-footprint.mdx
  src/i18n/content/pt/docs/infrastructure/new-relic-infrastructure/troubleshooting/time-gaps-missing-data.mdx
  src/install/config/snowflake.yaml
  src/install/snowflake/appInfo.mdx
  src/install/snowflake/configure-integration.mdx
  src/install/snowflake/find-data.mdx
  src/install/snowflake/install-infra.mdx
  src/install/snowflake/intro.mdx
  src/install/snowflake/whatsNext.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#19448 Revert "feat (AWS): Added guided steps with restrictions and troubleshooting to integrate AWS with NR for log forwarding"
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/custom-attributes-not-appearing.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/log-forwarding-restrictions.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-firehose.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-lambda.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-s3-lambda.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/stack-creation-fails.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/stack-deletion-fails.mdx
  src/i18n/content/es/docs/logs/troubleshooting/aws-log-integration-issues/custom-attributes-not-appearing.mdx
  src/i18n/content/es/docs/logs/troubleshooting/aws-log-integration-issues/log-forwarding-restrictions.mdx
  src/i18n/content/es/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-firehose.mdx
  src/i18n/content/es/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-lambda.mdx
  src/i18n/content/es/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-s3-lambda.mdx
  src/i18n/content/es/docs/logs/troubleshooting/aws-log-integration-issues/stack-creation-fails.mdx
  src/i18n/content/es/docs/logs/troubleshooting/aws-log-integration-issues/stack-deletion-fails.mdx
  src/i18n/content/jp/docs/logs/troubleshooting/aws-log-integration-issues/custom-attributes-not-appearing.mdx
  src/i18n/content/jp/docs/logs/troubleshooting/aws-log-integration-issues/log-forwarding-restrictions.mdx
  src/i18n/content/jp/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-firehose.mdx
  src/i18n/content/jp/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-lambda.mdx
  src/i18n/content/jp/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-s3-lambda.mdx
  src/i18n/content/jp/docs/logs/troubleshooting/aws-log-integration-issues/stack-creation-fails.mdx
  src/i18n/content/jp/docs/logs/troubleshooting/aws-log-integration-issues/stack-deletion-fails.mdx
  src/i18n/content/kr/docs/logs/troubleshooting/aws-log-integration-issues/custom-attributes-not-appearing.mdx
  src/i18n/content/kr/docs/logs/troubleshooting/aws-log-integration-issues/log-forwarding-restrictions.mdx
  src/i18n/content/kr/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-firehose.mdx
  src/i18n/content/kr/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-lambda.mdx
  src/i18n/content/kr/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-s3-lambda.mdx
  src/i18n/content/kr/docs/logs/troubleshooting/aws-log-integration-issues/stack-creation-fails.mdx
  src/i18n/content/kr/docs/logs/troubleshooting/aws-log-integration-issues/stack-deletion-fails.mdx
  src/i18n/content/pt/docs/logs/troubleshooting/aws-log-integration-issues/custom-attributes-not-appearing.mdx
  src/i18n/content/pt/docs/logs/troubleshooting/aws-log-integration-issues/log-forwarding-restrictions.mdx
  src/i18n/content/pt/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-firehose.mdx
  src/i18n/content/pt/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-lambda.mdx
  src/i18n/content/pt/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-s3-lambda.mdx
  src/i18n/content/pt/docs/logs/troubleshooting/aws-log-integration-issues/stack-creation-fails.mdx
  src/i18n/content/pt/docs/logs/troubleshooting/aws-log-integration-issues/stack-deletion-fails.mdx
  src/install/aws-logs/aws_services/Install-aws-integration.mdx
  src/install/aws-logs/aws_services/configure-log-forwarding.mdx
  src/install/aws-logs/aws_services/deploy-cloudformation-stack.mdx
  src/install/aws-logs/aws_services/generate-cloudformation-template.mdx
  src/install/aws-logs/aws_services/see-your-data.mdx
  src/install/aws-logs/aws_services/set-up-aws-integration-with-log-forwarding.mdx
  src/install/config/aws-logs.yaml
  src/nav/logs.yml
Labels: content, from_tw

#19446 fix: code indentation
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-handled-exceptions.mdx
Labels: content, from_internal

#19445 fix broken link to Prometheus agent install
  src/content/docs/infrastructure/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
Labels: content, from_internal

#19441 chore(browser): fix outdated info + links
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/content/docs/browser/browser-monitoring/page-load-timing-resources/cookie-collection-session-tracking.mdx
  src/content/docs/browser/browser-monitoring/troubleshooting/troubleshoot-your-browser-monitoring-installation.mdx
  src/content/docs/browser/new-relic-browser/performance-quality/security-browser-monitoring.mdx
  src/i18n/content/jp/docs/browser/browser-monitoring/troubleshooting/troubleshoot-your-browser-monitoring-installation.mdx
  src/i18n/content/kr/docs/browser/browser-monitoring/troubleshooting/troubleshoot-your-browser-monitoring-installation.mdx
  src/i18n/content/pt/docs/browser/browser-monitoring/troubleshooting/troubleshoot-your-browser-monitoring-installation.mdx
Labels: content, from_internal

#19439 fix(Node.js): Fixed docs about node agent support tagging
  src/content/docs/logs/logs-context/custom-tags-agent-forwarder-logs.mdx
Labels: content, from_internal

#19444 Update Instance Details table
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
Labels: content, from_internal

#19436 chore: add Node.js Agent v12.8.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-8-1.mdx
Labels: content, from_internal

#19437 Browser Agent v1.275.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.275.0.mdx
Labels: content, from_internal

#19431 doc: fix typo
  src/content/docs/infrastructure/infrastructure-agent/windows-installation/windows-zip-assisted.mdx
Labels: content, from_internal

#19428 chore: format NRQL clauses
  src/content/docs/data-apis/understand-data/metric-data/metric-data-type.mdx
  src/content/docs/data-apis/understand-data/metric-data/query-apm-metric-timeslice-data-nrql.mdx
  src/content/docs/data-apis/understand-data/metric-data/query-metric-data-type.mdx
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
  src/content/docs/infrastructure/infrastructure-data/default-infra-data.mdx
Labels: content, from_internal

#19438 chore(browser): update doc regarding logs api `wrapLogger`
  src/content/docs/browser/new-relic-browser/browser-apis/wraplogger.mdx
Labels: content, from_internal

#19434 Add gems to the ruby agent list for support message brokers
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
Labels: content, from_internal

#19346 What's new - Nov 20th - K8s APM auto attach
  src/content/whats-new/2024/11/whats-new-11-20-k8s-apm-auto-attach.md
  static/images/k8s-apm-auto-attach-flow.webp
  static/images/k8s-apm-auto-attach-steps.webp
Labels: content, from_internal

#19449 docs: Document sortType and flag sortBy as deprecated for entities query components
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/query-and-storage/EntitiesByDomainTypeQuery.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/query-and-storage/EntitiesByGuidsQuery.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/query-and-storage/EntitiesByNameQuery.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/query-and-storage/EntitySearchQuery.mdx
Labels: content, from_internal

#19442 Streamline requirements
  src/content/docs/codestream/observability/code-level-metrics.mdx
  src/content/docs/codestream/start-here/install-codestream.mdx
Labels: content, from_internal

#19456 Small tweaks to requirements
  src/content/docs/codestream/observability/code-level-metrics.mdx
  src/content/docs/codestream/start-here/install-codestream.mdx
Labels: content, from_internal

#19427 chore: clarify drop rules around metrics
  src/content/docs/data-apis/manage-data/drop-data-using-nerdgraph.mdx
Labels: content, from_internal

#19458 fix(wcf): added redirects for WCF
  src/content/docs/apm/agents/net-agent/other-features/async-support-net.mdx
  src/content/docs/apm/transactions/intro-transactions/monitor-background-processes-other-non-web-transactions.mdx
  src/install/dotnet/installation/wcf.mdx
Labels: content, from_tw

#19276 Fix(GO): Added attribute information in Option1, and updated the table
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
Labels: content, from_tw

#19457 chore: expand the query/route parameter section
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#19469 feat(aws-log-forwarding): Added the rolled back files with the SME feedback updated
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
  src/content/docs/logs/forward-logs/guidelines-to-upgrade-to-new-lambda.mdx
  src/content/docs/logs/forward-logs/manage-triggers-and-filters-with-cloudformation.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/custom-attributes-not-appearing.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/log-forwarding-restrictions.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-firehose.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-lambda.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-s3-lambda.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/stack-creation-fails.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/stack-deletion-fails.mdx
  src/install/aws-logs/appInfo_service.mdx
  src/install/aws-logs/aws_services/before-you-begin.mdx
  src/install/aws-logs/aws_services/configure-log-forwarding.mdx
  src/install/aws-logs/aws_services/deploy-cloudformation-stack.mdx
  src/install/aws-logs/aws_services/launch-cloudformation-template.mdx
  src/install/aws-logs/aws_services/see-your-data.mdx
  src/install/aws-logs/aws_services/set-up-aws-integration-with-log-forwarding.mdx
  src/install/aws-logs/intro.mdx
  src/install/config/aws-logs.yaml
  src/nav/logs.yml
  static/images/select-logs-intgration-path-1.webp
  static/images/select-logs-intgration-path-2.webp
  static/images/set-up-trigger.webp
Labels: content, from_tw

#19454 Update session-replay.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
Labels: content, from_external

#19473 feat(aws-log-forwarding): Implemented review comments
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/log-forwarding-restrictions.mdx
  src/install/aws-logs/aws_services/configure-log-forwarding.mdx
Labels: content, from_tw

#19453 android release 7.6.2
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-762.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-146.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-147.mdx
Labels: content, from_internal

#19480 Update to Portuguese pages
  src/i18n/content/pt/docs/accounts/original-accounts-billing/original-product-based-pricing/original-pricing-plan-queries.mdx
Labels: content, from_internal

#19455 PHP Agent 11.4.0 release (12/9/2024)
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-11-4-0-17.mdx
Labels: content, from_internal

#19464 doc: fix invalid config reference for logging
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
Labels: content, from_internal

#19471 doc: add jmx troubleshooting
  src/install/jmx/whatsNext.mdx
Labels: content

#19507 docs:hybrid agent releases
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-154.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-704.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-116.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-116.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-148.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-143.mdx
Labels: content, from_internal

#19487 (feat)(whats-new-for-aws-logs): Whats new for aws logs integration
  src/content/whats-new/2024/12/whats-new-12-06-aws-logs.md
  static/images/AWS1.webp
Labels: content, from_tw

#19465 Remove Ruby version restriction
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
Labels: content, from_internal

#19478 docs: Update broken xcframework-installation link in mobile-monitoring.yml
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#19511 fix: typos
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#19514 Docker run command failure
  src/content/docs/infrastructure/infrastructure-agent/linux-installation/infra-agent-as-container.mdx
Labels: content, from_internal

#19482 chore: add Node.js Agent v12.8.2 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-8-2.mdx
Labels: content, from_internal

#19486 chore: Update ruby-agent-requirements-supported-frameworks.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/ruby-agent-requirements-supported-frameworks.mdx
Labels: content, from_internal

#19485 Update manage-data-retention.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_internal

#19238 feat(browser): Experimental features section
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-features.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/marks-and-measures.mdx
  src/content/docs/browser/new-relic-browser/configuration/experimental-features.mdx
  src/nav/browser.yml
Labels: content, from_internal

#19499 feat: Update experimental features section
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-features.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/page-resources.mdx
  src/content/docs/browser/new-relic-browser/configuration/experimental-features.mdx
  src/nav/browser.yml
Labels: content, from_internal

#19489 Create new-relic-ios-6084.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6084.mdx
Labels: content, from_internal

#19512 Update port-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/port-monitoring-integration.mdx
Labels: content, from_internal

#19510 chore: linking the global attributes section
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#19481 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#19500 Update compliance certification pages
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/hipaa.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/iso-27001.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/pci-dss.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/soc2.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/tisax.mdx
  src/content/docs/security/security-privacy/compliance/hitrust.mdx
  src/nav/new-relic-security.yml
Labels: content, from_internal

#19477 chore: Add step to update Jenkins entity.name WHERE statements
  src/content/docs/infrastructure/other-infrastructure-integrations/monitoring-jenkins-ot.mdx
Labels: content, from_internal

#19513 feat: add section for removing otel apps
  src/content/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
Labels: content, from_internal

#19517 doc: Update OpenShift compatibility version and add troubleshooting steps
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/openshift/errors.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/openshift/fluent-bit.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/openshift/ksm.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/openshift/security-context-constraints.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/overview.mdx
  src/install/kubernetes/prepare-install.mdx
Labels: content, from_internal

#19528 chore(Synthetics): fixed broken link
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
Labels: content, from_tw

#19490 Create new-relic-ios-6085.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6085.mdx
Labels: content, from_internal

#19484 fix: Make it clear that we publicly just support `timestamp` as the log timestamp
  src/content/docs/logs/ui-data/timestamp-support.mdx
Labels: content, from_internal

#19496 feat(browser): Add auto-logging documentation + minor cleanup
  src/content/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/recordReplay.mdx
Labels: content, from_internal

#19516 Revert "Revert "docs(logs): Add new syslog mechanism to send the license key""
  src/content/docs/logs/log-api/use-tcp-endpoint-forward-logs-new-relic.mdx
Labels: content, from_internal

#19519 docs(logs): Update release notes
  src/content/docs/release-notes/logs-release-notes/logs-24-12-11.mdx
Labels: content, from_internal

#19497 feat: Update for new server side config
  src/content/docs/apm/agents/manage-apm-agents/configuration/server-side-agent-configuration.mdx
  static/images/server_side_agent_configuration_screenshot.webp
Labels: content, from_internal

#19531 Daily release/12 13 24 morning
  src/content/docs/apm/agents/manage-apm-agents/configuration/server-side-agent-configuration.mdx
  src/content/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/recordReplay.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/openshift/errors.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/openshift/fluent-bit.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/openshift/ksm.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/openshift/security-context-constraints.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/overview.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-policy.mdx
  src/content/docs/logs/log-api/use-tcp-endpoint-forward-logs-new-relic.mdx
  src/content/docs/logs/ui-data/timestamp-support.mdx
  src/content/docs/release-notes/docs-release-notes/docs-12-13-2024.mdx
  src/content/docs/release-notes/logs-release-notes/logs-24-12-11.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6085.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
  src/install/kubernetes/prepare-install.mdx
  src/nav/kubernetes-pixie.yml
  static/images/server_side_agent_configuration_screenshot.webp
Labels: content, from_tw

#19537 Revert "feat(browser): Add auto-logging documentation + minor cleanup"
  src/content/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/recordReplay.mdx
Labels: content, from_tw

#19530 fix(php): explicitly only support drupal 11.0
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#19534 Revert "feat: Update for new server side config"
  src/content/docs/apm/agents/manage-apm-agents/configuration/server-side-agent-configuration.mdx
  static/images/server_side_agent_configuration_screenshot.webp
Labels: content, from_internal

#19498 feat: Add Cancel Query Nerdgraph Block
  src/content/docs/apis/nerdgraph/examples/async-queries-nrql-tutorial.mdx
Labels: content, from_internal

#19523 Add new config setting & 10.4.0 release notes for Python -- PLEASE MERGE Dec 13 AM
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-100400.mdx
Labels: content, from_internal

#19545 chore(licenses): Updated support case
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_internal

#19539 iOS App Release Notes 6.8.6
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6086.mdx
Labels: content, from_internal

#19552 Set the default networking mode to be used.
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-job-manager.mdx
Labels: content, from_internal

#19546 Update get-started-log-management.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
Labels: content, from_internal

#19541 Update kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal

#19525 Added sections detailing resource requirements by component
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
Labels: content, from_internal

#19550 Update security-policy.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-policy.mdx
Labels: content, from_internal

#19543 Create new-relic-android-5270.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5270.mdx
Labels: content, from_internal

#19556 Browser Agent v1.276.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.276.0.mdx
Labels: content, from_internal

#19563 docs: updated Fluent bit docs for Install tab
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-24-10-31.mdx
  src/content/docs/release-notes/fluentbit-release-notes/index.mdx
  src/content/docs/release-notes/index.mdx
Labels: content, from_internal

#19565 adding release notes for unified lambda
  src/content/docs/release-notes/logs-release-notes/logs-24-12-18.mdx
Labels: content, from_internal

#19557 chore: add syntax highlighting
  src/install/aws-logs/cloudwatch/configure-retries.mdx
  src/install/aws-logs/cloudwatch/view-log-data.mdx
Labels: content, from_internal

#19532 Update security-controls-privacy.mdx
  src/content/docs/security/security-privacy/data-privacy/security-controls-privacy.mdx
Labels: content, from_internal

#19561 chore: code in backticks
  src/content/docs/mlops/bring-your-own/getting-started-byo.mdx
  src/content/docs/mlops/integrations/datarobot-mlops-integration.mdx
Labels: content, from_internal

#19544 feat(NRVM PHP): updated PHP package support table
  src/content/docs/vulnerability-management/integrations/intro.mdx
Labels: content, from_tw

#19562 feat: document record custom event api for upcoming Browser Agent release
  src/content/docs/browser/new-relic-browser/browser-apis/recordCustomEvent.mdx
  src/content/docs/data-apis/custom-data/custom-events/collect-custom-attributes.mdx
  src/content/docs/data-apis/custom-data/custom-events/report-browser-monitoring-custom-events-attributes.mdx
  src/content/docs/data-apis/custom-data/custom-events/report-custom-event-data.mdx
Labels: content, from_internal

#19582 Add fluentbit agent in release-notes json
  scripts/releaseNotes.mjs
  src/utils/getAgentName.js
Labels: eng

#19584 chore: infra-agent 1.59.0 release doc
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1590.mdx
Labels: content, from_internal

#19579 chore: add Node.js Agent v12.9.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-9-0.mdx
Labels: content, from_internal

#19573 fix: broken link markdown
  src/content/docs/apis/nerdgraph/examples/nerdgraph-distributed-trace-data-tutorial.mdx
Labels: content, from_internal

#19576 fix: update go easy instrumentation docs to 0.5.0
  src/content/docs/apm/agents/go-agent/installation/install-automation-new-relic-go.mdx
Labels: content, from_internal

#19578 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#19583 Chore(Vulnerability-integration): Omit minor version of PHP APM agent in description
  src/content/docs/vulnerability-management/integrations/intro.mdx
Labels: content, from_tw

#19581 fix (correlation): Update image for correlation policy on alert page
  static/images/alerts_screenshot-full_decision-policy-.webp
Labels: content, from_internal

#19580 Update release notes of SJM and Node Browser Runtime.
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-418.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-424.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.12.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.15.mdx
Labels: content, from_internal

#19588 Browser Agent v1.277.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.277.0.mdx
Labels: content, from_internal

#19587 Update java agent docs for 8.17.0 release
  src/content/docs/apm/agents/java-agent/configuration/java-agent-config-file-template.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8170.mdx
Labels: content, from_internal

#19548 feat(cardinality management): Added pre-metric limit editing capability
  src/content/docs/data-apis/ingest-apis/metric-api/cardinality-management.mdx
  static/images/apis-and-data_screenshot-crop_metric-cardinality-breakdown.webp
  static/images/apis-and-data_screenshot-crop_metrics-table.webp
  static/images/apis-and-data_screenshot-crop_view-pruning-rules.webp
Labels: content, from_tw

#19575 chore[docs]: Release notes for week of 19-Dec
  src/content/docs/release-notes/docs-release-notes/docs-12-20-2024.mdx
Labels: content, from_tw

#19521 Update opentelemetry-apm-ui.mdx
  src/content/docs/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-ui.mdx
Labels: content, from_internal

#19592 fix broken links
  src/content/docs/infrastructure/amazon-integrations/connect/set-up-aws-api-polling.mdx
Labels: from_internal, documentation

#19600 Update containerized-images.mdx to rename urls
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/containerized-images.mdx
Labels: from_internal, from_tw, documentation

#19601 Update overview.mdx to correct indentation
  src/content/docs/serverless-function-monitoring/overview.mdx
Labels: from_internal, from_tw, documentation

#19603 Added the Microsoft Team Webhook-based connector EOL information
  src/content/docs/alerts/get-notified/destinations.mdx
Labels: content, from_tw

#19609 feat(ResourceAttributes): Add resource attributes config
  src/content/docs/infrastructure/other-infrastructure-integrations/monitoring-jenkins-ot.mdx
Labels: content, from_internal

#19612 chor: fix broken link
  src/install/config/aws-cloudwatch.yaml
Labels: content, from_tw
