Repository newrelic/docs-website, pull requests merged in 2024-04, with the labels that each got.

#16724 Postfix rewrite
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postfix-monitoring-integration.mdx
Labels: content, from_tw

#16738 feat(release notes): Docs release notes 3-29-2024
  src/content/docs/release-notes/docs-release-notes/docs-3-29-2024.mdx
Labels: content, from_tw

#16343 Accounts: Add Standard Edition eligibility for data plus
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
Labels: content, from_tw

#16744 fix: update asset prefixing workaround
  src/@newrelic/gatsby-theme-newrelic/components/MDXLink.js
Labels: eng

#16766 Revert "fix: update asset prefixing workaround"
  src/@newrelic/gatsby-theme-newrelic/components/MDXLink.js
Labels: eng

#16716 SonarQube rewrite
  src/content/docs/infrastructure/host-integrations/host-integrations-list/sonarqube-monitoring-integration.mdx
Labels: content, from_tw

#16769 fix(errors): remove errors inbox EOL doc
  src/content/docs/errors-inbox/legacyerrors-eol.mdx
  src/i18n/content/es/docs/errors-inbox/legacyerrors-eol.mdx
  src/i18n/content/jp/docs/errors-inbox/legacyerrors-eol.mdx
  src/i18n/content/kr/docs/errors-inbox/legacyerrors-eol.mdx
  src/i18n/content/pt/docs/errors-inbox/legacyerrors-eol.mdx
Labels: content, from_tw

#16771 Small update to fix JP broken link
  src/i18n/translations/jp/translation.json
Labels: content, from_internal

#16737 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#16217 feat: Add support for Docker API metrics fetch (NR-221195)
  src/content/docs/infrastructure/elastic-container-service-integration/introduction-amazon-ecs-integration.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/understand-use-ecs-data.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/container-instrumentation-infrastructure-monitoring.mdx
Labels: content, from_internal

#16777 chore(errors): remove eol from left nav
  src/nav/errors-inbox.yml
Labels: content, from_tw

#16780 feat: New Singlestore example reference
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-singlestore.mdx
  src/nav/integrations.yml
Labels: content, from_internal

#16760 New infrastructure agent release 1.52.0 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1520.mdx
Labels: content, from_internal

#16791 chore(VM): Fix markdown formatting
  src/content/docs/vulnerability-management/understanding-prioritization.mdx
Labels: content, from_tw

#16604 chore(sweep): Consistency of DNT and FedRAMP caps
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/content/docs/logs/forward-logs/kubernetes-plugin-log-forwarding.mdx
Labels: content, from_tw

#16788 chore(OHI): remove old doc from yml, add redirect
  src/content/docs/more-integrations/cloudfoundry-integrations/vmware-tanzu-firehose-nozzle-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#16793 Log search updates
  src/content/docs/codestream/observability/log-search.mdx
  src/content/docs/codestream/observability/performance-monitoring.mdx
  src/images/codestream_screenshot-crop_o11y.webp
Labels: content, from_internal

#16803 Update error-users-impacted.mdx
  src/content/docs/errors-inbox/error-users-impacted.mdx
Labels: content, from_internal

#16801 fix: typo with array name
  src/content/docs/alerts-applied-intelligence/notifications/message-templates.mdx
Labels: content, from_internal

#16758 Update queries-nrql_screenshot-full_nrql-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/queries-nrql_screenshot-full_nrql-alert-conditions.mdx
Labels: content, from_internal

#16740 Update user-permissions.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
Labels: content, from_internal

#16799 Browser Agent v1.255.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.255.0.mdx
Labels: content, from_internal

#16808 feat(whats-new): Add cloudwatch metrics post
  src/content/whats-new/2024/04/whats-new-04-04-cloudwatchmetrics
Labels: content, from_internal

#16807 +Language identifiers and codeblock cleanup of REST API docs
  src/content/docs/apis/rest-api-v2/application-examples-v2/get-average-throughput-app-v2.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/list-apps-host-ids-instance-ids.mdx
  src/content/docs/apis/rest-api-v2/application-examples-v2/list-your-app-id-metric-timeslice-data-v2.mdx
  src/content/docs/apm/apm-ui-pages/events/record-deployments.mdx
Labels: content, from_tw

#16810 fix(WhatsNew): add .md to file name
  src/content/whats-new/2024/04/whats-new-04-04-cloudwatchmetrics.md
Labels: content, from_tw

#16804 chore(OTEL): remove old cumulative transition doc
  src/content/docs/data-apis/understand-data/metric-data/cumulative-metrics.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-squid.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/cumulative-metrics-transition-guide.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/cumulative-metrics-transition-guide.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/cumulative-metrics-transition-guide.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/cumulative-metrics-transition-guide.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/cumulative-metrics-transition-guide.mdx
  src/nav/integrations.yml
Labels: content, from_tw

#16813 New Go Agent Release
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-32-0.mdx
Labels: content, from_internal

#16646 [improvement] Add directions for instrumenting a mixed Windows/Linux Kubernetes cluster
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/windows-linux-hybrid-cluster.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal

#16790 style(react native): Fix typos
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
Labels: content, from_tw

#16748 feat: add new homepage banner and hide navigation
  gatsby-node.js
  src/@newrelic/gatsby-theme-newrelic/components/Logo.js
  src/components/FindYourQuickstart.js
  src/components/HomepageBanner.js
  src/images/bannerBackground.svg
  src/images/bannerBackgroundDark.svg
  src/layouts/HomePageLayout.js
  src/layouts/MainLayout.js
  src/layouts/index.js
  src/pages/index.js
Labels: eng

#16824 style(VM): Fix curly quotes and bold
  src/content/docs/vulnerability-management/understanding-prioritization.mdx
Labels: content, from_tw

#16312 feat(Getting Started): Added a new getting started page
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/account-user-mgmt-tutorial.mdx
  src/content/docs/alerts-applied-intelligence/overview.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/get-started/manual-installation.mdx
  src/images/alerts_screenshot-crop_main.webp
  src/images/apm_screenshot-crop_main.webp
  src/images/browser_screenshot-crop_main.webp
  src/images/dashboards_screenshot-crop_main.webp
  src/images/errors-inbox_screenshot-crop_main.webp
  src/images/iast_screenshot-crop_main.webp
  src/images/infrastructure_screenshot-crop_main.webp
  src/images/kubernetes_screenshot-crop_main.webp
  src/images/lambda_screenshot-crop_main.webp
  src/images/live-archives_screenshot-crop_main.webp
  src/images/logs_screenshot-crop_main.webp
  src/images/mobile_screenshot-crop_main.webp
  src/images/network_screenshot-crop_main.webp
  src/images/new-relic-one_screenshot-full_capabilities.webp
  src/images/new-relic-one_screenshot-full_main.webp
  src/images/nrql_screenshot-crop_main.webp
  src/images/opentelemetry_screenshot-crop_main.webp
  src/images/slm_screenshot-crop_main.webp
  src/images/synthetic_screenshot-crop_main.webp
  src/images/vulnerability-management_screenshot-crop_main.webp
  src/nav/new-relic-solutions.yml
  src/nav/root.yml
Labels: content, from_tw

#16798 PUBLISH 04/05 noon PST feat(Synthetics): Added runtime upgrades monitors doc
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/mobile-monitoring-alert-information.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/new-runtime.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
  src/content/docs/tutorial-troubleshoot-infra-hosts/diagnose-app-infra-data.mdx
  src/content/docs/tutorial-troubleshoot-infra-hosts/investigate-your-resources.mdx
  src/images/synthetic_screenshot-crop_create-monitor.webp
  src/images/synthetic_screenshot-crop_monitor-critical-alert.webp
  src/images/synthetic_screenshot-full_upgrade-all-monitors.webp
  src/images/synthetic_screenshot-full_upgrade-one-monitor.webp
  src/nav/synthetics.yml
Labels: content, from_tw

#16828 feat(RemovedLimitations): Job Manager updates
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-transition-guide.mdx
Labels: content, from_tw

#16817 Feat: Add user-facing documentation for custom node modules feature in SJM
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Labels: content, from_internal

#16499 feat(browser): Session replay GA
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-features.mdx
  src/content/docs/browser/new-relic-browser/performance-quality/browser-monitoring-performance-impact.mdx
  src/images/browser_screenshot-crop_view-consumption-details.webp
Labels: content, from_tw

#16819 chore(infra): Fix win install indents
  src/content/docs/infrastructure/install-infrastructure-agent/windows-installation/install-infrastructure-monitoring-agent-windows.mdx
Labels: content, from_tw

#16833 fix(sessionReplay): incorrect anchor link
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
Labels: content, from_tw

#16834 Feat: Add SJM and runtime docs for custom node modules update
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-360.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.63.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.2.49.mdx
Labels: content, from_tw

#16482 Added docs for .NET LLM support
  src/content/docs/ai-monitoring/customize-agent-ai-monitoring.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/setllmtokencountingcallback-net-agent-api.mdx
Labels: content, from_internal

#16832 feat(Docs): New release notes: docs v4-5-2024
  src/content/docs/release-notes/docs-release-notes/docs-4-5-2024.mdx
Labels: content, from_tw

#16840 chore(java): removing security agent updates from security updates
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8100.mdx
Labels: content, from_internal

#16843 fix(sessionReplay): remove april 8 reference
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
Labels: content, from_tw

#16826 chore: clean up language in throughput section
  src/content/docs/network-performance-monitoring/troubleshooting/understanding-snmp-utilization-calculations.mdx
Labels: content, from_internal

#16795 feat(aim): update screenshots in drop fitlers, remove code styling in…
  src/content/docs/ai-monitoring/drop-sensitive-data.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/images/ai_screenshot-crop_drop-filter-modal.webp
  src/images/ai_screenshot-crop_drop-filter-table.webp
  src/install/ai-monitoring/agent-lang/dotnet-config.mdx
  src/install/ai-monitoring/agent-lang/dotnet-install.mdx
  src/install/ai-monitoring/agent-lang/python-config.mdx
  src/install/assets/install-logos/dotnet.svg
  src/install/config/ai-monitoring.yaml
Labels: content, from_tw

#16827 fix: typos and codeblocks
  gatsby-config.js
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/more-integrations/terraform/terraform-modules.mdx
Labels: content, from_internal

#16842 fix: Update steps on creating drop filter for logs
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/images/logs_screenshot-full_drop-filter-selection-2.webp
Labels: content, from_internal

#16845 fix: uncomment yaml example
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#16844 Update nerdgraph-api-workflows.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-workflows.mdx
Labels: content, from_internal

#16848 chore(style guide): Fix formatting issues
  src/content/docs/style-guide/writing-strategies/voice-strategies-docs-sound-new-relic.mdx
Labels: content, from_tw

#16854 feat(GCP): adding more metrics to the gcp spanner cloud integration
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-spanner-monitoring-integration.mdx
Labels: content, from_internal

#16859 Update root-causes.mdx
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/content/docs/tutorial-improve-app-performance/root-causes.mdx
Labels: content, from_tw

#16855 Fix: Updated/Added details around APIs and include quickstarts
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/intro-synthetic-monitoring.mdx
Labels: content, from_internal

#16865 fix typo
  src/content/docs/new-relic-partnerships/partnerships/partner-api/product-buckets.mdx
Labels: content, from_tw

#16860 Add head sampling trace session details
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
Labels: content, from_internal

#16856 chore(roku): Fix redundant formatting / copy
  src/content/docs/more-integrations/open-source-telemetry-integrations/roku/roku-open-source-video-agent.mdx
Labels: content, from_tw

#16867 chore(java): Remove duplicative links
  src/content/docs/apm/agents/java-agent/getting-started/introduction-new-relic-java.mdx
Labels: content, from_tw

#16866 chore(java): Remove broken links
  src/content/docs/apm/agents/java-agent/getting-started/introduction-new-relic-java.mdx
Labels: content, from_tw

#16825 fix(apm): updating definition of wall clock time
  src/content/docs/apm/apm-ui-pages/monitoring/transactions-page-find-specific-performance-problems.mdx
Labels: content, from_tw

#16857 Update windows-linux-hybrid-cluster.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/windows-linux-hybrid-cluster.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal

#16879 fix: removed html showing in codeblock
  src/content/docs/infrastructure/infrastructure-integrations/cloud-integrations/hcp-consul-monitoring.mdx
Labels: content, from_internal

#16880 fix: link and typo
  src/content/docs/ai-monitoring/customize-agent-ai-monitoring.mdx
  src/content/docs/ai-monitoring/drop-sensitive-data.mdx
Labels: content, from_internal

#16881 Update kafka-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/kafka/kafka-integration.mdx
Labels: content, from_tw

#16870 Accounts: Rename awkward title and h2
  src/content/docs/accounts/accounts-billing/account-structure/factors-affecting-access-features-data.mdx
  src/nav/accounts.yml
Labels: content, from_tw

#16884 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#16507 chore(styleGuide): add to agent/integration definitions
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#16887 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_tw

#16784 Infrastructure: Add Prometheus Node Exporter doc
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/node-exporter-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#16890 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#16775 Add User Journeys to crash-analysis-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-page.mdx
  src/images/mobile_screenshot-crop_mobile-user-journeys.gif
Labels: content, from_internal

#16891 Update session-replay.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
Labels: content, from_internal

#16878 (Chore) Java Agent release 8.11.0
  src/content/docs/apm/agents/java-agent/configuration/java-agent-config-file-template.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8110.mdx
Labels: content, from_internal

#16759 Update introduction-aws-integrations.mdx
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
Labels: content, from_internal

#16893 Update java-agent-8100.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8100.mdx
Labels: content, from_internal

#16700 Update php-directory-ini-settings.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-directory-ini-settings.mdx
Labels: content, from_internal

#16699 Update name-your-php-application.mdx
  src/content/docs/apm/agents/php-agent/configuration/name-your-php-application.mdx
Labels: content, from_internal

#16901 feat(Docs): Swapped the location of security and licenses category in top-level nav
  src/nav/root.yml
Labels: content, from_tw

#16900 feat(dashboards): Manage dashboards update
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
Labels: content, from_tw

#16644 hybrid mobile agent releases for ios agent update
  src/content/docs/mobile-monitoring/new-relic-mobile-unreal-engine/monitor-your-unreal-engine-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/create-attribute.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/current-session-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/increment-session-attribute-count.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-breadcrumb.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-events.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-errors.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/remove-all-attributes.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/remove-attribute.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-custom-user-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-buffer-time.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-pool-size.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/shut-down-agent.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/start-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/stop-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/test-crash-reporting.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-137.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-628.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-106.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-107.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-108.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-007.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-137.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-134.mdx
  src/content/docs/release-notes/mobile-release-notes/unreal-release-notes/index.mdx
  src/content/docs/release-notes/mobile-release-notes/unreal-release-notes/unreal-engine-plugin-100.mdx
  src/content/docs/release-notes/mobile-release-notes/xamarin-release-notes/xamarin-agent-005.mdx
  src/images/newrelic_unreal_attribute_example.webp
  src/images/newrelic_unreal_sdk_configuration.webp
  src/images/newrelic_unreal_sdk_installation.webp
  src/images/newrelic_unreal_sdk_interaction_example.webp
  src/images/newrelic_unreal_sdk_record_breadcrumb.webp
  src/images/newrelic_unreal_sdk_record_custom_event.webp
  src/images/newrelic_unreal_sdk_record_error.webp
  src/images/newrelic_unreal_sdk_remove_attribute.webp
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#16907 Browser Agent v1.256.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.256.0.mdx
Labels: content, from_internal

#16910 chore(security bulletins): Clarify NR23-01 end date
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
Labels: content, from_tw

#16886 fix: update doc links
  src/content/docs/apm/agents/net-agent/troubleshooting/monitor-short-lived-net-processes.mdx
Labels: content, from_internal

#16862 Padding adjustments
  src/components/MachineTranslationCallout.js
  src/components/PageTitle.js
  src/layouts/MainLayout.js
  src/templates/docPage.js
Labels: eng

#16876 Remove codemarks articles/info
  src/content/docs/codestream/code-discussion/activity-feed-search.mdx
  src/content/docs/codestream/code-discussion/discuss-code.mdx
  src/content/docs/codestream/code-discussion/msteams-integration.mdx
  src/content/docs/codestream/code-discussion/slack-integration.mdx
  src/content/docs/codestream/codestream-settings/account-settings.mdx
  src/content/docs/codestream/start-here/what-is-codestream.mdx
  src/content/docs/codestream/troubleshooting/git-issues.mdx
  src/content/docs/codestream/troubleshooting/github-org-repos.mdx
  src/content/docs/codestream/troubleshooting/glsm-version.mdx
  src/content/docs/codestream/troubleshooting/jira-server-integration.mdx
  src/content/docs/codestream/troubleshooting/jira-server-version.mdx
  src/content/docs/codestream/troubleshooting/reverse-proxy.mdx
  src/content/docs/codestream/troubleshooting/security.mdx
  src/i18n/content/es/docs/codestream/code-discussion/activity-feed-search.mdx
  src/i18n/content/es/docs/codestream/code-discussion/discuss-code.mdx
  src/i18n/content/es/docs/codestream/code-discussion/msteams-integration.mdx
  src/i18n/content/es/docs/codestream/code-discussion/slack-integration.mdx
  src/i18n/content/es/docs/codestream/troubleshooting/git-issues.mdx
  src/i18n/content/es/docs/codestream/troubleshooting/github-org-repos.mdx
  src/i18n/content/es/docs/codestream/troubleshooting/glsm-version.mdx
  src/i18n/content/es/docs/codestream/troubleshooting/jira-server-integration.mdx
  src/i18n/content/es/docs/codestream/troubleshooting/jira-server-version.mdx
  src/i18n/content/es/docs/codestream/troubleshooting/reverse-proxy.mdx
  src/i18n/content/es/docs/codestream/troubleshooting/security.mdx
  src/i18n/content/jp/docs/codestream/code-discussion/activity-feed-search.mdx
  src/i18n/content/jp/docs/codestream/code-discussion/discuss-code.mdx
  src/i18n/content/jp/docs/codestream/code-discussion/msteams-integration.mdx
  src/i18n/content/jp/docs/codestream/code-discussion/slack-integration.mdx
  src/i18n/content/jp/docs/codestream/troubleshooting/git-issues.mdx
  src/i18n/content/jp/docs/codestream/troubleshooting/github-org-repos.mdx
  src/i18n/content/jp/docs/codestream/troubleshooting/glsm-version.mdx
  src/i18n/content/jp/docs/codestream/troubleshooting/jira-server-integration.mdx
  src/i18n/content/jp/docs/codestream/troubleshooting/jira-server-version.mdx
  src/i18n/content/jp/docs/codestream/troubleshooting/reverse-proxy.mdx
  src/i18n/content/jp/docs/codestream/troubleshooting/security.mdx
  src/i18n/content/kr/docs/codestream/code-discussion/activity-feed-search.mdx
  src/i18n/content/kr/docs/codestream/code-discussion/discuss-code.mdx
  src/i18n/content/kr/docs/codestream/code-discussion/msteams-integration.mdx
  src/i18n/content/kr/docs/codestream/code-discussion/slack-integration.mdx
  src/i18n/content/kr/docs/codestream/troubleshooting/git-issues.mdx
  src/i18n/content/kr/docs/codestream/troubleshooting/github-org-repos.mdx
  src/i18n/content/kr/docs/codestream/troubleshooting/glsm-version.mdx
  src/i18n/content/kr/docs/codestream/troubleshooting/jira-server-integration.mdx
  src/i18n/content/kr/docs/codestream/troubleshooting/jira-server-version.mdx
  src/i18n/content/kr/docs/codestream/troubleshooting/reverse-proxy.mdx
  src/i18n/content/kr/docs/codestream/troubleshooting/security.mdx
  src/i18n/content/pt/docs/codestream/code-discussion/activity-feed-search.mdx
  src/i18n/content/pt/docs/codestream/code-discussion/discuss-code.mdx
  src/i18n/content/pt/docs/codestream/code-discussion/msteams-integration.mdx
  src/i18n/content/pt/docs/codestream/code-discussion/slack-integration.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/git-issues.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/github-org-repos.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/glsm-version.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/jira-server-integration.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/jira-server-version.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/reverse-proxy.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/security.mdx
  src/nav/codestream.yml
Labels: content, from_internal

#16872 PUBLISH: 4/12: Agentless monitoring and standardized entity creation
  src/content/docs/release-notes/infrastructure-release-notes/cloud-integration-release-notes/agentless-monitoring-standardized-entity-creation.mdx
Labels: content, from_internal

#16917 hero request for typo in kafka docs, adding a quote from cisa to vuln…
  src/content/docs/apm/agents/java-agent/instrumentation/java-agent-instrument-kafka-message-queues.mdx
  src/content/docs/vulnerability-management/understanding-prioritization.mdx
Labels: content, from_tw

#16782 New styles for popular docs tiles
  src/components/DocTile.js
  src/i18n/translations/en/translation.json
  src/pages/index.js
Labels: eng

#16920 [chore] Update connect-google-cloud-platform-services-new-relic.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-google-cloud-platform-services-new-relic.mdx
Labels: content, from_internal

#16811 fix(NRQL): address fixes from a #help-documentation request
  src/content/docs/nrql/using-nrql/rate-function.mdx
Labels: content, from_tw

#16927 fix(unreal): Fix missing bold tag
  src/content/docs/mobile-monitoring/new-relic-mobile-unreal-engine/monitor-your-unreal-engine-application.mdx
Labels: content, from_tw

#16928 style(logs): Drop filter structure improvement
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
Labels: content, from_tw

#16929 feat(release notes): Docs RN for 4-12-24
  src/content/docs/release-notes/docs-release-notes/docs-4-12-2024.mdx
Labels: content, from_tw

#16933 fix(Release notes): Fixed callout, replaced warning with caution
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8100.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-5-0.mdx
Labels: content, from_tw

#16923 Add new nr icons
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/ai-monitoring.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/area-chart.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/attachment.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/bookmark.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/horizontal-chart.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/iast.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/inbox.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/k8s-cluster.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/learning-models.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/ml-endpoints.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/monitoring.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/needs-instrumentation.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/notes-add.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/notes-edit.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/private.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/query.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/service-map.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/synthetics.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/upstream-deployment.js
  src/@newrelic/gatsby-theme-newrelic/icons/newrelic/user.js
  src/pages/index.js
Labels: eng

#16942 feat(whats-new): PUBLISH APRIL 15TH Add session replay post
  src/content/whats-new/2024/04/whats-new-04-15-sessionreplayupdate.md
Labels: content, from_tw

#16944 fix(CustomNodeModules): Updated minimum version
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-transition-guide.mdx
Labels: content, from_internal

#16594 Ray integration docs
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ray-integration.mdx
  src/images/infrastructure_screenshot-full_ray-dashboard.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#16953 fix(alerts): removing anomaly docs
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/automatic-anomalies.mdx
  src/content/docs/nerdgraph-anomaly-detector-configurations-api-tutorial.mdx
  src/i18n/content/es/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/i18n/content/es/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/automatic-anomalies.mdx
  src/i18n/content/es/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/automatic-anomalies.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
  src/i18n/content/jp/docs/nerdgraph-anomaly-detector-configurations-api-tutorial.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/automatic-anomalies.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
  src/i18n/content/kr/docs/nerdgraph-anomaly-detector-configurations-api-tutorial.mdx
  src/i18n/content/pt/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/i18n/content/pt/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/automatic-anomalies.mdx
  src/i18n/content/pt/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
  src/i18n/content/pt/docs/nerdgraph-anomaly-detector-configurations-api-tutorial.mdx
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_tw

#16885 Fix branching doc indents
  src/install/apache-flink/check-metrics.mdx
  src/install/apache-flink/configure-prometheus-apache.mdx
  src/install/apache/default-install-linux.mdx
  src/install/apache/linux/install-apt.mdx
  src/install/apache/linux/install-linux.mdx
  src/install/apache/linux/install-yum.mdx
  src/install/apache/linux/install-zypper.mdx
  src/install/apache/windows/install-windows.mdx
  src/install/dotnet/installation/windowsIisInstall-2.mdx
  src/install/dotnet/installation/windowsNonIisInstall-2.mdx
  src/install/haproxy/default-install-linux.mdx
  src/install/haproxy/linux/install-apt.mdx
  src/install/haproxy/linux/install-linux.mdx
  src/install/haproxy/linux/install-yum.mdx
  src/install/haproxy/linux/install-zypper.mdx
  src/install/haproxy/windows/install-windows.mdx
  src/install/java/frameworkInstallation/coldfusion.mdx
  src/install/java/frameworkInstallation/glassfish.mdx
  src/install/mongodb/default-install-linux.mdx
  src/install/mongodb/host/percona.mdx
  src/install/mongodb/linux/install-apt.mdx
  src/install/mongodb/linux/install-linux.mdx
  src/install/mongodb/linux/install-yum.mdx
  src/install/mongodb/linux/install-zypper.mdx
  src/install/mongodb/windows/install-windows.mdx
  src/install/rabbitmq/ansible/install-ansible.mdx
Labels: content, from_tw

#16898 chore: Add secure URL and custom headers auth to destination
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
  src/images/accounts_screenshot-crop_webhook-custom-headers-auth.webp
  src/images/accounts_screenshot-crop_webhook-secure-url.webp
Labels: content, from_internal

#16888 Fix integration reference
  src/install/mongodb/install-infra.mdx
Labels: content, from_tw

#16919 [chore] Update integrations-custom-roles.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/integrations-custom-roles.mdx
Labels: content, from_internal

#16980 fix(sessionReplay): add limited preview to banner
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
Labels: content, from_tw

#16972 chore(OTEL): reorganize OTEL docs, remove legacy exporters doc
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-legacy-new-relic-exporters.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-legacy-new-relic-exporters.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-legacy-new-relic-exporters.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-legacy-new-relic-exporters.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-legacy-new-relic-exporters.mdx
  src/nav/integrations.yml
  src/nav/opentelemetry.yml
  src/nav/root.yml
Labels: content, from_tw

#16978 few changes to Spanish files
  src/i18n/content/es/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/i18n/content/es/docs/accounts/accounts-billing/new-relic-one-pricing-billing/eligibility-guidelines-new-relic-nonprofit-program.mdx
  src/i18n/content/es/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
  src/i18n/content/es/docs/new-relic-solutions/observability-maturity/innovation-growth/development-release-quality-guide.mdx
Labels: translations

#16916 NFS rewrite
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nfs-monitoring-integration.mdx
Labels: content, from_tw

#16911 SCHEDULE FOR 4/15: drop filters content updates per post-ga design updates
  src/content/docs/ai-monitoring/drop-sensitive-data.mdx
  src/images/ai_screenshot-crop_drop-filter-modal-2.webp
  src/images/ai_screenshot-crop_drop-filter-modal.gif
  src/images/ai_screenshot-crop_drop-filter-modal.webp
Labels: content, from_tw

#16981 Update Caution Note in Java Agent v8.10.0
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8100.mdx
Labels: content, from_internal

#16897 Memcached rewrite
  src/i18n/content/es/docs/infrastructure/host-integrations/host-integrations-list/memcached-monitoring-integration.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/memcached-monitoring-integration.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/memcached-monitoring-integration.mdx
  src/i18n/content/pt/docs/infrastructure/host-integrations/host-integrations-list/memcached-monitoring-integration.mdx
  src/install/config/memcached.yaml
  src/install/memcached/appInfo.mdx
  src/install/memcached/default-configuration.mdx
  src/install/memcached/default-install-linux.mdx
  src/install/memcached/default-requirements.mdx
  src/install/memcached/find-data.mdx
  src/install/memcached/guided.mdx
  src/install/memcached/install-infra.mdx
  src/install/memcached/intro.mdx
  src/install/memcached/linux/install-apt.mdx
  src/install/memcached/linux/install-linux.mdx
  src/install/memcached/linux/install-tarball.mdx
  src/install/memcached/linux/install-yum.mdx
  src/install/memcached/linux/install-zypper.mdx
  src/install/memcached/whatsNext.mdx
  src/install/memcached/windows/install-msi.mdx
  src/install/memcached/windows/install-windows.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#16545 Temporal OHI refactor
  src/content/docs/infrastructure/host-integrations/host-integrations-list/temporal-monitoring-integration.mdx
Labels: content, from_internal

#15740 Kafka OHI refresh
  src/install/config/kafka.yaml
  src/install/kafka/appInfo.mdx
  src/install/kafka/default-configuration.mdx
  src/install/kafka/default-install-linux.mdx
  src/install/kafka/default-requirements.mdx
  src/install/kafka/find-data.mdx
  src/install/kafka/guided.mdx
  src/install/kafka/install-infra.mdx
  src/install/kafka/intro.mdx
  src/install/kafka/linux/install-apt.mdx
  src/install/kafka/linux/install-linux-boot.mdx
  src/install/kafka/linux/install-linux-zoo.mdx
  src/install/kafka/linux/install-tarball.mdx
  src/install/kafka/linux/install-yum.mdx
  src/install/kafka/linux/install-zypper.mdx
  src/install/kafka/whatsNext.mdx
  src/install/kafka/windows/install-msi.mdx
  src/install/kafka/windows/install-windows-boot.mdx
  src/install/kafka/windows/install-windows-zoo.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#16989 Nginx refresh
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-config.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
  src/i18n/content/es/docs/apm/agents/ruby-agent/api-guides/ruby-ai-monitoring.mdx
  src/i18n/content/es/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-config.mdx
  src/i18n/content/es/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
  src/i18n/content/jp/docs/apm/agents/ruby-agent/api-guides/ruby-ai-monitoring.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-config.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
  src/i18n/content/kr/docs/apm/agents/ruby-agent/api-guides/ruby-ai-monitoring.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-config.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
  src/i18n/content/pt/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/anomaly-detection-applied-intelligence.mdx
  src/i18n/content/pt/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/automatic-anomalies.mdx
  src/i18n/content/pt/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
  src/i18n/content/pt/docs/apm/agents/ruby-agent/api-guides/ruby-ai-monitoring.mdx
  src/i18n/content/pt/docs/codestream/code-discussion/activity-feed-search.mdx
  src/i18n/content/pt/docs/codestream/code-discussion/discuss-code.mdx
  src/i18n/content/pt/docs/codestream/code-discussion/msteams-integration.mdx
  src/i18n/content/pt/docs/codestream/code-discussion/slack-integration.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/git-issues.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/github-org-repos.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/glsm-version.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/jira-server-integration.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/jira-server-version.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/reverse-proxy.mdx
  src/i18n/content/pt/docs/codestream/troubleshooting/security.mdx
  src/i18n/content/pt/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-config.mdx
  src/i18n/content/pt/docs/infrastructure/host-integrations/host-integrations-list/nginx/nginx-integration.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-legacy-new-relic-exporters.mdx
  src/i18n/content/pt/docs/nerdgraph-anomaly-detector-configurations-api-tutorial.mdx
  src/images/infrastructure_screenshot-nginx-dashboard-cropped..webp
  src/install/config/nginx.yaml
  src/install/nginx/appInfo.mdx
  src/install/nginx/default-configuration.mdx
  src/install/nginx/default-install-linux.mdx
  src/install/nginx/default-requirements.mdx
  src/install/nginx/find-data.mdx
  src/install/nginx/guided.mdx
  src/install/nginx/install-infra.mdx
  src/install/nginx/intro.mdx
  src/install/nginx/linux/install-apt.mdx
  src/install/nginx/linux/install-linux.mdx
  src/install/nginx/linux/install-tarball.mdx
  src/install/nginx/linux/install-yum.mdx
  src/install/nginx/linux/install-zypper.mdx
  src/install/nginx/whatsNext.mdx
  src/install/nginx/windows/install-msi.mdx
  src/install/nginx/windows/install-windows.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#16999 Clarify Error Reporting
  src/content/docs/apm/agents/java-agent/configuration/java-agent-error-configuration.mdx
Labels: content, from_internal

#16971 Adding AI Monitoring to out-of-scope on our FedRAMP page
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp-moderate.mdx
Labels: content, from_internal

#17009 feat(Docs): Docs release notes 4-19-2024
  src/content/docs/release-notes/docs-release-notes/docs-4-19-2024.mdx
Labels: content, from_tw

#16984 feat(triton): Added NVIDIA Triton integration docs.
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nvidia-triton-integration.mdx
  src/images/infrastructure_screenshot-crop_triton-dashboard.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#17002 fix:go logs in context slog passing txn
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
Labels: content, from_internal

#16698 [WHAT'S NEW]: PUBLISH 4/22. Add Synthetics EOL post
  src/content/whats-new/2024/04/whats-new-04-09-eol-synthetics-runtime-cpm.md
Labels: content, from_internal

#17004 (Merge 4/22) feat(charts): add section about customizing chart thresholds
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/images/charts_screenshot-full_chart-threshold-table.webp
  src/images/charts_screenshot-full_chart-threshold-time-series.webp
Labels: content, from_tw

#16973 Whats new 04 22 dashboard thresholds
  src/content/whats-new/2024/04/images/thresholds-table.png
  src/content/whats-new/2024/04/images/thresholds-timeseries.png
  src/content/whats-new/2024/04/whats-new-04-22-dashboard-thresholds.md
Labels: content, from_internal

#17025 Update monitor-your-unreal-engine-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-unreal-engine/monitor-your-unreal-engine-application.mdx
Labels: content, from_internal

#16967 fix(IBM MQ): Added a compability step
  src/install/ibm-mq/default-requirements.mdx
  src/install/ibm-mq/linux/requirements-linux.mdx
  src/install/ibm-mq/linux/requirements-tarball.mdx
  src/install/ibm-mq/windows/requirements-windows.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#17020 Update csec-go-agent support-matrix link
  src/content/docs/iast/introduction.mdx
Labels: content, from_internal

#17040 Update chart-types.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
Labels: content, from_internal

#17022 docs: Added details on handling error rate in OpenTelemetry and New Relic
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-java.mdx
Labels: content, from_internal

#16996 Python release notes v9.9.0
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-runtime-metrics.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-90900.mdx
Labels: content, from_internal

#16487 Active Directory integration revamp
  src/content/docs/infrastructure/host-integrations/host-integrations-list/active-directory-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/aerospike-integration.mdx
  src/i18n/content/pt/docs/infrastructure/host-integrations/host-integrations-list/aerospike-integration.mdx
  src/images/infrastructure_screenshot-crop_f5-dashboard.webp
  src/install/config/f5.yaml
  src/install/f5/appInfo.mdx
  src/install/f5/default-configuration.mdx
  src/install/f5/default-install-linux.mdx
  src/install/f5/default-requirements.mdx
  src/install/f5/find-data.mdx
  src/install/f5/guided.mdx
  src/install/f5/install-infra.mdx
  src/install/f5/intro.mdx
  src/install/f5/linux/install-apt.mdx
  src/install/f5/linux/install-linux.mdx
  src/install/f5/linux/install-tarball.mdx
  src/install/f5/linux/install-yum.mdx
  src/install/f5/linux/install-zypper.mdx
  src/install/f5/whatsNext.mdx
  src/install/f5/windows/install-msi.mdx
  src/install/f5/windows/install-windows.mdx
Labels: content, from_tw

#17034 Update nerdgraph-explorer.mdx
  src/content/docs/apis/nerdgraph/get-started/nerdgraph-explorer.mdx
  src/images/apis-and-data_screenshot-crop_NerdGraph-internal-docs.webp
  src/images/apis-and-data_screenshot-crop_NerdGraph-tools-menu.webp
  src/images/apis-and-data_screenshot-full_NerdGraph-mutation-example.webp
  src/images/apis_screenshot-crop_Screenshot-API-key-in-NerdGraph.webp
Labels: content, from_internal

#17043 Fix jump link for compressed content encoding
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
Labels: content, from_internal

#17042 Update aws-metric-stream.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
Labels: content, from_internal

#17039 Networks: Remove legacy syntax
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_tw

#17056 fix(OTEL): improve OTEL yml
  src/nav/opentelemetry.yml
Labels: content, from_tw

#17069 fix(link): Add first.org link to NRVM
  src/content/docs/vulnerability-management/understanding-prioritization.mdx
Labels: content, from_internal

#17045 style(Docs): Clarified some capitalization guidelines
  src/content/docs/style-guide/capitalization/capitalization.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_tw

#17072 fix(ruby): Remove ancient Rails instructions
  src/content/docs/apm/agents/ruby-agent/installation/install-new-relic-ruby-agent.mdx
Labels: content, from_tw

#17070 chore: add release notes for minion 3.1.10
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-3110.mdx
Labels: content, from_internal

#16925 chore(dashboards): Fix formatting issue
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
Labels: content, from_tw

#17065 Update onend.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/onend.mdx
Labels: content, from_external

#17062 Tutorials: Fix broken links to developer site
  src/content/docs/new-relic-solutions/tutorials/build-hello-world-app.mdx
Labels: content, from_tw

#17059 fix(K8s): Clarified K8s support
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-job-manager.mdx
Labels: content, from_internal

#17068 feat(EOL): Added EOL details
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-maintenance-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-transition-guide.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-04x-or-lower.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetics-scripted-browser-reference-monitor-versions-050.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests-legacy.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests.mdx
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/runtime-upgrade-troubleshooting.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/new-runtime.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/runtime-upgrade-ui.mdx
Labels: content, from_internal

#17032 feat: Add SessionReplay updates and fixes
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/pauseReplay.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/recordReplay.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/start.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/using-browser-apis.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-features.mdx
Labels: content, from_internal

#17037 feat: add plugin that will strip assetPrefix from links
  gatsby-config.js
  plugins/fix-remark-path-prefix-plugin/index.js
  plugins/fix-remark-path-prefix-plugin/package.json
Labels: eng

#17060 chore: elixir identifier
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_internal

#17089 style(style guide): Clarify code guideilnes
  src/content/docs/style-guide/formatting/code-examples.mdx
Labels: content, from_tw

#17081 chore(NRQL): Update reserved words links
  src/content/docs/apm/agents/net-agent/net-agent-api/recordcustomevent-net-agent-api.mdx
  src/content/docs/data-apis/custom-data/custom-events/collect-custom-attributes.mdx
  src/content/docs/data-apis/ingest-apis/event-api/introduction-event-api.mdx
  src/content/docs/data-apis/ingest-apis/metric-api/metric-api-limits-restricted-attributes.mdx
Labels: content, from_tw

#17063 Assorted fixes for IAST and APM best practices docs
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/apm-best-practices-guide.mdx
  src/content/docs/vulnerability-management/integrations/intro.mdx
Labels: content, from_tw

#17093 update webdriver
  scripts/actions/webdriver-desktop.mjs
  scripts/actions/webdriver-mobile.mjs
  src/components/Onboarding/OnboardingStep.js
Labels: eng

#17092 [Product Partnerships] Added Azure recovery Services
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-recovery-services-vaults-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#17090 Ping runtime 1.43.0 Release Notes
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.43.0.mdx
Labels: content, from_internal
