Repository newrelic/docs-website, pull requests merged in 2024-01, with the labels that each got.

#15693 feat: update last supported PostgreSQL version
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
Labels: content, from_internal

#15663 fix(alerts): update old screenshot and UI references
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
  src/images/alerts_screenshot-crop_set-anomaly-thresholds.webp
Labels: content, from_tw

#15662 fix(support): replace old screenshots and content referencing old UI
  src/content/docs/new-relic-solutions/solve-common-issues/find-help-use-support-portal.mdx
  src/images/solutions_screenshot-crop_docs-feedback.webp
  src/images/solutions_screenshot-crop_help-button.webp
  src/images/solutions_screenshot-crop_product-support.webp
Labels: content, from_tw

#15661 fix(logs): replace duplicate install content
  src/content/docs/logs/forward-logs/cloudflare-logpush-forwarding.mdx
Labels: content, from_tw

#15698 update unity git url link
  src/content/docs/mobile-monitoring/new-relic-mobile-unity/monitor-your-unity-application.mdx
Labels: content, from_internal

#15672 fix(browser): remove old js errors content
  src/content/docs/browser/browser-monitoring/browser-pro-features/upload-source-maps-un-minify-js-errors.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-error-profiles-find-error-causes.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/upload-source-maps-api.mdx
  src/content/docs/errors-inbox/browser-tab.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/browser-pro-features/browser-error-profiles-find-error-causes.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/browser-pro-features/browser-error-profiles-find-error-causes.mdx
  src/images/errors-inbox_screenshot-crop_browser-error-profiles.webp
  src/nav/browser.yml
Labels: content, from_tw

#15679 fix(mobile): minor style fixes on custom data page
  src/content/docs/data-apis/custom-data/custom-events/report-mobile-monitoring-custom-events-attributes.mdx
Labels: content, from_tw

#15697 Update mongodb-monitoring-integration supported versions
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#15649 fix(kubernetes): remove mention of ecs, fix other errors
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/monitor-services/monitor-services-running-kubernetes.mdx
Labels: content, from_tw

#15701 Update migration-8x-guide.mdx
  src/content/docs/apm/agents/java-agent/getting-started/migration-8x-guide.mdx
Labels: content, from_internal

#15490 Added VMware Tanzu Service Broker documentation.
  src/content/docs/more-integrations/cloudfoundry-integrations/vmware-tanzu-service-broker-integration.mdx
  src/images/vmware-service-broker-import-10.png
  src/images/vmware-service-broker-import-11.png
  src/images/vmware-service-broker-import-12.png
  src/images/vmware-service-broker-import-13.png
  src/images/vmware-service-broker-import-14.png
  src/images/vmware-service-broker-import-15.png
  src/images/vmware-service-broker-import-16.png
  src/images/vmware-service-broker-import-17.png
  src/images/vmware-service-broker-import-18.png
  src/images/vmware-service-broker-import-2.png
  src/images/vmware-service-broker-import-3.png
  src/images/vmware-service-broker-import-4.png
  src/images/vmware-service-broker-import-5.png
  src/images/vmware-service-broker-import-6.png
  src/images/vmware-service-broker-import-7.png
  src/images/vmware-service-broker-import-8.png
  src/images/vmware-service-broker-import-9.png
  src/images/vmware-service-broker-import.png
  src/nav/integrations.yml
Labels: content, from_internal

#15711 Update nerdgraph-api-examples.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-examples.mdx
Labels: content, from_internal

#15710 Update rest-api-calls-alerts.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/rest-api-calls-alerts.mdx
Labels: content, from_internal

#15706 style(Alerts): Removed "Introduction to" from the nav title
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_tw

#15598 fix(Synthetics): Removing stale transaction traces doc
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/collect-synthetic-transaction-traces.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/view-simple-scripted-monitor-results.mdx
  src/i18n/content/jp/docs/synthetics/synthetic-monitoring/using-monitors/collect-synthetic-transaction-traces.mdx
  src/i18n/content/kr/docs/synthetics/synthetic-monitoring/using-monitors/collect-synthetic-transaction-traces.mdx
  src/nav/synthetics.yml
Labels: content, from_tw

#15704 chore: add language identifier
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_internal

#15712 chore: add Node.js Agent v11.8.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-8-0.mdx
Labels: content, from_internal

#15716 chore(typo): update 'anomoly' typo
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
Labels: content, from_tw

#15715 Updating duplicative tabs IDs and naming numbered tabs IDs
  src/content/docs/apm/apm-ui-pages/monitoring/external-services/external-services-setup.mdx
  src/content/docs/data-apis/custom-data/aws-privatelink.mdx
  src/content/docs/distributed-tracing/ui-data/trace-details.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/network-performance-monitoring/advanced/snmp-profiles.mdx
  src/content/docs/network-performance-monitoring/get-started/network-monitoring-best-practices.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/meraki-api-polling.mdx
  src/content/docs/tutorial-create-alerts/create-an-alert.mdx
  src/content/docs/tutorial-dd-migration/installing-monitor.mdx
  src/content/docs/tutorial-troubleshoot-infra-hosts/diagnose-app-infra-data.mdx
Labels: content, from_tw

#15705 [Product Partnerships] Added Amazon backup
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-backup-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#15707 Update create-edit-or-find-alert-policy.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/create-edit-or-find-alert-policy.mdx
Labels: content, from_internal

#15587 Ec2 quickstart documentation
  src/content/docs/infrastructure/amazon-integrations/connect/ec2-quickstart.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#15718 chore(fix broken links): updated links in buttons, added old links as…
  src/content/docs/tutorial-improve-site-performance/fixing-high-latency.mdx
  src/content/docs/tutorial-improve-site-performance/guide-to-monitoring-core-web-vitals.mdx
  src/content/docs/tutorial-improve-site-performance/improve-website-performance.mdx
  src/content/docs/tutorial-improve-site-performance/performance-benchmarks.mdx
  src/content/docs/tutorial-improve-site-performance/reduce-javascript-errors.mdx
Labels: content, from_tw

#15720 chore(add note): Added contributor note
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_tw

#15719 Added clarifying instructions to macos infra install
  src/content/docs/infrastructure/install-infrastructure-agent/macos-installation/install-infrastructure-monitoring-agent-macos.mdx
Labels: content, from_tw

#15729 Add exception to vale linted words
  .github/styles/new-relic/ComplexWords.yml
Labels: eng

#15733 Update interactions-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/interactions-page.mdx
Labels: content, from_internal

#15738 fix(nri-mongodb): specify Atlas as special as of MongoDB metric attribute
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#15734 Update analyze-network-requests-using-mobilerequest-event-data.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/network-pages/analyze-network-requests-using-mobilerequest-event-data.mdx
Labels: content, from_internal

#15727 Fix: add tested versions back to Log in Context (.NET) docs
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal

#15665 Update header anchor position and add collapser header copy button
  package.json
  plugins/gatsby-remark-autolink-headers-custom/index.js
  src/components/HeaderLink.js
  yarn.lock
Labels: eng

#15607 Update nerdgraph-entities-api-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-entities-api-tutorial.mdx
Labels: content, from_external

#15739 Corrections for Otel Collector for host monitoring guide
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
Labels: content, from_internal

#15410 [Do not publish, release TBA] logs_timestamp_support_docs_page
  src/content/docs/logs/ui-data/timestamp-support.mdx
  src/nav/logs.yml
Labels: content, from_internal

#15721 fix(mobile): misc post-release fixes to Unity doc
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-unity/monitor-your-unity-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-xamarin/monitor-your-xamarin-application.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-unity/monitor-your-unity-application.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-xamarin/monitor-your-xamarin-application.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-unity/monitor-your-unity-application.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-xamarin/monitor-your-xamarin-application.mdx
  src/images/mobile_screenshot-crop_unity-guided-install.webp
  src/images/mobile_screenshot-full_flutter-summary.webp
  src/images/mobile_screenshot-full_hybrid-summary.webp
  src/images/unity_agent_newrelic_app_token_setup.webp
Labels: content, from_tw

#15750 Update custom-variables-incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/custom-variables-incident-workflows.mdx
Labels: content, from_tw

#15752 fix(Alerts): Added a redirect
  src/content/docs/alerts-applied-intelligence/overview.mdx
Labels: content, from_tw

#15730 [PUBLISH - 1/8] What's New post for limit increase
  src/content/whats-new/2024/02/whats-new-02-05-nrql-limit-increases.md
Labels: content, from_tw

#15757 fix(secureCredentials): Additional clarifications
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
Labels: content, from_internal

#14363 fix(Open AI): added changes requested by SME
  src/content/docs/mlops/integrations/openai-integration.mdx
  src/content/docs/tutorial-dd-migration/migrating-dashboards.mdx
  src/images/model-performance-monitoring_screenshot-crop_openai-dashboard-1.webp
  src/images/model-performance-monitoring_screenshot-crop_openai-dashboard.webp
  src/nav/mlops.yml
Labels: content, from_tw

#15759 Python Agent Release v9.4.0
  src/content/docs/apm/agents/python-agent/python-agent-api/getbrowsertimingfooter-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/getbrowsertimingheader-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/supported-features/browser-monitoring-python-agent.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-90400.mdx
Labels: content, from_internal

#15760 feat: Release notes for Synthetics 1/8
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.15.mdx
Labels: content, from_internal

#15763 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_tw

#15569 [PUBLISH JANUARY 9] Whats new lambdatest integration
  src/content/whats-new/2024/01/images/lambdatest.png
  src/content/whats-new/2024/01/whats-new-01-09-lambdatest-integration.md
Labels: content, from_internal

#15722 Update docs for distributed tracing insights component
  src/content/docs/apm/agents/manage-apm-agents/agent-data/triage-run-diagnostics.mdx
  src/content/docs/distributed-tracing/ui-data/related-trace-entity-signals.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-summary-page.mdx
  src/images/apm_screenshot-crop_distributed-tracing-in-the-apm-summary-page.webp
  src/images/apm_screenshot-crop_distributed-tracing-in-the-apm-summary-page_controls.webp
  src/images/distributed-tracing_entity-summaries_full_page.webp
  src/images/distributed-tracing_signal-summaries-with-all-clear-example.webp
  src/images/distributed-tracing_signal-summaries_controls.webp
Labels: content, from_internal

#15762 [chore] Update mongodb-monitoring-integration-new.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#15330 Azure DM name matches dimension name
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/azure-integration-metrics.mdx
Labels: content, from_internal

#15771 feat(ChromeVersion): Updated to 117
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
Labels: content, from_internal

#15745 What's new: Add placeholder directories for 2024
  src/content/whats-new/2024/01/.gitkeep
  src/content/whats-new/2024/02/.gitkeep
  src/content/whats-new/2024/03/.gitkeep
  src/content/whats-new/2024/04/.gitkeep
  src/content/whats-new/2024/05/.gitkeep
  src/content/whats-new/2024/06/.gitkeep
  src/content/whats-new/2024/07/.gitkeep
  src/content/whats-new/2024/08/.gitkeep
  src/content/whats-new/2024/09/.gitkeep
  src/content/whats-new/2024/10/.gitkeep
  src/content/whats-new/2024/11/.gitkeep
  src/content/whats-new/2024/12/.gitkeep
Labels: content, from_tw

#15772 Browser Agent v1.250.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.250.0.mdx
Labels: content, from_internal

#15769 fix: update slack channel for employees contribute-to-site.mdx
  src/content/docs/style-guide/writing-strategies/contribute-to-site.mdx
Labels: content, from_internal

#15785 (Publish: 1/10/2024) Accounts: Delete inspected count references
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/data-apis/manage-data/query-limits.mdx
  src/content/docs/data-apis/manage-data/view-system-limits.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-remote-write/remote-write-errors-error-messages.mdx
  src/content/docs/logs/get-started/logging-best-practices.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrql-queries.mdx
Labels: content, from_tw

#15612 feat(errors): added a new EOL doc
  src/content/docs/errors-inbox/legacyerrors-eol.mdx
  src/images/errors-inbox_screenshot-full_errors-eol.webp
  src/nav/errors-inbox.yml
Labels: content, from_tw

#15773 Update compatibility-requirements-java-agent.mdx to indicate support …
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#15782 Fix broken link
  src/content/docs/new-relic-solutions/solve-common-issues/troubleshooting/metric-grouping-issues.mdx
Labels: content, from_internal

#15783 fix(StandardUser): Clarified standard user permissions
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Labels: content, from_internal

#15784 Remove POMI callout
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/configure-prometheus-openmetrics-integrations-large-kubernetes-environments.mdx
Labels: content, from_internal

#15790 chore: Updated Node Agent supported-version for ElasticSearch
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#15793 [Product Partnerships] Updated The AWS IoT Twinmaker Document
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-iot-twinmaker-integration.mdx
Labels: content, from_internal

#15792 chore: add Node.js Agent v11.9.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-9-0.mdx
Labels: content, from_internal

#15795 fix(whatsNew): change release date, move to January folder
  src/content/whats-new/2024/01/whats-new-01-09-nrql-limit-increases.md
Labels: content, from_tw

#15776 fix(browser): update install link
  src/content/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring.mdx
  src/content/docs/tutorial-improve-site-performance/improve-website-performance.mdx
Labels: content, from_tw

#15800 Adding a ECS requirement
  src/content/docs/infrastructure/elastic-container-service-integration/introduction-amazon-ecs-integration.mdx
Labels: content, from_internal

#15714 fix(cli): add H2s to <steps> component
  src/content/docs/new-relic-solutions/tutorials/new-relic-cli.mdx
Labels: content, from_tw

#15802 fix(apdex): replace outdated apdex link
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/browser/new-relic-browser/configuration/browser-settings-ui-options-apdex-geography.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/configuration/browser-settings-ui-options-apdex-geography.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/configuration/browser-settings-ui-options-apdex-geography.mdx
Labels: content, from_tw

#15814 style(VM): Tweak formatting
  src/content/docs/vulnerability-management/integrations/aws.mdx
Labels: content, from_tw

#15756 chore(query builder): Remove signup form
  src/content/docs/query-your-data/explore-query-data/query-builder/introduction-query-builder.mdx
Labels: content, from_tw

#15594 fix(PHP): Clarify Docker compatibility
  src/content/docs/apm/agents/php-agent/advanced-installation/docker-other-container-environments-install-php-agent.mdx
Labels: content, from_tw

#15818 Removing unhelpful screenshots
  src/content/docs/logs/forward-logs/stream-logs-using-kinesis-data-firehose.mdx
Labels: content, from_tw

#15817 Update apdex score default
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#15812 fix(whatsNew): add info on 2/5 release
  src/content/whats-new/2024/01/whats-new-01-09-nrql-limit-increases.md
Labels: content, from_tw

#15787 Dotnet custom attributes pr
  src/content/docs/apm/agents/net-agent/attributes/custom-attributes-net.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/net-agent/getting-started/introduction-new-relic-net.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/guide-using-net-agent-api.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/set-user-parameters.mdx
  src/content/docs/data-apis/custom-data/custom-events/collect-custom-attributes.mdx
Labels: content, from_tw

#15815 chore(data explorer): Remove signup form
  src/content/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer.mdx
Labels: content, from_tw

#15803 fix(browser): remove old source map screenshots
  src/content/docs/browser/browser-monitoring/browser-pro-features/upload-source-maps-un-minify-js-errors.mdx
Labels: content, from_tw

#15816 fix(accounts): fixed a duplicate anchor name, changed one link to cor…
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content, from_tw

#15807 docs: Python Agent v9.5.0 Release
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/recordlogevent-python-agent-api.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-90500.mdx
Labels: content, from_internal

#15820 Update errors-inbox.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content, from_internal

#15819 chore: update SqlClient supported versions, clean up version references in Logging Framework section.
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#15637 [docathon] feat: Add NrdbQuery to the data dictionary
  src/data/attribute-dictionary.json
Labels: content, from_internal, nrql-docathon

#15630 [Docathon] Content refresh/Updating and adding examples for lookups
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/lookups.mdx
Labels: content, from_internal, nrql-docathon

#15614 [docathon] add examples for nested aggregation
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/nested-aggregation-make-ordered-computations-single-query.mdx
Labels: content, from_internal, nrql-docathon

#15808 Removed mongoDB legacy metrics
  src/content/docs/infrastructure/manage-your-data/data-instrumentation/host-integrations-metrics.mdx
Labels: content, from_internal

#15832 chore: update snmp calculation docs
  src/content/docs/network-performance-monitoring/troubleshooting/understanding-snmp-utilization-calculations.mdx
Labels: content, from_internal

#15835 Update manage-errors-apm-collect-ignore-or-mark-expected.mdx
  src/content/docs/apm/agents/manage-apm-agents/agent-data/manage-errors-apm-collect-ignore-or-mark-expected.mdx
Labels: content, from_internal

#15829 Adding a known limitation for the shimming, keyset cannot be used with timeseries
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/query-infrastructure-dimensional-metrics-nrql.mdx
Labels: content, from_internal

#15839 chore: Updated the Apache flink documentation
  src/content/docs/infrastructure/host-integrations/host-integrations-list/install-apache-flink.mdx
Labels: content, from_internal

#15837 Update message-templates.mdx
  src/content/docs/alerts-applied-intelligence/notifications/message-templates.mdx
Labels: content, from_internal

#15843 Update debugging-net-core-agent-linux.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/debugging-net-core-agent-linux.mdx
Labels: content, from_internal

#15844 \Make tab page order match bar item order
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/add-tracked-headers.mdx
  src/content/docs/tutorial-create-alerts/create-an-alert.mdx
Labels: eng

#15834 update unity docs and added react native release notes
  src/content/docs/mobile-monitoring/new-relic-mobile-unity/monitor-your-unity-application.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-134.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-135.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/index.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-001.mdx
  src/images/mobile_screenshot-full_handled-exceptions-summary.webp
Labels: content, from_internal

#15847 feat: create action to prevent changes to attribute-dictionary JSON
  .github/workflows/attribute-dictionary-comment.yml
  .github/workflows/vale-lint.yml
  .github/workflows/verify-mdx.yml
Labels: eng

#15641 [docathon] new rate() section
  src/content/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorials/rate-function.mdx
  src/images/example_latestrate_function.webp
  src/images/example_rate_function.webp
  src/images/example_rate_function_no_timeseries.webp
  src/nav/dashboards.yml
Labels: content, from_internal, nrql-docathon

#15618 [docathon] Adding a "Setting a query's time range" page
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/query-time-range.mdx
  src/nav/dashboards.yml
Labels: content, from_internal, nrql-docathon

#15353 [Do not merge until mid-Jan] feat: Document convert in NRQL functions
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#15856 Update graphql-mobile-requests.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/get-started/graphql-mobile-requests.mdx
Labels: content, from_internal

#15446 Public docs for jparse(), mapKeys(), and mapValues()
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#15347 Public docs for CidrAddress() GA
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#15861 feat(NRQL): add blob, decode, encode
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal, from_tw

#15862 Create java-agent-881.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-881.mdx
Labels: content, from_internal

#15798 Aws cloudwatch network monitor
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-cloudwatch-network-monitor.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#15871 FIX: Update collect-custom-attributes.mdx
  src/content/docs/data-apis/custom-data/custom-events/collect-custom-attributes.mdx
Labels: content, from_internal

#15846 Update opentelemetry docs to prefer OTLP http/protobuf over grpc
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-compression.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-docker.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-hivemq.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-prometheus.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-redis.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-squid.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-statsd.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-basic.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-set-up-your-app.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-go.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-java.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-python.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-android-gradle-android-studio.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-apps-gradle-android-studio.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-go.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-android-gradle-android-studio.mdx
  src/i18n/content/kr/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-apps-gradle-android-studio.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-go.mdx
Labels: content, from_internal

#15824 Update scala-installation-java.mdx
  src/content/docs/apm/agents/java-agent/frameworks/scala-installation-java.mdx
Labels: content, from_external

#15865 Replacing nginx with mssql
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-integration.mdx
Labels: content, from_internal, from_tw

#15692 refactor(data): optimize techniques in data-optimize-techniques.mdx
  src/content/docs/tutorial-optimize-telemetry/data-optimize-techniques.mdx
Labels: content, from_external

#15702 chore(NRQL): changing query builder info in docs
  src/content/docs/accounts/accounts-billing/general-account-settings/intro-account-settings.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/introduction-query-builder.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/nrql-console.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/use-advanced-nrql-mode-query-data.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/use-advanced-promql-style-mode-query-data.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/query-builder/nrql-console.mdx
  src/i18n/content/jp/docs/query-your-data/explore-query-data/query-builder/use-advanced-promql-style-mode-query-data.mdx
  src/i18n/content/kr/docs/query-your-data/explore-query-data/query-builder/nrql-console.mdx
  src/i18n/content/kr/docs/query-your-data/explore-query-data/query-builder/use-advanced-promql-style-mode-query-data.mdx
  src/images/queriesNrql_screenshot-full_nrql-console.webp
  src/nav/dashboards.yml
Labels: content, from_tw

#15874 Update java-agent-881.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-881.mdx
Labels: content, from_external

#15867 Update diagnostics-cli-nrdiag.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/diagnostics-cli-nrdiag/diagnostics-cli-nrdiag.mdx
  src/content/docs/new-relic-solutions/solve-common-issues/diagnostics-cli-nrdiag/interpret-nrdiag-output.mdx
  src/images/solutions_screenshot-crop_nerdlet-diag.webp
Labels: content, from_internal

#15876 chore(k8s): Fix bullet indents
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
Labels: content, from_tw

#15878 fix(MonitorUpgrade): Added JSON.parse error section
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/runtime-upgrade-troubleshooting.mdx
Labels: content, from_internal

#15879 fix(user-permission): Update to include security capability
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
Labels: content, from_internal

#15883 Doc updates: correct misleading description for mobile android agent
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
Labels: content, from_internal

#15881 chore(NRQL): moving stuff in the reference doc
  src/content/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal, from_tw

#15880 (fix)Hero: fixing broken link
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/page-load-timing-process.mdx
Labels: content, from_internal, from_tw

#15884 Update long-logs-blobs.mdx
  src/content/docs/logs/ui-data/long-logs-blobs.mdx
Labels: content, from_internal

#15885 Update authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content, from_internal

#15893 fix(Java): removing compatibility list from JVM section
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_tw

#15887 Update theme & fix padding issue on steps
  package.json
  yarn.lock
Labels: eng

#15900 chore: add syntax highlighting
  src/content/docs/errors-inbox/error-users-impacted.mdx
Labels: content, from_internal

#15901 Update include-java-agent-jvm-argument.mdx
  src/content/docs/apm/agents/java-agent/additional-installation/include-java-agent-jvm-argument.mdx
Labels: content, from_internal

#15700 feat(adding new conditions doc): added new alert conditions doc, edit…
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/customize-your-webhook-payload.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-alert-conditions.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/delete-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/notification-channels-control-where-send-alerts.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/test-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/update-alert-notification-channels.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/your-first-nrql-condition.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/customize-your-webhook-payload.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/delete-alert-notification-channels.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/notification-channels-control-where-send-alerts.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/test-alert-notification-channels.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/update-alert-notification-channels.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/customize-your-webhook-payload.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/delete-alert-notification-channels.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/notification-channels-control-where-send-alerts.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/test-alert-notification-channels.mdx
  src/i18n/content/kr/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/update-alert-notification-channels.mdx
  src/images/alerts_screenshot-crop_alert-condition-page.webp
  src/images/alerts_screenshot-crop_fine-tune-alert-signals.webp
  src/images/alerts_screenshot-crop_name-your-alert-condition.webp
  src/images/alerts_screenshot-crop_set-a-query.webp
  src/images/alerts_screenshot-crop_set-a-threshold-for-an-alert-condition.webp
  src/images/alerts_screenshot-crop_synthetic-monitor-table.webp
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_tw

#15895 Update new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
Labels: from_internal, from_tw

#15889 Vulnerability management: Add step components
  src/content/docs/vulnerability-management/integrations/aws.mdx
Labels: content, from_tw

#15902 Create diagnostics-cli-326.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-326.mdx
Labels: content, from_internal

#15909 Fixed nav issue
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_tw

#15898 feat(Sonic): Added logs monitoring key popover
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/kubernetes-cluster-explorer.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-guide.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-logs/logs-licenses.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-logs/logs-plugin-licenses.mdx
  src/content/docs/logs/forward-logs/aws-firelens-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-cloudwatch-logs.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-logs-s3.mdx
  src/content/docs/logs/forward-logs/aws-lambda-sending-security-logs-s3.mdx
  src/content/docs/logs/forward-logs/azure-log-forwarding.mdx
  src/content/docs/logs/forward-logs/enable-log-management-new-relic.mdx
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/fluentd-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/forward-logs/heroku-log-forwarding.mdx
  src/content/docs/logs/forward-logs/kubernetes-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/logstash-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/mux-video-streaming-firehose.mdx
  src/content/docs/logs/forward-logs/stream-logs-using-kinesis-data-firehose.mdx
  src/content/docs/logs/forward-logs/vector-output-sink-log-forwarding.mdx
  src/content/docs/logs/get-started/get-started-log-management.mdx
  src/content/docs/logs/get-started/logging-best-practices.mdx
  src/content/docs/logs/get-started/new-relics-log-management-security-privacy.mdx
  src/content/docs/logs/log-api/introduction-log-api.mdx
  src/content/docs/logs/logs-context/get-started-logs-context.mdx
  src/content/docs/logs/ui-data/obfuscation-ui.mdx
  src/content/docs/logs/ui-data/timestamp-support.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-troubleshooting.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
  src/content/docs/new-relic-solutions/observability-maturity/operational-efficiency/data-governance-optimize-ingest-guide.mdx
  src/content/docs/new-relic-solutions/observability-maturity/uptime-performance-reliability/diagnostics-beginner-guide.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/update-serverless-monitoring-aws-lambda.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/content/docs/style-guide/writing-strategies/voice-strategies-docs-sound-new-relic.mdx
  src/content/docs/tutorial-manage-large-log-volume/get-started-managing-large-logs.mdx
  src/content/docs/tutorial-manage-large-log-volume/organize-large-logs.mdx
  src/content/docs/tutorial-optimize-telemetry/data-optimize-techniques.mdx
Labels: content, from_tw

#15188 feat(APM network endpoint): Update APM collector endpoints
  src/content/docs/new-relic-solutions/get-started/networks.mdx
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
  src/i18n/content/jp/docs/new-relic-solutions/get-started/networks.mdx
  src/i18n/content/kr/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#15910 feat(Dashboards): remove dashboards popover where irrelevant, include…
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
  src/content/docs/accounts/install-new-relic/partner-based-installation/google-app-engine-environment.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-dashboards.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/guide-using-net-agent-api.mdx
  src/content/docs/browser/browser-integrations/blazor-webassembly.mdx
  src/content/docs/browser/browser-integrations/nuxt-js-integration.mdx
  src/content/docs/data-apis/custom-data/get-custom-data-from-any-source.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-apprunner.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-ec2-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-lambda-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ansible-controller-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/lighttpd-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/redmine-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/redpanda-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/vertica-monitoring-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/troubleshooting-guide.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/integrations-list-intro.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/understand-use-data/dashboard-pixie-data.mdx
  src/content/docs/logs/get-started/logging-best-practices.mdx
  src/content/docs/mlops/integrations/truera-mlops-integration.mdx
  src/content/docs/mobile-apps/android.mdx
  src/content/docs/mobile-apps/apple-tv.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-events.mdx
  src/content/docs/more-integrations/grafana-integrations/get-started/grafana-support-prometheus-promql.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/dojo/dojo-io-integration.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-comparison.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/mobile-monitoring-best-practices-guide.mdx
  src/content/docs/new-relic-solutions/get-started/implementation-guide-organize-data.mdx
  src/content/docs/new-relic-solutions/new-relic-one/workloads/create-workloads.mdx
  src/content/docs/new-relic-solutions/new-relic-solutions/create-application-baselines.mdx
  src/content/docs/tutorial-innovation-and-growth/release-quality-mgmt.mdx
Labels: content, from_tw

#15904 chore(PHP): Adds release notes for 10.16.0.5 release
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-16.0.5.mdx
Labels: content, from_internal

#15617 fix(New Relic AI): making updates for new features
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/new-relic-ai.mdx
  src/images/ai_screenshot-crop_ask-ai-in-errors-inbox.webp
  src/images/ai_screenshot-crop_explain-this-error-pop-up.webp
  src/images/ai_screenshot-crop_new-relic-ai-explain-this-error.webp
  src/images/grok_screenshot-full_nrql-console.webp
  src/images/newrelic_screenshot-crop_ask-ai.webp
Labels: content, from_tw

#15849 fix(nrql): clarify sentence about plain terms
  src/content/docs/logs/ui-data/query-syntax-logs.mdx
Labels: content, from_tw

#15923 feat: add release date to security RSS feed
  plugins/gatsby-plugin-security-bulletins-rss/gatsby-node.js
  scripts/README.md
  scripts/utils/__tests__/frontmatter.js
  scripts/utils/frontmatter.js
  scripts/verify_mdx.js
  src/content/docs/security/new-relic-security/security-bulletins/covid-19.mdx
  src/content/docs/security/new-relic-security/security-bulletins/notification-apolloio-security-incident.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr17-01.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr17-02.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr17-03.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr17-04.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr17-05.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr17-06.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-01.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-02.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-03.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-04.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-05.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-06.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-07.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-08.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-09.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-10.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-11.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr18-12.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr19-01.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr19-02.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr19-03.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr19-04.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr19-05.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr20-01.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr20-02.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-01.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-02.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-03.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr21-04.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr22-01.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr23-01-security-advisory.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nrsg2202-01.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-heartbleed-vulnerability.mdx
  src/content/docs/security/new-relic-security/security-bulletins/solarwinds-orion.mdx
Labels: eng

#15918 chore: correct indentation
  src/content/docs/apm/agents/net-agent/custom-instrumentation/add-detail-transactions-xml-net.mdx
Labels: content, from_internal

#15931 feat(service levels): add slow burn alert
  src/content/docs/service-level-management/alerts-slm.mdx
  src/images/slm_screenshot-crop_fast-burn.png
  src/images/slm_screenshot-crop_slow-burn.png
Labels: content, from_internal

#15935 chore(PHP): Correct relnotes file name
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-16-0-5.mdx
Labels: content, from_internal

#15937 style(OHI): Fixed 2 code sections that were blank
  src/content/docs/infrastructure/host-integrations/host-integrations-list/monitor-services-running-amazon-ecs.mdx
Labels: content, from_tw

#15926 Update usage-dictionary.mdx
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_internal

#15936 Confluent Kafka docs update
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-kafka-confluentcloud.mdx
Labels: content, from_internal

#15914 fix(Go agent): Fixed a wrong URL
  src/content/docs/apm/agents/go-agent/configuration/go-agent-logging.mdx
Labels: content, from_tw

#15400 mongoDB branching test
  src/images/infrastructure_screenshot-crop_mongodb-dashboard-cropped.webp
  src/images/infrastructure_screenshot-crop_mongodb-dashboard-hq.webp
  src/images/infrastructure_screenshot-crop_mongodb-dashboard.webp
  src/install/config/mongodb.yaml
  src/install/mongodb/appInfo.mdx
  src/install/mongodb/default-configuration.mdx
  src/install/mongodb/default-install-linux.mdx
  src/install/mongodb/default-requirements.mdx
  src/install/mongodb/find-data.mdx
  src/install/mongodb/guided.mdx
  src/install/mongodb/host/atlas.mdx
  src/install/mongodb/host/percona.mdx
  src/install/mongodb/install-infra.mdx
  src/install/mongodb/intro.mdx
  src/install/mongodb/linux/install-apt.mdx
  src/install/mongodb/linux/install-linux.mdx
  src/install/mongodb/linux/install-tarball.mdx
  src/install/mongodb/linux/install-yum.mdx
  src/install/mongodb/linux/install-zypper.mdx
  src/install/mongodb/whatsNext.mdx
  src/install/mongodb/windows/install-msi.mdx
  src/install/mongodb/windows/install-windows.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#15930 readding content to style guide
  src/content/docs/style-guide/writing-strategies/contribute-to-site.mdx
Labels: content, from_tw

#15944 Update instructions for monitoring .NET Lambda functions with OpenTelemetry
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/lambda-opentelemetry-dotnet.mdx
Labels: content, from_internal

#15945 Browser Agent v1.251.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.251.0.mdx
Labels: content, from_internal

#15042 feat(docs): session replay (limited preview)
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/images/browser_screenshot-full_Application-settings-page.webp
  src/images/browser_screenshot-full_Session-replay-page.webp
  src/images/browser_screenshot-full_errors-inbox-session-replay.webp
  src/images/browser_screenshot-full_mask-settings.webp
  src/images/browser_screenshot-full_session-replay-app-settings.webp
  src/images/browser_screenshot-full_session-replay-details.webp
  src/images/browser_screenshot-full_text-masking-example.webp
  src/nav/browser.yml
Labels: content, from_tw

#15938 fix(Mobile monitoring): Fixed a wrong query
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-app-launch-time-android-apps.mdx
Labels: content, from_tw

#15963 Revert "fix(Mobile monitoring): Fixed a wrong query"
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-app-launch-time-android-apps.mdx
Labels: content, from_tw

#15959 Fix broken overview link from #15700
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_tw

#15957 chore: add Node.js Agent v11.10.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-10-1.mdx
Labels: content, from_internal

#15956 Go Agent v3.29.1 release
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-29-1.mdx
Labels: content, from_internal

#15974 Fix a typo
  src/content/whats-new/2024/01/whats-new-01-18-nrql-q3-functions.md
Labels: content, from_internal
