Repository newrelic/docs-website, pull requests merged in 2024-10, with the labels that each got.

#18758 fix(Alerts): Updated the content and screenshot of the page
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/content/docs/alerts/incident-management/view-event-details-incidents.mdx
  static/images/alerts_screenshot-full_incident-page.webp
Labels: content, from_tw

#18815 fix(Get started): Fixed a typo
  src/content/docs/new-relic-solutions/get-started/intro-new-relic.mdx
Labels: content, from_tw

#18800 feat(apm/php): add `newrelic.vulnerability_management.composer_api.enabled` description
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/vulnerability-management/integrations/intro.mdx
Labels: content, from_internal

#18776 docs: maui agent release
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-702.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-112.mdx
Labels: content, from_internal

#18771 chore/update netmon docs
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-management.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/meraki-api-polling.mdx
Labels: content, from_internal

#18805 Create java-agent-8150.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8150.mdx
Labels: content, from_internal

#18804 Update compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#18806 Update java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#18807 Update java-agent-config-file-template.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-config-file-template.mdx
Labels: content, from_internal

#18760 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#18763 Browser Agent v1.267.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.267.0.mdx
Labels: content, from_internal

#18788 Add `NewRelic.Labels` to the list of .NET agent configuration options that can be set in app settings
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#18821 chore: Update ruby-agent-9-14-0.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-9-14-0.mdx
Labels: content, from_internal

#18819 Removed reference to anomalies
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
Labels: content, from_internal

#18827 Update new-relic-cookies-used-browser.mdx
  src/content/docs/browser/browser-monitoring/page-load-timing-resources/new-relic-cookies-used-browser.mdx
Labels: content, from_internal

#18828 Update security-browser-monitoring.mdx
  src/content/docs/browser/new-relic-browser/performance-quality/security-browser-monitoring.mdx
Labels: content, from_internal

#18825 Add missing set user id API call for PHP
  src/content/docs/errors-inbox/error-users-impacted.mdx
Labels: content, from_internal

#18831 Update muting-rules-suppress-notifications.mdx
  src/content/docs/alerts/get-notified/muting-rules-suppress-notifications.mdx
Labels: content, from_internal

#18832 Update setup-prometheus-agent.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/setup-prometheus-agent.mdx
Labels: content, from_internal

#18833 Update security-browser-monitoring.mdx
  src/content/docs/browser/new-relic-browser/performance-quality/security-browser-monitoring.mdx
Labels: content, from_internal

#18836 Add new prohibited 'EntityRelationship' event type
  src/content/docs/data-apis/custom-data/custom-events/data-requirements-limits-custom-event-data.mdx
Labels: content, from_internal

#18843 Update intro article to reference CodeStream
  src/content/docs/infrastructure-as-code/terraform/terraform-intro.mdx
Labels: content, from_internal

#18772 chore(browser agent): Fixed the numbering format and added a callout
  src/content/docs/browser/new-relic-browser/troubleshooting/troubleshoot-ajax-data-collection.mdx
Labels: content, from_tw

#18732 RN(serverless): Serverless release note
  src/content/docs/release-notes/index.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/index.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.10.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.11.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.12.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.13.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.4.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.5.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.6.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.7.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.8.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.9.mdx
  src/utils/getAgentName.js
Labels: content, from_tw

#18846 Docs release notes 10-4-24
  src/content/docs/release-notes/docs-release-notes/docs-10-4-2024.mdx
Labels: content

#18859 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18855 Update muting-rules-suppress-notifications.mdx
  src/content/docs/alerts/get-notified/muting-rules-suppress-notifications.mdx
  static/images/alerts_screenshot-crop_suppress-notifications.webp
Labels: content, from_internal

#18851 CodeStream Doc Updates
  src/content/docs/codestream/troubleshooting/client-logs.mdx
  src/content/docs/codestream/troubleshooting/using-wsl.mdx
  src/nav/codestream.yml
Labels: content, from_internal

#18858 docs:Troubleshoot and release note
  src/content/docs/mobile-monitoring/new-relic-mobile-android/troubleshoot/no-crash-data-appears.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-141.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#18786 fix: new link name from ISpan.AddCustomAttribute()
  src/content/docs/apm/agents/net-agent/net-agent-api/net-agent-api.mdx
  src/content/docs/data-apis/manage-data/view-system-limits.mdx
Labels: content, from_internal

#18838 docs(infra-agent): removing misleading note for Win 2012
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#18872 Update incident-event-rest-api.mdx
  src/content/docs/data-apis/ingest-apis/event-api/incident-event-rest-api.mdx
Labels: content, from_internal

#18854 (Publish on 10/7/2024 with attribute dictionary changes) Browser agent: add user action docs
  src/content/docs/browser/browser-monitoring/browser-pro-features/user-actions.mdx
  src/nav/browser.yml
Labels: content, from_internal

#18822 Add search results page
  package.json
  src/hooks/usePagination.js
  src/pages/search-results.js
  yarn.lock
Labels: eng

#18067 Update overview to include information about alerts during interruptions.mdx
  src/content/docs/alerts/overview.mdx
Labels: content, from_internal

#18873 Update infrastructure-agent-configuration-settings.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#18868 Create new-relic-android-52501.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-52501.mdx
Labels: content, from_internal

#18879 fix(logs): remove "for"
  src/content/docs/logs/get-started/live-archives-billing.mdx
Labels: content, from_tw

#18886 Update chart-refresh-rates.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-refresh-rates.mdx
Labels: content, from_internal

#18887 Update Issues-and-Incident-management-and-response.mdx
  src/content/docs/alerts/get-notified/acknowledge-alert-incidents.mdx
  src/content/docs/alerts/incident-management/Issues-and-Incident-management-and-response.mdx
  static/images/alerts_screenshot-crop_issues-acknowledge-close-issues.webp
Labels: content, from_internal

#18891 feat: OpenLIT Integration Documentation
  src/content/docs/opentelemetry/get-started/openlit-llm-observability/openlit-llm-observability-intro.mdx
  src/nav/ai-monitoring.yml
Labels: content, from_external

#18895 chore: add language identifiers
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/custom-image-registry.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-data.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/advanced-configuration/manage-pixie-memory.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/pixie-data-security-overview.mdx
Labels: content, from_internal

#18888 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#18893 Browser Agent v1.268.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.268.0.mdx
Labels: content, from_internal

#18882 chore: format code blocks
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
  src/content/docs/apm/agents/python-agent/async-instrumentation/asyncpg.mdx
  src/content/docs/apm/agents/python-agent/async-instrumentation/django-asgi-mode.mdx
  src/content/docs/apm/agents/python-agent/back-end-services/python-agent-celery.mdx
  src/content/docs/apm/agents/python-agent/hosting-services/install-python-agent-gae-flexible-environment.mdx
  src/content/docs/apm/agents/python-agent/hosting-services/python-agent-heroku.mdx
  src/content/docs/apm/agents/python-agent/hosting-services/python-agent-openshift.mdx
  src/content/docs/apm/agents/python-agent/hosting-services/python-agent-stackato.mdx
  src/content/docs/apm/agents/python-agent/installation/uninstall-python-agent.mdx
  src/content/docs/apm/agents/python-agent/installation/update-python-agent.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/applicationsettings-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/supported-features/browser-monitoring-python-agent.mdx
  src/content/docs/apm/agents/python-agent/supported-features/cross-application-tracing.mdx
  src/content/docs/apm/agents/python-agent/supported-features/optional-manual-browser-instrumentation-django-templates.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-custom-metrics.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-event-loop-diagnostics.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-graphQL.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-tips-tricks.mdx
  src/content/docs/apm/agents/python-agent/troubleshooting/activate-application-warning-python.mdx
  src/content/docs/apm/agents/python-agent/troubleshooting/missing-information-when-using-ensurefuture-python.mdx
  src/content/docs/apm/agents/python-agent/troubleshooting/python-agent-logging.mdx
  src/content/docs/apm/agents/python-agent/troubleshooting/testing-python-agent.mdx
  src/content/docs/apm/agents/python-agent/troubleshooting/troubleshooting-browser-instrumentation-python.mdx
  src/content/docs/apm/agents/ruby-agent/background-jobs/rake-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/background-jobs/sidekiq-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/connect-hosts-your-account.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/distributed-tracing-ruby-agent.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/apm/agents/ruby-agent/frameworks/metal-controller-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/frameworks/mongo-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/frameworks/sequel-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/migration-7x-guide.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/migration-9x-guide.mdx
  src/content/docs/apm/agents/ruby-agent/installation/install-new-relic-ruby-agent-gae-flexible-environment.mdx
  src/content/docs/apm/agents/ruby-agent/installation/install-new-relic-ruby-agent.mdx
  src/content/docs/apm/agents/ruby-agent/installation/update-ruby-agent.mdx
  src/content/docs/apm/agents/ruby-agent/instrumented-gems/grpc-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/instrumented-gems/redis-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/instrumented-gems/roda-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/instrumented-gems/sinatra-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/troubleshooting/control-when-ruby-agent-starts.mdx
  src/content/docs/apm/agents/ruby-agent/troubleshooting/incompatible-gems.mdx
  src/content/docs/apm/agents/ruby-agent/troubleshooting/incorrect-data-unicorn.mdx
  src/content/docs/apm/agents/ruby-agent/troubleshooting/no-data-unicorn.mdx
  src/content/docs/apm/agents/ruby-agent/troubleshooting/systemstackerror-stack-level-too-deep.mdx
Labels: content, from_internal

#18799 chore: format code blocks
  src/content/docs/data-apis/manage-data/nrintegrationerror.mdx
  src/content/docs/data-apis/understand-data/metric-data/cumulative-metrics.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/newrelic-metrics-adapter.mdx
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/content/docs/nrql/using-nrql/nrql-segment-your-data-buckets.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-monitoring-audit-log-track-changes-made-users.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-maintenance-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-job-manager.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-maintenance-monitoring.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/monitor-private-locations.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/troubleshoot-private-locations.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/verified-script-execution-private-locations.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/add-custom-attributes-synthetic-monitoring-data.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/custom-timing-details.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/import-nodejs-modules.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/set-proxy-settings-properties-scripted-monitors.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests-legacy.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests.mdx
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/simple-scripted-or-scripted-api-non-ping-errors.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/handle-sites-authentication.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/recheck-failed-monitors.mdx
Labels: content, from_internal

#18903 chore: unitalicize EOL posts past their EOL date
  src/pages/eol.js
Labels: eng

#18899 Update networks.mdx
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#18910 chore: code formatting
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/migration-guide.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/setup-prometheus-agent.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/troubleshooting-guide.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/argocd-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/calico-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/cockroach-db-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/core-dns-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/etcd-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/harbor-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/ingress-controller-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/node-exporter-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/redis-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/traefik-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/velero-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/troubleshooting/compare-rw-data-sent-billed-bytes.mdx
  src/content/docs/infrastructure/prometheus-integrations/troubleshooting/get-logs-prometheus-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/troubleshooting/rate-limit-errors-prometheus-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/troubleshooting/restarts-gaps-data-kubernetes.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/filter-new-relic-one-dashboards-facets.mdx
Labels: content, from_internal

#18880 Update new-relic-api-keys.mdx
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_internal

#18839 feat(K8s): Added important note about billable events
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
Labels: content, from_tw

#18812 fix(K8s): Updated Recommended alert policy doc
  src/content/docs/accounts/install-new-relic/partner-based-installation/log-install-new-relic-partners.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/recommended-alert-policies.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/installation/recommended-alert-policies.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/installation/recommended-alert-policies.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/installation/recommended-alert-policies.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/installation/recommended-alert-policies.mdx
  src/install/kubernetes/prebuilt-resources.mdx
  src/nav/kubernetes-pixie.yml
  static/images/kubernetes_screenshot-crop_integrations-agents.webp
  static/images/kubernetes_screenshot-crop_recommended-alert-conditions.webp
  static/images/kubernetes_screenshot-crop_recommended-google-alert-conditions.webp
Labels: content, from_tw

#18921 remove 404 video
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Labels: content, from_tw

#18922 Hero requests 1010
  src/content/docs/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
  src/content/docs/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-intro.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1169.mdx
Labels: content, from_tw

#18923 chore: format code blocks
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/recommended-alert-policies.mdx
Labels: content, from_internal

#18908 docs: Update azure-monitor.mdx to prevent dimensional metric confusion
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
Labels: content, from_internal

#18927 fix(OTEL): add hosts repo example to infra page
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-intro.mdx
Labels: content, from_tw

#18884 fix(api): update language to match the new api explorer page
  src/content/docs/apis/rest-api-v2/api-explorer-v2/use-api-explorer.mdx
  src/content/docs/apis/rest-api-v2/get-started/list-application-id-host-id-instance-id.mdx
Labels: content, from_internal

#18928 fix(docs): Update OTEL path in CODEOWNERS
  .github/CODEOWNERS
Labels: from_tw

#18918 What's new 10/10: PathPoint
  src/content/whats-new/2024/10/whats-new-10-10-pathpoint.md
  static/images/pathpoint.webp
Labels: content, from_internal

#18924 Python agent 10.1.0 release
  src/content/docs/apm/agents/python-agent/python-agent-api/recordllmfeedbackevent-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/withllmcustomattributes-python-agent-api.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-100100.mdx
Labels: content, from_internal

#18925 docs: flutter release 1.1.4
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-114.mdx
Labels: content, from_internal

#18937 Docs release notes 10 11 24
  src/content/docs/release-notes/docs-release-notes/docs-10-11-2024.mdx
Labels: content, from_tw

#18926 new go agent release
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-35-0.mdx
Labels: content, from_internal

#18931 Update security-browser-monitoring.mdx
  src/content/docs/browser/new-relic-browser/performance-quality/security-browser-monitoring.mdx
Labels: content, from_internal

#18934 chore: formatting code terminal output
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/enable-fedramp-endpoints.mdx
Labels: content, from_internal

#18938 Add kong gateway logs to forward logs section
  src/content/docs/logs/forward-logs/kong-gateway.mdx
  src/nav/logs.yml
Labels: content, from_internal

#18902 Nr-309883 migrate from opensource newrelic
  src/content/docs/licenses/open-source/code-of-conduct-reporting.mdx
  src/content/docs/licenses/open-source/code-of-conduct.mdx
  src/content/docs/licenses/open-source/contribute.mdx
  src/content/docs/licenses/open-source/oss-category.mdx
  src/nav/licenses.yml
  static/images/nr1-browser-analyzer-repo.webp
Labels: content, from_tw

#18943 OpenTelemetry Summary metrics are not supported
  src/content/docs/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
Labels: content, from_internal

#18952 fix(K8s): Updated integrations and agents screenshot
  static/images/kubernetes_screenshot-crop_integrations-agents.webp
Labels: content, from_tw

#18936 chore(Python): removing old python docs (288979)
  src/content/docs/apm/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
  src/content/docs/apm/agents/python-agent/hosting-services/python-agent-stackato.mdx
  src/content/docs/apm/agents/python-agent/hosting-services/python-agent-webfaction.mdx
  src/i18n/content/es/docs/apm/agents/python-agent/hosting-services/python-agent-stackato.mdx
  src/i18n/content/es/docs/apm/agents/python-agent/hosting-services/python-agent-webfaction.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/hosting-services/python-agent-stackato.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/hosting-services/python-agent-webfaction.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/hosting-services/python-agent-stackato.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/hosting-services/python-agent-webfaction.mdx
  src/i18n/content/pt/docs/apm/agents/python-agent/hosting-services/python-agent-stackato.mdx
  src/i18n/content/pt/docs/apm/agents/python-agent/hosting-services/python-agent-webfaction.mdx
  src/install/config/python.yaml
  src/nav/apm.yml
Labels: content, from_tw

#18947 chore(dotnet): Correct release notes for .NET agent v10.30.0
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-30-0.mdx
Labels: content, from_internal

#18953 chore: add syntax highlighting
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
Labels: content, from_internal

#18944 chore(style): create a cheat sheet for the style guide
  src/content/docs/style-guide/cheat-sheet.mdx
  src/nav/style-guide.yml
Labels: content, from_tw

#18950 fix(Mobile): Fixed codeblock issues
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/add-tracked-headers.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/create-attribute.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/current-session-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/increment-session-attribute-count.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/mobile-sdk-api-guide.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/name-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/network-request-failures.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/network-request-success.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-breadcrumb.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-events.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-metrics.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-errors.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-handled-exceptions.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/remove-all-attributes.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/remove-attribute.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-application-build-number.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-application-version.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-custom-user-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-buffer-time.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-pool-size.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-offline-storage.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/shut-down-agent.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/start-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/stop-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/test-crash-reporting.mdx
Labels: content, from_tw

#18955 chore: add syntax highting and formatting to code
  src/content/docs/apis/nerdgraph/examples/use-nerdgraph-manage-license-keys-user-keys.mdx
Labels: content, from_internal

#18939 fix(Alerts): Fixed broken links
  src/content/docs/alerts/admin/rules-limits-alerts.mdx
  src/content/docs/alerts/create-alert/examples/view-entity-health-status-find-entities-without-alert-conditions.mdx
  src/content/docs/alerts/incident-management/view-event-details-incidents.mdx
  src/content/docs/alerts/organize-alerts/create-edit-or-find-alert-policy.mdx
  src/content/docs/alerts/scale-automate/rest-api/manage-entities-alerts-conditions.mdx
  src/content/docs/alerts/scale-automate/rest-api/rest-api-calls-alerts.mdx
  src/content/docs/apm/new-relic-apm/getting-started/view-app-alert-information-apm.mdx
  src/content/docs/browser/new-relic-browser/configuration/view-browser-apps-alert-information.mdx
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
Labels: content, from_tw

#18898 Adding Monitoring Azure App Service
  src/content/docs/apm/agents/manage-apm-agents/azure/monitoring-azure-app-service.mdx
  src/nav/apm.yml
Labels: content, from_internal

#18894 .NET Azure: Update Azure installation workflow to include containerized apps.
  src/install/config/dotnet.yaml
  src/install/dotnet/installation/azure-linux-container.mdx
  src/install/dotnet/installation/azure-windows-container.mdx
Labels: content, from_internal

#18915 Java Azure: Azure site extension installation
  src/install/config/java.yaml
  src/install/java/download/azure-site-extension.mdx
  src/install/java/download/docker-basic.mdx
Labels: content, from_internal

#18867 Python Azure: Add installation instructions for Azure in Python
  src/content/docs/apm/agents/python-agent/hosting-services/python-azure-containerapps-appservice.mdx
  src/nav/apm.yml
Labels: content, from_internal

#18949 Python Azure: Add integration instructions for Azure in Python
  src/content/docs/apm/agents/python-agent/hosting-services/python-azure-containerapps-appservice.mdx
  src/content/docs/apm/agents/python-agent/hosting-services/python-azure-touchless-integration.mdx
  src/nav/apm.yml
Labels: content, from_internal

#18957 chore: add syntax hightlighting
  src/content/docs/apis/nerdgraph/examples/nerdgraph-manage-users.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-tagging-api-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-workloads-api-tutorials.mdx
Labels: content, from_internal

#18959 Add note about dropping redis<4 support
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-81000.mdx
Labels: content, from_internal

#18956 fix: update incorrect Android API name
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-application-build-number.mdx
Labels: content, from_internal

#18960 chore: add syntax highlighting
  src/content/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/update-infrastructure-agent.mdx
Labels: content, from_internal

#18963 feat: Update k8s-agent-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: content, from_internal

#18935 chore(Browser): browser doc audit
  src/content/docs/browser/browser-monitoring/troubleshooting/troubleshoot-your-browser-monitoring-installation.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/app-server-requests-greatly-outnumber-browser-pageview-transactions.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/browser-data-doesnt-match-other-analytics-tools.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/browser-javascript-injection-causes-problems-page.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/get-browser-side-troubleshooting-details-har-file.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/third-party-js-errors-missing-stack-traces.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/troubleshoot-ajax-data-collection.mdx
  src/content/docs/browser/new-relic-browser/troubleshooting/troubleshooting-session-trace-collection.mdx
Labels: content, from_tw

#18969 fix(Troubleshooting): Broken link fix and additional upgrade example
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-chrome-100.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetics-scripted-browser-reference-monitor-versions-050.mdx
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/runtime-upgrade-troubleshooting.mdx
Labels: content, from_internal

#18970 docs: Removing false tip from nrql-syntax-clauses-functions.mdx
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#18965 Python agent release v10.2.0
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/hosting-services/python-azure-touchless-integration.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-100200.mdx
Labels: content, from_internal

#18830 Style guide: Add automated docs editing tips
  src/content/docs/style-guide/writing-docs/writer-workflow/edit-automated-docs
  src/nav/style-guide.yml
Labels: content, from_internal

#18907 feat(query builder): New data explorer
  src/content/docs/query-your-data/explore-query-data/query-builder/introduction-new-data-explorer.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/introduction-query-builder.mdx
  src/nav/dashboards.yml
  static/images/data-explorer.gif
Labels: content, from_tw

#18916 Add docs for APM agent setup with ECS env.
  src/content/docs/infrastructure/elastic-container-service-integration/introduction-amazon-ecs-integration.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/monitor-ecs-with-apm-agents.mdx
  src/nav/infrastructure.yml
  static/images/service-map-screenshot-showing-language-and-infra-agent-in-fargate-env.png
Labels: content, from_internal

#18900 Update org-creation.mdx
  src/content/docs/accounts/accounts-billing/account-structure/multi-tenancy/org-creation.mdx
Labels: content, from_internal

#18979 Style guide: Add missing file extension to doc
  src/content/docs/style-guide/writing-docs/writer-workflow/edit-automated-docs.mdx
Labels: content, from_internal

#18983 Update job-manager-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
Labels: content, from_internal

#18973 docs: add synthetics-ping-runtime 1.47.0 release notes
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.47.0.mdx
Labels: content, from_internal

#18982 Browser Agent v1.269.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.269.0.mdx
Labels: content, from_internal

#18978 chore: updating doc file for supporting french lang
  scripts/actions/__tests__/add-files-to-translation-queue.test.js
  scripts/actions/utils/constants.js
  scripts/actions/utils/docs-content-tools/i18n-exclusions.yml
  scripts/i18n_utility/__tests__/actions.test.ts
  src/components/EolPage.js
  src/components/InlinePopover/InlinePopover.js
  src/data/popovers_fr.json
Labels: eng

#18987 Update overview.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/overview.mdx
Labels: content, from_internal

#18775 Create migration guide for the Rest API v2
  src/content/docs/apis/rest-api-v2/migrate-to-nrql.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#18945 chore(dotnet): Update compatibility docs for latest supported framework versions
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#18980 docs: android release notes (10/17)
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-761.mdx
Labels: content, from_internal

#18994 Add release notes for Lambda Extension v2.3.14
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.14.mdx
Labels: content, from_internal

#19000 docs:android release notes update
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-761.mdx
Labels: content, from_internal

#18999 Adding RecordDatastoreSegment to .NET Agent API
  src/content/docs/apm/agents/net-agent/net-agent-api/net-agent-api.mdx
Labels: content, from_internal

#19005 fix(Blazor): fixing erroneous metadata
  src/content/docs/browser/browser-integrations/blazor-webassembly.mdx
Labels: content, from_tw

#19006 Rectify links for CloudWatch
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/instrument-your-own.mdx
Labels: content, from_internal

#19009 docs: mobile hybrid agent releases
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-152.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-153.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-703.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-115.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-113.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-114.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-146.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-142.mdx
  src/content/docs/release-notes/mobile-release-notes/xamarin-release-notes/xamarin-agent-101.mdx
Labels: content, from_internal

#19010 Docs release notes 10 18 24
  src/content/docs/release-notes/docs-release-notes/docs-10-11-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-10-18-2024.mdx
Labels: content, from_tw

#19003 (fix)Python: changing outdated IPs
  src/content/docs/apm/agents/python-agent/troubleshooting/testing-python-agent.mdx
Labels: content, from_tw

#19012 chore: format code blocks
  src/content/docs/data-apis/convert-to-metrics/analyze-monitor-data-trends-metrics.mdx
  src/content/docs/data-apis/convert-to-metrics/create-metrics-other-data-types.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/tarball-manual-install-infrastructure-agent-linux.mdx
Labels: content, from_internal

#19015 fix: indentation
  src/content/docs/iast/iast-configuration.mdx
  src/content/docs/iast/troubleshooting.mdx
Labels: content, from_internal

#19016 Update php-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Labels: content, from_internal

#18679 Create agent-overhead-reduction-tips.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/agent-overhead-reduction-tips.mdx
  src/nav/apm.yml
Labels: content, from_internal

#18793 fix(discovery): fix docs related to discovery
  src/content/docs/infrastructure/host-integrations/host-integrations-list/monitor-services-running-amazon-ecs.mdx
  src/content/docs/infrastructure/host-integrations/infrastructure-integrations-sdk/troubleshooting/not-seeing-infrastructure-integration-data.mdx
  src/content/docs/infrastructure/host-integrations/installation/container-auto-discovery-host-integrations.mdx
Labels: content, from_internal

#19022 Add example for CDK Lambda instrumentation
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/instrument-your-own.mdx
Labels: content, from_internal

#19021 feat(php): release 11.3
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-11-3-0-16.mdx
Labels: content, from_internal

#19025 Add alternate privatelink endpoint for infra in the EU
  src/content/docs/data-apis/custom-data/aws-privatelink.mdx
Labels: content, from_internal

#19027 Ktranslate log severity
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-health.mdx
Labels: content, from_internal

#19031 NR-307785 Update docs with latest bug fix if log message is empty
  src/content/docs/logs/logs-context/configure-logs-context-nodejs.mdx
  src/content/docs/logs/logs-context/configure-logs-context-php.mdx
  src/content/docs/logs/logs-context/configure-logs-context-python.mdx
  src/content/docs/logs/logs-context/configure-logs-context-ruby.mdx
  src/content/docs/logs/logs-context/java-configure-logs-context-all.mdx
  src/content/docs/logs/logs-context/net-configure-logs-context-all.mdx
Labels: content, from_internal

#19024 chore: Add missing "to"
  src/content/docs/licenses/product-or-service-licenses/new-relic-logs/logs-plugin-licenses.mdx
Labels: content, from_internal

#19032 Revert "chore: Add missing "to""
  src/content/docs/licenses/product-or-service-licenses/new-relic-logs/logs-plugin-licenses.mdx
Labels: content, from_tw

#18984 search redesign
  package.json
  src/components/HomepageBanner.js
  src/components/Navigation.js
  src/hooks/usePagination.js
  src/layouts/MainLayout.js
  src/pages/search-results.js
  yarn.lock
Labels: eng

#19034 fix(Logs): Added missing "to"
  src/content/docs/licenses/product-or-service-licenses/new-relic-logs/logs-plugin-licenses.mdx
Labels: content, from_tw

#19036 fix search XPath to click on search in header
  scripts/actions/webdriver-desktop.mjs
Labels: eng

#19037 use XPath that will work in production
  scripts/actions/webdriver-desktop.mjs
Labels: eng

#19039 fix search XPath in mobile webdriver test
  package.json
  scripts/actions/webdriver-mobile.mjs
  yarn.lock
Labels: eng

#19040 temporarily disable mobile search webdriver test
  scripts/actions/webdriver-mobile.mjs
Labels: eng

#19041 (NR-320588) Update limits docs for alerts
  src/content/docs/alerts/admin/rules-limits-alerts.mdx
Labels: content, from_internal

#19033 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#19028 fix(Infra Prometheus): Fixed broken links
  src/content/docs/infrastructure/prometheus-integrations/view-query-data/supported-promql-features.mdx
  src/content/docs/infrastructure/prometheus-integrations/view-query-data/translate-promql-queries-nrql.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/introduction-query-builder.mdx
Labels: content, from_tw

#19044 Accounts: Received migrated pricing docs from private site
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/add-on-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-ui.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/user-count-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-type.mdx
  src/content/docs/licenses/license-information/product-definitions/new-relic-one-pricing-definitions.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-usage-plan.mdx
  static/images/accounts_diagram_pricing-diagram.webp
  static/images/accounts_screenshot-full_usage-ui.webp
Labels: content, from_tw

#19042 fix(Synthetics): Updated URLs for synthetic monitors
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
Labels: content, from_tw

#19038 fix: Update MDX handler to no longer use Lightbox
  gatsby-config.js
  package.json
  src/components/MDXContainer.js
  yarn.lock
Labels: eng

#19056 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#19026 The ServiceName is not exactly the same as the Windows UI.
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
Labels: content, from_internal

#19047 chore: Fixed a default value and description for `strip_exception_messages`
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#19052 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#19057 fix (NRQL): Adjust consumption queries to include SINCE clause
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
Labels: content, from_tw

#19053 chore: add Node.js Agent v12.5.2 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-5-2.mdx
Labels: content, from_internal

#19049 Browser Agent v1.270.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.270.0.mdx
Labels: content, from_internal

#19054 Browser Agent v1.270.1 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.270.1.mdx
Labels: content, from_internal

#19062 Update flex-integration-tool-build-your-own-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/flex-integration-tool-build-your-own-integration.mdx
Labels: content, from_internal

#19046 K8s APM Auto-attach updates
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
  src/nav/kubernetes-pixie.yml
  static/images/K8s-APM-auto-attach-diagram.webp
Labels: content, from_internal

#19063 fix: Search fixes
  package.json
  src/pages/search-results.js
  yarn.lock
Labels: eng

#19058 feat(whats-new): New Kong Gateway Logs Integration
  src/content/whats-new/2024/10/whats-new-10-23-kogs-gateway-logs-integration.md
Labels: content, from_internal

#19064 fix: Remove old search input
  src/components/HomepageBanner.js
Labels: eng

#19067 fix: link & update CLI options
  src/content/docs/new-relic-solutions/build-nr-ui/newrelic-cli.mdx
Labels: content, from_internal
