Repository newrelic/docs-website, pull requests merged in 2024-11, with the labels that each got.

#19091 update fluent bit output plugin document
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
Labels: content, from_internal

#19154 fix: code typos & formatting
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/android-agent-native-crash-reporting.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-unreal-engine/monitor-your-unreal-engine-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-xamarin/monitor-your-xamarin-application.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
Labels: content, from_internal

#19172 Revert "update fluent bit output plugin document"
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
Labels: content, from_tw

#19179 fix(Alerts): update loss of signal docs for hostStatus: shutdown
  src/content/docs/alerts/create-alert/create-alert-condition/create-nrql-alert-conditions.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-loss-signal-gap-filling.mdx
Labels: content, from_internal

#19122 Update default-infrastructure-monitoring-data.mdx
  src/content/docs/infrastructure/infrastructure-data/default-infra-data.mdx
Labels: content, from_internal

#19153 feat: Add kubernetes to the list of release notes for the json genera…
  scripts/releaseNotes.mjs
  src/content/eol/2020/05/deprecation-notice-kubernetes-v17-or-lower.md
  src/content/eol/2021/12/deprecation-notice-v1.15andlower.md
  src/content/eol/2023/09/deprecation-notice-v1.22-and-lower.md
  src/content/eol/2023/11/deprecation-notice-v1.23-and-lower.md
  src/content/eol/2024/07/deprecation-notice-v1.25-and-lower.md
  src/content/eol/2024/10/deprecation-notice-v1.26-and-lower.md
Labels: eng

#19188 Revert "feat: Add Cancel Query Nerdgraph Block "
  src/content/docs/apis/nerdgraph/examples/async-queries-nrql-tutorial.mdx
Labels: content, from_internal

#19137 chore(browser): remove content for longTask attribute
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details.mdx
Labels: content, from_tw

#19192 fix(infrastructure agent): Fixed the incorrect navigation
  src/content/docs/infrastructure/infrastructure-agent/configuration/configure-infrastructure-agent.mdx
  src/content/docs/infrastructure/infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#19185 fix(ruby): revert changes from #19152
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
Labels: content, from_tw

#19184 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#19182 fix(alerts): improve "host not reporting" section
  src/content/docs/infrastructure/infrastructure-alerts/create-infrastructure-host-not-reporting-condition.mdx
Labels: content, from_tw

#19203 Update: Docs for Installing layerless instrumentation in NodeJS
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/enable-serverless-monitoring-aws-lambda-layerless.mdx
Labels: content, from_internal

#19183 update AI monitoring intro
  src/content/docs/ai-monitoring/intro-to-ai-monitoring.mdx
  static/images/ai_screenshot-full_AI-responses-overview.webp
  static/images/ai_screenshot-full_ai-responses-intro-page.webp
Labels: content, from_tw

#19200 fix(accounts): Migrate archived pricing to public site
  src/components/SEO.js
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/add-on-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/licenses/license-information/usage-plans/archived-add-on.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-usage-plan.mdx
Labels: content, from_tw

#19019 feat(vuln-mgmt): Added FOSSA integration doc under vuln mgmt (Publish TBA)
  src/content/docs/vulnerability-management/integrations/fossa.mdx
  src/content/docs/vulnerability-management/integrations/intro.mdx
  src/nav/vuln-management.yml
  static/images/accounts_screenshot-full_vm-landing-updated.webp
  static/images/vm_screenshot-full_vuln-tab.webp
Labels: content, from_internal

#19233 chore(Vuln): style changes to FOSSA doc
  src/content/docs/vulnerability-management/integrations/fossa.mdx
Labels: content, from_tw

#19212 Update images for Limits and Data Retention UI
  static/images/accounts_screenshot-crop_data-limits-ui.webp
  static/images/accounts_screenshot-crop_edit-retention-settings.webp
Labels: content, from_internal

#19196 Update postmortems-applied-intelligence.mdx
  src/content/docs/alerts/incident-management/postmortems-applied-intelligence.mdx
Labels: content, from_internal

#19237 Docs release notes 11 7 24
  src/content/docs/release-notes/docs-release-notes/docs-11-01-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-11-08-2024.mdx
Labels: content, from_tw

#18988 feat: Added memorydb documentation
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-memorydb-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#19181 Create new-relic-android-5260.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5260.mdx
Labels: content, from_internal

#19232 chore: add Node.js Agent v12.6.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-6-1.mdx
Labels: content, from_internal

#19231 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#19236 Browser Agent v1.272.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.272.0.mdx
Labels: content, from_internal

#19120 Update numbers-dates-and-times.mdx
  src/content/docs/style-guide/ui-writing/numbers-dates-and-times.mdx
Labels: content, from_internal

#19223 Compliance update for regulatory-audits-new-relic-services.mdx
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
Labels: content, from_internal

#19224 Compliance update to hitrust.mdx
  src/content/docs/security/security-privacy/compliance/hitrust.mdx
Labels: content, from_internal

#19225 Compliance update to fedramp.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp.mdx
Labels: content, from_internal

#19226 Compliance update to hipaa.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/hipaa.mdx
Labels: content, from_internal

#19228 Compliance update to soc2.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/soc2.mdx
Labels: content, from_internal

#19229 Compliance updates to tisax.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/tisax.mdx
Labels: content, from_internal

#19235 chore: add syntax highlighting
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/find-build-uuids-unsymbolicated-crashes.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/troubleshoot/sentry-incompatibility-android.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-cordova-phonegap/get-started-with-cordova-monitoring.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/watchOS/instrument-watchos.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/add-tracked-headers.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/create-attribute.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/current-session-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/increment-session-attribute-count.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/mobile-sdk-api-guide.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/name-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/network-request-failures.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/network-request-success.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-breadcrumb.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-events.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-metrics.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-errors.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-handled-exceptions.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/remove-all-attributes.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/remove-attribute.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-custom-user-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-buffer-time.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-pool-size.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-offline-storage.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/shut-down-agent.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/start-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/stop-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/test-crash-reporting.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/mobile-monitoring-best-practices-guide.mdx
  src/content/docs/nrql/nrql-examples/nrql-query-examples-mobile-monitoring.mdx
Labels: content, from_internal

#19259 Fix: Removed an unnecessary '[' from the text.
  src/content/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works.mdx
Labels: content, from_internal

#19244 Update use-multiple-names-app.mdx
  src/content/docs/apm/agents/manage-apm-agents/app-naming/use-multiple-names-app.mdx
Labels: content, from_internal

#19156 Update k8s-agent-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: content, from_internal

#19252 fix(kubernetes): duplicate of #19210
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-30-1.mdx
Labels: content, from_tw

#19264 chore: add Node.js Agent v12.7.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-7-0.mdx
Labels: content, from_internal

#19142 Release notes for Fluent Bit 3.1.9 upgrade
  src/content/docs/release-notes/logs-release-notes/logs-24-10-31.mdx
Labels: content, from_internal

#19222 feat: added cloud variables configuration section
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#19266 chore: Fix url for memdb
  src/nav/infrastructure.yml
Labels: content, from_internal

#19269 Browser Agent v1.273.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.273.0.mdx
Labels: content, from_internal

#19263 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#19270 fix(What's new): Correct the image paths
  src/content/whats-new/2024/11/whats-new-11-11-data-explorer.md
Labels: content, from_tw

#19250 Update notifications article
  src/content/docs/codestream/codestream-settings/account-settings.mdx
  src/nav/codestream.yml
  static/images/codestream_screenshot-crop_follow-repo.webp
  static/images/codestream_screenshot-crop_notification-settings.webp
Labels: content, from_internal

#19265 add bullet point for advanced example
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-chrome-100.mdx
Labels: content, from_internal

#19204 Chore(AWS): updated the UI path for the configuration
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-rds-monitoring-integration.mdx
Labels: content, from_tw

#19216 Update fixing-high-latency.mdx
  src/content/docs/tutorial-improve-site-performance/fixing-high-latency.mdx
Labels: content, from_external

#19161 Update get-started-logs-context.mdx
  src/content/docs/logs/logs-context/get-started-logs-context.mdx
Labels: content, from_tw

#19279 fix: Update query CSV export limitations
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
Labels: content, from_tw

#19280 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_tw, documentation

#19281 Fix links in .NET agent manual distributed tracing doc
  src/content/docs/apm/agents/net-agent/configuration/distributed-tracing-net-agent.mdx
Labels: content, from_internal

#19193 chore(metric API): timestamp value update
  src/content/docs/data-apis/ingest-apis/metric-api/report-metrics-metric-api.mdx
Labels: content, from_tw

#19286 docs-website for github integration
  src/content/docs/infrastructure/host-integrations/host-integrations-list/github-integration.mdx
  src/nav/infrastructure.yml
  static/images/github-integration-progress.webp
  static/images/github-integration-screenshot.webp
  static/images/github-integration-success.webp
Labels: content, from_internal

#19295 Update k8s-agent-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: content, from_internal

#19301 Chore: remove region restriction notes on alerts product
  src/content/docs/accounts/accounts-billing/account-setup/choose-your-data-center.mdx
  src/content/docs/alerts/overview.mdx
Labels: content, from_internal

#19294 chore(k8s): add PHP to k8s agent operator support
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: content, from_internal

#19300 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#19288 chore: infra-agent release 1.58.0
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1580.mdx
Labels: content, from_internal

#19283 chore: Announce support for .NET 9 in .NET Agent compatibility document
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#19282 feat(whats-new): add browser on apm summary post
  src/content/whats-new/2024/11/whats-new-11-12-browser-apm-summary.md
Labels: content, from_internal

#19299 Update kubernetes-summary-page.mdx
  src/content/docs/apm/apm-ui-pages/monitoring/kubernetes-summary-page.mdx
Labels: content, from_internal

#19293 The actual limit name ends in per day
  src/content/docs/data-apis/ingest-apis/metric-api/NRQL-high-cardinality-metrics.mdx
  src/i18n/content/jp/docs/data-apis/ingest-apis/metric-api/NRQL-high-cardinality-metrics.mdx
  src/i18n/content/kr/docs/data-apis/ingest-apis/metric-api/NRQL-high-cardinality-metrics.mdx
  src/i18n/content/pt/docs/data-apis/ingest-apis/metric-api/NRQL-high-cardinality-metrics.mdx
Labels: content, from_internal

#19262 new feature: adding custom tags (labels) to APM agent-forwarded logs
  src/content/docs/logs/logs-context/custom-tags-agent-forwarder-logs.mdx
  src/nav/logs.yml
Labels: content, from_internal

#19321 Added two files to the PR 19262
  src/content/docs/logs/logs-context/custom-tags-agent-forwarder-logs.mdx
  src/nav/logs.yml
Labels: content, from_internal, from_tw

#19317 added Unity example for logs
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-logs.mdx
Labels: content, from_internal, from_tw

#19305 chore(dotnet): Update .NET agent compatibility docs
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_tw, documentation

#19306 Update k8s-agent-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: content, from_internal

#19338 Updated the documents
  src/content/docs/logs/logs-context/custom-tags-agent-forwarder-logs.mdx
  src/nav/logs.yml
Labels: from_internal, from_tw, documentation

#19292 docs: corrected spelling
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-chrome-100.mdx
Labels: content, from_internal, from_external

#19337 Cloned the PR from https://github.com/newrelic/docs-website/pull/19239
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
Labels: content, from_internal, documentation

#19313 fix: Update the indentation in callout tag so that file can be serial…
  src/content/docs/data-apis/understand-data/metric-data/metric-data-type.mdx
Labels: content, from_internal

#19340 Updated the redirect link
  src/content/docs/infrastructure/infrastructure-agent/linux-installation/azure-extensions-infrastructure.mdx
Labels: content, from_internal, from_tw, documentation

#19243 Update session-replay.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
Labels: content, from_internal

#19341 Updated the document
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: from_internal, from_tw, documentation

#19344 Updated the changes to PR, updated the sentence Adding to Add
  src/content/docs/logs/logs-context/custom-tags-agent-forwarder-logs.mdx
Labels: content, from_tw, documentation

#19312 Update docs to include optional parameter.mdx
  src/install/microsoft-sql/whatsNext.mdx
Labels: content, from_internal, documentation

#19314 Update k8s-agent-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: from_internal, documentation

#19320 Python release 10.3.0 -- Please merge Nov 19 AM
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/logs/logs-context/custom-tags-agent-forwarder-logs.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-100300.mdx
Labels: content, from_internal

#19347 Revert "Update docs to include optional parameter.mdx"
  src/install/microsoft-sql/whatsNext.mdx
Labels: content, from_internal, from_tw

#19166 chore: format NRQL
  src/content/docs/data-apis/manage-data/query-limits.mdx
Labels: content, from_internal

#19307 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: from_internal, documentation

#19350 Update nerdgraph-streaming-export.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-streaming-export.mdx
Labels: content, from_internal

#19322 Fix: Change from sessionStorage to localStorage
  src/content/docs/browser/browser-monitoring/page-load-timing-resources/cookie-collection-session-tracking.mdx
Labels: content, from_internal

#19332 chore: add Node.js Agent v12.8.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-8-0.mdx
Labels: content, from_internal

#19358 Removed While all events listed out in the table are billable, Intern…
  src/content/docs/kubernetes-pixie/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data.mdx
Labels: content, from_internal, from_tw

#19355 Docs release notes 11 22 24
  src/content/docs/release-notes/docs-release-notes/docs-11-25-2024.mdx
Labels: content, from_tw, documentation

#19365 Minor doc update
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-agent-gradle.mdx
Labels: content, from_internal

#19370 Add callout for OS which does not support logforwarding
  src/content/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#19366 Remove duplicate word under JobTimeoutError
  src/content/docs/synthetics/synthetic-monitoring/troubleshooting/simple-scripted-or-scripted-api-non-ping-errors.mdx
Labels: content, from_internal

#19377 Update compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#19375 fix log attributes method.
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-logs.mdx
Labels: content, from_internal

#19352 docs: clarify environment variable and system service relationship for config
  src/content/docs/infrastructure/infrastructure-agent/configuration/configure-infrastructure-agent.mdx
  src/content/docs/infrastructure/infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#19382 add support for python 3.13
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
Labels: content, from_internal

#19367 Python Agent v10.3.1 release notes
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-100301.mdx
Labels: content, from_internal

#19364 Add PCI-DSS and update compliance pages
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/iso-27001.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/pci-dss.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/soc2.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/tisax.mdx
  src/content/docs/security/security-privacy/compliance/hitrust.mdx
  src/content/docs/security/security-privacy/compliance/regulatory-audits-new-relic-services.mdx
  src/nav/new-relic-security.yml
Labels: content, from_internal

#18837 chore(AI Monitoring): Added a callout regarding the distributed_tracing.enabled
  src/install/ai-monitoring/agentConfigDefault.mdx
Labels: content, from_tw

#19379 chore: Update dashboards-charts-import-export-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
Labels: content, from_internal

#19380 chore: Update introduction-new-relic-platform.mdx
  src/content/docs/new-relic-solutions/new-relic-one/introduction-new-relic-platform.mdx
Labels: content, from_internal

#19392 Fix missing newline in Python agent example code -- Merge Nov 27
  src/content/docs/apm/agents/python-agent/python-agent-api/settransactionname-python-agent-api.mdx
Labels: content, from_internal

#19395 chore[snowflake]: Restored the missing snowflake flex files
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
  src/install/config/snowflake.yaml
Labels: content, from_tw

#19397 Fix: Change to the correct spelling for roles
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
Labels: content, from_internal

#19401 update support for nodejs22 lambda runtime
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
Labels: content, from_internal

#19404 chore(docs): docs release notes November 22-28, 2024 - first draft
  src/content/docs/release-notes/docs-release-notes/docs-11-29-2024.mdx
Labels: content, from_tw

#19381 feat (AWS): Added guided steps with restrictions and troubleshooting to integrate AWS with NR for log forwarding
  src/content/docs/infrastructure/amazon-integrations/get-started/introduction-aws-integrations.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/custom-attributes-not-appearing.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/log-forwarding-restrictions.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-firehose.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-cloudwatch-lambda.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/logs-not-appearing-from-s3-lambda.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/stack-creation-fails.mdx
  src/content/docs/logs/troubleshooting/aws-log-integration-issues/stack-deletion-fails.mdx
  src/install/aws-logs/aws_services/Install-aws-integration.mdx
  src/install/aws-logs/aws_services/configure-log-forwarding.mdx
  src/install/aws-logs/aws_services/deploy-cloudformation-stack.mdx
  src/install/aws-logs/aws_services/generate-cloudformation-template.mdx
  src/install/aws-logs/aws_services/see-your-data.mdx
  src/install/aws-logs/aws_services/set-up-aws-integration-with-log-forwarding.mdx
  src/install/config/aws-logs.yaml
  src/nav/logs.yml
Labels: content, from_tw
