Repository newrelic/docs-website, pull requests merged in 2024-06, with the labels that each got.

#17525 fix: typo I introduced last week
  src/install/nginx/default-configuration.mdx
Labels: content, from_internal

#17528 Fixed mismatched header and rows in lookups API example
  src/content/docs/apis/lookups-service-api/lookups-service-api.mdx
  src/i18n/content/es/docs/apis/lookups-service-api/lookups-service-api.mdx
  src/i18n/content/jp/docs/apis/lookups-service-api/lookups-service-api.mdx
  src/i18n/content/kr/docs/apis/lookups-service-api/lookups-service-api.mdx
  src/i18n/content/pt/docs/apis/lookups-service-api/lookups-service-api.mdx
Labels: content, from_internal

#17529 fix(dotnet): Fix typo
  src/content/docs/apm/agents/net-agent/getting-started/introduction-new-relic-net.mdx
Labels: content, from_tw

#17523 fix(accounts): Fix nonprofit signup link
  src/content/docs/accounts/accounts/billing/view-or-change-account-tax-information.mdx
Labels: content, from_tw

#17493 fix release note text overflowing the right side
  src/templates/releaseNoteLandingPage.js
Labels: eng

#17503 Add OpenTelemetry data in New Relic -> overview, replacing alerts and custom queries pages
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-alerts.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-data-overview.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-alerts.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-alerts.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-alerts.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-alerts.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-data-explorer-query-builder.mdx
  src/nav/opentelemetry.yml
Labels: content, from_tw

#17372 Simplify OpenTelemetry APM getting started documentation
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-intro.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-java.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-python.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-ui.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-java.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-python.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-ui.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-java.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-python.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-ui.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-java.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-python.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-ui.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-java.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-python.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-ui.mdx
  src/nav/opentelemetry.yml
Labels: content, from_internal

#17548 fix: z index to prevent see through of modal, correct string variable
  src/components/FeedbackModal/FeedbackModal.js
Labels: eng

#17545 Prometheus: Change title
  src/content/docs/infrastructure/prometheus-integrations/integrations-list/node-exporter-integration.mdx
Labels: content, from_tw

#17552 Fixed a typo in our Security doc
  src/content/docs/licenses/license-information/referenced-policies/security-policy.mdx
Labels: content, from_tw

#17556 fix(OTel): Fixed "New relic" typo
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-data-overview.mdx
Labels: content, from_tw

#17534 fix(whats-new): Fix ignore language for NRVM
  src/content/whats-new/2024/05/whats-new-05-13-nrvm-change-status-to-ignore.md
  src/content/whats-new/2024/06/whats-new-05-13-nrvm-change-status-to-ignore.md
Labels: content, from_internal

#17557 fix(OTEL): Move OTEL into its own tile
  src/i18n/translations/en/translation.json
Labels: content, from_tw

#17562 Update forward-your-logs-using-infrastructure-agent.mdx
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#17566 fix(Docs site): Replaced callout note with important
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-workflows.mdx
  src/content/docs/apm/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-hivemq.mdx
  src/i18n/content/es/docs/apis/nerdgraph/examples/nerdgraph-api-workflows.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-hivemq.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/nerdgraph-api-workflows.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-hivemq.mdx
  src/i18n/content/kr/docs/apis/nerdgraph/examples/nerdgraph-api-workflows.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-hivemq.mdx
  src/i18n/content/pt/docs/apis/nerdgraph/examples/nerdgraph-api-workflows.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/collector-configuration-examples/opentelemetry-collector-hivemq.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-hivemq.mdx
Labels: content, from_tw

#17524 Update release-versions-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-app-pages/release-versions-page.mdx
Labels: content, from_internal

#17567 Update opentelemetry-apm-ui.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-ui.mdx
Labels: content, from_internal

#17550 Rework OpenTelemetry overview page
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-otlp.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-intro.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-comparison.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-introduction.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-ref-architecture.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-comparison.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-ref-architecture.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-comparison.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-ref-architecture.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-comparison.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-ref-architecture.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-comparison.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-ref-architecture.mdx
  src/nav/opentelemetry.yml
Labels: content, from_internal

#17572 Remove notifications
  src/content/docs/codestream/codestream-settings/account-settings.mdx
Labels: content, from_internal

#17569 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#17555 Move opentelemetry redis example to examples repository
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-intro.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-redis.mdx
  src/i18n/content/es/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-redis.mdx
  src/i18n/content/jp/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-redis.mdx
  src/i18n/content/kr/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-redis.mdx
  src/i18n/content/pt/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-redis.mdx
  src/nav/opentelemetry.yml
Labels: content, from_internal

#17554 fix intermittent webdriver failures
  scripts/actions/webdriver-mobile.mjs
Labels: eng

#17578 Docs release notes: June 7, 2024
  src/content/docs/release-notes/docs-release-notes/docs-6-7-2024.mdx
Labels: content, from_tw

#17586 feat(Security): NR24-01 security bulletin
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1523-fb-304.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr24-01.mdx
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
  src/nav/new-relic-security.yml
Labels: content, from_tw

#17590 fix(Security): Updates to infra release notes and security bulletin
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1523-fb-304.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr24-01.mdx
Labels: content, from_tw

#17599 feat(Security): Added Kubernetes plugin and logs release notes
  src/content/docs/release-notes/logs-release-notes/logs-24-06-10.mdx
Labels: content, from_tw

#17601 docs: Update networks.mdx
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#17520 fix(vulnerability management): First refactor of status doc
  src/content/docs/vulnerability-management/change-vulnerability-status.mdx
Labels: content, from_internal

#17605 fix(accounts): add reference links to docs on custom roles and SSO
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Labels: content, from_tw

#17608 fix(synthetic): Improve content re: script logs
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/introduction-scripted-browser-monitors.mdx
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/view-simple-scripted-monitor-results.mdx
Labels: content, from_tw

#17607 chore(ruby-agent): Add version tracking to errors
  src/content/docs/apm/agents/ruby-agent/api-guides/sending-handled-errors-new-relic.mdx
Labels: content, from_internal

#17518 hybrid agent release.
  src/content/docs/mobile-monitoring/new-relic-mobile-cordova-phonegap/get-started-with-cordova-monitoring.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-xamarin/monitor-your-xamarin-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-140.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-141.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-6210.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-629.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-109.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-009.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-100.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-138.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-135.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-136.mdx
  src/content/docs/release-notes/mobile-release-notes/unreal-release-notes/unreal-engine-plugin-110.mdx
  src/content/docs/release-notes/mobile-release-notes/unreal-release-notes/unreal-engine-plugin-120.mdx
  src/content/docs/release-notes/mobile-release-notes/xamarin-release-notes/xamarin-agent-006.mdx
Labels: content, from_internal

#17613 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#17609 update: remove unsupported .NET Core versions
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
Labels: content, from_internal

#17597 Cacti Integration Documentation
  src/content/docs/infrastructure/host-integrations/host-integrations-list/cacti-integration.mdx
  src/images/infrastructure_screenshot-full_cacti-dashboard.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#17571 Improve the slow sql doc
  src/content/docs/apm/apm-ui-pages/monitoring/view-slow-query-details.mdx
  src/images/apm_screenshot-full_apm-databases-ui.webp
Labels: content, from_tw

#17624 Update choose-your-data-center.mdx
  src/content/docs/accounts/accounts-billing/account-setup/choose-your-data-center.mdx
Labels: content, from_internal

#17623 Release note for update 5.20.2
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5202.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5203.mdx
Labels: content, from_internal

#17616 remove hard-coded 'v' for docs release notes
  plugins/gatsby-plugin-release-note-rss/gatsby-node.js
  plugins/gatsby-source-nav/gatsby-node.js
  src/content/docs/release-notes/docs-release-notes/docs-3-15-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-3-22-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-3-29-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-4-12-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-4-19-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-4-26-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-4-5-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-5-10-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-5-17-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-5-24-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-5-3-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-5-31-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-6-7-2024.mdx
  src/templates/releaseNote.js
  src/templates/releaseNoteLandingPage.js
  src/utils/releaseNotes.js
Labels: eng

#17634 style(infra): Remove stray period
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/choose-infra-install-method.mdx
Labels: content, from_tw

#17637 Remove 'plan for paid consumption' banner and section from session tr…
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-traces-explore-webpages-life-cycle.mdx
Labels: content, from_internal

#17604 fix(accounts): improve instructions for adding user groups
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content, from_tw

#17639 feat(Security): Added info about how to check current versions of fluent bit
  src/content/docs/infrastructure/infrastructure-ui-pages/infrastructure-inventory-page-search-your-entire-infrastructure.mdx
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr24-01.mdx
Labels: content, from_tw

#17628 fix: add header tags to de/serialization handlers
  scripts/actions/__tests__/deserialize-html.test.js
  scripts/actions/utils/handlers.js
Labels: eng

#17627 feat(Docs): Final steps in the dev-->docs site migration
  src/content/docs/licenses/product-or-service-licenses/new-relic-developer-edition/developer-program-resources.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-developer-edition/developer-program.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/install-cli.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/Charts.mdx
  src/data/external-redirects.json
  src/nav/licenses.yml
  src/nav/new-relic-solutions.yml
Labels: content, from_tw

#17614 fix(mobile): remove Flutter SDK option from table
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
Labels: content, from_tw

#17618 fix(mobile): update app launch time docs
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-app-launch-time-android-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/app-launch-times-ios-apps.mdx
Labels: content, from_tw

#17649 fix(Flutter): Fixed version mismatch
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-109.mdx
Labels: content, from_tw

#17651 fix(Xamarin): Fixed version mismatch
  src/content/docs/release-notes/mobile-release-notes/xamarin-release-notes/xamarin-agent-006.mdx
Labels: content, from_tw

#17648 fix(Capacitor agent): Fixed incorrect version number
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-141.mdx
Labels: content, from_tw

#17652 fix(.NET agent): Added missing header ids
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
Labels: content, from_tw

#17653 chore: Remove note for ubuntu 24 in infra requirements
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#17650 fix(Unreal): Fixed version mismatch
  src/content/docs/release-notes/mobile-release-notes/unreal-release-notes/unreal-engine-plugin-120.mdx
Labels: content, from_tw

#17654 feat(Docs): Docs release notes June 7-13, 2024
  src/content/docs/release-notes/docs-release-notes/docs-6-14-2024.mdx
Labels: content, from_tw

#17655 .NET agent: update verified compatible versions of MongoDB and Elasticsearch clients
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#17559 java ai monitoring pr
  src/content/docs/ai-monitoring/compatibility-requirements-ai-monitoring.mdx
  src/content/docs/apm/agents/java-agent/api-guides/ai-monitoring.mdx
  src/install/ai-monitoring/agent-lang/java-config.mdx
  src/install/ai-monitoring/agent-lang/java-install.mdx
  src/install/ai-monitoring/whatsNext.mdx
  src/install/assets/install-logos/java.svg
  src/install/config/ai-monitoring.yaml
Labels: content, from_tw

#17658 stylefix(NRQL): Remove extraneous get started flow
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#17659 fix(logs): fixing anchor link
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_tw

#17636 Add back AddRemoveRedirects script with commander
  package.json
  scripts/README.md
  scripts/addRemoveRedirects/index.js
  scripts/addRemoveRedirects/utils.js
  scripts/utils/frontmatter.js
Labels: eng

#17657 Add api.newrelic.com to privatelink docs
  src/content/docs/data-apis/custom-data/aws-privatelink.mdx
Labels: content, from_internal

#17666 chore: update supported version of haproxy integration
  src/content/docs/infrastructure/host-integrations/host-integrations-list/haproxy-monitoring-integration.mdx
  src/install/haproxy/default-requirements.mdx
Labels: content, from_internal

#17670 Add new components to handlers
  scripts/actions/utils/handlers.js
Labels: eng

#17672 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#17661 style(API keys): Remove popover components from table
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_tw

#17669 chore: Update .NET compatibility docs to clarify native images aren't supported
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_tw

#17675 feat(Kubernetes): Add helm install instructions
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/kubernetes-plugin-log-forwarding.mdx
Labels: content, from_tw

#17645 feat:Update linkerd-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/linkerd-integration.mdx
Labels: content, from_internal

#17663 feat(errors inbox group crashes tab): added a new page for group crashes
  src/content/docs/errors-inbox/mobile-tab.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-group-filter-your-crashes.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-page.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/investigate-mobile-app-crash-report.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/crashes/mobile-crash-event-trail.mdx
  src/i18n/content/es/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-group-filter-your-crashes.mdx
  src/i18n/content/es/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-page.mdx
  src/i18n/content/es/docs/mobile-monitoring/mobile-monitoring-ui/crashes/investigate-mobile-app-crash-report.mdx
  src/i18n/content/es/docs/mobile-monitoring/mobile-monitoring-ui/crashes/mobile-crash-event-trail.mdx
  src/i18n/content/jp/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-group-filter-your-crashes.mdx
  src/i18n/content/jp/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-page.mdx
  src/i18n/content/jp/docs/mobile-monitoring/mobile-monitoring-ui/crashes/investigate-mobile-app-crash-report.mdx
  src/i18n/content/jp/docs/mobile-monitoring/mobile-monitoring-ui/crashes/mobile-crash-event-trail.mdx
  src/i18n/content/kr/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-group-filter-your-crashes.mdx
  src/i18n/content/kr/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-page.mdx
  src/i18n/content/kr/docs/mobile-monitoring/mobile-monitoring-ui/crashes/investigate-mobile-app-crash-report.mdx
  src/i18n/content/kr/docs/mobile-monitoring/mobile-monitoring-ui/crashes/mobile-crash-event-trail.mdx
  src/i18n/content/pt/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-group-filter-your-crashes.mdx
  src/i18n/content/pt/docs/mobile-monitoring/mobile-monitoring-ui/crashes/crash-analysis-page.mdx
  src/i18n/content/pt/docs/mobile-monitoring/mobile-monitoring-ui/crashes/investigate-mobile-app-crash-report.mdx
  src/i18n/content/pt/docs/mobile-monitoring/mobile-monitoring-ui/crashes/mobile-crash-event-trail.mdx
  src/images/errors-inbox_screenshot-crop_event-trail.webp
  src/images/errors-inbox_screenshot-crop_group-crashes-tab-.webp
  src/images/errors-inbox_screenshot-crop_triage-crashes-with-errors-inbox.webp
  src/images/errors-inbox_screenshot-full_crash-details-view.webp
  src/images/mobile_screenshot-full_crash-profiles.webp
  src/images/mobile_screenshot-full_stack-trace.webp
  src/nav/errors-inbox.yml
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#17684 feat(Opentelemetry): Updated Jira configuration screenshot
  src/images/opentelemetry_screenshot-full_jira-nr-configuration.webp
Labels: content, from_tw

#17300 PUBLISH: 6/18, AM with WHATS NEW POST: Model inventory doc
  src/content/docs/ai-monitoring/explore-ai-data/view-ai-responses.mdx
  src/content/docs/ai-monitoring/explore-ai-data/view-model-data.mdx
  src/i18n/content/es/docs/ai-monitoring/view-ai-data.mdx
  src/i18n/content/jp/docs/ai-monitoring/view-ai-data.mdx
  src/i18n/content/kr/docs/ai-monitoring/view-ai-data.mdx
  src/i18n/content/pt/docs/ai-monitoring/view-ai-data.mdx
  src/images/ai_screenshot-crop_intro-to-model-data.webp
  src/images/ai_screenshot-crop_model-comparison-cost.webp
  src/images/ai_screenshot-crop_model-comparison-performance.webp
  src/images/ai_screenshot-crop_model-inventory-cost.webp
  src/images/ai_screenshot-crop_model-inventory-errors.webp
  src/images/ai_screenshot-crop_model-inventory-performance-page.webp
  src/images/ai_screenshot-full_model-inventory-overview-page.webp
  src/images/ai_screenshot-full_model-inventory-performance-page.webp
  src/nav/ai-monitoring.yml
Labels: content, from_tw

#17615 [PUBLISH 6/18, TIME: TBD] AI monitoring model inventory WHAT'S NEW
  src/content/whats-new/2024/06/images/aim_1.png
  src/content/whats-new/2024/06/images/aim_2.png
  src/content/whats-new/2024/06/images/aim_3.png
  src/content/whats-new/2024/06/images/aim_4.png
  src/content/whats-new/2024/06/whats-new-06-12-aimodelinventory.md
Labels: content, from_internal

#17688 fix(dotnet): Corrects an error in the TraceMetadata code sample.
  src/content/docs/apm/agents/net-agent/net-agent-api/net-agent-api.mdx
Labels: content, from_internal

#17674 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#17662 Remove Create Account button from Popover
  src/components/InlinePopover/layouts/TwoButton.js
  src/data/popovers_en.json
  src/data/popovers_es.json
  src/data/popovers_jp.json
  src/data/popovers_kr.json
  src/data/popovers_pt.json
Labels: eng

#17692 updating copy for whats new post
  src/content/whats-new/2024/06/whats-new-06-12-aimodelinventory.md
Labels: content, from_internal

#17680 Tweak OpenTelemetry Resource page tilte and meta description
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
Labels: content, from_internal

#17582 feat: Added VertexAI docs
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-vertexai-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#17702 chore: add graphql identifiers & formatted codeblocks
  src/content/docs/new-relic-solutions/build-nr-ui/custom-visualizations/add-to-dashboard-nerdgraph.mdx
Labels: content, from_internal

#17701 fix: typo
  src/content/docs/new-relic-solutions/build-nr-ui/custom-visualizations/build-visualization.mdx
Labels: content, from_internal

#17713 chore(style guide): Correct Node version
  src/content/docs/style-guide/writing-docs/writer-workflow/set-up-local.mdx
Labels: content, from_tw

#17712 fix(errors inbox): added redirects
  src/content/docs/errors-inbox/mobile-tab.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#17704 New infrastructure agent release 1.53.0 releae notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1530.mdx
Labels: content, from_internal

#17711 chore: updates to .NET config docs
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#17685 feat: NVIDIA Jetson integration documentation
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nvidia-jetson-integration.mdx
  src/images/infrastructure_screenshot_full-nvidia-jetson-dashboard.webp
  src/nav/infrastructure.yml
Labels: content, from_internal

#17148 Target release 6/20: Android agent v7.4.0 release notes and related docs
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-custom-user-id.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-740.mdx
Labels: content, from_internal

#17417 Update fedramp-compliant-endpoints.mdx with IAST endpoints
  src/content/docs/security/security-privacy/compliance/fedramp-compliant-endpoints.mdx
Labels: content, from_internal

#17436 Update networks.mdx for IAST endpoints with note for wss
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#17719 style(style guide): Voice in popover doc
  src/content/docs/style-guide/structure/pop-overs.mdx
Labels: content, from_tw

#17735 feat(Docs): Docs release notes June 21, 2024
  src/content/docs/release-notes/docs-release-notes/docs-6-14-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-6-21-2024.mdx
Labels: content, from_tw

#17738 Android v7.4.0 release notes minor changes
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-740.mdx
Labels: content, from_internal

#17736 Update Data Encryption
  src/content/docs/security/security-privacy/compliance/data-encryption.mdx
Labels: content, from_internal

#17737 docs: Add latest ios release notes
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6050.mdx
Labels: content, from_internal

#17699 add developer site Icon component doc
  src/components/DeveloperIcons.js
  src/components/MDXContainer.js
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/feedback/Icon.mdx
  src/data/developer-icons.json
  src/nav/new-relic-solutions.yml
Labels: eng

#17740 update pathing per feedback in github issue 17727
  src/install/java/frameworkInstallation/springboot.mdx
Labels: content, from_tw

#17438 Update troubleshooting.mdx for certificate and firewall details
  src/content/docs/iast/troubleshooting.mdx
  src/i18n/content/es/docs/iast/troubleshooting.mdx
  src/i18n/content/jp/docs/iast/troubleshooting.mdx
  src/i18n/content/kr/docs/iast/troubleshooting.mdx
  src/i18n/content/pt/docs/iast/troubleshooting.mdx
Labels: content, from_internal

#17751 fix(alerts): added redirect
  src/content/docs/alerts/create-alert/create-alert-condition/create-nrql-alert-conditions.mdx
Labels: content, from_tw

#17731 fix(node.js agent): Added missing header ID
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_tw

#17730 fix(Infra): Added missing header tag
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
Labels: content, from_tw

#17748 Whats new PUBLISH: NOON 06/24 nvidia nim ai monitoring
  src/content/whats-new/2024/06/images/nim1.png
  src/content/whats-new/2024/06/whats-new-06-24-nvidianim.md
Labels: content, from_internal

#17723 fix(Logs): Updated fluent bit version to match latest security bulletin
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_tw

#17757 chore: add Node.js Agent v11.20.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-20-0.mdx
Labels: content, from_internal

#17756 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#17742 Move OpenTelemetry infrastructure monitoring examples to examples repository
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-docker.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-hcp-consul.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-hivemq.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-hosts.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-intro.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-k8s.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-kafka-confluentcloud-k8s.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-kafka-confluentcloud.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-prometheus.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-singlestore.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-squid.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-statsd.mdx
  src/nav/opentelemetry.yml
Labels: content, from_internal

#17754 Target release 6/24/24: Android agent v7.4.1
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-741.mdx
Labels: content, from_internal

#17749 fix: Updated NVIDIA Jetson flex-config file
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nvidia-jetson-integration.mdx
Labels: content, from_internal

#17641 feat(mobile): monitor ANR errors for Android apps
  src/content/docs/data-apis/understand-data/event-data/events-reported-mobile-monitoring.mdx
  src/content/docs/errors-inbox/mobile-tab.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/application-not-responding.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/maintenance/configure-settings-for-mobile-monitoring.mdx
  src/images/mobile_screenshot-crop_anr-occurences-by-importance.webp
  src/images/mobile_screenshot-crop_anr-profiles.webp
  src/images/mobile_screenshot-crop_anr-rate-chart.webp
  src/images/mobile_screenshot-crop_anr-setting-toggle.webp
  src/images/mobile_screenshot-crop_group-by.webp
  src/images/mobile_screenshot-full_anr-ui-page.webp
  src/images/mobile_screenshot-full_mobile-app-settings.webp
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#17743 fix: bat -> batch
  src/content/docs/apm/agents/java-agent/additional-installation/include-java-agent-jvm-argument.mdx
  src/i18n/content/es/docs/apm/agents/java-agent/additional-installation/include-java-agent-jvm-argument.mdx
Labels: content, from_internal

#17770 chore: add Node.js Agent v11.21.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-21-0.mdx
Labels: content, from_internal

#17769 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#17772 feat(nrdiag): Diagnostics CLI v3.2.7 Release Notes
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-327.mdx
Labels: content, from_internal

#17771 chore: clarify the recordMetric keys allowed
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
Labels: content, from_internal

#17761 Update aws-health-monitoring-integration.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-health-monitoring-integration.mdx
Labels: content, from_internal

#17747 (Publish 26 June 2024 at 9:00 AM) add browser logs API docs
  src/content/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/log.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/using-browser-apis.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/wraplogger.mdx
  src/nav/browser.yml
Labels: content, from_internal

#17706 chore: add syntax highlighting
  src/content/docs/infrastructure/elastic-container-service-integration/install-ecs-integration.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/troubleshooting/ecs-integration-troubleshooting-generate-verbose-logs.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/troubleshooting/ecs-integration-troubleshooting-no-data-appears.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/understand-use-ecs-data.mdx
  src/content/docs/infrastructure/elastic-container-service-integration/uninstall-ecs-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/rabbitmq-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/statsd-monitoring-integration.mdx
  src/install/python/python-agent-create-config-file.mdx
  src/install/python/python-agent-download.mdx
  src/install/python/python-agent-non-web-apps.mdx
  src/install/python/python-agent-uvicorn-docker.mdx
  src/install/python/python-frameworks/python-agent-cherrypy.mdx
  src/install/python/python-frameworks/python-agent-paste.mdx
  src/install/python/python-frameworks/python-agent-unsupported-asgi-frameworks.mdx
  src/install/python/python-frameworks/python-agent-unsupported-wsgi-frameworks.mdx
  src/install/python/python-frameworks/python-agent-web2py.mdx
  src/install/python/python-servers/python-agent-ajp-wsgi.mdx
  src/install/python/python-servers/python-agent-daphne.mdx
  src/install/python/python-servers/python-agent-fastcgi.mdx
  src/install/python/python-servers/python-agent-gunicorn.mdx
  src/install/python/python-servers/python-agent-hypercorn.mdx
  src/install/python/python-servers/python-agent-mod-wsgi-express.mdx
  src/install/python/python-servers/python-agent-tornado.mdx
  src/install/python/python-servers/python-agent-uvicorn.mdx
  src/install/python/python-servers/python-agent-uwsgi.mdx
  src/install/python/python-servers/python-agent-waitress.mdx
  src/install/rabbitmq/ansible/install-ansible.mdx
  src/install/rabbitmq/whatsNext.mdx
  src/install/rabbitmq/windows/install-msi.mdx
  src/install/rabbitmq/windows/install-windows.mdx
  src/install/snowflake/whatsNext.mdx
  src/install/vm/deployment/new.mdx
  src/install/vm/deployment/previous.mdx
  src/install/vsphere/default-install-linux.mdx
  src/install/vsphere/linux/install-linux.mdx
  src/install/vsphere/users.mdx
  src/install/vsphere/whatsNext.mdx
  src/install/vsphere/windows/install-msi.mdx
  src/install/vsphere/windows/install-windows.mdx
Labels: content, from_internal

#17784 Browser Agent v1.261.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.261.0.mdx
Labels: content, from_internal

#17755 feat(php): PHP Agent 10.22.0.12 Release
  src/content/docs/release-notes/agent-release-notes/php-release-notes/src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-22-0-12.mdx
Labels: content, from_internal

#17787 Tabatha/verify install mdx
  scripts/README.md
  scripts/utils/verify-mdx-utils.js
  scripts/validate-install/schema.js
  scripts/verifyInstallPage.js
  scripts/verify_mdx.js
  src/content/docs/style-guide/writing-docs/writer-workflow/useful-scripts.mdx
Labels: eng

#17796 style(synthetic): Fix some basic style guide issues
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-chrome-100.mdx
Labels: content, from_tw

#17785 Update incident-workflows.mdx
  src/content/docs/alerts/get-notified/incident-workflows.mdx
Labels: from_internal

#17801 fix(alerts): removing outdated rest api documenation
  src/content/docs/alerts/scale-automate/rest-api/rest-api-calls-alerts.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/set-thresholds-alert-condition.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/rest-api-calls-alerts.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/alert-conditions.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-alert-conditions.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-nrql-alert-conditions.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/create-edit-or-find-alert-policy.mdx
  src/i18n/content/jp/docs/alerts-applied-intelligence/new-relic-alerts/alert-policies/specify-when-alerts-create-incidents.mdx
  src/nav/alerts-applied-intelligence.yml
Labels: content, from_tw

#17810 fix(SDK components): Deleted logger.debug section
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/platform-apis/logger.mdx
Labels: content, from_tw

#17758 Update intro AI monitoring copy to include a section about NVIDIA NIM
  src/content/docs/ai-monitoring/compatibility-requirements-ai-monitoring.mdx
  src/content/docs/ai-monitoring/intro-to-ai-monitoring.mdx
Labels: content, from_tw

#17813 chore(mobile): add missing redirect, update yml names for consistency
  src/content/docs/errors-inbox/mobile-tab.mdx
  src/nav/errors-inbox.yml
  src/nav/mobile-monitoring.yml
Labels: content, from_tw

#17814 OpenTelemetry: Add missing redirect.
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-intro.mdx
Labels: content, from_tw

#17817 fix erroneous HTML-encoding in translation JSON
  src/components/MachineTranslationCallout.js
  src/i18n/translations/es/translation.json
  src/i18n/translations/jp/translation.json
  src/i18n/translations/kr/translation.json
  src/i18n/translations/pt/translation.json
Labels: eng

#17793 Remove references to "planning for paid consumption" from Session Replay
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
Labels: content, from_internal

#17716 feat(integration): Add dbt cloud integration docs
  src/content/docs/more-integrations/dbt-cloud/dbt-cloud-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#17782 K8s Agent operator docs
  src/content/docs/apm/apm-ui-pages/monitoring/kubernetes-summary-page.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
  src/images/apm_screenshot-crop_k8-apm-ui.webp
  src/images/apm_screenshot-crop_k8-current-deploy.webp
  src/images/apm_screenshot-crop_k8-metric-comparasin.webp
  src/images/apm_screenshot-crop_k8-performance.webp
  src/images/apm_screenshot-crop_k8-pod-containers.webp
  src/nav/kubernetes-pixie.yml
Labels: content, from_internal

#17774 Add a callout that links to k8s agents operator docs -- MERGE on FRIDAY w/ rest of Kubernetes doc changes
  src/content/docs/apm/agents/nodejs-agent/getting-started/monitor-your-nodejs-app.mdx
  src/content/docs/apm/agents/ruby-agent/installation/install-new-relic-ruby-agent.mdx
  src/install/dotnet/intro.mdx
  src/install/java/intro.mdx
  src/install/python/python-agent-intro.mdx
Labels: content, from_internal

#17791 Release notes for 5.22.0
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-52200.mdx
  src/images/new-relic-android-52200-a.webp
Labels: content, from_internal

#17816 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#17831 chore: add Node.js Agent v11.22.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-22-0.mdx
Labels: content, from_internal

#17827 Docs release notes: June 28, 2024
  src/content/docs/release-notes/docs-release-notes/docs-6-28-2024.mdx
Labels: content, from_tw

#17805 Netlify CDN / image performance testing
  gatsby-config.js
  netlify.toml
Labels: eng

#17829 OpenTelemetry docs: Point links to new locations, fix broken anchors, improve phrasing
  src/content/docs/opentelemetry/best-practices/opentelemetry-best-practices-logs.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-best-practices-metrics.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-best-practices-traces.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-data-overview.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-otlp-troubleshooting.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-otlp.mdx
  src/content/docs/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-intro.mdx
  src/content/docs/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-ui.mdx
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-intro.mdx
  src/content/docs/opentelemetry/get-started/collector-processing/opentelemetry-collector-processing-intro.mdx
  src/content/docs/opentelemetry/get-started/opentelemetry-get-started-intro.mdx
  src/content/docs/opentelemetry/opentelemetry-introduction.mdx
Labels: content, from_internal

#17734 (PUBLISH 6/28/24 Lunchtime): Docs for watchOS and 7.5.0 release 6/28/24
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/mobile-logs.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/watchOS/instrument-watchos.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-custom-user-id.mdx
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-750.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#17795 Target 6/28 - NDK v1.1.0 & Android agent v7.5.0
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-750.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-ndk-110.mdx
Labels: content, from_internal

#17835 [chore] Update aws-privatelink.mdx
  src/content/docs/data-apis/custom-data/aws-privatelink.mdx
Labels: content, from_internal

#17834 chore: updated node version support table to include node 22
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#17830 fix: remove old </DoNotTranslate> fragments in code examples
  src/content/docs/logs/forward-logs/fluentd-plugin-log-forwarding.mdx
Labels: content, from_internal

#17689 feat(K8s): Updated the introduction page
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
  src/images/kubernetes_screenshot-crop_cluster-explorer.webp
Labels: content, from_tw

#17836 fix(K8s): Modified a callout type and fixed indentation
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: content, from_tw
