Repository newrelic/docs-website, pull requests merged in 2024-03, with the labels that each got.

#16296 fix(IAST): Fixed urls for config file
  src/content/docs/iast/install.mdx
Labels: content, from_tw

#16380 fix(nerdgraph): bringing over changes from 16340
  src/content/docs/apis/nerdgraph/examples/nerdgraph-streaming-export.mdx
Labels: content, from_tw

#16370 Synthetics Minion 3.1.7 release notes
  src/content/docs/release-notes/synthetics-release-notes/containerized-private-minions-release-notes/containerized-private-minion-cpm-317.mdx
Labels: content, from_internal

#16323 Update ssl-or-connection-errors-java.mdx
  src/content/docs/apm/agents/java-agent/troubleshooting/ssl-or-connection-errors-java.mdx
Labels: content, from_internal

#16324 Update configuring-your-ssl-certificates.mdx
  src/content/docs/apm/agents/java-agent/configuration/configuring-your-ssl-certificates.mdx
Labels: content, from_internal

#16372 fix(logs): made changes to capabilities
  src/content/docs/logs/get-started/live-archives.mdx
  src/images/logs_screenshot-crop_edit-data-retention-live-archives.webp
Labels: content, from_tw

#16253 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#15394 (feat)OMA: Slm tutorial
  src/content/docs/new-relic-solutions/tutorial-landing-page.mdx
  src/content/docs/tutorial-service-level-mgmt/establish-capability-sli.mdx
  src/content/docs/tutorial-service-level-mgmt/establish-input-sli.mdx
  src/content/docs/tutorial-service-level-mgmt/establish-output-sli.mdx
  src/content/docs/tutorial-service-level-mgmt/improve-with-slm.mdx
  src/content/docs/tutorial-service-level-mgmt/intro-to-slm.mdx
  src/nav/tutorial-slm.yml
  src/nav/tutorials.yml
Labels: content, from_tw

#16286 chore: Remove muted status from documents
  src/content/docs/apis/synthetics-rest-api/monitor-examples/manage-synthetics-monitors-rest-api.mdx
  src/content/docs/apis/synthetics-rest-api/monitor-examples/payload-attributes-synthetics-rest-api.mdx
  src/content/docs/synthetics/new-relic-synthetics/synthetics-api/synthetics-rest-api-version-1.mdx
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-monitoring-audit-log-track-changes-made-users.mdx
Labels: content, from_internal

#16361 feat(Security): added SOC2 doc acquisition information
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/iso.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/soc2.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/tisax.mdx
  src/content/docs/security/security-privacy/compliance/hitrust.mdx
Labels: content, from_tw

#16371 feat(errors inbox ): added new otel doc for errors inbox
  src/content/docs/errors-inbox/browser-tab.mdx
  src/content/docs/errors-inbox/otel-tab.mdx
  src/images/errors-inbox_screenshot-crop_otel-error-profiles.webp
  src/images/errors-inbox_screenshot-crop_triage-otel-errors-inbox.webp
  src/images/errors-inbox_screenshot-full_otel-errors-inbox.webp
  src/nav/errors-inbox.yml
Labels: content, from_tw

#16376 fix(Nrql): intro and tutorial rewrites
  src/content/docs/nrql/get-started/charts-and-dashboards-with-nrql.mdx
  src/content/docs/nrql/get-started/introduction-nrql-how-nrql-works.mdx
  src/content/docs/nrql/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/nrql/nrql-tutorials/introduction-nrql-tutorial.mdx
  src/content/docs/nrql/nrql-tutorials/nrql-tutorial-advanced-dashboarding.mdx
  src/content/docs/nrql/nrql-tutorials/nrql-tutorial-advanced-functions.mdx
  src/content/docs/nrql/nrql-tutorials/nrql-tutorial-process-your-data.mdx
Labels: content, from_tw

#15913 fix(distributed tracing ): merged two docs, deleted a doc
  src/content/docs/apm/agents/java-agent/api-guides/java-agent-api-custom-instrumentation-annotation-example-app.mdx
  src/content/docs/apm/agents/java-agent/instrumentation/use-rabbitmq-or-jms-message-queues.mdx
  src/content/docs/apm/agents/manage-apm-agents/agent-data/agent-attributes.mdx
  src/content/docs/apm/agents/nodejs-agent/extend-your-instrumentation/message-queues.mdx
  src/content/docs/apm/agents/python-agent/supported-features/python-message-queues.mdx
  src/content/docs/apm/agents/ruby-agent/features/message-queues.mdx
  src/content/docs/apm/apm-ui-pages/features/analyze-database-instance-level-performance-issues.mdx
  src/content/docs/apm/transactions/transaction-traces/transaction-traces-database-queries-page.mdx
  src/content/docs/apm/transactions/transaction-traces/transaction-traces-summary-page.mdx
  src/content/docs/apm/transactions/transaction-traces/transaction-traces-trace-details-page.mdx
  src/content/docs/distributed-tracing/ui-data/trace-details.mdx
  src/i18n/content/jp/docs/apm/transactions/transaction-traces/transaction-traces-summary-page.mdx
  src/i18n/content/kr/docs/apm/transactions/transaction-traces/transaction-traces-summary-page.mdx
  src/images/apm_icon_uninstrumented-segment.webp
  src/images/apm_screenshot-crop_transaction-trace-database-queries-tab.webp
  src/images/apm_screenshot-crop_transaction-trace-stacktrace-view.webp
  src/images/apm_screenshot-crop_transaction-trace-waterfall.webp
  src/nav/apm.yml
Labels: content, from_tw

#16394 Update "signal" description
  src/content/docs/new-relic-solutions/get-started/glossary.mdx
Labels: content, from_internal

#16362 [NR-180970] Android release notes v7.3.0 and few fixes
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-720.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-721.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-730.mdx
Labels: content, from_internal

#16404 Remove extra apostrophe
  src/content/docs/errors-inbox/otel-tab.mdx
Labels: content, from_tw

#16379 Fix Amazon CloudWatch Metric Streams integration pathing instructions
  src/content/docs/infrastructure/amazon-integrations/connect/aws-metric-stream.mdx
Labels: content, from_tw

#16416 Clarify which "copy key" button
  src/install/java/license.mdx
Labels: content, from_tw

#16417 chore(OTEL): Add table header/anchor
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-set-up-your-app.mdx
Labels: content, from_tw

#16391 Fixing error in the removed metadata section
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/migration-guide.mdx
Labels: content, from_internal

#16427 Theme bump and add browser agent settings
  gatsby-config.js
  package.json
  yarn.lock
Labels: eng

#16411 feat(Lambda containerized functions): created a new set of docs for L…
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-containerized-function-monitoring/enable-containerized-function.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-containerized-function-monitoring/get-started.mdx
  src/images/serverless_screenshot-full_lambda-containerized-functions.webp
  src/nav/serverless-function-monitoring.yml
Labels: content, from_tw

#16460 Remove subcategories from OHI nav
  src/nav/infrastructure.yml
Labels: content, from_tw

#16472 remove forward looking date
  src/content/docs/infrastructure/infrastructure-ui-pages/infra-hosts-ui-page.mdx
Labels: content, from_tw

#16433 fix(NRQL): fixing left nav
  src/nav/nrql.yml
Labels: content, from_tw

#16440 OpenTelemetry: Add tabs and step components to Python tutorial
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-java.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-python.mdx
Labels: content, from_tw

#16471 Remove support for VS 2019
  src/content/docs/codestream/start-here/install-codestream.mdx
Labels: content, from_internal

#16449 chore(nav): Case consistency for VM nav
  src/nav/vuln-management.yml
Labels: content, from_tw

#16477 Improve wording in the doc about querying timeslice metrics
  src/content/docs/data-apis/understand-data/metric-data/query-apm-metric-timeslice-data-nrql.mdx
Labels: content, from_internal

#16475 Update run-integrations-manually.mdx
  src/content/docs/infrastructure/host-integrations/troubleshooting/run-integrations-manually.mdx
Labels: content, from_internal

#16480 chore(buttons): Change button type
  src/content/docs/apm/agents/c-sdk/get-started/introduction-c-sdk.mdx
  src/content/docs/apm/agents/go-agent/get-started/introduction-new-relic-go.mdx
  src/content/docs/apm/agents/java-agent/getting-started/introduction-new-relic-java.mdx
  src/content/docs/apm/agents/python-agent/getting-started/introduction-new-relic-python.mdx
  src/content/docs/apm/agents/ruby-agent/getting-started/introduction-new-relic-ruby.mdx
  src/content/docs/infrastructure/prometheus-integrations/get-started/send-prometheus-metric-data-new-relic.mdx
Labels: content, from_tw

#16455 Examples: Use latest fluentbit version avaialble
  src/content/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
Labels: content, from_internal

#16469 [chore] Update connect-google-cloud-platform-services-new-relic.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-google-cloud-platform-services-new-relic.mdx
Labels: content, from_internal

#16500 fix: move permalink to after heading
  src/pages/attribute-dictionary.js
Labels: eng

#16428 chore(PHP agent): Updates compatibility based on 3/1/24 EOLs
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#16448 Python release 9.7.1 -- MERGE March 11 PM
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-90701.mdx
Labels: content, from_internal

#16450 (Publish 03/13) Update background task docs
  src/content/docs/apm/agents/python-agent/python-agent-api/backgroundtask-python-agent-api.mdx
Labels: content, from_internal

#16488 Update incident-workflows.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/incident-workflows/incident-workflows.mdx
Labels: content, from_internal

#16511 chore(browser): remove callout
  src/content/docs/tutorial-improve-site-performance/guide-to-monitoring-core-web-vitals.mdx
Labels: content, from_tw

#16513 Remove hexagon background in docs logo
  src/@newrelic/gatsby-theme-newrelic/components/Logo.js
Labels: eng

#16516 Browser Agent v1.253.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.253.0.mdx
Labels: content, from_internal

#16510 chore: add Node.js Agent v11.13.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-13-0.mdx
Labels: content, from_internal

#16517 Increase InlinePopover text size
  src/components/InlinePopover/layouts/TwoButton.js
Labels: eng

#16521 chore(infra-agent): updating supported SUSE/SLES versions
  src/content/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux.mdx
Labels: content, from_internal

#16523 Update kubernetes-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/kubernetes-plugin-log-forwarding.mdx
Labels: content, from_internal

#16518 Remove code tag on event names
  src/pages/attribute-dictionary.js
Labels: eng

#16526 fix: update colors
  src/layouts/MainLayout.js
  src/pages/attribute-dictionary.js
Labels: eng

#16524 feat(infra-agent): configurable integrations tmp dir
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_internal

#16528 Update CLM and add link from Logs
  src/content/docs/codestream/observability/code-level-metrics.mdx
  src/content/docs/logs/ui-data/use-logs-ui.mdx
Labels: content, from_internal

#16502 Align with semantic conventions
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-transition-guide.mdx
Labels: content, from_internal

#16537 Clarification of JP translation
  src/i18n/content/jp/docs/logs/logs-context/java-configure-logs-context-all.mdx
Labels: content, from_tw

#16536 [chore] Update infrastructure-agent-configuration-settings.mdx
  src/content/docs/infrastructure/install-infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
Labels: content, from_tw

#16501 align wording with synthetics job manager
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
Labels: content, from_internal

#16395 feat(OHI rabbitmq): Added branching doc structure
  src/images/infrastructure_screenshot-full_rabbitmq-dashboard.webp
  src/install/config/rabbitmq.yaml
  src/install/rabbitmq/ansible/install-ansible.mdx
  src/install/rabbitmq/ansible/requirements-ansible.mdx
  src/install/rabbitmq/appInfo.mdx
  src/install/rabbitmq/default-requirements.mdx
  src/install/rabbitmq/ecs/install-ecs.mdx
  src/install/rabbitmq/ecs/requirements-ecs.mdx
  src/install/rabbitmq/find-data.mdx
  src/install/rabbitmq/install-infra.mdx
  src/install/rabbitmq/intro.mdx
  src/install/rabbitmq/kubernetes/install-k8s.mdx
  src/install/rabbitmq/kubernetes/requirements-k8s.mdx
  src/install/rabbitmq/linux/install-apt.mdx
  src/install/rabbitmq/linux/install-linux.mdx
  src/install/rabbitmq/linux/install-tarball.mdx
  src/install/rabbitmq/linux/install-yum.mdx
  src/install/rabbitmq/linux/install-zypper.mdx
  src/install/rabbitmq/whatsNext.mdx
  src/install/rabbitmq/windows/install-msi.mdx
  src/install/rabbitmq/windows/install-windows.mdx
Labels: content, from_tw

#15428 feat(style guide): Observability vs Monitoring
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
  src/content/docs/style-guide/word-choice/usage-dictionary.mdx
Labels: content, from_tw

#16446 added releases notes and docs update for hybrid agents.
  src/content/docs/mobile-monitoring/new-relic-mobile-cordova-phonegap/get-started-with-cordova-monitoring.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-flutter/monitor-your-flutter-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-maui-dotnet/monitor-your-net-maui-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-xamarin/monitor-your-xamarin-application.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-pool-size.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-offline-storage.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-136.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-627.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-107.mdx
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-749.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-006.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-136.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-132.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-133.mdx
  src/content/docs/release-notes/mobile-release-notes/xamarin-release-notes/xamarin-agent-004.mdx
  src/images/mobile_screenshot-crop_Unity-editor-UI.webp
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#16541 Update collect-custom-attributes.mdx
  src/content/docs/data-apis/custom-data/custom-events/collect-custom-attributes.mdx
Labels: content, from_internal

#16532 fix: update left nav to clip at bottom of page
  src/layouts/MainLayout.js
Labels: eng

#16550 chore: update .NET agent verified compatible versions of core tech libraries
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-core.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
Labels: content, from_internal

#16350 chore: Add VSE Passphrase for SJM
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/verified-script-execution-private-locations.mdx
Labels: content, from_internal

#16445 update Lambda monitoring runtimes
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-aws-lambda-monitoring.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-layerless.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-example.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-your-own.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/get-started/compatibility-requirements-aws-lambda-monitoring.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-legacy.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-example.mdx
  src/i18n/content/kr/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/enable-serverless-monitoring-aws-lambda-layerless.mdx
Labels: content, from_internal

#16549 (Publish 18 March 2024) Release notes for v5.16.0 of New Relic for Android
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5160.mdx
Labels: content, from_internal

#16444 Logs: Add example of multiple log sources to Fluent Bit code snippet
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
Labels: content

#16485 Fix callout image sizing
  src/content/docs/tutorial-improve-app-performance/root-causes.mdx
Labels: content, from_tw

#16278 Apache flink rewrite
  src/install/apache-flink/appInfo.mdx
  src/install/apache-flink/check-metrics.mdx
  src/install/apache-flink/configure-apache.mdx
  src/install/apache-flink/configure-logging-apache.mdx
  src/install/apache-flink/configure-prometheus-apache.mdx
  src/install/apache-flink/find-data.mdx
  src/install/apache-flink/install-infra.mdx
  src/install/apache-flink/intro.mdx
  src/install/apache-flink/whatsNext.mdx
  src/install/config/apache-flink.yaml
  src/install/config/haproxy.yaml
  src/install/haproxy/appInfo.mdx
  src/install/haproxy/default-configuration.mdx
  src/install/haproxy/default-install-linux.mdx
  src/install/haproxy/default-requirements.mdx
  src/install/haproxy/find-data.mdx
  src/install/haproxy/install-infra.mdx
  src/install/haproxy/intro.mdx
  src/install/haproxy/linux/install-apt.mdx
  src/install/haproxy/linux/install-linux.mdx
  src/install/haproxy/linux/install-tarball.mdx
  src/install/haproxy/linux/install-yum.mdx
  src/install/haproxy/linux/install-zypper.mdx
  src/install/haproxy/whatsNext.mdx
  src/install/haproxy/windows/install-msi.mdx
  src/install/haproxy/windows/install-windows.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#16533 Hide pageTools on small screen widths
  src/templates/docPage.js
Labels: eng

#16399 chore: updating modules list to reflect the new modules added
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/manage-monitor-runtimes.mdx
Labels: content, from_internal

#16544 chore(style guide): Do not capitalize agent
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_tw

#16555 Fix: Collector configuration sample in opentelemetry-collector-infra-hosts.mdx;
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/collector/opentelemetry-collector-infra-hosts.mdx
Labels: content, from_internal

#16558 Update introduction-nrql-how-nrql-works.mdx
  src/content/docs/nrql/get-started/introduction-nrql-how-nrql-works.mdx
Labels: content, from_external

#16561 PHP Agent 10.19.0 release (March 18th)
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-10-19-0-9.mdx
Labels: content, from_internal

#16547 (Publish 18 March 2024) lambdacommunityplus
  src/content/whats-new/2024/03/whats-new-03-18-lambdacommunityplus.md
Labels: from_internal

#16564 Update nerdgraph-api-notifications-channels.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-notifications-channels.mdx
Labels: content, from_internal

#16563 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#16514 Nav design updates
  src/@newrelic/gatsby-theme-newrelic/components/NavItem.js
  src/@newrelic/gatsby-theme-newrelic/components/NavLink.js
  src/components/Navigation.js
Labels: eng

#16552 Docs release notes
  src/content/docs/release-notes/docs-release-notes/docs-3-15-2024.mdx
  src/content/docs/release-notes/docs-release-notes/index.mdx
  src/content/docs/release-notes/index.mdx
Labels: content, from_tw

#16562 fix(NVIDIA): updating based on hero request
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nvidia-gpu-integration.mdx
Labels: content, from_tw

#16557 statsD integration troubleshooting docs
  src/content/docs/more-integrations/open-source-telemetry-integrations/statsd/statsd-monitoring-integration.mdx
Labels: content, from_internal

#16531 [NR-231397] add attributes for map upload configurable settings
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/android-agent-crash-reporting.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-6111.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-700.mdx
Labels: content, from_internal

#16539 Updated the temporal integration docs.
  src/content/docs/infrastructure/host-integrations/host-integrations-list/temporal-monitoring-integration.mdx
Labels: content, from_internal

#16494 chore: wrap attributes in backticks
  src/content/docs/apm/agents/net-agent/net-agent-api/seterrorgroupcallback-net-agent-api.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/missing-net-async-metrics.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/view-your-data/opentelemetry-errors-inbox-page.mdx
Labels: content, from_internal

#16503 fix(browser): typo
  src/content/docs/browser/new-relic-browser/lab/install-browser-agent.mdx
Labels: content, from_tw

#16580 [synthetics job manager] chore: adds release notes for sjm release-347
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-347.mdx
Labels: content, from_internal

#16575 Changed URL for reporting vulns
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
Labels: content, from_tw

#16571 Add reference to CodeStream's query builder
  src/content/docs/query-your-data/explore-query-data/get-started/introduction-querying-new-relic-data.mdx
Labels: content, from_internal

#16542 fix(NRQL): doc improvements to the NRQL querying section
  src/content/docs/nrql/get-started/charts-and-dashboards-with-nrql.mdx
  src/content/docs/nrql/get-started/introduction-nrql-how-nrql-works.mdx
  src/content/docs/nrql/get-started/introduction-nrql-new-relics-query-language.mdx
  src/content/docs/nrql/nrql-references/nrql-group-results-across-time.mdx
  src/content/docs/nrql/nrql-references/nrql-math-using-select.mdx
  src/content/docs/nrql/using-nrql/arrays-in-nrql.mdx
  src/content/docs/nrql/using-nrql/create-smoother-charts-sliding-windows.mdx
  src/content/docs/nrql/using-nrql/funnels-evaluate-data-series-related-events.mdx
  src/content/docs/nrql/using-nrql/lookups.mdx
  src/content/docs/nrql/using-nrql/nested-aggregation-make-ordered-computations-single-query.mdx
  src/content/docs/nrql/using-nrql/nrql-segment-your-data-buckets.mdx
  src/content/docs/nrql/using-nrql/query-infrastructure-dimensional-metrics-nrql.mdx
  src/content/docs/nrql/using-nrql/query-time-range.mdx
  src/content/docs/nrql/using-nrql/rate-function.mdx
  src/content/docs/nrql/using-nrql/rate-limits-nrql-queries.mdx
  src/content/docs/nrql/using-nrql/subqueries-in-nrql.mdx
  src/content/docs/nrql/using-nrql/subquery-joins.mdx
  src/nav/nrql.yml
Labels: content, from_tw

#16583 adjust content and sidebar spacing
  gatsby-config.js
  src/components/Layout/Sidebar.js
  src/templates/docPage.js
Labels: eng

#16551 fix: update button colors
  src/layouts/MainLayout.js
Labels: eng

#16559 infra_agent: detail core count calculation
  src/data/attribute-dictionary.json
Labels: content, from_internal

#16597 chore: add Node.js Agent v11.14.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-11-14-0.mdx
Labels: content, from_internal

#16512 fix(alerts): Improper list styling
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/set-thresholds-alert-condition.mdx
Labels: content, from_tw

#16481 fix(infra): Fix typo
  src/content/docs/infrastructure/infrastructure-monitoring/get-started/get-started-infrastructure-monitoring.mdx
Labels: content, from_tw

#16603 Add edge function to load eu osano variant when in eu
  .gitignore
  netlify.toml
  netlify/edge-functions/osano-country.js
Labels: eng

#16619 AWS Lambda: Change left navigation from legacy to layerless
  src/nav/serverless-function-monitoring.yml
Labels: content, from_tw

#16592 AWS: Add link to EKS supported versions
  src/content/docs/infrastructure/amazon-integrations/connect/eks-add-on.mdx
Labels: content, from_tw

#16567 feat(TransitionGuide): Removed multiple limitations
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-transition-guide.mdx
Labels: content, from_internal

#16581 Chore/update netmon meraki
  src/content/docs/network-performance-monitoring/advanced/advanced-config.mdx
  src/content/docs/network-performance-monitoring/advanced/ktranslate-container-management.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-syslog-monitoring.mdx
Labels: content, from_internal

#16624 Removed POMI's EOL date
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/migration-guide.mdx
Labels: content, from_internal

#16627 fix: update broken links
  src/content/docs/new-relic-solutions/solve-common-issues/troubleshooting/log-audit-all-data-your-new-relic-agent-transmits.mdx
Labels: content, from_internal

#16620 [chore] mongodb-monitoring-integration-new.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/mongodb/mongodb-monitoring-integration-new.mdx
Labels: content, from_internal

#16626 chore/update meraki ts doc
  src/content/docs/network-performance-monitoring/troubleshooting/change-ktranslate-versions.mdx
  src/content/docs/network-performance-monitoring/troubleshooting/meraki-entity-no-data.mdx
  src/i18n/content/jp/docs/network-performance-monitoring/troubleshooting/meraki-controller-no-data.mdx
  src/i18n/content/kr/docs/network-performance-monitoring/troubleshooting/meraki-controller-no-data.mdx
  src/nav/network-performance-monitoring.yml
Labels: content, from_internal

#16262 Adding new .NET config option
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#16630 Update introduction-scripted-browser-monitors.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/introduction-scripted-browser-monitors.mdx
Labels: content, from_tw

#16640 Apdex only affects legacy transaction trace collection. These traces …
  src/content/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
Labels: content, from_internal

#16641 fix(nerdgraph): redoing work for a contributor
  src/content/docs/apis/nerdgraph/examples/nerdgraph-issues-api-via-github.mdx
Labels: content, from_internal

#16647 fix(Security bulletins): Replaced URL with relative path because it's…
  src/content/docs/security/security-privacy/information-security/security-bulletins.mdx
Labels: content, from_tw

#16653 Infra Agent 1.51.0 Release Notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1510.mdx
Labels: content, from_internal

#16654 Update timestamp-support.mdx
  src/content/docs/logs/ui-data/timestamp-support.mdx
Labels: content, from_internal

#16645 fix(synthetic): broken selenium link
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/introduction-scripted-browser-monitors.mdx
Labels: content, from_tw

#16621 node-api-runtime-1.2.56 release notes
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.56.mdx
Labels: content, from_internal

#16648 feat(Docs): Added Docs release notes version 3-22-2024
  src/content/docs/release-notes/docs-release-notes/docs-3-22-2024.mdx
Labels: content, from_tw

#16659 Browser Agent v1.254.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.254.0.mdx
Labels: content, from_internal

#16663 fix(mobile): fix alphabetical ordering of tabs
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/create-attribute.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/current-session-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/increment-session-attribute-count.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/network-request-success.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-breadcrumb.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-events.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-custom-metrics.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-handled-exceptions.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/remove-all-attributes.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/remove-attribute.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-custom-user-id.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-buffer-time.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-event-pool-size.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-max-offline-storage.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/start-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/stop-interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/test-crash-reporting.mdx
Labels: content, from_tw

#16664 feat: Update release notes for job manager and api runtime
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-350.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.57.mdx
Labels: content, from_internal

#16660 Remove problematic steps
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-containerized-function-monitoring/get-started.mdx
Labels: content, from_internal

#16656 fix(OHI rabbitmq): Updated the nav file
  src/nav/infrastructure.yml
Labels: content, from_tw

#16666 fix(CPMDockerSupport): Clarified Docker 26+ support
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
Labels: content, from_internal

#16676 fix(CPM): Clarified docker engine support
  src/content/docs/synthetics/synthetic-monitoring/private-locations/install-containerized-private-minions-cpms.mdx
Labels: content, from_internal

#16473 Add missing redirect
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
Labels: content, from_tw

#16665 Accounts: Remove permissions screenshot
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
Labels: content, from_tw

#16672 fix: shrink the padding on the install pages
  src/pages/install/{installConfig.agentName}.js
Labels: eng

#16369 Add all locales
  env.js
  gatsby-config.js
  package.json
  yarn.lock
Labels: eng

#16695 fix(links): Clarified custom module support and modified links
  src/content/docs/synthetics/synthetic-monitoring/private-locations/containerized-private-minion-cpm-configuration.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-04x-or-lower.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetic-scripted-browser-reference-monitor-versions-chrome-100.mdx
  src/content/docs/synthetics/synthetic-monitoring/scripting-monitors/synthetics-scripted-browser-reference-monitor-versions-050.mdx
Labels: content, from_internal

#16686 Update notification-integrations.mdx
  src/content/docs/alerts-applied-intelligence/notifications/notification-integrations.mdx
Labels: content, from_internal

#16685 feat(OHI Snowflake): Added branching doc structure
  src/install/config/snowflake.yaml
  src/install/snowflake/appInfo.mdx
  src/install/snowflake/configure-integration.mdx
  src/install/snowflake/find-data.mdx
  src/install/snowflake/install-infra.mdx
  src/install/snowflake/intro.mdx
  src/install/snowflake/whatsNext.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#16658 MERGE 03-28 AM: AI monitoring what's new
  src/content/whats-new/2024/03/whats-new-03-26-aimonitoringga.md
Labels: content, from_internal

#16689 Add Go agent release notes for version 3.31.0
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-31-0.mdx
Labels: content, from_internal

#16708 Fix broken links pr
  src/content/docs/apm/agents/ruby-agent/api-guides/ruby-ai-monitoring.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/start.mdx
Labels: content, from_tw

#16674 Remove dynamic type from template
  src/templates/docPage.js
Labels: eng

#16712 chore(Java): 8.10.0 Release notes, compatibility update
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8100.mdx
Labels: content, from_internal

#16717 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#16715 Whats new 03 28 aimonitoringga
  src/content/whats-new/2024/03/images/aimonitoringga.png
  src/content/whats-new/2024/03/whats-new-03-28-aimonitoringga.md
Labels: content, from_internal

#16713 Add documentation for Scala Zio
  src/content/docs/apm/agents/java-agent/frameworks/scala-zio.mdx
  src/nav/apm.yml
Labels: content, from_internal

#16697 chore(browser): post-release core web vitals updates
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details.mdx
  src/content/docs/tutorial-improve-site-performance/guide-to-monitoring-core-web-vitals.mdx
Labels: content, from_tw

#16720 Indent fixer
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-nrql-condition-alerts.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-entities-api-tutorial.mdx
  src/content/docs/apm/agents/c-sdk/get-started/otel_cpp_example.mdx
  src/content/docs/apm/agents/java-agent/additional-installation/aws-elastic-beanstalk-installation-java.mdx
  src/content/docs/apm/agents/java-agent/getting-started/migration-8x-guide.mdx
  src/content/docs/apm/agents/net-agent/custom-instrumentation/add-detail-transactions-xml-net.mdx
  src/content/docs/apm/agents/net-agent/getting-started/9x-to-10x-agent-migration-guide.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework.mdx
  src/content/docs/apm/agents/ruby-agent/api-guides/ruby-custom-instrumentation.mdx
  src/content/docs/apm/agents/ruby-agent/background-jobs/delayedjob-instrumentation.mdx
  src/content/docs/browser/browser-integrations/blazor-webassembly.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/aerospike-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/jmx-monitoring-activemq.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/nextcloud-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/openstack-controller-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/redmine-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/sonarqube-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/temporal-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/zookeeper-monitoring-integration.mdx
  src/content/docs/infrastructure/new-relic-infrastructure/troubleshooting/network-connection-issues.mdx
  src/content/docs/kubernetes-pixie/auto-telemetry-pixie/troubleshooting/get-pixie-integration-version.mdx
  src/content/docs/kubernetes-pixie/kubecost/get-started-kubecost.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/create-your-own-manifest.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-apm-applications-kubernetes.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/newrelic-metrics-adapter.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-integration-install-configure.mdx
  src/content/docs/logs/forward-logs/fluent-bit-plugin-log-forwarding.mdx
  src/content/docs/logs/forward-logs/fluentd-plugin-log-forwarding.mdx
  src/content/docs/logs/logs-context/configure-logs-context-go.mdx
  src/content/docs/mlops/integrations/datarobot-mlops-integration.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-agent-gradle.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/troubleshoot/swiftui-appdelegate.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/airflow/monitoring-airflow-ot.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/lampy/lampy-integration.mdx
  src/content/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/get-started/opentelemetry-tutorial-python.mdx
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/synthetic-monitoring-best-practices-guide.mdx
  src/content/docs/style-guide/formatting/hyperlinks.mdx
  src/content/docs/style-guide/writing-docs/writer-workflow/set-up-local.mdx
  src/content/docs/tutorial-service-level-mgmt/establish-capability-sli.mdx
Labels: content, from_tw

#16707 Logs: Revise logging metrics explanation
  src/content/docs/logs/logs-context/get-started-logs-context.mdx
  src/images/logs_screenshot-crop_logging-metrics.webp
Labels: content, from_tw

#16726 Update custom-anomalies.mdx
  src/content/docs/alerts-applied-intelligence/applied-intelligence/anomaly-detection/custom-anomalies.mdx
Labels: content, from_internal

#16622 Patch 12
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-2.2.45.mdx
Labels: content, from_internal

#16628 Update node compatibility
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_tw

#16728 Update alerts-ai-overview-page.mdx
  src/content/docs/alerts-applied-intelligence/new-relic-alerts/get-started/alerts-ai-overview-page.mdx
Labels: content, from_internal

#16639 fix(NRQL): clarifying the example for SQJ
  src/content/docs/nrql/using-nrql/subquery-joins.mdx
Labels: content, from_tw

#16730 fix(OMA): fixing missing redirect
  src/content/docs/tutorial-optimize-telemetry/intro-to-optimal-telemetry.mdx
Labels: content, from_tw

#16493 Update host-integrations-standard-configuration-format.mdx
  src/content/docs/infrastructure/host-integrations/infrastructure-integrations-sdk/specifications/host-integrations-standard-configuration-format.mdx
Labels: content, from_internal

#16732 Update ruby-ai-monitoring.mdx
  src/content/docs/apm/agents/ruby-agent/api-guides/ai-monitoring.mdx
  src/nav/apm.yml
Labels: content, from_internal

#16729 Update product-based-pricing-usage-new-relic-platform-pricing-usage-p…
  src/content/docs/licenses/license-information/usage-plans/product-based-pricing-usage-new-relic-platform-pricing-usage-plan.mdx
Labels: content, from_internal

#16432 Logs: Correct SKU name of Live Archives
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/add-on-billing.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-usage-plan.mdx
  src/content/docs/logs/get-started/live-archives-billing.mdx
Labels: content, from_tw
