Repository newrelic/docs-website, pull requests merged in 2025-05, with the labels that each got.

#20600 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#20605 Updated the alignment
  src/content/docs/infrastructure/host-integrations/host-integrations-list/ansible-controller-integration.mdx
Labels: content, from_tw

#20395 Feat(silent Alert): Updates in alert condition threshold setup
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/content/docs/alerts/create-alert/create-alert-condition/cross-account-alert.mdx
  src/content/docs/alerts/create-alert/examples/view-entity-health-status-find-entities-without-alert-conditions.mdx
  src/content/docs/alerts/scale-automate/rest-api/alerts-conditions-api-field-names.mdx
Labels: content, from_tw

#20603 Update compatibility-requirements-python-agent.mdx
  src/content/docs/apm/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
Labels: content

#20604 Knowledge connector
  src/content/docs/agentic-ai/knowledge-integration/knowledge-connector.mdx
  src/content/docs/agentic-ai/knowledge-integration/overview.mdx
  src/i18n/content/es/docs/agentic-ai/alert-intelligence-tool.mdx
  src/i18n/content/es/docs/agentic-ai/change-intelligence-tool.mdx
  src/i18n/content/es/docs/agentic-ai/github-copilot-integration.mdx
  src/i18n/content/es/docs/agentic-ai/introduction-agentic-ai.mdx
  src/i18n/content/es/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/es/docs/infrastructure/other-infrastructure-integrations/confluent-cloud-integration.mdx
  src/i18n/content/fr/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/fr/docs/browser/browser-monitoring/browser-pro-features/sequence-filtering.mdx
  src/i18n/content/fr/docs/opentelemetry/best-practices/opentelemetry-otlp-long-attributes-update.mdx
  src/i18n/content/fr/docs/video-agents/open-source-video-agents.mdx
  src/i18n/content/jp/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/kr/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/pt/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/nav/agentic-ai.yml
Labels: content, from_internal

#20613 Main
  gatsby-browser.js
  gatsby/on-route-update.js
  scripts/utils/updateCookieConsentMessage.js
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
Labels: eng

#20618 [feat]: Added New Relic AI integration with ServiceNow Now Assist support docs
  src/content/docs/agentic-ai/agentic-integration/servicenow-integration.mdx
  src/nav/agentic-ai.yml
Labels: content, from_tw

#20615 Gaurab/enable fr
  env.js
  gatsby-config.js
  package.json
  src/components/FrNav.js
  src/content/docs/agentic-ai/knowledge-integration/overview.mdx
  src/data/popovers_fr.json
  src/i18n/content/es/docs/agentic-ai/alert-intelligence-tool.mdx
  src/i18n/content/es/docs/agentic-ai/change-intelligence-tool.mdx
  src/i18n/content/es/docs/agentic-ai/github-copilot-integration.mdx
  src/i18n/content/es/docs/agentic-ai/introduction-agentic-ai.mdx
  src/i18n/content/es/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/es/docs/infrastructure/other-infrastructure-integrations/confluent-cloud-integration.mdx
  src/i18n/content/es/docs/streaming-video-&-ads/installation/install-the-streaming-video-&-ads-agent.mdx
  src/i18n/content/fr/docs/agentic-ai/agentic-integration/gemini-integration.mdx
  src/i18n/content/fr/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/fr/docs/agentic-ai/knowledge-integration/overview.mdx
  src/i18n/content/fr/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
  src/i18n/content/fr/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/i18n/content/fr/docs/browser/browser-monitoring/browser-pro-features/sequence-filtering.mdx
  src/i18n/content/fr/docs/opentelemetry/best-practices/opentelemetry-otlp-long-attributes-update.mdx
  src/i18n/content/fr/docs/opentelemetry/best-practices/opentelemetry-otlp-troubleshooting.mdx
  src/i18n/content/fr/docs/streaming-video-&-ads/update-the-media-agent.mdx
  src/i18n/content/fr/docs/video-agents/open-source-video-agents.mdx
  src/i18n/content/jp/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/jp/docs/streaming-video-&-ads/update-the-media-agent.mdx
  src/i18n/content/kr/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/kr/docs/streaming-video-&-ads/installation/install-the-streaming-video-&-ads-agent.mdx
  src/i18n/content/kr/docs/streaming-video-&-ads/update-the-media-agent.mdx
  src/i18n/content/pt/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/nav/fr.json
  src/i18n/translations/fr/translation.json
  src/nav/new-relic-control.yml
  src/nav/telemetry-data-platform.yml
  src/pages/index.js
  yarn.lock
Labels: eng

#20623 docs(dotnet): Update compatibility and requirements to reflect latest supported library versions
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#20622 Update compatibility-requirement-azure-monitoring.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
Labels: content, from_internal

#20624 feat(LogTableSettings): Add whats new post for log table settings feature
  src/content/whats-new/2025/05/whats-new-05-06-log-table-settings.md
  static/images/whats-new-2025-05-06-log-table-json-view.webp
  static/images/whats-new-2025-05-06-log-table-settings.webp
Labels: content, from_internal

#20625 Release notes 25 april 01 may
  src/content/docs/release-notes/docs-release-notes/docs-5-02-2025.mdx
Labels: content, from_tw, documentation

#20636 (chore): fix the repo URL
  src/content/docs/codestream/observability/repo-association.mdx
Labels: content, from_tw

#20633 Update support-arm-graviton-x86-64.mdx
  src/content/docs/apm/agents/manage-apm-agents/configuration/support-arm-graviton-x86-64.mdx
Labels: content, from_internal

#20628 Chore: EOL announcement for metrics and events explorer (Publish on 07-05-2025)
  src/content/eol/2025/05/metrics-and-event-explorer.md
Labels: content, from_tw

#20641 chore: updated the date for EOLs
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
  src/content/eol/2025/02/eol-01-31-25-synthetics-ip.md
Labels: content, from_tw

#20644 Update to French docs
  src/i18n/content/fr/docs/apm/agents/manage-apm-agents/agent-data/real-time-streaming.mdx
  src/i18n/content/fr/docs/apm/agents/manage-apm-agents/agent-data/triage-run-diagnostics.mdx
  src/i18n/content/fr/docs/apm/apm-ui-pages/monitoring/response-time-chart-types-apm-browser.mdx
  src/i18n/content/fr/docs/apm/transactions/intro-transactions/transactions-new-relic-apm.mdx
  src/i18n/content/fr/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details.mdx
  src/i18n/content/fr/docs/infrastructure/host-integrations/host-integrations-list/couchbase-monitoring-integration.mdx
  src/i18n/content/fr/docs/infrastructure/host-integrations/host-integrations-list/powerdns-monitoring-integration.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/nrql/nrql-tutorials/nrql-tutorial-advanced-dashboarding.mdx
  src/i18n/content/fr/docs/opentelemetry/best-practices/opentelemetry-otlp.mdx
Labels: content, translations, from_internal

#20646 chore: formatting improvements
  src/content/docs/opentelemetry/best-practices/opentelemetry-otlp-attributes-processing-update.mdx
Labels: content, from_internal

#20637 fix: translate title in DocTile
  scripts/actions/utils/handlers.mjs
  src/content/docs/release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-browser-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-others-release-notes/index.mdx
  src/content/docs/release-notes/streaming-video-&-ads-release-notes/index.mdx
  src/content/docs/release-notes/streaming-video-&-ads-release-notes/media-agent-for-browser/index.mdx
Labels: eng

#20635 Add NR Control + update hyperlinks
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp.mdx
Labels: content, from_internal

#20647 Update user-management-ui-and-tasks.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-ui-and-tasks.mdx
Labels: content, from_internal

#20650 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#20642 Update eligibility-guidelines-new-relic-nonprofit-program.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/eligibility-guidelines-new-relic-nonprofit-program.mdx
Labels: content, from_internal

#20379 docs:added docs for custom interaction
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/android-agent-custom-Interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-new-relic-gradle-plugin.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-handled-exceptions.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-158.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-708.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-1111.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-1110.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-154.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-147.mdx
  src/nav/mobile-monitoring.yml
Labels: content, from_internal

#20651 Browser Agent v1.290.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.0.mdx
Labels: content, from_internal

#20652 Go Agent Release v3.39.0
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-39-0.mdx
Labels: content, from_internal

#20645 Update upload-dsyms-bitcode-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/upload-dsyms-bitcode-apps.mdx
Labels: content, from_internal

#20661 Daily release/05 12 25 morning
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/eligibility-guidelines-new-relic-nonprofit-program.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/android-agent-custom-Interaction.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-new-relic-gradle-plugin.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/upload-dsyms-bitcode-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/record-handled-exceptions.mdx
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-39-0.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-158.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-708.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-1111.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-1110.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-154.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-147.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.0.mdx
  src/i18n/content/es/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/es/docs/infrastructure/other-infrastructure-integrations/confluent-cloud-integration.mdx
  src/i18n/content/es/docs/release-notes/docs-release-notes/docs-5-02-2025.mdx
  src/i18n/content/es/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
  src/i18n/content/es/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
  src/i18n/content/es/docs/vulnerability-management/user-roles.mdx
  src/i18n/content/fr/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/i18n/content/fr/docs/alerts/scale-automate/rest-api/alerts-conditions-api-field-names.mdx
  src/i18n/content/fr/docs/alerts/scale-automate/rest-api/rest-api-calls-alerts.mdx
  src/i18n/content/fr/docs/apis/rest-api-v2/application-examples-v2/application-error-rate-example-v2.mdx
  src/i18n/content/fr/docs/apis/rest-api-v2/application-examples-v2/get-average-throughput-app-v2.mdx
  src/i18n/content/fr/docs/apis/rest-api-v2/application-examples-v2/get-web-transaction-time-data-v2.mdx
  src/i18n/content/fr/docs/apis/rest-api-v2/mobile-examples-v2/mobile-crash-count-crash-rate-example-v2.mdx
  src/i18n/content/fr/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/i18n/content/fr/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/i18n/content/fr/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/i18n/content/fr/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/fr/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/i18n/content/fr/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-otel.mdx
  src/i18n/content/fr/docs/release-notes/docs-release-notes/docs-5-02-2025.mdx
  src/i18n/content/fr/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
  src/i18n/content/fr/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
  src/i18n/content/fr/docs/vulnerability-management/user-roles.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/i18n/content/jp/docs/release-notes/docs-release-notes/docs-5-02-2025.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
  src/i18n/content/jp/docs/vulnerability-management/user-roles.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/i18n/content/kr/docs/release-notes/docs-release-notes/docs-5-02-2025.mdx
  src/i18n/content/kr/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
  src/i18n/content/kr/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
  src/i18n/content/kr/docs/vulnerability-management/user-roles.mdx
  src/i18n/content/pt/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/i18n/content/pt/docs/release-notes/docs-release-notes/docs-5-02-2025.mdx
  src/i18n/content/pt/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
  src/i18n/content/pt/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
  src/i18n/content/pt/docs/vulnerability-management/user-roles.mdx
  src/nav/mobile-monitoring.yml
Labels: from_tw

#20663 fix: Fix the image float issue
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/application-not-responding.mdx
Labels: content, from_tw

#20671 PHP Release 11.9
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-11-9-0-23.mdx
Labels: content, from_internal

#20666 feat: Add Python Agent v10.12.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-101200.mdx
Labels: content, from_internal

#20667 Update incident-workflows.mdx
  src/content/docs/alerts/get-notified/incident-workflows.mdx
Labels: content, from_internal

#20673 fix: typo
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postgresql/postgresql-integration.mdx
Labels: content, from_internal

#20675 chore: implemented the legal feedback
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/get-started.mdx
Labels: content, from_tw

#20678 updated the doc as we don't support Microsoft.DocumentDB/mongoClusters
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-cosmos-db-document-db-monitoring-integration.mdx
Labels: content, from_internal

#20680 chore: code in backticks/nrql formatting
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/content/docs/nrql/using-nrql/subquery-joins.mdx
Labels: content, from_internal

#20682 chore: formatting terminal output
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/content/docs/new-relic-control/pipeline-control/modify-agent-configuration.mdx
  src/content/docs/new-relic-control/pipeline-control/set-up-and-deploy-pipeline-control.mdx
Labels: content, from_internal

#20690 Doc release note 16th May 2025
  src/content/docs/release-notes/docs-release-notes/docs-5-16-2025.mdx
Labels: content, from_tw

#20657 feat.: Azure Docs
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/container.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/env-variables-azure.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/introduction-azure-monitoring.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/linux.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/windows.mdx
  src/nav/serverless-function-monitoring.yml
  static/images/azure_filters.webp
Labels: content, from_tw

#20701 feat: New change tracking events docs for pp
  src/content/docs/change-tracking/change-tracking-events.mdx
  src/nav/change-tracking.yml
  static/images/changeTimeseries.webp
  static/images/entityScopedView.webp
  static/images/globalView.webp
Labels: content, from_tw

#20665 Whats new 05 19 Change Tracking Post
  src/content/whats-new/2025/05/whats-new-05-19-change-tracking.md
  static/images/CT_1.png
Labels: content, from_internal

#20705 feat: New change tracking events docs for pp
  src/content/docs/change-tracking/change-tracking-events.mdx
  src/nav/change-tracking.yml
  static/images/changeTimeseries.webp
  static/images/entityScopedView.webp
  static/images/globalView.webp
Labels: content, from_tw

#20715 chor: Deprecating the AmazonQ doc
  src/content/docs/agentic-ai/agentic-integration/amazonq-integration.mdx
  src/i18n/content/es/docs/agentic-ai/agentic-integration/amazonq-integration.mdx
  src/i18n/content/es/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/i18n/content/es/docs/infrastructure/other-infrastructure-integrations/confluent-cloud-integration.mdx
  src/i18n/content/es/docs/release-notes/docs-release-notes/docs-4-21-2025.mdx
  src/i18n/content/es/docs/release-notes/docs-release-notes/docs-4-28-2025.mdx
  src/i18n/content/es/docs/release-notes/docs-release-notes/docs-5-02-2025.mdx
  src/i18n/content/es/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.288.mdx
  src/i18n/content/es/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.289.mdx
  src/i18n/content/es/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.mdx
  src/i18n/content/es/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.mdx
  src/i18n/content/fr/docs/agentic-ai/agentic-integration/amazonq-integration.mdx
  src/i18n/content/fr/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/fr/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/i18n/content/fr/docs/release-notes/docs-release-notes/docs-4-21-2025.mdx
  src/i18n/content/fr/docs/release-notes/docs-release-notes/docs-4-28-2025.mdx
  src/i18n/content/fr/docs/release-notes/docs-release-notes/docs-5-02-2025.mdx
  src/i18n/content/fr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.288.mdx
  src/i18n/content/fr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.289.mdx
  src/i18n/content/fr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.mdx
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.mdx
  src/i18n/content/jp/docs/agentic-ai/agentic-integration/amazonq-integration.mdx
  src/i18n/content/jp/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/jp/docs/release-notes/docs-release-notes/docs-4-28-2025.mdx
  src/i18n/content/jp/docs/release-notes/docs-release-notes/docs-5-02-2025.mdx
  src/i18n/content/jp/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.289.mdx
  src/i18n/content/jp/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.mdx
  src/i18n/content/jp/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.mdx
  src/i18n/content/kr/docs/agentic-ai/agentic-integration/amazonq-integration.mdx
  src/i18n/content/kr/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/kr/docs/release-notes/docs-release-notes/docs-4-21-2025.mdx
  src/i18n/content/kr/docs/release-notes/docs-release-notes/docs-4-28-2025.mdx
  src/i18n/content/kr/docs/release-notes/docs-release-notes/docs-5-02-2025.mdx
  src/i18n/content/kr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.288.mdx
  src/i18n/content/kr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.289.mdx
  src/i18n/content/kr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.mdx
  src/i18n/content/kr/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.mdx
  src/i18n/content/pt/docs/agentic-ai/agentic-integration/amazonq-integration.mdx
  src/i18n/content/pt/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/i18n/content/pt/docs/release-notes/docs-release-notes/docs-4-21-2025.mdx
  src/i18n/content/pt/docs/release-notes/docs-release-notes/docs-4-28-2025.mdx
  src/i18n/content/pt/docs/release-notes/docs-release-notes/docs-5-02-2025.mdx
  src/i18n/content/pt/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.288.mdx
  src/i18n/content/pt/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.289.mdx
  src/i18n/content/pt/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.mdx
  src/i18n/content/pt/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.mdx
Labels: content, from_tw

#20716 chor: New PM feedbacks in change tracking event doc
  src/content/docs/change-tracking/change-tracking-events.mdx
Labels: content, from_tw

#20713 Nr 416540 drop rule eol content
  src/content/docs/data-apis/manage-data/drop-data-using-nerdgraph.mdx
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
  src/content/eol/2025/05/drop-rule-filter.md
Labels: content, from_tw

#20732 Update php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#20717 add logging to feature list under browser agent start() API
  src/content/docs/browser/new-relic-browser/browser-apis/start.mdx
Labels: content, from_tw

#20697 OpenTelemetry entity is automatically deleted after 8 days
  src/content/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic.mdx
Labels: content, from_internal

#20729 .NET agent: add troubleshooting doc for app hang on startup issue
  src/content/docs/apm/agents/net-agent/troubleshooting/app-hangs-on-startup.mdx
  src/nav/apm.yml
Labels: content, from_internal

#20746 Browser Agent v1.290.1 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.1.mdx
Labels: content, from_internal

#20676 Release notes for Streaming video & Ads
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-video-agent-25-02-27.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-video-agent-25-02-28.mdx
Labels: from_internal, documentation

#20748 fix(eol-drop-rules): Fix broken links
  src/content/docs/data-apis/manage-data/drop-data-using-nerdgraph.mdx
  src/content/docs/logs/ui-data/drop-data-drop-filter-rules.mdx
Labels: content, from_tw

#20747 docs: add release notes for infra-agent 1.64.0
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1640.mdx
Labels: content, from_internal

#20740 add a troubleshooting page to reset the infra agent inventory and metadata cache
  src/content/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/infra-agent-inventory-reset.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#20750 Update java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#20752 fix: codeblocks
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/recordllmfeedbackevent-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/withllmcustomattributes-python-agent-api.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/postfix-monitoring-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/redpanda-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/sendmail-monitoring-integration.mdx
  src/content/docs/mdx-test-page.mdx
  src/install/java/download/maven.mdx
  src/install/java/frameworkInstallation/websphere.mdx
  src/install/mongodb/linux/install-zypper.mdx
Labels: content, from_internal

#20756 Update infra-agent-inventory-reset.mdx
  src/content/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/infra-agent-inventory-reset.mdx
Labels: content, from_internal

#20730 docs: NR-416900 Update change-tracking-events.mdx
  src/content/docs/change-tracking/change-tracking-events.mdx
Labels: content, from_internal

#20757 feat: Add tip regarding nondeterministic latest and earliest results
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#20763 fix(Catalogs): Update "Software Catalogs" => "Applications Catalog"
  src/content/docs/service-architecture-intelligence/catalogs/catalogs.mdx
Labels: from_internal, documentation

#20769 Daily merge 05 26 25/morning
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.18.mdx
  src/content/docs/service-architecture-intelligence/catalogs/catalogs.mdx
Labels: from_internal, documentation

#20772 Daily merge 05 27 25/morning
  src/content/docs/infrastructure/host-integrations/troubleshooting/run-integrations-manually.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  static/images/nrql_screenshot-crop_line-type-chart.webp
Labels: content, from_tw

#20773 feat: Update pictures for pie and table chart
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  static/images/nrql_screenshot-crop_pie_chart.webp
  static/images/nrql_screenshot-crop_table_chart.webp
  static/images/queries-nrql_screenshot-crop_line-type-chart.webp
  static/images/queries-nrql_screenshot-crop_pie-type-chart.webp
  static/images/queries-nrql_screenshot-crop_table-type-chart.webp
Labels: content, from_internal

#20781 Daily merge 05 28 25/morning
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-20-0.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.19.mdx
  src/content/eol/2025/05/drop-rule-filter.md
  src/i18n/content/es/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/i18n/content/es/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/i18n/content/es/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/infra-agent-inventory-reset.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1640.mdx
  src/i18n/content/es/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-40-0.mdx
  src/i18n/content/es/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.mdx
  src/i18n/content/es/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/i18n/content/es/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/i18n/content/es/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/i18n/content/fr/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/i18n/content/fr/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/i18n/content/fr/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/infra-agent-inventory-reset.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1640.mdx
  src/i18n/content/fr/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-40-0.mdx
  src/i18n/content/fr/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/i18n/content/fr/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/i18n/content/fr/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/i18n/content/jp/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/i18n/content/jp/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/infra-agent-inventory-reset.mdx
  src/i18n/content/jp/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1640.mdx
  src/i18n/content/jp/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-40-0.mdx
  src/i18n/content/jp/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.mdx
  src/i18n/content/jp/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/i18n/content/jp/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/i18n/content/jp/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/i18n/content/kr/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/infra-agent-inventory-reset.mdx
  src/i18n/content/kr/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1640.mdx
  src/i18n/content/kr/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-40-0.mdx
  src/i18n/content/kr/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/i18n/content/kr/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/i18n/content/kr/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/i18n/content/pt/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/i18n/content/pt/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/i18n/content/pt/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/infra-agent-inventory-reset.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1640.mdx
  src/i18n/content/pt/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-40-0.mdx
  src/i18n/content/pt/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/i18n/content/pt/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/i18n/content/pt/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  static/images/nrql_screenshot-crop_pie_chart.webp
  static/images/nrql_screenshot-crop_table_chart.webp
  static/images/queries-nrql_screenshot-crop_line-type-chart.webp
  static/images/queries-nrql_screenshot-crop_pie-type-chart.webp
  static/images/queries-nrql_screenshot-crop_table-type-chart.webp
Labels: content, from_internal

#20776 Update kubernetes-eks-fargate.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-eks-fargate.mdx
Labels: content, from_external

#20764 feat: change Nav structure for release notes
  plugins/gatsby-source-nav/gatsby-node.js
  src/content/docs/release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-browser-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-others-release-notes/index.mdx
  src/templates/releaseNoteLandingPage.js
Labels: eng

#20795 Daily merge 05 29 25/morning
  plugins/gatsby-source-nav/gatsby-node.js
  src/content/docs/alerts/create-alert/fine-tune/streaming-alerts-key-terms-concepts.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/measure.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/kubernetes-eks-fargate.mdx
  src/content/docs/release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-browser-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-others-release-notes/index.mdx
  src/i18n/content/es/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/infra-agent-inventory-reset.mdx
  src/i18n/content/fr/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/infra-agent-inventory-reset.mdx
  src/i18n/content/fr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.mdx
  src/i18n/content/pt/docs/infrastructure/infrastructure-troubleshooting/troubleshoot-infrastructure/infra-agent-inventory-reset.mdx
  src/i18n/content/pt/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.mdx
  src/nav/browser.yml
  src/templates/releaseNoteLandingPage.js
Labels: content, from_internal

#20787 Update compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#20786 Update java-agent-licenses.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-apm/java-agent-licenses.mdx
Labels: content, from_internal

#20785 Create java-agent-8210.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8210.mdx
Labels: content, from_internal

#20796 Daily merge 05 29 25 afternoon
  src/content/docs/apm/agents/java-agent/configuration/java-agent-config-file-template.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/licenses/product-or-service-licenses/new-relic-apm/java-agent-licenses.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8210.mdx
Labels: content, from_internal

#20799 Update java-agent-8210.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8210.mdx
Labels: content, from_internal

#20800 chore: update cloud-rules-api.mdx
  src/content/docs/new-relic-control/pipeline-control/cloud-rules-api.mdx
Labels: content, from_internal

#20793 Update overview.mdx
  src/content/docs/agentic-ai/knowledge-integration/overview.mdx
Labels: content, from_internal

#20794 Update nerdgraph-rag.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-rag.mdx
Labels: content, from_internal

#20802 Create new-relic-android-5296.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5296.mdx
Labels: content, from_internal

#20803 chore(Alerts): Updated the Predict alerts topic title
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/content/docs/alerts/create-alert/set-thresholds/predictive-alerts.mdx
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/nrql-predictions.mdx
  src/nav/alerts.yml
Labels: content, from_tw

#20798 docs: Update text for change-tracking-events.mdx
  src/content/docs/change-tracking/change-tracking-events.mdx
Labels: content, from_internal
