Repository newrelic/docs-website, pull requests merged in 2025-04, with the labels that each got.

#20310 Updated the language to the Streaming Video and Ads
  src/content/docs/streaming-video-&-ads/installation/install-the-streaming-video-&-ads-agent.mdx
  src/content/docs/streaming-video-&-ads/installation/roku/get-started-with-roku.mdx
  src/content/docs/streaming-video-&-ads/update-the-media-agent.mdx
  src/install/android/android-path/appInfo_EU.mdx
Labels: content, from_tw

#20185 feat: (Alerts: Sliding window aggregation): Adding the associated pricing details
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/content/docs/alerts/create-alert/fine-tune/streaming-alerts-key-terms-concepts.mdx
  src/content/docs/alerts/scale-automate/rest-api/rest-api-calls-alerts.mdx
  src/content/docs/nrql/using-nrql/create-smoother-charts-sliding-windows.mdx
  static/images/queries-nrql_diagram_slide-by-window-time-series-example.webp
Labels: content, from_tw

#20339 updated release notes for node browser runtime
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.25.mdx
Labels: from_internal, documentation

#20334 Update acceptable-use-policy.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/acceptable-use-policy.mdx
Labels: from_internal, documentation

#20333 Update security-policy.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-policy.mdx
Labels: content, from_internal

#20361 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#20362 feat: adding release notes for unified lambda request ID ingestion
  src/content/docs/release-notes/logs-release-notes/logs-25-04-01.mdx
Labels: content, from_internal

#20359 chore: Updated nav link to Azure Site Extension instructions for Node
  src/nav/apm.yml
Labels: content, from_internal

#20332 "What's New" - Changes to Data Exploration
  src/content/whats-new/2025/04/whats-new-04-01-changes-to-data-exploration.md
  static/images/new-query-console.webp
Labels: content, from_internal

#19943 (feat): Agent Control
  src/content/docs/infrastructure-as-code/terraform/agent-control.mdx
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/overview.mdx
  src/content/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/content/docs/new-relic-control/fleet-control/authentication.mdx
  src/content/docs/new-relic-control/fleet-control/overview.mdx
  src/content/docs/new-relic-control/fleet-control/setup.mdx
  src/content/docs/new-relic-control/fleet-control/troubleshooting.mdx
  src/content/docs/new-relic-control/getting-started.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/build-quickstart/contribute-quickstart.mdx
  src/install/ibm-mq/whatsNext.mdx
  src/nav/new-relic-control.yml
  src/nav/new-relic-solutions.yml
  src/nav/root.yml
  static/images/agent-control-guided-install.webp
  static/images/fleet-control-config-cluster.webp
  static/images/fleet-control-summary.webp
Labels: from_tw

#20354 feat(fluentbit): changes for AC/FC
  src/content/docs/logs/log-collectors/log-collector-management.mdx
Labels: content, from_tw

#20207 feat(nri-docker): add docker integration docs page
  src/content/docs/infrastructure/host-integrations/host-integrations-list/docker-container-monitoring-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#20347 Feat(private-location): Added sharing private location information
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/private-locations-overview-monitor-internal-sites-add-new-locations.mdx
  static/images/synthetic_screenshot-crop_generate-private-location-key.webp
  static/images/synthetic_screenshot-full_private-location-page.webp
Labels: content, from_tw

#20383 fix: typo on Introduction to Queues and Streams monitoring
  src/content/docs/message-queues-streaming/introduction.mdx
Labels: content, from_external

#20376 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#20363 docs: add release notes for infra-agent 1.63.1
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1631.mdx
Labels: content, from_internal

#20356 chore:Update .NET agent MongoDB support to include 3.X.
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#20364 release notes for sjm and api-runtime latest releases
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-438.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.111.mdx
Labels: content, from_internal

#20294 docs(dotnet): Update Couchbase compatibility requirements
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#20348 The ServiceName of Azure has been modified.
  src/content/docs/apm/agents/nodejs-agent/hosting-services/nodejs-agent-microsoft-azure.mdx
Labels: content, from_internal

#20388 Update costs.mdx
  src/content/docs/new-relic-control/pipeline-control/costs.mdx
Labels: content, from_internal

#20327 feat(whats-new): add promql translator post
  src/content/whats-new/2025/04/whats-new-04-07-promql-translator.md
Labels: content, from_internal

#20400 chore: capiltalize nrql clauses
  src/content/docs/data-apis/understand-data/new-relic-data-types.mdx
Labels: content, from_internal

#20408 (chor): fix the typo
  src/content/docs/service-architecture-intelligence/getting-started.mdx
Labels: content, from_tw

#20396 (chore): updated the IP range
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
Labels: content, from_tw

#20413 Update introduction-new-relic-apis.mdx
  src/content/docs/apis/intro-apis/introduction-new-relic-apis.mdx
Labels: content, from_internal

#20330 Change in data exploration
  src/content/eol/2025/04/change-in-data-exploration.md
Labels: content, from_tw

#20352 feat(whats-new): add release notes for filterbar and new datatable for errors inbox
  src/content/whats-new/2025/04/whats-new-04-03-filterbar-and-datatable-errors-inbox.md
  static/images/errors-inbox-grouptab-datatable.png
  static/images/errors-inbox-grouptab-filterbar.png
  static/images/errors-inbox-triage-filterbar.png
Labels: content, from_internal

#20409 NR Mobile Android App Release - 5.28.9
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes /new-relic-android-5289.mdx
Labels: content, from_internal

#20420 feat(agent-control): AC does not support multiple installation in the same cluster
  src/content/docs/new-relic-control/agent-control/overview.mdx
Labels: content, from_internal

#20421 bug(agent-control): fixed typos
  src/content/docs/new-relic-control/agent-control/reinstrumentation.mdx
Labels: content, from_internal

#20415 feat(whats-new): Add nr control post
  src/content/whats-new/2025/04/whats-new-04-08-new-relic-control.md
Labels: content, from_internal

#20317 feat: Add release notes for streaming media
  src/content/docs/release-notes/index.mdx
  src/content/docs/release-notes/streaming-video-&-ads-release-notes/index.mdx
  src/content/docs/release-notes/streaming-video-&-ads-release-notes/media-agent-for-android-release-notes/index.mdx
  src/content/docs/release-notes/streaming-video-&-ads-release-notes/media-agent-for-android-release-notes/media-agent-android-2025-03-03.mdx
  src/content/docs/release-notes/streaming-video-&-ads-release-notes/media-agent-for-android-release-notes/media-agent-android-2025-03-05.mdx
  src/content/docs/release-notes/streaming-video-&-ads-release-notes/media-agent-for-ios-release-notes/index.mdx
  src/content/docs/release-notes/streaming-video-&-ads-release-notes/media-agent-for-ios-release-notes/media-agent-ios-2025-03-03.mdx
Labels: content, from_tw

#20407 (chore): Added new table in What's New
  src/content/whats-new/2025/03/whats-new-03-07-change-to-dimensional.md
Labels: content, from_tw

#20401 Update email requirements
  src/content/docs/accounts/accounts/account-maintenance/account-email-settings.mdx
Labels: content, from_internal

#20427 (chore): Update in dates
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
Labels: content, from_tw

#20389 feat(anomaly detection): add seasonality documentation
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
  static/images/alerts_screenshot-crop_try-anomaly-thresholds.webp
Labels: content, from_internal

#20430 Update security-bulletin-nr25-01.mdx
  src/content/docs/security/new-relic-security/security-bulletins/security-bulletin-nr25-01.mdx
Labels: content, from_internal

#20312 Update use-tcp-endpoint-forward-logs-new-relic.mdx with plugin.type information
  src/content/docs/logs/log-api/use-tcp-endpoint-forward-logs-new-relic.mdx
Labels: content, from_internal

#20440 Release notes for sjm and api-runtime latest releases
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-439.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.115.mdx
Labels: content, from_internal

#20448 [NR-401875] [NR-401879] Correct all the codes that are wrong for android feature flags
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/configure-settings.mdx
Labels: content, from_internal

#20449 Browser Agent v1.287.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.287.0.mdx
Labels: content, from_internal

#20443 (chore): Fix the link issue
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/response-stream.mdx
Labels: content, from_tw

#19566 [Please Ignore] : Preview PR after adding folder structure for Pipeline Control Gateway
  scripts/releaseNotes.mjs
  src/content/docs/release-notes/pipeline-control-gateway-release-notes/index.mdx
  src/content/docs/release-notes/pipeline-control-gateway-release-notes/pipeline-control-gateway-25-04-02.mdx
  src/utils/getAgentName.js
Labels: eng

#20445 what's new: login and logout audit events
  src/content/whats-new/2025/04/whats-new-04-10-login-logout-audit.md.md
Labels: content, from_internal

#20446 chore: Document batching and compression settings of infinite tracing
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#20451 iOS App 6.9.4 Release Notes
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6094.mdx
Labels: content, from_internal

#20444 Update query-account-audit-logs-nrauditevent.mdx
  src/content/docs/accounts/accounts/account-maintenance/query-account-audit-logs-nrauditevent.mdx
Labels: content, from_internal

#20454 docs(logging): Add limitations of Log API to syslog page
  src/content/docs/logs/log-api/use-tcp-endpoint-forward-logs-new-relic.mdx
Labels: content, from_internal

#20460 fix: multiline curl commands need `\` escapes
  src/content/docs/infrastructure/infrastructure-alerts/rest-api-calls-new-relic-infrastructure-alerts.mdx
Labels: content, from_internal

#20458 chore: add syntax highlighting
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
Labels: content, from_internal

#20461 fix: Remove typo in aws-integrations-metrics.mdx
  src/content/docs/infrastructure/amazon-integrations/manage-aws-data/aws-integrations-metrics.mdx
Labels: content, from_internal

#20459 Update to FR docs
  src/i18n/content/fr/docs/apis/nerdgraph/examples/browser-monitoring-config-nerdgraph.mdx
  src/i18n/content/fr/docs/apis/synthetics-rest-api/monitor-examples/payload-attributes-synthetics-rest-api.mdx
  src/i18n/content/fr/docs/apm/agents/java-agent/async-instrumentation/java-agent-api-asynchronous-applications.mdx
  src/i18n/content/fr/docs/apm/agents/java-agent/related-integrations/micrometer/micrometer-metrics-registry.mdx
  src/i18n/content/fr/docs/apm/agents/net-agent/troubleshooting/browser-injection-health-check-conflict.mdx
  src/i18n/content/fr/docs/apm/agents/php-agent/other-integrations/magento-business-insights.mdx
  src/i18n/content/fr/docs/apm/agents/php-agent/php-agent-api/newrelic_disable_autorum.mdx
  src/i18n/content/fr/docs/apm/agents/python-agent/hosting-services/python-azure-containerapps-appservice.mdx
  src/i18n/content/fr/docs/apm/agents/python-agent/hosting-services/python-azure-touchless-integration.mdx
  src/i18n/content/fr/docs/browser/browser-integrations/nuxt-js-integration.mdx
  src/i18n/content/fr/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/i18n/content/fr/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring.mdx
  src/i18n/content/fr/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
  src/i18n/content/fr/docs/browser/new-relic-browser/installation/update-browser-agent.mdx
  src/i18n/content/fr/docs/mobile-monitoring/new-relic-mobile-ios/watchOS/instrument-watchos.mdx
Labels: content, translations, from_internal

#20463 (chore): fix the indentation issue
  src/install/microsoft-sql/linux/install-linux.mdx
  src/install/microsoft-sql/whatsNext.mdx
Labels: content, from_tw

#20436 NR-368357: Add details about metric aggregate pruning rules in pipeline control cloud rules docs
  src/content/docs/new-relic-control/pipeline-control/cloud-rules-api.mdx
Labels: content, from_internal

#20416 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#20474 Create service-levels-20250415.mdx
  src/content/docs/release-notes/service-levels-release-notes/service-levels-20250415.mdx
Labels: content, from_internal

#20318 (feat): Added mapping information from oTel metrics to New Relic K8S agent
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-otel-metrics.mdx
  src/nav/kubernetes-pixie.yml
Labels: content, from_tw

#20470 Javaagent 8.20.0 updates
  src/content/docs/apm/agents/java-agent/configuration/java-agent-config-file-template.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8200.mdx
Labels: content, from_internal

#20457 Add release notes for Python agent release v10.9.0.
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-100900.mdx
Labels: content, from_internal

#20479 (feat): added new mutation
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
Labels: content, from_tw

#19415 chor(Nerdgraph): Metric Normalization Rule
  src/content/docs/apis/nerdgraph/examples/nerdgraph-metric-normalization-rule.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#20489 docs: Update latest verified compatible versions of .NET libraries for the dotnet agent
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#20491 Update scim-support-automated-user-management.mdx
  src/content/docs/accounts/accounts/automated-user-management/scim-support-automated-user-management.mdx
Labels: content, from_internal

#20492 Update automated-user-provisioning-single-sign.mdx
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
Labels: content, from_internal

#20493 feat(scorecards): Added the scorecards templates topic
  src/content/docs/service-architecture-intelligence/scorecards/managing-scorecards.mdx
  src/content/docs/service-architecture-intelligence/scorecards/templates.mdx
  src/nav/service-architecture-intelligence.yml
Labels: content, from_tw

#20262 (feat): metric normalization rules UI docs update
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/metric-normalization-rules.mdx
  static/images/Access_metric_rules.webp
  static/images/metric-details.webp
  static/images/solutions_screenshot-full_create-new-rule-window.webp
Labels: content, from_tw

#20435 Update k8s-agent-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: content, from_internal

#20289 [feat]: Release notes added for the Month of Feb
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/page-resources.mdx
  src/content/docs/browser/single-page-app-monitoring/troubleshooting/angular-truncated-copy-paste-snippet.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/set-up-auto-discovery-of-aws-entities.mdx
  src/content/docs/infrastructure/prometheus-integrations/view-query-data/translate-promql-queries-nrql.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
  src/content/docs/mobile-apps/alerting-new-relic-mobile-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/create-nerdpack.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/first-chart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/grid.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/install-cli.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/navigation.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/overview.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/spin-demo.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/third-party-data.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/build-quickstart/add-data-source.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/custom-visualizations/build-visualization.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nerdpack-file-structure.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nerdstorage.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nerdstoragevault.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nr1-cli/nr1-catalog.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nr1-cli/nr1-common.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nr1-cli/nr1-config.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nr1-cli/nr1-nerdpack.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/query-and-store-data.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/Charts.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/overlays/Tooltip.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/query-and-storage/NerdGraphQuery.mdx
  src/content/docs/new-relic-solutions/new-relic-one/build-nr-apps/set-up-dev-env.mdx
  src/content/docs/new-relic-solutions/tutorials/add-nerdgraphquery.mdx
  src/content/docs/new-relic-solutions/tutorials/add-query-mutate-nerdstorage.mdx
  src/content/docs/release-notes/docs-release-notes/docs-1-31-2025.mdx
  src/content/docs/release-notes/docs-release-notes/docs-4-11-2025.mdx
Labels: content, from_tw

#20498 Daily release/04 17 25 morning
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/introduction-saml-scim.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
  src/content/docs/accounts/accounts/automated-user-management/automated-user-provisioning-single-sign.mdx
  src/content/docs/accounts/accounts/automated-user-management/onelogin-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/scim-support-automated-user-management.mdx
  src/content/docs/accounts/original-accounts-billing/original-product-based-pricing/switch-new-models.mdx
  src/content/docs/alerts/create-alert/set-thresholds/anomaly-detection.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-metric-normalization-rule.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-synthetics-tutorial.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/page-resources.mdx
  src/content/docs/browser/single-page-app-monitoring/troubleshooting/angular-truncated-copy-paste-snippet.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/set-up-auto-discovery-of-aws-entities.mdx
  src/content/docs/infrastructure/prometheus-integrations/view-query-data/translate-promql-queries-nrql.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/newrelic-metrics-adapter.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
  src/content/docs/mobile-apps/alerting-new-relic-mobile-apps.mdx
  src/content/docs/mobile-monitoring/new-relic-monitoring-react-native/monitor-your-react-native-application.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/create-nerdpack.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/first-chart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/grid.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/install-cli.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/navigation.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/overview.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/spin-demo.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/build-ab-app/third-party-data.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/contribute-nr-io/build-quickstart/add-data-source.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/custom-visualizations/build-visualization.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nerdpack-file-structure.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nerdstorage.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nerdstoragevault.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nr1-cli/nr1-catalog.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nr1-cli/nr1-common.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nr1-cli/nr1-config.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/nr1-cli/nr1-nerdpack.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/query-and-store-data.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/Charts.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/overlays/Tooltip.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/query-and-storage/NerdGraphQuery.mdx
  src/content/docs/new-relic-solutions/new-relic-one/build-nr-apps/set-up-dev-env.mdx
  src/content/docs/new-relic-solutions/new-relic-one/ui-data/metric-normalization-rules.mdx
  src/content/docs/new-relic-solutions/tutorials/add-nerdgraphquery.mdx
  src/content/docs/new-relic-solutions/tutorials/add-query-mutate-nerdstorage.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-40-1.mdx
  src/content/docs/release-notes/docs-release-notes/docs-1-31-2025.mdx
  src/content/docs/release-notes/docs-release-notes/docs-4-11-2025.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5289.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.288.0.mdx
  src/content/docs/service-architecture-intelligence/scorecards/managing-scorecards.mdx
  src/content/docs/service-architecture-intelligence/scorecards/templates.mdx
  src/nav/service-architecture-intelligence.yml
  src/nav/telemetry-data-platform.yml
  static/images/Access_metric_rules.webp
  static/images/metric-details.webp
  static/images/solutions_screenshot-full_create-new-rule-window.webp
Labels: content

#20499 docs(dotnet): Update browser monitoring documentation to reflect current functionality.
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_tw

#20504 Whats new 2025 04 18 seasonality configuration
  src/content/whats-new/2025/04/whats-new-2025-04-16.md
  static/images/seasonality.webp
Labels: content, from_internal

#20514 Release note - 21st April
  src/content/docs/release-notes/docs-release-notes/docs-4-21-2025.mdx
Labels: content, from_tw

#20513 chore(PHP agent): Adds 11.8.0.22 release notes
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-11-8-0-22.mdx
Labels: content, from_internal

#20512 Browser Agent v1.288.1 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.288.1.mdx
Labels: content, from_internal

#20502 Update Python agent configuration settings page
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
Labels: content, from_internal

#20505 Update nerdgraph-cloud-integrations-api-tutorial.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-cloud-integrations-api-tutorial.mdx
Labels: content, from_internal

#20506 docs: Update download.newrelic.com networks
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#20518 chore(PHP Agent): Adds Amazon DynamoDB to supported databases
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#20520 Update report-browser-monitoring-custom-events-attributes.mdx
  src/content/docs/data-apis/custom-data/custom-events/report-browser-monitoring-custom-events-attributes.mdx
Labels: content, from_internal

#20527 Chore: AmazonQ decommissioning
  src/content/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
  src/nav/agentic-ai.yml
Labels: content, from_tw

#20519 Adding PREDICT defaults to NRQL reference
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#20509 NR-403516: remove Control Group v1 e2eTest support nri-docker
  src/content/docs/infrastructure/infrastructure-agent/linux-installation/instrument-container.mdx
Labels: content, from_internal

#20524 add Windows Server 2025 as supported OS for the infra agent
  src/content/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#20523 chore(nr-control): made a few fixes
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/fleet-control/overview.mdx
Labels: content, from_tw

#20535 Nr 382392 removed the video agent document and all the corresponding document
  src/content/docs/streaming-video-&-ads/get-started-with-streaming-video-&-ads.mdx
  src/content/docs/video-agents/open-source-video-agents.mdx
  src/i18n/content/es/docs/agentic-ai/alert-intelligence-tool.mdx
  src/i18n/content/es/docs/agentic-ai/change-intelligence-tool.mdx
  src/i18n/content/es/docs/agentic-ai/github-copilot-integration.mdx
  src/i18n/content/es/docs/agentic-ai/introduction-agentic-ai.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/es/docs/infrastructure/other-infrastructure-integrations/confluent-cloud-integration.mdx
  src/i18n/content/es/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.mdx
  src/i18n/content/es/docs/video-agents/open-source-video-agents.mdx
  src/i18n/content/fr/docs/browser/browser-monitoring/browser-pro-features/sequence-filtering.mdx
  src/i18n/content/fr/docs/opentelemetry/best-practices/opentelemetry-otlp-long-attributes-update.mdx
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.mdx
  src/i18n/content/fr/docs/video-agents/open-source-video-agents.mdx
  src/i18n/content/jp/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.mdx
  src/i18n/content/jp/docs/video-agents/open-source-video-agents.mdx
  src/i18n/content/kr/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.mdx
  src/i18n/content/kr/docs/video-agents/open-source-video-agents.mdx
  src/i18n/content/pt/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.mdx
  src/i18n/content/pt/docs/video-agents/open-source-video-agents.mdx
  src/nav/root.yml
  src/nav/video.yml
Labels: content, from_tw

#20510 {chore}: Adding new investigate state in the doc
  src/content/docs/alerts/alerts-ai-overview-page.mdx
  src/content/docs/alerts/get-notified/incident-workflows.mdx
  src/nav/alerts.yml
Labels: content, from_internal

#20529 Update downgradecancel-account.mdx
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
Labels: content, from_internal

#20530 Changed the release notes for iOS agent 7.5.5
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-755.mdx
Labels: content, from_internal

#20531 chore(php): Updates DynamoDB support
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#20534 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#20533 Whats new 04 23 otlp
  src/content/whats-new/2025/04/whats-new-04-23-otlp.md
Labels: content, from_internal

#20543 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#20532 Deprecate alert notification channels
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-alert-notification-channels.mdx
Labels: content, from_internal

#20544 Updated the images and the file
  src/content/whats-new/2025/04/whats-new-04-03-filterbar-and-datatable-errors-inbox.md
  static/images/errors-inbox-grouptab-datatable.webp
  static/images/errors-inbox-grouptab-filterbar.webp
  static/images/errors-inbox-triage-filterbar.webp
Labels: content, from_tw

#20546 Updated the images path
  src/content/whats-new/2025/04/whats-new-04-03-filterbar-and-datatable-errors-inbox.md
Labels: content, from_tw

#20551 Gaurab/send supported os
  scripts/releaseNotes.mjs
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-25-02-27.mdx
Labels: eng

#20550 Add python agent v10.10.0 release notes
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-101000.mdx
Labels: content, from_internal

#20545 NR-177571: Add array functions to NRQL Reference
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#20552 Update requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#20556 fix: deserialisation
  scripts/actions/deserialize-html.mjs
Labels: eng

#20557 Update create-nrql-alert-conditions.mdx
  src/content/docs/alerts/create-alert/create-alert-condition/create-nrql-alert-conditions.mdx
Labels: content, from_internal

#20559 Daily merge 04 28 25 morning
  scripts/actions/deserialize-html.mjs
  src/content/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/content/docs/alerts/create-alert/create-alert-condition/create-nrql-alert-conditions.mdx
  src/i18n/content/es/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/i18n/content/es/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
  src/i18n/content/es/docs/agentic-ai/alert-intelligence-tool.mdx
  src/i18n/content/es/docs/agentic-ai/change-intelligence-tool.mdx
  src/i18n/content/es/docs/agentic-ai/github-copilot-integration.mdx
  src/i18n/content/es/docs/agentic-ai/introduction-agentic-ai.mdx
  src/i18n/content/es/docs/alerts/alerts-ai-overview-page.mdx
  src/i18n/content/es/docs/alerts/get-notified/incident-workflows.mdx
  src/i18n/content/es/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/es/docs/infrastructure/other-infrastructure-integrations/confluent-cloud-integration.mdx
  src/i18n/content/es/docs/new-relic-control/fleet-control/overview.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5294.mdx
  src/i18n/content/fr/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/i18n/content/fr/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
  src/i18n/content/fr/docs/alerts/alerts-ai-overview-page.mdx
  src/i18n/content/fr/docs/alerts/get-notified/incident-workflows.mdx
  src/i18n/content/fr/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/fr/docs/browser/browser-monitoring/browser-pro-features/sequence-filtering.mdx
  src/i18n/content/fr/docs/data-apis/custom-data/custom-events/report-browser-monitoring-custom-events-attributes.mdx
  src/i18n/content/fr/docs/infrastructure/infrastructure-agent/linux-installation/instrument-container.mdx
  src/i18n/content/fr/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
  src/i18n/content/fr/docs/new-relic-control/fleet-control/overview.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/opentelemetry/best-practices/opentelemetry-otlp-long-attributes-update.mdx
  src/i18n/content/fr/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5294.mdx
  src/i18n/content/fr/docs/video-agents/open-source-video-agents.mdx
  src/i18n/content/jp/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
  src/i18n/content/jp/docs/alerts/alerts-ai-overview-page.mdx
  src/i18n/content/jp/docs/alerts/get-notified/incident-workflows.mdx
  src/i18n/content/jp/docs/new-relic-control/agent-control/setup.mdx
  src/i18n/content/jp/docs/new-relic-control/fleet-control/overview.mdx
  src/i18n/content/jp/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5294.mdx
  src/i18n/content/kr/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/i18n/content/kr/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
  src/i18n/content/kr/docs/alerts/alerts-ai-overview-page.mdx
  src/i18n/content/kr/docs/alerts/get-notified/incident-workflows.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/kr/docs/new-relic-control/agent-control/setup.mdx
  src/i18n/content/kr/docs/new-relic-control/fleet-control/overview.mdx
  src/i18n/content/kr/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5294.mdx
  src/i18n/content/pt/docs/accounts/accounts-billing/account-setup/downgradecancel-account.mdx
  src/i18n/content/pt/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
  src/i18n/content/pt/docs/alerts/alerts-ai-overview-page.mdx
  src/i18n/content/pt/docs/alerts/get-notified/incident-workflows.mdx
  src/i18n/content/pt/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/pt/docs/new-relic-control/agent-control/setup.mdx
  src/i18n/content/pt/docs/new-relic-control/fleet-control/overview.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5294.mdx
Labels: content, from_tw

#20564 RN for 18/04-24/04
  src/content/docs/release-notes/docs-release-notes/docs-4-28-2025.mdx
Labels: content, from_tw

#20560 Browser Agent v1.289.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.289.0.mdx
Labels: content, from_internal

#20567 Create new-relic-android-5295.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5295.mdx
Labels: content, from_internal

#20573 redirects added to session replay
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/additional-information.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/advanced-features.mdx
Labels: content, from_internal

#20572 Gaurab/main update cookie consent
  gatsby-browser.js
  gatsby/on-route-update.js
  scripts/utils/updateCookieConsentMessage.js
Labels: eng

#20577 Daily merge 04 29 25/afternoon
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/additional-information.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/advanced-features.mdx
Labels: content, from_internal

#20574 Small French text fix
  src/i18n/content/fr/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
Labels: translations

#20578 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#20501 Update to Predictive Alerts page
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/content/docs/alerts/create-alert/set-thresholds/predictive-alerts.mdx
  static/images/predictive-alert-fine-tune-signal.webp
  static/images/predictive-alert-predict-future-behavior.webp
  static/images/predictive-alert-set-condition-thresholds.webp
  static/images/predictive-alert-signal-setup.webp
Labels: content, from_tw

#20584 feat(data-exploration): EOL updates to the docs
  src/content/docs/infrastructure/prometheus-integrations/view-query-data/translate-promql-queries-nrql.mdx
  src/content/docs/infrastructure/prometheus-integrations/view-query-data/view-query-your-prometheus-data.mdx
Labels: content, from_tw

#20587 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#20590 Updated the Rag details
  src/content/docs/agentic-ai/knowledge-integration/knowledge-integration-confluence.mdx
  src/content/docs/agentic-ai/knowledge-integration/overview.mdx
Labels: content, from_internal
