Repository newrelic/docs-website, pull requests merged in 2025-10, with the labels that each got.

#21834 Add infra-agent 1.69.0 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1690.mdx
Labels: from_internal, documentation

#21832 Update opentelemetry-apm-ui.mdx
  src/content/docs/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-ui.mdx
Labels: from_internal, documentation

#21833 chor: remove the new docs section as there no new docs
  src/content/docs/release-notes/docs-release-notes/docs-9-25-2025.mdx
Labels: content, from_internal

#21830 fix: #tracer-enabled was reused
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: from_internal, documentation

#21843 chore[live URLs]: live URLs can only be managed by NerdGraph API. Updated Doc
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-externally.mdx
Labels: content, from_tw

#21845 Announce `newrelic deployments` deprecation
  src/content/docs/apm/agents/ruby-agent/features/record-deployments-ruby-agent.mdx
Labels: from_internal, documentation

#21836 Improve Agent Control Troubleshooting
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
Labels: from_internal, documentation

#21844 Update nerdgraph-api-workflows.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-workflows.mdx
Labels: from_internal, documentation

#21852 Daily merge 10 03 25/night
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-workflows.mdx
  src/content/docs/apm/agents/java-agent/instrumentation/monitor-deployments-java-agent.mdx
  src/content/docs/apm/agents/ruby-agent/features/record-deployments-ruby-agent.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/createtracer.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/end.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/ignore.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/interaction.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/save.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/browser-spa-v2.mdx
  src/content/docs/browser/single-page-app-monitoring/get-started/introduction-single-page-app-monitoring.mdx
  src/content/docs/browser/single-page-app-monitoring/use-spa-data/spa-data-collection.mdx
  src/content/docs/browser/single-page-app-monitoring/use-spa-data/view-spa-data-browser-ui.mdx
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
  src/content/docs/data-apis/understand-data/event-data/events-reported-browser-monitoring.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-externally.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-45-0.mdx
  src/content/docs/synthetics/synthetic-monitoring/private-locations/job-manager-configuration.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/openshift/fluent-bit.mdx
  src/i18n/content/es/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/i18n/content/es/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1640.mdx
  src/i18n/content/kr/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/i18n/content/kr/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/nav/browser.yml
Labels: from_tw, documentation

#21859 Doc rn for 10 02 2025
  src/content/docs/release-notes/docs-release-notes/docs-10-02-2025.mdx
Labels: from_tw, documentation

#21823 Extend support for 4 new Regions in AWS polling and metrics stream integration
  src/content/whats-new/2025/10/whats-new-10-03-support-new-aws-regions.md
Labels: content, from_internal

#21865 chore[live archive]: Corrected the pricing SKU from CCU to aCCU.
  src/content/docs/logs/get-started/live-archives-billing.mdx
Labels: content, from_tw

#21849 Blog for AWS Cloudwatch Metric Stream Integration Cloudformation template update
  src/content/docs/release-notes/infrastructure-release-notes/cloud-integration-release-notes/updated-aws-cloudformation-templates.mdx
Labels: content, from_internal

#21875 chore[public dashboard]: Updated the prerequisites as suggested by SME
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-externally.mdx
Labels: content, from_tw

#21876 created whats new post for browser marks and measures
  src/content/whats-new/2025/09/whats-new-10-02-browser-marks-and-measures.md
Labels: documentation

#21871 iOS agent 7.5.11 release note
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-7511.mdx
Labels: content, from_internal
