Repository newrelic/docs-website, pull requests merged in 2025-03, with the labels that each got.

#20108 Fixed redirects
  src/content/docs/alerts/incident-management/response-intelligence-ai.mdx
Labels: content, from_tw

#20116 Added the link for enrolling for Rag
  src/content/docs/agentic-ai/knowledge-integration/overview.mdx
Labels: content, from_internal, documentation

#19918 Add CPU to Baremetal Linux Service
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal

#20017 Update user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Labels: content, from_internal

#20021 Update new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
Labels: content, from_internal

#20086 update to the NRQL predictions and PREDICT syntax docs
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/nrql-predictions.mdx
  static/images/nrql-prediction-custom.webp
  static/images/nrql-prediction-default.webp
  static/images/nrql-predictions-default.webp
  static/images/nrql-predictions-refined.webp
Labels: content, from_internal

#20121 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#20088 fix: typo
  src/content/docs/vulnerability-management/integrations/snyk-troubleshooting.mdx
Labels: content, from_internal, documentation

#20125 chore: add Node.js Agent v12.15.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-15-0.mdx
Labels: content, from_internal

#20126 chore: Updated small changes in Postgres doc
  src/install/postgresql/default-install-linux.mdx
  src/install/postgresql/linux/install-yum-query-monitoring.mdx
  src/install/postgresql/whatsNext.mdx
  src/install/postgresql/windows/install-windows.mdx
Labels: content, from_internal

#20137 update instrumented version of browser agent
  gatsby-config.js
  package.json
  yarn.lock
Labels: eng

#20122 fix: Update what-entity-new-relic.mdx with the new exceptions in handling externals and uninstrumented guids
  src/content/docs/new-relic-solutions/new-relic-one/core-concepts/what-entity-new-relic.mdx
Labels: content, from_internal

#20131 feat(Advanced maps): Updated the onboarding instructions
  src/content/docs/service-architecture-intelligence/maps/advanced-maps.mdx
Labels: content, from_tw

#20140 updates to the browser section
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/nrai-summary.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/sequence-filtering.mdx
  src/i18n/content/es/docs/agentic-ai/alert-intelligence-tool.mdx
  src/i18n/content/es/docs/agentic-ai/change-intelligence-tool.mdx
  src/i18n/content/es/docs/agentic-ai/github-copilot-integration.mdx
  src/i18n/content/es/docs/agentic-ai/introduction-agentic-ai.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/sequence-filtering.mdx
  src/i18n/content/es/docs/infrastructure/other-infrastructure-integrations/confluent-cloud-integration.mdx
  src/i18n/content/fr/docs/browser/browser-monitoring/browser-pro-features/sequence-filtering.mdx
  src/i18n/content/jp/docs/browser/browser-monitoring/browser-pro-features/sequence-filtering.mdx
  src/i18n/content/kr/docs/browser/browser-monitoring/browser-pro-features/sequence-filtering.mdx
  src/i18n/content/pt/docs/browser/browser-monitoring/browser-pro-features/sequence-filtering.mdx
  src/nav/browser.yml
Labels: content, from_internal

#19998 add Solr JMX troubleshooting
  src/content/docs/apm/agents/java-agent/troubleshooting/java-solr-troubleshooting.mdx
  src/i18n/content/es/docs/apm/agents/java-agent/troubleshooting/java-solr-troubleshooting.mdx
  src/i18n/content/fr/docs/apm/agents/java-agent/troubleshooting/java-solr-troubleshooting.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/troubleshooting/java-solr-troubleshooting.mdx
  src/i18n/content/kr/docs/apm/agents/java-agent/troubleshooting/java-solr-troubleshooting.mdx
  src/i18n/content/pt/docs/apm/agents/java-agent/troubleshooting/java-solr-troubleshooting.mdx
  src/nav/apm.yml
Labels: content, from_internal

#20143 chore: (NRQL Prediction): Updated the callout with the definition of gamma hyperparameter
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/nrql-predictions.mdx
Labels: content, from_tw

#20145 Updates to the media streaming document.
  src/content/docs/streaming-video-&-ads/installation/install-the-streaming-video-&-ads-agent.mdx
Labels: content, from_internal

#20146 Updated the supported hour section
  src/content/docs/licenses/license-information/general-usage-licenses/global-technical-support-offerings.mdx
Labels: content, from_internal, documentation

#20147 Updating Linux distro
  src/content/docs/vulnerability-management/infra-workflow.mdx
  src/content/docs/vulnerability-management/security-workflow-infra.mdx
  src/content/docs/vulnerability-management/user-roles.mdx
Labels: content, from_tw

#20150 chore(map): Gateway nodes nomenclature update in document
  src/content/docs/service-architecture-intelligence/maps/advanced-maps.mdx
Labels: content, from_tw

#20152 updated the location
  src/content/docs/vulnerability-management/integrations/intro.mdx
  src/content/docs/vulnerability-management/user-roles.mdx
Labels: content, from_tw

#20157 Whats new post
  src/content/whats-new/2025/03/.gitkeep
  src/content/whats-new/2025/03/whats-new-03-07-change-to-dimensional.md
Labels: content, from_internal, documentation

#20100 Infra Agent 1.62.0 Release Notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1620.mdx
Labels: content, from_internal

#20167 Lambda Extension v2.3.17 Release Notes
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.17.mdx
Labels: content, from_internal

#20155 New Relic iOS agent 7.5.4
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-754.mdx
Labels: content, from_internal

#20162 feat(whats-new): add data explorer post
  src/content/whats-new/2025/03/whats-new-03-10-timeslices-lookups-dataexplorer.md
Labels: content, from_internal

#20149 fix(logs): (NR-371436) Clarify array support for logs
  src/content/docs/logs/log-api/introduction-log-api.mdx
Labels: content, from_internal

#20171 added limtations
  src/content/docs/mobile-monitoring/new-relic-mobile-ios/configuration/upload-dsyms-bitcode-apps.mdx
Labels: from_tw

#20172 removed .net information from callout
  src/content/docs/alerts/incident-management/response-intelligence-ai.mdx
Labels: from_tw

#18453 Update java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#18901 Update share-accounts.mdx
  src/content/docs/accounts/accounts-billing/account-structure/multi-tenancy/share-accounts.mdx
Labels: content, from_internal

#20174 ESM loader environment variable for Nodejs Lambda runtime
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
Labels: content, from_internal

#19176 Update azure-monitor.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-monitor.mdx
Labels: content, from_internal

#19199 chore(kafka): update old Kafka
  src/content/docs/apm/agents/java-agent/instrumentation/java-agent-instrument-kafka-message-queues.mdx
Labels: content, from_tw

#20179 fix: JavaScriptError
  src/content/docs/mobile-monitoring/new-relic-mobile-ionic-capacitor/get-started/introduction-new-relic-ionic-capacitor.mdx
Labels: content, from_internal

#20180 fix: correct language identifiers
  src/content/docs/apis/nerdgraph/examples/nerdgraph-rag.mdx
Labels: content, from_internal

#20133 Update to New Relic's network document
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_internal

#20168 Chore: Updated serverless document
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/instrument-your-own.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/sdk-based-instrumentation.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/lambda-opentelemetry-java.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/troubleshooting/retrieve-license.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/troubleshooting/troubleshoot-not-instrumented-lambda-function.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/troubleshooting/troubleshoot-unable-to-add-multiple-aws-accounts.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/troubleshooting/troubleshoot-using-aws-secrets-manager.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/env-variables-azure.mdx
  src/nav/serverless-function-monitoring.yml
Labels: content, from_tw

#20183 Corrected typo in CP932.
  src/content/docs/logs/forward-logs/fluentd-plugin-log-forwarding.mdx
Labels: content, from_internal

#20193 Browser Agent v1.284.1 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.284.1.mdx
Labels: content, from_internal

#20191 fix: Typo
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/env-variables-azure.mdx
Labels: content, from_internal

#20190 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: from_internal, documentation

#20205 fix: Fix the broken link issue for AWS metric stream
  src/install/config/aws-cloudwatch.yaml
Labels: content, from_tw

#20206 chore: fixed broken links
  src/content/docs/alerts/create-alert/set-thresholds/predictive-alerts.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/set-up-auto-discovery-of-aws-entities.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/nrql-predictions.mdx
  src/content/docs/service-architecture-intelligence/maps/advanced-maps.mdx
Labels: content, from_tw

#20188 (feat): New Relic integration with Microsoft Teams
  src/content/docs/alerts/get-notified/destinations.mdx
  src/content/docs/alerts/get-notified/microsoft-teams-integrations.mdx
  src/content/docs/alerts/get-notified/notification-integrations.mdx
  src/nav/alerts.yml
  static/images/msteams-security-code.webp
Labels: content, from_tw

#20136 fix(NerdGraph/Scorecards): The scope must be organization
  src/content/docs/apis/nerdgraph/examples/nerdgraph-scorecards-tutorial.mdx
Labels: content, from_internal

#20163 Update new-relic-api-keys.mdx
  src/content/docs/apis/intro-apis/new-relic-api-keys.mdx
Labels: content, from_internal

#20211 (whatsNew): What new for Microsoft Teams Integrations
  src/content/whats-new/2025/03/whats-new-03-13-microsoft-teams-integration.md
Labels: content, from_tw

#20124 docs(dotnet): Update azure function documentation
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/env-variables-azure.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
Labels: content, from_tw

#20221 Revert "(whatsNew): What new for Microsoft Teams Integrations"
  src/content/whats-new/2025/03/whats-new-03-13-microsoft-teams-integration.md
Labels: from_tw

#20178 Update monitor-scheduled-jobs.mdx
  src/content/docs/alerts/create-alert/examples/monitor-scheduled-jobs.mdx
Labels: content, from_tw

#20223 chore(deps): update gatsby-theme-newrelic 9.11.0 to 9.11.1
  package.json
  yarn.lock
Labels: content, from_tw

#20217 Update java sqs doc with config warning
  src/content/docs/apm/agents/java-agent/instrumentation/instrument-aws-sqs-message-queues.mdx
Labels: content, from_internal

#20212 Add NR Agentic integrations
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/fedramp.mdx
Labels: content, from_internal

#20201 chore: Updated language around using Node.js lambda layer with ESM
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/containerized-images.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/instrument-your-own.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/troubleshooting/troubleshoot-enabling-serverless-monitoring-aws-lambda.mdx
Labels: content, from_internal

#20243 chore:(broken-link): Update custom visualization page link
  src/content/docs/query-your-data/explore-query-data/dashboards/add-custom-visualizations-your-dashboards.mdx
Labels: content, from_tw

#20238 docs:added hybrid release notes
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-156.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-706.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-119.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-118.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-150.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-151.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-152.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-145.mdx
Labels: content, from_internal

#20218 Add release notes for NRDOT 1.0.0
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2025-03-05.mdx
Labels: content, from_internal

#20236 chore: add Node.js Agent v12.16.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-16-0.mdx
Labels: content, from_internal

#20235 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#20196 updated release notes for SJM and node browser runtime
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-428.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.24.mdx
Labels: content, from_internal

#20244 Daily release/03 18 25 morning
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/add-custom-visualizations-your-dashboards.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-16-0.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-156.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-706.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-119.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-118.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-150.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-151.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-152.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-145.mdx
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2025-03-05.mdx
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-428.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.24.mdx
  src/i18n/content/es/docs/alerts/create-alert/set-thresholds/predictive-alerts.mdx
  src/i18n/content/es/docs/alerts/get-notified/destinations.mdx
  src/i18n/content/es/docs/alerts/get-notified/microsoft-teams-integrations.mdx
  src/i18n/content/es/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/es/docs/apis/nerdgraph/examples/nerdgraph-scorecards-tutorial.mdx
  src/i18n/content/es/docs/infrastructure/amazon-integrations/connect/set-up-auto-discovery-of-aws-entities.mdx
  src/i18n/content/es/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-otel.mdx
  src/i18n/content/fr/docs/alerts/get-notified/destinations.mdx
  src/i18n/content/fr/docs/alerts/get-notified/microsoft-teams-integrations.mdx
  src/i18n/content/fr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/fr/docs/apis/nerdgraph/examples/nerdgraph-scorecards-tutorial.mdx
  src/i18n/content/jp/docs/alerts/get-notified/destinations.mdx
  src/i18n/content/jp/docs/alerts/get-notified/microsoft-teams-integrations.mdx
  src/i18n/content/jp/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/jp/docs/apis/nerdgraph/examples/nerdgraph-scorecards-tutorial.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/connect/set-up-auto-discovery-of-aws-entities.mdx
  src/i18n/content/jp/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-otel.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/azure-function-monitoring/env-variables-azure.mdx
  src/i18n/content/kr/docs/alerts/create-alert/set-thresholds/predictive-alerts.mdx
  src/i18n/content/kr/docs/alerts/get-notified/destinations.mdx
  src/i18n/content/kr/docs/alerts/get-notified/microsoft-teams-integrations.mdx
  src/i18n/content/kr/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/kr/docs/apis/nerdgraph/examples/nerdgraph-scorecards-tutorial.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/connect/set-up-auto-discovery-of-aws-entities.mdx
  src/i18n/content/kr/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-otel.mdx
  src/i18n/content/kr/docs/serverless-function-monitoring/azure-function-monitoring/env-variables-azure.mdx
  src/i18n/content/pt/docs/alerts/create-alert/set-thresholds/predictive-alerts.mdx
  src/i18n/content/pt/docs/alerts/get-notified/destinations.mdx
  src/i18n/content/pt/docs/alerts/get-notified/microsoft-teams-integrations.mdx
  src/i18n/content/pt/docs/alerts/get-notified/notification-integrations.mdx
  src/i18n/content/pt/docs/apis/nerdgraph/examples/nerdgraph-scorecards-tutorial.mdx
  src/i18n/content/pt/docs/infrastructure/amazon-integrations/connect/set-up-auto-discovery-of-aws-entities.mdx
  src/i18n/content/pt/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-otel.mdx
  src/i18n/content/pt/docs/serverless-function-monitoring/azure-function-monitoring/env-variables-azure.mdx
  yarn.lock
Labels: content, from_tw

#20245 doc-update: (Public Dashboard): Update customer info who can avail the feature
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-externally.mdx
Labels: content, from_tw

#20246 docs: Update rules-limits-alerts.mdx
  src/content/docs/alerts/admin/rules-limits-alerts.mdx
Labels: content, from_internal

#20254 chore(php): 11.7.0.21 release notes
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-11-7-0-21.mdx
Labels: content, from_internal

#20248 Update scim-support-automated-user-management.mdx
  src/content/docs/accounts/accounts/automated-user-management/scim-support-automated-user-management.mdx
Labels: content, from_internal

#20256 Browser Agent v1.285.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.285.0.mdx
Labels: content, from_internal

#20255 docs: Add version status banner to Browser EOL page
  src/content/docs/browser/browser-monitoring/getting-started/browser-agent-eol-policy.mdx
Labels: content, from_internal

#20214 Add OTLP long attributes update explanation
  src/content/docs/opentelemetry/best-practices/opentelemetry-otlp-long-attributes-update.mdx
Labels: content, from_internal

#20249 feat: New page for aws ec2 image builder component
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-ec2-image-builder-integration.mdx
  src/nav/infrastructure.yml
Labels: content, from_internal

#20247 Update java-agent-instrument-kafka-message-queues.mdx
  src/content/docs/apm/agents/java-agent/instrumentation/java-agent-instrument-kafka-message-queues.mdx
Labels: content, from_internal

#20264 Daily release/03 20 25 morning
  src/content/docs/apm/agents/java-agent/instrumentation/java-agent-instrument-kafka-message-queues.mdx
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/amazon-ec2-image-builder-integration.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-otlp-long-attributes-update.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-39-0.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#20200 Php/log label forwarding docs
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/logs/logs-context/custom-tags-agent-forwarder-logs.mdx
Labels: content, from_internal

#20272 (fix) fix the collapser issue to resolve anchor tag error
  src/content/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
Labels: content, from_tw

#20274 (fix): deprecating the non-supported-features
  src/content/whats-new/2023/04/whats-new-04-07-lambda-streaming.md
Labels: content, from_tw

#20266 bug: Fix URL bug in nav
  src/nav/infrastructure.yml
Labels: content, from_internal

#20267 iOS App Release notes for 6.9.1, 6.9.2, 6.9.3
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6091.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6092.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6093.mdx
Labels: content, from_internal

#20237 chore: Fixing broken links
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/content/docs/apm/new-relic-apm/getting-started/introduction-apm.mdx
  src/content/docs/infrastructure/host-integrations/get-started/introduction-host-integrations.mdx
  src/content/docs/release-notes/docs-release-notes/docs-3-15-2024.mdx
  src/content/docs/release-notes/docs-release-notes/docs-4-26-2024.mdx
  src/install/config/cassandra.yaml
  src/install/config/haproxy.yaml
  src/install/config/rabbitmq.yaml
Labels: content, from_tw

#20265 Add dashboards to CodeStream
  src/content/docs/codestream/observability/dashboards.mdx
  src/content/docs/codestream/observability/performance-monitoring.mdx
  src/nav/codestream.yml
  static/images/codestream_screenshot-full_display-dashboard.webp
  static/images/codestream_screenshot-full_search-dashbaords.webp
Labels: content, from_internal

#20277 fix: fix typo in example query
  src/content/docs/browser/new-relic-browser/browser-pro-features/page-resources.mdx
Labels: content, from_internal

#20130 feat(nr-control): authentication
  src/content/docs/new-relic-control/agent-control/authentication.mdx
Labels: content, from_internal

#20282 Update data retention UI link
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_internal

#20184 (Chore): Updated the steps to android and ios
  src/install/android/android-path/appInfo_EU.mdx
  src/install/android/appInfo_EA2.mdx
Labels: content, from_tw

#20292 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#20293 chore: add Node.js Agent v12.16.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-16-1.mdx
Labels: content, from_internal

#20281 Fixed incorrect syntax in NerdGraph examples on nerdgraph-api-notifications-destinations.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-notifications-destinations.mdx
Labels: content, from_external

#20297 Fixed a typo
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
Labels: content, from_tw

#20291 chore: syntax highlighting/formatting for code samples
  src/content/docs/change-tracking/change-tracking-view-analyze.mdx
Labels: content, from_internal

#20202 Chore: adding NRDOT Section
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-intro.mdx
  src/content/docs/opentelemetry/get-started/collector-k8s-monitoring/opentelemetry-collector-k8s-intro.mdx
  src/content/docs/opentelemetry/nrdot/nrdot-collector.mdx
  src/content/docs/opentelemetry/nrdot/nrdot-intro.mdx
  src/nav/opentelemetry.yml
Labels: content, from_internal

#20295 feat(kubernetes): Update docs to support k8s v1.32 and add deprecation notice for v1.27
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/eol/2025/03/deprecation-notice-v1.27-and-lower.md
Labels: content, from_internal

#20286 Chore: Steps updated.
  src/content/docs/browser/new-relic-browser/configuration/browser-settings-ui-options-apdex-geography.mdx
Labels: content, from_tw

#20303 chore(Docs): Fixed a callout variant
  src/content/docs/query-your-data/explore-query-data/use-charts/nrql-predictions.mdx
Labels: content, from_tw

#20118 [DO NOT MERGE!!!] feat: added support for translation of sdk docs
  scripts/actions/utils/handlers.mjs
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/AreaChart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/BarChart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/BillboardChart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/Charts.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/FunnelChart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/HeatmapChart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/HistogramChart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/JsonChart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/LineChart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/PieChart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/ScatterChart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/SparklineChart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/charts/StackedBarChart.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/controls/AccountPicker.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/controls/Checkbox.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/controls/Dropdown.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/query-and-storage/EntitiesByDomainTypeQuery.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/query-and-storage/EntitiesByGuidsQuery.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/query-and-storage/EntitiesByNameQuery.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/query-and-storage/EntitySearchQuery.mdx
  src/content/docs/new-relic-solutions/build-nr-ui/sdk-component/tables/SparklineTableRowCell.mdx
Labels: eng

#20307 Streaming video broken links
  src/content/docs/streaming-video-&-ads/get-started-with-streaming-video-&-ads.mdx
  src/content/docs/streaming-video-&-ads/update-the-media-agent.mdx
  src/content/docs/streaming-video-&-ads/view-data-in-newrelic/streaming-video-&-ads-all-platform-view/overview.mdx
  src/content/docs/streaming-video-&-ads/view-data-in-newrelic/streaming-video-&-ads-single-application-view/overview.mdx
  src/install/android/intro.mdx
  src/install/browser-media/browser-path/newapplication.mdx
  src/install/browser-media/intro.mdx
  src/install/media-ios/ios-path/appInfo_AC.mdx
Labels: content, from_tw

#20305 Update whats-new-03-10-timeslices-lookups-dataexplorer.md
  src/content/whats-new/2025/03/whats-new-03-10-timeslices-lookups-dataexplorer.md
Labels: content, from_internal

#20313 docs: android release 7.6.5
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-765.mdx
Labels: content, from_internal

#20316 fix: rss redirection in email
  plugins/gatsby-plugin-release-note-rss/gatsby-node.js
Labels: eng

#20314 docs: add release notes for infra-agent 1.63.0
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1630.mdx
Labels: content, from_internal

#20328 docs: Add release notes for Python agent v10.8.0
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-100800.mdx
Labels: content, from_internal

#20324 chore: Update record-deployments-ruby-agent.mdx
  src/content/docs/apm/agents/ruby-agent/features/record-deployments-ruby-agent.mdx
Labels: content, from_internal

#20325 earliest wording
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#20338 chore:(doc-Public dashboard): Restored the Mermaid digram support info
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
Labels: content, from_tw

#20275 docs: Remove secret limit note for service migration
  src/content/docs/new-relic-solutions/build-nr-ui/nerdstoragevault.mdx
Labels: from_internal, documentation

#20342 daily release morning/31 03 24
  src/content/docs/new-relic-solutions/build-nr-ui/nerdstoragevault.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/i18n/content/es/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
  src/i18n/content/fr/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/i18n/content/fr/docs/apm/agents/java-agent/instrumentation/instrument-aws-sqs-message-queues.mdx
  src/i18n/content/fr/docs/apm/agents/java-agent/instrumentation/java-agent-instrument-kafka-message-queues.mdx
  src/i18n/content/fr/docs/apm/agents/java-agent/troubleshooting/host-links-missing-java-apps-apm-summary.mdx
  src/i18n/content/fr/docs/apm/agents/java-agent/troubleshooting/no-data-appears-java.mdx
  src/i18n/content/fr/docs/apm/agents/manage-apm-agents/agent-data/manage-errors-apm-collect-ignore-or-mark-expected.mdx
  src/i18n/content/fr/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/i18n/content/fr/docs/apm/agents/net-agent/net-agent-api/net-agent-api.mdx
  src/i18n/content/fr/docs/apm/agents/nodejs-agent/api-guides/nodejs-agent-api.mdx
  src/i18n/content/fr/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/i18n/content/fr/docs/apm/agents/python-agent/configuration/distributed-tracing-python-agent.mdx
  src/i18n/content/fr/docs/apm/agents/python-agent/supported-features/python-codestream-integration.mdx
  src/i18n/content/fr/docs/apm/agents/ruby-agent/api-guides/guide-using-ruby-agent-api.mdx
  src/i18n/content/fr/docs/apm/agents/ruby-agent/configuration/distributed-tracing-ruby-agent.mdx
  src/i18n/content/fr/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/i18n/content/fr/docs/apm/agents/ruby-agent/features/cross-application-tracing-ruby.mdx
  src/i18n/content/fr/docs/apm/agents/ruby-agent/features/record-deployments-ruby-agent.mdx
  src/i18n/content/fr/docs/apm/agents/ruby-agent/features/ruby-codestream-integration.mdx
  src/i18n/content/fr/docs/apm/apm-ui-pages/events/record-deployments.mdx
  src/i18n/content/fr/docs/apm/apm-ui-pages/monitoring/external-services/external-services-setup.mdx
  src/i18n/content/fr/docs/apm/apm-ui-pages/monitoring/view-slow-query-details.mdx
  src/i18n/content/fr/docs/apm/transactions/transaction-traces/configure-transaction-traces.mdx
  src/i18n/content/fr/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring.mdx
  src/i18n/content/fr/docs/data-apis/manage-data/manage-data-retention.mdx
  src/i18n/content/fr/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-firebase-database-monitoring-integration.mdx
  src/i18n/content/fr/docs/infrastructure/infrastructure-agent/configuration/infrastructure-agent-configuration-settings.mdx
  src/i18n/content/fr/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
  src/i18n/content/fr/docs/infrastructure/microsoft-azure-integrations/azure-integrations-list/azure-event-hub-monitoring-integration.mdx
  src/i18n/content/fr/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/changes-since-v3.mdx
  src/i18n/content/fr/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent.mdx
  src/i18n/content/fr/docs/logs/logs-context/annotate-logs-logs-context-using-apm-agent-apis.mdx
  src/i18n/content/fr/docs/logs/logs-context/net-configure-logs-context-all.mdx
  src/i18n/content/fr/docs/mlops/integrations/aws-sagemaker-mlops-integration.mdx
  src/i18n/content/fr/docs/mobile-monitoring/new-relic-mobile/maintenance/configure-settings-for-mobile-monitoring.mdx
  src/i18n/content/fr/docs/new-relic-solutions/get-started/implementation-guide-instrument.mdx
  src/i18n/content/fr/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
  src/i18n/content/fr/docs/new-relic-solutions/new-relic-one/install-configure/update-new-relic-agent.mdx
  src/i18n/content/fr/docs/new-relic-solutions/solve-common-issues/troubleshooting/find-agent-root-directory.mdx
  src/i18n/content/fr/docs/new-relic-solutions/solve-common-issues/troubleshooting/not-seeing-data.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
  src/i18n/content/fr/docs/vulnerability-management/integrations/intro.mdx
  src/i18n/content/jp/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
  src/i18n/content/kr/docs/apm/agents/ruby-agent/features/record-deployments-ruby-agent.mdx
  src/i18n/content/kr/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
Labels: content, from_tw, documentation
