Repository newrelic/docs-website, pull requests merged in 2025-08, with the labels that each got.

#21384 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#21397 chore: fix-redirects
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/introduction-azure-monitoring-integrations.mdx
  src/content/docs/security/security-privacy/data-privacy/data-privacy-new-relic.mdx
Labels: content, from_tw

#21352 ktlo[PAYG price revise]: Update the per GB price
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/data-ingest-billing.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/usage-queries-alerts.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/additional-information.mdx
  src/content/docs/licenses/license-information/usage-plans/new-relic-usage-plan.mdx
Labels: content, from_tw

#21359 chor: Doc-release-notes
  src/content/docs/release-notes/docs-release-notes/docs-8-01-2025.mdx
Labels: content, from_tw

#21409 fix: Update the callout note
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/configuration/setup-session-replay.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/view-session-replays.mdx
Labels: content, from_tw

#21410 Update vmware-tanzu-firehose-nozzle-integration.mdx
  src/content/docs/infrastructure/other-infrastructure-integrations/cloudfoundry-integrations/vmware-tanzu-firehose-nozzle-integration.mdx
Labels: content, from_internal

#21414 SJM release 452 notes update
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-452.mdx
Labels: content, from_tw

#21368 chore: change in alert-limits
  src/content/docs/alerts/admin/rules-limits-alerts.mdx
Labels: content, from_tw

#21406 docs: infrastructure-agent 1.65.5 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1655.mdx
Labels: content, from_internal

#21423 docs: document scorecards joinAccounts
  src/content/docs/apis/nerdgraph/examples/nerdgraph-scorecards-tutorial.mdx
  src/content/docs/service-architecture-intelligence/scorecards/managing-scorecards.mdx
Labels: content, from_internal

#21419 Release notes for Pipeline Control Gateway v1.1.0
  src/content/docs/release-notes/pipeline-control-gateway-release-notes/pipeline-control-gateway-25-08-05.mdx
Labels: content, from_internal

#21418 remove attributions references
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-components.mdx
Labels: content, from_internal

#21377 Nr 445926 pipeline docs updates
  src/content/docs/new-relic-control/pipeline-control/create-pipeline-rules.mdx
  src/content/docs/new-relic-control/pipeline-control/data-dropping-gateway.mdx
  src/content/docs/new-relic-control/pipeline-control/nrql-functions.mdx
Labels: content, from_tw

#21432 Minor update
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/add-on-billing.mdx
Labels: content, from_tw

#21434 Add whats new for workloads errors inbox
  src/content/whats-new/2025/08/whats-new-08-06-workloads-errors-inbox.md
  static/images/workload-error.webp
Labels: content, from_internal, documentation

#21420 fix(nodejs): explain failure to open log behavior
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#21450 Doc Release notes
  src/content/docs/release-notes/docs-release-notes/docs-7-25-2025.mdx
  src/content/docs/release-notes/docs-release-notes/docs-8-08-2025.mdx
Labels: content, from_internal, documentation

#21453 Update public docs to describe browser agent's harvest interval behavior
  src/content/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/recordCustomEvent.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/instrumentation-browser-monitoring.mdx
  src/content/docs/browser/new-relic-browser/performance-quality/browser-monitoring-performance-impact.mdx
Labels: content, from_internal

#21202 PHP Agent release v12.0.0
  src/content/docs/apm/agents/php-agent/configuration/php-agent-configuration.mdx
  src/content/docs/apm/agents/php-agent/features/php-code-level-metrics.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-12-0-0-25.mdx
Labels: content, from_internal

#21485 Metric grouping issues
  src/content/docs/new-relic-solutions/solve-common-issues/troubleshooting/metric-grouping-issues.mdx
Labels: content, from_internal

#21478 Updated activate-azure-integrations.mdx Step 2.4 sign-on URI string
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/activate-azure-integrations.mdx
Labels: content, from_internal

#21438 [Do Not Merge Until Aug 13] Adding What's New Page for High Precision UniqueCount
  src/content/whats-new/2025/08/whats-new-8-13-high-precision-uniquecount.md
  src/data/whats-new-ids.json
Labels: content, from_internal

#21431 feat: Added new npm guided flow
  src/content/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent.mdx
Labels: content, from_tw

#21500 Fix links in pipeline ctrl docs
  src/content/docs/new-relic-control/pipeline-control/nrql-functions.mdx
Labels: content, from_tw

#21492 Update uniqueCount() function example to use real attributes
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Labels: content, from_internal

#21494 feat(DiagCLI): Diagnostics CLI v.3.5.0 Release notes
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-350.mdx
Labels: content, from_internal

#21514 Fix Typo in the release notes. PLEASE REVIEW AND MERGE ASAP.
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8230.mdx
Labels: content, from_internal

#21473 Update java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#21534 Update requirements-infrastructure-agent.mdx
  src/content/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
Labels: content, from_internal

#21535 modified the cloud rules api topic to include details about how to up…
  src/content/docs/new-relic-control/pipeline-control/cloud-rules-api.mdx
Labels: content, from_tw

#21545 feat: Added drop rules EOL message in AIM docs[NR-450446]
  src/content/docs/ai-monitoring/drop-sensitive-data.mdx
Labels: content, from_internal

#21552 chore: code in backticks
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-approaches-lambda.mdx
Labels: content, from_internal

#21558 Daily merge 08 21 25/night
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-approaches-lambda.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/infrastructure/infrastructure-agent/windows-installation/windows-msi-installer.mdx
  src/content/docs/infrastructure/infrastructure-data/default-infra-data.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-44-1.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-13-2-0.mdx
  src/data/attribute-dictionary-en.json
Labels: content, from_tw

#21559 Minor FR edits
  src/i18n/content/fr/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-budgets/overview.mdx
Labels: content, from_internal

#21563 Daily merge 08 22 25/night
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-13-2-1.mdx
  src/i18n/content/es/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
  src/i18n/content/es/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/i18n/content/es/docs/apm/agents/php-agent/troubleshooting/segmentation-faults.mdx
  src/i18n/content/es/docs/infrastructure/host-integrations/host-integrations-list/postfix-monitoring-integration.mdx
  src/i18n/content/es/docs/new-relic-control/pipeline-control/cloud-rules-api.mdx
  src/i18n/content/es/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/es/docs/release-notes/agent-release-notes/python-release-notes/python-agent-101600.mdx
  src/i18n/content/es/docs/release-notes/docs-release-notes/docs-8-14-2025.mdx
  src/i18n/content/es/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-758.mdx
  src/i18n/content/fr/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-budgets/overview.mdx
  src/i18n/content/fr/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
  src/i18n/content/fr/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/i18n/content/fr/docs/apm/agents/php-agent/troubleshooting/segmentation-faults.mdx
  src/i18n/content/fr/docs/infrastructure/host-integrations/host-integrations-list/postfix-monitoring-integration.mdx
  src/i18n/content/fr/docs/new-relic-control/pipeline-control/cloud-rules-api.mdx
  src/i18n/content/fr/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/fr/docs/release-notes/agent-release-notes/python-release-notes/python-agent-101600.mdx
  src/i18n/content/fr/docs/release-notes/docs-release-notes/docs-8-14-2025.mdx
  src/i18n/content/fr/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-758.mdx
  src/i18n/content/jp/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
  src/i18n/content/jp/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/i18n/content/jp/docs/alerts/create-alert/set-thresholds/predictive-alerts.mdx
  src/i18n/content/jp/docs/apm/agents/go-agent/get-started/go-agent-compatibility-requirements.mdx
  src/i18n/content/jp/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/i18n/content/jp/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/i18n/content/jp/docs/apm/agents/php-agent/troubleshooting/segmentation-faults.mdx
  src/i18n/content/jp/docs/infrastructure/host-integrations/host-integrations-list/postfix-monitoring-integration.mdx
  src/i18n/content/jp/docs/infrastructure/infrastructure-agent/linux-installation/package-manager-install.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-proguard-or-dexguard-android-apps.mdx
  src/i18n/content/jp/docs/mobile-monitoring/new-relic-mobile-android/install-configure/install-android-agent-gradle.mdx
  src/i18n/content/jp/docs/new-relic-control/pipeline-control/cloud-rules-api.mdx
  src/i18n/content/jp/docs/new-relic-solutions/new-relic-one/core-concepts/use-tags-help-organize-find-your-data.mdx
  src/i18n/content/jp/docs/new-relic-solutions/solve-common-issues/find-help-get-support.mdx
  src/i18n/content/jp/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/jp/docs/release-notes/agent-release-notes/python-release-notes/python-agent-101600.mdx
  src/i18n/content/jp/docs/release-notes/docs-release-notes/docs-8-14-2025.mdx
  src/i18n/content/jp/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-452.mdx
  src/i18n/content/kr/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
  src/i18n/content/kr/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/i18n/content/kr/docs/apm/agents/php-agent/troubleshooting/segmentation-faults.mdx
  src/i18n/content/kr/docs/infrastructure/host-integrations/host-integrations-list/postfix-monitoring-integration.mdx
  src/i18n/content/kr/docs/new-relic-control/pipeline-control/cloud-rules-api.mdx
  src/i18n/content/kr/docs/release-notes/agent-release-notes/python-release-notes/python-agent-101600.mdx
  src/i18n/content/kr/docs/release-notes/docs-release-notes/docs-8-14-2025.mdx
  src/i18n/content/kr/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-758.mdx
  src/i18n/content/pt/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
  src/i18n/content/pt/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/i18n/content/pt/docs/apm/agents/php-agent/troubleshooting/segmentation-faults.mdx
  src/i18n/content/pt/docs/infrastructure/host-integrations/host-integrations-list/postfix-monitoring-integration.mdx
  src/i18n/content/pt/docs/new-relic-control/pipeline-control/cloud-rules-api.mdx
  src/i18n/content/pt/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/i18n/content/pt/docs/release-notes/agent-release-notes/python-release-notes/python-agent-101600.mdx
  src/i18n/content/pt/docs/release-notes/docs-release-notes/docs-8-14-2025.mdx
  src/i18n/content/pt/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-758.mdx
Labels: content, from_tw

#21566 Updated release notes for 15 to 21 August 2025
  src/content/docs/release-notes/docs-release-notes/docs-8-21-2025.mdx
Labels: content, from_tw

#21571 Updated structure
  src/content/docs/apis/nerdgraph/examples/manage-live-chart-urls-via-api.mdx
Labels: content, from_tw

#21572 What's new post for cardinality controls
  src/content/whats-new/2025/08/whats-new-08-26-cardinality-control.md
Labels: content, from_tw

#21567 Lambda Extension v2.3.21
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.21.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.22.mdx
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.23.mdx
Labels: content, from_internal

#21594 fix: correct k8s install links and add public preview callout
  src/content/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/k8s-version2/kubernetes-windows.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/troubleshooting/troubleshooting-windows.mdx
Labels: content, from_tw

#21592 chore:react native release notes
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-157.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-158.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-159.mdx
Labels: content, from_internal
