Repository newrelic/docs-website, pull requests merged in 2025-06, with the labels that each got.

#20789 fix: release notes duplication error for translation
  src/i18n/content/es/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.288.1.mdx
  src/i18n/content/es/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.289.0.mdx
  src/i18n/content/es/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.1.mdx
  src/i18n/content/es/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.30.mdx
  src/i18n/content/fr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.288.1.mdx
  src/i18n/content/fr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.289.0.mdx
  src/i18n/content/fr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.0.mdx
  src/i18n/content/fr/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.30.mdx
  src/i18n/content/jp/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.289.0.mdx
  src/i18n/content/jp/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.1.mdx
  src/i18n/content/jp/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.30.mdx
  src/i18n/content/kr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.288.1.mdx
  src/i18n/content/kr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.289.0.mdx
  src/i18n/content/kr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.0.mdx
  src/i18n/content/kr/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.30.mdx
  src/i18n/content/pt/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.288.1.mdx
  src/i18n/content/pt/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.289.0.mdx
  src/i18n/content/pt/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.0.mdx
  src/i18n/content/pt/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.30.mdx
  src/templates/releaseNoteLandingPage.js
Labels: eng

#20825 Update rules-limits-alerts to include info about interruptions.mdx
  src/content/docs/alerts/admin/rules-limits-alerts.mdx
Labels: content, from_internal

#20822 Create a What's New? post for the NRAI GA on June 4
  src/content/docs/apis/nerdgraph/examples/nerdgraph-deployments-guide.mdx
  src/content/whats-new/2025/06/whats-new-6-4-nrai-ga.md
  static/images/nr-ai-1.webp
Labels: content, from_internal

#20806 Draft: Update Azure Functions docs based on testing
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
Labels: content, from_internal

#20840 chore: add Node.js Agent v12.21.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-21-0.mdx
Labels: content, from_internal

#20843 Update set-up-and-deploy-pipeline-control.mdx
  src/content/docs/new-relic-control/pipeline-control/set-up-and-deploy-pipeline-control.mdx
Labels: content, from_internal

#20844 iOS Release Notes
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6097.mdx
Labels: content, from_internal

#20841 Update Java Agent Config Link
  src/content/docs/logs/logs-context/custom-tags-agent-forwarder-logs.mdx
Labels: content, from_internal

#20847 Added a caution/note
  src/content/docs/synthetics/synthetic-monitoring/using-monitors/store-secure-credentials-scripted-browsers-api-tests.mdx
Labels: content, from_internal, from_tw

#20850 New Relic iOS agent 7.5.6 release notes
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-756.mdx
Labels: content, from_internal

#20855 chore(nrai): removed costs
  src/content/docs/agentic-ai/costs.mdx
Labels: content, from_internal, from_tw

#20853 Update security-policy.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-policy.mdx
Labels: content, from_internal

#20846 Added the updated configuration to Streaming Video & Ads
  src/install/android/android-path/appInfo_EU.mdx
  src/install/browser-media/appInfo_EU2.mdx
  src/install/browser-media/browser-path/install_the_app.mdx
  src/install/browser-media/browser-path/newapplication.mdx
  src/install/browser-media/whatsNext.mdx
  src/install/media-ios/ios-path/appInfo_AC.mdx
Labels: content, from_internal

#20872 Daily release/06 09 25 morning
  src/content/docs/apis/nerdgraph/examples/nerdgraph-manage-groups.mdx
  src/content/docs/data-apis/ingest-apis/gateway-api-import-data-other-observability-platforms.mdx
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/content/docs/vulnerability-management/integrations/snyk-troubleshooting.mdx
  src/content/docs/vulnerability-management/integrations/snyk.mdx
  src/content/docs/vulnerability-management/integrations/trivy.mdx
  src/install/android/android-path/appInfo_EU.mdx
  src/install/browser-media/appInfo_EU2.mdx
  src/install/browser-media/browser-path/install_the_app.mdx
  src/install/browser-media/browser-path/newapplication.mdx
  src/install/browser-media/whatsNext.mdx
  src/install/media-ios/ios-path/appInfo_AC.mdx
  src/install/vm/deployment/new.mdx
  src/install/vm/deployment/previous.mdx
Labels: content

#20721 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: from_internal, documentation

#20879 chore(Agentic integration): Fixed preview callout.
  src/content/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
Labels: content, from_tw

#20881 release notes for ping runtime 1.51.0
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.51.0.mdx
Labels: content, from_internal

#20888 chore: syntax hightlighting/formatting codeblocks
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/add-mutual-tls-prometheus-endpoints.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/add-rename-or-copy-prometheus-attributes.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/configure-prometheus-openmetrics-integrations.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/ignore-or-include-prometheus-metrics.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-openmetrics/install-update-or-uninstall-your-prometheus-openmetrics-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-prometheus-agent/install-prometheus-agent.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-remote-write/remote-write-errors-error-messages.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure-remote-write/set-your-prometheus-remote-write-integration.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure/prometheus-high-availability-ha.mdx
  src/content/docs/infrastructure/prometheus-integrations/install-configure/remote-write-drop-data.mdx
  src/content/docs/infrastructure/prometheus-integrations/troubleshooting/compare-rw-data-sent-billed-bytes.mdx
  src/content/docs/infrastructure/prometheus-integrations/troubleshooting/no-data-appears-prometheus-integration.mdx
Labels: content, from_internal

#20894 chore(docs RN): Release note date correction
  src/content/docs/release-notes/docs-release-notes/docs-5-16-2025.mdx
Labels: content, from_tw

#20874 Updated the whats new post
  src/content/whats-new/2025/06/whats-new-06-10-logs.md
  static/images/whatsnew-logsdetails.webp
Labels: content, from_internal, from_tw

#20906 Daily release/06 12 25 morning
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/snowflake-integration.mdx
  src/content/docs/logs/logs-context/annotate-logs-logs-context-using-apm-agent-apis.mdx
  src/content/whats-new/2025/06/whats-new-06-10-logs.md
  static/images/whatsnew-logsdetails.webp
  yarn.lock
Labels: documentation

#20904 Chore: Retention period for transaction traces added.
  src/content/docs/data-apis/manage-data/manage-data-retention.mdx
Labels: content, from_tw

#20901 Update logging-best-practices.mdx
  src/content/docs/logs/get-started/logging-best-practices.mdx
Labels: content, from_internal

#20911 release notes 1.51.0
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.51.0.mdx
Labels: content, from_internal

#20915 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#20816 chore: injected user country as a window variable
  netlify.toml
  netlify/edge-functions/inject-country.js
  package.json
  yarn.lock
Labels: eng

#20934 chore: add release notes for aws log forwarder agent for firehose and…
  scripts/releaseNotes.mjs
  src/utils/getAgentName.js
Labels: eng

#20943 Fix: Fixed a broken link
  src/content/docs/new-relic-control/pipeline-control/data-dropping-gateway.mdx
Labels: content, from_tw

#20921 Updated call out
  src/content/docs/service-architecture-intelligence/github-integration.mdx
Labels: content, from_tw

#20942 Update azure-native.mdx
  src/content/docs/infrastructure/microsoft-azure-integrations/get-started/azure-native.mdx
Labels: content, from_tw

#20956 fix(whatsnew): date fix
  src/content/whats-new/2025/06/whats-new-06-17-session-replay.md
Labels: content, from_tw

#20959 Update SJM to release 444
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-444.mdx
Labels: content, from_tw

#20954 Update NRAI knowledge overview.mdx
  src/content/docs/agentic-ai/knowledge-integration/overview.mdx
Labels: content, from_tw

#20935 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_tw, documentation

#20225 [DO NOT MERGE]: (whatsNew): What new for Microsoft Teams Integrations
  src/content/whats-new/2025/03/whats-new-03-13-microsoft-teams-integration.md
Labels: content, from_tw

#20706 feat.: Azure Docs
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/container.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/env-variables-azure.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/introduction-azure-monitoring.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/linux.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/windows.mdx
  src/nav/serverless-function-monitoring.yml
  static/images/azure_filters.webp
Labels: content, from_tw

#20964 feat(APM): Python Agent v10.14.0 Docs
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-101400.mdx
Labels: content, from_tw

#20930 feat: add streamin media and ads in release notes
  scripts/releaseNotes.mjs
  src/content/docs/release-notes/index.mdx
  src/content/docs/release-notes/streaming-browser-release-notes/index.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/index.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/content/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/content/docs/release-notes/streaming-others-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-browser-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-mobile-release-notes/index.mdx
  src/content/docs/release-notes/streaming-release-notes/streaming-others-release-notes/index.mdx
  src/i18n/content/es/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/i18n/content/es/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/i18n/content/es/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/i18n/content/fr/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/i18n/content/fr/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/i18n/content/fr/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/i18n/content/jp/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/i18n/content/jp/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/i18n/content/jp/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/i18n/content/kr/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/i18n/content/kr/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/i18n/content/kr/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/i18n/content/pt/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-03.mdx
  src/i18n/content/pt/docs/release-notes/streaming-mobile-release-notes/streaming-android-agent-25-03-05.mdx
  src/i18n/content/pt/docs/release-notes/streaming-mobile-release-notes/streaming-ios-agent-25-03-03.mdx
  src/utils/getAgentName.js
Labels: eng

#20955 [NR-423794] android v7.6.7 release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-767.mdx
Labels: content, from_internal

#20914 Docs Release notes
  src/content/docs/release-notes/docs-release-notes/docs-5-30-2025.mdx
Labels: content, from_tw

#20885 feat(compute optimizer): first draft
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-optimizer.mdx
  src/content/whats-new/2025/06/whats-new-06-25-compute-optimizer.md
  src/nav/accounts.yml
  static/images/compute_optimizer.webp
Labels: content, from_tw

#20987 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#20991 NRQL DROP rules EOL
  src/content/eol/2025/05/drop-rule-filter.md
Labels: content, from_internal, from_tw

#21008 Update cloud-rules-api.mdx
  src/content/docs/new-relic-control/pipeline-control/cloud-rules-api.mdx
Labels: content, from_internal, from_tw

#20965 docs: added call out banner for ios release 7.5.4 and later
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/index.mdx
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-754.mdx
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-755.mdx
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-756.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-155.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-156.mdx
Labels: content, from_tw

#21010 Daily merge 06 25 25/night
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/install-new-relic-php-agent-gae-flexible-environment.mdx
  src/content/docs/apm/agents/php-agent/installation/php-agent-installation-ubuntu-debian.mdx
  src/content/docs/cci/financial-intelligence/cci-budgets.mdx
  src/content/docs/cci/financial-intelligence/cloud-cost-insights.mdx
  src/content/docs/cci/financial-intelligence/k8s-cost-insights.mdx
  src/content/docs/cci/financial-intelligence/nrql-for-cci.mdx
  src/content/docs/cci/getting-started/overview.mdx
  src/content/docs/cci/getting-started/prerequisites.mdx
  src/content/docs/cci/getting-started/setup.mdx
  src/content/docs/cci/troubleshooting/troubleshooting.mdx
  src/content/docs/release-notes/agent-release-notes/net-release-notes/net-agent-10-42-0.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-26541.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/sdk-based-instrumentation.mdx
  src/i18n/content/es/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-optimizer.mdx
  src/i18n/content/es/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/es/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.290.mdx
  src/i18n/content/fr/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-optimizer.mdx
  src/i18n/content/fr/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/jp/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-optimizer.mdx
  src/i18n/content/jp/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.291.mdx
  src/i18n/content/kr/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-optimizer.mdx
  src/i18n/content/kr/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/kr/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.291.mdx
  src/i18n/content/pt/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-optimizer.mdx
  src/i18n/content/pt/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/i18n/content/pt/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.291.mdx
  src/nav/cci.yml
  src/nav/root.yml
  static/images/advancesetup.webp
  static/images/basicsetup.webp
  static/images/cci-cloudcost-query.webp
  static/images/cci_cost_types.webp
  static/images/cci_summary.webp
  static/images/cloud-cost-estimate.webp
  static/images/kubernetes-cost-cci.webp
Labels: content, from_internal, from_tw

#20998 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#21016 Create node-browser-runtime-3.0.32.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.32.mdx
Labels: content, from_internal

#21004 Create new-relic-android-5297.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5297.mdx
Labels: content, from_internal

#21018 docs: infrastructure-agent 1.65.1 release notes
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1651.mdx
Labels: content, from_internal

#21020 Update cloud-rules-api.mdx
  src/content/docs/new-relic-control/pipeline-control/cloud-rules-api.mdx
Labels: content, from_internal, from_tw

#21032 chore: fix indentation
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
Labels: content, from_internal

#21045 Daily merge 06 27 25 night
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/compute-optimizer.mdx
  src/content/docs/apm/agents/net-agent/troubleshooting/app-hangs-on-startup.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
  src/content/docs/infrastructure/infrastructure-agent/new-relic-guided-install-overview.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
  src/content/docs/release-notes/aws-firehose-log-forwarder-release-notes/firehose-24-12-06.mdx
  src/content/docs/release-notes/aws-lambda-log-forwarder-release-notes/lambda-24-12-06.mdx
  src/content/docs/release-notes/aws-lambda-log-forwarder-release-notes/lambda-25-01-21.mdx
  src/content/docs/release-notes/nrdot-release-notes/nrdot-2025-06-26.mdx
  src/content/whats-new/2025/06/whats-new-06-25-compute-optimizer.md
Labels: content, from_internal, from_tw

#21038 fix: updated the version specific infra agent install docs
  src/content/docs/infrastructure/infrastructure-agent/new-relic-guided-install-overview.mdx
Labels: content, from_internal

#21036 docs: Update docs to support RockyLinux
  src/content/docs/infrastructure/infrastructure-agent/linux-installation/package-manager-install.mdx
  src/content/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
  static/images/os_icon_rockylinux.webp
Labels: content, from_internal

#21034 Update docs to support AlmaLinux
  src/content/docs/infrastructure/infrastructure-agent/linux-installation/package-manager-install.mdx
  src/content/docs/infrastructure/infrastructure-agent/requirements-infrastructure-agent.mdx
  static/images/os_icon_almalinux.webp
Labels: from_internal, from_tw

#21047 Update "Historical data for training" sections within Predict docs
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/nrql-predictions.mdx
Labels: content, from_tw

#21078 Updated the account section
  src/content/docs/data-apis/ingest-apis/metric-api/cardinality-management.mdx
  static/images/rbac-update.webp
Labels: content, from_internal
