Repository newrelic/docs-website, pull requests merged in 2025-07, with the labels that each got.

#21087 Removed the image
  src/content/docs/data-apis/ingest-apis/metric-api/cardinality-management.mdx
Labels: content, from_internal

#19020 feat (Nerdgraph): Created tutorial for Secrets Management Service
  src/content/docs/apis/nerdgraph/examples/nerdgraph-api-secret-management-service.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#21091 Whats new cross account query log table
  src/content/whats-new/2025/07/whats-new-07-01-logs-uqe-cross-account-query.md
  static/images/logs_uqe_cross_account_query.webp
Labels: content, from_internal

#21013 docs: Update GRANT SELECT permissions for nri-oracledb
  src/content/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
Labels: content, from_internal

#21092 doc: Linux install guide
  src/content/docs/infrastructure/infrastructure-agent/linux-installation/package-manager-install.mdx
Labels: content, from_internal

#21081 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#21082 chore: add Node.js Agent v12.23.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-23-0.mdx
Labels: content, from_internal

#21107 .NET agent: Update gpg key import commands; remove sudo from commands in Dockerfiles
  src/install/dotnet/installation/azure-linux-container.mdx
  src/install/dotnet/installation/dockerLinux.mdx
  src/install/dotnet/installation/linuxInstall2.mdx
Labels: content, from_internal

#21110 iOS Release Notes
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6099.mdx
Labels: content, from_internal

#21115 fixing-the-release-version-issue
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.120.mdx
Labels: content, from_tw

#21121 Remove `gcp_cloud_run.use_instance_as_host` in Node.js agent
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
Labels: content, from_internal

#21118 docs(dotnet): Update latest verified compatible versions of instrumented libraries
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#21117 Browser Agent v1.293.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.293.0.mdx
Labels: content, from_internal

#21124 fix: Removed the preview call-out
  src/content/docs/message-queues-streaming/introduction.mdx
Labels: content, from_tw

#21123 docs: change in readme
  .github/workflows/auto-comment.yml
  .github/workflows/final-manual-deploy-comment.yml
  CONTRIBUTING.md
Labels: content, from_internal

#21127 fixes-the-nav-k8s-issue
  src/nav/kubernetes-pixie.yml
Labels: content, from_tw

#20447 feat(precision argument): Adding the precision argument to the UniqueCount function
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
Labels: content, from_tw

#21129 Fixed K8s OTel link broken
  src/content/docs/opentelemetry/get-started/collector-infra-monitoring/opentelemetry-collector-infra-intro.mdx
Labels: content, from_internal

#21094 chore(nested variables): Added a callout mentioning to whom it is available
  src/content/docs/query-your-data/explore-query-data/dashboards/nested-variables.mdx
Labels: content, from_tw

#21031 chore(apm/php agent): update compatibility
  src/content/docs/apm/agents/php-agent/frameworks-libraries/analyze-phpunit-test-data-new-relic.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/guzzle.mdx
Labels: content, from_internal

#21152 (chore): remove the redundancy from the toc
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#21149 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#21160 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#21166 fix(browser): whats new date change
  src/content/whats-new/2025/07/whats-new-07-09-browser-monitoring.md
Labels: content, from_tw

#21163 Remove Azure SQL database polling integration EOL from new relic docs
  src/content/eol/2024/04/eol-04-24-24-polling-api.md
Labels: content, from_internal

#21176 feat: Update GCP LB doc with newly added LBs
  src/content/docs/infrastructure/google-cloud-platform-integrations/gcp-integrations-list/google-cloud-load-balancing-monitoring-integration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/gcp-integration-metrics.mdx
Labels: content, from_internal

#21108 [Do not merge]docs: Add language about blocked conditions, update facet limit
  src/content/docs/alerts/admin/rules-limits-alerts.mdx
  src/content/docs/alerts/create-alert/create-alert-condition/create-nrql-alert-conditions.mdx
  src/content/docs/data-apis/manage-data/nrintegrationerror.mdx
Labels: content, from_internal

#21200 Revert "Update public docs to describe browser agent's harvest interval behavior"
  src/content/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/recordCustomEvent.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/instrumentation-browser-monitoring.mdx
  src/content/docs/browser/new-relic-browser/performance-quality/browser-monitoring-performance-impact.mdx
Labels: content, from_tw

#21201 Daily release/11 07 2025 morning 1
  .github/workflows/netlify-build-forked-pr.yml
  src/content/docs/browser/new-relic-browser/browser-apis/addpageaction.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/recordCustomEvent.mdx
  src/content/docs/browser/new-relic-browser/page-load-timing-resources/instrumentation-browser-monitoring.mdx
  src/content/docs/browser/new-relic-browser/performance-quality/browser-monitoring-performance-impact.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/amd-gpu-integration.mdx
  src/nav/infrastructure.yml
  static/images/infrastructure_screenshot-full_AMD-GPU-dashboard.webp
Labels: content

#21189 feat: add new "apply button" config on template variables
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
Labels: content, from_internal

#21194 feat(diagcli): Diagnostics CLI Release 3.4.0
  src/content/docs/new-relic-solutions/solve-common-issues/diagnostics-cli-nrdiag/pass-command-line-options-nrdiag.mdx
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-340.mdx
Labels: content, from_tw

#21134 docs: agent control split namespaces
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
Labels: content, from_internal

#21209 docs: update package manager installation
  src/content/docs/infrastructure/infrastructure-agent/linux-installation/package-manager-install.mdx
Labels: content, from_internal

#21159 [NR-437477] android ndk agent v1.1.3 release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-ndk-113.mdx
Labels: content, from_internal

#21222 iOS Release Notes
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6100.mdx
Labels: content, from_internal

#21235 Nr 438243 agentic integration updates
  src/content/docs/agentic-ai/agentic-integration/gemini-integration.mdx
  src/content/docs/agentic-ai/agentic-integration/github-copilot-integration.mdx
  src/content/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
  src/content/docs/agentic-ai/agentic-integration/servicenow-integration.mdx
  src/content/docs/agentic-ai/tools.mdx
  src/content/whats-new/2025/07/whats-new-7-15-agentic-ai-integrations.md
Labels: content, from_internal

#21239 Fixed the dates
  src/content/whats-new/2025/07/whats-new-7-15-agentic-ai-integrations.md
Labels: content, from_tw

#21120 docs[Publish on 16th July]: Add new API method ignoreApdex
  src/content/docs/apm/agents/go-agent/api-guides/guide-using-go-agent-api.mdx
Labels: content, from_internal

#21119 docs[Publish on 16th July]: Add support for MongoDB V2 driver
  src/content/docs/apm/agents/go-agent/get-started/go-agent-compatibility-requirements.mdx
Labels: content, from_internal

#21205 chore: release notes for flutter agent
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-1112.mdx
Labels: content, from_internal

#21243 Update nrdot-collector.mdx
  src/content/docs/opentelemetry/nrdot/nrdot-collector.mdx
Labels: content, from_internal

#21260 Update introduction-agentic-ai.mdx
  src/content/docs/agentic-ai/agentic-integration/introduction-agentic-ai.mdx
Labels: content, from_internal

#21261 feat(Go Agent): Add release notes for Go Agent version 3.40.0
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-40-0.mdx
Labels: content, from_internal

#21266 Converged APM UI documentation
  src/content/docs/opentelemetry/get-started/apm-monitoring/opentelemetry-apm-ui.mdx
Labels: content, from_internal

#21093 multiple EOLs
  src/content/eol/2025/07/upcoming-eols.md
Labels: content, from_tw

#21286 Update k8s-agent-operator.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/k8s-agent-operator.mdx
Labels: content, from_internal

#21287 Adding What's New for APM OTel Convergence GA
  src/content/whats-new/2025/07/whats-new-07-21-apm-otel.md
  static/images/apm-otel.webp
Labels: content, from_internal

#21269 Update java-agent-eol-policy.mdx
  src/content/docs/apm/agents/java-agent/getting-started/java-agent-eol-policy.mdx
Labels: content, from_internal

#21273 Update setname.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/setname.mdx
Labels: content, from_internal

#21291 docs(npm): Add UTC timezone requirement for ktranslate
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/network-flow-monitoring.mdx
Labels: content, from_internal

#21290 feat(change tracking) Update manage-data-coming-new-relic.mdx
  src/content/docs/data-apis/manage-data/manage-data-coming-new-relic.mdx
Labels: content, from_internal

#21278 [Merge on 22nd July][feat]: What's new post for Predictive analytics features
  src/content/whats-new/2025/07/whats-new-7-22-predictive-analytics.md
Labels: content, from_tw

#21308 chore: fixed the mysql event sample
  src/install/mysql/whatsNext.mdx
Labels: content, from_tw

#21271 What's new for Queues and streams
  src/content/whats-new/2025/06/whats-new-06-25-streams-and-queues.md
  static/images/Q&S-Kafka-Navigator-06-2025.webp
Labels: content, from_tw

#21314 Daily merge 07 23 25/evening
  src/content/docs/apm/agents/java-agent/getting-started/java-agent-eol-policy.mdx
Labels: content, from_tw

#21315 .NET agent: update latest verified compatible library versions
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#21305 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#21319 whats-new-db
  src/content/whats-new/2025/07/whats-new-07-24-db-query-performance-monitoring.md
Labels: content, from_tw

#21248 feat[public dashboard]: Migrating all public sharing chart related NerdGraph queries to one page
  src/content/docs/apis/nerdgraph/examples/manage-live-chart-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/manage-live-dashboard-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-nrql-tutorial.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-externally.mdx
Labels: content, from_tw

#21322 Daily merge 07 24 25/night
  src/content/docs/apis/nerdgraph/examples/manage-live-chart-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/manage-live-dashboard-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-nrql-tutorial.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-externally.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-13-0-0.mdx
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-757.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.294.0.mdx
  src/content/whats-new/2025/07/whats-new-07-24-db-query-performance-monitoring.md
Labels: content, from_tw

#21324 Daily merge 07 24 25/night
  src/data/whats-new-ids.json
Labels: from_tw, documentation

#21190 File a case procedure update
  src/content/docs/new-relic-solutions/solve-common-issues/find-help-get-support.mdx
Labels: content, from_tw

#21331 Daily merge 07 25 25/night
  src/content/docs/new-relic-solutions/solve-common-issues/find-help-get-support.mdx
Labels: from_tw, documentation

#20866 [DO NOT MERGE]: eBPF GA release
  src/content/docs/ebpf/k8s-installation.mdx
  src/content/docs/ebpf/linux-installation.mdx
  src/content/docs/ebpf/overview.mdx
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/eapm.mdx
  src/nav/ebpf.yml
  src/nav/root.yml
  static/images/ebpf-dashboard.webp
Labels: content, from_tw

#21326 chore(nodejs): Updated node migration guide with version 13 docs
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
Labels: content, from_internal, documentation

#21340 Daily merge 07 28 25/night
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-101500.mdx
Labels: content, from_tw

#21342 release date fix
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-757.mdx
Labels: content, from_internal

#21138 fix: client side rendering for redirection of old urls to new urls
  src/templates/docPage.js
Labels: eng

#21349 chore: fix the broken links
  src/install/config/microsoft-sql.yaml
  src/install/microsoft-sql/whatsNext.mdx
Labels: content, from_tw

#21339 chore: Fixed typo in node migration guide
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
Labels: content, from_tw

#21262 [Do not merge]: Feat[Public dashboard with password]: Update the existing do to include info about password management
  src/content/docs/apis/nerdgraph/examples/manage-live-dashboard-urls-via-api.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-externally.mdx
Labels: content, from_tw

#21354 chore(php): update supported alpine versions
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_internal

#21357 chore: rename mentions of experimental features
  src/content/docs/browser/new-relic-browser/browser-pro-features/marks-and-measures.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/page-resources.mdx
  src/content/docs/browser/new-relic-browser/configuration/public-preview-features.mdx
  src/i18n/content/es/docs/browser/new-relic-browser/configuration/experimental-features.mdx
  src/i18n/content/fr/docs/browser/new-relic-browser/configuration/experimental-features.mdx
  src/i18n/content/jp/docs/browser/new-relic-browser/configuration/experimental-features.mdx
  src/i18n/content/kr/docs/browser/new-relic-browser/configuration/experimental-features.mdx
  src/i18n/content/pt/docs/browser/new-relic-browser/configuration/experimental-features.mdx
  src/i18n/content/pt/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.mdx
Labels: from_internal, from_tw

#21321 feat: Diagnostics CLI 3.4.1 release notes
  src/content/docs/release-notes/diagnostics-release-notes/diagnostics-cli-release-notes/diagnostics-cli-341.mdx
Labels: content, from_internal

#21263 docs: Refine language in Oracle integration requirements
  src/content/docs/infrastructure/host-integrations/host-integrations-list/oracle-database-monitoring-integration.mdx
Labels: content, from_internal

#21364 iOS agent 7.5.8 release note - release EOD 07/30/25
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/ios-agent-758.mdx
Labels: content, from_internal

#21363 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#21356 .NET agent: clarify that SQL query parameter capture is available, but not enabled by default
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#21355 Update java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#21282 Akash/attribute dictionary fr
  src/data/attribute-dictionary-en.json
  src/data/attribute-dictionary-fr.json
  src/pages/attribute-dictionary.js
Labels: eng

#21375 feat: release-notes-for-sjm
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-451.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.122.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.39.mdx
  src/content/docs/release-notes/synthetics-release-notes/ping-runtime-release-notes/ping-runtime-1.53.0.mdx
Labels: content, from_tw
