Repository newrelic/docs-website, pull requests merged in 2025-02, with the labels that each got.

#19864 Fix spelling typos in create-an-alert.mdx
  src/content/docs/tutorial-create-alerts/create-an-alert.mdx
Labels: content

#19886 extension release v2.3.16
  src/content/docs/release-notes/lambda-extension-release-notes/lambda-extension-2.3.16.mdx
Labels: content, from_internal

#19880 chore: add syntax highlighting
  src/install/aws-logs/aws_services/see-your-data.mdx
  src/install/aws-logs/firehose/firehose-view.mdx
Labels: content, from_internal

#19879 Add DeepSeek as supported model intro-to-ai-monitoring.mdx
  src/content/docs/ai-monitoring/intro-to-ai-monitoring.mdx
Labels: content, from_internal

#19890 Browser Agent v1.281.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.281.0.mdx
Labels: content

#19891 chore: capitalize WHERE clause
  src/content/docs/logs/forward-logs/azure-log-forwarding.mdx
Labels: content, from_internal

#19901 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#19907 chore: capitalize nrql clauses
  src/content/docs/data-apis/manage-data/view-system-limits.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
Labels: content, from_internal

#19897 Adding info about glue jobs limitation on python shell jobs
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-glue-monitoring-integration.mdx
Labels: content, from_internal

#19909 Update manage-your-dashboard.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
Labels: content, from_internal

#19917 docs: Release Notes for Python Agent v10.6.0
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-100600.mdx
Labels: content, from_internal

#19915 Update apm-report-custom-events-attributes.mdx
  src/content/docs/data-apis/custom-data/custom-events/apm-report-custom-events-attributes.mdx
Labels: content, from_internal

#19914 Update errors-inbox.mdx
  src/content/docs/errors-inbox/errors-inbox.mdx
Labels: content

#19924 chore: cleanup code examples
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
Labels: content, from_internal

#19916 Update with correct link
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-managed-kafka-msk-integration.mdx
Labels: content, from_internal

#19844 (Update): Updated the state list from where NR collects Sales tax.
  src/content/docs/accounts/accounts/billing/view-or-change-account-tax-information.mdx
Labels: content, from_tw

#19931 Create new-relic-ios-6088.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6088.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6089.mdx
Labels: content

#19954 chore: infra-agent 1.60.1 release doc
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1601.mdx
Labels: content, from_internal

#19953 chore: format the code blocks
  src/content/docs/apm/agents/java-agent/additional-installation/install-java-agent-java-2-security.mdx
Labels: content, from_internal

#19952 chore: formatting code
  src/content/docs/mobile-crash-rest-api-v1.mdx
Labels: content, from_internal

#19951 Update install-serverless-azure-monitoring.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
Labels: content, from_internal

#19813 feat: Add whats new for one click log forwarding java app
  src/content/whats-new/2025/02/whats-new-02-12-one-click-log-forwarding-for-java-applications
  static/images/one-click-java-app-logs.webp
  static/images/one-click-java-app-settings.webp
Labels: content, from_internal

#19474 Nr 338923 confluent cloud integration
  src/content/docs/infrastructure/other-infrastructure-integrations/confluent-cloud-integration.mdx
  src/content/whats-new/2024/12/whats-new-03-12-confluent-cloud-integration.md
  src/nav/infrastructure.yml
Labels: content, from_tw, documentation

#19854 Adds documentation on prometheus-ha cluster limit NRIE
  src/content/docs/infrastructure/prometheus-integrations/install-configure/prometheus-high-availability-ha.mdx
Labels: content, from_internal

#19950 fix: SQL -> sql, language identifiers are case sensitive
  src/content/docs/tutorial-troubleshoot-infra-hosts/create-metrics-dashboards.mdx
Labels: content, from_internal

#19961 fix: Add missing file extension for whats new post
  src/content/whats-new/2025/02/whats-new-02-12-one-click-log-forwarding-for-java-applications.md
Labels: content, from_internal

#19967 Revert "DO NOT MERGE UNTILL NOTIFIED: Auto-logging for browser"
  src/content/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/recordReplay.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/jp/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/kr/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/pt/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
Labels: content, from_tw

#19962 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: from_internal, documentation

#19963 chore: add Node.js Agent v12.13.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-13-0.mdx
Labels: content, from_internal

#19913 Update new-relic-account-structure.mdx
  src/content/docs/accounts/accounts-billing/account-structure/new-relic-account-structure.mdx
Labels: content, from_internal

#19949 docs(azure-functions): Update supported runtimes for Azure Functions.
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
Labels: content, from_internal

#19923 Update user-management-concepts.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Labels: content, from_internal

#19971 feat(graphQL-apis): Added mutations for creating, updating, and delet…
  src/content/docs/apis/nerdgraph/examples/nerdgraph-manage-groups.mdx
Labels: content, from_tw

#19983 docs: updated docs security
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-24-08-31.mdx
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-24-10-31.mdx
Labels: content, from_internal

#19985 docs(update): updates to user management concepts
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts.mdx
Labels: content, from_tw

#19920 Update opentelemetry-best-practices-resources.mdx
  src/content/docs/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
Labels: content, from_internal

#19975 Browser Agent v1.282.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.282.0.mdx
Labels: content, from_internal

#19881 docs(dotnet): Update environment variables required for Azure Functions
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/env-variables-azure.mdx
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/install-serverless-azure-monitoring.mdx
Labels: content, from_internal

#19976 PHP Agent Release 11.6.0.19 (Feb 18 2025)
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-11-6-0-19.mdx
Labels: content, from_internal

#19989 Feat/french
  gatsby-config.js
  scripts/actions/__tests__/add-files-to-translation-queue.test.js
  scripts/actions/utils/constants.js
  scripts/actions/utils/docs-content-tools/i18n-exclusions.yml
  scripts/i18n_utility/__tests__/actions.test.ts
  src/components/EolPage.js
  src/components/FrNav.js
  src/components/InlinePopover/InlinePopover.js
  src/components/RootNavigation.js
  src/data/popovers_fr.json
Labels: eng

#19994 chore: add Node.js Agent v12.14.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-14-0.mdx
Labels: content, from_internal

#19997 "What's new" new role and access grant
  src/content/whats-new/2025/02/whats-new-02-18-new-access-management.md
Labels: content, from_internal

#20023 [NR-371135] Android agent release notes
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-764.mdx
Labels: content, from_internal

#19992 docs(dotnet): Update supported framework versions for .NET agent
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#19960 docs(dotnet): Add OpenAI to supported LLM frameworks
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#19993 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#20006 iOS mobile Release 6.9.0
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6090.mdx
Labels: content, from_internal

#20011 iOS release notes forApp version 6.9.1
  src/content/docs/release-notes/mobile-release-notes/ios-release-notes/new-relic-ios-6091.mdx
Labels: content, from_internal

#20016 Browser Agent v1.283.1 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.283.1.mdx
Labels: content, from_internal

#19970 docs(dotnet): Add .NET Framework to supported Azure Function stacks
  src/content/docs/serverless-function-monitoring/azure-function-monitoring/compatibility-requirement-azure-monitoring.mdx
Labels: content, from_internal

#19894 OTel service to infra agent entity relationships
  src/content/docs/opentelemetry/best-practices/opentelemetry-best-practices-resources.mdx
Labels: content, from_internal

#20018 Create new-relic-android-5286.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5286.mdx
Labels: content, from_internal

#20037 docs:hybrid agent release
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-764.mdx
  src/content/docs/release-notes/mobile-release-notes/capacitor-release-notes/capacitor-agent-155.mdx
  src/content/docs/release-notes/mobile-release-notes/cordova-release-notes/cordova-agent-705.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-117.mdx
  src/content/docs/release-notes/mobile-release-notes/flutter-release-notes/flutter-agent-118.mdx
  src/content/docs/release-notes/mobile-release-notes/net-maui-release-notes/net-maui-agent-117.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-150.mdx
  src/content/docs/release-notes/mobile-release-notes/unity-release-notes/unity-agent-144.mdx
Labels: content

#20038 Browser Agent v1.283.2 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.283.2.mdx
Labels: content, from_internal

#20013 fix: typo- missing `\`
  src/content/docs/browser/browser-monitoring/browser-pro-features/upload-source-maps-un-minify-js-errors.mdx
Labels: content, from_internal

#19882 Add react native unset user id example
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/set-custom-user-id.mdx
Labels: content, from_internal

#19873 Browser logs documentation update
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/get-started.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/overview.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/view-browser-logs/logs-in-error-inbox.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/view-browser-logs/logs-in-session-replay.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/view-browser-logs/logs-of-a-browser-app.mdx
  src/nav/browser.yml
  static/images/browser-logs-overview.webp
  static/images/browser-logs.webp
  static/images/logs-in-error-inbox-2.webp
  static/images/logs-in-session-replay.webp
Labels: content, from_tw

#20027 feat: adding a workflow to send n number of untranslated files
  .github/workflows/add-untranslated-files-to-translation-queue.yml
  package.json
  scripts/actions/add-untranslated-files-to-translation-queue.js
Labels: eng

#20039 chore: format code & add syntax highlighting
  src/content/docs/apm/agents/java-agent/api-guides/java-agent-api-register-error-group-callback-to-set-fingerprint.mdx
  src/content/docs/apm/agents/java-agent/getting-started/migration-8x-guide.mdx
  src/content/docs/apm/agents/java-agent/heroku/no-data-appears-heroku-java.mdx
  src/content/docs/apm/agents/java-agent/troubleshooting/generate-debug-logs-troubleshooting-java.mdx
  src/content/docs/apm/agents/java-agent/troubleshooting/host-links-missing-java-apps-apm-summary.mdx
  src/content/docs/apm/agents/java-agent/troubleshooting/no-data-appears-java.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/install-new-relic-php-agent-gae-flexible-environment.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/wordpress-fullstack-integration.mdx
  src/content/docs/apm/agents/php-agent/getting-started/new-relic-daemon-processes.mdx
  src/content/docs/apm/agents/php-agent/installation/update-php-agent.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_add_custom_parameter.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/segmentation-faults.mdx
Labels: content, from_internal

#20035 chore: format nrql
  src/content/docs/logs/ui-data/data-partitions.mdx
Labels: content, from_internal

#20045 Nr 356329 browser logs
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/get-started.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/overview.mdx
Labels: content, from_internal

#20046 Daily release/24 02 24 morning
  .github/workflows/add-untranslated-files-to-translation-queue.yml
  package.json
  scripts/actions/add-untranslated-files-to-translation-queue.js
  src/content/docs/apm/agents/java-agent/api-guides/java-agent-api-register-error-group-callback-to-set-fingerprint.mdx
  src/content/docs/apm/agents/java-agent/getting-started/migration-8x-guide.mdx
  src/content/docs/apm/agents/java-agent/heroku/no-data-appears-heroku-java.mdx
  src/content/docs/apm/agents/java-agent/troubleshooting/generate-debug-logs-troubleshooting-java.mdx
  src/content/docs/apm/agents/java-agent/troubleshooting/host-links-missing-java-apps-apm-summary.mdx
  src/content/docs/apm/agents/java-agent/troubleshooting/no-data-appears-java.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/update-nodejs-agent.mdx
  src/content/docs/apm/agents/php-agent/advanced-installation/install-new-relic-php-agent-gae-flexible-environment.mdx
  src/content/docs/apm/agents/php-agent/frameworks-libraries/wordpress-fullstack-integration.mdx
  src/content/docs/apm/agents/php-agent/getting-started/new-relic-daemon-processes.mdx
  src/content/docs/apm/agents/php-agent/installation/update-php-agent.mdx
  src/content/docs/apm/agents/php-agent/php-agent-api/newrelic_add_custom_parameter.mdx
  src/content/docs/apm/agents/php-agent/troubleshooting/segmentation-faults.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/get-started.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/overview.mdx
  src/content/docs/logs/ui-data/data-partitions.mdx
Labels: content, from_internal

#20050 feat(fresh-public-dashboard) Feb release-Doc update for Public dashboard
  src/content/docs/apis/nerdgraph/examples/manage-live-chart-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/manage-live-dashoard-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-dashboards.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/prerequisites-to-share-dashboards-charts.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-externally.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-internally.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/nav/dashboards.yml
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#20051 test the redirect
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/get-started.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/overview.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
Labels: from_tw

#20053 Revert "feat(fresh-public-dashboard) Feb release-Doc update for Public dashboard"
  src/content/docs/apis/nerdgraph/examples/manage-live-chart-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/manage-live-dashoard-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-dashboards.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/prerequisites-to-share-dashboards-charts.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-externally.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-internally.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/nav/dashboards.yml
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#20055 feat(PUBLIC-DASHBOARD-FINAL-PR) Feb release item
  src/content/docs/apis/nerdgraph/examples/manage-live-chart-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/manage-live-dashboard-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-dashboards.mdx
  src/content/docs/apis/nerdgraph/get-started/introduction-new-relic-nerdgraph.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboards-charts-import-export-data.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/prerequisites-to-share-dashboards-charts.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-externally.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-internally.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/nav/dashboards.yml
  src/nav/telemetry-data-platform.yml
Labels: content, from_tw

#19853 [Draft for feb release]feat: Predictive alerts for PP
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/content/docs/alerts/create-alert/create-alert-condition/create-nrql-alert-conditions.mdx
  src/content/docs/alerts/create-alert/set-thresholds/predictive-alerts.mdx
  src/content/docs/alerts/overview.mdx
  src/nav/alerts.yml
  static/images/predictive-alerts.webp
Labels: content, from_tw

#20056 Fix bad link in release 1.283.0
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.283.0.mdx
Labels: content, from_internal

#19987 docs: updated helm chart version mapped to fluent bit release
  src/content/docs/logs/forward-logs/kubernetes-plugin-log-forwarding.mdx
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-24-10-31.mdx
Labels: content, from_internal

#20024 chore: Add browser agent features table
  src/content/docs/browser/new-relic-browser/configuration/change-browser-agent-type.mdx
Labels: content, from_internal

#20034 chore: add iframe section page for session replay
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/iframes.mdx
  src/nav/browser.yml
Labels: content, from_internal

#20062 docs: changed the content of landing tile
  src/i18n/translations/en/translation.json
Labels: eng, from_internal

#20060 feat(whats-new): NR NOW Product Announcements post
  src/content/whats-new/2025/02/whats-new-02-25-new-relic-now-product-announcements.md
Labels: content, from_internal

#20058 Update whats-new-02-18-new-access-management.md
  src/content/whats-new/2025/02/whats-new-02-18-new-access-management.md
Labels: content, from_tw

#20063 docs: correct grammar of Kubernetes out of the box experience
  src/content/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration.mdx
Labels: content, from_internal

#20064 docs: updated FB features for 3.1.2 and 3.1.9
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-24-08-31.mdx
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-24-10-31.mdx
Labels: content, from_internal

#20019 docs: release notes for fluent bit upgrade to 3.2.2
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-25-02-20.mdx
  src/content/docs/release-notes/logs-release-notes/logs-25-02-20.mdx
Labels: content, from_internal

#20036 Update dora-subcontractors.mdx
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/dora/dora-subcontractors.mdx
Labels: from_internal

#20014 chore: capitalize SINCE & add NRQL linebreaks
  src/content/docs/nrql/nrql-examples/browserspa-nrql-query-examples.mdx
Labels: content, from_internal

#20015 Update Python DT page
  src/content/docs/apm/agents/python-agent/configuration/distributed-tracing-python-agent.mdx
Labels: content, from_internal

#19933 Feat(Feb release): Auto-discovery
  src/content/docs/infrastructure/amazon-integrations/connect/set-up-auto-discovery-of-aws-entities.mdx
  src/nav/infrastructure.yml
Labels: content, from_tw

#19932 feat: Database Monitoring PostgreSQL documentation [Feb Release]
  src/install/config/postgresql.yaml
  src/install/postgresql/create-user.mdx
  src/install/postgresql/default-install-linux.mdx
  src/install/postgresql/default-requirements.mdx
  src/install/postgresql/find-data.mdx
  src/install/postgresql/intro.mdx
  src/install/postgresql/linux/install-apt-query-monitoring.mdx
  src/install/postgresql/linux/install-linux.mdx
  src/install/postgresql/linux/install-tarball.mdx
  src/install/postgresql/linux/install-yum-query-monitoring.mdx
  src/install/postgresql/query-monitoring.mdx
  src/install/postgresql/requirements-amazonECS.mdx
  src/install/postgresql/requirements-k8s.mdx
  src/install/postgresql/whatsNext.mdx
  src/install/postgresql/windows/install-windows-query-monitoring.mdx
  src/install/postgresql/windows/install-windows.mdx
Labels: content, from_internal, from_tw

#20030 feat: Database Monitoring MSSQL documentation [Feb Release]
  src/content/docs/infrastructure/host-integrations/host-integrations-list/microsoft-sql/microsoft-sql-server-query-performance.mdx
  src/nav/infrastructure.yml
  static/images/mssql-query-performance.webp
Labels: content, from_internal

#19639 Public Preview for eAPM docs
  src/content/docs/kubernetes-pixie/kubernetes-integration/installation/eapm.mdx
  src/nav/kubernetes-pixie.yml
  static/images/ebpf_filters.webp
Labels: content, from_tw

#20022 Update view-system-limits.mdx
  src/content/docs/data-apis/manage-data/view-system-limits.mdx
Labels: content, from_internal

#19996 Updated network dependencies table
  src/install/npm/network-flow/linux-eu.mdx
  src/install/npm/network-flow/linux-us.mdx
  src/install/npm/snmp/linux-eu.mdx
  src/install/npm/snmp/linux-us.mdx
  src/install/npm/snmp/linux-usfedramp.mdx
  src/install/npm/syslog/linux-eu.mdx
  src/install/npm/syslog/linux-us-fedramp.mdx
  src/install/npm/syslog/linux-us.mdx
Labels: content, from_internal

#20009 docs(dotnet): Fix incorrect configuration examples for AI Monitoring with the .NET agent.
  src/install/ai-monitoring/agent-lang/dotnet-config.mdx
Labels: content, from_internal

#20000 fix: broken links in Ignore Errors section
  src/content/docs/apm/agents/manage-apm-agents/agent-data/manage-errors-apm-collect-ignore-or-mark-expected.mdx
  src/content/docs/apm/agents/net-agent/net-agent-api/net-agent-api.mdx
Labels: content, from_internal

#20008 Remove erroneous second decimal in query-time-range.mdx
  src/content/docs/nrql/using-nrql/query-time-range.mdx
Labels: content, from_internal

#20065 Feat(Queues and streams): Kafka monitoring
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-managed-kafka-msk-integration.mdx
  src/content/docs/message-queues-streaming/installation/aws-managed-kafka-msk-integration.mdx
  src/content/docs/message-queues-streaming/installation/confluent-cloud-integration.mdx
  src/content/docs/message-queues-streaming/introduction.mdx
  src/content/docs/message-queues-streaming/ui-data/understand-ui.mdx
  src/i18n/content/es/docs/infrastructure/other-infrastructure-integrations/confluent-cloud-integration.mdx
  src/i18n/content/jp/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-managed-kafka-msk-integration.mdx
  src/i18n/content/jp/docs/infrastructure/other-infrastructure-integrations/confluent-cloud-integration.mdx
  src/i18n/content/kr/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-managed-kafka-msk-integration.mdx
  src/i18n/content/kr/docs/infrastructure/other-infrastructure-integrations/confluent-cloud-integration.mdx
  src/i18n/content/pt/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-managed-kafka-msk-integration.mdx
  src/i18n/content/pt/docs/infrastructure/other-infrastructure-integrations/confluent-cloud-integration.mdx
  src/nav/message-queues-streaming.yml
  src/nav/root.yml
Labels: content, from_tw

#19769 (WIP): Feb Item: DO NOT MERGE: added the sequence filtering option
  src/content/docs/browser/browser-monitoring/browser-pro-features/sequence-filtering.mdx
  src/nav/browser.yml
  static/images/edit-sequence-filter.webp
Labels: content, from_tw

#19667 [Draft for feb release]feat(On-demand forecast): Added On-demand forecasting content for PP
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  src/content/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer.mdx
  src/content/docs/query-your-data/explore-query-data/query-builder/introduction-new-data-explorer.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/nrql-predictions.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
  src/nav/dashboards.yml
  static/images/nrql-predictions-default.webp
  static/images/nrql-predictions-refined.webp
Labels: content, from_tw

#20066 Nr 322277 media streaming
  src/nav/streaming-video-&-ads.yml
Labels: content, from_tw

#20068 added-query-level-monitoring-infor
  src/install/microsoft-sql/default-requirements.mdx
Labels: content, from_tw

#20070 chore(Fed release items): spell checks, link corrections, code snippet update
  src/content/docs/alerts/create-alert/create-alert-condition/alert-conditions.mdx
  src/content/docs/alerts/create-alert/create-alert-condition/create-nrql-alert-conditions.mdx
  src/content/docs/apis/nerdgraph/examples/manage-live-dashboard-urls-via-api.mdx
  src/content/docs/apis/nerdgraph/examples/nerdgraph-dashboards.mdx
  src/content/docs/infrastructure/amazon-integrations/connect/set-up-auto-discovery-of-aws-entities.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/manage-your-dashboard.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/prerequisites-to-share-dashboards-charts.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/share-charts-dashboards-externally.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/use-your-charts.mdx
Labels: content, from_tw

#20067 Feat(Security RX)
  src/content/docs/vulnerability-management/change-vulnerability-status.mdx
  src/content/docs/vulnerability-management/dev-workflow.mdx
  src/content/docs/vulnerability-management/infra-workflow.mdx
  src/content/docs/vulnerability-management/integrations/aws.mdx
  src/content/docs/vulnerability-management/integrations/fossa.mdx
  src/content/docs/vulnerability-management/integrations/intro.mdx
  src/content/docs/vulnerability-management/integrations/snyk-troubleshooting.mdx
  src/content/docs/vulnerability-management/integrations/snyk.mdx
  src/content/docs/vulnerability-management/integrations/trivy.mdx
  src/content/docs/vulnerability-management/overview.mdx
  src/content/docs/vulnerability-management/security-workflow-infra.mdx
  src/content/docs/vulnerability-management/security-workflow.mdx
  src/content/docs/vulnerability-management/set-up-alerts.mdx
  src/content/docs/vulnerability-management/understanding-prioritization.mdx
  src/content/docs/vulnerability-management/user-roles.mdx
  src/nav/root.yml
  src/nav/vuln-management.yml
  static/images/infra_vulnLibrary.png
  static/images/infra_vulnLibrary.webp
  static/images/security_app-overview.webp
  static/images/security_infra_entity_overview.png
  static/images/security_infra_entity_overview.webp
  static/images/security_screenshot-entity_security-overview.webp
  static/images/security_screenshot-full_security-overview.webp
  static/images/security_screenshot-infra.webp
  static/images/vm_screenshot-full_vuln-tab.webp
  static/images/vm_user_role.webp
  static/images/vulnLibrary.webp
Labels: content, from_tw

#20071 Ai redirect
  src/content/docs/agentic-ai/new-relic-ai.mdx
Labels: content, from_tw

#20073 added missing images
  static/images/kafka-monitoring.webp
  static/images/kafka-topics.webp
  static/images/message-queues-streaming.webp
Labels: content, from_tw

#19942 [DO NOT MERGE] Adds new documentation for AWS logs in context
  src/content/docs/logs/logs-context/aws-logs-in-context.mdx
  src/content/docs/release-notes/logs-release-notes/logs-25-02-26.mdx
  src/nav/logs.yml
  static/images/logs_screenshot-aws_lic_cloudfront_s3_legacy_config.webp
  static/images/logs_screenshot-aws_lic_s3_access_logging_config.webp
Labels: content, from_internal

#20079 added yml entry
  src/nav/service-architecture-intelligence.yml
Labels: content, from_tw

#20080 Chore: Fixing minor issues
  src/content/docs/alerts/incident-management/response-intelligence-ai.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/browser-logs/get-started.mdx
  static/images/nr-ai-summary.webp
Labels: content, from_tw

#20082 Fixed minor issue
  src/content/docs/alerts/incident-management/response-intelligence-ai.mdx
Labels: content, from_internal

#20090 Chore: Fixed the link text
  src/content/whats-new/2025/02/whats-new-02-25-new-relic-now-product-announcements.md
Labels: content, from_tw

#20102 fix: add link to dynamic doc
  src/content/docs/licenses/product-or-service-licenses/new-relic-browser/browser-agent-licenses.mdx
Labels: content, from_internal

#20107 Fixed product numbers
  src/content/whats-new/2025/02/whats-new-02-25-new-relic-now-product-announcements.md
Labels: content, from_tw
