Repository newrelic/docs-website, pull requests merged in 2025-01, with the labels that each got.

#19621 [CHORE]: Fixed the broken link
  src/content/docs/alerts/overview.mdx
Labels: content, from_tw

#19624 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#19594 Update authentication-domains-saml-sso-scim-more.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content, from_internal

#19627 Update product-capability-feature-usage.mdx
  src/content/docs/style-guide/capitalization/product-capability-feature-usage.mdx
Labels: content, from_internal

#19626 Update session-replay.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
Labels: content, from_internal

#19629 chore[docs]: Release notes for week of 21-Dec to 2-Jan(2025)
  src/content/docs/release-notes/docs-release-notes/docs-1-2-2025.mdx
Labels: content, from_tw

#19636 Dnt text change
  src/content/docs/apm/agents/ruby-agent/api-guides/ruby-custom-metrics.mdx
Labels: content, from_tw

#19376 Chore(user management): Added domain capture reference
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/account-user-mgmt-tutorial.mdx
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more.mdx
Labels: content, from_tw

#19644 Update custom-instrumentation-attributes-net.mdx
  src/content/docs/apm/agents/net-agent/custom-instrumentation/custom-instrumentation-attributes-net.mdx
Labels: content, from_internal, documentation

#19643 chore: capitalize nrql queries
  src/content/docs/service-level-management/create-slm.mdx
  src/content/docs/tutorial-improve-app-performance/create-benchmarks.mdx
Labels: content, from_internal, documentation

#19645 feat: add azure site extention update instructions
  src/content/docs/apm/agents/net-agent/installation/update-net-agent.mdx
Labels: content, from_internal, documentation

#19648 Update compatibility-requirement-lambda-monitoring.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/compatibility-requirement-lambda-monitoring.mdx
Labels: content, from_internal, documentation

#19656 indent the code correctly
  src/i18n/content/jp/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: eng

#19664 added crashNow Method docs for flutter.
  src/content/docs/mobile-monitoring/new-relic-mobile/mobile-sdk/test-crash-reporting.mdx
  src/data/attribute-dictionary.json
Labels: content, from_internal, documentation

#19671 chore: Update temporal yml
  src/content/docs/infrastructure/host-integrations/host-integrations-list/temporal-cloud-integration.mdx
Labels: content, from_internal, documentation

#19672 [NR-353267] Update docs with Key Value Parsing Grok Expression
  src/content/docs/logs/ui-data/parsing.mdx
  src/content/docs/release-notes/logs-release-notes/logs-25-01-10.mdx
Labels: content, from_internal, documentation

#19679 added the doc for webhook to teams workflow
  src/content/docs/alerts/get-notified/new-relic-webhook-for-microsoft-teams-workflow.mdx
  src/nav/alerts.yml
  static/images/alerts_destination_enpointurl.webp
  static/images/alerts_workflow_payload.webp
Labels: content, from_tw

#19687 chore[docs]: Release notes for week of 3-9, Jan (2025)
  src/content/docs/release-notes/docs-release-notes/docs-1-9-2025.mdx
Labels: content, from_tw

#19690 chore[docs]: 10th Jan Release note correction
  src/content/docs/release-notes/docs-release-notes/docs-1-9-2025.mdx
Labels: content, from_tw

#19700 Update windows-services-integration.mdx
  src/content/docs/infrastructure/host-integrations/host-integrations-list/windows-services-integration.mdx
Labels: content, from_internal

#19670 Updating mobile monthly uniques to active users
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/usage-pages/active-users.mdx
  src/content/docs/mobile-monitoring/mobile-monitoring-ui/usage-pages/monthly-uniques-report.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/es/docs/mobile-monitoring/mobile-monitoring-ui/usage-pages/monthly-uniques-report.mdx
  src/i18n/content/jp/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/jp/docs/infrastructure/install-infrastructure-agent/update-or-uninstall/update-infrastructure-agent.mdx
  src/i18n/content/jp/docs/mobile-monitoring/mobile-monitoring-ui/usage-pages/monthly-uniques-report.mdx
  src/i18n/content/kr/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/kr/docs/mobile-monitoring/mobile-monitoring-ui/usage-pages/monthly-uniques-report.mdx
  src/i18n/content/pt/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/i18n/content/pt/docs/mobile-monitoring/mobile-monitoring-ui/usage-pages/monthly-uniques-report.mdx
  src/nav/mobile-monitoring.yml
  static/images/mobile_screenshot_full-active-users.webp
  static/images/mobile_screenshot_full-active_users.webp
Labels: content, from_internal, documentation

#19712 Browser Agent v1.278.3 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.278.3.mdx
Labels: content, from_internal

#19710 chore: add Node.js Agent v12.11.0 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-11-0.mdx
Labels: content, from_internal

#19702 chore: infra-agent 1.59.2 release doc
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1592.mdx
Labels: content, from_internal

#19677 docs: adding release notes for NRDOT
  scripts/releaseNotes.mjs
  src/content/docs/release-notes/index.mdx
  src/content/docs/release-notes/nrdot-release-notes/index.mdx
  src/content/docs/release-notes/nrdot-release-notes/nrdot-24-10-25.mdx
  src/utils/getAgentName.js
Labels: content, from_internal

#19706 Update compatibility-requirements-ai-monitoring.mdx
  src/content/docs/ai-monitoring/compatibility-requirements-ai-monitoring.mdx
Labels: content, from_internal

#19704 feat(PHP): 11.5.0.18 Release Notes
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-11-5-0-18.mdx
Labels: content, from_internal

#19718 Whats new 01 16 azureserverless
  src/content/whats-new/2025/01/whats-new-01-16-azureserverless.md
  static/images/azureserverless.webp
Labels: content, from_internal

#19694 Whats new 01 13 otelmetrics
  src/content/whats-new/2025/01/whats-new-01-13-otelmetrics.md
  static/images/otelmetrics.webp
Labels: content, from_internal

#19701 Create new-relic-android-5272.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5272.mdx
Labels: content, from_internal

#19719 Update new-relic-webhook-for-microsoft-teams-workflow.mdx
  src/content/docs/alerts/get-notified/new-relic-webhook-for-microsoft-teams-workflow.mdx
Labels: content, from_internal

#19707 chore(dotnet): Update compatibility doc for latest supported library versions
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
Labels: content, from_internal

#19714 RestAPI Keys EOL
  src/content/eol/2025/01/deprecation-notice-rest-api-keys.md
  src/content/whats-new/2025/01/.gitkeep
  src/content/whats-new/2025/01/whats-new-03-01-rest-api-keys-eol.md
Labels: content, from_tw

#19724 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#19692 fix: poorly formatted code
  src/content/docs/apm/agents/java-agent/api-guides/guide-using-java-agent-api.mdx
Labels: content, from_internal

#19725 chore: add Node.js Agent v12.11.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-11-1.mdx
Labels: content, from_internal

#19716 chore: Aded another comment explaining not to change the formatting nor contents of the markdown on the Node.js compatiblity page
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal

#19653 docs: AIM Disclaimer
  src/content/docs/apm/agents/go-agent/configuration/go-agent-configuration.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
  src/content/docs/apm/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration.mdx
  src/content/docs/apm/agents/python-agent/configuration/python-agent-configuration.mdx
  src/install/ai-monitoring/intro.mdx
Labels: content, from_internal

#19717 Create DORA Data Locations
  src/content/docs/security/security-privacy/compliance/certificates-standards-regulations/DORA Data Locations.mdx
Labels: content, from_internal

#19739 docs release notes
  src/content/docs/release-notes/docs-release-notes/docs-1-17-2025.mdx
Labels: content, from_tw

#19745 Whats new 01 17 cross account alerts
  src/content/whats-new/2025/01/whats-new-01-17-cross-account-alerts.md
  static/images/cross_account_alert_config.webp
  static/images/cross_account_alerts_opt_in.webp
Labels: content, from_internal, documentation

#19743 chore: capitalize NRQL
  src/content/docs/infrastructure/amazon-integrations/aws-integrations-list/aws-x-ray-monitoring-integration.mdx
Labels: content, from_internal

#19735 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#19753 fix the backticks issue
  src/content/docs/alerts/get-notified/new-relic-webhook-for-microsoft-teams-workflow.mdx
Labels: content, from_tw

#19391 docs(NR-290692): add clarifying verbiage on how markers are included on NRQL charts
  src/content/docs/change-tracking/change-tracking-view-analyze.mdx
Labels: content, from_internal

#19756 chore: infra-agent 1.60.0 release doc and fix 1.56.0 doc
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1560.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1600.mdx
Labels: content, from_internal

#19759 Update snmp-performance-monitoring.mdx
  src/content/docs/network-performance-monitoring/setup-performance-monitoring/snmp-performance-monitoring.mdx
Labels: content, from_internal

#19765 Create new-relic-android-5280.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5280.mdx
Labels: content, from_internal

#19777 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#19776 "What's new" React 18 upgrade
  src/content/whats-new/2025/01/whats-new-01-22-React18-upgrade.md
Labels: content, from_internal

#19742 docs(dotnet): Update log configuration documentations to reflect behavior in the latest agent version.
  src/content/docs/apm/agents/net-agent/configuration/net-agent-configuration.mdx
Labels: content, from_internal

#19784 What's New for Microsoft Office 365 Connector
  src/content/whats-new/2025/01/whats-new-01-23-msconnector-eol.md
Labels: content, from_tw

#19780 updated GCP onboarding doc for the service account issue
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-google-cloud-platform-services-new-relic.mdx
Labels: content, from_internal

#19774 feat: Add documentation for "SELECT * with columns" NRQL feature
  src/content/docs/nrql/nrql-syntax-clauses-functions.mdx
  static/images/nrql_screenshot-select-star-with-additional-columns.webp
Labels: content, from_internal

#19796 Updates to the whatsnew section summary
  src/content/whats-new/2025/01/whats-new-01-22-React18-upgrade.md
Labels: content, from_internal

#19799 docs release notes
  src/content/docs/release-notes/docs-release-notes/docs-1-24-2025.mdx
Labels: content, from_tw

#19792 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#19804 Go Agent release 3.36.0
  src/content/docs/release-notes/agent-release-notes/go-release-notes/go-agent-3-36-0.mdx
Labels: content, from_tw

#19540 DO NOT MERGE UNTILL NOTIFIED: Auto-logging for browser
  src/content/docs/browser/browser-monitoring/browser-pro-features/auto-logging.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/content/docs/browser/new-relic-browser/browser-apis/recordReplay.mdx
Labels: content, from_tw

#19814 chore: Temporal update
  src/content/docs/infrastructure/host-integrations/host-integrations-list/temporal-cloud-integration.mdx
Labels: content, from_internal

#19818 (chore): fixed broken link
  src/content/docs/new-relic-solutions/best-practices-guides/full-stack-observability/infrastructure-monitoring-best-practices-guide.mdx
Labels: content, from_tw

#19794 Python Agent: Update supported Python versions and links
  src/content/docs/apm/agents/python-agent/getting-started/compatibility-requirements-python-agent.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/datastoretrace-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/externaltrace-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/initialize-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/messagetrace-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/messagetransaction-python-agent-api.mdx
  src/content/docs/apm/agents/python-agent/python-agent-api/profiletrace-python-agent-api.mdx
  src/i18n/content/es/docs/apm/agents/python-agent/python-agent-api/datastoretrace-python-agent-api.mdx
  src/i18n/content/es/docs/apm/agents/python-agent/python-agent-api/externaltrace-python-agent-api.mdx
  src/i18n/content/es/docs/apm/agents/python-agent/python-agent-api/messagetrace-python-agent-api.mdx
  src/i18n/content/es/docs/apm/agents/python-agent/python-agent-api/messagetransaction-python-agent-api.mdx
  src/i18n/content/es/docs/apm/agents/python-agent/python-agent-api/profiletrace-python-agent-api.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/python-agent-api/datastoretrace-python-agent-api.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/python-agent-api/externaltrace-python-agent-api.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/python-agent-api/initialize-python-agent-api.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/python-agent-api/messagetrace-python-agent-api.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/python-agent-api/messagetransaction-python-agent-api.mdx
  src/i18n/content/jp/docs/apm/agents/python-agent/python-agent-api/profiletrace-python-agent-api.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/python-agent-api/datastoretrace-python-agent-api.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/python-agent-api/externaltrace-python-agent-api.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/python-agent-api/initialize-python-agent-api.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/python-agent-api/messagetrace-python-agent-api.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/python-agent-api/messagetransaction-python-agent-api.mdx
  src/i18n/content/kr/docs/apm/agents/python-agent/python-agent-api/profiletrace-python-agent-api.mdx
  src/i18n/content/pt/docs/apm/agents/python-agent/python-agent-api/datastoretrace-python-agent-api.mdx
  src/i18n/content/pt/docs/apm/agents/python-agent/python-agent-api/externaltrace-python-agent-api.mdx
  src/i18n/content/pt/docs/apm/agents/python-agent/python-agent-api/initialize-python-agent-api.mdx
  src/i18n/content/pt/docs/apm/agents/python-agent/python-agent-api/messagetrace-python-agent-api.mdx
  src/i18n/content/pt/docs/apm/agents/python-agent/python-agent-api/messagetransaction-python-agent-api.mdx
  src/i18n/content/pt/docs/apm/agents/python-agent/python-agent-api/profiletrace-python-agent-api.mdx
Labels: content, from_internal

#19791 docs: android agent release
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-new-relic-gradle-plugin.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-xamarin/monitor-your-xamarin-application.mdx
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-763.mdx
Labels: content, from_internal

#19795 Update apm-report-custom-events-attributes.mdx
  src/content/docs/data-apis/custom-data/custom-events/apm-report-custom-events-attributes.mdx
Labels: content, from_internal

#19803 Update guide-using-ruby-agent-api.mdx
  src/content/docs/apm/agents/ruby-agent/api-guides/guide-using-ruby-agent-api.mdx
Labels: content, from_internal

#19802 Update opentelemetry-otlp.mdx to indicate support for OTLP 1.4.0
  src/content/docs/opentelemetry/best-practices/opentelemetry-otlp.mdx
Labels: content, from_internal

#19812 Browser Agent v1.279.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.279.0.mdx
Labels: content, from_internal

#19801 Update NR public IP space in networks.mdx
  src/content/docs/new-relic-solutions/get-started/networks.mdx
Labels: content, from_external

#19820 Browser Agent v1.279.1 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.279.1.mdx
Labels: content, from_internal

#19822 Correct Serialization and deserialization to interpret mdx tables accuratly
  package.json
  scripts/actions/deserialize-html.mjs
  scripts/actions/serialize-mdx.mjs
  yarn.lock
Labels: eng

#19593 (CHORE): managing session replay modify capabilities
  src/content/docs/accounts/accounts-billing/new-relic-one-user-management/user-permissions.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/additional-information.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/advanced-features.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/configuration/customize-privacy-settings.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/configuration/setup-session-replay.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/configuration/update-javascript-for-session-replay.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/get-started.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/manage-session-replay-modify-capabilities.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/troubleshooting-session-replay.mdx
  src/content/docs/browser/browser-monitoring/browser-pro-features/session-replay/view-session-replays.mdx
  src/content/docs/browser/new-relic-browser/browser-pro-features/browser-features.mdx
  src/i18n/content/es/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/i18n/content/jp/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/i18n/content/kr/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/i18n/content/pt/docs/browser/browser-monitoring/browser-pro-features/session-replay.mdx
  src/nav/browser.yml
  static/images/browser-role-id.webp
Labels: from_internal, from_tw, documentation

#19824 chore: Updated a missing info in the tip
  src/install/kubernetes/prepare-install.mdx
Labels: content, from_internal

#19831 Update new-relic-infrastructure-agent-1600.mdx
  src/content/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1600.mdx
Labels: content, from_internal

#19843 chore: fix the broken link for inline popups
  src/data/popovers_en.json
Labels: content, from_tw

#19832 doc: added fluentbit doc for 3.1.2
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-24-08-31.mdx
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-24-10-31.mdx
Labels: content, from_tw

#19845 (chore): Added a missing section
  src/install/ibm-mq/whatsNext.mdx
Labels: content, from_internal

#19825 CLoud integration GCP onboarding info addition
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-google-cloud-platform-services-new-relic.mdx
Labels: content, from_internal

#19766 State that agent supports PHP 8.4
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content, from_external

#19833 Update tutorial-manage-users-groups-scim.mdx
  src/content/docs/accounts/accounts/automated-user-management/tutorial-manage-users-groups-scim.mdx
Labels: content, from_internal

#19834 Update okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
Labels: content, from_internal

#19839 chore: add Node.js Agent v12.11.3 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-11-3.mdx
Labels: content, from_internal

#19850 Daily release 01 30 25 morning
  src/content/docs/accounts/accounts/automated-user-management/okta-scimsso-application-configuration.mdx
  src/content/docs/accounts/accounts/automated-user-management/tutorial-manage-users-groups-scim.mdx
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
  src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
  src/content/docs/infrastructure/google-cloud-platform-integrations/get-started/connect-google-cloud-platform-services-new-relic.mdx
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8180.mdx
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-12-11-3.mdx
  src/content/docs/release-notes/agent-release-notes/php-release-notes/php-agent-9190309.mdx
  src/content/docs/release-notes/agent-release-notes/python-release-notes/python-agent-100500.mdx
  src/content/docs/release-notes/agent-release-notes/ruby-release-notes/ruby-agent-9-17-0.mdx
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-24-08-31.mdx
  src/content/docs/release-notes/fluentbit-release-notes/fluentbit-24-10-31.mdx
  src/data/popovers_en.json
  src/install/ibm-mq/whatsNext.mdx
Labels: content, from_tw

#19736 add sqs docs for java apm
  src/content/docs/apm/agents/java-agent/instrumentation/instrument-aws-sqs-message-queues.mdx
  src/nav/apm.yml
Labels: content, from_internal

#19855 chore: fix broken link
  src/content/docs/service-level-management/consume-slm.mdx
  src/content/docs/service-level-management/create-slm.mdx
Labels: content, from_internal

#19851 Update compatibility-requirements-java-agent.mdx
  src/content/docs/apm/agents/java-agent/getting-started/compatibility-requirements-java-agent.mdx
Labels: content, from_internal

#19787 Fix convention for environment variables
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/opentelemetry/lambda-opentelemetry-dotnet.mdx
Labels: content, from_external

#19782 [feat]: Added the Agentic Integration Docs
  src/content/docs/agentic-ai/alert-intelligence-tool.mdx
  src/content/docs/agentic-ai/change-intelligence-tool.mdx
  src/content/docs/agentic-ai/github-copilot-integration.mdx
  src/content/docs/agentic-ai/introduction-agentic-ai.mdx
  src/nav/agentic-ai.yml
  src/nav/root.yml
  static/images/new-relic-co-pilot-extension-step-1.webp
  static/images/new-relic-co-pilot-extension-step-2.webp
Labels: content, from_tw, documentation
