Repository newrelic/docs-website, pull requests merged in 2025-09, with the labels that each got.

#21598 chore: add language identifiers
  src/content/docs/query-your-data/explore-query-data/dashboards/nested-variables.mdx
  src/content/docs/query-your-data/explore-query-data/use-charts/chart-types.mdx
Labels: content, from_internal

#21601 fix the broken link
  src/content/docs/data-apis/understand-data/event-data/events-reported-mobile-monitoring.mdx
Labels: content, from_tw

#21606 Added the version callout for Database performance monitoring
  src/install/microsoft-sql/windows/query-level-monitoring-entra-id-service-principal.mdx
  src/install/microsoft-sql/windows/query.mdx
Labels: content, from_tw

#21613 fixed RN version
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-159.mdx
Labels: content, from_tw

#21616 Update configure-new-relic-gradle-plugin.mdx
  src/content/docs/mobile-monitoring/new-relic-mobile-android/install-configure/configure-new-relic-gradle-plugin.mdx
Labels: content, from_internal

#21596 Added a new example collapser
  src/content/docs/query-your-data/explore-query-data/dashboards/dashboard-template-variables.mdx
  static/images/dashboard_screenshot-full_with-template-variables.webp
  static/images/dashboards_screenshot-crop_add-multivalue.webp
  static/images/dashboards_screenshot-crop_country-variable-example.webp
  static/images/dashboards_screenshot-crop_example-add-widget.webp
  static/images/dashboards_screenshot-crop_variable-country-example.webp
  static/images/dashboards_screenshot-full_add-variables.webp
  static/images/dashboards_screenshot-full_multivalue-add-widget.webp
  static/images/dashboards_screenshot-full_with-template-variables.webp
  static/images/template_variable_list_based_features.webp
Labels: content, from_tw

#21626 Update java-agent-configuration-config-file.mdx
  src/content/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file.mdx
Labels: content, from_internal

#21618 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: content, from_internal, documentation

#21631 SJM and run times vulnerability fixes
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-463.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-api-runtime-release-notes/node-api-runtime-1.2.126.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.43.mdx
Labels: content, from_internal

#21369 Restructured Stream your data to an AWS Kinesis Firehose, Azure Event Hub, or GCP Pub/Sub doc
  src/content/docs/apis/nerdgraph/examples/nerdgraph-streaming-export.mdx
Labels: content, from_tw

#21639 Feature/nr 441141 review docs
  src/content/docs/infrastructure-as-code/terraform/agent-control.mdx
  src/content/docs/logs/log-collectors/log-collector-management.mdx
  src/content/docs/new-relic-control/agent-control/agent-types.mdx
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/monitoring.mdx
  src/content/docs/new-relic-control/agent-control/overview.mdx
  src/content/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/content/docs/new-relic-control/agent-control/upgrading.mdx
  src/nav/new-relic-control.yml
  static/images/agent-control-architecture.webp
Labels: content, from_tw

#21658 Update security-policy.mdx
  src/content/docs/licenses/license-information/referenced-policies/security-policy.mdx
Labels: content, from_internal

#21636 Java Agent v8.24.0 Release
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8240.mdx
Labels: content, from_internal, documentation

#21665 chore: add Node.js Agent v13.3.1 Release Notes
  src/content/docs/release-notes/agent-release-notes/nodejs-release-notes/node-agent-13-3-1.mdx
Labels: content, from_internal, documentation

#21660 Create new-relic-android-5307.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5307.mdx
Labels: content, from_internal

#21623 Updated the broken links
  src/content/docs/licenses/license-information/usage-plans/new-relic-usage-plan.mdx
Labels: content, from_tw

#21490 feat: Revision of OMA MAturity model architecture for 2025 maturity model
  src/content/docs/new-relic-solutions/observability-maturity/business-uptime/introduction.mdx
  src/content/docs/new-relic-solutions/observability-maturity/business-uptime/l1-alert-noise.mdx
  src/content/docs/new-relic-solutions/observability-maturity/business-uptime/l1-critical-alert-coverage.mdx
  src/content/docs/new-relic-solutions/observability-maturity/business-uptime/l1-infrastructure-alert-coverage.mdx
  src/content/docs/new-relic-solutions/observability-maturity/business-uptime/l1-service-delivery-alert-coverage.mdx
  src/content/docs/new-relic-solutions/observability-maturity/business-uptime/l2-alerts-mean-time-to-close.mdx
  src/content/docs/new-relic-solutions/observability-maturity/business-uptime/l2-apm-criticality-tag-coverage.mdx
  src/content/docs/new-relic-solutions/observability-maturity/business-uptime/l2-service-level-coverage.mdx
  src/content/docs/new-relic-solutions/observability-maturity/business-uptime/l3-service-level-attainment.mdx
  src/content/docs/new-relic-solutions/observability-maturity/digital-experience/introduction.mdx
  src/content/docs/new-relic-solutions/observability-maturity/digital-experience/l1-js-error-rate.mdx
  src/content/docs/new-relic-solutions/observability-maturity/digital-experience/l1-service-error-rate.mdx
  src/content/docs/new-relic-solutions/observability-maturity/digital-experience/l2-cwv-cls.mdx
  src/content/docs/new-relic-solutions/observability-maturity/digital-experience/l2-cwv-inp.mdx
  src/content/docs/new-relic-solutions/observability-maturity/digital-experience/l2-cwv-lcp.mdx
  src/content/docs/new-relic-solutions/observability-maturity/engineering-excellence/introduction.mdx
  src/content/docs/new-relic-solutions/observability-maturity/engineering-excellence/l1-cpu-utilization.mdx
  src/content/docs/new-relic-solutions/observability-maturity/engineering-excellence/l1-memory-utilization.mdx
  src/content/docs/new-relic-solutions/observability-maturity/engineering-excellence/l2-change-tracking.mdx
  src/content/docs/new-relic-solutions/observability-maturity/engineering-excellence/l3-service-vulnerabilities.mdx
  src/content/docs/new-relic-solutions/observability-maturity/intelligent-observability/introduction.mdx
  src/content/docs/new-relic-solutions/observability-maturity/intelligent-observability/l0-distributed-trace-coverage.mdx
  src/content/docs/new-relic-solutions/observability-maturity/intelligent-observability/l0-environment-tag-coverage.mdx
  src/content/docs/new-relic-solutions/observability-maturity/intelligent-observability/l0-synthetic-coverage.mdx
  src/content/docs/new-relic-solutions/observability-maturity/intelligent-observability/l0-team-tag-coverage.mdx
  src/content/docs/new-relic-solutions/observability-maturity/intelligent-observability/l0-uninstrumented-entities.mdx
  src/content/docs/new-relic-solutions/observability-maturity/introduction.mdx
  src/content/docs/new-relic-solutions/observability-maturity/observability-maturity-architecture/introduction.mdx
  src/nav/new-relic-solutions.yml
  static/images/observability_maturity_progression.webp
  static/images/observability_maturity_value_drivers.webp
Labels: content, from_internal

#21607 Updated Release notes.
  src/content/docs/infrastructure/other-infrastructure-integrations/cloudfoundry-integrations/vmware-tanzu-dotnet-buildpack-integration.mdx
Labels: content, from_internal

#21619 iOS Release Notes
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-6102.mdx
Labels: content, from_internal

#21668 chore: updated description for ssm and sm with role overview
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/env-variables-lambda.mdx
Labels: content, from_internal

#21627 Update introduction-dashboards.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
Labels: content, from_internal

#21672 fix the frontmatter error
  src/content/docs/release-notes/agent-release-notes/java-release-notes/java-agent-8240.mdx
Labels: content, from_tw

#21701 docs: mobile agent release
  src/content/docs/release-notes/mobile-release-notes/android-release-notes/android-769.mdx
  src/content/docs/release-notes/mobile-release-notes/react-native-release-notes/react-native-agent-1510.mdx
Labels: content

#21707 chor: added new eol date for synthetic monitoring IPs
  src/content/docs/synthetics/synthetic-monitoring/administration/synthetic-public-minion-ips.mdx
  src/content/eol/2025/02/eol-01-31-25-synthetics-ip.md
Labels: content, from_tw

#21709 Update linux-installation.mdx
  src/content/docs/ebpf/linux-installation.mdx
Labels: content

#21704 docs: update the chart from agent-control to agent-control-bootstrap
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
Labels: content, from_internal

#21735 Daily merge 09 18 25 night
  src/content/docs/alerts/get-notified/microsoft-teams-integrations.mdx
  src/content/docs/apm/agents/net-agent/getting-started/net-agent-compatibility-requirements.mdx
  src/content/docs/ebpf/linux-installation.mdx
  src/content/docs/infrastructure/host-integrations/troubleshooting/run-integrations-manually.mdx
  src/content/docs/new-relic-control/agent-control/configuration.mdx
  src/content/docs/new-relic-control/agent-control/reinstrumentation.mdx
  src/content/docs/new-relic-control/agent-control/setup.mdx
  src/content/docs/new-relic-control/agent-control/troubleshooting.mdx
  src/content/docs/new-relic-solutions/observability-maturity/engineering-excellence/introduction.mdx
  src/content/docs/release-notes/infrastructure-release-notes/kubernetes-integration-release-notes/kubernetes-integration-3-45-2.mdx
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.297.1.mdx
  src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/instrument-lambda-function/introduction-lambda.mdx
  src/content/docs/streaming-video-&-ads/get-started-with-streaming-video-&-ads.mdx
  src/install/browser-media/appInfo.mdx
  src/install/browser-media/appInfo_EU2.mdx
  src/install/browser-media/browser-path/install_the_app.mdx
  src/install/browser-media/browser-path/newapplication.mdx
  src/install/config/browser-media.yaml
Labels: content, from_tw

#21736 chore(PHP): Remove RHEL 7 from compatibility page
  src/content/docs/apm/agents/php-agent/getting-started/php-agent-compatibility-requirements.mdx
Labels: content

#21746 Browser Agent v1.298.0 Release Notes
  src/content/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1.298.0.mdx
Labels: content

#21743 docs(infra_integration_interval): Add infra agent integrations max interval note section
  src/content/docs/infrastructure/host-integrations/infrastructure-integrations-sdk/specifications/host-integrations-standard-configuration-format.mdx
Labels: content

#21742 chrome upgrade from 131 to 134
  src/content/docs/release-notes/synthetics-release-notes/job-manager-release-notes/job-manager-release-467.mdx
  src/content/docs/release-notes/synthetics-release-notes/node-browser-runtime-release-notes/node-browser-runtime-3.0.49.mdx
Labels: content, from_internal

#21763 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#21788 Pricing doc table updates
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
Labels: content, from_tw

#21757 Doc rn for 09 19 2025
  src/content/docs/release-notes/docs-release-notes/docs-9-15-2025.mdx
Labels: content, from_tw

#21784 Update stripe-integration.mdx
  src/content/docs/infrastructure/other-infrastructure-integrations/stripe-integration.mdx
Labels: content, from_internal

#21783 .NET Agent: Update all APT repo install instructions
  src/install/dotnet/installation/azure-linux-container.mdx
  src/install/dotnet/installation/dockerLinux.mdx
  src/install/dotnet/installation/linuxInstall2.mdx
Labels: content, from_internal

#21794 Update aws-privatelink.mdx
  src/content/docs/data-apis/custom-data/aws-privatelink.mdx
Labels: content, from_internal

#21801 Add documentation release notes for Sep 20 - Sep 25, 2025
  src/content/docs/release-notes/docs-release-notes/docs-9-25-2025.mdx
Labels: content, from_tw

#21797 feat[Alert notification workflow][DO NOT MERGE]: Added new email validation steps and limits on adding email ID to destinations
  src/content/docs/alerts/admin/rules-limits-alerts.mdx
  src/content/docs/alerts/get-notified/notification-integrations.mdx
Labels: content, from_tw

#21814 Daily merge 09 29 25/night
  src/content/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing.mdx
  src/content/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards.mdx
  src/content/docs/release-notes/mobile-apps-release-notes/new-relic-android-release-notes/new-relic-android-5308.mdx
Labels: from_tw, documentation

#21813 Update query-account-audit-logs-nrauditevent.mdx
  src/content/docs/accounts/accounts/account-maintenance/query-account-audit-logs-nrauditevent.mdx
Labels: from_internal, documentation

#21815 docs: Updated Node.js agent compatibility report
  src/content/docs/apm/agents/nodejs-agent/getting-started/compatibility-requirements-nodejs-agent.mdx
Labels: documentation

#21541 [DO NOT MERGE] NR-442406 - Schedule "What's new post"
  src/content/whats-new/2025/09/whats-new-30-09-new-relic-control.md
Labels: content, from_internal

#21829 Daily merge 09 30 25/latenight
  src/data/whats-new-ids.json
Labels: from_tw, documentation
